<cfoutput>
	<ul class="sidebar-submenu">
          <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#buildURL('media.photos')#">Pictures</a>
          </li>
           <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#buildURL('media.audio')#">Audio</a>
          </li>
           <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#buildURL('media.videos')#">Videos</a>
          </li>
          
        </ul>
</cfoutput>