<cfoutput>
	<!-- Sidebar -->
  <div class="sidebar sidebar-right si-si-3 sidebar-visible-xl-up sidebar-light bg-white ls-top-navbar-xs-up" id="sidebarRight" data-position="right" data-visible="xl-up" data-scrollable>
  <ul class="sidebar-activity">
  
    
	   #view("#getSection()#/nav/sidebar")#
	
  
  </ul>
   

  </div>
  <!-- // END Sidebar -->
</cfoutput>