<!--
    Example 1: Using IF ELSE logic
    Works with Outlook (Desktop)?: Yes
    Works with Outlook.com?: No
    
    When using IF ELSE logic, Outlook.com will remove content in both conditionals, which is problematic.
-->

<!--[if mso]>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td>Special Outlook (Desktop) content</td>
    </tr>
</table>
<![endif]-->

<!--[if !mso]><!-- -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td>All other clients</td>
    </tr>
</table>
<!--<![endif]-->



<!-- 
    Example 2: Using one IF statement and mso-hide:all;
    Works with Outlook (Desktop)?: YES
    Works with Outlook.com?: YES
    
    This example only uses IF logic. This will work OK with Outlook.com because the conditional is targeting the Outlook desktop 
    client only. Outlook.com will still strip the content but it doesn't matter in this case because the conditional isn't targetting 
    that client.
    
    However because the MSO conditional comment logic has been removed in order to hide the second table in Outlook (Desktop) 
    the special MSO property of mso-hide:all; must be used in replacement of !mso
-->

<!--[if mso]>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td>Special Outlook (Desktop) content</td>
    </tr>
</table>
<![endif]-->

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="mso-hide:all;">
    <tr>
        <td>All other clients</td>
    </tr>
</table>

<!-- Note when hiding nested table content you will need to apply mso-hide:all; to the containing and nested tables within -->