 <cfoutput>
 <li class="media active">
        <div class="media-left">
          
        </div>
        <div class="media-body">
          <a href="#buildURL('settings')#">Site Settings</a>
        </div>
 </li>
  <li class="media active">
        <div class="media-left">
          
        </div>
        <div class="media-body">
          <a href="#buildURL('stats')#">Statistics</a>
        </div>
 </li>
 <li class="media active">
        <div class="media-left">
          
        </div>
        <div class="media-body">
          <a href="#buildURL('settings.addsite')#">Add a Site</a>
        </div>
 </li>
 </cfoutput>