body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background:#CCCCCC;
	margin-top: 0;
}

a:link, a:active, a:visited, 
{
	color: #0000ff;
}
table {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.po_table
{
 margin-bottom: 3px;
}
.po_table_header
{
 background-color: #0066FF;
 font-size:14px;
 color: #FFFFFF;
 font-weight: bold;
 padding:3px;
 background: url(../assets/bgimages/po_table_header_bg.gif);
 text-align: center;
}
.po_table_body
{
	border: solid 1px #0066FF;
}
.po_line_item_col_header
{
	border-bottom: 1px solid #0099FF;
	border-right: 1px solid #0099FF;
}
.po_line_item_col_header2
{
	border-bottom: 1px solid #0099FF;
}
.po_line_item_border
{
	border-top: 1px solid #CCCCCC;
}
.first .po_line_item_border
{
	border-top: none;
}
.prompt_td
{
	padding: 2px;
}
.highlight_input_error
{
	background-color: #E04E38 !important;
}
.error_box
{
	border: solid 1px #FF3366;
	color: #000000;
	font-size: 14px;
	background-color: #F99999;
	width: 750px;
	text-align: center;
}

.info_box
{
	border: solid 1px #0099FF;
	color: #000000;
	font-size: 14px;
	background-color: #D9EAFB;
	width: 750px;
	text-align: center;
}

.float_error_div
{
	width: 150px;
	height: 15px;
	visibility: hidden;
	position: absolute;
	background-color:#FFFFFF;
	border: 1px solid #FF0000;
}
input.btn_blu {   
	color:#ffffff;   
	font: bold 14px 'trebuchet ms',helvetica,sans-serif;   
	background-color:#004dc0;   
	border: 1px solid;   
	border-color: #0099ff;   
	filter:progid:DXImageTransform.Microsoft.Gradient   
	(GradientType=0,StartColorStr='#ff47b5ff',EndColorStr='#ff004dc0');   
	width: 150px;
} 
input.btn_red {   
	color:#ffffff;   
	font: bold 14px 'trebuchet ms',helvetica,sans-serif;   
	background-color:#550000;   
	border: 1px solid;   
	border-color: #ff0000;   
	filter:progid:DXImageTransform.Microsoft.Gradient   
	(GradientType=0,StartColorStr='#ffff0000',EndColorStr='#ff550000');   
	width: 150px;
}    
input.btn_grn {   
	color:#ffffff;   
	font: bold 14px 'trebuchet ms',helvetica,sans-serif;   
	background-color:#006600;   
	border: 1px solid;   
	border-color: #009900;   
	filter:progid:DXImageTransform.Microsoft.Gradient   
	(GradientType=0,StartColorStr='#ff009900',EndColorStr='#ff006600');   
	width: 150px;
}    
/*.po_status_select, 
{
	height: 23px;
	margin: 4px;
}
.po_conf_input 
{ 
	height: 20px;
	margin: 2px;
}*/



.tr1
{
	background-color: #ffffff;
}
.tr2
{
	background-color: #D6D6D6 ;
}
.tr_finished
{
	background-color: #CEFFD0;
}
.tr_waiting
{
	background-color: #FFFF00;
}
.tr_past_due
{
	background-color: #FF0000;
}
.line_diff
{
	background: #66FFFF;
}
.gray_border_right
{
	border-right: solid 1px #CCCCCC;
}
.green_text
{
	color: #00FF00
}