
body, 
td {
	font-family: verdana, arial, georgia, sans-serif ;
	font-size: 14px ;
	}

h1,
h2,
h3,
h4,
h5,
h6,	
p,
ul,
ol {
	margin-bottom: 16px ;
	margin-top: 0px ;
	}
	
form {
	margin: 0px 0px 5px 0px ;
	}

h2 {
	color: #264389 ;
	font-size: 20px ;
	font-weight: bold ;
	}

strong.warning {
	color: #CC0000 ;
	}