<cfoutput>
<cfif structKeyExists(rc, 'CurrentUser')>
	<cfscript>
		rc.CompanyName = new Query().execute(sql="select Name from Companies where companyid='#rc.company#'").getResult();
		
		SubscribeSQL = "Insert into email_list (subscriber_name, subscriber_email, company_id, site_id)
						VALUES (:subscribername, :subscriberemail, :companyID, :siteID);";
		EmailList = new Query();
		EmailList.addParam(name="subscribername",value="#rc.CurrentUser.getName()#",cfsqltype="string");
		EmailList.addParam(name="subscriberemail",value="#rc.CurrentUser.getemail()#",cfsqltype="string");
		EmailList.addParam(name="companyID",value="#rc.company#",cfsqltype="integer");
		EmailList.addParam(name="siteID",value="#rc.config.siteID#",cfsqltype="integer");
		Subscribe = EmailList.execute(sql=#SubscribeSQL#).getResult();
	</cfscript>
<div class="gap"></div>	
	<h2>Thank you for Subscribing!</h2>
	<div class="row">
	<strong>#rc.CurrentUser.getName()#</strong>, thank you for subscribing to #rc.CompanyName.Name#'s Mail List. Now you will recieve the latest deals
	#rc.CompanyName.Name# is offering!
	</div>
	<div class="row">
		<div class="col-sm-6">
			
		</div>
		
	</div>
<div class="gap"></div>
</cfif>
</cfoutput>