<p>This is a Test Store. DealSock isn't a true Store offering anything.</p>
<p>All of the Offers being offered by DealSock are <strong>DEMOs</strong>, displaying the features and functions available
for the DealSock Platform.</p>
<p>The DealSock sample Merchant is managed and the Platform has been Developed by ManiacDevelopment.</p>