<cfimport taglib="/lib/replicator/" prefix="ui">
<cfoutput>
  #view("partials/messages")#
<ui:container title="Store Payments" main="true" style="margin-top:0;" size="12" infotext="">
	<div class="card-block p-t-0">
        
    </div>
</ui:container>

</cfoutput>