<cfoutput>
	<ul class="sidebar-submenu">
          <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#buildURL('securityvalidation')#">Security Questions</a>
          </li>
         
        </ul>
</cfoutput>