<cfoutput>
	<ul class="sidebar-submenu">
          <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#buildURL('news')#">News Articles</a>
          </li>
          
          
        </ul>
</cfoutput>