<cfoutput>
<div class="col-sm-4">
	   <h5>Merchant Tools</h5>
	     <ul>
		   <li><a href="#BuildURL(action='users', queryString='view=Info')#">My Company Information</a></li>
		   
		   <li><a href="#BuildURL(action='users', queryString='view=Listings')#">My Listings</a></li>
		   <li><a href="#BuildURL(action='users', queryString='view=ListingsMaintain')#">Coupon Creator&trade;</a></li>
		   <li><a href="#BuildURL(action='users', queryString='view=Billing')#">Billing & Invoices</a></li>
		   <li><a href="#BuildURL(action='users', queryString='view=MailList')#">Email My Subscribers</a></li>
		   
		</ul>
</div>
</cfoutput>		