
<cfoutput>
	
			</div>
		</div>
		<!-- END: Site Content. -->
		
		
		<!-- BEGIN: Site Footer. -->
		<div id="sitefooter">
			
			<div class="rule">
				<div>
					<br />
				</div>
			</div>
			
			<p id="copyright">
				Kinky Calendar System &copy; #Year( Now() )# &nbsp;|&nbsp;
				All rights reserved
			</p>
		
		</div>	
		<!-- END: Site Footer. -->
	
	</body>
	</html>

</cfoutput>