<table>
	<thead>
		<tr>
			<th>Philly 14U Team List</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Advanced Hoops (PA)</td>
			<td>New Heights (NY)</td>
		</tr>
		<tr>
			<td>Beltway Ballers (MD)</td>
			<td>Philly Triple Threat</td>
		</tr>
		<tr>
			<td>Cecil Kirk (MD)</td>
			<td>PYO (PA)</td>
		</tr>
		<tr>
			<td>Crusader Nation (MD)</td>
			<td>Syracuse Select (NY)</td>
		</tr>
		<tr>
			<td>ECE/NJABC (DE)</td>
			<td>Team Future (MD)</td>
		</tr>
		<tr>
			<td>Garden State Knights (NJ)</td>
			<td>Team Melo (MD)</td>
		</tr>
		<tr>
			<td>JB Hoops-Shields (PA)</td>
			<td>Wayne PAL (NJ)</td>
		</tr>
	</tbody>
</table>
