<table>
	<thead>
		<tr>
			<th>14U</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Joe Hampton</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>Alani Moore</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>Jamar Watson</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>Ramon Creighton</td>
			<td>Team adidas</td>
		</tr>
		<tr>
			<td>Justin Jackson</td>
			<td>YAACE</td>
		</tr>
		<tr>
			<td>Malik Dow</td>
			<td>Hoop Dreams</td>
		</tr>
		<tr>
			<td>Quentin Goodin</td>
			<td>Hoop Dreams</td>
		</tr>
		<tr>
			<td>Braxton Beverly</td>
			<td>Hoop Dreams</td>
		</tr>
		<tr>
			<td>Ethan Moose</td>
			<td>BSA</td>
		</tr>
		<tr>
			<td>Randall Gaskins</td>
			<td>ETU Warriors</td>
		</tr>
		<tr>
			<td>Daveyon Barnes</td>
			<td>ETU Warriors</td>
		</tr>
		<tr>
			<td>Mike Janowski</td>
			<td>ETU Warriors</td>
		</tr>
		<tr>
			<td>Chyree Walker</td>
			<td>ETU Warriors</td>
		</tr>
		<tr>
			<td>Isaiah Boggs</td>
			<td>Maryland Bulls</td>
		</tr>
		<tr>
			<td>Kyle Hill</td>
			<td>Maryland Bulls</td>
		</tr>
		<tr>
			<td>Christian Jennings</td>
			<td>Maryland Bulls</td>
		</tr>
		<tr>
			<td>Xavier Simpson</td>
			<td>Team Lima</td>
		</tr>
		<tr>
			<td>Rico Stafford</td>
			<td>Team Lima</td>
		</tr>
		<tr>
			<td>Tayne Wood</td>
			<td>CIA Bounce</td>
		</tr>
		<tr>
			<td>Brandon Cyrus</td>
			<td>CIA Bounce</td>
		</tr>
		<tr>
			<td>Koby Mcewen</td>
			<td>CIA Bounce</td>
		</tr>
	</tbody>
</table>
