<table>
	<thead>
		<tr>
			<th>Philly 15U Team List</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>New England Playaz (MA)</td>
			<td>Tri-County Basketball (CAN)</td>
		</tr>
		<tr>
			<td>South Jersey Select</td>
			<td>Dream Nation (NY)</td>
		</tr>
		<tr>
			<td>Sports U Elite (NJ)</td>
			<td>Baltimore Supreme</td>
		</tr>
		<tr>
			<td>Philly Triple Threat</td>
			<td>New Rens (NY)</td>
		</tr>
		<tr>
			<td>DC Assault-Suber</td>
			<td>Syracuse Select-Lobello</td>
		</tr>
		<tr>
			<td>Crusader Nation (MD)</td>
			<td>Virginia Assault</td>
		</tr>
		<tr>
			<td>WE R 1- ECE/NJABC</td>
			<td>Perry Hall (MD)</td>
		</tr>
		<tr>
			<td>JB Hoops-Cooper (PA)</td>
			<td>Cecil Kirk (MD)</td>
		</tr>
		<tr>
			<td>DC Assault Gold</td>
			<td>Maryland Bulls</td>
		</tr>
		<tr>
			<td>Montgomery County Ballers (PA)</td>
			<td>South Central Select (PA)</td>
		</tr>
		<tr>
			<td>Brooklyn Rens</td>
			<td>Wayne PAL (NJ)</td>
		</tr>
		<tr>
			<td>New Jersey Pirates</td>
			<td>New Heights (NY)</td>
		</tr>
		<tr>
			<td>Maryland 3D</td>
			<td>The City (NY)</td>
		</tr>
		<tr>
			<td>Syracuse Select-Marshall</td>
			<td>WE R 1- ECE/NJABC White (PA)</td>
		</tr>
		<tr>
			<td>PA Pump &amp; Run</td>
			<td>6th Man Warriors (MD)</td>
		</tr>
		<tr>
			<td>Team SCAN (NY)</td>
			<td>Southern Kings (GA)</td>
		</tr>
	</tbody>
</table>
