<table>
	<thead>
		<tr>
			<th>15U</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Mike Williams</td>
			<td>The City</td>
		</tr>
		<tr>
			<td>Eric Paschall</td>
			<td>The City</td>
		</tr>
		<tr>
			<td>Traci Carter</td>
			<td>Team Philly</td>
		</tr>
		<tr>
			<td>marvin prochet</td>
			<td>New rens</td>
		</tr>
		<tr>
			<td>Tyler Smith</td>
			<td>Gauchos</td>
		</tr>
		<tr>
			<td>Kurk Lee</td>
			<td>Team Melo</td>
		</tr>
		<tr>
			<td>Devin Morgan</td>
			<td>Team Richmond</td>
		</tr>
		<tr>
			<td>Russell Baker</td>
			<td>Triple Threat</td>
		</tr>
		<tr>
			<td>wanya allen</td>
			<td>Loaded Gore</td>
		</tr>
		<tr>
			<td>Javon Bryce</td>
			<td>Tri-County</td>
		</tr>
		<tr>
			<td>Spencer Thomas</td>
			<td>St. David</td>
		</tr>
		<tr>
			<td>Devonte Campbell</td>
			<td>St. David</td>
		</tr>
		<tr>
			<td>Trevion Armstrong</td>
			<td>Team Loaded</td>
		</tr>
		<tr>
			<td>Noah Gear</td>
			<td>Virginia Elite</td>
		</tr>
		<tr>
			<td>Dante Lombardi</td>
			<td>BSA Freedman</td>
		</tr>
		<tr>
			<td>Iziah James</td>
			<td>Suffolk Blazers</td>
		</tr>
		<tr>
			<td>Jordan Payne</td>
			<td>Just Play</td>
		</tr>
		<tr>
			<td>Mike Smith</td>
			<td>TNBA East</td>
		</tr>
		<tr>
			<td>Keyshawn Evans</td>
			<td>Florida Fly Wade</td>
		</tr>
		<tr>
			<td>Reginald Theus Jr.</td>
			<td>Lax Hoops</td>
		</tr>
		<tr>
			<td>Russell Baker</td>
			<td>Toronto Triple Threat</td>
		</tr>
		<tr>
			<td>Beau Justice</td>
			<td>Team Work</td>
		</tr>
	</tbody>
</table>
