<table>
	<thead>
		<tr>
			<th>Philly 16U Team List</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>6th Man Warriors (MD)</td>
			<td>New Heights (NYC)</td>
		</tr>
		<tr>
			<td>716 Crusaders (NY)</td>
			<td>New Jersey Crusaders</td>
		</tr>
		<tr>
			<td>Baltimore Supreme</td>
			<td>New Jersey Pirates</td>
		</tr>
		<tr>
			<td>BOCA Pal Vipers (FL)</td>
			<td>New Jersey Roadrunners</td>
		</tr>
		<tr>
			<td>Brooklyn Badgers</td>
			<td>New York Panthers</td>
		</tr>
		<tr>
			<td>Brooklyn Rens</td>
			<td>NJ Select Stars</td>
		</tr>
		<tr>
			<td>Cecil Kirk (MD)</td>
			<td>PA Pump &amp; Run</td>
		</tr>
		<tr>
			<td>Central Penn Ballers</td>
			<td>Perkasie Knights (PA)</td>
		</tr>
		<tr>
			<td>Crusader Nation Cardinal (MD)</td>
			<td>Philly Pride</td>
		</tr>
		<tr>
			<td>Crusader Nation Gold (MD)</td>
			<td>Prodigy Basketball (MA)</td>
		</tr>
		<tr>
			<td>DC Assault Gold</td>
			<td>SBA (CAN)</td>
		</tr>
		<tr>
			<td>DC Assault-Lampkins</td>
			<td>South Central Select (PA)</td>
		</tr>
		<tr>
			<td>Firm AC (PA)</td>
			<td>Sportsfest Grassroots (PA)</td>
		</tr>
		<tr>
			<td>Higher Level (VA)</td>
			<td>Squash All Beef (DC)</td>
		</tr>
		<tr>
			<td>Hunting Park Warriors (PA)</td>
			<td>Team Future (MD)</td>
		</tr>
		<tr>
			<td>Ivey 23 Terps (MD)</td>
			<td>Team Helping Hands (DE)</td>
		</tr>
		<tr>
			<td>Jersey Shore Warriors (MD)</td>
			<td>Team Jersey Elite</td>
		</tr>
		<tr>
			<td>Juice All-Stars (NY)</td>
			<td>UA Baltimore's Finest</td>
		</tr>
		<tr>
			<td>Las Vegas Prospects</td>
			<td>VA Bulldawgz</td>
		</tr>
		<tr>
			<td>Loudon Triple Threat (VA)</td>
			<td>Virginia Assault</td>
		</tr>
		<tr>
			<td>Maryland 3D</td>
			<td>Virginia Stars Elite</td>
		</tr>
		<tr>
			<td>Montgomery Cougars (PA)</td>
			<td>Wayne PAL (NJ)</td>
		</tr>
		<tr>
			<td>New England Playaz</td>
			<td>WE R 1- ECE/NJABC</td>
		</tr>
	</tbody>
</table>
