<table>
	<thead>
		<tr>
			<th>17U</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Josh Brown</td>
			<td>Sports University</td>
		</tr>
		<tr>
			<td>Jabari McGhee</td>
			<td>Atlanta Xpress</td>
		</tr>
		<tr>
			<td>Trayvon Reed</td>
			<td>Atlanta Xpress</td>
		</tr>
		<tr>
			<td>Tony Baglas</td>
			<td>Atlanta Xpress</td>
		</tr>
		<tr>
			<td>Nate Britt</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>Kris Jenkins</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>Steven  Haney</td>
			<td>Florida Mustangs</td>
		</tr>
		<tr>
			<td>Jason Wilkinson</td>
			<td>Florida Mustangs</td>
		</tr>
		<tr>
			<td>Isaiah Whitehead</td>
			<td>Juice</td>
		</tr>
		<tr>
			<td>Devin Williams</td>
			<td>Ohio B-Ball</td>
		</tr>
		<tr>
			<td>Demonte Flannigan</td>
			<td>Ohio B-Ball</td>
		</tr>
		<tr>
			<td>Joshua Davenport</td>
			<td>Ohio B-Ball</td>
		</tr>
		<tr>
			<td>Jarod Williams</td>
			<td>Richmond Squires</td>
		</tr>
		<tr>
			<td>Ahmad Thomas</td>
			<td>Richmond Squires</td>
		</tr>
		<tr>
			<td>James Miller</td>
			<td>SEBL Elite All Stars</td>
		</tr>
		<tr>
			<td>Dont'e  Reynolds</td>
			<td>SEBL Elite All Stars</td>
		</tr>
		<tr>
			<td>Kasim Chandler</td>
			<td>Sports University</td>
		</tr>
		<tr>
			<td>Spencer Weisz</td>
			<td>Sports University</td>
		</tr>
		<tr>
			<td>Aaron Harrison</td>
			<td>Houston Defenders</td>
		</tr>
		<tr>
			<td>Andrew Harrison</td>
			<td>Houston Defenders</td>
		</tr>
		<tr>
			<td>Johnathan Motley</td>
			<td>Houston Defenders</td>
		</tr>
		<tr>
			<td>Sam Dingba</td>
			<td>Westchester Hawks</td>
		</tr>
		<tr>
			<td>DeShaun Morman</td>
			<td>Virginia Assault</td>
		</tr>
		<tr>
			<td>Troy Caupain</td>
			<td>Team Loaded</td>
		</tr>
		<tr>
			<td>Brian White</td>
			<td>Team Loaded</td>
		</tr>
		<tr>
			<td>Rolando  Curington</td>
			<td>Team Loaded</td>
		</tr>
		<tr>
			<td>Rodney Moore</td>
			<td>D-One Sports</td>
		</tr>
		<tr>
			<td>Daryl Bingham</td>
			<td>Franklin All-Stars</td>
		</tr>
		<tr>
			<td>Aaron Young</td>
			<td>East Coast Fusion</td>
		</tr>
		<tr>
			<td>BJ Andrews</td>
			<td>Baltimore Wildcats</td>
		</tr>
		<tr>
			<td>Lamar  Walker</td>
			<td>Detroit Stars</td>
		</tr>
		<tr>
			<td>vincent  hunter</td>
			<td>Detroit Stars</td>
		</tr>
		<tr>
			<td>Raheem Johnson</td>
			<td>Franklin All-Stars</td>
		</tr>
		<tr>
			<td>Sam Singer</td>
			<td>Gold Coast</td>
		</tr>
		<tr>
			<td>Cedric Hankerson</td>
			<td>Gold Coast</td>
		</tr>
		<tr>
			<td>Tyler Roberson</td>
			<td>NJ Roadrunners</td>
		</tr>
		<tr>
			<td>Aquille Carr</td>
			<td>Under Armour Baltimore</td>
		</tr>
		<tr>
			<td>Kevin Johnson</td>
			<td>Ohio Basketball Club</td>
		</tr>
		<tr>
			<td>Jermaine Lawrence</td>
			<td>NY Rens</td>
		</tr>
		<tr>
			<td>Terrance Samuel</td>
			<td>NY Rens</td>
		</tr>
		<tr>
			<td>Savon Goodman</td>
			<td>NY Rens</td>
		</tr>
		<tr>
			<td>DeAndre Bembry</td>
			<td>Sports University</td>
		</tr>
		<tr>
			<td>Andre Horne</td>
			<td>We R One</td>
		</tr>
		<tr>
			<td>Nathan Adrian</td>
			<td>WV Wildcats</td>
		</tr>
		<tr>
			<td>Joseph Chealey</td>
			<td>D12 Warriors</td>
		</tr>
		<tr>
			<td>Darius Robinson</td>
			<td>Philly Pride</td>
		</tr>
		<tr>
			<td>Malique  Trent</td>
			<td>Wave</td>
		</tr>
		<tr>
			<td>Marko  Pirovic</td>
			<td>Northern Kings</td>
		</tr>
		<tr>
			<td>Kevin Marsh</td>
			<td>hidden Gems</td>
		</tr>
		<tr>
			<td>Dwayne Wilson II</td>
			<td>Queen City Prophets</td>
		</tr>
		<tr>
			<td>Deontae Cole</td>
			<td>Ohio Phenoms</td>
		</tr>
		<tr>
			<td>Evan Bradds</td>
			<td>Team Work</td>
		</tr>
		<tr>
			<td>Eli Davis</td>
			<td>Gauchos</td>
		</tr>
		<tr>
			<td>Jordan Pickett</td>
			<td>Indiana Elite</td>
		</tr>
		<tr>
			<td>Evan Payne</td>
			<td>Dorians Pride</td>
		</tr>
		<tr>
			<td>Denzell Watts</td>
			<td>Dorians Pride</td>
		</tr>
		<tr>
			<td>Alassane Kah</td>
			<td>Ohio Hoopsters</td>
		</tr>
		<tr>
			<td>Jalen Rhea</td>
			<td>Martin's Wolverines</td>
		</tr>
		<tr>
			<td>Antonio Manns</td>
			<td>Baltimore Wildcats</td>
		</tr>
		<tr>
			<td>Jamal Reynolds</td>
			<td>Grassroots Canada</td>
		</tr>
		<tr>
			<td>Rashaan Armstead-Holloway</td>
			<td>Gym Ratz Black</td>
		</tr>
		<tr>
			<td>Drew  Layton</td>
			<td>Dayton Metro</td>
		</tr>
		<tr>
			<td>Muhammad-Ali Abdur-Rahkman</td>
			<td>Blue Chip</td>
		</tr>
		<tr>
			<td>Adrian Gonzalez</td>
			<td>Team Miami</td>
		</tr>
		<tr>
			<td>Tyrek Coger</td>
			<td>SEBL Elite All Stars</td>
		</tr>
		<tr>
			<td>Joey Schmitz</td>
			<td>Nova Village</td>
		</tr>
		<tr>
			<td>Stephan Jiggets</td>
			<td>Team Takeover Orange</td>
		</tr>
		<tr>
			<td>Alex Mills</td>
			<td>SC Raptors</td>
		</tr>
		<tr>
			<td>Lucas Strouble</td>
			<td>DB Hoops OH</td>
		</tr>
		<tr>
			<td>Ryan Krawczeniuk</td>
			<td>JB Hoops-Show</td>
		</tr>
		<tr>
			<td>Anthony Firkser</td>
			<td>NJ Cyclones</td>
		</tr>
	</tbody>
</table>
