<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Position</th>
			<th>Height</th>
			<th>High School</th>
			<th>Player Bio</th>
			<th>Stats</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/02/Adam-Mitola.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57303" /></td>
			<td>Adam Mitola</td>
			<td>Guard</td>
			<td>6'2</td>
			<td>Gill St. Bernard</td>
			<td>Do everything guard with a big time stroke. Strong frame and good decisions make him a winner.</td>
			<td>11 ppg, 6.2 rpg</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/02/Mike-Rice1-300x200.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57309" /></td>
			<td>Michael Rice</td>
			<td>Guard</td>
			<td>6'1</td>
			<td>Point Beach High School</td>
			<td>Heady point guard coming into his own physically. Has deceptive speed and quickness.</td>
			<td>13 ppg, 4 apg</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/02/10559922_732322423498958_6473979746064317776_n.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57310" /></td>
			<td>Ryan Jensen</td>
			<td>Forward</td>
			<td>6'5</td>
			<td>Manasquan High School </td>
			<td>Physical forward who can step away from the paint and shoot 3. Top 10 rebounder in NJ</td>
			<td>15 ppg, 14 rpg</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/02/Bobby-Kiernan-300x200.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57304" /></td>
			<td>Bobby Kieranan</td>
			<td>Forward</td>
			<td>6'4</td>
			<td>Central Catholic High School</td>
			<td>Combo guard who attacks the paint and finishes well. Rebounds well for a guard.</td>
			<td>11 ppg, 3 apg</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/02/JP-Krotulis-300x225.jpg" alt="" width="100" height="121" class="aligncenter size-full wp-image-57307" /></td>
			<td>JP Krotulis</td>
			<td>Center</td>
			<td>6'7</td>
			<td>St. Rose</td>
			<td>Center with good perimeter skills. Has good footwork and fundamentals. Coming into his own physically.</td>
			<td>9.5 ppg, 6 rpg</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/02/DanLargeymvp1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57305" /></td>
			<td>Dan Largey</td>
			<td>Forward</td>
			<td>6'5</td>
			<td>Shore Regional High School</td>
			<td>Lefty with a big time shot. Good post scorer with an improving handle. </td>
			<td>22 ppg, 6.8 rpg</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/02/Jimmy-Panzini.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57306" /></td>
			<td>Jimmy Panzini</td>
			<td>Guard</td>
			<td>6'0</td>
			<td>Point Beach High School</td>
			<td>Relentless on both ends of the floor. Physical guard who can create in the paint and finish at the rim.</td>
			<td>14 ppg, 4 apg</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/02/Julius-Stoma.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57308" /></td>
			<td>Julius Stoma</td>
			<td>Forward</td>
			<td>6'6</td>
			<td>Gill St. Bernard</td>
			<td>Forward with an endless motor. Has explosive moves inside and is improving his jump shooting. </td>
			<td>10.5 ppg, 7rpg</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/02/13881_728729607191573_5324840574006484161_n.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57313" /></td>
			<td>Jack McGuire</td>
			<td>Forward</td>
			<td>6'7</td>
			<td>Christian Brothers Academy </td>
			<td>Versatile forward who is tremendous in transition. Length allows him to defend all positions.</td>
			<td>17 ppg, 6 rpg</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Thomas O'Reilly</td>
			<td>Forward</td>
			<td>6'4</td>
			<td>Colts Neck High School</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
