<table>
	<thead>
		<tr>
			<th><strong>2010 17's All Tournament</strong></th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Tyler Harris</td>
			<td>Westchester Hawks</td>
		</tr>
		<tr>
			<td>Chris Martin</td>
			<td>Westchester Hawks</td>
		</tr>
		<tr>
			<td>Andre Drummond</td>
			<td>CBC Blue</td>
		</tr>
		<tr>
			<td>Brandon Sherrod</td>
			<td>CBC Blue</td>
		</tr>
		<tr>
			<td>Tavon Allen</td>
			<td>CBC Blue</td>
		</tr>
		<tr>
			<td>Tylon Smith</td>
			<td>CT Knights</td>
		</tr>
		<tr>
			<td>Mike Anderson</td>
			<td>CT Knights</td>
		</tr>
		<tr>
			<td>Mike Deffley</td>
			<td>CT Knights</td>
		</tr>
		<tr>
			<td>Edwin Sainvil</td>
			<td>LI Lightning Cotumaccio</td>
		</tr>
		<tr>
			<td>Ryan Canty</td>
			<td>Mass Rivals White</td>
		</tr>
		<tr>
			<td>Roy Mabrey</td>
			<td>NJ Demons</td>
		</tr>
		<tr>
			<td>Deshawn Minnis</td>
			<td>NJ Demons</td>
		</tr>
		<tr>
			<td>Sean Grennan</td>
			<td>ShoreShots Select</td>
		</tr>
		<tr>
			<td>Lance McKenzie</td>
			<td>ShoreShots Select</td>
		</tr>
		<tr>
			<td>Jordan Wejnert</td>
			<td>ShoreShots Select</td>
		</tr>
		<tr>
			<td>Ricardo Ledo</td>
			<td>Expressions</td>
		</tr>
		<tr>
			<td>Khem Birch</td>
			<td>Expressions</td>
		</tr>
		<tr>
			<td>Michael Carter-Williams</td>
			<td>Expressions</td>
		</tr>
		<tr>
			<td>Samir McDaniels</td>
			<td>Boston Warriors Elite</td>
		</tr>
		<tr>
			<td>Deon Edwin</td>
			<td>DE Team Takeover</td>
		</tr>
		<tr>
			<td>Stephane Manga</td>
			<td>DE Team Takeover</td>
		</tr>
		<tr>
			<td>Connor Green</td>
			<td>Granite State Jayhawks</td>
		</tr>
		<tr>
			<td>Joe Bramanti</td>
			<td>Granite State Jayhawks</td>
		</tr>
		<tr>
			<td>Donald Celstin</td>
			<td>Greater Boston Lions</td>
		</tr>
		<tr>
			<td>Jeylani Dublin</td>
			<td>Greater Boston Lions</td>
		</tr>
		<tr>
			<td>jermaine Sanders</td>
			<td>New Heights</td>
		</tr>
		<tr>
			<td>Tyquan Goodlet</td>
			<td>New Heights</td>
		</tr>
		<tr>
			<td>Dillon Fields</td>
			<td>SJ Select</td>
		</tr>
		<tr>
			<td>Trahson Burrell</td>
			<td>Team Odom/Rich Soil</td>
		</tr>
		<tr>
			<td>Tavon Sledge</td>
			<td>Team Odom/Rich Soil</td>
		</tr>
		<tr>
			<td>Devon Garvin</td>
			<td>Upstate Elite</td>
		</tr>
		<tr>
			<td>Gerry Wixted</td>
			<td>Philly Elite</td>
		</tr>
		<tr>
			<td>John Henault</td>
			<td>Bay State Magic</td>
		</tr>
		<tr>
			<td>Dennis Clifford</td>
			<td>Bay State Magic</td>
		</tr>
		<tr>
			<td>Corey Pryor</td>
			<td>Boston Warrior Suns</td>
		</tr>
		<tr>
			<td>Nico Donato</td>
			<td>CT Gold</td>
		</tr>
		<tr>
			<td>Trevor</td>
			<td>CT Select</td>
		</tr>
		<tr>
			<td>Chris Orozco</td>
			<td>Gym Rats Green</td>
		</tr>
		<tr>
			<td>Patrick Dougher</td>
			<td>Jersey Hot Shots</td>
		</tr>
		<tr>
			<td>Graham Safford</td>
			<td>MBR Maine</td>
		</tr>
		<tr>
			<td>Kaleb Tarcewski</td>
			<td>NE Playaz</td>
		</tr>
		<tr>
			<td>Alex Murphy</td>
			<td>NE Playaz</td>
		</tr>
		<tr>
			<td>Aaron Cosby</td>
			<td>NE Playaz</td>
		</tr>
		<tr>
			<td>Jerome Harris</td>
			<td>CT Select</td>
		</tr>
		<tr>
			<td>Alexis Nunez</td>
			<td>Port Chester Kings</td>
		</tr>
		<tr>
			<td>Mike Samuels</td>
			<td>Mountain BBall</td>
		</tr>
		<tr>
			<td>James Cooper</td>
			<td>Mountain BBall</td>
		</tr>
		<tr>
			<td>Christopher Joseph</td>
			<td>Brookwood Elite</td>
		</tr>
		<tr>
			<td>Nungalay Kazadi</td>
			<td>Brookwood Elite</td>
		</tr>
		<tr>
			<td>JP Koury</td>
			<td>CJ Hawks Blue</td>
		</tr>
		<tr>
			<td>Torey Vicarisi</td>
			<td>NJ Panthers</td>
		</tr>
		<tr>
			<td>Dean Brierley</td>
			<td>NJ Panthers</td>
		</tr>
		<tr>
			<td>Peter Aguilar</td>
			<td>CT Flame</td>
		</tr>
		<tr>
			<td>Jengodji Gates</td>
			<td>Albany City Rocks</td>
		</tr>
		<tr>
			<td>Brian Bernardi</td>
			<td>Brooklyn Clippers</td>
		</tr>
		<tr>
			<td>Brandyn Benson</td>
			<td>CBC</td>
		</tr>
		<tr>
			<td>N Mallory</td>
			<td>CBC</td>
		</tr>
		<tr>
			<td>Tom Doyle</td>
			<td>Central CT Hoopsters White</td>
		</tr>
		<tr>
			<td>Mike Rotando</td>
			<td>CJ Hawks White</td>
		</tr>
		<tr>
			<td>Jason Pierre</td>
			<td>CT Elite</td>
		</tr>
		<tr>
			<td>Frederick Wright</td>
			<td>CT Premiere</td>
		</tr>
		<tr>
			<td>Wyatt Polk</td>
			<td>DW Rising Stars</td>
		</tr>
		<tr>
			<td>Mike Boomazian</td>
			<td>Drive 4 Stardum</td>
		</tr>
		<tr>
			<td>Travis Saltus</td>
			<td>Gym Ratz White</td>
		</tr>
		<tr>
			<td>Kevin Mays</td>
			<td>LI Lightning</td>
		</tr>
		<tr>
			<td>Matt McLeod</td>
			<td>LI Lightning Kelly</td>
		</tr>
		<tr>
			<td>Ben Ferris</td>
			<td>Lone Wolf</td>
		</tr>
		<tr>
			<td>Mike Duarte</td>
			<td>MA Thundercats</td>
		</tr>
		<tr>
			<td>Derrick Collins</td>
			<td>Mass Rivals Blue</td>
		</tr>
		<tr>
			<td>Sam Longwell</td>
			<td>NE Storm</td>
		</tr>
		<tr>
			<td>Jim Zenevitch</td>
			<td>NE Storm</td>
		</tr>
		<tr>
			<td>Dan Schafer</td>
			<td>NEBC</td>
		</tr>
		<tr>
			<td>Matt Fitzpatrick</td>
			<td>NEBC</td>
		</tr>
		<tr>
			<td>Shane McLaughlin</td>
			<td>NY Falcons</td>
		</tr>
		<tr>
			<td>Aboubacar Casse</td>
			<td>RI Breakers</td>
		</tr>
		<tr>
			<td>Jon Perez</td>
			<td>Sharks</td>
		</tr>
		<tr>
			<td>Hubert Simmons-Inge</td>
			<td>SJ Jazz</td>
		</tr>
		<tr>
			<td>Shalique Calhoun</td>
			<td>Trailblazers</td>
		</tr>
		<tr>
			<td>Tim Harris</td>
			<td>Western CT Warriors</td>
		</tr>
	</tbody>
</table>
