<table>
	<thead>
		<tr>
			<th>Deion Turman</th>
			<th>PG</th>
			<th>Mt. Lebanon PA</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Darian Barnes</td>
			<td>Sr.</td>
			<td>Penn Wood PA</td>
		</tr>
		<tr>
			<td>Earl Brown</td>
			<td>Sr.</td>
			<td>Imhotep Charter PA</td>
		</tr>
		<tr>
			<td>Eddie Mitchell</td>
			<td>Sr.</td>
			<td>La Salle PA</td>
		</tr>
		<tr>
			<td>Aquil Younger</td>
			<td>Sr.</td>
			<td>West Catholic PA</td>
		</tr>
		<tr>
			<td>Allen West</td>
			<td>PG</td>
			<td>Ocean Academy NJ</td>
		</tr>
		<tr>
			<td>Leroy Fludd</td>
			<td>Jr.</td>
			<td>Boys &amp; Girls NY</td>
		</tr>
		<tr>
			<td>Jason Alleyne</td>
			<td>Sr.</td>
			<td>Salesian NY</td>
		</tr>
		<tr>
			<td>Kareem Story</td>
			<td>Sr.</td>
			<td>Boys &amp; Girls NY</td>
		</tr>
		<tr>
			<td>Anthony Hemingway</td>
			<td>Sr.</td>
			<td>Boys &amp; Girls NY</td>
		</tr>
		<tr>
			<td>Joe Getz</td>
			<td>Sr.</td>
			<td>Archbishop Wood PA</td>
		</tr>
		<tr>
			<td>William Benjamin</td>
			<td>Jr.</td>
			<td>Boys &amp; Girls NY</td>
		</tr>
		<tr>
			<td>Donovan Jack</td>
			<td>Jr.</td>
			<td>Reading Central Catholic PA</td>
		</tr>
		<tr>
			<td>Traveon Graham</td>
			<td>Sr.</td>
			<td>St. Mary's Ryken MD</td>
		</tr>
		<tr>
			<td>Kevin Punter</td>
			<td>Sr.</td>
			<td>Salesian NY</td>
		</tr>
		<tr>
			<td>Trey Lewis</td>
			<td>Sr.</td>
			<td>Garfield Heights OH</td>
		</tr>
		<tr>
			<td>Brendan Keane</td>
			<td>Sr.</td>
			<td>St. Joseph's Notre Dame CA</td>
		</tr>
		<tr>
			<td>Dominique Robinson</td>
			<td>Sr.</td>
			<td>St. Mary's Ryken MD</td>
		</tr>
		<tr>
			<td>Jeremy Baxter</td>
			<td>Jr.</td>
			<td>Faith Christian FL</td>
		</tr>
		<tr>
			<td>Marquis Marshall</td>
			<td>Jr.</td>
			<td>Central Catholic PA</td>
		</tr>
		<tr>
			<td>Delbert Love</td>
			<td>Sr.</td>
			<td>St. Edward OH</td>
		</tr>
		<tr>
			<td>Tyler Juchno</td>
			<td>Sr.</td>
			<td>Holy Ghost PA</td>
		</tr>
	</tbody>
</table>
