<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Isiah Briscoe</td>
			<td>Playaz</td>
		</tr>
		<tr>
			<td>Nassir Barrino</td>
			<td>Playaz</td>
		</tr>
		<tr>
			<td>Justin Salem</td>
			<td>King Street Kings</td>
		</tr>
		<tr>
			<td>Kelly Hogan</td>
			<td>King Street Kings</td>
		</tr>
		<tr>
			<td>Zack Walser</td>
			<td>Syracuse Select</td>
		</tr>
		<tr>
			<td>Andre Foster</td>
			<td>All Ohio Red</td>
		</tr>
		<tr>
			<td>TJ Blackston</td>
			<td>Ohio Valley Hoops</td>
		</tr>
		<tr>
			<td>Horace Spencer</td>
			<td>Gym Rats</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
