<table>
	<thead>
		<tr>
			<th>Day</th>
			<th>Time </th>
			<th>Court Location</th>
			<th>Pool</th>
			<th>Home</th>
			<th>Score</th>
			<th>Away</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Friday 15th</td>
			<td>5:00PM</td>
			<td>Fitzgerald-3</td>
			<td>3</td>
			<td>BSA HC Leslie (PA0</td>
			<td>30</td>
			<td>NPBC Cavemen Renzie (PA)</td>
			<td>59</td>
		</tr>
		<tr>
			<td>Friday 15th </td>
			<td>5:00PM</td>
			<td>Trees-1</td>
			<td>10</td>
			<td>BSA Freedman (PA)</td>
			<td>45</td>
			<td>South Florida Elite</td>
			<td>49</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>6:15PM</td>
			<td>Ambridge FH-1</td>
			<td>4</td>
			<td>BSA Select (PA)</td>
			<td>72</td>
			<td>PA Tarheels</td>
			<td>50</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>6:15PM</td>
			<td>Ambridge FH-3</td>
			<td>13</td>
			<td>Md-Ohio Blue</td>
			<td>37</td>
			<td>Team Lima</td>
			<td>66</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>6:15PM</td>
			<td>Ambridge FH-2</td>
			<td>17</td>
			<td>King of the Court</td>
			<td>73</td>
			<td>Ohio Valley Hoops (WV)</td>
			<td>43</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>7:30PM</td>
			<td>Ambridge FH-1</td>
			<td>1</td>
			<td>All Ohio Red</td>
			<td>63</td>
			<td>East Coast Fusion (NY) - Ruback</td>
			<td>20</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>7:30PM</td>
			<td>Ambridge FH-2</td>
			<td>8</td>
			<td>NBPC Cavemen Hermann (PA)</td>
			<td>60</td>
			<td>Spiece Dayton Airmen - (OH)</td>
			<td>29</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>7:30PM</td>
			<td>Ambridge FH-3</td>
			<td>7</td>
			<td>Sports U Elite (NJ)</td>
			<td>80</td>
			<td>Hidden Gems (OH)</td>
			<td>56</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>7:30PM</td>
			<td>Ambridge FH-1</td>
			<td>18</td>
			<td>All Ohio State</td>
			<td>0</td>
			<td>Team Scan</td>
			<td>15</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>8:40PM</td>
			<td>Ambridge FH-1</td>
			<td>6</td>
			<td>Florida Rams</td>
			<td>53</td>
			<td>VA Elite Hoops</td>
			<td>26</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>8:40PM</td>
			<td>Ambridge FH-3</td>
			<td>11</td>
			<td>Ohio Valley</td>
			<td>44</td>
			<td>Team Philly (PA)</td>
			<td>60</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>8:40PM</td>
			<td>Ambridge FH-2</td>
			<td>16</td>
			<td>Grassroots Canada</td>
			<td>58</td>
			<td>Cincy Lakers(OH)</td>
			<td>39</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>8:40PM</td>
			<td>Ambridge HS-1</td>
			<td>12</td>
			<td>SYF Players (IN)</td>
			<td>15</td>
			<td>716 Crusaders (NY)</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>8:40PM</td>
			<td>Trees-2</td>
			<td>2</td>
			<td>Team CBIZ (OH)</td>
			<td>77</td>
			<td>Long Island Knights</td>
			<td>39</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>9:50PM</td>
			<td>Ambridge FH-3</td>
			<td>9</td>
			<td>Ohio Basketball Club</td>
			<td>61</td>
			<td>Maryland 3D BBall (MD)</td>
			<td>43</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>9:50PM</td>
			<td>Ambridge FH-1</td>
			<td>14</td>
			<td>Syracuse Select (NY) </td>
			<td>51</td>
			<td>Ivey 23 Temps (MD)</td>
			<td>54</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>9:50PM</td>
			<td>Ambridge FH-2</td>
			<td>15</td>
			<td>Dorian's Pride (MI)</td>
			<td>0</td>
			<td>Ohio Varsity White</td>
			<td>15</td>
		</tr>
		<tr>
			<td>Friday 15th</td>
			<td>9:50PM</td>
			<td>Ambridge HS-1</td>
			<td>5</td>
			<td>Team Loaded (VA)</td>
			<td>78</td>
			<td>Northern Kings (CAN)</td>
			<td>34</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>8:30AM</td>
			<td>Ambridge FH-1</td>
			<td>7</td>
			<td>Hidden Gem (OH)</td>
			<td>52</td>
			<td>Team Revel Gold (DE)</td>
			<td>58</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>8:30AM</td>
			<td>Ambridge FH-2</td>
			<td>13</td>
			<td>Indiana Elite One</td>
			<td>68</td>
			<td>Mid-Ohio Blue</td>
			<td>62</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>8:30AM</td>
			<td>Ambridge FH-3</td>
			<td>18</td>
			<td>All Ohio White</td>
			<td>0</td>
			<td>Team Takeover Hoop Magic (VA)</td>
			<td>15</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>8:30AM</td>
			<td>Ambridge HS-1</td>
			<td>8</td>
			<td>NPBC Cavemen Hermann (PA)</td>
			<td>49</td>
			<td>Playez Basketball Club (NJ)</td>
			<td>58</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>8:30PM</td>
			<td>LaRoche-2</td>
			<td>4</td>
			<td>Team Takeover Orange (DC)</td>
			<td>56</td>
			<td>BSA Select (PA)</td>
			<td>49</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>9:40PM</td>
			<td>Ambridge FH-1</td>
			<td>11</td>
			<td>Germantown Hardknocks (MD)</td>
			<td>52</td>
			<td>Ohio Varsity Blue </td>
			<td>32</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>9:40PM</td>
			<td>Ambridge FH-2</td>
			<td>17</td>
			<td>Virginia Assault </td>
			<td>42</td>
			<td>Ohio Valley Hoops (WV)</td>
			<td>73</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>9:40PM</td>
			<td>Ambridge FH-3</td>
			<td>1</td>
			<td>All Ohio Red</td>
			<td>53</td>
			<td>Sports University / KSK (NJ)</td>
			<td>32</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>9:40PM</td>
			<td>Ambridge FH-1</td>
			<td>15</td>
			<td>Dorian's Pride (MI)</td>
			<td>15</td>
			<td>Team Melo</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>9:40PM</td>
			<td>LaRoche-2</td>
			<td>10</td>
			<td>BSA Freedman (PA)</td>
			<td>23</td>
			<td>Team Takeover Black (DC)</td>
			<td>77</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>10:50PM</td>
			<td>Ambridge FH-1</td>
			<td>3</td>
			<td>NPBC Cavemen Renzie (PA) </td>
			<td>52</td>
			<td>Eric Gordom All-Stars (IN)</td>
			<td>63</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>10:50PM</td>
			<td>Ambridge FH-2</td>
			<td>5</td>
			<td>South Mountain BBall (NJ)</td>
			<td>51</td>
			<td>Northern Kings (CAN)</td>
			<td>46</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>10:50PM</td>
			<td>Ambridge FH-3</td>
			<td>6</td>
			<td>Philly Ballhawks (PA)</td>
			<td>45</td>
			<td>VA Elite Hoops </td>
			<td>32</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>10:50PM</td>
			<td>Ambridge HS-1</td>
			<td>13</td>
			<td>Team Lima </td>
			<td>53</td>
			<td>Indiana Elite One </td>
			<td>70</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>10:50PM</td>
			<td>LaRoche-2</td>
			<td>9</td>
			<td>Team Rebel Black (DE)</td>
			<td>47</td>
			<td>Maryland 3D BBall (MD)</td>
			<td>50</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>12:00PM</td>
			<td>Ambridge FH-1</td>
			<td>16</td>
			<td>Grassroots Canada</td>
			<td>73</td>
			<td>PA Assault</td>
			<td>52</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>12:00PM</td>
			<td>Ambridge FH-2</td>
			<td>2</td>
			<td>Team Final (PA)</td>
			<td>15</td>
			<td>Long Island Knights</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>12:00PM</td>
			<td>Ambridge FH-3</td>
			<td>18</td>
			<td>Team Takeover Hoop Magic (VA)</td>
			<td>39</td>
			<td>Team Scan</td>
			<td>49</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>12:00PM</td>
			<td>Ambridge HS-1</td>
			<td>11</td>
			<td>Germantown Hardknocks (MD)</td>
			<td>42</td>
			<td>Team Philly (PA)</td>
			<td>55</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>12:00PM</td>
			<td>LaRoche-2</td>
			<td>14</td>
			<td>The Team Takeover Canada (MI)</td>
			<td>73</td>
			<td>Syracuse Select (NY)</td>
			<td>25</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>1:15PM</td>
			<td>Ambridge FH-1</td>
			<td>15</td>
			<td>Team Melo</td>
			<td>69</td>
			<td>Ohio Valley White</td>
			<td>55</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>1:15PM</td>
			<td>Ambridge FH-2</td>
			<td>7</td>
			<td>Sports U Elite (NJ)</td>
			<td>72</td>
			<td>Team Rebel Gold (DE)</td>
			<td>63</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>1:15Pm</td>
			<td>Ambridge FH-3</td>
			<td>17</td>
			<td>Virginia Assault </td>
			<td>34</td>
			<td>King of the Court</td>
			<td>66</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>1:15PM</td>
			<td>Ambridge HS-1</td>
			<td>6</td>
			<td>Philly Ballhawks (PA)</td>
			<td>60</td>
			<td>Florida Rams</td>
			<td>64</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>1:15PM</td>
			<td>LaRoche-1</td>
			<td>12</td>
			<td>Team Takeover Wormley</td>
			<td>75</td>
			<td>SYF Players (IN)</td>
			<td>23</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>2:25PM</td>
			<td>Ambridge FH-1</td>
			<td>1</td>
			<td>East Coast Fusion (NY)</td>
			<td>39</td>
			<td>Sports University / KSK (NJ)</td>
			<td>63</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>2:25PM</td>
			<td>Ambridge HS-1</td>
			<td>16</td>
			<td>PA Assault</td>
			<td>28</td>
			<td>Cincy Lakers (OH)</td>
			<td>63</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>2:25Pm</td>
			<td>Oliver-1</td>
			<td>4</td>
			<td>PA Tarheels</td>
			<td>36</td>
			<td>Team Takeover Orange (DC)</td>
			<td>58</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>2:25PM</td>
			<td>Oliver-2</td>
			<td>8</td>
			<td>Playaz Basketball Club (NJ)</td>
			<td>70</td>
			<td>Spiece Dayton Airmen (OH)</td>
			<td>37</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>3:35PM</td>
			<td>Ambridge FH-1</td>
			<td>14</td>
			<td>Ivey 23 Terps (MD)</td>
			<td>34</td>
			<td>The Team Takeover Canada (MI)</td>
			<td>66</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>3:35PM</td>
			<td>Ambridge FH-2</td>
			<td>2</td>
			<td>Team CBIZ (OH)</td>
			<td>86</td>
			<td>Team Final (PA)</td>
			<td>91</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>3:35PM</td>
			<td>Ambridge FH-3</td>
			<td>5</td>
			<td>South Mountain BBall (NJ)</td>
			<td>47</td>
			<td>Team Loaded (VA)</td>
			<td>71</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>3:35PM</td>
			<td>Oliver-1</td>
			<td>3</td>
			<td>Eric Gordon All-Stars</td>
			<td>63</td>
			<td>BSA HC Leslie (PA)</td>
			<td>32</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>3:35PM</td>
			<td>Oliver-2</td>
			<td>9</td>
			<td>Ohio Basketball Club</td>
			<td>34</td>
			<td>Team Rebel Black (DE)</td>
			<td>47</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>4:45PM</td>
			<td>Oliver-1</td>
			<td>12</td>
			<td>716 Crusaders (NY)</td>
			<td>0</td>
			<td>Team Takeover Wormley</td>
			<td>15</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>4:45PM</td>
			<td>Oliver-2</td>
			<td>10</td>
			<td>South Florida Elite</td>
			<td></td>
			<td>Team Takeover Black</td>
			<td></td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>4:45PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>4:45PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>4:45PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>4:45PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>4:45PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
