<table>
	<thead>
		<tr>
			<th>2013Hoop Group Skills Camps - Boys Summer Schedule</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/jr-elite-weekend">Junior Elite Weekend Camps</a></td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/jr-elite-weekend"></a></td>
			<td>June 22nd &amp; 23rd, 2013</td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/jr-elite-weekend"></a></td>
			<td>August 16th &amp; 17th, 2013</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/father-son-weekend">Father/Son Camps</a></td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/father-son-weekend"></a></td>
			<td>June 14th-16th, 2013</td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/father-son-weekend"></a></td>
			<td>July 19th-21st, 2013</td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/father-son-weekend"></td>
			<td>August 9th-11th, 2013</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/bob-hurley-basketball-camp/">Bob Hurley Skills Camp</a></td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/bob-hurley-basketball-camp"</td>
			<td>June 29th-July 3rd, 2013</td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/bob-hurley-basketball-camp"></td>
			<td>August 18th-22nd, 2013</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/skills-camps">Skills Camps</a></td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/skills-camps"></a></td>
			<td>July 7th-11th, 2013</td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/skills-camps"></a></td>
			<td>July 14th-18th, 2013</td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/skills-camps"></a></td>
			<td>July 21st-25th, 2013</td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/skills-camps"></a></td>
			<td>August 11th-15th, 2013</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/dave-hopla-shooting-camp">Shooting Camps</a></td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/dave-hopla-shooting-camp"></a></td>
			<td>June 23rd-27th, 2013</td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/dave-hopla-shooting-camp"></a></td>
			<td>August 23rd-27th, 2013</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/kevin-boyle-point-guard-camp">Point Guard Camp with Kevin Boyle Session I</a></td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/kevin-boyle-point-guard-camp"></a></td>
			<td>June 8th &amp; 9th, 2013</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/kevin-boyle-point-guard-camp">Point Guard Camp with Kevin Boyle Session II</a></td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/kevin-boyle-point-guard-camp"></a></td>
			<td>July 12th-14th, 2013</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/boys-supersession-camp">Super Session</a></td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/boys-supersession-camp"></a></td>
			<td>July 14th-25th, 2013</td>
		</tr>
	</tbody>
</table>
