<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Devin Thomas</td>
			<td>Mid Penn Motion</td>
		</tr>
		<tr>
			<td>Haiishen McIntyre</td>
			<td>Mid Penn Motion</td>
		</tr>
		<tr>
			<td>Jordan Cowgill</td>
			<td>Hidden Gems</td>
		</tr>
		<tr>
			<td>Lincoln Holley</td>
			<td>Feeder Program</td>
		</tr>
		<tr>
			<td>Bernard Francis</td>
			<td>Crons</td>
		</tr>
		<tr>
			<td>Chris Viqueira</td>
			<td>Fundamental Hoops</td>
		</tr>
		<tr>
			<td>Devonn Gavin</td>
			<td>Upstate BBall</td>
		</tr>
		<tr>
			<td>Pete Aguliar</td>
			<td>CT Flame</td>
		</tr>
		<tr>
			<td>Kendrick Ray</td>
			<td>CT Flame</td>
		</tr>
		<tr>
			<td>Thiago Randazzo</td>
			<td>NY Gael Force</td>
		</tr>
	</tbody>
</table>
