<table>
	<thead>
		<tr>
			<th>2013 Hoop Group Skills Camps - Girls Summer Schedule</th>
			<th>#colspan#</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://www.hoopgroup.com/hoopgroup/girls/girls-skills-camp/parent-daughter-weekend-camp">Parent/Daughter Camp</a></td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/girls/girls-skills-camp/parent-daughter-weekend-camp"></a></td>
			<td>July 26th-28th, 2013</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/hoopgroup/girls/girls-skills-camp/girls-shooting-camp-with-dave-hopla-2">Shooting Camp</a></td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/girls/girls-skills-camp/girls-shooting-camp-with-dave-hopla-2"></a></td>
			<td>July 28th-31st, 2013</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/hoopgroup/girls/girls-skills-camp">Skills Camp</a></td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/girls/girls-skills-camp"></a></td>
			<td>August 1st -4th, 2013</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/hoopgroup/girls/girls-skills-camp/girls-supersession">Super Session</a></td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/girls/girls-skills-camp/girls-supersession"></a></td>
			<td>July 28th-August 4th, 2013</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/hoopgroup/girls/girls-skills-camp/girls-elite-basketball-camp">Elite Camp</a></td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/girls/girls-skills-camp/girls-elite-camp-2"></a></td>
			<td></td>
		</tr>
	</tbody>
</table>
