<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Malcolm Duvivier</td>
			<td>Takeover Canada</td>
		</tr>
		<tr>
			<td>Shandon Mootoosamy</td>
			<td>Takeover Canada</td>
		</tr>
		<tr>
			<td>Rahad Figures</td>
			<td>Playaz</td>
		</tr>
		<tr>
			<td>Shep Gardner</td>
			<td>Team Final</td>
		</tr>
		<tr>
			<td>Evan Bailey</td>
			<td>King of Court</td>
		</tr>
		<tr>
			<td>Jalen Hudson</td>
			<td>Team Loaded</td>
		</tr>
		<tr>
			<td>Quadri Moore</td>
			<td>Sports U</td>
		</tr>
		<tr>
			<td>Tarin Smith</td>
			<td>Sports U</td>
		</tr>
		<tr>
			<td>Lloyd Chapman</td>
			<td>Ohio Varsity White</td>
		</tr>
		<tr>
			<td>Anthony Pate</td>
			<td>Grass Roots Canada</td>
		</tr>
		<tr>
			<td>Jamar Martin</td>
			<td>Grass Roots Canada</td>
		</tr>
		<tr>
			<td>Luke Saseen</td>
			<td>CBIZ</td>
		</tr>
		<tr>
			<td>Jamal Custis</td>
			<td>Philly Ballhawks</td>
		</tr>
		<tr>
			<td>Austin Gutting</td>
			<td>Team Lima</td>
		</tr>
		<tr>
			<td>Jaquan Lyle</td>
			<td>Eric Gordon All Stars</td>
		</tr>
		<tr>
			<td>Jeff Larkin</td>
			<td>Cincy Lakers</td>
		</tr>
		<tr>
			<td>Darian Anderson</td>
			<td>Team Takeover Black</td>
		</tr>
		<tr>
			<td>Phil Booth</td>
			<td>Team Takeover Black</td>
		</tr>
		<tr>
			<td>Frank Howard</td>
			<td>Team Takeover Orange</td>
		</tr>
		<tr>
			<td>Bryant Crawford</td>
			<td>Team Takeover Orange</td>
		</tr>
		<tr>
			<td>Sean Downes</td>
			<td>Florida Rams</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
