<table>
	<thead>
		<tr>
			<th>2011 Girls' Winter Elite Leage</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>8th Grade</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>7th Grade</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>3rd/4th Grade</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td></td>
		</tr>
		<tr>
			<td>Team #</td>
			<td>Team Name</td>
			<td></td>
			<td>Team #</td>
			<td>Team Name</td>
			<td></td>
			<td>Team #</td>
			<td>Team Name</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>1</td>
			<td>CJ Hawks</td>
			<td></td>
			<td>9</td>
			<td>Team Miller</td>
			<td></td>
			<td>17</td>
			<td>Monroe 3rd</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>2</td>
			<td>NJ ShoreShots</td>
			<td></td>
			<td>10</td>
			<td>ShoreShots Orange</td>
			<td></td>
			<td>18</td>
			<td>NJ Sparks 4th</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>3</td>
			<td>TR Explosion</td>
			<td></td>
			<td>11</td>
			<td>Freehold Tarheels</td>
			<td></td>
			<td>19</td>
			<td>NJ ShoreShots</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>4</td>
			<td>Garden State Gators</td>
			<td></td>
			<td>12</td>
			<td>NJ Gym Ratz 6th</td>
			<td></td>
			<td>20</td>
			<td>Monroe 4th</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>5</td>
			<td>JS Wildcats</td>
			<td></td>
			<td>13</td>
			<td>ShoreShots Blue</td>
			<td></td>
			<td>21</td>
			<td>Stafford</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>6</td>
			<td>CBAA Magic</td>
			<td></td>
			<td>14</td>
			<td>NJ Sting</td>
			<td></td>
			<td>22</td>
			<td>NJ Sparks 3rd</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>7</td>
			<td>Pennsbury Falcons</td>
			<td></td>
			<td>15</td>
			<td>NJ Gym Ratz</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>8</td>
			<td>MJ Lady Heat</td>
			<td></td>
			<td>16</td>
			<td>Stafford</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Sunday</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>Sunday</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>9-Jan</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>13-Feb</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td></td>
			<td>Knicks</td>
			<td>Celtics</td>
			<td>Sixers</td>
			<td>Nets</td>
			<td></td>
			<td>Knicks</td>
			<td>Celtics</td>
			<td>Sixers</td>
			<td>Nets</td>
		</tr>
		<tr>
			<td>9AM</td>
			<td>17 vs 18</td>
			<td>9 vs 16</td>
			<td>10 vs 15</td>
			<td>12 vs 13</td>
			<td>9AM</td>
			<td>13 vs 16</td>
			<td>1 vs 3</td>
			<td>4 vs 2</td>
			<td>5 vs 8</td>
		</tr>
		<tr>
			<td>10AM</td>
			<td>4 vs 5</td>
			<td>1 vs 8</td>
			<td>19 vs 20</td>
			<td>11 vs 12</td>
			<td>10AM</td>
			<td>9 vs 11</td>
			<td>21 vs 22</td>
			<td>7 vs 8</td>
			<td>6 vs 2</td>
		</tr>
		<tr>
			<td>11AM</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>10 vs 15</td>
			<td>21 vs 22</td>
			<td>11AM</td>
			<td>9 vs 10</td>
			<td>XXX</td>
			<td>6 vs 7</td>
			<td>XXX</td>
		</tr>
		<tr>
			<td>12PM</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>11 vs 14</td>
			<td>12PM</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>19 vs 22</td>
			<td>XXX</td>
		</tr>
		<tr>
			<td>1PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>1PM</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>17 vs 18</td>
			<td>XXX</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>Sunday</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>22-Jan</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>20-Feb</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td></td>
			<td>Knicks</td>
			<td>Celtics</td>
			<td>Sixers</td>
			<td>Nets</td>
			<td></td>
			<td>Knicks</td>
			<td>Celtics</td>
			<td>Sixers</td>
			<td>Nets</td>
		</tr>
		<tr>
			<td>9AM</td>
			<td>XXX</td>
			<td>17 vs 20</td>
			<td>16 vs 14</td>
			<td>10 vs 13</td>
			<td>9AM</td>
			<td>13 vs 14</td>
			<td>17 vs 20</td>
			<td>1 vs 7</td>
			<td>XXX</td>
		</tr>
		<tr>
			<td>10AM</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>2 vs 5</td>
			<td>3 vs 6</td>
			<td>10AM</td>
			<td>18 vs 21</td>
			<td>3 vs 8</td>
			<td>9 vs 14</td>
			<td>1 vs 2</td>
		</tr>
		<tr>
			<td>11AM</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>19 vs 21</td>
			<td>8 vs 6</td>
			<td>11AM</td>
			<td>17 vs 22</td>
			<td>2 vs 7</td>
			<td>9 vs 15</td>
			<td>12 vs 13</td>
		</tr>
		<tr>
			<td>12PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>12PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>1PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>1PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Sunday</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>Sunday</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>23-Jan</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>6-Mar</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td></td>
			<td>Knicks</td>
			<td>Celtics</td>
			<td>Sixers</td>
			<td>Nets</td>
			<td></td>
			<td>Knicks</td>
			<td>Celtics</td>
			<td>Sixers</td>
			<td>Nets</td>
		</tr>
		<tr>
			<td>9AM</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>20 vs 21</td>
			<td>8 vs 4</td>
			<td>9AM</td>
			<td>18 vs 19</td>
			<td>1 vs 8</td>
			<td>4 vs 7</td>
			<td>5 vs 6</td>
		</tr>
		<tr>
			<td>10AM</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>20 vs 19</td>
			<td>2 vs 3</td>
			<td>10AM</td>
			<td>11 vs 14</td>
			<td></td>
			<td>20 vs 21</td>
			<td>17 vs 22</td>
		</tr>
		<tr>
			<td>11AM</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>22 vs 20</td>
			<td>11AM</td>
			<td>14 vs 10</td>
			<td>9 vs 16</td>
			<td>4 vs 5</td>
			<td>3 vs 6</td>
		</tr>
		<tr>
			<td>12PM</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>18 vs 19</td>
			<td>12PM</td>
			<td>18 vs 22</td>
			<td></td>
			<td></td>
			<td>2 vs 7</td>
		</tr>
		<tr>
			<td>1PM</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>10 vs 11</td>
			<td>1PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>2PM</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>17 vs 19</td>
			<td>2PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Sunday</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>Friday</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>6-Feb</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>18-Mar</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td></td>
			<td>Knicks</td>
			<td>Celtics</td>
			<td>Sixers</td>
			<td>Nets</td>
			<td>730PM</td>
			<td>15 vs 14</td>
			<td></td>
			<td>12 v 9</td>
			<td></td>
		</tr>
		<tr>
			<td>9AM</td>
			<td>8 vs 2</td>
			<td>17 vs 21</td>
			<td>XXX</td>
			<td>1 vs 5</td>
			<td>830PM</td>
			<td>15 vs 16</td>
			<td></td>
			<td>12 vs 10</td>
			<td></td>
		</tr>
		<tr>
			<td>10AM</td>
			<td>16 vs 10</td>
			<td>9 vs 13</td>
			<td>20 vs 18</td>
			<td>6 vs 4</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>11AM</td>
			<td>15 vs 13</td>
			<td>16 vs 12</td>
			<td>7 vs 5</td>
			<td>1 vs 6</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>12PM</td>
			<td>15 vs 11</td>
			<td>14 vs 12</td>
			<td>22 vs 19</td>
			<td>7 vs 3</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>Sunday - PLAYOFFS</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td></td>
		</tr>
		<tr>
			<td>11-Feb</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>20-Mar</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Knicks</td>
			<td>Celtics</td>
			<td>Sixers</td>
			<td>Nets</td>
			<td></td>
			<td>Knicks</td>
			<td></td>
			<td>Celtics</td>
			<td></td>
		</tr>
		<tr>
			<td>630PM</td>
			<td>1 vs 4</td>
			<td>5 vs 3</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>9AM</td>
			<td>3/4 Semis (1st v 4th)</td>
			<td></td>
			<td>3/4 Semis (2nd vs 3rd)</td>
			<td></td>
		</tr>
		<tr>
			<td>730PM</td>
			<td>3 vs 4</td>
			<td>13 vs 11</td>
			<td>XXX</td>
			<td>XXX</td>
			<td>10AM</td>
			<td>7th Semis (1st vs 4th)</td>
			<td></td>
			<td>7th Semis (2nd vs 3rd)</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>11AM</td>
			<td>8th Semis (1st vs 4th)</td>
			<td></td>
			<td>8th Semis (2nd vs 3rd)</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>12PM</td>
			<td>3/4 Finals</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>1PM</td>
			<td>7th Finals</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>2PM</td>
			<td>8th Finals</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
