<table>
	<thead>
		<tr>
			<th>Dates</th>
			<th>Event</th>
			<th>Gender</th>
			<th>Divisions (Grades)</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Mar 19-20</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns/spring-showdown-1.php">Spring Showdown I</a></td>
			<td>Boys</td>
			<td>3rd-11th </td>
			<td>$395</td>
		</tr>
		<tr>
			<td>Mar 26-27</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns/march-madness-showdown.php">March Madness Showdown</a></td>
			<td>Boys</td>
			<td>3rd-11th</td>
			<td>$395</td>
		</tr>
		<tr>
			<td>April 9-10</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns/april-showdown.php">April Showdown</a></td>
			<td>Boys</td>
			<td>5th-11th</td>
			<td>$395</td>
		</tr>
		<tr>
			<td>April 16-17</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns/spring-showdown-ii.php">Spring Showdown II</a></td>
			<td>Boys</td>
			<td>3rd-11th</td>
			<td>$395</td>
		</tr>
		<tr>
			<td>April 30-May 1</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns/may-showdown.php">May Showdown</a></td>
			<td>Boys</td>
			<td>3rd-11th</td>
			<td>$395</td>
		</tr>
		<tr>
			<td>May 6-8</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns/mothers-day-showdown.php">Mother's Day Showdown</a></td>
			<td>Girls</td>
			<td>3rd-11th</td>
			<td>$395</td>
		</tr>
		<tr>
			<td>May 14-15</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns/spring-jam-fest-phase-i.php">Spring Jam Fest, Phase I</a></td>
			<td>Boys</td>
			<td>3rd-9th</td>
			<td>$395</td>
		</tr>
		<tr>
			<td>May 21-22</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns/spring-jam-fest-phase-ii.php">Spring Jam Fest, Phase II</a></td>
			<td>Boys</td>
			<td>10th-11th</td>
			<td>$450</td>
		</tr>
		<tr>
			<td>June 4-5</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns/summer-boys-showdown.php">Summer Showdown I</a></td>
			<td>Boys/Girls</td>
			<td>3rd-11th</td>
			<td>$395</td>
		</tr>
		<tr>
			<td>June 11-12</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns/summer-girls-showdown.php">Summer Showdown II</a></td>
			<td>Boys/Girls</td>
			<td>3rd-11th</td>
			<td>$395</td>
		</tr>
		<tr>
			<td>June 25-26</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns/june-showdown.php">June Showdown</a></td>
			<td>Boys/Girls</td>
			<td>3rd-11th</td>
			<td>$395</td>
		</tr>
	</tbody>
</table>
