<table>
	<thead>
		<tr>
			<th>Open</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Rohan Boney</td>
			<td>Grassroots Canada</td>
		</tr>
		<tr>
			<td>Tramique  Sutherland</td>
			<td>Grassroots Canada</td>
		</tr>
		<tr>
			<td>Dwayne Wilson II</td>
			<td>Queen City Prophets</td>
		</tr>
		<tr>
			<td>Joe Cossins</td>
			<td>Queen City Prophets</td>
		</tr>
		<tr>
			<td>Lawrance Freeman</td>
			<td>Team Miami</td>
		</tr>
		<tr>
			<td>Jake Hutchcroft</td>
			<td>Whitby Wildcats</td>
		</tr>
		<tr>
			<td>Devonne  Pinkard</td>
			<td>PA Pump n Run</td>
		</tr>
		<tr>
			<td>Drew Johnson</td>
			<td>PA Pump n Run</td>
		</tr>
		<tr>
			<td>J Walter Lawson</td>
			<td>Team adidas HPC</td>
		</tr>
	</tbody>
</table>
