<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Event</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>April 20-22</td>
			<td>Pittsburgh Hoop Group Jam Fest</td>
			<td>Pittsburgh, PA</td>
		</tr>
		<tr>
			<td>April 27-29</td>
			<td>Hoop Group Jam Fest</td>
			<td>TBA</td>
		</tr>
		<tr>
			<td>May 18-20</td>
			<td>Southern Hoop Group Jam Fest</td>
			<td>Hampton, VA</td>
		</tr>
	</tbody>
</table>
