<table>
	<thead>
		<tr>
			<th>Colleges Attending</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Amherst College</td>
			<td>Dickinson University</td>
			<td>Rochester University</td>
		</tr>
		<tr>
			<td>Arcadia University</td>
			<td>Eastern University</td>
			<td>RPI</td>
		</tr>
		<tr>
			<td>Assumption College</td>
			<td>Elmira College</td>
			<td>Salisbury University</td>
		</tr>
		<tr>
			<td>Bard College</td>
			<td>Gettysburg College</td>
			<td>Simpson University</td>
		</tr>
		<tr>
			<td>Bowdoin College</td>
			<td>Hamilton College</td>
			<td>Swarthmore</td>
		</tr>
		<tr>
			<td>Cabrini College</td>
			<td>Merchant Marine College</td>
			<td>Trinity College</td>
		</tr>
		<tr>
			<td>Cal Tech</td>
			<td>Messiah College</td>
			<td>Tufts</td>
		</tr>
		<tr>
			<td>Carnegie Mellon College</td>
			<td>Middlebury College</td>
			<td>Washington University(St. Louis)</td>
		</tr>
		<tr>
			<td>Clarkson University</td>
			<td>Muhlenberg College</td>
			<td>West Chester University(PA)</td>
		</tr>
		<tr>
			<td>Colby College</td>
			<td>Neumann University</td>
			<td>Wesleyan University</td>
		</tr>
		<tr>
			<td>Connecticut College</td>
			<td>Oberlin College</td>
			<td></td>
		</tr>
	</tbody>
</table>
