<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Aaren Edmead</td>
			<td>5-11</td>
			<td>Deer Park, N.Y.</td>
			<td>Deer Park high School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Jammal Greenwood</td>
			<td>6-2</td>
			<td>Potomac, Md.</td>
			<td>Bullis</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Kevin Seymour</td>
			<td>6-2 </td>
			<td>Blairstown, N.J.</td>
			<td>Blair Academy</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Junior Saintel</td>
			<td>6-7</td>
			<td>Absecon, N.J.</td>
			<td>Holy Spirit</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Emmitt Holt</td>
			<td>6-7</td>
			<td>Webster, N.Y.</td>
			<td>Webster Schroeder</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Anthony Mosley</td>
			<td>6-1</td>
			<td>Hockessin, Del.</td>
			<td>Sanford High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Johnnie Shuler</td>
			<td>6-0</td>
			<td>Washington, D.C.</td>
			<td>Theodore Roosevelt</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Allen Costley</td>
			<td>6-4</td>
			<td>Baltimore, Md.</td>
			<td>Milford Military Academy</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Jamal Custis</td>
			<td>6-5</td>
			<td>Philadelphia, Pa.</td>
			<td>Neumann Goretti</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Jagan Mosely</td>
			<td>6-3</td>
			<td>Jersey City, N.J.</td>
			<td>St. Anthony's</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Vincent Eze</td>
			<td>6-7</td>
			<td>Bethlehem, Pa.</td>
			<td>Notre Dame of Green Pond</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Taurean Thompson</td>
			<td>6-8</td>
			<td>Jersey City, N.J. </td>
			<td>St. Anthony's</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
