<table>
	<tbody>
		<tr>
			<td>Baltimore Supreme</td>
			<td>Michigan Warriors</td>
			<td>Tampa Bay Ambassadors</td>
		</tr>
		<tr>
			<td>Brampton Warriors (CAN)</td>
			<td>Morgantown Omega Pump</td>
			<td>Team Adidas PA</td>
		</tr>
		<tr>
			<td>Brampton Warriors Johnson</td>
			<td>New Heights (NY)</td>
			<td>Team Loaded (VA)</td>
		</tr>
		<tr>
			<td>Cincinnati Lakers</td>
			<td>NJ Shoreshots</td>
			<td>Team Nashville</td>
		</tr>
		<tr>
			<td>Crusader Nation (MD)</td>
			<td>Northern Kings</td>
			<td>Team Philly</td>
		</tr>
		<tr>
			<td>DB Hoops</td>
			<td>NOVA Village</td>
			<td>Team Phoenix (NC)</td>
		</tr>
		<tr>
			<td>DC Assault</td>
			<td>NW Ohio Basketball Club</td>
			<td>Team Richmond</td>
		</tr>
		<tr>
			<td>Detroit Stars</td>
			<td>OBC (OH)</td>
			<td>Team Takeover</td>
		</tr>
		<tr>
			<td>East Carolina Elite</td>
			<td>Ohio Hoopsters</td>
			<td>Team Toronto</td>
		</tr>
		<tr>
			<td>Elite Sports Center (WV)</td>
			<td>Ohio Prep</td>
			<td>Team Work (OH)</td>
		</tr>
		<tr>
			<td>Game 7 Elite (NY)</td>
			<td>Ohio Varsity</td>
			<td>The Rens (NY)</td>
		</tr>
		<tr>
			<td>Gold Coast (FL)</td>
			<td>PA Intense</td>
			<td>Thunder (OH)</td>
		</tr>
		<tr>
			<td>Grassroots Canada</td>
			<td>Philly Pride</td>
			<td>U Play (CAN)</td>
		</tr>
		<tr>
			<td>Hank Gathers Elite</td>
			<td>Philly Triple Threat</td>
			<td>U Play /CIA Bounce</td>
		</tr>
		<tr>
			<td>Hidden Gems Black (OH)</td>
			<td>Pittsburgh Basketball Club</td>
			<td>VCC Ohio Warriors</td>
		</tr>
		<tr>
			<td>Hidden Gems Orange (OH)</td>
			<td>Pittsburgh Impact</td>
			<td>Vienna Magic</td>
		</tr>
		<tr>
			<td>Hoop Dreams (KY)</td>
			<td>Queen City Prophets (OH)</td>
			<td>Virginia Assault</td>
		</tr>
		<tr>
			<td>Hoop Gring Michigan</td>
			<td>Showtime All-Stars (NC)</td>
			<td>Virginia Elite I</td>
		</tr>
		<tr>
			<td>Indiana Elite</td>
			<td>SJ Hornets (NJ)</td>
			<td>Virginia Elite II</td>
		</tr>
		<tr>
			<td>JCBC (NJ)</td>
			<td>South Jersey Select</td>
			<td>Wayne PAL (NJ)</td>
		</tr>
		<tr>
			<td>Juice All Stars (NY)</td>
			<td>Southern Elite (LA)</td>
			<td></td>
		</tr>
		<tr>
			<td>Louisville Magic</td>
			<td>Sports U (NJ)</td>
			<td></td>
		</tr>
	</tbody>
</table>
