<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Most Outstanding Player</td>
			<td>Abdul Lewis</td>
			<td>6-8</td>
			<td>East Side (N.J.) High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Sam Light</td>
			<td>5-11</td>
			<td>Northern Lebanon (Pa.) High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Karo Adjekughele</td>
			<td>6-6</td>
			<td>Fordham (N.Y.) Prep School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>All-Star MVP</td>
			<td>Akbar Hoffman</td>
			<td>5-11</td>
			<td>Newark (N.J) Eastside High School </td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Josh Reed</td>
			<td>6-6</td>
			<td>Arlee (Mont.) High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Johnny Perterson</td>
			<td>6-3</td>
			<td>St. Augustine (Ca.) High School</td>
			<td>2014</td>
		</tr>
	</tbody>
</table>
