<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Marley Blommers</td>
			<td>6-3</td>
			<td>Chatham, Ontario</td>
			<td>Chatham Kent</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Derek Ford</td>
			<td>6-4</td>
			<td>Camp Hill, Pa.</td>
			<td>Cedar Cliff High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Ryan O'Neil</td>
			<td>5-8</td>
			<td>Pelham, N.Y.</td>
			<td>Pelham Memorial High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Corey Romich</td>
			<td>6-4</td>
			<td>Groton, Mass.</td>
			<td>Groton-Dunstable High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Chris Whitaker</td>
			<td>5-7</td>
			<td>Dauphin, Pa.</td>
			<td>Central Dauphin East High School</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Michael Caruso</td>
			<td>5-7</td>
			<td>Rumson, N.J.</td>
			<td>Rumson High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Ivory Davis</td>
			<td>5-10</td>
			<td>Washington, D.C.</td>
			<td>Bell Multicultural</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Parker Hess</td>
			<td>5-10</td>
			<td>Westfield, N.J.</td>
			<td>Westfield High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Alexander Karamanos</td>
			<td>6-2</td>
			<td>Kingston, N.Y.</td>
			<td>Kingston High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Montrel Morgan</td>
			<td>6-0</td>
			<td>York, Pa.</td>
			<td>New Hope Academy Charter</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
