<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Tyler Tobin</td>
			<td>5-7</td>
			<td>Marlton, NJ</td>
			<td>Cherokee</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Blaise Radosevic</td>
			<td>6-5</td>
			<td>Milwaukee, WI</td>
			<td>Marquette University HS</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Nibra White</td>
			<td>6-0</td>
			<td>Evanston, IL</td>
			<td>Evanston Township</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Logan Vosburg</td>
			<td>6-4</td>
			<td>Hillsborough, NC</td>
			<td>Cedar Ridge</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Jaylon Myles</td>
			<td>6-2</td>
			<td>Oxon Hill, MD</td>
			<td>Oxon Hill</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Nicolas Fennell</td>
			<td>6-3</td>
			<td>Washington, DC</td>
			<td>Archbishop Carroll</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Dwight Whitlock</td>
			<td>6-1</td>
			<td>Harrisburg, PA</td>
			<td>Central Dauphin East</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Randy Kincel</td>
			<td>6-2</td>
			<td>Taylor, PA</td>
			<td>Riverside</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Andre Butler</td>
			<td>6-1</td>
			<td>Greenbelt, MD</td>
			<td>Grace Brethren</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Matthew Schaengold</td>
			<td>6-4</td>
			<td>Bethesda, MD</td>
			<td>Bethesda-Chevy Chase</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Martin Myaka</td>
			<td>6-0</td>
			<td>Cincinnati, OH</td>
			<td>Walnut Hills</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
