<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Sam Light</td>
			<td>5-11</td>
			<td>Fredricksburg, PA</td>
			<td>Northern Lebanon</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Gilberto Benz</td>
			<td>6-1</td>
			<td>Reading, PA</td>
			<td>Reading</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Tyler Major</td>
			<td>6-1</td>
			<td>Durham, NC</td>
			<td>Mount Zion</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Karo Adjekughele</td>
			<td>6-6</td>
			<td>Bronx, NY</td>
			<td>Fordham Prep</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Troy Bendian</td>
			<td>6-7</td>
			<td>Oradell, NJ</td>
			<td>River Dell</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Abolaji Soyemi</td>
			<td>5-11</td>
			<td>Brooklyn, NY</td>
			<td>Boys &amp; Girls</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Tyree Gibson</td>
			<td>6-2</td>
			<td>Reading, PA</td>
			<td>Reading</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Zhykeir Burdine</td>
			<td>6-1</td>
			<td>Reading, PA</td>
			<td>Reading</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Osaki Benjamin</td>
			<td>6-3</td>
			<td>Brooklyn, NY</td>
			<td>Boys &amp; Girls</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Drew Schankweiler</td>
			<td>6-6</td>
			<td>Mechanicsburg, PA</td>
			<td>Mechanicsburg</td>
			<td>2014</td>
		</tr>
	</tbody>
</table>
