<table>
	<tbody>
		<tr>
			<td>Advanced Hoops (OH)</td>
			<td>IMG National Varsity (FL)</td>
			<td>Peninsula Primetime (VA)</td>
		</tr>
		<tr>
			<td>Baltimore Stars</td>
			<td>KFS Wolves (PA)</td>
			<td>Pittsburgh Nets</td>
		</tr>
		<tr>
			<td>Blessed Sacrament (CAN)</td>
			<td>Legendary Hoops</td>
			<td>Richmond Phenoms</td>
		</tr>
		<tr>
			<td>Brampton Warriors (CAN)</td>
			<td>MD Trailblazers</td>
			<td>Rising Stars</td>
		</tr>
		<tr>
			<td>Buffalo Titans</td>
			<td>Mountain Cats (PA)</td>
			<td>TD All Stars</td>
		</tr>
		<tr>
			<td>E1T1 (FL)</td>
			<td>Move your Feet (NJ)</td>
			<td>Team Insane (PA)</td>
		</tr>
		<tr>
			<td>Etobicoke Thunder (CAN)</td>
			<td>New Heights (NY)</td>
			<td>Virginia Elite</td>
		</tr>
		<tr>
			<td>Fire Select (OH)</td>
			<td>North Bay (CAN)</td>
			<td>Waterloo Wildhawks (CAN)</td>
		</tr>
		<tr>
			<td>Gold Coast (FL)</td>
			<td>NY Gauchos</td>
			<td>Withrow Wildcats</td>
		</tr>
		<tr>
			<td>Grassroots Canada </td>
			<td>OBC Blanks (OH)</td>
			<td>York Ballers (PA)</td>
		</tr>
		<tr>
			<td>Hidden Gems(OH)</td>
			<td>PA Intense</td>
			<td></td>
		</tr>
	</tbody>
</table>
