<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Donovan Love</td>
			<td>6-2</td>
			<td>New Hampton</td>
			<td>New Hampton, N.H.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Curtis Jones</td>
			<td>6-3</td>
			<td>Paul VI</td>
			<td>Fairfax, Va.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Kendrick Gray</td>
			<td>6-4</td>
			<td>North Country Union</td>
			<td>Newport, Vt.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Justin Gorham</td>
			<td>6-5</td>
			<td>Calvert Hall</td>
			<td>Baltimore, Md.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Sedee Keita</td>
			<td>6-8</td>
			<td>Vermont Academy</td>
			<td>Saxtons River, Vt.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Temple Gibbs</td>
			<td>6-1</td>
			<td>Seton Hall Prep</td>
			<td>West Orange, N.J.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Christian Vital</td>
			<td>6-1</td>
			<td>Vermont Academy</td>
			<td>Saxtons River, Vt.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>DeAndre Hunter</td>
			<td>6-4</td>
			<td>Friends Central</td>
			<td>Wynnewood, Pa.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Marsellis Purvis</td>
			<td>6-7</td>
			<td>LC Byrd</td>
			<td>Chesterfield, Va.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Joe Hampton </td>
			<td>6-6</td>
			<td>DeMatha</td>
			<td>Hyattsville, Md.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Nazeer Bostick</td>
			<td>6-4</td>
			<td>Math, Civics &amp; Science</td>
			<td>Philadelphia, Pa.</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
