<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Dante Hatem</td>
			<td>6-0</td>
			<td>Syracuse, N.Y.</td>
			<td>Christian Brothers Academy</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Tyralle Jordan</td>
			<td>5-8</td>
			<td>Bergenfield, N.J.</td>
			<td>Bergenfield High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Thai Scott</td>
			<td>5-8</td>
			<td>North Arlington, N.J.</td>
			<td>North Arlington High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Evan Lester</td>
			<td>6-5</td>
			<td>Washington, D.C.</td>
			<td>Archbishop Carroll</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Jeremy Del Valle</td>
			<td>6-2</td>
			<td>Hackettstown, N.J.</td>
			<td>Hackettstown High School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>R.J. Laugand IV</td>
			<td>5-10</td>
			<td>Clarion Township, Pa.</td>
			<td>Clarion-Limestone High School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Shawn Ajavon</td>
			<td>6-2</td>
			<td>Jersey City, N.J.</td>
			<td>Hudson Catholic</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Nicholas Colon</td>
			<td>5-7</td>
			<td>Brooklyn, N.Y.</td>
			<td>Teachers Prep</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Sean McKinless</td>
			<td>6-1</td>
			<td>Montvale, N.J.</td>
			<td>St. Joseph's Regional</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Alexander Simpson</td>
			<td>6-0</td>
			<td>Ardmore, Pa.</td>
			<td>Harriton</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Cory Hicks</td>
			<td>6-0</td>
			<td>Romulus, Mich.</td>
			<td>Summit Academy North</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
