<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Matt Zignorski</td>
			<td>6-2</td>
			<td>Sparta, N.J.</td>
			<td>Pope John XXIII</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Tyler Major</td>
			<td>6-1</td>
			<td>Durham, N.C.</td>
			<td>Mount Zion</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Chieck Sy-savane</td>
			<td>6-3</td>
			<td>Centereach, N.J.</td>
			<td>Our Savior New American</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Darian Dixon</td>
			<td>6-5</td>
			<td>Forestville, Md.</td>
			<td>Bishop McNamara</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Samuel Eckstrom</td>
			<td>6-7</td>
			<td>Olean, N.Y.</td>
			<td>Olean</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Jordan Forehand</td>
			<td>6-2</td>
			<td>Jersey City, N.J.</td>
			<td>St. Benedicts</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Gemil Holbrook</td>
			<td>6-4</td>
			<td>Philadelphia, Pa.</td>
			<td>Roman Catholic</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Brandon Alston</td>
			<td>6-5</td>
			<td>Newark, N.J.</td>
			<td>St. Benedicts</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Michael Silverthorn</td>
			<td>6-4</td>
			<td>Blairstown, N.J.</td>
			<td>Blairstown</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Michael Tertsea</td>
			<td>6-10</td>
			<td>Bel Air, Md.</td>
			<td>Archbishop John Carroll</td>
			<td>2016</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
