<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/01/KarlTowns100.jpg" alt="" title="SONY DSC" width="100" height="120" class="aligncenter size-full wp-image-27907" /></td>
			<td>Karl Towns</td>
			<td>St. Joseph's Metuchen</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/08/IsmaelSanogo100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-54299" /></td>
			<td>Ismael Sanogo</td>
			<td>Newark East Side</td>
			<td>Seton Hall</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/AbdulLewis100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45615" /></td>
			<td>Abdul Lewis</td>
			<td>Newark East Side</td>
			<td>South Alabama</td>
		</tr>
		<tr>
			<td></td>
			<td>Marial Shayok  </td>
			<td>Blair Academy</td>
			<td>Marquette</td>
		</tr>
		<tr>
			<td></td>
			<td>Brett Jolly</td>
			<td>Blair Academy</td>
			<td>St. Louis</td>
		</tr>
		<tr>
			<td></td>
			<td>Paul Jorgensen  </td>
			<td>Don Bosco Prep</td>
			<td>George Washington</td>
		</tr>
		<tr>
			<td></td>
			<td>Austin White  </td>
			<td>St. Peter's Prep</td>
			<td>High Point</td>
		</tr>
		<tr>
			<td></td>
			<td>Vic Jusino</td>
			<td>St. Peter’s Prep  </td>
			<td>Pace</td>
		</tr>
		<tr>
			<td></td>
			<td>Louie Pillari  </td>
			<td>CBA</td>
			<td>Navy</td>
		</tr>
		<tr>
			<td></td>
			<td>Quadri Moore  </td>
			<td>Linden</td>
			<td>Cincinnati</td>
		</tr>
		<tr>
			<td></td>
			<td>Cheddi Mosely</td>
			<td>St. Anthony  </td>
			<td>Boston U</td>
		</tr>
		<tr>
			<td></td>
			<td>Wade Baldwin  </td>
			<td>St. Joseph’s Metuchen  </td>
			<td>Vanderbilt</td>
		</tr>
		<tr>
			<td></td>
			<td>Raven Owen  </td>
			<td>St. Joseph’s Metuchen  </td>
			<td>Canisius</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
