<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Ryan Keller</td>
			<td>6-2</td>
			<td>Bangor, Pa.</td>
			<td>Pius X</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Rich Benoit</td>
			<td>6-3</td>
			<td>Stamford, Conn.</td>
			<td>Stamford High School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Eric Young</td>
			<td>6-0</td>
			<td>Wilbraham, Mass.</td>
			<td>Wilbraham &amp; Monson Academy </td>
			<td>2015</td>
		</tr>
		<tr>
			<td>David Ruiz</td>
			<td>5-11</td>
			<td>Spain</td>
			<td></td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Christian Mitchell</td>
			<td>6-0</td>
			<td>Lancaster, Pa.</td>
			<td>Manheim Township High School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Norris Brown</td>
			<td>6-0</td>
			<td>Colts Neck, N.J.</td>
			<td>Colts Neck High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Logan Weathers</td>
			<td>6-4</td>
			<td>Kernersville, N.C.</td>
			<td>Bishop McGuiness</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Michael Schroback</td>
			<td>5-11</td>
			<td>Hasbrouck Heights, N.J.</td>
			<td>Hasbrouck heights High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Isaac Mattson</td>
			<td>6-2</td>
			<td>Harbor Creek, Pa. </td>
			<td>Harbor Creek High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Wyatt Smith</td>
			<td>6-2</td>
			<td>Irondequoit, N.Y.</td>
			<td>West Irondequoit High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Travis Alvarez</td>
			<td>6-5</td>
			<td>Keyport, N.J.</td>
			<td>Keyport High School</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
