<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jabri McCall</td>
			<td>6-2</td>
			<td>Martin Luther King</td>
			<td>Philadelphia, Pa.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Vaughn Covington</td>
			<td>6-1</td>
			<td>Neumann-Goretti</td>
			<td>Philadelphia, Pa.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Anthony Lamb</td>
			<td>6-5</td>
			<td>Greece Athena</td>
			<td>Rochester, N.Y.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Jalen Melvin</td>
			<td>6-8</td>
			<td>Paul VI</td>
			<td>Fairfax, Va.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Alani Moore</td>
			<td>5-9</td>
			<td>DeMatha</td>
			<td>Hyattsville, Md.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>DeVonte Green</td>
			<td>6-1</td>
			<td>Our Savior New American</td>
			<td>Centereach, N.Y.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Kaleb Bishop</td>
			<td>6-5</td>
			<td>St. Peter's Prep</td>
			<td>Jersey City, N.J.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Austin Harriott</td>
			<td>6-5</td>
			<td>Germantown Friends</td>
			<td>Philadelphia, Pa.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Kassoum Yakwe</td>
			<td>6-7</td>
			<td>St. Mary's</td>
			<td>Manhassett, N.Y.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Omari Spellman</td>
			<td>6-7</td>
			<td>Middletown</td>
			<td>Middletown, N.Y.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Unique McLean</td>
			<td>6-1</td>
			<td>Hoosac School</td>
			<td>Hoosick, N.Y.</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
