<table>
	<tbody>
		<tr>
			<td>OBC (OH)</td>
			<td>Juice All-Stars (NY)</td>
			<td>SQBA (VA)</td>
		</tr>
		<tr>
			<td>Advanced Hoops (PA)</td>
			<td>Karolina Diamonds</td>
			<td>Squires Richmond</td>
		</tr>
		<tr>
			<td>Arkansas Hawks</td>
			<td>Kng Street Kings (NJ)</td>
			<td>Swish Hoops (PA)</td>
		</tr>
		<tr>
			<td>Atlanta Express</td>
			<td>Louisville Magic</td>
			<td>SYF Hoopmatics (IN)</td>
		</tr>
		<tr>
			<td>Bayside Ballers (PA)</td>
			<td>Maryland 3D</td>
			<td>Team Adidas PA</td>
		</tr>
		<tr>
			<td>Bmore Supreme</td>
			<td>Marylands Finest</td>
			<td>Team Breakdown (FL)</td>
		</tr>
		<tr>
			<td>Brooklyn Badgers</td>
			<td>Miami Tropics Elite</td>
			<td>Team Charlotte</td>
		</tr>
		<tr>
			<td>Brookwood Elite (CAN)</td>
			<td>Michigan Warriors</td>
			<td>Team Frenji (NY)</td>
		</tr>
		<tr>
			<td>BSYJ Canada Elite</td>
			<td>Mid Atlantic Select (MD)</td>
			<td>Team Future (MD)</td>
		</tr>
		<tr>
			<td>Carolina Wolves</td>
			<td>Monteverde Hoops (FL)</td>
			<td>Team Jersey Elite</td>
		</tr>
		<tr>
			<td>Cavemen DeGrego (PA)</td>
			<td>Montgomery Cougars (NJ)</td>
			<td>Team Loaded 757 (VA)</td>
		</tr>
		<tr>
			<td>Cecil Kirk (MD)</td>
			<td>NC Court Kings</td>
			<td>Team Loaded NC</td>
		</tr>
		<tr>
			<td>Competitive Edge Sports (PA)</td>
			<td>NC Red Storm</td>
			<td>Team Loaded VA</td>
		</tr>
		<tr>
			<td>Crusader Nation (MD)</td>
			<td>Nitro USA </td>
			<td>Team Loaded Ward</td>
		</tr>
		<tr>
			<td>CTS Just Play (PA)</td>
			<td>NJ Blaze</td>
			<td>Team Nashville</td>
		</tr>
		<tr>
			<td>Dayton Metro</td>
			<td>NJ Celtics</td>
			<td>Team Next (MD)</td>
		</tr>
		<tr>
			<td>DB Hoops (PA)</td>
			<td>NJ Roadrunners</td>
			<td>Team One (OH)</td>
		</tr>
		<tr>
			<td>DC Assault</td>
			<td>NJ Shoreshots</td>
			<td>Team Philly</td>
		</tr>
		<tr>
			<td>DC Assault Farrington</td>
			<td>NJ Thunder</td>
			<td>Team Phoenix (NC)</td>
		</tr>
		<tr>
			<td>DC Blue Devils</td>
			<td>Nortern Kings (CAN)</td>
			<td>Team Price (NY)</td>
		</tr>
		<tr>
			<td>DC Warriors</td>
			<td>Northeast Elite (PA)</td>
			<td>Team Richmond</td>
		</tr>
		<tr>
			<td>Dejuan Blair All Stars</td>
			<td>NW Ohio Basketball Club</td>
			<td>Team Sizzle (MD)</td>
		</tr>
		<tr>
			<td>Detroit Stars</td>
			<td>NY Panthers</td>
			<td>Team Speed (NJ)</td>
		</tr>
		<tr>
			<td>Detroit Stars</td>
			<td>Ohio Hoopsters</td>
			<td>Team Steady Buckets (NY)</td>
		</tr>
		<tr>
			<td>Dorian's Pride (MI)</td>
			<td>Ohio Phenoms</td>
			<td>Team Takeover B (VA)</td>
		</tr>
		<tr>
			<td>East Coaast Fusion Lemcke</td>
			<td>Ohio Stampede</td>
			<td>Team Thad (TN)</td>
		</tr>
		<tr>
			<td>ECF Dalton (VA)</td>
			<td>Ohio Varsity</td>
			<td>Team Toronto</td>
		</tr>
		<tr>
			<td>ECF Mackey (VA)</td>
			<td>PA Tarheels</td>
			<td>Team Work </td>
		</tr>
		<tr>
			<td>ECF Tisa (VA)</td>
			<td>Perkasie Knights (PA)</td>
			<td>Tennessee Velocity</td>
		</tr>
		<tr>
			<td>Etobicoke Thunder Elite</td>
			<td>Philly Ballhawks</td>
			<td>Texas GCBC Cagers</td>
		</tr>
		<tr>
			<td>Florida Elite Black</td>
			<td>Philly Pride</td>
			<td>The City (NY)</td>
		</tr>
		<tr>
			<td>Friar Nation (NJ)</td>
			<td>Pittsburgh Basketball Club</td>
			<td>UA Baltimore Finest</td>
		</tr>
		<tr>
			<td>Game Elite (GA)</td>
			<td>Pittsburgh Impact</td>
			<td>Uplay (CAN)</td>
		</tr>
		<tr>
			<td>Georgia Kings</td>
			<td>Q6 All Stars (FL)</td>
			<td>Upstate Basketball Club (NY)</td>
		</tr>
		<tr>
			<td>Grassroots Canada</td>
			<td>Queen City Prophets (OH)</td>
			<td>Upward Stars (SC)</td>
		</tr>
		<tr>
			<td>Hidden Gems (OH)</td>
			<td>Raritan Roundballers Blue (NJ)</td>
			<td>Virginia Assault</td>
		</tr>
		<tr>
			<td>Hoop Dreams (KY)</td>
			<td>Raritan Roundballlers Gold (NJ)</td>
			<td>Virginia Elite</td>
		</tr>
		<tr>
			<td>Hoop Grind Michigan</td>
			<td>Sam Rines (PA)</td>
			<td>Waterloo Wildhawks (CAN)</td>
		</tr>
		<tr>
			<td>House of Sports (NY)</td>
			<td>South Central Select</td>
			<td>Wayne PAL</td>
		</tr>
		<tr>
			<td>Hurricane Attack</td>
			<td>South Jersey Select</td>
			<td>We R 1</td>
		</tr>
		<tr>
			<td>Indiana Dawgs</td>
			<td>Southern Kings</td>
			<td>Welland Warriors (CAN)</td>
		</tr>
		<tr>
			<td>JB Hoops (PA)</td>
			<td>Southern Tier Rage (NY)</td>
			<td>WV Wildcats</td>
		</tr>
		<tr>
			<td>Jersey Select</td>
			<td>Sports U (NJ)</td>
			<td></td>
		</tr>
	</tbody>
</table>
