<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>School</th>
			<th>Grade</th>
			<th>Position</th>
			<th>Tiny's Notes</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>DANA CARBONE</td>
			<td>MONSIGNOR DONAVAN</td>
			<td>SENIOR</td>
			<td>SWING</td>
			<td>Could be 1st team before the year is over. One of  nicest kids in the shore..Monmouth bound</td>
		</tr>
		<tr>
			<td>EMILY URIBE</td>
			<td>SJV</td>
			<td>SOPHMORE</td>
			<td>SHOOTING GUARD</td>
			<td>One of the most underrated kids in the conference…look for a breakout year..</td>
		</tr>
		<tr>
			<td>LORENA HUBBARD</td>
			<td>NEPTUNE</td>
			<td>SENIOR</td>
			<td>CENTER</td>
			<td>Not only could she swing the balance in the shore..she could be POY...nobody knows what she is capable of doing? committed to Florida AM</td>
		</tr>
		<tr>
			<td>SAM FAMULARE</td>
			<td>FREEHOLD TWP</td>
			<td>JUNIOR</td>
			<td>SHOOTING GUARD</td>
			<td>Classic case of a kid under the radar. Again there are bigger reps..but a bigger game? look what this kid has done to date!</td>
		</tr>
		<tr>
			<td>JESS LOURO</td>
			<td>ST. ROSE HIGH SCHOOL</td>
			<td>JUNIOR</td>
			<td>COMBO-GUARD</td>
			<td>This is a crime putting her on 4th team.But this is her first full. Future 1st team player one day?</td>
		</tr>
	</tbody>
</table>
