<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jesse Case</td>
			<td>5-11</td>
			<td>Leesburg, Va.</td>
			<td>Heritage</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Braxton Nappier</td>
			<td>5-8</td>
			<td>Antioch, Tenn.</td>
			<td>Lighthouse Christian </td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Aubrey Allen</td>
			<td>6-3</td>
			<td>Georgetown, Del.</td>
			<td>Sussex Tech</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Malik Brown</td>
			<td>6-3</td>
			<td>Waldorf, Md.</td>
			<td>North Point</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Brandon Simmons</td>
			<td>6-7</td>
			<td>New York, N.Y.</td>
			<td>St. Agnes </td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Eric Dunbar</td>
			<td>5-7</td>
			<td>Arlington, Va.</td>
			<td>Bishop O'Connell</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Anthony Tate</td>
			<td>5-11</td>
			<td>Takokma Park, Md.</td>
			<td>Takoma Academy</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Umar Saaba</td>
			<td>6-2</td>
			<td>Philadelphia, Pa.</td>
			<td>Boys Latin</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Rachid Shimou</td>
			<td>6-2 </td>
			<td>Piscataway, N.J.</td>
			<td>Piscataway High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Mat Sulda</td>
			<td>6-0</td>
			<td>Easthampton, Mass.</td>
			<td>Williston Northampton</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Chiamaka Browne</td>
			<td>6-3</td>
			<td>Syracuse, N.Y.</td>
			<td>Syracuse Academy of Science</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>James Smith</td>
			<td>5-11</td>
			<td>Hillsborough, N.J.</td>
			<td>Hillsborough High School</td>
			<td>2014</td>
		</tr>
	</tbody>
</table>
