<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Donovan Wright</td>
			<td>6-5</td>
			<td>Blairstown, N.J.</td>
			<td>Blair Academy</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Gemil Holbrook</td>
			<td>6-4</td>
			<td>Philadelphia, Pa.</td>
			<td>Roman Catholic</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Ed Polite</td>
			<td>6-4</td>
			<td>Lehman, Md.</td>
			<td>DuVal</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Patrick Andree</td>
			<td>6-7</td>
			<td>Lincroft, N.J.</td>
			<td>Christian Brothers Academy</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Cameron Lewis</td>
			<td>6-7</td>
			<td>Buffalo, N.Y.</td>
			<td>Nicholas School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Alani Moore</td>
			<td>5-9</td>
			<td>Hyattsville, Md.</td>
			<td>DeMatha High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Jair Bolden</td>
			<td>6-4</td>
			<td>West Chester, Pa.</td>
			<td>Westtown High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Karl Charles</td>
			<td>6-4</td>
			<td>Somerset, N.J.</td>
			<td>Rutgers Prep</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Kani Coles</td>
			<td>6-5</td>
			<td>Baltimore, Md.</td>
			<td>Edmondson Westside</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Branden Aughburns</td>
			<td>6-8</td>
			<td>Milford, Conn.</td>
			<td>Canterbury Prep</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Terrell Allen</td>
			<td>6-2</td>
			<td>Hyattsville, Md.</td>
			<td>DeMatha High School</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
