<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Most Outstanding Player</td>
			<td>Cory Hicks</td>
			<td>6-0</td>
			<td>Summit Academy North (Mich.) High School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Domonique Senet</td>
			<td>6-6</td>
			<td>Elmont Memorial (N.Y.) High School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Raul Barbosa</td>
			<td>6-4</td>
			<td>Reading (Pa.) High School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>All-Star MVP</td>
			<td>Dwight Whitlock</td>
			<td>6-1</td>
			<td>Central Dauphin East (Pa.) High School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Nicholas Gittings</td>
			<td>6-6</td>
			<td>Good Counsel (Md.) High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Phill Polanco</td>
			<td>5-2</td>
			<td>Pleasantville (N.J.) High School</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
