<table>
	<tbody>
		<tr>
			<td>Queen City Prophets (OH)</td>
			<td>WV Generals</td>
			<td>Pittsburgh Legend</td>
		</tr>
		<tr>
			<td>Team Loaded</td>
			<td>Cavemen DeGregorio</td>
			<td>D Squad (NY)</td>
		</tr>
		<tr>
			<td>Team Adidas PA</td>
			<td>OBC East (OH)</td>
			<td>Cavemen Smith (PA)</td>
		</tr>
		<tr>
			<td>Sports U (NJ)</td>
			<td>Pittsburgh Basketball Club</td>
			<td>Blessed Sacrament (CAN)</td>
		</tr>
		<tr>
			<td>Hidden Gems Black (OH)</td>
			<td>DC Assault</td>
			<td>Detroit Stars</td>
		</tr>
		<tr>
			<td>Ohio Hoys Elite</td>
			<td>OBC West (OH)</td>
			<td>Detroit Stars</td>
		</tr>
		<tr>
			<td>Derby State Thoroughbreds (KY)</td>
			<td>York Ballers (PA)</td>
			<td>Cavemen Lindenbaum (PA)</td>
		</tr>
		<tr>
			<td>Brampton Warriors</td>
			<td>Classics Coast2Coast</td>
			<td>Murphy AC (OH)</td>
		</tr>
		<tr>
			<td>Hoop Dreams (KY)</td>
			<td>Team Toronto</td>
			<td>Maryland 3D</td>
		</tr>
		<tr>
			<td>Team Future (MD)</td>
			<td>NW Ohio Basketball Club</td>
			<td>Gainesville Kings (FL)</td>
		</tr>
		<tr>
			<td>Fairfax Stars</td>
			<td>Northern Kings (CAN)</td>
			<td></td>
		</tr>
	</tbody>
</table>
