<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Darius Kinnel</td>
			<td>5-10</td>
			<td>Charles Lewis MS</td>
			<td>Blackwood, N.J.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Montez Mathis</td>
			<td>6-1</td>
			<td>Magnolia</td>
			<td>Jappa, Md.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Lucas Warhaftig</td>
			<td>5-9</td>
			<td>Englewood</td>
			<td>Englewood, N.J.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Aaron Clarke</td>
			<td>5-11</td>
			<td>St. Pius X MS</td>
			<td>Montville, N.J.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Luther Muhammed</td>
			<td>6-0</td>
			<td>St. Benedict's</td>
			<td>Newark, N.J.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>DeJourn Cook</td>
			<td>6-4</td>
			<td>Richfield Park</td>
			<td>Richfield Park, N.J.</td>
			<td>2019</td>
		</tr>
		<tr>
			<td>Armani Sexton</td>
			<td>6-3</td>
			<td>P.S. 10</td>
			<td>Paterson, N.J.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Jaquay James</td>
			<td>5-9</td>
			<td>Englewood</td>
			<td>Englewood, N.J.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>D'Marco Baucum</td>
			<td>6-4</td>
			<td>Washington Jesuit</td>
			<td>Washington, D.C.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Rasir Bolton</td>
			<td>5-8</td>
			<td>Life Church Academy</td>
			<td>Richmond, Va.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Hector Dixon</td>
			<td>5-5</td>
			<td>Reading</td>
			<td>Reading, Pa.</td>
			<td>2018</td>
		</tr>
	</tbody>
</table>
