<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Will Yarbrough</td>
			<td>5-11</td>
			<td>Summit MS</td>
			<td>Summit, N.J.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Peter Ilardo</td>
			<td>6-4</td>
			<td>Cathedral</td>
			<td>Baltimore, Md.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Bernard Lightsey</td>
			<td>6-0</td>
			<td>Mastery Charter</td>
			<td>Philadelphia, Pa.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Justin Anderson</td>
			<td>5-9</td>
			<td>Chestnut Hill Academy</td>
			<td>Philadelphia, Pa.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Kyree Seabury</td>
			<td>5-5</td>
			<td>Reading</td>
			<td>Reading, Pa.</td>
			<td>2019</td>
		</tr>
		<tr>
			<td>Michael Watkins</td>
			<td>6-0</td>
			<td>St. Joseph's</td>
			<td>Roselle, N.J.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Isaiah Mucius</td>
			<td>6-3</td>
			<td>Fessenden School</td>
			<td>Boston, Mass.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Shiriff Kenny</td>
			<td>6-2</td>
			<td>Washington Jesuit</td>
			<td>Washington, D.C.</td>
			<td>2019</td>
		</tr>
		<tr>
			<td>Justin Winston</td>
			<td>6-4</td>
			<td>Liberty MS</td>
			<td>West Orange, N.J.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Jahvon Quinerly</td>
			<td>5-10</td>
			<td>St. Benedict's</td>
			<td>Newark, N.J.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Jared Bynum</td>
			<td>5-3</td>
			<td>Washington Jesuit</td>
			<td>Washington, D.C.</td>
			<td>2018</td>
		</tr>
	</tbody>
</table>
