<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>School</th>
			<th>Position</th>
			<th>Tiny's Notes</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>STELLA CLARK</td>
			<td>MANASQUAN</td>
			<td>POINT GUARD</td>
			<td>She could be the best Freshman Point Guard since former POY Jackie Kates</td>
		</tr>
		<tr>
			<td>KIMI EVANS</td>
			<td>SJV</td>
			<td>CENTER</td>
			<td>Will be a dominate player in the shore one day. Her practices may be tougher than some games</td>
		</tr>
		<tr>
			<td>HANNAH SCANLON </td>
			<td>RUMSON-FAIR HEAVEN</td>
			<td>CENTER</td>
			<td> At 6'2 RFH will need her to step up big time. Her play vs Gil Bernard sent a big message and she could be the surprise of the year</td>
		</tr>
		<tr>
			<td>VICTORIA GALVAN</td>
			<td>MANASQUAN HIGH SCHOOL</td>
			<td>POWER FORWARD</td>
			<td>Athletic , big, quick and is a major factor..her skill sets and passing skills...wow</td>
		</tr>
		<tr>
			<td>MEGAN HUGHES</td>
			<td>POINT BORO</td>
			<td>SHOOTING GUARD</td>
			<td>There is no question in my mind she will lead All Freshman in scoring and be a 1000th point scorer one day…she has the right name for sure</td>
		</tr>
		<tr>
			<td>TIA MONTANGE</td>
			<td>RED BANK CATHOLIC HS</td>
			<td>COMBO-GUARD</td>
			<td>super talented, great quickness and speed with the ability to bang out deep 3’s</td>
		</tr>
		<tr>
			<td>JOSIE LARKINS</td>
			<td>RED BANK CATHOLIC HS</td>
			<td>COMBO-GUARD</td>
			<td>Rare frehman who can already defend, can make shots..very confident..future  ALL SHORE STUD</td>
		</tr>
		<tr>
			<td>JENNIER LOURO</td>
			<td>ST. ROSE HIGH SCHOOL</td>
			<td>SHOOTING GUARD</td>
			<td>Baby sister can play folks, very quick and smart. More importantly  a playmaker</td>
		</tr>
		<tr>
			<td>ADDIE MASONIUS</td>
			<td>MANASQUAN HIGH SCOOL</td>
			<td>POINT GUARD</td>
			<td>Talented and tough as nails, will give Manasquan much needed ball handling</td>
		</tr>
		<tr>
			<td>ELLYN STOLL</td>
			<td>ST. ROSE HIGH SCHOOL</td>
			<td>SHOOTING GUARD</td>
			<td>Pure shooter, no question a future Division one player. Great work ethic and IQ</td>
		</tr>
		<tr>
			<td>MAUREEN COAKLEY</td>
			<td>RED BANK CATHOLIC</td>
			<td>FORWARD</td>
			<td>Talented post player, who is not afraid to mix it up...she will see mins for RBC</td>
		</tr>
		<tr>
			<td>ALEX PENDERGRASS</td>
			<td>ST. ROSE HIGH SCHOOL</td>
			<td>SWING</td>
			<td>The best athlete I ever seen in all my years watching shore basketball..</td>
		</tr>
	</tbody>
</table>
