<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jordan Guzman</td>
			<td>5-9</td>
			<td>Brooklyn, N.Y.</td>
			<td>Xaverian High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Conor Peterson</td>
			<td>6-1</td>
			<td>New York, N.Y.</td>
			<td>Regis</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>John Turner</td>
			<td>6-2</td>
			<td>Bowie, Md.</td>
			<td>Archbishop Carroll</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Matthew DeWolf</td>
			<td>6-7</td>
			<td>Barrington, R.I.</td>
			<td>Barrington High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Steven Ferraro</td>
			<td>5-11</td>
			<td>West Orange, N.J.</td>
			<td>Seton Hall Prep</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Everette Hammond</td>
			<td>6-1</td>
			<td>Silver Spring, Md.</td>
			<td>Palotti</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Mikey Dixon</td>
			<td>5-10</td>
			<td>Wilmington, De.</td>
			<td>Sanford</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Damon Stern</td>
			<td>5-10</td>
			<td>Reading, Pa.</td>
			<td>Reading High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Sean Hoggs</td>
			<td>6-0</td>
			<td>Trenton, N.J.</td>
			<td>Notre Dame</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Patrick Jamison</td>
			<td>5-8</td>
			<td>West Orange, N.J.</td>
			<td>Seton Hall Prep</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
