<table>
	<thead>
		<tr>
			<th>Session</th>
			<th>Boys &amp; Girls</th>
			<th>Class Day</th>
			<th>Time</th>
			<th>Sign-up</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>October 14</td>
			<td>All ages</td>
			<td>Monday</td>
			<td>9am-2pm</td>
			<td>sign-up here</td>
		</tr>
	</tbody>
</table>
