<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Brendan Barcas</td>
			<td>6-0</td>
			<td>Wall, N.J.</td>
			<td>Wall HS</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Michael Rice</td>
			<td>5-9</td>
			<td>Little Silver, N.J.</td>
			<td>Red Bank Regional</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Ryan Jensen</td>
			<td>6-4</td>
			<td>Manasquan, N.J.</td>
			<td>Manasquan HS</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Bennett Kautz</td>
			<td>5-7</td>
			<td>Bridgewater, N.J.</td>
			<td>Bridgewater-Raritan</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Skyler Kolli</td>
			<td>5-9</td>
			<td>Indianapolis, Ind.</td>
			<td>International School of Indiana</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Khalil Prescod</td>
			<td>6-2</td>
			<td>Markham, Ontario</td>
			<td>Bill Crothers</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Gabe Ceribelli</td>
			<td>6-0</td>
			<td>Parkton, Md.</td>
			<td>Hererford</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Matthew Burns</td>
			<td>6-0</td>
			<td>Syracuse, N.Y.</td>
			<td>Christian Brothers Academy</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Sebastien Pierre-Louis</td>
			<td>6-1</td>
			<td>Lawrenceville, N.J.</td>
			<td>The Lawrenceville School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Sam Norton</td>
			<td>6-1</td>
			<td>Pottstown, Pa.</td>
			<td>Hill School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
