<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Tyler Brecher</td>
			<td>6-3</td>
			<td>Naples, Fla.</td>
			<td>First Baptist Academy</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Anthony Cadogan</td>
			<td>6-5</td>
			<td>Westbury, N.Y.</td>
			<td>Westbury High School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Mitch Pfeifer</td>
			<td>6-2</td>
			<td>Wales, Wis.</td>
			<td>Kettle Moraine</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Marlon Adams</td>
			<td>6-3</td>
			<td>Middletown, N.Y.</td>
			<td>Middletown High School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Reggie Rouse</td>
			<td>5-9</td>
			<td>Baltimore, Md.</td>
			<td>Calvert Hall</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Michael Fields</td>
			<td>5-9</td>
			<td>Fresh Meadows, N.Y.</td>
			<td>St. Francis Prep</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Trey Johnson</td>
			<td>6-2</td>
			<td>Fairfax, Va.</td>
			<td>WT Woodson</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Shyler Ringgold</td>
			<td>6-5</td>
			<td>Wilmington, Del.</td>
			<td>Delcastle</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Ted Stavetski</td>
			<td>6-4</td>
			<td>Haddonfield, N.J.</td>
			<td>Haddonfield Memorial</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Franklin Webb</td>
			<td>6-0</td>
			<td>Baltimore, Md.</td>
			<td>Mt. Carmel</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Grayson Midull</td>
			<td>6-3</td>
			<td>Glen Allen, Va.</td>
			<td>Glen Allen High School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Jason Jolly</td>
			<td>5-5</td>
			<td>Chesapeake, Va.</td>
			<td>Stonebridge</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
