<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Bryan Rivers</td>
			<td>6-1</td>
			<td>West Windsor, N.J.</td>
			<td>Peddie School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Corey Henson</td>
			<td>6-2</td>
			<td>Hyattsville, Md.</td>
			<td>DeMatha High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Timothy Bond</td>
			<td>6-5</td>
			<td>Baltimore, Md.</td>
			<td>City College High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Seth Townes</td>
			<td>6-8</td>
			<td>Columbus, Ohio</td>
			<td>Northland High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Diago Quinn</td>
			<td>6-8</td>
			<td>Lake Forest, Ill.</td>
			<td>Lake Forest Academy</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Troy Harper</td>
			<td>6-1</td>
			<td>Philadelphia, Pa.</td>
			<td>Neumann Goretti</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Darian Bryant</td>
			<td>6-4</td>
			<td>Washington, D.C.</td>
			<td>St. John's College</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Basil Thompson</td>
			<td>6-6</td>
			<td>Philadelphia, Pa.</td>
			<td>Imhotep Charter</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Rashard Kelly</td>
			<td>6-7</td>
			<td>Philadelphia, Pa.</td>
			<td>Hargrave Military</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Horace Spencer</td>
			<td>6-8</td>
			<td>Warminster, Pa.</td>
			<td>William Tennent</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Desi Rodriguez</td>
			<td>6-6</td>
			<td>Brooklyn, N.Y.</td>
			<td>Lincoln High School</td>
			<td>2014</td>
		</tr>
	</tbody>
</table>
