<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School </th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Khary Mauras</td>
			<td>5-11</td>
			<td>Reading, PA</td>
			<td>Reading</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Raul Barbosa</td>
			<td>6-2</td>
			<td>Reading, PA</td>
			<td>Reading</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Davey Wetherhold</td>
			<td>5-8 </td>
			<td>Catasauqua, PA</td>
			<td>Catasauqua</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Cory Hicks</td>
			<td>6-0</td>
			<td>Romulus, MI</td>
			<td>Summit Academy North</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Warren Jones</td>
			<td>6-2</td>
			<td>Brooklyn, NY</td>
			<td>Global Citizenship</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Jibreel Ahmad</td>
			<td>5-10</td>
			<td>Newark, NJ</td>
			<td>East Side</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>DeShawn Millington</td>
			<td>5-11</td>
			<td>Carlisle, PA</td>
			<td>Carlisle</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Domonique Senet</td>
			<td>6-6</td>
			<td>Elmont, NY</td>
			<td>Elmont Memorial</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Gregg Boyd</td>
			<td>5-9</td>
			<td>Clinton, MD</td>
			<td>Eleanor Roosevelt</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Nicholas Gittings</td>
			<td>6-6</td>
			<td>Olney, MD</td>
			<td>Good Counsel</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Ryan Matthews</td>
			<td>6-0</td>
			<td>Oradell, NJ</td>
			<td>Bergen Catholic</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
