<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Vaughn Covington</td>
			<td>6-1</td>
			<td>Philadelphia, Pa.</td>
			<td>Neumann Goretti</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>DeVante Cross</td>
			<td>6-1</td>
			<td>Allentown, Pa.</td>
			<td>Parkland High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Breein Tyre</td>
			<td>5-8</td>
			<td>Metuchen, N.J.</td>
			<td>St. Joseph's Metuchen</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Bruce Moore, Jr.</td>
			<td>6-5</td>
			<td>Owings Mills, Md.</td>
			<td>McDonogh School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Zane Martin</td>
			<td>6-0</td>
			<td>Philadelphia, Pa.</td>
			<td>Neumann Goretti</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Elijah Miller </td>
			<td>5-11</td>
			<td>Etobicoke, Canada</td>
			<td>Richview Collegiate</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Kyle Elliott</td>
			<td>6-1</td>
			<td>Roselle, N.J.</td>
			<td>Roselle Catholic</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Jamal Wright</td>
			<td>5-9</td>
			<td>Potomac, Md. </td>
			<td>Bullis</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Gianni Ford</td>
			<td>6-0</td>
			<td>Brooklyn, N.Y.</td>
			<td>Boys &amp; Girls High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Tareq Coburn</td>
			<td>6-2 </td>
			<td>Bayside, N.Y.</td>
			<td>Cardozo High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Jake O'Neill</td>
			<td>6-9</td>
			<td>Richland, N.J.</td>
			<td>St. Augustine's</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
