<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Marquis Powell</td>
			<td>6-0</td>
			<td>Upper Marlboro, Md.</td>
			<td>Riverdale Baptist</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Caleb Mercer</td>
			<td>6-3</td>
			<td>Concord, N.C.</td>
			<td>First Assembly Christian School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Brandon Robinson</td>
			<td>6-5</td>
			<td>Montreal, Can. </td>
			<td>Dawson College Prep</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Curtis Hyman</td>
			<td>6-5</td>
			<td>New Britain, Conn.</td>
			<td>New Britain</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Kevin Marfo</td>
			<td>6-6</td>
			<td>Oradell, N.J.</td>
			<td>Bergen Catholic</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Aaron Briggs</td>
			<td>5-11</td>
			<td>Potoman, Md.</td>
			<td>Bullis</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Romello Walker</td>
			<td>6-6</td>
			<td>Kent, Conn.</td>
			<td>South Kent</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Marcel Thompson</td>
			<td>6-4</td>
			<td>Brooklandville, Md.</td>
			<td>Poly</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Nikola Maric</td>
			<td>6-6</td>
			<td>Prijepolje, Serb.</td>
			<td></td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Lionel Owona</td>
			<td>6-7</td>
			<td>Bel Air, Md.</td>
			<td>Archbishop John Carroll</td>
			<td>2014</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
