<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/01/KarlTowns100.jpg" alt="" title="SONY DSC" width="100" height="120" class="aligncenter size-full wp-image-27907" /></td>
			<td>Karl Towns</td>
			<td>St. Joseph's Metuchen</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/01/JoshBrown100.jpg" alt="" title="Hoop Groop Jam Fest" width="100" height="120" class="aligncenter size-full wp-image-27905" /></td>
			<td>Josh Brown</td>
			<td>St. Anthony</td>
			<td>Temple</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/09/HalliceCooke100.jpg" alt="" title="HalliceCooke100" width="100" height="120" class="aligncenter size-full wp-image-12702" /></td>
			<td>Hallice Cooke</td>
			<td>St. Anthony</td>
			<td>Oregon State</td>
		</tr>
		<tr>
			<td></td>
			<td>Kentrell Brooks</td>
			<td>St. Anthony</td>
			<td>Marist</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/01/TimColeman100.jpg" alt="" title="TimColeman100" width="100" height="120" class="aligncenter size-full wp-image-27906" /></td>
			<td>Tim Coleman</td>
			<td>St. Anthony</td>
			<td>NJIT</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/01/JimmieWalsh100.jpg" alt="" title="JimmieWalsh100" width="100" height="120" class="aligncenter size-full wp-image-27916" /></td>
			<td>Jimmy Walsh</td>
			<td>Manasquan</td>
			<td>Stonehill</td>
		</tr>
		<tr>
			<td></td>
			<td>Riley Calzonetti</td>
			<td>Point Pleasant Beach</td>
			<td>CW Post</td>
		</tr>
	</tbody>
</table>
