<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Matthew Kachelries</td>
			<td>5-9</td>
			<td>Emmaus</td>
			<td>Emmaus, Pa.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Tyheem Bruno</td>
			<td>5-10</td>
			<td>Hudson Catholic</td>
			<td>Jersey City, N.J.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Devin Clyburn</td>
			<td>6-3</td>
			<td>Rectory School</td>
			<td>New York, N.Y.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Jake Livingston</td>
			<td>6-3</td>
			<td>Fox Chapel</td>
			<td>Pittsburgh, Pa.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Isiah Carpenter</td>
			<td>6-7</td>
			<td>Notre Dame</td>
			<td>Lawrence, N.J.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Tre Wood</td>
			<td>5-10</td>
			<td>Sheridan School</td>
			<td>Washington, D.C.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>David Kachelries</td>
			<td>5-9</td>
			<td>Emmaus</td>
			<td>Emmaus, Pa.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Ahmad Wimbush</td>
			<td>6-2</td>
			<td>Imhotep</td>
			<td>Philadelphia, Pa.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Maleek McKnight</td>
			<td>6-1</td>
			<td>Marist</td>
			<td>Bayonne, N.J.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Kevin Davis</td>
			<td>5-11</td>
			<td>Namesmond River</td>
			<td>Suffolk, Va.</td>
			<td>2017</td>
		</tr>
	</tbody>
</table>
