<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>School</th>
			<th>Grade</th>
			<th>Position</th>
			<th>Tiny's Notes</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>ELLEN DOUGHERTY</td>
			<td>WALL HIGH SCHOOL</td>
			<td>SENIOR</td>
			<td>COMBO GUARD</td>
			<td>One of the best stories of the year. One of the fastest players in the state..committed to West Point Prep</td>
		</tr>
		<tr>
			<td>NICOLE MORRIS</td>
			<td>RUMSON FAIR-HAVEN</td>
			<td>SOPHOMORE</td>
			<td>POINT GUARD</td>
			<td>Has offers from just about every Division one school in the area. No question she is special </td>
		</tr>
		<tr>
			<td>KELLY CAMPBELL</td>
			<td>SJV</td>
			<td>SOPHOMORE</td>
			<td>POINT GUARD</td>
			<td>If you don’t know her name by now, your living in a cave. She is bigger and stronger this year. SUPERSTAR</td>
		</tr>
		<tr>
			<td>ALEX BARAZOTTI</td>
			<td>RED BANK CATHOLIC H.S</td>
			<td>JUNIOR</td>
			<td>COMO-GUARD</td>
			<td>let me be clear… I believe she has a just to end up on the first team…the most improved guard I have seen in YEARS!
</td>
		</tr>
		<tr>
			<td>STEPHAINE KARCZ</td>
			<td>MIDDLE-TOWN SOUTH HS</td>
			<td>SOPHOMORE </td>
			<td>COMBO-GUARD</td>
			<td>The only question is how good can she be? Major College Body and underrated quick's and speed</td>
		</tr>
	</tbody>
</table>
