<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>School</th>
			<th>Grade</th>
			<th>Position</th>
			<th>Notes</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>KATELYNN FLAHERTY</td>
			<td>PT.BEACH HIGH SCHOOL</td>
			<td>SENIOR</td>
			<td>GUARD</td>
			<td>She has the not only has the talent and ability but she can turn your gym against you with her exciting play…off to Michigan next year</td>
			<td></td>
		</tr>
		<tr>
			<td>MARINA MABREY</td>
			<td>PT. BEACH HIGH SCHOOL</td>
			<td>JUNIOR</td>
			<td>FORWARD</td>
			<td>She is the most difficult cover in the shore because she can do so much in so many ways.</td>
			<td></td>
		</tr>
		<tr>
			<td>GRACE STANT</td>
			<td>RUMSON-FAIR HEAVEN</td>
			<td>JUNIOR</td>
			<td>POINT FORWARD</td>
			<td> She could be the most complete player in the shore conference… Gave verbal to Villanova</td>
			<td></td>
		</tr>
		<tr>
			<td>SAM SULLIVAN</td>
			<td>MANASQUAN HIGH SCHOOL</td>
			<td>SENIOR</td>
			<td>POWER FOWARD</td>
			<td>Easily the best back to the basket post player, who has off the charts passing skills…Wagner Bound</td>
			<td></td>
		</tr>
		<tr>
			<td>KATIE SIRE</td>
			<td>RARITAN HIGH SCHOOL</td>
			<td>SENIOR</td>
			<td>WING</td>
			<td>The best true wing player in the shore, will end up on a Division 1 Roster and become the next Megan McGuinness</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
