<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Cameron Norman</td>
			<td>5-10</td>
			<td>Severn School</td>
			<td>Severn Park, Md.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>LeAndre Washington</td>
			<td>6-0</td>
			<td>Teaneck</td>
			<td>Teaneck, N.J.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Zach Bruno</td>
			<td>6-2</td>
			<td>William Allen</td>
			<td>Allentown, Pa.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Taj Benning</td>
			<td>6-0</td>
			<td>Bergen Catholic</td>
			<td>Oradel, N.J.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Mitchell Phillips</td>
			<td>6-4</td>
			<td>Timberlane MS</td>
			<td>Pennington, N.J.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Daron Russell</td>
			<td>5-9</td>
			<td>Imhotep</td>
			<td>Philadelphia, Pa.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Ryan Allen</td>
			<td>5-11</td>
			<td>DeMatha</td>
			<td>Hyattsville, Md.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Jordan Thomas</td>
			<td>6-2</td>
			<td>M.S. 61</td>
			<td>Brooklyn, N.Y.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Myles Dread</td>
			<td>6-3</td>
			<td>Glenelg Country School</td>
			<td>Ellicott City, Md.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Nazreon Reid</td>
			<td>6-6</td>
			<td>Asbury Park MS</td>
			<td>Asbury Park, N.J.</td>
			<td>2018</td>
		</tr>
	</tbody>
</table>
