<table>
	<thead>
		<tr>
			<th>Session</th>
			<th>Boys &amp; Girls</th>
			<th>Class Days</th>
			<th>Times</th>
			<th>Sign Up</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Feb 10</td>
			<td>Grade 4-9</td>
			<td>Sunday</td>
			<td>10:30AM-12:30PM </td>
			<td>Call To Confirm Space</td>
		</tr>
	</tbody>
</table>
