<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Ahmad Harrison</td>
			<td>6-2</td>
			<td>Newark, N.J.</td>
			<td>East Side High School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Nyrique Smith</td>
			<td>6-2</td>
			<td>Arlington, Va.</td>
			<td>Bishop O'Connel</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Justin Simon</td>
			<td>6-4</td>
			<td>Temecula Valley, Calif. </td>
			<td>Temecula Valley</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Marquis Collins</td>
			<td>6-6</td>
			<td>Chester, Pa.</td>
			<td>Chester High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>John Sica</td>
			<td>6-7</td>
			<td>Delmar, N.Y.</td>
			<td>Bethlehem</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Marcus Floyd</td>
			<td>5-10</td>
			<td>Malvern, Pa.</td>
			<td>Phelps</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Caesar DeJesus</td>
			<td>6-2</td>
			<td>Teaneck, N.J.</td>
			<td>Teaneck High School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Myles Stephens</td>
			<td>6-4</td>
			<td>Wilmington, Del.</td>
			<td>St. Andrews</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Lamar Stevens</td>
			<td>6-7</td>
			<td>Jenkintown, Pa.</td>
			<td>Abington Friends</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Steven Enoch</td>
			<td>6-9</td>
			<td>Norwalk, Conn.</td>
			<td>Norwalk High School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Shakur Juiston</td>
			<td>6-6</td>
			<td>Irvington, N.J.</td>
			<td>Irvington High School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Jeantal Cylia</td>
			<td>6-6</td>
			<td>Boynton Beach, Fla.</td>
			<td>Lake Worth Christian</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
