<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Aaron Thompson</td>
			<td>5-8</td>
			<td>Paul VI</td>
			<td>Fairfax, Va.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Donald Flores</td>
			<td>5-8</td>
			<td>St. Raymond's</td>
			<td>Bronx, N.Y.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>D.J. Mitchell</td>
			<td>6-3</td>
			<td>DeMatha</td>
			<td>Hyattsville, Md.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Losini Kamara</td>
			<td>6-2</td>
			<td>Long Island Lutheran</td>
			<td>Long Island, N.Y.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Marcus McCleary</td>
			<td>6-3 </td>
			<td>The Patrick School</td>
			<td>Elizabeth, N.J.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Quade Green</td>
			<td>5-11</td>
			<td>Neumann-Goretti</td>
			<td>Philadelphia, Pa.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>David Beatty</td>
			<td>6-3</td>
			<td>Archbishop Carroll</td>
			<td>Wayne, Pa.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Jordan Tucker</td>
			<td>6-5</td>
			<td>White Plains</td>
			<td>White Plains, N.Y.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Myles Douglas</td>
			<td>6-5</td>
			<td>Friends</td>
			<td>Baltimore, Md.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Mohammed Bamba</td>
			<td>6-7</td>
			<td>Cardigan Mountain School</td>
			<td>Canaan, N.H.</td>
			<td>2017</td>
		</tr>
	</tbody>
</table>
