<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Sean Hoehn</td>
			<td>6-3</td>
			<td>Morristown High School</td>
			<td>Morristown, N.J.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Robbie Kennedy</td>
			<td>6-1</td>
			<td>Christian Brothers Academy</td>
			<td>Lincroft, N.J.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Caleb Mercer</td>
			<td>6-3</td>
			<td>First Assembly Christian School</td>
			<td>Davidson, N.C.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Jordan Phelps</td>
			<td>6-6</td>
			<td>Westtown High School</td>
			<td>Westtown, Pa.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Nasser Al-Rayes</td>
			<td>6-10</td>
			<td>American School of Doha</td>
			<td>Doha, Qatar</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Jamani Spencer</td>
			<td>6-1</td>
			<td>Sierra Canyon High School</td>
			<td>Chatsworth, Calif.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Austin White</td>
			<td>6-0</td>
			<td>St. Peter's Prep</td>
			<td>Jersey City, N.J.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Louis Pillari</td>
			<td>6-4</td>
			<td>Christian Brothers Academy</td>
			<td>Lincroft, N.J.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Michael Deleon</td>
			<td>6-5</td>
			<td>Olgentangy Liberty</td>
			<td>Lewis Center, Ohio</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Mitch Cohen</td>
			<td>6-8</td>
			<td>Sparta High School</td>
			<td>Sparta Township, N.J.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Robbie Walsh</td>
			<td>6-8</td>
			<td>Summit High School</td>
			<td>Summit, N.J.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Johnnie Vassar</td>
			<td>6-0</td>
			<td>Jserra Catholic</td>
			<td>San Juan Capistrano, Calif.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Justin Kovacevich</td>
			<td>6-6</td>
			<td>Montgomery High School</td>
			<td>Skillman, N.J.</td>
			<td>2014</td>
		</tr>
	</tbody>
</table>
