<table>
	<tbody>
		<tr>
			<td>Advanced Hoops (PA)</td>
			<td>JCBC (NJ)</td>
			<td>Queen City Prophets (OH)</td>
		</tr>
		<tr>
			<td>All Ohio Purple</td>
			<td>Kids Plus (NJ)</td>
			<td>Q6 All-Stars (FL)</td>
		</tr>
		<tr>
			<td>Atlanta Express</td>
			<td>King Street Kings</td>
			<td>Renegades (PA)</td>
		</tr>
		<tr>
			<td>Baltimore Supreme</td>
			<td>Loudoun Triple Threat (MD)</td>
			<td>Showtime All Stars (NC)</td>
		</tr>
		<tr>
			<td>Brampton Warriors/ CIA Bounce</td>
			<td>Louisville Magic</td>
			<td>Southern Elite (LA)</td>
		</tr>
		<tr>
			<td>Brookwood Elite (CAN)</td>
			<td>Maryland 3D</td>
			<td>Southern Kings</td>
		</tr>
		<tr>
			<td>BSYJ Canada Elite</td>
			<td>Marylands Finest</td>
			<td>Southern Kings</td>
		</tr>
		<tr>
			<td>Carolina Wolves</td>
			<td>MASSolutions (MA)</td>
			<td>Speice Indy Heat </td>
		</tr>
		<tr>
			<td>Castle Athletics (NY)</td>
			<td>Michigan Wolves</td>
			<td>Sports U (NJ)</td>
		</tr>
		<tr>
			<td>CJ Future Stars (NJ</td>
			<td>Nashville Flood</td>
			<td>St. David (CAN)</td>
		</tr>
		<tr>
			<td>CJ Knights (NJ)</td>
			<td>NC Redstorm</td>
			<td>Team Charlotte</td>
		</tr>
		<tr>
			<td>Club Ohio</td>
			<td>New Heights (NY)</td>
			<td>Team FOE (PA)</td>
		</tr>
		<tr>
			<td>Columbus Kings</td>
			<td>NJ Got Game</td>
			<td>Team Loaded 757 (VA)</td>
		</tr>
		<tr>
			<td>Crusader Nation (MD)</td>
			<td>NJ Roadrunners</td>
			<td>Team Loaded Gore (VA)</td>
		</tr>
		<tr>
			<td>Dayton Metro</td>
			<td>NJ Shoreshots</td>
			<td>Team Loaded Shelton (VA)</td>
		</tr>
		<tr>
			<td>DB Hoops (PA)</td>
			<td>North Bay (CA)</td>
			<td>Team Loaded Williams (VA)</td>
		</tr>
		<tr>
			<td>DC Assault</td>
			<td>Northeast Elite (PA)</td>
			<td>Team Nashville</td>
		</tr>
		<tr>
			<td>East Coast Fusion (VA)</td>
			<td>Northern Kings</td>
			<td>Team NOLA</td>
		</tr>
		<tr>
			<td>Elite Sports Center (WV)</td>
			<td>NW Ohio Basketball Club</td>
			<td>Team Philly</td>
		</tr>
		<tr>
			<td>Fairfax Stars</td>
			<td>NY Gauchos</td>
			<td>Team Richmond</td>
		</tr>
		<tr>
			<td>Friar Nation (NJ)</td>
			<td>NY Panthers</td>
			<td>Team Takeover Black (VA)</td>
		</tr>
		<tr>
			<td>Game Elite (GA)</td>
			<td>OBC (OH)</td>
			<td>Team Thad (TN)</td>
		</tr>
		<tr>
			<td>Gold Coast (FL)</td>
			<td>Ohio Hoopsters</td>
			<td>Team Toronto</td>
		</tr>
		<tr>
			<td>Grassroots Canada</td>
			<td>Ohio Hoopsters</td>
			<td>Team Wade (FL)</td>
		</tr>
		<tr>
			<td>Hidden Gems Black (OH)</td>
			<td>Ohio Phenoms</td>
			<td>Team Work (OH)</td>
		</tr>
		<tr>
			<td>Hiden Gems Orange (OH)</td>
			<td>Ohio Varsity</td>
			<td>The City (NY)</td>
		</tr>
		<tr>
			<td>Hokies Elite (VA)</td>
			<td>PA Kings</td>
			<td>TNBA (OH)</td>
		</tr>
		<tr>
			<td>Hoop Dreams (KY)</td>
			<td>Perry Hall Gators (MD)</td>
			<td>UA Baltimore Finest</td>
		</tr>
		<tr>
			<td>House of Sports (NY)</td>
			<td>Philly Pride</td>
			<td>Virginia Assault</td>
		</tr>
		<tr>
			<td>Hurricane Attack (NJ)</td>
			<td>Philly TripleThreat</td>
			<td>Virginia Elite</td>
		</tr>
		<tr>
			<td>Illinois Celtics</td>
			<td>Pittsburgh Basketball Club</td>
			<td>Wayne PAL (NJ)</td>
		</tr>
		<tr>
			<td>JB Hoops (PA)</td>
			<td>PK Flash (PA)</td>
			<td>We R 1 (DE)</td>
		</tr>
	</tbody>
</table>
