<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Isiah Ice</td>
			<td>5-11</td>
			<td>New Rochelle, N.Y.</td>
			<td>Iona Prep</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Jamil Hood</td>
			<td>6-1</td>
			<td>Albany, N.Y.</td>
			<td>Green Tech High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Da'Jon Streeter</td>
			<td>6-3</td>
			<td>Philadelphia, Pa.</td>
			<td>Rise Academy</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Tyrell Sturdivant</td>
			<td>6-6</td>
			<td>Chester, Pa.</td>
			<td>Chester High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Kory Holden</td>
			<td>6-2</td>
			<td>Salisbury, Md.</td>
			<td>Bennett High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Travis Cook</td>
			<td>6-3</td>
			<td>Middletown, N.Y.</td>
			<td>Middletown High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Marques Townes</td>
			<td>6-3</td>
			<td>Metuchen, N.J. </td>
			<td>St. Joseph's Metuchen</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Calvin Crawford</td>
			<td>6-7</td>
			<td>Oakdale, Conn.</td>
			<td>St. Thomas More</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Matthew Klinewski</td>
			<td>6-8</td>
			<td>Voorhees, N.J.</td>
			<td>Eastern Regional</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>A.J. John</td>
			<td>6-7</td>
			<td>Santa Rosa, Calif.</td>
			<td>Maria Carrillo High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Raven Owen, Jr.</td>
			<td>5-11</td>
			<td>Metuchen, N.J.</td>
			<td>St. Joseph's Metuchen</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Ibrahima Camara</td>
			<td>6-9</td>
			<td>Baltimore, Md.</td>
			<td>St. Paul School</td>
			<td>2014</td>
		</tr>
	</tbody>
</table>
