<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Ben Lee</td>
			<td>5-9</td>
			<td>Great Neck, N.Y.</td>
			<td>Great Neck South</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Jack Engel</td>
			<td>6-1</td>
			<td>South Brunswick, N.J.</td>
			<td>South Brunswick</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Cort Williams</td>
			<td>6-2</td>
			<td>East Amherst, N.Y.</td>
			<td>Williamsville East</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Brody Hicks</td>
			<td>6-3</td>
			<td>Roanoke, Va. </td>
			<td>Cave Spring</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Ethan Norton</td>
			<td>5-11</td>
			<td>Philadelphia, Pa.</td>
			<td>LaSalle College HS</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Jared Reaser</td>
			<td>5-8</td>
			<td>Fleetwood, Pa.</td>
			<td>Fleetwood</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Will Desautelle</td>
			<td>6-1</td>
			<td>Newtown, Pa.</td>
			<td>Council Rock HS-North</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Chase Waganer</td>
			<td>6-3</td>
			<td>Parkton, N.J.</td>
			<td>Mereford</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Riley McGwin</td>
			<td>6-3</td>
			<td>Rochester, N.Y.</td>
			<td>Irondequoit HS</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Isaiah Lewis</td>
			<td>6-0</td>
			<td>Chruchville, N.Y.</td>
			<td>Churchville Chili</td>
			<td>2015</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
