<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School </th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Seth Brewer</td>
			<td>5-8</td>
			<td>Manheim, Pa. </td>
			<td>Manheim Township HS</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Brian Kelley</td>
			<td>6-3</td>
			<td>Potomac, Md. </td>
			<td>Bullis School</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Champe Barton</td>
			<td>6-3</td>
			<td>Davie, Fla.</td>
			<td>University School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Donte Wallette</td>
			<td>6-3</td>
			<td>Gate Mills, Ohio</td>
			<td>Gilmour Academy</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Harrison Brown</td>
			<td>6-4</td>
			<td>Huntington, W.V.</td>
			<td>Huntington</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Byron Jones</td>
			<td>6-0</td>
			<td>Alexandria, Va.</td>
			<td>Episcopal HS</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Stephen Sangree</td>
			<td>6-3</td>
			<td>Morristown, N.J.</td>
			<td>Morristown Beard School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Cager Hicks</td>
			<td>6-4</td>
			<td>Roanoke, Va.</td>
			<td>Cave Spring</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Jordan McRae</td>
			<td>6-5</td>
			<td>Dix Hills, N.Y.</td>
			<td>Half Hollow Hills HS East</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Josh Fried</td>
			<td>6-7</td>
			<td>Bethesda, Md.</td>
			<td>Walt Whitman HS</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>James Lammers</td>
			<td>6-3</td>
			<td>San Antonio, Texas</td>
			<td>Alamo Heights HS</td>
			<td>2014</td>
		</tr>
	</tbody>
</table>
