<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>I'Javion Ivory</td>
			<td>6-1</td>
			<td>Pemberton, N.J.</td>
			<td>Pemberton</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Darin Gordon</td>
			<td>6-2</td>
			<td>Spring Grove, Pa.</td>
			<td>Spring Grove High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Tyrae Johnson </td>
			<td>5-11</td>
			<td>Pemberton, N.J.</td>
			<td>Pemberton High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Curtis Williams</td>
			<td>6-1</td>
			<td>Olney, Md.</td>
			<td>Good Counsel</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Derek Coleman</td>
			<td>6-0</td>
			<td>Upper Marlboro, Md.</td>
			<td>Henry Wise</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Devon Goodman</td>
			<td>5-8</td>
			<td>Fort Washington, Pa.</td>
			<td>Germantown Academy</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Isiah Jennings</td>
			<td>5-11</td>
			<td>Allentown, Pa.</td>
			<td>Lehigh Valley Academy</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Emmaunuel Chukwu</td>
			<td>6-9</td>
			<td>Bronx, N.Y.</td>
			<td>Monsignor Scanlan</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Kaleb Bishop</td>
			<td>6-5</td>
			<td>Jersey City, N.J.</td>
			<td>St. Peter's Prep</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Alphonso Gee</td>
			<td>5-10</td>
			<td>Paterson, N.J.</td>
			<td>Paterson Kennedy</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
