<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Khalief Crawford</td>
			<td>6-2</td>
			<td>Hudson Catholic</td>
			<td>Jersey City, N.J.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Deondre Bourne</td>
			<td>6-1</td>
			<td>St. Jerome</td>
			<td>Brooklyn, N.Y.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Jamir Harris</td>
			<td>6-0</td>
			<td>The Patrick School</td>
			<td>Elizabeth, N.J.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Lonnie Walker</td>
			<td>6-3</td>
			<td>Reading</td>
			<td>Reading, Pa.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Quinton Drayton</td>
			<td>6-2</td>
			<td>DeMatha</td>
			<td>Hyattsville, Md.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Tremont Waters</td>
			<td>5-9</td>
			<td>South Kent</td>
			<td>South Kent, Conn.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Nate Pierre-Louis</td>
			<td>6-2</td>
			<td>St. Peter's Prep</td>
			<td>Jersey City, N.J.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Patrick Strzala</td>
			<td>6-4</td>
			<td>Hudson Catholic</td>
			<td>Jersey City, N.J.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Sidney Wilson</td>
			<td>6-5</td>
			<td>St. Raymond's</td>
			<td>Bronx, N.Y.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Christopher Coalmon</td>
			<td>6-6</td>
			<td>St. Mary's</td>
			<td>Manhassett, N.Y.</td>
			<td>2017</td>
		</tr>
	</tbody>
</table>
