<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Nolan Slattery</td>
			<td>6-0</td>
			<td>St. Rose High School</td>
			<td>Belmar, N.J.</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>David Haytian, Jr.</td>
			<td>5-8</td>
			<td>Notre Dame High School</td>
			<td>Lawrence, N.J.</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Ben Sosa</td>
			<td>6-2</td>
			<td>Loyalsock Township High School</td>
			<td>Williamsport, Pa.</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Sean Kelly</td>
			<td>6-1</td>
			<td>Notre Dame High School</td>
			<td>Lawrenceville, N.J.</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Michael Hinckley</td>
			<td>6-0</td>
			<td>Episcopal Academy</td>
			<td>Newton Square, Pa.</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Michael Simmons</td>
			<td>6-1</td>
			<td>Kiski Area High School</td>
			<td>Vandergrift, Pa.</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Mac Loud</td>
			<td>6-4</td>
			<td>Greenbriar Christian Academy</td>
			<td>Chesapeake, Va.</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Will Mulderry</td>
			<td>6-1</td>
			<td>Bergen Catholic</td>
			<td>Oradell, N.J.</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Michael White</td>
			<td>6-1 </td>
			<td>Charlotte Country Day</td>
			<td>Charlotte, N.C.</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Jermaine Blackmon, Jr.</td>
			<td>6-4</td>
			<td>Davidson Day</td>
			<td>Davidson, N.C.</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
