<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Tyler Dunn</td>
			<td>5-11</td>
			<td>Massilon, OH</td>
			<td>Jackson</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Keith Williams</td>
			<td>6-2</td>
			<td>Deer Park, NY</td>
			<td>Deer Park</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Jamar Gilbert</td>
			<td>6-2</td>
			<td>Newark, NJ</td>
			<td>East Side</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Stephen Milhaven</td>
			<td>6-5</td>
			<td>Manhasset, NY</td>
			<td>St. Mary's</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Chandler Benson</td>
			<td>6-7</td>
			<td>Moravia, NY</td>
			<td>Moravia</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Akbar Hoffman</td>
			<td>5-11</td>
			<td>Newark, NJ</td>
			<td>East Side</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Travaun Coad</td>
			<td>6-0</td>
			<td>West Lawn, PA</td>
			<td>Wilson West Lawn</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Curtis Jenkins</td>
			<td>6-2</td>
			<td>Farmingdale, NY</td>
			<td>Farmingdale</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Tarik Diggs</td>
			<td>6-3</td>
			<td>Fort Washington, MD</td>
			<td>National Christian</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Abdul Lewis</td>
			<td>6-8</td>
			<td>Newark, NJ</td>
			<td>East Side</td>
			<td>2014</td>
		</tr>
	</tbody>
</table>
