<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP</td>
			<td>Malik Washington</td>
			<td>5'9</td>
			<td>Williamsport Area HS</td>
			<td>Williamsport, PA</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>MIP</td>
			<td>Mowaz Sheikh</td>
			<td>6'5</td>
			<td>Sir Williams Mulock</td>
			<td>Bradford, Ontario</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Dan Mancino</td>
			<td>6'1</td>
			<td>Fairport HS</td>
			<td>Fairport, NY</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Anthony Iglesia</td>
			<td>5'2</td>
			<td>McQuaid</td>
			<td>Rochester, NY</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Anthony Iglesia</td>
			<td>5'2</td>
			<td>McQuaid</td>
			<td>Rochester, NY</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>All-Star MVP</td>
			<td>Malik Washington</td>
			<td>5'9</td>
			<td>Williamsport Area HS</td>
			<td>Williamsport, PA</td>
			<td>2017</td>
		</tr>
	</tbody>
</table>
