<table>
	<thead>
		<tr>
			<th>Picture</th>
			<th>Name and Information</th>
			<th>Jr. Elite Strenghts
Jr. Elite Takeaways</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47285" rel="attachment wp-att-47285"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/40-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47285" /></a></td>
			<td>#40
Isaiah Adams	
Grade: 6	
Piscataway, NJ
Height: 5'5"  Weight:132
Wingspan:69  Reach:85
Vertical:22</td>
			<td>Good size and Speed.	

Isaiah may have been the fastest 6th grader in the building and has the strength to go with that speed. His ceiling is very high.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/top-100s/recaps/attachment/baldachino-joseph/" rel="attachment wp-att-47286"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Baldachino-Joseph-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47286" /></a></td>
			<td>#30
Joseph	Baldachino	
Grade: 7	
Clarksburg, NJ
Height: 5'3"  Weight:86
Wingspan:69  Reach:79
Vertical:20</td>
			<td>Defense and Passing

Joe is a legitimate lead guard.  He appears to have a very good feel for running a team and can guard the other teams point guard as well.  Appears to understand the flow of the game and create opportunities for others.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/top-100s/recaps/attachment/bartolone-joseph/" rel="attachment wp-att-47287"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bartolone-Joseph-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47287" /></a></td>
			<td>#209
Joseph	Bartolone	
Grade: 7	
Red Bank, NJ
Height: 5'4"  Weight:93
Wingspan:63  Reach:80
Vertical:13</td>
			<td>Left Early

Joe left the event early.  From previous knowledge Joe has a good mid-range game and would have been a valuable addition to the Hoop Group.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47288" rel="attachment wp-att-47288"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Belforti-Ryan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47288" /></a></td>
			<td>#104
Ryan Belforti	
Grade: 7	
Colts Neck, NJ
Height: 5'8"  Weight:119
Wingspan:68  Reach:90
Vertical:15</td>
			<td>Rebounding and Passing Skills
Ryan is a lefty who can pass and see the court with ease.  He works hard and certainly has the ceiling to be a very good player for years to come.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47289" rel="attachment wp-att-47289"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bell-Tyler-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47289" /></a></td>
			<td>#212
Tyler Bell
Grade: 78
Ewing, NJ
Height: 6'0"  Weight:150
Wingspan:76  Reach:94
Vertical:26</td>
			<td>Slashing ability and defense

Tyler knows how to penetrate into the lane and attack off the bounce. His athleticism makes him a real threat, but his understanding of the game is also top notch.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47290" rel="attachment wp-att-47290"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Benneman-Tyree-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47290" /></a></td>
			<td>#36
Tyrese Benneman	
Grade: 6
Height: 5'3"  Weight:110
Wingspan:64  Reach:82
Vertical:20</td>
			<td>Ball handling and shooting technique	

Tyrese uses his speed to get past defenders and create opportunities for himself and teammates. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47291" rel="attachment wp-att-47291"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Betlow-Jake-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47291" /></a></td>
			<td>#105
Jake Betlow
Grade: 7	
Far Hills, NJ
Height: 5'4"  Weight:125
Wingspan:67  Reach:87
Vertical:21.5</td>
			<td>Court vision and ball handling	

Jake is very comfortable making a play off of a ball screen, and sees the floor very well. He continues to show dedication to getting better.  Possibly the most advanced 7th grader in the event, talent on par with that of the top 8th graders.  His three point shooting off the bounce and off the catch are equally impressive.  May even have MORE range off the bounce than off the catch.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47292" rel="attachment wp-att-47292"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Boesch-Peyton-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47292" /></a></td>
			<td>#23
Peyton Boesch	
Grade: 7	
Spring Lake, NJ
Height: 5'3"  Weight:97
Wingspan:63  Reach:82
Vertical:25</td>
			<td>3-Point shooting	

Peyton's basketball IQ is great and his passing skills make him a real threat.  However, it is his long range shooting that appears to be his strength.  Don't leave this kid open.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47293" rel="attachment wp-att-47293"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bolland-Aiden-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47293" /></a></td>
			<td>#89
Aidan Boland	
Grade: 8	
Height: 6'4"  Weight:153
Wingspan:73  Reach:97
Vertical:22</td>
			<td>Length and Toughness

Aidan competed on every play and his defense is admirable. His consistently worked hard all day. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47294" rel="attachment wp-att-47294"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Boston-Justin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47294" /></a></td>
			<td>#81
Justin Boston
Grade: 7	
Plainfield, NJ
Height: 5'6"  Weight:129
Wingspan:68  Reach:87
Vertical:24</td>
			<td>Passing and Attitude	

Justin battled throughout the day despite being undersized.  He can drive and get to the basket.  He played well on the defensive end and took advantage of his opportunities throughout the day.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47295" rel="attachment wp-att-47295"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Brown-Davon-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47295" /></a></td>
			<td>#22
Davon Brown
Grade: 76
Baltimore, MD
Height: 5'3"  Weight:153
Wingspan:65  Reach:81
Vertical:20</td>
			<td>Physical, Good Handle, Finishes	

Davon has good strength and a tight handle that he uses to get to the basket and score. He does a good job of getting off accurate long range jupers.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47296" rel="attachment wp-att-47296"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Burzynski-William-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47296" /></a></td>
			<td>#219
William Burzynski
Grade: 7
Rockaway, NJ
Height: 5'8"  Weight:155
Wingspan:70  Reach:89
Vertical:14</td>
			<td>Defense and Rebounding	

A high IQ rebounder with excellent defensive instincts.  William is able to help and recover on drivers better than most his age and has a good shot to compliment his defensive prowess.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47297" rel="attachment wp-att-47297"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Chambers-Chad-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47297" /></a></td>
			<td>#100
Chad Chambers
Grade: 8	
Red Bank, NJ
Height: 5'4"  Weight:106
Wingspan:61  Reach:79
Vertical:18</td>
			<td>Court Awareness	

Chad possesses good athleticism and passing ability. His future is bright if he continues to grow and work hard.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47298" rel="attachment wp-att-47298"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Chaney-Timothy-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47298" /></a></td>
			<td>#103
Tim Chaney
Grade: 8
Pittstown, NJ
Height: 5'7"  Weight:115
Wingspan:67  Reach:86
Vertical:26</td>
			<td>Ball Handling, Quickness, and Court Vision	

Timothy handles the ball extremely well and changes speed and direction to create opportunities for himself and teammates.  As his shot continues to improve he'll be a nightmare from the point or shooting guard position.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47299" rel="attachment wp-att-47299"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Clarke-Aaron-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47299" /></a></td>
			<td>#82
Aaron Clarke
Grade: 8
Parsippany, NJ
Height: 5'11"  Weight:175
Wingspan:71  Reach:90
Vertical:25</td>
			<td>Play Making and Ball Handling	

Aaron had to leave the event early; however during skill work it was clear what type of player and competitor he was.  Aaron has the game to be one of the best players in his grade.  Looking forward to a bright future with Scan, his high school of choice, and his future college.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47300" rel="attachment wp-att-47300"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Damen-Dean-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47300" /></a></td>
			<td>#92
Dean Damen
Grade: 6
Manasquan, NJ
Height: 5'2"  Weight:92
Wingspan:60  Reach:78
Vertical:15</td>
			<td>Ball handling and Seeing the Court.	

He was comfortable with the ball and rarely turned it over against pressure. He has enough speed to get past a defender and then find teammates. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47301" rel="attachment wp-att-47301"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Dawe-Ryan-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47301" /></a></td>
			<td>#24
Ryan Dawe	
Grade: 7	
Manalapan, NJ
Height: 5'4"  Weight:106
Wingspan:63  Reach:82
Vertical:14</td>
			<td>Handles and Passing	

Excellent off guard with poise.  Athletically and defensively inclined, while still able to find ways to score.  Point in transition may be his specialty.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47302" rel="attachment wp-att-47302"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Daye-Rylan-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47302" /></a></td>
			<td>#95
Rylan Daye
Grade: 7	
Neptune, NJ
Height: 5'6"  Weight:141
Wingspan:67  Reach:85
Vertical:23</td>
			<td>Shooting and Ball Handling

Rylan is a good swing player with a nice touch. His handle is great for a player with size and so young.  With more consistency on his jump shot, he'll be able to score over smaller defenders. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47282" rel="attachment wp-att-47282"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/0-No-Name-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47282" /></a></td>
			<td>#18
Zachary Demello
Grade: 6
Port Monmouth, NJ
Height: 5'4"  Weight:114
Wingspan:63  Reach:80
Vertical:13</td>
			<td>Rebounding, Hard Work, Strength

Zach crashed the defensive boards all day. He showed the ability to catch and shoot as well as get to the rim and score. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47303" rel="attachment wp-att-47303"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Dobis-J.C.-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47303" /></a></td>
			<td>#221
JC Dobis
Grade: 7
Medford, NJ
Height: 6'1"  Weight:188
Wingspan:74  Reach:93
Vertical:21</td>
			<td>Size and Strength	

Strong player who is difficult to dislodge from the post.  Good at rebounding, outlets, and running the floor in transition.  A dream big man if your team like to run the fast break.  With additional skill work his good hands and low post presence will begin to jump out at HS coaches.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47304" rel="attachment wp-att-47304"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Eames-Brian-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47304" /></a></td>
			<td>#99
Brian Eames
Grade: 7	
Randolph, NJ
Height: 5'3"  Weight:117
Wingspan:63  Reach:81
Vertical:16</td>
			<td>Size and Shooting Ability	

Brian showed good timing when getting defensive rebounds. He played smart the entire day and took full advantage of every defensive break down in the post. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47305" rel="attachment wp-att-47305"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ervin-Dakari-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47305" /></a></td>
			<td>#207
Dakari Ervin
Grade: 7
Newark, NJ
Height: 5'5"  Weight:123
Wingspan:68  Reach:85
Vertical:21</td>
			<td>Ball Handling, Driving, Passing	

Dakari is a guard who can do many things well.  The word complete would be the best way to describe his game.  While his numbers do not jump off the page he has an air about him that makes you want to watch him play.   Creative with the ball and a tough defender.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47306" rel="attachment wp-att-47306"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Fitzgerald-Ian-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47306" /></a></td>
			<td>#91
Ian Fitzgerald
Grade: 8
Neptune, NJ
Height: 5'6"  Weight:135
Wingspan:67  Reach:84
Vertical:22</td>
			<td>Toughness and Defense	

His grit really helped his team. Ian defends with passion and anticipates steals in passing lanes. His ball handling is solid.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47307" rel="attachment wp-att-47307"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Flanagan-Ryan-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47307" /></a></td>
			<td>#80
Ryan Flanagan
Grade: 7
West Long Branch, NJ
Height: 5'10"  Weight:135
Wingspan:71  Reach:90
Vertical:21</td>
			<td>Rebounding and Passing	

Ryan has a nice feel for the game and his size and skill set makes him a good big man.   He rebounding is above average and as he learns more about positioning, he'll be difficult to defend.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47308" rel="attachment wp-att-47308"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Foreman-Art-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47308" /></a></td>
			<td>#86
Art Foreman	
Grade: 7
Brielle, NJ
Height: 5'3"  Weight:150
Wingspan:67  Reach:84
Vertical:16</td>
			<td>Shooting and Ball Handling	

He displays a smooth touch.  He gets a little lift on the jump-shot and can hit out to 15 feet. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47309" rel="attachment wp-att-47309"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Frauenheim-Daniel-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47309" /></a></td>
			<td>#218
Daniel Fraunheim	
Grade: 78
Somerville, NJ
Height: 5'8"  Weight:132
Wingspan:67  Reach:86
Vertical:20</td>
			<td>Toughness, Passing, Ball Handling	

Daniel is a TRUE PG.  Very rare to see a player who understands the game AND is not afraid to play against the toughest of defenders at this age.  Daniel sees the floor very well and handles it well enough to navigate the defense and create for teammates.  Coach's son is one tough competitor.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47310" rel="attachment wp-att-47310"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Frostick-Jimmy-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47310" /></a></td>
			<td>#34
Jame Frostick
Grade: 7	
Height: 5'0"  Weight:90
Wingspan:59  Reach:78
Vertical:15</td>
			<td>Passing and Effort	

Jimmy appears to be a wing or 2-guard with potential to someday become a point.  He has good skills and has he gets more aggressive offensively his scoring will rise.  Excellent in the skill work portion of the event and has a desire to improve that radiates to others around him.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47311" rel="attachment wp-att-47311"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Garcia-Anthony-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47311" /></a></td>
			<td>#222
Anthony Garcia
Grade: 8
Height: 6'6"  Weight:181
Wingspan:79  Reach:102
Vertical:21</td>
			<td>Size and Athleticism	

Anthony has excellent physical tools and rebounds the ball like very few 8th graders can.  He led the event in rebounding averaging 15 per game!  The Scan 8th grader uses his length to deter shots and create transition opportunities for his team.  He also recorded two double doubles scoring 13 and 12 respectively.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47312" rel="attachment wp-att-47312"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Harbour-Alexx-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47312" /></a></td>
			<td>#98
Alexx Harbour
Grade: 7
Height: 6'3"  Weight:156
Wingspan:74  Reach:91
Vertical:28</td>
			<td>Speed, Strength, Dribble Drive	

Alexx is a very fast and strong player.  He has an excellent skill set for a big man and pretty good athleticism.  The more he works on his game the higher his ceiling will become.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47313" rel="attachment wp-att-47313"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Isaac-Tristan-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47313" /></a></td>
			<td>#83
Tristan Isaac	
Grade: 8	
West Hempstead, NY
Height: 5'9"  Weight:115
Wingspan:68  Reach:85
Vertical:21</td>
			<td>Finishing and Court Awareness	

Tristan Isaac is one smooth operator.  This tall point guard was able to score, dish, and control tempo throughout the event.  His scoring numbers were lower than they could have been because he was so unselfish and helped lead his team to two victories.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47314" rel="attachment wp-att-47314"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Jackson-Jalen-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47314" /></a></td>
			<td>#211
Jalen Jackson	
Grade: 7	
Brick, NJ
Height: 5'5"  Weight:101
Wingspan:62  Reach:79
Vertical:24</td>
			<td>Speed, Ball Handling, Creativity	

Jalen may have been the best point guard at the event.  He is an extremely complete player and he does everything well.  Jalen was third in the event in assists and created transition opportunities for his teammates time and time again.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47316" rel="attachment wp-att-47316"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Jones-Darien-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47316" /></a></td>
			<td>#41
DJ Jones
Grade: 7	
Neptune, NJ
Height: 5'0"  Weight:89
Wingspan:60  Reach:77
Vertical:22</td>
			<td>Driving and Dribble Moves	

Darien, or "DJ", has the ability to see the floor while creating off the dribble.  He has more work to do, but certainly proved to himself and his teammates he has the make-up to handle running the show at the point guard.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47315" rel="attachment wp-att-47315"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Jones-Jr.-Dwaine-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47315" /></a></td>
			<td>#42
Dwaine Jones
Grade: 7	
Neptune, NJ
Height: 5'0"  Weight:94
Wingspan:62  Reach:80
Vertical:15</td>
			<td>Making Plays and Sees the Court	

He's a good point guard with a nice feel for the game and can run a team with ease.  He clearly puts effort in outside of playing games because his skills are beyond that of a seventh grader.  Being lefty makes it difficult to guard as well.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47317" rel="attachment wp-att-47317"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Kelley-Anthony-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47317" /></a></td>
			<td>#84
Anthony Kelley
Grade: 8
Springfield, MA
Height: 5'8"  Weight:143
Wingspan:72  Reach:90
Vertical:24</td>
			<td>Well Rounded	

Anthony had to leave the event after the college workout session.  Clearly could have been one of the better scorers and overall players should he have stayed.  Bright future.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47318" rel="attachment wp-att-47318"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Kennedy-Liam-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47318" /></a></td>
			<td>#27
Liam Kennedy
Grade: 7
Spring Lake, NJ
Height: 5'9"  Weight:126
Wingspan:68  Reach:86
Vertical:25</td>
			<td>Ball Control, Quickness, and BBall IQ	

Liam is a combo guard who can score and distribute.  His shooting form is excellent and appears to be lights out from just outside the arc.  Although he didn't have as many offensive opportunities as some other scorers in the event Liam was very efficient (7 point, 4 assists, and 5 rebounds in one game) and even hit clutch free-throws in the only overtime game of the event.  Bright future for him.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47319" rel="attachment wp-att-47319"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Kernan-Patrick-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47319" /></a></td>
			<td>#15
Patrick Kernan
Grade: 7
Medford, NJ
Height: 5'8"  Weight:104
Wingspan:65  Reach:82
Vertical:22</td>
			<td>Shot and Handles	

Patrick has a good handle and skills on the wing.  Patrick's shooting and dribbling skills really stood out.  He has a bright future and good size.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47320" rel="attachment wp-att-47320"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Koob-Kyle-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47320" /></a></td>
			<td>#90
Kyle Koob
Grade: 7
West Long Branch, NJ
Height: 5'8"  Weight:127
Wingspan:69  Reach:88
Vertical:19</td>
			<td>Dribbling in Traffic and Shooting	

Kyle is a very complete player with good size for a 7th grade guard.  His ability to take the ball to the hoop with different dribble moves makes him difficult to guard.  As his jump shot continues to improve he'll get more and more difficult to guard. Great speed with the ball.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47321" rel="attachment wp-att-47321"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Kudrick-Jack-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47321" /></a></td>
			<td>#33
Jack Kudrick
Grade: 7
Allentown, NJ
Height: 5'0"  Weight:77
Wingspan:58  Reach:81
Vertical:18</td>
			<td>Athleticism and Passing	

Jack's fundamentals are solid and appears to be a great floor general. The more he develops his range the more effective scorer he'll be.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47322" rel="attachment wp-att-47322"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/La-Pierre-Justin-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47322" /></a></td>
			<td>#88
Justin LaPierre
Grade: 8
Rahway, NJ
Height: 6'0"  Weight:140
Wingspan:70  Reach:91
Vertical:24</td>
			<td>Athleticism and Strength	

Justin's fundamentals are solid. He's an superb athlete and can really get to the basket. He has a high ceiling. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47323" rel="attachment wp-att-47323"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lampkin-Tyree-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47323" /></a></td>
			<td>#39
Tyree Lampkin	
Grade: 6
Riverton, NJ
Height: 5'0"  Weight:101
Wingspan:63  Reach:80
Vertical:19</td>
			<td>Rebounding and Strength	

He is opportunistic on the boards and beats opponents to the ball. He has enough handle to start the break, give the ball to a teammate then finish in traffic. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47324" rel="attachment wp-att-47324"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lapena-Carter-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47324" /></a></td>
			<td>#35
Carter Lapena	
Grade: 7
Clifton, NJ
Height: 5'0"  Weight:88
Wingspan:61  Reach:80
Vertical:20</td>
			<td>Ball handling and passing skills	

Carter has an excellent feel for the game and is a very good lead guard.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47325" rel="attachment wp-att-47325"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Laudisi-Matthew-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47325" /></a></td>
			<td>#215
Matt Laudisi
Grade: 8
Middletown, NJ
Height: 5'9"  Weight:130
Wingspan:69  Reach:88
Vertical:19</td>
			<td>Passing and Rebounding	

Matthew is extremely tough and defends well, especially off the ball with good positioning.  He possesses solid fundamentals on the offensive side of the ball.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47326" rel="attachment wp-att-47326"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lindsey-Bryce-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47326" /></a></td>
			<td>#21
Bryce Lindsay
Grade: 4
Baltimore, MD
Height: 4'10"  Weight:88
Wingspan:59  Reach:76
Vertical:15</td>
			<td>Jump Shot  and Ball Handling Skills	

Bryce is skilled for such a young age and his skills will only continue to improve. His shooting fundamentals are solid both off the catch and dribble.  His ball handling and court vision are equally impressive.  Bryce was 2nd among 4th-6th graders in assists.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47327" rel="attachment wp-att-47327"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lyons-Owen-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47327" /></a></td>
			<td>#31
Owen Lyons
Grade: 5
Brielle, NJ
Height: 4'10"  Weight:75
Wingspan:58  Reach:76
Vertical:17</td>
			<td>Defense and Quickness	

Owen plays with a high motor and hustles from end to end. He has good foot speed to defend out on the wing and handles the ball well offensively. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47328" rel="attachment wp-att-47328"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Massenat-Rodrique-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47328" /></a></td>
			<td>#217
Rodrique Massenat	
Grade: 8
Trenton, NJ
Height: 6'2"  Weight:149
Wingspan:76  Reach:96
Vertical:27</td>
			<td>Athleticism, Leadership, Defense

Rodrique possesses everything you need to be a great basketball player.  Watching this talent develop will be interesting.  Fantastic attitude throughout the event.  With minor adjustments to his shot he could become a top offensive player in the state.  Rodrique scored double digits in both games and grabbed over 6 boards in both games.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47329" rel="attachment wp-att-47329"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/McNeil-Cole-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47329" /></a></td>
			<td>#200
Cole McNeil
Grade: 7
Philadelphia, PA
Height: 5'1"  Weight:116
Wingspan:65  Reach:83
Vertical:24</td>
			<td>Defense and Speed	

He is an all around good player who does most things quite well. His speed and athleticism are great.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47330" rel="attachment wp-att-47330"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Moore-Kyle-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47330" /></a></td>
			<td>#11
Kyle Moore
Grade: 8
Marlboro, NJ
Height: 5'4"  Weight:95
Wingspan:65  Reach:82
Vertical:19</td>
			<td>Ball Handling and Competitve Nature	

Kyle uses the ball screen very effectively and despite playing on a talented team was still able to stand out as a talented young guard.  His shot, although unorthodox, was one of the best at the event.  He doesn't back down to anybody and was a big reason why his team won both games.  Possibly the best workout player in the event.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47331" rel="attachment wp-att-47331"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Moynihan-Anthony-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47331" /></a></td>
			<td>#44
Anthony Moynihan
Grade: 8
Livingston, NJ
Height: 5'2"  Weight:87
Wingspan:61  Reach:79
Vertical:18</td>
			<td>Quickness and ball handling	

He has a nice ability to distribute the ball and his basketball IQ is clearly higher than most his age.   Has more work to do on his athleticism and quickness, but clearly can be a good high school guard.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47332" rel="attachment wp-att-47332"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Natiello-Mark-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47332" /></a></td>
			<td>#208
Mark Natiello
Grade: 8
Westfield, NJ
Height: 5'9"  Weight:128
Wingspan:69  Reach:85
Vertical:26</td>
			<td>Shooting, Basketball IQ	

He can really shoot the ball from deep and has a good sense of what is happening on the court. The type of player you want on your team.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47333" rel="attachment wp-att-47333"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Nickel-Jonathan-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47333" /></a></td>
			<td>#94
Jonathon Nickel
Grade: 8
Port Monmouth, NJ
Height: 4'6"  Weight:116
Wingspan:65  Reach:82
Vertical:14</td>
			<td>Shooting fundamentals and court vision. 	

Jonathan's defense and rebounding skills are good, and his awareness for the court only adds to his skillset. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47334" rel="attachment wp-att-47334"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Oconnell-Jacob-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47334" /></a></td>
			<td>#216
Jacob O'Connell
Grade: 7	
Kirkwood Voorhees, NJ
Height: 6'4"  Weight:167
Wingspan:72  Reach:97
Vertical:20</td>
			<td>Good Handles and Court Vision	

Jacob O'Connell is a big man with a chance to be very good! He worked hard all 5 hours of the Junior Elite and showed excellent passing skills for a player of his size.  Intelligent player in the low and mid-post areas.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47335" rel="attachment wp-att-47335"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/ONeil-William-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47335" /></a></td>
			<td>#214
William O'Neil
Grade: 8
Morristown, NJ
Height: 5'11"  Weight:198
Wingspan:69  Reach:90
Vertical:23</td>
			<td>Athleticism and Effort	

Will is gifted athletically and especially his lateral quickness.  He worked extremely hard all day and his size is not all he has going for him, he also possesses good touch and with improving range may end up a good shooter.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47336" rel="attachment wp-att-47336"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Platzke-Ryan-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47336" /></a></td>
			<td>#37
Ryan Platzke
Grade: 7	
Red Bank, NJ
Height: 5'1"  Weight:80
Wingspan:60  Reach:79
Vertical:18</td>
			<td>Passing and Defense	

Very scrappy and well disciplined player.  Goes after every opportunity and helps ignite his teams with his enthusiasm.  Appeared to be very intent on improving his game all day and could develop into a great defensive player.  Passing ability also above average for his age.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47337" rel="attachment wp-att-47337"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Powell-Brendan-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47337" /></a></td>
			<td>#213
Brendan Powell
Grade: 8
Verona, NJ
Height: 5'9"  Weight:131
Wingspan:68  Reach:88
Vertical:23</td>
			<td>Positioning and Teamwork

Brendan didn't score prolifically during the games, but this was because he adapted his game to fit what his team needed.  He event grabbed 6 rebounds in one of his teams games.  Brendan looks like a great team player who can adapt at any level.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47338" rel="attachment wp-att-47338"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Pydyszewski-Phil-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47338" /></a></td>
			<td>#101
Phil Pydyszewski	
Grade: 8
Rockaway, NJ
Height: 5'10"  Weight:127
Wingspan:69  Reach:88
Vertical:22</td>
			<td>Ball Handling 	

Phil attacks the rim very well. He's a heady player that sees open teammates. Great athleticism. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47339" rel="attachment wp-att-47339"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Robinson-Brandon-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47339" /></a></td>
			<td>#102
Brandon Robinson
Grade: 8
Pittstown, NJ
Height: 6'0"  Weight:148
Wingspan:73  Reach:94
Vertical:24</td>
			<td>Aggressiveness and Slashing Ability	

Brandon wills his way to the basket. He has excellent one on one skills and always seems to get to the free throw line.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47284" rel="attachment wp-att-47284"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/14-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47284" /></a></td>
			<td>#14
Jamaal Robinson
Grade: 8
Bronx, NY
Height: 5'10"</td>
			<td>Handles and Attacking the Rim	

A good point guard who has the ability to penetrate to score.  His shot is good from 15' and in, and he'll become more difficult to guard as he begins to extend his range and consistency.  Defensively his quickness allows his to stay in front of defenders.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47340" rel="attachment wp-att-47340"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Santos-Ethan-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47340" /></a></td>
			<td>#106
Ethan Santos	
Grade: 6
Brampton, CAN
Height: 5'6"  Weight:151
Wingspan:68  Reach:88
Vertical:17</td>
			<td>Size, Strength, and Shooting Fundamentals	

Ethan uses his size to rebound and get to the basket and score. He has an excellent feel for the game.  The surprise of the event was his double-double on the floor where every player was older than him.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47341" rel="attachment wp-att-47341"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Scardino-Joe-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47341" /></a></td>
			<td>#206
Joseph Scardino
Grade: 7	
Spring Lake, NJ
Height: 5'4"  Weight:121
Wingspan:65  Reach:81
Vertical:25</td>
			<td>Passing and Defense	

Joe has the ability to develop into a nice player.  As Joe's speed improves he'll be able to use his ball handing and passing abilities to create for others and himself.  Recorded 6 points in his teams second win.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47342" rel="attachment wp-att-47342"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Sheridan-RJ-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47342" /></a></td>
			<td>#96
RJ Sheridan
Grade: 7
Lakewood, NJ
Height: 5'1"  Weight:143
Wingspan:65  Reach:81
Vertical:18</td>
			<td>Passing and Driving

A very good player when going to the hoop and has a very good feel for the game.  Someone is coaching this kid well because he rarely makes mistakes, even when being pressured.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47343" rel="attachment wp-att-47343"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Shovelin-John-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47343" /></a></td>
			<td>#20
John Shovelin
Grade: 8
Middletown, NJ
Height: 5'6"  Weight:111
Wingspan:66  Reach:88
Vertical:14</td>
			<td>Shooting and Passing

John displays a nice touch around the basket. His basketball IQ is superb.   As he continues to improve his quickness he could turn into a defensive stopper as well.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47344" rel="attachment wp-att-47344"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Shovelin-Shane-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47344" /></a></td>
			<td>#19
Shane Shovelin
Grade: 6
Middletown, NJ
Height: 5'0"  Weight:91
Wingspan:58  Reach:75
Vertical:15</td>
			<td>Shooting Ability and Ball Handling	

Shows the ability to play both guard positions equally well.  Has good form and an adequate mid-range jumpshot off the dribble and on the catch.  Doesn't turn the ball over.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47345" rel="attachment wp-att-47345"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Stevenson-Emilio-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47345" /></a></td>
			<td>#97
Emilio Stevenson
Grade: 8
Brielle, NJ
Height: 5'4"  Weight:96
Wingspan:68  Reach:85
Vertical:18</td>
			<td>Athleticism and Ball Handling 

Emilio's skills were on display all afternoon.	His quickness and team skills are simple and to the point.  Emilio is a kid I'd want on my team.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47346" rel="attachment wp-att-47346"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Suit-Makai-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47346" /></a></td>
			<td>#87
Makai Suit
Grade: 6
Neptune, NJ
Height: 5'6"  Weight:135
Wingspan:64  Reach:84
Vertical:19</td>
			<td>Finishes and Handles the Ball Well	

Suit has pretty good size and took defenders to the basket all day with a good power dribble. He has plenty of size and strength to shoot the ball out to 20 feet. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47347" rel="attachment wp-att-47347"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Talley-Walter-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47347" /></a></td>
			<td>#226
Walter Talley
Grade: 8
Height: 6'6"  Weight:190
Wingspan:76  Reach:100
Vertical:27</td>
			<td>Too many to Mention	

Walter is extremely athletic ALREADY.  However, his game doesn't stop here.  The 2018, Team Scan stud can do it all.  Very talented player whose leaping and quickness are another level above the competition.  He also displayed excellent court vision.  Had one game with 8 pts, 5 assists, and 11 rebounds.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47348" rel="attachment wp-att-47348"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Tice-Sean-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47348" /></a></td>
			<td>#109
Sean Tice
Grade: 7	
Farmingdale, NJ
Height: 5'7"  Weight:133
Wingspan:68  Reach:86
Vertical:18</td>
			<td>Ball Handling and Passing	

Sean is a solid wing, who is able to distribute and handle the ball without turning it over.  Can get around defenders easily going left and is crafty at creating his shot.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47349" rel="attachment wp-att-47349"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Townsend-Latrell-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47349" /></a></td>
			<td>#26
Latrell Townsend	
Grade: 7
Egg Harbor Twp, NJ
Height: 4'6"  Weight:84
Wingspan:63  Reach:80
Vertical:19</td>
			<td>Ball Handling and Quickness

He is a great PG at this level and does a great job of sharing the ball.  He'd be someone any wing or big would be lucky to play with.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47350" rel="attachment wp-att-47350"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ume-Kyle-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47350" /></a></td>
			<td>#107
Kyle Ume	
Grade: 8
Livingston, NJ
Height: 6'1"  Weight:151
Wingspan:69  Reach:91
Vertical:31</td>
			<td>Competitiveness and Athleticism	

Kyle works extremely hard and is very disciplined in workouts.  He has a desire to improve.  He has a natural gift of athleticism and did a great job of defending drivers and altering shots.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47351" rel="attachment wp-att-47351"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Valles-Max-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47351" /></a></td>
			<td>#108
Max Valles
Grade: 8
Chester, NJ
Height: 5'2"  Weight:121
Wingspan:62  Reach:82
Vertical:18</td>
			<td>Creativity and Toughness	

Valles is a smooth player with good ball handling skills. He continually battled during each game and was a big factor during his time on the floor.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47352" rel="attachment wp-att-47352"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Washington-Tyler-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47352" /></a></td>
			<td>#85
Tyler Washington
Grade: 8
New York, NY
Height: 5'11"  Weight:148
Wingspan:72  Reach:93
Vertical:27</td>
			<td>Ball Handling and Creativity	

Tyler was one of the best all-around players at the Junior Elite.  He possesses very sound ball-handling and dribble moves; while always seeming to find open teammates.  He is able to get to the rim extremely well.  Defensive rebounding was also fantastic.  The Team Scan guard had 28 points, 9 assists, and 17 rebounds between the two games.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47353" rel="attachment wp-att-47353"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/West-Peyton-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47353" /></a></td>
			<td>#28
Peyton West
Grade: 6
Medford, NJ
Height: 4'9"  Weight:89
Wingspan:57  Reach:75
Vertical:11</td>
			<td>Attitude and Quickness	

Despite being banged up and unable to finish the event it was clear that Peyton is going to be a good ball player.  His enthusiasm and talent was displayed in the drill portion of the event.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47354" rel="attachment wp-att-47354"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/White-Chris-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47354" /></a></td>
			<td>#17
Chris White
Grade: 4
Paramus, NJ
Height: 4'7"  Weight:66
Wingspan:49  Reach:69
Vertical:18</td>
			<td>Shooting and Passing	

Chris hustles on defense and makes up for his lack of size with quickness and intensity.  He seems to understand the game and gets out in transition extremely well.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47355" rel="attachment wp-att-47355"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Wilcox-Jackson-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47355" /></a></td>
			<td>#25
Jackson Wilcox
Grade: 6
Little Silver, NJ
Height: 5'3"  Weight:88
Wingspan:59  Reach:75
Vertical:15</td>
			<td>Court Vision and Ball Handling	

He is a heady floor general with a tight handle. He also has a great release on an accurate jumper out to about 20 feet. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47356" rel="attachment wp-att-47356"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Wilson-Azmere-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47356" /></a></td>
			<td>#32
Azmere Wilson
Grade: 76
Neptune, NJ
Height: 5'0"  Weight:98
Wingspan:60  Reach: 75
Vertical:17</td>
			<td>Handle and Passing	

Azmere ran the point and was creative with finding teammates or getting to the basket. He was consistent all day long while scoring in the lane. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47357" rel="attachment wp-att-47357"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Wright-Jr.-Rod-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47357" /></a></td>
			<td>#38
Rod Wright Jr.
Grade: 5
Riverton, NJ
Height: 4'8"  Weight:81
Wingspan:53  Reach:72
Vertical:13</td>
			<td>Hustle, Speed, Court Vision	

He handles the ball well and can get the ball to where it needs to be with ease. He made plays for his teammates constantly. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47358" rel="attachment wp-att-47358"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Wymer-Nathan-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47358" /></a></td>
			<td>#29
Nathan Wymer
Grade: 5
Wall, NJ
Height: 4'6"  Weight:91
Wingspan:58  Reach:76
Vertical:13</td>
			<td>Hustle, Attitude, and Passing	

Plays as hard as any player on both ends of the floor.  Looks for teammates and has a knack for making the extra pass.
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47359" rel="attachment wp-att-47359"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Yarbrough-Will-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47359" /></a></td>
			<td>#210
Will Yarbrough
Grade: 8
Summit, NJ
Height: 5'11"  Weight:160
Wingspan:69  Reach:92
Vertical:23</td>
			<td>Strength, Scoring, and Intangibles	

Will lead the Metro Jr Elite in scoring with over 33 in his two games.  He also posted 14/5/7 game displaying his multifaceted ability.  He can guard all positions and really sees the floor well in transition. 
</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47360" rel="attachment wp-att-47360"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Zenkert-Jack-100x75.jpg" alt="" width="100" height="75" class="alignnone size-thumbnail wp-image-47360" /></a></td>
			<td>#93
Jack Zenkert
Grade: 6
Oceanport, NJ
Height: 5'3"  Weight:167
Wingspan:62  Reach:79
Vertical:17</td>
			<td>Hustle and Defense	

Jack has enough strength to always have a shot at getting the defensive rebound. He handles it on the wing and sees his teammates consistently. 
</td>
		</tr>
	</tbody>
</table>
