<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP</td>
			<td>Josiah Riley </td>
			<td>6'3</td>
			<td>Athletics Institute</td>
			<td>Ontario, Canada</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Most Outstanding Prospect (Jr.)</td>
			<td>Dwight Whitlock
</td>
			<td>6'3
</td>
			<td>Kiski Prep
</td>
			<td>Saltsburg, PA
</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Most Outstanding Prospect (Soph)</td>
			<td>Tyler Plummer</td>
			<td>6'3</td>
			<td></td>
			<td>Vaughn, Canada</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Pau Tort</td>
			<td>6'0</td>
			<td>Escola Joan Pelegri</td>
			<td>Barcelona, Spain</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>MIP</td>
			<td>Devin Cooper</td>
			<td>6'4</td>
			<td>Newfield</td>
			<td>Newfield, NY</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Isaiah Foust</td>
			<td>6'1</td>
			<td>Lake Forest Academy</td>
			<td>Chicago, IL </td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Chandler Solis</td>
			<td>6'3</td>
			<td>Millennium</td>
			<td>Goodyear, AZ</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
