<table>
	<thead>
		<tr>
			<th>Jersey_Num</th>
			<th>Players::customers_firstname</th>
			<th>Players::customers_Lastname</th>
			<th>Players::grade</th>
			<th>Players::entry_city</th>
			<th>Players::entry_state</th>
			<th>Players::customers_Height_feet</th>
			<th>Players::customers_Height_inches</th>
			<th>Weight</th>
			<th>Wingspan</th>
			<th>Standing Reach</th>
			<th>Verticle Jump</th>
			<th>Top 100 Strengths</th>
			<th>Top 100 Takeaway</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>40</td>
			<td>Isaiah</td>
			<td>Adams</td>
			<td>6</td>
			<td>Piscataway</td>
			<td>NJ</td>
			<td>5</td>
			<td>5</td>
			<td>132</td>
			<td>69</td>
			<td>85</td>
			<td>22</td>
			<td>Good size and Speed.</td>
			<td>Isaiah may have been the fastest 6th grader in the building and has the strength to go with that speed. His ceiling is very high.</td>
		</tr>
		<tr>
			<td>30</td>
			<td>Joseph</td>
			<td>Baldachino</td>
			<td>7</td>
			<td>Clarksburg</td>
			<td>NJ</td>
			<td>5</td>
			<td>3</td>
			<td>85.8</td>
			<td>61</td>
			<td>79</td>
			<td>20</td>
			<td>Defense and Passing</td>
			<td>Joe is a legitimate lead guard.  He appears to have a very good feel for running a team and can guard the other teams point guard as well.  Appears to understand the flow of the game and create opportunities for others.</td>
		</tr>
		<tr>
			<td>209</td>
			<td>Joseph</td>
			<td>Bartolone</td>
			<td>7</td>
			<td>Red Bank</td>
			<td>NJ</td>
			<td>4</td>
			<td>4</td>
			<td>93</td>
			<td>63</td>
			<td>80</td>
			<td>13</td>
			<td>Left Early</td>
			<td>Joe left the event early.  From previous knowledge Joe has a good mid-range game and would have been a valuable addition to the Hoop Group.</td>
		</tr>
		<tr>
			<td>104</td>
			<td>Ryan</td>
			<td>Belforti</td>
			<td>7</td>
			<td>Colts Neck</td>
			<td>NJ</td>
			<td>5</td>
			<td>8</td>
			<td>118.8</td>
			<td>67.5</td>
			<td>90</td>
			<td>15</td>
			<td>Rebounding and passing skills</td>
			<td>Ryan is a lefty who can pass and see the court with ease.</td>
		</tr>
		<tr>
			<td>212</td>
			<td>Tyler</td>
			<td>Bell</td>
			<td>8</td>
			<td>Ewing</td>
			<td>NJ</td>
			<td>6</td>
			<td>0</td>
			<td>148.6</td>
			<td>75.5</td>
			<td>94</td>
			<td>26</td>
			<td>Slashing ability and defense</td>
			<td>Tyler knows how to penetrate a defense. His athleticism makes him a real threat.</td>
		</tr>
		<tr>
			<td>36</td>
			<td>Tyrese</td>
			<td>Benneman</td>
			<td>6</td>
			<td></td>
			<td></td>
			<td>5</td>
			<td>3</td>
			<td>110</td>
			<td>64</td>
			<td>82</td>
			<td>20</td>
			<td>Ball handling and shooting technique</td>
			<td>Tyrese uses his speed to get past defenders and create opportunities for himself and teammates.</td>
		</tr>
		<tr>
			<td>105</td>
			<td>Jake</td>
			<td>Betlow</td>
			<td>7</td>
			<td>Far Hills</td>
			<td>NJ</td>
			<td>5</td>
			<td>4</td>
			<td>125</td>
			<td>67</td>
			<td>87</td>
			<td>21.5</td>
			<td>Court vision and ball handling</td>
			<td>Jake is very comfortable making a play off of a ball screen, and sees the floor very well. He continues to show dedication to getting better.  Possibly the most advanced 7th grader in the event, talent on par with that of the top 8th graders.  His three point shooting off the bounce and off the catch are equally impressive.  May even have MORE range off the bounce than off the catch.</td>
		</tr>
		<tr>
			<td>23</td>
			<td>Peyton</td>
			<td>Boesch</td>
			<td>7</td>
			<td>Spring Lake</td>
			<td>NJ</td>
			<td>5</td>
			<td>3</td>
			<td>97</td>
			<td>63</td>
			<td>82</td>
			<td>25</td>
			<td>3-Point shooting</td>
			<td>Peyton's basketball IQ is great and his passing skills make him a real threat.  However, it is his long range shooting that appears to be his strength.  Don't leave this kid open.</td>
		</tr>
		<tr>
			<td>89</td>
			<td>Aidan</td>
			<td>Boland</td>
			<td>8</td>
			<td></td>
			<td></td>
			<td>6</td>
			<td>4</td>
			<td>153</td>
			<td>73</td>
			<td>97</td>
			<td>22</td>
			<td>Length and Toughness</td>
			<td>Aidan competed on every play and his defense is admirable. His consistently worked hard all day.</td>
		</tr>
		<tr>
			<td>81</td>
			<td>Justin</td>
			<td>Boston</td>
			<td>7</td>
			<td>Plainfield</td>
			<td>NJ</td>
			<td>5</td>
			<td>6</td>
			<td>129</td>
			<td>68</td>
			<td>87</td>
			<td>24</td>
			<td>Passing and Attitude</td>
			<td>Justin battled throughout the day despite being undersized.  He can drive and get to the basket.  He played well on the defensive end and took advantage of his opportunities throughout the day.</td>
		</tr>
		<tr>
			<td>22</td>
			<td>Davon</td>
			<td>Brown</td>
			<td>6</td>
			<td>Baltimore</td>
			<td>MD</td>
			<td>5</td>
			<td>3</td>
			<td>153</td>
			<td>65</td>
			<td>81</td>
			<td>20</td>
			<td>Physical, Good Handle, Finishes</td>
			<td>Davon has good strength and a tight handle that he uses to get to the basket and score. He does a good job of getting off accurate long range jupers.</td>
		</tr>
		<tr>
			<td>219</td>
			<td>William</td>
			<td>Burzynski</td>
			<td>7</td>
			<td>Rockaway</td>
			<td>NJ</td>
			<td>5</td>
			<td>8</td>
			<td>155</td>
			<td>70</td>
			<td>89</td>
			<td>14</td>
			<td>Defense and Rebounding</td>
			<td>A high IQ rebounder with excellent defensive instincts.  William is able to help and recover on drivers better than most his age and has a good shot to compliment his defensive prowess.</td>
		</tr>
		<tr>
			<td>100</td>
			<td>Chad</td>
			<td>Chambers</td>
			<td>8</td>
			<td>Red Bank</td>
			<td>NJ</td>
			<td>5</td>
			<td>4</td>
			<td>106</td>
			<td>61</td>
			<td>79</td>
			<td>18</td>
			<td>Court Awareness</td>
			<td>Chad possesses good athleticism and passing ability. His future is bright if he continues to grow and work hard.</td>
		</tr>
		<tr>
			<td>103</td>
			<td>Timothy</td>
			<td>Chaney</td>
			<td>8</td>
			<td>Pittstown</td>
			<td>NJ</td>
			<td>5</td>
			<td>7</td>
			<td>115.2</td>
			<td>67.75</td>
			<td>86</td>
			<td>26</td>
			<td>Ball Handling, Quickness, and Court Vision</td>
			<td>Timothy handles the ball extremely well and changes speed and direction to create opportunities for himself and teammates.  As his shot continues to improve he'll be a nightmare from the point or shooting guard position.</td>
		</tr>
		<tr>
			<td>82</td>
			<td>Aaron</td>
			<td>Clarke</td>
			<td>8</td>
			<td>Parsippany</td>
			<td>NJ</td>
			<td>5</td>
			<td>11</td>
			<td>175</td>
			<td>71</td>
			<td>90</td>
			<td>25</td>
			<td>Play Making and Ball Handling</td>
			<td>Aaron had to leave the event early; however during skill work it was clear what type of player and competitor he was.  Aaron has the game to be one of the best players in his grade.  Looking forward to a bright future with Scan, his high school of choice, and his future college.</td>
		</tr>
		<tr>
			<td>92</td>
			<td>Dean</td>
			<td>Damen</td>
			<td>6</td>
			<td>Manasquan</td>
			<td>NJ</td>
			<td>5</td>
			<td>2</td>
			<td>92</td>
			<td>60</td>
			<td>78</td>
			<td>15</td>
			<td>Ball handling and Seeing the Court.</td>
			<td>He was comfortable with the ball and rarely turned it over against pressure. He has enough speed to get past a defender and then find teammates.</td>
		</tr>
		<tr>
			<td>24</td>
			<td>Ryan</td>
			<td>Dawe</td>
			<td>7</td>
			<td>Manalpan</td>
			<td>NJ</td>
			<td>5</td>
			<td>4</td>
			<td>106</td>
			<td>63</td>
			<td>82</td>
			<td>14</td>
			<td>Handles and Passing</td>
			<td>Excellent off guard with poise.  Athletically and defensively inclined, while still able to find ways to score.  Point in transition may be his specialty.</td>
		</tr>
		<tr>
			<td>95</td>
			<td>Rylan</td>
			<td>Daye</td>
			<td>7</td>
			<td>Neptune</td>
			<td>NJ</td>
			<td>5</td>
			<td>6</td>
			<td>141</td>
			<td>67</td>
			<td>85</td>
			<td>23</td>
			<td>Shooting and Ball Handling</td>
			<td>Rylan is a good swing player with a nice touch. His handle is great for a player with size.</td>
		</tr>
		<tr>
			<td>18</td>
			<td>Zachary</td>
			<td>Demello</td>
			<td>6</td>
			<td>Port Monmouth</td>
			<td>NJ</td>
			<td>5</td>
			<td>4</td>
			<td>114</td>
			<td>63</td>
			<td>80</td>
			<td>13</td>
			<td>Rebounding, Works Hard, Strong</td>
			<td>Zach crashed the defensive boards all day. He showed the ability to catch and shoot as well as get to the rim and score.</td>
		</tr>
		<tr>
			<td>221</td>
			<td>JC</td>
			<td>Dobis</td>
			<td>7</td>
			<td>Medford</td>
			<td>NJ</td>
			<td>6</td>
			<td>1</td>
			<td>188</td>
			<td>74</td>
			<td>93</td>
			<td>21</td>
			<td>Size and Strength</td>
			<td>Strong player who is difficult to dislodge from the post.  Good at rebounding, outlets, and running the floor in transition.  A dream big man if your team like to run the fast break.  With additional skill work his good hands and low post presence will begin to jump out at HS coaches.</td>
		</tr>
		<tr>
			<td>99</td>
			<td>Brian</td>
			<td>Eames</td>
			<td>7</td>
			<td>Randolph</td>
			<td>NJ</td>
			<td>5</td>
			<td>3</td>
			<td>117</td>
			<td>63</td>
			<td>81</td>
			<td>16</td>
			<td>Size and Shooting Ability</td>
			<td>Brian showed good timing when getting defensive rebounds. He played smart the entire day and took full advantage of every defensive break down in the post.</td>
		</tr>
		<tr>
			<td>207</td>
			<td>Dakari</td>
			<td>Ervin</td>
			<td>7</td>
			<td>Newark</td>
			<td>NJ</td>
			<td>5</td>
			<td>5</td>
			<td>123</td>
			<td>68</td>
			<td>85</td>
			<td>21</td>
			<td>Ball Handling, Driving, Passing</td>
			<td>Dakari is a guard who can do many things well.  The word complete would be the best way to describe his game.  While his numbers do not jump off the page he has an air about him that makes you want to watch him play.   Creative with the ball and a tough defender.</td>
		</tr>
		<tr>
			<td>91</td>
			<td>Ian</td>
			<td>Fitzgerald</td>
			<td>8</td>
			<td>Neptune</td>
			<td>NJ</td>
			<td>5</td>
			<td>6</td>
			<td>135</td>
			<td>67</td>
			<td>84</td>
			<td>22</td>
			<td>Toughness and Defense</td>
			<td>His grit really helped his team. Ian defends with passion and anticipates steals in passing lanes. His ball handling is solid.</td>
		</tr>
		<tr>
			<td>80</td>
			<td>Ryan</td>
			<td>Flanagan</td>
			<td>7</td>
			<td>West Long Branch</td>
			<td>NJ</td>
			<td>5</td>
			<td>10</td>
			<td>135</td>
			<td>71</td>
			<td>90</td>
			<td>21</td>
			<td>Rebounding and Passing</td>
			<td>Ryan has a nice feel for the game and his size makes him a good big man.</td>
		</tr>
		<tr>
			<td>86</td>
			<td>Art</td>
			<td>Foreman</td>
			<td>7</td>
			<td>Brielle</td>
			<td>NJ</td>
			<td>5</td>
			<td>0</td>
			<td>150.4</td>
			<td>67.5</td>
			<td>84</td>
			<td>16</td>
			<td>Shooting and Ball Handling</td>
			<td>He displays a smooth touch on the jumper and shots out to 15 feet.</td>
		</tr>
		<tr>
			<td>218</td>
			<td>Daniel</td>
			<td>Frauenheim</td>
			<td>8</td>
			<td>Somerville</td>
			<td>NJ</td>
			<td>5</td>
			<td>8</td>
			<td>132</td>
			<td>67</td>
			<td>86</td>
			<td>20</td>
			<td>Toughness, Passing, Ball Handling</td>
			<td>Daniel is a TRUE PG.  Very rare to see a player who understands the game AND is not afraid to play against the toughest of defenders at this age.  Daniel sees the floor very well and handles it well enough to navigate the defense and create for teammates.  He is one tough competitor.</td>
		</tr>
		<tr>
			<td>34</td>
			<td>James</td>
			<td>Frostick</td>
			<td>7</td>
			<td></td>
			<td></td>
			<td>5</td>
			<td>0</td>
			<td>90</td>
			<td>59</td>
			<td>78</td>
			<td>15</td>
			<td>Passing and Effort</td>
			<td>Jimmy appears to be a wing or 2-guard with potential to someday become a point.  He has good skills and has he gets more aggressive offensively his scoring will rise.  Excellent in the skill work portion of the event and has a desire to improve that radiates to others around him.</td>
		</tr>
		<tr>
			<td>222</td>
			<td>Anthony</td>
			<td>Garcia</td>
			<td>8</td>
			<td></td>
			<td></td>
			<td>6</td>
			<td>6</td>
			<td>181</td>
			<td>79</td>
			<td>102</td>
			<td>21</td>
			<td>Size and Athleticism</td>
			<td>Anthony has excellent physical tools and rebounds the ball like very few 8th graders can.  He led the event in rebounding averaging 15 per game!  The Scan 8th grader uses his length to deter shots and create transition opportunities for his team.  He also recorded two double doubles scoring 13 and 12 respectively.</td>
		</tr>
		<tr>
			<td>98</td>
			<td>Alexx</td>
			<td>Harbour</td>
			<td>7</td>
			<td></td>
			<td></td>
			<td>6</td>
			<td>3</td>
			<td>156</td>
			<td>74</td>
			<td>91</td>
			<td>28</td>
			<td>Speed, Strength, Dribble Drive</td>
			<td>Alexx is a very fast and strong player.  He has an excellent skill set for a big man and pretty good athleticism.  The more he works on his game the higher his ceiling will become.</td>
		</tr>
		<tr>
			<td>83</td>
			<td>Tristan</td>
			<td>Isaac</td>
			<td>8</td>
			<td>West Hempstead</td>
			<td>NY</td>
			<td>5</td>
			<td>9</td>
			<td>115</td>
			<td>68</td>
			<td>85</td>
			<td>21</td>
			<td>Finishing and Court Awareness</td>
			<td>Tristan Isaac is one smooth operator.  This tall point guard was able to score, dish, and control tempo throughout the event.  His scoring numbers were lower than they could have been because he was so unselfish and helped lead his team to two victories.</td>
		</tr>
		<tr>
			<td>211</td>
			<td>Jalen</td>
			<td>Jackson</td>
			<td>7</td>
			<td>Brick</td>
			<td>NJ</td>
			<td>5</td>
			<td>5</td>
			<td>101.6</td>
			<td>62</td>
			<td>79</td>
			<td>23.5</td>
			<td>Speed, Ball Handling, Creativity</td>
			<td>Jalen may have been the best point guard at the event.  He is an extremely complete player and he does everything well.  Jalen was third in the event in assists and created transition opportunities for his teammates time and time again.</td>
		</tr>
		<tr>
			<td>41</td>
			<td>D.J</td>
			<td>Jones</td>
			<td>7</td>
			<td>Neptune</td>
			<td>NJ</td>
			<td>5</td>
			<td>0</td>
			<td>89</td>
			<td>60</td>
			<td>77</td>
			<td>22</td>
			<td>Driving and Dribble Moves</td>
			<td>Darien, or "DJ", has the ability to see the floor while creating off the dribble.  He has more work to do, but certainly proved to himself and his teammates he has the make-up to handle running the show at the point guard.</td>
		</tr>
		<tr>
			<td>42</td>
			<td>Dwaine</td>
			<td>Jones</td>
			<td>7</td>
			<td>Neptune</td>
			<td>NJ</td>
			<td>5</td>
			<td>0</td>
			<td>94</td>
			<td>62</td>
			<td>80</td>
			<td>15</td>
			<td>Making Plays, Sees the Court</td>
			<td>He's a good point guard with a nice feel for the game and can run a team with ease.</td>
		</tr>
		<tr>
			<td>84</td>
			<td>Anthony</td>
			<td>Kelley</td>
			<td>8</td>
			<td>Springfield</td>
			<td>MA</td>
			<td>5</td>
			<td>8</td>
			<td>143</td>
			<td>72</td>
			<td>90</td>
			<td>24</td>
			<td>Well Rounded</td>
			<td>Anthony had to leave the event after the college workout session.  Clearly could have been one of the better scorers and overall players should he have stayed.  Bright future.</td>
		</tr>
		<tr>
			<td>27</td>
			<td>Liam</td>
			<td>Kennedy</td>
			<td>7</td>
			<td>Spring Lake</td>
			<td>NJ</td>
			<td>5</td>
			<td>9</td>
			<td>126</td>
			<td>68</td>
			<td>86</td>
			<td>25</td>
			<td>Ball Control, Quickness, and BBall IQ</td>
			<td>Liam is a combo guard who can score and distribute.  His shooting form is excellent and appears to be lights out from just outside the arc.  Although he didn't have as many offensive opportunities as some other scorers in the event Liam was very efficient (7 point, 4 assists, and 5 rebounds in one game) and even hit clutch free-throws in the only overtime game of the event.  Bright future for him.</td>
		</tr>
		<tr>
			<td>15</td>
			<td>Patrick</td>
			<td>Kernan</td>
			<td>7</td>
			<td>Medford</td>
			<td>NJ</td>
			<td>5</td>
			<td>8</td>
			<td>104</td>
			<td>65</td>
			<td>82</td>
			<td>22</td>
			<td>Shot and Handles</td>
			<td>Patrick has a good handle and skills on the wing.  Patrick's shooting and dribbling skills really stood out.  He has a bright future and good size.</td>
		</tr>
		<tr>
			<td>90</td>
			<td>Kyle</td>
			<td>Koob</td>
			<td>7</td>
			<td>West Long Branch</td>
			<td>NJ</td>
			<td>5</td>
			<td>8</td>
			<td>127</td>
			<td>69</td>
			<td>88</td>
			<td>19</td>
			<td>Dribbling in Traffic and Shooting</td>
			<td>Kyle is a very complete player with good size for a 7th grade guard.  His ability to take the ball to the hoop with different dribble moves makes him difficult to guard.  As his jump shot continues to improve he'll get more and more difficult to guard. Great speed with the ball.</td>
		</tr>
		<tr>
			<td>33</td>
			<td>Jack</td>
			<td>Kudrick</td>
			<td>7</td>
			<td>Allentown</td>
			<td>NJ</td>
			<td>5</td>
			<td>0</td>
			<td>77.8</td>
			<td>58.75</td>
			<td>80.5</td>
			<td>17.5</td>
			<td>Athleticism and Passing</td>
			<td>Jack's fundamentals are solid and appears to be a great floor general.</td>
		</tr>
		<tr>
			<td>88</td>
			<td>Justin</td>
			<td>La Pierre</td>
			<td>8</td>
			<td>Rahway</td>
			<td>NJ</td>
			<td>6</td>
			<td>0</td>
			<td>139</td>
			<td>70</td>
			<td>91</td>
			<td>24</td>
			<td>Athleticism and Strength</td>
			<td>Justin's fundamentals are solid. He's an superb athlete and can really get to the basket. He has a high ceiling.</td>
		</tr>
		<tr>
			<td>39</td>
			<td>Tyree</td>
			<td>Lampkin</td>
			<td>6</td>
			<td>Riverton</td>
			<td>NJ</td>
			<td>5</td>
			<td>0</td>
			<td>101.4</td>
			<td>63</td>
			<td>80</td>
			<td>18.5</td>
			<td>Rebounding and Strength</td>
			<td>He is opportunistic on the boards and beats opponents to the ball. He has enough handle to start the break, give the ball to a teammate then finish in traffic. </td>
		</tr>
		<tr>
			<td>35</td>
			<td>Carter</td>
			<td>Lapena</td>
			<td>7</td>
			<td>Clifton</td>
			<td>NJ</td>
			<td>5</td>
			<td>0</td>
			<td>88.2</td>
			<td>61.5</td>
			<td>80</td>
			<td>19.5</td>
			<td>Ball handling and passing skills are superb.</td>
			<td>Carter has an excellent feel for the game and is a very good lead guard.</td>
		</tr>
		<tr>
			<td>215</td>
			<td>Matthew</td>
			<td>Laudisi</td>
			<td>8</td>
			<td>Middletown</td>
			<td>NJ</td>
			<td>5</td>
			<td>9</td>
			<td>130</td>
			<td>69</td>
			<td>88</td>
			<td>19</td>
			<td>Passing and Rebounding</td>
			<td>Matthew is extremely tough and defends well, especially off the ball with good positioning.  He possesses solid fundamentals on the offensive side of the ball.</td>
		</tr>
		<tr>
			<td>21</td>
			<td>Bryce</td>
			<td>Lindsay</td>
			<td>4</td>
			<td>Baltimore</td>
			<td>MD</td>
			<td>4</td>
			<td>10</td>
			<td>88</td>
			<td>59</td>
			<td>76</td>
			<td>15</td>
			<td>Jump Shot  and Ball Handling Skills</td>
			<td>Bryce is skilled for such a young age and his skills will only continue to improve. His shooting fundamentals are solid both off the catch and dribble.  His ball handling and court vision are equally impressive.  Bryce was 2nd among 4th-6th graders in assists.</td>
		</tr>
		<tr>
			<td>31</td>
			<td>Owen</td>
			<td>Lyons</td>
			<td>5</td>
			<td>Brielle</td>
			<td>NJ</td>
			<td>4</td>
			<td>10</td>
			<td>75</td>
			<td>58</td>
			<td>76</td>
			<td>17</td>
			<td>Defense and Quickness</td>
			<td>Owen plays with a high motor and hustles from end to end. He has good foot speed to defend out on the wing and handles the ball well offensively.</td>
		</tr>
		<tr>
			<td>217</td>
			<td>Rodrique</td>
			<td>Massenat</td>
			<td>8</td>
			<td>Trenton</td>
			<td>NJ</td>
			<td>6</td>
			<td>2</td>
			<td>149</td>
			<td>76</td>
			<td>96</td>
			<td>27</td>
			<td>Athleticism, Leadership, Defense</td>
			<td>Rodrique possesses everything you need to be a great basketball player.  Watching this talent develop will be interesting.  Fantastic attitude throughout the event.  With minor adjustments to his shot he could become a top offensive player in the state.  Rodrique scored double digits in both games and grabbed over 6 boards in both games.</td>
		</tr>
		<tr>
			<td>200</td>
			<td>Cole</td>
			<td>McNeil</td>
			<td>7</td>
			<td>Philadelphia</td>
			<td>PA</td>
			<td>5</td>
			<td>1</td>
			<td>116</td>
			<td>65</td>
			<td>83</td>
			<td>24</td>
			<td>Defense and Speed</td>
			<td>He is an all around good player who does most things quite well. His speed and athleticism are great.</td>
		</tr>
		<tr>
			<td>11</td>
			<td>Kyle</td>
			<td>Moore
</td>
			<td>8</td>
			<td>Marlboro</td>
			<td>NJ</td>
			<td>5</td>
			<td>4</td>
			<td>95.2</td>
			<td>64.5</td>
			<td>82</td>
			<td>18.5</td>
			<td>Ball Handling and Competitve Nature</td>
			<td>Kyle uses the ball screen very effectively and despite playing on a talented team was still able to stand out as a talented young guard.  His shot, although unorthodox, was one of the best at the event.  He doesn't back down to anybody and was a big reason why his team won both games.  Possibly the best workout player in the event.</td>
		</tr>
		<tr>
			<td>44</td>
			<td>Anthony</td>
			<td>Moynihan</td>
			<td>8</td>
			<td>Livingston</td>
			<td>NJ</td>
			<td>5</td>
			<td>2</td>
			<td>87.2</td>
			<td>61</td>
			<td>79</td>
			<td>17.5</td>
			<td>Quickness and ball handling</td>
			<td>He has a nice ability to distribute the ball and his basketball IQ is commendable.</td>
		</tr>
		<tr>
			<td>208</td>
			<td>Mark</td>
			<td>Natiello</td>
			<td>8</td>
			<td>Westfield</td>
			<td>NJ</td>
			<td>5</td>
			<td>9</td>
			<td>128</td>
			<td>69</td>
			<td>85</td>
			<td>26</td>
			<td>Shooting, Basketball IQ</td>
			<td>He can really shoot the ball from deep and has a good sense of what is happening on the court. The type of player you want on your team.</td>
		</tr>
		<tr>
			<td>94</td>
			<td>Jonathan</td>
			<td>Nickel</td>
			<td>8</td>
			<td>Port Monmouth</td>
			<td>NJ</td>
			<td>4</td>
			<td>6</td>
			<td>116</td>
			<td>65</td>
			<td>82</td>
			<td>14</td>
			<td>Shooting fundamentals and court vision.</td>
			<td>Jonathan's defense and rebounding skills are good, and his awareness for the court only adds to his skillset. </td>
		</tr>
		<tr>
			<td>216</td>
			<td>Jacob</td>
			<td>O'connell</td>
			<td>7</td>
			<td>Kirkwood Voorhees</td>
			<td>NJ</td>
			<td>6</td>
			<td>4</td>
			<td>167</td>
			<td>72</td>
			<td>97</td>
			<td>20</td>
			<td>Good Handles and Court Vision</td>
			<td>Jacob O'Connell is a big man with a chance to be very good! He worked hard all 5 hours of the Junior Elite and showed excellent passing skills for a player of his size.  Intelligent player in the low and mid-post areas.</td>
		</tr>
		<tr>
			<td>214</td>
			<td>William</td>
			<td>O'Neil</td>
			<td>8</td>
			<td>Morristown</td>
			<td>NJ</td>
			<td>5</td>
			<td>11</td>
			<td>198</td>
			<td>68.5</td>
			<td>89.5</td>
			<td>23</td>
			<td>Athleticism and Effort</td>
			<td>Will is gifted athletically and especially his lateral quickness.  He worked extremely hard all day and his size is not all he has going for him, he also possesses good touch and with improving range may end up a good shooter.</td>
		</tr>
		<tr>
			<td>37</td>
			<td>Ryan</td>
			<td>Platzke</td>
			<td>7</td>
			<td>Red Bank</td>
			<td>NJ</td>
			<td>5</td>
			<td>1</td>
			<td>79.6</td>
			<td>60</td>
			<td>79</td>
			<td>17.5</td>
			<td>Passing and Defense</td>
			<td>Very scrappy and well disciplined player.  Goes after every opportunity and helps ignite his teams with his enthusiasm.  Appeared to be very intent on improving his game all day and could develop into a great defensive player.  Passing ability also above average for his age.</td>
		</tr>
		<tr>
			<td>213</td>
			<td>Brendan</td>
			<td>Powell</td>
			<td>8</td>
			<td>Verona</td>
			<td>NJ</td>
			<td>5</td>
			<td>9</td>
			<td>131.2</td>
			<td>68</td>
			<td>88</td>
			<td>23</td>
			<td>Positioning and Teamwork</td>
			<td>Brendan didn't score prolifically during the games, but this was because he adapted his game to fit what his team needed.  He event grabbed 6 rebounds in one of his teams games.  Brendan looks like a great team player who can adapt at any level.</td>
		</tr>
		<tr>
			<td>101</td>
			<td>Phil</td>
			<td>Pydyszewski</td>
			<td>8</td>
			<td>Rockaway</td>
			<td>NJ</td>
			<td>5</td>
			<td>10</td>
			<td>126.6</td>
			<td>69</td>
			<td>88</td>
			<td>22</td>
			<td>Ball Handling</td>
			<td>Phil attacks the rim very well. He's a heady player that sees open teammates. Great athleticism.</td>
		</tr>
		<tr>
			<td>102</td>
			<td>Brandon</td>
			<td>Robinson</td>
			<td>8</td>
			<td>Pittstown</td>
			<td>NJ</td>
			<td>6</td>
			<td>0</td>
			<td>148</td>
			<td>73</td>
			<td>94</td>
			<td>24</td>
			<td>Aggressiveness and slashing ability</td>
			<td>Brandon wills his way to the basket. He has excellent one on one skills and always seems to get to the free throw line.</td>
		</tr>
		<tr>
			<td>14</td>
			<td>Jamaal</td>
			<td>Robinson</td>
			<td>8</td>
			<td>Bronx</td>
			<td>NY</td>
			<td>5</td>
			<td>10</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>Handles and Attacking the Rim</td>
			<td>A good point guard who has the ability to penetrate to score.  His shot is good from 15' and in, and he'll become more difficult to guard as he begins to extend his range and consistency.  Defensively his quickness allows his to stay in front of defenders.</td>
		</tr>
		<tr>
			<td>106</td>
			<td>Ethan</td>
			<td>Santos</td>
			<td>4</td>
			<td>Brampton</td>
			<td>CAN</td>
			<td>5</td>
			<td>6</td>
			<td>151.4</td>
			<td>67.5</td>
			<td>88</td>
			<td>17</td>
			<td>Using his size and strength, Shooting Fundamentals</td>
			<td>Ethan uses his size to rebound and get to the basket and score. He has an excellent feel for the game.</td>
		</tr>
		<tr>
			<td>206</td>
			<td>Joseph</td>
			<td>Scardino</td>
			<td>7</td>
			<td>Spring Lake</td>
			<td>NJ</td>
			<td>5</td>
			<td>4</td>
			<td>121</td>
			<td>65</td>
			<td>81</td>
			<td>25</td>
			<td>Passing and Defense</td>
			<td>Joe has the ability to develop into a nice player.  As Joe's speed improves he'll be able to use his ball handing and passing abilities to create for others and himself.  Recorded 6 points in his teams second win.</td>
		</tr>
		<tr>
			<td>96</td>
			<td>RJ</td>
			<td>Sheridan</td>
			<td>7</td>
			<td>Lakewood</td>
			<td>NJ</td>
			<td>5</td>
			<td>1</td>
			<td>143</td>
			<td>65</td>
			<td>81</td>
			<td>18</td>
			<td>Passing and Driving skills</td>
			<td>A very good player when going to the hoop and has a very good feel.</td>
		</tr>
		<tr>
			<td>20</td>
			<td>John</td>
			<td>Shovelin</td>
			<td>8</td>
			<td>Middletown</td>
			<td>NJ</td>
			<td>5</td>
			<td>6</td>
			<td>111</td>
			<td>66</td>
			<td>88</td>
			<td>14</td>
			<td>Shooting and Passing</td>
			<td>John displays a nice touch around the basket. His basketball IQ is superb.</td>
		</tr>
		<tr>
			<td>19</td>
			<td>Shane</td>
			<td>Shovelin</td>
			<td>6</td>
			<td>Middletown</td>
			<td>NJ</td>
			<td>5</td>
			<td>0</td>
			<td>91</td>
			<td>58</td>
			<td>75</td>
			<td>15</td>
			<td>Shooting Ability and Ball Handling</td>
			<td>Shows the ability to play both guard positions equally well.  Has good form and an adequate mid-range jumpshot off the dribble and on the catch.  Doesn't turn the ball over.</td>
		</tr>
		<tr>
			<td>97</td>
			<td>Emilio</td>
			<td>Stevenson</td>
			<td>8</td>
			<td>Brielle</td>
			<td>NJ</td>
			<td>5</td>
			<td>4</td>
			<td>96</td>
			<td>68</td>
			<td>85</td>
			<td>18</td>
			<td>Emilio's athleticism and ball handling skills were on display all afternoon.</td>
			<td>His quickness and team skills are good.</td>
		</tr>
		<tr>
			<td>87</td>
			<td>Makai</td>
			<td>Suit</td>
			<td>6</td>
			<td>Neptune</td>
			<td>NJ</td>
			<td>5</td>
			<td>6</td>
			<td>135</td>
			<td>64</td>
			<td>84</td>
			<td>19</td>
			<td>Finishes and Handles the Ball Well</td>
			<td>Suit has pretty good size and took defenders to the basket all day with a good power dribble. He has plenty of size and strength to shoot the ball out to 20 feet.</td>
		</tr>
		<tr>
			<td>226</td>
			<td>Walter</td>
			<td>Talley</td>
			<td>8</td>
			<td></td>
			<td></td>
			<td>6</td>
			<td>0</td>
			<td>190</td>
			<td>76</td>
			<td>100</td>
			<td>27</td>
			<td>Too many to Mention</td>
			<td>Walter is extremely athletic ALREADY.  However, his game doesn't stop here.  The 2018, Team Scan stud can do it all.  Very talented player whose leaping and quickness are another level above the competition.  He also displayed excellent court vision.  Had one game with 8pts, 5assists, and 11rebounds.</td>
		</tr>
		<tr>
			<td>109</td>
			<td>Sean</td>
			<td>Tice</td>
			<td>7</td>
			<td>Farmingdale</td>
			<td>NJ</td>
			<td>5</td>
			<td>7</td>
			<td>133</td>
			<td>67.5</td>
			<td>85.5</td>
			<td>17.5</td>
			<td>Ball Handling and Passing</td>
			<td>Sean is a solid wing, who is able to distribute and handle the ball without turning it over.  Can get around defenders easily going left and is crafty at creating his shot.</td>
		</tr>
		<tr>
			<td>26</td>
			<td>Latrell</td>
			<td>Townsend</td>
			<td>7</td>
			<td>Egg Harbor Twp</td>
			<td>NJ</td>
			<td>4</td>
			<td>6</td>
			<td>84.4</td>
			<td>62.5</td>
			<td>80</td>
			<td>19</td>
			<td>Ball Handling and Quickness</td>
			<td>He is a great PG at this level and does a great job of sharing the ball.</td>
		</tr>
		<tr>
			<td>107</td>
			<td>Kyle</td>
			<td>Ume</td>
			<td>8</td>
			<td>Livingston</td>
			<td>NJ</td>
			<td>6</td>
			<td>1</td>
			<td>151.4</td>
			<td>68.5</td>
			<td>91</td>
			<td>31.5</td>
			<td>Competitiveness and Athleticism</td>
			<td>Kyle works extremely hard and is very disciplined in workouts.  He has a desire to improve.  He has a natural gift of athleticism and did a great job of defending drivers and altering shots.</td>
		</tr>
		<tr>
			<td>108</td>
			<td>Max</td>
			<td>Valles</td>
			<td>8</td>
			<td>Chester</td>
			<td>NJ</td>
			<td>5</td>
			<td>2</td>
			<td>121.2</td>
			<td>62</td>
			<td>82</td>
			<td>18</td>
			<td>Creativity, Toughness</td>
			<td>Valles is a smooth player with good ball handling skills. He continually battled during each game and was a big factor during his time on the floor.</td>
		</tr>
		<tr>
			<td>85</td>
			<td>Tyler</td>
			<td>Washington</td>
			<td>8</td>
			<td>New York</td>
			<td>NY</td>
			<td>5</td>
			<td>11</td>
			<td>148.2</td>
			<td>71.5</td>
			<td>93</td>
			<td>26.5</td>
			<td>Ball Handling and Creativity</td>
			<td>Tyler was one of the best all-around players at the Junior Elite.  He possesses very sound ball-handling and dribble moves; while always seeming to find open teammates.  He is able to get to the rim extremely well.  Defensive rebounding was also fantastic.  The Team Scan guard had 28 points, 9 assists, and 17 rebounds between the two games.</td>
		</tr>
		<tr>
			<td>28</td>
			<td>Peyton</td>
			<td>West</td>
			<td>6</td>
			<td>Medford</td>
			<td>NJ</td>
			<td>4</td>
			<td>9</td>
			<td>89.4</td>
			<td>56.5</td>
			<td>75</td>
			<td>11</td>
			<td>Attitude and Quickness</td>
			<td>Despite being banged up and unable to finish the event it was clear that Peyton is going to be a good ball player.  His enthusiasm and talent was displayed in the drill portion of the event.</td>
		</tr>
		<tr>
			<td>17</td>
			<td>Chris</td>
			<td>White</td>
			<td>4</td>
			<td>Paramus</td>
			<td>NJ</td>
			<td>4</td>
			<td>7</td>
			<td>66</td>
			<td>49</td>
			<td>69</td>
			<td>17</td>
			<td>Shooting and Passing</td>
			<td>Chris hustles on defense and makes up for his lack of size with quickness and intensity.  He seems to understand the game and gets out in transition extremely well.</td>
		</tr>
		<tr>
			<td>25</td>
			<td>Jackson</td>
			<td>Wilcox</td>
			<td>6</td>
			<td>Little Silver</td>
			<td>NJ</td>
			<td>5</td>
			<td>3</td>
			<td>88</td>
			<td>59</td>
			<td>75</td>
			<td>15</td>
			<td>Court Vision and Ball Handling</td>
			<td>He is a heady floor general with a tight handle. He also has a great release on an accurate jumper out to about 20 feet.</td>
		</tr>
		<tr>
			<td>32</td>
			<td>Azmere</td>
			<td>Wilson</td>
			<td>6</td>
			<td>Neptune</td>
			<td>NJ</td>
			<td>5</td>
			<td>0</td>
			<td>98</td>
			<td>60</td>
			<td>75</td>
			<td>17</td>
			<td>Handle and Passing</td>
			<td>Azmere ran the point and was creative with finding teammates or getting to the basket. He was consistent all day long while scoring in the lane.</td>
		</tr>
		<tr>
			<td>38</td>
			<td>Rod</td>
			<td>Wright Jr.</td>
			<td>5</td>
			<td>Riverton</td>
			<td>NJ</td>
			<td>4</td>
			<td>8</td>
			<td>80.8</td>
			<td>53</td>
			<td>72</td>
			<td>12.5</td>
			<td>Hustle, Speed, Court Vision</td>
			<td>He handles the ball well and can get the ball to where it needs to be with ease. He made plays for his teammates constantly.</td>
		</tr>
		<tr>
			<td>29</td>
			<td>Nathan</td>
			<td>Wymer</td>
			<td>5</td>
			<td>Wall</td>
			<td>NJ</td>
			<td>4</td>
			<td>6</td>
			<td>91.2</td>
			<td>57.5</td>
			<td>76</td>
			<td>12</td>
			<td>Hustle, Attitude, and Passing</td>
			<td>Plays as hard as any player on both ends of the floor.  Looks for teammates and has a knack for making the extra pass.</td>
		</tr>
		<tr>
			<td>210</td>
			<td>Will</td>
			<td>Yarbrough</td>
			<td>8</td>
			<td>Summit</td>
			<td>NJ</td>
			<td>5</td>
			<td>11</td>
			<td>159.8</td>
			<td>69</td>
			<td>91.5</td>
			<td>23</td>
			<td>Strength, Scoring, and Intangibles</td>
			<td>Will lead the Metro Jr Elite in scoring with over 33 in his two games.  He also posted 14/5/7 game displaying his multifaceted ability.  He can guard all positions and really sees the floor well in transition.</td>
		</tr>
		<tr>
			<td>93</td>
			<td>Jack</td>
			<td>Zenkert</td>
			<td>6</td>
			<td>Oceanport</td>
			<td>NJ</td>
			<td>5</td>
			<td>3</td>
			<td>167</td>
			<td>62</td>
			<td>79</td>
			<td>17</td>
			<td>Plays Hard and Works on Defense</td>
			<td>Jack has enough strength to always have a shot at getting the defensive rebound. He handles it on the wing and sees his teammates consistently.</td>
		</tr>
	</tbody>
</table>
