<table>
	<thead>
		<tr>
			<th>Grade</th>
			<th>DATE</th>
			<th>Time</th>
			<th>EVENT</th>
			<th>REGISTRATION / PRICE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>2-6</td>
			<td>Sat, May 10</td>
			<td>9:00am - 11:30am</td>
			<td>2014 Spring HoopFest</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_157&amp;products_id=1743">Register Here</a></td>
		</tr>
		<tr>
			<td>7-12</td>
			<td>Sat, May 10</td>
			<td>11:30am - 2:00pm</td>
			<td>2014 Spring HoopFest</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_157&amp;products_id=1744">Register Here</a></td>
		</tr>
	</tbody>
</table>
