<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP</td>
			<td>Deronquez Wynn</td>
			<td>6'2</td>
			<td>Deeper Life Academy</td>
			<td>Washington, NC </td>
			<td>2016</td>
		</tr>
		<tr>
			<td>MIP</td>
			<td>Devin Smith</td>
			<td>6'6</td>
			<td>Upper Dublin </td>
			<td>Upper Dublin, PA</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Imhotep Davis</td>
			<td>6'2</td>
			<td>Glen Mills School</td>
			<td>Glen Mills, PA</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Keith Seaman</td>
			<td>6'1</td>
			<td>Centereach</td>
			<td>Centereach, PA</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>CoSon Taylor</td>
			<td>5'9</td>
			<td>Ewing HS</td>
			<td>Ewing, NJ</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>All-Star MVP</td>
			<td>Kaden Baugh</td>
			<td>6'2</td>
			<td>Seton Catholic Central</td>
			<td>Plattburgh, NY</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
