<table>
	<thead>
		<tr>
			<th>Award/Player</th>
			<th>Class</th>
			<th>High School</th>
			<th>Hometown</th>
			<th>Photo</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Sweatshop Star</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>NCAA:  Josh Reding</td>
			<td>2018</td>
			<td>Spencerport</td>
			<td>Spencerport, NY</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Josh-Reding-Sweatshop-Star-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-thumbnail wp-image-63252" /></td>
		</tr>
		<tr>
			<td>West: Eric Van Note</td>
			<td>2016</td>
			<td>Hunterdon Central</td>
			<td>Flemington, NJ</td>
			<td>Picture Not Available</td>
		</tr>
		<tr>
			<td>East: Jefferson Collins</td>
			<td>2016</td>
			<td>Mount St. Joseph's</td>
			<td>Baltimore, MD</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Jefferson-Collins-Sweatshop-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-thumbnail wp-image-63251" /></td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>NCAA:  Jake Glezen</td>
			<td>2018</td>
			<td>Loomis Chaffee</td>
			<td>Windsor, CT</td>
			<td>Picture Not Available</td>
		</tr>
		<tr>
			<td>NCAA: Michele Piatti</td>
			<td>2018</td>
			<td>Liceo Scientifico Leonardo</td>
			<td>Milan, ITA</td>
			<td>Picture Not Available</td>
		</tr>
		<tr>
			<td>West: Irie Harris</td>
			<td>2017</td>
			<td>Bishop Shanahan</td>
			<td>Downington, PA</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Irie-Harris-Station-Star-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-thumbnail wp-image-63250" /></td>
		</tr>
		<tr>
			<td>East: Marcus Pena</td>
			<td>2016</td>
			<td>Lawrence</td>
			<td>Lawrence, MA</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/IMG_7852-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-thumbnail wp-image-63222" /></td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>NCAA: Brian Levine</td>
			<td>2018</td>
			<td>Malrboro</td>
			<td>Marlboro, NJ</td>
			<td>Picture Not Available</td>
		</tr>
		<tr>
			<td>West: Laron Wilcox</td>
			<td>2016</td>
			<td>Glen Mills</td>
			<td>Glen Mills, MO</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Laron-Wilcox--300x200.jpg" alt="" width="300" height="200" class="aligncenter size-thumbnail wp-image-63253" /></td>
		</tr>
		<tr>
			<td>East: Nate Tenaglia</td>
			<td>2016</td>
			<td>Tewksbury HS</td>
			<td>Tewskbury, MA</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Nate-Tenaglia-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-thumbnail wp-image-63256" /></td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>NCAA: Kahleel Gray</td>
			<td>2018</td>
			<td>Everglades</td>
			<td>Miramar, FL</td>
			<td>Picture Not Available</td>
		</tr>
		<tr>
			<td>West: Marcus Downer</td>
			<td>2016</td>
			<td>Monsignor McClancy</td>
			<td>Queens, NY</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Marcus-Downer-MIP-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-thumbnail wp-image-63254" /></td>
		</tr>
		<tr>
			<td>East: Donyell Marshall Jr</td>
			<td>2016</td>
			<td>Orange HS</td>
			<td>Pepperpike,OH</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Donyell-Marshall-Jr-MIP-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-thumbnail wp-image-63249" /></td>
		</tr>
		<tr>
			<td>Most Outstanding Player</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>NCAA: Keigan Kerby</td>
			<td>2018</td>
			<td>Brooks School</td>
			<td>Anover, MA</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/IMG_7859-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-thumbnail wp-image-63229" /></td>
		</tr>
		<tr>
			<td>West: Akeem Tate</td>
			<td>2016</td>
			<td>Knigthdale School</td>
			<td>Knightdale, NC</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Akeem-Tate-MOP-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-thumbnail wp-image-63248" /></td>
		</tr>
		<tr>
			<td>East: Mamadou Doucoure</td>
			<td>2018</td>
			<td>Our Savior American HS</td>
			<td>Centereach, NY</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/IMG_78611-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-thumbnail wp-image-63231" /></td>
		</tr>
		<tr>
			<td>MVP</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>West: Raine McKeython</td>
			<td>2016</td>
			<td>Riverdale Baptist</td>
			<td>Upper Marlboro, MD</td>
			<td>Picture Not Available</td>
		</tr>
		<tr>
			<td>East: Wabissa Bede</td>
			<td>2017</td>
			<td>Cushing Academy</td>
			<td>Ashburnham, MA</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/IMG_7862-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-thumbnail wp-image-63232" /></td>
		</tr>
	</tbody>
</table>
