<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Grade</th>
			<th>High School</th>
			<th>City</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>William Melson</td>
			<td>10</td>
			<td>Dieruff</td>
			<td>Allentown, PA</td>
		</tr>
		<tr>
			<td>Drew Greene</td>
			<td>10</td>
			<td>Chapel Hill</td>
			<td>Chapel Hill, NC</td>
		</tr>
		<tr>
			<td>Nkosi Cooper</td>
			<td>9</td>
			<td>Suffield Academy</td>
			<td>Suffield, CT</td>
		</tr>
		<tr>
			<td>Robert Beran</td>
			<td>10</td>
			<td>John Randolph Tucker</td>
			<td>Richmond, VA</td>
		</tr>
		<tr>
			<td>Charles Washington</td>
			<td>9</td>
			<td>Kip Star Academy</td>
			<td>Harlem, NY</td>
		</tr>
		<tr>
			<td>Nathaniel Nicholson</td>
			<td>10</td>
			<td>Roman Catholic</td>
			<td>Philadelphia, PA</td>
		</tr>
		<tr>
			<td>Kahleel Gray</td>
			<td>10</td>
			<td>Everglades</td>
			<td>Miramar, FL</td>
		</tr>
		<tr>
			<td>Anthony Brown Jr</td>
			<td>9</td>
			<td>Pottstown</td>
			<td>Pottstown, PA</td>
		</tr>
		<tr>
			<td>Anthony Torelli</td>
			<td>9</td>
			<td>St Augustine</td>
			<td>Quebec, CAN</td>
		</tr>
		<tr>
			<td>Will Colleran</td>
			<td>10</td>
			<td>ValleyPurge</td>
			<td>Bryn Mawr, PA</td>
		</tr>
		<tr>
			<td>Donald Hartley</td>
			<td>10</td>
			<td>All Hallows</td>
			<td>Bronx, NY</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Kareem McDonald</td>
			<td>10</td>
			<td>St Catherine</td>
			<td>Bronx, NY</td>
		</tr>
		<tr>
			<td>Jordan Davidson</td>
			<td>10</td>
			<td>Gill St. Bernard's</td>
			<td>Gladstone, NJ</td>
		</tr>
		<tr>
			<td>Joseph Zecchino Jr</td>
			<td>10</td>
			<td>Verona</td>
			<td>Verona, NJ</td>
		</tr>
		<tr>
			<td>Christopher Mann</td>
			<td>10</td>
			<td>Phillipsburg</td>
			<td>Phillipsburg, NJ</td>
		</tr>
		<tr>
			<td>Sadeeq Tarry</td>
			<td>9</td>
			<td>Union Endicott</td>
			<td>Endicott, NY</td>
		</tr>
		<tr>
			<td>Christian Ings</td>
			<td>9</td>
			<td>Neumann-Goretti</td>
			<td>Philadelphia, PA</td>
		</tr>
		<tr>
			<td>Luis Garcia</td>
			<td>9</td>
			<td>Undecided</td>
			<td>Sinking Spring, PA</td>
		</tr>
		<tr>
			<td>Braden Caldwell</td>
			<td>9</td>
			<td>Dallastown</td>
			<td>York, PA</td>
		</tr>
		<tr>
			<td>Liam Cassidy</td>
			<td>10</td>
			<td>Montville</td>
			<td>Montville, NJ</td>
		</tr>
		<tr>
			<td>Miguel Ayesa</td>
			<td>10</td>
			<td>Doral Academy</td>
			<td>Miami, FL</td>
		</tr>
		<tr>
			<td>Justin Tarrant</td>
			<td>10</td>
			<td>Pittsburgh Central Catholic</td>
			<td>Pittsburgh, PA</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
