<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Grade</th>
			<th>High School</th>
			<th>City</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Isaiah Borders</td>
			<td>10</td>
			<td>South County</td>
			<td>Lorton, VA</td>
		</tr>
		<tr>
			<td>Eric Ayala</td>
			<td>10</td>
			<td>Putnam Science Academy</td>
			<td>Putnam, CT</td>
		</tr>
		<tr>
			<td>Ismael Massoud</td>
			<td>10</td>
			<td>Berkeley Carroll</td>
			<td>New York, NY</td>
		</tr>
		<tr>
			<td>LaQuill Hardnet</td>
			<td>10</td>
			<td>Perry Hall</td>
			<td>Perry Hall, MD</td>
		</tr>
		<tr>
			<td>Ariji Johnson</td>
			<td>10</td>
			<td>Bonner-Prendergast</td>
			<td>Drexel Hill, PA</td>
		</tr>
		<tr>
			<td>Ja-quaye James</td>
			<td>10</td>
			<td>St Anthony</td>
			<td>Jersey City, NJ</td>
		</tr>
		<tr>
			<td>Jordan McAllister</td>
			<td>10</td>
			<td>Monsignor Scanlon</td>
			<td>Bronx, NY</td>
		</tr>
		<tr>
			<td>Jahbril Price-Noel</td>
			<td>10</td>
			<td>John Carroll School</td>
			<td>Toronto, CAN</td>
		</tr>
		<tr>
			<td>Quanzi Samuels</td>
			<td>10</td>
			<td>St John</td>
			<td>Washington, DC</td>
		</tr>
		<tr>
			<td>Oscar Okeke</td>
			<td>10</td>
			<td>St Anthony</td>
			<td>Jersey City, NJ</td>
		</tr>
		<tr>
			<td>Zach Pfaffenberger</td>
			<td>10</td>
			<td>Episcopal</td>
			<td>Alexandria, VA</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>D'Angelo Tull</td>
			<td>10</td>
			<td>St Mary Ryken</td>
			<td>Leonardtown, MD</td>
		</tr>
		<tr>
			<td>Bernard Lightsey</td>
			<td>10</td>
			<td>Imhotep Charter</td>
			<td>Philadelphia, PA</td>
		</tr>
		<tr>
			<td>Justin Anderson</td>
			<td>10</td>
			<td>Academy of the New Church</td>
			<td>Philadelphia, PA</td>
		</tr>
		<tr>
			<td>Marcus Filien</td>
			<td>10</td>
			<td>Albany Academy</td>
			<td>Albany, NY</td>
		</tr>
		<tr>
			<td>Jake Forrester</td>
			<td>10</td>
			<td>Kiski Prep</td>
			<td>Pittsburgh, PA</td>
		</tr>
		<tr>
			<td>Chris Childs</td>
			<td>10</td>
			<td>Wilbraham &amp; Monson</td>
			<td>Dobbs Ferry, NY</td>
		</tr>
		<tr>
			<td>Maurice Works</td>
			<td>10</td>
			<td>Lawrence Academy</td>
			<td>Groton, MA</td>
		</tr>
		<tr>
			<td>Kiyan Johnson</td>
			<td>10</td>
			<td>Burlington Life Center</td>
			<td>Burlington, NJ</td>
		</tr>
		<tr>
			<td>Marlon Hargis</td>
			<td>10</td>
			<td>St Augustine</td>
			<td>Richland, NJ</td>
		</tr>
		<tr>
			<td>Precious Ikedashi</td>
			<td>10</td>
			<td>Sacred Heart</td>
			<td>Waterbury, CT</td>
		</tr>
		<tr>
			<td>Eric Turner</td>
			<td>10</td>
			<td>St Francis Academy</td>
			<td>Baltimore, MD</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
