<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Player
</th>
			<th>Grade</th>
			<th>Evaluation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Sean-Stinelli-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60657" /></td>
			<td>Sean Stinelli</td>
			<td>11</td>
			<td>Unselfish guard that is always looking to make the right play. Competes on both sides of the ball.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Marcus Stewart</td>
			<td>11</td>
			<td>Athletic forward that scores well inside the arc. Can stretch game out to 3 point line, effective getting to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Chance-Wright-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60627" /></td>
			<td>Chance Wright</td>
			<td>11</td>
			<td>An active on ball defender that creates issues for opposing guards. Can knock down a pull-up and plays with intense energy.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tommy-Rodriguez-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60663" /></td>
			<td>Tommy Rodriguez</td>
			<td>10</td>
			<td>Tough PG that plays hard all the time. Great pull-up shooter and finisher with contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Robert-Jenkins-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60655" /></td>
			<td>Robert Jenkins </td>
			<td>11</td>
			<td>Solid guard that finishes well with contact in traffic. Efficient scorer inside and can knock down 3's. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jamison-Nee-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60683" /></td>
			<td>Jamison Nee</td>
			<td>11</td>
			<td>Hard playing guard on both sides of the floor. Crafty offensive player that has great touch inside the arc.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/CDUR9xuW8AA7Z6T-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60704" /></td>
			<td>David Collins</td>
			<td>11</td>
			<td>Athletic slasher that does a great job at getting to the rim and drawing fouls. Plays well on both sides of the ball and creates 2nd chances on offensive glass.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Nick Barney </td>
			<td>12</td>
			<td>Strong, athletic wing who gets to the rim and finishes well. Solid skill set and athleticism with good upside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Josh-Edwards-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60635" /></td>
			<td>Josh Edwards </td>
			<td>9</td>
			<td>Active on ball defender. Guard has great touch inside paint and a solid jump shooter. Uses high IQ to his advantage. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/AJ-Myers-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60667" /></td>
			<td>AJ Myers</td>
			<td>10</td>
			<td>Athletic guard who gets to the paint and finisher. Solid on ball defender with good lateral quickness. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Swth-Younkin-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60696" /></td>
			<td>Seth Younkin </td>
			<td>9</td>
			<td>Long athletic player with great upside. Good footwork and post moves.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Cameron-Hanley-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60674" /></td>
			<td>Cameron Hanley </td>
			<td>10</td>
			<td>Solid lead guard with good play making ability. Good shooter with range to the 3 point line.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Noah-Rankin-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60653" /></td>
			<td>Noah Rankin </td>
			<td>11</td>
			<td>Solid shooter with range to 3. Smart, utilizes the shot fake well to get by defender and finds open teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Nathan-Alabran-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60690" /></td>
			<td>Nathan Alabran </td>
			<td>11</td>
			<td>Agressive to the glass on both ends of the floor. Solid shooter with range to 3.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Nathan-Ray-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60650" /></td>
			<td>Nathan Ray </td>
			<td>11</td>
			<td>Plays hard on both ends of the floor. Solid on ball defender who communicated with his teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Noah-brown-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60691" /></td>
			<td>Noah Brown </td>
			<td>11 </td>
			<td>Long and athletic with good timing with shot blocking ability.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Billy Urso </td>
			<td>12 </td>
			<td>Agressive on ball defender with good footwork. Very good at attacking the paint and finding his teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Chrsi-Hart-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60614" /></td>
			<td>Chris Hart </td>
			<td>9 </td>
			<td>Good all-around player with decent size and length. Very good upside to his game.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Troy Simon </td>
			<td></td>
			<td>Very athletic and rebounds well on both ends of the floor. Solid offensive skill set and can score from mid-range.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jeremiah-Ligon-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60630" /></td>
			<td>Jeremiah Ligon </td>
			<td>11 </td>
			<td>Long and athletic while utilizing both very well on defense. Aggressive to the rim off the dribble and finished well in traffic.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Taylor-Hudzicki-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60660" /></td>
			<td>Taylor Hudzicki </td>
			<td>10</td>
			<td>Long and athletic with solid defensive skills &amp; footwork. Plays hard and finishes well around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Julian-Laugand-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60637" /></td>
			<td>Julian Laugand </td>
			<td>8</td>
			<td>Solid ball handler with ability to get in the paint and find teammates. Great upside as a lead guard while he grows and gets stronger.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Matt-Kiatipis-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60645" /></td>
			<td>Matt Kiatipis </td>
			<td>9</td>
			<td>Good lead guard with very good court vision. Solid shooter with range to the 3.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jared-Smith-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60706" /></td>
			<td>Jared Smith </td>
			<td>11</td>
			<td>Very athletic and utilized his length well on defense. Solid offensive skill set and finished well around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Ethan-Moose-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60620" /></td>
			<td>Ethan Moose </td>
			<td>11</td>
			<td>Very Skilled all-around player. Plays hard on both sides of the floor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Sean-Graytok-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60694" /></td>
			<td>Sean Graytok</td>
			<td>11</td>
			<td>Strong and aggressive with ability to score in traffic. Very good defender who can defend multiple positions.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Malcolm-Glanville-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60643" /></td>
			<td>Malcolm Glanville</td>
			<td>11</td>
			<td>Athletic guard with ability to get to the rim and finish. Solid on ball defender with good quick hands.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Trevor-Hutton-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60699" /></td>
			<td>Trevor Hutton </td>
			<td>11</td>
			<td>Solid lead guard with great court vision. Good shooter with range to 3.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Evan-Suppa-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60621" /></td>
			<td>Evan Suppa </td>
			<td>11</td>
			<td>Glue guy who does all the dirty work. Plays very hard on defense and is a good rebounder.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jonathan-DeVito-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60634" /></td>
			<td>Jonathan DeVito </td>
			<td>11 </td>
			<td>Solid all-around player with a good skill set. Shooter with range to the 3.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Brice-Miller-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60671" /></td>
			<td>Brice Miller </td>
			<td>9</td>
			<td>Solid wing with decent skill set and a good upside. Plays hard on both ends of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Niko-Sero-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60652" /></td>
			<td>Niko Sero </td>
			<td>10</td>
			<td>Good shooter with range to 3. Sees the court very well and plays extremely hard. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Mitchell Dezort </td>
			<td>10</td>
			<td>Solid shooter with range to 3. Good offensive player with good upside. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Duston-Wiggins-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60619" /></td>
			<td>Duston Wiggins</td>
			<td>11</td>
			<td>Good athlete who is a good on ball defender. Good ball handler with great court vision.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kyle-Huff-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60641" /></td>
			<td>Kyle Huff </td>
			<td>11</td>
			<td>Plays very hard on both ends of the floor. Aggressive to the glass and finishes well in the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Garrett-Day-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60680" /></td>
			<td>Garrett Day</td>
			<td>10</td>
			<td>Good shooter with excellent range. Solid defender who plays hard at all times. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Davon-Sims-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60617" /></td>
			<td>Davon Sims</td>
			<td>12 </td>
			<td>Athletic defender who kept the ball under constant pressure. Can score inside and out. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Josh-Duda-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60685" /></td>
			<td>Josh Duba</td>
			<td>11</td>
			<td>Good shooter with excellent range. Solid skill set with good upside. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Adam-Kline-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60598" /></td>
			<td>Adam Kline</td>
			<td>11</td>
			<td>Has a good 3 point shot. Plays hard and likes to play against good competition. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Michael-Shi-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60648" /></td>
			<td>Michael Shi </td>
			<td>9</td>
			<td>Young with upside to his game. Has solid all-around game in all aspects. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/James-Ferry-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60682" /></td>
			<td>James Ferry </td>
			<td>11</td>
			<td>Likes to push the ball in transition. Has a nice pull-up jumper.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Austin-Butler-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60668" /></td>
			<td>Eric Butler </td>
			<td>12</td>
			<td>Can shoot, pass and run well. Excels in the rebounding department. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Mark-Lemondola-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60644" /></td>
			<td>Mark Lamendola</td>
			<td>10</td>
			<td>Has a nice shot. Attacks the rim from the right and left.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jake-Biss-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60681" /></td>
			<td>Jake Biss</td>
			<td>10</td>
			<td>Has we well rounded game. Passes to open players and has a good shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/COle-Griffin-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60677" /></td>
			<td>Cole Griffin</td>
			<td>11</td>
			<td>Is able to anticipate the ball and take charges. Hard-worker with a  good overall game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tanner-Wells-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60659" /></td>
			<td>Tanner Wells</td>
			<td>9</td>
			<td>Can do a little bit of everything. He can run the floor and is a good passer.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Xavier-Awad-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60666" /></td>
			<td>Xavier Awad </td>
			<td>11</td>
			<td>Is strong with driving the ball to the paint. Plays hard defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Brett-Francis-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60607" /></td>
			<td>Brett Francis </td>
			<td>10</td>
			<td>Plays smart and knows what to do with the ball. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tyrell-Carter-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60701" /></td>
			<td>Tyrell Carter </td>
			<td>11</td>
			<td>Is a strong defender and knows where open teammates are. Quick to move the ball on a double.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Swade Redman </td>
			<td>11</td>
			<td>Can shoot the ball and has great vision. Succeeds on the defensive end of the court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Britton-Beachy1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60672" /></td>
			<td>Britton Beachy </td>
			<td>10</td>
			<td>Built with good size. He can play great defense and plays hard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Zach-Johnson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60702" /></td>
			<td>Zach Johnson </td>
			<td>10</td>
			<td>Can protect the paint and block shots. Great at setting screen.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Joe Batt</td>
			<td>9</td>
			<td>He can stretch the defense and shoot the 3. Smart with the ball on offense and plays good defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Etai-Groff-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60679" /></td>
			<td>Etai Groff </td>
			<td>10</td>
			<td>Smart player with good ball handling skills. Can shoot from 3 point line. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Luke-Nedrow-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60642" /></td>
			<td>Luke Nedrow </td>
			<td>9</td>
			<td>Can perform well in the post and uses the hook shot often. Has a good feel for blocking shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Cortez-West-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60678" /></td>
			<td>Cortez West </td>
			<td>11</td>
			<td>Has great speed while attacking the basket. Can shoot from the 3 point line.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Josh-Kilne-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60636" /></td>
			<td>Josh Kline </td>
			<td>9</td>
			<td>Is a hard worker on offense and defense. Has a lot of upside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Taylor-Smith-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60661" /></td>
			<td>Taylor Smith </td>
			<td>11</td>
			<td>He a smart player all-around. Knows how to run he floor.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Eddie Flohr</td>
			<td>11</td>
			<td>Is a good, solid player. Will play hard on defense and keeps his head up to run the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/John-Kirincic-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60633" /></td>
			<td>John Kirincic</td>
			<td>12</td>
			<td>Can shoot the ball and stretch the defense out. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Austin-Zuppe.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-60603" /></td>
			<td>Austin Zuppe</td>
			<td>11</td>
			<td>Plays hard defense. Has good vision on the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Brady-Kingston-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60605" /></td>
			<td>Brady Kingston </td>
			<td>11</td>
			<td>Has good size and works hard. Likes to set screens to open up teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tyler-Gates-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60665" /></td>
			<td>Tyler Gates </td>
			<td>11</td>
			<td>Has a good all around game. Can stretch the defense out with his ball handling.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Amos-Luptak-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60600" /></td>
			<td>Amos Luptak </td>
			<td>10</td>
			<td>Good point guard that makes the right decisions. Likes to drive to the paint. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Cam-Edmondson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60673" /></td>
			<td>Cam Edmonson </td>
			<td>11</td>
			<td>Has a high IQ for the game. Likes to attack the basket and has good size.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Christian-Hack-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60675" /></td>
			<td>Christian Hack </td>
			<td>9</td>
			<td>Likes to handle the ball. Uses his athleticism to make plays.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Delon-Andrew-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60618" /></td>
			<td>Delon Lee Andrew </td>
			<td>9</td>
			<td>Is very agile driving to the basket. Can shut down opposing point guards. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Delvon Randall </td>
			<td>12</td>
			<td>Good first step to get to the basket. Great athlete who gets out in transition and finish with both hands. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/CJ-DeStefano-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60615" /></td>
			<td>C.J DeStefano </td>
			<td>9</td>
			<td>Did a good job of pushing the ball in transition and finding open teammates. Competes really hard on both ends of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kyle-Humphries-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60708" /></td>
			<td>Kyle Humphries </td>
			<td>11</td>
			<td>Really good in the open floor with the ball. Gets on the glass for a guard. Great on ball defender. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/McClain-Huff-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60646" /></td>
			<td>McClain Huff</td>
			<td>11</td>
			<td>Know how to get open without the ball. Great teammate who was very unselfish in transition and in the half court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Justin-Pearce-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60638" /></td>
			<td>Justin Pearce </td>
			<td>11</td>
			<td>Extremely physical player who in consistently a presence on the glass. Does a great job of guarding guys who play back to basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Miller-Byrd-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60649" /></td>
			<td>Miller Byrd </td>
			<td>11</td>
			<td>Really good in transition at getting to the rim and finishing with good athleticism. Does a great job guarding the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Carl-Martin-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60611" /></td>
			<td>Carl Martin Veltman</td>
			<td>11</td>
			<td>Consistently made shots and understands how to get open without the ball. Has a good understanding of the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Anthony-Delle-Femine-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60713" /></td>
			<td>Anthony DelleFemine</td>
			<td>10</td>
			<td>Has good feet on the perimeter. Does a good job using the bounce to go by defenders.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/KJ-Rhodes-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60687" /></td>
			<td>K.J Rhodes</td>
			<td>9</td>
			<td>Made plays for others off the bounce. Found open teammates in the half court and transition. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Rome Moyer</td>
			<td>11</td>
			<td>Uses his athleticism to get on the glass. Defends the ball well. Showed ability to make set shots.
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jay-Grubb-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60629" /></td>
			<td>Jay Grubb </td>
			<td>11</td>
			<td>Runs the floor and got early position for easy baskets. Always around the ball and very active on the glass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Antonio-Rizzuto-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60602" /></td>
			<td>Antonio Rizzuto </td>
			<td>9</td>
			<td>Scores it in a number of ways. Has the ability to go by off the bounce. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Marcus-Kidd-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60689" /></td>
			<td>Marcus Kidd</td>
			<td>10</td>
			<td>Uses his big body to create space around the rim for easy finishes. Very vocal on the defensive end of the floor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Ceneth-Lynth-Sknda-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60613" /></td>
			<td>Seventh Lynth-Skunda</td>
			<td>10</td>
			<td>Always looking for open teammates in the half court and transition. Has a good feel for the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Ramon-Creighton-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60692" /></td>
			<td>Ramon Creighton </td>
			<td>11</td>
			<td>Does a great job of getting to spots with the bounce. Finishes through contact at the rim with strength and athleticism.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Talen-Sims-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60697" /></td>
			<td>Talen Sims </td>
			<td>12</td>
			<td>Drives by defenders with good athleticism. Does a good job of keeping people in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Brandon-Brocious-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60606" /></td>
			<td>Brandon Brocious </td>
			<td>9</td>
			<td>Good understanding of the game. Uses a good skill set to create shots for himself and others.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Rege Rieger  </td>
			<td>10</td>
			<td>Great teammate who plays within himself. Passes it very well and showed the ability to make open shots. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jared-Puryear-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60684" /></td>
			<td>Jared Puryear</td>
			<td>12</td>
			<td>Scored it in transition going coast to coast. Good communication on the defensive end of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Torry-Hawkins-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60664" /></td>
			<td>Torry Hawkins</td>
			<td>11</td>
			<td>Runs the floor well. Finished at the rim through contact on multiple occasions. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Sean-Witte-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60658" /></td>
			<td>Sean Witte </td>
			<td>10</td>
			<td>Does a great job running the floor and finding open space to catch and shoot on the perimeter. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Zach-McDonough-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60703" /></td>
			<td>Zach McDonough</td>
			<td>9</td>
			<td>has a knack for scoring the ball. Can get his own shot and get to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/RJ-Bell-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60654" /></td>
			<td>R.j Bell</td>
			<td>10</td>
			<td>Runs the floor really well and has the ability to bounce it in space. Good team defender who communicates well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/David-Ritchie-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60616" /></td>
			<td>David Ritchie </td>
			<td>8</td>
			<td>Really good skill set for his age. Combines skill set with a really good knowledge of the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Abbass-Merchant-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60597" /></td>
			<td>Abbass Merchant</td>
			<td>9</td>
			<td>Plays with good feel and tempo that he uses to go by players. Smart player who always makes the right play.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>LaVontae Martin </td>
			<td>11</td>
			<td>Never takes a play off. Uses his body to get good positioning on both ends.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tyler-Frederick-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60700" /></td>
			<td>Tyler Frederick </td>
			<td>10</td>
			<td>Extremely active moving without the ball and getting offensive and defensive rebounds. Very smart basketball player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Rome-Boyer-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60693" /></td>
			<td>Rome Boyer </td>
			<td>11</td>
			<td>Has a quick release and creates space with bounce. Great team defender. Always talking in a positive way.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Antonio-Ionadi-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60601" /></td>
			<td>Antonio Ionadi</td>
			<td>10</td>
			<td>Moves the ball and finds open teammates. Very unselfish player who creates for others.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Sean-Kelly-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60656" /></td>
			<td>Sean Kelly </td>
			<td>9</td>
			<td>Great tempo with the ball. Can get his own shot in the half court. Very bright future ahead of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Billy-Lewis-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60669" /></td>
			<td>Billy Lewis </td>
			<td>11</td>
			<td>Shooter that runs the floor well to find open shots. Solid off the dribble pull-up. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Justin-Pryor-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60639" /></td>
			<td>Justin Pryor</td>
			<td>10</td>
			<td>Guard with a great pace and scores with finishes at the rim. Players with a good tempo.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jackson-Blaufield-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60628" /></td>
			<td>Jackson Blaufeld</td>
			<td>8</td>
			<td>Guard that controls the ball and values possessions. Looks to make the right play to pass or score. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Bobby-Kiernan-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60670" /></td>
			<td>Bobby Kiernan </td>
			<td>11</td>
			<td>Hard-nosed guard active all over the floor. Will drive to score and draw fouls. Can hit the 3 ball. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kenny-Fukon-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60686" /></td>
			<td>Kenny Fukon </td>
			<td>10 </td>
			<td>Guard that hustles all over the floor. Can slash to get to the rim and can shoot the jumper. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Mike Pearce </td>
			<td></td>
			<td>Long and athletic forward with great touch around the rim using both hands. Uses his length to block shots and rebound well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Nathan-Leopold-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60596" /></td>
			<td>Nathan Leopold</td>
			<td>9</td>
			<td>Quick primary ball handler that can score at the rim or with the jumper. Active on both sides of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Cameron-Craig-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60610" /></td>
			<td>Cameron Craig</td>
			<td>9</td>
			<td>Active on ball defender that worked hard on defensive end. Guard that is a great interior passer.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Nick-Castelveter-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60651" /></td>
			<td>Nick Castelveter</td>
			<td>10</td>
			<td>Quick; primary ball handler that is an efficient passer with both hands. Has a good handle and looks to operate off of the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Ben-Bertan-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60604" /></td>
			<td>Ben Bertan</td>
			<td>10</td>
			<td>Guard that is very determined with drivers to score. Can hit the open shots at a high rate.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Bryce-Laskey-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60609" /></td>
			<td>Bryce Laskey </td>
			<td>9</td>
			<td>Long, young guard that does a great job at controlling the tempo. Uses great vision and finds the open teammates.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Delante Newsome-Moultrie</td>
			<td>11</td>
			<td>Quick guard that knocked down open 3's. Drive and kick to find open teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Michael-Rice-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60647" /></td>
			<td>Michael Rice </td>
			<td>11</td>
			<td>Guard that has a solid handle and good floater game. # point shooter off the dribble and drives to draw defender to find teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/John-Benhart-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60632" /></td>
			<td>John Benhart</td>
			<td>10</td>
			<td>Guard that can shoot the ball. Must know where he is on the floor at all times. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kennedy-Smith-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60640" /></td>
			<td>Kennedy Smith </td>
			<td>11</td>
			<td>Athletic guard that competes on both sides of the floor. Likes to move the ball in offense to find teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Carson-Miller-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60612" /></td>
			<td>Carson Miller </td>
			<td>10</td>
			<td>Solid guard that finishes strong in the paint. Will drive to score or explore.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Joe-Passodelis-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60631" /></td>
			<td>Joe Passodelis </td>
			<td>10</td>
			<td>Tall guard that really saw the floor well. Played hard on the defensive side of the ball. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Thomas-Farkos-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60662" /></td>
			<td>Thomas Farkos</td>
			<td>9</td>
			<td>Shooter that can knock down shots in bunches. Strong finishes around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tanner-Reinheimer-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60698" /></td>
			<td>Tanner Reinheimer</td>
			<td>10</td>
			<td>Guard that found teammates in transition and is effective getting to the rim. Plays extremely hard at all times.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Olavo Williams</td>
			<td>11</td>
			<td>Athlete that plays hard on both ends of the floor. Scores well in transition and around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Isaac-Enkoom-300x184.jpg" alt="" width="300" height="184" class="alignleft size-medium wp-image-62882" /></td>
			<td>Isaac Enkoom</td>
			<td>12</td>
			<td>Isaac makes plays on the defensive end with energy and intelligence. When he attacks the basketball he is able to finish. </td>
		</tr>
		<tr>
			<td></td>
			<td>Jake Rae</td>
			<td>12</td>
			<td>Jake is a sneaky quick wing with the ability to get by defenders. In the open floor he beats people to spots and makes smart plays.</td>
		</tr>
		<tr>
			<td></td>
			<td>Imraan Mohamoud</td>
			<td>12</td>
			<td>Imraan is a fast point guard with getting passing and instincts. If he continues to make deep shots he will be a tough player to guard.</td>
		</tr>
		<tr>
			<td></td>
			<td>Chandler James</td>
			<td>11</td>
			<td>Chandler is a high energy forward with relentless defensive pressure. On offense he controls the middle of the floor and scores with regularity.</td>
		</tr>
	</tbody>
</table>
