<table>
	<thead>
		<tr>
			<th></th>
			<th>Player</th>
			<th>College</th>
			<th>NBA Team</th>
			<th>College Number</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1156-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62388" /></td>
			<td>Karl Anthony Towns</td>
			<td>Kentucky</td>
			<td>Minnesota Timberwolves</td>
			<td>12</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1158-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62389" /></td>
			<td>D’Angelo Russell</td>
			<td>Ohio State</td>
			<td>Los Angeles Lakers</td>
			<td>0</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1159-100x75.png" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62390" /></td>
			<td>Terry Rozier</td>
			<td>Louisvile</td>
			<td>Boston Celtics</td>
			<td>0</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1162-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62391" /></td>
			<td>Jerian Grant</td>
			<td>Notre Dame</td>
			<td>NY Knicks</td>
			<td>22</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1164-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62392" /></td>
			<td>Justin Anderson</td>
			<td>Virginia</td>
			<td>Dallas Mavericks</td>
			<td>1</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1166-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62393" /></td>
			<td>Rondae Hollis Jefferrson</td>
			<td>Arizona</td>
			<td>Portland Trailblazers</td>
			<td>23</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1168-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62394" /></td>
			<td>Larry Nance JR</td>
			<td>Wyoming</td>
			<td>Los Angeles Lakers</td>
			<td>22</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1184-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62401" /></td>
			<td>Delon Wright</td>
			<td>Utah</td>
			<td>Toronto Raptors</td>
			<td>55</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1185-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62402" /></td>
			<td>Chris McCullough</td>
			<td>Syracuse</td>
			<td>Brooklyn Nets</td>
			<td>5</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1186-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62403" /></td>
			<td>Olivier Hanlan</td>
			<td>Boston College</td>
			<td>Utah Jazz</td>
			<td>21</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1170-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62395" /></td>
			<td>Montrezl Harrell</td>
			<td>Louisvile</td>
			<td>Houston Rockets</td>
			<td>24</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1172-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62396" /></td>
			<td>Rakeem Christmas</td>
			<td>Syracuse</td>
			<td>Minnesota Timberwolves</td>
			<td>25</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1174-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62397" /></td>
			<td>Darrun Hilliard</td>
			<td>Villanova</td>
			<td>Detroit Pistons</td>
			<td>4</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1176-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62398" /></td>
			<td>Andrew Harrison</td>
			<td>Kentucky</td>
			<td>Phoenix Suns</td>
			<td>5</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1178-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62399" /></td>
			<td>Dakari Johnson</td>
			<td>Kentucky</td>
			<td>Oklahoma City Thunder</td>
			<td>44</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1179-100x75.png" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62400" /></td>
			<td>Satnam Singh</td>
			<td>India</td>
			<td>Dallas Mavericks</td>
			<td>55</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/IMG_1187-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-62404" /></td>
			<td>Brandon Dawson</td>
			<td>Michigan State</td>
			<td>New Orleans Pelicans</td>
			<td>22</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
