<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Player</th>
			<th>Class</th>
			<th>High School</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Daniel Roche</td>
			<td>2017</td>
			<td>Trevor Day</td>
			<td>New York, NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Oluwaseum Wilson</td>
			<td>2017</td>
			<td>Stroudsburg </td>
			<td>East Stroudsburg, PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Jason Larranaga</td>
			<td>2019</td>
			<td>Glenfield</td>
			<td>Montclair, NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Saxton Thuston</td>
			<td>2017</td>
			<td>Benton</td>
			<td>Saint Joseph, MO</td>
		</tr>
		<tr>
			<td></td>
			<td>Jared Achterberg</td>
			<td>2017</td>
			<td>Eastern York</td>
			<td>Wrightsville, PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Matthew Asenjo</td>
			<td>2017</td>
			<td>St. Anthony's</td>
			<td>Jersey City, NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Duncan Trerotola</td>
			<td>2017</td>
			<td>Salesianum</td>
			<td>Wilmington, DE</td>
		</tr>
		<tr>
			<td></td>
			<td>Joseph Knox</td>
			<td>2017</td>
			<td>Community School</td>
			<td>Davidson, NC</td>
		</tr>
		<tr>
			<td></td>
			<td>Rychell Janga</td>
			<td>2017</td>
			<td>Tasis</td>
			<td>Dorado, PR</td>
		</tr>
		<tr>
			<td></td>
			<td>Max Oppenheim</td>
			<td>2017</td>
			<td>Walt Whitman</td>
			<td>Bethesda, MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Sami Ghazzi</td>
			<td>2017</td>
			<td>Radnor</td>
			<td>Radnor, PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Justin Fishman</td>
			<td>2017</td>
			<td>Trevor Day</td>
			<td>New York, NY</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Carlos Aleman</td>
			<td>2017</td>
			<td>Colegio San Ignacia de Loyola</td>
			<td>San Juan, PR</td>
		</tr>
		<tr>
			<td></td>
			<td>Kyle Sullivan</td>
			<td>2017</td>
			<td>Springfield</td>
			<td>Springfield, PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Joshua Szott</td>
			<td>2017</td>
			<td>Delbarton</td>
			<td>Morristown, NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Ikenna Achufusi</td>
			<td>2017</td>
			<td>The Heights School</td>
			<td>Potmac, MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Jacob O'Connell</td>
			<td>2019</td>
			<td>Eastern</td>
			<td>Voorhees, NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Justin Figueroa</td>
			<td>2017</td>
			<td>Nazareth Regional</td>
			<td>Brooklyn, NY</td>
		</tr>
		<tr>
			<td></td>
			<td>David Goldman</td>
			<td>2017</td>
			<td>Riverdale Country School</td>
			<td>Bronx, NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Ronald Moore</td>
			<td>2017</td>
			<td>St. John Paul The Great</td>
			<td>Dumfries, VA</td>
		</tr>
		<tr>
			<td></td>
			<td>Bryan Karl</td>
			<td>2017</td>
			<td>Hempfield</td>
			<td>Hempfield, PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Luke Nedrow</td>
			<td>2018</td>
			<td>Pittsburgh Catholic</td>
			<td>Pittsburgh, PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Drew Greene</td>
			<td>2018</td>
			<td>Chapel Hill</td>
			<td>Chapel Hill, NC</td>
		</tr>
		<tr>
			<td></td>
			<td>Joshua Roberts</td>
			<td>2017</td>
			<td>Bishop Loughlin</td>
			<td>Brooklyn, NY</td>
		</tr>
	</tbody>
</table>
