<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Grade</th>
			<th>Height</th>
			<th>School </th>
			<th>City</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jaekwon Carlyle</td>
			<td>12</td>
			<td>6'0</td>
			<td>Imhotep Charter</td>
			<td>Philadelphia, PA</td>
		</tr>
		<tr>
			<td>Stevie Jordan</td>
			<td>12</td>
			<td>5'11</td>
			<td>Conwell Egan</td>
			<td>Fairless Hills, PA</td>
		</tr>
		<tr>
			<td>Walter Whyte</td>
			<td>11</td>
			<td>6'5</td>
			<td>St Luke's </td>
			<td>New Canaan, CT</td>
		</tr>
		<tr>
			<td>Marlon Taylor</td>
			<td>13</td>
			<td>6'6</td>
			<td>Mount Vernon</td>
			<td>Mount Vernon, NY</td>
		</tr>
		<tr>
			<td>Amanze Njoku</td>
			<td>12</td>
			<td>6'7</td>
			<td>Riverdale Baptist</td>
			<td>Uppe Marlboro, MD</td>
		</tr>
		<tr>
			<td>Jahlil Jenkins</td>
			<td>11</td>
			<td>6'0</td>
			<td>Jefferson</td>
			<td>Senandoah, VA</td>
		</tr>
		<tr>
			<td>Ceasar Dejesus</td>
			<td>12</td>
			<td>6'2</td>
			<td>Mount Zion Prep</td>
			<td>Baltimore, PA</td>
		</tr>
		<tr>
			<td>Chuba Ohams</td>
			<td>12</td>
			<td>6'7</td>
			<td>Putnam Science Academy</td>
			<td>Putnam, CT</td>
		</tr>
		<tr>
			<td>Nicolas Rene</td>
			<td>11</td>
			<td>6'8</td>
			<td>Quality Education Academy</td>
			<td>Winston Salem, NC</td>
		</tr>
		<tr>
			<td>Ejike Obinna </td>
			<td>11</td>
			<td>6'10</td>
			<td>Virginia Academy</td>
			<td>Asburn, VA</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>David Kachelries</td>
			<td>11</td>
			<td>6'0</td>
			<td>Emmaus</td>
			<td>Emmaus, PA</td>
		</tr>
		<tr>
			<td>Nathaniel Pierre-Louis</td>
			<td>11</td>
			<td>6'1</td>
			<td>St. Benedict's</td>
			<td>Jersey City, NJ</td>
		</tr>
		<tr>
			<td>Michael Speight</td>
			<td>11</td>
			<td>6'3</td>
			<td>Wise</td>
			<td>Upper Marlboro, MD</td>
		</tr>
		<tr>
			<td>Ameka Akaya</td>
			<td>12</td>
			<td>6'6</td>
			<td>St Maria Goretti</td>
			<td>Hagerstown, PA</td>
		</tr>
		<tr>
			<td>Koran Moore</td>
			<td>10</td>
			<td>6'8</td>
			<td>St. Francis Academy</td>
			<td>Baltimore, MD</td>
		</tr>
		<tr>
			<td>Brandon Anderson</td>
			<td>12</td>
			<td>6'0</td>
			<td>Don Bosco Prep</td>
			<td>Ramsey. NJ</td>
		</tr>
		<tr>
			<td>Davion Mintz</td>
			<td>12</td>
			<td>6'4</td>
			<td>North Mecklenburg</td>
			<td>Huntersville, NC</td>
		</tr>
		<tr>
			<td>Luther Muhammad</td>
			<td>10</td>
			<td>6'4</td>
			<td>Hudson Catholic</td>
			<td>Jersey City, NJ</td>
		</tr>
		<tr>
			<td>Jaylen Mcmanus</td>
			<td>12</td>
			<td>6'7</td>
			<td>North Mecklenburg</td>
			<td>Huntersville, NC</td>
		</tr>
		<tr>
			<td>Nathan Knight</td>
			<td>13</td>
			<td>6'8</td>
			<td>Kimball Union</td>
			<td>Meridan, NH</td>
		</tr>
	</tbody>
</table>
