<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Grade</th>
			<th>High School</th>
			<th>City</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Malik Lawrence</td>
			<td>9</td>
			<td>North Point</td>
			<td>Waldorf, MD</td>
		</tr>
		<tr>
			<td>Kahleel Gray</td>
			<td>10</td>
			<td>Everglades</td>
			<td>Miramar, FL</td>
		</tr>
		<tr>
			<td>Jonathan Breeland</td>
			<td>10</td>
			<td>Blythewood</td>
			<td>Blythewood, SC</td>
		</tr>
		<tr>
			<td>Souleymane Koureissi</td>
			<td>10</td>
			<td>Iona Prep</td>
			<td>New Rochelle, NY</td>
		</tr>
		<tr>
			<td>David Mishack</td>
			<td>10</td>
			<td>Middleburg Academy</td>
			<td>Middleburg, VA</td>
		</tr>
		<tr>
			<td>Chauncey Sterling</td>
			<td>10</td>
			<td>St. Anthony's </td>
			<td>Jersey City, NJ</td>
		</tr>
		<tr>
			<td>Terrance Gibbons</td>
			<td>10</td>
			<td>Wise</td>
			<td>Upper Marlboro, MD</td>
		</tr>
		<tr>
			<td>Rasheed Brown</td>
			<td>10</td>
			<td>Lake Clifton</td>
			<td>Baltimore, MD</td>
		</tr>
		<tr>
			<td>Orin Ornsby </td>
			<td>10</td>
			<td>Holy Cross</td>
			<td>Flushing, NY</td>
		</tr>
		<tr>
			<td>Devon Sims</td>
			<td>10</td>
			<td>Paul VI</td>
			<td>Fairfax, VA</td>
		</tr>
		<tr>
			<td>Travis Stoll</td>
			<td>10</td>
			<td>Holy Spirit</td>
			<td>Absecon, NJ</td>
		</tr>
		<tr>
			<td>Liam Kennedy</td>
			<td>9</td>
			<td>Christian Brothers Academy</td>
			<td>Lincroft, NJ</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Carson Cohen</td>
			<td>10</td>
			<td>Fox Chapel</td>
			<td>Pittsburgh, PA</td>
		</tr>
		<tr>
			<td>Chris Childs</td>
			<td>10</td>
			<td>Masters School</td>
			<td>Dobbs Ferry, NY</td>
		</tr>
		<tr>
			<td>Jeffrey Planutis</td>
			<td>10</td>
			<td>Hazelton Area</td>
			<td>Hazelton Township, PA</td>
		</tr>
		<tr>
			<td>Dion Harris</td>
			<td>10</td>
			<td>Lower Merion</td>
			<td>Ardmore, PA</td>
		</tr>
		<tr>
			<td>Qudus Wahab</td>
			<td>9</td>
			<td>Virginia Academy</td>
			<td>Asburn, VA</td>
		</tr>
		<tr>
			<td>Ewens Jean-Baptiste</td>
			<td>10</td>
			<td>Bayonne</td>
			<td>Bayonne, NJ</td>
		</tr>
		<tr>
			<td>Kenny Tyree</td>
			<td>10</td>
			<td>Anacostia</td>
			<td>Washington, DC</td>
		</tr>
		<tr>
			<td>Ron Harper</td>
			<td>10</td>
			<td>Don Bosco Prep</td>
			<td>Ramsey, NJ</td>
		</tr>
		<tr>
			<td>Jordan McAllister</td>
			<td>10</td>
			<td>Monsignor Scanlon</td>
			<td>Bronx, NY</td>
		</tr>
		<tr>
			<td>Shackylle Dezonie</td>
			<td>10</td>
			<td>Allentown Central Catholic</td>
			<td>Allentown, PA</td>
		</tr>
		<tr>
			<td>Miles Latimer</td>
			<td>10</td>
			<td>Paul VI</td>
			<td>Fairfax, VA</td>
		</tr>
		<tr>
			<td>Hassan Ceesay</td>
			<td>10</td>
			<td>Newark East Side</td>
			<td>Newark, NJ</td>
		</tr>
	</tbody>
</table>
