<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Grade</th>
			<th>School </th>
			<th>City</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Marcel Parsona</td>
			<td>11</td>
			<td>Fairfield Warde</td>
			<td>Fairfield, CT</td>
		</tr>
		<tr>
			<td>Kareem Holmes</td>
			<td>12</td>
			<td>Christ the King</td>
			<td>Middle Village, NY</td>
		</tr>
		<tr>
			<td>Terrell Lamar</td>
			<td>12</td>
			<td>Hammond</td>
			<td>Columbia, MD</td>
		</tr>
		<tr>
			<td>Jason Aigner</td>
			<td>11</td>
			<td>Woodson</td>
			<td>Fairfax, VA</td>
		</tr>
		<tr>
			<td>Kavan Meiner</td>
			<td>12</td>
			<td>Susan Wagner</td>
			<td>Staten Island, NY</td>
		</tr>
		<tr>
			<td>Anthony Gomez</td>
			<td>12</td>
			<td>Union City</td>
			<td>Union City, NJ</td>
		</tr>
		<tr>
			<td>Arsheen Jones</td>
			<td>12</td>
			<td>Westinghouse</td>
			<td>Brooklyn, NY</td>
		</tr>
		<tr>
			<td>Joaquin Vignoil</td>
			<td>13</td>
			<td>German School</td>
			<td>Uruguay</td>
		</tr>
		<tr>
			<td>Denzell Washington</td>
			<td>12</td>
			<td>Timber Creek</td>
			<td>Sickerville, NJ</td>
		</tr>
		<tr>
			<td>Christopher Hudson</td>
			<td>12</td>
			<td>Williston</td>
			<td>North Hampton, MA</td>
		</tr>
		<tr>
			<td>Mason Bossert</td>
			<td>11</td>
			<td>Elco</td>
			<td>Myerstown, PA</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Tommy Kelly</td>
			<td>12</td>
			<td>Niskayuna</td>
			<td>Niskayuna, Ny</td>
		</tr>
		<tr>
			<td>Philip Vlandis</td>
			<td>11</td>
			<td>Fairfield Prep</td>
			<td>Fairfield, PA</td>
		</tr>
		<tr>
			<td>Justin Jaworski</td>
			<td>11</td>
			<td>Perkiomen Valley</td>
			<td>Perkiomen, PA</td>
		</tr>
		<tr>
			<td>Christopher Lorenzo</td>
			<td>12</td>
			<td>C Milton Wright</td>
			<td>Bel Air, MD</td>
		</tr>
		<tr>
			<td>Ethan Moorse</td>
			<td>12</td>
			<td>Neshannock</td>
			<td>New Castle, PA</td>
		</tr>
		<tr>
			<td>Thomas Keys</td>
			<td>12</td>
			<td>Nyack</td>
			<td>Upper Nyack, NY</td>
		</tr>
		<tr>
			<td>Jalen Gibbs</td>
			<td>11</td>
			<td>North Point</td>
			<td>Waldorf, MD</td>
		</tr>
		<tr>
			<td>Jason Cam</td>
			<td>12</td>
			<td>Collegiate</td>
			<td>New York, NY</td>
		</tr>
		<tr>
			<td>Khary Mauras</td>
			<td>12</td>
			<td>Reading</td>
			<td>Reading, PA</td>
		</tr>
		<tr>
			<td>Corey Simmons</td>
			<td>11</td>
			<td>Poughkeepsie</td>
			<td>Poughkeepsie, NY</td>
		</tr>
		<tr>
			<td>Paul Brown II </td>
			<td>12</td>
			<td>St George Vo Tech</td>
			<td>Middletown, DE</td>
		</tr>
	</tbody>
</table>
