<table>
	<thead>
		<tr>
			<th>Crawford Akinyele</th>
			<th>8</th>
			<th>Dorchester</th>
			<th>Dorchester, MA</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Kevin McNamee</td>
			<td>8</td>
			<td>Holland</td>
			<td>Holland, PA</td>
		</tr>
		<tr>
			<td>Michael Anderson </td>
			<td>7</td>
			<td>St. Martin De Pores</td>
			<td>Philadelphia, PA</td>
		</tr>
		<tr>
			<td>Kaylen Oweh</td>
			<td>9</td>
			<td>Rutgers Prep</td>
			<td>Someset, NJ</td>
		</tr>
		<tr>
			<td>Matthew Brand</td>
			<td>8</td>
			<td>White Plains</td>
			<td>White Plains, NY</td>
		</tr>
		<tr>
			<td>Titus Wilkins</td>
			<td>8</td>
			<td>Easton Area</td>
			<td>Easton, PA</td>
		</tr>
		<tr>
			<td>Amir Spears</td>
			<td>8</td>
			<td>Commonwealth Academy</td>
			<td>Springfield, MA</td>
		</tr>
		<tr>
			<td>Anthony Melvin</td>
			<td>8</td>
			<td>Courtland</td>
			<td>Spotsylvania, VA</td>
		</tr>
		<tr>
			<td>Nick DeMarco</td>
			<td>8</td>
			<td>Holland Twp</td>
			<td>Milford, NJ</td>
		</tr>
		<tr>
			<td>Caleb Burke</td>
			<td>8</td>
			<td>Richland</td>
			<td>Johnston, PA</td>
		</tr>
		<tr>
			<td>Jayden Walsh</td>
			<td>8</td>
			<td>Allentown</td>
			<td>Allentown, PA</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Maxwell Mitchell</td>
			<td>8</td>
			<td>Bedford</td>
			<td>Westport, CT</td>
		</tr>
		<tr>
			<td>Beau Everett</td>
			<td>8</td>
			<td>Loudoun Country Day</td>
			<td>Leesburg, VA</td>
		</tr>
		<tr>
			<td>Ahmad Fair</td>
			<td>8</td>
			<td>Academy of New Church</td>
			<td>Bryn Athyn, PA</td>
		</tr>
		<tr>
			<td>Posh Alexander</td>
			<td>8</td>
			<td>I.S. 392</td>
			<td>New York, NY</td>
		</tr>
		<tr>
			<td>Tyler Seward</td>
			<td>7</td>
			<td>Haverford</td>
			<td>Haverford, PA</td>
		</tr>
		<tr>
			<td>T.J. Berger </td>
			<td>8</td>
			<td>Westtown</td>
			<td>West Chester, PA</td>
		</tr>
		<tr>
			<td>Shane Dezonie</td>
			<td>7</td>
			<td>Sacred Heart </td>
			<td>Bryn Mawr, PA</td>
		</tr>
		<tr>
			<td>Donta Davis</td>
			<td>7</td>
			<td>West Side</td>
			<td>Westen, NY</td>
		</tr>
		<tr>
			<td>Sese Mobutu</td>
			<td>8</td>
			<td>Bishop O'Connell</td>
			<td>Arlington, VA</td>
		</tr>
		<tr>
			<td>Mason Mosely</td>
			<td>8</td>
			<td>Clearview Middle</td>
			<td>Mullica Hills, NJ</td>
		</tr>
		<tr>
			<td>Julian Thomas</td>
			<td>8</td>
			<td>St. Thomas More</td>
			<td>Allentown, PA</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
