<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Grade</th>
			<th>School</th>
			<th>City</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jamal Wright</td>
			<td>12</td>
			<td>Riverdale Baptist</td>
			<td>Upper Marlboro, MD</td>
		</tr>
		<tr>
			<td>Lenny Kadisha</td>
			<td>12</td>
			<td>Coastal Academy</td>
			<td>Belmar, NJ</td>
		</tr>
		<tr>
			<td>Jake Kuhn</td>
			<td>12</td>
			<td>Walt Whitman</td>
			<td>Bethesda, mD</td>
		</tr>
		<tr>
			<td>Tyonne Malone</td>
			<td>12</td>
			<td>Putnam Tech</td>
			<td>Springfield, MA</td>
		</tr>
		<tr>
			<td>Austin Meyer</td>
			<td>12</td>
			<td>Mustang</td>
			<td>Mustang, OK</td>
		</tr>
		<tr>
			<td>Ellis Christmas</td>
			<td>12</td>
			<td>Suffield</td>
			<td>Suffield, CT</td>
		</tr>
		<tr>
			<td>Kyle Copeland</td>
			<td>12</td>
			<td>Tuscarora</td>
			<td>Leesburg, VA</td>
		</tr>
		<tr>
			<td>Tyrone Cohen Jr</td>
			<td>12</td>
			<td>Christ the King</td>
			<td>Middle Village, NY</td>
		</tr>
		<tr>
			<td>Vinny D'Alessandro</td>
			<td>12</td>
			<td>Conwell Egan</td>
			<td>Fairless Hills, PA</td>
		</tr>
		<tr>
			<td>Eugene Omoruyi</td>
			<td>12</td>
			<td>West Humber Colligiate</td>
			<td>Toronto, CAN</td>
		</tr>
		<tr>
			<td>George Mwanda-Kalema</td>
			<td>11</td>
			<td>Episcopal</td>
			<td>Alexandria, VA</td>
		</tr>
		<tr>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>Tom Funk</td>
			<td>12</td>
			<td>Archbishop Wood</td>
			<td>Warminster, PA</td>
		</tr>
		<tr>
			<td>Asem Johnson</td>
			<td>13</td>
			<td>Paterson Eastside</td>
			<td>Paterson, NJ</td>
		</tr>
		<tr>
			<td>Elijah Wilson</td>
			<td>12</td>
			<td>Suffield Academy</td>
			<td>Suffield, CT</td>
		</tr>
		<tr>
			<td>Elijah Bailey</td>
			<td>12</td>
			<td>Long Island Lutheran</td>
			<td>Brookville, NY</td>
		</tr>
		<tr>
			<td>Malik Brevard</td>
			<td>12</td>
			<td>Fort Mill</td>
			<td>Fort Mill, SC</td>
		</tr>
		<tr>
			<td>Lucien Christofis</td>
			<td>13</td>
			<td>BHASVIC College</td>
			<td>Brighton, UK</td>
		</tr>
		<tr>
			<td>Tucker Lescoe</td>
			<td>12</td>
			<td>Cocalico</td>
			<td>Denver, PA</td>
		</tr>
		<tr>
			<td>Bryn Trimble</td>
			<td>12</td>
			<td>Raytown South</td>
			<td>Raytown, MS</td>
		</tr>
		<tr>
			<td>Cole Long</td>
			<td>12</td>
			<td>Athlete Institute</td>
			<td>Toronto, CAN</td>
		</tr>
		<tr>
			<td>Marlon Taylor</td>
			<td>13</td>
			<td>Mount Vernon</td>
			<td>Mount Vernon, NY</td>
		</tr>
		<tr>
			<td>Zach Bare</td>
			<td>12</td>
			<td>St Paul's </td>
			<td>Brooklandville, MD</td>
		</tr>
	</tbody>
</table>
