<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Grade</th>
			<th>High School</th>
			<th>City</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Daniel Sackey</td>
			<td>10</td>
			<td>Undecied</td>
			<td>Manitoba, CAN</td>
		</tr>
		<tr>
			<td>Bryce Wills</td>
			<td>10</td>
			<td>Iona Prep</td>
			<td>New Rochelle, NY</td>
		</tr>
		<tr>
			<td>Martin Mann</td>
			<td>10</td>
			<td>Lawrence Academy</td>
			<td>Groton, MA</td>
		</tr>
		<tr>
			<td>Maxwell Lorca</td>
			<td>9</td>
			<td>Northfield Mount Hermon</td>
			<td>Gill, MA</td>
		</tr>
		<tr>
			<td>Sean Good</td>
			<td>10</td>
			<td>Trinity </td>
			<td>Camp Hill, PA</td>
		</tr>
		<tr>
			<td>Immanuel Quickley</td>
			<td>10</td>
			<td>John Carroll</td>
			<td>Bel Air, MD</td>
		</tr>
		<tr>
			<td>Tyree Pickron</td>
			<td>10</td>
			<td>Archbishop Wood</td>
			<td>Warminster, PA</td>
		</tr>
		<tr>
			<td>Myles Dread</td>
			<td>10</td>
			<td>Gonzaga</td>
			<td>Washington, DC</td>
		</tr>
		<tr>
			<td>Nate Roberts</td>
			<td>10</td>
			<td>Edgewood</td>
			<td>Edgewood, MD</td>
		</tr>
		<tr>
			<td>Marcus Littles Jr</td>
			<td>10</td>
			<td>Academy New Church</td>
			<td>Bryn Athyn, PA</td>
		</tr>
		<tr>
			<td>Jalen Smith</td>
			<td>10</td>
			<td>Mount St Joseph</td>
			<td>Baltimore, MD</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Jonathan Kabongo</td>
			<td>10</td>
			<td>Huntington Prep</td>
			<td>Toronto, CAN</td>
		</tr>
		<tr>
			<td>Chase Audige</td>
			<td>10</td>
			<td>Hill School</td>
			<td>Pottstown, PA</td>
		</tr>
		<tr>
			<td>Isaiah Mucius</td>
			<td>10</td>
			<td>St James</td>
			<td>West Newton, MA</td>
		</tr>
		<tr>
			<td>Justin Winston</td>
			<td>10</td>
			<td>West Orange</td>
			<td>West Orange, NJ</td>
		</tr>
		<tr>
			<td>Emmanuel Ummofia</td>
			<td>10</td>
			<td>Putnam Science Academy</td>
			<td>Putnam, CT</td>
		</tr>
		<tr>
			<td>Noah Locke</td>
			<td>10</td>
			<td>McDonogh</td>
			<td>Ownings Mills, MD</td>
		</tr>
		<tr>
			<td>Luther Muhammad</td>
			<td>10</td>
			<td>Hudson Catholic</td>
			<td>Jersey City, NJ</td>
		</tr>
		<tr>
			<td>Brandon Slater</td>
			<td>10</td>
			<td>Paul VI</td>
			<td>Fairfax, VA</td>
		</tr>
		<tr>
			<td>Mikeal Jones</td>
			<td>9</td>
			<td>Roman Catholic</td>
			<td>Philadelphia, PA</td>
		</tr>
		<tr>
			<td>Silvio De Sousa</td>
			<td>10</td>
			<td>Montverde Academy</td>
			<td>Montverde, FL</td>
		</tr>
		<tr>
			<td>Jahvon Quinerly</td>
			<td>10</td>
			<td>Hudson Catholic</td>
			<td>Jersey City, NJ</td>
		</tr>
	</tbody>
</table>
