<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Grade</th>
			<th>High School</th>
			<th>City</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Rashaan Edwards</td>
			<td>9</td>
			<td>St. Maria Goretti</td>
			<td>Hagerstown, MD</td>
		</tr>
		<tr>
			<td>Alejandro Vasquez</td>
			<td>9</td>
			<td>Undecided</td>
			<td>Undecided</td>
		</tr>
		<tr>
			<td>Julius Phillips</td>
			<td>9</td>
			<td>Archbishop Wood</td>
			<td>Philadelphia, PA</td>
		</tr>
		<tr>
			<td>Erick Dixon</td>
			<td>9</td>
			<td>Abington</td>
			<td>Horsham, PA</td>
		</tr>
		<tr>
			<td>Armani Walker</td>
			<td>9</td>
			<td>McDonogh</td>
			<td>Owings Mills, MD</td>
		</tr>
		<tr>
			<td>Jake Betlow</td>
			<td>9</td>
			<td>Gill St. Bernard's</td>
			<td>Gladstone, NJ</td>
		</tr>
		<tr>
			<td>Anwar Gill</td>
			<td>9</td>
			<td>Gonzaga</td>
			<td>Washington, D.C.</td>
		</tr>
		<tr>
			<td>Marvin Price</td>
			<td>9</td>
			<td>DeMatha</td>
			<td>Hyattsville, MD</td>
		</tr>
		<tr>
			<td>Matt Cross</td>
			<td>8</td>
			<td>St. Mary's</td>
			<td>Lynn, MA</td>
		</tr>
		<tr>
			<td>Qudus Wahab</td>
			<td>9</td>
			<td>Virginia Academy</td>
			<td>Ashburn, VA</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Evan Buckley</td>
			<td>9</td>
			<td>O'Connell</td>
			<td>Ashburn, VA</td>
		</tr>
		<tr>
			<td>Joel Brown</td>
			<td>9</td>
			<td>St. Edmond Campion</td>
			<td>Ajax, CAN</td>
		</tr>
		<tr>
			<td>Daniel Rodriguez </td>
			<td>9</td>
			<td>Hudson Catholic</td>
			<td>Jersey City, NJ</td>
		</tr>
		<tr>
			<td>Adam Cisse</td>
			<td>9</td>
			<td>Cardinal Hayes</td>
			<td>Bronx, NY</td>
		</tr>
		<tr>
			<td>Aidan Igiehan</td>
			<td>9</td>
			<td>Lawrence Wood Meere</td>
			<td>Long Island, NY</td>
		</tr>
		<tr>
			<td>Anthony Harris</td>
			<td>9</td>
			<td>Paul VI</td>
			<td>Fairfax, VA</td>
		</tr>
		<tr>
			<td>Amin Dandridge</td>
			<td>9</td>
			<td>Imhotep</td>
			<td>Philadelphia, PA</td>
		</tr>
		<tr>
			<td>Sheriff Kenny</td>
			<td>9</td>
			<td>Bishop O'Connell</td>
			<td>Washington, D.C.</td>
		</tr>
		<tr>
			<td>Chereef Knox</td>
			<td>9</td>
			<td>Imhotep</td>
			<td>Philadelphia, PA</td>
		</tr>
		<tr>
			<td>Ben Hendricks</td>
			<td>9</td>
			<td>Our Lady of Mt. Carmel</td>
			<td>Ontario, CAN</td>
		</tr>
	</tbody>
</table>
