<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Grade</th>
			<th>Height</th>
			<th>School</th>
			<th>City</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Aaron Walker</td>
			<td>12</td>
			<td>6'1</td>
			<td>Benjamin N. Cardoza</td>
			<td>Queens, NY</td>
			<td></td>
		</tr>
		<tr>
			<td>Gianni Ford</td>
			<td>12</td>
			<td>5'1</td>
			<td>Boys and Girls</td>
			<td>Brooklyn, NY</td>
			<td></td>
		</tr>
		<tr>
			<td>Shawn Montague</td>
			<td>12</td>
			<td>6'5</td>
			<td>Canterbury Prep</td>
			<td>New Milford, CT</td>
			<td></td>
		</tr>
		<tr>
			<td>Marquis Collins</td>
			<td>12</td>
			<td>6'7</td>
			<td>Chester</td>
			<td>Chester, PA</td>
			<td></td>
		</tr>
		<tr>
			<td>Samuel Friday</td>
			<td>12</td>
			<td>6'8</td>
			<td>St. Andrew's</td>
			<td>Barrington, RI</td>
			<td></td>
		</tr>
		<tr>
			<td>Mikey Dixon</td>
			<td>12</td>
			<td>6'2</td>
			<td>Sandford School</td>
			<td>Wilmington, DE</td>
			<td></td>
		</tr>
		<tr>
			<td>Asem Johnson</td>
			<td>12</td>
			<td>6'3</td>
			<td>Paterson Eastside</td>
			<td>Paterson, NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Ray Jerome</td>
			<td>12</td>
			<td>6'3</td>
			<td>Cheshire Academy</td>
			<td>Cheshire, CT</td>
			<td></td>
		</tr>
		<tr>
			<td>Jose Martinez</td>
			<td>12</td>
			<td>6'9</td>
			<td>Long Island Lutheran</td>
			<td>Brookville, NY</td>
			<td></td>
		</tr>
		<tr>
			<td>Gerald Blount</td>
			<td>12</td>
			<td>6'8</td>
			<td>Pomfret</td>
			<td>Pomfret, NY</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>LaTerrance Reed</td>
			<td>12</td>
			<td>6'2</td>
			<td>Salisbury</td>
			<td>Salisbury, CT</td>
			<td></td>
		</tr>
		<tr>
			<td>Lenny Kadisha</td>
			<td>12</td>
			<td>6'4</td>
			<td>Coastal Academy</td>
			<td>Belmar, NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Justin Porter</td>
			<td>12</td>
			<td>6'5</td>
			<td>Ewing</td>
			<td>Ewing, NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Max Mahone</td>
			<td>12</td>
			<td>6'7</td>
			<td>Ridge</td>
			<td>Basking Ridge, NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Peace Ilegomah</td>
			<td>12</td>
			<td>6'10</td>
			<td>Roselle Catholic</td>
			<td>Newark, NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Devante Cross</td>
			<td>12</td>
			<td>6'1</td>
			<td>Parkland</td>
			<td>Allentown, NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Randy Miller</td>
			<td>12</td>
			<td>6'2</td>
			<td>Mount St Joseph</td>
			<td>Baltimore, MD</td>
			<td></td>
		</tr>
		<tr>
			<td>Austin Harriott</td>
			<td>12</td>
			<td>6'5</td>
			<td>Hun School</td>
			<td>Princeton, NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Kendrick Gray</td>
			<td>12</td>
			<td>6'6</td>
			<td>Rice Memorial</td>
			<td>South Burlington, VT</td>
			<td></td>
		</tr>
		<tr>
			<td>Walker Wilson</td>
			<td>13</td>
			<td>6'8</td>
			<td>Newark Tech</td>
			<td>Newark, NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Isiah Deas</td>
			<td>12</td>
			<td>6'7</td>
			<td>Coastal Academy</td>
			<td>Belmar, NJ</td>
			<td></td>
		</tr>
	</tbody>
</table>
