<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Grade</th>
			<th>School</th>
			<th>City</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Luis Reynoso</td>
			<td>9</td>
			<td>Bradford Christian</td>
			<td>Haverhill, MA</td>
		</tr>
		<tr>
			<td>Tyler Washington</td>
			<td>10</td>
			<td>Hun School</td>
			<td>Princeton, NJ</td>
		</tr>
		<tr>
			<td>Montrell Horsey</td>
			<td>10</td>
			<td>Joppatown</td>
			<td>Joppatown, MD</td>
		</tr>
		<tr>
			<td>Zedrek Farrell</td>
			<td>10</td>
			<td>Blair Academy</td>
			<td>New York, NY</td>
		</tr>
		<tr>
			<td>Devonn Allen</td>
			<td>11</td>
			<td>Danvers</td>
			<td>Danvers, MA</td>
		</tr>
		<tr>
			<td>Winston Tabbs</td>
			<td>10</td>
			<td>St Mary's Ryken</td>
			<td>Leonardtown, MD</td>
		</tr>
		<tr>
			<td>Souleymane Koureissi</td>
			<td>10</td>
			<td>Iona Prep</td>
			<td>New Rochelle, NY</td>
		</tr>
		<tr>
			<td>Nikkei Rutty</td>
			<td>10</td>
			<td>The Rectory School</td>
			<td>New York, NY</td>
		</tr>
		<tr>
			<td>Lorenzo Spinazzi</td>
			<td>10</td>
			<td>Hun School</td>
			<td>Princeton, NY</td>
		</tr>
		<tr>
			<td>Tyren Clark</td>
			<td>10</td>
			<td>Brunswick</td>
			<td>Lawrenceville, VA</td>
		</tr>
		<tr>
			<td>Jaylen Colon</td>
			<td>10</td>
			<td>Paterson Charter</td>
			<td>Paterson, NJ</td>
		</tr>
		<tr>
			<td>Brandon Redendo</td>
			<td>10</td>
			<td>Lourdes</td>
			<td>New York, NY</td>
		</tr>
		<tr>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>Anthony Kelley</td>
			<td>10</td>
			<td>Commonwealth Academy</td>
			<td>Springfield, MA</td>
		</tr>
		<tr>
			<td>Cartier Bowman</td>
			<td>9</td>
			<td>Nottingham</td>
			<td>Trenton, NJ</td>
		</tr>
		<tr>
			<td>Mikey Watkins</td>
			<td>10</td>
			<td>Union Catholic</td>
			<td>Union, NJ</td>
		</tr>
		<tr>
			<td>Xavier Starks</td>
			<td>10</td>
			<td>Reading</td>
			<td>Reading, PA</td>
		</tr>
		<tr>
			<td>Rahsaan Edwards</td>
			<td>9</td>
			<td>St Maria Goretti</td>
			<td>Hagerstown, MD</td>
		</tr>
		<tr>
			<td>Justin Anderson</td>
			<td>10</td>
			<td>Academy of the New Church</td>
			<td>Philadelphia, PA</td>
		</tr>
		<tr>
			<td>Kiegan Kerby</td>
			<td>10</td>
			<td>Brooks</td>
			<td>North Andover, MA</td>
		</tr>
		<tr>
			<td>Karrington Wallace</td>
			<td>10</td>
			<td>Archbishop Wood </td>
			<td>Warminster, PA</td>
		</tr>
		<tr>
			<td>Seth Pinkney</td>
			<td>10</td>
			<td>Archbishop Wood</td>
			<td>Warminster, PA</td>
		</tr>
		<tr>
			<td>Nyzaigh Chambers</td>
			<td>10</td>
			<td>Oscar Smith</td>
			<td>Chesapeake, VA</td>
		</tr>
		<tr>
			<td>Noah Fernandes</td>
			<td>9</td>
			<td>Tabor Academy</td>
			<td>Marion, MA</td>
		</tr>
		<tr>
			<td>Ricardo Dominguez</td>
			<td>10</td>
			<td>Bishop Loughlin</td>
			<td>New York, NY</td>
		</tr>
	</tbody>
</table>
