<table>
	<thead>
		<tr>
			<th>Team</th>
			<th>Points Earned</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>USAD</td>
			<td>57</td>
			<td></td>
		</tr>
		<tr>
			<td>Wayne PAL (NJ)</td>
			<td>51</td>
			<td></td>
		</tr>
		<tr>
			<td>River City Reign (VA)</td>
			<td>29</td>
			<td></td>
		</tr>
		<tr>
			<td>NJ Shoreshots (Rice)</td>
			<td>28</td>
			<td></td>
		</tr>
		<tr>
			<td>Jersey Shore Warriors</td>
			<td>27</td>
			<td></td>
		</tr>
		<tr>
			<td>Early Risers (NY)</td>
			<td>22</td>
			<td></td>
		</tr>
		<tr>
			<td>Stamford Peace (CT)</td>
			<td>22</td>
			<td></td>
		</tr>
		<tr>
			<td>NJ Roadrunners</td>
			<td>20</td>
			<td></td>
		</tr>
		<tr>
			<td>Castle Athletics (NY)</td>
			<td>20</td>
			<td></td>
		</tr>
		<tr>
			<td>NJ Shoreshots (Pooley)</td>
			<td>19</td>
			<td></td>
		</tr>
		<tr>
			<td>JB Hoops Coyle (PA)</td>
			<td>18</td>
			<td></td>
		</tr>
		<tr>
			<td>Born Ready Elite</td>
			<td>16</td>
			<td></td>
		</tr>
		<tr>
			<td>York Ballers (PA)</td>
			<td>15</td>
			<td></td>
		</tr>
		<tr>
			<td>Diamond State Titans</td>
			<td>15</td>
			<td></td>
		</tr>
		<tr>
			<td>CBC</td>
			<td>14</td>
			<td></td>
		</tr>
		<tr>
			<td>Maryland 3D Red</td>
			<td>13</td>
			<td></td>
		</tr>
		<tr>
			<td>Middlesex Magic (MA)</td>
			<td>13</td>
			<td></td>
		</tr>
		<tr>
			<td>NJ Got Game</td>
			<td>12</td>
			<td></td>
		</tr>
		<tr>
			<td>ICC Truth (NY)</td>
			<td>12</td>
			<td></td>
		</tr>
		<tr>
			<td>High Rise Elite (NY)</td>
			<td>11</td>
			<td></td>
		</tr>
		<tr>
			<td>Team Final Black (PA)</td>
			<td>11</td>
			<td></td>
		</tr>
		<tr>
			<td>HC Elite White</td>
			<td>11</td>
			<td></td>
		</tr>
		<tr>
			<td>Mid Atlantic Select (MD)</td>
			<td>11</td>
			<td></td>
		</tr>
		<tr>
			<td>District Basketball Club (DC)</td>
			<td>10</td>
			<td></td>
		</tr>
		<tr>
			<td>Syracuse Select</td>
			<td>9</td>
			<td></td>
		</tr>
		<tr>
			<td>Harlem United</td>
			<td>9</td>
			<td></td>
		</tr>
		<tr>
			<td>Game 7 NY Elite</td>
			<td>8</td>
			<td></td>
		</tr>
		<tr>
			<td>CM3 Elite</td>
			<td>7</td>
			<td></td>
		</tr>
		<tr>
			<td>Virginia Elite</td>
			<td>5</td>
			<td></td>
		</tr>
		<tr>
			<td>Higher Level (VA)</td>
			<td>5</td>
			<td></td>
		</tr>
		<tr>
			<td>Juice All Stars (NC)</td>
			<td>5</td>
			<td></td>
		</tr>
		<tr>
			<td>BSA Select (PA)</td>
			<td>5</td>
			<td></td>
		</tr>
		<tr>
			<td>Bump N Run</td>
			<td>5</td>
			<td></td>
		</tr>
		<tr>
			<td>Maryland 3D White</td>
			<td>4</td>
			<td></td>
		</tr>
		<tr>
			<td>Pittsburgh Nets</td>
			<td>4</td>
			<td></td>
		</tr>
		<tr>
			<td>South Jersey Select</td>
			<td>4</td>
			<td></td>
		</tr>
		<tr>
			<td>The City</td>
			<td>2</td>
			<td></td>
		</tr>
		<tr>
			<td>NJ Soldiers</td>
			<td>2</td>
			<td></td>
		</tr>
		<tr>
			<td>HC Elite Green</td>
			<td>1</td>
			<td></td>
		</tr>
		<tr>
			<td>JB Hoops Showers (PA)</td>
			<td>0</td>
			<td></td>
		</tr>
		<tr>
			<td>Brooklyn Rens</td>
			<td>0</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
