<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>High School</th>
			<th>State</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Matthew Moyer</td>
			<td>South Kent School</td>
			<td>CT</td>
		</tr>
		<tr>
			<td>Jordan Allen</td>
			<td>Dover HS</td>
			<td>DE</td>
		</tr>
		<tr>
			<td>Chris Lykes</td>
			<td>Gonzaga College HS</td>
			<td>DC</td>
		</tr>
		<tr>
			<td>Quentin Goodin</td>
			<td>Taylor County HS</td>
			<td>KY</td>
		</tr>
		<tr>
			<td>Isaiah Miles</td>
			<td>Gwynn Park HS</td>
			<td>MD</td>
		</tr>
		<tr>
			<td>Keith Brown</td>
			<td>Pelham HS</td>
			<td>NH</td>
		</tr>
		<tr>
			<td>Tyus Battle</td>
			<td>St. Joseph's Metuchen</td>
			<td>NJ</td>
		</tr>
		<tr>
			<td>Kevin Huerter</td>
			<td>Shenendehowa HS</td>
			<td>NY</td>
		</tr>
		<tr>
			<td>Edrice "Bam" Adebayo</td>
			<td>High Point Christian Academy</td>
			<td>NC</td>
		</tr>
		<tr>
			<td>Xavier Simpson</td>
			<td>Lima Senior HS</td>
			<td>OH</td>
		</tr>
		<tr>
			<td>Lonnie Walker</td>
			<td>Reading HS</td>
			<td>PA</td>
		</tr>
		<tr>
			<td>Justin Mazzulla</td>
			<td>Bishop Hendricken HS</td>
			<td>RI</td>
		</tr>
		<tr>
			<td>Ben Shungu</td>
			<td>Rice Memorial HS</td>
			<td>VT</td>
		</tr>
		<tr>
			<td>Chase Harler</td>
			<td>Wheeling Central Catholic</td>
			<td>WV</td>
		</tr>
	</tbody>
</table>
