<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Date</th>
			<th>Location </th>
			<th>Ages</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Elite Pick Your Camp</td>
			<td>Any Summer Elite Camp</td>
			<td>Albright College</td>
			<td>Boys 
Rising 9th-12th graders</td>
			<td><a href="https://store.hoopgroup.com/events/2018-2018-elite-pick-your-camp">Register Here</a></td>
		</tr>
		<tr>
			<td>Academic Elite 1</td>
			<td>June 26-29</td>
			<td>Albright College</td>
			<td>Boys
Rising 9th-12th Graders</td>
			<td><a href="https://store.hoopgroup.com/events/2018-2018-academic-elite-1">Register Here</a></td>
		</tr>
		<tr>
			<td>Chicago Academic Elite </td>
			<td>July 3-6</td>
			<td>Lewis University</td>
			<td></td>
			<td><a href="https://store.hoopgroup.com/events/2018-2018-chicago-academic-elite">Register Here</a></td>
		</tr>
		<tr>
			<td>Elite 1 </td>
			<td>July 10-13</td>
			<td>Albright College</td>
			<td>Boys
Rising 9th-12th Graders</td>
			<td><a href="https://store.hoopgroup.com/events/2018-2018-elite-session-1">Register Here</a></td>
		</tr>
		<tr>
			<td>Elite 2 </td>
			<td>July 17-20</td>
			<td>Albright College </td>
			<td>Boys
Rising 9th-12th Graders</td>
			<td><a href="https://store.hoopgroup.com/events/2018-2018-elite-session-2">Register Here</a></td>
		</tr>
		<tr>
			<td>Academic Elite 2</td>
			<td>July 24-27</td>
			<td>Albright College </td>
			<td>Boys
Rising 9th-12th Graders</td>
			<td><a href="https://store.hoopgroup.com/events/2018-2018-academic-elite-2">Register Here</a></td>
		</tr>
		<tr>
			<td>Future All-American Middle School</td>
			<td>August 1-4</td>
			<td>East Stroudsburg University </td>
			<td>Boys 
Rising 5th-8th Graders</td>
			<td><a href="https://store.hoopgroup.com/events/2018-2018-future-all-american-jr-elite">Register Here</a></td>
		</tr>
		<tr>
			<td>Future All-American High School</td>
			<td>August 5-8</td>
			<td>East Stroudsburg University </td>
			<td>Boys Rising 9th-10th Graders</td>
			<td><a href="https://store.hoopgroup.com/events/2018-2018-future-all-american-fab-fros-super-soph">Register Here</a></td>
		</tr>
		<tr>
			<td>February Exposure Package</td>
			<td>Any Spring Top 100
Any Summer Elite Camp</td>
			<td>TBD</td>
			<td>Boys 
Rising 5th-12th Graders</td>
			<td><a href="https://store.hoopgroup.com/events/2018-2018-february-exposure-package">Register Here</a></td>
		</tr>
	</tbody>
</table>
