<table>
	<thead>
		<tr>
			<th><a href="https://hoopgroup.com/wp-content/uploads/2017/09/sm_baltimore17_falltop100-105.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2017/09/sm_baltimore17_falltop100-105.jpg" alt="" width="3456" height="5184" class="aligncenter size-full wp-image-89025" /></a></th>
			<th>Ike Cornish (2021, Dulaney) 
The young wing continued to show why Division 1 programs all over the east are stopping by Dulaney open gyms this fall. With a unique blend of size and skill, the 6’6 Cornish, displayed his emerging inside/outside offensive game at the Baltimore Top 100.  With crafty drives to the rim, a smooth jump shot, and a great feel for the game, Ike Cornish proved why, even is a freshman, he is a name to know in the Baltimore Area this winter. </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2017/09/sm_baltimore17_falltop100-56.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2017/09/sm_baltimore17_falltop100-56.jpg" alt="" width="3456" height="5184" class="aligncenter size-full wp-image-89026" /></a></td>
			<td>Nytre Brown (2019, Lake Clifton)
The most physically imposing player at the Baltimore Top 100 Turner did not disappoint. With a strong 6’7 frame, the Lake Clifton big man dominated every inch of the paint! Grabbing rebounds, blocking shots, and using a soft touch to finish around the rim. Even with his size, he showed an ability to run the floor, and defend in space against smaller players. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2017/09/sm_baltimore17_falltop100-67.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2017/09/sm_baltimore17_falltop100-67.jpg" alt="" width="3456" height="5184" class="aligncenter size-full wp-image-89027" /></a></td>
			<td>Sherwyn Devonish (2018, Wise) 
The Wise High School guard was flat out the best guard in the building. His consistent ability to play quickly but under control is what has college coaches from every level interested. He puts relentless pressure on the defense by creating off the dribble and scoring in the lane. With a much improved jump shot, Devonish is turning into an all-around scoring point guard, who can run a team, and get you a basket! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2017/09/sm_baltimore17_falltop100-27.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2017/09/sm_baltimore17_falltop100-27.jpg" alt="" width="3456" height="5184" class="aligncenter size-full wp-image-89028" /></a></td>
			<td>Deson Flood (2018, Good Counsel)
Deson Flood will be one of the best athletes in the WCAC this year. The 6’5 wing was virtually unstoppable in transition, consistently finishing above the rim. A quick leaper, with a skill set that keeps improving, Flood displayed an ability to create driving lanes in the half court, as well as showcased a capable jump shot to keep defenders honest. His length and quickness makes him one of the most versatile defenders in the area! It’s no surprise that a variety of D1 coaches have been in to see the Good Counsel wing. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2017/09/sm_rochester17_falltop100-104.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2017/09/sm_rochester17_falltop100-104.jpg" alt="" width="2508" height="3456" class="aligncenter size-full wp-image-89029" /></a></td>
			<td>Noah Hutchins (2019)
The highflying PG from Buffalo is one of the best athletes in the 2019 class. Hutchins has the ability to get and finish above the rim in both transition and in a half court setting. With a GPA high enough to get into any college in America, and a skill set only a few have, Noah’s recruitment will be wide open. If Noah can continue to develop his jump shot and PG skill set he will be one of the best 2019 PG in all of NY. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2017/09/sm_rochester17_falltop100-83.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2017/09/sm_rochester17_falltop100-83.jpg" alt="" width="2508" height="3456" class="aligncenter size-full wp-image-89030" /></a></td>
			<td>Kobe Long (2020)
With the ability to consistently knock down shots from 23 feet and in, Kobe Long has a chance to be the next big thing to come out of McQuaid. Kobe knocked down shots for the entire 5 hours he was in the gym. If Long can add other aspects to his game he will have a chance to be D1 scholarship player. This season will tell a lot about the kind of player Kobe can become moving forward. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2017/09/sm_rochester17_falltop100-10.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2017/09/sm_rochester17_falltop100-10.jpg" alt="" width="2508" height="3456" class="aligncenter size-full wp-image-89031" /></a></td>
			<td>Will Amica (2020)
One of the stronger bodied 2020s in the area, Amica has the ability to play on both ends of the floor. An ability to play through contact was on display all event as Amica had no problem getting to the rim and finishing. If Amica can stretch out a few more inches and continue to play at the level he showed at SJFC, he will be coveted by many D1 schools moving forward. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2017/09/sm_chicago17_falltop100-33.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2017/09/sm_chicago17_falltop100-33.jpg" alt="" width="1232" height="1472" class="aligncenter size-full wp-image-89032" /></a></td>
			<td>Eddie Creal (2018, Romeoville)
Eddie used his athleticism and strength to dominate the event.  He has a high motor and was unstoppable in the open court, including a 3 minute stretch in the second half of a game where he had 11 points on 3 dunks.  Division 1 programs will start taking notice of Eddie this high school season!</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2017/09/sm_chicago17_falltop100-73.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2017/09/sm_chicago17_falltop100-73.jpg" alt="" width="2350" height="3216" class="aligncenter size-full wp-image-89033" /></a></td>
			<td>Jeremiah Oden (2019, St. Rita)
Jeremiah is an ultra-talented wing/forward who plays for catholic league power St. Rita.  At 6’ 8”, he moves fluidly and can put the ball on the deck and finish at the rim.  Arguably the highest ceiling of any prospect at the event, he will have numerous Division 1 offers by the end of the high school season.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2017/09/sm_chicago17_falltop100-68.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2017/09/sm_chicago17_falltop100-68.jpg" alt="" width="2542" height="2752" class="aligncenter size-full wp-image-89034" /></a></td>
			<td>Robert Harvey (2018, Hillcrest)
Robert had his full game on display this weekend in Chicago!  The wing is a knockdown shooter who can also put it on the deck and make some plays.  With a developed skill set, he plays a mature game that makes it easy for him out on the court.  Already holding an Illinois St. offer, expect more schools to watch Harvey play this season.</td>
		</tr>
	</tbody>
</table>
