<table>
	<thead>
		<tr>
			<th>Dates</th>
			<th>Grade</th>
			<th>Days</th>
			<th>Time</th>
			<th>Price</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Classes not Schedule at this time</td>
			<td>Boys &amp; Girls 3-9</td>
			<td>Thursday</td>
			<td>6:30pm - 7:30pm</td>
			<td>$190</td>
			<td></td>
		</tr>
		<tr>
			<td>November 28 &amp; 29</td>
			<td>Boys 9-12</td>
			<td>Sat &amp; Sun</td>
			<td>1 PM - 3 PM</td>
			<td>$100 ($110 if not pre registered)</td>
			<td><a href="https://store.hoopgroup.com/events/2015-bh-sh-clinic-2015-bhs">Register Here</a></td>
		</tr>
		<tr>
			<td>November 28 &amp; 29</td>
			<td>Girls 9 - 12</td>
			<td>Sat &amp; Sun</td>
			<td>3 PM - 5PM</td>
			<td>$100 ($110 if not pre registered)</td>
			<td><a href="https://store.hoopgroup.com/events/2015-bh-sh-clinic-2015-ghs">Register Here</a></td>
		</tr>
	</tbody>
</table>
