<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jason Sidebottom</td>
			<td>Summit YMCA</td>
		</tr>
		<tr>
			<td>Lloyd Middlebrook</td>
			<td>Summit YMCA</td>
		</tr>
	</tbody>
</table>
