<table>
	<tbody>
		<tr>
			<td>Alfred</td>
			<td>Cornell</td>
			<td>Macalester</td>
			<td>St. Mary's</td>
		</tr>
		<tr>
			<td>Amherst</td>
			<td>Dickinson</td>
			<td>MIT</td>
			<td>Susquehanna</td>
		</tr>
		<tr>
			<td>Babson</td>
			<td>Drew</td>
			<td>Middlebury</td>
			<td>Stonehill</td>
		</tr>
		<tr>
			<td>Bates</td>
			<td>Emory</td>
			<td>Muhlenberg</td>
			<td>Swarthmore</td>
		</tr>
		<tr>
			<td>Boston U.</td>
			<td>Franklin &amp; Marshall</td>
			<td>NJIT</td>
			<td>Trinity</td>
		</tr>
		<tr>
			<td>Bowdoin</td>
			<td>Grinnell</td>
			<td>NYU</td>
			<td>Tufts</td>
		</tr>
		<tr>
			<td>Brandeis</td>
			<td>Hamilton</td>
			<td>Princeton</td>
			<td>Ursinus</td>
		</tr>
		<tr>
			<td>Case Western</td>
			<td>Haverford</td>
			<td>RIT</td>
			<td>Wesleyan</td>
		</tr>
		<tr>
			<td>Chestnut Hill</td>
			<td>Johns Hopkins</td>
			<td>Salve Regina</td>
			<td>Washington</td>
		</tr>
		<tr>
			<td>Colby</td>
			<td>Kenyon</td>
			<td>Scranton</td>
			<td>Washington &amp; Lee</td>
		</tr>
		<tr>
			<td>Columbia</td>
			<td>Marist</td>
			<td>St. Francis (PA)</td>
			<td>William &amp; Mary</td>
		</tr>
	</tbody>
</table>
