<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>School</th>
			<th>Height</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Most Outstanding Player</td>
			<td>Brody Hicks</td>
			<td>Cave Spring (Va.) HS</td>
			<td>6-3</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Aaron Geschwilm</td>
			<td>Hereford (Md.) HS</td>
			<td>6-6</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Aeneas Green</td>
			<td>Socastee (S.C.) HS</td>
			<td>5-8</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>All-Star MVP</td>
			<td>Michael Rice</td>
			<td>Red Bank (N.J.) HS</td>
			<td>5-9</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Jake Marcin</td>
			<td>Christian Brothers Academy (N.J.)</td>
			<td>6-3</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Brian McCormack</td>
			<td>Cathedral Prep (N.Y.)</td>
			<td>6-2</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
