<table>
	<tbody>
		<tr>
			<td>Amherst</td>
			<td>Emory</td>
			<td>Stonehill</td>
		</tr>
		<tr>
			<td>Babson</td>
			<td>Franklin &amp; Marshall</td>
			<td>Swarthmore</td>
		</tr>
		<tr>
			<td>Bowdoin</td>
			<td>Gettysburg</td>
			<td>Temple</td>
		</tr>
		<tr>
			<td>Bucknell</td>
			<td>Hamilton</td>
			<td>Tufts</td>
		</tr>
		<tr>
			<td>Carnegie Mellon</td>
			<td>Hobart</td>
			<td>United States Naval Academy</td>
		</tr>
		<tr>
			<td>Catholic</td>
			<td>Johns Hopkins</td>
			<td>Washington &amp; Lee</td>
		</tr>
		<tr>
			<td>Colby</td>
			<td>NYU</td>
			<td>Wells</td>
		</tr>
		<tr>
			<td>TCNJ</td>
			<td>Stevens Institute of Technology</td>
			<td>Wesleyan</td>
		</tr>
	</tbody>
</table>
