<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Player</td>
			<td>Year/ School</td>
			<td>Evaluation</td>
		</tr>
		<tr>
			<td>Terrance Jones</td>
			<td>2019
Lawrence</td>
			<td>Strengths: Hard working guard with the ability to drive and finish at the basket. Very good on the break and can dish to his teammates. His shot keeps defenders honest. 

Weaknesses: Developing a consistent mid range jump shot would complete his offensive game. </td>
		</tr>
		<tr>
			<td>Isaac Beda</td>
			<td>2017
Hillel</td>
			<td>Strengths: Good on ball defender and help defender. Can penetrate and finish in a half court set. Finishes well in transition. 

Weaknesses: Can be an all around threat on offense by developing his ball handling skills. </td>
		</tr>
		<tr>
			<td>Moe Fofana</td>
			<td>2018</td>
			<td>Strengths: Relentless offensive rebounder. Handles the ball well in transition and runs the floor. Drives strong to the basket. 

Weaknesses: Can elevate his offensive game by finishing consistently at the basket. </td>
		</tr>
		<tr>
			<td>Myles Owens</td>
			<td>2017</td>
			<td>Strengths: Good ball handler with the ability to shoot the 3. Very invested in the game, trying to keep teammates involved. 

Weaknesses: Can improve his defensive game by working on his lateral speed in order to keep opponents in front of him. </td>
		</tr>
		<tr>
			<td>Alex Alacan</td>
			<td>2017</td>
			<td>Strengths: Knowledgeable guard who moves well without the ball and tries to get teammates involved. Plays very good defense and will take a charge. 

Weaknesses: Can improve his offensive game boy developing his shooting ability. </td>
		</tr>
		<tr>
			<td>Greg Carolan-Belvin</td>
			<td>2017</td>
			<td>Strengths: Good combo guard with great speed to the basket. Great on the break at finishing and distributing. Has a nice pull up jump shot in the half court. 

Weaknesses: Can become more of an offensive threat by extending his shooting range. </td>
		</tr>
		<tr>
			<td>Brendan Rougas</td>
			<td>2019</td>
			<td>Strengths: Athletic wing with nice shooting touch. Runs the floor hard and finds the open man. 

Weaknesses: Can improve his offensive game by developing a jump shot off of the dribble and improving his ball handling skills. </td>
		</tr>
		<tr>
			<td>Jamar Tucker</td>
			<td>2018</td>
			<td>Strengths: Excellent passer and decision maker. Good driver and distributor. Great defender and quick in transition. 

Weaknesses: Can elevate his offensive game by acquiring the ability to score in the half court. </td>
		</tr>
		<tr>
			<td>Riley Watkins</td>
			<td>2018</td>
			<td>Strengths: Athletic forward with the ability to get to the basket. Can handle the basketball and gets to the basket off of dribble moves. 

Weaknesses: Can become more of an offensive threat by improving his 3 point shot. </td>
		</tr>
		<tr>
			<td>Shaquil Bender</td>
			<td>2020</td>
			<td>Strengths: Good athlete with good shooting form and is able to play any perimeter position. Handles the ball well with his right hand. 

Weaknesses: Can improve his offensive game by utilizing his left hand on both drives and at the basket. </td>
		</tr>
		<tr>
			<td>Max Somelofske</td>
			<td>2017
Appoquinimink</td>
			<td>Strengths: Active rebounder on both ends of the floor. Can finish around the basket and has a nice mid range jump shot. Able to get off his feet quickly. 

Weaknesses: Will become an all around player by developing a long range perimeter shot. </td>
		</tr>
		<tr>
			<td>Gabe Khalife</td>
			<td>2019
Parkland</td>
			<td>Strengths: Strong finisher with good range on his jump shot. Hard worker. 

Weaknesses: Can elevate his game by finishing through contact and playing strong post defense. </td>
		</tr>
		<tr>
			<td>Thomas Johnson</td>
			<td>2019
Edison High School</td>
			<td>Strengths: Long, athletic player with great form on his jump shot. Shoots the ball well off of a teammate's pass. 

Weaknesses: Will become much tougher to guard if he gets more comfortable shooting the ball off of the dribble. </td>
		</tr>
		<tr>
			<td>Emanuel Byrd</td>
			<td>2017
Yonkers</td>
			<td>Strengths: Relentless rebounder on the offensive glass. Attacks the basket well with a quick first step. 

Weaknesses: Will become more of an offensive threat by developing a consistent jump shot. </td>
		</tr>
		<tr>
			<td>Kenneth Goins II</td>
			<td>2017
Timber Creek</td>
			<td>Strengths: Good offensive player with the ability to shoot the 3 and drive to the basket. 

Weaknesses: Can elevate his defensive game by focusing on keeping sight of both his man and the ball. </td>
		</tr>
		<tr>
			<td>George Siegrist</td>
			<td>2019
Our Lady of Lourdes</td>
			<td>Strengths: Unselfish, well rounded player who likes to crash the boards. 

Weaknesses: Can elevate his offensive game by finishing through contact at the rim. </td>
		</tr>
		<tr>
			<td>Ricky Martin</td>
			<td>2018
Timber Creek</td>
			<td>Strengths: Good ball handler with quick hands on the defensive end. Finishes well in transition. 

Weaknesses: Can improve his decision making allowing him to find the best shot. </td>
		</tr>
		<tr>
			<td>Harris Jawad</td>
			<td>2019
Franklin High School</td>
			<td>Strengths: Vocal leader who is always in the right position on the defensive end. Great floor vision and strong rebounding skills. 

Weaknesses: Can become more of an offensive threat by working on his ball handling skills. </td>
		</tr>
		<tr>
			<td>Andrew Fisch</td>
			<td>2019
York Prep</td>
			<td>Strengths: Unselfish player with great court awareness. First quick first step and has the ability to get to the basket. 

Weaknesses: Can improve his defensive game by focusing on his defensive  positioning. </td>
		</tr>
		<tr>
			<td>Steven Bressler</td>
			<td>2018
Watchung Hills </td>
			<td>Strengths: Offensive threat with the ability to shoot the 3 point shot and drive to the basket strong. Has great court vision. 

Weaknesses: Can become more of a well rounded player by communicating with his teammates on both the defensive and offensive end. </td>
		</tr>
		<tr>
			<td>Robert Bland</td>
			<td>2019
Holy Cross</td>
			<td>Strengths: All around offensive player with the ability to finish at the basket and shoot from good range. Rebounds the basketball well and moves well without the ball. 

Weaknesses: Can improve his defensive game by getting stronger and holding his position. </td>
		</tr>
		<tr>
			<td>Yusuf Williams</td>
			<td>University High School</td>
			<td>Strengths: Great ball handler and has good shooting form on his jump shot. 

Weaknesses: Can elevate his defensive game by staying in position and keeping his opponent in front of him. </td>
		</tr>
		<tr>
			<td>Azriel Finsterer</td>
			<td>2018
Keene Central</td>
			<td>Strengths: Tough, hard worker who never takes a play off. Great on ball defender and help defender. 

Weaknesses: Can improve his offensive game by developing a more consistent jump shot. </td>
		</tr>
		<tr>
			<td>Timothy Chaney</td>
			<td>2018
Gill St. Bernard</td>
			<td>Strengths: Hard working defender who causes issues for opponents. Good ball handler with the ability to get to the basket and finish. 

Weaknesses: Can focus on his decision making skills, understanding when to finish or distribute the ball which will keep defenders honest. </td>
		</tr>
		<tr>
			<td>Noah Less</td>
			<td>2017
Fitchburg</td>
			<td>Strengths: Athletic player with a very quick first step. Strong ball handling skills and has a nice pull up jump shot. Tough defender. 

Weaknesses: Can improve his offensive game by getting into the lane and distributing the ball to his teammates when defenders collapse. </td>
		</tr>
		<tr>
			<td>Darby Knox</td>
			<td>2019
Newton High School</td>
			<td>Strengths: Good decision maker with great change of speed and direction. Plays under control. 

Weaknesses: Can improve his offensive game by working on his ball handling skills. </td>
		</tr>
		<tr>
			<td>Joey Vieira</td>
			<td>2019
Northern Highlands</td>
			<td>Strengths: Smart, aggressive defender. Offensively, has a quick first step with a good mid range jump shot. 

Weaknesses: Needs to get stronger in order to allow him to play against bigger guards and to finish at the basket. </td>
		</tr>
		<tr>
			<td>Lybrant Robinson Jr. </td>
			<td>2017
Manchester Township</td>
			<td>Strengths: Good ball handler with great speed. Constantly trying to stay involved in the offense. 

Weaknesses: Can become more of an all around player by getting his teammates involved. </td>
		</tr>
		<tr>
			<td>Daniel Young</td>
			<td>2018
St. Josephs High School</td>
			<td>Strengths: Hustle player who runs the floor well and helps out his teammates on defense. Moves well without the ball and goes to get the ball on a rebound. 

Weaknesses: Can elevate his offensive game by developing his outside shot. </td>
		</tr>
		<tr>
			<td>Khalil Johnson</td>
			<td>2017
Hyde School</td>
			<td>Strengths: Quick player with the ability to stop and shoot the pull up jump shot. Runs the floor well and contributes where possible. 

Weaknesses: Can keep his defenders honest by improving his distribution skills. </td>
		</tr>
		<tr>
			<td>Andrew Griffiths</td>
			<td>2019
Pine Grove </td>
			<td>Strengths: Good perimeter shooter who has a good understanding of the game. 

Weaknesses: Can improve his game by focusing on his defensive principles and getting back on defense. </td>
		</tr>
		<tr>
			<td>Zaire Rogers</td>
			<td>2020</td>
			<td>Strengths: Hard worker with great potential in his game. Strong rebounding skills. 

Weaknesses: Can improve his defensive game by seeing the ball and his man at all times. </td>
		</tr>
		<tr>
			<td>Antonio Finsterer</td>
			<td>2018
Keene Central</td>
			<td>Strengths: Great communicator with his teammates and has a great IQ of the game. Hustle player and passes the ball very well. 

Weaknesses: Can become more of an offensive threat by extending his shooting range. </td>
		</tr>
		<tr>
			<td>Paul Somma</td>
			<td>2017
Lafayette Educational</td>
			<td>Strengths: All around player with the ability to shoot the perimeter shot and distribute the ball to his teammates. Looks to push the ball overtime and has great court vision. 

Weaknesses: Can elevate his defensive game by continually trying to rebound and focusing on his defensive principles. </td>
		</tr>
		<tr>
			<td>John O'Reilly</td>
			<td>2020
DePaul Catholic High School </td>
			<td>Strengths: High IQ player who runs the team as the point guard. Great court vision and tries to get everyone involved. 

Weaknesses: Can become a more versatile offensive player by working on his perimeter shot. </td>
		</tr>
		<tr>
			<td>Jamael Perez</td>
			<td>2017
John Dewey</td>
			<td>Strengths: Point guard with strong ball handling skills and the ability to distribute the ball. Good help defender. 

Weaknesses: Can elevate his offensive game by developing his outside shot. </td>
		</tr>
		<tr>
			<td>Matt LaCorte</td>
			<td>2017
Westfield High School</td>
			<td>Strengths: Tough player with the ability to create for himself offensively. Good rebounding skills. Can shoot the pull up jump shot very well. 

Weaknesses: Needs to focus on staying under control in order to finish at the rim. </td>
		</tr>
		<tr>
			<td>Christian Ford</td>
			<td>2017
Notingham High</td>
			<td>Strengths: Unselfish player who has great court vision and creates for his teammates. Strong court awareness. Very good rebounder. 

Weaknesses: Can become a more versatile offensive player by working on his perimeter shooting ability. </td>
		</tr>
		<tr>
			<td>William Taylor</td>
			<td>2017
Palisades Park High School</td>
			<td>Strengths: Hustle player who moves well without the ball and tries to create on offense. Great communicator and help defender. 

Weaknesses: Can improve his defensive game by working on his lateral speed. </td>
		</tr>
		<tr>
			<td>Zahir Rawls</td>
			<td>2020
Cristorey Philadelphia High School</td>
			<td>Strengths: Good ball handler with the ability to get to the basket and score. Runs the court well and is quick off the dribble. 

Weaknesses: Developing his outside shot will elevate his offensive game. </td>
		</tr>
		<tr>
			<td>Devin Cooper</td>
			<td>2019
Red Bank Regional High School</td>
			<td>Strengths: Highly skilled player with a love for the game. Moves well without the ball and has great distribution skills. Defensive hustler and makes his teammates better. 

Weaknesses: Can keep his defenders honest by focusing on developing his outside shot. </td>
		</tr>
		<tr>
			<td>Irie Harris</td>
			<td>2017
Bishop Shanahan</td>
			<td>Strengths: High IQ player with great skills for his size. He is constantly moving and trying to get his teammates involved. 

Weaknesses: Can elevate his game by further improving his shooting ability. </td>
		</tr>
		<tr>
			<td>Justin Bailey</td>
			<td>2018
Owen J. Roberts</td>
			<td>Strengths: Inside player with the ability to handle and pass the ball. Can score in the post and pass out to his teammates. Very composed in the paint and has good hands. 

Weaknesses: Can further improve his game by working on his ability to run the court in transition. </td>
		</tr>
		<tr>
			<td>Teddy Sourlis</td>
			<td>2018
Rumson</td>
			<td>Strengths: Excellent deep 3 point shooter and uses this ability to stretch the defense. Has a high basketball IQ and is able to handle the ball and drive to the basket. 

Weaknesses: Can become a more versatile offensive player by further developing his ball handling skills. </td>
		</tr>
		<tr>
			<td>David Bernabe Cayuelas</td>
			<td>2020
Juan Carlos 1Murcia</td>
			<td>Strengths: All around player with a great skill set. Utilizes the hesitation move to get to the basket. 

Weaknesses: Can elevate his offensive game by acquiring strong ball handling skills in order to break down his defender in the half court. </td>
		</tr>
		<tr>
			<td>Scott Hargrove</td>
			<td>2017
The Wardlaw-Hartridge School</td>
			<td>Strengths: Combo guard with good basketball skills. Has the ability to run  team. Can finish in traffic and is a very good passer. 

Weaknesses: Extending his shooting range would round out his game. </td>
		</tr>
		<tr>
			<td>Bobby Lewit</td>
			<td>2019
Kinnelon</td>
			<td>Strengths: Well rounded guard with a high skill level. Great court vision and passing skills. Good catch and shoot player. 

Weaknesses: Should work on scoring off of the dribble to make his offensive game more versatile. </td>
		</tr>
		<tr>
			<td>Cameron Hamer</td>
			<td>2019
Middletown</td>
			<td>Strengths: Quick, explosive athlete with strong finishes at the basket. Rebounds well and can lead the break. 

Weaknesses: Needs to work on utilizing his left hand on his drives and his shooting ability which will keep his defenders honest. </td>
		</tr>
		<tr>
			<td>Syrus Young</td>
			<td>2017
Morris Catholic High School</td>
			<td>Strengths: Combo guard who moves very well without the ball. Has a high basketball IQ and is a very good finisher at the basket. 

Weaknesses: Can elevate his offensive game by developing his 3 point shot. </td>
		</tr>
		<tr>
			<td>Isar Doshi</td>
			<td>2020
Marlboro High School</td>
			<td>Strengths: Point guard with solid ball handling skills. Good decision maker and can hit the open shot. Hard worker. 

Weaknesses: Can improve his offensive game by working on his drives to the basket. </td>
		</tr>
		<tr>
			<td>Felix Ramos</td>
			<td>2018
Paterson Eastside</td>
			<td>Strengths: Strong, athletic wing with the ability to score, defend, and rebound. Can score both inside and on the perimeter. Runs the court well. 

Weaknesses: Can become a more versatile scorer by extending his shooting range. </td>
		</tr>
		<tr>
			<td>Jacob Sussman</td>
			<td>2020</td>
			<td>Strengths: Wing player with great athletic ability and can run the floor well. Likes to score in transition and sees the open man. 

Weaknesses: Can elevate his offensive game by focusing on his ball handling skills. </td>
		</tr>
		<tr>
			<td>Terence O'Brien</td>
			<td>2018
Westlake</td>
			<td>Strengths: Athletic wing who runs the floor well and scores in transition. Rebounds the ball well. 

Weaknesses: Needs to work on his ball handling skills and shooting form in order to become a more versatile offensive player. </td>
		</tr>
		<tr>
			<td>Souleymane Koureissi</td>
			<td>2018
Iona Prep</td>
			<td>Strengths: Lengthy player with great shot blocking ability. Can score both inside and outside. Runs the floor well and sees the open man.

Weaknesses: Can improve his game by developing post moves in the paint. </td>
		</tr>
		<tr>
			<td>Keijounia W Thomas</td>
			<td>2017
Montserrat Secondary School</td>
			<td>Strengths: Athletic guard who attacks the basket. Likes to run and score in transition. 

Weaknesses: Can improve his offensive game by working on his ball handling and passing skills. </td>
		</tr>
		<tr>
			<td>Akil Domino</td>
			<td>2020
St. Mary's</td>
			<td>Strengths: Speedy point guard who can push the ball in transition and has great court vision. Nice shooting touch and can score when needed. 

Weaknesses: Can become a more all around player by focusing on his rebounding ability. </td>
		</tr>
		<tr>
			<td>Kyree Adams</td>
			<td>2018
Life Center Academy</td>
			<td>Strengths: Quick point guard with great court vision. Likes to push the tempo. 

Weaknesses: Can bring his game to the next level by developing his shot and shooting range. </td>
		</tr>
		<tr>
			<td>Hector DeLorenzo</td>
			<td>2019
Ridgefield Park Jr/Sr High School</td>
			<td>Strengths: Quick guard who runs the floor well and can finish at the basket. Has good ball handling skills. 

Weaknesses: Can improve his defensive game by working on his rebounding ability. </td>
		</tr>
		<tr>
			<td>Jack Schlamp</td>
			<td>2018
Ramsey High School</td>
			<td>Strengths: Good all around forward who can shoot, rebound, and run the floor. Very good passing skills. 

Weaknesses: Can elevate his offensive game by developing his ball handling skills. </td>
		</tr>
		<tr>
			<td>Milo De Los Santos</td>
			<td>2019
Hopewell Valley</td>
			<td>Strengths: Skilled wing player who runs the court well and can finish or pass on the break. Has great court vision and a good feel for the game. Good shooter. 

Weaknesses: Needs to gain physical strength to bring his game to the next level. </td>
		</tr>
		<tr>
			<td>Daniel Pilsbury</td>
			<td>2018
Watchung Hills High</td>
			<td>Strengths: All around forward with the ability to put the ball on the floor. Very good first step to the basket and can hit the open shot. Very good passer. 

Weaknesses: Can elevate his offensive game by focusing on his ball handling skills. </td>
		</tr>
		<tr>
			<td>Kelvin Harris</td>
			<td>2019
Elizabeth High School</td>
			<td>Strengths: All around player with the ability to drive and kick. Can also finish on the drive. 

Weaknesses: Can round out his game by improving his shooting ability and range. </td>
		</tr>
		<tr>
			<td>Travis Cicero</td>
			<td>2019
Marlboro High School</td>
			<td>Strengths: Wing player with a high basketball IQ. Great ball handling and passing skills. Good catch and shoot shot from 3 and can finish in transition. 

Weaknesses: Needs to focus on using his non dominant hand in order to keep defenders honest. </td>
		</tr>
		<tr>
			<td>Matthew Lee</td>
			<td>2019
Paterson EastSide</td>
			<td>Strengths: Very quick point guard who is very good on the break. Can get to the basket off of his dribble and is a very good defender. 

Weaknesses: Can elevate his offensive game by developing his 3 point shot. </td>
		</tr>
		<tr>
			<td>Tyler Maloney</td>
			<td>2020
Oratory Prep</td>
			<td>Strengths: Good point guard with the ability to run a team. Good skill level and has great court vision. 

Weaknesses: Can elevate his offensive game by developing his pull up jump shot off of the dribble. </td>
		</tr>
		<tr>
			<td>Titus Flowers</td>
			<td>2017
Doane Academy</td>
			<td>Strengths: Center with the ability to score with his back to the basket. Rebounds on both ends of the floor and makes strong outlet passes to the guards. 

Weaknesses: Needs to </td>
		</tr>
		<tr>
			<td>Justin Brown</td>
			<td>2018
Hillsborough</td>
			<td>Strengths: Long, quick player with strong ball handling skills enabling him to get to the basket. Rebounds and leads the break to finish or pass. 

Weaknesses: Can elevate his offensive game by becoming a more consistent shooter. </td>
		</tr>
		<tr>
			<td>Deaireus Brown</td>
			<td>2017
York Country Day</td>
			<td>Strengths: Tough, athletic forward/wing with great speed and strength. Gets to the rim very well and finishes at the rim. Good rebounder and plays great defense. 

Weaknesses: Needs to work on his non-dominant hand on the drive and his 3 point shot which will make him a more complete offensive player. </td>
		</tr>
		<tr>
			<td>DeAndre Scott</td>
			<td>2017
Piscataway High School</td>
			<td>Strengths: All around good wing player. Has strong ball handling skills, a very quick first step to the hoop, and has great court vision. Can finish well at the rim. 

Weaknesses: Can become a more versatile scorer by focusing on his 3 point shot. </td>
		</tr>
		<tr>
			<td>Justin Gliksman</td>
			<td>2017
Great Valley</td>
			<td>Strengths: Solid guard with a high IQ of the game. Great drive and kick player who also has the ability to finish at the basket. Strong ball handling skills. 

Weaknesses: Can elevate his offensive game by adding a pull up jumper to his game. </td>
		</tr>
		<tr>
			<td>Alex Ratner</td>
			<td>2020
Marlboro High School</td>
			<td>Strengths: All around good point guard. Very fast with his dribble moves to the basket. Finishes well in the paint. 

Weaknesses: Increasing his physical strength will enable him to finish through contact. </td>
		</tr>
		<tr>
			<td>Jailen Jamison</td>
			<td>2017
Phelps </td>
			<td>Strengths: Good point guard with the ability to run the team. Strong and quick with the ball. Good passer who finds the open man. 

Weaknesses: Can become a more versatile offensive threat by improving his 3 point shot. </td>
		</tr>
		<tr>
			<td>Preston McKenney</td>
			<td>2018
Fox Lane</td>
			<td>Strengths: Great rebounder on both ends of the floor. Runs the floor and finishes well in transition. 

Weaknesses: Needs to increase his strength in order to finish through contact and bring his offensive game to the next level. </td>
		</tr>
		<tr>
			<td>Raven Merritt</td>
			<td>2019
Urban Assembly</td>
			<td>Strengths: Strong rebounder with the ability to handle the ball well. Very long on defense enabling him to block or alter shots. 

Weaknesses: Will be much better around the basket once he becomes stronger with the ball in the paint. </td>
		</tr>
		<tr>
			<td>Isaiah Sanders</td>
			<td>2018
Timber Creek</td>
			<td>Strengths: Athletic player with great range and consistency on his jump shot. Good communicator with great court vision. Great help defender. 

Weaknesses: Will be much harder to guard by improving his ball handling skills. </td>
		</tr>
		<tr>
			<td>Timothy Blaney</td>
			<td>2017
Wall Township High</td>
			<td>Strengths: Great defender who is always in the right position and is quick off his feet. Good range on his jumper. 

Weaknesses: Needs to work in finishing through contact in order to elevate his offensive game. </td>
		</tr>
		<tr>
			<td>Kevin Fromelt</td>
			<td>2019
Montgomery High School</td>
			<td>Strengths: Strong guard with good ball handling skills and court vision. Helps his teammates defensively and has a consistent mid range jumper. 

Weaknesses: Can become more of an offensive threat by developing a deep shot. </td>
		</tr>
		<tr>
			<td>Jalil Lee</td>
			<td>2019
Plainfield</td>
			<td>Strengths: Good on ball defender who rebounds well from the guard position. Has a nice pull up jump shot and a very consistent 3 point shot. 

Weaknesses: Can become more of a scoring threat by finishing through contact. </td>
		</tr>
		<tr>
			<td>Curtis Nesbit</td>
			<td>2018
Woodbridge</td>
			<td>Strengths: Great point guard who handles the ball well, has great court vision, and gets his teammates involved. Aggressive defender and great communicator. Good range on his jumper 

Weaknesses: Will become a more versatile scorer by developing a more consistent jump shot. </td>
		</tr>
		<tr>
			<td>Shawn Falk</td>
			<td>2020
Wall kill Valley Regional High </td>
			<td>Strengths: All around good player with a good first step to get to the basket. Isn't afraid to finish through contact and has a good range on his jump shot. 

Weaknesses: Can improve his ball handling skills which will make him more of a point guard. </td>
		</tr>
		<tr>
			<td>John Sibiga</td>
			<td>2019
Bridgewater Raritan</td>
			<td>Strengths: Unselfish player who is always making the players around him better. Always in the right position defensively. 

Weaknesses: Will become more difficult to guard by developing a consistent jump shot. </td>
		</tr>
		<tr>
			<td>Latrell Townsend</td>
			<td>2019
Egg Harbor Township High School</td>
			<td>Strengths: Good shooting guard with very quick hands on defense. Rebounds well for his size. 

Weaknesses: Can elevate his offensive game by developing a more consistent jump shot. </td>
		</tr>
		<tr>
			<td>Peter Obertan</td>
			<td>2017
John F. Kennedy</td>
			<td>Strengths: Physical post played with the ability to rebound the ball and go the length of the court on his own. Can shoot the outside shot and moves well.  

Weaknesses: Can become a more versatile scorer by working on post moves and finishing strong through contact. </td>
		</tr>
		<tr>
			<td>John Beattie</td>
			<td>2020
St. Rose</td>
			<td>Strengths: Hard worker and hustle player. Moves well without the ball. 

Weaknesses: Can elevate his offensive game by focusing on his shooting ability and staying under control on drives to the basket. </td>
		</tr>
		<tr>
			<td>Leeroy Casimir</td>
			<td>2017
Hasbrouck Heights High School</td>
			<td>Strengths: Skilled player with the ability to attack the basket. Has great ability to elevate. 

Weaknesses: Can become more of an offensive threat by working on his outside shot and focusing on distributing the ball to his teammates. </td>
		</tr>
		<tr>
			<td>Ryan Granito</td>
			<td>2019
St. Joseph High School</td>
			<td>Strengths: Great communicator and team player. Always helping out on defense and makes the hustle plays. 

Weaknesses: Can elevate his offensive game by developing an outside shot and utilizing his left hand. </td>
		</tr>
		<tr>
			<td>Ryan Flanagan</td>
			<td>2019
Shore Regional</td>
			<td>Strengths: Active player who moves well off of the pick and roll. Finds the open space on offense. 

Weaknesses: Can become more involved offensively by looking to attack the basket. </td>
		</tr>
		<tr>
			<td>Aidan Celiano</td>
			<td>2020
West Morris</td>
			<td>Strengths: Hustle player who is constantly working hard. Demonstrated the desire to always help his teammates on defense. 

Weaknesses: Can improve his ball handling skills in order to elevate his offensive game. </td>
		</tr>
		<tr>
			<td>Christopher Currie</td>
			<td>2017
Glenelg High School</td>
			<td>Strengths: Small forward who plays very good defense. Good communicator who moves well on offense without the ball. 

Weaknesses: Can improve his defensive game by working on his lateral speed. </td>
		</tr>
		<tr>
			<td>Zac Rafano</td>
			<td>2016
South River</td>
			<td>Strengths: Hard defensive worker and hustler. Good knowledge of the game and moves well without the ball. Tries to get his teammates involved. 

Weaknesses: Needs to be more confident in his ability and look to become more involved in the offense. </td>
		</tr>
		<tr>
			<td>Mekhi Morgan</td>
			<td>2017
Piscataway High School</td>
			<td>Strengths: Point guard who handles and distributes the ball very well. Always gets back on defense and isn't afraid to go to the basket. Very quick. 

Weaknesses: Can become more of an all around player by developing the ability to stop and take the pull up jump shot. </td>
		</tr>
		<tr>
			<td>Nick Donlon</td>
			<td>2020
Rumson Fair Haven</td>
			<td>Strengths: High IQ point guard who tries to get his teammates involved. Moves well without the ball and has good ball handling skills. Very coachable. 

Weaknesses: Can improve his offensive game by developing his outside shot and gaining the ability to create for himself offensively. </td>
		</tr>
		<tr>
			<td>Jackson Dwyer</td>
			<td>2017
Essex High School</td>
			<td>Strengths: Athletic post that always makes the right play. Has nice touch around the basket and rebounds the ball well. 

Weaknesses: Can elevate his offensive game by working on post moves. </td>
		</tr>
		<tr>
			<td>John Duda</td>
			<td>2018
Point Pleasant Boro</td>
			<td>Strengths: Athletic forward with the ability to score around the basket with good touch. Good court vision and runs the floor well. 

Weaknesses: Can improve his shooting range to become a more versatile offensive threat. </td>
		</tr>
		<tr>
			<td>Jordan Trotman</td>
			<td>2017
Plainfield High School</td>
			<td>Strengths: Forward with strong rebounding ability and can score inside the lane. Very good offensive rebounder. 

Weaknesses: Can become a more versatile player by increasing his shooting range. </td>
		</tr>
		<tr>
			<td>Liam Cassidy</td>
			<td>2018
Montville Township High School </td>
			<td>Strengths: Strong forward who rebounds well. Can score in the paint and likes to run in transition. 

Weaknesses: Can become a more versatile threat by improving his shooting ability. </td>
		</tr>
		<tr>
			<td>Tyler Coan</td>
			<td>2018
Montville High School</td>
			<td>Strengths: Hustle player who isn't afraid to get on the floor. Wing guard who likes to score in transition. 

Weaknesses: Can elevate his game by focusing on his rebounding skills and passing skills. </td>
		</tr>
		<tr>
			<td>Ian Thomas</td>
			<td>2019
Hunterdon Central</td>
			<td>Strengths: Quick, athletic wing who rebounds well from the guard position. Likes to push the ball in transition. 

Weaknesses: Can improve his offensive game by working on his shooting form and range. </td>
		</tr>
		<tr>
			<td>Justin Zhou</td>
			<td>2019
Lawrenceville School</td>
			<td>Strengths: Wing guard with the ability to shoot from long range. Hustle player who runs the floor hard. 

Weaknesses: Needs to focus on improving his ball handling skills in order to get by his defender. </td>
		</tr>
		<tr>
			<td>Casey McKee</td>
			<td>2019
Oratory Prep</td>
			<td>Strengths: Athletic point guard who likes to push the tempo. Attacks the basket well. 

Weaknesses: Can improve his offensive game by working on his shooting form and rebounding ability. </td>
		</tr>
		<tr>
			<td>Mekhi Young</td>
			<td>2018
Bensalem</td>
			<td>Strengths: Quick, athletic point guard who attacks the basket well and finishes strong at the rim. Runs the floor well. 

Weaknesses: Can elevate his offensive game by improving his court vision in order to see and find the open man. </td>
		</tr>
		<tr>
			<td>Jack Stern</td>
			<td>2019
Morristown Friends School</td>
			<td>Strengths: Strong post who scores and rebounds well. Sees cutters well and finishes well around the basket. 

Weaknesses: Can stretch the defense by increasing his shooting range. </td>
		</tr>
		<tr>
			<td>Brad McCabe</td>
			<td>2019
Manasquan</td>
			<td>Strengths: Strong forward who rebounds very well. Has the ability to score around the basket and can step out to 15 feet. 

Weaknesses: Can improve his ball handling skills enabling him to stay calm under pressure. </td>
		</tr>
		<tr>
			<td>Franki Hrelja</td>
			<td>2018
Roxbury High School</td>
			<td>Strengths: Active guard who likes to attack the basket. Very hard worker and likes to run in transition. 

Weaknesses: Can elevate his offensive game by improving his ball handling and passing skills. </td>
		</tr>
		<tr>
			<td>Kyle Bachmann</td>
			<td>2018
Bishop Eustace</td>
			<td>Strengths: Athletic wing with the ability to score both inside and outside. Runs the floor well and likes to rebound. 

Weaknesses: Can improve his ball handling skills allowing him to get by his defender. </td>
		</tr>
		<tr>
			<td>Esmond Williams</td>
			<td>2018
Meade Senior High</td>
			<td>Strengths: Quick, athletic wing who likes to run the floor and score in transition. Has nice shooting touch and is a good rebounder. 

Weaknesses: Can increase his shooting range in order to stretch the defense. Can improve his passing skills. </td>
		</tr>
		<tr>
			<td>Tyler Sia</td>
			<td>2018
Montville High School</td>
			<td>Strengths: Sharp point guard with good ball handling skills. Looks for the open man and pushes the tempo. Can score when needed to. 

Weaknesses: Should focus on developing his pull up jump shot to be more of an offensive threat. </td>
		</tr>
		<tr>
			<td>Nile Wade</td>
			<td>2018
Passaic County Technical Institute </td>
			<td>Strengths: Active wing who likes to run and score in transition. Rebounds well from the guard position. 

Weaknesses: Needs to work on his shooting form and ball handling skills which will elevate his offensive game. </td>
		</tr>
		<tr>
			<td>Deon Thompson</td>
			<td>2017
Cicely L. Tyson</td>
			<td>Strengths: Athletic guard with the ability to finish at the rim. Runs the floor hard overtime. Rebounds well from the guard position. 

Weaknesses: Can improve his offensive game by developing his shot off the dribble. </td>
		</tr>
		<tr>
			<td>Ryan Szatkowski</td>
			<td>2020</td>
			<td>Strengths: Athletic wing who likes to run the floor and plays very hard. Has a high basketball IQ and rebounds the ball well. 

Weaknesses: Can elevate his offensive game by developing a pull up jump shot off of the dribble. </td>
		</tr>
		<tr>
			<td>DJ Jones</td>
			<td>2019</td>
			<td>Strengths: Point guard who likes to pass first and run the team. Good ball handler and a strong rebounder. 

Weaknesses: Once he becomes a stronger player, he will be able to finish through contact and score. </td>
		</tr>
		<tr>
			<td>Zach Warech</td>
			<td>2018
Montville High School</td>
			<td>Strengths: Strong ball handler and passer who likes to get his teammates involved. High basketball IQ and can finish at the basket and shoot the 3. 

Weaknesses: Needs to focus on increasing his strength which will allow him to finish through contact. </td>
		</tr>
		<tr>
			<td>Tommy Oakes</td>
			<td>2017
Rumson Fair Haven High School</td>
			<td>Strengths: Athletic point guard with the ability to push the ball and find the open man. Nice shooting form. 

Weaknesses: Can work on his rebounding ability to improve his defensive game. </td>
		</tr>
	</tbody>
</table>
