<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Grade</th>
			<th>High School</th>
			<th>City</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Mark Natiello</td>
			<td>10</td>
			<td>Westfield</td>
			<td>Westfield, NJ</td>
		</tr>
		<tr>
			<td>James Murray</td>
			<td>10</td>
			<td>Fordham Prep</td>
			<td>Bronx, NY</td>
		</tr>
		<tr>
			<td>Holden Lipke</td>
			<td>10</td>
			<td>Boardman</td>
			<td>Boardman, OH</td>
		</tr>
		<tr>
			<td>Anthony Lorusso</td>
			<td>10</td>
			<td>St. Dominic's </td>
			<td>Oyster Bay, NY</td>
		</tr>
		<tr>
			<td>Darius Plummer</td>
			<td>10</td>
			<td>Columbia</td>
			<td>New York, NY</td>
		</tr>
		<tr>
			<td>Eric Schroeter</td>
			<td>10</td>
			<td>Voorhees</td>
			<td>Glen Gardner, NJ</td>
		</tr>
		<tr>
			<td>Brandis Fender</td>
			<td>10</td>
			<td>Norman</td>
			<td>Norman, OK</td>
		</tr>
		<tr>
			<td>Sachin Nambiar</td>
			<td>10</td>
			<td>Mamaroneck</td>
			<td>Mamaroneck, NY</td>
		</tr>
		<tr>
			<td>Jeff Pedro</td>
			<td>10</td>
			<td>Riverview</td>
			<td>Sarasota, FL</td>
		</tr>
		<tr>
			<td>Nathaniel Nicholson</td>
			<td>10</td>
			<td>Roman Catholic</td>
			<td>Philadelphia, PA</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>James Manetta</td>
			<td>10</td>
			<td>Mamaroneck</td>
			<td>Mamaroneck, NY</td>
		</tr>
		<tr>
			<td>George Viseconti</td>
			<td>10</td>
			<td>Arthur L. Johnson</td>
			<td>Clark, NJ</td>
		</tr>
		<tr>
			<td>Robbie Hill</td>
			<td>10</td>
			<td>Colts Neck</td>
			<td>Colts Neck, NJ</td>
		</tr>
		<tr>
			<td>KJ Rhodes</td>
			<td>10</td>
			<td>Montour</td>
			<td>Mckees Rocks, PA</td>
		</tr>
		<tr>
			<td>Mike Schmidt</td>
			<td>9</td>
			<td>Olean</td>
			<td>Olean, NY</td>
		</tr>
		<tr>
			<td>Michele Piatti</td>
			<td>10</td>
			<td>Liceo Scientifico Leo da Vinci</td>
			<td>Milan, ITA</td>
		</tr>
		<tr>
			<td>Bryce Edwards</td>
			<td>10</td>
			<td>Poly Prep</td>
			<td>Brooklyn, NY</td>
		</tr>
		<tr>
			<td>Shakaa Chaiban</td>
			<td>10</td>
			<td>Poly Prep</td>
			<td>Brooklyn, NY</td>
		</tr>
		<tr>
			<td>Sterlin Streeter</td>
			<td>10</td>
			<td>St Francis Prep</td>
			<td>Fresh Meadows, NY</td>
		</tr>
		<tr>
			<td>Constantino Kosmidis</td>
			<td>10</td>
			<td>St Francis Prep</td>
			<td>Fresh Meadows, NY</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
