<table>
	<thead>
		<tr>
			<th>Head Shot</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Player Evaluation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Max-Angstadt_edited-1-300x219.jpg" alt="Max Angstadt_edited-1" width="300" height="219" class="aligncenter size-medium wp-image-73520" /></td>
			<td>Angstadt, Max</td>
			<td>11</td>
			<td>Max is a tough player who is always willing to hustle for loose balls. He is able to bang down low with the bigs which emphasizes his toughness. On offense, he moves extremely well without the basketball and is a great teammate. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Matthew-Bantis_edited-1-300x219.jpg" alt="Matthew Bantis_edited-1" width="300" height="219" class="aligncenter size-medium wp-image-73502" /></td>
			<td>Bantis, Matthew</td>
			<td>11</td>
			<td>Matthew is a high IQ player who competes on every possession. He is a good teammate who plays well off the ball. He plays hard on the defensive end of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Nicholas-Bantis_edited-1-300x222.jpg" alt="Nicholas Bantis_edited-1" width="300" height="222" class="aligncenter size-medium wp-image-73500" /></td>
			<td>Bantis, Nicholas</td>
			<td>9</td>
			<td>Nicholas is a true PG who looks to get his teammates involved. He is a high IQ player who doesn't need to have the ball in his hands to be effective. He is a competitor who competes hard on every possession.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Ryan-Belgrave_edited-1-300x217.jpg" alt="Ryan Belgrave_edited-1" width="300" height="217" class="aligncenter size-medium wp-image-73488" /></td>
			<td>Belgrave, Ryan</td>
			<td>11</td>
			<td>Ryan is a quick guard who moves well with and without the basketball. He displayed good ball handling skills. Ryan also plays hard on the defensive end.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Drew-Brown_edited-1-300x218.jpg" alt="Drew Brown_edited-1" width="300" height="218" class="aligncenter size-medium wp-image-73478" /></td>
			<td>Brown, Drew</td>
			<td>10</td>
			<td>Drew is a quick guard with the ability to dribble with both hands effectively. He uses his quickness to get down hill and attack the basket. He understands when to get to the rim and when to find his open teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Brian-Burns_edited-1-300x210.jpg" alt="Brian Burns_edited-1" width="300" height="210" class="aligncenter size-medium wp-image-73505" /></td>
			<td>Burns, Brian</td>
			<td>9</td>
			<td>Brian is a lefty who can knock down the open shot consistently when he has time and space. He has a high basketball IQ and understands how to play the game. He displayed good footwork on the perimeter all day.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Cameron-Carter_edited-1-300x215.jpg" alt="Cameron Carter_edited-1" width="300" height="215" class="aligncenter size-medium wp-image-73514" /></td>
			<td>Carter, Cameron</td>
			<td>10</td>
			<td>Cam has a very tight handle and plays effectively at the PG position. He has the ability to get by his man in order to create for others. He is a great change of pace guard who knows when to speed it up and when to slow it down.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Antonio-Chandler_edited-1-300x215.jpg" alt="Antonio Chandler_edited-1" width="300" height="215" class="aligncenter size-medium wp-image-73483" /></td>
			<td>Chandler, Antonio</td>
			<td>9</td>
			<td>Antonio competed on every possession. He has a great motor and consistently outworked his opponent. Antonio is unselfish on the offensive end and plays well without the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/567_edited-1-300x210.jpg" alt="567_edited-1" width="300" height="210" class="aligncenter size-medium wp-image-73458" /></td>
			<td>Cherry, Tyreese</td>
			<td>12</td>
			<td>Tyreese is a good athlete who excels off the bounce. He is able to attack the rim and uses his handle to create for others. He is a tough kid who can guard multiple positions on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Mekhi-Chester_edited-1-300x227.jpg" alt="Mekhi Chester_edited-1" width="300" height="227" class="aligncenter size-medium wp-image-73462" /></td>
			<td>Chester, Mekhi</td>
			<td>11</td>
			<td>Mekhi displayed his ability to handle the basketball. He uses his tight handle and quick cross over to keep his man honest on defense. Mekhi is an athletic player who does a great job of finishing around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jalen-Clark_edited-1-300x219.jpg" alt="Jalen Clark_edited-1" width="300" height="219" class="aligncenter size-medium wp-image-73470" /></td>
			<td>Clark, Jalen</td>
			<td>10</td>
			<td>Jalen is a great communicator on the defensive end and is constantly helping his teammates out. He is a tough kid that never takes a play off. On offense, Jalen uses his strength to beat smaller defenders. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jahki-Clarke_edited-1-300x213.jpg" alt="Jahki Clarke_edited-1" width="300" height="213" class="aligncenter size-medium wp-image-73444" /></td>
			<td>Clarke, Jahki</td>
			<td>11</td>
			<td>Jahki is a great athlete and takes pride on the defensive end of the floor. On offense, he has the ability to penetrate and finish in the paint. Jehki glides down the court with ease but is ferocious when attacking the rim. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Devin-Cooper_edited-1-300x234.jpg" alt="Devin Cooper_edited-1" width="300" height="234" class="aligncenter size-medium wp-image-73454" /></td>
			<td>Cooper, Devin</td>
			<td>10</td>
			<td>Devin is a quick lead guard with a good looking set shot. He keeps the defense honest with his shooting ability but is able to get by off the bounce. He is extremely talented in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Aljaneer-Cruz_edited-1-300x218.jpg" alt="Aljaneer Cruz_edited-1" width="300" height="218" class="aligncenter size-medium wp-image-73529" /></td>
			<td>Cruz, Aljaneer</td>
			<td>11</td>
			<td>Aljaneer has good size for a lead guard and uses that size to attack the paint. He is a good shooter and has a very quick release, which allows him to get his shot off in tight spaces. Aljaneer gets it done on the defensive end with his active hands. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jesse-Davis_edited-1-300x227.jpg" alt="Jesse Davis_edited-1" width="300" height="227" class="aligncenter size-medium wp-image-73530" /></td>
			<td>Davis, Jesse</td>
			<td>11</td>
			<td>Jesse is an unselfish player and never forces anything. He is a leader on the defensive end and is constantly communicating. Jesse is a great shooter as he consistently knocked down open shots all day.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Peter-Degaentano_edited-1-300x224.jpg" alt="Peter Degaentano_edited-1" width="300" height="224" class="aligncenter size-medium wp-image-73501" /></td>
			<td>Degaetano, Peter</td>
			<td>11</td>
			<td>Peter played extremely hard and competed the entire day. He used his change of pace and his offensive moves to get by defenders. He consistently made the correct basketball play and didn't force anything.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Mateo-Delmoral_edited-1-300x235.jpg" alt="Mateo Delmoral_edited-1" width="300" height="235" class="aligncenter size-medium wp-image-73518" /></td>
			<td>Delmoral, Mateo</td>
			<td>10</td>
			<td>Mateo is a lengthy player and uses that to his advantage on the defensive end. He plays unselfishly and is constantly finding the open man. He is a very tough player and is always playing hard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/DOndre-Dent_edited-1-300x216.jpg" alt="D&#039;Ondre Dent_edited-1" width="300" height="216" class="aligncenter size-medium wp-image-73453" /></td>
			<td>Dent, D'Ondre</td>
			<td>11</td>
			<td>D'Ondre is a high motor player with a solid IQ for the game. His best asset is his ability to use his body to effectively finish around the rim. He is a long player who uses his length to his advantage on both the offensive and defensive end.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Chris-Dirnick_edited-1-300x226.jpg" alt="Chris Dirnick_edited-1" width="300" height="226" class="aligncenter size-medium wp-image-73493" /></td>
			<td>Dinick, Chris</td>
			<td>10</td>
			<td>Chris is a competitor who plays hard on both ends of the court. His motor on defense allows him to be a great defender. On the offensive end, Chris is unselfish and always gets his teammates involved. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Bryan-DOuglas_edited-1-300x220.jpg" alt="Bryan DOuglas_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73492" /></td>
			<td>Douglas, Bryan</td>
			<td>11</td>
			<td>Bryan is versatile on the offensive end as he couples a good handle with his shooting ability. His quicness makes him effective at penetrating the defense. Bryan plays hard on both ends of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Zephaniah-Esquerra_edited-1-300x233.jpg" alt="Zephaniah Esquerra_edited-1" width="300" height="233" class="aligncenter size-medium wp-image-73497" /></td>
			<td>Esguerra, Zephaniah</td>
			<td>10</td>
			<td>Zephaniah has a very quick first step and uses it to get past defenders. He is a competitor on the defensive end and does a great job of keeping his man in front of him. He plays unselfish basketball on the offensive end and always finds the open man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Andrew-Fisch-300x200.jpg" alt="Andrew Fisch" width="300" height="200" class="aligncenter size-medium wp-image-73532" /></td>
			<td>Fisch, Andrew</td>
			<td>9</td>
			<td>Andrew displayed good ball handling skills throughout the day. He is a smart player who is always making the right play. Andrew has a high motor and is always playing as hard as he can.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Marquis-Flegler_edited-1-300x222.jpg" alt="Marquis Flegler_edited-1" width="300" height="222" class="aligncenter size-medium wp-image-73487" /></td>
			<td>Fleger, Marquis</td>
			<td>11</td>
			<td>Marquis is a good athlete who excels off the bounce and in transition. He is a tough competitor who never takes plays off. He is a great leader who constantly communicates with his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jordan-Fox_edited-1-300x226.jpg" alt="Jordan Fox_edited-1" width="300" height="226" class="aligncenter size-medium wp-image-73494" /></td>
			<td>Fox, Jordan</td>
			<td>10</td>
			<td>Jordan has good size, length and athleticism. He used those traits to take advantage of opportunities in transition. He has high upside and has the ability to knock down set shots. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Danny-Fraunheim_edited-1-300x211.jpg" alt="Danny Fraunheim_edited-1" width="300" height="211" class="aligncenter size-medium wp-image-73473" /></td>
			<td>Fraunheim, Danny</td>
			<td>10</td>
			<td>Danny is a tough, high IQ PG with a pass first mentality. When he is open, he is a knock down shooter. He is a great teammate and worked hard all day. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Josh-Friday_edited-1-300x223.jpg" alt="Josh Friday_edited-1" width="300" height="223" class="aligncenter size-medium wp-image-73491" /></td>
			<td>Friday, Joshua</td>
			<td>10</td>
			<td>Joshua is an active defender both on and off the ball. On offense, Josh couples his ballhandling skills with his ability to slash in order to finish around the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Andrew-Fusco_edited-1-300x217.jpg" alt="Andrew Fusco_edited-1" width="300" height="217" class="aligncenter size-medium wp-image-73472" /></td>
			<td>Fusco, Andrew</td>
			<td>10</td>
			<td>Andrew is a smart player who really knows how to play the game of basketball. He can create for himself and others off the bounce. He is an extremely talented scorer who is difficult to defend.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Antonio-Gamboa_edited-1-300x242.jpg" alt="Antonio Gamboa_edited-1" width="300" height="242" class="aligncenter size-medium wp-image-73467" /></td>
			<td>Gamboa, Antonio</td>
			<td>11</td>
			<td>Antonio plays with great pace and has superior dribble moves. He has a versatile offensive game and showed that he can score in a variety of ways. He can get to the rim, pull up in space, and is a very capable catch and shoot player. His length makes him a very good defender. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Ross-Gang_edited-1-300x211.jpg" alt="Ross Gang_edited-1" width="300" height="211" class="aligncenter size-medium wp-image-73512" /></td>
			<td>Gang, Ross</td>
			<td>9</td>
			<td>Ross is a very effective player on the offensive end. He has the ability to play unselfishly, as he is always getting his teammates involved. He also is a smart player who knows where he needs to be on the court in order to create opportunities to score and to grab rebounds. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Tyron-Garland_edited-1-300x219.jpg" alt="Tyron Garland_edited-1" width="300" height="219" class="aligncenter size-medium wp-image-73455" /></td>
			<td>Garland, Tyron</td>
			<td>11</td>
			<td>Tyron is a long, athletic player who makes great plays in transition. On the defensive end, he used his physical tools to keep his man in front of him. He is a competitor who played hard all day. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Arian-Gomez_edited-1-300x222.jpg" alt="Arian Gomez_edited-1" width="300" height="222" class="aligncenter size-medium wp-image-73515" /></td>
			<td>Gomez, Arian</td>
			<td>9</td>
			<td>Arian is a tough, physical guard who does a great job attacking the rim. His quick first step allows him to beat his defender and get into the paint. Arian is at his best in transition. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Billy-Gough_edited-1-300x240.jpg" alt="Billy Gough_edited-1" width="300" height="240" class="aligncenter size-medium wp-image-73510" /></td>
			<td>Gough, Billy</td>
			<td>12</td>
			<td>Billy has good size and length for his position. He is a very active defender and competes for every rebound. On the offensive end, Billy has good touch around the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jaylin-Gray_edited-1-300x199.jpg" alt="Jaylin Gray_edited-1" width="300" height="199" class="aligncenter size-medium wp-image-73504" /></td>
			<td>Gray, Jaylin</td>
			<td>11</td>
			<td>Jaylin is an athletic wing who is best when slashing to the rim. When he is under control, Jaylin is a good shooter. In addition to his versatile repertoire, he is great at moving without the ball. </td>
		</tr>
		<tr>
			<td></td>
			<td>Griffon, Prince</td>
			<td>11</td>
			<td>Prince is a combo guard who has the ability to run the point. On offense, he is a slasher and can get to the rim with ease. He knows when to create for himself and when to get his teammates involved. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Alex-Guletlov_edited-1-300x237.jpg" alt="Alex Guletlov_edited-1" width="300" height="237" class="aligncenter size-medium wp-image-73490" /></td>
			<td>Guketlov, Alex</td>
			<td>11</td>
			<td>Alex is a smart player that knows how to take advantage of his opponents mistakes. He is a high motor player that plays hard on both ends of the court. He is able to keep the defense honest with his deep shooting range.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Mario-Haktaj_edited-1-300x223.jpg" alt="Mario Haktaj_edited-1" width="300" height="223" class="aligncenter size-medium wp-image-73477" /></td>
			<td>Haklaj, Mario</td>
			<td>10</td>
			<td>Mario has good size for his off guard positon. He has a good looking jumper and is able to knock down open shots. On the perimeter, he displayed a good jab step which allows him to create space and attack poor closeouts. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Marcus-Hammond_edited-1-300x235.jpg" alt="Marcus Hammond_edited-1" width="300" height="235" class="aligncenter size-medium wp-image-73471" /></td>
			<td>Hammond, Marcus</td>
			<td>10</td>
			<td>Marcus has a really good first step and displayed a great handle. His ball handling skills and quick step allow him to create offense in a variety of ways. He is a good shooter with good looking form.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Daniel-Hnas_edited-1-300x210.jpg" alt="Daniel Hnas_edited-1" width="300" height="210" class="aligncenter size-medium wp-image-73468" /></td>
			<td>Hanas, Daniel</td>
			<td>11</td>
			<td>Daniel has great size for the wing position. He is very strong and he uses that strength to get to his spots on the court. He has a versatile offensive game and can score in a variety of ways.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Kelvin-Harris_edited-1-300x223.jpg" alt="Kelvin Harris_edited-1" width="300" height="223" class="aligncenter size-medium wp-image-73448" /></td>
			<td>Harris, Kelvin</td>
			<td>10</td>
			<td>Kelvin is a great athlete who uses his quick first step to get to the rim. On the defensive end, he uses his length well to bother his opponents. Kelvin plays very hard on both ends of the court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jack-Healy_edited-1-300x216.jpg" alt="Jack Healy_edited-1" width="300" height="216" class="aligncenter size-medium wp-image-73528" /></td>
			<td>Healy, Jack</td>
			<td>12</td>
			<td>Jack showed that he can consistently knock down the open shot. He has good rotation and release on his shots. Jack has a high IQ, which allows him to stay one step ahead of his opponents. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jordan-Heck_edited-1-300x213.jpg" alt="Jordan Heck_edited-1" width="300" height="213" class="aligncenter size-medium wp-image-73498" /></td>
			<td>Heck, Jordan</td>
			<td>11</td>
			<td>Jordan plays with great pace and couples it with a tight handle. Defensively, he shows great instincts and uses his quick hands to create deflections. Jordan has a knack for finding the basketball on the defensive end. He has solid form and rotation on his jumpshot. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Lateef-Hicks_edited-1-300x228.jpg" alt="Lateef Hicks_edited-1" width="300" height="228" class="aligncenter size-medium wp-image-73522" /></td>
			<td>Hicks, Lateef</td>
			<td>11</td>
			<td>Lateef has good size for a guard. He excels in transition where he can create plays for himself and for his teammates. For a guard, Lateef rebounds very well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Matt-Hudzik_edited-1-300x224.jpg" alt="Matt Hudzik_edited-1" width="300" height="224" class="aligncenter size-medium wp-image-73460" /></td>
			<td>Hudzik, Matt</td>
			<td>11</td>
			<td>Matt played unselfish basketball throughout the day. He did a great job competing and outworking his opponent. Matt displayed a high basketball IQ and is always in the right position on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Sam-Johnson_edited-1-300x245.jpg" alt="Sam Johnson_edited-1" width="300" height="245" class="aligncenter size-medium wp-image-73508" /></td>
			<td>Johnson, Sam</td>
			<td>10</td>
			<td>Sam has a great feel for the game and a knack for always being in the right place at the right time. He is a great positonal defender and is active on help defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Troy-Johnson_edited-1-300x220.jpg" alt="Troy Johnson_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73464" /></td>
			<td>Johnson, Troy</td>
			<td>11</td>
			<td>Troy is a competitor who plays at a very high level. He is extremely active on the glass on both ends of the court. Troy excels in transition and he ran the floor for easy baskets all day.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Bryan-Karl_edited-1-300x246.jpg" alt="Bryan Karl_edited-1" width="300" height="246" class="aligncenter size-medium wp-image-73527" /></td>
			<td>Karl, Bryan</td>
			<td>11</td>
			<td>Bryan is an extremely active player who always seems to be around the ball. He has a knack for getting rebounds on both ends of the court. On the offensive hand, Bryan is able to use his soft shooting touch to finish with either hand. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Daniel-Klosk_edited-1-300x212.jpg" alt="Daniel Klosk_edited-1" width="300" height="212" class="aligncenter size-medium wp-image-73450" /></td>
			<td>Klosk, Daniel</td>
			<td>10</td>
			<td>Daniel has a very good understanding of how to play the game and displays a high IQ, especially on the offensive end of the floor. He is a knockdown shooter with very little time and space needed. He knows when to get his teammates involved and when to create for himself. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jameson-Kolb_edited-1-300x208.jpg" alt="Jameson Kolb_edited-1" width="300" height="208" class="aligncenter size-medium wp-image-73475" /></td>
			<td>Kolb, Jameson</td>
			<td>11</td>
			<td>Jameson is a competitor who brings it on both ends of the court. Defensively, he does the right things to help his team and is a great off ball defender. On offense, he moves well without the basketball and sets good screens for his teammates. His best offensive attribute is his ability to attack the rim off the dribble. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Victor-Konopka_edited-1-300x219.jpg" alt="Victor Konopka_edited-1" width="300" height="219" class="aligncenter size-medium wp-image-73519" /></td>
			<td>Konopka, Victor</td>
			<td>9</td>
			<td>Victor has very good size for his age and he is able to compete down low. He moves well and is a versatile defender. He proved this by being able to guard multiple positions. Victor is a lefty who will face up from 18 feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Stewart-Korey_edited-1-300x241.jpg" alt="Stewart Korey_edited-1" width="300" height="241" class="aligncenter size-medium wp-image-73461" /></td>
			<td>Korey, Stewart</td>
			<td>10</td>
			<td>Stewarts is a quick lead guard who does a great job of getting his teammates involved in the halfcourt. He is a lefty with a good looking stroke from the perimeter. His ability to knock down open shots gives him the ability to attack poor closeouts.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Nicholas-Lago_edited-1-300x238.jpg" alt="Nicholas Lago_edited-1" width="300" height="238" class="aligncenter size-medium wp-image-73447" /></td>
			<td>Lago, Nicholas</td>
			<td>11</td>
			<td>Nicholas is a very unselfish player, which allows him to always make the right play on offense. He has the ability to attack the rim when his man presses him and he knows when to find the open man. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Steven-Leung_edited-1-300x236.jpg" alt="Steven Leung_edited-1" width="300" height="236" class="aligncenter size-medium wp-image-73452" /></td>
			<td>Leung, Steven</td>
			<td>10</td>
			<td>Steven showed the ability to finish at the rim with both hands. He uses his quick feet to keep his opponent in front of him on the defensive end. On offense, he uses his ability to blow by defenders to attack the basket off the bounce. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Look, Eric</td>
			<td>11</td>
			<td>Eric is a big guard who is able to post smaller defenders. He is best in transition but he is also effective in the halfcourt. His best attribute is his ability to cross up his defender and get to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Chrsitian-Martano_edited-1-300x236.jpg" alt="Chrsitian Martano_edited-1" width="300" height="236" class="aligncenter size-medium wp-image-73443" /></td>
			<td>Martano, Christian</td>
			<td>12</td>
			<td>Christian is a high IQ player who always makes the right plays, making him very effective on both ends of the court. He moves well without the basketball, which allows him to break free from his defender. Christian displayed a very solid shooting form. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jonathan-Martinez_edited-1-300x252.jpg" alt="Jonathan Martinez_edited-1" width="300" height="252" class="aligncenter size-medium wp-image-73482" /></td>
			<td>Martinez, Jonathan</td>
			<td>12</td>
			<td>Jonathan is a hardworking player who competed all day. He has great size on the perimeter and is always looking to push the ball in transition. He understands the concept of over dribbling, since he is always looking to through the ball ahead. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Patrick-McCauley_edited-1-300x242.jpg" alt="Patrick McCauley_edited-1" width="300" height="242" class="aligncenter size-medium wp-image-73440" /></td>
			<td>McCauley, Patrick</td>
			<td>10</td>
			<td>Pat is a high IQ player who understands the game of basketball. His ability to share the basketball make him a great teammate and you could tell that guys love playing with him. Pat is also a consistent shooter when he has time and space.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Marcus-McCollium_edited-1-300x214.jpg" alt="Marcus McCollium_edited-1" width="300" height="214" class="aligncenter size-medium wp-image-73525" /></td>
			<td>McCollum, Marcus</td>
			<td>11</td>
			<td>Marcus has the physical tools to compete at the next level. He is active on the glass and competes on the defensive end of the floor. Offensively, Marcus is able to get to the rim with ease and put pressure on the opposing teams defense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/George-Merritt_edited-1-300x230.jpg" alt="George Merritt_edited-1" width="300" height="230" class="aligncenter size-medium wp-image-73485" /></td>
			<td>Merritt, George</td>
			<td>10</td>
			<td>George is a good athlete who showed his ability to make shots in the halfcourt. He uses his quick first step to beat his defender off the bounce on a consistent basis. He competed all day and plays extremely hard.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Moll, Jethro</td>
			<td>10</td>
			<td>Jethro is a skilled wing player with deep range. Since he can shoot extremely well, he displayed the ability to keep the defense honest with a quick shot fake. On the defensive end, Jethro plays extremely hard and with passion. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Monaghan, Brian</td>
			<td>11</td>
			<td>Brian is a very tough PG who has the ability to create for others. He is able to get his own shot when he needs to. Brian is a high IQ player who knows when to create for his teammates and when to spark his own offensive spurt.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Bryce-Mott_edited-1-300x241.jpg" alt="Bryce Mott_edited-1" width="300" height="241" class="aligncenter size-medium wp-image-73465" /></td>
			<td>Mott, Bryce</td>
			<td>10</td>
			<td>Bryce has good size at the wing and uses it to his advantage on the offensive end. He is best in transition and uses his handle to generate offense. Bryce is effective at creating his own shot off of one or two dribbles.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Brice-Neal_edited-1-300x256.jpg" alt="Brice Neal_edited-1" width="300" height="256" class="aligncenter size-medium wp-image-73466" /></td>
			<td>Neal, Bruce</td>
			<td>11</td>
			<td>Bruce is a smart PG that plays hard and does the little things to help his team win. He is a true competitor and knows how to play unselfish basketball. He has a knack for finishing around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Maksat-Niyazberdiyev_edited-1-300x236.jpg" alt="Maksat Niyazberdiyev_edited-1" width="300" height="236" class="aligncenter size-medium wp-image-73509" /></td>
			<td>Niyazberdiyev, Maksat</td>
			<td>11</td>
			<td>Maksat is a great shooter who has really deep range. He has a knack of keeping balls alive off the glass by tipping them. He is a high IQ player who takes advantage of his opponents mistakes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Dean-Noll_edited-1-300x221.jpg" alt="Dean Noll_edited-1" width="300" height="221" class="aligncenter size-medium wp-image-73476" /></td>
			<td>Noll, Dean</td>
			<td>10</td>
			<td>Dean showed the ability to score in various ways. His versatile offensive repertoire includes: getting to the rim, pulling up on a dime and consistently hitting the open jumper. He plays with good bounce and is very active on the defensive end. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jacob-O-Connell-300x200.jpg" alt="Jacob O Connell" width="300" height="200" class="aligncenter size-medium wp-image-73531" />
</td>
			<td>O'Connell, Jacob</td>
			<td>9</td>
			<td>Jake is a really active player who uses his quick hands and quick feet to excell on both ends of the court. He runs the floor very well and can get out in transition. Offensively, he has a soft touch on his jump shots. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Lucas-Olshevski_edited-1-300x239.jpg" alt="Lucas Olshevski_edited-1" width="300" height="239" class="aligncenter size-medium wp-image-73469" /></td>
			<td>Olshevski, Lucas</td>
			<td>11</td>
			<td>Lucas is a high IQ player that has a great overall feel for the game. He plays hard, which makes him effective on both ends of the court. His best offensive attribute is his ability to finish at the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Nick-Ovhinnikoff_edited-1-300x228.jpg" alt="Nick Ovhinnikoff_edited-1" width="300" height="228" class="aligncenter size-medium wp-image-73446" /></td>
			<td>Ovchinnikoff, Nick</td>
			<td>11</td>
			<td>Nick is a versatile player who plays hard on both ends of the floor, especially the defensive end. He uses his passion, intensity and his athletic ability to create opportunities for his team. Nick also displayed good range on his jumper. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jamaal-Perez_edited-1-300x229.jpg" alt="Jamaal Perez_edited-1" width="300" height="229" class="aligncenter size-medium wp-image-73449" /></td>
			<td>Perez, Jamael</td>
			<td>11</td>
			<td>Jamael is undersized but plays tough nosed, bulldog style basketball. He has really good hands on the defensive end and is constantly creating deflections. Jamael is a really good passer who sees the court extremely well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-Pollard_edited-1-300x215.jpg" alt="Michael Pollard_edited-1" width="300" height="215" class="aligncenter size-medium wp-image-73496" /></td>
			<td>Pollard, Michael</td>
			<td>11</td>
			<td>Michael has a solid build and is a very athletic player. He used his athleticism to consistently keep his man in front of him on defense. He plays hard and never takes a play off whether it's in games or drills.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Zachary-Ravitz_edited-1-300x224.jpg" alt="Zachary Ravitz_edited-1" width="300" height="224" class="aligncenter size-medium wp-image-73511" /></td>
			<td>Ravitz, Zachary</td>
			<td>11</td>
			<td>Zach showed his knack for scoring the basketball all day. He runs the floor well and is a versatile offensive player. He has a high IQ and knows when to kick the ball out when he draws a double team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Josh-Reding_edited-1-300x237.jpg" alt="Josh Reding_edited-1" width="300" height="237" class="aligncenter size-medium wp-image-73521" /></td>
			<td>Reding, Josh</td>
			<td>10</td>
			<td>Josh worked hard all day and it showed in his play. Although he is undersized for his positon, Josh competed hard. He plays with great pace and does a great job of getting his teammates into a rhythm. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-Revello_edited-1-300x237.jpg" alt="Michael Revello_edited-1" width="300" height="237" class="aligncenter size-medium wp-image-73513" /></td>
			<td>Revello, Michael</td>
			<td>10</td>
			<td>Michael is an unselfish player who consistently penetrates the lane to create for teammates. He has a high basketball IQ and a great feel for the game. He is a tough player who competes on every possession.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Abie-Rosow_edited-1-300x236.jpg" alt="Abie Rosow_edited-1" width="300" height="236" class="aligncenter size-medium wp-image-73456" /></td>
			<td>Rosow, Abie</td>
			<td>11</td>
			<td>Abie is a high motor player who plays unselfish basketball. He is a very skilled offensive player. In the post, he has good moves and a great turn around jumper. Abie also has the ability to step out and hit the three. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jack-Rosow_edited-1-300x217.jpg" alt="Jack Rosow_edited-1" width="300" height="217" class="aligncenter size-medium wp-image-73526" /></td>
			<td>Rosow, Jack</td>
			<td>9</td>
			<td>Jack is a competitor who played hard throughout the day. He has great length on the perimeter and will probably grow a few more inches. He is a great positional defender and constantly kept his man in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Quincy-Rutherford_edited-1-300x235.jpg" alt="Quincy Rutherford_edited-1" width="300" height="235" class="aligncenter size-medium wp-image-73441" />
</td>
			<td>Rutherford, Quincy</td>
			<td>11</td>
			<td>Quincy is a tough, physical player who plays hard. He has an advanced hesitation move that he uses to get to the basket. His good one on one skills coupled with his handle make him a terror on the offensive end. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Donovan-Ryland_edited-1-300x210.jpg" alt="Donovan Ryland_edited-1" width="300" height="210" class="aligncenter size-medium wp-image-73479" /></td>
			<td>Ryland, Donovan</td>
			<td>10</td>
			<td>Donovan has a quick first step and a tight handle. He is very unselfish in the half court as well as in transition. His best offensive attribute is his ability to attack the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jake-Schermorhorn_edited-1-300x208.jpg" alt="Jake Schermorhorn_edited-1" width="300" height="208" class="aligncenter size-medium wp-image-73503" /></td>
			<td>Schermerhorn, Jake</td>
			<td>9</td>
			<td>Jake is a pass first player that is always looking to make the right basketball play. He is a great teammate and is able to get his teammates involved. On the defensive end, Jake is a great defender who plays very hard. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Eddie-Scott_edited-1-300x222.jpg" alt="Eddie Scott_edited-1" width="300" height="222" class="aligncenter size-medium wp-image-73489" /></td>
			<td>Scott, Eddie</td>
			<td>9</td>
			<td>Eddie has good size and athleticism for his age. He has a high IQ and seems to have a great feel for the game. He consistently positions himself well to create his own offense and to create for his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Gene-Scott_edited-1-300x219.jpg" alt="Gene Scott_edited-1" width="300" height="219" class="aligncenter size-medium wp-image-73495" /></td>
			<td>Scott, Gene</td>
			<td>11</td>
			<td>Gene is a really physical and fights for every rebound. On the offensive end, he has good range on his jumper and isn't afraid to let it fly. He runs the floor very well and is great in transition. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Kevin-Skehill_edited-1-300x219.jpg" alt="Kevin Skehill_edited-1" width="300" height="219" class="aligncenter size-medium wp-image-73480" /></td>
			<td>Skehill, Kevin</td>
			<td>11</td>
			<td>Kevin is a crafty PG who can get the whole team involved. When he has time and space, Kevin is able to knock down the open shot. He is a great on ball defender and has a knack for pressuring ball handlers into bad decisions. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jared-Small_edited-1-300x233.jpg" alt="Jared Small_edited-1" width="300" height="233" class="aligncenter size-medium wp-image-73474" /></td>
			<td>Small, Jared</td>
			<td>11</td>
			<td>Jared is a strong and physical wing that plays hard on both ends of the court. His activeness, motor and ability to move without the ball allow him to get in the right positions. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Smith, Sawyer </td>
			<td>10</td>
			<td>Sawyer competes at a high level on a consistent basis. He is extremely effective with his back to the basket. He displayed good patience in the post and has a knack for reading his defenders.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Douglas-Southerland_edited-1-300x250.jpg" alt="Douglas Southerland_edited-1" width="300" height="250" class="aligncenter size-medium wp-image-73442" /></td>
			<td>Southerland, Douglas</td>
			<td>11</td>
			<td>Douglas excels in transition and did a great job of pushing the ball. He has the ability to create for himself and his teammates on the offensive end. He takes pride on the defensive end and did a great job of keeping his man in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Donovan-Spencer_edited-1-300x245.jpg" alt="Donovan Spencer_edited-1" width="300" height="245" class="aligncenter size-medium wp-image-73457" /></td>
			<td>Spencer, Donaven</td>
			<td>12</td>
			<td>Donaven is a high motor player who is always playing tough defense. He uses his length to his advantage, which makes him an extremely effective on ball defender. Donaven is a great rebounder and goes for boards on both ends of the court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jayden-Sutton_edited-1-300x228.jpg" alt="Jayden Sutton_edited-1" width="300" height="228" class="aligncenter size-medium wp-image-73445" /></td>
			<td>Sutton, Jayden</td>
			<td>11</td>
			<td>Jayden plays hard on both ends of the floor and is extremely active on the defensive end. He is a quick guard that has a great feel for the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Ezra-Swell_edited-1-300x213.jpg" alt="Ezra Swell_edited-1" width="300" height="213" class="aligncenter size-medium wp-image-73506" /></td>
			<td>Swell, Ezra</td>
			<td>11</td>
			<td>Ezra is a good sized wing who plays with great tempo on the offensive end. His quick feet on the perimeter allow him to penetrate the gaps on offense. He has the ability to get to the basket and can finish with both hands.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-Tranucucci_edited-1-300x237.jpg" alt="Michael Tranucucci_edited-1" width="300" height="237" class="aligncenter size-medium wp-image-73516" /></td>
			<td>Trancucci, Michael</td>
			<td>10</td>
			<td>Michael is a superior off ball player. He is always looking to set screens for his teammates and understands the concept of spacing. He is tough and plays extremely hard. When open, Michael can knock down the shot. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Walker, Antone</td>
			<td>11</td>
			<td>Antone is a quick, physical defender who consistentyl kept his man in front of him. He is at his best offensively in transition, where he can create for himself and others. In the half court, he plays smart basketball and doesn't force the issue. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Branden-Watkins_edited-1-300x218.jpg" alt="Branden Watkins_edited-1" width="300" height="218" class="aligncenter size-medium wp-image-73481" /></td>
			<td>Watkins, Branden</td>
			<td>11</td>
			<td>Branden plays strong on both ends of the court. He uses his strength to play physical on the perimeter and in the post. On offense, Branden plays unselfish basketball and always looked to pass first. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Kobie-Wells_edited-1-300x246.jpg" alt="Kobie Wells_edited-1" width="300" height="246" class="aligncenter size-medium wp-image-73463" /></td>
			<td>Wells, Kobie</td>
			<td>11</td>
			<td>Kobie is a very good PG that sets the tone for his team. He is active on both ends of the court and is constantly playing hard. In transition, Kobie is a great passer as he is always looking to push the ball ahead. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jordan-White_edited-1-300x224.jpg" alt="Jordan White_edited-1" width="300" height="224" class="aligncenter size-medium wp-image-73486" /></td>
			<td>White, Jordan</td>
			<td>11</td>
			<td>Jordan is a great transition player and is always looking to push the ball. He has the ability to play both guard positions and has a versatile offensive game. He can create for others or he can penetrate and attack the rim off the bounce.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Samuel-Whittle_edited-1-300x211.jpg" alt="Samuel Whittle_edited-1" width="300" height="211" class="aligncenter size-medium wp-image-73484" /></td>
			<td>Whittle, Samuel</td>
			<td>11</td>
			<td>Sam is a really active rebounder and has a knack for finding the ball. On the offensive end, Sam has great range on his jump shot. He sees the court very well and displayed great vision. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Brandon-Williams_edited-1-300x236.jpg" alt="Brandon Williams_edited-1" width="300" height="236" class="aligncenter size-medium wp-image-73524" /></td>
			<td>Williams, Brandon</td>
			<td>11</td>
			<td>Bryan is a versatile offensive player who can score in many different ways. He has a great looking set shot and is a deadly shooter. He also excels at attacking the basket and finishing with his right hand.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Matt-Winschuh_edited-1-300x247.jpg" alt="Matt Winschuh_edited-1" width="300" height="247" class="aligncenter size-medium wp-image-73517" /></td>
			<td>Winschuh, Matt</td>
			<td>11</td>
			<td>Matt is a a very smart player who is well ahead of the learning curve. He has the ability to hit deep shots, making him difficult to guard. Despite his size, Matt is always attacking the glass and putting his body on the line for his team. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-Young_edited-1-300x227.jpg" alt="Michael Young_edited-1" width="300" height="227" class="aligncenter size-medium wp-image-73499" /></td>
			<td>Young, Michael</td>
			<td>10</td>
			<td>Michael has a high motor as he displayed it on both ends of the court. He uses his length to his advantage when attacking the glass for rebounds. Off the ball, Michael is a great defender. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Chris-Zito_edited-1-300x224.jpg" alt="Chris Zito_edited-1" width="300" height="224" class="aligncenter size-medium wp-image-73523" /></td>
			<td>Zito, Chris</td>
			<td>11</td>
			<td>Chris proved that he can shoot the ball at a high level throughout the day. He did a great job playing and competing against bigger opponents. He is a strong rebounder and has a knack for finding the ball.</td>
		</tr>
	</tbody>
</table>
