<table>
	<tbody>
		<tr>
			<td><center><strong>Ivy League</strong></center></td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>Brown</td>
			<td>Cornell</td>
			<td>Princeton</td>
		</tr>
		<tr>
			<td>Columbia</td>
			<td>Dartmouth</td>
			<td>Yale</td>
		</tr>
		<tr>
			<td></td>
			<td>Penn</td>
			<td></td>
		</tr>
		<tr>
			<td><center><strong>PatriotLeague</center></strong></td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>American</td>
			<td>Colgate</td>
			<td>Holy Cross</td>
		</tr>
		<tr>
			<td>Bucknell</td>
			<td></td>
			<td>Lafayette</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><center><strong>Other D-I Schools</center></strong></td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>Bryant U.</td>
			<td>Howard</td>
			<td>NJIT</td>
		</tr>
		<tr>
			<td>Fairleigh Dickinson</td>
			<td>Maryland Eastern Shore</td>
			<td>St. Francis (PA)</td>
		</tr>
		<tr>
			<td></td>
			<td>Monmouth</td>
			<td></td>
		</tr>
		<tr>
			<td><center><strong>D-II Schools</center></strong></td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>Kutztown</td>
			<td>New Haven</td>
			<td>Umass Lowell</td>
		</tr>
		<tr>
			<td>Merrimack</td>
			<td>Philadelphia U.</td>
			<td>Wheeling Jesuit</td>
		</tr>
		<tr>
			<td></td>
			<td>Stonehill</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Univ. of the Sciences</td>
			<td></td>
		</tr>
		<tr>
			<td><center><strong>D-III Schools</center></strong></td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>Albright</td>
			<td>Emory</td>
			<td>Neumann</td>
		</tr>
		<tr>
			<td>Alfred</td>
			<td>FDU Florham</td>
			<td>NYU</td>
		</tr>
		<tr>
			<td>Amherst</td>
			<td>Franklin &amp; Marshall</td>
			<td>RIT</td>
		</tr>
		<tr>
			<td>Arcadia</td>
			<td>Gettysburg</td>
			<td>Rochester</td>
		</tr>
		<tr>
			<td>Averett</td>
			<td>Hamilton</td>
			<td>Rutgers-Newark</td>
		</tr>
		<tr>
			<td>Bates</td>
			<td>Hartwick</td>
			<td>Salve-Regina</td>
		</tr>
		<tr>
			<td>Brandeis</td>
			<td>Haverford</td>
			<td>Skidmore</td>
		</tr>
		<tr>
			<td>Carnegie Mellon</td>
			<td>Hobart</td>
			<td>St. Mary's</td>
		</tr>
		<tr>
			<td>Catholic</td>
			<td>Hood College</td>
			<td>Stevens Institute</td>
		</tr>
		<tr>
			<td>Centenary</td>
			<td>Johns Hopkins</td>
			<td>SUNY Geneseo</td>
		</tr>
		<tr>
			<td>Clark</td>
			<td>Juniata</td>
			<td>SUNY New Paltz</td>
		</tr>
		<tr>
			<td>Colby</td>
			<td>Kenyon</td>
			<td>Susquehanna</td>
		</tr>
		<tr>
			<td>College of Staten Island</td>
			<td>Kings</td>
			<td>TCNJ</td>
		</tr>
		<tr>
			<td>Connecticut College</td>
			<td>Lebanon Valley</td>
			<td>Tufts</td>
		</tr>
		<tr>
			<td>Delaware Valley</td>
			<td>Merchant Marine</td>
			<td>Ursinus</td>
		</tr>
		<tr>
			<td>Denison</td>
			<td>Middlebury</td>
			<td>Vassar</td>
		</tr>
		<tr>
			<td>DeSales</td>
			<td>MIT</td>
			<td>Washington College</td>
		</tr>
		<tr>
			<td>Dickinson</td>
			<td>Moravian College</td>
			<td>Wentworth</td>
		</tr>
		<tr>
			<td>Drew</td>
			<td>Muhlenberg</td>
			<td>Wesleyan</td>
		</tr>
		<tr>
			<td>Elmira</td>
			<td></td>
			<td>Western New England</td>
		</tr>
	</tbody>
</table>
