<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Stephen Himmelberg</td>
			<td>5'10"</td>
			<td>Chapel Hill</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>James Drury</td>
			<td>6'2"</td>
			<td>Germantown Academy</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Jayde Dawson</td>
			<td>6'2"</td>
			<td>Brooks</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>James Gordon</td>
			<td>6'4"</td>
			<td>Malvern Prep</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Kalvin Simpson</td>
			<td>6'5"</td>
			<td>Penncrest</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Matthew Fraschilla</td>
			<td>5'10"</td>
			<td>Highland Park</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Caleb Mercer</td>
			<td>6'4"</td>
			<td>Davidson Day</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>John Mosser</td>
			<td>6'4"</td>
			<td>Green Hope</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Paul Rowley</td>
			<td>6'7"</td>
			<td>Loudon Valley</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Mitchell Cohen</td>
			<td>6'8"</td>
			<td>Sparta</td>
			<td></td>
		</tr>
	</tbody>
</table>
