<table>
	<thead>
		<tr>
			<th>Colleges</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Albright College</td>
			<td>Emerson College</td>
			<td>Nichols College</td>
		</tr>
		<tr>
			<td>Alfred University</td>
			<td>Fairleigh Dickinson-Florham</td>
			<td>Penn State Behrend</td>
		</tr>
		<tr>
			<td>Alvernia University</td>
			<td>Felician College</td>
			<td>Polytechnic Institute of NYU</td>
		</tr>
		<tr>
			<td>Arcadia University</td>
			<td>Franklin&amp; Marshall College</td>
			<td>Rensselaer Polytechnic Institution</td>
		</tr>
		<tr>
			<td>Bard College</td>
			<td>Gettysburg College</td>
			<td>St. Mary's College of Maryland</td>
		</tr>
		<tr>
			<td>Baruch College</td>
			<td>Hamilton College</td>
			<td>Stevens Institute of Technology</td>
		</tr>
		<tr>
			<td>Bridgewater College(VA)</td>
			<td>Hobart College</td>
			<td>SUNY Geneseo</td>
		</tr>
		<tr>
			<td>Bryn Athym</td>
			<td>Hunter College</td>
			<td>SUNY New Paltz</td>
		</tr>
		<tr>
			<td>Cabrini College</td>
			<td>Ithica College</td>
			<td>Susquehanna University</td>
		</tr>
		<tr>
			<td>California Institute of Technology</td>
			<td>John Hopkins</td>
			<td>U.S. Merchant Marine Academy</td>
		</tr>
		<tr>
			<td>Catholic University</td>
			<td>Juniata College</td>
			<td>University of Rochester</td>
		</tr>
		<tr>
			<td>Colby College</td>
			<td>Kean University</td>
			<td>University of Scranton</td>
		</tr>
		<tr>
			<td>College of Staten Island</td>
			<td>Kenyon College</td>
			<td>University of the Sciences</td>
		</tr>
		<tr>
			<td>Connecticut College</td>
			<td>King's College (PA)</td>
			<td>Washington and Lee University</td>
		</tr>
		<tr>
			<td>Delaware Valley College</td>
			<td>Lycoming College</td>
			<td>Washington College (MD)</td>
		</tr>
		<tr>
			<td>DeSales University</td>
			<td>Mansfield</td>
			<td>Waynesburg University</td>
		</tr>
		<tr>
			<td>Dickinson College</td>
			<td>McDaniel College</td>
			<td>Wilkes University</td>
		</tr>
		<tr>
			<td>Eastern University</td>
			<td>Middlebury College</td>
			<td>York College (PA)</td>
		</tr>
		<tr>
			<td>Elizabethtown (PA)</td>
			<td>Misericordia University</td>
			<td></td>
		</tr>
		<tr>
			<td>Elmira College</td>
			<td>Muhlenberg College</td>
			<td></td>
		</tr>
	</tbody>
</table>
