<table>
	<thead>
		<tr>
			<th>Player </th>
			<th>Grade</th>
			<th>High School</th>
			<th>City</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Chase Lewis</td>
			<td>11</td>
			<td>Princeton Day</td>
			<td>Princeton, Nj</td>
		</tr>
		<tr>
			<td>Phillip Baumgartner</td>
			<td>11</td>
			<td>Bishop Sullivan</td>
			<td>Virginia Beach, VA</td>
		</tr>
		<tr>
			<td>Brendan Thiele</td>
			<td>10</td>
			<td>St. Peter's Prep</td>
			<td>Jersey City, NJ</td>
		</tr>
		<tr>
			<td>Bryan Karl</td>
			<td>11</td>
			<td>Hempfield</td>
			<td>Lancaster, PA</td>
		</tr>
		<tr>
			<td>Marley Blommers</td>
			<td>11</td>
			<td>Marianapolis Prep</td>
			<td>Thompson, CT</td>
		</tr>
		<tr>
			<td>Alex Karras</td>
			<td>11</td>
			<td>Central Bucks South</td>
			<td>Warrington, PA</td>
		</tr>
		<tr>
			<td>Justin Kup</td>
			<td>11</td>
			<td>Lenape</td>
			<td>Medford, NJ</td>
		</tr>
		<tr>
			<td>Jordan Johnson</td>
			<td>11</td>
			<td>Cedar</td>
			<td>Cedarburg, WI</td>
		</tr>
		<tr>
			<td>Victor Akujobi</td>
			<td>11</td>
			<td>Packer Collegiate</td>
			<td>Brooklyn, NY</td>
		</tr>
		<tr>
			<td>Zach Reichelderfer</td>
			<td>10</td>
			<td>Troy</td>
			<td>Troy, OH</td>
		</tr>
		<tr>
			<td>Curtis Cooper</td>
			<td>11</td>
			<td>Deep Run</td>
			<td>Glen Allen, VA</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Jacob Ries</td>
			<td>11</td>
			<td>Red Mountain</td>
			<td>Mesa, AZ</td>
		</tr>
		<tr>
			<td>Jordan Caruso</td>
			<td>11</td>
			<td>Staten Island Academy</td>
			<td>Staten Island, NY</td>
		</tr>
		<tr>
			<td>Arthur Brzozka</td>
			<td>11</td>
			<td>Lindenhurst</td>
			<td>Lindenhurst, NJ</td>
		</tr>
		<tr>
			<td>William Kondorat</td>
			<td>11</td>
			<td>Bay Ridge Prep</td>
			<td>Brooklym, NY</td>
		</tr>
		<tr>
			<td>Adrien Nunez</td>
			<td>11</td>
			<td>Bishop Loughlin</td>
			<td>Brooklyn, NY</td>
		</tr>
		<tr>
			<td>Christopher Kuhar</td>
			<td>11</td>
			<td>Archbishop Ryan</td>
			<td>Philadelphia, PA</td>
		</tr>
		<tr>
			<td>Nkosi Cooper</td>
			<td>9</td>
			<td>Suffield</td>
			<td>Suffield, CT</td>
		</tr>
		<tr>
			<td>Jackson Vertucci</td>
			<td>11</td>
			<td>Archbishop Milloy</td>
			<td>Briarwood, NY</td>
		</tr>
		<tr>
			<td>Austin Tchikatilov</td>
			<td>11</td>
			<td>Don Bosco Prep</td>
			<td>Ramsey, NJ</td>
		</tr>
		<tr>
			<td>Al-Angelo Forst</td>
			<td>11</td>
			<td>Ocoee</td>
			<td>Ocoee, FL</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
