<table>
	<thead>
		<tr>
			<th>Award/Player</th>
			<th>Grade</th>
			<th>High School</th>
			<th>City</th>
			<th></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Player</th>
			<th>Grade</th>
			<th>High School</th>
			<th>City</th>
			<th>Photo</th>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<td>Sweatshop Star</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>NESCAC: Michael Gentile</td>
			<td>9</td>
			<td>Spencerport</td>
			<td>Rochester, NY</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Michael-Gentile-Sweatshop-NESCAC-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-63438" /></td>
		</tr>
		<tr>
			<td>Patriot: Amos Luptak</td>
			<td>11</td>
			<td>Quaker Valley</td>
			<td>Sewickly, PA</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Sweatshop-Patriot-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-63427" /></td>
		</tr>
		<tr>
			<td>Ivy: Youssef Ibrahim</td>
			<td>12</td>
			<td>BISJ</td>
			<td>Jeddah, UAE</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Ibrahim-Youssef-Sweatshop-Ivy-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-63429" /></td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>NESCAC: Jamie Palamos</td>
			<td>9</td>
			<td>Lestonnac L'Ensenyanca</td>
			<td>Valencia, ESP</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Jamie-Palinos-Station-NESCAC-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-63435" /></td>
		</tr>
		<tr>
			<td>Patriot: Jonathan Arrington</td>
			<td>11</td>
			<td>Friendly HS</td>
			<td>For Washington, MD</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Jonathan-Arrington-Station-Patriot-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-63436" /></td>
		</tr>
		<tr>
			<td>Ivy: David Dudzic</td>
			<td>12</td>
			<td>Elev8 Prep</td>
			<td>Delray Beach, FL</td>
			<td>Photo not available</td>
		</tr>
		<tr>
			<td>Mr Hustle</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>NESCAC: Kyle Swift</td>
			<td>9</td>
			<td>Delbarton HS</td>
			<td>Morristown, NJ</td>
			<td>Photo not available</td>
		</tr>
		<tr>
			<td>Patriot: Oscar Gaetan</td>
			<td>11</td>
			<td>La Salle</td>
			<td>Miami, FL</td>
			<td>Photo not available</td>
		</tr>
		<tr>
			<td>Ivy: Zachary Skor</td>
			<td>12</td>
			<td>Cedarburg HS</td>
			<td>Cedarburg, WI</td>
			<td>Photo not available</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>NESCAC: Alexander Morton</td>
			<td>10</td>
			<td>Howell HS</td>
			<td>Howell, NJ</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/IMG_9979-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-63430" /></td>
		</tr>
		<tr>
			<td>Patriot: Matthew Carson</td>
			<td>11</td>
			<td>Downington West</td>
			<td>Glenmoore, PA</td>
			<td>Photo not available</td>
		</tr>
		<tr>
			<td>Ivy: Graham LeMon</td>
			<td>11</td>
			<td>Chatham HS</td>
			<td>Chatham, NJ</td>
			<td>Photo not available</td>
		</tr>
		<tr>
			<td>Most Outstanding Player</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>NESCAC: George Viseconti</td>
			<td>10</td>
			<td>Arthur Johnson HS</td>
			<td>Clark, NJ</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/George-Viseconti-MOP-NESCAC-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-63428" /></td>
		</tr>
		<tr>
			<td>Patriot: Jordan Caruso</td>
			<td>11</td>
			<td>Staten Island Academy</td>
			<td>Staten Island, NY</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Jordan-Caruso-MOP-Patriot-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-63437" /></td>
		</tr>
		<tr>
			<td>Ivy: Niall Carpenter</td>
			<td>12</td>
			<td>Hun School</td>
			<td>Princeton, NJ</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/07/Niall-Carpenter-MOP-Ivy-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-63442" /></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
