<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Anthony McKie</td>
			<td>5'11"</td>
			<td>Plymouth Whitemarsh</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Myles Stephenson</td>
			<td>5'10"</td>
			<td>Poly Prep</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Nick Lange</td>
			<td>6'2"</td>
			<td>Bishop Loughlin</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Jacob Mackay</td>
			<td>6'4"</td>
			<td>Ethical Culture Fieldston</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Keith Brushwyler</td>
			<td>6'6"</td>
			<td>Stevensville Lakeshore</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Wes Mitter</td>
			<td>6'0"</td>
			<td>Los Alamitos</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Bryan Jones</td>
			<td>6'1"</td>
			<td>Loomis Chaffee</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Jeff Lange</td>
			<td>6'3"</td>
			<td>Bishop Loughlin</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Marko Kozul</td>
			<td>6'5"</td>
			<td>Archbishop Molloy</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Wyatt Hagerty</td>
			<td>6'10"</td>
			<td>Bethel Park</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Matthew Ryan</td>
			<td>6'5"</td>
			<td>Iona Prep</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Dimitris Nikolaou</td>
			<td>6'2"</td>
			<td>Mandoulidis</td>
			<td>2013</td>
		</tr>
	</tbody>
</table>
