<table>
	<thead>
		<tr>
			<th>Early Bird Workout Stars</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Austin Alfonso</td>
			<td>David Hampton</td>
			<td>Alex Radkiewicz</td>
		</tr>
		<tr>
			<td>Aseem Arab</td>
			<td>Claude Harrington</td>
			<td>Edvin Rovcanin</td>
		</tr>
		<tr>
			<td>Chuma Azoba</td>
			<td>Bryan Heilman</td>
			<td>Nate Segal</td>
		</tr>
		<tr>
			<td>Nicholas Baber</td>
			<td>Matthew Indorante</td>
			<td>Ethan Shapiro</td>
		</tr>
		<tr>
			<td>Luke Baber</td>
			<td>Adam Joyce</td>
			<td>Clay Smith</td>
		</tr>
		<tr>
			<td>Fabien Bessez</td>
			<td>Steve Kearns</td>
			<td>David Sullivan</td>
		</tr>
		<tr>
			<td>Sahil Bhaiwala</td>
			<td>Louis Khouri</td>
			<td>Mike Swanson</td>
		</tr>
		<tr>
			<td>Daniel Brndjar</td>
			<td>Cody Keifer</td>
			<td>Gary Ulrich</td>
		</tr>
		<tr>
			<td>Harrison Brown</td>
			<td>Marko Kozul</td>
			<td>David Urso</td>
		</tr>
		<tr>
			<td>Mitchell Buzard</td>
			<td>Kelsey Lewis</td>
			<td>Donte Wallette</td>
		</tr>
		<tr>
			<td>Zachary Coalmon</td>
			<td>Dion Lewis Jr</td>
			<td>Zach Wentlent</td>
		</tr>
		<tr>
			<td>Mitchell Cross</td>
			<td>Brian Lukacsy</td>
			<td>Gregory Williams</td>
		</tr>
		<tr>
			<td>Ryan Curran</td>
			<td>Daniel Maher</td>
			<td>Chas Winebrenner</td>
		</tr>
		<tr>
			<td>Patrick Domville</td>
			<td>Peter Mancini</td>
			<td>James Wolf</td>
		</tr>
		<tr>
			<td>Connor Dunn</td>
			<td>Connor Martin</td>
			<td>Ken Yajima</td>
		</tr>
		<tr>
			<td>Jack Engel</td>
			<td>Zach May</td>
			<td>Caleb Yuan</td>
		</tr>
		<tr>
			<td>Zachary Faulkner</td>
			<td>Chris McNeal</td>
			<td>Conrad Zampier</td>
		</tr>
		<tr>
			<td>Timothy Frey</td>
			<td>Kristopher Moore</td>
			<td>Devin Baker</td>
		</tr>
		<tr>
			<td>Josh Goetz</td>
			<td>Andrew Nelson</td>
			<td></td>
		</tr>
	</tbody>
</table>
