<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP</td>
			<td>Rip Engel </td>
			<td>5-10</td>
			<td>Council Rock North High School</td>
			<td>Newton, Pa.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Most Outstanding Prospect</td>
			<td>Gemil Holbrook</td>
			<td>6-4</td>
			<td>Roman Catholic </td>
			<td>Philadelphia, Pa.</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Adisa Majors</td>
			<td>6-5</td>
			<td>The Dalton School </td>
			<td>New York, N.Y.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>All-Star MVP</td>
			<td>Gemil Holbrook</td>
			<td>6-4</td>
			<td>Roman Catholic</td>
			<td>Philadelphia, Pa.</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Austin Marciniak</td>
			<td>6-1</td>
			<td>Green High School</td>
			<td>Green, Ohio</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Zack Shaw</td>
			<td>5-7</td>
			<td>Hong Kong International High School</td>
			<td>Hong Kong, China</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Emmanuel Okoye</td>
			<td>6-3</td>
			<td>Seneca Valley High School</td>
			<td>Harmony, Pa.</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
