<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP</td>
			<td>Justin Bassey</td>
			<td>6-3</td>
			<td>Colorado Academy</td>
			<td>Denver, Colo.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Mason Mangapora</td>
			<td>6-2</td>
			<td>Canfield High School</td>
			<td>Canfield, Ohio</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>All-Star MVP</td>
			<td>Tyler Jones</td>
			<td>5-11</td>
			<td>Pennington School</td>
			<td>Lawrenceville, N.J.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Matthew Kanan</td>
			<td>6-0</td>
			<td>New Paltz High School</td>
			<td>New Paltz, N.Y.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Anthony Gibbs</td>
			<td>5-6</td>
			<td>Bedford Academy High School</td>
			<td>Brooklyn, N.Y.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Daniel Weiss</td>
			<td>6-4</td>
			<td>Marlboro High School</td>
			<td>Marlboro, N.J.</td>
			<td>2017</td>
		</tr>
	</tbody>
</table>
