<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City. State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP</td>
			<td>Sam Saxton</td>
			<td>6-2</td>
			<td>Central York High School</td>
			<td>York, Pa.</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Raymond Zu</td>
			<td>6-0</td>
			<td></td>
			<td></td>
			<td>2015</td>
		</tr>
		<tr>
			<td>All-Star MVP</td>
			<td>Michael Hinckley</td>
			<td>6-0</td>
			<td>Episcopal Academy</td>
			<td>Newton Square, Pa.</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Maxwell Ishmael</td>
			<td>6-2</td>
			<td>The Masters School</td>
			<td>Dobbs Ferry, N.Y.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Michael Crowley</td>
			<td>6-4</td>
			<td>Saddle River Day School</td>
			<td>Saddle River, N.J.</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Zach Snyder</td>
			<td>6-5</td>
			<td>Seneca Valley High School</td>
			<td>Harmony, Pa.</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
