<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Player</th>
			<th>Jr Elite Attended</th>
			<th>Synopsis</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Scottie-Lewis1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59189" /></td>
			<td>Scottie Lewis</td>
			<td>Metro Jr Elite</td>
			<td>Can score from inside and out, knows how to take over games. Unlimited upside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Bryan-Antoine1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59181" /></td>
			<td>Bryan Antoine</td>
			<td>Metro Jr Elite</td>
			<td>Plays above the rim, </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Mikeal-Jones-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59185" /></td>
			<td>Mikeal Jones</td>
			<td>Philly Jr Elite</td>
			<td>Athletic big who runs the floor well, attacks the rim with hard finishes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jake-Betlow1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59182" /></td>
			<td>Jake Betlow</td>
			<td>Metro Jr Elite</td>
			<td>Heady guard with a great shot and solid vision. Makes smart basketball plays.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Tariq-Ingraham1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59190" /></td>
			<td>Tariq Ingraham</td>
			<td>Metro Jr Elite</td>
			<td>Dominates the paint on both ends. Scores through defenders and passes well when double teamed.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jordan-Hairston-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59184" /></td>
			<td>Jordan Hairston</td>
			<td>DMV Jr Elite</td>
			<td>Slashing guard who can get to the paint and finish in traffic.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Zach-Crisler1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59192" /></td>
			<td>Zach Crisler</td>
			<td>Metro Jr Elite</td>
			<td>Skilled post player with great footwork and soft touch at the rim.</td>
		</tr>
	</tbody>
</table>
