<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Player</th>
			<th>Jr Elite Attended</th>
			<th>Synopsis</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tyler-Wise-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-medium wp-image-59304" /></td>
			<td>Tyler Wise</td>
			<td>NYC Jr Elite</td>
			<td>Very high ceiling, great floor general and operator on the court</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Lafayette-Williams-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59302" /></td>
			<td>Lafayette Williams</td>
			<td>DMV Jr Elite</td>
			<td>Plays with an endless motor and a lot of heart. Makes winning plays for his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Shyheed-Jenkins-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59303" /></td>
			<td>Shyheed Jenkins</td>
			<td>Metro Jr Elite</td>
			<td>He Got Handles award winner at the Metro Jr Elite. Very skilled ball handler who is tough to guard</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Azhar-Lewis-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59300" /></td>
			<td>Azhar Lewis</td>
			<td>Philly Jr Elite</td>
			<td>Another guard with outstanding handles. Takes care of the ball and crafty with the ball</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kam-Rodriguez-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59301" /></td>
			<td>Kam Rodriguez</td>
			<td>NYC Jr Elite</td>
			<td>Very fun to watch, knows how to score the basketball and is a good on ball defender.</td>
		</tr>
	</tbody>
</table>
