<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Player</th>
			<th>Jr Elite Attended</th>
			<th>Synopsis</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Tyree-Pickron1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59191" /></td>
			<td>Tyree Pickron</td>
			<td>Philly Jr Elite</td>
			<td>Tremendous shooter, seems to hit every open jump shot. Tough guard who scores in many ways.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Ricardo-Dominguez2-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59187" /></td>
			<td>Ricardo Dominguez</td>
			<td>NYC Jr Elite</td>
			<td>Strong, powerful player who welcomes contact and finishes through defenders.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Sam-Failey-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59188" /></td>
			<td>Sam Failey</td>
			<td>Philly Jr Elite</td>
			<td>Offensive play maker who gets to the rim. Defensively, he is great at jumping passing lanes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Renard-Barnes-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59186" /></td>
			<td>Renard Barnes</td>
			<td>Metro Jr Elite</td>
			<td>Quick, athletic player who makes winning plays and has an endless motor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jason-Battle-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59183" /></td>
			<td>Jason Battle</td>
			<td>Metro Jr Elite</td>
			<td>Heady guard, can shoot from the outside and distribute the ball.</td>
		</tr>
	</tbody>
</table>
