<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Player</th>
			<th>Jr Elite Attended</th>
			<th>Synopsis</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Quswan-Davis1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59172" /></td>
			<td>Quswan Davis</td>
			<td>NYC Jr Elite</td>
			<td>Big, long guard who is aggressive offensively and knows how to score.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Russell-Rosenthal1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59173" /></td>
			<td>Russell Rosenthal</td>
			<td>NYC Jr Elite</td>
			<td>Hard nosed player who does a little of everything for his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Noah-Charles-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59171" /></td>
			<td>Noah Charles</td>
			<td>DMV Jr Elite</td>
			<td>Extremely quick guard who gets up and down in a hurry, hard to stay in front of</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Trey-Patterson1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59174" /></td>
			<td>Trey Patterson</td>
			<td>Metro Jr Elite</td>
			<td>Very skilled guard with a high IQ and gifted ability to score the basketball</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jayden-Pierre1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59170" /></td>
			<td>Jayden Pierre</td>
			<td>Metro Jr Elite</td>
			<td>Small, crafty guard who uses a serious of ball fakes to get defenders off their feet and scores.
</td>
		</tr>
	</tbody>
</table>
