<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Player</th>
			<th>Junior Elite Attended</th>
			<th>Synopsis</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Tyler-Wise1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59148" /></td>
			<td>Tyler Wise</td>
			<td>NYC Jr Elite</td>
			<td>Terrific floor general and a smooth operator on the court.</td>
		</tr>
		<tr>
			<td></td>
			<td>Lafayette Williams</td>
			<td>DMV Jr Elite</td>
			<td>Endless motor and great passing ability make him a good guard.</td>
		</tr>
		<tr>
			<td></td>
			<td>Shyheed Jenkins</td>
			<td>Metro Jr Elite</td>
			<td>Tremendous handle, very comfortable with the ball in his hands.</td>
		</tr>
		<tr>
			<td></td>
			<td>Azhar Lewis</td>
			<td>Philly Jr Elite</td>
			<td>Another player with ball handing skills that are off the charts, hard to say in front of.</td>
		</tr>
		<tr>
			<td></td>
			<td>Kam Rodriguez</td>
			<td>NYC Jr Elite</td>
			<td>Plays with a lot of passion, very poised and composed.</td>
		</tr>
	</tbody>
</table>
