<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Player</th>
			<th>Jr Elite Attended</th>
			<th>Synopsis</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Marcus-Burnett1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59177" /></td>
			<td>Marcus Burnett</td>
			<td>NYC Jr Elite</td>
			<td>Lengthy wing who gets into the lane and can score over defenses.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Tahaj-Parland-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59178" /></td>
			<td>Tahaj Parland</td>
			<td>Metro Jr Elite</td>
			<td>Gifted scorer, knows how to score in many ways.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Armani-Lopez-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59175" /></td>
			<td>Armani Lopez</td>
			<td>Philly/Metro Jr Elite</td>
			<td>Knock down shooter. Was the Philly Shooting Star and knocks down threes in bunches.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Zach-Rocco-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59179" /></td>
			<td>Zach Rocco</td>
			<td>Philly Jr Elite</td>
			<td>Tough, hustle player who defends well and wins the 50-50 plays. Offensively a very trustworthy point guard too.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jahmal-Banks-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59176" /></td>
			<td>Jahmal Banks</td>
			<td>DMV Jr Elite</td>
			<td>Lethal in transition, can lead the fast break and finish through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/10393788_859004630830736_313496016070103955_n-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59324" /></td>
			<td>Zahree Harrison</td>
			<td>Philly Jr Elite</td>
			<td>Great orchestrator on the court, can run an offense and facilitate the ball to teammates.</td>
		</tr>
	</tbody>
</table>
