<table>
	<thead>
		<tr>
			<th>Team</th>
			<th>Wins</th>
			<th>Total Points</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>DC Blue Devils (NH)</td>
			<td></td>
			<td>50</td>
		</tr>
		<tr>
			<td>USAD</td>
			<td></td>
			<td>50</td>
		</tr>
		<tr>
			<td>NY Ionians</td>
			<td></td>
			<td>48</td>
		</tr>
		<tr>
			<td>Crown Basketball</td>
			<td></td>
			<td>46</td>
		</tr>
		<tr>
			<td>Middlesex Magic </td>
			<td></td>
			<td>43</td>
		</tr>
		<tr>
			<td>Jersey Shore Warriors Gold</td>
			<td></td>
			<td>42</td>
		</tr>
		<tr>
			<td>East Coast Cyclones</td>
			<td></td>
			<td>35</td>
		</tr>
		<tr>
			<td>York Ballers</td>
			<td></td>
			<td>22</td>
		</tr>
		<tr>
			<td>NJ Shoreshots-Pooley</td>
			<td></td>
			<td>22</td>
		</tr>
		<tr>
			<td>TTG Elite </td>
			<td></td>
			<td>21</td>
		</tr>
		<tr>
			<td>Boston Warriors</td>
			<td></td>
			<td>18</td>
		</tr>
		<tr>
			<td>Ring City Elite</td>
			<td></td>
			<td>16</td>
		</tr>
		<tr>
			<td>BSA Select</td>
			<td></td>
			<td>15</td>
		</tr>
		<tr>
			<td>JB Hoops</td>
			<td></td>
			<td>14</td>
		</tr>
		<tr>
			<td>CM3 Elite</td>
			<td></td>
			<td>14</td>
		</tr>
		<tr>
			<td>Early Risers</td>
			<td></td>
			<td>14</td>
		</tr>
		<tr>
			<td>Crusader Nation</td>
			<td></td>
			<td>10</td>
		</tr>
		<tr>
			<td>Higher Level </td>
			<td></td>
			<td>10</td>
		</tr>
		<tr>
			<td>Wayne PAL</td>
			<td></td>
			<td>9</td>
		</tr>
		<tr>
			<td>Team Maryland Elite</td>
			<td></td>
			<td>9</td>
		</tr>
		<tr>
			<td>Maryland's Finest</td>
			<td></td>
			<td>8</td>
		</tr>
		<tr>
			<td>Team Price</td>
			<td></td>
			<td>7</td>
		</tr>
		<tr>
			<td>Uncommon Bulls</td>
			<td></td>
			<td>6</td>
		</tr>
		<tr>
			<td>District Basketball Club</td>
			<td></td>
			<td>6</td>
		</tr>
		<tr>
			<td>MD Elite Basketball</td>
			<td></td>
			<td>4</td>
		</tr>
		<tr>
			<td>Dream to Achieve</td>
			<td></td>
			<td>4</td>
		</tr>
		<tr>
			<td>NY Lightning Black</td>
			<td></td>
			<td>3</td>
		</tr>
		<tr>
			<td>Stamford Peace</td>
			<td></td>
			<td>3</td>
		</tr>
		<tr>
			<td>Erick Green Premier</td>
			<td></td>
			<td>3</td>
		</tr>
		<tr>
			<td>High Rise Elite</td>
			<td></td>
			<td>3</td>
		</tr>
		<tr>
			<td>NJ Roadrunners</td>
			<td></td>
			<td>2</td>
		</tr>
		<tr>
			<td>Nova Cavaliers</td>
			<td></td>
			<td>2</td>
		</tr>
		<tr>
			<td>Prince William Hoyas </td>
			<td></td>
			<td>1</td>
		</tr>
		<tr>
			<td>Baltimore United</td>
			<td></td>
			<td>0</td>
		</tr>
	</tbody>
</table>
