<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Most Outstanding Player</td>
			<td>Austin Vaughn</td>
			<td>6'4"</td>
			<td>City of Coral Springs Charter</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Avery Feldman</td>
			<td>6'2"</td>
			<td>GW Hewlet</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Michael Talbert</td>
			<td>6'0"</td>
			<td>Randolph</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Miles Boone</td>
			<td>6'1"</td>
			<td>Davidson Day</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Krish Chandani</td>
			<td>6'2"</td>
			<td>Harker</td>
			<td>2014</td>
		</tr>
	</tbody>
</table>
