<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Most Outstanding Player</td>
			<td>Isaiah Whitehead</td>
			<td>6'4"</td>
			<td>Lincoln HS (N.Y.)</td>
			<td>Class of 2014</td>
		</tr>
		<tr>
			<td>Most Outstanding Prospect</td>
			<td>Malachi Richardson</td>
			<td>6'5"</td>
			<td>Trenton Catholic (N.J.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Noah Davis</td>
			<td>6'5"</td>
			<td>Bellwood-Antis HS</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Matt Stewart</td>
			<td>6'5"</td>
			<td>Norwin (Pa.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Javier Martinez</td>
			<td>6'5"</td>
			<td>Red Lion Christian (De.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Mr. Social</td>
			<td>Chris Shields</td>
			<td>6'7"</td>
			<td>Hedgesville (W.V.)</td>
			<td>Class of 2013</td>
		</tr>
	</tbody>
</table>
