<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Most Outstanding Player</td>
			<td>John Mosser</td>
			<td>6'4"</td>
			<td>Green Hope</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Ramir Burton</td>
			<td>6'1"</td>
			<td>Niagra Falls</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Sam Ramagano</td>
			<td>6'0"</td>
			<td>Malvern Prep</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Nikhil Panu</td>
			<td>6'4"</td>
			<td>Harker</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Jared Clayton</td>
			<td>6'0"</td>
			<td>Jonathan Dayton</td>
			<td>2013</td>
		</tr>
	</tbody>
</table>
