<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Most Outstanding Player</td>
			<td>Agyei Gregory</td>
			<td>6'2"</td>
			<td>St. Andrew's (R.I.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Chris Tan</td>
			<td>5'10"</td>
			<td>Century HS (Md.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Cameron Jackson</td>
			<td>5'7"</td>
			<td>Carrick HS (Pa.)</td>
			<td>Class of 2014</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Boz Bernstein</td>
			<td>5'7"</td>
			<td>Stepinac HS (N.Y.)</td>
			<td>Class of 2014</td>
		</tr>
	</tbody>
</table>
