<table>
	<thead>
		<tr>
			<th>Clinic</th>
			<th>Dates </th>
			<th>Time</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Ball Handling Clinic</td>
			<td>Nov 16-17</td>
			<td>2-3:30 PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_84&amp;products_id=1611">Sign-up Here</a></td>
		</tr>
		<tr>
			<td>Shooting Clinic</td>
			<td>Nov 16-17</td>
			<td>3:45-5:15 PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_84&amp;products_id=1612">Sign-up Here</a></td>
		</tr>
		<tr>
			<td>Girls Boot Camp</td>
			<td>Nov. 23-24</td>
			<td>2-3:30 PM</td>
			<td></td>
		</tr>
		<tr>
			<td>Boys Boot Camp</td>
			<td>Nov. 23-24</td>
			<td>4-5:30 PM</td>
			<td></td>
		</tr>
		<tr>
			<td>Pre-Season Prep</td>
			<td>November 19, 20,21, 26, 27</td>
			<td>6-7:30 PM</td>
			<td></td>
		</tr>
		<tr>
			<td>Black Friday HoopFest</td>
			<td>November 29</td>
			<td>9 AM - 2 PM</td>
			<td></td>
		</tr>
	</tbody>
</table>
