<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Coaches Eval</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/austin-griffiths-300x191.jpg" alt="" width="300" height="191" class="aligncenter size-medium wp-image-64800" /></td>
			<td>Griffiths, Austin</td>
			<td>12</td>
			<td>Austin is a sure handed finisher with length and athleticism. He has great defensive positioning and stance and went strong after every rebound. He finishes everything on offense and gets a lot of clean up points.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/aj-banks-300x185.jpg" alt="" width="300" height="185" class="aligncenter size-medium wp-image-64786" /></td>
			<td>Banks, AJ</td>
			<td>12</td>
			<td>AJ is very athletic and a must find outlet in transition. The combination of his size, length and quickness allows him to guard multiple positions. He rebounds the ball well and did a great job of boxing out. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/darron-barnes-300x211.jpg" alt="" width="300" height="211" class="aligncenter size-medium wp-image-64826" /></td>
			<td>Barnes, Darron</td>
			<td>11</td>
			<td>Darron is a strong, physical forward who has an arsenal of ways to score. He has great footwork and does a great job of getting where he wants to be on offense. He absorbs contact and fights through to finish the play. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/alphonso-barney-300x218.jpg" alt="" width="300" height="218" class="aligncenter size-medium wp-image-64792" /></td>
			<td>Barney, Alphonso</td>
			<td>10</td>
			<td>Alphonso has great hands and uses his length to finish over defenders when slashing to the basket. He did a great job today of putting the ball on the floor and driving baseline. He rebounds the ball exceptionally and can extend out to the 3 point line.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/lloyd-baskin-300x211.jpg" alt="" width="300" height="211" class="aligncenter size-medium wp-image-64862" /></td>
			<td>Baskin, Lloyd</td>
			<td>9</td>
			<td>Lloyd has a smooth shot and a great touch around the rim. He was always in help defense when one of his teammates got beat off the dribble. He was very active on the boards all day.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/devin-baugh-300x181.jpg" alt="" width="300" height="181" class="aligncenter size-medium wp-image-64830" /></td>
			<td>Baugh, Devin</td>
			<td>12</td>
			<td>Devin is a smart player who looks to push the ball in transition when there is an opportunity. He found his teammates in open spots all day and delivered strong passes. He plays solid on ball defense and pressured his man full court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/marcus-beckwith-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-64869" /></td>
			<td>Beckwith Jr, Marcus</td>
			<td>12</td>
			<td>Marcus is a tough, physical guard who locks down his man on defense. He has a consistent catch and shoot 3 and can also pull up from mid range. He rebounds incredibly well for his size against bigger opponents. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/travis-biney-300x189.jpg" alt="" width="300" height="189" class="aligncenter size-medium wp-image-64891" /></td>
			<td>Biney, Travis</td>
			<td>12</td>
			<td>Travis showed his ability to get into the paint with the ball in his hands. He slashes hard to the rim and moves well without the ball. He used his strength to move his man on defense and get in good position.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/alonzo-brandon-300x188.jpg" alt="" width="300" height="188" class="aligncenter size-medium wp-image-64791" /></td>
			<td>Brandon II, Alonzo</td>
			<td>12</td>
			<td>Alonzo is a stretch forward who was at his best when catching and finishing in the paint. His length and athleticism allowed him to run the floor and rebound well at both ends of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/gary-briddell-300x207.jpg" alt="" width="300" height="207" class="aligncenter size-medium wp-image-64837" /></td>
			<td>Briddell Jr, Gary</td>
			<td>11</td>
			<td>Gary is a physical point guard who excels at driving the ball into the paint. He finishes well around the rim and doesn't avoid contact. He does a good job of jump stopping in the middle of the defense and finding the open cutter.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/james-brook-300x214.jpg" alt="" width="300" height="214" class="aligncenter size-medium wp-image-64847" /></td>
			<td>Brooks, James</td>
			<td>12</td>
			<td>James is very strong with the ball in his hand and keeps the ball tight to his body when attacking his defender. He did a good job all day of getting in the paint and finishing through contact at the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/darius-brown-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-64825" /></td>
			<td>Brown, Darius</td>
			<td>12</td>
			<td>Darius is an impactful player on both ends of the floor. He knows where to be on defense and how to move on offense without the ball. He showed his ability to hit mid range jumpshots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/rasheed-brown-300x207.jpg" alt="" width="300" height="207" class="aligncenter size-medium wp-image-64881" /></td>
			<td>Brown, Rasheed</td>
			<td>10</td>
			<td>Rasheed sees the floor as well as anyone and gets his teammates open shots. He can create for himself off the dribble and knock down shots anywhere on the court. Excellent on ball defender and was always in position for help.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/keith-bullock-300x182.jpg" alt="" width="300" height="182" class="aligncenter size-medium wp-image-64855" /></td>
			<td>Bullock, Keith</td>
			<td>11</td>
			<td>Keith has great court vision and sees openings in the defense. He attacks them hard and can finish in a variety of ways once he gets into the paint. He can beat you off the dribble and defenders had trouble keeping him in front of them.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/aaron-cain-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-large wp-image-64784" /></td>
			<td>Cain, Aaron</td>
			<td>10</td>
			<td>Aaron is a great competitor who competes on every possession and never takes a play off. He does a good job of sliding his feet on defense and keeping his man in front of him and out of the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/tyler-cameron-300x197.jpg" alt="" width="300" height="197" class="aligncenter size-medium wp-image-64895" /></td>
			<td>Cameron, Tyler</td>
			<td>10</td>
			<td>Tyler has a good basketball IQ for his age and an all around skill set. He handles pressure well and makes sharp passes to his teammates. He anticipates very well on defense and has active hands in the passing lanes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/benjamin-carter-300x220.jpg" alt="" width="300" height="220" class="aligncenter size-medium wp-image-64804" /></td>
			<td>Carter Jr, Benjamin</td>
			<td>10</td>
			<td>Benjamin does a good job of changing pace when attacking his man off the dribble. He uses his quick first step to get into the paint and create openings for his team. He has active hands on defense and kept his man in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/nathaniel-chambers-300x194.jpg" alt="" width="300" height="194" class="aligncenter size-medium wp-image-64876" /></td>
			<td>Chambers, Nathaniel</td>
			<td>11</td>
			<td>Nathaniel was all over the glass today on both ends of the floor. He sprinted the floor and was always looking to get out in transition. He made strong passes to his teammates when the cut to the rim and spotted up.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/chase-drew-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-64816" /></td>
			<td>Chase, Drew</td>
			<td>10</td>
			<td>Drew is a knock down shooter from anywhere on the court. He was able to find openings in the defense and was able to consistently hit open jump shots. The attention he drew to his shot allowed him to draw defenders and find an open teammate.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/chris-currie-300x204.jpg" alt="" width="300" height="204" class="aligncenter size-medium wp-image-64819" /></td>
			<td>Currie. Chris</td>
			<td>11</td>
			<td>Chris has a very smooth jumpshot and and a quick release. He can stretch the defense by hitting outside shots. Made smart plays and didn't try to force anything on offense or take risks on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/nathan-coburn-300x202.jpg" alt="" width="300" height="202" class="aligncenter size-medium wp-image-64875" /></td>
			<td>Coburn, Nathan</td>
			<td>11</td>
			<td>Nathan is an active rebounder who scored many of his points off of second chance opportunities. He posted up aggressively and did a good job of passing out of the post when he was double teamed.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Antonio-Cockrell-300x171.jpg" alt="" width="300" height="171" class="aligncenter size-medium wp-image-64798" /></td>
			<td>Cockrell, Antonio</td>
			<td>11</td>
			<td>Antonio is very strong with the ball in his hand and looked comfortable all day running the offense. He is always looking to set up his teammates and kick it out after he attacks the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/anthony-diaz-300x194.jpg" alt="" width="300" height="194" class="aligncenter size-medium wp-image-64795" /></td>
			<td>Diaz, Anthony</td>
			<td>11</td>
			<td>Anthony plays hard on every possession and aggressively attacks the boards. He was able to get by his defender and into the paint to creat for his team. Has a strong handle on the ball and didn't force on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Carson-Dick-300x211.jpg" alt="" width="300" height="211" class="aligncenter size-medium wp-image-64814" /></td>
			<td>Dick, Carson</td>
			<td>9</td>
			<td>Carson makes great decisions on both ends of the floor and never forces the issue on offense. He is a tough competitor who slides his feet well on defense and doesn't allow his man to get into the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/james-dorsey-300x177.jpg" alt="" width="300" height="177" class="aligncenter size-medium wp-image-64848" /></td>
			<td>Dorsey, James</td>
			<td>11</td>
			<td>James has a good feel for the game and knows when to make the right play. He doesn't force the issue on offense and lets things develop in front of him. He showed his ability to hit open shots when setting his feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/dwight-felton-300x187.jpg" alt="" width="300" height="187" class="aligncenter size-medium wp-image-64833" /></td>
			<td>Felton, Dwight</td>
			<td>10</td>
			<td>Dwight is a good young player with a great feel for the game. He is a floor general and kept his team organized, setting them up for easy baskets. One of the best defenders at camp who made his man work every play.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/justin-fasion-300x198.jpg" alt="" width="300" height="198" class="aligncenter size-medium wp-image-64852" /></td>
			<td>Faison, Justin </td>
			<td>11</td>
			<td>Justin is a strong 3 point shooter who can facilitate the offense for his teammates. He is quick in the open floor and excels when starting the break. He attacks the middle of the floor aggressively, drawing the help defense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/tykei-ferrell-300x178.jpg" alt="" width="300" height="178" class="aligncenter size-medium wp-image-64894" /></td>
			<td>Ferrell, Ty'kei</td>
			<td>10</td>
			<td>Ty'kei is an athletic wing with great upside. He is at his best in transition and getting out on the fast break. He has the ability to change momentum and swing the game with his shot blocking and havoc ball pressure.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/stephon-fountroy-300x190.jpg" alt="" width="300" height="190" class="aligncenter size-medium wp-image-64886" /></td>
			<td>Fountroy, Stephon</td>
			<td>12</td>
			<td>Stephon has a good feel for the game and consistently found the open man on offense. His handle is effective when attacking and he has a good change of pace with his moves.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/justin-frett-300x220.jpg" alt="" width="300" height="220" class="aligncenter size-medium wp-image-64853" /></td>
			<td>Frett, Justin</td>
			<td>10</td>
			<td>Justin was quick on the break getting out in transition. He finishes hard through contact and doesn't avoid going at his man. Did a great job rebounding and creating extra scoring opportunities.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Gaither, Dezmon</td>
			<td>10</td>
			<td>Dezmon has good size and length with high upside. He has a great understanding of defensive positioning and is a vocal organizer. He did a good job of boxing out and going after rebounds on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/devin-garrett-300x183.jpg" alt="" width="300" height="183" class="aligncenter size-medium wp-image-64831" /></td>
			<td>Garrett, Devin</td>
			<td>12</td>
			<td>Devin is a strong, smart leader on the court and kept his team organized on both ends of the floor. Made the right plays all day and took what the defense gave him. He is a great rebounder and rises above opponents to get anything in his area. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Gentry, Maurice</td>
			<td>12</td>
			<td>Maurice is a crafty dribbler who can break down his defender and get into the paint. He has excellent rhythm on his shot and is at his best when stepping into it. He was able to consistently knock down outside jumpers all day.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/terrance-gibbons-300x194.jpg" alt="" width="300" height="194" class="aligncenter size-medium wp-image-64889" /></td>
			<td>Gibbons, Terrance</td>
			<td>10</td>
			<td>Terrance has a very high upside and great understanding of the game for his age. He is a big body in the middle of the floor and doesn't shy away from contact. On offense he was able to score in a variety of ways around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/michael-gillis-300x186.jpg" alt="" width="300" height="186" class="aligncenter size-medium wp-image-64871" /></td>
			<td>Gillis, Michael</td>
			<td>12</td>
			<td>Michael is an athletic guard who defends the ball and sees the floor. He is an all around scorer who can finish at the rim. One of the best shooters on the day, showed his abililty to hit past the 3 point line. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/alex-550-300x191.jpg" alt="" width="300" height="191" class="aligncenter size-medium wp-image-64788" /></td>
			<td>Gonpue, Alex</td>
			<td>12</td>
			<td>Alex is a scrappy player who dives on the floor for every loose ball. He did a great job of pushing the ball forward in transition and starting the offense. He finds openings in the defense and can hit mid range jumpers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/chandler-gordon-300x197.jpg" alt="" width="300" height="197" class="aligncenter size-medium wp-image-64815" /></td>
			<td>Gordon, Chandler</td>
			<td>12</td>
			<td>Chandler has great rotation on his shot and is a knock down shooter on the catch and shoot. He is long on defense and causes havoc for his man when they tried attacking the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jacquez-goding-300x191.jpg" alt="" width="300" height="191" class="aligncenter size-medium wp-image-64843" /></td>
			<td>Gouding, Jacquez</td>
			<td>10</td>
			<td>Jacquez showed tremendous ability to get in the paint and finish around the basket. His length on defense was effective at creating havoc for opposing players. He had very active hands on deflections and tipped passes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/anthony-hardison-300x201.jpg" alt="" width="300" height="201" class="aligncenter size-medium wp-image-64796" /></td>
			<td>Hardison, Anthony</td>
			<td>12</td>
			<td>Anthony is physically tough and uses his strength to impact both the offensive and defensive end of the floor. He made hard cuts all day and is a great catch and shoot finisher.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/laquill-hardnet-300x169.jpg" alt="" width="300" height="169" class="aligncenter size-medium wp-image-64861" /></td>
			<td>Hardnet, LaQuill</td>
			<td>10</td>
			<td>LaQuill is an excellent rebounder who wasn't afraid to go after rebounds against opponents who were older and bigger than him. His ability to get in the lane created issues for his opponent</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/avery-harris-300x183.jpg" alt="" width="300" height="183" class="aligncenter size-medium wp-image-64802" /></td>
			<td>Harris, Avery</td>
			<td>12</td>
			<td>Avery was all over the boards on both ends of the court creating second chance scoring opportunities for himself. He was a menace protecting the rim and altered the shots of opposing players when they attacked the lane.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jordan-hall-300x156.jpg" alt="" width="300" height="156" class="aligncenter size-medium wp-image-64850" /></td>
			<td>Hall, Jordan</td>
			<td>12</td>
			<td>Jordan is a great competitor who fights his way through pressure to create scoring opportunities for his team. He played hard defense and did a good job of finishing plays on the defensive end.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/immy-holmes-300x194.jpg" alt="" width="300" height="194" class="aligncenter size-medium wp-image-64841" /></td>
			<td>Holmes, Jimmy</td>
			<td>10</td>
			<td>Jimmy has a big body which he uses to grab rebounds and push his man out of the paint. He used his size to work inside on offense and draw double teams in the post.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/dillon-jackson-300x206.jpg" alt="" width="300" height="206" class="aligncenter size-medium wp-image-64832" /></td>
			<td>Jackson, Dilon</td>
			<td>10</td>
			<td>Dilon is a scoring guard who fights through defenders to get into the paint. He did a good job of running the offense and keeping a nice flow. Can break down his defender off the dribble and finish at the rim as well as hit pull up jumpers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jalen-jackson-300x192.jpg" alt="" width="300" height="192" class="aligncenter size-medium wp-image-64845" /></td>
			<td>Jackson, Jalen</td>
			<td>10</td>
			<td>Jalen handles pressure very well and made the smart pass out of traps to the open man. He had some great catch and shot plays and was most consistent at 12-15 feet. His hustle all day created extra plays for his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/saiquan-jamison-300x195.jpg" alt="" width="300" height="195" class="aligncenter size-medium wp-image-64883" /></td>
			<td>Jamison, Saiquan</td>
			<td>12</td>
			<td>Saiquan is a developing power post who uses his size to bully defenders. He does an excellent job of catching the ball in traffic and gathering himself before finishing. He always boxes out making it almost impossible for opponents to get offensive rebounds.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>JERSEY #493</td>
			<td></td>
			<td>A quick aggressive player who did a good job of facilitating on offense. Moved the ball well and got his teammates open shots. Played lock down defense on his man and made it difficult for him to get into the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/daesean-jones-300x186.jpg" alt="" width="300" height="186" class="aligncenter size-medium wp-image-64824" /></td>
			<td>Jones, Desean</td>
			<td></td>
			<td>Daesean is a solid guard who has a good handle and understanding of the game. His court vision allowed him to push the ball in transition and find an open teammate ahead. He rebounds the ball incredibly well for a guard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/malik-jones-300x197.jpg" alt="" width="300" height="197" class="aligncenter size-medium wp-image-64865" /></td>
			<td>Jones, Malik</td>
			<td>10</td>
			<td>Malik is a strong guard who rebounds the ball very well. He used his frame all day to get past his defender and attack the rim. Sherrod has a high basketball IQ with good court vision.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/taye-jones-300x185.jpg" alt="" width="300" height="185" class="aligncenter size-medium wp-image-64888" /></td>
			<td>Jones, Taye</td>
			<td>11</td>
			<td>Taye is a strong, aggressive player who shoots the ball well when he has time and sets his feet. He's at his best when getting by his defender and into the paint to create for his teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/malik-jordan-300x177.jpg" alt="" width="300" height="177" class="aligncenter size-medium wp-image-64866" /></td>
			<td>Jordan, Malik</td>
			<td>10</td>
			<td>Malik has a quick first step which allows him to get by defenders. He was able to penetrate through defenses and get to the rim. His athleticism and quickness caused issues for his opponents when they tried to dribble past him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/amari-kelly-300x185.jpg" alt="" width="300" height="185" class="aligncenter size-medium wp-image-64793" /></td>
			<td>Kelly, Amari</td>
			<td>11</td>
			<td>Amari worked hard on the boards all day fighting to gain position on his man. He has a knack for finding openings in the defense and being in position to score. He finishes well around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/hank-koele-300x185.jpg" alt="" width="300" height="185" class="aligncenter size-medium wp-image-64838" /></td>
			<td>Koele, Hank</td>
			<td>11</td>
			<td>Hank is an excellent on ball defender who made his man work to get the ball past him. He plays under control at all times and has good court awareness as to where his teammates are at all times.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/nil-lante-lamptey-300x173.jpg" alt="" width="300" height="173" class="aligncenter size-medium wp-image-64878" /></td>
			<td>Lamptey, Nil-Lante</td>
			<td>12</td>
			<td>Nii is a true combo guard who can facilitate for others or create for himself. He has great athleticism and caused matchups for his opponents. He is strong and confident with the ball in his hand.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/byron-lee-300x195.jpg" alt="" width="300" height="195" class="aligncenter size-medium wp-image-64811" /></td>
			<td>Lee Jr, Byron</td>
			<td>11</td>
			<td>Byron is an efficient guard with good skills and excellent court demeanor. He knows where his teammates are at all times and gets them the ball on time. He showed his ability today to knock down shots and extend out to the 3 point line.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/sincere-lopez-300x184.jpg" alt="" width="300" height="184" class="aligncenter size-medium wp-image-64885" /></td>
			<td>Lopez, Sincere</td>
			<td>11</td>
			<td>Sincere is a face up forward with range to the 3 point line. He plays physical inside while using his length to contest shots on the defensive end. He has great timing when going up for rebounds and blocking shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/curtis-mack-300x177.jpg" alt="" width="300" height="177" class="aligncenter size-medium wp-image-64823" /></td>
			<td>Mack, Curtis</td>
			<td>12</td>
			<td>Curtis is at his best with the ball in his hand. He is a willing passer and doesn't get flustered when there is ball pressure. He has an excellent first step that allows him to explode to the rim and finish through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/cameron-marinnie-300x190.jpg" alt="" width="300" height="190" class="aligncenter size-medium wp-image-64812" /></td>
			<td>Marinnie, Cameron</td>
			<td>12</td>
			<td>Cameron is a face up forward who can stretch the defense with his jumper. He is a good defensive rebounder and shows a lot of fight inside. He worked hard to keep his man out of the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/kobe-matthews-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64859" /></td>
			<td>Matthews, Kobe</td>
			<td>9</td>
			<td>Kobe is an active defender who gets a lot of steals by jumping passing lane. His length caused issues for his opponents and allowed him to get deflections and break up the offense. He is at his best and most consistent shooting from 15 feet in.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/chrip-mcaboy-300x208.jpg" alt="" width="300" height="208" class="aligncenter size-medium wp-image-64818" /></td>
			<td>McAboy, Christopher</td>
			<td>11</td>
			<td>Christopher demonstrated his ability to finish inside as well as knock down an open jumper. He has good size for his position and goes after rebounds aggressively on both ends of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/brandon-mcdaniel-300x198.jpg" alt="" width="300" height="198" class="aligncenter size-medium wp-image-64805" /></td>
			<td>McDaniel, Brandon</td>
			<td>12</td>
			<td>Brandon is a smart good with a high basketball IQ. He doesn't force anything on offense and didn't try to make any unneccesary passes. He looked comfortable with the ball in his hand and knew what he was going to do.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/malik-mckinney-300x181.jpg" alt="" width="300" height="181" class="aligncenter size-medium wp-image-64867" /></td>
			<td>McKinney, Malik</td>
			<td>10</td>
			<td>Malik is always in the middle of the action on both ends of the floor. He was able to find openings in the defense and hit open shots. Has an overall good understanding of where to position himself to score and help on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/kendall-mcmillan-300x201.jpg" alt="" width="300" height="201" class="aligncenter size-medium wp-image-64856" /></td>
			<td>McMillan, Kendall</td>
			<td>10</td>
			<td>Kendall did an excellent job of finding open teammates especially in transition. He has a smooth left handed jumper and makes smart decisions on the court. He goes after every rebound aggresively.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/austin-meisel-300x207.jpg" alt="" width="300" height="207" class="aligncenter size-medium wp-image-64801" /></td>
			<td>Meisel, Austin</td>
			<td>8</td>
			<td>Austin is a tough competitor who didn't back down from any challenge today. He handles pressure well and has a good handle on the ball. Worked hard on defense to keep his man in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/cole-minetree-300x185.jpg" alt="" width="300" height="185" class="aligncenter size-medium wp-image-64821" /></td>
			<td>Minetree, Cole</td>
			<td>9</td>
			<td>Cole had a great night rebounding the ball and giving his team multiple scoring opportunities on each possession. He was able to finish hard at the rim and has a good set of post moves. He has the ability to both block and alter his opponents shot</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/shekinah-mondoua-300x172.jpg" alt="" width="300" height="172" class="aligncenter size-medium wp-image-64884" /></td>
			<td>Monjoua, Shekinah</td>
			<td>12</td>
			<td>Shekinah is a talented all around player with high upside. He has great athleticism and is at his best when attacking the basket. He is a good mid range shooter who sets his feet and squares up to the basket well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/bryce-moritz-300x186.jpg" alt="" width="300" height="186" class="aligncenter size-medium wp-image-64810" /></td>
			<td>Moritz, Bryce</td>
			<td>11</td>
			<td>Bryce runs the floor hard in transition and creates easy baskets for himself. He sets hard screens and rolls to the correct spot. He is a vocal leader on the floor and did a good job of setting up the offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/craig-morrow-300x205.jpg" alt="" width="300" height="205" class="aligncenter size-medium wp-image-64822" /></td>
			<td>Morrow, Craig</td>
			<td>10</td>
			<td>Craig is an all around point guard who focuses on facilitating for his team and getting them open shots. He has a great feel for the game and a great understanding of when to attack the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/tyrelle-moseley-300x187.jpg" alt="" width="300" height="187" class="aligncenter size-medium wp-image-64897" /></td>
			<td>Moseley, Tyrelle</td>
			<td>12</td>
			<td>Tyrelle has a great motor and a very high upside. He has a quick release on his shot and squares up to the basket well. He plays great defense both when pressuring the ball and playing in the gaps.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Mosley, Deshaun</td>
			<td>11</td>
			<td>Deshaun is a smart guard who looks to facilitate the offense and create for his teammates. He sees the floor well in both the half court and in transition. He is always in control of the ball and has a quick change of pace when attacking.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/michael-murray-300x186.jpg" alt="" width="300" height="186" class="aligncenter size-medium wp-image-64872" /></td>
			<td>Murray, Michael</td>
			<td>9</td>
			<td>Michael is a very scrappy defender who was constantly putting pressure on the ball throughout the day. He is very comfortable under pressure and made smart decisions on offense to get his team open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/tyree-myers-300x178.jpg" alt="" width="300" height="178" class="aligncenter size-medium wp-image-64896" /></td>
			<td>Myers, Tyree</td>
			<td>10</td>
			<td>Tyree showed his poise and leadership ability on both ends of the floor. In transition he does a really good job of finding an open shooter or attacking a lane in the defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/zhuri-nisseau-bey-300x195.jpg" alt="" width="300" height="195" class="aligncenter size-medium wp-image-64901" /></td>
			<td>Nisseau-Bey, Zhuri</td>
			<td>11</td>
			<td>Zhuri is a tough competitor who doesn't back down on the court. He can space the floor with his 3 point shot and creates shots for his teammates. He didn't force anything on offense and played within himself.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/ike-nweke-300x191.jpg" alt="" width="300" height="191" class="aligncenter size-medium wp-image-64839" /></td>
			<td>Nweke, Ike</td>
			<td>10</td>
			<td>Ike has a large frame which he uses to get position on offense and fight for rebounds on defense. He has great timing when contesting shots and avoids fouling his man. He passes well out of the post and hits open teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/osclumese-okjie-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64879" /></td>
			<td>Okajie, Ese</td>
			<td></td>
			<td>Ese is a constantly moving and makes it hard for his defender to keep a body on him. He got easy baskets with his activity and was all over the boards. He finished well around the rim with both hands.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/ose-okojie-300x182.jpg" alt="" width="300" height="182" class="aligncenter size-medium wp-image-64880" /></td>
			<td>Okojie, Ose</td>
			<td>11</td>
			<td>Ose is an athletic player who never takes a play off. His points come from working hard and running the floor. He's at his best using one dribble and attacking the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jabari-outzs-300x178.jpg" alt="" width="300" height="178" class="aligncenter size-medium wp-image-64842" /></td>
			<td>Outz, Jabari</td>
			<td>10</td>
			<td>Jabari is a quick defender who creates havoc for his man when they bring the ball up the court. He has a good set of moves with the ball in his hand and didn't get flustered under ball pressure.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/bryant-page-300x172.jpg" alt="" width="300" height="172" class="aligncenter size-medium wp-image-64809" /></td>
			<td>Page, Bryant</td>
			<td>10</td>
			<td>Bryant has a very high IQ and understanding of the game. He is long and uses his size to his advantage when defending the ball. He gets up and down the court well and finishes around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/xavier-page-300x188.jpg" alt="" width="300" height="188" class="aligncenter size-medium wp-image-64898" /></td>
			<td>Page, Xavier</td>
			<td>11</td>
			<td>Xavier was at his best in transition finding teammates and attacking the rim. He is a tough on ball defender who worked his man and didn't allow him to start the offense. Handles pressure well and doesn't get flustered.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jordan-parker-300x182.jpg" alt="" width="300" height="182" class="aligncenter size-medium wp-image-64851" /></td>
			<td>Parker, Jordan</td>
			<td>10</td>
			<td>Jordan is a tough kid who plays aggressively and doesn't shy away from contact. He did a good job of not letting his man get by him on defense. He is great at driving the play to the basket and finishing strong.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/steven-parkerk-300x197.jpg" alt="" width="300" height="197" class="aligncenter size-medium wp-image-64887" /></td>
			<td>Parker, Steven</td>
			<td>10</td>
			<td>Steven is a smart, athletic guard who is always looking to attack. He has a quick first step and can get by his defender with ease. Steven showed his ability to step out to the 3 point line and hit shots. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/nick-parrish-300x195.jpg" alt="" width="300" height="195" class="aligncenter size-medium wp-image-64877" /></td>
			<td>Parrish, Nick</td>
			<td>10</td>
			<td>Nick is a lightning quick guard who gets to the rim at will. He showed his craftiness around the rim and ability to finish with both hands. He possesses exceptional court vision and awareness of where his teammates are.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/brent-pegram-300x192.jpg" alt="" width="300" height="192" class="aligncenter size-medium wp-image-64807" /></td>
			<td>Pegram, Brent</td>
			<td>11</td>
			<td>Brent is a very good ball handler who plays within himself and doesn't try to make unnecessary passes or plays. He created scoring opportunities for his teammates with his penetration and ability to get in the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/dashawn-phillips-300x192.jpg" alt="" width="300" height="192" class="aligncenter size-medium wp-image-64827" /></td>
			<td>Phillip, Da'Shawn</td>
			<td>10</td>
			<td>Da'Shawn uses his athleticism to get behind defenses and beat them down the floor in transition. He is a lockdown wing defender who can also guard multiple positions. Grabbed any rebound that was in his area.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/yair-pincever-300x192.jpg" alt="" width="300" height="192" class="aligncenter size-medium wp-image-64899" /></td>
			<td>Pincever, Yair</td>
			<td>12</td>
			<td>Yair can really space the floor with his ability to hit outside shots. On the defensive side of the ball he is always in the right spot for help or rebounds. He uses his strength to get where he wants on the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/monte-powell-300x183.jpg" alt="" width="300" height="183" class="aligncenter size-medium wp-image-64873" /></td>
			<td>Powell, Monte</td>
			<td>11</td>
			<td>Monte uses his long wingspan to be an affective defender and get in passing lanes. Offensively he is a fliud guard who sets his feet well and is at his best in the catch and shoot. Has range to the 3 point line.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/yamon-robinson-300x181.jpg" alt="" width="300" height="181" class="aligncenter size-medium wp-image-64900" /></td>
			<td>Rainson, Yamon</td>
			<td>11</td>
			<td>Yamon is a great on ball defender who pressures his man the entire length of the court. He uses pump fakes very affectively around the rim to get his man in the air. He has a craftiness in his game that allows him to score in multiple ways.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/evan-rakshys-300x187.jpg" alt="" width="300" height="187" class="aligncenter size-medium wp-image-64836" /></td>
			<td>Rakshys, Evan</td>
			<td>10</td>
			<td>Evan has a high basketball IQ and made unselfish hustle plays to get his team extra possessions. He demonstrated his ability to find openings in the defense and make shots when setting his feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/ausar-ra-lewis-300x188.jpg" alt="" width="300" height="188" class="aligncenter size-medium wp-image-64799" /></td>
			<td>Ralewis, Ausan</td>
			<td>12</td>
			<td>Ausan is an assertive point guard who pushes the ball and makes plays in the open court. He was able to see plays developing and get the ball to an open teammate. Showed his ability to hit shots when left open.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/ziggy-reid-300x209.jpg" alt="" width="300" height="209" class="aligncenter size-medium wp-image-64902" /></td>
			<td>Ried, Ziggy</td>
			<td>9</td>
			<td>Ziggy is a young forward who handles the ball well and is always under control. He can play anywhere on the offense as well as defend multiple positions on defense. He uses his size and strength to bully his defender and get to the position he wants on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/antjuan-robinson-300x208.jpg" alt="" width="300" height="208" class="aligncenter size-medium wp-image-64797" /></td>
			<td>Robinson, Antjuan</td>
			<td>10</td>
			<td>Antjuan has a solid set of overall skills and can contribute in a variety of ways. He kept the offense moving and was able to score around the rim. Played hard on defense and did a good job on help side when his teammates got beat.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Irving, Ryheem</td>
			<td>9</td>
			<td>Ryheem is a smart guard who knows how to read defenses and set up his teammates. His quick feet make him an a good defender. He keeps his man in front of him and doesn't allow him to get off a clean pass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/alex-savastiani-300x197.jpg" alt="" width="300" height="197" class="aligncenter size-medium wp-image-64789" /></td>
			<td>Sabastiani, Alex</td>
			<td>11</td>
			<td>Alex showed a great feel for the game and consistently made the right basketball decision. He is an excellent passer and did a good job of pushing in transition. His athleticism allowed him to beat defenders down the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/kurt-samuels-300x198.jpg" alt="" width="300" height="198" class="aligncenter size-medium wp-image-64860" /></td>
			<td>Samuels, Kurt</td>
			<td>9</td>
			<td>Kurt is a big body who takes up space on defense and defends the paint. He uses his size to get position on offense and drew help when in the post. He worked hard to finish around the rim and absorb contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/aj-sawyers-300x201.jpg" alt="" width="300" height="201" class="aligncenter size-medium wp-image-64787" /></td>
			<td>Sawyers, AJ</td>
			<td>10</td>
			<td>AJ is a long, athletic guard who uses his strength to get position on offense. He was able to get by his defender and create for his teammates. He defends the ball well and finishes plays by going after rebounds. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/mandel-sherrod-300x195.jpg" alt="" width="300" height="195" class="aligncenter size-medium wp-image-64868" /></td>
			<td>Sherrod, Mandel</td>
			<td>12</td>
			<td>Mandel is a strong wing who does a good job of getting up and down the floor in transition. He defends the ball well and plays hard on defense. His strength is using the dribble to create open shots for himself and get to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/monte-simpkins-300x204.jpg" alt="" width="300" height="204" class="aligncenter size-medium wp-image-64874" /></td>
			<td>Simpkins, Monte</td>
			<td>12</td>
			<td>Monte has a very complete set of skills and has great upside. He understands how to play the game and plays with a good pace. He made sharp, clean passes to his teammates all day when they were open.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/alijah-smith-300x183.jpg" alt="" width="300" height="183" class="aligncenter size-medium wp-image-64790" /></td>
			<td>Smith, Alijah</td>
			<td>11</td>
			<td>Alijah did a great job running the point on the day. He was quick with the ball, got in the paint and created for his teammates. He has a tight handle on the ball and didn't get flustered under pressure. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Smith, Chauncey</td>
			<td>10</td>
			<td>Chauncey showed his ability to run the floor in transition and score easy baskets. His length on defense caused issues for opponents when they were trying to get past him on the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jajuan-smith-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64844" /></td>
			<td>Smith, Jajuan</td>
			<td>10</td>
			<td>Jajuan is a strong player who is very active on the boards. He finishes well around the rim in a variety of ways and doesn't shy away from contact. He made a couple hustle plays on the day that got his team extra possessions.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/meron-feferium-300x186.jpg" alt="" width="300" height="186" class="aligncenter size-medium wp-image-64870" /></td>
			<td>Tesfumariam, Meron</td>
			<td>12</td>
			<td>Meron has a great motor and competes hard on the glass. He can defend multiple positions and has good help side positioning. He found his teammates when they spotted up for open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/essex-thompson-300x169.jpg" alt="" width="300" height="169" class="aligncenter size-medium wp-image-64835" /></td>
			<td>Thompson, Essex</td>
			<td>12</td>
			<td>Essex has a great motor and willingness to learn and develop. He can defend multiple positions and used his athleticism and length to keep his man in front of him. He goes after rebounds aggressively on both ends of the floor.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Thompson, Kai</td>
			<td>12</td>
			<td>Kai is a very good athlete who plays tough defense and goes hard after every rebound on both ends. He was at his best today when attacking the rim and finishing through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/camilo-toro-300x181.jpg" alt="" width="300" height="181" class="aligncenter size-medium wp-image-64813" /></td>
			<td>Toro, Camilo</td>
			<td>10</td>
			<td>Camilo is a pass first guard who does an excellent job keeping the offense moving and reversing the ball. He has a complete set of offensive skills and is at his best off the catch and shoot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/trayquan-trayham-300x189.jpg" alt="" width="300" height="189" class="aligncenter size-medium wp-image-64893" /></td>
			<td>Trayhim, Trayquam</td>
			<td>12</td>
			<td>Trayquam gets his shot off quickly and was one of the more consistent outside shooters on the day. Was able to spot up and hit shots past the 3 point line. Showed his ability to get by a defender and attack the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/justin-trent-300x192.jpg" alt="" width="300" height="192" class="aligncenter size-medium wp-image-64854" /></td>
			<td>Treat, Justin</td>
			<td>10</td>
			<td>Justin does a great job of tracking rebounds and loose balls. He created second chance scoring opportunities for his team and got most of of his points off of hustle plays. He is a consistent mid range shooter when he sets his feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/eric-turner-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64834" /></td>
			<td>Turner, Eric</td>
			<td>10</td>
			<td>Eric showed his ability to score in a variety of ways and create his own shot. He is a lockdown defender who puts great pressure on the ball. He was active on the boards and went after every rebound.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/david-vance-300x188.jpg" alt="" width="300" height="188" class="aligncenter size-medium wp-image-64828" /></td>
			<td>Vance, David</td>
			<td>12</td>
			<td>David has a great frame and his length causes issues for the offensive player. He was able to get steals and start transition for his team. He moves well without the ball and slashes hard to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Jessiya-Villa-300x205.jpg" alt="" width="300" height="205" class="aligncenter size-medium wp-image-64849" /></td>
			<td>Villa, Jessiya</td>
			<td>11</td>
			<td>Jessiya has a very good basketball IQ and understanding of how to space out a defense. He is a strong ball handler who looks comfortable when the ball is in his hand. Doesn't get flustered by pressure and was always able to get off a clean pass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/keylen-vines-300x187.jpg" alt="" width="300" height="187" class="aligncenter size-medium wp-image-64858" /></td>
			<td>Vines, Kaylen</td>
			<td>9</td>
			<td>Kaylen is a fierce competitor and not afraid to attack his man off the dribble. He did a solid job of getting into the paint and either finishing at the rim or kicking it out to an open teammate. Plays really good, tough on ball defense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/brent-wade-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64808" /></td>
			<td>Wade, Brent</td>
			<td>11</td>
			<td>Brent is a hustle player who didn't take any possessions off and get after loose balls. He has a great feel for the game and a high basketball IQ. He made strong passes to his teammates all day.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/thomas-walsh-300x181.jpg" alt="" width="300" height="181" class="aligncenter size-medium wp-image-64890" /></td>
			<td>Walsh, Thomas</td>
			<td>11</td>
			<td>Thomas plays hard and is always in the middle of the action. He is an aggressive defender and attacks hard on offense. He made smart plays and has a high basketball IQ.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/aaron-walters-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-large wp-image-64785" /></td>
			<td>Walters, Aaron</td>
			<td>11</td>
			<td>Aaron is always in attack mode on offense. His quick first step makes it difficult for defenses to keep him out of the paint. Aaron showed his ability to score in bunches and in a variety of ways.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/amir-warrick-300x184.jpg" alt="" width="300" height="184" class="aligncenter size-medium wp-image-64794" /></td>
			<td>Warrick, Amir</td>
			<td>10</td>
			<td>Amir displayed his athleticism and length all day when attacking the rim. He was able to finish over defenders when driving to the basket. Owen was able to rise above opponents and grab any rebound in his area.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/brandon-watson-300x182.jpg" alt="" width="300" height="182" class="aligncenter size-medium wp-image-64806" /></td>
			<td>Watson, Brandon</td>
			<td>10</td>
			<td>Watson is a very skilled combo forward who can score from anywhere on the court. He used his size to get into the paint and finish through defenders and contact. Grabbed every rebound in his area and ran the fast break.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Webb, Dominic</td>
			<td>11</td>
			<td>Dominic showed great form on his shot and his ability to step out and be a consistent shooter. He handled ball pressure well and when playing the point did a good job of starting the offense and keeping the ball moving.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jamari-wen-300x191.jpg" alt="" width="300" height="191" class="aligncenter size-medium wp-image-64846" /></td>
			<td>Wen, Jamari</td>
			<td>12</td>
			<td>Jamari has quick release and does a good job of setting his feet and not rushing his shot. He showed his range today by consistently knocking down outside shots. Not afraid to attack the rim and go after rebounds.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/kenneth-wilburn-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64857" /></td>
			<td>Wilburn, Kenneth</td>
			<td>9</td>
			<td>Kenneth is relentless on the glass, controlling both ends of the floor. He takes contact inside and finishes strong with both hands. He has great hands and was able to explode to the rim after catching the ball in the post. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/christion-wright-300x185.jpg" alt="" width="300" height="185" class="aligncenter size-medium wp-image-64820" /></td>
			<td>Wright, Christian</td>
			<td>11</td>
			<td>Christian is a tough guard who competes at both ends of the floor. He has a quick first step and had no problem getting by his defender. His ability to shoot, handle the ball and make strong passes makes him a complete offensive threat. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/davonte-wright-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64829" /></td>
			<td>Wright, Davonte</td>
			<td>11</td>
			<td>Davonte is a quick guard with great court vision who is always looking to push the ball forward and get the fast break started. He is a vocal leader on the court who kept both the offense and defense organized.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/robert-wright-300x186.jpg" alt="" width="300" height="186" class="aligncenter size-medium wp-image-64882" /></td>
			<td>Wright, Robert</td>
			<td>12</td>
			<td>Robert is a strong guard who rebounds the ball extremely well. On offense he does a good job of getting out in transition and knocking down pull up shots. He has a quick release and squares up to the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/trayon-wright-300x188.jpg" alt="" width="300" height="188" class="aligncenter size-medium wp-image-64892" /></td>
			<td>Wright, Trayon</td>
			<td>10</td>
			<td>Trayon does a great job of penetrating and drawing help. He was unselfish in kicking the ball out to open teammates. He plays solid man to man defense and uses his quickness to keep his man in front of him.</td>
		</tr>
	</tbody>
</table>
