<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Evaluation</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jefferson-Collins-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59230" /></td>
			<td>Jefferson Collins</td>
			<td></td>
			<td>Jefferson is a good athlete and also a good shooter. Good ball-handler, attacks offensive glass</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Myles-Lewis-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59255" /></td>
			<td>Myles Lewis</td>
			<td></td>
			<td>Myles is a slasher who loves to attack the rim. Works extremely hard on defense and is a good on-ball defender.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Adam-Kline2-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59194" /></td>
			<td>Adam Kline</td>
			<td>11</td>
			<td>Adam does a good job of running the floor for a big. Skilled with his off hand and stretch the floor out to the 3.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kait-Thompson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59237" /></td>
			<td>Kai Thompson</td>
			<td>11</td>
			<td>Kai is terrific in transition, loves to push the tempo. Very adept at finding the open teammates.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Robert-Jenkins-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59266" /></td>
			<td>Robert Jenkins</td>
			<td>11</td>
			<td>Robert has a high basketball IQ. He competes well on defense and is always moving without the ball on offense.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kerry-Owings-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59243" /></td>
			<td>Kerry Owings</td>
			<td>11</td>
			<td>Kerry is a player than can shoot and has good shot selection. He runs the floor &amp; always gets 50/50 balls.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Deshawn-Lucas-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59216" /></td>
			<td>Deshawn Lucas</td>
			<td>9</td>
			<td>Deshawn excels at penetrating the gaps and getting to the rim. He runs the floor and gives high energy on defense.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Cory Jefferson</td>
			<td>12</td>
			<td>Cory attacks the rim and does a great job of drawing fouls. Competes extremely hard on defense.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Timothy-Dennin-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59274" /></td>
			<td>Timothy Dennin</td>
			<td>11</td>
			<td>Timothy is a good three point shooter. He has a high basketball IQ and works hard on defense.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Lonnie-Gordon-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59246" /></td>
			<td>Lonnie Gordon</td>
			<td>10</td>
			<td>Lonnie is a terrific on-ball defender. Has good ball-handling ability and is a good decision maker.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kendall-Mcmillan-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59241" /></td>
			<td>Kendall Mcmillan</td>
			<td>9</td>
			<td>Very intelligent player for his age. Has great court vision and is terrific at running the offense and directing traffic.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Duron-Ball-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59219" /></td>
			<td>Duron Ball</td>
			<td>11</td>
			<td>Duron has good shooting ability on the catch or dribble. He has good shot selection and is disruptive on defense.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Derrick-Green-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59215" /></td>
			<td>Derrick Green</td>
			<td>12</td>
			<td>Derrick is an explosive offensive player who loves to attack the rim. Great athleticism and makes his teammates better.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Terrence Wonson</td>
			<td>9</td>
			<td>Terrence is a good driver, especially in transition. Has great length which he uses to his advantage on defense.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Montague-Wright-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59254" /></td>
			<td>Montaque Wright</td>
			<td></td>
			<td>Montaque is a very good slasher on offense and can finish around the rim.  Terrific on-ball defender.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Marcel-Thompson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59247" /></td>
			<td>Marcel Thompson</td>
			<td></td>
			<td>Very explosive offensive player, loves to push the ball in transition. Best attribute is his on-ball defense.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Juwaun Lucas</td>
			<td>9</td>
			<td>Juwaun plays hard on both ends of the court.  Can attack the gaps and is smart in the paint, good floater.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Eric-Thornton-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59222" /></td>
			<td>Eric Thorton</td>
			<td></td>
			<td>Eric likes to attack the rim and excels at finishing in transition. High energy player on defense, moves without the ball on offense.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Raekwon Harrod</td>
			<td>10</td>
			<td>Plays good on-ball defense. Good upside, always looking to get his teammates involved.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Robert-Wilson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59267" /></td>
			<td>Robert Wilson</td>
			<td>12</td>
			<td>Robert excels at shooting off the dribble. Works extremely hard and finds open teammates.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Fernando Cavallo</td>
			<td>12</td>
			<td>Fernando is terrific with the ball in his hands.  Works well in ball screens and makes good decisions. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Patrick-Dennin-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59262" /></td>
			<td>Patrick Dennin</td>
			<td>11</td>
			<td>Patrick showed that he was a terrific passer, could anticipate where his teammates would be. Does a good job of communicating with his teammates, good leader.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Alphonso-Barney-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59197" /></td>
			<td>Alphonso Barney</td>
			<td>9</td>
			<td>Alphonso has great upside.  Really athletic player and is terrific in pick &amp; rolls.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kendall-Jones-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59240" /></td>
			<td>Kendall Jones</td>
			<td></td>
			<td>Kendall has good handle and passes the ball well. Is a good teammate with great shooting ability.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Obi-Patrick-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59261" /></td>
			<td>Obi Patrick</td>
			<td></td>
			<td>Obi plays hard and is a strong player who can bully the defense to the rim. Terrific handle.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kamron-Chambers-Moore-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59239" /></td>
			<td>Kamron Chambers-Moore</td>
			<td></td>
			<td>Kamron runs the floor well and shows great patience in the post. Great help defender with his athleticism.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Dewayne-Ware-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59217" /></td>
			<td>Dewayne Ware</td>
			<td></td>
			<td>Dewayne has a high basketball IQ. Plays hard, good ball-handling ability and gets teammates involved.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Benjamin-Carter-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59200" /></td>
			<td>Benjamin Carter Jr.</td>
			<td>9</td>
			<td>Benjamin did a good job creating for teammates when he penetrated the gaps. Pushes the ball in transition.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Russell Smith</td>
			<td>10</td>
			<td>Russell does a good job getting open without the ball. Can shoot the ball well and understands the game well.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Elston-Howard-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59220" /></td>
			<td>Elston Howard</td>
			<td>12</td>
			<td>Elston is a quick guard with a quick first step. Terrific ball-handling ability and can shoot or pass when in the lane.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Gerald-Johnson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59223" /></td>
			<td>Gerald Johnson</td>
			<td>9</td>
			<td>Gerald has a really good first step and was always looking to attack the basket. Athletic player.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Nikolas-Hughes-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59258" /></td>
			<td>Nikolas Hughes</td>
			<td>11</td>
			<td>Nikolas is a good three point shooter and is a high energy player. Good Basketball IQ.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kenyan-Southers-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59242" /></td>
			<td>Kenyan Southers</td>
			<td>12</td>
			<td>Ability to get by defenders off the bounce. Excels in transition, can create for teammates.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Jordan Jones</td>
			<td></td>
			<td>Jordan finishes well above the rim. Aggressively attacks the offensive glass and is a rim-protector on defense.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Noah-Mendelsohn-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59260" /></td>
			<td>Noah Mendelsohn</td>
			<td>11</td>
			<td>Noah is a player that competes on every possession. Great understanding of the game and set shooter.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Nicholas-barnett-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59257" /></td>
			<td>Nicholas Barnett</td>
			<td>9</td>
			<td>Nicholas runs the floor well and makes good decisions. High Basketball IQ for his age.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jaylen-Wiggins-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59229" /></td>
			<td>Jaylen Wiggins</td>
			<td>8</td>
			<td>Jaylen works well in the open court, did a good job of finding open teammates. Plays with a confidence that his teammates fed off of.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Alexander-Kassol-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59196" /></td>
			<td>Alexander Kassolis</td>
			<td>11</td>
			<td>Runs floor well in transition and was very unselfish with the ball. Alexander makes great decisions with the ball.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Christopher-Thomas-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59207" /></td>
			<td>Christopher Thomas</td>
			<td>12</td>
			<td>Christopher moves the ball well to open teammates. High energy player who is a good teammate, very coachable.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Jonathan Jones</td>
			<td></td>
			<td>Jonathan is a high energy player, guarded extremely well 1-on-1. Very unselfish player.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kamau-Mitchell-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59238" /></td>
			<td>Kamau Mitchell</td>
			<td>9</td>
			<td>Kamau was terrific at finishing at the rim in transition. Good understanding of the game on both ends of the court.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Joey-ODwyer-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59231" /></td>
			<td>Joey O'Dwyer</td>
			<td>11</td>
			<td>Joey is a knock-down shooter who has a great feel for the game. Joey is always looking to make the extra pass and is a good teammate.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Michael-Speight-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59253" /></td>
			<td>Michael Speight</td>
			<td>10</td>
			<td>Michael is a good athlete who has the ability to score in transition. Ability to create his own shot and is a willing passer.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Michael-Gillis-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59252" /></td>
			<td>Michael Gillis</td>
			<td>11</td>
			<td>Michael is a physical player who play inside &amp; out. He is a terrific on-ball defender.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Maurice-Gentry-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59251" /></td>
			<td>Maurice Gentry</td>
			<td>11</td>
			<td>Maurice is a point guard with good court vision. He always looks to get his teammates involved.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jacob-Leggett-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59228" /></td>
			<td>Jacob Leggett</td>
			<td>9</td>
			<td>Jacob is an intelligent player. He has the ability shoot on the perimeter and drive to the basket. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Yamon-Robinson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59277" /></td>
			<td>Yamon Robinson</td>
			<td>10</td>
			<td>Yamon is a good on-ball defender who also excels at help defense. Real passion for the game, works extremely hard, coaches player.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Zion-Chase-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59280" /></td>
			<td>Zion Chase</td>
			<td>10</td>
			<td>Zion has good ball-handling ability &amp; high basketball IQ. Always looking to get others involved and makes good decisions.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Eric-Lipscomb-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59221" /></td>
			<td>Eric Lipscomb</td>
			<td>9</td>
			<td>Eric is a quick guard who excels in transition. Look for open teammate, great ball-handling ability.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jordan-Simmons-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59232" /></td>
			<td>Jordan Simmons</td>
			<td></td>
			<td>Jordan is a guard who will direct the offense. Very good in ball screens and makes plays for others.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Deantre Rawling</td>
			<td></td>
			<td>Deantre's motor and athleticism makes him a tough guard. Fights for every rebound and is a willing passer. Overall great intangibles.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Terrence-Gibbons-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59273" /></td>
			<td>Terrence Gibbons</td>
			<td>9</td>
			<td>Terrence is an excellent athlete with a very high ceiling. Gets good positioning when shot goes up and excellent ball-handler.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Isaiah-Wilmore-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59226" /></td>
			<td>Isaiah Wilmore</td>
			<td>11</td>
			<td>Isaiah's length and quickness makes him a tough player to guard. His athleticism also translates to the defensive end. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Amri-Allen-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59198" /></td>
			<td>Amri Allen</td>
			<td>11</td>
			<td>Amri is an athletic &amp; strong guard. He plays hard every possession and pushes the pace in transition.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Taye-Jones-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59272" /></td>
			<td>Taye Jones</td>
			<td>10</td>
			<td>Taye's ball-handling ability makes him dangerous in the open court. Good set shooter.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Brent-Pegram-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59203" /></td>
			<td>Brent Pegram</td>
			<td>10</td>
			<td>Brent is a player with good intangibles. Intelligent passer with good dribbling ability. Can hit the open shot.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Isaiah-Mack-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59224" /></td>
			<td>Isaiah Mack</td>
			<td>10</td>
			<td>Combo guard with a high basketball IQ. Excels when in transition.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Darius-Dangerfield-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59210" /></td>
			<td>Darius Dangerfield</td>
			<td>10</td>
			<td>Darius is a true point guard who understands the position. Communicates to his teammates and controls the pace of the game. Quickness allows him to create.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Timothy-Savoy-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59275" /></td>
			<td>Timothy Savoy Jr.</td>
			<td>10</td>
			<td>Terrific on-ball defender who created a lot of deflections and turnovers. Good job of rebounding &amp; out-letting for easy buckets</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Zakei-Newsome-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59278" /></td>
			<td>Za'kei Newsome</td>
			<td>10</td>
			<td>Za'kei is a very unselfish player. Great court vision, found open teammates in transition &amp; half-court.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Darrell-Gray-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59211" /></td>
			<td>Darrell Gray</td>
			<td>11</td>
			<td>Darrell did a good job in on-ball defense of not fouling, keeping active hands &amp; good footwork. Finishes well at the rim.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Terrell Flemington</td>
			<td></td>
			<td>Terell is terrific in the open court. Uses his length on defense to get into passing lanes.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jack-Tempchin-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59227" /></td>
			<td>Jack Tempchin</td>
			<td>11</td>
			<td>Jack is a smart &amp; skilled player. Knows how to use his size to his advantage.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Cameron-Briggs-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59204" /></td>
			<td>Cameron Briggs</td>
			<td>9</td>
			<td>Cameron always finds open teammates in the half-court. Competes at a very high level.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Davante Wright</td>
			<td></td>
			<td>Davante's best assets are his ball-handling &amp; passing ability. Very unselfish player.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/William-Miller-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59276" /></td>
			<td>Will Miller</td>
			<td></td>
			<td>Will has strong handles and shows the ability to create his own shot. He is an athletic player who has a good feel for the game.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Keyon-Boykin-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59244" /></td>
			<td>Keyon Boykin</td>
			<td></td>
			<td>Keyon is an explosive player in transition who can also drive to the rim in the half-court. Takes a lot of pride in his on-ball defense.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Armond-Edmonds-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59199" /></td>
			<td>Armond Edmonds</td>
			<td>10</td>
			<td>Armond is a quick guard who can get into the lane. Great passer, especially in transition.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Isaiah-Palmer-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59225" /></td>
			<td>Isaiah Palmer</td>
			<td>10</td>
			<td>Isaiah is a point guard who excels in his on-ball defense. Very good at penetrating the gaps and kicking out to open teammates.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Chauncey-Smith-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59205" /></td>
			<td>Chauncey Smith</td>
			<td>9</td>
			<td>Chauncey is a young player who plays with a lot of energy. Good defender who is physical on the glass.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Daniel-Brown-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59209" /></td>
			<td>Daniel Brown</td>
			<td>10</td>
			<td>Daniel is a coaches player. Hustles and does all the things that might not show up on the stat sheet. Good passer and knows his rotations on defense.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Joshua-Davis-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59234" /></td>
			<td>Joshua Davis</td>
			<td>11</td>
			<td>Joshua is an athlete who gives terrific effort on defense. Great closeouts and gets a lot of blocked shots. Plays well inside and rebounds the ball.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Shekinah-Mondoua-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59271" /></td>
			<td>Shekinah Mondoua</td>
			<td>11</td>
			<td>Shekinah has a very developed frame and uses it to his advantage. Can often bully opponents on the glass.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Kamron Davis</td>
			<td></td>
			<td>Kamron is a player who leads by example. High energy player with a excellent basketball IQ.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Maurice-Carroll-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59250" /></td>
			<td>Maurice Caroll</td>
			<td></td>
			<td>Maurice is an athlete who times shots well on defense, gets a lot of blocks. Physical rebounder with upside.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Marcellus-Carroll-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59248" /></td>
			<td>Marcellus Carroll</td>
			<td></td>
			<td>Marcellus is an athlete who is a rim-protector. Good at seeking &amp; finding rebounds.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Connor-Walsh-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59208" /></td>
			<td>Connor Walsh</td>
			<td></td>
			<td>Connor is a high IQ player who makes a lot of plays for his teammates. Good shooter off the catch and the bounce.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Brean-Gannon-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59202" /></td>
			<td>Brean Gannon</td>
			<td></td>
			<td>Brean is a strong player who rebounds the ball well.  Excels attacking the rim and finishing around the basket.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Noah-Carter-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59259" /></td>
			<td>Noah Carter</td>
			<td>9</td>
			<td>Noah is a good catch &amp; shoot player. Plays above his size rebounding the ball and finds open teammates.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jordan-Williams-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59233" /></td>
			<td>Jordan Williams</td>
			<td>11</td>
			<td>Jordan is a slasher who can get to the rim. Good vision when he drives.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Roy-Sweets-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59270" /></td>
			<td>Roy Sweets</td>
			<td>12</td>
			<td>Roy plays above his size rebounding the ball. Showed range shooting the ball out to the 3.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Reyquan-Brown-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59265" /></td>
			<td>Reyquan Brown</td>
			<td>9</td>
			<td>Reyquan is a young player with a lot of potential. Always in a stance on defense and has a good basketball IQ.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/AJ-Banks-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59195" /></td>
			<td>AJ Banks</td>
			<td>11</td>
			<td>AJ is player who can shoot from the perimeter consistently. Battles with taller guys for rebounds.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Christian-Anderson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59206" /></td>
			<td>Christian Anderson</td>
			<td>12</td>
			<td>Christian is an athlete and a rebounder who plays with a lot of energy. Finished well inside.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Lamar Mitchell</td>
			<td></td>
			<td>Lamar is a slasher who gets to the rim well. Very good rebounder and defender.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Zhuri-Nisseau-Buy-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59279" /></td>
			<td>Zhuri Nisseau-Buy</td>
			<td></td>
			<td>Zhuri is a good defender that works extremely hard on the court. He moves the ball very well on offense.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Rashad-Stokes-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59264" /></td>
			<td>Rashad Stokes</td>
			<td></td>
			<td>Rashad plays above his size rebounding the basketball.  Always out hustles his opponent, high basketball IQ.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Justin-Patterson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59235" /></td>
			<td>Justin Patterson</td>
			<td></td>
			<td>Justin is a player who has solid post moves. Rebounds well, especially on the offensive glass. Good motor.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Demetrius-Barnes-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59214" /></td>
			<td>Demetrius Barnes</td>
			<td>9</td>
			<td>Very good basketball tools for his age. Can attack in transition and in half-court. Passes ball well, chance to be a real good player.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Diallo-Young-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59218" /></td>
			<td>Diallo Young</td>
			<td>12</td>
			<td>Diallo is a strong guard with good handle. Excels at getting to the basket.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Quintin-Harris-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59263" /></td>
			<td>Quintin Harris</td>
			<td>11</td>
			<td>Quintin is a good spot up shooter. Handel's the ball well and uses screens effectively.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Juwan Moore</td>
			<td>11</td>
			<td>Juwan is an athletic player who runs the floor well. Crashes the glass on the offensive end, works extremely hard on defense.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Londell-Owens-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59245" /></td>
			<td>Londell Owens Jr</td>
			<td>9</td>
			<td>Londell is an athletic player who is creative getting to the basket.  Likes to run and finishes well in transition.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Darron-Barnes-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59213" /></td>
			<td>Darron Barnes</td>
			<td>10</td>
			<td>Darron has good ball-handling ability for his size. Strong, physical player who is tough to box out.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Mylon-Richardson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59256" /></td>
			<td>Mylan Richardson</td>
			<td></td>
			<td>Mylan plays very well on defense and does not shy away from contact. Boxes out and gets good positioning for rebounds.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Brandon-Bradsher-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59201" /></td>
			<td>Brandon Bradsher</td>
			<td></td>
			<td>Brandon passes the ball very well in traffic. Able to shoot consistently over closeouts.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Mark-Williams-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59249" /></td>
			<td>Mark Williams</td>
			<td></td>
			<td>Mark is a good team player who excels in transition. High Basketball IQ.</td>
			<td></td>
		</tr>
	</tbody>
</table>
