<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Name </td>
			<td>Year</td>
			<td>Evaluation</td>
		</tr>
		<tr>
			<td>Trevon Lucas</td>
			<td>2017
Urbana</td>
			<td>Strengths: Very quick first step which helps him get to the rim a lot. Finishes strong with contact. Very active defender.

Weaknesses: Needs to talk more on the defensive side to have a real impact on both ends.</td>
		</tr>
		<tr>
			<td>Trayvon Wright</td>
			<td>2018</td>
			<td>Strengths: Plays with a ton of effort. Great job of getting to the line. Always getting his teammates involved.

Weaknesses: Needs to crash the boards more shows ability to be great rebounder.</td>
		</tr>
		<tr>
			<td>Ronnie Randolph III</td>
			<td>2019
Aberdeen</td>
			<td>Strengths: Very high motor guard always looking to push the ball and create for his team. Finds the open man consistently and can finish at the rim.

Weaknesses: Will be more of a threat as a scorer as his range on jumper improves.</td>
		</tr>
		<tr>
			<td>Kyle Wallace </td>
			<td>2018</td>
			<td>Strengths: Very solid guard with great court awareness. Knew when to make the right play rather than force something. Good finisher around the rim.

Weaknesses: Needs to communicate more to become complete guard.</td>
		</tr>
		<tr>
			<td>Kendall Harmon</td>
			<td>2018
Severn School</td>
			<td>Strengths: Shows good quickness and ability to get into the lane and find teammates. Has good strength and uses it to finish.

Weaknesses: Has good shooting touch needs to work on shooting off the catch to become great shooter.</td>
		</tr>
		<tr>
			<td>Jordan McMillion</td>
			<td>2018
Susquehannock</td>
			<td>Strengths: Plays with a lot of energy on both ends. Guard with tremendous vision always finds the open man. Can knock down the open shots.

Weaknesses: Needs to improve on strength so he can finish with contact and protect the ball.</td>
		</tr>
		<tr>
			<td>Jason Pentsil</td>
			<td>2017
Franklin</td>
			<td>Strengths: great catch and shoot player from 15ft. Does a job at facing up on offense to see how play develops and doesn't force  plays.

Weaknesses: Needs to communicate better especially with his good feel for the game.</td>
		</tr>
		<tr>
			<td>Don Green</td>
			<td>2019</td>
			<td>Strengths: Great size and length. Can shoot it from 3pt and mid range. Great passer his head is always up.

Weaknesses: Shows the ability to be a great defender just needs to be more aware.</td>
		</tr>
		<tr>
			<td>Ayo Awobajo</td>
			<td>2018
Bowie</td>
			<td>Strengths: Athletic guard who can get to the rim and finish with contact. Very fast and looks to push the ball in transition.

Weaknesses: Needs to concentrate on form shooting to perfect his shot.</td>
		</tr>
		<tr>
			<td>Alex Horan</td>
			<td>2019
Paul VI</td>
			<td>Strengths: Plays hard from start to finish. Excellent defender and communicator. Makes the right play majority of the time.

Weaknesses: Game will continue to grow as his jump shot improves. </td>
		</tr>
		<tr>
			<td> Denagelo Tull</td>
			<td>2018
St. Mary's Ryken</td>
			<td>Strengths: Strong steady guard, who always makes the right play. Can make open shots from the perimeter.

Weakness: Once his ability to score inside the paint matches his ability to find teammates, he will become a complete offensive player</td>
		</tr>
		<tr>
			<td> Montaz McCray</td>
			<td>2017
</td>
			<td>Strengths: Solid guard that can get to the rim a finish. Shoots the ball well from mid range and behind the arc. Showed a ton of effort on both ends.

Weaknesses: Tends to be over aggressive at times. Needs to let the game come to him more.</td>
		</tr>
		<tr>
			<td>Miles Gally</td>
			<td>2019
Richard Montgomery</td>
			<td>Strengths: Does a good job of getting himself in position on the block. Great hands and awesome touch around the rim.

Weaknesses: Ballhandling needs to be worked on. Which will make him more confident with ball in hands.</td>
		</tr>
		<tr>
			<td>Alex Sebastiani</td>
			<td>2017
River Dell</td>
			<td>Strengths: Nice sized wing with ability to score the ball inside and out. Plays hard on both ends.

Weaknesses: Needs to improve foot speed to bring entire game to the next level.</td>
		</tr>
		<tr>
			<td> Andrew Sawyers</td>
			<td>2018</td>
			<td>Strengths: Solid team player who gets it done at both ends. Scores at will and can be a lockdown defender.

Weaknesses: Needs to work on ball handling to become more efficient on offense.</td>
		</tr>
		<tr>
			<td> James Dunlop</td>
			<td>2017
Paul VI</td>
			<td>Strengths: Shows good fundamentals, nice shooting touch and ability to use his height as an advantage.

Weaknesses: Must work on improving foot speed and strength to become dominant down low.</td>
		</tr>
		<tr>
			<td> Amir Lawrence</td>
			<td>2017
West Lake</td>
			<td>Strengths: Talented lefty combo guard. Shows ability to knock down shots off catch and dribble. Gets to the rim and foul line often.

Weaknesses: Needs to improve on making the correct pass once he gets in the paint.</td>
		</tr>
		<tr>
			<td> Jalen Washington</td>
			<td>2017
Tuscarora</td>
			<td>Strengths: Excellent shooter, can handle in traffic and makes the correct pass. Can score a lot of ways and will score when defended well.

Weaknesses: Needs to improve body control and shot selection and let the game come to him.</td>
		</tr>
		<tr>
			<td> Zhuri Nisseau-Bey</td>
			<td>2017
Chesapeake</td>
			<td>Strengths: Real floor general with great playmaking ability. Can finish at the rim with contact. Also very active defender.

Weaknesses: Needs to develop more of a jumper and that will turn him into an overall scorer.</td>
		</tr>
		<tr>
			<td>Noah Webster</td>
			<td>2017
Saint Vincent Pallotti</td>
			<td>Strengths: Shows ability to get to the basket and create scoring opportunities. Can stretch the floor and knock down the 3.

Weaknesses: Needs to improve ability to finish at the basket and has to dribble with more of a meaning.</td>
		</tr>
		<tr>
			<td> Dj Cooper</td>
			<td>2017</td>
			<td>Strengths: Long athletic wing with great ability to get to the rim. Has a good feel for the game and is a very aggressive defender.

Weaknesses: Will become more of a threat on the offensive side as the shot continues to improve.</td>
		</tr>
		<tr>
			<td> Brandon Smith</td>
			<td>2019</td>
			<td>Strengths: Quickness is his biggest strength which he uses well to score and to defend. Can knock down the open shot consistently. 

Weaknesses: Ball handling needs to improve which will bring his game to the next level.</td>
		</tr>
		<tr>
			<td> Cameron Revelle</td>
			<td>2018
Westlake</td>
			<td>Strengths: Shows ability to get the rim and has a very high motor. Very active on the defensive end.

Weaknesses: To bring game to the next level needs to keep improving his jump shot.</td>
		</tr>
		<tr>
			<td> Lameek Lumsden</td>
			<td>2018
Northwest</td>
			<td>Strengths: Solid post player. Ability to make the 15 footer and drive to the basket. Strong rebounder. 

Weaknesses: Should work on his back to the basket game and focus on using his left hand while driving to the basket. </td>
		</tr>
		<tr>
			<td>Charles Duckett</td>
			<td>2017
Archbishop Curley</td>
			<td>Strengths: Long guard with a strong handle. Has a very good mid-range shot.

Weaknesses: Needs to focus on being more aggressive on both ends of the floor. </td>
		</tr>
		<tr>
			<td>Adrian Thomas</td>
			<td>2018
Northwest</td>
			<td>Strengths: Guard with good mid-range shooting skills. Great at driving and kicking to his teammates. His athleticism allows him to be a great defender. 

Weaknesses: Needs to work on finishes around the rim. </td>
		</tr>
		<tr>
			<td> Chase Drew</td>
			<td>2018
Dulaney</td>
			<td>Strengths: Very good shooter. An athletic player with a high IQ. 

Weaknesses: Needs to focus on being great at a break down move to get by his defender. </td>
		</tr>
		<tr>
			<td>Damian Chong Qui</td>
			<td>2017
McDonogh</td>
			<td>Strengths: True point guard with great vision and instincts. Can both drive and hit the open 3 point shot. Consistently tries to get teammates involved. 

Weaknesses: Needs to focus on not over dribbling and making the next available pass. </td>
		</tr>
		<tr>
			<td> Justin Lewis</td>
			<td>2020
Calvert Hall</td>
			<td>Strengths: Athletic, big wing. Has great court vision and can make the open shot. 

Weaknesses: Should focus on consistently pushing the ball and running the floor. </td>
		</tr>
		<tr>
			<td> John Miller</td>
			<td>2017
Mercersburg Academy</td>
			<td>Strengths: Strong point guard. Good decision maker on the break. Can hit the open shot. 

Weaknesses: Can focus on ball handling skills in order to create driving opportunities. </td>
		</tr>
		<tr>
			<td>Ryheem Irving</td>
			<td>2019
Pikesville High</td>
			<td>Strengths: Strong guard who plays very hard. Very coachable and attentive. 

Weaknesses: Can improve his on-ball defending and focus on keeping players in front of him.  </td>
		</tr>
		<tr>
			<td> Tyler Johnson</td>
			<td>2019
Mcdonogh</td>
			<td>Strengths: Solid shooting guard and can consistently shoot the 3pt shot. 

Weaknesses: Needs to focus on staying low on defense and keeping opponents in front of him. </td>
		</tr>
		<tr>
			<td>Carlos Austin</td>
			<td>2017
Mercersburg Academy</td>
			<td>Strengths: Great defender and a true team player. Always looking to push the ball up the floor. 

Weaknesses: Should focus on improving his ball handling skills and shooting consistency. </td>
		</tr>
		<tr>
			<td> Nate Barnes</td>
			<td>2018
Dulaney</td>
			<td>Strengths: Solid wing capable of running the floor, defending, and making shots, including the 3pt shot. A very hard worker. 

Weaknesses: Needs to improve his ball handling skills in order to create scoring opportunities. Can focus on his overall shooting consistency. </td>
		</tr>
		<tr>
			<td> Miles Brown</td>
			<td>2018
Pikesville Senior</td>
			<td>Strengths: Long wing with solid defending skills. A very active rebounder. 

Weaknesses: Should focus on his ball handling skills. </td>
		</tr>
		<tr>
			<td>Marcus Dockery</td>
			<td>2020
Bishop Ireton</td>
			<td>Strengths: Good decision maker. Strong ball handling skills which allows him to make plays for both himself and his teammates. 

Weaknesses: Should focus on developing a jump shot while becoming a more offensive minded player. </td>
		</tr>
		<tr>
			<td> Kobe Colston</td>
			<td>2017
James Hubert Blake</td>
			<td>Strengths: Solid combo guard who is very quick with the ball in his hands. Crafty playmaker in the paint. 

Weaknesses: Can improve his offensive game by adding a consistent jump shot. </td>
		</tr>
		<tr>
			<td>Cole Harshman</td>
			<td>2017
Dulaney</td>
			<td>Strengths: Long, crafty wing. Has shown the ability to both shoot mid range shots and play off of his shot fake and get to the rim. 

Weaknesses: Can focus on crafty finishes at the rim. </td>
		</tr>
		<tr>
			<td> Sammy Carter</td>
			<td>2020
Indian Creek</td>
			<td>Strengths: Guard with good basketball instincts. Has a solid 3 pt show and 3 pt range. 

Weaknesses: Can improve his overall strength and focus on creating scoring opportunities for himself. </td>
		</tr>
		<tr>
			<td> Russell James</td>
			<td></td>
			<td>Strengths: Physical, undersized forward that battles on both the defensive end and on the boards. Has the ability to finish through contact. 

Weaknesses: In order to play as a wing, needs to improve his outside shooting ability. </td>
		</tr>
		<tr>
			<td> Aaron Kim</td>
			<td>2017
Flint Hill</td>
			<td>Strengths: Quick point guard with a high IQ. Strong basketball instincts and demonstrates qualities of a floor general. 

Weaknesses: Can focus on his jump shot which will improve his offensive game. </td>
		</tr>
		<tr>
			<td>Cameron Amoruso</td>
			<td>2019
Dulaney</td>
			<td>Strengths: Guard with solid ball handling skills. Able to create shots for himself and makes smart decision on the court. 

Weaknesses: Needs to focus on keeping players in front of him on the defensive end. </td>
		</tr>
		<tr>
			<td> Steven Parker</td>
			<td>2018
Lake Clifton</td>
			<td>Strengths: Strong driver to the basket and is a solid on ball defender. 

Weaknesses: Needs to continue to work on his jump shot. </td>
		</tr>
		<tr>
			<td>Stevynjamaad Hawkins</td>
			<td>2016
Christiana Cecil CC </td>
			<td>Strengths: Combo player who can play wing or post. An athletic slasher who is capable of finishing in multiple ways and is active on the glass. 

Weaknesses: Can focus on extending his shooting  range to fill out his offensive game. </td>
		</tr>
		<tr>
			<td> Kyndle Jones</td>
			<td>2017
Dulaney</td>
			<td>Strengths: Good shooter who can also attack the lane at will. 

Weaknesses: Can focus on better shot selection. </td>
		</tr>
		<tr>
			<td>Sean O'Toole</td>
			<td>2018</td>
			<td>Strengths: Quick guard who got his teammates involved. Capable of making the open shot and plays with great effort. 

Weaknesses: Can improve his ball handling skills. </td>
		</tr>
		<tr>
			<td>Kevin Sharp</td>
			<td>2018
Dulaney</td>
			<td>Strengths: Great communicator on the floor. Runs the floor well and uses his length to alter shots. 

Weaknesses: Kevin needs to work on moving without the ball. This would create more opportunities for both himself and his teammates. </td>
		</tr>
		<tr>
			<td>Dylin Borden</td>
			<td>2019
Annapolis Area Christian</td>
			<td>Strengths: Solid and confident ball handler and shooter. Gets teammates involved. 

Weaknesses: Needs to increase physical strength and range on his jump shot.  </td>
		</tr>
		<tr>
			<td>Cameron Davis</td>
			<td>2018
Chesapeke</td>
			<td>Strengths: A true team player, always getting his teammates involved. Good court vision and makes the right play. Hustle player. 

Weaknesses: Needs to improve his defense by focusing on his lateral quickness. </td>
		</tr>
		<tr>
			<td>AJ Richardson</td>
			<td>2017
Dulaney</td>
			<td>Strengths: Guard with good court vision and passing ability. Has the ability to knock down the open jumper. 

Weaknesses: In order to expand his offensive game, AJ can improve his driving ability. </td>
		</tr>
		<tr>
			<td> Lamont Sanders</td>
			<td>2017
Dulaney</td>
			<td>Strengths: Wing with a great first step. Good finisher at the rim and rebounds well. 

Weaknesses: Can improve his ball handling skills by keeping his eyes up at all times. </td>
		</tr>
		<tr>
			<td>Ryhlee Matthews</td>
			<td>2019
Sussex Central</td>
			<td>Strengths: Competitive, active player on both ends of the court. Strong ball handling skills enabling him to make plays for both himself and his teammates. 

Weaknesses: Should focus on developing his offensive game, including a consistent jump shot. </td>
		</tr>
		<tr>
			<td>Eric Davenport</td>
			<td>2019</td>
			<td>Strengths: Good mid-range shooter and very active player on the defensive end. 

Weaknesses: Needs to focus on making the simple play, rather than making the difficult pass. </td>
		</tr>
		<tr>
			<td> Emanuel Ludd</td>
			<td>2019
</td>
			<td>Strengths: Solid guard with  good ball handling skills. A strong finisher who also has a very quick release on his jumper. Playmaker for himself and teammates. 

Weaknesses: Focus on having a more consistent jump shot. </td>
		</tr>
		<tr>
			<td>Brian Burns</td>
			<td>2019
Haddon Township</td>
			<td>Strengths: An all around strong player. A utility player who rebounds, hustles, and cuts hard. Good finisher around the rim and an excellent communicator. 

Weaknesses: Should focus on using his right hand more often. </td>
		</tr>
		<tr>
			<td> Owura Berko</td>
			<td>2019
Severn</td>
			<td>Strengths: Strong guard and good defender. Very good in the open court. 

Weaknesses: Can work on his shooting ability. </td>
		</tr>
		<tr>
			<td> Jalen Curtis</td>
			<td></td>
			<td>Strengths: A young player with good length and a solid skill set. Shows strong ball handling skills. 

Weaknesses: Can continue to work on his jump shot. </td>
		</tr>
		<tr>
			<td> David Harris</td>
			<td>2019
Bard</td>
			<td>Strengths: Solid point guard with the ability to run the team offensively. Good defender. 

Weaknesses: Can improve his shooting ability. </td>
		</tr>
		<tr>
			<td>Cole Hanin</td>
			<td>2020</td>
			<td>Strengths: Solid point guard with great vision skills. Great shooter. 

Weaknesses: Can improve his defensive tendencies. </td>
		</tr>
		<tr>
			<td>Davis Long</td>
			<td>2018
Sherwood</td>
			<td>Strengths: Shooting guard with a great catch and shoot jump shot. Actively pursues rebounds on both ends of the floor. 

Weaknesses: Can improve his slashing ability in order to counter his jump shot. </td>
		</tr>
		<tr>
			<td> Jeremiah Woodland</td>
			<td>2020
DeMatha Catholic</td>
			<td>Strengths: Great offensive player at moving without the ball. Has the ability to guard in the full court. 

Weaknesses: Will improve his offensive game by being more aggressive and looking for opportunities. </td>
		</tr>
		<tr>
			<td> Dominic Webb</td>
			<td>2017
Harford Tech</td>
			<td>Strengths: Creative ball handler with good court vision. Pushes the ball up the court. Strong slasher to the basket. 

Weaknesses: Can refine his offensive game by including a solid mid-range jump shot. </td>
		</tr>
		<tr>
			<td> Zach Tucker</td>
			<td>2017
Century</td>
			<td>Strengths: True team player who is always looking for the open man and creating opportunities for both himself and his teammates. Solid defender. 

Weaknesses: Can improve his offensive game by including a knock down jumper. </td>
		</tr>
		<tr>
			<td>Brandon Held</td>
			<td>2019
Marriotts Ridge</td>
			<td>Strengths: A very good catch and shoot player who always finds the open teammate. 

Weaknesses: Can improve his defense by focusing on defensive principles and rotating early.  </td>
		</tr>
		<tr>
			<td> John Bates</td>
			<td>2017
Alexis I Dupont I</td>
			<td>Strengths: Strong lefty slasher/scorer even in traffic. Uses his athleticism to defend his opponents. 

Weaknesses: Should focus on improving his ball handling skills and becoming aware of the entire court. </td>
		</tr>
		<tr>
			<td>Darian Callaway</td>
			<td>2019
Pallotti</td>
			<td>Strengths: A bigger guard who shows a great first step in getting to the rim. 

Weaknesses: Can improve on court communication skills and off ball defense. </td>
		</tr>
		<tr>
			<td> Craig Morrow</td>
			<td>2018
Gwynn Park</td>
			<td>Strengths: A great catch and shoot shooter and has great footwork. Strong understanding of offensive principles and finding the open man. 

Weaknesses: Can improve his on court communication skills and lateral defense in order to keep opponents in front of him. </td>
		</tr>
		<tr>
			<td>Najee Joyner</td>
			<td>2019
Burlington Township</td>
			<td>Strengths: A young forward with good length and mobility. Has shown the ability to known down the mid-range jumper. 

Weaknesses: Adding physical strength will help improve his back to the basket game. </td>
		</tr>
		<tr>
			<td> Deon Batts Jr. </td>
			<td>2019
Thomasdale High</td>
			<td>Strengths: An athletic wing who plays hard in every play. 

Weaknesses: Needs to focus on strong drives to the basket. </td>
		</tr>
		<tr>
			<td> Josh Mack</td>
			<td>2018
St. Maria Goretti</td>
			<td>Strengths: Demonstrates the ability to score the basketball by utilizing strong vision and court skills. 

Weaknesses: Josh should focus on his knock down jumper in order to complete his skill set. </td>
		</tr>
		<tr>
			<td>Angelo Slaugter</td>
			<td>2018
Capital Christian</td>
			<td>Strengths: A long forward with strong shot blocking capabilities. Very active on the boards. 

Weaknesses: Can improve his post moves and ball handling skills. </td>
		</tr>
		<tr>
			<td> Troy Smoot</td>
			<td>2017
Glen Burnie</td>
			<td>Strengths: Shows a good jump shot. Plays relentless defense and hustles on every play. Pushes the ball up the court nicely. 

Weaknesses: Needs to focus on a consistent jump shot in order to keep defenders honest. </td>
		</tr>
		<tr>
			<td> Mark Suchy[/caption]</td>
			<td>2019
Hereford</td>
			<td>Strengths: A skilled forward who is capable of grabbing a defensive rebound and starting the break himself. Has a good sense of defensive principles. 

Weaknesses: Can become a more aggressive player offensively in order to showcase his skill set. </td>
		</tr>
		<tr>
			<td>Kenneth Tyree Jr.</td>
			<td>2018
Friendship Chamberlin Charter</td>
			<td>Strengths: A quick guard with good athleticism for his size. Shows the ability to get to the rim. 

Weaknesses: Needs to focus on finishing around the basket. </td>
		</tr>
		<tr>
			<td> Jalen Jacox</td>
			<td>2017
Franklin</td>
			<td>Strengths: A strong combo guard with good court vision and strong passing skills. Demonstrates a solid ability in getting to the rim. 

Weaknesses: Can improve his shooting ability in order to create more driving opportunities for himself and teammates. </td>
		</tr>
		<tr>
			<td> Samuel Williams</td>
			<td>2017
Saint Vincent Pallotti</td>
			<td>Strengths: A quick guard with good court vision. Demonstrates a great job of getting into the lane. 

Weaknesses: Should focus on change of direction and speed. Can work on becoming a stronger player. </td>
		</tr>
		<tr>
			<td>Darian Shaw</td>
			<td>2017
North Stafford</td>
			<td>Strengths: An athletic player who does a great job using his body to finish through contact with either hand. A relentless rebounder on both ends of the floor. 

Weaknesses: Can be out of control at times and needs to slow down and let the play develop. </td>
		</tr>
		<tr>
			<td> Jacob Yingling</td>
			<td>2018
Fairfield Area</td>
			<td>Strengths: A hustle player who has good vision of the court and demonstrates the ability to hit open shots. 

Weaknesses: Can improve his ball handling ability and overall strength. </td>
		</tr>
		<tr>
			<td>Marlon Parrott Jr. </td>
			<td>2018
Foundation Collegiate Academy</td>
			<td>Strengths: A good shooter who gets his feet set. Uses his body well to finish around the rim. 

Weaknesses: Can continue to improve his right hand and keep a consistent effort. </td>
		</tr>
		<tr>
			<td>Justin Lohneis</td>
			<td>2017
Loudoun County</td>
			<td>Strengths: Plays with a lot of effort. Shows a great show from behind the arc along with great footwork. 

Weaknesses: Needs to improve his defense by keeping his man in front of him. </td>
		</tr>
		<tr>
			<td>Donnell Loud Jr</td>
			<td>2019
Kenwood</td>
			<td>Strengths: A long, athletic post showing good touch around the rim with soft hands. 

Weaknesses: Should focus on raising his level of comfort within the post and becoming a stronger player overall. </td>
		</tr>
		<tr>
			<td> Deion Booker</td>
			<td>2017
Archbishop Curley</td>
			<td>Strengths: Strong player on both ends of the floor. Uses his athleticism to his advantage through strong rebounding capabilities. Shows a nice jumper. 

Weaknesses: Can improve his jump shot in order to be a more consistent shooter.  </td>
		</tr>
		<tr>
			<td>Kamron Chambers-Moore</td>
			<td>2017
Archbishop Curley</td>
			<td>Strengths: Plays hard on both ends of the court and focuses on the team. Has shown the ability to score. 

Weaknesses: Can improve his jump shot and ball handling. </td>
		</tr>
		<tr>
			<td>Diven Wallington</td>
			<td>2018
Clarksburg</td>
			<td>Strengths: A quick point guard with the ability to make hustle plays and keep working hard. 

Weaknesses: Can expand his game by improving his shooting ability. </td>
		</tr>
		<tr>
			<td> James Fields</td>
			<td>2017 
Loch Raven High School</td>
			<td>Strengths: A solid off guard demonstrating a strong work ethic. Is very active on the defensive end. 

Weaknesses: By becoming stronger, James can develop a consistent jump shot. </td>
		</tr>
		<tr>
			<td>Rayquan Brown</td>
			<td></td>
			<td>Strengths: Has good length and uses his athletic ability to alter shots, grab rebounds, and run the floor. Is a solid finisher around the rim. 

Weaknesses: Needs to focus on his passing and catching ability. </td>
		</tr>
		<tr>
			<td>Donovan Catchings </td>
			<td>2017 
Dallastown Area
</td>
			<td>Strengths: Is a strong PG with the ability to drive strongly to the basket, and either score for himself or distribute the basketball. Also has the ability to hit 3's. 

Weaknesses: Can continue to improve his ball handling skills and athleticism in order to become a stronger finisher at the rim. 

</td>
		</tr>
		<tr>
			<td> Jakai Jones</td>
			<td>2017
Cristo Rey</td>
			<td>Strengths: Does a good job at getting teammates involved. Great feel for the game and doesn't force it. Great communicator on defense and always hustles.

Weaknesses: Needs to become more aware on defense to become great defender.</td>
		</tr>
		<tr>
			<td>Cameron Watts</td>
			<td>2019
The Boys Latin School of Maryland</td>
			<td>Strengths: Very smart shooting guard with ability to knock down jumper off the pass and dribble.

Weaknesses: As the ball handling improves he will only be adding another huge dimension to his game.</td>
		</tr>
		<tr>
			<td> Avion Robinson</td>
			<td>2019
Old Mill Senior High School</td>
			<td>Strengths: Strong combo guard with great communication. Greatest attribute is his ability to get to the rim.

Weaknesses: He is a capable shooter but could work on mid range game to keep improving.</td>
		</tr>
		<tr>
			<td>Drew Greene</td>
			<td>2019
Chapel Hill</td>
			<td>Strengths: Great athletic ability with very big motor. Crafty finisher and very unselfish, always getting teammates involved.

Weaknesses: If he concentrates on defense has ability to be shutdown defender with his athleticism.</td>
		</tr>
		<tr>
			<td> Tavion Britt</td>
			<td>2017
Century</td>
			<td>Strengths: Strong wing player that finishes well at the rim, and has excellent mid range game.

Weaknesses: Needs to improve his handle and consistency of 3 point shot to keep bringing his game to the next level.</td>
		</tr>
		<tr>
			<td> Jermaine Hall</td>
			<td>2018
Severn School</td>
			<td>Strengths: Very athletic wing with a good feel for the game. Active rebounder and aggressive defender. Mid range jumper is consistent.

Weaknesses: As shooting range improves alongside a stronger handle his game will only elevate. </td>
		</tr>
		<tr>
			<td> Damon Hilton</td>
			<td>2020</td>
			<td>Strengths: Plays very hard all the time. Moves well without the ball and can hit open shots. Always guards his man tight.

Weaknesses: Needs to focus on shot. Once he gets the form down and works on getting game like shots he will be ready to bring game to next level.</td>
		</tr>
		<tr>
			<td> Jamil Jones</td>
			<td>2018
Surrattsville</td>
			<td>Strengths: Tall long guard who can get to the rim. Plays with a great pace.

Weaknesses: As his shot improves he will continue to grow as a player.</td>
		</tr>
		<tr>
			<td> Johnathan Tisdale</td>
			<td>2018
Magruder</td>
			<td>Strengths: Very solid combo guard with ability to get into pain score and create for his teammates.

Weaknesses: Can improve on shooting ability to bring his game to the next level.</td>
		</tr>
		<tr>
			<td> Shawn Slade</td>
			<td>2018
Gwynn Park
</td>
			<td>Strengths: Great length and size with great touch from deep and can guard multiple positions and very good communicator.

Weaknesses: Needs to concentrate on making the easy play instead of forcing.</td>
		</tr>
		<tr>
			<td>Tyran Crawford</td>
			<td>2017
Seneca Valley</td>
			<td>Strengths: Doesn't force shots and lets the game come to him. Strong guard and great on the defensive end.

Weaknesses: As shooting improves his game will become stronger.</td>
		</tr>
		<tr>
			<td>Savione Barnes</td>
			<td>2017
Old Mill</td>
			<td>Strengths: Excellent slashing combo guard. Does a good job of getting into the paint  and making plays.

Weaknesses: Game will improve with work on his jumper.</td>
		</tr>
		<tr>
			<td>Robert Gordon</td>
			<td>2018
Hammond</td>
			<td>Strengths: Lefty combo guard with great strength getting to the rim  and capable of knocking down the 3.

Weaknesses: Once he becomes a consistent shooter off the bounce he will elevate his game.</td>
		</tr>
		<tr>
			<td>Deras Washington</td>
			<td>2017
Franklin</td>
			<td>Strengths: Plays well with team concept and can handle the ball well.

Weaknesses: Needs to improve playmaking skills in order to play the point guard position.</td>
		</tr>
		<tr>
			<td> Mason Green</td>
			<td>2018
Damascus</td>
			<td>Strengths: Great at running the floor with excellent footwork and awesome vision.

Weaknesses: Quickness on the defensive end will lead to great improvement.</td>
		</tr>
		<tr>
			<td>Zephaniah Esguerra</td>
			<td>2018
Dunbar</td>
			<td>Strengths: Very quick point guard with great vision and can knock down the open 3.

Weaknesses: Needs to work on ability to create his own shot.</td>
		</tr>
		<tr>
			<td>Harris Gartenhaus</td>
			<td>2019
Beth Tfiloh</td>
			<td>Strengths: Makes many hustle play and has excellent shooting touch.

Weaknesses: Needs to improve his handle as well as extend his jumper.</td>
		</tr>
		<tr>
			<td>Emile Marsh</td>
			<td>2020</td>
			<td>Strengths: Shows ability to score against taller defenders. Handles with confidence.

Weaknesses: As a smaller guard once point guard skills develop game will improve.</td>
		</tr>
		<tr>
			<td>Sherwyn Devonish-Prince</td>
			<td>2018
Bladensburg</td>
			<td>Strengths: Quick active handle with playmaking ability and can hit the occasional three.

Weaknesses: Needs to work on jumper consistency and cut back on turnovers.</td>
		</tr>
		<tr>
			<td>Max Somelofske</td>
			<td>2017
Appoquinimink</td>
			<td>Strengths: Great gob at getting to the rim. Very active on defense. Very soft shooting touch.

Weaknesses: Needs to improve on not forcing the pass.</td>
		</tr>
		<tr>
			<td>Jalen Rucker</td>
			<td>2019
Gilman</td>
			<td>Strengths: Strong combo guard with ability to knock down the 3. Can also get into paint and create for his team.

Weaknesses:  Needs to improve on his foot speed to get in the lane more often to utilize his passing ability.  </td>
		</tr>
		<tr>
			<td>Hassan Reames</td>
			<td>2017
Eleanor Roosevelt</td>
			<td>Strengths: Solid post player and very active as a ballscreener. Shows the ability to knock down the mid range jumper.

Weaknesses: Game will really expand when he improves on his back to the basket game.</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
