<table>
	<thead>
		<tr>
			<th>Picture</th>
			<th>Name and Information</th>
			<th>Top 100 Strengths
Top 100 Takeaways</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Ako Adams
10th
Washington DC
Height: 6' 3"</td>
			<td>Jump Shot and Basketball IQ

Ako is a terrific 3 point shooter and has an outstanding feel with the ball in his hands. Adams always looks to make a play, whether for himself or a teammate.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Aloi-Nick-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47624" /></td>
			<td>Nick Aloi
10th
Ellwood City PA
Height: 5'10"</td>
			<td>Decision Making and Basketball IQ

Nick is a smart point guard who plays to his strengths and tends to make the right play. He has complete control of his body and distributes the ball well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Anderson-Christian-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47625" /></td>
			<td>Christian Anderson
11th
Baltimore, MD
Height: 6' 5"
Weight:180
Wingspan: 77
Reach: 95
Vertical: 21</td>
			<td>Rebounding and Basketball IQ

Christian is good at facing up and attacking the rim. He plays his role with a lot of energy and can shoot the ball well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Anthony-Buzz-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47626" /></td>
			<td>Buzz Anthony
9th
Baltimore, MD
Height: 5'9"
Weight:147
Wingspan: 65
Reach: 87
Vertical: 25</td>
			<td>Handle and Basketball IQ

Good vision and ability to make plays when he gets to the point. Uses body well to seal defender on the drive. Good feel for the game. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hunter-Arenz-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47653" /></td>
			<td>Hunter Arenz
10th
Newtown, PA
Height: 6'
Weight: 197
Wingspan: 73
Reach: 93
Vertical:15</td>
			<td>Shooting and Setting the Pace

Hunter is a strong wing who shoots the 3 well. He uses his body well to get to the rim and doesn't rush anything. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ball-Jerrin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47627" /></td>
			<td>Jerrin Ball
12th
Severn, MD
Height: 6'3"</td>
			<td>Hustle and Shooting

Good shot and push in transit and finish. Capable of handling the ball in the open court and finding the open man in the transition. Good-looking jumper from the three range. Can keep conditioning. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Banks-Antoine-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47628" /></td>
			<td>Antoine Banks
10th
Upper Marlboro, MD
Height: 6'5"
Weight: 165
Wingspan: 77
Reach: 98
Vertical: 21</td>
			<td>Height and Handle

Tall and a good ballhandler. Smooth shot and makes good decisions on the drive. Can use his length to beat his defender to the rim. Good decision maker. Can continue to improve his strength. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bare-Zach-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47629" /></td>
			<td>Zach Bare
10th
Reisterstown, MD
Height: 6'1"</td>
			<td>Passing and Basketball IQ

Zach stretches the floor and has great vision to get his teammates the open look. He can also shoot the 3 and handle the ball with ease. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Barney-Alphonso-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47630" /></td>
			<td>Alphonso Barney
8th
Baltimore, MD
Height: 6'2"</td>
			<td>Aggressive attacking the basket and can score while doing so. Can seek to improve skill set and strength. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Spencer-Barton-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47594" /></td>
			<td>Spencer Barton
12th
Camden Wyoming, DE
Height: 6'2"
Weight: 170
Wingspan: 72
Reach: 95
Vertical: 20</td>
			<td>Spencer is a very good catch and shoot player who can also move well without the ball. He's a guard with good size and can stretch a defense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Cj-Beckett-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47617" /></td>
			<td>Charles Beckett
9th 
Fredericksburg, VA
Height: 5"7"
Weight: 145
Wingspan: 67
Reach: 86
Vertical: 28</td>
			<td>Athleticism and Ball Handling

CJ is a small guard who plays very hard all the time. He gets teammates the ball and hustles all over the floor. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bennett-Anthony-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47631" /></td>
			<td>Anthony Bennett
12th
Aberdeen, MD
Height: 6'0"
Weight: 181
Wingspan: 78
Reach: 95
Vertical: 21</td>
			<td>Finishes Strong

Finishes strong at the hoop, Can consolidate dribbling and focus on finding the open shot or man. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bradley-Carl-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47632" /></td>
			<td>Carl Bradley
10th
Randallstown, MD
Height: 6'6"
Weight: 226
Wingspan: 77
Reach: 101
Vertical: 17</td>
			<td>Toughness and Defense

Strength, on-ball defense, and work ethic really shines on the defensive end. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Brown-Rasheed-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47634" /></td>
			<td>Rasheed Brown
10th
Baltimore, MD
Height: 6'3"
Weight: 139
Wingspan: 73
Reach: 92
Vertical: 22</td>
			<td>Shooting from Range and Ball Handling

Rasheed is a lefty with good length and major upside. He handles the ball with vision. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Tyrelk-Brown-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47591" /></td>
			<td>Tyreik Brown
Baltimore
Height: 6'3
Weight:196
Wingspan: 70
Reach: 88
Vertical:18</td>
			<td>Great energy
Scoring guard with bounce and energy on court. Should seek to improve ballhandling skills. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Brown-Blake-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47633" /></td>
			<td>Blake Brown
11th
Baltimore, MD
Height: 5'9"
Weight: 142
Wingspan: 69
Reach: 88
Vertical: 22.5</td>
			<td>Shooting and Handles

Shoots well, handles well in open court, unselfish player. Can strive to improve strength in traffic situations. Outstanding 3-pointer who demands attention from the defense. Is also a willing passer who seeks the open man. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bryant-RJ-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47635" /></td>
			<td>RJ Bryant
12th
West Friendship, MD
Height: 6'4"
Weight: 171
Wingspan: 78
Reach: 96
Vertical:19.5</td>
			<td>Comfortable with the Basketball

He has a good handle and control on his pull-up. Shot looks good and, with work, will be more consistent.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Aaron-Butler-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47622" /></td>
			<td>Aaron Butler
9th
Baltimore, MD
Height: 5'6"
Weight: 113
Wingspan: 62
Reach: 83
Vertical: 24.5</td>
			<td>Quickness and Passing

Aaron is a point guard with a solid handle. He pushes the ball up the court well and creates for his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Chaz-Calliet-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47619" /></td>
			<td>Chaz Calliet
11th
Baltimore, MD
Height: 6'1"
Weight: 170
Wingspan: 76
Reach: 95
Vertical: 27</td>
			<td>Handles and Driving

Chaz drives the ball well and uses his speed to work the floor. He has no clear position, which makes his versatility a threat. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Carter-Chris-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47636" /></td>
			<td>Chris Carter
12th
Columbia, MD
Height: 5'9"</td>
			<td>Strength and Shooting

Chris is a feisty guard who can push the ball and hit open shots consistently. He's a great athlete and tough on defense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Caulk-Takai-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47637" /></td>
			<td>Takai Caulk
9th
Worton, MD
Height: 5'7"
Weight: 138
Wingspan: 70
Reach: 88
Vertical: 25</td>
			<td>Toughness and Speed

Takai is a small guard who can push the ball up the floor well. He plays hard on every position and uses his ball handling skills to move defenses. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Cavallo-Fernando-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47638" /></td>
			<td>Fernando Cavallo
11th
Silver Springs, MD
Height: 6'0"
Weight: 185
Wingspan: 73
Reach: 91
Vertical: 25</td>
			<td>Shooting and Decision Making

Fernando lets the game flow and doesn't force anything. He shoots the ball well and plays to his own strengths. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ceribelli-Gabe-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47639" /></td>
			<td>Gabe Ceribelli
11th
Monkton, MD
Height: 6"0"
Weight: 156
Wingspan: 70
Reach: 91
Vertical: 21</td>
			<td>Gabe is capable of shooting the open 3 and moves great without the ball. He knows how to get his teammates open shots and can change speeds with ease. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Closson-Todd-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47640" /></td>
			<td>Todd Closson
10th
Baltimore, MD
Height: 6"3"
Weight: 170
Wingspan: 76
Reach: 97
Vertical: 22</td>
			<td>Athleticism and Ball Handling

Todd is a big guard who has solid ball handling skills and a lot of potential. </td>
		</tr>
		<tr>
			<td></td>
			<td>Eyan Coley
9th</td>
			<td>Basketball IQ and Passing

Eyan is a fast combo guard who is a force on the defensive end of the court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Jefferson-Collins-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47611" /></td>
			<td>Jefferson Collins
10th
Owings Mills
Height: 6'3"
Weight: 220
Wingspan: 82
Reach: 100
Vertical: 19.5</td>
			<td>Jump Shot and Rebounding

Jefferson uses his body well to rebound the ball and get to the rim. He has a court presence. Can enhance an already good-looking jumper with work on his shot selection, and overall strength with a conditioning program.</td>
		</tr>
		<tr>
			<td></td>
			<td>Gemaal Davis
12th
Laurelton, NY
Height: 6'4"
Weight: 183
Wingspan: 80
Reach: 98
Vertical: 25.5</td>
			<td>Rebounding and Athleticism

Gemaal will be a valuable asset and good shooter as he refines his skill set and sets his feet for the open shot. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Davis-Davon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47641" /></td>
			<td>Davon Davis
10th
Baltimore, MD
Height: 6'3"
Weight: 211
Wingspan: 77
Reach: 97
Vertical: 17</td>
			<td>Finishing and Rebounding

Davon is a forward who rebounds well. He uses his strength to force his way to the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ryan-Dingle-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47595" /></td>
			<td>Ryon Dingle
10th
Baltimore, MD
Height: 6'1"</td>
			<td>Length and Athleticism 

A natural athlete, Ryon will maximize his potential as he strength trains and continues to improve his shot and pass. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Roger-Evans-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47599" /></td>
			<td>Roger Evans
9th
Nottingham, MD
Height: 6'0"
Weight: 176
Wingspan: 71
Reach: 91
Vertical: 18</td>
			<td>Physicality and Ball Handling

</td>
		</tr>
		<tr>
			<td></td>
			<td>Zach Fakunle
10th
Baltimore, MD
Height: 6'3"
Weight: 184
Wingspan: 76
Reach: 96
Vertical: 21.5</td>
			<td>Energy and Rebounding

Zach can drive the ball and shoot from 3 point range equally well. He has high energy and is always active on defense. He uses his size to grab open rebounds. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Justin-Fields-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47607" /></td>
			<td>Justin Fields
11th
Baltimore, MD
Height: 5'10"
Weight: 144
Wingspan: 71
Reach: 91
Vertical: 25</td>
			<td>Quickness and Ball Handling

Justin did a good job getting into the lane and forcing the defense to collapse. His athleticism and skill set show major upside.  </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Fisher-Adam-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47642" /></td>
			<td>Adam Fisher
10th
Hagerstown, MD
Height: 6'3"
Weight: 159
Wingspan: 74
Reach: 95
Vertical: 17</td>
			<td>High Basketball IQ

Adam is an unselfish player who always looks to find an open teammate. He plays hard consistently and has solid fundamentals. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Francis-Blake-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47643" /></td>
			<td>Blake Francis
10th
Herndon, VA
Height: 5'11"</td>
			<td>Blake plays with high energy and is always talking on the court. His shooting ability and focus are commendable. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Galgano-Ryan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47644" /></td>
			<td>Ryan Galgano
9th
Cresskill, NJ
Height: 5'11"
Weight:158
Wingspan: 70
Reach: 88
Vertical:24.5</td>
			<td>Passing and Shooting

Boasts shooting ability and passing skills. Smart, hard worker. Promising player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Gannon-Breon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47645" /></td>
			<td>Breon Gannon
9th
Baltimore, MD
Height: 5'10"</td>
			<td>Breon will be explosive as he looks to strengthen his quickness and gain footspeed.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Geschwilm-Aaron-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47646" /></td>
			<td>Aaron Geschwilm
11th
Monkton, MD
Height: 6'6"
Standing Reach: 102
Vertical Jump: 21
Wingspan: 79</td>
			<td>Solid Fundamentals

Nice post game and overall skill abilities.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Graves-Deion-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47647" /></td>
			<td>Deion Graves
10th
Columbia, MD
Height: 5'5"
Weight: 122
Wingspan: 63
Reach: 83
Vertical: 24</td>
			<td>Basketball IQ and Ball Handling

Deion is a good decision maker with quick feet. He's a good drive and kick point guard who pushed the ball well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Derrick-Green-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47616" /></td>
			<td>Derrick Green
11th
White Marsh, MD
Height: 6'2"</td>
			<td>Good defender

Defends well and good in transition. Downhill player who runs the floor well. Active on the glass, athletic. Can defend and slash. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hall-Jordan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47648" /></td>
			<td>Jordan Hall
10th
Baltimore, MD
Height: 6'0"
Weight: 148
Wingspan: 73
Reach: 95
Vertical: 18</td>
			<td>Athleticism and Defense

Jordan is a good athlete who can defend and rebound. His ball handling and passing skills are also assets to his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hammer-Jeston-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47649" /></td>
			<td>Jeston Hamer III
12th
Randallstown, MD
Height: 6'0"
Weight: 147
Wingspan: 77
Reach: 97
Vertical: 25</td>
			<td>Runs the offense

Penetrates well and involves teammates. Ability to be dynamic as a lead guard on the break and half court. A leader on the floor. </td>
		</tr>
		<tr>
			<td></td>
			<td>Marlon Hargis
8th
Mays Landing, NJ
Height: 6'1"</td>
			<td>Good skill set

Shows good overall ability and should seek to improve strength. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hill-Jordan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47651" /></td>
			<td>Jordan Hill
10th
Fort Washington, MD
Height: 5'7"</td>
			<td>Shooting and Ball Handling

Jordan is a tough player with a lot of energy as a quality lead guard. He is able to score driving and from beyond the arc. His quickness and basketball IQ also allowed him to make opportunities for others. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Elsbe-Howard-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47614" /></td>
			<td>Elston Howard
11th
Baltimore, MD
Height: 5'8"
Weight: 138
Wingspan: 70
Reach: 88
Vertical: 23</td>
			<td>Lockdown defender

Plays hard, especially on D. Can strive to make even better decisions on the floor and to score. 
</td>
		</tr>
		<tr>
			<td></td>
			<td>Malik Howze
12th
Redford, MD
Height: 6'0"
Weight: 176
Wingspan: 75
Reach: 94
Vertical: 19</td>
			<td>Athletic, drives well

Malik is an all around athlete who can beat his defender off the dribble. He's a slashing guard who can attack the rim from all directions. He plays with control and has a good feel for the game. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hunger-Adam-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47652" /></td>
			<td>Adam Hunger
9th
Baltimore, MD
Height: 6'8"
Weight: 207
Wingspan: 76
Reach: 100
Vertical: 12</td>
			<td>Nice mid-range touch

Adam will maximize his full potential on a good mid-range jumper with shot drills, and prove a most valuable asset to a team as he continues to improve. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Isett-Emmanuel-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47654" /></td>
			<td>Emmanuel Ijeh
11th
Bowie, MD
Height: 6'0"
Weight: 170
Wingspan: 77
Reach: 96
Vertical: 22</td>
			<td>Basketball IQ and Rebounding

Emmanuel finished well at the rim and has a good vision and feel for what is happening on the court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/James-Teron-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47655" /></td>
			<td>Teion James
11th
Baltimore, MD
Height: 5'9"
Weight: 174
Wingspan: 72
Reach: 88
Vertical: 24</td>
			<td>Shooting and Strength

Teion scores mainly going to the basket but can also pass the ball out to create shots for teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Brian-Jefferson-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47621" /></td>
			<td>Brian Jefferson
11th
Randallstown, MD
Height: 5'10"
Weight: 146
Wingspan: 70
Reach: 89
Vertical: 24</td>
			<td>Nice shot

shows nice-looking jumper, can spot the open man.
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Gary-Jefferson-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47613" /></td>
			<td>Gary Jefferson
11th
Baltimore, MD
Height: 6'4"</td>
			<td>Athleticism and Toughness

Gary breaks down defenses with his ball handling and basketball IQ. He finds a way to make the right play on every possession and has a good 3-point range. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Jenkins-Jahlil-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47656" /></td>
			<td>Jah'Lil Jenkins
9th
Martinsburg, WV
Height: 5'11"
Weight: 143
Wingspan: 69
Reach: 89
Vertical: 23</td>
			<td>Court Vision and Ball Handling

Jah'Lil plays with a motor. He embraces being a floor general and has a good jump shot out to 18 feet. He looks to drive to dish the ball back out or utilize the floater. 
Jah'Lil plays with a motor. He embraces being a floor general and has a good jump shot out to 18 feet. He looks to drive to dish the ball back out or utilize the floater. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Jenkins-Myren-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47657" /></td>
			<td>Myren Jenkins
11th
Baltimore, MD
Height: 5'10"
Weight: 130
Wingspan: 66
Reach: 87
Vertical: 23</td>
			<td>Pressing and Passing

Myren found his open teammates all afternoon. His athleticism helped him penetrate and score at the rim. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Jennings-Christian-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47658" /></td>
			<td>Christian Jennings
10th
Mitchellville, MD
Height: 6'0"</td>
			<td>Ball Handling and Basketball IQ

Christian understands how to run a system and make those around him better. His play is unselfish and  his ball handling skills keep a defense awake. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Johnson-Antonio-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47659" /></td>
			<td>Antonio Johnson
12th
Baltimore, MD
Height: 5'6"
Weight: 152
Wingspan: 66
Reach: 85
Vertical: 22</td>
			<td>Athleticism and Defense

Antonio excelled at pushing the ball in transition and making wide open shots. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Johnson-Justin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47660" /></td>
			<td>Justin Johnson
12th
Mount Vernon, NY
Height: 5'7"
Weight: 167
Wingspan: 72
Reach: 89
Vertical: 25</td>
			<td>Defense and Basketball IQ

Justin is a good point guard who has a solid basketball body. His ball handling and passing skills are also good. </td>
		</tr>
		<tr>
			<td></td>
			<td>Taye Jones
10th
Baltimore, MD
Height: 5'11"
Weight: 165
Wingspan: 72
Reach: 88 
Vertical: 25</td>
			<td>Ball Handling and Athleticism

Taye did a good job at dribbling through defenders and getting to the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Quantae-Jones-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47600" /></td>
			<td>Quantae Jones
10th
Baltimore, MD
Height: 6'1"
Weight: 160
Wingspan: 74
Reach: 93
Vertical: 19</td>
			<td>Shooting and Athleticism

Quantae is an impressive athlete who loves to attack the rim off the dribble.  His defensive and rebounding skills are solid as well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Kane-Justin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47661" /></td>
			<td>Justin Kane
10th
Baltimore, MD
Height: 6'4"
Weight: 182
Wingspan: 78
Reach: 98
Vertical: 20</td>
			<td>Plays hard

Plays pretty hard  and good range shooter. Can seek to improve strength, speed and agility. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Kisailus-Cameron-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47662" /></td>
			<td>Cameron Kisailus
10th
Alexandria, VA
Height: 6"0
Weight: 153
Wingspan: 69
Reach: 93
Vertical: 20</td>
			<td>Plays hard

Tough player on both ends of floor. Moves well with ball on both ends of the floor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lamb-Isaiah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47663" /></td>
			<td>Isaiah Lamb
11th
Reisterstown, MD
Height: 6'4"
Weight: 186
Wingspan: 79
Reach: 99
Vertical: 24</td>
			<td>Attacking the Rim and Strength

Isaiah is a big time athlete who can get to the rim and finish. He handles it pretty well for his size and sees the floor well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lane-Renard-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47664" /></td>
			<td>Renard Lane
10th
Upper Marlboro, MD
Height: 6'4"</td>
			<td>Scoring and Physicality

Renard is a physically gifted player with a solid skill set. He can guard multiple spots on defense while shooting it from 16 feet. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/LeCesne-Craig-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47665" /></td>
			<td>Craig LeCesne
10th
Reston, VA
Height: 6'7"
Weight: 196
Wingspan: 79
Reach: 103
Vertical: 17</td>
			<td>Basketball IQ and Rebounding

Craig uses his height to get to the rim and create second chance opportunities. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lewis-Kenneth-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47666" /></td>
			<td>Kenneth Lewis
9th
Randallstown, MD
Height: 5'11"
Weight: 145
Wingspan: 71
Reach: 91
Vertical: 16</td>
			<td>Good range, hard worker

Plays hard and can beat defender off the dribble. Knows a good shot when sees one and can knock it down. Good defense on-the-ball and makes ball handler sweat.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Locke-Noah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47667" /></td>
			<td>Noah Locke
9th
Randallstown, MD
Height: 6'0"
Weight: 180
Wingspan: 77
Reach: 96
Vertical: 114</td>
			<td>Handle, Scoring, Basketball IQ

Noah is a very good offensive player who can pull up to shoot the 3. He is a clever passer and plays with a motor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lorenzo-Chris-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47668" /></td>
			<td>Chris Lorenzo
9th
Bel Air, MD
Height: 5'7"
Weight: 157
Wingspan: 68
Reach: 89
Vertical: 22</td>
			<td>Intellect and distance shooter

Smart player and knockdown trey shooter. Good understanding of the game. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Maddox-Gerrod-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47669" /></td>
			<td>Gerrod Maddox
10th
Bel Air, MD
Height: 5"10"
Weight: 181
Wingspan: 70
Reach: 89
Vertical: 25</td>
			<td>Basketball IQ 

Gerrod knows how to involve his teammates on the floor. Will maximize his potential as he strives to build his offensive game. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Matsinye-Alexander-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47670" /></td>
			<td>Alexander Matsinye
11th
Brooklandville, MD
Height: 6'3"
Weight: 166
Wingspan: 81
Reach: 97
Vertical: 23</td>
			<td>Passing and Driving

Alexander contributed to winning plays on both ends of the court. He is an athletic and willing defender who looks to pass the ball off the drive. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/McKinney-Malik-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47573" /></td>
			<td>Malik McMillion
11th
Baltimore, MD
Height: 5'6"
Weight: 129
Wingspan: 69
Reach: 89
Vertical: 25</td>
			<td>Hustles

Malik can apply his hustle on the floor in games and practice to maximize his assets to the game. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Medina-Dariel-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47671" /></td>
			<td>Dariel Medina
10th
Silver Spring, MD
Height: 6'0"
Weight: 168
Wingspan: 74
Reach: 94
Vertical: 16</td>
			<td>Scores off the drive

Can score off penetration and hits the open shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Miller-Greg-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47672" /></td>
			<td>Greg Miller
11th
Baltimore, MD
Height: 6'2"</td>
			<td>Control and Rebounding

Greg is a wing who posts up well and can knock down open 3s. He uses his body well when attacking the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Mitchell-Earl-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47673" /></td>
			<td>Earl Mitchell
11th
Columbia, MD
Height: 6'0"
Weight: 147
Wingspan: 77
Reach: 97
Vertical: 16</td>
			<td>Length and Rebounding

Earl can score when open and uses his length to his advantage as a guard. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Moore-Koran-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47674" /></td>
			<td>Koran Moore
9th
Baltimore, MD
Height: 6'7"
Weight: 277
Wingspan: 83
Reach: 105
Vertical: 16</td>
			<td>Strong finisher

Great feel for the game, defined post moves and ability to finish. Can benefit from strength and conditioning and agility exercises. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Mosley-DeShaun-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47675" /></td>
			<td>Deshaun Mosley
9th
Baltimore, MD
Height: 5'10"
Weight:162
Wingspan: 71
Reach: 92
Vertical: 23</td>
			<td>Ball Handling and Attacking the Paint

Deshaun has a good handle and creates his own shots. He can score from anywhere on the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Moss-Shawn-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47676" /></td>
			<td>Shawn Moss
Clinton, MD
Height: 5'8"
Weight: 143
Wingspan: 70
Reach: 90
Vertical: 23</td>
			<td>Creativity and Shooting

Shawn is a quick point guard who can get into the lane and score. He shoots the ball well and plays at a steady pace. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Moultrie-Jamir-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47677" /></td>
			<td>Jamir Moultrie
9th
Washington, DC
Height: 6'0"
Weight: 167
Wingspan: 71
Reach: 81
Vertical: 30</td>
			<td>Scoring, Ball Handling

Jamir is a scoring machine who goes off in bunches. He plays hard and sees the floor well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Muse-Drake-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47678" /></td>
			<td>Drake Muse
10th
Randallstown, MD
Height: 6'3"
Weight: 156</td>
			<td>Defense and Shooting Touch

With a nice eye for the rim and a good showing on defense, Drake will maximize his on-court potential as he becomes more assertive on offense and takes advantage of a strengthening program. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Newkirk-Kahlil-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47679" /></td>
			<td>Kahlil Newkirk
11th
Brandywine, MD
Height: 5'11"
Weight: 162
Wingspan: 71
Reach: 88
Vertical: 21</td>
			<td>Passing and Athleticism

Kahlil excelled at pushing the pace during games and creating open looks for his teammates. He also got to the rim with ease.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Christopher-Osuji-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47618" /></td>
			<td>Chris Osuji
11th
Baltimore, MD
Height: 6'4"
Weight: 185
Wingspan: 76
Reach: 94
Vertical: 22</td>
			<td>Size and Work Ethic

Chris is a long guard/forward who rebounds the ball well. He uses his body to create space and get loose balls. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Terry-Paige-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47592" /></td>
			<td>Terry Page
11th
Baltimore, MD
Height: 6'0"</td>
			<td>Ball Handling and Scoring in Transition

Terry is a very hard worker with lots of upside. He scores in transition and can penetrate in the half court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Parham-Lee-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47680" /></td>
			<td>Lee Parham
10th
Baltimore, MD
Height: 6'1"
Weight: 210
Wingspan: 75
Reach: 95
Vertical: 23</td>
			<td>Leadership and Rebounding

Lee is a team player who is always vocal and organizing his team. He uses his size to get inside and grab rebounds. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Parker-Steven-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47681" /></td>
			<td>Steve Parker
9th
Baltimore, MD
Height: 5'11"
Weight: 135
Wingspan: 70
Reach: 90
Vertical: 24</td>
			<td>Transition Game and Ball Handling

Steven is a smooth PG that gets into the lane and makes things happen. He is crafty around the rim and his passing abilities are great.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Joshua-Parks-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47608" /></td>
			<td>Joshua Parks
11th
Baltimore, MD
Height: 6'3"</td>
			<td>Rebounding and Attacking the Rim

Josh is a big-bodied lefty that can step out and shoot the ball with ease. He rebounds on both ends of the court and gets to the rim to score. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Polite-Ed-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47682" /></td>
			<td>Ed Polite
11th
Lanham Seabrook, MD
Height: 6'4"
Weight: 186
Wingspan: 80
Reach: 101
Vertical: 24</td>
			<td>Rebounding and Toughness

Ed is a great athlete who can attack off the dribble and is aggressive on offense. He is a strong rebounder on both ends of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Greg-Purnell-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47612" /></td>
			<td>Greg Purnell
11th
Odenton, MD
Height: 6'1"
Weight: 152
Wingspan: 77
Reach: 96
Vertical: 19</td>
			<td>Ball Handling

Greg is a good shooter who also knows when to pass the ball. Will maximize his assets to a team with work on his conditioning and strength training. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Richardson-AJ-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47683" /></td>
			<td>AJ Richardson
9th
Reisterstown, MD
Height: 5'9"
Weight: 128</td>
			<td>Shooting and Ball Handling

AJ is a good shooter and ballhander. He will be a scoring force to be reckoned with as he works to improve his strength. Really knows how to play the game. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ross-Cederick-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47684" /></td>
			<td>Cederick Ross
12th
Waynesboro, VA
Height: 5'10"
Weight: 161
Wingspan: 70
Reach: 89
Vertical: 26</td>
			<td>Basketball IQ and Solid Defender

Cederick is a good ball handler who sees the floor well. This small guard has an above average skill set and always looks to pass the ball to open teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Carlos-Scaggs-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47620" /></td>
			<td>Carlos Scaggs
11th
Jessup, MD
Height: 6'0"</td>
			<td>Ball Handling and Shooting

Carlos has a good set shot and a noticeable basketball IQ. He is a solid combo guard. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Simpson-Kevin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47685" /></td>
			<td>Kevin Simpson
10th
Fort Washington, MD
Height: 5'8"
Weight: 129
Wingspan: 71
Reach: 90
Vertical: 23</td>
			<td>Ball Handling and Passing

Kevin is a quick guard who pleases the crowd with his ball handling skills. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Russell-Smith-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47596" /></td>
			<td>Russell Smith
9th
Baltimore, MD
Height: 6'1"
Weight: 155
Wingspan: 73
Reach: 91
Vertical: 21</td>
			<td>With size on his side, Russell can continue to improve his versatility on the floor by getting low as well as playing up. Great potential. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Smith-Nyrique-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47686" /></td>
			<td>Nyrique Smith
10th
Upper Marlboro, MD
Height: 6'2"
Weight: 189
Wingspan: 82
Reach: 100
Vertical: 17</td>
			<td>strong on the drive

Good length and strength in drives. Good vision on the dribble. Can work on getting lower and more explosive. Good-looking jumper with range.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Jermaine-Smith-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47610" /></td>
			<td>Jermaine Smith
9th
Owings Mills, MD
Height: 6'4"
Weight: 164
Wingspan: 78
Reach: 97
Vertical: 18</td>
			<td>Versatility

Jermaine runs the floor well and can shoot from out to 18 feet. He is versatile on both ends of the court and will be terrific as his game matures. </td>
		</tr>
		<tr>
			<td></td>
			<td>Raheem Smith
12th 
Baltimore, MD
Height: 6'0"</td>
			<td>Energy and Rebounding

Raheem is an undersized forward who is active around the rim and has good athleticism. He can knock down the 15 foot shot. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Kenyan-Southers-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47605" /></td>
			<td>Kenyan Southers
11th
Baltimore, MD
Height: 5'9"
Weight: 158
Wingspan: 76
Reach: 94
Vertical: 20</td>
			<td>Slashing and Defense

A good showing when he's aggressive attacking the basket. He goes into another gear when he needs to get by a defender. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Roy-Sweets-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47597" /></td>
			<td>Roy Sweets
10th
Baltimore, MD
Height: 5'11"
Weight: 157
Wingspan: 80
Reach: 92
Vertical: 24</td>
			<td>Good feel for the game

Great court vision, feel for the game and stroke. Skill work will increase potential of player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Tates-Nick-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47687" /></td>
			<td>Nick Tates
10th
Baltimore, MD
Height: 5'10"
Weight: 168
Wingspan: 74
Reach: 92
Vertical: 17</td>
			<td>Unselfish and Athletic

Very athletic and and a quick first step. Unselfish and can beat defender off the dribble. Terrific athlete. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Taylor-Tyquan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47688" /></td>
			<td>Tyquan Taylor
9th
Baltimore, MD
Height: 5'9"
Weight: 171
Wingspan: 72
Reach: 89
Vertical: 18</td>
			<td>Control and Moving Without the Ball

Tyquan is a guard who uses his body well. He plays hard and isn't afraid of contact. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Terrell-Robert-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47689" /></td>
			<td>Robert Terrell
10th
Height: 6'0" </td>
			<td>Athletic, good handle

An athlete who hits the open shot and can handle and score in transition. Can work to improve strength and skill set to reach full potential. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Malik-Thomas-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47603" /></td>
			<td>Malik Thomas
12th
Baltimore, MD
Height: 6'8"
Weight: 231
Wingspan: 79
Reach: 101
Vertical: 15</td>
			<td>Motor and Rim Protection

Malik has a physical presence in the low post and can face up to attack the rim. He is a versatile scorer who can create match up problems. He plays hard on defense and always protects the rim. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Thompson-Marcel-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47690" /></td>
			<td>Marcel Thompson
11th
Perry Hall, MD
Height: 6'2"</td>
			<td>Shooting and Athleticism

Marcel can really shoot the ball and has good size for a 2-guard. His passing and ball handling skills have a good upside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Kai-Thompson-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47606" /></td>
			<td>Kai Thompson
10th
Baltimore, MD
Height: 6'2"
Weight: 160
Wingspan: 74
Reach:  93
Vertical: 23</td>
			<td>Shooting

Kai consistently hit open shots, penetrated, and finished in transition. His ball handling and basketball IQ are also very good. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Earsey-Toney-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47615" /></td>
			<td>Earsey Toney
10th
Baltimore, MD
Height: 6'6"
Weight: 175
Wingspan: 80
Reach: 98
Vertical: 18</td>
			<td>Length and Rebounding 

Earsey has raw talent and good rebounding skills. His athleticism and height give him a big upside. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Terrell-Turmon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47593" /></td>
			<td>Terrell Turmon
10th
Baltimore, MD
Height: 5'9"
Weight: 174
Wingspan: 72
Reach: 92
Vertical: 20</td>
			<td>Communication and Toughness

Terrell can knock down an open 3 and score off the bounce. He plays with energy and his on the ball defense is outstanding. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Michael-Turner-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47602" /></td>
			<td>Michael Turner
10th
Baltimore, MD
Height: 6'2"
Weight:149
Wingspan: 76
Reach: 98
Vertical: 15</td>
			<td>Rebounding and Athleticism

Michael is a big guard who uses his body to grab offensive and defensive rebounds. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ugochukwu-David-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47691" /></td>
			<td>David Ugochukwu
9th
Baltimore, MD
Height: 5'11"
Weight: 205
Wingspan: 75
Reach: 95
Vertical: 17</td>
			<td>Defense and Athleticism

David plays hard on every possession and has a great rebounding instinct. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Waganer-Chase-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47692" /></td>
			<td>Chase Waganer
11th
Freeland, MD
Height: 6'5"
Weight: 181
Wingspan: 77
Reach: 98
Vertical: 22</td>
			<td>Setting Screens and Rebounding

Chase is a screener and rebounder with good athleticism and plays hard. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Walters-Julian-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47693" /></td>
			<td>Julian Walters
12th
Madison, WI
Height: 5'10"
Weight: 156
Wingspan: 72
Reach: 91</td>
			<td>Scoring in the Paint

Julian is a combo guard who can create his own shot or opportunities for others. He can change speed with his dribble and gets to spots on the floor before the defense can get to him. He is physically strong with good quickness. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Watson-Jamar-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47694" /></td>
			<td>Jamar Watson
10th
Brandywine, MD
Height: 6'2"
Weight: 208
Wingspan: 77
Reach: 98
Vertical: 19</td>
			<td>Passing and Ball Handling

Jamar is court savvy and has a good control over his body. He has the ability to make plays from the guard position and has a decent shot selection.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/White-Elijah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47695" /></td>
			<td>Elijah White
9th
Ellicott City, MD
Height: 6'2"
Weight: 149
Wingspan: 75
Reach: 97
Vertical: 20</td>
			<td>Runs the floor and Jump Shots
Comfortable in transition, runs the floor and finishes strong. Can work closely on on-the-ball defense and conditioning. Good shooting touch. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/White-Isaiah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47696" /></td>
			<td>Isaiah White
11th
Ellicott City, MD
Height: 6'4"
Weight: 162
Wingspan: 75
Reach: 99
Vertical: 20</td>
			<td>Length and Basketball IQ

Isaiah is a skilled 3/4 man who can score facing up. He's got a shot from 17 feet. His size makes him a good defender and grabber of deflections. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/White-Mike-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47697" /></td>
			<td>Michael White
11th
Rockville, MD
Height: 5'3"
Weight: 110
Wingspan: 61
Reach: 82
Vertical: 36</td>
			<td>Play Maker

Great energy and ability to make the play. A good showing on the mid-range jumper. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Willis-Jaedon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47698" /></td>
			<td>Jaedon Willis
9th
Randallstown, MD
Height: 5'9"
Weight: 142
Wingspan: 67
Reach: 90</td>
			<td>3 Point Shooting and Athleticism 

Jaedon is a lefty with good 3 point range. He can change his pace on a dime and gets into the paint at will. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Wilson-AJ-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47699" /></td>
			<td>AJ Wilson
10th
Laurel, MD
Height: 6'7"
Weight: 181
Wingspan: 80
Reach: 103
Vertical: 24</td>
			<td>Shot Blocking and Athleticism

AJ is a long forward that can play inside or out and has a solid handle for his size. Defensively, he alters shots and clogs up lanes. He's a good athlete that runs and moves well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Wilson-Daniel-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47700" /></td>
			<td>Daniel Wilson
11th
Pikesville, MD
Height: 6'6"</td>
			<td>Rebounding and Defense

Daniel uses his size to score in the paint. He's a strong and athletic forward who creates space and open shots with ease.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Johan-Woods-Jr.-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47609" /></td>
			<td>Johan Woods, Jr
11th
Baltimore, MD
Height: 5'8"
Weight: 133
Wingspan: 66
Reach: 87
Vertical: 17</td>
			<td>Speed and Athleticism

Johan is a quick guard who plays to his strengths. His ball handling and defensive skills are assets to his squad. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Wright-Jamal-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47701" /></td>
			<td>Jamal Wright
10th
Upper Marlboro, MD
Height: 5'10"
Weight: 154
Wingspan: 75
Reach: 92
Vertical: 18</td>
			<td>Quickness and 3-Point Shooting

Jamal is a high energy scorer who can also distribute plays for teammates. He plays with a motor and is very hard to score against on the defensive end. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Montaque-Wright-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47601" /></td>
			<td>Montaque Wright
12th
Baltimore, MD
Height: 6'2"
Weight: 166
Wingspan: 76
Reach: 95
Vertical: 18</td>
			<td>Ball Handling and Composure

Montaque is a strong overall player. He's a crafty guard who can really shoot from 3 point range. He plays fast but under control.</td>
		</tr>
	</tbody>
</table>
