<table>
	<thead>
		<tr>
			<th>Session</th>
			<th>Dates</th>
			<th>Boys &amp; Girls</th>
			<th>Class Days</th>
			<th>Times</th>
			<th>Cost</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>March 26-April 23</td>
			<td>Grades 3-5</td>
			<td>Wednesday</td>
			<td>4 - 5 PM</td>
			<td>$125</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_156&amp;products_id=1718">Register Here</a></td>
		</tr>
		<tr>
			<td></td>
			<td>Dec 3 - Dec 17</td>
			<td>Grades 3-5</td>
			<td>Wednesday</td>
			<td>4 - 5 PM</td>
			<td>$110</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_156&amp;products_id=1656">Register Here</a></td>
		</tr>
		<tr>
			<td>Winter 2</td>
			<td>January 7 - February 4</td>
			<td>Grades 3-5</td>
			<td>Wednesday</td>
			<td>4 - 5 PM</td>
			<td>$135</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_156&amp;products_id=1771">Register Here</a></td>
		</tr>
		<tr>
			<td>Spring 1</td>
			<td>March 18 - April 15</td>
			<td>Grades 3-5</td>
			<td>Wednesday</td>
			<td>4 - 5 PM</td>
			<td>$135</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_156&amp;products_id=1816">Register Here</a></td>
		</tr>
		<tr>
			<td>Spring 2</td>
			<td>April 22 - May 20</td>
			<td>Grades 3-5</td>
			<td>Wednesday</td>
			<td>4 - 5 PM</td>
			<td>$135</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_156&amp;products_id=1840">Register Here</a></td>
		</tr>
	</tbody>
</table>
