<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Brandon Hedley</td>
			<td>Mid Atlantic Select</td>
		</tr>
		<tr>
			<td>Zaid Hearst</td>
			<td>Mid Atlantic Select</td>
		</tr>
		<tr>
			<td>Ryan Frazier</td>
			<td>Mid Atlantic Select</td>
		</tr>
		<tr>
			<td>Lakeem Duncan</td>
			<td>Delaware Team Takeover</td>
		</tr>
		<tr>
			<td>Girard Day</td>
			<td>Delaware Team Takeover</td>
		</tr>
		<tr>
			<td>Kesse Bernard</td>
			<td>Delaware Team Takeover</td>
		</tr>
		<tr>
			<td>Andrew Nicholas</td>
			<td>Jersey Shore Warriors</td>
		</tr>
		<tr>
			<td>Chris Santo</td>
			<td>Jersey Shore Warriors</td>
		</tr>
		<tr>
			<td>Brent Arrington</td>
			<td>Cecil Kirk</td>
		</tr>
		<tr>
			<td>Jalen Cannon</td>
			<td>Old School Cavs</td>
		</tr>
		<tr>
			<td>Nick Faust</td>
			<td>Baltimore Elite</td>
		</tr>
		<tr>
			<td>Eli Carter</td>
			<td>Sports University/Team Izod</td>
		</tr>
		<tr>
			<td>Mario Moody</td>
			<td>Sports University/Team Izod</td>
		</tr>
		<tr>
			<td>Phil Hawkins</td>
			<td>Get it in Sports</td>
		</tr>
		<tr>
			<td>Donte Thomas</td>
			<td>Get it in Sports</td>
		</tr>
		<tr>
			<td>Marquis Gentry</td>
			<td>Get it in Sports</td>
		</tr>
		<tr>
			<td>Dan Ochefu</td>
			<td>Westtown</td>
		</tr>
		<tr>
			<td>Longji Yiljep</td>
			<td>Westtown</td>
		</tr>
		<tr>
			<td>Brandon Davis</td>
			<td>Riverside Hawks</td>
		</tr>
		<tr>
			<td>JP Koury</td>
			<td>ShoreShots</td>
		</tr>
		<tr>
			<td>Will Wise</td>
			<td>PYO</td>
		</tr>
		<tr>
			<td>Tyheem Perrin</td>
			<td>Positive Image</td>
		</tr>
		<tr>
			<td>Nelson Mendez</td>
			<td>Gym Ratz</td>
		</tr>
		<tr>
			<td>Deon Turman</td>
			<td>Donyell Marshall Foundation</td>
		</tr>
	</tbody>
</table>
