<table>
	<thead>
		<tr>
			<th>Program Dates</th>
			<th>Boys &amp; Girls</th>
			<th>Class Day</th>
			<th>Times</th>
			<th>Price</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>November 24</td>
			<td>Grades 2-12</td>
			<td>Friday</td>
			<td>9:00AM-2:00PM</td>
			<td>$85 ($95 if not pre registered)</td>
			<td><a href="https://store.hoopgroup.com/events/2017-hghq-black-friday-hoopfest-2017">Register Here </a></td>
		</tr>
	</tbody>
</table>
