<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/NickRichards100.jpg" alt="nickrichards100" width="100" height="120" class="aligncenter size-full wp-image-80950" /></td>
			<td>Nick Richards</td>
			<td>Patrick School</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/RJCole100.jpg" alt="rjcole100" width="100" height="120" class="aligncenter size-full wp-image-80003" /></td>
			<td>RJ Cole</td>
			<td>St. Anthony</td>
			<td>Howard</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JamirHarris100.jpg" alt="jamirharris100" width="100" height="120" class="aligncenter size-full wp-image-80960" /></td>
			<td>Jamir Harris</td>
			<td>Patrick School</td>
			<td>Minnesota</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/MarcusMcClarry100.jpg" alt="marcusmcclarry100" width="100" height="120" class="aligncenter size-full wp-image-81016" /></td>
			<td>Marcus McClarry</td>
			<td>Patrick School</td>
			<td>Monmouth
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/BulAjang100.jpg" alt="bulajang100" width="100" height="120" class="aligncenter size-full wp-image-81020" /></td>
			<td>Bul Ajang</td>
			<td>Patrick School</td>
			<td>Tulane</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/BuayKoko100.jpg" alt="buaykoko100" width="100" height="120" class="aligncenter size-full wp-image-80649" /></td>
			<td>Buay Koko</td>
			<td>Patrick School</td>
			<td>Tulane</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/ElijahBarnes100.jpg" alt="elijahbarnes100" width="100" height="120" class="aligncenter size-full wp-image-80064" /></td>
			<td>Elijah Barnes</td>
			<td>Mater Dei</td>
			<td>Princeton</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
