<table>
	<thead>
		<tr>
			<th>Saturday, Jan 12th</th>
			<th>Away Team</th>
			<th>Home Team</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12:00 pm</td>
			<td>Point Beach</td>
			<td>Manasquan</td>
			<td><a href="https://www.gamechanger.io/game-50ef0cc86449a0155c691e12/plays/home">Live Box Score</a></td>
		</tr>
		<tr>
			<td>1:45 pm</td>
			<td>St. Anthony's</td>
			<td>CBA</td>
			<td><a href="https://www.gamechanger.io/game-50ef0d7f6449a01562d67450/plays/home">Live Box Score</a></td>
		</tr>
		<tr>
			<td>3:30 pm</td>
			<td>St. Joe's Metuchen</td>
			<td>Neptune</td>
			<td><a href="https://www.gamechanger.io/game-50ef0c3b6449a015f25c0f3a/plays/home">Live Box Score</a></td>
		</tr>
		<tr>
			<td>5:15 pm</td>
			<td>Colts Neck</td>
			<td>Long Branch</td>
			<td><a href="https://www.gamechanger.io/game-50ef0e546449a0155efc4e7d/plays/home">Live Box Score</a></td>
		</tr>
	</tbody>
</table>
