<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/allenbetrand100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91665" /></td>
			<td>Allen Betrand</td>
			<td>Roman Catholic</td>
			<td>Towson</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/11/KennyJones100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-90524" /></td>
			<td>Kenny Jones</td>
			<td>Mater Dei</td>
			<td>Loyola</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/09/JaredKimbrough100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-88865" /></td>
			<td>Jared Kimbrough</td>
			<td>Neptune</td>
			<td>La Salle</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
