<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/ianoconnor100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91686" />Ian O'Connor</td>
			<td>Rumson Fair-Haven  46</td>
			<td>CBA  43 </td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/stephenbrauenstein100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91688" />Stephen Braunstein</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/scottielewis100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91690" />Scottie Lewis</td>
			<td>Ranney  59  </td>
			<td>Patrick School  43</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/alamirdawes100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91692" />Al-Amir Dawes</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/allenbetrand100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91694" /> Allen Betrand</td>
			<td>Roman Catholic  59</td>
			<td>Mater Dei  49</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/xanderrice100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91696" />Alexander Rice</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/andrewseager100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91698" /> Andrew Seager</td>
			<td>Ocean  37</td>
			<td>Neptune  29</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/jaredkimbroughmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91700" />Jared Kimbrough</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/dannyfrauenheimmvp18100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91702" /> Danny Frauenheim</td>
			<td>Point Beach  54</td>
			<td>Middletown North  51</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/robbiehiggins100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91704" />Robbie Higgins</td>
		</tr>
	</tbody>
</table>
