<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys &amp; Girls</th>
			<th>Days</th>
			<th>Times</th>
			<th>Cost</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>July 23 - July 27</td>
			<td>Completed Grades 2-12</td>
			<td>Mon-Fri</td>
			<td>9:00AM-2:00 PM </td>
			<td>$315</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-bob-hurley-camp--2018">Register Here </a></td>
		</tr>
	</tbody>
</table>
