<table>
	<thead>
		<tr>
			<th>Philly Jam Fest 17U Team List</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>6th Man Warriors (MD)</td>
			<td>Move Your Feet (NJ)</td>
		</tr>
		<tr>
			<td>716 Crusaders (NY)</td>
			<td>Net Gain (WI)</td>
		</tr>
		<tr>
			<td>Advanced Hoops (PA)</td>
			<td>New England Playaz (MA)</td>
		</tr>
		<tr>
			<td>Baltimore Supreme (MD)</td>
			<td>New Heights White (NY)</td>
		</tr>
		<tr>
			<td>Baltimore Wildcats</td>
			<td>New Jerey Roadrunners</td>
		</tr>
		<tr>
			<td>Basics 1st (MD)</td>
			<td>New Jersey Cyclones</td>
		</tr>
		<tr>
			<td>Blue Star Maryland</td>
			<td>New Jersey Pirates</td>
		</tr>
		<tr>
			<td>Brooklyn Badgers</td>
			<td>New Rens (NY)</td>
		</tr>
		<tr>
			<td>Brooklyn Rens Black</td>
			<td>PA Pump &amp; Run</td>
		</tr>
		<tr>
			<td>Brooklyn Rens Red</td>
			<td>PAL of DE</td>
		</tr>
		<tr>
			<td>Cecil Kirk (MD)</td>
			<td>Philly Pride</td>
		</tr>
		<tr>
			<td>Central Penn Ballers</td>
			<td>Positive Image (PA)</td>
		</tr>
		<tr>
			<td>Crusader Nation (MD)</td>
			<td>Positive Image (PA)</td>
		</tr>
		<tr>
			<td>DC Assault-Farrington</td>
			<td>Prodigy Basketball (MA)</td>
		</tr>
		<tr>
			<td>Exodus NYC</td>
			<td>PYO (PA)</td>
		</tr>
		<tr>
			<td>Fairfax Stars (VA)</td>
			<td>Sam Rines (PA)</td>
		</tr>
		<tr>
			<td>Force One (MD)</td>
			<td>SMAC Blue Chips (PA)</td>
		</tr>
		<tr>
			<td>G-Force Stallions (NJ)</td>
			<td>South Jersey Select</td>
		</tr>
		<tr>
			<td>Greg Monroe ASSISTS (LA)</td>
			<td>Southern Kings (GA)</td>
		</tr>
		<tr>
			<td>Gym Rats (NJ)</td>
			<td>Sportsfest Grassroots (PA)</td>
		</tr>
		<tr>
			<td>Gym Rats Black (NJ)</td>
			<td>SYF Playaz (IN)</td>
		</tr>
		<tr>
			<td>Higher Level (VA)</td>
			<td>Team Elite (PA)</td>
		</tr>
		<tr>
			<td>Hunting Park Warriors (PA)</td>
			<td>Team Helping Hands (DE)</td>
		</tr>
		<tr>
			<td>Illinois Wolves (IN)</td>
			<td>Team Jersey Elite</td>
		</tr>
		<tr>
			<td>Ivey 23 Terps (MD)</td>
			<td>Team Melo (NY)</td>
		</tr>
		<tr>
			<td>JB Hoops Black-Callahan (PA)</td>
			<td>Team Pro Look (VA)</td>
		</tr>
		<tr>
			<td>JB Hoops Purple-Show (PA)</td>
			<td>Team Takeover Orange</td>
		</tr>
		<tr>
			<td>Jersey Shore Warriors (PA)</td>
			<td>Tri-County Basketball (CAN)</td>
		</tr>
		<tr>
			<td>Jersey Shore Warriors-Andree (NJ)</td>
			<td>Tri-State Phenoms (NJ)</td>
		</tr>
		<tr>
			<td>KC Run GMC</td>
			<td>UA Baltimore Finest</td>
		</tr>
		<tr>
			<td>King Street Kings (NJ)</td>
			<td>Utah Reign</td>
		</tr>
		<tr>
			<td>Las Vegas Prospects</td>
			<td>Virginia Assault</td>
		</tr>
		<tr>
			<td>Loudon Triple Threat (VA)</td>
			<td>Virginia Rapids</td>
		</tr>
		<tr>
			<td>Mid Atlantic Select (MD)</td>
			<td>Wayne PAL (NJ)</td>
		</tr>
		<tr>
			<td>Mid Atlantic Select-Jones (MD)</td>
			<td>WE R 1- ECE/NJABC (DE)</td>
		</tr>
		<tr>
			<td>Mountain Cat Basketball (PA)</td>
			<td>YBAM Heat (MD)</td>
		</tr>
	</tbody>
</table>
