<table>
	<thead>
		<tr>
			<th>Camp</th>
			<th>Semester</th>
			<th>Boys &amp; Girls</th>
			<th>Days</th>
			<th>Times</th>
			<th>Price</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Basketball 101Camp</td>
			<td>Aug 25 - Aug 28</td>
			<td>Grades 1-5</td>
			<td>Mon-Thurs</td>
			<td>9 am - 11 am</td>
			<td>$125</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_170&amp;products_id=1747">Register Here</a></td>
		</tr>
		<tr>
			<td>Boot Camp</td>
			<td>Aug 25 - Aug 28</td>
			<td>Grades 8-12</td>
			<td>Mon-Thurs</td>
			<td>12 pm - 2 pm</td>
			<td>$125</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_170&amp;products_id=1748">Register Here</a></td>
		</tr>
	</tbody>
</table>
