<table>
	<thead>
		<tr>
			<th>Semster</th>
			<th>Grades</th>
			<th>Days</th>
			<th>Time</th>
			<th>Cost </th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>2015</td>
			<td>Boys Grades 4-12</td>
			<td>Mon- Fri</td>
			<td>9:00 AM- 2:00 PM</td>
			<td>$275</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_170&amp;products_id=1730">Register Here</a></td>
		</tr>
	</tbody>
</table>
