<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Event</th>
			<th>Location</th>
			<th>Age Groups</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>March 11-13</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/skills/tournament-of-champions.php">Tournament of Champions</a></td>
			<td>Neptune, NJ</td>
			<td>10u-15u</td>
		</tr>
		<tr>
			<td>March 19-20</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns.php">HG Headquarters Spring Showdown I</a></td>
			<td>Neptune, NJ</td>
			<td>9u-17u</td>
		</tr>
		<tr>
			<td>March 26-27</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns.php">HG Headquarters March Madness Showdown</a></td>
			<td>Neptune, NJ</td>
			<td>9u-17u</td>
		</tr>
		<tr>
			<td>April 9-10</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns.php">HG Headquarters April Showdown</a></td>
			<td>Neptune, NJ</td>
			<td>11u-17u</td>
		</tr>
		<tr>
			<td>April 15-17</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/team-tournaments/grassroots-events/pittsburgh-jam-fest.php">Pittsburgh Hoop Group Jam Fest</a></td>
			<td>Pittsburgh, PA</td>
			<td>14u-Open</td>
		</tr>
		<tr>
			<td>April 16-17</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns.php">HG Headquarters Spring Showdown II</a></td>
			<td>Neptune, NJ</td>
			<td>9u-17u</td>
		</tr>
		<tr>
			<td>April 29-May 1</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/team-tournaments/grassroots-events/providence-hoop-group-jam-fest.php">Providence Hoop Group Jam Fest</a></td>
			<td>Providence, RI</td>
			<td>12u-Openu</td>
		</tr>
		<tr>
			<td>April 30-May1</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns.php">HG Headquarters May Showdown</a></td>
			<td>Neptune, NJ</td>
			<td>9u-17u</td>
		</tr>
		<tr>
			<td>May 6-8</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/team-tournaments/grassroots-events/southern-hoop-group-jam-fest.php">Southern Hoop Group Jam Fest</a></td>
			<td>Hampton, VA</td>
			<td>14u-17u</td>
		</tr>
		<tr>
			<td>May 14-15</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns.php">Spring Hoop Group Jam Fest Phase I</a></td>
			<td>Neptune, NJ</td>
			<td>9u-15u</td>
		</tr>
		<tr>
			<td>May 21-22</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns.php">Spring Hoop Group Jam Fest Phase II</a></td>
			<td>Neptune, NJ</td>
			<td>16u-17u</td>
		</tr>
		<tr>
			<td>June 4-5</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns.php">HG Headquarters Summer Boys Showdown</a></td>
			<td>Neptune, NJ</td>
			<td>9u-17u</td>
		</tr>
		<tr>
			<td>June 25-26</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns.php">HG Headquarters June Showdown
</a></td>
			<td>Neptune, NJ</td>
			<td>9u-17u</td>
		</tr>
		<tr>
			<td>July 11-12</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/team-tournaments/grassroots-events/summer-classic-east.php">Summer Classic East</a></td>
			<td>King of Prussia, PA</td>
			<td>16u-17u</td>
		</tr>
		<tr>
			<td>July 14-16</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/team-tournaments/grassroots-events/west-virginia-hoop-group-jam-fest.php">West Virginia Hoop Group Jam Fest</a></td>
			<td>Morgantown, WV</td>
			<td>15u-17u</td>
		</tr>
		<tr>
			<td>July 31</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/team-tournaments/grassroots-events/beast-of-the-east.php">Beast of the East</a></td>
			<td>Reading, PA</td>
			<td>16u-17u</td>
		</tr>
		<tr>
			<td>September 24-25</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/team-tournaments/grassroots-events/fall-hoop-group-jam-fest.php">Fall Hoop Group Jam Fest</a></td>
			<td>Neptune , NJ</td>
			<td>15u-Open</td>
		</tr>
	</tbody>
</table>
