<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys and Girls</th>
			<th>Days</th>
			<th>Times</th>
			<th>Price</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>August 17th-21st</td>
			<td>Grades 2-12</td>
			<td>Mon - Fri</td>
			<td>9am - 2pm</td>
			<td>$285</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_170&amp;products_id=1830">Register Here</a></td>
		</tr>
	</tbody>
</table>
