<table>
	<thead>
		<tr>
			<th>Division I</th>
			<th>Conference</th>
			<th>Head Coach</th>
			<th>Email</th>
			<th>Phone #</th>
			<th>Assistant Coach</th>
			<th>Email</th>
			<th>Phone #</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Albany</td>
			<td>American East Conference</td>
			<td>Will Brown</td>
			<td>wbrown@albany.edu</td>
			<td>518-442-3036</td>
			<td>Chad Odonnell</td>
			<td>codonnell@albany.edu</td>
			<td>518-442-3325</td>
		</tr>
		<tr>
			<td>Binghamton</td>
			<td>American East Conference</td>
			<td>Tom Dempsey</td>
			<td>tdempsey@binghamton.edu</td>
			<td>607-777-2118</td>
			<td>Lazarus Sims</td>
			<td>lsims@binghamton.edu</td>
			<td>607-777-6450</td>
		</tr>
		<tr>
			<td>Hartford</td>
			<td>American East Conference</td>
			<td>John Gallagher</td>
			<td>coachgal@hartford.edu</td>
			<td>860-768-4653</td>
			<td>Chris Gerlufsen</td>
			<td>gerlufsen@hartford.edu</td>
			<td>860-768-5046</td>
		</tr>
		<tr>
			<td>Maine</td>
			<td>American East Conference</td>
			<td>Bob Walsh</td>
			<td>bob.walsh@maine.edu</td>
			<td>207-581-1059</td>
			<td>Matt O'Brien</td>
			<td>mobrien@maine.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>New Hampshire</td>
			<td>American East Conference</td>
			<td>Bill Herrion</td>
			<td>bill.herrion@unh.edu</td>
			<td>603-862-3881</td>
			<td>Ken Dempsey</td>
			<td>ken.dempsey@unh.edu</td>
			<td>603-862-1844</td>
		</tr>
		<tr>
			<td>Stony Brook</td>
			<td>American East Conference</td>
			<td>Steve Pikiell</td>
			<td>Stephen.Pickiell@stonybrook.edu</td>
			<td>631-632-7201</td>
			<td>Jay Young</td>
			<td>John.Young@stonybrook.edu</td>
			<td>631-632-4769</td>
		</tr>
		<tr>
			<td>Umass Lowell</td>
			<td>American East Conference</td>
			<td>Pat Duquette</td>
			<td>Patrick_Duquette@uml.edu</td>
			<td>978-934-2340</td>
			<td>Michael Harding</td>
			<td>Michael_Harding@uml.edu</td>
			<td>978-934-2341</td>
		</tr>
		<tr>
			<td>UMBC</td>
			<td>American East Conference</td>
			<td>Aki Thomas</td>
			<td>aki@umbc.edu</td>
			<td>410-455-3873</td>
			<td>John Zito</td>
			<td>jz2@umbc.edu</td>
			<td>410-455-2125</td>
		</tr>
		<tr>
			<td>Vermont</td>
			<td>American East Conference</td>
			<td>John Becker</td>
			<td>john.becker@uvm.edu</td>
			<td>802-656-7974</td>
			<td>Chris Markwood</td>
			<td>christopher.markwood@uvm.edu</td>
			<td>802-656-7685</td>
		</tr>
		<tr>
			<td>Dayton</td>
			<td>Atlantic 10</td>
			<td>Archie Miller</td>
			<td>daytonhoops@udayton.edu</td>
			<td>937-229-4421</td>
			<td>Kevin Kuwik</td>
			<td>kkuwik1@udayton.edu</td>
			<td>937-229-4453</td>
		</tr>
		<tr>
			<td>Duquesne</td>
			<td>Atlantic 10</td>
			<td>Jim Ferry</td>
			<td></td>
			<td>412-396-6567</td>
			<td>Brian Nash</td>
			<td>nashb@duq.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Fordham</td>
			<td>Atlantic 10</td>
			<td>Tom Pecora</td>
			<td>tpecora1@fordham.edu</td>
			<td>718-817-4247</td>
			<td>David Duke</td>
			<td>dduke2@fordham.edu</td>
			<td>718-817-4226</td>
		</tr>
		<tr>
			<td>George Mason</td>
			<td>Atlantic 10</td>
			<td>Paul Hewitt</td>
			<td>phewitt2@gmu.edu</td>
			<td>703-993-3244</td>
			<td>Chris Kreider</td>
			<td>ckreider@gmu.edu</td>
			<td>703-993-3241</td>
		</tr>
		<tr>
			<td>George Washington</td>
			<td>Atlantic 10</td>
			<td>Mike Lonergan</td>
			<td></td>
			<td>202-994-6651</td>
			<td>Hajj Turner</td>
			<td>hajj@gwu.edu</td>
			<td>202-994-6715</td>
		</tr>
		<tr>
			<td>Umass</td>
			<td>Atlantic 10</td>
			<td>Derek Kellogg</td>
			<td>dwkellogg@admin.umass.edu</td>
			<td>413-545-2610</td>
			<td>Shyrone Chatman</td>
			<td>schatman@admin.umass.edu</td>
			<td>413-545-3733</td>
		</tr>
		<tr>
			<td>Rhode Island</td>
			<td>Atlantic 10</td>
			<td>Dan Hurley</td>
			<td>danhurley@uri.edu</td>
			<td>401-874-2544</td>
			<td>David Cox</td>
			<td>dcurli@mail.uri.edu</td>
			<td>401-874-2546</td>
		</tr>
		<tr>
			<td>Richmond</td>
			<td>Atlantic 10</td>
			<td>Chris Mooney</td>
			<td></td>
			<td>804-289-8384</td>
			<td>Jamal Brunt</td>
			<td>jbrunt@richmond.edu</td>
			<td>804-289-8387</td>
		</tr>
		<tr>
			<td>Saint Joseph's</td>
			<td>Atlantic 10</td>
			<td>Phil Martelli</td>
			<td>cariano@sju.edu</td>
			<td>610-660-1706</td>
			<td>Mark Buss</td>
			<td>bass@sju.edu</td>
			<td>610-660-1735</td>
		</tr>
		<tr>
			<td>Saint Louis</td>
			<td>Atlantic 10</td>
			<td>Jim Crews</td>
			<td>dienerrg@slu.edu</td>
			<td>314-977-2170</td>
			<td>Calbert Cheaney</td>
			<td>cheaneyc@slu.edu</td>
			<td>314-977-3168</td>
		</tr>
		<tr>
			<td>St. Bonaventure</td>
			<td>Atlantic 10</td>
			<td>Mark Schmidt</td>
			<td></td>
			<td>716-375-2207</td>
			<td>Jeff Massey</td>
			<td>jmassey@sbu.edu</td>
			<td>716-375-2259</td>
		</tr>
		<tr>
			<td>Virginia Commonwealth</td>
			<td>Atlantic 10</td>
			<td>Shaka Smart</td>
			<td>vcuhoops@vcu.edu</td>
			<td>804-828-1278</td>
			<td>Jeremy Ballard</td>
			<td>jkballard@vcu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>La Salle</td>
			<td>Atlantic 10</td>
			<td>John Giannini</td>
			<td>gianninij@lasalle.edu</td>
			<td>215-951-1518</td>
			<td>Horace Owens</td>
			<td>owens@lasalle.edu</td>
			<td>215-951-1635</td>
		</tr>
		<tr>
			<td>Charleston</td>
			<td>Colonial Athletic Association</td>
			<td>Doug Wojcik</td>
			<td>wojcikd@cofc.edu</td>
			<td>843-953-5547</td>
			<td>Ryan Freeberg</td>
			<td>freebergrm@cofc.edu</td>
			<td>843-953-5819</td>
		</tr>
		<tr>
			<td>Delaware</td>
			<td>Colonial Athletic Association</td>
			<td>Monte Ross</td>
			<td>rossm@udel.edu</td>
			<td></td>
			<td>Jeff Rafferty</td>
			<td>jraff@udel.edu</td>
			<td>302-831-4262</td>
		</tr>
		<tr>
			<td>Drexel</td>
			<td>Colonial Athletic Association</td>
			<td>James Flint</td>
			<td>flint@drexel.edu</td>
			<td>215-895-2348</td>
			<td>Mike Connors</td>
			<td>mpc38@drexel.edu</td>
			<td>215-895-1780</td>
		</tr>
		<tr>
			<td>Hofstra</td>
			<td>Colonial Athletic Association</td>
			<td>Joe Mihalich</td>
			<td>joseph.a.mihalich@hofstra.edu</td>
			<td>516-463-4667</td>
			<td>Mike Farrelly</td>
			<td>michael.j.farrelly@hofstra.edu</td>
			<td>516-463-6594</td>
		</tr>
		<tr>
			<td>James Madison</td>
			<td>Colonial Athletic Association</td>
			<td>Matt Brady</td>
			<td>bradymx@jmu.edu</td>
			<td>540-568-6462</td>
			<td>Rob O'Driscoll</td>
			<td>odriscrk@jmu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>UNC-Wilmington</td>
			<td>Colonial Athletic Association</td>
			<td>Kevin Keatts</td>
			<td></td>
			<td>910-962-3045</td>
			<td>Takayo Siddle</td>
			<td>siddlet@uncw.edu</td>
			<td>910-962-3569</td>
		</tr>
		<tr>
			<td>Northeastern</td>
			<td>Colonial Athletic Association</td>
			<td>Bill Coen</td>
			<td>w.coen@neu.edu</td>
			<td>617-373-7590</td>
			<td>David McLaughlin</td>
			<td>d.mclaughlin@neu.edu</td>
			<td>617-373-4467</td>
		</tr>
		<tr>
			<td>Townson</td>
			<td>Colonial Athletic Association</td>
			<td>Pat Skerry</td>
			<td>pskerry@towson.edu</td>
			<td>410-704-6262</td>
			<td>Kevin Clark</td>
			<td>ksclark@towson.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>William &amp; Mary</td>
			<td>Colonial Athletic Association</td>
			<td>Tony Shaver</td>
			<td>tlshav@wm.edu</td>
			<td>757-221-3339</td>
			<td>Jonathan Holmes</td>
			<td>jrholmes@wm.edu</td>
			<td>757-221-3376</td>
		</tr>
		<tr>
			<td>Charlotte</td>
			<td>Conference USA</td>
			<td>Alan Major</td>
			<td>mbailkos@uncc@.edu</td>
			<td>704-687-4939</td>
			<td>Stephen Doughton</td>
			<td>sdought1@uncc.edu</td>
			<td>704-687-0469</td>
		</tr>
		<tr>
			<td>Western Kentucky</td>
			<td>Conference USA</td>
			<td>Ray Harper</td>
			<td>ray.harper@wku.edu</td>
			<td>270-745-2131</td>
			<td>Lawrence Brenneman</td>
			<td>lawrence.brenneman@wku.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Florida Atlantic</td>
			<td>Conference USA</td>
			<td>Michael Curry</td>
			<td>currym@fau.edu</td>
			<td>561-297-0097</td>
			<td>Robbie Laing</td>
			<td>laingr@fau.edu</td>
			<td>561-297-0097</td>
		</tr>
		<tr>
			<td>Florida International</td>
			<td>Conference USA</td>
			<td>Anthony Evans</td>
			<td></td>
			<td>305-348-2964</td>
			<td>Mike Gillian</td>
			<td>jgillian@fiu.edu</td>
			<td>305-348-2964</td>
		</tr>
		<tr>
			<td>Louisiana Tech</td>
			<td>Conference USA</td>
			<td>Michael White</td>
			<td>mikew@latech.edu</td>
			<td>318-257-5196</td>
			<td>Dusty May</td>
			<td>damay@latech.edu</td>
			<td>318-257-2882</td>
		</tr>
		<tr>
			<td>Marshall</td>
			<td>Conference USA</td>
			<td>Dan D'Antoni</td>
			<td>millerca@marshall.edu</td>
			<td>304-696-6460</td>
			<td>Mark Cline</td>
			<td>clinem@marshall.edu</td>
			<td>304-696-2479</td>
		</tr>
		<tr>
			<td>Middle Tennessee</td>
			<td>Conference USA</td>
			<td>Kermit Davis</td>
			<td>kermit.davis@mtsu.edu</td>
			<td>615-898-2916</td>
			<td>Greg Grensing</td>
			<td>gregory.grensing@mtsu.edu</td>
			<td>615-898-5988</td>
		</tr>
		<tr>
			<td>North Texas</td>
			<td>Conference USA</td>
			<td>Tony Benford</td>
			<td>bonita.white@unt.edu</td>
			<td>940-565-3654</td>
			<td>Rob Evans</td>
			<td>rob.evans@unt.edu</td>
			<td>940-565-3670</td>
		</tr>
		<tr>
			<td>Old Dominion</td>
			<td>Conference USA</td>
			<td>Jeff Jones</td>
			<td>mensbasketball@odu.edu</td>
			<td>757-683-3362</td>
			<td>Bryant Stith</td>
			<td>blstith@odu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Rice</td>
			<td>Conference USA</td>
			<td>Mike Rhoades</td>
			<td>basketball@rice.edu</td>
			<td>713-348-4075</td>
			<td>Carlin Hartman</td>
			<td>chartman@rice.edu</td>
			<td>713-348-4075</td>
		</tr>
		<tr>
			<td>Southern Miss</td>
			<td>Conference USA</td>
			<td>Doc Sadler</td>
			<td></td>
			<td>601-266-6355</td>
			<td>Jareem Dowling</td>
			<td>jareem.dowling@usm.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>UTEP</td>
			<td>Conference USA</td>
			<td>Tim Floyd</td>
			<td>mjramos4@utep.edu</td>
			<td>915-747-5323</td>
			<td>Phil Johnson</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>UAB</td>
			<td>Conference USA</td>
			<td>Jerod Haase</td>
			<td>morgana@uab.edu</td>
			<td>205-934-3402</td>
			<td>Rob Ehsan</td>
			<td>rehsan@uab.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>UTSA</td>
			<td>Conference USA</td>
			<td>Brooks Thompson</td>
			<td>brooks.thompson@utsa.edu</td>
			<td>210-458-4963</td>
			<td>Dan O'Dowd</td>
			<td>odowd@utsa.edu</td>
			<td>210-458-4166</td>
		</tr>
		<tr>
			<td>Brown</td>
			<td>Ivy League</td>
			<td>Mike Martin</td>
			<td>Michael_F_Martin@brown.edu</td>
			<td>401-863-1226</td>
			<td>T.J. Sorrentine</td>
			<td>Thomas_Sorrentine@brown.edu</td>
			<td>401-863-1324</td>
		</tr>
		<tr>
			<td>Columbia</td>
			<td>Ivy League</td>
			<td>Kyle Smith</td>
			<td>ks2871@columbia.edu</td>
			<td>212-854-3103</td>
			<td>Derrick Phelps</td>
			<td>dp2742@columbia.edu</td>
			<td>212-854-7158</td>
		</tr>
		<tr>
			<td>Cornell</td>
			<td>Ivy League</td>
			<td>Bill Courtney</td>
			<td>wlc44@cornell.edu</td>
			<td>607-255-1316</td>
			<td>Marlon Sears</td>
			<td>mjs554@cornell.edu</td>
			<td>607-255-7503</td>
		</tr>
		<tr>
			<td>Dartmouth</td>
			<td>Ivy League</td>
			<td>Paul Cormier</td>
			<td>Paul.L.Cormier@dartmouth.edu</td>
			<td>603-646-2401</td>
			<td>Jean Bain</td>
			<td>Jean.Bain@dartmouth.edu</td>
			<td>603-646-3926</td>
		</tr>
		<tr>
			<td>Harvard</td>
			<td>Ivy League</td>
			<td>Tommy Amaker</td>
			<td></td>
			<td>617-495-4856</td>
			<td>Brian DeStefano</td>
			<td>bdestef@fas.harvard.edu</td>
			<td>617-495-3920</td>
		</tr>
		<tr>
			<td>Penn</td>
			<td>Ivy League</td>
			<td>Jerome Allen</td>
			<td>jgreger@upenn.edu</td>
			<td>215-898-0280</td>
			<td>Nat Graham</td>
			<td>ngraham@upenn.edu</td>
			<td>215-898-0642</td>
		</tr>
		<tr>
			<td>Princeton</td>
			<td>Ivy League</td>
			<td>Mitch Henderson</td>
			<td></td>
			<td>609-258-3512</td>
			<td>Brian Earl</td>
			<td>bwearl@princeton.edu</td>
			<td>609-258-2388</td>
		</tr>
		<tr>
			<td>Yale</td>
			<td>Ivy League</td>
			<td>James Jones</td>
			<td>j.jones@yale.edu</td>
			<td>203-432-1485</td>
			<td>Matt Kingsley</td>
			<td>matthew.kingsley@yale.edu</td>
			<td>203-432-1483</td>
		</tr>
		<tr>
			<td>Canisius</td>
			<td>Metro Atlantic Athletic Conference</td>
			<td>Jim Baron</td>
			<td>baronj@canisius.edu</td>
			<td>716-888-2971</td>
			<td>Pat Clark</td>
			<td>clarkp@canisius.edu</td>
			<td>716-888-2982</td>
		</tr>
		<tr>
			<td>Iona</td>
			<td>Metro Atlantic Athletic Conference</td>
			<td>Tim Cluess</td>
			<td>tcluess@iona.edu</td>
			<td>914-633-2304</td>
			<td>Jared Grasso</td>
			<td>jgrasso@iona.edu</td>
			<td>914-633-2568</td>
		</tr>
		<tr>
			<td>Marist</td>
			<td>Metro Atlantic Athletic Conference</td>
			<td>Mike Maker</td>
			<td></td>
			<td>845-575-3000</td>
			<td>Paul Lee</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Niagara</td>
			<td>Metro Atlantic Athletic Conference</td>
			<td>Chris Casey</td>
			<td></td>
			<td></td>
			<td>Marc Rybczyk</td>
			<td>mrybczyk@niagara.edu</td>
			<td>716-286-8608</td>
		</tr>
		<tr>
			<td>Rider</td>
			<td>Metro Atlantic Athletic Conference</td>
			<td>Kevin Baggett</td>
			<td>kbaggett@rider.edu</td>
			<td>609-896-5251</td>
			<td>Mike Witcoskie</td>
			<td>mwitcoskie@rider.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Siena</td>
			<td>Metro Atlantic Athletic Conference</td>
			<td>Jimmy Patsos</td>
			<td>jpatsos@siena.edu</td>
			<td>518-783-2551</td>
			<td>Greg Manning</td>
			<td>gmanning@siena.edu</td>
			<td>518-783-2529</td>
		</tr>
		<tr>
			<td>Farfield</td>
			<td>Metro Atlantic Athletic Conference</td>
			<td>Sydney Johnson</td>
			<td>menshoops@fairfield.edu</td>
			<td>203-254-4000</td>
			<td>Martin Bahar</td>
			<td>mbahar@fairfield.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Manhattan</td>
			<td>Metro Atlantic Athletic Conference</td>
			<td>Steve Masiello</td>
			<td>stephen.masiello@manhattan.edu</td>
			<td>718-862-7180</td>
			<td>Matt Grady</td>
			<td>matthew.grady@manhattan.edu</td>
			<td>718-862-7533</td>
		</tr>
		<tr>
			<td>Monmouth</td>
			<td>Metro Atlantic Athletic Conference</td>
			<td>King Rice</td>
			<td></td>
			<td></td>
			<td>Rick Callahan</td>
			<td>rcallaha@monmouth.edu</td>
			<td>732-571-5184</td>
		</tr>
		<tr>
			<td>Quinnipiac</td>
			<td>Metro Atlantic Athletic Conference</td>
			<td>Tom Moore</td>
			<td>lori.landino@quinnipiac.edu</td>
			<td>203-582-3992</td>
			<td>Sean Doherty</td>
			<td>sean.doherty@quinnipiac.edu</td>
			<td>203-582-3786</td>
		</tr>
		<tr>
			<td>Saint Peter's</td>
			<td>Metro Atlantic Athletic Conference</td>
			<td>John Dunne</td>
			<td>jdunne@saintpeters.edu</td>
			<td>201-761-7331</td>
			<td>Marlon Guild</td>
			<td>mguild@saintpeters.edu</td>
			<td>201-761-7334</td>
		</tr>
		<tr>
			<td>Akron</td>
			<td>Mid-American Conference</td>
			<td>Keith Dambrot</td>
			<td>ama38@uakron.edu</td>
			<td>330-972-7781</td>
			<td>Rick McFadden</td>
			<td>akronhoops@uakron.edu</td>
			<td>330-972-6226</td>
		</tr>
		<tr>
			<td>Ball State</td>
			<td>Mid-American Conference</td>
			<td>James Whitford</td>
			<td>mbasketball@bsu.edu</td>
			<td>765-285-8141</td>
			<td>Jason Grunkemeyer</td>
			<td>jdgrunkemeye@bsu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Bowling Green</td>
			<td>Mid-American Conference</td>
			<td>Chris Jans</td>
			<td>cjans@bbgsu.edu</td>
			<td>419-372-4014</td>
			<td>David Ragland</td>
			<td>ragland@bgsu.edu</td>
			<td>419-372-7448</td>
		</tr>
		<tr>
			<td>Buffalo</td>
			<td>Mid-American Conference</td>
			<td>Bobby Hurley</td>
			<td>ub-mensbasketball@buffalo.edu</td>
			<td>716-645-3025</td>
			<td>Levi Watkins</td>
			<td>leviw@buffalo.edu</td>
			<td>716-645-3921</td>
		</tr>
		<tr>
			<td>Central Michigan</td>
			<td>Mid-American Conference</td>
			<td>Kheno Davis</td>
			<td>chippewasbball@cmich.edu</td>
			<td>989-774-4302</td>
			<td>Kevin Gamble</td>
			<td>gambl1kd@cmich.edu</td>
			<td>989-774-4302</td>
		</tr>
		<tr>
			<td>Eastern Michigan</td>
			<td>Mid-American Conference</td>
			<td>Tory Verdi</td>
			<td>emu_wbb@emich.edu</td>
			<td>734-487-0481</td>
			<td>Mike Grouxl</td>
			<td>mgroulx1@emich.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Kent State</td>
			<td>Mid-American Conference</td>
			<td>Rob Senderoff</td>
			<td>rsendero@kent.edu</td>
			<td>330-672-8437</td>
			<td>Bobby Steinburg</td>
			<td>rsteinbu@kent.edu</td>
			<td>330-672-6509</td>
		</tr>
		<tr>
			<td>Miami</td>
			<td>Mid-American Conference</td>
			<td>John Cooper</td>
			<td>walkercl@miamioh.edu</td>
			<td>513-529-1650</td>
			<td>Rick Duckett</td>
			<td>ducketrl@miamioh.edu</td>
			<td>513-529-1650</td>
		</tr>
		<tr>
			<td>Northern Illinois</td>
			<td>Mid-American Conference</td>
			<td>Mark Montgomery</td>
			<td></td>
			<td>815-753-1633</td>
			<td>John Borovich</td>
			<td>jborovich@niu.edu</td>
			<td>815-753-1361</td>
		</tr>
		<tr>
			<td>Ohio</td>
			<td>Mid-American Conference</td>
			<td>Saul Phillips</td>
			<td>whiteb1@ohio.edu</td>
			<td>740-593-1956</td>
			<td>Will Ryan</td>
			<td>ryanw2@ohio.edu</td>
			<td>740-593-1201</td>
		</tr>
		<tr>
			<td>Toledo</td>
			<td>Mid-American Conference</td>
			<td>Tod Kowalczyk</td>
			<td></td>
			<td>419-530-4187</td>
			<td>Jason Kaslow</td>
			<td>jason.kalsow@utoledo.edu</td>
			<td>419-530-7739</td>
		</tr>
		<tr>
			<td>Western Michigan</td>
			<td>Mid-American Conference</td>
			<td>Steve Hawkins</td>
			<td>steve.hawkins@wmich.edu</td>
			<td>269-387-3608</td>
			<td>Clayton Bates</td>
			<td>clayton.bates@wmich.edu</td>
			<td>269-387-3116</td>
		</tr>
		<tr>
			<td>American</td>
			<td>Patriot League</td>
			<td>Mike Brennan</td>
			<td>mbrennan@american.edu</td>
			<td>202-885-3009</td>
			<td>Scott Greenman</td>
			<td>greenman@american.edu</td>
			<td>202-885-3012</td>
		</tr>
		<tr>
			<td>Army</td>
			<td>Patriot League</td>
			<td>Zach Spiker</td>
			<td>zachary.spiker@usma.edu</td>
			<td>845-938-2419</td>
			<td>Jimmy Allen</td>
			<td>james.allen@usma.edu</td>
			<td>845-938-4301</td>
		</tr>
		<tr>
			<td>Boston University</td>
			<td>Patriot League</td>
			<td>Joe Jones</td>
			<td>jbianco@bu.edu</td>
			<td>617-358-0749</td>
			<td>Curtis Wilson</td>
			<td>cpwilson@bu.edu</td>
			<td>617-358-0747</td>
		</tr>
		<tr>
			<td>Bucknell</td>
			<td>Patriot League</td>
			<td>Dave Paulsen</td>
			<td>drp011@bucknell.edu</td>
			<td>570-577-1267</td>
			<td>Dane Fischer</td>
			<td>djf024@bucknell.edu</td>
			<td>570-577-3078</td>
		</tr>
		<tr>
			<td>Colgate</td>
			<td>Patriot League</td>
			<td>Matt Langel</td>
			<td>mlangel@colgate.edu</td>
			<td>315-228-7571</td>
			<td>Dave Klatsky</td>
			<td>dklatsky@colgate.edu</td>
			<td>315-228-7595</td>
		</tr>
		<tr>
			<td>Holy Cross</td>
			<td>Patriot League</td>
			<td>Milan Brown</td>
			<td>mbrown@holycross.edu</td>
			<td>508-793-2323</td>
			<td>Brion Dunlap</td>
			<td>bdunlap@holycross.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Lafayette</td>
			<td>Patriot League</td>
			<td>Fran O'Hanlon</td>
			<td>ohanlonf@lafayette.edu</td>
			<td>610-330-5375</td>
			<td>Pat Doherty</td>
			<td>dohertyp@lafayette.edu</td>
			<td>610-330-5477</td>
		</tr>
		<tr>
			<td>Lehigh</td>
			<td>Patriot League</td>
			<td>Brett Reed</td>
			<td>basketball@lehighrecruiting.com</td>
			<td>610-758-4188</td>
			<td>Antoni Wyche</td>
			<td>fusaror@lehigh.edu</td>
			<td>610-758-5190</td>
		</tr>
		<tr>
			<td>Loyola MD.</td>
			<td>Patriot League</td>
			<td>G.G. Smith</td>
			<td>ogsmith@loyola.edu</td>
			<td></td>
			<td>Keith Booth</td>
			<td>kebooth@loyola.edu</td>
			<td>410-617-2767</td>
		</tr>
		<tr>
			<td>Navy</td>
			<td>Patriot League</td>
			<td>Ed DeChellis</td>
			<td>dechelli@usna.edu</td>
			<td>410-293-2627</td>
			<td>Dan Earl</td>
			<td>earl@usna.edu</td>
			<td>410-293-2627</td>
		</tr>
		<tr>
			<td>Florida Gulf Coast</td>
			<td>Atlantic Sun Conference</td>
			<td>Joe Dooley</td>
			<td>jjones@fgcu.edu</td>
			<td>239-590-7487</td>
			<td>Marty Richter</td>
			<td>mrichter@fgcu.edu</td>
			<td>239-590-7032</td>
		</tr>
		<tr>
			<td>Jacksonville</td>
			<td>Atlantic Sun Conference</td>
			<td>Tony Jasick</td>
			<td>tjasick@ju.edu</td>
			<td>904-256-7415</td>
			<td>Azeez Ali</td>
			<td>aali1@ju.edu</td>
			<td>904-256-7418</td>
		</tr>
		<tr>
			<td>Kennesaw State</td>
			<td>Atlantic Sun Conference</td>
			<td>Jimmyt Lallathin</td>
			<td>jlallath@kennesaw.edu</td>
			<td>678-797-2697</td>
			<td>David Rivers</td>
			<td>driver15@kennesaw.edu</td>
			<td>770-423-6389</td>
		</tr>
		<tr>
			<td>Lipscomb</td>
			<td>Atlantic Sun Conference</td>
			<td>Casey Alexander</td>
			<td>adam.jones@lipscomb.edu</td>
			<td></td>
			<td>Roger Idstrom</td>
			<td>roger.idstrom@lipscomb.edu</td>
			<td>615-966-5992</td>
		</tr>
		<tr>
			<td>Northern Kentucky</td>
			<td>Atlantic Sun Conference</td>
			<td>Dave Bezold</td>
			<td>bezoldd@nku.edu</td>
			<td>859-572-5192</td>
			<td>Kevin Schappell</td>
			<td>schappellk@nku.edu</td>
			<td>859-572-7835</td>
		</tr>
		<tr>
			<td>Stetson</td>
			<td>Atlantic Sun Conference</td>
			<td>Corey Williams</td>
			<td>clwillia@stetson.edu</td>
			<td>386-822-8104</td>
			<td>Mike Jasulski</td>
			<td>mjaskuls@stetson.edu</td>
			<td>386-822-8104</td>
		</tr>
		<tr>
			<td>North Florida</td>
			<td>Atlantic Sun Conference</td>
			<td>Matthew Driscoll</td>
			<td>m.driscoll@unf.edu</td>
			<td>904-620-2494</td>
			<td>Bobby Kennen</td>
			<td>r.kennen@unf.edu</td>
			<td>904-620-2355</td>
		</tr>
		<tr>
			<td>USC Upstate</td>
			<td>Atlantic Sun Conference</td>
			<td>Eddie Payne</td>
			<td>epayne@uscupstate.edu</td>
			<td>864-503-5177</td>
			<td>Kyle Perry</td>
			<td>kperry@uscupstate.edu</td>
			<td>864-503-5115</td>
		</tr>
		<tr>
			<td>Butler</td>
			<td>Big East Conference</td>
			<td>Brandon Miller</td>
			<td>smccleer@butler.edu</td>
			<td>317-940-9377</td>
			<td>Michael Lewis</td>
			<td>mmlewis1@butler.edu</td>
			<td>317-940-8807</td>
		</tr>
		<tr>
			<td>Creighton</td>
			<td>Big East Conference</td>
			<td>Greg McDermott</td>
			<td>gjm52@creighton.edu</td>
			<td>402-280-1795</td>
			<td>Darian DeVries</td>
			<td>ddevries@creighton.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>DePaul</td>
			<td>Big East Conference</td>
			<td>Oliver Purnell</td>
			<td>ljespen@depaul.edu</td>
			<td>773-325-7521</td>
			<td>Ron Bradley</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Georgetown</td>
			<td>Big East Conference</td>
			<td>John Thompson III</td>
			<td>menshoops@georgetown.edu</td>
			<td>202-687-2374</td>
			<td>Tavaras Hardy</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Marquette</td>
			<td>Big East Conference</td>
			<td>Steve Wojciechowski</td>
			<td>barbara.kellaher@marquette.edu</td>
			<td>414-288-7130</td>
			<td>Chris Carrawell</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Providence</td>
			<td>Big East Conference</td>
			<td>Ed Cooley</td>
			<td>mjackso7@providence.edu</td>
			<td>401-865-2266</td>
			<td>Andre LaFleur</td>
			<td>alafleu1@providence.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>St. John's</td>
			<td>Big East Conference</td>
			<td>Steve Lavin</td>
			<td>lavins@stjohn.edu</td>
			<td>718-940-6225</td>
			<td>Rico Hines</td>
			<td>hinesd@stjohns.edu</td>
			<td>718-940-5885</td>
		</tr>
		<tr>
			<td>Seton Hall</td>
			<td>Big East Conference</td>
			<td>Kevin Willard</td>
			<td>grant.billmeier@shu.edu</td>
			<td>973-761-9070</td>
			<td>Shaheen Holloway</td>
			<td>shaheen.holloway@shu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Villanova</td>
			<td>Big East Conference</td>
			<td>Jay Wright</td>
			<td>jerold.wright@villanova.edu</td>
			<td>610-519-4140</td>
			<td>Baker Dunleavy</td>
			<td>baker.dunleavy@villanova.edu</td>
			<td>610-519-4143</td>
		</tr>
		<tr>
			<td>Xavier</td>
			<td>Big East Conference</td>
			<td>Chris Mack</td>
			<td>mackc@xavier.edu</td>
			<td>513-745-3417</td>
			<td>Rick Carter</td>
			<td>carterr3@xavier.edu</td>
			<td>513-745-2850</td>
		</tr>
		<tr>
			<td>Bethune-Cookman</td>
			<td>Mid-Eastern Athletic Conference</td>
			<td>Gravelle Craig</td>
			<td>gravellec@cookman.edu</td>
			<td>386-481-2218</td>
			<td>Rodney Martin</td>
			<td>martinr@cookman.edu</td>
			<td>386-481-2214</td>
		</tr>
		<tr>
			<td>Coppin State</td>
			<td>Mid-Eastern Athletic Conference</td>
			<td>Michael Grant</td>
			<td>mgrant@coppin.edu</td>
			<td>410-951-3727</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Delaware State</td>
			<td>Mid-Eastern Athletic Conference</td>
			<td>Keith Walker</td>
			<td>kbwalker@desu.edu</td>
			<td>302-857-6139</td>
			<td>Jane Hicks</td>
			<td>jhicks@desu.edu</td>
			<td>302-857-7493</td>
		</tr>
		<tr>
			<td>Hampton</td>
			<td>Mid-Eastern Athletic Conference</td>
			<td>Edward Joyner, Jr.</td>
			<td>edward.joyner@hamptonu.edu</td>
			<td>757-728-6818</td>
			<td>Darryl Sharp</td>
			<td>daryyl.sharp@hamtonu.edu</td>
			<td>757-728-6824</td>
		</tr>
		<tr>
			<td>Howard</td>
			<td>Mid-Eastern Athletic Conference</td>
			<td>Kevin Nickelberry</td>
			<td>kevin.nickelberry@howard.edu</td>
			<td>202-806-6689</td>
			<td>Keith Courtreyer</td>
			<td>keith.courtreyer@howard.edu</td>
			<td>202-806-6798</td>
		</tr>
		<tr>
			<td>Maryland Eastern Shore</td>
			<td>Mid-Eastern Athletic Conference</td>
			<td>Bobby Collins</td>
			<td>cafasnacht@umes.edu</td>
			<td>410-651-8071</td>
			<td>(Vacant)</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Norfolk State</td>
			<td>Mid-Eastern Athletic Conference</td>
			<td>Robert Jones</td>
			<td>rljones@nsu.edu</td>
			<td></td>
			<td>Larry Vickers</td>
			<td>lcvickers@nsu.edu</td>
			<td>757-823-2840</td>
		</tr>
		<tr>
			<td>North Carolina A&amp;T</td>
			<td>Mid-Eastern Athletic Conference</td>
			<td>Cy Alexander</td>
			<td>cwalexan@ncat.edu</td>
			<td>336-256-2658</td>
			<td>Jay Joyner</td>
			<td>jcjoyner@ncat.edu</td>
			<td>336-285-3613</td>
		</tr>
		<tr>
			<td>North Carolina Central</td>
			<td>Mid-Eastern Athletic Conference</td>
			<td>LeVille Moton</td>
			<td>lmoton@nccu.edu</td>
			<td>919-530-7058</td>
			<td>Brian Burg</td>
			<td>bburg@nccu.edu</td>
			<td>919-530-7059</td>
		</tr>
		<tr>
			<td>Florida A&amp;M</td>
			<td>Mid-Eastern Athletic Conference</td>
			<td>Byron Samuels</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Morgan State</td>
			<td>Mid-Eastern Athletic Conference</td>
			<td>Todd Bozeman</td>
			<td>todd.bozeman@morgan.edu</td>
			<td>443-885-4514</td>
			<td>Keith Goodie</td>
			<td>keith.goodie@morgan.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Savannah State</td>
			<td>Mid-Eastern Athletic Conference</td>
			<td>Horace Broadnax</td>
			<td>broadnax@savannahstate.edu</td>
			<td>912-358-3446</td>
			<td>Jay Gibbons</td>
			<td>gibbonsj@savannahstate.edu</td>
			<td>912-358-3447</td>
		</tr>
		<tr>
			<td>South Carolina State</td>
			<td>Mid-Eastern Athletic Conference</td>
			<td>Murray Garvin</td>
			<td>mgarvin3@scsu.edu</td>
			<td>803-536-8575</td>
			<td>Ken Spencer</td>
			<td>kspencer@scsu.edu</td>
			<td>803-536-8760</td>
		</tr>
		<tr>
			<td>Bryant</td>
			<td>Northeast Conference</td>
			<td>Tim O'Shea</td>
			<td>toshea1@bryant</td>
			<td>401-232-6077</td>
			<td>Happy Dobbs</td>
			<td>fdobbs1@bryant.edu</td>
			<td>401-232-6902</td>
		</tr>
		<tr>
			<td>Central Connecticut</td>
			<td>Northeast Conference</td>
			<td>Howie Dickenman</td>
			<td></td>
			<td>860-832-3053</td>
			<td>Steve Treffiletti</td>
			<td>streffiletti@ccsu.edu</td>
			<td>860-832-3083</td>
		</tr>
		<tr>
			<td>Fairleigh Dickinson</td>
			<td>Northeast Conference</td>
			<td>Greg Herenda</td>
			<td>gherenda@fdu.edu</td>
			<td>201-692-2245</td>
			<td>Bruce Hamburger</td>
			<td>bhamburg@fdu.edu</td>
			<td>201-692-9435</td>
		</tr>
		<tr>
			<td>LUI Brooklyn</td>
			<td>Northeast Conference</td>
			<td>Jack Perri</td>
			<td>john.perri@lui.edu</td>
			<td>718-246-6338</td>
			<td>Mark Calzonetti</td>
			<td>mark.calzonetti@lui.edu</td>
			<td>718-488-1528</td>
		</tr>
		<tr>
			<td>Mount Saint Mary's</td>
			<td>Northeast Conference</td>
			<td>Jamion Christian</td>
			<td>matturro@msmary.edu</td>
			<td></td>
			<td>Ben Wilkins</td>
			<td>wilkins@msmary.edu</td>
			<td>301-447-5393</td>
		</tr>
		<tr>
			<td>Robert Morris</td>
			<td>Northeast Conference</td>
			<td>Andrew Toole</td>
			<td>toole@rmu.edu</td>
			<td>412-397-4967</td>
			<td>Joe Gallo</td>
			<td>gallo@rmu.edu</td>
			<td>412-397-4968</td>
		</tr>
		<tr>
			<td>Sacred Heart</td>
			<td>Northeast Conference</td>
			<td>Anthony Latina</td>
			<td>latinaa@sacredheart.edu</td>
			<td>203-365-4757</td>
			<td>Johnny Kidd</td>
			<td>kiddj@sacredheart.edu</td>
			<td>203-365-7567</td>
		</tr>
		<tr>
			<td>St. Francis Brooklyn</td>
			<td>Northeast Conference</td>
			<td>Glenn Braica</td>
			<td>gbraica@sfc.edu</td>
			<td></td>
			<td>Clive Bentick</td>
			<td>cbentick@sfc.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Saint Francis U</td>
			<td>Northeast Conference</td>
			<td>Rob Krimmel</td>
			<td>rkrimmel@francis.edu</td>
			<td>814-472-3292</td>
			<td>Mike Summey</td>
			<td>msummey@francis.edu</td>
			<td>814-472-3279</td>
		</tr>
		<tr>
			<td>Wagner</td>
			<td>Northeast Conference</td>
			<td>Bashir Mason</td>
			<td>bashir.mason@wagner.edu</td>
			<td>718-390-3468</td>
			<td>Mike Babul</td>
			<td>michael.babul@wagner.edu</td>
			<td>718-390-3300</td>
		</tr>
		<tr>
			<td>Belmont</td>
			<td>Ohio Valley Conference</td>
			<td>Rick Byrd</td>
			<td>rick.byrd@belmont.edu</td>
			<td>615-460-6854</td>
			<td>Brian Ayers</td>
			<td>brian.ayers@belmont</td>
			<td>615-460-6832</td>
		</tr>
		<tr>
			<td>Eastern Kentucky</td>
			<td>Ohio Valley Conference</td>
			<td>Jeff Neubauer</td>
			<td>jeff.neubauer@eku.edu</td>
			<td>859-622-6501</td>
			<td>Rodney Crawford</td>
			<td>rodney.crawford@eku.edu</td>
			<td>859-622-1144</td>
		</tr>
		<tr>
			<td>Morehead State</td>
			<td>Ohio Valley Conference</td>
			<td>Sean Woods</td>
			<td>s.woods@moreheadstate.edu</td>
			<td>606-783-2087</td>
			<td>Dylan Howard</td>
			<td>d.howard@moreheadstate.edu</td>
			<td>606-783-5143</td>
		</tr>
		<tr>
			<td>Tennessee Tech</td>
			<td>Ohio Valley Conference</td>
			<td>Steve  Payne</td>
			<td>spayne@tntech.edu</td>
			<td>931-372-3950</td>
			<td>Rick Cabrera</td>
			<td>hrcabrera@tntech.edu</td>
			<td>931-372-3952</td>
		</tr>
		<tr>
			<td>Tennessee State</td>
			<td>Ohio Valley Conference</td>
			<td>Dana Ford</td>
			<td></td>
			<td>615-963-5905</td>
			<td>Rodney Hamilton</td>
			<td>rhamit2@tnstate.edu</td>
			<td>615-963-2520</td>
		</tr>
		<tr>
			<td>Jacksonville State</td>
			<td>Ohio Valley Conference</td>
			<td>James Green</td>
			<td>jegreen@jsu.edu</td>
			<td>256-782-5535</td>
			<td>Reggie Sharp</td>
			<td>rsharp@jsu.edu</td>
			<td>256-782-5831</td>
		</tr>
		<tr>
			<td>Murray State</td>
			<td>Ohio Valley Conference</td>
			<td>Steve Prohm</td>
			<td>sprohm@murraystate.edu</td>
			<td>270-809-6804</td>
			<td>Matt McMahon</td>
			<td>mmcmahon@murraystate.edu</td>
			<td>270-809-6768</td>
		</tr>
		<tr>
			<td>Southeast Missouri</td>
			<td>Ohio Valley Conference</td>
			<td>Dickey Nutt</td>
			<td>dnutt@semo.edu</td>
			<td>573-651-5030</td>
			<td>Jamie Rosser</td>
			<td>jhrosser@semo.edu</td>
			<td>573-651-2564</td>
		</tr>
		<tr>
			<td>SIUE</td>
			<td>Ohio Valley Conference</td>
			<td>Lennox Forrester</td>
			<td>decunni@siue.edu</td>
			<td>618-650-2896</td>
			<td>Matt Laur</td>
			<td>mlaur@siue.edu</td>
			<td>618-650-2808</td>
		</tr>
		<tr>
			<td>Eastern Illinois</td>
			<td>Ohio Valley Conference</td>
			<td>Jay Spoonhour</td>
			<td>jjeichman@eiu.edu</td>
			<td>217-581-2511</td>
			<td>Rand Chappell</td>
			<td>crchappell@eiu.edu</td>
			<td>217-581-7760</td>
		</tr>
		<tr>
			<td>Austin Peay</td>
			<td>Ohio Valley Conference</td>
			<td>Dave Loos</td>
			<td>loosd@apsu.edu</td>
			<td>931-221-7912</td>
			<td>Corey Gipson</td>
			<td>gipsonc@apsu.edu</td>
			<td>931-221-7616</td>
		</tr>
		<tr>
			<td>UT Martin</td>
			<td>Ohio Valley Conference</td>
			<td>Heath Schroyer</td>
			<td>hschroye@utm.edu</td>
			<td>731-881-7659</td>
			<td>Anthony Stewart</td>
			<td>astewa54@utm.edu</td>
			<td>731-881-7684</td>
		</tr>
		<tr>
			<td>The Citadel</td>
			<td>Southern Conference</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>ETSU</td>
			<td>Southern Conference</td>
			<td>Murry Bartow</td>
			<td>richmondma@etsu.edu</td>
			<td>423-439-4207</td>
			<td>Bob Bolen</td>
			<td>bolenr@etsu.edu</td>
			<td>423-439-5268</td>
		</tr>
		<tr>
			<td>Furman</td>
			<td>Southern Conference</td>
			<td>Niko Medved</td>
			<td>Niko.Medved@furman.edu</td>
			<td>864-294-2170</td>
			<td>Bob Richey</td>
			<td>Bob.Richey@furman.edu</td>
			<td>864-294-3438</td>
		</tr>
		<tr>
			<td>Mercer</td>
			<td>Southern Conference</td>
			<td>Bob Hoffman</td>
			<td>howard_jm@mercer.edu</td>
			<td>478-301-5211</td>
			<td>Doug Esleeck</td>
			<td>esleeck_dg@mercer.edu</td>
			<td>478-301-2085</td>
		</tr>
		<tr>
			<td>UNCG</td>
			<td>Southern Conference</td>
			<td>Wes Miller</td>
			<td>jbtanner@uncg.edu</td>
			<td>336-334-3003</td>
			<td>Mike Roberts</td>
			<td>mikeroberts@uncg.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Samford</td>
			<td>Southern Conference</td>
			<td>Scott Padgett</td>
			<td>spadgett@samford.edu</td>
			<td>205-726-2920</td>
			<td>Jake Headrick</td>
			<td>jheadric@samford.edu</td>
			<td>205-726-2920</td>
		</tr>
		<tr>
			<td>Chattanooga</td>
			<td>Southern Conference</td>
			<td>Will Wade</td>
			<td>will-wade@utc.edu</td>
			<td>423-425-4592</td>
			<td>Turner Battle</td>
			<td>turner-battle@utc.edu</td>
			<td>423-425-4421</td>
		</tr>
		<tr>
			<td>VMI</td>
			<td>Southern Conference</td>
			<td>Duggar Baucom</td>
			<td>baucomrf@vmi.edu</td>
			<td>540-464-7384</td>
			<td>Daniel Willis</td>
			<td>willisdw@vmi.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Western Carolina</td>
			<td>Southern Conference</td>
			<td>Larry Hunter</td>
			<td>hunter@email.wcu.edu</td>
			<td>828-227-2017</td>
			<td>Anquell McCollum</td>
			<td>amccollum@email.wcu.edu</td>
			<td>828-227-2020</td>
		</tr>
		<tr>
			<td>Wofford</td>
			<td>Southern Conference</td>
			<td>Mike Young</td>
			<td>youngmk@wofford.edu</td>
			<td>864-597-4117</td>
			<td>Dustin Kerns</td>
			<td>kernsdm@wofford.edu</td>
			<td>864-597-4158</td>
		</tr>
		<tr>
			<td>Denver</td>
			<td>The Summit League</td>
			<td>Joe Scott</td>
			<td>joseph.scott@du.edu</td>
			<td>303-871-6583</td>
			<td>Mike McKee</td>
			<td>michael.mckee@du.edu</td>
			<td>303-871-3293</td>
		</tr>
		<tr>
			<td>Fort Wayne</td>
			<td>The Summit League</td>
			<td>Jon Coffman</td>
			<td>coffmanj@ipfw.edu</td>
			<td>260-481-6889</td>
			<td>Ben Betts</td>
			<td>bettsb@ipfw.edu</td>
			<td>260-481-5729</td>
		</tr>
		<tr>
			<td>IUPUI</td>
			<td>The Summit League</td>
			<td>Jason Gardner</td>
			<td>jg40@iupui.edu</td>
			<td></td>
			<td>Matt Crenshaw</td>
			<td>mcrensha@iupui.edu</td>
			<td>317-278-2655</td>
		</tr>
		<tr>
			<td>North Dakota State</td>
			<td>The Summit League</td>
			<td>David Richman</td>
			<td>david.richman@ndsu.edu</td>
			<td>701-231-1021</td>
			<td>Jayden Olson</td>
			<td>jayden.olson@ndsu.edu</td>
			<td>701-231-6172</td>
		</tr>
		<tr>
			<td>Omaha</td>
			<td>The Summit League</td>
			<td>Derrin Hansen</td>
			<td>dhansen@unomaha.edu</td>
			<td>402-554-2305</td>
			<td>Pat Eberhart</td>
			<td>peberhart@unomaha.edu</td>
			<td>402-554-2142</td>
		</tr>
		<tr>
			<td>Oral Roberts</td>
			<td>The Summit League</td>
			<td>Scott Sutton</td>
			<td>ssutton@oru.edu</td>
			<td>918-495-7153</td>
			<td>Kyan Brown</td>
			<td>kybrown@oru.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>South Dakota</td>
			<td>The Summit League</td>
			<td>Craig Smith</td>
			<td>craig.f.smith@usd.edu</td>
			<td>605-677-5920</td>
			<td>Gameli Ahelegbe</td>
			<td>gameli.ahelegbe@usd.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>South Dakota State</td>
			<td>The Summit League</td>
			<td>Scott Nagy</td>
			<td>scott.nagy@sdstate.edu</td>
			<td>605-688-5626</td>
			<td>Rob Klinkefus</td>
			<td>rob.klinkefus@sdstate.edu</td>
			<td>605-688-6224</td>
		</tr>
		<tr>
			<td>Western Illinois</td>
			<td>The Summit League</td>
			<td>Billy Wright</td>
			<td>WE-Wright@wiu.edu</td>
			<td>309-298-1224</td>
			<td>Wade Hokenson</td>
			<td>WO-Hokenson@wiu.edu</td>
			<td>309-298-2661</td>
		</tr>
		<tr>
			<td>Boston College</td>
			<td>Atlantic Coast Conference</td>
			<td>Jim Christian</td>
			<td>mens.basketball@bc.edu</td>
			<td>617-552-3306</td>
			<td>Bill Wuczynski</td>
			<td>wuczynsk@bc.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Clemson</td>
			<td>Atlantic Coast Conference</td>
			<td>Brad Brownell</td>
			<td>sruark@clemson.edu</td>
			<td>864-656-1954</td>
			<td>Keshana Ham</td>
			<td>ham@clemson.edu</td>
			<td>864-656-2217</td>
		</tr>
		<tr>
			<td>Duke</td>
			<td>Atlantic Coast Conference</td>
			<td>Mike Krzyewski</td>
			<td>gbbrown@duaa.duke.edu</td>
			<td>919-613-7500</td>
			<td>Jeff Capel</td>
			<td>dbradley@duaa.duke.edu</td>
			<td>919-613-7532</td>
		</tr>
		<tr>
			<td>Florida State</td>
			<td>Atlantic Coast Conference</td>
			<td>Leonard Hamilton</td>
			<td>vsun@fsu.edu</td>
			<td>850-644-1461</td>
			<td>Stan Jones</td>
			<td>kmmoore@fsu.edu</td>
			<td>850-644-1405</td>
		</tr>
		<tr>
			<td>Georgia Tech</td>
			<td>Atlantic Coast Conference</td>
			<td>Brian Gregory</td>
			<td>bgregory@athletics.gatech.edu</td>
			<td>404-894-5425</td>
			<td>Billy Schmidt</td>
			<td>bschmidt@athletics.gatech.edu</td>
			<td>404-894-9739</td>
		</tr>
		<tr>
			<td>Louisville</td>
			<td>Atlantic Coast Conference</td>
			<td>Rick Pitino</td>
			<td>rick@gocards.com</td>
			<td>502-852-6651</td>
			<td>Kenny Johnson</td>
			<td>jordan@gocards.com</td>
			<td></td>
		</tr>
		<tr>
			<td>Miami</td>
			<td>Atlantic Coast Conference</td>
			<td>Jim Larranaga</td>
			<td>mensbasketball@miami.edu</td>
			<td></td>
			<td>Eric Konkol</td>
			<td>ekonkol@miami.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>North Carolina</td>
			<td>Atlantic Coast Conference</td>
			<td>Roy Williams</td>
			<td>nlynch@uncaa.unc.edu</td>
			<td>919-962-1154</td>
			<td>Kaye Chase</td>
			<td>kchase@uncaa.unc.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>NC State</td>
			<td>Atlantic Coast Conference</td>
			<td>Mark Gottfried</td>
			<td>dawn_winters@ncsu.edu</td>
			<td>919-515-3134</td>
			<td>Bobby Lutz</td>
			<td>jeff_dunlap@ncsu.edu</td>
			<td>919-515-2104</td>
		</tr>
		<tr>
			<td>Notre Dame</td>
			<td>Atlantic Coast Conference</td>
			<td>Mike Brey</td>
			<td>sreed2@nd.edu</td>
			<td>574-631-5222</td>
			<td>Anthony Solomon</td>
			<td>asolomon@nd.edu</td>
			<td>574-631-6225</td>
		</tr>
		<tr>
			<td>Pitt</td>
			<td>Atlantic Coast Conference</td>
			<td>Jamie Dixon</td>
			<td>jdixon@athletics.pitt.edu</td>
			<td>412-648-8350</td>
			<td>Brandin Knight</td>
			<td>bknight@athletics.pitt.edu</td>
			<td>412-648-9235</td>
		</tr>
		<tr>
			<td>Syracuse</td>
			<td>Atlantic Coast Conference</td>
			<td>Jim Boeheim</td>
			<td>rdwellma@syr.edu</td>
			<td>315-443-2082</td>
			<td>Mike Hopkins</td>
			<td>mghopkins@syr.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Virginia</td>
			<td>Atlantic Coast Conference</td>
			<td>Tony Bennett</td>
			<td>coachbennett@virginia.edu</td>
			<td>434-982-5400</td>
			<td>Katharine Palmer</td>
			<td>kfp2h@virginia.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Virginia Tech</td>
			<td>Atlantic Coast Conference</td>
			<td>Buzz Williams</td>
			<td>buzzwilliams@vt.edu</td>
			<td>540-231-6725</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Wake Forest</td>
			<td>Atlantic Coast Conference</td>
			<td>Danny Manning</td>
			<td>baumanjm@wfu.edu</td>
			<td>336-758-4235</td>
			<td>Steve Woodbury</td>
			<td>woodbes@wfu.edu</td>
			<td>336-758-5623</td>
		</tr>
		<tr>
			<td>UCF</td>
			<td>American Athletic Conference</td>
			<td>Donnie Jones</td>
			<td>awilliams@athletics.ucf.edu</td>
			<td>336-458-5805</td>
			<td>Shawn Finney</td>
			<td>sfinney@athletics.ucf.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Cincinatti</td>
			<td>American Athletic Conference</td>
			<td>Mike Cronin</td>
			<td>andrew.seidenberger@uc.edu</td>
			<td>513-556-0684</td>
			<td>Larry Davis</td>
			<td>larry.davis@uc.edu</td>
			<td>513-556-0805</td>
		</tr>
		<tr>
			<td>Uconn</td>
			<td>American Athletic Conference</td>
			<td>Kevin Ollie</td>
			<td>kevin.freeman_sr@uconn.edu</td>
			<td>860-486-2720</td>
			<td>Glen Miller</td>
			<td>glen.miller@uconn.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>ECU</td>
			<td>American Athletic Conference</td>
			<td>Jeff Lebo</td>
			<td>leboj@ecu.edu</td>
			<td>252-737-4592</td>
			<td>Mike Netti</td>
			<td>nettim@ecu.edu</td>
			<td>252-737-1272</td>
		</tr>
		<tr>
			<td>Houston</td>
			<td>American Athletic Conference</td>
			<td>Kelvin Sampson</td>
			<td>mnegga2@central.uh.edu</td>
			<td>713-743-9430</td>
			<td>Alvin Brooks</td>
			<td>abrooks7@central.uh.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Memphis</td>
			<td>American Athletic Conference</td>
			<td>Joe Pastner</td>
			<td></td>
			<td>901-678-2346</td>
			<td>Aki Collins</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>USF</td>
			<td>American Athletic Conference</td>
			<td>Orlando Antigua</td>
			<td>ggillion@usf.edu</td>
			<td>813-974-3525</td>
			<td>Sergio Rouco</td>
			<td>roucos@usf.edu</td>
			<td>813-974-7212</td>
		</tr>
		<tr>
			<td>SMU</td>
			<td>American Athletic Conference</td>
			<td>Larry Brown</td>
			<td>lhbrown@smu.edu</td>
			<td>214-768-3501</td>
			<td>Tim Jankovich</td>
			<td>trjankovich@smu.edu</td>
			<td>214-768-1620</td>
		</tr>
		<tr>
			<td>Temple</td>
			<td>American Athletic Conference</td>
			<td>Fran Dunphy</td>
			<td>fdunphy@temple.edu</td>
			<td>215-204-7443</td>
			<td>Dave Duke</td>
			<td>dduke@temple.edu</td>
			<td>215-204-7432</td>
		</tr>
		<tr>
			<td>Tulane</td>
			<td>American Athletic Conference</td>
			<td>Ed Conroy</td>
			<td>econroy2@tulane.edu</td>
			<td>504-865-5505</td>
			<td>Shammond Williams</td>
			<td>swilli19@tulane.edu</td>
			<td>504-314-7208</td>
		</tr>
		<tr>
			<td>Tulsa</td>
			<td>American Athletic Conference</td>
			<td>Frank Haith</td>
			<td>frank-haith@utulsa.edu</td>
			<td>918-631-3132</td>
			<td>Tom Abatemarco</td>
			<td>thomas-abetemarco@utulsa.edu</td>
			<td>918-631-2159</td>
		</tr>
		<tr>
			<td>Baylor</td>
			<td>Big 12 Conference</td>
			<td>Scott Drew</td>
			<td>scott_drew@baylor.edu</td>
			<td>254-710-3096</td>
			<td>Grant Mccasland</td>
			<td>grant_mccasland@baylor.edu</td>
			<td>254-710-4361</td>
		</tr>
		<tr>
			<td>Iowa State</td>
			<td>Big 12 Conference</td>
			<td>Fred Hoiberg</td>
			<td>mbyars@iastate.edu</td>
			<td>515-294-8232</td>
			<td>Matt Adbelmassih</td>
			<td>mabde@iastate.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Kansas</td>
			<td>Big 12 Conference</td>
			<td>Bill Self</td>
			<td>joanstep@ku.edu</td>
			<td>785-864-7929</td>
			<td>Kurtis Townsend</td>
			<td>ktownmbb@ku.edu</td>
			<td>785-864-3056</td>
		</tr>
		<tr>
			<td>Kansas State</td>
			<td>Big 12 Conference</td>
			<td>Bruce Webber</td>
			<td>bweber@kstatesports.com</td>
			<td>785-532-6531</td>
			<td>Alvin Brooks III</td>
			<td>abrooks@kstatesports.com</td>
			<td>785-532-7962</td>
		</tr>
		<tr>
			<td>Oklahoma</td>
			<td>Big 12 Conference</td>
			<td>Lon Kruger</td>
			<td></td>
			<td>405-325-4732</td>
			<td>Chris Crutchfield</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Oklahoma State</td>
			<td>Big 12 Conference</td>
			<td>Travis Ford</td>
			<td>mary.lee.draper@okstate.edu</td>
			<td>405-744-5845</td>
			<td>Joey Biggs</td>
			<td>joseph.biggs@okstate.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>TCU</td>
			<td>Big 12 Conference</td>
			<td>Trent Johnson</td>
			<td>j.owens@tcu.edu</td>
			<td>817-257-7968</td>
			<td>Kwanza Johnson</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Texas</td>
			<td>Big 12 Conference</td>
			<td>Rick Barnes</td>
			<td>rick.barnes@athletics.utexas.edu</td>
			<td>512-471-5816</td>
			<td>Jerry Johnson</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Texas Tech</td>
			<td>Big 12 Conference</td>
			<td>Tubby Smith</td>
			<td>mark.adams@ttu.edu</td>
			<td>806-742-7600</td>
			<td>Joe Esposito</td>
			<td>joe.esposito@ttu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>West Virginia</td>
			<td>Big 12 Conference</td>
			<td>Bob Huggins</td>
			<td>Billy.Hahn@mail.wvu.edu</td>
			<td>304-293-2193</td>
			<td>Larry Harrison</td>
			<td>Larry.Harrison@mail.wvu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Eastern Washington</td>
			<td>Big Sky Conference</td>
			<td>Jim Hayford</td>
			<td>jcrabb@ewu.edu</td>
			<td>509-359-2497</td>
			<td>Shantay Legans</td>
			<td>slegans@ewu.edu</td>
			<td>509-359-6540</td>
		</tr>
		<tr>
			<td>Idaho State</td>
			<td>Big Sky Conference</td>
			<td>Bill Evans</td>
			<td>evanwill@isu.edu</td>
			<td></td>
			<td>Andy Ward</td>
			<td>wardand2@isu.ed</td>
			<td>208-282-4551</td>
		</tr>
		<tr>
			<td>Montana</td>
			<td>Big Sky Conference</td>
			<td>Wayne Tinkle</td>
			<td>tinklewf@mso.umt.edu</td>
			<td>406-243-5334</td>
			<td>Jonathan Metzger-Jones</td>
			<td>jono.metzger-jones@mso.umt.edu</td>
			<td>406-243-5366</td>
		</tr>
		<tr>
			<td>Montana State</td>
			<td>Big Sky Conference</td>
			<td>Brian Fish</td>
			<td>basketball@msubobcats.com</td>
			<td>406-994-4442</td>
			<td>Kenya Crandell</td>
			<td>kenya.crandell@msubobcats.com</td>
			<td></td>
		</tr>
		<tr>
			<td>Northern Arizona</td>
			<td>Big Sky Conference</td>
			<td>Jack Murphy</td>
			<td>mbasketball@nau.edu</td>
			<td>928-523-5630</td>
			<td>Matt Dunn</td>
			<td>matthew.dunn@nau.edu</td>
			<td>928-523-5639</td>
		</tr>
		<tr>
			<td>Northern Colorado</td>
			<td>Big Sky Conference</td>
			<td>B.J. Hill</td>
			<td>eric.murphy@unco.edu</td>
			<td>970-351-2047</td>
			<td>Will Hensley</td>
			<td>william.hensley@unco.edu</td>
			<td>970-351-1716</td>
		</tr>
		<tr>
			<td>Portland State</td>
			<td>Big Sky Conference</td>
			<td>Tyler Geving</td>
			<td>tylerg@pdx.edu</td>
			<td>503-725-5630</td>
			<td>Jeff Hironaka</td>
			<td>hironaka@pdx.edu</td>
			<td>503-725-5724</td>
		</tr>
		<tr>
			<td>Sacramento State</td>
			<td>Big Sky Conference</td>
			<td>Brain Katz</td>
			<td>bkatz@csus.edu</td>
			<td>916-278-5345</td>
			<td>Brandon Laird</td>
			<td>blaird@csus.edu</td>
			<td>916-278-5140</td>
		</tr>
		<tr>
			<td>Weber State</td>
			<td>Big Sky Conference</td>
			<td>Randy Rahe</td>
			<td>randyrahe@weber.edu</td>
			<td>802-626-6496</td>
			<td>Eric Duft</td>
			<td>ericduft@weber.edu</td>
			<td>802-626-6578</td>
		</tr>
		<tr>
			<td>North Dakota</td>
			<td>Big Sky Conference</td>
			<td>Brian Jones</td>
			<td>brian.jones@athletics.und.edu</td>
			<td></td>
			<td>Jason Shay</td>
			<td>jason.shay@athletics.und.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Southern Utah</td>
			<td>Big Sky Conference</td>
			<td>Nick Robinson</td>
			<td>nickrobinson@suu.edu</td>
			<td>435-865-8063</td>
			<td>Todd Okeson</td>
			<td>toddokeson@suu.edu</td>
			<td>435-586-7990</td>
		</tr>
		<tr>
			<td>Campbell</td>
			<td>Big South Conference</td>
			<td>Bob Roller</td>
			<td>roller@campbell.edu</td>
			<td>910-893-1327</td>
			<td>Tony Delp</td>
			<td>delp@campbell.edu</td>
			<td>910-893-1329</td>
		</tr>
		<tr>
			<td>Charleston Southern</td>
			<td>Big South Conference</td>
			<td>Barclay  Radebaugh</td>
			<td>bradebaugh@csuniv.edu</td>
			<td>843-863-7690</td>
			<td>BJ McKie</td>
			<td>bmckie@csuniv.edu</td>
			<td>843-863-7691</td>
		</tr>
		<tr>
			<td>Coastal Carolina</td>
			<td>Big South Conference</td>
			<td>Cliff Eliis</td>
			<td>cellis@coastal.edu</td>
			<td>843-349-2818</td>
			<td>Don Hogan</td>
			<td>dhogan@coastal.edu</td>
			<td>843-349-2905</td>
		</tr>
		<tr>
			<td>Gardner-Webb</td>
			<td>Big South Conference</td>
			<td>Tim Craft</td>
			<td>tcraft@gardner-webb.edu</td>
			<td></td>
			<td>Jeremy Luther</td>
			<td>jluther@gardner-webb.edu</td>
			<td>704-406-3936</td>
		</tr>
		<tr>
			<td>High Point</td>
			<td>Big South Conference</td>
			<td>Scott Cherry</td>
			<td>basketball@highpoint.edu</td>
			<td>336-841-9329</td>
			<td>Ahmad Dorsett</td>
			<td></td>
			<td>336-841-9030</td>
		</tr>
		<tr>
			<td>Liberty</td>
			<td>Big South Conference</td>
			<td>Dale Layer</td>
			<td>lubasketball@liberty.edu</td>
			<td>434-582-2337</td>
			<td>Brian Joyce</td>
			<td>bcjoyce@liberty.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Longwood</td>
			<td>Big South Conference</td>
			<td>Jayson Gee</td>
			<td>geejt@longwood.edu</td>
			<td>434-395-2838</td>
			<td>Jake Luhn</td>
			<td>luhnjb@longwood.edu</td>
			<td>434-395-2654</td>
		</tr>
		<tr>
			<td>Presbyterian</td>
			<td>Big South Conference</td>
			<td>Gregg Nibert</td>
			<td>gnibert@presby.edu</td>
			<td>864-833-8245</td>
			<td>Justin Smith</td>
			<td>jdsmith@presby.edu</td>
			<td>864-833-8249</td>
		</tr>
		<tr>
			<td>Radford</td>
			<td>Big South Conference</td>
			<td>Mike Jones</td>
			<td>amarshall6@radford.edu</td>
			<td>540-831-5125</td>
			<td>Kyle Getter</td>
			<td>kgetter@radford.edu</td>
			<td>540-831-5125</td>
		</tr>
		<tr>
			<td>UNC Asheville</td>
			<td>Big South Conference</td>
			<td>Nick McDevitt</td>
			<td>nmcdevit@unca.edu</td>
			<td>828-251-6935</td>
			<td>Brett Carey</td>
			<td>bcarey@unca.edu</td>
			<td>828-251-6927</td>
		</tr>
		<tr>
			<td>Winthrop</td>
			<td>Big South Conference</td>
			<td>Pat Kelsey</td>
			<td>kelseyp@winthrop.edu</td>
			<td></td>
			<td>Mark Prosser</td>
			<td>prosserm@winthrop.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Illinois</td>
			<td>Big Ten Conference</td>
			<td>John Groce</td>
			<td>coachgroce@illinois.edu</td>
			<td>217-333-3400</td>
			<td>Jamall Walker</td>
			<td>walkerj@illinois.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Indiana</td>
			<td>Big Ten Conference</td>
			<td>Tom Crean</td>
			<td>mbasket@indiana.edu</td>
			<td>812-855-2238</td>
			<td>Tim Buckley</td>
			<td>rjudson@indiana.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Iowa</td>
			<td>Big Ten Conference</td>
			<td>Fran McCaffery</td>
			<td>fran-mccaffery@hawkeyebasketball.com</td>
			<td>319-335-9444</td>
			<td>Sherman Dillard</td>
			<td>sherman-dillard@hawkeyebasketball.com</td>
			<td></td>
		</tr>
		<tr>
			<td>Maryland</td>
			<td>Big Ten Conference</td>
			<td>Mark Turgeon</td>
			<td>bfertig4@umd.edu</td>
			<td>301-314-7029</td>
			<td>Bino Ranson</td>
			<td>bino@umd.edu</td>
			<td>301-314-7023</td>
		</tr>
		<tr>
			<td>Michigan</td>
			<td>Big Ten Conference</td>
			<td>John Beilein</td>
			<td>basketball.m@umich.edu</td>
			<td>734-763-5504</td>
			<td>Jeff Meyer</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Michigan State</td>
			<td>Big Ten Conference</td>
			<td>Tom Izzo</td>
			<td>msuhoops@ath.msu.edu</td>
			<td>517-355-1643</td>
			<td>Dwayne Stephens</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Minnesota</td>
			<td>Big Ten Conference</td>
			<td>Richard Pitino</td>
			<td>mbball@umn.edu</td>
			<td>612-625-3085</td>
			<td>Ben Johnson</td>
			<td>bjohns@umn.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Nebraska</td>
			<td>Big Ten Conference</td>
			<td>Tim Miles</td>
			<td>kwhitemore@huskers.com</td>
			<td>402-472-2265</td>
			<td>Chris Harriman</td>
			<td>charriman@huskers.com</td>
			<td></td>
		</tr>
		<tr>
			<td>Northwestern</td>
			<td>Big Ten Conference</td>
			<td>Chris Collins</td>
			<td>clauten@northwestern.edu</td>
			<td>847-491-7906</td>
			<td>Brian James</td>
			<td>bjames@northwestern.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Ohio State</td>
			<td>Big Ten Conference</td>
			<td>Thad Matta</td>
			<td>matta.5@osu.edu</td>
			<td>614-292-0505</td>
			<td>Dave Dickerson</td>
			<td>dickerson.206@osu.edu</td>
			<td>614-688-3925</td>
		</tr>
		<tr>
			<td>Penn State</td>
			<td>Big Ten Conference</td>
			<td>Patrick Chambers</td>
			<td>pbc10@psu.edu</td>
			<td>814-865-5494</td>
			<td>Brian Daly</td>
			<td>bad23@psu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Purdue</td>
			<td>Big Ten Conference</td>
			<td>Matt Painter</td>
			<td>ebloom@purdue.edu</td>
			<td>765-494-3214</td>
			<td>Jack Owens</td>
			<td>jowens@purdue.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Rutgers</td>
			<td>Big Ten Conference</td>
			<td>Eddie Jordan</td>
			<td>mbball@scarletknights.com</td>
			<td>732-445-7857</td>
			<td>Van Macon</td>
			<td>vmacon@scarletknights.com</td>
			<td>732-445-7862</td>
		</tr>
		<tr>
			<td>Wisconsin</td>
			<td>Big Ten Conference</td>
			<td>Bo Ryan</td>
			<td>kvosters@athletics.wisc.edu</td>
			<td>608-265-5572</td>
			<td>Greg Gard</td>
			<td>ggg@athletics.wisc.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Cal Poly</td>
			<td>Big West Conference</td>
			<td>Joe Callero</td>
			<td>mbb@calpoly.edu</td>
			<td>805-756-6344</td>
			<td>Paul Fortier</td>
			<td>pfortier@calpoly.edu</td>
			<td>805-756-6559</td>
		</tr>
		<tr>
			<td>Cal State Fullerton</td>
			<td>Big West Conference</td>
			<td>Dedrique Taylor</td>
			<td>mensbasketball@fullerton.edu</td>
			<td>657-278-3770</td>
			<td>John Smith</td>
			<td>johsmith@fullerton.edu</td>
			<td>657-278-5220</td>
		</tr>
		<tr>
			<td>Cal State Northridge</td>
			<td>Big West Conference</td>
			<td>Reggie Theus</td>
			<td>lior.schwartzberg@csun.edu</td>
			<td>818-677-3231</td>
			<td>Jason Levy</td>
			<td>jason.levy@csun.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Long Beach State</td>
			<td>Big West Conference</td>
			<td>Dan Monson</td>
			<td>Dan.Monson@csulb.edu</td>
			<td>562-985-7975</td>
			<td>Rod Palmer</td>
			<td>Rod.Palmer@csulb.edu</td>
			<td>562-985-8226</td>
		</tr>
		<tr>
			<td>UC Davis</td>
			<td>Big West Conference</td>
			<td>Jim Les</td>
			<td>aggiebasketball@ucdavis.edu</td>
			<td>530-752-3501</td>
			<td>Kevin Nosek</td>
			<td>knosek@ucdavis.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>UC Irvine</td>
			<td>Big West Conference</td>
			<td>Russell Turner</td>
			<td>ucimbb@uci.edu</td>
			<td>949-824-3234</td>
			<td>Ali Ton</td>
			<td>tonac@uci.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>UC Riverside</td>
			<td>Big West Conference</td>
			<td>Dennis Cutts</td>
			<td>dennis.cutts@ucr.edu</td>
			<td>951-827-2671</td>
			<td>Stephen Sauers</td>
			<td>stephen.sauers@ucr.edu</td>
			<td>951-827-4124</td>
		</tr>
		<tr>
			<td>UC Santa Barbara</td>
			<td>Big West Conference</td>
			<td>Bob Williams</td>
			<td>robert.williams@athletics.ucsb.edu</td>
			<td>805-893-2141</td>
			<td>Matt Stock</td>
			<td>matt.stock@athletics.ucsb.edu</td>
			<td>805-893-3435</td>
		</tr>
		<tr>
			<td>Hawaii</td>
			<td>Big West Conference</td>
			<td>Gib Arnold</td>
			<td>garnold@hawaii.edu</td>
			<td>808-956-6501</td>
			<td>Benjy Taylor</td>
			<td>obtaylor@hawaii.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Green Bay</td>
			<td>Horizon League</td>
			<td>Brian Wardle</td>
			<td>mensbasketball@uwgb.edu</td>
			<td>920-465-5046</td>
			<td>Brian Barone</td>
			<td>baroneb@uwgb</td>
			<td>920-465-2615</td>
		</tr>
		<tr>
			<td>Cleveland State</td>
			<td>Horizon League</td>
			<td>Gary Waters</td>
			<td>g.waters98@csuohio.edu</td>
			<td>216-687-4817</td>
			<td>Larry DeSimelare</td>
			<td>L.DeSimpelare@csuohio.edu</td>
			<td>216-687-4816</td>
		</tr>
		<tr>
			<td>Wright State</td>
			<td>Horizon League</td>
			<td>Billy Donlon</td>
			<td>billy.donlon@wright.edu</td>
			<td>937-775-2835</td>
			<td>Chris Moore</td>
			<td>chris.moore@wright.edu</td>
			<td>937-775-3831</td>
		</tr>
		<tr>
			<td>Valparaiso</td>
			<td>Horizon League</td>
			<td>Bryce Drew</td>
			<td>bryce.drew@valpo.edu</td>
			<td>219-464-5254</td>
			<td>Roger Powell Jr.</td>
			<td>roger.powelljr@valpo.edu</td>
			<td>219-464-5258</td>
		</tr>
		<tr>
			<td>Milwaukee</td>
			<td>Horizon League</td>
			<td>Rob Jeter</td>
			<td>jeter@uwm.edu</td>
			<td>414-229-5158</td>
			<td>Chad Boudreau</td>
			<td>chadbou@uwm.edu</td>
			<td>414-229-3738</td>
		</tr>
		<tr>
			<td>Oakland</td>
			<td>Horizon League</td>
			<td>Greg Kampe</td>
			<td>kampe@oakland.edu</td>
			<td>248-370-4005</td>
			<td>Saddi Washington</td>
			<td>washingt@oakland.edu</td>
			<td>248-370-3118</td>
		</tr>
		<tr>
			<td>Youngstown State</td>
			<td>Horizon League</td>
			<td>Jerry Slocum</td>
			<td>kwbruinsma@ysu.edu</td>
			<td>330-941-3004</td>
			<td>Michael Wenicki</td>
			<td>mwernicki@ysu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Detroit</td>
			<td>Horizon League</td>
			<td>Ray McCallum</td>
			<td>stacey.barns@udmercy.edu</td>
			<td>313-993-1731</td>
			<td>Jay Smith</td>
			<td>jay.smith@udmercy.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>UIC</td>
			<td>Horizon League</td>
			<td>Howard Moore</td>
			<td>pgaul2@uic.edu</td>
			<td>312-996-8336</td>
			<td>Stew Robinson</td>
			<td>stew@uic.edu</td>
			<td>312-413-5303</td>
		</tr>
		<tr>
			<td>Bradley</td>
			<td>Missouri Valley Conference</td>
			<td>Geno Ford</td>
			<td>cabraun@bradley.edu</td>
			<td>309-677-2668</td>
			<td>Ronald Coleman</td>
			<td>rcoleman2@bradley.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Drake</td>
			<td>Missouri Valley Conference</td>
			<td>Ray Giacoletti</td>
			<td>brenda.mohr@drake.edu</td>
			<td>515-271-3894</td>
			<td>Jeff Rutter</td>
			<td>jeffrey.rutter@drake.edu</td>
			<td>515-271-3009</td>
		</tr>
		<tr>
			<td>Evansville</td>
			<td>Missouri Valley Conference</td>
			<td>Marty Simmons</td>
			<td>kg22@evansville.edu</td>
			<td>812-488-2762</td>
			<td>Jimmy Elgas</td>
			<td>je77@evansville.edu</td>
			<td>812-488-2761</td>
		</tr>
		<tr>
			<td>Illinois State</td>
			<td>Missouri Valley Conference</td>
			<td>Dan Muller</td>
			<td>mgilfil@ilstu.edu</td>
			<td>309-438-8681</td>
			<td>Torrey Ward</td>
			<td>tlward@ilstu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Indiana State</td>
			<td>Missouri Valley Conference</td>
			<td>Greg Lansing</td>
			<td>gregory.lansing@indstate.edu</td>
			<td>812-237-4002</td>
			<td>Lou Gudino</td>
			<td>lou.gudino@indstate.edu</td>
			<td>812-237-4006</td>
		</tr>
		<tr>
			<td>Loyola</td>
			<td>Missouri Valley Conference</td>
			<td>Porter Moser</td>
			<td>mbbcoach@luc.edu</td>
			<td>773-508-2755</td>
			<td>Daniyal Robinson</td>
			<td>hrobinson2@luc.edu</td>
			<td>773-508-2578</td>
		</tr>
		<tr>
			<td>Missouri State</td>
			<td>Missouri Valley Conference</td>
			<td>Paul Lusk</td>
			<td>codyseidel@missouristate.edu</td>
			<td>417-836-5250</td>
			<td>Jermaine Henderson</td>
			<td>jermainehenderson@missouristate.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Northern Iowa</td>
			<td>Missouri Valley Conference</td>
			<td>Ben Jacobson</td>
			<td>ben.jacobson@uni.edu</td>
			<td>319-273-4864</td>
			<td>PJ Hogan</td>
			<td>pj.hogan@uni.edu</td>
			<td>319-273-5868</td>
		</tr>
		<tr>
			<td>Southern Illinois</td>
			<td>Missouri Valley Conference</td>
			<td>Barry Hinson</td>
			<td>debg@siu.edu</td>
			<td>618-453-4667</td>
			<td>Tom Hankins</td>
			<td>tomhankins@siu.edu</td>
			<td>618-453-7101</td>
		</tr>
		<tr>
			<td>Witchita State</td>
			<td>Missouri Valley Conference</td>
			<td>Gregg Marshall</td>
			<td>rhillard@goshockers.com</td>
			<td>316-978-3252</td>
			<td>Steve Forbes</td>
			<td>sforbes@goshockers.com</td>
			<td></td>
		</tr>
		<tr>
			<td>San Diego State</td>
			<td>Mountain West Conference</td>
			<td>Steve Fisher</td>
			<td>sfisher1@mail.sdsu.edu</td>
			<td>619-594-6249</td>
			<td>Brian Dutcher</td>
			<td>bdutcher@mail.sdsu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>New Mexico</td>
			<td>Mountain West Conference</td>
			<td>Craig Neal</td>
			<td>lobobb@unm.edu</td>
			<td>505-925-5750</td>
			<td>Lamont Smith</td>
			<td>lamontsmith@unm.edu</td>
			<td>505-925-5565</td>
		</tr>
		<tr>
			<td>UNLV</td>
			<td>Mountain West Conference</td>
			<td>Dave Rice</td>
			<td>christin.downing@unlv.edu</td>
			<td>702-895-3295</td>
			<td>Stacey Augmon</td>
			<td>stacey.augmon@unlv.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Nevada</td>
			<td>Mountain West Conference</td>
			<td>David Carter</td>
			<td>ngoff@unr.edu</td>
			<td>775-682-6949</td>
			<td>Doug Novsek</td>
			<td>dnovsek@unr.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Boise State</td>
			<td>Mountain West Conference</td>
			<td>Leon Rice</td>
			<td>isaacwilliams@boisestate.edu</td>
			<td>208-426-1952</td>
			<td>Jeff Linder</td>
			<td>jefflinder@boisestate.edu</td>
			<td>208-426-1963</td>
		</tr>
		<tr>
			<td>Wyoming</td>
			<td>Mountain West Conference</td>
			<td>Larry Shyatt</td>
			<td>uwmbb@uwyo.edu</td>
			<td>307-766-5114</td>
			<td>Scott Duncan</td>
			<td>sduncan9@uwyo.edu</td>
			<td>307-766-5110</td>
		</tr>
		<tr>
			<td>Fresno State</td>
			<td>Mountain West Conference</td>
			<td>Rodney Terry</td>
			<td>roterry@csufresno.edu</td>
			<td>559-278-2748</td>
			<td>Michael Schwartz</td>
			<td>mischwartz@csufresno.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Utah State</td>
			<td>Mountain West Conference</td>
			<td>Stew Morrill</td>
			<td>ronda.christoffersen@usu.edu</td>
			<td>435-797-2060</td>
			<td>Tim Duryea</td>
			<td>tim.duryea@usu.edu</td>
			<td>435-797-1863</td>
		</tr>
		<tr>
			<td>Colorado State</td>
			<td>Mountain West Conference</td>
			<td>Larry Eustachy</td>
			<td>tiffany.beckham@colostate.edu</td>
			<td>970-491-6232</td>
			<td>Leonard Perry</td>
			<td>leonard.perry@colostate.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Air Force</td>
			<td>Mountain West Conference</td>
			<td>Dave Pilipovich</td>
			<td></td>
			<td>719-333-3039</td>
			<td>Steve Snell</td>
			<td></td>
			<td>719-333-9091</td>
		</tr>
		<tr>
			<td>San Jose State</td>
			<td>Mountain West Conference</td>
			<td>Dave Wojcik</td>
			<td>bryce.martin@sjsu.edu</td>
			<td>408-924-1223</td>
			<td>Chris Brazelton</td>
			<td>chris.brazelton@sjsu.edu</td>
			<td>408-924-1221</td>
		</tr>
		<tr>
			<td>Arizona</td>
			<td>Pacific-12 Conference</td>
			<td>Sean Miller</td>
			<td>seanmiller@arizona.edu</td>
			<td>520-621-2430</td>
			<td>Joe Pasternack</td>
			<td>coaches@arizona.edu</td>
			<td>520-621-2430</td>
		</tr>
		<tr>
			<td>Arizona State</td>
			<td>Pacific-12 Conference</td>
			<td>Herb Sendek</td>
			<td>mbasketballcoaches@asu.edu</td>
			<td>408-965-9885</td>
			<td>Barret Peery</td>
			<td>barret.peery@asu.edu</td>
			<td>408-965-3343</td>
		</tr>
		<tr>
			<td>California</td>
			<td>Pacific-12 Conference</td>
			<td>Cuonzo Martin</td>
			<td>calmbb@berkeley.edu</td>
			<td>510-642-0361</td>
			<td>Tracy Webster</td>
			<td>twebster11@berkeley.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Colorado</td>
			<td>Pacific-12 Conference</td>
			<td>Tad Boyle</td>
			<td>buffsmbb@colorado.edu</td>
			<td>303-492-6877</td>
			<td>Jean Prioleau</td>
			<td>jean.prioleau@colorado.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Oregon</td>
			<td>Pacific-12 Conference</td>
			<td>Dana Altman</td>
			<td>joshj@uoregon.edu</td>
			<td></td>
			<td>Kevin McKenna</td>
			<td>kmckenna@uoregon.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Oregon State</td>
			<td>Pacific-12 Conference</td>
			<td>Wayne Tinkle</td>
			<td></td>
			<td>541-737-2076</td>
			<td>Kerry Rupp</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Stanford</td>
			<td>Pacific-12 Conference</td>
			<td>Johnny Dawkins</td>
			<td>mens_hoops@stanford.edu</td>
			<td>650-723-0562</td>
			<td>Mike Schrage</td>
			<td>mschrage@stanford.edu</td>
			<td>650-725-0770</td>
		</tr>
		<tr>
			<td>UCLA</td>
			<td>Pacific-12 Conference</td>
			<td>Steve Alford</td>
			<td>uclabball@athletics.ucla.edu</td>
			<td>310-206-6276</td>
			<td>Duane Broussard</td>
			<td>dbroussard@athletics.ucla.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>USC</td>
			<td>Pacific-12 Conference</td>
			<td>Andy Enfield</td>
			<td>uschoops@usc.edu</td>
			<td>213-740-3815</td>
			<td>Tony Bland</td>
			<td>abland@usc.edu</td>
			<td>213-740-6777</td>
		</tr>
		<tr>
			<td>Utah</td>
			<td>Pacific-12 Conference</td>
			<td>Larry Krystkowiak</td>
			<td>ajensen@huntsman.utah.edu</td>
			<td>801-581-5451</td>
			<td>Tommy Connor</td>
			<td>tconnor@huntsman.utah.edu</td>
			<td>801-585-6593</td>
		</tr>
		<tr>
			<td>Washington</td>
			<td>Pacific-12 Conference</td>
			<td>Lorenzo Romar</td>
			<td>jamee@uw.edu</td>
			<td>206-543-5260</td>
			<td>Brad Jackson</td>
			<td>coachbj@uw.edu</td>
			<td>206-543-2799</td>
		</tr>
		<tr>
			<td>Washington State</td>
			<td>Pacific-12 Conference</td>
			<td>Ernie Kent</td>
			<td>mens_basketball@wsu.edu</td>
			<td>509-335-0240</td>
			<td>Greg Graham</td>
			<td>greg.graham@wsu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Alabama</td>
			<td>Southeastern Conference</td>
			<td>Anthony Grant</td>
			<td>apujol@ia.ua.edu</td>
			<td>205-348-4551</td>
			<td>John Brannen</td>
			<td>jbrannen@ia.ua.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Arkansas</td>
			<td>Southeastern Conference</td>
			<td>Mike Anderson</td>
			<td>anderson@uark.edu</td>
			<td>479-575-4555</td>
			<td>Melvin Watkins</td>
			<td>mlwatkin@uark.edu</td>
			<td>479-575-3754</td>
		</tr>
		<tr>
			<td>Auburn</td>
			<td>Southeastern Conference</td>
			<td>Bruce Pearl</td>
			<td>trg0012@auburn.edu</td>
			<td>334-844-9760</td>
			<td>Tony Jones</td>
			<td>asj0016@auburn.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Florida</td>
			<td>Southeastern Conference</td>
			<td>Billy Donovan</td>
			<td></td>
			<td>352-375-4683</td>
			<td>Rashon Burno</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Georgia</td>
			<td>Southeastern Conference</td>
			<td>Mark Fox</td>
			<td>pgauld@sports.uga.edu</td>
			<td></td>
			<td>Jonas Hayes</td>
			<td>jhayes@sports.uga.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Kentucky</td>
			<td>Southeastern Conference</td>
			<td>John Calipari</td>
			<td>bo.rodriguez@uky.edu</td>
			<td>859-257-1916</td>
			<td>Orlando Antigua</td>
			<td>ldcarm2@email.uky.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>LSU</td>
			<td>Southeastern Conference</td>
			<td>Johnny Jones</td>
			<td>johnnyjones@lsu.edu</td>
			<td></td>
			<td>David Patrick</td>
			<td>dpatrick@lsu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Mississippi</td>
			<td>Southeastern Conference</td>
			<td>Andy Kennedy</td>
			<td>khhobson@olemiss.edu</td>
			<td>662-915-7534</td>
			<td>Bill Armstrong</td>
			<td>barmstro@olemiss.edu</td>
			<td>662-915-7531</td>
		</tr>
		<tr>
			<td>Mississippi State</td>
			<td>Southeastern Conference</td>
			<td>Rick Ray</td>
			<td>rickray@athletics.msstate.edu</td>
			<td>662-325-3800</td>
			<td>George Brooks</td>
			<td>geb8@msstate.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Missouri</td>
			<td>Southeastern Conference</td>
			<td>Kim Anderson</td>
			<td>tibaldib@missouri.edu</td>
			<td>573-882-0715</td>
			<td>Tim Fuller</td>
			<td>fullertf@missouri.edu</td>
			<td>573-882-0718</td>
		</tr>
		<tr>
			<td>South Carolina</td>
			<td>Southeastern Conference</td>
			<td>Frank Martin</td>
			<td>assaley@mailbox.sc.edu</td>
			<td>803-777-4197</td>
			<td>Matt Figger</td>
			<td>hooksm@mailbox.sc.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Tennessee</td>
			<td>Southeastern Conference</td>
			<td>Donnie Tyndall</td>
			<td>dtyndall@utk.edu</td>
			<td>865-974-1207</td>
			<td>Al Pinkins</td>
			<td>apinkins@tennessee.edu</td>
			<td>865-974-8344</td>
		</tr>
		<tr>
			<td>Texas A&amp;M</td>
			<td>Southeastern Conference</td>
			<td>Billy Kennedy</td>
			<td>mensbasketball@athletics.tamu.edu</td>
			<td>979-845-4531</td>
			<td>Kyle Keller</td>
			<td>kkeller@athletics.tamu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Vanderbilt</td>
			<td>Southeastern Conference</td>
			<td>Kevin Stallings</td>
			<td>debbie.green@vanderbilt.edu</td>
			<td>615-322-6530</td>
			<td>Tom Richardson</td>
			<td>thomas.j.richardson@vanderbilt.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Abilene Christian</td>
			<td>Southland Conference</td>
			<td>Joe Golding</td>
			<td>jcg97a@acu.edu</td>
			<td>325-674-2913</td>
			<td>Brette Tanner</td>
			<td>btt13a@acu.edu</td>
			<td>325-674-6086</td>
		</tr>
		<tr>
			<td>Central Arkansas</td>
			<td>Southland Conference</td>
			<td>Russ Pennell</td>
			<td>rpennell@uca.edu</td>
			<td>501-450-5867</td>
			<td>Anthony Boone</td>
			<td>aboone@uca.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Houston Baptist</td>
			<td>Southland Conference</td>
			<td>Ron Cottrell</td>
			<td>rcottrell@hbu.edu</td>
			<td>281-649-3250</td>
			<td>Steven Key</td>
			<td>skey@hbu.edu</td>
			<td>281-649-3271</td>
		</tr>
		<tr>
			<td>UIW</td>
			<td>Southland Conference</td>
			<td>Ken Burmeister</td>
			<td>burmeist@uiwtx.edu</td>
			<td>210-829-6052</td>
			<td>Bilal Batley</td>
			<td>batley@uiwtx.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Lamar</td>
			<td>Southland Conference</td>
			<td>Tic Price</td>
			<td>tic.price@lamar.edu</td>
			<td>409-880-8301</td>
			<td>Anthony Anderson</td>
			<td>anthony.anderson@lamar.edu</td>
			<td>409-880-1839</td>
		</tr>
		<tr>
			<td>McNeese State</td>
			<td>Southland Conference</td>
			<td>Dave Simmons</td>
			<td>dsimmons@mcneese.edu</td>
			<td>337-475-5963</td>
			<td>Steve Welch</td>
			<td>swelch13@hotmail.com</td>
			<td></td>
		</tr>
		<tr>
			<td>New Orleans</td>
			<td>Southland Conference</td>
			<td>Mark Slessinger</td>
			<td>coachsless@uno.edu</td>
			<td>504-280-6102</td>
			<td>Kenyon Spears</td>
			<td>kdspear1@uno.edu</td>
			<td>504-280-1189</td>
		</tr>
		<tr>
			<td>Nichols</td>
			<td>Southland Conference</td>
			<td>J.P. Piper</td>
			<td>jp.piper@nicholls.edu</td>
			<td>985-448-4289</td>
			<td>Rennie Bailey</td>
			<td>rennie.bailey@nocholls.edu</td>
			<td>985-448-4285</td>
		</tr>
		<tr>
			<td>Northwestern State</td>
			<td>Southland Conference</td>
			<td>Mike McConathy</td>
			<td>mikem@nsula.edu</td>
			<td>318-357-4274</td>
			<td>Jeff Moore</td>
			<td>mooreje@nsula.edu</td>
			<td>318-357-6527</td>
		</tr>
		<tr>
			<td>Sam Houston</td>
			<td>Southland Conference</td>
			<td>Jason Hooten</td>
			<td>jhooten@shsu.edu</td>
			<td>936-294-1747</td>
			<td>Chris Mudge</td>
			<td>cmudge@shsu.edu</td>
			<td>936-294-1743</td>
		</tr>
		<tr>
			<td>Southeastern LA.</td>
			<td>Southland Conference</td>
			<td>Jay Ladner</td>
			<td>jay.ladner@southeastern.edu</td>
			<td>985-549-3744</td>
			<td>Kyle Roane</td>
			<td>kyle.roane@southeastern.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Stephen F. Austin</td>
			<td>Southland Conference</td>
			<td>Brad Underwood</td>
			<td>underwoob@sfasu.edu</td>
			<td>936-468-4054</td>
			<td>Mike Boynton Jr.</td>
			<td>boyntonjmo@sfasu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>A&amp;M-Corpus Christi</td>
			<td>Southland Conference</td>
			<td>Willis Wilson</td>
			<td>mensbasketball@goislanders.com</td>
			<td>361-825-3250</td>
			<td>Marty Gross</td>
			<td>martin.gross@tamucc.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Alabama A&amp;M</td>
			<td>Southwestern Athletic Conference</td>
			<td>Willie Hayes</td>
			<td>willie.hayes@aamu.edu</td>
			<td>256-372-4024</td>
			<td>James Wright</td>
			<td>james.wright@aamu.edu</td>
			<td>256-372-4007</td>
		</tr>
		<tr>
			<td>Alabama State</td>
			<td>Southwestern Athletic Conference</td>
			<td>Lewis Jackson</td>
			<td>ljackson@alasu.edu</td>
			<td>334-229-4509</td>
			<td>Anthony Sewell</td>
			<td>asewell@alasu.edu</td>
			<td>334-229-4635</td>
		</tr>
		<tr>
			<td>Alcorn State</td>
			<td>Southwestern Athletic Conference</td>
			<td>Luther Riley</td>
			<td>lriley@alcorn.edu</td>
			<td>601-877-6464</td>
			<td>Christopher Giles</td>
			<td>clgiles@alcorn.edu</td>
			<td>601-877-6367</td>
		</tr>
		<tr>
			<td>Grambling State</td>
			<td>Southwestern Athletic Conference</td>
			<td>Joseph Price</td>
			<td>pricej@gram.edu</td>
			<td>318-274-6224</td>
			<td>Ray Martin</td>
			<td>martinr@gram.edu</td>
			<td>318-274-6263</td>
		</tr>
		<tr>
			<td>Jackson State</td>
			<td>Southwestern Athletic Conference</td>
			<td>Wayne Brent</td>
			<td>wayne.brent@jsums.edu</td>
			<td>601-979-2417</td>
			<td>Carson Burk</td>
			<td>cason.c.burk@jsums.edu</td>
			<td>601-979-2421</td>
		</tr>
		<tr>
			<td>Mississippi Valley State</td>
			<td>Southwestern Athletic Conference</td>
			<td>Marcus Thomas</td>
			<td>marcus.thomas@mvsu.edu</td>
			<td>662-254-3104</td>
			<td>Richard Cannon</td>
			<td>rrcannon@mvsu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Prairie View A&amp;M</td>
			<td>Southwestern Athletic Conference</td>
			<td>Byron Rimm II</td>
			<td>bnrimm@pvamu.edu</td>
			<td>936-261-9114</td>
			<td>Byron Smith</td>
			<td>bbsmith@pvamu.edu</td>
			<td>936-261-9100</td>
		</tr>
		<tr>
			<td>Southern</td>
			<td>Southwestern Athletic Conference</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Texas Southern</td>
			<td>Southwestern Athletic Conference</td>
			<td>Mike Davis</td>
			<td>wallertl@tsu.edu</td>
			<td>713-313-1979</td>
			<td>J. Keith LeGree</td>
			<td>legreejk@tsu.edu</td>
			<td>713-313-1945</td>
		</tr>
		<tr>
			<td>Arkansas - Pine Bluff</td>
			<td>Southwestern Athletic Conference</td>
			<td>George Ivory</td>
			<td>ivoryg@uapb.edu</td>
			<td>870-575-8657</td>
			<td>Kenneth Broyles</td>
			<td>broylesk@uapb.edu</td>
			<td>870-575-8717</td>
		</tr>
		<tr>
			<td>Appalachian State</td>
			<td>Sun Belt Conference</td>
			<td>Jim Fox</td>
			<td>foxip1@appstate.edu</td>
			<td>828-262-3081</td>
			<td>Jason Allison</td>
			<td>allisonjr@appstate.edu</td>
			<td>828-262-2837</td>
		</tr>
		<tr>
			<td>UALR</td>
			<td>Sun Belt Conference</td>
			<td>Steve Shields</td>
			<td>slshields@ualr.edu</td>
			<td>501-569-3304</td>
			<td>Joe Kleine</td>
			<td>jxkleine@ualr.edu</td>
			<td>501-569-8925</td>
		</tr>
		<tr>
			<td>Arkansas State</td>
			<td>Sun Belt Conference</td>
			<td>John Brady</td>
			<td>jbrady@astate.edu</td>
			<td>870-972-2077</td>
			<td>Melvin Haralson</td>
			<td>mharalson@astate.edu</td>
			<td>870-972-2491</td>
		</tr>
		<tr>
			<td>Georgia Southern</td>
			<td>Sun Belt Conference</td>
			<td>Mark Byington</td>
			<td>mbyington@georgiasouthern.edu</td>
			<td>912-478-5376</td>
			<td>Larry Dixon</td>
			<td>ldixon@georgiasouthern.edu</td>
			<td>912-478-5328</td>
		</tr>
		<tr>
			<td>Georgia State</td>
			<td>Sun Belt Conference</td>
			<td>Ron Hunter</td>
			<td>mmeadows@gsu.edu</td>
			<td>403-413-4050</td>
			<td>Darryl LaBarrie</td>
			<td>dlabarrie1@gsu.edu</td>
			<td>404-413-4055</td>
		</tr>
		<tr>
			<td>Idaho</td>
			<td>Sun Belt Conference</td>
			<td>Don Verlin</td>
			<td>verlin@uidaho.edu</td>
			<td>208-885-0275</td>
			<td>Tim Murphy</td>
			<td>tmurphy@uidaho.edu</td>
			<td>208-885-4381</td>
		</tr>
		<tr>
			<td>UL Lafayette</td>
			<td>Sun Belt Conference</td>
			<td>Bob Marlin</td>
			<td>mmurphy@louisiana.edu</td>
			<td>337-262-3865</td>
			<td>Neil Hardin</td>
			<td>nhardin@louisiana.edu</td>
			<td>337-262-1550</td>
		</tr>
		<tr>
			<td>UL Monroe</td>
			<td>Sun Belt Conference</td>
			<td>Keith Richard</td>
			<td>richard@ulm.edu</td>
			<td>318-342-5400</td>
			<td>Ryan Cross</td>
			<td>cross@ulm.edu</td>
			<td>318-342-5402</td>
		</tr>
		<tr>
			<td>New Mexico State</td>
			<td>Sun Belt Conference</td>
			<td>Marvin Menzies</td>
			<td>menzies@nmsu.edu</td>
			<td>575-646-5252</td>
			<td>Aerick Sanders</td>
			<td>aericks@nmsu.edu</td>
			<td>575-646-1646</td>
		</tr>
		<tr>
			<td>South Alabama</td>
			<td>Sun Belt Conference</td>
			<td>Matthew Graves</td>
			<td>mgraves@southalabama.edu</td>
			<td>251-460-6104</td>
			<td>Darnell Archery</td>
			<td>archery@southalabama.edu</td>
			<td>251-460-6265</td>
		</tr>
		<tr>
			<td>UT Arlington</td>
			<td>Sun Belt Conference</td>
			<td>Scott Cross</td>
			<td>brettc@uta.edu</td>
			<td>817-272-9258</td>
			<td>Greg Young</td>
			<td>gvyoung@uta.edu</td>
			<td>817-272-5751</td>
		</tr>
		<tr>
			<td>Texas State</td>
			<td>Sun Belt Conference</td>
			<td>Danny Kaspar</td>
			<td>jshaw@txstate.edu</td>
			<td></td>
			<td>Rob Flaska</td>
			<td>rf25@txstate.edu</td>
			<td>512-245-3832</td>
		</tr>
		<tr>
			<td>Troy</td>
			<td>Sun Belt Conference</td>
			<td>Phil Cunningham</td>
			<td>cunninghamp@troy.edu</td>
			<td>334-670-3685</td>
			<td>Marcus Grant</td>
			<td>grantm@troy.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>BYU</td>
			<td>West Coast Conference</td>
			<td>Dave Rose</td>
			<td></td>
			<td>801-422-3612</td>
			<td>Terry Nashif</td>
			<td></td>
			<td>801-422-6189</td>
		</tr>
		<tr>
			<td>Gonzaga</td>
			<td>West Coast Conference</td>
			<td>Mark Few</td>
			<td>krausej@athletics.gonzaga.edu</td>
			<td></td>
			<td>Donny Daniels</td>
			<td>daniels@athletics.gonzaga.edu</td>
			<td>509-313-6377</td>
		</tr>
		<tr>
			<td>Loyola Marymount</td>
			<td>West Coast Conference</td>
			<td>Mike Dunlap</td>
			<td>michael.dunlap@lmu.edu</td>
			<td>310-338-4530</td>
			<td>John Peterson</td>
			<td>john.peterson@lmu.edu</td>
			<td>310-338-4555</td>
		</tr>
		<tr>
			<td>Pacific</td>
			<td>West Coast Conference</td>
			<td>Ron Verlin</td>
			<td>rverlin@pacific.edu</td>
			<td>209-946-2721</td>
			<td>Adam Jacobsen</td>
			<td>ajacobse@pacific.edu</td>
			<td>209-946-2720</td>
		</tr>
		<tr>
			<td>Pepperdine</td>
			<td>West Coast Conference</td>
			<td>Marty Wilson</td>
			<td>jonathan.pastorek@pepperdine.edu</td>
			<td>310-506-4161</td>
			<td>Mark Amaral</td>
			<td>mark.amaral@pepperdine.edu</td>
			<td>310-506-4168</td>
		</tr>
		<tr>
			<td>Portland</td>
			<td>West Coast Conference</td>
			<td>Eric Reveno</td>
			<td>scottbr@up.edu</td>
			<td></td>
			<td>Eric Jackson</td>
			<td>jacksone@up.edu</td>
			<td>509-943-7712</td>
		</tr>
		<tr>
			<td>Saint Mary's</td>
			<td>West Coast Conference</td>
			<td>Randy Bennett</td>
			<td>marcusjschroder@gmail.com</td>
			<td>925-631-8848</td>
			<td>Marty Clarke</td>
			<td>mjc18@stmary-ca.edu</td>
			<td>925-631-4714</td>
		</tr>
		<tr>
			<td>San Diego</td>
			<td>West Coast Conference</td>
			<td>Bill Grier</td>
			<td>usdmbb@sandiego.edu</td>
			<td>619-260-4829</td>
			<td>Mike Burns</td>
			<td>mburns@sandiego.edu</td>
			<td>619-260-4829</td>
		</tr>
		<tr>
			<td>San Francisco</td>
			<td>West Coast Conference</td>
			<td>Rex Walters</td>
			<td>mhpacini@dons.usfca.edu</td>
			<td></td>
			<td>Luke Wicks</td>
			<td>lswicks@usfca.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Santa Clara</td>
			<td>West Coast Conference</td>
			<td>Kerry Keating</td>
			<td>bmrosenthal@scu.edu</td>
			<td>408-554-2339</td>
			<td>Sam Scholl</td>
			<td>sscholl@scu.edu</td>
			<td>408-554-4640</td>
		</tr>
		<tr>
			<td>Bakersfield</td>
			<td>Western Athletic Conference</td>
			<td>Rod Barnes</td>
			<td>rbarnes4@csub.edu</td>
			<td>661-654-3094</td>
			<td>Jeff Conarroe</td>
			<td>jconarroe@csub.edu</td>
			<td>661-654-2344</td>
		</tr>
		<tr>
			<td>Chicago State</td>
			<td>Western Athletic Conference</td>
			<td>Tracy Dildy</td>
			<td>tdildy@csu.edu</td>
			<td>773-995-3657</td>
			<td>James Farr</td>
			<td>jfarr20@csu.edu</td>
			<td></td>
		</tr>
		<tr>
			<td>Grand Canyon</td>
			<td>Western Athletic Conference</td>
			<td>Dan Majerle</td>
			<td>luke.dallariva@gcu.edu</td>
			<td></td>
			<td>Todd Lee</td>
			<td>todd.lee@gcu.edu</td>
			<td>602-639-6826</td>
		</tr>
		<tr>
			<td>Kansas City</td>
			<td>Western Athletic Conference</td>
			<td>Kareem Richardson</td>
			<td>hamptoncm@umkc.edu</td>
			<td>316-204-8747</td>
			<td>Angres Thorpe</td>
			<td>thorpean@umkc.edu</td>
			<td>816-235-1038</td>
		</tr>
		<tr>
			<td>Seattle U</td>
			<td>Western Athletic Conference</td>
			<td>Cameron Dollar</td>
			<td>dollarc@seattleu.edu</td>
			<td>206-296-5872</td>
			<td>Donald Dollar</td>
			<td>dollard@seattleu.edu</td>
			<td>206-296-6403</td>
		</tr>
		<tr>
			<td>Texas-Pan American</td>
			<td>Western Athletic Conference</td>
			<td>Dan Hipsher</td>
			<td>hipsherde@utpa.edu</td>
			<td>956-665-2225</td>
			<td>Andy Hipsher</td>
			<td>hipsheraj@utpa.edu</td>
			<td>956-665-2231</td>
		</tr>
		<tr>
			<td>Utah Valley</td>
			<td>Western Athletic Conference</td>
			<td>Dick Hunsaker</td>
			<td>dick.hunsaker@uvu.edu</td>
			<td>801-863-8653</td>
			<td>Curtis Condie</td>
			<td>curtis.condie@uvu.edu</td>
			<td>801-863-8309</td>
		</tr>
	</tbody>
</table>
