<table>
	<thead>
		<tr>
			<th>Division I Colleges Attending </th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Akron</td>
			<td>High Point</td>
			<td>ODU</td>
		</tr>
		<tr>
			<td>Alabama</td>
			<td>Hofstra</td>
			<td>Oregon</td>
		</tr>
		<tr>
			<td>UAB</td>
			<td>Holy Cross</td>
			<td>Oregon St</td>
		</tr>
		<tr>
			<td>Albany</td>
			<td>Houston</td>
			<td>Penn</td>
		</tr>
		<tr>
			<td>American</td>
			<td>Howard</td>
			<td>Penn St</td>
		</tr>
		<tr>
			<td>App St</td>
			<td>Indiana U- Purdue U, Fort Wayne</td>
			<td>Pitt</td>
		</tr>
		<tr>
			<td>Auburn</td>
			<td>Iowa</td>
			<td>Presbyterian</td>
		</tr>
		<tr>
			<td>Baylor</td>
			<td>Iowa State</td>
			<td>Princeton</td>
		</tr>
		<tr>
			<td>Bethune- Cookman</td>
			<td>Jacksonville</td>
			<td>Providence</td>
		</tr>
		<tr>
			<td>Boston College</td>
			<td>James Madison</td>
			<td>Quinnipiac</td>
		</tr>
		<tr>
			<td>Boston U</td>
			<td>Kansas</td>
			<td>Radford</td>
		</tr>
		<tr>
			<td>Bradley</td>
			<td>Kansas State</td>
			<td>Rhode Island</td>
		</tr>
		<tr>
			<td>Bryant University</td>
			<td>Kennesaw State</td>
			<td>Richmond</td>
		</tr>
		<tr>
			<td>Bucknell</td>
			<td>Kentucky</td>
			<td>Rider</td>
		</tr>
		<tr>
			<td>Buffalo</td>
			<td>La Salle</td>
			<td>Robert Morris</td>
		</tr>
		<tr>
			<td>Butler</td>
			<td>Lafayette</td>
			<td>Rutgers</td>
		</tr>
		<tr>
			<td>Campbell</td>
			<td>Lamar</td>
			<td>Seton Hall</td>
		</tr>
		<tr>
			<td>Canisius</td>
			<td>Lehigh</td>
			<td>Siena</td>
		</tr>
		<tr>
			<td>Central Florida</td>
			<td>Liberty</td>
			<td>South Carolina</td>
		</tr>
		<tr>
			<td>Charleston</td>
			<td>Lipscomb</td>
			<td>USF</td>
		</tr>
		<tr>
			<td>Cincinnati</td>
			<td>Long Island U- Brooklyn</td>
			<td>St Bonaventure</td>
		</tr>
		<tr>
			<td>Citadel</td>
			<td>Longwood</td>
			<td>St Francis</td>
		</tr>
		<tr>
			<td>Clemson</td>
			<td>Loyola U Maryland</td>
			<td>St Joes</td>
		</tr>
		<tr>
			<td>Cleveland St</td>
			<td>Manhattan</td>
			<td>St Peter's</td>
		</tr>
		<tr>
			<td>Colgate</td>
			<td>Marist</td>
			<td>Stanford</td>
		</tr>
		<tr>
			<td>Columbia</td>
			<td>Marshall</td>
			<td>Stetson</td>
		</tr>
		<tr>
			<td>Connecticut</td>
			<td>Maryland</td>
			<td>Stony Brook</td>
		</tr>
		<tr>
			<td>Cornell</td>
			<td>U Maryland, College Park</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td>Dartmouth</td>
			<td>UMASS</td>
			<td>Temple</td>
		</tr>
		<tr>
			<td>Davidson</td>
			<td>Memphis</td>
			<td>Tenn @ Chattanooga</td>
		</tr>
		<tr>
			<td>Dayton</td>
			<td>Miami</td>
			<td>Tenn</td>
		</tr>
		<tr>
			<td>Delaware</td>
			<td>Miami (Ohio)</td>
			<td>Texas A&amp;M</td>
		</tr>
		<tr>
			<td>DePaul</td>
			<td>Middle Tenn St</td>
			<td>UTEP</td>
		</tr>
		<tr>
			<td>Drexel</td>
			<td>Minnesota</td>
			<td>Toledo</td>
		</tr>
		<tr>
			<td>Duquesne</td>
			<td>Mississippi</td>
			<td>Towson</td>
		</tr>
		<tr>
			<td>East Carolina</td>
			<td>Monmouth</td>
			<td>Airforce</td>
		</tr>
		<tr>
			<td>Eastern Kentucky</td>
			<td>Morgan State</td>
			<td>USMA</td>
		</tr>
		<tr>
			<td>Elon</td>
			<td>Mt St Marys</td>
			<td>Navy</td>
		</tr>
		<tr>
			<td>Fairfield</td>
			<td>Murray St</td>
			<td>Vanderbilt</td>
		</tr>
		<tr>
			<td>Florida A&amp;M</td>
			<td>UNLV</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td>Florida Atlantic</td>
			<td>New Hampshire</td>
			<td>Virginia</td>
		</tr>
		<tr>
			<td>Florida Gulf Coast</td>
			<td>NJIT</td>
			<td>VCU</td>
		</tr>
		<tr>
			<td>Florida International</td>
			<td>Niagara</td>
			<td>VirginiaPoly</td>
		</tr>
		<tr>
			<td>Florida State</td>
			<td>Norfolk State</td>
			<td>Wagner</td>
		</tr>
		<tr>
			<td>Fordham</td>
			<td>North Carolina St</td>
			<td>Wake Forest</td>
		</tr>
		<tr>
			<td>Furman</td>
			<td>UNC</td>
			<td>West Virginia</td>
		</tr>
		<tr>
			<td>George Mason</td>
			<td>UNC Greensboro</td>
			<td>Western Carolina</td>
		</tr>
		<tr>
			<td>George Washington</td>
			<td>North Florida</td>
			<td>Western Kentucky</td>
		</tr>
		<tr>
			<td>Georgetown</td>
			<td>Northeastern</td>
			<td>William and Mary</td>
		</tr>
		<tr>
			<td>Georgia</td>
			<td>Northwestern</td>
			<td>Winthrop</td>
		</tr>
		<tr>
			<td>Georgia Tech</td>
			<td>Notre Dame</td>
			<td>Xavier</td>
		</tr>
		<tr>
			<td>Georgia State</td>
			<td>Oakland</td>
			<td>Yale</td>
		</tr>
		<tr>
			<td>Hartford</td>
			<td>Ohio</td>
			<td>Youngstown St</td>
		</tr>
		<tr>
			<td>Harvard</td>
			<td>Ok St</td>
			<td></td>
		</tr>
	</tbody>
</table>
