<table>
	<thead>
		<tr>
			<th>Program Dates</th>
			<th>Boys &amp; Girls</th>
			<th>Class Day</th>
			<th>Times</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Oct. 8</td>
			<td>Grades 3-10</td>
			<td>Monday</td>
			<td>9:00AM-2:00 PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_93&amp;products_id=1359">Sign Up!</a></td>
		</tr>
	</tbody>
</table>
