<table>
	<thead>
		<tr>
			<th>Session</th>
			<th>Boys &amp; Girls</th>
			<th>Class Day</th>
			<th>Time</th>
			<th>Cost</th>
			<th>Sign-up</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>October 10</td>
			<td>Grades 2-12</td>
			<td>Monday</td>
			<td>9 am - 2 pm</td>
			<td>$85</td>
			<td><a href="https://store.hoopgroup.com/events/2017-hghq-columbus-day-hoopfest-2017">Register Here </a></td>
		</tr>
	</tbody>
</table>
