<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>College</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Seger Bonifant</td>
			<td>West Liberty</td>
			<td>Berlin OH</td>
		</tr>
		<tr>
			<td>Brandon Norfleet</td>
			<td>Indiana U of Pennsylvania</td>
			<td>Virginia Beach VA</td>
		</tr>
		<tr>
			<td>Desmond Williams</td>
			<td>Southern Connecticut</td>
			<td>Torrington OH</td>
		</tr>
	</tbody>
</table>
