<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Jayde Dawson</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Michael Riopel</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>David George</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Jeff Racy</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Brady Holding</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Ben Pollack</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Joseph Schneider</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Marcus Carter</td>
			<td>Christopher Newport</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Femi</td>
			<td>Christopher Newport</td>
		</tr>
		<tr>
			<td></td>
			<td>Rayshard Brown</td>
			<td>Christopher Newport</td>
		</tr>
		<tr>
			<td></td>
			<td>Brendon Burrows</td>
			<td>Christopher Newport</td>
		</tr>
		<tr>
			<td></td>
			<td>Logan Miller</td>
			<td>Christopher Newport</td>
		</tr>
		<tr>
			<td></td>
			<td>Quad Borup</td>
			<td>Christopher Newport</td>
		</tr>
		<tr>
			<td></td>
			<td>Justin Hampton</td>
			<td>Christopher Newport</td>
		</tr>
		<tr>
			<td></td>
			<td>Tim Daly</td>
			<td>Christopher Newport</td>
		</tr>
		<tr>
			<td></td>
			<td>Habib N'Gamim</td>
			<td>Christopher Newport</td>
		</tr>
		<tr>
			<td></td>
			<td>Taylor Montero</td>
			<td>St. Thomas</td>
		</tr>
	</tbody>
</table>
