<table>
	<thead>
		<tr>
			<th>Day</th>
			<th>Time</th>
			<th>Court Location</th>
			<th>Pool</th>
			<th>Home</th>
			<th>Score</th>
			<th>Away</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Friday</td>
			<td>5:00PM</td>
			<td>Fitzgerald-2</td>
			<td>16</td>
			<td>Texas Cagers</td>
			<td>67</td>
			<td>BSA HG Elias (PA)</td>
			<td>53</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>5:00PM</td>
			<td>Fitzgerald-1</td>
			<td>2</td>
			<td>BSA HG Select (PA)</td>
			<td>58</td>
			<td>West Penn Flight (PA)</td>
			<td>99</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>6:15PM</td>
			<td>Petersen-3</td>
			<td>11</td>
			<td>Florida Elite</td>
			<td>53</td>
			<td>BSA Freedman (PA)</td>
			<td>25</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>6:15PM</td>
			<td>Fitzgerald-3</td>
			<td>13</td>
			<td>All Ohio Purple</td>
			<td>64</td>
			<td>Maryland 3D BBall (MD)</td>
			<td>56</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>6:15PM</td>
			<td>Fitzgerald-2</td>
			<td>20</td>
			<td>Drill 4 Skill Wildcat (PA)</td>
			<td>78</td>
			<td>BSA Select Vavro (PA)</td>
			<td>64</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>6:15PM</td>
			<td>LaRoche-2</td>
			<td>30</td>
			<td>Cecil Kirk (MD)</td>
			<td>0</td>
			<td>VA Elite Hoops</td>
			<td>15</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>6:15PM</td>
			<td>LaRoche-1</td>
			<td>28</td>
			<td>Germantown Hardknocks</td>
			<td>0</td>
			<td>Fairfax Stars (VA)</td>
			<td>15</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>7:30PM</td>
			<td>Fitzgerald-1</td>
			<td>23</td>
			<td>Raritan Roundballers Blue (NJ)</td>
			<td>26</td>
			<td>Columbus Mustang Ballers (OH)</td>
			<td>59</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>7:30PM</td>
			<td>Fitzgerald-3</td>
			<td>24</td>
			<td>All Ohio Gold</td>
			<td>60</td>
			<td>Mitchellville Tailblazers (MD)</td>
			<td>43</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>7:30PM</td>
			<td>Fitzgerald-2</td>
			<td>26</td>
			<td>South Florida Elite</td>
			<td>47</td>
			<td>Franklin All-Stars (MI)</td>
			<td>64</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>7:30PM</td>
			<td>LaRoche-2</td>
			<td>3</td>
			<td>Crusader Nation (MD)</td>
			<td>56</td>
			<td>Ohio Rising Stars</td>
			<td>61</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>7:30PM</td>
			<td>LaRoche-1</td>
			<td>31</td>
			<td>All Ohio Black</td>
			<td>77</td>
			<td>NPBC Cavemen (PA)</td>
			<td>73</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>7:30PM</td>
			<td>Petersen-1</td>
			<td>4</td>
			<td>BSA I-90 (NY)</td>
			<td>50</td>
			<td>All Ohio Red</td>
			<td>87</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>7:30PM</td>
			<td>Petersen-2</td>
			<td>15</td>
			<td>Sports U Elite (NJ)</td>
			<td>72</td>
			<td>Dayton C-Hawks (OH)</td>
			<td>55</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>7:30PM</td>
			<td>Trees-1</td>
			<td>29</td>
			<td>Atlantic Arsenal (NJ)</td>
			<td>67</td>
			<td>East Coast Fusio- Lemcke (VA)</td>
			<td>90</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>8:40PM</td>
			<td>Fitzgerald-2</td>
			<td>9</td>
			<td>Sampson County All-Stars</td>
			<td>64</td>
			<td>Virginia Assault Red</td>
			<td>46</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>8:40PM</td>
			<td>Fitzgerald-1</td>
			<td>10</td>
			<td>Ohio Basketball Club</td>
			<td>42</td>
			<td>PG Bulls (MD)</td>
			<td>49</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>8:40PM</td>
			<td>Fitzgerald-3</td>
			<td>18</td>
			<td>WV Wildcats Select</td>
			<td>66</td>
			<td>Franklin All-Stars</td>
			<td>60</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>8:40PM</td>
			<td>LaRoche-2</td>
			<td>14</td>
			<td>Advanced Hoops (PA)</td>
			<td>40</td>
			<td>East Coast Fusion - Dalton (VA)</td>
			<td>49</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>8:40PM</td>
			<td>LaRoche-1</td>
			<td>21</td>
			<td>Baltimore Stars (MD)</td>
			<td>60</td>
			<td>PYO (PA)</td>
			<td>50</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>8:40PM</td>
			<td>Petersen-2</td>
			<td>6</td>
			<td>SYF</td>
			<td>69</td>
			<td>Upstate Basketball (NY)</td>
			<td>50</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>8:40PM</td>
			<td>Petersen-1</td>
			<td>8</td>
			<td>Team Loaded (VA)</td>
			<td>71</td>
			<td>Game 7 Sharks (NJ)</td>
			<td>39</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>8:40PM</td>
			<td>Trees-1</td>
			<td>25</td>
			<td>Derrick Rose UpTempo (IN)</td>
			<td>52</td>
			<td>Brooklyn Badgers Red (NY)</td>
			<td>47</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>9:50PM</td>
			<td>Fitzgerald-2</td>
			<td>12</td>
			<td>South Jersey Select (NJ)</td>
			<td>42</td>
			<td>Dorian's Pride (MI)</td>
			<td>59</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>9:50PM</td>
			<td>Fitzgerald-1</td>
			<td>17</td>
			<td>Virginia Assault Gold</td>
			<td>61</td>
			<td>Northern Kings (CAN)</td>
			<td>62</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>9:50PM</td>
			<td>Fitzgerald-3</td>
			<td>19</td>
			<td>Philly's Finest (PA)</td>
			<td>55</td>
			<td>Syracuse Select (NY)</td>
			<td>45</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>9:50PM</td>
			<td>LaRoche-2</td>
			<td>1</td>
			<td>East Coast Fusion - Tisa (NY)</td>
			<td>62</td>
			<td>Ohio Hoopsters Lav</td>
			<td>71</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>9:50PM</td>
			<td>LaRoche-1</td>
			<td>32</td>
			<td>Prince William United Force (VA)</td>
			<td>76</td>
			<td>Illinois Heat</td>
			<td>57</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>9:50PM</td>
			<td>Petersen-1</td>
			<td>5</td>
			<td>Brooklyn Badgers Blue (NY)</td>
			<td>33</td>
			<td>DC Assault Gold</td>
			<td>54</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>9:50PM</td>
			<td>Petersen-2</td>
			<td>27</td>
			<td>DB Hoops (OH)</td>
			<td>46</td>
			<td>Hoops Heaven Heat (NJ)</td>
			<td>76</td>
		</tr>
		<tr>
			<td>Friday</td>
			<td>9:50PM</td>
			<td>Trees-1</td>
			<td>22</td>
			<td>Ivey 23 Terps (MD)</td>
			<td>50</td>
			<td>Ohio Aces</td>
			<td>70</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>8:30AM</td>
			<td>Allderdice-1</td>
			<td>11</td>
			<td>BSA Freedman (PA)</td>
			<td>48</td>
			<td>Rising Stars NYC</td>
			<td>58</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>8:30AM</td>
			<td>Allderdice-2</td>
			<td>20</td>
			<td>BSA Slect Vavro (PA)</td>
			<td>46</td>
			<td>Indiana Elite One</td>
			<td>79</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>8:30AM</td>
			<td>Fitzgerald-1</td>
			<td>16</td>
			<td>Texas Cagers </td>
			<td>64</td>
			<td>PA Playez</td>
			<td>70</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>8:30Am</td>
			<td>Fitzgerald-2</td>
			<td>24</td>
			<td>Long Island Lightning (NY)</td>
			<td>51</td>
			<td>Mitchellville Trailblazers (MD)</td>
			<td>43</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>8:30AM</td>
			<td>JCC-2</td>
			<td>25</td>
			<td>Brooklyn Badgers Red (NY)</td>
			<td>42</td>
			<td>Team NJ ABC</td>
			<td>61</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>8:30Am</td>
			<td>JCC-1</td>
			<td>26</td>
			<td>Franklin All-Stars (MI) </td>
			<td>40</td>
			<td>PTP (PA)</td>
			<td>67</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>8:30Am</td>
			<td>LaRoche-1</td>
			<td>4</td>
			<td>Alexandria Kings (VA)</td>
			<td>42</td>
			<td>BSA I-90 Elite (NY)</td>
			<td>67</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>8:30AM</td>
			<td>Petersen-1</td>
			<td>2</td>
			<td>Team Takeover (DC)</td>
			<td>64</td>
			<td>BSA HC Select (PA)</td>
			<td>53</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>8:30AM</td>
			<td>Petersen-2</td>
			<td>7</td>
			<td>Eric Gordon All-Stars (IN)</td>
			<td>72</td>
			<td>Ohio Shooting Stars </td>
			<td>61</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>8:30AM</td>
			<td>Trees-1</td>
			<td>3</td>
			<td>CIA Bounce</td>
			<td>86</td>
			<td>Ohio Rising Stars</td>
			<td>47</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>9:40PM</td>
			<td>Allderdice-1</td>
			<td>32</td>
			<td>East Coast Panthers Elite (DE)</td>
			<td>61</td>
			<td>Illinois Heat</td>
			<td>45</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>9:40PM</td>
			<td>Allderdice-2</td>
			<td>28</td>
			<td>Team Jersey Elite (NJ)</td>
			<td></td>
			<td>Germantown Hardknocks (MD)</td>
			<td></td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>9:40PM</td>
			<td>Fitzgerald-1</td>
			<td>15</td>
			<td>Youth Interlock</td>
			<td>36</td>
			<td>Sports Elite U (NJ)</td>
			<td>66</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>9:40PM</td>
			<td>Fitzgerald-2</td>
			<td>22</td>
			<td>New York Panthers</td>
			<td>53</td>
			<td>Ohio Aces</td>
			<td>46</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>9:40PM</td>
			<td>JCC-1</td>
			<td>8</td>
			<td>Dayton Metro - Ark (OH)</td>
			<td>55</td>
			<td>Team Loaded</td>
			<td>56</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>9:40PM</td>
			<td>JCC-2</td>
			<td>18</td>
			<td>Franklin All Stars </td>
			<td>0</td>
			<td>Grassroots Canada </td>
			<td>15</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>9:40PM</td>
			<td>LaRoche-1</td>
			<td>17</td>
			<td>Nothern Kings (CAN)</td>
			<td>71</td>
			<td>CJ Rebels (NJ)</td>
			<td>34</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>9:40PM</td>
			<td>Petersen-1</td>
			<td>1</td>
			<td>East Coast Fusion - Tisa (NY)</td>
			<td>54</td>
			<td>Playaz Basketball Club</td>
			<td>71</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>9:40PM</td>
			<td>Petersen-2</td>
			<td>23</td>
			<td>Columbus Mustang Ballers (OH)</td>
			<td>50</td>
			<td>Jersey Shore Warriors (PA)</td>
			<td>61</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>9:40PM</td>
			<td>Trees-1</td>
			<td>30</td>
			<td>Hunting Park Warriors</td>
			<td>63</td>
			<td>Cecil Kirk (MD)</td>
			<td>53</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>10:50AM</td>
			<td>Allderdice-2</td>
			<td>12</td>
			<td>South Jersey Select (NJ)</td>
			<td>49</td>
			<td>Brooklyn Ballers (NY)</td>
			<td>44</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>10:50AM</td>
			<td>Allderdice-1</td>
			<td>9</td>
			<td>Virginia Assault Red</td>
			<td>49</td>
			<td>Raritan Roundballers Gold (NJ)</td>
			<td>53</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>10:50AM</td>
			<td>Fitzgerald-2 </td>
			<td>13</td>
			<td>Shooting Stars</td>
			<td>60</td>
			<td>All Ohio Purple</td>
			<td>65</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>10:50AM</td>
			<td>Fitzgerald-1</td>
			<td>14</td>
			<td>Advanced Hoops (PA)</td>
			<td>50</td>
			<td>Team Takeover Hoop Magic (VA)</td>
			<td>62</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>10:50AM</td>
			<td>JCC-1</td>
			<td>5</td>
			<td>Dayton Metro - Fielder (OH)</td>
			<td>64</td>
			<td>Brooklyn Badgers Blue (NY)</td>
			<td>50</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>10:50AM</td>
			<td>JCC-2</td>
			<td>10</td>
			<td>PG Bulls (MD)</td>
			<td>67</td>
			<td>Chester Panthers (PA)</td>
			<td>64</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>10:50AM</td>
			<td>LaRoche-1</td>
			<td>19</td>
			<td>Syracuse Select (NY)</td>
			<td>53</td>
			<td>Riverside Hawks (PA)</td>
			<td>77</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>10:50AM</td>
			<td>Petersen-2</td>
			<td>6</td>
			<td>Montgomery Knights (PA)</td>
			<td>54</td>
			<td>SYF</td>
			<td>53</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>10:50AM</td>
			<td>Petersen-1</td>
			<td>29</td>
			<td>6th Man Warriors (MD)</td>
			<td>59</td>
			<td>East Coast Fusion - Lemcke (VA)</td>
			<td>65</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>10:50AM</td>
			<td>Trees-1 </td>
			<td>27</td>
			<td>Hoop Heaven Heat (NJ)</td>
			<td>69</td>
			<td>Team takeover Canada</td>
			<td>43</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>12PM</td>
			<td>Allderdice-2</td>
			<td>4</td>
			<td>Alexandria Kings (VA)</td>
			<td>32</td>
			<td>All Ohio Red</td>
			<td>85</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>12PM</td>
			<td>Allderdice-1</td>
			<td>31</td>
			<td>Delaware Team Takeover</td>
			<td>61</td>
			<td>NPBC cavemen (PA)</td>
			<td>50</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>12PM</td>
			<td>Fitzgerald-2</td>
			<td>25</td>
			<td>Team NJ ABC</td>
			<td>46</td>
			<td>Florida Elite</td>
			<td>61</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>12PM</td>
			<td>Fitzgerald-1</td>
			<td>11</td>
			<td>Rising Stars NYC</td>
			<td>36</td>
			<td>Florida Elite</td>
			<td>62</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>12PM</td>
			<td>JCC-1</td>
			<td>16</td>
			<td>PA Playaz</td>
			<td>55</td>
			<td>BSA HC Elias</td>
			<td>39</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>12M</td>
			<td>JCC-2</td>
			<td>24</td>
			<td>Long Island Lightning (NY)</td>
			<td>59</td>
			<td>All Ohio Gold</td>
			<td>48</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>12PM</td>
			<td>LaRoche-1</td>
			<td>26</td>
			<td>PTP (PA)</td>
			<td>67</td>
			<td>South Florida Elite </td>
			<td>61</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>12PM</td>
			<td>Petersen-2</td>
			<td>20</td>
			<td>Indiana Elite One</td>
			<td>60</td>
			<td>Drill 4 Skill Wildcat (PA)</td>
			<td>69</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>12PM</td>
			<td>Petersen-1</td>
			<td>21</td>
			<td>Juice All-Stars</td>
			<td>72</td>
			<td>Baltimore Stars (MD)</td>
			<td>60</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>12PM</td>
			<td>Trees-1</td>
			<td>7</td>
			<td>Team NJ ABC - Towns </td>
			<td>37</td>
			<td>Eric Gordon All-Stars (IN)</td>
			<td>63</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>1:15PM</td>
			<td>Fitzgerald-1</td>
			<td>18</td>
			<td>Grassroots Canada</td>
			<td>62</td>
			<td>WV Wildcats Select</td>
			<td>51</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>1:15PM</td>
			<td>Fitzgerald-2</td>
			<td>23</td>
			<td>Jersey Shore Warriors (PA)</td>
			<td>68</td>
			<td>Raritan Roundballers Blue (PA)</td>
			<td>35</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>1:15PM</td>
			<td>JCC-2</td>
			<td>15</td>
			<td>Dayton C-Hawks (OH)</td>
			<td>42</td>
			<td>Youth Interlock</td>
			<td>52</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>1:15PM</td>
			<td>JCC-1</td>
			<td>30</td>
			<td>VA Elite Hoops</td>
			<td>54</td>
			<td>Hunting Park Warriors (PA)</td>
			<td>42</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>1:15PM</td>
			<td>LaRoche-1</td>
			<td>28</td>
			<td>Prince William United Force (VA)</td>
			<td></td>
			<td>East Coast Panthers Elite (DE)</td>
			<td></td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>1:15PM</td>
			<td>Petersen-2</td>
			<td>2</td>
			<td>West Penn Flight (PA)</td>
			<td>45</td>
			<td>Team Takeover (DC)</td>
			<td>76</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>1:15PM</td>
			<td>Petersen-1</td>
			<td>22</td>
			<td>New York Panthers</td>
			<td>64</td>
			<td>Ivey 23 Terps (MD)</td>
			<td>45</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>1:15PM</td>
			<td>Trees-1</td>
			<td>13</td>
			<td>Maryland 3D Basketball (MD)</td>
			<td>67</td>
			<td>Shooting Stars NYC</td>
			<td>59</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>2:25PM</td>
			<td>Fitzgerald-1</td>
			<td>1</td>
			<td>Playaz Basketball Club (NJ)</td>
			<td>62</td>
			<td>Ohio Hoopsters Lav</td>
			<td>61</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>2:25PM</td>
			<td>Fitzgerald-2</td>
			<td>8</td>
			<td>Dayton Metro - Ark (OH)</td>
			<td>58</td>
			<td>Game 7 Sharks (NJ)</td>
			<td>44</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>2:25PM</td>
			<td>JCC-1</td>
			<td>6</td>
			<td>Upstate Basketball (NY)</td>
			<td>75</td>
			<td>Montgomery Knights (PA)</td>
			<td>78</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>2:25PM</td>
			<td>JCC-2</td>
			<td>27</td>
			<td>Team Takeover Canada </td>
			<td>69</td>
			<td>DB Hoops (OH)</td>
			<td>59</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>2:25PM</td>
			<td>LaRoche-1</td>
			<td>12</td>
			<td>Dorian's Pride (Mi)</td>
			<td>72</td>
			<td>Brooklyn Ballers (NY)</td>
			<td>73</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>2:25PM</td>
			<td>LaRoche-2</td>
			<td>32</td>
			<td>Fairfax Stars (VA)</td>
			<td>46</td>
			<td>Team Jersey Elite (NJ)</td>
			<td>61</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>2:25PM</td>
			<td>Petersen-2</td>
			<td>5</td>
			<td>DC Assault Gold</td>
			<td>62</td>
			<td>Dayton Metro - Fielder (OH)</td>
			<td>42</td>
		</tr>
		<tr>
			<td>Saturday </td>
			<td>2:25PM</td>
			<td>Petersen-1</td>
			<td>9</td>
			<td>Raritan Roundballers Gold (NJ)</td>
			<td>42</td>
			<td>Sampson City All-Stars</td>
			<td>39</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>2:25PM</td>
			<td>Trees-1</td>
			<td>29</td>
			<td>Atlantic Arsenal (NJ)</td>
			<td></td>
			<td>6th Man Warriors (MD)</td>
			<td></td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>3:35PM</td>
			<td>Fitzgerald-1</td>
			<td>10</td>
			<td>Chester Panthers (PA)</td>
			<td>72</td>
			<td>Ohio Basketball Club</td>
			<td>75</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>3:35PM</td>
			<td>Fitzgerald-2</td>
			<td>21</td>
			<td>PYO (PA)</td>
			<td>63</td>
			<td>Juice All-Stars</td>
			<td>65</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>3:35PM</td>
			<td>JCC-2</td>
			<td>14</td>
			<td>Team Takeover Hoop Magic (VA)</td>
			<td>68</td>
			<td>East Coast Fusion- Dalton (VA)</td>
			<td>59</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>3:35PM</td>
			<td>JCC-1</td>
			<td>17</td>
			<td>CJ Redels (NJ)</td>
			<td>36</td>
			<td>Virginia Assault Gold</td>
			<td>67</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>3:35PM</td>
			<td>LaRoche-1</td>
			<td>7</td>
			<td>Ohio Shooting Stars</td>
			<td>62</td>
			<td>Team NJ ABC- Towns</td>
			<td>63</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>3:35PM</td>
			<td>LaRoche-2</td>
			<td>31</td>
			<td>Delaware Team Takeover</td>
			<td>62</td>
			<td>All Ohio Black</td>
			<td>54</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>3:35PM</td>
			<td>Petersen-2</td>
			<td>3</td>
			<td>CIA Bounce</td>
			<td>70</td>
			<td>Crusader Nation MD</td>
			<td>50</td>
		</tr>
		<tr>
			<td>Saturday</td>
			<td>3:35PM</td>
			<td>Petersen-1</td>
			<td>19</td>
			<td>Riverside Hawks</td>
			<td>41</td>
			<td>Philly's Finest (PA)</td>
			<td>59</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
