<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Luquon Choice</td>
			<td>Lincoln Memorial</td>
		</tr>
		<tr>
			<td></td>
			<td>Paul Woodson</td>
			<td>Lincoln Memorial</td>
		</tr>
		<tr>
			<td></td>
			<td>Myles Smith</td>
			<td>Lincoln Memorial</td>
		</tr>
		<tr>
			<td></td>
			<td>Joe Lococo</td>
			<td>West Liberty</td>
		</tr>
		<tr>
			<td></td>
			<td>Devin Hoehn</td>
			<td>West Liberty</td>
		</tr>
		<tr>
			<td></td>
			<td>Seger Bonifant</td>
			<td>West Liberty</td>
		</tr>
		<tr>
			<td></td>
			<td>Brady Arnold</td>
			<td>West Liberty</td>
		</tr>
		<tr>
			<td></td>
			<td>Brandon Smith</td>
			<td>West Liberty</td>
		</tr>
		<tr>
			<td></td>
			<td>Beau Justice</td>
			<td>West Liberty</td>
		</tr>
		<tr>
			<td></td>
			<td>Zac Grossenbacher</td>
			<td>West Liberty</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Primmer</td>
			<td>West Liberty</td>
		</tr>
	</tbody>
</table>
