<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys &amp; Girls</th>
			<th>Class Days</th>
			<th>Time</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jun 20-Jul 21
</td>
			<td>Grades 3-10</td>
			<td>Tuesday</td>
			<td>4:00PM-5:00PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_84&amp;products_id=1095">Sign Up!</a></td>
		</tr>
		<tr>
			<td>Jul 26-Aug 23</td>
			<td>Grades 3-10</td>
			<td>Tuesday</td>
			<td>4:00PM-5:00PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_84&amp;products_id=1097">Sign Up!</a></td>
		</tr>
	</tbody>
</table>
