<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Grades</th>
			<th>Class Days</th>
			<th>Time</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>May 3-Jun 7</td>
			<td>3-6</td>
			<td>Tuesday</td>
			<td>4:30-6:00PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_84&amp;products_id=1074">Sign Up </a></td>
		</tr>
		<tr>
			<td>May 3-Jun 7</td>
			<td>7-12</td>
			<td>Tuesday</td>
			<td>6:00-7:30PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_84&amp;products_id=1072">Sign Up</a></td>
		</tr>
	</tbody>
</table>
