<table>
	<thead>
		<tr>
			<th>Session</th>
			<th>Dates</th>
			<th>Boys &amp; Girls </th>
			<th>Class Days</th>
			<th>Times</th>
			<th>Cost</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Spring 1</td>
			<td>March 13 - April 10</td>
			<td>Grades 3-6</td>
			<td>Tuesdays ONLY</td>
			<td>4:30 - 5:45pm</td>
			<td>$190</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-core-skills-(2-6)-tuesdays-only-spring1">Register Here </a></td>
		</tr>
		<tr>
			<td>Spring 1</td>
			<td>March 15 - April 12</td>
			<td>Grades 3-6</td>
			<td>Thursdays ONLY</td>
			<td>4:30 - 5:45pm</td>
			<td>$190</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-core-skills-(2-6)-thrusdays-only-spring1">Register Here </a></td>
		</tr>
		<tr>
			<td>Spring 1</td>
			<td>March 13 - April 12</td>
			<td>Grades 3-6</td>
			<td>Tuesday &amp; Thursday</td>
			<td>4:30 - 5:45pm</td>
			<td>$360</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-core-skills-(2-6)-both-tuesday---thursday-spring1">Register Here </a></td>
		</tr>
		<tr>
			<td>Spring 1</td>
			<td>March 13 - April 10</td>
			<td>Grades 7-12</td>
			<td>Tuesdays ONLY</td>
			<td>5:45 - 7:00pm </td>
			<td>$190</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-core-skills-(7-11)-tuesdays-only-spring1">Register Here </a></td>
		</tr>
		<tr>
			<td>Spring 1</td>
			<td>March 15 - April 12</td>
			<td>Grades 7-12</td>
			<td>Thursdays ONLY</td>
			<td>5:45 - 7:00pm </td>
			<td>$190</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-core-skills-(7-11)-thrusdays-only-spring1">Register Here </a></td>
		</tr>
		<tr>
			<td>Spring 1</td>
			<td>March 13 - April 12</td>
			<td>Grades 7-12</td>
			<td>Tuesday &amp; Thursday</td>
			<td>5:45 - 7:00pm </td>
			<td>$360</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-core-skills-(7-11)-both-tuesday---thursday-spring1">Register Here </a></td>
		</tr>
	</tbody>
</table>
