<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys &amp; Girls</th>
			<th>Days</th>
			<th>Time</th>
			<th>Cost</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>June 18 - June 22</td>
			<td>Completed Grades 2-11</td>
			<td>Mon-Fri</td>
			<td>9:00AM-2:00 PM</td>
			<td>$285</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-core-skills-1-2018">Register Here </a></td>
		</tr>
		<tr>
			<td>July 10 - July 14</td>
			<td>Completed Grades 2-11</td>
			<td>Mon-Fri</td>
			<td>9:00AM-2:00 PM</td>
			<td>$285</td>
			<td><a href="https://store.hoopgroup.com/events/2017-hghq-summer-core-skills-1-2017">Register Here </a></td>
		</tr>
		<tr>
			<td>August 31 - September 3</td>
			<td>Completed Grades 2-11</td>
			<td>Mon-Thurs</td>
			<td>9:00AM-2:00 PM</td>
			<td>$195</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_170&amp;products_id=1834">Register Here</a></td>
		</tr>
	</tbody>
</table>
