<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys &amp; Girls</th>
			<th>Days</th>
			<th>Times</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jul 16-20</td>
			<td>Grades 3-10</td>
			<td>Mon-Fri</td>
			<td>9:00AM-2:00PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_94&amp;products_id=1313">Sign Up!</a></td>
		</tr>
	</tbody>
</table>
