<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Division
Boys &amp; Girls</th>
			<th>Class Days</th>
			<th>Time</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>July 16-Aug 13</td>
			<td>Grades 4-11</td>
			<td>Wednesday</td>
			<td>2:45-4:00PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_156&amp;products_id=1758">Register Here</a></td>
		</tr>
		<tr>
			<td>May 5-Jun 9</td>
			<td>Grades 7-12</td>
			<td>Thursday</td>
			<td>6:00-7:00PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_84&amp;products_id=1077">Sign Up</a></td>
		</tr>
	</tbody>
</table>
