<table>
	<thead>
		<tr>
			<th>Session</th>
			<th>Grade</th>
			<th>Class Days</th>
			<th>Times</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Winter 2</td>
			<td>All Grades </td>
			<td>Wednesday 
January 4 - February 1
</td>
			<td>6:15 - 715pm</td>
			<td><a href="https://store.hoopgroup.com/events/2017-hghq-dead-eye-shooting-winter-2">Register Here </a></td>
		</tr>
	</tbody>
</table>
