<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys &amp; Girls</th>
			<th>Days</th>
			<th>Times</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>July 22th</td>
			<td>Grades 2-10</td>
			<td>Friday</td>
			<td>2:00PM - 5:30PM</td>
			<td>Coming Soon</td>
		</tr>
	</tbody>
</table>
