<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys &amp; Girls</th>
			<th>Days</th>
			<th>Time</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jun 30-Jul 21</td>
			<td>Grades 3-10</td>
			<td>Thursday</td>
			<td>4:00PM-5:00PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_84&amp;products_id=1099">Sign Up!</a></td>
		</tr>
		<tr>
			<td>Jul 25-Aug 25</td>
			<td>Grades 3-10</td>
			<td>Thursday</td>
			<td>4:00PM-5:00PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_84&amp;products_id=1101">Sign Up!</a></td>
		</tr>
	</tbody>
</table>
