<table>
	<thead>
		<tr>
			<th>Picture</th>
			<th>Name and Information</th>
			<th>Jr. Elite Strengths
Jr. Elite Takeaways</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Alston-Jalen-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47553" /></td>
			<td>Jalen Alston
7th
Springdale, MD
Height: 5'7				</td>
			<td>Finishes strong.

An attacking wing who ran the floor and finished well. Uses body well at the hoop. Can keep strengthening ball handling skills. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/0-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47550" /></td>
			<td>Dominick Banks
8th
Bowie, MD
Height: 5'9
152
Wingspan: 70	
Reach: 89	
Vertical: 27</td>
			<td>Hustles.

Plays hard, doesn't complain. Can strive to improve conditioning and aggressiveness. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Baukum-Dmarco-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47554" /></td>
			<td>D'Marco	Baucum
8th
Hyattsville, MD
Weight: 218
Wingspan:81
Reach: 100
Vertical: 22</td>
			<td>Size and strength.

Uses size to his advantage, works hard in the paint. Can shoot the three as well as mid-range, screens well, great feel for the game. Hard worker who finishes strong and a team player. Unselfish, athletic, great potential. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Baylor-Tyler-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47555" /></td>
			<td>Tyler Baylor
8th
White Oak, MD
Height: 6'4</td>
			<td>Big, strong rebounder.

Big body, strong frame. Plays the 2-man game well with guards. Great rebound with strong lefty put-back. Aggressive both offensively and defensively, can strive for more offense on the block. Good screener and great potential.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bynum-Jared-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47556" /></td>
			<td>Jared Bynum
8th
Rainer, MD
Height: 5'3</td>
			<td>Great feel for game.

Sense of the floor and passes well. Unselfish and gets teammates involved. Smart, hard worker and a good point guard who sets players up to make things happen. Smart attacker on offense and seeks and makes the open shot. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Byrd-Saquan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47558" /></td>
			<td>Saquan	Byrd
8th
Washington, DC
Height: 5'6
Weight: 170
Wingspan: 71
Reach: 89
Vertical: 20</td>
			<td>Plays hard.

Stays strong on fastbreak defense, a lot of heart, team player. Has heart, and with body language work can be a great team asset. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Carter-Bryson-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47557" /></td>
			<td>Bryson Carter
5th
Bowie, MD
Height: 4'4
Weight: 77
Wingspan: 50
Reach: 67.5
Vertical: 15</td>
			<td>Hard worker, good form.

Handles the ball well and went hard during drills. Good form on jumper, strong ballhandling, lots of potential. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ceaser-Devin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47559" /></td>
			<td>Devin Ceaser
5th
Washington, DC
Height: 5'2
Weight: 84
Wingspan: 60
Reach: 77
Vertical: 20</td>
			<td>Good corner shot.

Good shooter, active on defense, and athletic. This guard displayed a good jump shot, Can strive to improve aggressiveness and ballhandling. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Chappell-Ajaun-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47560" /></td>
			<td>Ajaun Chappell
7th
Laurel, MD
Height: 5'1</td>
			<td>Solid defender.

Offers solid defense and decent form. Strong ballhandling and on-the-ball defensive skills. Can improve aggressiveness on both sides of ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Davis-Kevin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47561" /></td>
			<td>Kevin Davis
7th
Mitchellville, MD
Height: 5'3
Weight: 106
Wingspan: 63
Reach: 82
Vertical: 18</td>
			<td>Athletic shooter.

A good shooter and athlete who showed talent at the point and intelligence. Can strive to keep eye on the court at all times and to go full speed ahead. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Depollar-Christian-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47562" /></td>
			<td>Christian Depollar
8th
Bethesda, MD
Height: 6'3
Weight: 163
Wingspan: 75
Reach: 97
Vertical: 18</td>
			<td>Crashes boards hard.

Aggressive, can go coast-to-coast and finish strong, good frame. Can work on finishing at rim. Handles ball in transition, good stroke, good feel for game. Can strive to be more vocal on court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Gault-Brayden-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47563" /></td>
			<td>Brayden	Gault
8th
Haymanket, VA</td>
			<td>Sense of game, hard worker.

Works during game breaks, smart, good attitude. Nice up-and-under moves in the paint. Great shooter, extremely intelligent, involves teammates and looks to get others open.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Gibbons-Terrence-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47564" /></td>
			<td>Terrence Gibbons
8th
Upper Marlboro, MD
Height: 6'4	
Weight: 180
Wingspan: 77
Reach: 98
Vertical: 20</td>
			<td>Tall, good frame.

A good help defending the point, shot blocker and rebounder. Finishes well in transition and talkative on defense. Can strive to improve down low offensively and aggressiveness. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Giles-Jr.-Ronnell-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47565" /></td>
			<td>Ronnell	Giles Jr.
7th
Brandywine, MD
Height: 5'7
Weight: 116
Wingspan: 68
Reach: 85.5
Vertical: 16</td>
			<td>Capable ball handler.

Good vision of the court with some good passes as he attacked rim. Can work to finish strong on every play and keep improving his jump shot. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Gill-Anwar-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47566" /></td>
			<td>Anwar Gill
7th
Lanham Seabrook, MD
Height: 6'1
Weight: 148
Wingspan: 76
Reach: 94
Vertical: 17</td>
			<td>Lefty with smarts.

Lefty with good length and finishes with both hands. Good IQ off the ball offensively, runs the floor well and rebounds. Can look to improve jump shot and ball handling overall. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Harriston-Jordan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47567" /></td>
			<td>Jordan Hairston
7th
Centreville, VA
Height: 5'7
Weight: 119
Wingspan: 66
Reach: 84
Vertical: 25</td>
			<td>Strong finisher.

An aggressive attacking combo guard, scores well. Active defensive skills can be complemented by work on his skills at the point. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hendrix-Edward-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47568" /></td>
			<td>Edward Hendrix
8th
Bowie, MD
Height: 5'9
Weight: 176
Wingspan: 74
Reach: 96
Vertical: 24</td>
			<td>Strength in size.

Team player, good post "D", finishes well. A lot of potential and can strive toward more aggressiveness. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hubb-Prentiss-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47569" /></td>
			<td>Prentiss Hubb
9th
Upper Marlboro, MD
Height: 6'1</td>
			<td>Quick, aggressive.

Nice stroke and creates plays. Nice handle, quick on defense, aggressive, and athletic. Skilled, knowledge of the game, plays to his own strengths while also being a great teammate. Has all the intangibles to be a great player!</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Joyner-Xavier-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47570" /></td>
			<td>Xavier Joyner
7th
Washington, DC
Height: 5'9</td>
			<td>Good on defense.

Ran the floor well, good defender, especially on the ball. Can strengthen left-hand finish and ballhandling, as well as his shot. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Kenney-Sherif-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47571" /></td>
			<td>Sherif Kenney
7th
Washington, DC
Height: 6'3</td>
			<td>Great size, versatile on floor.

Great size and body. Handles ball well and can hit the mid-range jumper. Does everything well on the floor. Can work on squaring up during his jump shot and going hard throughout the game. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Mcadoo-Tyriq-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47572" /></td>
			<td>Tyriq Mcadoo
8th
Cheverly, MD
Height: 6'2</td>
			<td>Athletic lefty.

Rebounds well, great frame, vocal on-court, screens well and helps on D. A raw talent who can strive to keep improving his offensive game and shot. Team player who works well with others. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/McKinney-Malik-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47573" /></td>
			<td>Malik McKinney
8th
Bowie, MD
Height: 5'5</td>
			<td>Finishes strong.

Quick hands, unselfish, had great pull-up in transition. Great team player who can score. Passes well, great feel for the game. Can work on improving defensively. Talented and smart.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Morse-Frevado-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47574" /></td>
			<td>Frevado	Morse
8th
Clinton, MD
Height: 5'9</td>
			<td>Quick, smart player.

Shows some good moves on offense, quick, unselfish player. Can create plays for himself and teammates. Quick on defense and a true point guard. Vocal and should strike to keep speaking up on the court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Oliver-Brent-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47575" /></td>
			<td>Brent Oliver
7th
Upper Marlboro, MD
Height: 4'10
Weight: 83
Wingspan: 57
Reach: 75.5
Vertical: 18</td>
			<td>Good form.

A smart guard with good form on his jumper. Can strive to push his dribble out front for a faster game. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/49-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47551" /></td>
			<td>Lasalle Rose
5th
Washington, DC
Height: 5'3
Weight: 88
Wingspan: 56
Reach: 71
Vertical: 19</td>
			<td>Good defender.

Good vision on court, makes moves to create space. Quick and good ballhandling skills, as well as a good on-ball defender. Can work to reduce dribble to make a single strong move. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Samuels-Qwanzi-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47576" /></td>
			<td>Qwanzi	Samuels
8th
District Heights, MD
Height: 6'4</td>
			<td>Great defense.

Good defender, vocal, energetic. Uses both left and right to finish. Coast-to-coast finisher, great ballhandling for size. Work on strength will make him realize potential to be unstoppable. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Tyree-Jr.-Kenneth-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47577" /></td>
			<td>Kenneth	Tyree Jr.
8th
Landover, DC
Height: 5'8
Weight: 134
Wingspan: 69
Reach: 86
Vertical: 26</td>
			<td>Hard worker, quick.

Works hard, quick hands, finds the open man. Can work off screens and very vocal on court to make things happen. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Vines-Kaylen-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47578" /></td>
			<td>Kaylen Vines
7th
Clinton, MD
Height: 5'3
Weight: 98
Wingspan: 66
Reach: 83.5
Vertical: 20.5</td>
			<td>Good low-dribbling lefty.

Long. Good ball-handler. Strong low-dribble, good job of getting to the rim, especially going left. Uses body well. Point guard who does a good job running his team and should seek to improve his jumper. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Washington-Elijah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47579" /></td>
			<td>Elijah Washington
7th
Temple Hills, MD
Weight: 128
Wingspan: 59
Reach: 76
Vertical: 12</td>
			<td>Hard worker.

Active on defense and plays hard. Can continue to strengthen his defense, ball handling and jumper.</td>
		</tr>
	</tbody>
</table>
