<table>
	<thead>
		<tr>
			<th>Coach Name</th>
			<th>College/ University</th>
			<th>Twitter</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Justin Baxter</td>
			<td>Bryn Athyn College</td>
			<td><a href="http://twitter.com/CoachJBaxter">@CoachJBaxter</a></td>
		</tr>
		<tr>
			<td>Brian Baudinet</td>
			<td>Trinity College</td>
			<td><a href="http://twitter.com/BBaudinet33">@BBaudinet33</a></td>
		</tr>
		<tr>
			<td>Kareem Brown</td>
			<td>Long Island University Ð CW Post</td>
			<td></td>
		</tr>
		<tr>
			<td>Will Cabrera</td>
			<td>Mansfield University</td>
			<td></td>
		</tr>
		<tr>
			<td>Billy Clapper</td>
			<td>Penn State Altoona</td>
			<td></td>
		</tr>
		<tr>
			<td>Serge Clement</td>
			<td>Adelphi University</td>
			<td><a href="http://twitter.com/CoachCabrera">@CoachCabrera</a><a href="http://twitter.com/C_Serge">@C_Serge</a></td>
		</tr>
		<tr>
			<td>Kevin Connor</td>
			<td>Unity College</td>
			<td><a href="http://twitter.com/UnityRamsBBall">@UnityRamsBBall</a></td>
		</tr>
		<tr>
			<td>Chris Cormier</td>
			<td>Castleton State</td>
			<td><a href="http://twitter.com/CCorms5">@CCorms5</a></td>
		</tr>
		<tr>
			<td>Sean D. Crocker</td>
			<td>Stuart Hall High School</td>
			<td><a href="http://twitter.com/CoachCrocker">@CoachCrocker</a></td>
		</tr>
		<tr>
			<td>Ryan Finch</td>
			<td>Muhlenberg College</td>
			<td></td>
		</tr>
		<tr>
			<td>Chris Flegler</td>
			<td>ASA College</td>
			<td><a href="http://twitter.com/CoachFleg">@CoachFleg</a></td>
		</tr>
		<tr>
			<td>David S. Hooker</td>
			<td>North Plainfield High School</td>
			<td><a href="http://twitter.com/DHook45">@DHook45</a></td>
		</tr>
		<tr>
			<td>Kevin Hargrove</td>
			<td>Sidwell Friends School</td>
			<td></td>
		</tr>
		<tr>
			<td>Kyle Harmon</td>
			<td>Mount Saint JosephÕs High School</td>
			<td><a href="http://twitter.com/XFactorSports22">@XFactorSports22</a></td>
		</tr>
		<tr>
			<td>Brian J. Johnson</td>
			<td>Goldey Beacom College</td>
			<td></td>
		</tr>
		<tr>
			<td>Nicholas King</td>
			<td>Girard College High School</td>
			<td></td>
		</tr>
		<tr>
			<td>Peter Lipka</td>
			<td>United States Merchant Marine Academy</td>
			<td></td>
		</tr>
		<tr>
			<td>Dorian Long</td>
			<td>Neumann University</td>
			<td><a href="http://twitter.com/DLong011">@DLong011</a></td>
		</tr>
		<tr>
			<td>Ivan R. Lewis</td>
			<td>Felician College</td>
			<td><a href="http://twitter.com/IvLewis">@IvLewis</a></td>
		</tr>
		<tr>
			<td>Jeremy Mellady</td>
			<td>St. Paul's High School</td>
			<td><a href="http://twitter.com/Coach_Mell">@Coach_Mell</a></td>
		</tr>
		<tr>
			<td>Tim McDonald</td>
			<td>Cabrini College</td>
			<td><a href="http://twitter.com/TimmyMac1123">@TimmyMac1123</a></td>
		</tr>
		<tr>
			<td>Dan Pruessner</td>
			<td>Florida Christian High School</td>
			<td></td>
		</tr>
		<tr>
			<td>Andrew Vitale</td>
			<td>Marianapolis Prep High School</td>
			<td><a href="http://twitter.com/CoachVitale">@CoachVitale</a></td>
		</tr>
		<tr>
			<td>Will Weaver</td>
			<td>Sam Houston State University</td>
			<td><a href="http://twitter.com/weavertime">@weavertime</a></td>
		</tr>
	</tbody>
</table>
