<table>
	<tbody>
		<tr>
			<td>Nasir Alexander</td>
			<td>Chad Friedberg</td>
			<td>D'Neiko Norfleet</td>
		</tr>
		<tr>
			<td>Matthew Ayoub</td>
			<td>Nate Georgetown</td>
			<td>George Obidiegwu</td>
		</tr>
		<tr>
			<td>Alex Barth</td>
			<td>Brandon Green</td>
			<td>Marquis Perry</td>
		</tr>
		<tr>
			<td>Eoghan Bees</td>
			<td>George Harvey</td>
			<td>Kristopher Quinones</td>
		</tr>
		<tr>
			<td>Shaun Belbey</td>
			<td>Parker Hess</td>
			<td>Michael Rice</td>
		</tr>
		<tr>
			<td>Mattias Bergstrom</td>
			<td>Eric Hoadley</td>
			<td>Jordan Riullano</td>
		</tr>
		<tr>
			<td>Blake Berne</td>
			<td>Ricky Holliday</td>
			<td>Aaron Robinson</td>
		</tr>
		<tr>
			<td>William Bott</td>
			<td>Roger Hood</td>
			<td>Andrew Robinson</td>
		</tr>
		<tr>
			<td>Pat Caruso</td>
			<td>Craig Jeudy</td>
			<td>Sam Rosen</td>
		</tr>
		<tr>
			<td>Benjamin Casanova</td>
			<td>Noah Kandt</td>
			<td>Allen Salim Green</td>
		</tr>
		<tr>
			<td>Jordan Christian</td>
			<td>Devin Kennedy</td>
			<td>Matthew Schaengold</td>
		</tr>
		<tr>
			<td>Julian Christian</td>
			<td>Bobby Kiernan</td>
			<td>Keith Seaman</td>
		</tr>
		<tr>
			<td>Jared Clayton</td>
			<td>M. John Kirncic</td>
			<td>Tyler Sprouse</td>
		</tr>
		<tr>
			<td>Elias Clayton</td>
			<td>Kyle Kregar</td>
			<td>Tyrell Sturdivant</td>
		</tr>
		<tr>
			<td>Zachery Coleman</td>
			<td>Lonathan Li</td>
			<td>Nick Talko</td>
		</tr>
		<tr>
			<td>Clay Conner</td>
			<td>Nassir Mann</td>
			<td>Marcus Taylor</td>
		</tr>
		<tr>
			<td>Devante Cross</td>
			<td>Tyrus Mason</td>
			<td>Evan Taylor</td>
		</tr>
		<tr>
			<td>Elijah Cross</td>
			<td>Tyrell Mason</td>
			<td>James Vaughan</td>
		</tr>
		<tr>
			<td>Michael Crowley</td>
			<td>Matt Massimino</td>
			<td>Serghio Vera</td>
		</tr>
		<tr>
			<td>Sanjeev Darisi</td>
			<td>Joseph Mastrobattista</td>
			<td>Jeff Visoky</td>
		</tr>
		<tr>
			<td>Gregory Davis</td>
			<td>Vincent Mastrobattista</td>
			<td>Jesse Warech</td>
		</tr>
		<tr>
			<td>Payton Dewildt</td>
			<td>Jalen Melvin</td>
			<td>Jack Weinstein</td>
		</tr>
		<tr>
			<td>Kevin Dulorie</td>
			<td>Trent Mitchell</td>
			<td>Joshua Williams</td>
		</tr>
		<tr>
			<td>Ryan Fannin</td>
			<td>Marcus Munroe</td>
			<td>Keith Williams</td>
		</tr>
		<tr>
			<td>Lawrence Feldman</td>
			<td>Neil Murren</td>
			<td></td>
		</tr>
	</tbody>
</table>
