<table>
	<thead>
		<tr>
			<th>Early Bird Workout Stars</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Ryan Alexis</td>
			<td>Chimaecki Ekekeugbor</td>
			<td>Braxton Nappier</td>
		</tr>
		<tr>
			<td>Luke Baber</td>
			<td>Patrick Fleming</td>
			<td>Chase Nappier</td>
		</tr>
		<tr>
			<td>Nicholas Baber</td>
			<td>Malachi Howard</td>
			<td>Tavon Parker</td>
		</tr>
		<tr>
			<td>Ralph Baker</td>
			<td>Khayri Hudeen</td>
			<td>Max Prospero</td>
		</tr>
		<tr>
			<td>Boz Bernstein</td>
			<td>Tyler Jackson</td>
			<td>Blaise Radosevic</td>
		</tr>
		<tr>
			<td>Tyrell Bradford</td>
			<td>Xavier Jenkins</td>
			<td>Michaud Reyna</td>
		</tr>
		<tr>
			<td>Jamie Brown</td>
			<td>Jake Jones</td>
			<td>David Riedy</td>
		</tr>
		<tr>
			<td>Norris Brown</td>
			<td>Walter King</td>
			<td>Salvatore Ross</td>
		</tr>
		<tr>
			<td>Zach Brunner</td>
			<td>Rogers Laugand IV</td>
			<td>Jordan Rousseau</td>
		</tr>
		<tr>
			<td>Zach Bryan</td>
			<td>Sam Light</td>
			<td>Daniel Rutecki</td>
		</tr>
		<tr>
			<td>Casuan Caudle</td>
			<td>Dominic Loveless</td>
			<td>Steve Sobo</td>
		</tr>
		<tr>
			<td>Steve Ciotti</td>
			<td>Cameron Marsh</td>
			<td>Andre Suggs</td>
		</tr>
		<tr>
			<td>Jacob Creighton</td>
			<td>Timmy Marshall</td>
			<td>Bobby Wagner</td>
		</tr>
		<tr>
			<td>Devante Cross</td>
			<td>Tyrell Mason</td>
			<td>Jordan Watson</td>
		</tr>
		<tr>
			<td>Christian Cyphert</td>
			<td>Tyrus Mason</td>
			<td>Andre Williams</td>
		</tr>
		<tr>
			<td>Elloys De La Rosa</td>
			<td>Jacob Matkovich</td>
			<td>Nate Williams</td>
		</tr>
		<tr>
			<td>Cameron Dean</td>
			<td>Nicholas Meek</td>
			<td></td>
		</tr>
		<tr>
			<td>Alexander Dubovitskiy</td>
			<td>Cody Mitchell</td>
			<td></td>
		</tr>
	</tbody>
</table>
