<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys &amp; Girls</th>
			<th>Class Days</th>
			<th>Time</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jul 25-Sept 1</td>
			<td>Grades 5-12</td>
			<td>Wednesday</td>
			<td>4:00PM-5:00PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_84&amp;products_id=1104">Sign Up!</a></td>
		</tr>
	</tbody>
</table>
