<table>
	<tbody>
		<tr>
			<td>Baltimore Sun</td>
			<td>New York Daily News</td>
		</tr>
		<tr>
			<td>Basketball Spotlight</td>
			<td>New York Post</td>
		</tr>
		<tr>
			<td>Big East Basketball Report</td>
			<td>NJ.com</td>
		</tr>
		<tr>
			<td>Bob Gibbons</td>
			<td>NJ Hoops</td>
		</tr>
		<tr>
			<td>Caainsider.com</td>
			<td>Northstar Basketball</td>
		</tr>
		<tr>
			<td>Capitalhoops.com</td>
			<td>Nychoops.net</td>
		</tr>
		<tr>
			<td>DcSportsfan.com</td>
			<td>Nyhoops.com</td>
		</tr>
		<tr>
			<td>EKB Scouting</td>
			<td>Radar Report</td>
		</tr>
		<tr>
			<td>ESPN</td>
			<td>Reading Eagle</td>
		</tr>
		<tr>
			<td>Flagrant Fouls.com</td>
			<td>Real Scout</td>
		</tr>
		<tr>
			<td>Gothamhoops.com</td>
			<td>Recruit Recruit Recon</td>
		</tr>
		<tr>
			<td>Highmajorscoop.net</td>
			<td>Rival.com</td>
		</tr>
		<tr>
			<td>Highschool-basketball.net</td>
			<td>Scout.com</td>
		</tr>
		<tr>
			<td>Hoop Scoop</td>
			<td>Scoutsfocus.com</td>
		</tr>
		<tr>
			<td>Hoopville.com</td>
			<td>Slamonline.com</td>
		</tr>
		<tr>
			<td>HSBI</td>
			<td>Tedsilary.com</td>
		</tr>
		<tr>
			<td>i95ballerz.com</td>
			<td>The National Recruiting Report</td>
		</tr>
		<tr>
			<td>Midatlantichoops.com</td>
			<td>The Recruit Scoop</td>
		</tr>
		<tr>
			<td>NBE Basketball Report</td>
			<td>VAElitehoops.com</td>
		</tr>
		<tr>
			<td>New England Recruiting Report</td>
			<td>Zagsblog.com</td>
		</tr>
	</tbody>
</table>
