<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Most Outstanding Player</td>
			<td>Tyler Sprouse</td>
			<td>6'0"</td>
			<td>Bridgeport, W.V.</td>
			<td>Bridgeport</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Prithvi Batra</td>
			<td>6'7"</td>
			<td>Singapore</td>
			<td>UWCSEA</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Anthony Aquino</td>
			<td>5'11"</td>
			<td>Staten Island, N.Y.</td>
			<td>St. Adalbert's</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Liam Fukushima</td>
			<td>5'11"</td>
			<td>Tokyo, Japan</td>
			<td>American School in Japan</td>
			<td>2013</td>
		</tr>
	</tbody>
</table>
