<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Grade</th>
			<th>Height</th>
			<th>School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Andrew Bobcheck</td>
			<td>13</td>
			<td></td>
			<td>Hughes School</td>
		</tr>
		<tr>
			<td>Marcus Solomon</td>
			<td>12</td>
			<td>6'1"</td>
			<td>Half Hollow Hills West H S</td>
		</tr>
		<tr>
			<td>Christopher Shields</td>
			<td>12</td>
			<td>6'7"</td>
			<td>Hedgesville</td>
		</tr>
		<tr>
			<td>Michael Anderson</td>
			<td>12</td>
			<td>5'9"</td>
			<td>Loudoun County</td>
		</tr>
		<tr>
			<td>Charlie Russo</td>
			<td>11</td>
			<td>6'2"</td>
			<td>Christian Brothers Acad</td>
		</tr>
		<tr>
			<td>Joseph Santarpia</td>
			<td>12</td>
			<td>6'4"</td>
			<td>Sahem High School East</td>
		</tr>
		<tr>
			<td>Tavon Parker</td>
			<td>12</td>
			<td>6'1"</td>
			<td>York-William Penn</td>
		</tr>
		<tr>
			<td>Jamar Redmond</td>
			<td>12</td>
			<td>6'3"</td>
			<td>Abraham Clark HS</td>
		</tr>
		<tr>
			<td>Dayshon Smith</td>
			<td>12</td>
			<td>6'1"</td>
			<td>Putnam Science</td>
		</tr>
		<tr>
			<td>Nana Foulland</td>
			<td>11</td>
			<td>6'8"</td>
			<td>Berks Catholic</td>
		</tr>
		<tr>
			<td>Matej Jurcevic</td>
			<td>12</td>
			<td>6'9"</td>
			<td>International School</td>
		</tr>
		<tr>
			<td>Ezra Gaines</td>
			<td>12</td>
			<td>6'3"</td>
			<td>Easton Area HS</td>
		</tr>
	</tbody>
</table>
