<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Daiyon Barnett</td>
			<td>5'10"</td>
			<td>Allentown, Pa.</td>
			<td>William Allen</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Jaylin Calloway</td>
			<td>6'0"</td>
			<td>West Lawn, Pa.</td>
			<td>Wilson-West Lawn</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Kyle Coleman</td>
			<td>6'0"</td>
			<td>Newark, Del.</td>
			<td>Glasgow</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Salam Simon</td>
			<td>5'10"</td>
			<td>Jackson, N.J.</td>
			<td>Jackson Memorial</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Malcolm Waters</td>
			<td>6'2"</td>
			<td>Cleveland, Ohio</td>
			<td>St. Edward's</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Isaiah Foust</td>
			<td>6'1"</td>
			<td>Manhattan, N.Y.</td>
			<td>Xavier</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Dante Gray</td>
			<td>5'9"</td>
			<td>Woodbury, N.Y.</td>
			<td>Monroe Woodbury</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Dyshawn Mack</td>
			<td>6'2"</td>
			<td>Concordville, Pa.</td>
			<td>Glen Mills</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Romario Allen</td>
			<td>6'3</td>
			<td>Brooklyn, N.Y.</td>
			<td>Boys and Girls</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Jacob Stone</td>
			<td>6'3"</td>
			<td>Cuyahoga, Ohio</td>
			<td>Cuyahoga Falls</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Marcus Baldwin</td>
			<td>5'8"</td>
			<td>Washington, D.C.</td>
			<td>Archbishop Carroll</td>
			<td>2014</td>
		</tr>
	</tbody>
</table>
