<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP</td>
			<td>Romello Walker</td>
			<td>6-6</td>
			<td>South Kent School</td>
			<td>Kent, Conn.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Anthony Lamb</td>
			<td>6-5</td>
			<td>Greece Athena</td>
			<td>Rochester, N.Y.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Yhanni Bartley</td>
			<td>6-5</td>
			<td>Mount Vernon High School</td>
			<td>Mount Verrnon, N.Y.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Cord Stafford</td>
			<td>6-4</td>
			<td>Cheshire Academy</td>
			<td>Cheshire, Conn.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Lonnie Walker</td>
			<td>6-3</td>
			<td>Reading High School</td>
			<td>Reading, Pa.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>All-Star Game MVP</td>
			<td>Matt Zignorski</td>
			<td>6-2</td>
			<td>Pope John XXIII</td>
			<td>Sparta, N.J.</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
