<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys &amp; Girls</th>
			<th>Class Days</th>
			<th>Time</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Mar. 24 - Apr. 28</td>
			<td>Grades 5-12</td>
			<td>Thursday</td>
			<td>5:00-6:00PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_84&amp;products_id=1060">Sign Up</a></td>
		</tr>
	</tbody>
</table>
