<table>
	<thead>
		<tr>
			<th>Award/Player</th>
			<th>Class</th>
			<th>High School</th>
			<th>Hometown</th>
			<th>Photo</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><bol>Sweatshop Star<bol></td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>NCAA: Benajmin Ayanian</td>
			<td>2018</td>
			<td>Flint Hill</td>
			<td>Oakton, VA</td>
			<td></td>
		</tr>
		<tr>
			<td>West: David Chapelle</td>
			<td>2016</td>
			<td>Trinity Christian School</td>
			<td>Cedar Hill, TX</td>
			<td></td>
		</tr>
		<tr>
			<td>East: Justin Pearce</td>
			<td>2016</td>
			<td>Kiski School</td>
			<td>Saltsburg, PA</td>
			<td></td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>NCAA: Elijah Bowens</td>
			<td>2018</td>
			<td>Maret HS</td>
			<td>Washington, DC</td>
			<td></td>
		</tr>
		<tr>
			<td>West: Mason Bossert </td>
			<td>2017</td>
			<td>Elco School</td>
			<td>Myerstown, PA</td>
			<td></td>
		</tr>
		<tr>
			<td>East: Jimmy Panzini</td>
			<td>2016</td>
			<td>Point Pleasant Beach HS</td>
			<td>Point Pleasant, NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>East: Donyell Marshall Jr</td>
			<td>2016</td>
			<td>University</td>
			<td>Shaker Heights, OH</td>
			<td></td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>NCAA: Qudus Wahab</td>
			<td>2019</td>
			<td>Virginia Academy</td>
			<td>Asburn, VA</td>
			<td></td>
		</tr>
		<tr>
			<td>West: Parker Dade</td>
			<td>2017</td>
			<td>Scots College</td>
			<td>Sydney, Australia</td>
			<td></td>
		</tr>
		<tr>
			<td>East: Alex Mrusek</td>
			<td>2016</td>
			<td>Middletown South</td>
			<td>Middletown, NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Most Outstanding Player</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>East: Luther Muhammad</td>
			<td>2018</td>
			<td>Hudson Catholic</td>
			<td>Jersey City, NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Most Valuable Player</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>NCAA: Chris Childs</td>
			<td>2018</td>
			<td>Masters School</td>
			<td>Dobbs Ferry, NY</td>
			<td></td>
		</tr>
		<tr>
			<td>West: Anthony Gomez</td>
			<td>2016</td>
			<td>Union City HS</td>
			<td>Union City, NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>East: Ejike Obinna</td>
			<td>2017</td>
			<td>Virginia Academy</td>
			<td>Asburn, VA</td>
			<td></td>
		</tr>
	</tbody>
</table>
