<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Evan Taylor</td>
			<td>6'3"</td>
			<td>Fairfax, Va.</td>
			<td>Paul VI</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Marcus Evans</td>
			<td>6'1"</td>
			<td>Chesapeake, Va.</td>
			<td>Great Bridge</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Maurice McDonald</td>
			<td>6'4"</td>
			<td>Bradenton, Fla.</td>
			<td>IMG Academy</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Christopher Clarke</td>
			<td>6'4"</td>
			<td>Virginia Beach, Va.</td>
			<td>Cape Henry Collegiate</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Marko Kozul</td>
			<td>6'5"</td>
			<td>Briarwood, N.Y.</td>
			<td>Archbishop Molloy</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Johnnie Shuler</td>
			<td>5'11"</td>
			<td>Washington, D.C.</td>
			<td>Theodore Roosevelt</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Diego Moquete</td>
			<td>6'1"</td>
			<td>Centereach, N.Y.</td>
			<td>Our Savior New American</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Ayron Hutton</td>
			<td>6'3"</td>
			<td>Virginia Beach, Va.</td>
			<td>Cape Henry Collegiate</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Derike Chiclana</td>
			<td>6'5"</td>
			<td>Bethlehem, Pa.</td>
			<td>Freedom</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Jonathan Nwankwo</td>
			<td>6'10"</td>
			<td>New Rochelle, N.Y.</td>
			<td>Iona Prep</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Gavin McTavish</td>
			<td>6'6"</td>
			<td>Sykesville, Md.</td>
			<td>South Carroll</td>
			<td>2013</td>
		</tr>
	</tbody>
</table>
