<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Seth Fitzgerald</td>
			<td>5'8"</td>
			<td>Bronx, N.Y.</td>
			<td>Wings Academy</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>James Vaughan</td>
			<td>5'10"</td>
			<td>Allentown, Pa.</td>
			<td>Allentown Central Catholic</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Jonathan Li</td>
			<td>5'11"</td>
			<td>Kings Park, N.Y.</td>
			<td>Kings Park</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Tyler Sprouse</td>
			<td>6'0"</td>
			<td>Bridgeport, W.V.</td>
			<td>Bridgeport</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Dimitri Jarrett</td>
			<td>6'3"</td>
			<td>Brooklyn, N.Y.</td>
			<td>Boys and Girls</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Joshua Mitchell</td>
			<td>5'11"</td>
			<td>Bronx, N.Y.</td>
			<td>South Bronx</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Michael Sniezek</td>
			<td>6'0"</td>
			<td>Washington, D.C.</td>
			<td>St. Alban's</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Eric Adams</td>
			<td>6'2"</td>
			<td>Flemington, N.J.</td>
			<td>Hunterdon Central</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Troy Stancil</td>
			<td>6'2"</td>
			<td>Washington, D.C.</td>
			<td>Theodore Roosevelt</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Prithvi Batra</td>
			<td>6'7"</td>
			<td>Singapore</td>
			<td>UWCSEA</td>
			<td>2013</td>
		</tr>
		<tr>
			<td>Andre Williams</td>
			<td>6'2"</td>
			<td>Montgomery, N.Y.</td>
			<td>Valley Central</td>
			<td>2013</td>
		</tr>
	</tbody>
</table>
