<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Most Outstanding Player</td>
			<td>Karl Charles</td>
			<td>6'3"</td>
			<td>Somerset, N.J.</td>
			<td>Rutgers Prep</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Luke O'Shaughnessy</td>
			<td>6'0"</td>
			<td>Lincroft, N.J.</td>
			<td>Christian Brothers Academy</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Michael Crowley</td>
			<td>6'2"</td>
			<td>Saddle River, N.J.</td>
			<td>Saddle River Day</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Ryan Thornburg</td>
			<td>5'7"</td>
			<td>Lewes, Del.</td>
			<td>Cape Henlopen</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Jalen Melvin</td>
			<td>6'8"</td>
			<td>Fairfax, Va.</td>
			<td>Paul VI</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
