<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP</td>
			<td>Evan Lester</td>
			<td>6-5</td>
			<td>Archbishop Carroll</td>
			<td>Washington, D.C.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Emari Williams</td>
			<td>5-7</td>
			<td>Woodlands High School</td>
			<td>White Plains, N.Y.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Wyatt Smith </td>
			<td>6-2</td>
			<td>West Irondequoit High School</td>
			<td>Irondequoit, N.Y.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Justin Semler</td>
			<td>6-5</td>
			<td>St. Maria Goretti</td>
			<td>Hagerstown, Md.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Isaac Mattson</td>
			<td>6-2</td>
			<td>Harbor Creek High School</td>
			<td>Harbor Creek, Pa.</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>All-Star Game MVP</td>
			<td>Jeremy Del Valle</td>
			<td>6-2</td>
			<td>Hackettstown High School</td>
			<td>Hackettstown, N.J.</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
