<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Shaun Belbey</td>
			<td>5'9"</td>
			<td>Lincroft, N.J.</td>
			<td>Christian Brothers Academy</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Glenn Wilkerson</td>
			<td>5'9"</td>
			<td>New York, N.Y.</td>
			<td>The Business of Sports</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Aaron Lee</td>
			<td>6'3"</td>
			<td>North Babylon, N.Y.</td>
			<td>North Babyon</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Reagan Jones</td>
			<td>6'6"</td>
			<td>Burke, Va.</td>
			<td>Lake Braddock</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Jalen Melvin</td>
			<td>6'8"</td>
			<td>Fairfax, Va.</td>
			<td>Paul VI</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Devante Cross</td>
			<td>6'0"</td>
			<td>Allentown, Pa.</td>
			<td>Parkland</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Malcolm Smith</td>
			<td>6'2"</td>
			<td>Winston-Salem, N.C.</td>
			<td>Quality Education Academy</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Trent Mitchell</td>
			<td>6'1"</td>
			<td>Wall, N.J.</td>
			<td>Wall</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Ameka Akaya</td>
			<td>6'4"</td>
			<td>Hagerstown, Md.</td>
			<td>St. Maria Goretti</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Sylvester Ogbonda</td>
			<td>6'10"</td>
			<td>Camp Springs, Md.</td>
			<td>National Christian Academy</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
