<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School </th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP</td>
			<td>Matthew DeWolf</td>
			<td>6-7</td>
			<td>Barrington High School</td>
			<td>Barrington, R.I.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Haraan Ransom</td>
			<td>5-10</td>
			<td>Hudson Catholic</td>
			<td>Jersey City, N.J.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Ryan Zinaich</td>
			<td>5-11</td>
			<td>St. Maria Goretti</td>
			<td>Hagerstown, Md. </td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Marley Blommers</td>
			<td>6-3</td>
			<td>Chatham Kent</td>
			<td>Chatham, Ontario</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Conner Delaney</td>
			<td>5-9</td>
			<td>Episcopal Academy</td>
			<td>Newtown Square, Pa.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>All-Star Game MVP</td>
			<td>Parker Hess</td>
			<td>5-10</td>
			<td>Westfield High School</td>
			<td>Westfield, N.J.</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
