<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Grade</th>
			<th>Height</th>
			<th>School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Brendan Devine</td>
			<td>12</td>
			<td>6'7"</td>
			<td>Wantagh HS</td>
		</tr>
		<tr>
			<td>Joshua McGriff</td>
			<td>12</td>
			<td>6'6"</td>
			<td>Franklin HS</td>
		</tr>
		<tr>
			<td>Tyree Gibson</td>
			<td>10</td>
			<td>6'2"</td>
			<td>Reading</td>
		</tr>
		<tr>
			<td>Pierson Burton</td>
			<td>11</td>
			<td>6'1"</td>
			<td>Pennsbury</td>
		</tr>
		<tr>
			<td>Josh Clippinger</td>
			<td>12</td>
			<td>6'6"</td>
			<td>Carlisle HS</td>
		</tr>
		<tr>
			<td>Jordan Simmons</td>
			<td>12</td>
			<td>6'4"</td>
			<td>Abington HS</td>
		</tr>
		<tr>
			<td>Jermaine Smith</td>
			<td>12</td>
			<td>6'8"</td>
			<td>Binghamton</td>
		</tr>
		<tr>
			<td>Malcolm Smith</td>
			<td>10</td>
			<td>6'2"</td>
			<td>Quality Education Academy</td>
		</tr>
		<tr>
			<td>Fabian McDonald</td>
			<td>12</td>
			<td>6'0"</td>
			<td>Transit Tech</td>
		</tr>
		<tr>
			<td>Gjaimeir Stanford</td>
			<td>12</td>
			<td>6'0"</td>
			<td>Howard Vo Tech</td>
		</tr>
		<tr>
			<td>Mahir Johnson</td>
			<td>11</td>
			<td>6'2"</td>
			<td>Glasgow HS</td>
		</tr>
	</tbody>
</table>
