<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Grade</th>
			<th>Height</th>
			<th>School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Alexander Grady</td>
			<td>10</td>
			<td>6'5"</td>
			<td>Interboro HS</td>
		</tr>
		<tr>
			<td>Rogers "RJ" Laugand IV</td>
			<td>10</td>
			<td>5'10"</td>
			<td>Clarion-Limestone HS</td>
		</tr>
		<tr>
			<td>Tyler McShea</td>
			<td>9</td>
			<td>6'4"</td>
			<td>Hainesport</td>
		</tr>
		<tr>
			<td>Zachary Bernstein</td>
			<td>10</td>
			<td>5'6"</td>
			<td>Pascack Hills</td>
		</tr>
		<tr>
			<td>Cameron Marsh</td>
			<td>10</td>
			<td>6'2"</td>
			<td>La Vergne HS</td>
		</tr>
		<tr>
			<td>Max Grutschus</td>
			<td>10</td>
			<td>6'6"</td>
			<td>Peddie</td>
		</tr>
		<tr>
			<td>Braxton Nappier</td>
			<td>10</td>
			<td>5'10"</td>
			<td>Light House Christian HS</td>
		</tr>
		<tr>
			<td>Nate Williams</td>
			<td>10</td>
			<td>6'0"</td>
			<td>Sayre HS</td>
		</tr>
	</tbody>
</table>
