<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Grade</th>
			<th>Height</th>
			<th>School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Blaise Radosevic</td>
			<td>10</td>
			<td>6'4"</td>
			<td>Marquette University HS</td>
		</tr>
		<tr>
			<td>Dominic Loveless</td>
			<td>10</td>
			<td>6'4"</td>
			<td>Wake Forest Rolesville</td>
		</tr>
		<tr>
			<td>Brooks Mays</td>
			<td>10</td>
			<td>5'10"</td>
			<td>Potomac School</td>
		</tr>
		<tr>
			<td>Timmy Marshall</td>
			<td>10</td>
			<td>6'2"</td>
			<td>Baldwinsville High</td>
		</tr>
		<tr>
			<td>Ben DiOrio</td>
			<td>10</td>
			<td>5'10"</td>
			<td>Baldwinsville High</td>
		</tr>
		<tr>
			<td>Chase Nappier</td>
			<td>10</td>
			<td>5'8"</td>
			<td>Light House Christian HS</td>
		</tr>
		<tr>
			<td>Michael Runcie</td>
			<td>10</td>
			<td>6'1"</td>
			<td>Columbia HS</td>
		</tr>
		<tr>
			<td>Devante Cross</td>
			<td>9</td>
			<td>6'0"</td>
			<td>Spring House Middle School</td>
		</tr>
	</tbody>
</table>
