<table>
	<thead>
		<tr>
			<th>Program</th>
			<th>Girls</th>
			<th>Date</th>
			<th>Time</th>
			<th>Cost</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Girls ShoreShot Eval Clinic</td>
			<td>Grades 4-8</td>
			<td>Saturday, November 1</td>
			<td>9am - 2pm</td>
			<td>$75</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=65_157">Register Here</a></td>
		</tr>
		<tr>
			<td>Tiny Green Girls Elite Workout</td>
			<td>Grades 9-12</td>
			<td>Sunday, November 2</td>
			<td>4pm - 6pm</td>
			<td>$65</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_156&amp;products_id=1800">RegisterHere</a></td>
		</tr>
	</tbody>
</table>
