<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys and Girls</th>
			<th>Days</th>
			<th>Times</th>
			<th>Price</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>July 9 - July 13</td>
			<td>Grades 2-12</td>
			<td>Mon - Fri</td>
			<td>9AM - 4PM</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Ball Handling &amp; Shooting Combo</td>
			<td>Grades 2-12</td>
			<td>Mon - Fri</td>
			<td>9AM - 4PM</td>
			<td>$330</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-bh-sh-combo-1--2018">Register Here </a></td>
		</tr>
		<tr>
			<td>Ball Handling ONLY</td>
			<td>Grades 2-12</td>
			<td>Mon - Fri</td>
			<td>9AM - 12PM</td>
			<td>$195</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-ball-handling-ii-2018">Register Here </a></td>
		</tr>
		<tr>
			<td>Shooting ONLY</td>
			<td>Grades 2-12</td>
			<td>Mon - Fri</td>
			<td>1PM - 4PM</td>
			<td>$195</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-shooting-i--2018">Register Here </a></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>August 20 - August 24</td>
			<td>Grades 2-12</td>
			<td>Mon - Fri</td>
			<td>9AM - 4PM</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Ball Handling &amp; Shooting Combo</td>
			<td>Grades 2-12</td>
			<td>Mon - Fri</td>
			<td>9AM - 4PM</td>
			<td>$330</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-bh-sh-combo-2--2018">Register Here </a></td>
		</tr>
		<tr>
			<td>Ball Handling ONLY</td>
			<td>Grades 2-12</td>
			<td>Mon - Fri</td>
			<td>9AM - 12PM</td>
			<td>$195</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-ball-handling-ii-2018">Register Here </a></td>
		</tr>
		<tr>
			<td>Shooting ONLY</td>
			<td>Grades 2-12</td>
			<td>Mon - Fri</td>
			<td>1PM - 4PM</td>
			<td>$195</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-shooting-ii-2018">Register Here </a></td>
		</tr>
	</tbody>
</table>
