<table>
	<thead>
		<tr>
			<th>Player</th>
			<th>Position</th>
			<th>ESPN Ranking</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Josh Jackson</td>
			<td>SF</td>
			<td>#3</td>
		</tr>
		<tr>
			<td>Dennis Smith</td>
			<td>PG</td>
			<td>#4</td>
		</tr>
		<tr>
			<td>Miles Bridges</td>
			<td>SF</td>
			<td>#7</td>
		</tr>
		<tr>
			<td>Edrice Adebayo</td>
			<td>PF</td>
			<td>#8</td>
		</tr>
		<tr>
			<td>Terrance Ferguson</td>
			<td>SG</td>
			<td>#14</td>
		</tr>
		<tr>
			<td>Omari Spellman</td>
			<td>PF</td>
			<td>#16</td>
		</tr>
		<tr>
			<td>Dewan Huell</td>
			<td>PF</td>
			<td>#18</td>
		</tr>
		<tr>
			<td>Markelle Fultz</td>
			<td>SG</td>
			<td>#21</td>
		</tr>
		<tr>
			<td>Rawle Alkins</td>
			<td>SF</td>
			<td>#22</td>
		</tr>
		<tr>
			<td>Mustapha Heron</td>
			<td>SG</td>
			<td>#26</td>
		</tr>
		<tr>
			<td>Tyus Battle</td>
			<td>SG</td>
			<td>#27</td>
		</tr>
		<tr>
			<td>Justin Jackson</td>
			<td>SF</td>
			<td>#29</td>
		</tr>
		<tr>
			<td>Maverick Rowan</td>
			<td>SF</td>
			<td>#30</td>
		</tr>
		<tr>
			<td>Seventh Woods</td>
			<td>SG</td>
			<td>#32</td>
		</tr>
		<tr>
			<td>Juwan Durham</td>
			<td>PF</td>
			<td>#33</td>
		</tr>
		<tr>
			<td>Jaylen Fisher</td>
			<td>PG</td>
			<td>#41</td>
		</tr>
		<tr>
			<td>Derek Funderburk</td>
			<td>PF</td>
			<td>#44</td>
		</tr>
		<tr>
			<td>Javin DeLaurier</td>
			<td>PF</td>
			<td>#49</td>
		</tr>
		<tr>
			<td>Matthew Moyer</td>
			<td>SF</td>
			<td>#51</td>
		</tr>
		<tr>
			<td>Tony Carr</td>
			<td>PG</td>
			<td>#52</td>
		</tr>
		<tr>
			<td>Curtis Jones</td>
			<td>SG</td>
			<td>#65</td>
		</tr>
		<tr>
			<td>Ty Jerome</td>
			<td>PG</td>
			<td>#66</td>
		</tr>
		<tr>
			<td>Shamorie Ponds</td>
			<td>SG</td>
			<td>#67</td>
		</tr>
		<tr>
			<td>Koby McEwan</td>
			<td>PG</td>
			<td>#71</td>
		</tr>
		<tr>
			<td>Temple Gibbs</td>
			<td>SG</td>
			<td>#72</td>
		</tr>
		<tr>
			<td>Kevin Huerter</td>
			<td>SG</td>
			<td>#73</td>
		</tr>
		<tr>
			<td>Lamar Stevens</td>
			<td>SF</td>
			<td>#74</td>
		</tr>
		<tr>
			<td>Sedee Keita</td>
			<td>PF</td>
			<td>#83</td>
		</tr>
		<tr>
			<td>Wenyen Gabriel</td>
			<td>PF</td>
			<td>#84</td>
		</tr>
		<tr>
			<td>Xavier Simpson</td>
			<td>PG</td>
			<td>#87</td>
		</tr>
		<tr>
			<td>Bryce Aiken</td>
			<td>PG</td>
			<td>#88</td>
		</tr>
		<tr>
			<td>Kwe Parker</td>
			<td>SG</td>
			<td>#90</td>
		</tr>
		<tr>
			<td>Taurean Thompson</td>
			<td>C</td>
			<td>#91</td>
		</tr>
		<tr>
			<td>Jayce Johnson</td>
			<td>C </td>
			<td>#92</td>
		</tr>
		<tr>
			<td>Miles Powell</td>
			<td>SG</td>
			<td>#93</td>
		</tr>
		<tr>
			<td>Cameron Lard</td>
			<td>PF</td>
			<td>#94</td>
		</tr>
		<tr>
			<td>Quentin Goodin</td>
			<td>PG</td>
			<td>#95</td>
		</tr>
		<tr>
			<td>J.J. Caldwell</td>
			<td>PG</td>
			<td>#96</td>
		</tr>
		<tr>
			<td>Mamadou Diarra</td>
			<td>c</td>
			<td>#98</td>
		</tr>
		<tr>
			<td>Kassoum Yakwe</td>
			<td>PF</td>
			<td>#100</td>
		</tr>
	</tbody>
</table>
