<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Player</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP</td>
			<td>Lonnie Walker</td>
			<td>6'4</td>
			<td>Reading HS</td>
			<td>Reading, PA</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Most Outstanding Player</td>
			<td>Mohamed Bamba</td>
			<td>6'10</td>
			<td>Westtown HS</td>
			<td>West Chester, PA</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Jamari Lewis</td>
			<td>5'8</td>
			<td>Patrick School</td>
			<td>Elizabath, NJ </td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Zion White</td>
			<td>5'9</td>
			<td>Notre Dame</td>
			<td>Lawrencville, NJ</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Matthew Bopp</td>
			<td>5'6</td>
			<td>Oratory Prep</td>
			<td>Summit, NJ</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Ewens Jean-Baptiste</td>
			<td>5'2</td>
			<td>Bayonne HS</td>
			<td>Bayonne, NJ</td>
			<td>2017</td>
		</tr>
	</tbody>
</table>
