<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MOP</td>
			<td>Jamir Moultrie</td>
			<td>5'11'</td>
			<td>Bishop McNammara</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>MIP</td>
			<td>Trent Watson</td>
			<td>5'7''</td>
			<td>Poly Tech</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>JD Levin</td>
			<td>5'5"</td>
			<td>Poly Prep</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Shane Jardine</td>
			<td>5'6"</td>
			<td>Trenton Catholic</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Damani Myers</td>
			<td>5'5"</td>
			<td>St. Mary's</td>
			<td>2016</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
