<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP</td>
			<td>Tre Wood</td>
			<td>5-10</td>
			<td>Sheridan School</td>
			<td>Washington, D.C.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Darryl Morsell</td>
			<td>6-3</td>
			<td>Mt. St. Joseph's Catholic</td>
			<td>Baltimore, Md.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Ewens Jean-Baptiste</td>
			<td>5-2</td>
			<td>Bayonne HS</td>
			<td>Bayonne, N.J.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>All-Star Game MVP</td>
			<td>Myles Dread</td>
			<td>6-3</td>
			<td>Glenelg Country School</td>
			<td>Ellicott City, Md.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Jeremiah Melton</td>
			<td>5-11</td>
			<td>Richards School</td>
			<td>Whitefish Bay, Wis.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>David Kachelries</td>
			<td>5-9</td>
			<td>Emmaus HS</td>
			<td>Emmaus, Pa.</td>
			<td>2017</td>
		</tr>
	</tbody>
</table>
