<table>
	<thead>
		<tr>
			<th></th>
			<th>Day</th>
			<th>Date</th>
			<th>Time</th>
			<th>Grades</th>
			<th>Cost</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/camps-clinics/new-jersey-girls-academic-elite/">Girls Academic Elite</a></td>
			<td>Friday</td>
			<td>March 27</td>
			<td>5:30 pm - 10 pm</td>
			<td>9-12</td>
			<td>$125</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_156&amp;products_id=1809">Register Here</a></td>
		</tr>
		<tr>
			<td>Tiny Green Girls Elite Workout</td>
			<td>Sunday</td>
			<td>November 2</td>
			<td>4pm - 6pm</td>
			<td>9-12</td>
			<td>$65</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_156&amp;products_id=1800">Register Here</a></td>
		</tr>
	</tbody>
</table>
