<table>
	<thead>
		<tr>
			<th>Flat Rate Weekend Court Rentals</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Peak Season</td>
			<td>$6000</td>
			<td>March 15-June 30</td>
		</tr>
		<tr>
			<td>Summer</td>
			<td>$5000</td>
			<td>July 1-August 31</td>
		</tr>
		<tr>
			<td>Fall
</td>
			<td>$5500</td>
			<td>Sept. 1-Nov. 30
</td>
		</tr>
		<tr>
			<td>Winter</td>
			<td>$5000</td>
			<td>Dec. 1-March 14</td>
		</tr>
	</tbody>
</table>
