<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Grade</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jared Bynum</td>
			<td>5'3"</td>
			<td>Washington, D.C.</td>
			<td>Washington Jesuit</td>
			<td>7</td>
		</tr>
		<tr>
			<td>Matthew Kachelries</td>
			<td>5'6"</td>
			<td>Macungie, Pa.</td>
			<td>Eyer</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Marique Simkin</td>
			<td>5'10"</td>
			<td>Rochester, N.Y.</td>
			<td>U Prep</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Anders Williams Jr.</td>
			<td>5'10"</td>
			<td>Brooklyn, N.Y.</td>
			<td>Ronald Edmonds Learning</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Sam Iorio</td>
			<td>6'2"</td>
			<td>Allentown, Pa.</td>
			<td>Spring Hills</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Marques Watson</td>
			<td>5'5"</td>
			<td>New York, N.Y.</td>
			<td>MS 113</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Jonathan Kabongo</td>
			<td>5'6"</td>
			<td>Toronto, Can.</td>
			<td>Earl Grey</td>
			<td>7</td>
		</tr>
		<tr>
			<td>Jahbril Price-Noel</td>
			<td>5'11"</td>
			<td>Toronto, Can.</td>
			<td>Africentric Alternative School</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Devin Clyburn</td>
			<td>6'1"</td>
			<td>New York, N.Y.</td>
			<td>Rectory School</td>
			<td>8</td>
		</tr>
		<tr>
			<td>D'Marco Baucey</td>
			<td>6'4"</td>
			<td>Washington, D.C.</td>
			<td>Washington Jesuit</td>
			<td>7</td>
		</tr>
		<tr>
			<td>Keith Deloatch</td>
			<td>5'9"</td>
			<td>Clayton, De.</td>
			<td>Providence Creek Academy</td>
			<td>8</td>
		</tr>
	</tbody>
</table>
