<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Bailey Whitman</td>
			<td>5'11"</td>
			<td>Fort Washington, Pa.</td>
			<td>Germantown Academy</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Montez Mathis</td>
			<td>6'1"</td>
			<td>Jappa, Md.</td>
			<td>Magnoron</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Grant Robinson</td>
			<td>6'1"</td>
			<td>McLean, Va.</td>
			<td>Potomac School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Joseph Thomas</td>
			<td>6'4"</td>
			<td>Whitby, Can.</td>
			<td>Sinclair Secondary</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Clayton Leep</td>
			<td>6'4"</td>
			<td>Richmond, Va.</td>
			<td>Freeman High School</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Daron Russell</td>
			<td>5'0"</td>
			<td>Media, Pa.</td>
			<td>Strath Haven</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Jamir Moultrie</td>
			<td>5'11"</td>
			<td>Forrestville, Md.</td>
			<td>Bishop McNamara</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Curtis Williams</td>
			<td>6'1"</td>
			<td>Olney, Md.</td>
			<td>Good Counsel</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Jefferson Collins</td>
			<td>6'2"</td>
			<td>Baltimore, Md.</td>
			<td>Mt. St. Joseph</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Jamal Holloway</td>
			<td>6'3"</td>
			<td>Somerdale, N.J.</td>
			<td>Sterling</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Steve Jordan</td>
			<td>5'5"</td>
			<td>Fairless Hills, Pa.</td>
			<td>Conwell Egan</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
