<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Alani Moore</td>
			<td>5'8"</td>
			<td>Germantown, Md.</td>
			<td>DeMatha</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Jaquan McKennon</td>
			<td>5'10"</td>
			<td>Bronx, N.Y.</td>
			<td>St. Raymond's</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Gemil Holbrook</td>
			<td>6'5''</td>
			<td>Lasdown, Pa.</td>
			<td>Pennwood</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Conner Jack</td>
			<td>6'6"</td>
			<td>Readin, Pa.</td>
			<td>Berks Catholic</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Levi Cook</td>
			<td>6'9"</td>
			<td>Clarksburg, W.V.</td>
			<td>Liberty</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Lamarr Kimble</td>
			<td>5'11"</td>
			<td>Philadephia, Pa.</td>
			<td>Neumann-Goretti</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Franklin Howard</td>
			<td>6'4"</td>
			<td>Fairfax, Va.</td>
			<td>Paul VI</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Donovan Mitchell</td>
			<td>6'3"</td>
			<td>New Milford, Conn.</td>
			<td>Canterbury Prep</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Carlton Bragg</td>
			<td>6'8"</td>
			<td>Cleveland, Ohio</td>
			<td>VA/Joe's</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Sylvester Ogbonda</td>
			<td>6'10"</td>
			<td>Camp Springs, Md.</td>
			<td>National Christian Academy</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Jagan Mosely</td>
			<td>6'1"</td>
			<td>Jersey City, N.J.</td>
			<td>St. Anthony</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
