<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>City, State</th>
			<th>School</th>
			<th>Grade</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Griffin Kornaker</td>
			<td>5'2"</td>
			<td>Webster, N.Y.</td>
			<td>Aquinas</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Lucas Hudson</td>
			<td>5'4"</td>
			<td>Allentown, Pa.</td>
			<td>Lehigh Christian Academy</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Andrew Nembhard</td>
			<td>5'6"</td>
			<td>Aurora, Can.</td>
			<td>St. Jerome Catholic</td>
			<td>6</td>
		</tr>
		<tr>
			<td>David Kachleries</td>
			<td>5'6"</td>
			<td>Macungie, Pa.</td>
			<td>Eyer</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Jason Hawkes</td>
			<td>5'8"</td>
			<td>Rochester, N.Y.</td>
			<td>Bishop Kearney</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Tre Wood</td>
			<td>5'6"</td>
			<td>Upper Marlboro, Md.</td>
			<td>Kettering Middle</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Daniel Klosk</td>
			<td>5'8"</td>
			<td>New York, N.Y.</td>
			<td>Dalton</td>
			<td>7</td>
		</tr>
		<tr>
			<td>Tyler Hammonds</td>
			<td>5'10"</td>
			<td>New York, N.Y.</td>
			<td>Our Savior</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Jake Livingston</td>
			<td>6'2"</td>
			<td>Pittsburgh, Pa.</td>
			<td>Fox Chapel</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Mikeal Burnett</td>
			<td>6'3"</td>
			<td>Brooklyn, N.Y.</td>
			<td>Satellite East</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Zack Bruno</td>
			<td>6'0"</td>
			<td>Brooklyn, N.Y.</td>
			<td>Mark Twain</td>
			<td>8</td>
		</tr>
	</tbody>
</table>
