<table>
	<thead>
		<tr>
			<th>Division I</th>
			<th>Division II</th>
			<th>Division III</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Monmouth</td>
			<td>Georgian Court</td>
			<td>TCNJ</td>
		</tr>
		<tr>
			<td>Rider</td>
			<td>Caldwell</td>
			<td>Haverford</td>
		</tr>
		<tr>
			<td>LIU Brooklyn</td>
			<td>Assumption</td>
			<td>Hartwick</td>
		</tr>
		<tr>
			<td>Richmond</td>
			<td>Felician</td>
			<td>William Patterson</td>
		</tr>
		<tr>
			<td>Loyola</td>
			<td>University of the Sciences</td>
			<td>Stevens Institute of Technology</td>
		</tr>
		<tr>
			<td>U Penn</td>
			<td>Saint Anselm</td>
			<td>Montclair State</td>
		</tr>
		<tr>
			<td>Colgate</td>
			<td>Seton Hill</td>
			<td>Mt. St. Vincent</td>
		</tr>
		<tr>
			<td>Fordham</td>
			<td>Post</td>
			<td>St. Mary's College of MD</td>
		</tr>
		<tr>
			<td>Seton Hall</td>
			<td>Adelphi</td>
			<td>Sarah Lawrence </td>
		</tr>
		<tr>
			<td>Holy Cross</td>
			<td>Holy Family</td>
			<td>Cairn</td>
		</tr>
		<tr>
			<td>Mt. St. Mary's (MD)</td>
			<td></td>
			<td>New England College</td>
		</tr>
		<tr>
			<td>Cornell</td>
			<td></td>
			<td>Mt. St. Mary's (NY)</td>
		</tr>
		<tr>
			<td>FDU</td>
			<td></td>
			<td>Ramapo</td>
		</tr>
		<tr>
			<td>Wagner</td>
			<td></td>
			<td>Ursinus</td>
		</tr>
		<tr>
			<td>St. Francis (PA)</td>
			<td></td>
			<td>Vassar</td>
		</tr>
		<tr>
			<td>Bryant</td>
			<td></td>
			<td>Kean</td>
		</tr>
		<tr>
			<td>Bucknell</td>
			<td></td>
			<td>Elmira</td>
		</tr>
		<tr>
			<td>Vermont</td>
			<td></td>
			<td>Scranton</td>
		</tr>
		<tr>
			<td>Stony Brook </td>
			<td></td>
			<td>Gettysburg</td>
		</tr>
		<tr>
			<td>St. Francis Brooklyn</td>
			<td></td>
			<td>Cabrini</td>
		</tr>
		<tr>
			<td>Hartford</td>
			<td></td>
			<td>Hunter</td>
		</tr>
		<tr>
			<td>NJIT</td>
			<td></td>
			<td>Wilkes</td>
		</tr>
		<tr>
			<td>UMass</td>
			<td></td>
			<td>Marywood</td>
		</tr>
		<tr>
			<td>Central Connecticut State</td>
			<td></td>
			<td>Illinois Institute of Technology</td>
		</tr>
		<tr>
			<td>Manhattan</td>
			<td></td>
			<td>Bard</td>
		</tr>
		<tr>
			<td>St. Peters</td>
			<td></td>
			<td>Wesleyan</td>
		</tr>
		<tr>
			<td>UMass Lowell</td>
			<td></td>
			<td>Franklin &amp; Marshall</td>
		</tr>
		<tr>
			<td>Northeastern</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Fairfield</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
