<table>
	<thead>
		<tr>
			<th>2018 Hoop Group Girls Skills Camp</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/girls/girls-skills-camp/parent-daughter-weekend-camp/">Parent/Daughter Weekend</a></td>
			<td>July 27th-29th, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-parent-daughter">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/girls/girls-skills-camp/girls-shooting-camp/">Girls Shooting Camp</a></td>
			<td>July 29th-August 1st, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-girls-shooting-camp">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/girls/girls-skills-camp/girls-skills-basketball-camp/">Girls Skills Camp</a></td>
			<td>August 3rd-6th, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-girls-skills-camp">Register Here</a></td>
		</tr>
		<tr>
			<td><a href=http://hoopgroup.com/girls-skills-camp/girls-supersession/>Girls Super Session</a></td>
			<td>July 29th-August 6th, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-girls-super-session">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/girls/girls-skills-camp/girls-bob-hurley-basketball-camp/">Girls Bob Hurley Camp</a></td>
			<td>August 6th-9th, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-girls-bob-hurley-camp">Register Here</a></td>
		</tr>
		<tr>
			<td>Girls Point Guard Weekend</td>
			<td>August 10th-11th, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-girls-point-guard">Register Here</a></td>
		</tr>
	</tbody>
</table>
