<table>
	<thead>
		<tr>
			<th>Date </th>
			<th>Grades</th>
			<th>Day</th>
			<th>Time</th>
			<th>Cost</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>October 14</td>
			<td>Girls 9-12</td>
			<td>Saturday</td>
			<td>3PM - 7PM</td>
			<td>$135</td>
			<td><a href="https://store.hoopgroup.com/events/2017-hghq-girls-fall-top-100-2017">Register Here</a></td>
		</tr>
	</tbody>
</table>
