<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Grades</th>
			<th>Days</th>
			<th>Time</th>
			<th>Cost</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>2015</td>
			<td>Girls Grades 4-12</td>
			<td>Mon-Fri</td>
			<td>9:00AM-2:00PM</td>
			<td>$275</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_170&amp;products_id=1729">Register Here</a></td>
		</tr>
	</tbody>
</table>
