<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Event</th>
			<th>Location</th>
			<th>Age Groups</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>May 6-7</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns.php">HG Headquarters Mothers Day Showdown</a></td>
			<td>Neptune, NJ</td>
			<td>U8-U16</td>
		</tr>
		<tr>
			<td>May 21-22</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/team-tournaments/grassroots-events/girls-hoop-group-jam-fest.php">Girls Hoop Group Jam Fest</a></td>
			<td>Northern NJ</td>
			<td>U9-U17</td>
		</tr>
		<tr>
			<td>June 11-12</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/hq-showdowns/aau-showdowns.php">HG Headquarters Summer Girls Showdown</a></td>
			<td>Neptune, NJ</td>
			<td>U8-U16</td>
		</tr>
	</tbody>
</table>
