<table>
	<thead>
		<tr>
			<th>Saturday</th>
			<th>Away Team</th>
			<th>Home Team</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12:00PM</td>
			<td>Jackson Memorial</td>
			<td>Red Bank Catholic</td>
			<td><a href="https://www.gamechanger.io/game-50f8488e6449a020443ff14d/plays/away">Live Box Score</a></td>
		</tr>
		<tr>
			<td>1:40PM</td>
			<td>Holy Spirit</td>
			<td>Rumson</td>
			<td><a href="https://www.gamechanger.io/game-50f84d7b6449a0200d086c71/plays/home">Live Box Score</a></td>
		</tr>
		<tr>
			<td>3:20PM</td>
			<td>Point Boro</td>
			<td>St. John Vianney</td>
			<td><a href="https://www.gamechanger.io/game-50f852c26449a024af5ca795/plays/away">Live Box Score</a></td>
		</tr>
	</tbody>
</table>
