<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Division</th>
			<th>Days</th>
			<th>Times</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>July 29</td>
			<td>Girls Grades 9-12</td>
			<td>Sunday</td>
			<td>4:30PM -8:45 PM</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-girls-academic-elite-2018">Register Here </a></td>
		</tr>
	</tbody>
</table>
