<table>
	<thead>
		<tr>
			<th>Dates</th>
			<th>Tournament</th>
			<th>Location</th>
			<th>Ages</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>March 10-11</td>
			<td>Spring Showdown</td>
			<td>Hoop Group Headquarters</td>
			<td>U8-U15</td>
		</tr>
		<tr>
			<td>March 31-April 1</td>
			<td>Shore shots Spring Showdown Girls</td>
			<td>Hoop Group Headquarters</td>
			<td>U8-U17</td>
		</tr>
		<tr>
			<td>April 14-15</td>
			<td>April Showdown</td>
			<td>Hoop Group Headquarters</td>
			<td>U14-U17</td>
		</tr>
		<tr>
			<td>April 20-22</td>
			<td><a href="/team-tournaments/grassroots-events/pittsburgh-jam-fest">Pittsburgh Jam Fest</a></td>
			<td>Pitt Jam Fest</td>
			<td>14-Open</td>
		</tr>
		<tr>
			<td>April 21-22</td>
			<td>April Showdown</td>
			<td>Hoop Group Headquarters</td>
			<td>U8-U13</td>
		</tr>
		<tr>
			<td>April 27-29</td>
			<td><a href="/team-tournaments/grassroots-events/providence-hoop-group-jam-fest">Providence Jam Fest</a></td>
			<td>Providence, RI</td>
			<td>11-Open</td>
		</tr>
		<tr>
			<td>April 27-29</td>
			<td>Philly Jam Fest</td>
			<td>Philadelphia, PA</td>
			<td>11-Open</td>
		</tr>
		<tr>
			<td>May 5-6</td>
			<td>May Jam Fest Phase I</td>
			<td>Hoop Group Headquarters</td>
			<td>U14-U17</td>
		</tr>
		<tr>
			<td>May 18-20</td>
			<td>Southern Jam Fest</td>
			<td>Boo Williams</td>
			<td>U14-Open</td>
		</tr>
		<tr>
			<td>May 19-20</td>
			<td>May Jam Fest  Phase II</td>
			<td>Hoop Group Headquarters</td>
			<td>U8-U13</td>
		</tr>
		<tr>
			<td>June 2-3</td>
			<td>Shore Shots Summer Showdown</td>
			<td>Hoop Group Headquarters</td>
			<td>U8-U17</td>
		</tr>
		<tr>
			<td>June 9-10</td>
			<td>Summer Showdown</td>
			<td><a href="http://maps.google.com/maps/place?q=1930+heck+ave+building+3+neptune+nj&amp;hl=en&amp;ftid=0x89c22881744bc0b1:0x9e9660f652833612">Hoop Group Headquarters, 1930 Heck Ave. Building 3, Neptune NJ 07753</a></td>
			<td>U14-U17</td>
		</tr>
		<tr>
			<td>September 22-23</td>
			<td><a href="http://hoopgroup.com/team-tournaments/grassroots-events/fall-hoop-group-jam-fest/">Fall Jam Fest</a></td>
			<td><a href="http://maps.google.com/maps/place?q=1930+heck+ave+building+3+neptune+nj&amp;hl=en&amp;ftid=0x89c22881744bc0b1:0x9e9660f652833612">Hoop Group Headquarters, 1930 Heck Ave. Building 3, Neptune NJ 07753</a></td>
			<td><a href="http://www.hoopgroup.com/registration/index.php?cPath=102_131">Buy Now - Open-16U</a></td>
		</tr>
		<tr>
			<td>September 29-30</td>
			<td><a href="http://hoopgroup.com/team-tournaments/grassroots-events/fall-hoop-group-jam-fest/">Jr. Fall Jam Fest</a></td>
			<td><a href="http://maps.google.com/maps/place?q=1930+heck+ave+building+3+neptune+nj&amp;hl=en&amp;ftid=0x89c22881744bc0b1:0x9e9660f652833612">Hoop Group Headquarters, 1930 Heck Ave. Building 3, Neptune NJ 07753</a></td>
			<td><a href="http://www.hoopgroup.com/registration/index.php?cPath=102_131">Buy Now - 15U-13U</a></td>
		</tr>
		<tr>
			<td>December 14</td>
			<td>Reading Tip-Off Showcase</td>
			<td><a href="https://maps.google.com/maps?q=albright+college&amp;ie=UTF-8&amp;ei=x7NQUM2JMcr50gGPj4GgAw&amp;ved=0CAsQ_AUoAg">Albright College</a></td>
			<td>Boys' Varsity</td>
		</tr>
		<tr>
			<td>December 15-16</td>
			<td>New Jersey Tip-Off</td>
			<td><a href="https://maps.google.com/maps?q=albright+college&amp;ie=UTF-8&amp;ei=x7NQUM2JMcr50gGPj4GgAw&amp;ved=0CAsQ_AUoAg">West Orange High School</a></td>
			<td>Boys' Varisty</td>
		</tr>
		<tr>
			<td>January 12, 2013</td>
			<td>Boardwalk Showcase</td>
			<td><a href="https://plus.google.com/111555259705516112193/about?gl=us&amp;hl=en">Long Branch High School</a></td>
			<td>Boys' Varsity</td>
		</tr>
		<tr>
			<td>January 19, 2013</td>
			<td>Boardwalk Showcase</td>
			<td>TBD</td>
			<td>Girls' Varsity</td>
		</tr>
		<tr>
			<td>January 27, 2013</td>
			<td>Lehigh Valley Showcase</td>
			<td><a href="https://maps.google.com/maps?q=albright+college&amp;ie=UTF-8&amp;ei=x7NQUM2JMcr50gGPj4GgAw&amp;ved=0CAsQ_AUoAg">Parkland High School</a></td>
			<td>Boys' Varsity</td>
		</tr>
		<tr>
			<td>April 19-21, 2013</td>
			<td><a href="http://hoopgroup.com/team-tournaments/grassroots-events/pittsburgh-jam-fest/">Pittsburgh Jam Fest</a></td>
			<td><a href="https://maps.google.com/maps?q=north+hills+high+school&amp;ie=UTF-8&amp;hl=en">North Hills High School, 53 Rochester Road, Pittsburgh, PA</a></td>
			<td><a href="http://www.hoopgroup.com/registration/index.php?cPath=102_132">Buy Now - Open-14U</a></td>
		</tr>
	</tbody>
</table>
