<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Event</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jan. 2</td>
			<td>Hoop Group Showcase Series</td>
			<td>Rider University, Lawrenceville NJ</td>
		</tr>
		<tr>
			<td>Jan. 15</td>
			<td>Hoop Group Boardwalk Showcase</td>
			<td>Monmouth University, W. Long Branch NJ</td>
		</tr>
		<tr>
			<td>Jan. 30</td>
			<td>Hoop Group Lehigh Valley Showcase</td>
			<td>Parkland HS, Allentown, PA</td>
		</tr>
	</tbody>
</table>
