<table>
	<thead>
		<tr>
			<th>HGHQ Summer Camp</th>
			<th>Date</th>
			<th>Grade</th>
			<th>Time</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Boot Camp</td>
			<td>June 15th-19th</td>
			<td>2-12</td>
			<td>1:30-4:30pm</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=65_174">Register Here</a></td>
		</tr>
		<tr>
			<td>Core Skills Training Camp</td>
			<td>June 18th-22nd</td>
			<td>2-11</td>
			<td>9:00am-2:00pm</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-core-skills-1-2018">Register Here </a></td>
		</tr>
		<tr>
			<td>Nothing But Skills Camp</td>
			<td>June 25th-29th</td>
			<td>4-11</td>
			<td>9:00am-2:00pm</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-nbs-1--2018">Register Here </a></td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td>August 13th-17th</td>
			<td>4-11</td>
			<td>9:00am-2:00pm</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-nbs-2--2018">Register Here </a></td>
		</tr>
		<tr>
			<td>Point Guard School</td>
			<td>July 2, 3, 5 &amp; 6th</td>
			<td>2-12</td>
			<td>9:00am-2:00pm</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-point-guard-school-i-2018">Register Here </a></td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td>July 30th-August 3rd</td>
			<td>2-12</td>
			<td>9:00am-2:00pm</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-point-guard-school-ii--2018">Register Here </a></td>
		</tr>
		<tr>
			<td>Ball Handling Camp</td>
			<td>July 9th-July 13th</td>
			<td>2-11</td>
			<td>9:00am-12:00pm</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq18-summer-ball-handling-1">Register Here </a></td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td>July 9th - July 13th</td>
			<td>2-12</td>
			<td>1:00pm-4:00pm</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-shooting-i--2018">Register Here </a></td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td>August 20th-24th</td>
			<td>2-11</td>
			<td>1:00pm-4:00pm</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-shooting-ii-2018">Register Here </a></td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td>August 20th-24th</td>
			<td>2-11</td>
			<td>9:00am-12:00pm</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-ball-handling-ii-2018">Register Here </a></td>
		</tr>
		<tr>
			<td>Ball Handling &amp; Shooting COMBO Camp</td>
			<td>July 9th-July 13th</td>
			<td>2-12</td>
			<td>9:00am-4:00pm</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-bh-sh-combo-1--2018">Register Here </a></td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td>August 20th-24th</td>
			<td>2-12</td>
			<td>9:00am-4:00pm</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-bh-sh-combo-2--2018">Register Here </a></td>
		</tr>
		<tr>
			<td>Mike Rice Basketball School</td>
			<td>July 16th-20th</td>
			<td>3-12</td>
			<td>9:00am-2:00pm</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-mike-rice-basketball-school-2018">Register Here </a></td>
		</tr>
		<tr>
			<td>Bob Hurley Camp</td>
			<td>July 23th-27th</td>
			<td>3-12</td>
			<td>9:00am-2:00pm</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-bob-hurley-camp--2018">Register Here </a></td>
		</tr>
		<tr>
			<td>Mike Rice Camp Scoring</td>
			<td>August 6th-10th</td>
			<td>2-12</td>
			<td>9:00am-2:00pm</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-mike-rice-scoring-camp--2018">Register Here </a></td>
		</tr>
		<tr>
			<td>Shooting Camp</td>
			<td>July 9th-July 13th</td>
			<td>2-11</td>
			<td>1:00pm-4:00pm</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-shooting-i--2018">Register Here </a></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td>July 31th-August 4th</td>
			<td>2-11</td>
			<td>9:00am-2:00pm</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
