<table>
	<thead>
		<tr>
			<th>2015 WinterHGHQ Weekly Instruction Dates</th>
			<th>Dates</th>
			<th>Class Days</th>
			<th>Times</th>
			<th>Register</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Core Skills Training</td>
			<td>November 25 - December 23</td>
			<td>Tuesdays &amp; Thursdays</td>
			<td>Grades 2-6: 4:30 pm - 6:00 pm
Grades 7-12 6:00 pm - 7:30 pm</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=65_156&amp;&amp;page=4">Register Here</a></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>October 20 - November 17</td>
			<td>Tuesdays ONLY</td>
			<td>Grades 2-6: 4:30 pm - 6:00 pm
Grades 7-12 6:00 pm - 7:30 pm</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=65_156&amp;&amp;page=4">Register Here</a></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>October 22 - November 19</td>
			<td>Thursdays ONLY</td>
			<td>Grades 2-6: 4:30 pm - 6:00 pm
Grades 7-12 6:00 pm - 7:30 pm</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=65_156&amp;&amp;page=4">Register Here</a></td>
			<td></td>
		</tr>
		<tr>
			<td>Point Guard School</td>
			<td>October 19 - November 18</td>
			<td>Mondays &amp; Wednesdays</td>
			<td>Grades 2-12: Monday 4:30 pm - 5:30 pm
Wednesday 5:00 pm - 6:00 pm</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=65_156&amp;&amp;page=5">Register Here</a></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>October 19 - November 16</td>
			<td>Mondays ONLY</td>
			<td>Grades 2-12: Monday 4:30 pm - 5:30 pm</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=65_156&amp;&amp;page=5">Register Here</a></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>October 21 - November 18</td>
			<td>Wednesdays ONLY</td>
			<td>Wednesday 5:00 pm - 6:00 pm</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=65_156&amp;&amp;page=5">Register Here</a></td>
			<td></td>
		</tr>
		<tr>
			<td>Dead Eye Shot Factory</td>
			<td>October 21 - November 18</td>
			<td>Wednesdays</td>
			<td>Grades 2-12: 5:00 pm - 6:00 pm</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=65_156&amp;&amp;page=5">Register Here</a></td>
			<td></td>
		</tr>
		<tr>
			<td>Individual Youth Leagues</td>
			<td>November 16 - December 21</td>
			<td>Mondays</td>
			<td>Grades 3-6: 5:30 pm - 7:00 pm</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=65_156&amp;&amp;page=5">Register Here</a></td>
			<td></td>
		</tr>
		<tr>
			<td>Rookie Roundballers</td>
			<td>October 19 - November 16</td>
			<td>Mondays</td>
			<td>Grades K-2: 4:15 pm - 5:15 pm</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=65_156&amp;&amp;page=5">Register Here</a></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>2015 Winter HGHQ Weekly Instruction</td>
			<td>Dates</td>
			<td>Class Days</td>
			<td>Times</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Core Skills Training</td>
			<td>November 24 - December 19</td>
			<td>Tuesdays &amp; Saturdays</td>
			<td>Grades 2-6: 4:30 pm - 6:00 pm
Grades 7-12 6:00 pm - 7:30 pm</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>November 24 - December 20</td>
			<td>Tuesdays ONLY</td>
			<td>Grades 2-6: 4:30 pm - 6:00 pm
Grades 7-12 6:00 pm - 7:30 pm</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>November 28 - December 20</td>
			<td>Saturdays ONLY</td>
			<td>Grades 2-6: 4:30 pm - 6:00 pm
Grades 7-12 6:00 pm - 7:30 pm</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Point Guard School</td>
			<td>November 23 - December 23</td>
			<td>Mondays &amp; Wednesdays</td>
			<td>Grades 2-12: Monday 4:30 pm - 5:30 pm
Wednesday 5:00 pm - 6:00 pm</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>November 23 - December 21</td>
			<td>Mondays ONLY</td>
			<td>Grades 2-12: Monday 4:30 pm - 5:30 pm
Wednesday 5:00 pm - 6:00 pm</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>November 25 - December 23</td>
			<td>Wednesdays ONLY</td>
			<td>Grades 2-12: Monday 4:30 pm - 5:30 pm
Wednesday 5:00 pm - 6:00 pm</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Dead Eye Shooting</td>
			<td>November 25 - December 23</td>
			<td>Wednesdays</td>
			<td>Grades 2-12: 5:00 pm - 6:00 pm</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Individual Youth League</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Rookie Roundballers</td>
			<td>November 23 - December 21</td>
			<td>Mondays</td>
			<td>Grades K-2: 4:15 pm - 5:15 pm</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
