<table>
	<thead>
		<tr>
			<th>Session</th>
			<th>Boys &amp; Girls</th>
			<th>Dates</th>
			<th>Class Days</th>
			<th>Times</th>
			<th>Price</th>
			<th>Sign Up </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Holiday Break HoopFest</td>
			<td>Grades 2-9</td>
			<td>December 26-30</td>
			<td>Saturday &amp; Sunday</td>
			<td>9:30 AM - 2:30 PM</td>
			<td>$150 ($160 if not pre registered)</td>
			<td><a href="https://store.hoopgroup.com/events/2015-holiday-break-hoop-fest-2015">Register Here</a></td>
		</tr>
		<tr>
			<td>Mike Rice Holiday Break HoopFest </td>
			<td>Grades 2-12</td>
			<td>December 27-28</td>
			<td>Saturday &amp; Sunday</td>
			<td>9:00AM- 2:00PM</td>
			<td>$150</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_157&amp;products_id=1726">Register Here</a></td>
		</tr>
		<tr>
			<td>Holiday Break Camp</td>
			<td>Grades 2-10</td>
			<td>December 26-29</td>
			<td>Tuesday - Friday</td>
			<td>10:00AM - 3:00PM</td>
			<td>$230 ($240 if not pre registered)</td>
			<td><a href="https://store.hoopgroup.com/events/2017-hghq-holiday-break-hoopfest-2017">Register Here </a></td>
		</tr>
	</tbody>
</table>
