<table>
	<thead>
		<tr>
			<th>2016 Dates</th>
			<th>Camp</th>
			<th>Location</th>
			<th>Buy Now</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>March 15, 2015</td>
			<td>Nova Top 100</td>
			<td>Marymount University</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=116_172">Buy Now</a></td>
		</tr>
		<tr>
			<td>March 18, 2015</td>
			<td>Philly Top 100</td>
			<td>Competitive Edge</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=116_172">Buy Now</a></td>
		</tr>
		<tr>
			<td>March 21, 2015</td>
			<td>Academic Top 100</td>
			<td>Kean University</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=116_172">Buy Now</a></td>
		</tr>
		<tr>
			<td>March 25, 2015</td>
			<td>New York Top 100</td>
			<td>Riverbank State Park</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=116_172">Buy Now</a></td>
		</tr>
		<tr>
			<td>March 27, 2015</td>
			<td>Baltimore Top 100</td>
			<td>The Park School</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=116_172">Buy Now</a></td>
		</tr>
		<tr>
			<td>March 29, 2015</td>
			<td>Upstate New York Top 100</td>
			<td>SUNY New York University</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=116_172">Buy Now</a></td>
		</tr>
		<tr>
			<td>April 9, 2015</td>
			<td>Ohio Top 100</td>
			<td>Tallmadge Rec Center</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=116_172">Buy Now</a></td>
		</tr>
		<tr>
			<td>April 17, 2015</td>
			<td>Metro Top 100</td>
			<td>Hoop Group Headquarters</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=116_172">Buy Now</a></td>
		</tr>
		<tr>
			<td>April 23, 2015</td>
			<td>Pitt Top 100</td>
			<td>Mt. Lebanon High School</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=116_172">Buy Now</a></td>
		</tr>
		<tr>
			<td>May 8, 2015</td>
			<td>New England Top 100</td>
			<td>Roger Williams College</td>
			<td><a href="http://hoopgroup.com/shop/index.php?cPath=116_172">Buy Now</a></td>
		</tr>
		<tr>
			<td>June 27-30, 2016</td>
			<td>Academic Elite Camp Session 1</td>
			<td><a href="http://www.albright.edu/about/directions.html">Albright College</a></td>
			<td><a href="https://store.hoopgroup.com/events/2016-academic-elite-1">Register Here</a></td>
		</tr>
		<tr>
			<td>July 5-8, 2016</td>
			<td>Elite Camp Session 1</td>
			<td><a href="http://www.albright.edu/about/directions.html">Albright College</a></td>
			<td><a href="https://store.hoopgroup.com/events/2016-the-hoop-group-elite-session-1">Register Here</a></td>
		</tr>
		<tr>
			<td>July 12-15, 2016</td>
			<td>Elite Camp Session 2</td>
			<td><a href="http://www.albright.edu/about/directions.html">Albright College</a></td>
			<td><a href="https://store.hoopgroup.com/events/2016-the-hoop-group-elite-session-2">Register Here</a></td>
		</tr>
		<tr>
			<td>July 19-22, 2016</td>
			<td>Academic Elite Camp Session 2</td>
			<td><a href="http://www.albright.edu/about/directions.html">Albright College</a></td>
			<td><a href="https://store.hoopgroup.com/events/2016-academic-elite-2">Register Here</a></td>
		</tr>
		<tr>
			<td>July 31-August 3, 2016</td>
			<td>Future All American Camp: Junior Elite Session (Grades 6-8)</td>
			<td><a href="http://www.albright.edu/about/directions.html">Albright College</a></td>
			<td><a href= "https://store.hoopgroup.com/events/2016-future-all-american-jr-elite">Register Here</a></td>
		</tr>
		<tr>
			<td>August 4-7, 2016</td>
			<td>Future All American Camp: Fab Frosh/Super Soph Session (Grades 9-10)</td>
			<td><a href="http://www.albright.edu/about/directions.html">Albright College</a></td>
			<td><a href= "https://store.hoopgroup.com/events/2016-future-all-american-fab-frosh-super-soph">Register Here</a></td>
		</tr>
		<tr>
			<td>July 9-10, 2016</td>
			<td>Team Camp</td>
			<td><a href="http://www.albright.edu/about/directions.html">Albright College</a></td>
			<td>Email Sha@hoopgroup.com to sign up</td>
		</tr>
		<tr>
			<td>September 13, 2015</td>
			<td>Northern Virginia Top 100</td>
			<td><a href="http://hoopgroup.com/top-100-showcases/forms-info/top-100s-directions/">Marymount University </a></td>
			<td>Buy Now</td>
		</tr>
		<tr>
			<td>September 18, 2015</td>
			<td>Philly Top 100</td>
			<td><a href="http://hoopgroup.com/top-100-showcases/forms-info/top-100s-directions/">Competitive Edge</a></td>
			<td>Buy Now</td>
		</tr>
		<tr>
			<td>September 20, 2015</td>
			<td>New England Top 100</td>
			<td><a href="http://hoopgroup.com/top-100-showcases/forms-info/top-100s-directions/">Wentworth Institute of Technology</a></td>
			<td>Buy Now</td>
		</tr>
		<tr>
			<td>September 26, 2015</td>
			<td>Baltimore Top 100</td>
			<td><a href="http://hoopgroup.com/top-100-showcases/forms-info/top-100s-directions/">The Park School</a></td>
			<td>Buy Now</td>
		</tr>
		<tr>
			<td>October 3, 2015</td>
			<td>Metro Top 100</td>
			<td><a href="http://hoopgroup.com/top-100-showcases/forms-info/top-100s-directions/">Hoop Group Headquarters</a></td>
			<td>Buy Now </td>
		</tr>
		<tr>
			<td>October 4, 2015</td>
			<td>Metro Academic Top 100</td>
			<td><a href="http://hoopgroup.com/top-100-showcases/forms-info/top-100s-directions/">Kean University </a></td>
			<td>Buy Now</td>
		</tr>
		<tr>
			<td>October 11, 2015</td>
			<td>Upstate NY Top 100</td>
			<td><a href="http://hoopgroup.com/top-100-showcases/forms-info/top-100s-directions/">SUNY Orange </a></td>
			<td>Buy Now</td>
		</tr>
		<tr>
			<td>October 16, 2015</td>
			<td>NYC Top 100</td>
			<td><a href="http://hoopgroup.com/top-100-showcases/forms-info/top-100s-directions/">Riverbank State Park</a></td>
			<td>Buy Nw</td>
		</tr>
	</tbody>
</table>
