<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>College</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td> Aaron Craft</td>
			<td>Ohio State</td>
			<td>Liberty Benton OH</td>
		</tr>
		<tr>
			<td>Melvin Ejim</td>
			<td>Iowa State</td>
			<td>Brewster Academy NH</td>
		</tr>
		<tr>
			<td>Derek Billing</td>
			<td>Lake Superior State</td>
			<td>Anna OH</td>
		</tr>
		<tr>
			<td>Dominykas Milka</td>
			<td>St. Rose</td>
			<td>Christ the King NY</td>
		</tr>
		<tr>
			<td>Kyle Hammonds</td>
			<td>Kings</td>
			<td>Radnor PA</td>
		</tr>
		<tr>
			<td>Tyler Peters</td>
			<td>Wheaton</td>
			<td>Medina OH</td>
		</tr>
		<tr>
			<td>Rich Bonney</td>
			<td>Hobart</td>
			<td>Norwich NY</td>
		</tr>
		<tr>
			<td>Ryan Sheehan</td>
			<td>Nichols</td>
			<td>Bishop Feehan MA</td>
		</tr>
	</tbody>
</table>
