<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Visiting Team</th>
			<th></th>
			<th>Home Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>12:00</td>
			<td>Point Beach</td>
			<td>vs.</td>
			<td>Manasquan</td>
		</tr>
		<tr>
			<td>1:45</td>
			<td>St. Anthony's</td>
			<td>vs.</td>
			<td>CBA</td>
		</tr>
		<tr>
			<td>3:30</td>
			<td>St. Joseph's Metuchen</td>
			<td>vs.</td>
			<td>Neptune</td>
		</tr>
		<tr>
			<td>5:15</td>
			<td>Colts Neck</td>
			<td>vs.</td>
			<td>Long Branch</td>
		</tr>
	</tbody>
</table>
