<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Isaiah Moseley</td>
			<td>Millwood Prep CN</td>
		</tr>
		<tr>
			<td>Christian Depollar</td>
			<td>St. Stephens &amp; St Agnes VA</td>
		</tr>
		<tr>
			<td>Dion Harris</td>
			<td>Lower Merion PA</td>
		</tr>
		<tr>
			<td>Anthony Nelson</td>
			<td>Cordia KY</td>
		</tr>
		<tr>
			<td>Calistus Anyichie</td>
			<td>St. Mary's Elizabeth NJ</td>
		</tr>
		<tr>
			<td>Atiba Taylor</td>
			<td>Hackensack NJ</td>
		</tr>
		<tr>
			<td>Raymond Bethea</td>
			<td>Atlantic City NJ</td>
		</tr>
		<tr>
			<td>Mils Latimire</td>
			<td>Paul VI VA</td>
		</tr>
		<tr>
			<td>Kareem Reid</td>
			<td>John Bowne NY</td>
		</tr>
		<tr>
			<td>Richard Njoku</td>
			<td>St. John's DC</td>
		</tr>
		<tr>
			<td>Anthony Torelli</td>
			<td>St. Augustine's CN</td>
		</tr>
		<tr>
			<td>Tyler Bertram</td>
			<td>Cooperstown NY</td>
		</tr>
		<tr>
			<td>Andy Pack</td>
			<td>Northern Guilford NC</td>
		</tr>
		<tr>
			<td>Patrick Thomas</td>
			<td>Bishop Kearney NY</td>
		</tr>
		<tr>
			<td>Casmir Ochiaka</td>
			<td>St. Mary's Elizabeth NJ</td>
		</tr>
		<tr>
			<td>Malik Curry</td>
			<td>API TX</td>
		</tr>
		<tr>
			<td>Antonio Rizzuto</td>
			<td>Northeastern PA</td>
		</tr>
		<tr>
			<td>Marques Watson</td>
			<td>Thomas Jefferson NY</td>
		</tr>
		<tr>
			<td>Paul Woolhouse</td>
			<td>North Hunterdon NJ</td>
		</tr>
		<tr>
			<td>Jahbril Price-Noel</td>
			<td>Gould Academy ME</td>
		</tr>
	</tbody>
</table>
