<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Hatboro Horsham  65</td>
			<td>Easton  49</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Stroudsburg  82</td>
			<td>Parkland  41</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Christ the King NY  61</td>
			<td>Lebanon  55</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Chambersburg  60</td>
			<td>Whitehall  53</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick NJ  63</td>
			<td>Plymouth Whitemarsh  57</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Northampton (Girls) 46</td>
			<td>Central Catholic (Girls) 31</td>
			<td></td>
		</tr>
	</tbody>
</table>
