<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winner</th>
			<th>Loser</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/kyleelliott116/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2016/01/KyleElliott116.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67857" /></a>Kyle Elliott</td>
			<td>Mater Dei  62</td>
			<td>Neptune  48</td>
			<td><a href="http://hoopgroup.com/barrybrown116100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2016/01/BarryBrown116100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67858" /></a>Barry Brown</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/brendanbarry116100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2016/01/BrendanBarry116100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67854" /></a>Brendan Barry</td>
			<td>Rumson  66</td>
			<td>Gill St. Bernards  49</td>
			<td><a href="http://hoopgroup.com/adammitolamvptip15100-2/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2016/01/AdamMitolamvptip15100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67855" /></a>Adam Mitola</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/devinjensen100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2016/01/DevinJensen100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67859" /></a>Devin Jensen</td>
			<td>Manasquan  49</td>
			<td>Point Beach  41</td>
			<td><a href="http://hoopgroup.com/mikerice100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2016/01/MikeRice100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67860" /></a>Mike Rice</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/kalebbishop116100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2016/01/KalebBishop116100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67861" /></a>Kaleb Bishop</td>
			<td>St. Anthony  65</td>
			<td>CBA  29</td>
			<td><a href="http://hoopgroup.com/patandree116100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2016/01/PatAndree116100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67862" /></a>Pat Andree</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/anthonyvelazquezrivera100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2016/01/AnthonyVelazquezRivera100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67863" /></a>Anthony Velazquez-Rivera</td>
			<td>Long Branch  54</td>
			<td>St. John Vianney  47</td>
			<td><a href="http://hoopgroup.com/zachhowarth100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2016/01/ZachHowarth100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67864" /></a>Zach Howarth</td>
		</tr>
	</tbody>
</table>
