<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>College</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Seger Bonifant</td>
			<td>West Liberty</td>
			<td>Berlin OH</td>
		</tr>
		<tr>
			<td>Devante Chance</td>
			<td>IUP</td>
			<td>Philadelphia PA</td>
		</tr>
		<tr>
			<td>Chris Santo</td>
			<td>St. Anselm's</td>
			<td>Cherry Hill NJ</td>
		</tr>
		<tr>
			<td>Tylon Smith</td>
			<td>Southern Connecticut</td>
			<td>Manchester CT</td>
		</tr>
	</tbody>
</table>
