<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>PJ Ringel</td>
			<td>Marlboro NJ</td>
		</tr>
		<tr>
			<td>Noah Morgan</td>
			<td>Mount Vernon NY</td>
		</tr>
		<tr>
			<td>Malachi de Sousa</td>
			<td>Kennedy Catholic NY</td>
		</tr>
		<tr>
			<td>Alonzo Traylor</td>
			<td>Monsignor McClancy NY</td>
		</tr>
		<tr>
			<td>Dylan Hastings</td>
			<td>Solanco PA</td>
		</tr>
		<tr>
			<td>Marion Williams</td>
			<td>Masters NY</td>
		</tr>
		<tr>
			<td>Jordan Money</td>
			<td>St. Elizabeth DE</td>
		</tr>
		<tr>
			<td>Miles Gibson</td>
			<td>Millwood VA</td>
		</tr>
		<tr>
			<td>Obseil Caraballa</td>
			<td>Upper Room Christian NY</td>
		</tr>
		<tr>
			<td>Zion Cousins</td>
			<td>Frederick Douglas MD</td>
		</tr>
		<tr>
			<td>Tyler Jones</td>
			<td>Peddie NJ</td>
		</tr>
		<tr>
			<td>Austin Williams</td>
			<td>Seton Hall Prep NJ</td>
		</tr>
		<tr>
			<td>Isaiah Godwin</td>
			<td>Brooks MA</td>
		</tr>
		<tr>
			<td>Colton Lawrence</td>
			<td>Hill PA</td>
		</tr>
		<tr>
			<td>Zack Bruno</td>
			<td>Xaverian NY</td>
		</tr>
		<tr>
			<td>Terence Lewis</td>
			<td>National Christian MD</td>
		</tr>
		<tr>
			<td>Jordan Camper</td>
			<td>Chester PA</td>
		</tr>
		<tr>
			<td>Tamir Green</td>
			<td>Constitution PA</td>
		</tr>
		<tr>
			<td>Donald Carey</td>
			<td>Frederick Douglas MD</td>
		</tr>
		<tr>
			<td>Aaryn Rai</td>
			<td>Orangeville Prep CN</td>
		</tr>
		<tr>
			<td>Michael Morreale</td>
			<td>Gill St. Bernards NJ</td>
		</tr>
		<tr>
			<td>Terrence Moore</td>
			<td>Audenreid PA</td>
		</tr>
	</tbody>
</table>
