<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winner</th>
			<th>Loser</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/AbdulLewismvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45699" />Abdul Lewis</td>
			<td>Newark Eastside  46</td>
			<td>Blair  43</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/DonovanWrightmvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45697" />Donovan Wright</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/PaulJorgensenmvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45700" />Paul Jorgensen</td>
			<td>Don Bosco  62</td>
			<td>Hudson Catholic  58</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/JRLynchmvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45786" />JR Lynch</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/ShakurJuistonmvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45701" />Shakur Juiston</td>
			<td>Paterson Eastside   58</td>
			<td>St. Peter's Prep  48</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/NajaHuntermvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45698" />Naja Hunter</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/DavidRunciemvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45702" />David Runcie</td>
			<td>Columbia  46</td>
			<td>Seton Hall Prep  43</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/SterlingGibbsmvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45788" />Sterling Gibbs</td>
		</tr>
	</tbody>
</table>
