<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Montique Wright</td>
			<td>Cecil Kirk</td>
		</tr>
		<tr>
			<td>Gary Jefferson</td>
			<td>Cecil Kirk</td>
		</tr>
		<tr>
			<td>Tyronn King</td>
			<td>Grassroots Canada</td>
		</tr>
		<tr>
			<td>Jamar Ergas</td>
			<td>Grassroots Canada</td>
		</tr>
		<tr>
			<td>Darnell Rogers</td>
			<td>Team United</td>
		</tr>
		<tr>
			<td>Dylan Bleather</td>
			<td>Hudson Valley Cats</td>
		</tr>
	</tbody>
</table>
