<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/Tobe-Okerfor-100.jpg" alt="" title="Tobe Okerfor 100" width="100" height="120" class="aligncenter size-full wp-image-12520" /></td>
			<td>Tobe Okerfor</td>
			<td>Mt. Zion NC</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/IsaiahMiles100.jpg" alt="" title="IsaiahMiles100" width="100" height="120" class="aligncenter size-full wp-image-12646" /></td>
			<td>Isaiah Miles</td>
			<td>Milford Mill MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/Marcus-Gilbert-100.jpg" alt="" title="Marcus Gilbert 100" width="100" height="120" class="aligncenter size-full wp-image-12521" /></td>
			<td>Marcus Gilbert</td>
			<td>Academy New Church PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/StanfordRobinson100.jpg" alt="" title="StanfordRobinson100" width="100" height="120" class="aligncenter size-full wp-image-12647" /></td>
			<td>Stanford Robinson</td>
			<td>Paul VI VA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/Mel-johnson-120.jpg" alt="" title="Mel johnson 120" width="100" height="120" class="aligncenter size-full wp-image-12522" /></td>
			<td>Melvin Johnson</td>
			<td>St. Benedict's NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/Chris-McCullough-100.jpg" alt="" title="Chris McCullough 100" width="100" height="120" class="aligncenter size-full wp-image-12523" /></td>
			<td>Chris McCullough</td>
			<td>Salisbury CT</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MalikNichols100.jpg" alt="" title="MalikNichols100" width="100" height="120" class="aligncenter size-full wp-image-12648" /></td>
			<td>Malik Nichols</td>
			<td>Notre Dame Prep MA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TerryTarpey100.jpg" alt="" title="TerryTarpey100" width="100" height="120" class="aligncenter size-full wp-image-12649" /></td>
			<td>Terry Tarpey</td>
			<td>Fairfield Prep CT</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JordanReed100.jpg" alt="" title="JordanReed100" width="100" height="120" class="aligncenter size-full wp-image-12650" /></td>
			<td>Jordan Reed</td>
			<td>Wissahickon PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/PatrickHolloway100.jpg" alt="" title="PatrickHolloway100" width="100" height="120" class="aligncenter size-full wp-image-12651" /></td>
			<td>Patrick Holloway</td>
			<td>Paul VI VA</td>
		</tr>
		<tr>
			<td></td>
			<td>Jordan Dickerson</td>
			<td>IMG FL</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Ortiz</td>
			<td>South Kent CT</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/DavonReed100.jpg" alt="" title="DavonReed100" width="100" height="120" class="aligncenter size-full wp-image-12652" /></td>
			<td>Davon Reed</td>
			<td>Princeton Day NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MylesDavis100.jpg" alt="" title="MylesDavis100" width="93" height="106" class="aligncenter size-full wp-image-12685" /></td>
			<td>Myles Davis</td>
			<td>Notre Dame Prep MA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JosephMcDonald100.jpg" alt="" title="JosephMcDonald100" width="100" height="120" class="aligncenter size-full wp-image-12653" /></td>
			<td>Joseph McDonald</td>
			<td>Landon MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Reggie Agbeko</td>
			<td>St. Joseph's Collegiate NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TerranceBobb-Jones100.jpg" alt="" title="TerranceBobb-Jones100" width="100" height="120" class="aligncenter size-full wp-image-12654" /></td>
			<td>Terrance Bobb-Jones</td>
			<td>Putnam Science CT</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/QuentinDecosey100.jpg" alt="" title="QuentinDecosey100" width="100" height="120" class="aligncenter size-full wp-image-12655" /></td>
			<td>Quenton DeCosey</td>
			<td>St. Joseph's Metuchen NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/KethanSavage100.jpg" alt="" title="KethanSavage100" width="100" height="120" class="aligncenter size-full wp-image-12656" /></td>
			<td>Kethan Savage</td>
			<td>Episcopal VA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/EricFanning100.jpg" alt="" title="EricFanning100" width="100" height="120" class="aligncenter size-full wp-image-12657" /></td>
			<td>Eric Fanning</td>
			<td>Perkiomen PA</td>
		</tr>
	</tbody>
</table>
