<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Grad Year</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Tony Ellington</td>
			<td>2015</td>
			<td>Trenton Catholic NJ</td>
		</tr>
		<tr>
			<td>Colin Dougherty</td>
			<td>2015</td>
			<td>Lockport NY</td>
		</tr>
		<tr>
			<td>Isaiah Lewis</td>
			<td>2015</td>
			<td>Churchville Chili NY</td>
		</tr>
		<tr>
			<td>Austin Vaughn</td>
			<td>2015</td>
			<td>Coral Springs Charter FL</td>
		</tr>
		<tr>
			<td>Justin Gorny</td>
			<td>2015</td>
			<td>South Park PA</td>
		</tr>
		<tr>
			<td>Max Mahoney</td>
			<td>2016</td>
			<td>Ridge NJ</td>
		</tr>
		<tr>
			<td>Jordan Bonner</td>
			<td>2015</td>
			<td>St. Andrew's DE</td>
		</tr>
		<tr>
			<td>Dakpe Yiljep</td>
			<td>2015</td>
			<td>Westtown PA</td>
		</tr>
		<tr>
			<td>Austin Pauga</td>
			<td>2015</td>
			<td>IMG Academy FL</td>
		</tr>
		<tr>
			<td>Christopher Rogers</td>
			<td>2016</td>
			<td>Tri-Cities GA</td>
		</tr>
		<tr>
			<td>Erik Werheim</td>
			<td>2015</td>
			<td>Montville NJ</td>
		</tr>
		<tr>
			<td>Tim Quashie</td>
			<td>2015</td>
			<td>Putnam Science CT</td>
		</tr>
		<tr>
			<td>Sam Barrett</td>
			<td>2015</td>
			<td>Taft CT</td>
		</tr>
		<tr>
			<td>Isa Brandon</td>
			<td>2015</td>
			<td>Heritage FL</td>
		</tr>
		<tr>
			<td>Daniel Vila</td>
			<td>2015</td>
			<td>Conestoga PA</td>
		</tr>
		<tr>
			<td>Julius Stoma</td>
			<td>2016</td>
			<td>Gill St. Bernards NJ</td>
		</tr>
		<tr>
			<td>Jimmy Panzini</td>
			<td>2016</td>
			<td>St. Anthony NJ</td>
		</tr>
		<tr>
			<td>Andrew Diehl</td>
			<td>2015</td>
			<td>Conestoga PA</td>
		</tr>
		<tr>
			<td>Jeffrey Redband</td>
			<td>2015</td>
			<td>Batavia NY</td>
		</tr>
		<tr>
			<td>Zach Snyder</td>
			<td>2015</td>
			<td>Seneca Valley PA</td>
		</tr>
		<tr>
			<td>Patrick Ehland</td>
			<td>2015</td>
			<td>Mount Lebanon PA</td>
		</tr>
		<tr>
			<td>Adam Mitola</td>
			<td>2016</td>
			<td>Gill St. Bernards NJ</td>
		</tr>
	</tbody>
</table>
