<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Thomas Milana</td>
			<td>St. Anthony's NY</td>
		</tr>
		<tr>
			<td>Michael Green</td>
			<td>Mt. St. Michael's NY</td>
		</tr>
		<tr>
			<td>Huasly Paredes</td>
			<td>Fort Lee NJ</td>
		</tr>
		<tr>
			<td>Dashaun Archer</td>
			<td>Central York PA</td>
		</tr>
		<tr>
			<td>Aidan Adomaites</td>
			<td>Cold Spring Harbor NY</td>
		</tr>
		<tr>
			<td>Jared Reid</td>
			<td>Long Island Lutheran NY</td>
		</tr>
		<tr>
			<td>Toussaint Parris-Grant</td>
			<td>Bethesda Chevy Chase MD</td>
		</tr>
		<tr>
			<td>Dimetrius Parrich</td>
			<td>Egg Harbor NJ</td>
		</tr>
		<tr>
			<td>Andrew Christos</td>
			<td>Madison NJ</td>
		</tr>
		<tr>
			<td>Gerard Burns</td>
			<td>Long Beach NY</td>
		</tr>
		<tr>
			<td>Eric Jerge</td>
			<td>Munster IN</td>
		</tr>
		<tr>
			<td>Philip Chenard</td>
			<td>Bishop Shanahan PA</td>
		</tr>
		<tr>
			<td>Lewis Garcia</td>
			<td>Berks Catholic PA</td>
		</tr>
		<tr>
			<td>David Johnson</td>
			<td>Westlake MD</td>
		</tr>
		<tr>
			<td>Chandler Tuten</td>
			<td>Tuscorara VA</td>
		</tr>
		<tr>
			<td>Ryan Michaels</td>
			<td>G Ray Bodley NY</td>
		</tr>
		<tr>
			<td>Tyreese Smith</td>
			<td>Susquehanna PA</td>
		</tr>
		<tr>
			<td>Elijah Cross</td>
			<td>Howard MD</td>
		</tr>
		<tr>
			<td>Jsaun Jones</td>
			<td>Archbishop Carroll PA</td>
		</tr>
		<tr>
			<td>Nelson Colon</td>
			<td>Reading PA</td>
		</tr>
		<tr>
			<td>Jordan Haggard</td>
			<td>Corning NY</td>
		</tr>
		<tr>
			<td>Jalen Leach</td>
			<td>Bergen Catholic NJ</td>
		</tr>
		<tr>
			<td>Nick Kimmel</td>
			<td>Pleasant OH</td>
		</tr>
	</tbody>
</table>
