<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>College</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Matt Bingaya</td>
			<td>Fairmont State</td>
			<td>Delaware OH</td>
		</tr>
		<tr>
			<td>Luquon Choice</td>
			<td>Lincoln Memorial</td>
			<td>Laurens SC</td>
		</tr>
		<tr>
			<td>Devin Gilligan</td>
			<td>Southern New Hampshire</td>
			<td>Amherst NH</td>
		</tr>
		<tr>
			<td>Dustin Sleva</td>
			<td>Shippensburg</td>
			<td>Pittsburgh PA</td>
		</tr>
	</tbody>
</table>
