<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/02/CoreyFisher100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/CoreyFisher100.jpg" alt="" title="CoreyFisher100" width="100" height="120" class="aligncenter size-full wp-image-2750" /></a></td>
			<td>Corey Fisher</td>
			<td>St. Patrick NJ</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/02/JimmerFredette1001.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/JimmerFredette1001.jpg" alt="" title="JimmerFredette100" width="100" height="120" class="aligncenter size-full wp-image-2517" /></a></td>
			<td>Jimmer Fredette</td>
			<td>Glen Falls NY HS</td>
			<td>Brigham Young</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/02/Brandon-Knight-100.jpg"><img src="http://www.hoopgroup.coomwp-content/uploads/2011/02/Brandon-Knight-100.jpg" alt="" title="Brandon Knight 100" width="100" height="120" class="aligncenter size-full wp-image-2970" /></a></td>
			<td>Brandon Knight</td>
			<td>Pine Crest HS FL</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/02/Nolan-Smith-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Nolan-Smith-100.jpg" alt="" title="Nolan Smith 100" width="100" height="120" class="aligncenter size-full wp-image-2519" /></a></td>
			<td>Nolan Smith</td>
			<td>Oak Hill Academy VA</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/02/Kemba-Walker-1001.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Kemba-Walker-1001.jpg" alt="" title="Kemba Walker 100" width="100" height="120" class="aligncenter size-full wp-image-2461" /></a></td>
			<td>Kemba Walker</td>
			<td>Rice NY</td>
			<td>UConn</td>
		</tr>
	</tbody>
</table>
