<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/ConnorSaker100.jpg" alt="" title="ConnorSaker100" width="100" height="120" class="aligncenter size-full wp-image-8568" /></td>
			<td>Jackson Memorial  42</td>
			<td>New Egypt  37</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/DesmondHubert100.jpg" alt="" title="DesmondHubert100" width="100" height="120" class="aligncenter size-full wp-image-8569" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/TonyWalker100.jpg" alt="" title="TonyWalker100" width="100" height="120" class="aligncenter size-full wp-image-8570" /></td>
			<td>Lakewood  66


MVP: Anthony Walker</td>
			<td>Middletown North  63


MVP: Shlique Calhoun</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/ShiliqueCalhoun100.jpg" alt="" title="ShiliqueCalhoun100" width="100" height="120" class="aligncenter size-full wp-image-8571" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/AnthonyDuszcack100.jpg" alt="" title="AnthonyDuszcack100" width="100" height="120" class="aligncenter size-full wp-image-8573" />
<img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/SeanGrennan100.jpg" alt="" title="SeanGrennan100" width="100" height="120" class="aligncenter size-full wp-image-8574" /></td>
			<td>Monsignor Donovan  61


MVP: Anthony Duszak
Sean Grennan</td>
			<td>Point Pleasant Beach  51


MVP: Jarelle Reischel</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/JarelleReischel100.jpg" alt="" title="JarelleReischel100" width="100" height="120" class="aligncenter size-full wp-image-8572" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/MattMcMullen100.jpg" alt="" title="MattMcMullen100" width="100" height="120" class="aligncenter size-full wp-image-8575" /></td>
			<td>CBA  63


MVP: Matt McMullen</td>
			<td>Lincoln NY  45</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/IkeCalderon1001.jpg" alt="" title="IkeCalderon100" width="100" height="120" class="aligncenter size-full wp-image-8576" /></td>
			<td>Neptune  61


MVP: Ike Calderon</td>
			<td>Newark Eastside  43


MVP: Kasim Chandler</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/KasimChandler100.jpg" alt="" title="KasimChandler100" width="100" height="120" class="aligncenter size-full wp-image-8577" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/JessicaMachi100.jpg" alt="" title="JessicaMachi100" width="100" height="120" class="aligncenter size-full wp-image-8578" /></td>
			<td>Point Pleasant Boro  60


MVP: Jessica Machi</td>
			<td>Jackson Memorial  56


MVP: Christa Evans</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/ChristaEvans100.jpg" alt="" title="ChristaEvans100" width="100" height="120" class="aligncenter size-full wp-image-8579" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/SamanthaGuastella100.jpg" alt="" title="SamanthaGuastella100" width="100" height="120" class="aligncenter size-full wp-image-8581" /></td>
			<td>Red Bank Catholic  40


MVP: Samantha Guastella</td>
			<td>Middletown South  35


MVP: Megan McGuiness</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/MeganMcGuiness100.jpg" alt="" title="MeganMcGuiness100" width="100" height="120" class="aligncenter size-full wp-image-8582" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/DianaMalanga100.jpg" alt="" title="DianaMalanga100" width="100" height="120" class="aligncenter size-full wp-image-8583" /></td>
			<td>St. Rose  38


MVP: Diana Malanga</td>
			<td>Rumson  31


MVP: Victoria Lesko</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/VictoriaLesko100.jpg" alt="" title="VictoriaLesko100" width="100" height="120" class="aligncenter size-full wp-image-8584" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/SyessenceDavis100.jpg" alt="" title="SyessenceDavis100" width="100" height="120" class="aligncenter size-full wp-image-8585" /></td>
			<td>Neptune  58


MVP: Syessence Davis</td>
			<td>Christ the King  34


MVP: Bria Smith</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/BriaSmithmvp100.jpg" alt="" title="BriaSmithmvp100" width="100" height="120" class="aligncenter size-full wp-image-8586" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/KatieOReilly100.jpg" alt="" title="KatieO&#039;Reilly100" width="100" height="120" class="aligncenter size-full wp-image-8587" /></td>
			<td>St. John Vianney  65


MVp: Katie O'Reilly</td>
			<td>Piscataway  42


MVP: Danajah Grant</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/DanajahGrant100.jpg" alt="" title="DanajahGrant100" width="100" height="120" class="aligncenter size-full wp-image-8588" /></td>
		</tr>
	</tbody>
</table>
