<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winner</th>
			<th>Loser</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/tamir-green100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/Tamir-Green100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67261" /></a>Tamir Green</td>
			<td>Constitution 58</td>
			<td>Berks Catholic  46</td>
			<td><a href="http://hoopgroup.com/casey-jack100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/Casey-Jack100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67262" /></a>Casey Jack</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/tyreepickron-100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/TyreePickron-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67268" /></a>Tyree Pickron</td>
			<td>Archbishop Wood  67</td>
			<td>Reading  59</td>
			<td><a href="http://hoopgroup.com/lonnie-walker-lv-100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/Lonnie-Walker-LV-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67269" /></a>Lonnie Walker</td>
		</tr>
	</tbody>
</table>
