<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winner</th>
			<th>Loser</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/JCShowsmall.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46276" />JC Show</td>
			<td>Abington Heights  71</td>
			<td>Bethlehem Central Catholic  49</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/JamalAzizsmall.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46277" />Jamal Aziz</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/AngelDelgadosmall.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46278" />Angel Delgado</td>
			<td>The Patrick School NJ  59</td>
			<td>Roman Catholic  57</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/RashaanLondonsmall.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46279" />Rashaan London</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/JustinZajkosmall.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46280" />Justin Zajko</td>
			<td>Parkland  48</td>
			<td>Gill St. Bernards NJ  45</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/JonMeasmall.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46281" />Jon Michael Mea</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/GoodluckOkonobohsmall.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46282" />Goodluck Okonoboh</td>
			<td>Wilbraham &amp; Monson MA  55</td>
			<td>Westtown  50</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/JaredNickenssmall.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46285" />Jared Nickens</td>
		</tr>
	</tbody>
</table>
