<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/EvanBradds100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80311" /></td>
			<td>Evan Bradds</td>
			<td>Belmont</td>
			<td>Jamestown OH</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/TroyCaupain100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-83134" /></td>
			<td>Troy Caupain</td>
			<td>Cincinnati</td>
			<td>Midlothian VA</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Cavanaugh</td>
			<td>George Washington</td>
			<td>Syracuse NY</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JackGibbs100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80269" /></td>
			<td>Jack Gibbs</td>
			<td>Davidson</td>
			<td>Westerville OH</td>
		</tr>
		<tr>
			<td></td>
			<td>Reggie Upshaw</td>
			<td>Middle Tennessee</td>
			<td>Chatanooga TN</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/11/SteveVasturia100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-27163" /></td>
			<td>Steve Vasturia</td>
			<td>Notre Dame</td>
			<td>Medford NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Nathan Adrian</td>
			<td>West Virginia</td>
			<td>Morgantown WV</td>
		</tr>
	</tbody>
</table>
