<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Visitig Team</th>
			<th></th>
			<th>Home Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1:30</td>
			<td>Red Bank Catholic</td>
			<td>vs.</td>
			<td>Neptune</td>
		</tr>
		<tr>
			<td>3:00</td>
			<td>Rumson</td>
			<td>vs.</td>
			<td>Monsignor Donovan</td>
		</tr>
		<tr>
			<td>4:30</td>
			<td>St. John Vianney</td>
			<td>vs.</td>
			<td>St. Rose</td>
		</tr>
	</tbody>
</table>
