<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/04/TreyBurke100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-29818" /></td>
			<td>Trey Burke</td>
			<td>Michigan</td>
		</tr>
		<tr>
			<td></td>
			<td>Cody Zeller</td>
			<td>Indiana</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/Mason-Plumlee-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18906" /></td>
			<td>Mason Plumlee</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td></td>
			<td>Deshaun Thomas</td>
			<td>Ohio State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/RussSmith100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18919" /></td>
			<td>Russ Smith</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td></td>
			<td>Erick Green</td>
			<td>Virginia Tech</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
