<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Neptune  81</td>
			<td>Asbury Park  52</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Benedict's  81</td>
			<td>Prep Charter  73</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Linden  65</td>
			<td>CBA  50</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick  64</td>
			<td>Blair  45</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Freehold Township  52</td>
			<td>Holy Spirit  49</td>
			<td></td>
		</tr>
	</tbody>
</table>
