<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/KennedyMeeks100.jpg" alt="kennedymeeks100" width="100" height="120" class="aligncenter size-full wp-image-80494" /></td>
			<td>Kennedy Meeks</td>
			<td>North Carolina</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=3799" rel="attachment wp-att-3799"><img src="https://hoopgroup.com/wp-content/uploads/2011/02/RakeemChristmas100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-3799" /></a></td>
			<td>Rakeem Christmas</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47200" rel="attachment wp-att-47200"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/DanielOchefu100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-47200" /></a></td>
			<td>Daniel Ochefu</td>
			<td>Villanova</td>
		</tr>
	</tbody>
</table>
