<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School </th>
			<th>College</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<td>Jason Aigner</td>
			<td>WT Woodson VA</td>
			<td>Christopher Newport</td>
		</tr>
		<tr>
			<td>Phillip Alexander</td>
			<td>Mt Zion MD</td>
			<td>California PA</td>
		</tr>
		<tr>
			<td>Jeff Allen</td>
			<td>Cheshire CT</td>
			<td>St. Rose</td>
		</tr>
		<tr>
			<td>Brandon Arnold</td>
			<td>Avon Old Farms CT</td>
			<td>St Lawrence</td>
		</tr>
		<tr>
			<td>Adnan Arslanagic</td>
			<td>Virginia Episcopal</td>
			<td>Chowan</td>
		</tr>
		<tr>
			<td>Kendall Baldwin</td>
			<td>Commonwealth Academy MA</td>
			<td>Springfield</td>
		</tr>
		<tr>
			<td>Jake Benhart</td>
			<td>Indiana PA</td>
			<td>Edinboro</td>
		</tr>
		<tr>
			<td>Gary Berdel</td>
			<td>Decatur MD</td>
			<td>Salisbury</td>
		</tr>
		<tr>
			<td>Bryan Boehlert</td>
			<td>Magruder MD</td>
			<td>Assumption</td>
		</tr>
		<tr>
			<td>Will Brady</td>
			<td>Vermont Academy</td>
			<td>Tufts</td>
		</tr>
		<tr>
			<td>Opong Bramble</td>
			<td>Canterbury CT</td>
			<td>NYIT</td>
		</tr>
		<tr>
			<td>Luke Bukowiec</td>
			<td>St. Peter's Prep NJ</td>
			<td>Stevens Tech</td>
		</tr>
		<tr>
			<td>Bryce Butler</td>
			<td>Suffield Academy CT</td>
			<td>Susquehanna</td>
		</tr>
		<tr>
			<td>Jalen Butler</td>
			<td>Tilton </td>
			<td>Southern New Hampshire</td>
		</tr>
		<tr>
			<td>Daniel Cabassa</td>
			<td>Holderness NY</td>
			<td>Post</td>
		</tr>
		<tr>
			<td>Luis Cartegna</td>
			<td>Trinity Pawling NY</td>
			<td>NYIT</td>
		</tr>
		<tr>
			<td>Paddy Casey</td>
			<td>Scranton Prep PA</td>
			<td>Sciences</td>
		</tr>
		<tr>
			<td>Matt Cerrutti</td>
			<td>Archbishop Wood PA</td>
			<td>Lock Haven</td>
		</tr>
		<tr>
			<td>Owen Chose</td>
			<td>Eden Prairie MN</td>
			<td>Stonehill</td>
		</tr>
		<tr>
			<td>Kareem Clansy</td>
			<td>Forest Trails</td>
			<td>Fayetteville State</td>
		</tr>
		<tr>
			<td>Charlie Clay</td>
			<td>Worcester Academy MA</td>
			<td>Springfield</td>
		</tr>
		<tr>
			<td>Spencer Cline</td>
			<td>Kimball Union NH</td>
			<td>Stonehill</td>
		</tr>
		<tr>
			<td>Pierre Coffy</td>
			<td>Hotchkiss CT</td>
			<td>St. Lawrence</td>
		</tr>
		<tr>
			<td>Ulyen Coleman</td>
			<td>Catholic Memorial MA</td>
			<td>Southern Connecticut</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Oskar Coulter</td>
			<td>Newton South MA</td>
			<td>Hobart</td>
		</tr>
		<tr>
			<td>Bryce Council</td>
			<td>La Salle Academy NY</td>
			<td>Georgian Court</td>
		</tr>
		<tr>
			<td>Khalief Crawford</td>
			<td>Linden NJ</td>
			<td>Merrimack</td>
		</tr>
		<tr>
			<td>Kyle Daggett</td>
			<td>Walkersville MD</td>
			<td>Shepherd</td>
		</tr>
		<tr>
			<td>Colin Daly</td>
			<td>Archbishop Carroll PA</td>
			<td>West Chester</td>
		</tr>
		<tr>
			<td>Spencer Danforth</td>
			<td>Williston Northampton</td>
			<td>Rochester</td>
		</tr>
		<tr>
			<td>Josh Darville</td>
			<td>Christ Chapel VA</td>
			<td>Messiah</td>
		</tr>
		<tr>
			<td>Matt Davet</td>
			<td>St Ignatius OH</td>
			<td>Emory</td>
		</tr>
		<tr>
			<td>Owen De Graaf</td>
			<td>Choate Rosemary Hall CT</td>
			<td>Stonehill</td>
		</tr>
		<tr>
			<td>Joe Del Ricci</td>
			<td>Marianapolis CT</td>
			<td>Endicott</td>
		</tr>
		<tr>
			<td>Shannon Denny</td>
			<td>Pomfret CT</td>
			<td>Mercy</td>
		</tr>
		<tr>
			<td>Chad DiCenzo</td>
			<td>Pingree MA</td>
			<td>Clarkson</td>
		</tr>
		<tr>
			<td>Jaylen Dillard</td>
			<td>Lloyd C Bird VA</td>
			<td>Johnson C Smith</td>
		</tr>
		<tr>
			<td>Alec DiPietrantonio</td>
			<td>Bishop Eustace</td>
			<td>Stevens Tech</td>
		</tr>
		<tr>
			<td>Trent Dixon</td>
			<td>Central MD</td>
			<td>Franklin Pierce</td>
		</tr>
		<tr>
			<td>Colin Donovan</td>
			<td>Choate Rosemary Hall CT</td>
			<td>Trinity</td>
		</tr>
		<tr>
			<td>Manley Dorme</td>
			<td>Don Bosco NJ</td>
			<td>Caldwell</td>
		</tr>
		<tr>
			<td>Kaleb Downing</td>
			<td>St. Andrews RI</td>
			<td>WPI</td>
		</tr>
		<tr>
			<td>Jon Duvivier</td>
			<td>Commonwealth Academy MA</td>
			<td>Post</td>
		</tr>
		<tr>
			<td>Javaughn Edmonds</td>
			<td>Thayer Academy MA</td>
			<td>Southern New Hampshire</td>
		</tr>
		<tr>
			<td>Kyle Elliott</td>
			<td>Coastal Academy NJ</td>
			<td>Goldey Beacom</td>
		</tr>
		<tr>
			<td>Derrick Ellis</td>
			<td>Commonwealth Academy MA</td>
			<td>Mercyhurst</td>
		</tr>
		<tr>
			<td>Rhona Eseyade</td>
			<td>Bergen Catholic NJ</td>
			<td>Union</td>
		</tr>
		<tr>
			<td>Justin Faison</td>
			<td>Gwynn Park MD</td>
			<td>Elizabeth City State</td>
		</tr>
		<tr>
			<td>Daren Faulk</td>
			<td>Hempstead NY</td>
			<td>Morrisville State</td>
		</tr>
		<tr>
			<td>Nate Freeman</td>
			<td>Beaver Country Day MA</td>
			<td>Union</td>
		</tr>
		<tr>
			<td>Ethan Gabert-Doyon</td>
			<td>Brooks MA</td>
			<td>Emerson</td>
		</tr>
		<tr>
			<td>Karlyn Garner</td>
			<td>Mt. Zion </td>
			<td>Slippery Rock</td>
		</tr>
		<tr>
			<td>Austin Gilbertson</td>
			<td>Trinity Catholic PA</td>
			<td>Pace</td>
		</tr>
		<tr>
			<td>Ty'Jon Gilmore</td>
			<td>St. Thomas More CT</td>
			<td>Dominican</td>
		</tr>
		<tr>
			<td>Isaiah Godwin</td>
			<td>Brooks MA</td>
			<td>Catholic</td>
		</tr>
		<tr>
			<td>Chris Greene</td>
			<td>St Mary's Ryken MD</td>
			<td>Wheeling Jesuit</td>
		</tr>
		<tr>
			<td>Matt Hanna</td>
			<td>Vermont Academy</td>
			<td>Colby</td>
		</tr>
		<tr>
			<td>Dustin Harder</td>
			<td>Wellington OH</td>
			<td>Belmont Abbey</td>
		</tr>
		<tr>
			<td>Conor Harkins</td>
			<td>Greenwich CT</td>
			<td>Swarthmore</td>
		</tr>
		<tr>
			<td>Liam Harrington</td>
			<td>Herndon VA</td>
			<td>Christopher Newport</td>
		</tr>
		<tr>
			<td>Brycen Harris</td>
			<td>Wilbraham &amp; Monson</td>
			<td>Southern Virginia</td>
		</tr>
		<tr>
			<td>Dwayne Henry</td>
			<td>IMG FL</td>
			<td>Queens</td>
		</tr>
		<tr>
			<td>Kyle Henseler</td>
			<td>Williamston Northampton</td>
			<td>Assumption</td>
		</tr>
		<tr>
			<td>Jason Heter</td>
			<td>Newton NJ</td>
			<td>St. Michaels</td>
		</tr>
		<tr>
			<td>Donnell Hill</td>
			<td>Hill PA</td>
			<td>Dominican</td>
		</tr>
		<tr>
			<td>Brendan Hoban</td>
			<td>Millbrook NY</td>
			<td>Wheeling Jesuit</td>
		</tr>
		<tr>
			<td>Austin Hutcherson</td>
			<td>Hun NJ</td>
			<td>Wesleyan</td>
		</tr>
		<tr>
			<td>Brandon Jacobs</td>
			<td>Long Island Lutheran NY</td>
			<td>Pace</td>
		</tr>
		<tr>
			<td>Liam Jacobs</td>
			<td>Putnam Science CT</td>
			<td>Lasell</td>
		</tr>
		<tr>
			<td>Alonzo Jackson</td>
			<td>Pingree MA</td>
			<td>St. Anselm's</td>
		</tr>
		<tr>
			<td>Andrew Jaworski</td>
			<td>Tolland CT</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td>Darien Jenkins</td>
			<td>Deer Park NY</td>
			<td>LIU Post</td>
		</tr>
		<tr>
			<td>Isaiah Jennings</td>
			<td>Woodrow Wilson DC</td>
			<td>Kutztown</td>
		</tr>
		<tr>
			<td>Devin Jensen</td>
			<td>Manasquan NJ</td>
			<td>Merrimack</td>
		</tr>
		<tr>
			<td>Chandler Jones</td>
			<td>Commonwealth Academy MA</td>
			<td>Brandeis</td>
		</tr>
		<tr>
			<td>Gio Jones</td>
			<td>Granby VA</td>
			<td>Goldey Beacom</td>
		</tr>
		<tr>
			<td>Ross Jones</td>
			<td>Friends MD</td>
			<td>New Haven</td>
		</tr>
		<tr>
			<td>Jake Kakar</td>
			<td>MacDuffie MA</td>
			<td>Barton</td>
		</tr>
		<tr>
			<td>Matt Kelly</td>
			<td>Quince Orchard MD</td>
			<td>Assumption</td>
		</tr>
		<tr>
			<td>Austin Kennedy</td>
			<td>St. Augustine's NJ</td>
			<td>LIU Post</td>
		</tr>
		<tr>
			<td>Matt King</td>
			<td>Mason OH</td>
			<td>Ohio Dominican</td>
		</tr>
		<tr>
			<td>Griffin Kornaker</td>
			<td>Suffield Academy CT</td>
			<td>Middlebury</td>
		</tr>
		<tr>
			<td>Austin Lavitt</td>
			<td>Kent CT</td>
			<td>Case Western</td>
		</tr>
		<tr>
			<td>Colton Lawrence</td>
			<td>Hill PA</td>
			<td>Bentley</td>
		</tr>
		<tr>
			<td>Tyler Leclerc</td>
			<td>Groton Dunstable MA</td>
			<td>Salem State</td>
		</tr>
		<tr>
			<td>Marcellus Livingston</td>
			<td>Linden NJ</td>
			<td>Goldey Beacom</td>
		</tr>
		<tr>
			<td>Jacob Long</td>
			<td>Cesar Chavez DC</td>
			<td>Bowie State</td>
		</tr>
		<tr>
			<td>Monytung Maker</td>
			<td>Bradford Christian MA</td>
			<td>Franklin Pierce</td>
		</tr>
		<tr>
			<td>KJ Matte</td>
			<td>Lebanon NH</td>
			<td>Bowdoin</td>
		</tr>
		<tr>
			<td>Devonte McCall</td>
			<td>Westminster CT</td>
			<td>Franklin Pierce</td>
		</tr>
		<tr>
			<td>John McCrae</td>
			<td>DeMatha MD</td>
			<td>Catawba</td>
		</tr>
		<tr>
			<td>Matt McDevitt</td>
			<td>Greely ME</td>
			<td>Endicott</td>
		</tr>
		<tr>
			<td>Colin McNamara</td>
			<td>Arlington MA</td>
			<td>WPI</td>
		</tr>
		<tr>
			<td>Jordan Mello-Klein</td>
			<td>Thayer Academy MA</td>
			<td>Bentley</td>
		</tr>
		<tr>
			<td>Camren Menefee</td>
			<td>St. Joseph's CT</td>
			<td>Rhode Island College</td>
		</tr>
		<tr>
			<td>Isaiah Miles</td>
			<td>Capital Christian MD</td>
			<td>Claflin</td>
		</tr>
		<tr>
			<td>Kollin Mitchell</td>
			<td>Capital Christian MD</td>
			<td>Livingstone</td>
		</tr>
		<tr>
			<td>Brennan Morris</td>
			<td>Loomis Chafee CT</td>
			<td>Tufts</td>
		</tr>
		<tr>
			<td>James Mortimer</td>
			<td>Noble &amp; Greenough MA</td>
			<td>Bates</td>
		</tr>
		<tr>
			<td>Rajae Muhammad</td>
			<td>Mater Dei NJ</td>
			<td>Georgian Court</td>
		</tr>
		<tr>
			<td>Simon Mulaa</td>
			<td>WT Woodson VA</td>
			<td>Slippery Rock</td>
		</tr>
		<tr>
			<td>Tim McCarthy</td>
			<td>Roxbury Latin MA</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td>Mike Morreale</td>
			<td>Gill St Bernards NJ</td>
			<td>Muhlenberg</td>
		</tr>
		<tr>
			<td>Jake Needleman</td>
			<td>Rutgers Prep NJ</td>
			<td>Worcester Poly Tech</td>
		</tr>
		<tr>
			<td>Deng Nhial</td>
			<td>Cheshire Academy CT</td>
			<td>West Georgia</td>
		</tr>
		<tr>
			<td>Trent Noordsij</td>
			<td>Kimball Union</td>
			<td>Rochester</td>
		</tr>
		<tr>
			<td>Austin Nzige-Nyambok</td>
			<td>MacDuffie MA</td>
			<td>Rochester</td>
		</tr>
		<tr>
			<td>Joseph O'Brien</td>
			<td>Abington PA</td>
			<td>Kutztown</td>
		</tr>
		<tr>
			<td>Alonzo Ortiz-Traylor</td>
			<td>McClancy NY</td>
			<td>LIU Post</td>
		</tr>
		<tr>
			<td>Deandre Osuigwe</td>
			<td>IMG FL</td>
			<td>Nyack</td>
		</tr>
		<tr>
			<td>Josh Page</td>
			<td>Rock Creek Christian MD</td>
			<td>Lincoln</td>
		</tr>
		<tr>
			<td>Halil Parks</td>
			<td>Wakefield VA</td>
			<td>Notre Dame College</td>
		</tr>
		<tr>
			<td>Spencer Patenaude</td>
			<td>Concord Carlisle MA</td>
			<td>Dennison</td>
		</tr>
		<tr>
			<td>Nate Patenaude</td>
			<td>Putnam Science CT</td>
			<td>Johnson &amp; Wales</td>
		</tr>
		<tr>
			<td>Brent Pegram</td>
			<td>Wise MD</td>
			<td>Wheeling Jesuit </td>
		</tr>
		<tr>
			<td>Matt Pereira</td>
			<td>St. Benedict's NJ</td>
			<td>Lancaster Bible </td>
		</tr>
		<tr>
			<td>Joe Radi</td>
			<td>St. Joseph's Montvale NJ</td>
			<td>Montclair State</td>
		</tr>
		<tr>
			<td>Keith Rado</td>
			<td>Canterbury CT</td>
			<td>Franklin &amp; Marshall</td>
		</tr>
		<tr>
			<td>Daniel Rahama</td>
			<td>Warwick VA</td>
			<td>Virginia State</td>
		</tr>
		<tr>
			<td>Matt Redhead</td>
			<td>Suffield Academy CT</td>
			<td>Franklin &amp; Marshall</td>
		</tr>
		<tr>
			<td>MJ Richardson</td>
			<td>Masters NY</td>
			<td>Dominican</td>
		</tr>
		<tr>
			<td>James Rider</td>
			<td>Perry Hall MD</td>
			<td>Davis &amp; Elkins</td>
		</tr>
		<tr>
			<td>Grant Robinson</td>
			<td>New Hampton NH</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td>Justin Route</td>
			<td>Capital Christian MD</td>
			<td>Bowie State</td>
		</tr>
		<tr>
			<td>Gus Rowland</td>
			<td>Moravian Prep VA</td>
			<td>Chowan</td>
		</tr>
		<tr>
			<td>Alijah Rue</td>
			<td>Noble &amp; Greenough MA</td>
			<td>Bard</td>
		</tr>
		<tr>
			<td>Jake Russo</td>
			<td>West Islip NY</td>
			<td>NYIT</td>
		</tr>
		<tr>
			<td>Quincy Rutherford</td>
			<td>Eneastern Christian NJ</td>
			<td>Rutgers Newark</td>
		</tr>
		<tr>
			<td>Aidan Ruthsatz</td>
			<td>Covington Catholic KY</td>
			<td>Christian Brothers</td>
		</tr>
		<tr>
			<td>Semih Say</td>
			<td>Brewster Academy NH</td>
			<td>Brandeis</td>
		</tr>
		<tr>
			<td>Brandon Simpson</td>
			<td>Seneca Valley MD</td>
			<td>Emmanuel</td>
		</tr>
		<tr>
			<td>Raheem Spence</td>
			<td>Avon Old Farms CT</td>
			<td>Bates</td>
		</tr>
		<tr>
			<td>Garrett Stephenson</td>
			<td>Suffield CT</td>
			<td>WPI</td>
		</tr>
		<tr>
			<td>Jeff Stockmal</td>
			<td>Shelton CT</td>
			<td>Roger Williams</td>
		</tr>
		<tr>
			<td>Matt Sunderland</td>
			<td>Cumberland Valley PA</td>
			<td>Juniata</td>
		</tr>
		<tr>
			<td>Christian Sweazie </td>
			<td>Potomac Falls VA</td>
			<td>Fairmont State </td>
		</tr>
		<tr>
			<td>Maguire Sweeney</td>
			<td>Union Catholic NJ</td>
			<td>Stevens Tech</td>
		</tr>
		<tr>
			<td>Fred Taylor</td>
			<td>Boys Latin PA</td>
			<td>West Chester</td>
		</tr>
		<tr>
			<td>Austin Tchikatilov</td>
			<td>Kinnelon NJ</td>
			<td>Rochester</td>
		</tr>
		<tr>
			<td>Jamir Thomas</td>
			<td>Passaic NJ</td>
			<td>Felician </td>
		</tr>
		<tr>
			<td>Tim Thomas</td>
			<td>Commonwealth Academy MA</td>
			<td>Philadelphia</td>
		</tr>
		<tr>
			<td>Nick Timberlake</td>
			<td>Braintree MA</td>
			<td>Kimball Union</td>
		</tr>
		<tr>
			<td>Chris Tracey</td>
			<td>Cherokee NJ</td>
			<td>York (PA)</td>
		</tr>
		<tr>
			<td>Alan Treakle</td>
			<td>Wakefield VA</td>
			<td>Mount Olive</td>
		</tr>
		<tr>
			<td>Francis Uzorh</td>
			<td>Cushing Academy MA</td>
			<td>Trinity</td>
		</tr>
		<tr>
			<td>Matt Valles</td>
			<td>Old Rochester MA</td>
			<td>Gordon</td>
		</tr>
		<tr>
			<td>William Vedder</td>
			<td>Rock Creek Christian</td>
			<td>Virginia State</td>
		</tr>
		<tr>
			<td>Jordan Vidal</td>
			<td>Commonwealth Academy MA</td>
			<td>AIC</td>
		</tr>
		<tr>
			<td>Andrew Ward</td>
			<td>Pope John NJ</td>
			<td>Bowdoin</td>
		</tr>
		<tr>
			<td>Manny Warren</td>
			<td>St. Mary's Elizabeth</td>
			<td>Felician</td>
		</tr>
		<tr>
			<td>Jamal Washington</td>
			<td>Potomac VA</td>
			<td>Millersville</td>
		</tr>
		<tr>
			<td>Kohlby Washington</td>
			<td>Woodbridge VA</td>
			<td>Winston Salem</td>
		</tr>
		<tr>
			<td>Maurice Waters</td>
			<td>Constitution PA</td>
			<td>UDC</td>
		</tr>
		<tr>
			<td>Noah Webster</td>
			<td>St. Vincent Pallotti</td>
			<td>Belmont Abbey</td>
		</tr>
		<tr>
			<td>Dakota Wheeler</td>
			<td>Wilbraham &amp; Monson MA</td>
			<td>WPI</td>
		</tr>
		<tr>
			<td>Marquis Wilkerson</td>
			<td>Capital Christian MD</td>
			<td>Concordia</td>
		</tr>
		<tr>
			<td>Adonis Williams</td>
			<td>Brooks School</td>
			<td>AIC</td>
		</tr>
		<tr>
			<td>Imrie Worley</td>
			<td>Woodbridge VA</td>
			<td>Barton</td>
		</tr>
		<tr>
			<td>Quincy Wright</td>
			<td>Pennsauken</td>
			<td>Goldey Beacom</td>
		</tr>
	</tbody>
</table>
