<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>NBA Team</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/DwightHoward100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/DwightHoward100.jpg" alt="" title="DwightHoward100" width="100" height="120" class="aligncenter size-full wp-image-1373" /></a></td>
			<td>Dwight Howard</td>
			<td>Orlando Magic</td>
			<td>SW Atlanta Christian HS GA</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/chrisbosh2100.jpg" alt="chrisbosh2100" width="100" height="120" class="aligncenter size-full wp-image-70769" /></td>
			<td>Chris Bosh</td>
			<td>Miami Heat</td>
			<td>Georgia Tech</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Luol-Deng-100.jpg" alt="" title="Luol Deng 100" width="100" height="120" class="aligncenter size-full wp-image-1260" /></td>
			<td>Luol Deng</td>
			<td>Chicago Bulls</td>
			<td>Blair NJ</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/RoyHibbert100.jpg" alt="RoyHibbert100" width="100" height="135" class="aligncenter size-full wp-image-71058" /></td>
			<td>Roy Hibert</td>
			<td>Indiana Pacers</td>
			<td>Georgetown</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Carmelo-Anthony-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Carmelo-Anthony-100.jpg" alt="" title="Carmelo Anthony 100" width="100" height="120" class="aligncenter size-full wp-image-1253" /></a></td>
			<td>Carmelo Anthony</td>
			<td>Denver Nuggets</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/KobeBryant100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/KobeBryant100.jpg" alt="" title="KobeBryant100" width="100" height="120" class="aligncenter size-full wp-image-1380" /></a></td>
			<td>Kobe Bryant</td>
			<td>Los Angeles Lakers</td>
			<td>Lower Merion HS PA</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Chris-Paul-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Chris-Paul-100.jpg" alt="" title="Chris Paul 100" width="100" height="120" class="aligncenter size-full wp-image-1254" /></a></td>
			<td>Chris Paul</td>
			<td>New Orleans Hornets</td>
			<td>Wake Forest</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/kevindurant100.jpg" alt="" title="kevindurant100" width="100" height="120" class="aligncenter size-full wp-image-7585" /></td>
			<td>Kevin Durant</td>
			<td>Oklahoma City Thunder</td>
			<td>Texas</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/AndrewBynum100.jpg" alt="" title="AndrewBynum100" width="100" height="120" class="aligncenter size-full wp-image-1381" /></td>
			<td>Andrew Bynum</td>
			<td>Los Angeles Lakers</td>
			<td>St. Joseph's Metuchen NJ</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/LaMarcusAldridge100.jpg" alt="LaMarcusAldridge100" width="100" height="120" class="aligncenter size-full wp-image-70772" /></td>
			<td>LaMarcus Aldridge</td>
			<td>Portland Trail Blazers</td>
			<td>Texas</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DeronWilliams100.jpg" alt="DeronWilliams100" width="100" height="120" class="aligncenter size-full wp-image-71060" /></td>
			<td>Deron Williams</td>
			<td>New Jersey Nets</td>
			<td>Illinois</td>
		</tr>
	</tbody>
</table>
