<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>St. Benedict's  57</td>
			<td>Raritan  47</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Anthony  58</td>
			<td>Seton Hall Prep  52</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Neptune  53</td>
			<td>CBA  43</td>
			<td></td>
		</tr>
	</tbody>
</table>
