<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>David Kachelries</td>
			<td>Emmaus PA</td>
		</tr>
		<tr>
			<td>Taj-Malik Benning</td>
			<td>Bergen Catholic NJ</td>
		</tr>
		<tr>
			<td>Elijah Olaniyi</td>
			<td>Newark East Side NJ</td>
		</tr>
		<tr>
			<td>Amanze Njoku</td>
			<td>Chesapeake MD</td>
		</tr>
		<tr>
			<td>Keve Aluma</td>
			<td>Stephen Decatur MD</td>
		</tr>
		<tr>
			<td>Gabe Stefanini</td>
			<td>Bergen Catholic NJ</td>
		</tr>
		<tr>
			<td>Michael McGuirl</td>
			<td>East Catholic CT</td>
		</tr>
		<tr>
			<td>Saquan Singleton</td>
			<td>Monsignor Scanlan NY</td>
		</tr>
		<tr>
			<td>Josip Vrankic</td>
			<td>Father John Redmond CN</td>
		</tr>
		<tr>
			<td>AJ Wilson</td>
			<td>Elev8 Sports FL</td>
		</tr>
		<tr>
			<td>Cormac Ryan</td>
			<td>Milton Academy MA</td>
		</tr>
		<tr>
			<td>Kendrick Gray</td>
			<td>Vermont Academy VT</td>
		</tr>
		<tr>
			<td>Joel Boyce</td>
			<td>St. Luke's CT</td>
		</tr>
		<tr>
			<td>Idan Treout</td>
			<td>Bishop Loughlin NY</td>
		</tr>
		<tr>
			<td>Darron Barnes</td>
			<td>Wise MD</td>
		</tr>
		<tr>
			<td>Scott Hitchon</td>
			<td>Balboa City CN</td>
		</tr>
		<tr>
			<td>Jahsim Floyd</td>
			<td>Sayreville NJ</td>
		</tr>
		<tr>
			<td>Elijah Clarance</td>
			<td>St. Maria Goretti MD</td>
		</tr>
		<tr>
			<td>Talek Williams</td>
			<td>William Allen PA</td>
		</tr>
		<tr>
			<td>Tyrese Martin</td>
			<td>William Allen PA</td>
		</tr>
		<tr>
			<td>Sandro Mamukelashuili</td>
			<td>Montverde Academy FL</td>
		</tr>
		<tr>
			<td>Joe Jones</td>
			<td>Park NY</td>
		</tr>
	</tbody>
</table>
