<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/jacoboconnellmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91305" />MVP - Jacob O'Connell</td>
			<td>St. Joe's Prep  48</td>
			<td>Berks Catholic  25</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/luisgarcia100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91309" />MVP - Luis Garcia</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/seansimon2100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91307" />MVP - Sean Simon</td>
			<td>LaSalle  68</td>
			<td>Reading  45</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/rickylopez100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91311" />MVP - Ricky Lopez</td>
		</tr>
	</tbody>
</table>
