<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Grad Year</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Malik Washington</td>
			<td>2017</td>
			<td>Williamsport PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Marquis Flegler</td>
			<td>2017</td>
			<td>Hightstown NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Mason Bossert</td>
			<td>2017</td>
			<td>Elco PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Williams</td>
			<td>2017</td>
			<td>North Point MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Jack Doty</td>
			<td>2018</td>
			<td>Iona Prep NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Jordan Caruso</td>
			<td>2017</td>
			<td>Staten Island Academy NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Mitchell Dezort</td>
			<td>2017</td>
			<td>Highlands PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Nikholas Parker</td>
			<td>2017</td>
			<td>Weston CT</td>
		</tr>
		<tr>
			<td></td>
			<td>Anthony Iglesias</td>
			<td>2018</td>
			<td>McQuaid NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Moawaz Sheikh</td>
			<td>2018</td>
			<td>Sir William Mulock CN</td>
		</tr>
		<tr>
			<td></td>
			<td>Federico Massone</td>
			<td>2017</td>
			<td>Liceo Classico Aosta Italy</td>
		</tr>
		<tr>
			<td></td>
			<td>Jacob Hargraves</td>
			<td>2018</td>
			<td>Iona Prep NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Michael Mundowa</td>
			<td>2017</td>
			<td>Vermont Academy VT</td>
		</tr>
		<tr>
			<td></td>
			<td>Noah Allen</td>
			<td>2017</td>
			<td>North Murray GA</td>
		</tr>
		<tr>
			<td></td>
			<td>Jalen Pickett</td>
			<td>2017</td>
			<td>North Murray GA</td>
		</tr>
		<tr>
			<td></td>
			<td>Cameron Hoffman</td>
			<td>2017</td>
			<td>Liberty PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Trovel Lennon</td>
			<td>2018</td>
			<td>Stem PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Roger Evans</td>
			<td>2017</td>
			<td>Perry Hall MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Dan Mansino</td>
			<td>2017</td>
			<td>Fairport NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Kobe Colston</td>
			<td>2017</td>
			<td>Springbrook MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Alphonso Barney</td>
			<td>2018</td>
			<td>Lake Clifton MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Josh Reding</td>
			<td>2018</td>
			<td>Spencerport NY</td>
		</tr>
	</tbody>
</table>
