<table>
	<thead>
		<tr>
			<th></th>
			<th>Year</th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/04/TreyBurke100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-29818" /></td>
			<td>2013</td>
			<td>Trey Burke</td>
			<td>Michigan</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/kendallmarshall100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18829" /></td>
			<td>2012</td>
			<td>Kendall Marshall</td>
			<td>North Carolina</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/Kemba-Walker-1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-2461" /></td>
			<td>2011</td>
			<td>Kemba Walker</td>
			<td>UConn</td>
		</tr>
		<tr>
			<td></td>
			<td>2009</td>
			<td>Ty Lawson</td>
			<td>North Carolina</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/11/RayFelton100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-27007" /></td>
			<td>2005</td>
			<td>Raymond Felton</td>
			<td>North Carolina</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/01/Jameer-Nelson-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-1372" /></td>
			<td>2004</td>
			<td>Jameer Nelson</td>
			<td>St. Joseph's</td>
		</tr>
	</tbody>
</table>
