<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>College</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Tarchee Brown</td>
			<td>Eastern Connecticut</td>
			<td>Rockville CT</td>
		</tr>
		<tr>
			<td>Jonathan Patron</td>
			<td>SUNY Plattsburgh</td>
			<td>Huntington NY</td>
		</tr>
		<tr>
			<td>Chimaechi Ekekeugbor</td>
			<td>Baruch</td>
			<td>Matawan NJ</td>
		</tr>
		<tr>
			<td>Edvinas Rupkus</td>
			<td>Skidmore</td>
			<td>Naujojie Akmene Lithuania</td>
		</tr>
		<tr>
			<td>Brandon Federici</td>
			<td>Franklin &amp; Marshall</td>
			<td>Morganville NJ</td>
		</tr>
		<tr>
			<td>Jay Howard</td>
			<td>Catholic</td>
			<td>Pennsauken NJ</td>
		</tr>
		<tr>
			<td>Jake Ross</td>
			<td>Springfield</td>
			<td>Northampton MA</td>
		</tr>
		<tr>
			<td>Tyler Stenglein</td>
			<td>Nazareth</td>
			<td>Rochester NY</td>
		</tr>
	</tbody>
</table>
