<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP - Alexandra Alfano</td>
			<td>Red Bank Catholic  67</td>
			<td>Jackson Memorial  31</td>
			<td>MVP - Morgan Williams</td>
		</tr>
		<tr>
			<td>MVP - Hannah Missry</td>
			<td>Rumson  52</td>
			<td>Holy Spirit  36</td>
			<td>MVP - Gina Lewis</td>
		</tr>
		<tr>
			<td>MVP - Lyndsay Rowe</td>
			<td>St. John Vianney  51</td>
			<td>Point Boro  42</td>
			<td>MVP - Kelly Hughes</td>
		</tr>
	</tbody>
</table>
