<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>St. Anthony  89</td>
			<td>Peddie  36</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Neptune  72</td>
			<td>Linden  66</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Bloomfield Tech  63</td>
			<td>St. Patrick  59</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Paterson Kennedy  79</td>
			<td>Camden Catholic  72</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>South Plainfield  67</td>
			<td>Elizabeth  58</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>CBA  53</td>
			<td>St. Joseph's Montvale  42</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Bloomfield Tech  61</td>
			<td>Hudson Catholic  47</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick  67</td>
			<td>Irvington  49</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Don Bosco  52</td>
			<td>St. Joseph's Metuchen  26</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Raymond's NY  70</td>
			<td>Paterson Catholic  57</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Scotch Plains  64</td>
			<td>Cranford  47</td>
			<td></td>
		</tr>
	</tbody>
</table>
