<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Scotch Plains  80</td>
			<td>Neptune  78</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Bloomfield Tech  50</td>
			<td>Hackensack  48</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Winchendon MA  59</td>
			<td>St. Benedict's Prep  49</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Don Bosco  57</td>
			<td>Bridgewater  54</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>CBA  63</td>
			<td>Chatham  44</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Columbia  67</td>
			<td>Seton Hall Prep  42</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Benedict's HS  83</td>
			<td>Bloomfield  28</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Linden  51</td>
			<td>St. Joseph's Montvale  49</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Raymond's NY  82</td>
			<td>Paterson Catholic  70</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Anthony  72</td>
			<td>Hun  45</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick  54</td>
			<td>Science  32</td>
			<td></td>
		</tr>
	</tbody>
</table>
