<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/RJBarrett100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-92085" /></td>
			<td>RJ Barrett</td>
			<td>Montverde FL</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/mosesbrown100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-92076" /></td>
			<td>Moses Brown</td>
			<td>Molloy NY</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/LouisKingtip17100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91247" /></td>
			<td>Louis King</td>
			<td>Hudson Catholic NJ</td>
			<td>Oregon</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/davidmccormack100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-92082" /></td>
			<td>David McCormack</td>
			<td>Oak Hill VA</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/11/immanuelquickley3100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-90760" /></td>
			<td>Immanuel Quickley</td>
			<td>John Carroll MD</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/11/nazreid100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-90757" /></td>
			<td>Nazreon Reid</td>
			<td>Roselle Catholic NJ</td>
			<td>LSU</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/08/jalensmith100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-88711" /></td>
			<td>Jalen Smith</td>
			<td>Mt. St. Joseph's MD</td>
			<td>Maryland</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/11/keldonjohnson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-90711" /></td>
			<td>Keldon Johnson</td>
			<td>Oak Hill VA</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/08/jahvonquinerly100.jpg" alt="" width="100" height="119" class="aligncenter size-full wp-image-88687" /></td>
			<td>Jahvon Quinerly</td>
			<td>Hudson Catholic NJ</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/camreddish100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82530" /></td>
			<td>Cameron Reddish</td>
			<td>Westtown PA</td>
			<td>Duke</td>
		</tr>
	</tbody>
</table>
