<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Hun  56</td>
			<td>Hackensack  51</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Blair  52</td>
			<td>Bloomfield  37</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Linden  61</td>
			<td>Don Bosco  60</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Patrick School  58</td>
			<td>Gill St. Bernards  38</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Seton Hall Prep  58</td>
			<td>Columbia  48</td>
			<td></td>
		</tr>
	</tbody>
</table>
