<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Josh Mack</td>
			<td>St. Maria Goretti MD</td>
		</tr>
		<tr>
			<td>Angelo Stuart</td>
			<td>Bedford Academy NY</td>
		</tr>
		<tr>
			<td>Logan Galanes</td>
			<td>Keene NH</td>
		</tr>
		<tr>
			<td>Jahvion Johnson</td>
			<td>Kempsville VA</td>
		</tr>
		<tr>
			<td>Andrew Jaworski</td>
			<td>Tolland CT</td>
		</tr>
		<tr>
			<td>Lukas Yurasits</td>
			<td>Berkeley Carroll NY</td>
		</tr>
		<tr>
			<td>Kyle Henderson</td>
			<td>Algonquin Regional MA</td>
		</tr>
		<tr>
			<td>Edward Ambrosi</td>
			<td>St. John's College DC</td>
		</tr>
		<tr>
			<td>Isaiah Stone</td>
			<td>Baldwin NY</td>
		</tr>
		<tr>
			<td>Nicholas Kratholm</td>
			<td>IMG Academy FL</td>
		</tr>
		<tr>
			<td>Camrin Miller</td>
			<td>Whale Branch SC</td>
		</tr>
		<tr>
			<td>Skylar Sinon</td>
			<td>Byram Hills NY</td>
		</tr>
		<tr>
			<td>Tilquan Rucker</td>
			<td>South Bronx Prep NY</td>
		</tr>
		<tr>
			<td>Doug Hostetler</td>
			<td>Somers CT</td>
		</tr>
		<tr>
			<td>Jared Peters</td>
			<td>Governor Mifflin PA</td>
		</tr>
		<tr>
			<td>Dimitry Moise</td>
			<td>Trinity Catholic CT</td>
		</tr>
		<tr>
			<td>Graham Le Mon</td>
			<td>Chatham NJ</td>
		</tr>
		<tr>
			<td>Aron Mata</td>
			<td>Vaughn Secondary CN</td>
		</tr>
		<tr>
			<td>Matthew Glassman</td>
			<td>Lawrence Academy MA</td>
		</tr>
		<tr>
			<td>Jeremiah Gibson</td>
			<td>IMG Academy FL</td>
		</tr>
		<tr>
			<td>Bryce Waterman</td>
			<td>Colonie Central NY</td>
		</tr>
		<tr>
			<td>Christopher Mann</td>
			<td>Phillipsburg NJ</td>
		</tr>
		<tr>
			<td>Isaiah Sanders</td>
			<td>Timber Creek NJ</td>
		</tr>
		<tr>
			<td>Raymundo Pastor</td>
			<td>IMG Academy FL</td>
		</tr>
	</tbody>
</table>
