<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/Mohammed-Bamba-100.jpg" alt="Mohammed Bamba 100" width="100" height="120" class="aligncenter size-full wp-image-82449" /></td>
			<td>Mohamed Bamba</td>
			<td>Westtown PA</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/TrevonDuval100.jpg" alt="TrevonDuval100" width="100" height="120" class="aligncenter size-full wp-image-82436" /></td>
			<td>Trevon Duval</td>
			<td>IMG Academy FL</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/QuadeGreen100-1.jpg" alt="QuadeGreen100" width="100" height="120" class="aligncenter size-full wp-image-82438" /></td>
			<td>Quade Green</td>
			<td>Neuman Goretti PA</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/NickRichards2100.jpg" alt="nickrichards2100" width="100" height="120" class="aligncenter size-full wp-image-82126" /></td>
			<td>Nick Richards</td>
			<td>Patrick School NJ</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/LonnieWalkerHGE100.jpg" alt="lonniewalkerhge100" width="100" height="120" class="aligncenter size-full wp-image-80408" /></td>
			<td>Lonnie Walker</td>
			<td>Reading PA</td>
			<td>Miami</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/MJWalker100.jpg" alt="MJWalker100" width="100" height="120" class="aligncenter size-full wp-image-82447" /></td>
			<td>MJ Walker</td>
			<td>Jonesboro GA</td>
			<td></td>
		</tr>
	</tbody>
</table>
