<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>St. Patrick NJ  61</td>
			<td>Whitehall  58</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Anthony NJ  69</td>
			<td>Chester  52</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Paterson Catholic NJ  61</td>
			<td>Hazelton  47</td>
			<td></td>
		</tr>
	</tbody>
</table>
