<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Home Team</th>
			<th>Away Team</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57085" rel="attachment wp-att-57085"><img src="https://hoopgroup.com/wp-content/uploads/2015/01/DanLargeymvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57085" /></a>Dan Largey: 25 points</td>
			<td>Shore  58</td>
			<td>Long Branch  36</td>
			<td><a href="http://hoopgroup.com/?attachment_id=57090" rel="attachment wp-att-57090"><img src="https://hoopgroup.com/wp-content/uploads/2015/01/TyreeMorrismvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57090" /></a>Tyree Morris: 10 points</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57086" rel="attachment wp-att-57086"><img src="https://hoopgroup.com/wp-content/uploads/2015/01/RyanLawrencemvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57086" /></a>Ryan Lawrence: 17 points</td>
			<td>Lakewood  44</td>
			<td>Neptune  50
</td>
			<td><a href="http://hoopgroup.com/?attachment_id=57091" rel="attachment wp-att-57091"><img src="https://hoopgroup.com/wp-content/uploads/2015/01/BarryBrownmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57091" /></a>Barry Brown: 18 points</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57087" rel="attachment wp-att-57087"><img src="https://hoopgroup.com/wp-content/uploads/2015/01/TaureanThompsonmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57087" /></a>Taureen Thompson: 13 points</td>
			<td>St. Anthony's  60</td>
			<td>CBA  35</td>
			<td><a href="http://hoopgroup.com/?attachment_id=57092" rel="attachment wp-att-57092"><img src="https://hoopgroup.com/wp-content/uploads/2015/01/PatAndreemvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57092" /></a>Pat Andree: 17 points</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57088" rel="attachment wp-att-57088"><img src="https://hoopgroup.com/wp-content/uploads/2015/01/JimmyPanzinimvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57088" /></a>Jimmy Panzini: 11 points</td>
			<td>Point Beach  42
</td>
			<td>Rumson  57</td>
			<td><a href="http://hoopgroup.com/?attachment_id=57093" rel="attachment wp-att-57093"><img src="https://hoopgroup.com/wp-content/uploads/2015/01/BrandanBarrymvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57093" /></a>Brendan Barry: 32 points</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57089" rel="attachment wp-att-57089"><img src="https://hoopgroup.com/wp-content/uploads/2015/01/LukeOShaughnessymvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57089" /></a>Luke O'Shaughnessy: 15 points</td>
			<td>Manasquan  42</td>
			<td>Matawan  40</td>
			<td><a href="http://hoopgroup.com/?attachment_id=57094" rel="attachment wp-att-57094"><img src="https://hoopgroup.com/wp-content/uploads/2015/01/JasonDunnemvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57094" /></a>Jason Dunne: 16 points</td>
		</tr>
	</tbody>
</table>
