<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Harrisburg  47</td>
			<td>Mercersburg  45</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Christ the King NY  52</td>
			<td>St. Patrick NJ  48</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Hempfield  57</td>
			<td>Roman Catholic  54</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Hatboro Horsham  70</td>
			<td>Newport  67</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Liberty  63</td>
			<td>William Allen  54</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Bishop Hannan  67</td>
			<td>Solebury  57</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>York  64</td>
			<td>Stroudsburg  55</td>
			<td></td>
		</tr>
	</tbody>
</table>
