<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Dewayne Russell</td>
			<td>Imhotep Charter PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/BrendanFerguson100.jpg" alt="" title="BrendanFerguson100" width="100" height="120" class="aligncenter size-full wp-image-12749" /></td>
			<td>Brendan Ferguson</td>
			<td>Xavier NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Samson Usilo</td>
			<td>Mt. Zion NC</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AlexRawa100.jpg" alt="" title="AlexRawa100" width="100" height="120" class="aligncenter size-full wp-image-12750" /></td>
			<td>Alex Rawa</td>
			<td>Locust Valley NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Elijah Brown</td>
			<td>Seton Hall Prep NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/DamiunMoore100.jpg" alt="" title="DamiunMoore100" width="100" height="120" class="aligncenter size-full wp-image-12751" /></td>
			<td>Damiun Moore</td>
			<td>Central Regional NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Lawrence Pierce</td>
			<td>Imhotep Charter PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Tarik Phillip</td>
			<td>Nazareth NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Myrek Fowlkes</td>
			<td>Patterson MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/BrandonPeel100.jpg" alt="" title="BrandonPeel100" width="100" height="120" class="aligncenter size-full wp-image-12752" /></td>
			<td>Brandon Peel</td>
			<td>Riverdale Baptist MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JalenCamper100.jpg" alt="" title="JalenCamper100" width="100" height="120" class="aligncenter size-full wp-image-12753" /></td>
			<td>Jalen Camper</td>
			<td>Beavercreek OH</td>
		</tr>
		<tr>
			<td></td>
			<td>Aaron Clark</td>
			<td>Notre Dame DE</td>
		</tr>
		<tr>
			<td></td>
			<td>Tashawn Desir</td>
			<td>Nia NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/KaanKorkmaz100.jpg" alt="" title="KaanKorkmaz100" width="100" height="120" class="aligncenter size-full wp-image-12780" /></td>
			<td>Kaan Korkmaz</td>
			<td>Turkey</td>
		</tr>
		<tr>
			<td></td>
			<td>Nyme Manns</td>
			<td>Patterson MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/DavianJoseph100.jpg" alt="" title="DavianJoseph100" width="100" height="120" class="aligncenter size-full wp-image-12754" /></td>
			<td>Davian Joseph</td>
			<td>Philadelphia Electrical PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/RomeJenkins100.jpg" alt="" title="RomeJenkins100" width="100" height="120" class="aligncenter size-full wp-image-12781" /></td>
			<td>Rome Jenkins</td>
			<td>Deer Park NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Jalen Branford</td>
			<td>Reading PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MarcelSimon100.jpg" alt="" title="MarcelSimon100" width="100" height="120" class="aligncenter size-full wp-image-12782" /></td>
			<td>Marcel Simon</td>
			<td>DODDS Germany</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ShakirPhelps100.jpg" alt="" title="ShakirPhelps100" width="100" height="120" class="aligncenter size-full wp-image-12783" /></td>
			<td>Shakir Phelps</td>
			<td>Linden NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Jackson Zuvic</td>
			<td>Haldane NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Ashton DeMurrell</td>
			<td>St. Augustine's Trinidad</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TavonBlackmon100.jpg" alt="" title="TavonBlackmon100" width="100" height="120" class="aligncenter size-full wp-image-12784" /></td>
			<td>Tavon Blackmon</td>
			<td>Gonzaga DC</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/VincentJackson100.jpg" alt="" title="VincentJackson100" width="100" height="120" class="aligncenter size-full wp-image-12785" /></td>
			<td>Vincent Jackson</td>
			<td>Springfield NY</td>
		</tr>
	</tbody>
</table>
