<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Asbury Park  43


MVP:  Lamar Young</td>
			<td>Rumson  41


MVP: Matt Blumel</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Monmouth Regional  66


MVP:  Joe Willman</td>
			<td>Lakewood  52


MVP:  Jacob Grant</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick  60


MVP:  Mike Gilchrist</td>
			<td>CBA  59


MVP:  Brian Neller</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Neptune  50


MVP:  Dwayne Gutridge</td>
			<td>Middletown South  48


MVP:  Rob Callori</td>
			<td></td>
		</tr>
	</tbody>
</table>
