<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/RussSmith100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18919" /></td>
			<td>Russ Smith</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td></td>
			<td>Luke Hancock</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td></td>
			<td>Tim Henderson</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/ChaneBehanan100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18830" /></td>
			<td>Chane Behanan</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td></td>
			<td>Montrezl Harrell</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td></td>
			<td>Zach Price</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td></td>
			<td>Mike Marra</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td></td>
			<td>Stephan Van Treese</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td></td>
			<td>Aaron Toomey</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Jesse Pagliuca</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Connor Gach</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Allen Williamson</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>David Kalema</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Tom Killian</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Ben Pollack</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Joseph Mussachia</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Alex Levine</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/04/LoganBuckner100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-29821" /></td>
			<td>Logan Bucker</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Peter Kaasila</td>
			<td>Amherst</td>
		</tr>
	</tbody>
</table>
