<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jake Betlow</td>
			<td>Montverde Academy FL</td>
		</tr>
		<tr>
			<td>Bryan Antoine</td>
			<td>Ranney NJ</td>
		</tr>
		<tr>
			<td>Hassan Diarra</td>
			<td>Holy Cross NY</td>
		</tr>
		<tr>
			<td>Precious Achiuwa</td>
			<td>Our Saviour Lutheran NY</td>
		</tr>
		<tr>
			<td>Qudus Wahab</td>
			<td>Virginia Academy VA</td>
		</tr>
		<tr>
			<td>Josh Pierre-Louis</td>
			<td>Roselle Catholic NJ</td>
		</tr>
		<tr>
			<td>Idan Treout</td>
			<td>Wilbraham &amp; Monson NY</td>
		</tr>
		<tr>
			<td>Paul Mulcahy</td>
			<td>Gill St. Bernards NJ</td>
		</tr>
		<tr>
			<td>Donte Scott</td>
			<td>Imhotep Charter PA</td>
		</tr>
		<tr>
			<td>Maxwell Lorca</td>
			<td>Northfield Mount Hermon MA</td>
		</tr>
		<tr>
			<td>Jalen Gaffney</td>
			<td>Lawrenceville Prep NJ</td>
		</tr>
		<tr>
			<td>Bryce Wills</td>
			<td>Iona Prep NY</td>
		</tr>
		<tr>
			<td>Scottie Lewis</td>
			<td>Ranney NJ</td>
		</tr>
		<tr>
			<td>Zach Crisler</td>
			<td>La Salle PA</td>
		</tr>
		<tr>
			<td>John Bol Ajak</td>
			<td>Church Farm PA</td>
		</tr>
		<tr>
			<td>Anthony Harris</td>
			<td>Paul VI VA</td>
		</tr>
		<tr>
			<td>Cole Anthony</td>
			<td>Molloy NY</td>
		</tr>
		<tr>
			<td>Kahlil Whitney</td>
			<td>Roselle Catholic NJ</td>
		</tr>
		<tr>
			<td>Mikeal Jones</td>
			<td>Girard College PA</td>
		</tr>
		<tr>
			<td>Kofi Cockburn</td>
			<td>Christ the King NY</td>
		</tr>
	</tbody>
</table>
