<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Grad Year</th>
			<th>High School</th>
			<th>College Recruitment</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Adam Pickett</td>
			<td>2015</td>
			<td>Stuart Hall VA</td>
			<td>Committed to Winthrop</td>
		</tr>
		<tr>
			<td>Andre Fox</td>
			<td>2015</td>
			<td>Mount Zion Prep MD</td>
			<td>Committed to High Point</td>
		</tr>
		<tr>
			<td>Elijah Davis</td>
			<td>2015</td>
			<td>IMG Academy FL</td>
			<td>Offered by Fairfield, Norfolk State, Albany</td>
		</tr>
		<tr>
			<td>Vincent Eze</td>
			<td>2015</td>
			<td>Putnam Science CT</td>
			<td>Committed to Manhattan</td>
		</tr>
		<tr>
			<td>Alex Thomas</td>
			<td>2015</td>
			<td>Coastal Academy NJ</td>
			<td>Committed to Towson</td>
		</tr>
		<tr>
			<td>Nisre Zouzoua</td>
			<td>2015</td>
			<td>Boston Trinity MA</td>
			<td>Committed to Bryant</td>
		</tr>
		<tr>
			<td>Austin Vereen</td>
			<td>2015</td>
			<td>Maret DC</td>
			<td>Committed to VMI</td>
		</tr>
		<tr>
			<td>William Robinson</td>
			<td>2015</td>
			<td>St. Francis MD</td>
			<td>Offered by Temple, Depaul</td>
		</tr>
		<tr>
			<td>Kevin Marfo</td>
			<td>2015</td>
			<td>Bergen Catholic NJ</td>
			<td>15 Division 1 offers</td>
		</tr>
		<tr>
			<td>Wyatt Walker</td>
			<td>2015</td>
			<td>Providence FL</td>
			<td>16 Division 1 offers</td>
		</tr>
		<tr>
			<td>Dievidas Zemgulis</td>
			<td>2015</td>
			<td>St. Mary's Ryken MD</td>
			<td>Committed to Penn State</td>
		</tr>
		<tr>
			<td>Jonathan Lawton</td>
			<td>2015</td>
			<td>Friends Central </td>
			<td>Offered by Radford</td>
		</tr>
		<tr>
			<td>CJ Bryce</td>
			<td>2015</td>
			<td>North Mecklenburg NC</td>
			<td>Committed to UNCW</td>
		</tr>
		<tr>
			<td>Brandon Kamga</td>
			<td>2015</td>
			<td>South Lakes VA</td>
			<td>Committed to Northeastern </td>
		</tr>
		<tr>
			<td>Mustapha Traore</td>
			<td>2015</td>
			<td>Phelps School PA</td>
			<td>11 Division 1 offers</td>
		</tr>
		<tr>
			<td>Michael Holloway</td>
			<td>2015</td>
			<td>Schalick NJ</td>
			<td>Committed to Farleigh Dickinson </td>
		</tr>
		<tr>
			<td>Asem Johnson</td>
			<td>2015</td>
			<td>Paterson Eastside</td>
			<td>Offered by St. Peter's, Robert Morris</td>
		</tr>
		<tr>
			<td>Isaiah Lamb</td>
			<td>2015</td>
			<td>Dulaney MD</td>
			<td>Offered by UNC Greensboro, Radford, Winthrop, Sienna, High Point, Loyola</td>
		</tr>
		<tr>
			<td>Carnell Harley</td>
			<td>2015</td>
			<td>Academy of the New Church PA</td>
			<td></td>
		</tr>
		<tr>
			<td>Mohammed Bendary</td>
			<td>2015</td>
			<td>St. Anthony NJ</td>
			<td>Committed to NJIT</td>
		</tr>
		<tr>
			<td>Daniel Wilson</td>
			<td>2015</td>
			<td>St. Paul's MD</td>
			<td>Offered by LIU-Brooklyn, The Citadel</td>
		</tr>
	</tbody>
</table>
