<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>TJ McConnell</td>
			<td>Arizona</td>
		</tr>
		<tr>
			<td></td>
			<td>Olivier Hanlan</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Ulis</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td></td>
			<td>Terry Rozier</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/QuinnCook100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18828" /></td>
			<td>Quinn Cook</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/11/RomelloTrimble100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-55608" /></td>
			<td>Romello Trimble</td>
			<td>Maryland</td>
		</tr>
		<tr>
			<td></td>
			<td>Pierria Henry</td>
			<td>UNCC</td>
		</tr>
		<tr>
			<td></td>
			<td>Delon Wright</td>
			<td>Utah</td>
		</tr>
		<tr>
			<td></td>
			<td>Briante Weber</td>
			<td>VCU</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/10/AndrewHarrison100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44424" /></td>
			<td>Andrew Harrison</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td></td>
			<td>Juwan Staten</td>
			<td>West Virginia</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/10/RyanArcidiacano100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44428" /></td>
			<td>Ryan Arcidiacono</td>
			<td>Villanova</td>
		</tr>
	</tbody>
</table>
