<table>
	<thead>
		<tr>
			<th>Team</th>
			<th>Score</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>St. John Neuman Goretti </td>
			<td>58</td>
			<td>Johnny Davis</td>
		</tr>
		<tr>
			<td>Reading Central Catholic  </td>
			<td>46</td>
			<td>Donovan Jack</td>
		</tr>
	</tbody>
</table>
