<table>
	<thead>
		<tr>
			<th>Showcase Name</th>
			<th>Date</th>
			<th>Location</th>
			<th>Number of Games</th>
			<th>Register Now</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>IN SEASON SHOWCASES</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/highschoolshowcase/reading-hoop-group-tip-off-showcase/">Reading Tip-Off</a></td>
			<td>December 9, 2016</td>
			<td><a href="https://maps.google.com/maps?ie=UTF8&amp;cid=2102938022120884251&amp;q=Albright+College&amp;iwloc=A&amp;gl=US&amp;hl=en">Albright College</a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/highschoolshowcase/tip-off-hoop-group-showcase/">New Jersey Tip-Off</a></td>
			<td>December 17-18, 2016</td>
			<td><a href="https://www.google.com/maps/place/Caldwell+University/@40.8343983,-74.274761,17z/data=!3m1!4b1!4m5!3m4!1s0x89c3aa7ed1bd9d0d:0xf9310128da194d24!8m2!3d40.8343983!4d-74.272567">Caldwell University</a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/highschoolshowcase/boardwalk-hoop-group-showcase/">Boardwalk Showcase</a></td>
			<td>January 7th, 2017</td>
			<td><a href="https://www.google.com/maps/place/Brookdale+Community+College/@40.329076,-74.1324001,17z/data=!3m1!4b1!4m5!3m4!1s0x89c22de43e6f77d9:0x8be5b6e937e426d9!8m2!3d40.329076!4d-74.1302061">Brookdale Community College </a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/highschoolshowcase/boardwalk-hoop-group-showcase/">Girls' Boardwalk Hoop Group Showcase</a></td>
			<td>TBD</td>
			<td>TBD</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/highschoolshowcase/lehigh-valley-showcase/">Lehigh Valley Showcase</a></td>
			<td>January 29, 2017</td>
			<td><a href="https://maps.google.com/maps?ie=UTF8&amp;cid=9488187377894103924&amp;q=Parkland+High+School&amp;iwloc=A&amp;gl=US&amp;hl=en">Parkland High School</a></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>OFF SEASON SHOWCASES</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/highschoolshowcase/summer-hoop-group-showcase/">Hoop Group High School Summer Showcase</a>
</td>
			<td>June 18-19, 2016</td>
			<td><a href="http://hoopgroup.com/headquarters/facility-information/">Hoop Group Headquarters, Neptune NJ</a>
</td>
			<td>2 games/1 day or
4 games/2 day packages available</td>
			<td><a href="https://store.hoopgroup.com/events/2016-summer-hs-showcase">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/highschoolshowcase/fall-high-school-showcase/">Fall High School Showcase</a></td>
			<td>Saturday and Sunday 
October 24-25, 2015 </td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/directions">Hoop Group Headquarters, Neptune NJ</a></td>
			<td>2 games/1 day or
4 games/2 day packages available</td>
			<td><a href="http://www.hoopgroup.com/registration/index.php?cPath=102_133">Buy Now</a>

</td>
		</tr>
	</tbody>
</table>
