<table>
	<thead>
		<tr>
			<th>Team</th>
			<th>Team</th>
			<th>Team</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Bishop Eustace NJ</td>
			<td>Bishop Ireton VA</td>
			<td>Bishop Kearney NY</td>
			<td>Bishop McDevitt PA</td>
		</tr>
		<tr>
			<td>Bishop McNamara MD</td>
			<td>Bishop O'Connell VA</td>
			<td>Bowie MD</td>
			<td>Boys &amp; Girls NY</td>
		</tr>
		<tr>
			<td>Bullis MD</td>
			<td>Cedar Cliff PA</td>
			<td>Chambersburg PA</td>
			<td>Chestnut Hill PA</td>
		</tr>
		<tr>
			<td>Christ the King NY</td>
			<td>Constitution PA</td>
			<td>Davidson Day NC</td>
			<td>Denbigh VA</td>
		</tr>
		<tr>
			<td>Eleanor Roosevelt NY</td>
			<td>Flint Hill MD</td>
			<td>Friends Central PA</td>
			<td>Gill St. Bernards NJ</td>
		</tr>
		<tr>
			<td>Gonzaga DC</td>
			<td>Good Counsel MD</td>
			<td>Hershey PA</td>
			<td>Hill School PA</td>
		</tr>
		<tr>
			<td>Hudson Catholic NJ</td>
			<td>Hun NJ</td>
			<td>Imhotep Charter PA</td>
			<td>Jamesville Dewitt NY</td>
		</tr>
		<tr>
			<td>Landon Prep MD</td>
			<td>Largo MD</td>
			<td>Lincoln NY</td>
			<td>Magruder MD</td>
		</tr>
		<tr>
			<td>Math, Civics &amp; Science PA</td>
			<td>Middletown NY</td>
			<td>Nansemond River VA</td>
			<td>Neuman Goretti PA</td>
		</tr>
		<tr>
			<td>Paul VI VA</td>
			<td>Peddie NJ</td>
			<td>Penn Wood PA</td>
			<td>Pennington NJ</td>
		</tr>
		<tr>
			<td>Pocono Mountain East PA</td>
			<td>Point Pleasant Beach NJ</td>
			<td>The Potomac School- McLean (MD)</td>
			<td>Poughkeepsie NY</td>
		</tr>
		<tr>
			<td>Reading PA</td>
			<td>Roman Catholic PA</td>
			<td>Roselle Catholic NJ</td>
			<td>Scotch Plains NJ</td>
		</tr>
		<tr>
			<td>Scranton PA</td>
			<td>Sidwell Friends DC</td>
			<td>Souderton PA</td>
			<td>South Shore NY</td>
		</tr>
		<tr>
			<td>St. Anthony NJ</td>
			<td>St. Augustine's NJ</td>
			<td>St. Joseph's Metuchen NJ</td>
			<td>St. John DC</td>
		</tr>
		<tr>
			<td>St. Patrick NJ</td>
			<td>St. Paul's MD</td>
			<td>Sussex Tech DE</td>
			<td>Teaneck NJ</td>
		</tr>
		<tr>
			<td>West Charlotte NC</td>
			<td>West Windsor South NJ</td>
			<td>Westtown PA</td>
			<td>Xaverian NY</td>
		</tr>
		<tr>
			<td>York PA</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
