<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High Schools</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/BabaWaples100.jpg" alt="" title="BabaWaples100" width="100" height="120" class="aligncenter size-full wp-image-12755" /></td>
			<td>Baba Waples</td>
			<td>Reading PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MauriceHeard100.jpg" alt="" title="MauriceHeard100" width="100" height="120" class="aligncenter size-full wp-image-12788" /></td>
			<td>Maurice Heard</td>
			<td>Neuman Goretti PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AbdulHineefAdams100.jpg" alt="" title="AbdulHineefAdams100" width="100" height="120" class="aligncenter size-full wp-image-12756" /></td>
			<td>Abdul-Hineef Adams</td>
			<td>University Charter NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/PedroSoto100.jpg" alt="" title="PedroSoto100" width="100" height="120" class="aligncenter size-full wp-image-12789" /></td>
			<td>Pedro Soto</td>
			<td>Yorktown VA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/FranciscoGoni100.jpg" alt="" title="FranciscoGoni100" width="100" height="120" class="aligncenter size-full wp-image-12757" /></td>
			<td>Francisco Goni</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td></td>
			<td>Travis Fonseca</td>
			<td>Trumbull CT</td>
		</tr>
		<tr>
			<td></td>
			<td>Rakeem Boldak</td>
			<td>Rice NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TommySzatkowski100.jpg" alt="" title="TommySzatkowski100" width="100" height="120" class="aligncenter size-full wp-image-12790" /></td>
			<td>Tommy Szatkowski</td>
			<td>Southmoreland PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JacobMagnusson100.jpg" alt="" title="JacobMagnusson100" width="100" height="120" class="aligncenter size-full wp-image-12758" /></td>
			<td>Jacob Magnusson</td>
			<td>Malmo Borgarskolan Sweden</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/IgnacioRodriguez100.jpg" alt="" title="IgnacioRodriguez100" width="100" height="120" class="aligncenter size-full wp-image-12759" /></td>
			<td>Ignacio Rodriguez</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JustinLee100.jpg" alt="" title="JustinLee100" width="100" height="120" class="aligncenter size-full wp-image-12760" /></td>
			<td>Justin Lee</td>
			<td>North Babylon NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Anthony Golaszewski</td>
			<td>Marlboro NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ChristopherMiller100.jpg" alt="" title="ChristopherMiller100" width="100" height="120" class="aligncenter size-full wp-image-12761" /></td>
			<td>Christopher Miller</td>
			<td>Courtland VA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JuanCalderon100.jpg" alt="" title="JuanCalderon100" width="100" height="120" class="aligncenter size-full wp-image-12762" /></td>
			<td>Juan Calderon</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/DelontaYounger100.jpg" alt="" title="DelontaYounger100" width="100" height="120" class="aligncenter size-full wp-image-12763" /></td>
			<td>Delonta Younger</td>
			<td>Friendship Collegiate DC</td>
		</tr>
		<tr>
			<td></td>
			<td>John Osborne</td>
			<td>Immaculata</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MarkFiorello100.jpg" alt="" title="MarkFiorello100" width="100" height="120" class="aligncenter size-full wp-image-12791" /></td>
			<td>Mark Fiorello</td>
			<td>Moore Catholic NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/NickCesare100.jpg" alt="" title="NickCesare100" width="100" height="120" class="aligncenter size-full wp-image-12792" /></td>
			<td>Nick Cesare</td>
			<td>St. Andrew's RI</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/CharlesMason100.jpg" alt="" title="CharlesMason100" width="100" height="120" class="aligncenter size-full wp-image-12764" /></td>
			<td>Charles Mason</td>
			<td>Oak Park MI</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Bruening</td>
			<td>Midpark OH</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ShaneDunn100.jpg" alt="" title="ShaneDunn100" width="100" height="120" class="aligncenter size-full wp-image-12793" /></td>
			<td>Shane Dunn</td>
			<td>Dallas PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/PauFerriLlovera100.jpg" alt="" title="PauFerriLlovera100" width="100" height="120" class="aligncenter size-full wp-image-12794" /></td>
			<td>Pau Ferri Liovera</td>
			<td>Spain</td>
		</tr>
	</tbody>
</table>
