<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/BryanRivers100.jpg" alt="" title="BryanRivers100" width="100" height="120" class="aligncenter size-full wp-image-12869" /></td>
			<td>Bryan Rivers</td>
			<td>West Windsor South NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Britton Lee</td>
			<td>Roman Catholic PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Kayel Locke</td>
			<td>McDonough MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Steven Gomes</td>
			<td>Wings Academy NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Quadri Moore</td>
			<td>Linden NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Trey Dickerson</td>
			<td>Montclair Prep CA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/WadeBaldwin100.jpg" alt="" title="WadeBaldwin100" width="100" height="120" class="aligncenter size-full wp-image-12903" /></td>
			<td>Wade Baldwin</td>
			<td>Immaculata NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MarlonCourt100.jpg" alt="" title="MarlonCourt100" width="100" height="120" class="aligncenter size-full wp-image-12904" /></td>
			<td>Marlon Court</td>
			<td>Robinson School NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Tafari Whittingham</td>
			<td>Stratford CT</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MarcelBoyd100.jpg" alt="" title="MarcelBoyd100" width="100" height="120" class="aligncenter size-full wp-image-12905" /></td>
			<td>Marcel Boyd</td>
			<td>Gwynn Park MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/BrandonMcDonnell100.jpg" alt="" title="BrandonMcDonnell100" width="100" height="120" class="aligncenter size-full wp-image-12870" /></td>
			<td>Brandon McDonnell</td>
			<td>Jackson Memorial NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/NigelSydnor100.jpg" alt="" title="NigelSydnor100" width="100" height="120" class="aligncenter size-full wp-image-12906" /></td>
			<td>Nigel Sydnor</td>
			<td>TBD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/GregoryBrown100.jpg" alt="" title="GregoryBrown100" width="100" height="120" class="aligncenter size-full wp-image-12871" /></td>
			<td>Gregory Brown</td>
			<td>Archbishop Spalding MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ShaneRichards100.jpg" alt="" title="ShaneRichards100" width="100" height="120" class="aligncenter size-full wp-image-12907" /></td>
			<td>Shane Richards</td>
			<td>York Prep NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Marquis Gentry</td>
			<td>Beacon GA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ChasBrown100.jpg" alt="" title="ChasBrown100" width="100" height="120" class="aligncenter size-full wp-image-12872" /></td>
			<td>Chas Brown</td>
			<td>Poly MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Justin Jenkins</td>
			<td>Wings Academy NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/RonPaden100.jpg" alt="" title="RonPaden100" width="100" height="120" class="aligncenter size-full wp-image-12908" /></td>
			<td>Ronnie Paden</td>
			<td>Trenton Catholic NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Joel Angus</td>
			<td>Bishop Loughlin NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/GregNoack100.jpg" alt="" title="GregNoack100" width="100" height="120" class="aligncenter size-full wp-image-12873" /></td>
			<td>Greg Noack</td>
			<td>Liberty PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/WilliamKelly100.jpg" alt="" title="WilliamKelly100" width="100" height="120" class="aligncenter size-full wp-image-12934" /></td>
			<td>William Kelly</td>
			<td>Hun NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/LeronFisher100.jpg" alt="" title="LeronFisher100" width="100" height="120" class="aligncenter size-full wp-image-12909" /></td>
			<td>LeRon Fisher</td>
			<td>Atlanta Sports Academy GA</td>
		</tr>
	</tbody>
</table>
