<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>D'Angelo Russell</td>
			<td>Montverde Academy FL</td>
			<td>Ohio State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/KarlTownsmvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45773" /></td>
			<td>Karl Towns</td>
			<td>St. Joseph's Metuchen</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/RomelloTrimble100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46419" /></td>
			<td>Romelo Trimble</td>
			<td>Bishop O'Connell VA</td>
			<td>Maryland</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/09/IsaiahWhitehead100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-12950" /></td>
			<td>Isaiah Whitehead</td>
			<td>Lincoln NY</td>
			<td>Seton Hall</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Ulis</td>
			<td>Marian Catholic IL</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td></td>
			<td>Thomas Welsh</td>
			<td>Loyola CA</td>
			<td>UCLA</td>
		</tr>
	</tbody>
</table>
