<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
			<th>NBA Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/DwightHoward100.jpg" alt="" title="DwightHoward100" width="100" height="120" class="aligncenter size-full wp-image-1373" /></td>
			<td>Dwight Howard</td>
			<td></td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Jameer-Nelson-100.jpg" alt="" title="Jameer Nelson 100" width="100" height="120" class="aligncenter size-full wp-image-1372" /></td>
			<td>Jameer Nelson</td>
			<td>St. Joseph's</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/chrisbosh2100.jpg" alt="chrisbosh2100" width="100" height="120" class="aligncenter size-full wp-image-70769" /></td>
			<td>Chris Bosh</td>
			<td>Georgia Tech</td>
			<td>Toronto Magic</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/KobeBryant100.jpg" alt="" title="KobeBryant100" width="100" height="120" class="aligncenter size-full wp-image-1380" /></td>
			<td>Kobe Bryant</td>
			<td></td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Chris-Paul-100.jpg" alt="" title="Chris Paul 100" width="100" height="120" class="aligncenter size-full wp-image-1254" /></td>
			<td>Chris Paul</td>
			<td>Wake Forest</td>
			<td>New Orleans Hornets</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Amare-Stoudamire-1001.jpg" alt="" title="Amare Stoudamire 100" width="100" height="120" class="aligncenter size-full wp-image-1392" /></td>
			<td>Amare Stoudemire</td>
			<td></td>
			<td>Phoenix Suns</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DavidWest100-1.jpg" alt="DavidWest100" width="100" height="120" class="aligncenter size-full wp-image-71068" /></td>
			<td>David West</td>
			<td>Xavier</td>
			<td>New Orleans Hornets</td>
		</tr>
	</tbody>
</table>
