<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Dion Wiley
</td>
			<td>Team Takeover DC
</td>
		</tr>
		<tr>
			<td></td>
			<td>Therence Mgamiba
</td>
			<td>Team Takeover DC
</td>
		</tr>
		<tr>
			<td></td>
			<td>Phil Booth
</td>
			<td>Team Takeover DC
</td>
		</tr>
		<tr>
			<td></td>
			<td>Quadree Smith
</td>
			<td>Team Takeover DC
</td>
		</tr>
		<tr>
			<td></td>
			<td>Dante Buford
</td>
			<td>SC Raptors Elite
</td>
		</tr>
		<tr>
			<td></td>
			<td>Jawun Evans
</td>
			<td>SC Raptors Elite
</td>
		</tr>
		<tr>
			<td></td>
			<td>London Johnson
</td>
			<td>SC Raptors Elite
</td>
		</tr>
		<tr>
			<td></td>
			<td>Nathan Smith
</td>
			<td>Team Loaded
</td>
		</tr>
		<tr>
			<td></td>
			<td>Jimmy Paige
</td>
			<td>Boo Williams
</td>
		</tr>
		<tr>
			<td></td>
			<td>Corbyn Jackson
</td>
			<td>Boo Williams
</td>
		</tr>
		<tr>
			<td></td>
			<td>Ayron Hutton
</td>
			<td>Boo Williams
</td>
		</tr>
		<tr>
			<td></td>
			<td>Malik Grey
</td>
			<td>Boo Williams
</td>
		</tr>
		<tr>
			<td></td>
			<td>Ryan Johnson
</td>
			<td>Team Phoenix
</td>
		</tr>
		<tr>
			<td></td>
			<td>Yhanni Bartley
</td>
			<td>Westchester Hawks
</td>
		</tr>
		<tr>
			<td></td>
			<td>Sem Kroon
</td>
			<td>Westchester Hawks
</td>
		</tr>
		<tr>
			<td></td>
			<td>Cheddi Mosely
</td>
			<td>Sports U
</td>
		</tr>
		<tr>
			<td></td>
			<td>Anthony Mosley
</td>
			<td>DC Assault Gold
</td>
		</tr>
		<tr>
			<td></td>
			<td>Daron Gipson
</td>
			<td>Garner Road Byrd
</td>
		</tr>
		<tr>
			<td></td>
			<td>Omari George
</td>
			<td>Bmore's Finest
</td>
		</tr>
		<tr>
			<td></td>
			<td>Allen Costley
</td>
			<td>Bmore's Finest
</td>
		</tr>
		<tr>
			<td></td>
			<td>Dwayne Morgan
</td>
			<td>Bmore's Finest
</td>
		</tr>
		<tr>
			<td></td>
			<td>Omar Roberts
</td>
			<td>VA Assault Gold
</td>
		</tr>
		<tr>
			<td></td>
			<td>Calvin Burks
</td>
			<td>Virginia Stars
</td>
		</tr>
		<tr>
			<td></td>
			<td>Marquise Reed
</td>
			<td>Crusader Nation Gold
</td>
		</tr>
		<tr>
			<td></td>
			<td>Tavon Perry
</td>
			<td>Garner Road Bulldogs Davis
</td>
		</tr>
		<tr>
			<td></td>
			<td>Travis Buckhannon
</td>
			<td>Team Melo
</td>
		</tr>
		<tr>
			<td></td>
			<td>Fortune Okigweh
</td>
			<td>Team Melo
</td>
		</tr>
		<tr>
			<td></td>
			<td>Isaiah Lamb
</td>
			<td>Team Melo
</td>
		</tr>
		<tr>
			<td></td>
			<td>John Crosby
</td>
			<td>Team Melo
</td>
		</tr>
		<tr>
			<td></td>
			<td>Kamiran Cuffee
</td>
			<td>Wave
</td>
		</tr>
		<tr>
			<td></td>
			<td>Troy Locke
</td>
			<td>Wave
</td>
		</tr>
		<tr>
			<td></td>
			<td>Antonio Parker
</td>
			<td>Wave
</td>
		</tr>
		<tr>
			<td></td>
			<td>Ricky Council
</td>
			<td>SEBL
</td>
		</tr>
		<tr>
			<td></td>
			<td>Aaron McDonald
</td>
			<td>Team Future
</td>
		</tr>
		<tr>
			<td></td>
			<td>Kamau Stokes
</td>
			<td>Baltimore Supreme
</td>
		</tr>
		<tr>
			<td></td>
			<td>Alex Long
</td>
			<td>DC Assault Lampkins
</td>
		</tr>
		<tr>
			<td></td>
			<td>Josh Hess
</td>
			<td>East Coast Fusion-Shields
</td>
		</tr>
		<tr>
			<td></td>
			<td>Luke Milanovic
</td>
			<td>East Coast Fusion-Stenger
</td>
		</tr>
		<tr>
			<td></td>
			<td>Caleb Martin
</td>
			<td>Team Loaded Edmonds
</td>
		</tr>
		<tr>
			<td></td>
			<td>Marcus Bryan

</td>
			<td>Garner Road  
</td>
		</tr>
	</tbody>
</table>
