<table>
	<thead>
		<tr>
			<th>NAME</th>
			<th>TEAM</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>John Wallace</td>
			<td>Upstate Elite</td>
		</tr>
		<tr>
			<td>Four McGlynn</td>
			<td>Upstate Elite</td>
		</tr>
		<tr>
			<td>Brima Rogers</td>
			<td>Bay State Magic</td>
		</tr>
		<tr>
			<td>James Levine</td>
			<td>Bay State Magic</td>
		</tr>
		<tr>
			<td>Frankie Kelly</td>
			<td>Gael Force</td>
		</tr>
		<tr>
			<td>Thiago Randazzo</td>
			<td>Gael Force</td>
		</tr>
		<tr>
			<td>Rodney Carney</td>
			<td>Zoo Crew</td>
		</tr>
		<tr>
			<td>Kenvick Ray</td>
			<td>CT Flame</td>
		</tr>
		<tr>
			<td>Osman Berrie</td>
			<td>Sam Rines</td>
		</tr>
		<tr>
			<td>Andrew Levy</td>
			<td>Team Providence</td>
		</tr>
		<tr>
			<td>Anthony Henry</td>
			<td>CT Kingz</td>
		</tr>
	</tbody>
</table>
