<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/03/KyleAnderson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-8442" /></td>
			<td>Kyle Anderson</td>
			<td>St. Anthony NJ</td>
			<td>UCLA</td>
		</tr>
		<tr>
			<td></td>
			<td>Keith Appling</td>
			<td>Pershing MI</td>
			<td>Michigan State</td>
		</tr>
		<tr>
			<td></td>
			<td>Cleanthony Early</td>
			<td>Mt. Zion</td>
			<td>Wichita State</td>
		</tr>
		<tr>
			<td></td>
			<td>Melvin Ejim</td>
			<td>Brewster Academy NH</td>
			<td>Iowa State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/12/TylerEnnis1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-14413" /></td>
			<td>Tyler Ennis</td>
			<td>St. Benedict's NJ</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td></td>
			<td>CJ Fair</td>
			<td>Brewster Academy NH</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td></td>
			<td>Gary Harris</td>
			<td>Hamilton Southeastern IN</td>
			<td>Michigan State</td>
		</tr>
		<tr>
			<td></td>
			<td>DeAndre Kane</td>
			<td>Patterson School NC</td>
			<td>Iowa State</td>
		</tr>
		<tr>
			<td></td>
			<td>Sean Kilpatrick</td>
			<td>White Plains NY</td>
			<td>Cincinnati</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/ShabazzNapier100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18921" /></td>
			<td>Shabazz Napier</td>
			<td>Lawrence Academy MA</td>
			<td>UConn</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/Lamar-Patterson-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-2685" /></td>
			<td>Lamar Patterson</td>
			<td>St. Benedict's NJ</td>
			<td>Pittsburgh</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/RussSmith100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18919" /></td>
			<td>Russ Smith</td>
			<td>South Kent CT</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td></td>
			<td>Nick Stauskas</td>
			<td>St. Mark's MA</td>
			<td>Michigan</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/04/AndrewWiggins100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-29829" /></td>
			<td>Andrew Wiggins</td>
			<td>Huntington Prep WV</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/10/chazwilliams100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44430" /></td>
			<td>Chaz Williams</td>
			<td>Bishop Ford NY</td>
			<td>UMass</td>
		</tr>
	</tbody>
</table>
