<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Craig Brackins</td>
			<td>Iowa State</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/DeshawnButler2100.jpg" alt="" title="DeshawnButler2100" width="100" height="120" class="aligncenter size-full wp-image-2747" /></td>
			<td>Da'Sean Butler</td>
			<td>West Virginia</td>
			<td>Bloomfield Tech NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Ed Davis</td>
			<td>North Carolina</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/JeromeDyson100.jpg" alt="" title="JeromeDyson100" width="100" height="120" class="aligncenter size-full wp-image-7159" /></td>
			<td>Jerome Dyson</td>
			<td>Connecticut</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Devin Ebanks</td>
			<td>West Virginia</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/CoreyFisher100.jpg" alt="" title="CoreyFisher100" width="100" height="120" class="aligncenter size-full wp-image-2750" /></td>
			<td>Corey Fisher</td>
			<td>Villanova</td>
			<td>St. Patrick NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/SylvanLandesberg100.jpg" alt="" title="SylvanLandesberg100" width="100" height="120" class="aligncenter size-full wp-image-7161" /></td>
			<td>Sylvan Landesberg</td>
			<td>Virginia</td>
			<td>Holy Cross NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Gani Lawal</td>
			<td>Georgia Tech</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/RaymorMorgan1001.jpg" alt="" title="RaymorMorgan100" width="100" height="120" class="aligncenter size-full wp-image-7162" /></td>
			<td>Raymar Morgan</td>
			<td>Michigan State</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Patrick Patterson</td>
			<td>Kentucky</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Scottie Reynolds</td>
			<td>Villanova</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/SamardoSamuels100.jpg" alt="" title="SamardoSamuels100" width="100" height="120" class="aligncenter size-full wp-image-1261" /></td>
			<td>Samardo Samuels</td>
			<td>Louisville</td>
			<td>St. Benedict's NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Kemba-Walker-1001.jpg" alt="" title="Kemba Walker 100" width="100" height="120" class="aligncenter size-full wp-image-2461" /></td>
			<td>Kemba Walker</td>
			<td>UConn</td>
			<td>Rice NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Wright</td>
			<td>Dayton</td>
			<td></td>
		</tr>
	</tbody>
</table>
