<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Briyona Canty</td>
			<td>Trenton Catholic NJ</td>
			<td>Rutgers</td>
		</tr>
		<tr>
			<td></td>
			<td>Betnijah Laney</td>
			<td>Smyrna DE</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/BriaSmith100.jpg" alt="" title="BriaSmith100" width="100" height="120" class="aligncenter size-full wp-image-3902" /></td>
			<td>Bria Smith</td>
			<td>Christ the King NY</td>
			<td>Virginia</td>
		</tr>
		<tr>
			<td></td>
			<td>Elizabeth Williams</td>
			<td>Princess Anne VA</td>
			<td>Duke</td>
		</tr>
	</tbody>
</table>
