<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>NBA Team</th>
			<th>College</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/LaMarcusAldridge100.jpg" alt="LaMarcusAldridge100" width="100" height="120" class="aligncenter size-full wp-image-70772" /></td>
			<td>Lamarcus Aldridge</td>
			<td>Chicago Bulls</td>
			<td>Texas</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/01/RandyFoye100.jpg" alt="" title="RandyFoye100" width="100" height="120" class="aligncenter size-full wp-image-1379" /></td>
			<td>Randy Foye</td>
			<td>Boston Celtics</td>
			<td>Villanova</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Rudy Gaye</td>
			<td>Houston Rockets</td>
			<td>UConn</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JJReddick100.jpg" alt="JJReddick100" width="100" height="120" class="aligncenter size-full wp-image-70834" /></td>
			<td>JJ Reddick</td>
			<td>Orlando Magic</td>
			<td>Duke</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/01/HiltonArmstrong100.jpg" alt="" title="HiltonArmstrong100" width="100" height="120" class="aligncenter size-full wp-image-1366" /></td>
			<td>Hilton Armstrong</td>
			<td>New Orleans Hornets</td>
			<td>UConn</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Cedric Simmons</td>
			<td>New Orleans Hornets</td>
			<td>NC State</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/QuincyDouby100.jpg" alt="QuincyDouby100" width="100" height="120" class="aligncenter size-full wp-image-7151" /></td>
			<td>Quincy Douby</td>
			<td>Sacramento Kings</td>
			<td>Rutgers</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/02/JoshBoone100.jpg" alt="" title="JoshBoone100" width="100" height="120" class="aligncenter size-full wp-image-7134" /></td>
			<td>Josh Boone</td>
			<td>New Jersey Nets</td>
			<td>UConn</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/03/Kyle-Lowery-100.jpg" alt="" title="Kyle Lowery 100" width="100" height="120" class="aligncenter size-full wp-image-7996" /></td>
			<td>Kyle Lowery</td>
			<td>Memphis Grizzlies</td>
			<td>Villanova</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Mardy Collins</td>
			<td>New York Knicks</td>
			<td>Temple</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>James White</td>
			<td>Portland Trailblazers</td>
			<td>Cincinnati</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Denham Brown</td>
			<td>Seattle Supersonics</td>
			<td>UConn</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Will Blalock</td>
			<td>Detroit Pistons</td>
			<td>Iowa State</td>
			<td></td>
		</tr>
	</tbody>
</table>
