<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Grad Year</th>
			<th>High School</th>
			<th>College Recruitment</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Quade Green</td>
			<td>2017</td>
			<td>Neuman Goretti PA</td>
			<td>Offered by Temple, Rhode Island, Providence</td>
		</tr>
		<tr>
			<td>Vaughn Covington</td>
			<td>2016</td>
			<td>Neuman Goretti PA</td>
			<td>Offered by Lehigh, Princeton</td>
		</tr>
		<tr>
			<td>Lonnie Walker</td>
			<td>2017</td>
			<td>Reading PA</td>
			<td>Offered by Holy Cross</td>
		</tr>
		<tr>
			<td>Mamadou Ndiaye</td>
			<td>2016</td>
			<td>Oakland Mills MD</td>
			<td>Offered by Kansas State, Seton Hall, Howard, George Mason, UT Martin, Temple</td>
		</tr>
		<tr>
			<td>Ibrahim Doumbia</td>
			<td>2017</td>
			<td>Arlington Country Day FL</td>
			<td>Offered by UTEP, Baylor</td>
		</tr>
		<tr>
			<td>Aaron Thompson</td>
			<td>2017</td>
			<td>Paul VI VA</td>
			<td>Offered by Holy Cross, Penn State</td>
		</tr>
		<tr>
			<td>Rakym Felder</td>
			<td>2016</td>
			<td>Lincoln NY</td>
			<td></td>
		</tr>
		<tr>
			<td>Tyonne Malone</td>
			<td>2016</td>
			<td>Springfield Putnam MA</td>
			<td>Offered by Sacred Heart, UMass, Manhattan, St. Peter's, Boston</td>
		</tr>
		<tr>
			<td>Jack Lawrence</td>
			<td>2016</td>
			<td>Gonzaga DC</td>
			<td></td>
		</tr>
		<tr>
			<td>Marquis Collins</td>
			<td>2016</td>
			<td>Chester PA</td>
			<td></td>
		</tr>
		<tr>
			<td>Kendrick Gray</td>
			<td>2016</td>
			<td>Rice Memorial VT</td>
			<td>Offered by St. Bonaventure, Vermont</td>
		</tr>
		<tr>
			<td>Leondre Washington</td>
			<td>2017</td>
			<td>Teaneck NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Chris Lykes</td>
			<td>2017</td>
			<td>Gonzaga DC</td>
			<td>Offered by Richmond, Old Dominion, Hofstra</td>
		</tr>
		<tr>
			<td>James Scott</td>
			<td>2016</td>
			<td>Pope John NJ</td>
			<td>Offered by Fairfield, East Carolina</td>
		</tr>
		<tr>
			<td>Najja Hunter</td>
			<td>2017</td>
			<td>Westtown PA</td>
			<td>Offered by Temple, Rutgers, Oregon State, Seton Hall, Fordham, Penn State</td>
		</tr>
		<tr>
			<td>Hassan French</td>
			<td>2017</td>
			<td>Commonwealth Academy MA</td>
			<td></td>
		</tr>
		<tr>
			<td>Nathaniel Pierre-Louis</td>
			<td>2017</td>
			<td>St. Benedict's NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Ian Sistare</td>
			<td>2016</td>
			<td>Northfield Mount Hermon MA</td>
			<td>Offered by Xavier, Brown, Boston College, Penn State</td>
		</tr>
		<tr>
			<td>Eric Ayala</td>
			<td>2017</td>
			<td>Sanford DE</td>
			<td>Offered by Temple, Morehead State</td>
		</tr>
		<tr>
			<td>Matt Bullock</td>
			<td>2016</td>
			<td>Roselle Catholic NJ</td>
			<td>Offered by Rutgers, St. Peter's Monmouth</td>
		</tr>
		<tr>
			<td>Ryan Gomes</td>
			<td>2016</td>
			<td>Friends School MD</td>
			<td>Offered by Mount St. Mary's</td>
		</tr>
	</tbody>
</table>
