<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Joshua Gestosani</td>
			<td>Franklin NJ</td>
		</tr>
		<tr>
			<td>Jack Fitzpatrick</td>
			<td>Episcopal Academy PA</td>
		</tr>
		<tr>
			<td>Max Mitchell</td>
			<td>Green Farms CT</td>
		</tr>
		<tr>
			<td>Isaiah Stewart</td>
			<td>First Baptist FL</td>
		</tr>
		<tr>
			<td>Ethan Zohn</td>
			<td>Berkeley Carroll NY</td>
		</tr>
		<tr>
			<td>TJ Berger</td>
			<td>Westtown PA</td>
		</tr>
		<tr>
			<td>James Jordan Hooks</td>
			<td>Warren Hills NJ</td>
		</tr>
		<tr>
			<td>Brian Kenyon</td>
			<td>Long Island Lutheran NY</td>
		</tr>
		<tr>
			<td>Manav Randhawa</td>
			<td>Pickering CN</td>
		</tr>
		<tr>
			<td>William Samsen</td>
			<td>Byram Hills NY</td>
		</tr>
		<tr>
			<td>Rodrigo Calderon</td>
			<td>San Juan Bosco Spain</td>
		</tr>
		<tr>
			<td>Erik Gregg</td>
			<td>Bishop Kellenburg NY</td>
		</tr>
		<tr>
			<td>Noel Karameros</td>
			<td>Xavier NY</td>
		</tr>
		<tr>
			<td>Ryan Doherty</td>
			<td>Chatham NJ</td>
		</tr>
		<tr>
			<td>Devan Sharma</td>
			<td>Don Bosco NJ</td>
		</tr>
		<tr>
			<td>Khadafi Julio</td>
			<td>Berkeley Carroll NY</td>
		</tr>
		<tr>
			<td>Jack Petit</td>
			<td>St. Peter's Prep NJ</td>
		</tr>
		<tr>
			<td>Brian Burns</td>
			<td>Haddon Township NJ</td>
		</tr>
		<tr>
			<td>Bryan Henderson</td>
			<td>Queen of Peace NJ</td>
		</tr>
		<tr>
			<td>Hayden Peek</td>
			<td>Spackenkill NY</td>
		</tr>
		<tr>
			<td>Harry Walsh</td>
			<td>Summit NJ</td>
		</tr>
	</tbody>
</table>
