<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Judah Jordan</td>
			<td>Capital Christian MD</td>
		</tr>
		<tr>
			<td>Shawndale Jones</td>
			<td>Kiski Prep PA</td>
		</tr>
		<tr>
			<td>Tyler Plummer</td>
			<td>Orangeville Prep CN</td>
		</tr>
		<tr>
			<td>Jake Kuhn</td>
			<td>St. Maria Goretti MD</td>
		</tr>
		<tr>
			<td>Armando Bacot</td>
			<td>Trinity VA</td>
		</tr>
		<tr>
			<td>Gabe Stefanini</td>
			<td>Bergen Catholic NJ</td>
		</tr>
		<tr>
			<td>Kyle Copeland</td>
			<td>Phillips Exeter NH</td>
		</tr>
		<tr>
			<td>Chris Duarte</td>
			<td>Redemption Christian NY</td>
		</tr>
		<tr>
			<td>Nana Opoku</td>
			<td>Potomac VA</td>
		</tr>
		<tr>
			<td>Andrea Donda</td>
			<td>Monsignor Scanlan NY</td>
		</tr>
		<tr>
			<td>Denmark Slay</td>
			<td>St. Agnes &amp; St Stephens VA</td>
		</tr>
		<tr>
			<td>Jalen Ray</td>
			<td>Hampton VA</td>
		</tr>
		<tr>
			<td>Souleymane Koureissi</td>
			<td>Iona Prep NY</td>
		</tr>
		<tr>
			<td>Zachary Jacobs</td>
			<td>Trinity VA</td>
		</tr>
		<tr>
			<td>Josh Alexander</td>
			<td>Iona Prep NY</td>
		</tr>
		<tr>
			<td>Bryce Wills</td>
			<td>Iona Prep NY</td>
		</tr>
		<tr>
			<td>Jalen Carey</td>
			<td>Immaculate Conception NJ</td>
		</tr>
		<tr>
			<td>Chase Audige</td>
			<td>Hill PA</td>
		</tr>
		<tr>
			<td>Justin Winston</td>
			<td>Immaculate Conception NJ</td>
		</tr>
		<tr>
			<td>Isaiah Todd</td>
			<td>John Marshall VA</td>
		</tr>
	</tbody>
</table>
