<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57685" rel="attachment wp-att-57685"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/BrandenDawson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57685" /></a></td>
			<td>Branden Dawson</td>
			<td>Michigan State</td>
		</tr>
		<tr>
			<td></td>
			<td>Pat Connaughton</td>
			<td>Notre Dame</td>
		</tr>
		<tr>
			<td></td>
			<td>LaDontae Henton</td>
			<td>Providence</td>
		</tr>
		<tr>
			<td></td>
			<td>Vince Hunter</td>
			<td>UTEP</td>
		</tr>
		<tr>
			<td></td>
			<td>Treveon Graham</td>
			<td>VCU</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57686" rel="attachment wp-att-57686"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/Justin-Anderson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57686" /></a></td>
			<td>Justin Anderson</td>
			<td>Virginia</td>
		</tr>
	</tbody>
</table>
