<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Xavier Rathan-Mayes</td>
			<td>Florida State</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65430" rel="attachment wp-att-65430"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/JuanyaGreen100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65430" /></a></td>
			<td>Juan'ya Green</td>
			<td>Hofstra</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/FrankMason100.jpg" alt="frankmason100" width="100" height="120" class="aligncenter size-full wp-image-80265" /></td>
			<td>Frank Mason</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Ulis</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td>[caption id="attachment_65416" align="aligncenter" width="100"]<a href="http://hoopgroup.com/?attachment_id=65416" rel="attachment wp-att-65416"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/RomelloTrimble100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65416" /></a> </td>
			<td>Melo Trimble</td>
			<td>Maryland</td>
		</tr>
		<tr>
			<td></td>
			<td>Carson Puriefoy</td>
			<td>Stony Brook</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JalenBrunson100.jpg" alt="jalenbrunson100" width="100" height="120" class="aligncenter size-full wp-image-80267" /></td>
			<td>Jalen Brunson</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/10/RyanArcidiacano100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44428" /></td>
			<td>Ryan Arcidiacono</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
