<table>
	<thead>
		<tr>
			<th>PHOTO</th>
			<th>NAME</th>
			<th>NBA TEAM</th>
			<th>COLLEGE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/02/MichaelCarterWilliams100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46613" /></td>
			<td>Michael Carter-Williams</td>
			<td>76ers</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=44659" rel="attachment wp-att-44659"><img src="https://hoopgroup.com/wp-content/uploads/2013/11/nerlens-noel-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44659" /></a></td>
			<td>Nerlens Noel</td>
			<td>76ers</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/Mason-Plumlee-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-7187" /></td>
			<td>Mason Plumlee</td>
			<td>Nets</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/codyzeller100.jpg" alt="codyzeller100" width="100" height="120" class="aligncenter size-full wp-image-71011" /></td>
			<td>Cody Zeller</td>
			<td>Hornets</td>
			<td>Indiana</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=29829" rel="attachment wp-att-29829"><img src="https://hoopgroup.com/wp-content/uploads/2013/04/AndrewWiggins100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-29829" /></a></td>
			<td>Andrew Wiggins</td>
			<td>Timberwolves</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/04/TreyBurke100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-29818" /></td>
			<td>Trey Burke</td>
			<td>Jazz</td>
			<td>Michigan</td>
		</tr>
	</tbody>
</table>
