<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/yasinpretlow100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91327" />MVP - Yasin Pretlow</td>
			<td>Mater Dei  56</td>
			<td>St. Mary's Elizabeth  55</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/papieroberts100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91329" />MVP - Papie Roberts</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/paulmulcahy100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91331" />MVP - Paul Mulcahy</td>
			<td>Gill St. Bernard's  68</td>
			<td>Shawnee  46</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/dylandeveney100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91333" />MVP - Dylan Deveney</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/TavonJones2100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91335" />MVP - Tavon Jones</td>
			<td>Linden  50</td>
			<td>Bergen Catholic  44</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/zachfreemantle100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91343" />MVP - Zach Freemantle</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/marcellusearlingtontip17100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91249" />MVP - Marcellus Earlington</td>
			<td>Don Bosco  78</td>
			<td>Newark East Side  73</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/deandrespeight100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91337" />MVP - DeAndre Speight</td>
		</tr>
	</tbody>
</table>
