<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/TeddySourlismvp100.jpg" alt="teddysourlismvp100" width="100" height="120" class="aligncenter size-full wp-image-82036" />MVP - Teddy Sourlis</td>
			<td>Rumson  49</td>
			<td>Marlboro  44</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/DylanKaufmanmvp100.jpg" alt="dylankaufmanmvp100" width="100" height="120" class="aligncenter size-full wp-image-82038" />MVP - Dylan Kaufman</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/JadenRhodenmvp100.jpg" alt="jadenrhodenmvp100" width="100" height="120" class="aligncenter size-full wp-image-82031" />MVP - Jaden Rhoden</td>
			<td>Toms River North  57</td>
			<td>CBA  51</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/LiamKennedymvp100.jpg" alt="liamkennedymvp100" width="100" height="120" class="aligncenter size-full wp-image-82034" />MVP - Liam Kennedy</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/jamirharrisboardwalkmvp100.jpg" alt="jamirharrisboardwalkmvp100" width="100" height="120" class="aligncenter size-full wp-image-82309" />MVP - Jamir Harris</td>
			<td>Patrick School  65</td>
			<td>Mater Dei  42</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/ElijahBarnesmvp100.jpg" alt="elijahbarnesmvp100" width="100" height="120" class="aligncenter size-full wp-image-82029" />MVP - Elijah Barnes</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/Alexanderricemvp100.jpg" alt="alexanderricemvp100" width="100" height="120" class="aligncenter size-full wp-image-82170" />MVP - Alexander Rice</td>
			<td>St. Anthony  51
</td>
			<td>Ranney  48</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/BryanAntoinemvp100.jpg" alt="bryanantoinemvp100" width="100" height="120" class="aligncenter size-full wp-image-82172" />MVP - Bryan Antoine</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/DannyFrauenheimmvp100.jpg" alt="dannyfrauenheimmvp100" width="100" height="120" class="aligncenter size-full wp-image-82174" />MVP - Danny Frauenheim</td>
			<td>Point Beach  61</td>
			<td>Manasquan  48</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/DevinJensenmvp100.jpg" alt="devinjensenmvp100" width="100" height="120" class="aligncenter size-full wp-image-82176" />MVP - Devin Jensen</td>
		</tr>
	</tbody>
</table>
