<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/12/TylerEnnis100.jpg" alt="" width="81" height="95" class="aligncenter size-full wp-image-14406" /></td>
			<td>Tyler Ennis</td>
			<td>St. Benedict's NJ</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/AaronHarrison100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44714" /></td>
			<td>Aaron Harrison</td>
			<td>Travis TX</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/AndrewHarrison100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44715" /></td>
			<td>Andrew Harrison</td>
			<td>Travis TX</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td></td>
			<td>Wayne Selden</td>
			<td>Tilton NH</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/04/AndrewWiggins100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-29829" /></td>
			<td>Andrew Wiggins</td>
			<td>Huntington WV</td>
			<td>Syracuse</td>
		</tr>
	</tbody>
</table>
