<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Jihad Barnes</td>
			<td>Girard College PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyheem Harmon</td>
			<td>Imhotep Charter PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/SamNorton100.jpg" alt="" title="SamNorton100" width="100" height="120" class="aligncenter size-full wp-image-12935" /></td>
			<td>Sam Norton</td>
			<td>Hill PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/treyLowe100.jpg" alt="" title="treyLowe100" width="100" height="120" class="aligncenter size-full wp-image-12936" /></td>
			<td>Trey Lowe</td>
			<td>Pennington NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/PatrickJackson100.jpg" alt="" title="PatrickJackson100" width="100" height="120" class="aligncenter size-full wp-image-12937" /></td>
			<td>Patrick Jackson</td>
			<td>Uniondale NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AlaniMoore100.jpg" alt="" title="AlaniMoore100" width="100" height="120" class="aligncenter size-full wp-image-12938" /></td>
			<td>Alani Moore</td>
			<td>Landon MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Troy Smith</td>
			<td>Imhotep Charter PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Reginald Parker</td>
			<td>St. Mary's Ryken MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TempleGibbs100.jpg" alt="" title="TempleGibbs100" width="100" height="120" class="aligncenter size-full wp-image-12939" /></td>
			<td>Temple Gibbs</td>
			<td>Scotch Plains NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/DallasStevens100.jpg" alt="" title="DallasStevens100" width="100" height="120" class="aligncenter size-full wp-image-12940" /></td>
			<td>Dallas Stevens</td>
			<td>Rochester East NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Eric Marbury</td>
			<td>Pius PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/BryceAiken100.jpg" alt="" title="BryceAiken100" width="100" height="120" class="aligncenter size-full wp-image-12941" /></td>
			<td>Bryce Aiken</td>
			<td>Randolph NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/IsaiahTaylor100.jpg" alt="" title="IsaiahTaylor100" width="100" height="120" class="aligncenter size-full wp-image-12942" /></td>
			<td>Isaiah Taylor</td>
			<td>Pennington NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Aaron Case</td>
			<td>St. Michael's CN</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TylerPlummer100.jpg" alt="" title="TylerPlummer100" width="100" height="120" class="aligncenter size-full wp-image-12943" /></td>
			<td>Tyler Plummer</td>
			<td>St. Cecilia CN</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JustinJackson100.jpg" alt="" title="JustinJackson100" width="100" height="120" class="aligncenter size-full wp-image-12944" /></td>
			<td>Justin Jackson</td>
			<td>Charles Gordon CN</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/IsiahJennings100.jpg" alt="" title="IsiahJennings100" width="100" height="120" class="aligncenter size-full wp-image-12945" /></td>
			<td>Isiah Jennings</td>
			<td>Swain PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JameilBrown100.jpg" alt="" title="JameilBrown100" width="100" height="120" class="aligncenter size-full wp-image-12946" /></td>
			<td>Jameil Brown</td>
			<td>Downsview CN</td>
		</tr>
		<tr>
			<td></td>
			<td>Jamal Lucas</td>
			<td>Cardigan Mountain NH</td>
		</tr>
		<tr>
			<td></td>
			<td>Isheem Adams</td>
			<td>Upper Darby PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JakeMarcin100.jpg" alt="" title="JakeMarcin100" width="100" height="120" class="aligncenter size-full wp-image-12947" /></td>
			<td>Jake Marcin</td>
			<td>CBA NJ</td>
		</tr>
	</tbody>
</table>
