<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Don Bosco  76


MVP: George Milligan</td>
			<td>Neptune  56


MVP:  Tashaun Williams</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Raymond's NY  63


MVP: Gerald Colds</td>
			<td>Bloomfield Tech  60


MVP: Wes Jenkins</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Linden  74


MVP: Darrell Lampley</td>
			<td>Paterson Catholic  71


MVP: Jordan Theodore</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Winchendon MA  69


MVP: Malcolm Grant</td>
			<td>St. Benedict's Prep  66


MVP: Chris Smith</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Anthony  66


MVP: Mike Rosario</td>
			<td>Plainfield  55


MVP: Jerrell Thompson</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Joe's Montvale  69


MVP: Noru Agho</td>
			<td>Elizabeth  56


MVP: James Frazier</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick  68


MVP: Corey Fisher</td>
			<td>Atlantic City  42


MVP: Darnell Davis</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Benedict HS  68


MVP: Samardo Samuels</td>
			<td>Newark Eastside  43


MVP: Corey Chandler</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Amer. Christian PA  71


MVP: Michael Glover</td>
			<td>Hun  54


MVP: Lance Goulbourne</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Seton Hall Prep  53


MVP: Ashton Gibbs</td>
			<td>Columbia  38


MVP: Jameel Grace</td>
			<td></td>
		</tr>
	</tbody>
</table>
