<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Scott Cunningham</td>
			<td>Wilton CT</td>
		</tr>
		<tr>
			<td>Max Samberg</td>
			<td>Rye NY</td>
		</tr>
		<tr>
			<td>Ilan Orgel</td>
			<td>Abraham Joshua NY</td>
		</tr>
		<tr>
			<td>Jackson Boutin</td>
			<td>Xaverian NY</td>
		</tr>
		<tr>
			<td>Robert Madison</td>
			<td>Whippany Park NJ</td>
		</tr>
		<tr>
			<td>Kenjee Polanco</td>
			<td>Paramus Catholic NJ</td>
		</tr>
		<tr>
			<td>Stefan Forbes</td>
			<td>Pocono Mountain East PA</td>
		</tr>
		<tr>
			<td>Jack Baker</td>
			<td>Delbarton NJ</td>
		</tr>
		<tr>
			<td>Joshua Antoine</td>
			<td>Ramsey NJ</td>
		</tr>
		<tr>
			<td>Daniel Colter</td>
			<td>Reading PA</td>
		</tr>
		<tr>
			<td>Maximillian Kiehm</td>
			<td>Weston MA</td>
		</tr>
		<tr>
			<td>Justin Brown</td>
			<td>Hillsborough NJ</td>
		</tr>
		<tr>
			<td>Dre Turnipseed</td>
			<td>Nazareth NY</td>
		</tr>
		<tr>
			<td>Robert Beran</td>
			<td>Randolph Tucker VA</td>
		</tr>
		<tr>
			<td>Gary Redden</td>
			<td>Hillsborough NJ</td>
		</tr>
		<tr>
			<td>Dallas Graziani</td>
			<td>Everglades FL</td>
		</tr>
		<tr>
			<td>Wes Butler</td>
			<td>Reading PA</td>
		</tr>
		<tr>
			<td>Bryan Medy</td>
			<td>Nazareth NY</td>
		</tr>
		<tr>
			<td>Bonner Furey-Bastian</td>
			<td>Unionville NY</td>
		</tr>
		<tr>
			<td>Connor Horton</td>
			<td>Waldorf TX</td>
		</tr>
	</tbody>
</table>
