<table>
	<thead>
		<tr>
			<th></th>
			<th>Winner</th>
			<th>Loser</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/jaquayejamestip17100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91241" />MVP - Ja'Quaye James</td>
			<td>Teaneck  71</td>
			<td>Pascack Valley  51</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/ashtonmiller100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91243" />MVP -  Ashton Miller</td>
			<td>Seton Hall Prep  61</td>
			<td>Immaculate Conception  58</td>
			<td></td>
		</tr>
	</tbody>
</table>
