<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Don Bosco  67</td>
			<td>Neptune  56</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Benedict's  81</td>
			<td>Paterson Kennedy  69</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Anthony  64</td>
			<td>Newark Eastside  52</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick  63</td>
			<td>St. John Neuman Goretti PA  60</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Seton Hall Prep  74</td>
			<td>Columbia  47</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Raymond's NY  60</td>
			<td>Elizabeth  48</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Hun  54</td>
			<td>Paramus Catholic  48</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>American Christian PA</td>
			<td>Rahway  44</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Bloomfield Tech  61</td>
			<td>Linden  54</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>CBA  55</td>
			<td>Paterson Catholic  54</td>
			<td></td>
		</tr>
	</tbody>
</table>
