<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jessica Harvey</td>
			<td>Rumson  40</td>
			<td>Neptune  29</td>
			<td>Nahja Carter</td>
		</tr>
		<tr>
			<td>Bridget Ryan</td>
			<td>Blair  50</td>
			<td>St. John Vianney  42</td>
			<td>Kathleen Egan</td>
		</tr>
		<tr>
			<td>Kasey Chambers</td>
			<td>St. Rose  52</td>
			<td>Point Pleasant Boro  44</td>
			<td>Kerry Malleck</td>
		</tr>
		<tr>
			<td>Michaela Mabrey</td>
			<td>Manasquan  63</td>
			<td>Christ the King NY  39</td>
			<td>Sierra Calhoun</td>
		</tr>
		<tr>
			<td>Grace Fallon</td>
			<td>Red Bank Catholic  70</td>
			<td>Jackson Memorial  61</td>
			<td>Hannah Missry</td>
		</tr>
	</tbody>
</table>
