<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/JayvonJacksonmvp100.jpg" alt="jayvonjacksonmvp100" width="100" height="120" class="aligncenter size-full wp-image-81565" />MVP - Jay'von Jackson</td>
			<td>St. Mary's Elizabeth  61</td>
			<td>Hackensack  40</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/BJSalibamvp100.jpg" alt="bjsalibamvp100" width="100" height="120" class="aligncenter size-full wp-image-81564" />MVP - BJ Saliba </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/RJColemvp100.jpg" alt="rjcolemvp100" width="100" height="120" class="aligncenter size-full wp-image-81560" />MVP - RJ Cole</td>
			<td>St. Anthony  54</td>
			<td>St. Joseph's Montvale  36</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/chaunceyhawkins100.jpg" alt="chaunceyhawkins100" width="100" height="120" class="aligncenter size-full wp-image-81562" />MVP - Chauncey Hawkins</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/AnthonyMackmvp100.jpg" alt="anthonymackmvp100" width="100" height="120" class="aligncenter size-full wp-image-81554" />MVP - Anthony Mack</td>
			<td>Blair  46</td>
			<td>Linden  42</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/khaliefcrawfordmvp100-1.jpg" alt="khaliefcrawfordmvp100" width="100" height="120" class="aligncenter size-full wp-image-81557" />MVP - Khalief Crawford</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/PreciousAchiuwa100.jpg" alt="preciousachiuwa100" width="100" height="120" class="aligncenter size-full wp-image-81551" />MVP - Precious Achiuwa</td>
			<td>St. Benedict's  68</td>
			<td>Bergen Catholic  51</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/GabeStefaninnimvp100.jpg" alt="gabestefaninnimvp100" width="100" height="120" class="aligncenter size-full wp-image-81552" />MVP - Gabe Stefaninini</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/JordanPierce100mvp.jpg" alt="jordanpierce100mvp" width="100" height="120" class="aligncenter size-full wp-image-81544" />MVP - Jordan Pierce</td>
			<td>Union Catholic  48</td>
			<td>Hun  47</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/DesmondCambridge100-1.jpg" alt="desmondcambridge100" width="100" height="120" class="aligncenter size-full wp-image-81624" />MVP - Desmond Cambridge</td>
		</tr>
	</tbody>
</table>
