<table>
	<thead>
		<tr>
			<th>Dates</th>
			<th>Event</th>
			<th>Location</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jun 19-Jun 21</td>
			<td><a href="http://hoopgroup.com/headquarters/summer-basketball-camps/core-skills-training-camp/">Core Skills Training Camp I</a></td>
			<td>Hoop Group HQ
Neptune, NJ </td>
			<td>Call For Info</td>
		</tr>
		<tr>
			<td>Jun 24-Jun 28</td>
			<td>Ball Handling &amp; Shooting Camp</td>
			<td>Hoop Group HQ
Neptune, NJ </td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_94&amp;products_id=1568">Sign Up!</a></td>
		</tr>
		<tr>
			<td>July 5</td>
			<td>Independence Day Hoopfest</td>
			<td>Hoop Group HQ
Neptune, NJ </td>
			<td>COMING SOON</td>
		</tr>
		<tr>
			<td>Jul 1-Jul 3</td>
			<td><a href="http://hoopgroup.com/headquarters/summer-basketball-camps/basketball-101-camp/">Basketball 101 Summer Camp</a></td>
			<td>Hoop Group HQ
Neptune, NJ</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_94&amp;products_id=1575">Sign Up!</a></td>
		</tr>
		<tr>
			<td>Jul 8-Jul 12</td>
			<td><a href="http://hoopgroup.com/headquarters/summer-basketball-camps/girls-shore-coaches-camp/">Girls Shore Coaches Week</a></td>
			<td>Hoop Group HQ
Neptune, NJ </td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_94&amp;products_id=1577">Sign Up!</a></td>
		</tr>
		<tr>
			<td>Jul 15-Jul 19</td>
			<td><a href="http://hoopgroup.com/headquarters/summer-basketball-camps/nothing-but-skills/">Nothing But Skills Camp I </a></td>
			<td>Hoop Group HQ
Neptune,, NJ</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_94&amp;products_id=1569">Sign Up!</a></td>
		</tr>
		<tr>
			<td>Jul 22-Jul 26</td>
			<td><a href="http://hoopgroup.com/headquarters/summer-basketball-camps/bob-hurley-new-jersey-basketball-camp/">Bob Hurley Basketball Camp @ HGHQ</a></td>
			<td>Hoop Group HQ
Neptune, NJ </td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_94&amp;products_id=1527">Sign Up!</a></td>
		</tr>
		<tr>
			<td>Jul 29-Aug 2</td>
			<td><a href="http://hoopgroup.com/headquarters/summer-basketball-camps/boys-shore-coaches-camp/">Boys Shore Coaches Week</a></td>
			<td>Hoop Group HQ
Neptune, NJ </td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_94&amp;products_id=1578">Sign Up!</a></td>
		</tr>
		<tr>
			<td>Aug 5-Aug 9</td>
			<td><a href="http://hoopgroup.com/headquarters/summer-basketball-camps/core-skills-training-camp/">Core Skills Training Camp II</a></td>
			<td>Hoop Group HQ
Neptune, NJ</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_94&amp;products_id=1571">Sign Up!</a></td>
		</tr>
		<tr>
			<td>Aug 12-Aug 16</td>
			<td><a href="http://hoopgroup.com/headquarters/summer-basketball-camps/nothing-but-skills/">Nothing But Skills Camp II </a></td>
			<td>Hoop Group HQ
Neptune, NJ </td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_94&amp;products_id=1570">Sign Up!</a></td>
		</tr>
		<tr>
			<td>Aug 19-Aug 23</td>
			<td>Ball Handling &amp; Shooting Camp II</td>
			<td>Hoop Group HQ
Neptune, NJ 
</td>
			<td><a href="http://hoopgroup.com/headquarters/summer-basketball-camps/ball-handling-basketball-camp/">Sign Up!</a></td>
		</tr>
	</tbody>
</table>
