<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/JonathanLee.jpg" alt="" title="JonathanLee" width="100" height="120" class="aligncenter size-full wp-image-8610" /></td>
			<td>Hun  64


MVP: Jonathan Lee</td>
			<td>St. Joseph's Montvale  56

MVP: Joe Efese</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/joe-efese.jpg" alt="" title="joe efese" width="100" height="120" class="aligncenter size-full wp-image-8611" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/Brandon-Beckford.jpg" alt="" title="Brandon Beckford" width="100" height="120" class="aligncenter size-full wp-image-8612" /></td>
			<td>Don Bosco  80


MVP: Brandon Beckford</td>
			<td>Bloomfield Tech  63


MVP: Christian Morris</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/ChristianMorris.jpg" alt="" title="ChristianMorris" width="100" height="120" class="aligncenter size-full wp-image-8613" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/KenOrtiz.jpg" alt="" title="KenOrtiz" width="100" height="120" class="aligncenter size-full wp-image-8614" /></td>
			<td>Science  44


MVP: Ken Ortiz</td>
			<td>Linden  39


MVP: Tevin Calhoun</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/TevinCalhoun.jpg" alt="" title="TevinCalhoun" width="100" height="120" class="aligncenter size-full wp-image-8615" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/AishonWhite100.jpg" alt="" title="AishonWhite100" width="100" height="120" class="aligncenter size-full wp-image-8616" /></td>
			<td>Union  67


MVP: Aishon White</td>
			<td>CBA  48


MVP: Pat Light</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/PatLight1001.jpg" alt="" title="PatLight100" width="100" height="120" class="aligncenter size-full wp-image-8618" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/DwayneGuthridge100.jpg" alt="" title="DwayneGuthridge100" width="100" height="120" class="aligncenter size-full wp-image-8623" /></td>
			<td>Neptune  76


MVP: Dwayne Gutridge</td>
			<td>Mendham  55


MVP: Mark Cisco</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/MarkCisco100.jpg" alt="" title="MarkCisco100" width="100" height="120" class="aligncenter size-full wp-image-8619" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/DomCheek100.jpg" alt="" title="DomCheek100" width="100" height="120" class="aligncenter size-full wp-image-8620" /></td>
			<td>St. Anthony  37


MVP: Dom Cheek</td>
			<td>Trenton Catholic  36


MVP: Dondre Whitmore</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/DondreWhitmore08100.jpg" alt="" title="DondreWhitmore08100" width="100" height="120" class="aligncenter size-full wp-image-8622" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/IsaiahEpss100.jpg" alt="" title="IsaiahEpss100" width="100" height="120" class="aligncenter size-full wp-image-8624" /></td>
			<td>Plainfield  73


MVP: Isiah Epps</td>
			<td>Paterson Catholic  61


MVP: Lance Brown</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/LanceBrown100.jpg" alt="" title="LanceBrown100" width="100" height="120" class="aligncenter size-full wp-image-8625" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/SterlingGibbs1001.jpg" alt="" title="SterlingGibbs100" width="100" height="120" class="aligncenter size-full wp-image-8627" /></td>
			<td>Seton Hall Prep  66


MVP: Sterling Gibbs</td>
			<td>Columbia  51


MVP: Ken Rubenstein</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/KenRubenstein100.jpg" alt="" title="KenRubenstein100" width="100" height="120" class="aligncenter size-full wp-image-8626" /></td>
		</tr>
	</tbody>
</table>
