<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/Allan-Chaney-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44700" /></td>
			<td>Allen Chaney</td>
			<td>High Point</td>
			<td>New London CT</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/Aaron-Craft-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44709" /></td>
			<td>Aaron Craft</td>
			<td>Ohio State</td>
			<td>Liberty Benton OH</td>
		</tr>
		<tr>
			<td></td>
			<td>Melvin Ejim</td>
			<td>Iowa State</td>
			<td>Brewster Academy NH</td>
		</tr>
		<tr>
			<td></td>
			<td>CJ Fair</td>
			<td>Syracuse</td>
			<td>Brewster Academy NH</td>
		</tr>
		<tr>
			<td></td>
			<td>Anthony Ireland</td>
			<td>Loyola Marymount</td>
			<td>Winchendon MA</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/Sean-McGonigal-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44710" /></td>
			<td>Sean McGonigal</td>
			<td>Brown</td>
			<td>Riverside Brookfield IL</td>
		</tr>
		<tr>
			<td></td>
			<td>Travis McKie</td>
			<td>Wake Forest</td>
			<td>John Marshall VA</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/ShabazzNapier100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18921" /></td>
			<td>Shabazz Napier</td>
			<td>UConn</td>
			<td>Lawrence Academy MA</td>
		</tr>
		<tr>
			<td></td>
			<td>Dwight Powell</td>
			<td>Stanford</td>
			<td>IMG Academy FL</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/RussSmith100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18919" /></td>
			<td>Russ Smith</td>
			<td>Louisville</td>
			<td>South Kent CT</td>
		</tr>
	</tbody>
</table>
