<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65442" rel="attachment wp-att-65442"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/RondaeJefferson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65442" /></a></td>
			<td>Rondae Hollis-Jefferson</td>
			<td>Arizona</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65443" rel="attachment wp-att-65443"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/David-Laury-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65443" /></a></td>
			<td>David Laury</td>
			<td>Iona</td>
		</tr>
		<tr>
			<td></td>
			<td>Aaron White</td>
			<td>Iowa</td>
		</tr>
		<tr>
			<td></td>
			<td>Georges Niang</td>
			<td>Iowa State</td>
		</tr>
		<tr>
			<td></td>
			<td>Montrezl Harrell</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td></td>
			<td>Larry Nance</td>
			<td>Wyoming</td>
		</tr>
	</tbody>
</table>
