<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Tyler Jenkins</td>
			<td>Bellarmine</td>
		</tr>
		<tr>
			<td></td>
			<td>Jason Jolly</td>
			<td>Fairmont State</td>
		</tr>
		<tr>
			<td></td>
			<td>Matt Bingaya</td>
			<td>Fairmont State</td>
		</tr>
		<tr>
			<td></td>
			<td>Caleb Davis</td>
			<td>Fairmont State</td>
		</tr>
		<tr>
			<td></td>
			<td>Garrett Cook</td>
			<td>Fairmont State</td>
		</tr>
		<tr>
			<td></td>
			<td>Shammgod Wells</td>
			<td>Fairmont State</td>
		</tr>
		<tr>
			<td></td>
			<td>Luquon Choice</td>
			<td>Lincoln Memorial</td>
		</tr>
		<tr>
			<td></td>
			<td>Paul Woodson</td>
			<td>Lincoln Memorial</td>
		</tr>
		<tr>
			<td></td>
			<td>Marcell Haskett</td>
			<td>Lincoln Memorial</td>
		</tr>
		<tr>
			<td></td>
			<td>Romeao Ferguson</td>
			<td>Lincoln Memorial</td>
		</tr>
		<tr>
			<td></td>
			<td>Myles Smith</td>
			<td>Lincoln Memorial</td>
		</tr>
	</tbody>
</table>
