<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Freedom  66</td>
			<td>Northern Lehigh  41</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Lower Merion  75</td>
			<td>Hazelton  43</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick  58</td>
			<td>Blair  51</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Chester  74</td>
			<td>Harrisburg  68</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Prep Charter  75</td>
			<td>Parkland  53</td>
			<td></td>
		</tr>
	</tbody>
</table>
