<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Joe Hampton
</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td></td>
			<td>Alani Moore
</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td></td>
			<td>Jamar Watson
</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td></td>
			<td>Ramon Creighton
</td>
			<td>Team adidas</td>
		</tr>
		<tr>
			<td></td>
			<td>Justin Jackson
</td>
			<td>YAACE</td>
		</tr>
		<tr>
			<td></td>
			<td>Malik Dow
</td>
			<td>Hoop Dreams
</td>
		</tr>
		<tr>
			<td></td>
			<td>Quentin Goodin
</td>
			<td>Hoop Dreams
</td>
		</tr>
		<tr>
			<td></td>
			<td>Braxton Beverly
</td>
			<td>Hoop Dreams
</td>
		</tr>
		<tr>
			<td></td>
			<td>Ethan Moose
</td>
			<td>BSA</td>
		</tr>
		<tr>
			<td></td>
			<td>Randall Gaskins
</td>
			<td>ETU Warriors
</td>
		</tr>
		<tr>
			<td></td>
			<td>Daveyon Barnes
</td>
			<td>ETU Warriors
</td>
		</tr>
		<tr>
			<td></td>
			<td>Mike Janowski
</td>
			<td>ETU Warriors
</td>
		</tr>
		<tr>
			<td></td>
			<td>Chyree Walker
</td>
			<td>ETU Warriors
</td>
		</tr>
		<tr>
			<td></td>
			<td>Isaiah Boggs
</td>
			<td>Maryland Bulls
</td>
		</tr>
		<tr>
			<td></td>
			<td>Kyle Hill
</td>
			<td>Maryland Bulls
</td>
		</tr>
		<tr>
			<td></td>
			<td>Christian Jennings
</td>
			<td>Maryland Bulls
</td>
		</tr>
		<tr>
			<td></td>
			<td>Xavier Simpson
</td>
			<td>Team Lima
</td>
		</tr>
		<tr>
			<td></td>
			<td>Rico Stafford
</td>
			<td>Team Lima
</td>
		</tr>
		<tr>
			<td></td>
			<td>Tayne Wood 
</td>
			<td>CIA Bounce
</td>
		</tr>
		<tr>
			<td></td>
			<td>Brandon Cyrus
</td>
			<td>CIA Bounce
</td>
		</tr>
		<tr>
			<td></td>
			<td>Koby Mcewen 
</td>
			<td>CIA Bounce
</td>
		</tr>
	</tbody>
</table>
