<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>College</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Alex Foster</td>
			<td>Emory</td>
			<td>Portland OR</td>
		</tr>
		<tr>
			<td>Claude Gray</td>
			<td>Ohio Wesleyan</td>
			<td>Avon OH</td>
		</tr>
		<tr>
			<td>Aaron Walton-Moss</td>
			<td>Cabrini</td>
			<td>Camden NJ</td>
		</tr>
		<tr>
			<td>Gerry Wixted</td>
			<td>Dickinson</td>
			<td>Moorestown NJ</td>
		</tr>
		<tr>
			<td>Nick Laguerre</td>
			<td>St. Mary's</td>
			<td>Baltimore MD</td>
		</tr>
		<tr>
			<td>Matt McCarthy</td>
			<td>Guilford</td>
			<td>Rockville MD</td>
		</tr>
		<tr>
			<td>Lucas Hausman</td>
			<td>Bowdoin</td>
			<td>Westport CT</td>
		</tr>
		<tr>
			<td>Keegan Ryan</td>
			<td>St. John Fisher</td>
			<td>Plattsburgh NY</td>
		</tr>
	</tbody>
</table>
