<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College Attended</th>
			<th>NBA Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/MilesPlumlee100.jpg" alt="milesplumlee100" width="100" height="120" class="aligncenter size-full wp-image-79784" /></td>
			<td>Miles Plumlee</td>
			<td>Duke</td>
			<td>Atlanta Hawks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/MalcolmDelaney100.jpg" alt="malcolmdelaney100" width="100" height="120" class="aligncenter size-full wp-image-79725" /></td>
			<td>Malcolm Delaney</td>
			<td>Virginia Tech</td>
			<td>Atlanta Hawks</td>
		</tr>
		<tr>
			<td>[caption id="attachment_79539" align="aligncenter" width="100"]<img src="https://hoopgroup.com/wp-content/uploads/2016/10/DeAndreBembry100.jpg" alt="SONY DSC" width="100" height="120" class="size-full wp-image-79539" /> </td>
			<td>DeAndre Bembry</td>
			<td>St. Joseph's</td>
			<td>Atlanta Hawks</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Kyrie-Irving-100.jpg" alt="" title="Kyrie Irving 100" width="100" height="120" class="aligncenter size-full wp-image-2943" /></td>
			<td>Kyrie Irving</td>
			<td>Duke</td>
			<td>Boston Celtics</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/TerryRozier100.jpg" alt="TerryRozier100" width="100" height="120" class="aligncenter size-full wp-image-71117" /></td>
			<td>Terry Rozier</td>
			<td>Louisville</td>
			<td>Boston Celtics</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Marcus-Morris-100.jpg" alt="" title="Marcus Morris 100" width="100" height="120" class="aligncenter size-full wp-image-1399" /></td>
			<td>Marcus Morris</td>
			<td>Kansas</td>
			<td>Boston Celtics</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DeangleoRussell100.jpg" alt="DeangleoRussell100" width="100" height="120" class="aligncenter size-full wp-image-71115" /></td>
			<td>D'Angelo Russell</td>
			<td>Ohio State</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/SeanKilpatrick100.jpg" alt="" width="100" height="120" class="size-full wp-image-82831" /></td>
			<td>Sean Kilpatrick</td>
			<td>Cincinnati</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/10/CarisLevert100.jpg" alt="carislevert100" width="100" height="120" class="aligncenter size-full wp-image-79572" /></td>
			<td>Caris Levert</td>
			<td>Michigan</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/09/IsaiahWhitehead100.jpg" alt="IsaiahWhitehead100" width="100" height="120" class="aligncenter size-full wp-image-12950" /></td>
			<td>Isaiah Whitehead</td>
			<td>Seton Hall</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65793" rel="attachment wp-att-65793"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/RondaeJefferson1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65793" /></a></td>
			<td>Rondae Hollis-Jefferson</td>
			<td>Arizona</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/03/MikeGilchrist100.jpg" alt="" title="MikeGilchrist100" width="100" height="120" class="aligncenter size-full wp-image-8596" /></td>
			<td>Michael Kidd Gilchrist</td>
			<td>Kentucky</td>
			<td>Charlotte Hornets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/10/TraveonGraham100.jpg" alt="traveongraham100" width="100" height="120" class="aligncenter size-full wp-image-79566" /></td>
			<td>Treveon Graham</td>
			<td>VCU</td>
			<td>Charlotte Hornets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/Kemba-Walker-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-2460" /></td>
			<td>Kemba Walker</td>
			<td>UConn</td>
			<td>Charlotte Hornets</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/DwightHoward100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/DwightHoward100.jpg" alt="" title="DwightHoward100" width="100" height="120" class="aligncenter size-full wp-image-1373" /></a></td>
			<td>Dwight Howard</td>
			<td>Southwest Atlanta Christian</td>
			<td>Charlotte Hornets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/codyzeller100.jpg" alt="codyzeller100" width="100" height="120" class="aligncenter size-full wp-image-71011" /></td>
			<td>Cody Zeller</td>
			<td>Indiana</td>
			<td>Charlotte Hornets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/MichaelCarterWilliams100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44624" /></td>
			<td>Michael Carter-Williams</td>
			<td>Syracuse</td>
			<td>Charlotte Hornets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/10/RyanArcidiacano100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44428" /></td>
			<td>Ryan Arcidiacono</td>
			<td>Villanova</td>
			<td>Chicago Bulls</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JERIANGRANT100.jpg" alt="JERIANGRANT100" width="100" height="120" class="aligncenter size-full wp-image-71121" /></td>
			<td>Jerian Grant</td>
			<td>Notre Dame</td>
			<td>Chicago Bulls</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/jeffGreen100-2.jpg" alt="jeffgreen100" width="100" height="120" class="aligncenter size-full wp-image-79792" /></td>
			<td>Jeff Green</td>
			<td>Georgetown</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/TristanThompson100.jpg" alt="" title="TristanThompson100" width="100" height="120" class="aligncenter size-full wp-image-2979" /></td>
			<td>Tristan Thompson</td>
			<td>Texas</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/10/johnholland100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-89349" /></td>
			<td>John Holland</td>
			<td>Boston U</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/01/JR-Smith-100.jpg" alt="" title="JR Smith 100" width="100" height="120" class="aligncenter size-full wp-image-1276" /></td>
			<td>JR Smith</td>
			<td>St. Benedict's NJ</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/ImanShumpert100.jpg" alt="ImanShumpert100" width="100" height="120" class="aligncenter size-full wp-image-71187" /></td>
			<td>Iman Shumpert</td>
			<td>Georgia Tech</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/JohnathanMotley100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-83136" /></td>
			<td>Johnathan Motley</td>
			<td>Baylor</td>
			<td>Dallas Mavericks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DennisSmith2100-3.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80254" /></td>
			<td>Dennis Smith</td>
			<td>NC State</td>
			<td>Dallas Mavericks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/nerlens-noel-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44659" /></td>
			<td>Nerlens Noel</td>
			<td>Kentucky</td>
			<td>Dallas Mavericks</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Jameer-Nelson-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Jameer-Nelson-100.jpg" alt="" title="Jameer Nelson 100" width="100" height="120" class="aligncenter size-full wp-image-1372" /></a></td>
			<td>Jameer Nelson</td>
			<td>St. Joseph's</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/GaryHarris100.jpg" alt="GaryHarris100" width="100" height="120" class="aligncenter size-full wp-image-71189" /></td>
			<td>Gary Harris</td>
			<td>Michigan State</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/WilsonChandler100.jpg" alt="wilsonchandler100" width="100" height="120" class="aligncenter size-full wp-image-79765" /></td>
			<td>Wilson Chandler</td>
			<td>Arizona</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/07/WillBarton100.jpg" alt="" title="WillBarton100" width="100" height="120" class="aligncenter size-full wp-image-22130" /></td>
			<td>Will Barton</td>
			<td>Memphis</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/KenFaried100.jpg" alt="" title="KenFaried100" width="100" height="120" class="aligncenter size-full wp-image-9047" /></td>
			<td>Ken Faried</td>
			<td>Morehead State</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/Mason-Plumlee-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-7187" /></td>
			<td>Mason Plumlee</td>
			<td>Duke</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/TylerLydon100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80416" /></td>
			<td>Tyler Lydon</td>
			<td>Syracuse</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/10/luismontero100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-89302" /></td>
			<td>Luis Montero</td>
			<td>Westchester CC</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/03/AndreDrummond100.jpg" alt="" title="AndreDrummond100" width="100" height="120" class="aligncenter size-full wp-image-18923" /></td>
			<td>Andre Drummond</td>
			<td>Connecticut</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/TobiasHarris100.jpg" alt="" title="TobiasHarris100" width="100" height="120" class="aligncenter size-full wp-image-7664" /></td>
			<td>Tobias Harris</td>
			<td>Tennessee</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/10/ReggieBullock100.jpg" alt="reggiebullock100" width="100" height="120" class="aligncenter size-full wp-image-79574" /></td>
			<td>Reggie Bullock</td>
			<td>North Carolina</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/ShaunLivingston100-7.jpg" alt="shaunlivingston100" width="100" height="120" class="aligncenter size-full wp-image-79780" /></td>
			<td>Shaun Livingston</td>
			<td>Peoria Central IL HS</td>
			<td>Golden State Warriors</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DavidWest100-1.jpg" alt="DavidWest100" width="100" height="120" class="aligncenter size-full wp-image-71068" /></td>
			<td>David West </td>
			<td>Xavier</td>
			<td>Golden State Warriors</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/kevindurant100.jpg" alt="" title="kevindurant100" width="100" height="120" class="aligncenter size-full wp-image-7585" /></td>
			<td>Kevin Durant</td>
			<td>Texas</td>
			<td>Golden State Warriors</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/ChinanuOnuaku100.jpg" alt="chinanuonuaku100" width="100" height="120" class="aligncenter size-full wp-image-79768" /></td>
			<td>Chinanu Onuaku</td>
			<td>Louisville</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JamesHarden100.jpg" alt="JamesHarden100" width="100" height="120" class="aligncenter size-full wp-image-70774" /></td>
			<td>James Harden</td>
			<td>Arizona State</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/TroyWilliams100.jpg" alt="troywilliams100" width="100" height="120" class="aligncenter size-full wp-image-79680" /></td>
			<td>Troy Williams</td>
			<td>Indiana</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/EricGordon100.jpg" alt="ericgordon100" width="100" height="120" class="aligncenter size-full wp-image-79676" /></td>
			<td>Eric Gordon</td>
			<td>Indiana</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/TrevorAriza100.jpg" alt="trevorariza100" width="100" height="120" class="aligncenter size-full wp-image-79770" /></td>
			<td>Trevor Ariza</td>
			<td>UCLA</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Chris-Paul-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Chris-Paul-100.jpg" alt="" title="Chris Paul 100" width="100" height="120" class="aligncenter size-full wp-image-1254" /></a></td>
			<td>Chris Paul</td>
			<td>Wake Forest</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Lance-Stevenson-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Lance-Stevenson-100.jpg" alt="" title="Lance Stevenson 100" width="100" height="120" class="aligncenter size-full wp-image-1377" /></a></td>
			<td>Lance Stephenson</td>
			<td>Cincinnati</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/CoryJoseph100.png" alt="coryjoseph100" width="100" height="120" class="aligncenter size-full wp-image-79706" /></td>
			<td>Cory Joseph</td>
			<td>Texas</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/GlennRobinson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-79772" /></td>
			<td>Glen Robinson</td>
			<td>Michigan</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/MontrezlHarrell100.jpeg" alt="MontrezlHarrell100" width="100" height="120" class="aligncenter size-full wp-image-71127" /></td>
			<td>Montrezl Harris</td>
			<td>Louisville</td>
			<td>Los Angeles Clippers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/01/Luol-Deng-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-1260" /></td>
			<td>Luol Deng</td>
			<td>Duke</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td></td>
			<td>Thomas Bryant</td>
			<td>Indiana</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/12/TylerEnnis1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-14413" /></td>
			<td>Tyler Ennis</td>
			<td>Syracuse</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JoshHart100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80313" /></td>
			<td>Josh Hart</td>
			<td>Villanova</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/06/KyleKuzma100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-86541" /></td>
			<td>Kyle Kuzma</td>
			<td>Utah</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/LarryNance100.jpg" alt="LarryNance100" width="100" height="120" class="aligncenter size-full wp-image-71125" /></td>
			<td>Larry Nance</td>
			<td>Wyoming</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/DillonBrooks100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-73403" /></td>
			<td>Dillon Brooks</td>
			<td>Oregon</td>
			<td>Memphis Grizzlies</td>
		</tr>
		<tr>
			<td>[caption id="attachment_79554" align="aligncenter" width="100"]<img src="https://hoopgroup.com/wp-content/uploads/2016/10/AndrewHarrison100-1.jpg" alt="April 22, 2012: Under Armour Hoop Group Jam Fest in Pittsburgh, Pennsylvania." width="100" height="120" class="size-full wp-image-79554" /></td>
			<td>Andrew Harrison</td>
			<td>Kentucky</td>
			<td>Memphis Grizzlies</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Tyreke-Evans-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Tyreke-Evans-100.jpg" alt="" title="Tyreke Evans 100" width="100" height="120" class="aligncenter size-full wp-image-1370" /></a></td>
			<td>Tyreke Evans</td>
			<td>Memphis</td>
			<td>Memphis Grizzlies</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/VinceHunter100-1.jpg" alt="" width="100" height="120" class="size-full wp-image-71158" /> </td>
			<td>Vince Hunter</td>
			<td>UTEP</td>
			<td>Memphis Grizzlies</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/WayneSelden100.jpg" alt="" width="100" height="120" class="size-full wp-image-82726" /> </td>
			<td>Wayne Selden</td>
			<td>Kansas</td>
			<td>Memphis Grizzlies</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Wayne-Ellington-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Wayne-Ellington-100.jpg" alt="" title="Wayne Ellington 100" width="100" height="120" class="aligncenter size-full wp-image-1389" /></a></td>
			<td>Wayne Ellington</td>
			<td>North Carolina</td>
			<td>Miami Heat</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65799" rel="attachment wp-att-65799"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/HassanWhiteside120.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65799" /></a></td>
			<td>Hassan Whiteside</td>
			<td>Marshall</td>
			<td>Miami Heat</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/EdriceAdebayo100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-70504" /></td>
			<td>Bam Adebayo</td>
			<td>Kentucky</td>
			<td>Miami Heat</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/03/DionWaiters100.jpg" alt="" title="DionWaiters100" width="100" height="120" class="aligncenter size-full wp-image-18827" /></td>
			<td>Dion Waiters</td>
			<td>Syracuse</td>
			<td>Miami Heat</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/RODNEYMCGRUDER100.jpg" alt="rodneymcgruder100" width="100" height="120" class="aligncenter size-full wp-image-79684" /></td>
			<td>Rodney McGruder</td>
			<td>Kansas State</td>
			<td>Miami Heat</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/10/ThonMaker100-3.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-89946" /></td>
			<td>Thon Maker</td>
			<td></td>
			<td>Milwaukee Bucks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/TajGibson100.jpg" alt="tajgibson100" width="100" height="120" class="aligncenter size-full wp-image-79760" /></td>
			<td>Taj Gibson</td>
			<td>USC</td>
			<td>Minnesota Timberwolves</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/AndrewWiggins100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46420" /></td>
			<td>Andrew Wiggins</td>
			<td>Kansas</td>
			<td>Minnesota Timberwolves</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65813" rel="attachment wp-att-65813"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/KarlTownsmvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65813" /></a></td>
			<td>Karl Anthony-Towns</td>
			<td>Kentucky</td>
			<td>Minnesota Timberwolves</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/CharlesCooke100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80525" /></td>
			<td>Charles Cooke</td>
			<td>Dayton</td>
			<td>New Orleans Pelicans</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/10/CheikhDiallo100.jpg" alt="cheikhdiallo100" width="100" height="120" class="aligncenter size-full wp-image-79555" /></td>
			<td>Cheick Diallo</td>
			<td>Kansas</td>
			<td>New Orleans Pelicans</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65817" rel="attachment wp-att-65817"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/DanteCunningham100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65817" /></a></td>
			<td>Dante Cunningham</td>
			<td>Villanova</td>
			<td>New Orleans Pelicans</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/KyleOQuinn100.jpg" alt="kyleoquinn100" width="100" height="120" class="aligncenter size-full wp-image-79847" /></td>
			<td>Kyle O'Quinn</td>
			<td>Norfolk State</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/02/LanceThomas100.jpg" alt="" title="LanceThomas100" width="100" height="120" class="aligncenter size-full wp-image-2520" /></td>
			<td>Lance Thomas</td>
			<td>Duke</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/TimHardaway100.jpg" alt="TimHardaway100" width="100" height="120" class="aligncenter size-full wp-image-71181" /></td>
			<td>Tim Hardaway</td>
			<td>Michigan</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JoakimNoah100.jpg" alt="JoakimNoah100" width="100" height="122" class="aligncenter size-full wp-image-71054" /></td>
			<td>Joakim Noah</td>
			<td>Florida</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/01/MikeBeasley100.jpg" alt="MikeBeasley100" width="100" height="120" class="aligncenter size-full wp-image-1388" /></td>
			<td>Michael Beasley</td>
			<td>Kansas State</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/PaulGeorge100.jpg" alt="PaulGeorge100" width="100" height="120" class="aligncenter size-full wp-image-70770" /></td>
			<td>Paul George</td>
			<td>Fresno State</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/11/RayFelton100.jpg" alt="" title="RayFelton100" width="100" height="120" class="aligncenter size-full wp-image-27007" /></td>
			<td>Raymond Felton</td>
			<td>North Carolina</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Carmelo-Anthony-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Carmelo-Anthony-100.jpg" alt="" title="Carmelo Anthony 100" width="100" height="120" class="aligncenter size-full wp-image-1253" /></a></td>
			<td>Carmelo Anthony</td>
			<td>Syracuse</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/PatrickPatterson100.jpg" alt="patrickpatterson100" width="100" height="120" class="aligncenter size-full wp-image-79700" /></td>
			<td>Patrick Patterson</td>
			<td>Kentucky</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/10/JeramiGrant2012.jpg" alt="jeramigrant2012" width="100" height="120" class="aligncenter size-full wp-image-79557" /></td>
			<td>Jerami Grant</td>
			<td>Syracuse</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/11/DakariJohnson100.jpg" alt="" width="100" height="120" class="size-full wp-image-55866" /></td>
			<td>Dakari Johnson</td>
			<td>Kentucky</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/AdreinPayne100.jpg" alt="AdreinPayne100" width="100" height="120" class="aligncenter size-full wp-image-71160" /></td>
			<td>Adreian Payne</td>
			<td>Michigan State</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/AaronAfflalo100.gif" alt="aaronafflalo100" width="100" height="120" class="aligncenter size-full wp-image-79807" /></td>
			<td>Arron Afflalo</td>
			<td>UCLA</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/03/ShelvinMack100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-7979" /></td>
			<td>Shelvin Mack</td>
			<td>Butler</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/06/wesleyiwundu100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-86543" /></td>
			<td>Wesley Iwundu</td>
			<td>Kansas State</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/06/MarkelleFultz100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-86579" /></td>
			<td>Markelle Fultz</td>
			<td>Washington</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/02/JamesMcAdoo100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57348" /></td>
			<td>James Michael McAdoo</td>
			<td>North Carolina</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/TJMcConnell100.jpg" alt="tjmcconnell100" width="100" height="120" class="aligncenter size-full wp-image-79795" /></td>
			<td>TJ McConnell</td>
			<td>Arizona</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JJReddick100.jpg" alt="JJReddick100" width="100" height="120" class="aligncenter size-full wp-image-70834" /></td>
			<td>JJ Reddick</td>
			<td>Duke</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65800" rel="attachment wp-att-65800"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/JustinAnderson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65800" /></a></td>
			<td>Justin Anderson</td>
			<td>Virginia</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/nickstauskas100.jpg" alt="nickstauskas100" width="100" height="120" class="aligncenter size-full wp-image-79797" /></td>
			<td>Nik Stauskus</td>
			<td>Michigan</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/TylerUlis100.jpg" alt="tylerulis100" width="100" height="120" class="aligncenter size-full wp-image-79710" /></td>
			<td>Tyler Ulis</td>
			<td>Kentucky</td>
			<td>Phoenix Suns</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/JoshJackson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82722" /></td>
			<td>Josh Jackson</td>
			<td>Kansas</td>
			<td>Phoenix Suns</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/DerrickJones100.jpg" alt="DerrickJones100" width="100" height="120" class="aligncenter size-full wp-image-57877" /></td>
			<td>Derrick Jones</td>
			<td>UNLV</td>
			<td>Phoenix Suns</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/09/DavonReed100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-12652" /></td>
			<td>Davon Reed</td>
			<td>Miami</td>
			<td>Phoenix Suns</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Brandon-Knight-100.jpg" alt="" title="Brandon Knight 100" width="100" height="120" class="aligncenter size-full wp-image-2970" /></td>
			<td>Brandon Knight</td>
			<td>Kentucky</td>
			<td>Phoenix Suns</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DamianLillard100.jpg" alt="DamianLillard100" width="100" height="120" class="aligncenter size-full wp-image-71047" /></td>
			<td>Damian Lillard</td>
			<td>Weber State</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/EdDavis100.jpg" alt="eddavis100" width="100" height="120" class="aligncenter size-full wp-image-79799" /></td>
			<td>Ed Davis</td>
			<td>North Carolina</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/07/MauriceHarkless100.jpg" alt="" title="MauriceHarkless100" width="100" height="120" class="aligncenter size-full wp-image-22129" /></td>
			<td>Maurice Harkless</td>
			<td>St. John's</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/ShabazzNapier100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-48235" /></td>
			<td>Shabazz Napier</td>
			<td>UConn</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/02/NoahVonleh100.png" alt="" width="100" height="120" class="aligncenter size-full wp-image-28819" /></td>
			<td>Noah Vonleh</td>
			<td>Indiana</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/CJMcCollum100.jpg" alt="CJMcCollum100" width="100" height="120" class="aligncenter size-full wp-image-70778" /></td>
			<td>CJ McCollum</td>
			<td>Lehigh</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/KostosKoufos100.jpg" alt="kostoskoufos100" width="100" height="120" class="aligncenter size-full wp-image-79801" /></td>
			<td>Kosta Koufos</td>
			<td>Ohio State</td>
			<td>Sacramento Kings</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/10/GeorgiosPapagiannis100.jpg" alt="georgiospapagiannis100" width="100" height="120" class="aligncenter size-full wp-image-79561" /></td>
			<td>Georgios Papagiannis</td>
			<td>Greece</td>
			<td>Sacramento Kings</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/VinceCarter100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/VinceCarter100.jpg" alt="" title="VinceCarter100" width="100" height="120" class="aligncenter size-full wp-image-1374" /></a></td>
			<td>Vince Carter</td>
			<td>North Carolina</td>
			<td>Sacramento KIngs</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/JakarrSampson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-83104" /></td>
			<td>Jakarr Sampson</td>
			<td>St. John's</td>
			<td>Sacramento Kings</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/FrankMason100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80265" /></td>
			<td>Frank Mason</td>
			<td>Kansas</td>
			<td>Sacramento Kings</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/10/Malachi-Richardson.jpg" alt="malachi-richardson" width="100" height="120" class="aligncenter size-full wp-image-79562" /></td>
			<td>Malachi Richardson</td>
			<td>Syracuse</td>
			<td>Sacramento Kings</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DannyGreen100.gif" alt="dannygreen100" width="100" height="120" class="aligncenter size-full wp-image-79809" /></td>
			<td>Danny Green</td>
			<td>North Carolina</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/LaMarcusAldridge100.jpg" alt="LaMarcusAldridge100" width="100" height="120" class="aligncenter size-full wp-image-70772" /></td>
			<td>LaMarcus Aldridge</td>
			<td>Texas</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65811" rel="attachment wp-att-65811"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/DarrunHilliard100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65811" /></a></td>
			<td>Darrun Hilliard</td>
			<td>Villanova</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/KyleAnderson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-48463" /></td>
			<td>Kyle Anderson</td>
			<td>UCLA</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/RudyGay100.jpg" alt="rudygay100" width="100" height="120" class="aligncenter size-full wp-image-79695" /></td>
			<td>Rudy Gay</td>
			<td>UConn</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Kyle-Lowery-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Kyle-Lowery-100.jpg" alt="" title="Kyle Lowery 100" width="100" height="120" class="aligncenter size-full wp-image-1376" /></a></td>
			<td>Kyle Lowery</td>
			<td>Villanova</td>
			<td>Toronto Raptors</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/10/malcolmmiller100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-89329" /></td>
			<td>Malcolm Miller</td>
			<td>Holy Cross</td>
			<td>Toronto Raptors</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DelonWright100.jpg" alt="DelonWright100" width="100" height="120" class="aligncenter size-full wp-image-71134" /></td>
			<td>Delon Wright</td>
			<td>Utah</td>
			<td>Toronto Raptors</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DonovanMitchell100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80527" /></td>
			<td>Donovan Mitchell</td>
			<td>Louisville</td>
			<td>Utah Jazz</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/10/EkpeUdoh100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-89340" /></td>
			<td>Ekpe Udoh</td>
			<td>Baylor</td>
			<td>Utah Jazz</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/Devin-Robinson-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45007" /></td>
			<td>Devin Robinson</td>
			<td>Florida</td>
			<td>Washington Wizards</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/MikeYoung100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-48175" /></td>
			<td>Mike Young</td>
			<td>Pittsburgh</td>
			<td>Washington Wizards</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JodieMeeks100.jpg" alt="jodiemeeks100" width="100" height="120" class="aligncenter size-full wp-image-79721" /></td>
			<td>Jodie Meeks</td>
			<td>Kentucky</td>
			<td>Washington Wizards</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/MarkeifMorris100.jpg" alt="" title="MarkeifMorris100" width="100" height="120" class="aligncenter size-full wp-image-2674" /></td>
			<td>Markieff Morris</td>
			<td>Kansas</td>
			<td>Washington Wizards</td>
		</tr>
		<tr>
			<td>[caption id="attachment_79821" align="aligncenter" width="100"]<img src="https://hoopgroup.com/wp-content/uploads/2016/11/JasonSmith100.jpg" alt="KERSEY, COLORADO (01-27-04) Platte Valley High School senior Jason Smith has already committed to CSU next year. Denver Post Photo by Karl Gehring.  (Photo By Karl Gehring/The Denver Post via Getty Images)" width="100" height="120" class="size-full wp-image-79821" /></td>
			<td>Jason Smith</td>
			<td>Colorado State</td>
			<td>Washington Wizards</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/MikeScott.jpg" alt="MikeScott" width="100" height="120" class="aligncenter size-full wp-image-71178" /></td>
			<td>Mike Scott</td>
			<td>Virginia</td>
			<td>Washington Wizards</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/JohnWall100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/JohnWall100.jpg" alt="" title="JohnWall100" width="100" height="120" class="aligncenter size-full wp-image-1367" /></a></td>
			<td>John Wall</td>
			<td>Kentucky</td>
			<td>Washington Wizards</td>
		</tr>
	</tbody>
</table>
