<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Central Catholic  47</td>
			<td>Bishop Hannan  46</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Christ the King NY  60</td>
			<td>Parkland  51</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Germantown Academy  72</td>
			<td>St. Patrick NJ  57</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Williamsport  79</td>
			<td>Harrisburg  62</td>
			<td></td>
		</tr>
	</tbody>
</table>
