<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Team</th>
			<th></th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>2:00</td>
			<td>Newark Eastside </td>
			<td>vs.</td>
			<td>Blair</td>
		</tr>
		<tr>
			<td>3:40</td>
			<td>Hudson Catholic</td>
			<td>vs.</td>
			<td>Don Bosco</td>
		</tr>
		<tr>
			<td>5:20</td>
			<td>Paterson Eastside </td>
			<td>vs.</td>
			<td>St. Peter's Prep</td>
		</tr>
		<tr>
			<td>7:00</td>
			<td>Seton Hall Prep</td>
			<td>vs.</td>
			<td>Columbia</td>
		</tr>
	</tbody>
</table>
