<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Mershan Monroe</td>
			<td>Hackensack NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/WillMaynard100.jpg" alt="" title="WillMaynard100" width="100" height="120" class="aligncenter size-full wp-image-12671" /></td>
			<td>Will Maynard</td>
			<td>Faith Christian PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/DonaldMapes100.jpg" alt="" title="DonaldMapes100" width="100" height="120" class="aligncenter size-full wp-image-12672" /></td>
			<td>Donald Mapes</td>
			<td>Kingston NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/VaughnDudley100.jpg" alt="" title="VaughnDudley100" width="100" height="120" class="aligncenter size-full wp-image-12673" /></td>
			<td>Vaughn Dudley</td>
			<td>Paramus Catholic NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/berkanBasmergen100.jpg" alt="" title="berkanBasmergen100" width="100" height="120" class="aligncenter size-full wp-image-12674" /></td>
			<td>Berkan Basmergen</td>
			<td>Bodwell CN</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/EmmanuelMatey100.jpg" alt="" title="EmmanuelMatey100" width="100" height="120" class="aligncenter size-full wp-image-12676" /></td>
			<td>Emmanuel Matey</td>
			<td>Bishop McNamara MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/KhalidNwandu100.jpg" alt="" title="KhalidNwandu100" width="100" height="120" class="aligncenter size-full wp-image-12703" /></td>
			<td>Khalid Nwandu</td>
			<td>Northeastern PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/KadeemStanislaw100.jpg" alt="" title="KadeemStanislaw100" width="100" height="120" class="aligncenter size-full wp-image-12704" /></td>
			<td>Kadeem Stanislaw</td>
			<td>Robeson NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/WilliamDarley100.jpg" alt="" title="WilliamDarley100" width="100" height="120" class="aligncenter size-full wp-image-12677" /></td>
			<td>William Darley</td>
			<td>Dulaney MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MalachiAlexander100.jpg" alt="" title="MalachiAlexander100" width="100" height="120" class="aligncenter size-full wp-image-12705" /></td>
			<td>Malachi Alexander</td>
			<td>Eleanor Roosevelt MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/KevinOConnor100.jpg" alt="" title="KevinO&#039;Connor100" width="100" height="120" class="aligncenter size-full wp-image-12718" /></td>
			<td>Kevin O'Connor</td>
			<td>St. Paul's NH</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AlexJordan100.jpg" alt="" title="AlexJordan100" width="100" height="120" class="aligncenter size-full wp-image-12678" /></td>
			<td>Alex Jordan</td>
			<td>Council Rock North PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AndrewCannon100.jpg" alt="" title="AndrewCannon100" width="100" height="120" class="aligncenter size-full wp-image-12681" /></td>
			<td>Andrew Cannon</td>
			<td>St. Peter's NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/EdwinSainvil100.jpg" alt="" title="EdwinSainvil100" width="100" height="120" class="aligncenter size-full wp-image-12682" /></td>
			<td>Edwin Sainvil</td>
			<td>Lawrence Woodmere NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Fred Millar</td>
			<td>Wellington FL</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/KevinKochiss100.jpg" alt="" title="KevinKochiss100" width="100" height="120" class="aligncenter size-full wp-image-12706" /></td>
			<td>Kevin Kochiss</td>
			<td>Amity CT</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TiagoRaimundo100.jpg" alt="" title="TiagoRaimundo100" width="100" height="120" class="aligncenter size-full wp-image-12707" /></td>
			<td>Tiago Raimundo</td>
			<td>Augusto Carbita Portugal</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/FloydPreito100.jpg" alt="" title="FloydPreito100" width="100" height="120" class="aligncenter size-full wp-image-12931" /></td>
			<td>Floyd Preito</td>
			<td>Westtown PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JeysonleeJones100.jpg" alt="" title="JeysonleeJones100" width="100" height="120" class="aligncenter size-full wp-image-12708" /></td>
			<td>Jeysonlee Jones</td>
			<td>Valley Stream South NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AnthonyCampbell100.jpg" alt="" title="AnthonyCampbell100" width="100" height="120" class="aligncenter size-full wp-image-12709" /></td>
			<td>Anthony Campbell</td>
			<td>Georgetown Day DC</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TomSweeney100.jpg" alt="" title="TomSweeney100" width="100" height="120" class="aligncenter size-full wp-image-12683" /></td>
			<td>Tom Sweeney</td>
			<td>Don Bosco NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/CodyCooper100.jpg" alt="" title="CodyCooper100" width="100" height="120" class="aligncenter size-full wp-image-12710" /></td>
			<td>Cody Cooper</td>
			<td>State College PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/RickieBowser100.jpg" alt="" title="RickieBowser100" width="100" height="120" class="aligncenter size-full wp-image-12711" /></td>
			<td>Rickie Bowser</td>
			<td>Franklin Classical TN</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/CoreyStanford100.jpg" alt="" title="CoreyStanford100" width="100" height="120" class="aligncenter size-full wp-image-12684" /></td>
			<td>Corey Stanford</td>
			<td>Kiski PA</td>
		</tr>
	</tbody>
</table>
