<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Keith Brown</td>
			<td>Pelham NH</td>
			<td>Endicott</td>
		</tr>
		<tr>
			<td>Tarchee Brown</td>
			<td>Rockville CT</td>
			<td>Eastern Connecticut State</td>
		</tr>
		<tr>
			<td>Jack Daly</td>
			<td>Eastchester NY</td>
			<td>Middlebury</td>
		</tr>
		<tr>
			<td>Marcos Echevarria</td>
			<td>Floral Park NY</td>
			<td>Nichols</td>
		</tr>
		<tr>
			<td>Brandon Federici</td>
			<td>Lawrenceville Prep NJ</td>
			<td>Franklin &amp; Marshall</td>
		</tr>
		<tr>
			<td>Jay Howard</td>
			<td>Paul VI NJ</td>
			<td>Catholic</td>
		</tr>
		<tr>
			<td>Bradley Jomard</td>
			<td>New Hampton NH</td>
			<td>MIT</td>
		</tr>
		<tr>
			<td>Sam Light</td>
			<td>Northern Lebanon PA</td>
			<td>Lebanon Valley</td>
		</tr>
		<tr>
			<td>Dalton Meyers</td>
			<td>Westminster MD</td>
			<td>York PA</td>
		</tr>
		<tr>
			<td>Jake Ross</td>
			<td>Williston MA</td>
			<td>Springfield MA</td>
		</tr>
		<tr>
			<td>Danzell Wright</td>
			<td>National Collegiate MD</td>
			<td>Stevenson</td>
		</tr>
	</tbody>
</table>
