<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TrentMcCallum100.jpg" alt="" title="TrentMcCallum100" width="100" height="120" class="aligncenter size-full wp-image-12895" /></td>
			<td>Trent McCallum</td>
			<td>Perryhall MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Isaiah Foust</td>
			<td>Xavier NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Jordan Martin</td>
			<td>John Carroll MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/FritzEibel100.jpg" alt="" title="FritzEibel100" width="100" height="120" class="aligncenter size-full wp-image-12857" /></td>
			<td>Fritz Eibel</td>
			<td>La Costa Canyon CA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ShawnJohnson100.jpg" alt="" title="ShawnJohnson100" width="100" height="120" class="aligncenter size-full wp-image-12896" /></td>
			<td>Shawn Johnson</td>
			<td>St. Mary's NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/SeanRyan100.jpg" alt="" title="SeanRyan100" width="100" height="120" class="aligncenter size-full wp-image-12897" /></td>
			<td>Sean Ryan</td>
			<td>St. Peter's NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/DaquanWare100.jpg" alt="" title="DaquanWare100" width="100" height="120" class="aligncenter size-full wp-image-12858" /></td>
			<td>Daquan Ware</td>
			<td>Harrisburg PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/DanteLombardi1001.jpg" alt="" title="DanteLombardi100" width="100" height="120" class="aligncenter size-full wp-image-12860" /></td>
			<td>Dante Lombardi</td>
			<td>Indiana PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ChristopherBurkley100.jpg" alt="" title="ChristopherBurkley100" width="100" height="120" class="aligncenter size-full wp-image-12861" /></td>
			<td>Christopher Burkley</td>
			<td>Harborfield NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/BrandonGreen100.jpg" alt="" title="BrandonGreen100" width="100" height="120" class="aligncenter size-full wp-image-12862" /></td>
			<td>Brandon Green</td>
			<td>Georgetown Prep MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ChristopherWright100.jpg" alt="" title="ChristopherWright100" width="100" height="120" class="aligncenter size-full wp-image-12863" /></td>
			<td>Christopher Wright</td>
			<td>St. Peter's NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/BrandonLindsay100.jpg" alt="" title="BrandonLindsay100" width="100" height="120" class="aligncenter size-full wp-image-12864" /></td>
			<td>Brandon Lindsay</td>
			<td>Poly Tech MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JohnCrosby100.jpg" alt="" title="JohnCrosby100" width="100" height="120" class="aligncenter size-full wp-image-12865" /></td>
			<td>John Crosby</td>
			<td>Poly MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JamesEzell100.jpg" alt="" title="JamesEzell100" width="100" height="120" class="aligncenter size-full wp-image-12866" /></td>
			<td>James Ezell</td>
			<td>Harrisburg PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TimothyBond100.jpg" alt="" title="TimothyBond100" width="100" height="120" class="aligncenter size-full wp-image-12898" /></td>
			<td>Timothy Bond</td>
			<td>Baltimore City MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Nuku Tafu</td>
			<td>Middletown DE</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TyasMartin100.jpg" alt="" title="TyasMartin100" width="100" height="120" class="aligncenter size-full wp-image-12899" /></td>
			<td>Tyas Martin</td>
			<td>Wichita East KS</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MalcolmWalters100.jpg" alt="" title="MalcolmWalters100" width="100" height="120" class="aligncenter size-full wp-image-12900" /></td>
			<td>Malcolm Walters</td>
			<td>St. Edwards OH</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JohnnyPeterson100.jpg" alt="" title="JohnnyPeterson100" width="100" height="120" class="aligncenter size-full wp-image-12867" /></td>
			<td>Johnny Peterson</td>
			<td>St. Augustine's CA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AJCabbagestalk100.jpg" alt="" title="AJCabbagestalk100" width="100" height="120" class="aligncenter size-full wp-image-12868" /></td>
			<td>AJ Cabbagestalk</td>
			<td>Montrose MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Xavier Couthen</td>
			<td>Glen Mills PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Kai Dalce</td>
			<td>Archbishop Spalding MD</td>
		</tr>
	</tbody>
</table>
