<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Team</th>
			<th></th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12:00</td>
			<td>Hun</td>
			<td>vs.</td>
			<td>Paramus Catholic</td>
		</tr>
		<tr>
			<td>1:40</td>
			<td>Rutgers Prep</td>
			<td>vs.</td>
			<td>Hudson Catholic</td>
		</tr>
		<tr>
			<td>3:20</td>
			<td>St. Joseph's Metuchen</td>
			<td>vs.</td>
			<td>Teaneck</td>
		</tr>
		<tr>
			<td>5:00</td>
			<td>Trenton Catholic</td>
			<td>vs.</td>
			<td>St. Anthony's</td>
		</tr>
		<tr>
			<td>6:40</td>
			<td>Roselle Catholic</td>
			<td>vs.</td>
			<td>St. Benedict's</td>
		</tr>
	</tbody>
</table>
