<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/EricMika100.jpg" alt="ericmika100" width="100" height="120" class="aligncenter size-full wp-image-80503" /></td>
			<td>Eric Mika</td>
			<td>Brigham Young</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65597" rel="attachment wp-att-65597"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/ThomasBryant100.jpg" alt="" width="100" height="121" class="aligncenter size-full wp-image-65597" /></a></td>
			<td>Thomas Bryant</td>
			<td>Indiana</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/01/EdriceAdebayo100.jpg" alt="EdriceAdebayo100" width="100" height="120" class="aligncenter size-full wp-image-68518" /></td>
			<td>Bam Adebayo</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/PascalChukwu100.jpg" alt="pascalchukwu100" width="100" height="120" class="aligncenter size-full wp-image-80489" /></td>
			<td>Pascal Chukwu</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/ThomasWelsh100.jpg" alt="thomaswelsh100" width="100" height="120" class="aligncenter size-full wp-image-80491" /></td>
			<td>Thomas Welsh</td>
			<td>UCLA</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/KennedyMeeks100.jpg" alt="kennedymeeks100" width="100" height="120" class="aligncenter size-full wp-image-80494" /></td>
			<td>Kennedy Meeks</td>
			<td>North Carolina</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/MoAlie-Cox100.jpg" alt="moalie-cox100" width="100" height="120" class="aligncenter size-full wp-image-80496" /></td>
			<td>Mo Alie-Cox</td>
			<td>VCU</td>
		</tr>
	</tbody>
</table>
