<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Address/Directions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>University High School</td>
			<td><a href="http://boe.mono.k12.wv.us/uhs/athletics/directions.htm">131 Bakers Ridge Road, Morgantown WV 26508</a></td>
		</tr>
		<tr>
			<td>Morgantown High School</td>
			<td><a href="http://boe.mono.k12.wv.us/mhs/?page_id=124">109 Wilson Ave., Morgantown WV, 26501-7588</a></td>
		</tr>
		<tr>
			<td>Trinity Christian School</td>
			<td><a href="http://www.tcswv.org/directions.html">200 Trinity Way, Morgantown WV, 26505</a></td>
		</tr>
		<tr>
			<td>St. Francis HS</td>
			<td><a href="http://falcon.sfcc.pvt.k12.wv.us/index.php?option=com_content&amp;task=view&amp;id=2&amp;Itemid=6">41 Guthrie Lane Morgantown WV 26508-4837</a></td>
		</tr>
		<tr>
			<td>Mylan Park</td>
			<td>	500 Mylan Park Lane  Morgantown, WV 26501</td>
		</tr>
		<tr>
			<td>Cheat Lake Elementary School</td>
			<td><a href="https://plus.google.com/114113119689212397921/about?gl=us&amp;hl=en">154 Crosby Road, Morgantown WV 26508-927</a></td>
		</tr>
		<tr>
			<td>South Middle School</td>
			<td><a href="https://plus.google.com/101094089340109679809/about?gl=us&amp;hl=en">500 East Parkway Dr. Morgantown, WV 26501-686</a></td>
		</tr>
	</tbody>
</table>
