<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Graduation Year</th>
			<th>School</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Kenneth Tyree Jr.</td>
			<td>2018</td>
			<td></td>
			<td>Friendship Chamberlin Charter, DC</td>
		</tr>
		<tr>
			<td></td>
			<td>Michael Watkins</td>
			<td>2018</td>
			<td></td>
			<td>Union Catholic, NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Sloan Seymour</td>
			<td>2018</td>
			<td></td>
			<td>Christian Brothers Academy</td>
		</tr>
		<tr>
			<td></td>
			<td>Jared Bynum</td>
			<td>2018</td>
			<td></td>
			<td>Georgetown Prep, MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Amadou Nidiya</td>
			<td>2018</td>
			<td></td>
			<td>All Hallows, NY</td>
		</tr>
		<tr>
			<td></td>
			<td>James Leible</td>
			<td>2018</td>
			<td></td>
			<td>St Joseph Prep, PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Paul Person</td>
			<td>2018</td>
			<td></td>
			<td>Lincoln, NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Prentiss Hubb</td>
			<td>2018</td>
			<td></td>
			<td>Gonzaga HS, DC </td>
		</tr>
		<tr>
			<td></td>
			<td>Mahki Mitchell</td>
			<td>2019</td>
			<td></td>
			<td>Paul Public Charter, DC</td>
		</tr>
		<tr>
			<td></td>
			<td>Donovan Toatley</td>
			<td>2018</td>
			<td></td>
			<td>St. Stephens St. Anges, VA</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Childs</td>
			<td>2018</td>
			<td></td>
			<td>Masters School, NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Mahkel Mitchell</td>
			<td>2019</td>
			<td></td>
			<td>Paul Public Charter, DC</td>
		</tr>
		<tr>
			<td></td>
			<td>Sheriff Kenny</td>
			<td>2019</td>
			<td></td>
			<td>Washington Jesuit, DC</td>
		</tr>
		<tr>
			<td></td>
			<td>Rodrique Massenat</td>
			<td>2018</td>
			<td></td>
			<td>St. Patrick's , NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Justin Winston</td>
			<td>2018</td>
			<td></td>
			<td>Hudson Catholic, NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Alexander Schachne</td>
			<td>2018</td>
			<td></td>
			<td>Gil St. Bernard's , NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Maurice Calloo</td>
			<td>2018</td>
			<td></td>
			<td>Catholic Central, CN</td>
		</tr>
		<tr>
			<td></td>
			<td>Dallas Watson</td>
			<td>2018</td>
			<td></td>
			<td>Brooklyn, NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Bourne</td>
			<td>2018</td>
			<td></td>
			<td>Joseph B. Caualbro, NY</td>
		</tr>
		<tr>
			<td></td>
			<td>DAngelo Tull</td>
			<td>2018</td>
			<td></td>
			<td>St. Mary's Ryken, MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Jahvon Quinerly</td>
			<td>2018</td>
			<td></td>
			<td>Hudson Catholic, NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Luis Herrera</td>
			<td>2019</td>
			<td></td>
			<td>Brooklyn, NY</td>
		</tr>
	</tbody>
</table>
