<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/EvanBradds100.jpg" alt="evanbradds100" width="100" height="120" class="aligncenter size-full wp-image-80311" /></td>
			<td>Evan Bradds</td>
			<td>Belmont</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/KelanMartin100.jpg" alt="kelanmartin100" width="100" height="120" class="aligncenter size-full wp-image-80320" /></td>
			<td>Kelan Martin</td>
			<td>Butler</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/TerryLarrier100.jpg" alt="terrylarrier100" width="100" height="120" class="aligncenter size-full wp-image-80309" /></td>
			<td>Terry Larrier</td>
			<td>UConn</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/VJBeachem100.jpg" alt="vjbeachem100" width="100" height="120" class="aligncenter size-full wp-image-80321" /></td>
			<td>VJ Beachem</td>
			<td>Notre Dame</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JaeSeanTate100.jpg" alt="jaeseantate100" width="100" height="120" class="aligncenter size-full wp-image-80322" /></td>
			<td>Jae'Sean Tate</td>
			<td>Ohio State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/DillonBrooks100.jpg" alt="DillonBrooks100" width="100" height="120" class="aligncenter size-full wp-image-73403" /></td>
			<td>Dillon Brooks</td>
			<td>Oregon</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/TresTinkle100.jpg" alt="trestinkle100" width="100" height="120" class="aligncenter size-full wp-image-80330" /></td>
			<td>Tres Trinkle</td>
			<td>Oregon State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/VinceEdwards100.jpg" alt="vinceedwards100" width="100" height="120" class="aligncenter size-full wp-image-80360" /></td>
			<td>Vince Edwards</td>
			<td>Purdue</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/KevinHervey100.jpg" alt="kevinhervey100" width="100" height="120" class="aligncenter size-full wp-image-80355" /></td>
			<td>Kevin Hervey</td>
			<td>UT Arlington</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JoshHart100.jpg" alt="joshhart100" width="100" height="120" class="aligncenter size-full wp-image-80313" /></td>
			<td>Josh Hart</td>
			<td>Wichita State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/02/MarkisMcDuffiemvp100.jpg" alt="MarkisMcDuffiemvp100" width="100" height="120" class="aligncenter size-full wp-image-57254" /></td>
			<td>Markis McDuffie</td>
			<td>Wichita State</td>
		</tr>
	</tbody>
</table>
