<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>College</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Harrison Blackledge</td>
			<td>Hope</td>
			<td>Canton OH</td>
		</tr>
		<tr>
			<td>Thomas Bonacum</td>
			<td>Ramapo</td>
			<td>Fanwood NJ</td>
		</tr>
		<tr>
			<td>Tim Daly</td>
			<td>Christopher Newport</td>
			<td>Richmond VA</td>
		</tr>
		<tr>
			<td>Steven Weidlich</td>
			<td>Susquehanna</td>
			<td>Watchung NJ</td>
		</tr>
		<tr>
			<td>Aldin Medunjanin</td>
			<td>Skidmore</td>
			<td>New York, NY</td>
		</tr>
		<tr>
			<td>Matt St. Amour</td>
			<td>Middlebury</td>
			<td>Swanton VT</td>
		</tr>
		<tr>
			<td>Zack Burnett</td>
			<td>Lynchburg</td>
			<td>Fairfax VA</td>
		</tr>
	</tbody>
</table>
