<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>TJ McConnell</td>
			<td>Arizona</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/03/KyleAnderson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-8442" /></td>
			<td>Kyle Anderson</td>
			<td>UCLA</td>
		</tr>
		<tr>
			<td></td>
			<td>Billy Baron</td>
			<td>Canisius</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/ShabazzNapier100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18921" /></td>
			<td>Shabazz Napier</td>
			<td>UConn</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/QuinnCook100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18828" /></td>
			<td>Quinn Cook</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td></td>
			<td>Devon Bookert</td>
			<td>Florida State</td>
		</tr>
		<tr>
			<td></td>
			<td>Markel Starks</td>
			<td>Georgetown</td>
		</tr>
		<tr>
			<td></td>
			<td>Brandyn Curry</td>
			<td>Harvard</td>
		</tr>
		<tr>
			<td></td>
			<td>DeAndre Kane</td>
			<td>Iowa State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/10/AndrewHarrison100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44424" /></td>
			<td>Andrew Harrison</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td></td>
			<td>Anthony Ireland</td>
			<td>Loyola Marymount</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/10/chazwilliams100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44430" /></td>
			<td>Chaz Williams</td>
			<td>UMass</td>
		</tr>
		<tr>
			<td></td>
			<td>Keith Appling</td>
			<td>Michigan State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/EricAtkins100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18916" /></td>
			<td>Eric Atkins</td>
			<td>Notre Dame</td>
		</tr>
		<tr>
			<td></td>
			<td>Aaron Craft</td>
			<td>Ohio State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/12/TylerEnnis1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-14413" /></td>
			<td>Tyler Ennis</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/10/RyanArcidiacano100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44428" /></td>
			<td>Ryan Arcidiacono</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td></td>
			<td>Semaj Christon</td>
			<td>Xavier</td>
		</tr>
	</tbody>
</table>
