<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Damian Chong Qui</td>
			<td>McDonogh MD</td>
		</tr>
		<tr>
			<td>Daniel Kiely</td>
			<td>Notre Dame Prep MA</td>
		</tr>
		<tr>
			<td>Mike Speight</td>
			<td>Wise MD</td>
		</tr>
		<tr>
			<td>Nick Macarchuk</td>
			<td>De La Salle CA</td>
		</tr>
		<tr>
			<td>Rhona Eseyade</td>
			<td>Bergen Catholic NJ</td>
		</tr>
		<tr>
			<td>Rossano Jones</td>
			<td>Friends MD</td>
		</tr>
		<tr>
			<td>CJ Prater</td>
			<td>Whitehall Yearling OH</td>
		</tr>
		<tr>
			<td>Quinton Drayton</td>
			<td>Bowie MD</td>
		</tr>
		<tr>
			<td>Christian Wilson</td>
			<td>Pomfret Prep CT</td>
		</tr>
		<tr>
			<td>Warren Williams</td>
			<td>St. Benedict's NJ</td>
		</tr>
		<tr>
			<td>Jordan Henry</td>
			<td>Pine Ridge CN</td>
		</tr>
		<tr>
			<td>Elmange Watson</td>
			<td>TAAG Academy FL</td>
		</tr>
		<tr>
			<td>Austin Hutcherson</td>
			<td>Hun NJ</td>
		</tr>
		<tr>
			<td>Jordan Camper</td>
			<td>Chester PA</td>
		</tr>
		<tr>
			<td>Tyler Williams</td>
			<td>St. Francis MD</td>
		</tr>
		<tr>
			<td>Myles Mitchell-White</td>
			<td>Lawrence NJ</td>
		</tr>
		<tr>
			<td>Jeffrey Gary</td>
			<td>Stephen F Austin TX</td>
		</tr>
		<tr>
			<td>Adrien Nunez</td>
			<td>Bishop Loughlin</td>
		</tr>
		<tr>
			<td>Bobby Planutis</td>
			<td>Bridgton Academy ME</td>
		</tr>
		<tr>
			<td>Peace Llegomah</td>
			<td>Roselle Catholic NJ</td>
		</tr>
	</tbody>
</table>
