<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/AllonzoTrier100.jpg" alt="allonzotrier100" width="100" height="120" class="aligncenter size-full wp-image-80531" /></td>
			<td>Allonzo Trier</td>
			<td>Arizona</td>
		</tr>
		<tr>
			<td></td>
			<td>Kellen Dunham</td>
			<td>Butler</td>
		</tr>
		<tr>
			<td></td>
			<td>AJ English</td>
			<td>Iona</td>
		</tr>
		<tr>
			<td></td>
			<td>Caris Levert</td>
			<td>Michigan</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65483" rel="attachment wp-att-65483"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Melvin-Johnson-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65483" /></a></td>
			<td>Melvin Johnson</td>
			<td>VCU</td>
		</tr>
	</tbody>
</table>
