<table>
	<thead>
		<tr>
			<th>PHOTO</th>
			<th>NAME</th>
			<th>NBA TEAM</th>
			<th>COLLEGE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/DillonBrooks100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-73403" /></td>
			<td>Dillon Brooks</td>
			<td>Memphis Grizzlies</td>
			<td>Oregon</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/06/KyleKuzma100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-86541" /></td>
			<td>Kyle Kuzma</td>
			<td>Los Angeles Lakers</td>
			<td>Utah</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DonovanMitchell100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80527" /></td>
			<td>Donovan Mitchell</td>
			<td>Utah Jazz</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DennisSmith2100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80246" /></td>
			<td>Dennis Smith</td>
			<td>Dallas Mavericks</td>
			<td>NC State</td>
		</tr>
	</tbody>
</table>
