<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Justin Jennifer
</td>
			<td>Team Takeover DC
</td>
		</tr>
		<tr>
			<td></td>
			<td>Bryant Crawford
</td>
			<td>Team Takeover DC
</td>
		</tr>
		<tr>
			<td></td>
			<td>Marcus Derrickson
</td>
			<td>Team Takeover DC
</td>
		</tr>
		<tr>
			<td></td>
			<td>Taron Oliver
</td>
			<td>Team Takeover DC
</td>
		</tr>
		<tr>
			<td></td>
			<td>Nigel Ribiero
</td>
			<td>BWSL Kelly
</td>
		</tr>
		<tr>
			<td></td>
			<td>Trey Fayton
</td>
			<td>BWSL Kelly
</td>
		</tr>
		<tr>
			<td></td>
			<td>Brandon Alston 
</td>
			<td>Boo Williams

</td>
		</tr>
		<tr>
			<td></td>
			<td>Edrice Adebayo 
</td>
			<td>Boo Williams

</td>
		</tr>
		<tr>
			<td></td>
			<td>Walter Broddie
</td>
			<td>Marylands Finest
</td>
		</tr>
		<tr>
			<td></td>
			<td>Leroy Butts
</td>
			<td>Marylands Finest
</td>
		</tr>
		<tr>
			<td></td>
			<td>Kai Locksley
</td>
			<td>Marylands Finest
</td>
		</tr>
		<tr>
			<td></td>
			<td>Devin Morgan
</td>
			<td>Team Richmond
</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Femi
</td>
			<td>Fairfax Stars
</td>
		</tr>
		<tr>
			<td></td>
			<td>Curtis Jones
</td>
			<td>Team loaded Jones
</td>
		</tr>
		<tr>
			<td></td>
			<td>Raynon Minor
</td>
			<td>Team Loaded Ward
</td>
		</tr>
		<tr>
			<td></td>
			<td>Elijah Cooper
</td>
			<td>Crusader Nation
</td>
		</tr>
		<tr>
			<td></td>
			<td>Khalil Richard
</td>
			<td>Crusader Nation
</td>
		</tr>
		<tr>
			<td></td>
			<td>Franklin Howard
</td>
			<td>Team Takeover DC Orange 
</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
