<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Marist NJ  45</td>
			<td>Whitehall  31</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Anthony NJ  57</td>
			<td>Chambersburg  40</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Plymouth Whitemarsh  61</td>
			<td>St. Patrick NJ  53</td>
			<td></td>
		</tr>
	</tbody>
</table>
