<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School </th>
			<th>College</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Seth Younkin</th>
			<th>Connelsville PA</th>
			<th>Fairmont State</th>
		</tr>
	</tfoot>
	<tbody>
		<tr>
			<td>Emmanuel Aghayere</td>
			<td>South Lakes VA</td>
			<td>Shepherd</td>
		</tr>
		<tr>
			<td>Abdul Ajia</td>
			<td>Bradford Christian MA</td>
			<td>Post</td>
		</tr>
		<tr>
			<td>Chris Barnette</td>
			<td>Ravenscroft NC</td>
			<td>Mars Hill</td>
		</tr>
		<tr>
			<td>Joey Belli</td>
			<td>Wayne Hills</td>
			<td>St. Anselm's</td>
		</tr>
		<tr>
			<td>Nick Bilzor</td>
			<td>Key MD</td>
			<td>Wells</td>
		</tr>
		<tr>
			<td>Steve Breeman</td>
			<td>Jefferson NJ</td>
			<td>Moravian</td>
		</tr>
		<tr>
			<td>Kasai Brown</td>
			<td>Millbrook Prep NY</td>
			<td>St. Michael's</td>
		</tr>
		<tr>
			<td>Mikey Buscetto</td>
			<td>Waterford CT</td>
			<td>Southern New Hampshire</td>
		</tr>
		<tr>
			<td>Jalen Butler</td>
			<td>Tilton NH</td>
			<td>Southern New Hampshire</td>
		</tr>
		<tr>
			<td>Carson Calavan</td>
			<td>Fort Gibson OK</td>
			<td>Central Oklahoma</td>
		</tr>
		<tr>
			<td>Stephen Cannady</td>
			<td>St Vincent Palloti MD</td>
			<td>Wheeling Jesuit</td>
		</tr>
		<tr>
			<td>David Catanus</td>
			<td>Warren IL</td>
			<td>MacMurray</td>
		</tr>
		<tr>
			<td>Jared Chambliss</td>
			<td>Immaculata NJ</td>
			<td>Millersville</td>
		</tr>
		<tr>
			<td>Justin Connolly</td>
			<td>Brooks MA</td>
			<td>Merrimack</td>
		</tr>
		<tr>
			<td>Jacob Crutchfield</td>
			<td>Ben Smith NC</td>
			<td>Fayetteville State</td>
		</tr>
		<tr>
			<td>Samari Curtis</td>
			<td>Xenia OH</td>
			<td>Xavier</td>
		</tr>
		<tr>
			<td>Bryce Daley</td>
			<td>Phillips Academy MA</td>
			<td>UMass Lowell</td>
		</tr>
		<tr>
			<td>Joe Del Ricci</td>
			<td>Marianapolis CT</td>
			<td>Endicott</td>
		</tr>
		<tr>
			<td>Jaylen Dillard</td>
			<td>LC Byrd</td>
			<td>Johnson C Smith</td>
		</tr>
		<tr>
			<td>Kevin Dodds</td>
			<td>Bishop Shanahan PA</td>
			<td>Gannon</td>
		</tr>
		<tr>
			<td>Kieran Donahue</td>
			<td>Albany Academy NY</td>
			<td>Norwich</td>
		</tr>
		<tr>
			<td>Eric Esposito</td>
			<td>Conwell Egan PA</td>
			<td>Holy Family</td>
		</tr>
		<tr>
			<td>Justin Faison</td>
			<td>Gwynn Park MD</td>
			<td>Elizabeth City State</td>
		</tr>
		<tr>
			<td>Adam Freese</td>
			<td>Kennard Dale PA</td>
			<td>Stonehill</td>
		</tr>
		<tr>
			<td>Jaylin Gamble</td>
			<td>Ben Smith NC</td>
			<td>Fayettville State</td>
		</tr>
		<tr>
			<td>Ross Gang</td>
			<td>Millburn NJ</td>
			<td>Rochester</td>
		</tr>
		<tr>
			<td>Brayden Gault</td>
			<td>Battlefield VA</td>
			<td>Belmont Abbey</td>
		</tr>
		<tr>
			<td>Max Gussen</td>
			<td>Hun NJ</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td>Dallas Hoffman</td>
			<td>Hawthorne NJ</td>
			<td>Muhlenberg</td>
		</tr>
		<tr>
			<td>Keith Holmes</td>
			<td>Bishop Sullivan VA</td>
			<td>Lees McRae</td>
		</tr>
		<tr>
			<td>Matt Holsinger</td>
			<td>Central Cambia PA</td>
			<td>Pitt Johnstown</td>
		</tr>
		<tr>
			<td>Ben Horsford</td>
			<td>Wakefield VA</td>
			<td>Gannon</td>
		</tr>
		<tr>
			<td>Ryan Hughes</td>
			<td>Middletown PA</td>
			<td>Ursinus</td>
		</tr>
		<tr>
			<td>Keonis James-Hearns</td>
			<td>Olympus Prep</td>
			<td>Texas A&amp;M Commerce</td>
		</tr>
		<tr>
			<td>Brandon Kenyon</td>
			<td>Rise Prep</td>
			<td>IUPUI</td>
		</tr>
		<tr>
			<td>Gabriel Kier</td>
			<td>West Springfield VA</td>
			<td>Millersville</td>
		</tr>
		<tr>
			<td>Mason Johnson</td>
			<td>Pinnacle AZ</td>
			<td>Emory</td>
		</tr>
		<tr>
			<td>Brendan La Rose</td>
			<td>Rampart CO</td>
			<td>Fort Lewis</td>
		</tr>
		<tr>
			<td>DJ Little</td>
			<td>Butler NC</td>
			<td>Queens NC</td>
		</tr>
		<tr>
			<td>Collin MacAdams</td>
			<td>Central Bucks West</td>
			<td>California PA</td>
		</tr>
		<tr>
			<td>Dymir Montague</td>
			<td>Neumann Goretti</td>
			<td>Holy Family</td>
		</tr>
		<tr>
			<td>Mark Natiello</td>
			<td>Westfield NJ</td>
			<td>Washington &amp; Lee</td>
		</tr>
		<tr>
			<td>Justin Nwosu</td>
			<td>St Andrews MD</td>
			<td>Millersville</td>
		</tr>
		<tr>
			<td>Sincere Parker</td>
			<td>Booker T Washington VA</td>
			<td>William Penn</td>
		</tr>
		<tr>
			<td>Aaron Porcil</td>
			<td>Vanden CA</td>
			<td>St. Michael's</td>
		</tr>
		<tr>
			<td>Kharon Randolph</td>
			<td>Haverford PA</td>
			<td>Sciences</td>
		</tr>
		<tr>
			<td>TJ Rountree</td>
			<td>Hamden Hall CT</td>
			<td>Adelphi</td>
		</tr>
		<tr>
			<td>Aiden Ruthsatz</td>
			<td>Covington Catholic KY</td>
			<td>Christian Brothers</td>
		</tr>
		<tr>
			<td>Josh Samec</td>
			<td>Hazleton</td>
			<td>West Chester</td>
		</tr>
		<tr>
			<td>Isaiah Sanders</td>
			<td>Timber Creek NJ</td>
			<td>Notre Dame College</td>
		</tr>
		<tr>
			<td>Alex Schachne</td>
			<td>Gill St. Bernard's NJ</td>
			<td>Johns Hopkins</td>
		</tr>
		<tr>
			<td>Michael Schretter</td>
			<td>Ridgewood NJ</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td>Ronnie Silva</td>
			<td>Bradford Christian NH</td>
			<td>Adelphi</td>
		</tr>
		<tr>
			<td>Ryan Smith</td>
			<td>Lampeter Strasburg PA</td>
			<td>East Stroudsburg</td>
		</tr>
		<tr>
			<td>Jack Rooney</td>
			<td>Chatham NJ</td>
			<td>Gettysburg</td>
		</tr>
		<tr>
			<td>Teddy Sourlis</td>
			<td>Rumson NJ</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td>Marcus Stephens</td>
			<td>Hylton VA</td>
			<td>St. Thomas Aquinas</td>
		</tr>
		<tr>
			<td>Eisley Swaine</td>
			<td>Queen Ethelburgers CN</td>
			<td>Northwestern Oklahoma State</td>
		</tr>
		<tr>
			<td>Tyler Trimble</td>
			<td>Kettle Run VA</td>
			<td>Christopher Newport</td>
		</tr>
		<tr>
			<td>Zach Warech</td>
			<td>Montville NJ</td>
			<td>Ithaca</td>
		</tr>
		<tr>
			<td>Paul Woolhouse</td>
			<td>North Hunterdon</td>
			<td>Carnegie Mellon</td>
		</tr>
		<tr>
			<td>Quincy Wright</td>
			<td>Pennsauken NJ</td>
			<td>Goldey Beacom</td>
		</tr>
	</tbody>
</table>
