<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Cudjoe Masuka
</td>
			<td>Tri County B-Ball West
</td>
		</tr>
		<tr>
			<td></td>
			<td>Justin  Jarvis
</td>
			<td>Tri County B-Ball West
</td>
		</tr>
		<tr>
			<td></td>
			<td>Trahson Burrell
</td>
			<td>Team Albany 360</td>
		</tr>
		<tr>
			<td></td>
			<td>Yilret Yiljep
</td>
			<td>Raising Champions</td>
		</tr>
		<tr>
			<td></td>
			<td>Dijon Allen-Jordan
</td>
			<td>NJ Playaz</td>
		</tr>
		<tr>
			<td></td>
			<td>T Hall
</td>
			<td>New Rens</td>
		</tr>
		<tr>
			<td></td>
			<td>Bryan Sekunda
</td>
			<td>PA Slam</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Kinley
</td>
			<td>PA Slam</td>
		</tr>
		<tr>
			<td></td>
			<td>Jeremy McMunn
</td>
			<td>SMAC PA Ballers</td>
		</tr>
		<tr>
			<td></td>
			<td>Ryan Keegan
</td>
			<td>Team 518</td>
		</tr>
		<tr>
			<td></td>
			<td>Anthony Williams
</td>
			<td>Perkasie Knights</td>
		</tr>
	</tbody>
</table>
