<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Samuel Miller
</td>
			<td>DC Assault Gold
</td>
		</tr>
		<tr>
			<td></td>
			<td>Robert Vereen
</td>
			<td>DC Assault Gold
</td>
		</tr>
		<tr>
			<td></td>
			<td>Joseph Hampton
</td>
			<td>DC Assault Suber
</td>
		</tr>
		<tr>
			<td></td>
			<td>Reginald Gardner
</td>
			<td>DC Assault Suber
</td>
		</tr>
		<tr>
			<td></td>
			<td>Drew Edwards
</td>
			<td>Maryland 3D
</td>
		</tr>
		<tr>
			<td></td>
			<td>Bryce Thurston
</td>
			<td>Maryland 3D
</td>
		</tr>
		<tr>
			<td></td>
			<td>Greg Bennett
</td>
			<td>Team Philly
</td>
		</tr>
		<tr>
			<td></td>
			<td>Jamie Killings
</td>
			<td>New Rens
</td>
		</tr>
		<tr>
			<td></td>
			<td>Matt Ryan
</td>
			<td>New Heights
</td>
		</tr>
		<tr>
			<td></td>
			<td>Unique McLean
</td>
			<td>Team Scan
</td>
		</tr>
		<tr>
			<td></td>
			<td>Myles Stephens
</td>
			<td>Roadrunners
</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
