<table>
	<thead>
		<tr>
			<th></th>
			<th>Home</th>
			<th></th>
			<th>Visitor</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1:15</td>
			<td>Immaculate Conception</td>
			<td>vs.</td>
			<td>Bergen Catholic</td>
		</tr>
		<tr>
			<td>3:00</td>
			<td>Teaneck</td>
			<td>vs.</td>
			<td>Gill St. Bernards</td>
		</tr>
		<tr>
			<td>4:30</td>
			<td>Don Bosco Prep</td>
			<td>vs.</td>
			<td>CBA </td>
		</tr>
		<tr>
			<td>6:00</td>
			<td>Hudson Catholic</td>
			<td>vs.</td>
			<td>Blair Academy</td>
		</tr>
		<tr>
			<td>7:30</td>
			<td>Seton Hall Prep</td>
			<td>vs.</td>
			<td>Columbia</td>
		</tr>
	</tbody>
</table>
