<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>William Buford</td>
			<td>Libbey OH</td>
		</tr>
		<tr>
			<td></td>
			<td>Ed Davis</td>
			<td>Benedictine VA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Tyreke-Evans-100.jpg" alt="" title="Tyreke Evans 100" width="100" height="120" class="aligncenter size-full wp-image-1370" /></td>
			<td>Tyreke Evans</td>
			<td>American Christian PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/SylvanLandesberg100.jpg" alt="" title="SylvanLandesberg100" width="100" height="120" class="aligncenter size-full wp-image-7161" /></td>
			<td>Sylvan Landesberg</td>
			<td>Holy Cross NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/02/Mike-Rosario1001.jpg" alt="" title="Hoop Group Tip-Off Classic" width="100" height="120" class="aligncenter size-full wp-image-15563" /></td>
			<td>Mike Rosario</td>
			<td>St. Anthony NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/SamardoSamuels100.jpg" alt="" title="SamardoSamuels100" width="100" height="120" class="aligncenter size-full wp-image-1261" /></td>
			<td>Samardo Samuels</td>
			<td>St. Benedict's NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Kemba-Walker-1001.jpg" alt="" title="Kemba Walker 100" width="100" height="120" class="aligncenter size-full wp-image-2461" /></td>
			<td>Kemba Walker</td>
			<td>Rice NY</td>
		</tr>
		<tr>
			<td></td>
			<td>BJ Mullens</td>
			<td>Winchester OH</td>
		</tr>
		<tr>
			<td></td>
			<td>Iman Shumpert</td>
			<td>River Forest IL</td>
		</tr>
	</tbody>
</table>
