<table>
	<thead>
		<tr>
			<th></th>
			<th>Home Team</th>
			<th></th>
			<th>Away Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12:00</td>
			<td>Neptune</td>
			<td>vs.</td>
			<td>Mater Dei</td>
		</tr>
		<tr>
			<td>1:40</td>
			<td>Rumson</td>
			<td>vs.</td>
			<td>Gill St. Bernards</td>
		</tr>
		<tr>
			<td>3:20</td>
			<td>Manasquan</td>
			<td>vs.</td>
			<td>Point Beach</td>
		</tr>
		<tr>
			<td>5:00</td>
			<td>CBA
</td>
			<td>vs.</td>
			<td>St. Anthony</td>
		</tr>
		<tr>
			<td>6:40</td>
			<td>Long Branch</td>
			<td>vs.</td>
			<td>St. John Vianney</td>
		</tr>
	</tbody>
</table>
