<table>
	<thead>
		<tr>
			<th>TEAM PHOTO</th>
			<th>TEAM</th>
			<th>YEAR</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/Hempfieldsmall.jpg" alt="" width="180" height="150" class="aligncenter size-full wp-image-92735" /></td>
			<td>Hempfield PA</td>
			<td>2017</td>
		</tr>
		<tr>
			<td></td>
			<td>Burlington NC</td>
			<td>2016</td>
		</tr>
		<tr>
			<td></td>
			<td>North Mecklenburg NC</td>
			<td>2015</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/11/10534734_731371710260696_1476822360145712732_n.jpg" alt="" width="180" height="150" class="aligncenter size-full wp-image-55642" /></td>
			<td>Gill St. Bernard</td>
			<td>2014</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/02/Blair-1802013.jpg" alt="" width="180" height="150" class="aligncenter size-full wp-image-47039" /></td>
			<td>Blair Academy NJ</td>
			<td>2013</td>
		</tr>
		<tr>
			<td></td>
			<td>Paul VI VA</td>
			<td>2012</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/02/St-anthonys-180-2011.jpg" alt="" width="180" height="150" class="aligncenter size-full wp-image-47040" /></td>
			<td>St. Anthony's NJ</td>
			<td>2011</td>
		</tr>
		<tr>
			<td></td>
			<td>Gonzaga DC</td>
			<td>2010</td>
		</tr>
		<tr>
			<td></td>
			<td>Gonzaga DC</td>
			<td>2009</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/StPatricks1802008.jpg" alt="" title="StPatricks1802008" width="180" height="150" class="aligncenter size-full wp-image-11221" /></td>
			<td>St. Patrick NJ</td>
			<td>2008</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/gonzaga1802007.jpg" alt="" title="gonzaga1802007" width="180" height="150" class="aligncenter size-full wp-image-11218" /></td>
			<td>Gonzaga DC</td>
			<td>2007</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/paulvi1802006.jpg" alt="" title="paulvi1802006" width="180" height="150" class="aligncenter size-full wp-image-11217" /></td>
			<td>Paul VI VA</td>
			<td>2006</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/St-Pats-180-2005.jpg" alt="" title="St Pats 180 2005" width="180" height="150" class="aligncenter size-full wp-image-11158" /></td>
			<td>St. Patrick NJ</td>
			<td>2005</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/StAnthony1802004.jpg" alt="" title="StAnthony1802004" width="180" height="150" class="aligncenter size-full wp-image-11220" /></td>
			<td>St. Anthony NJ</td>
			<td>2004</td>
		</tr>
	</tbody>
</table>
