<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/Donovan-Jack-100.jpg" alt="" title="Donovan Jack 100" width="100" height="120" class="aligncenter size-full wp-image-12407" /></td>
			<td>Donovan Jack</td>
			<td>Berks Catholic</td>
			<td>Duquesne</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/12/DerrickStewart100.jpg" alt="" title="DerrickStewart100" width="100" height="120" class="aligncenter size-full wp-image-14238" /></td>
			<td>Derrick Stewart</td>
			<td>Neumann Goretti</td>
			<td>Rider</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MarquisMarshall100.jpg" alt="" title="MarquisMarshall100" width="100" height="120" class="aligncenter size-full wp-image-12689" /></td>
			<td>Marquis Marshall</td>
			<td>Berks Catholic</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/12/JohnnyDavis100.jpg" alt="" title="JohnnyDavis100" width="50" height="60" class="aligncenter size-full wp-image-14236" /></td>
			<td>Johnny Davis</td>
			<td>Neumann Goretti</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Jalen Branford</td>
			<td>Reading</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Hanif Sutton</td>
			<td>Neuman Goretti</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/12/JaquanNewton100.jpg" alt="" title="JaquanNewton100" width="100" height="120" class="aligncenter size-full wp-image-14237" /></td>
			<td>Ja'Quan Newton</td>
			<td>Neuman Goretti</td>
			<td></td>
		</tr>
	</tbody>
</table>
