<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>NBA Team</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/DwightHoward100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/DwightHoward100.jpg" alt="" title="DwightHoward100" width="100" height="120" class="aligncenter size-full wp-image-1373" /></a></td>
			<td>Dwight Howard</td>
			<td>Orlando Magic</td>
			<td>SW Atlanta Christian HS GA</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Amare-Stoudamire-1001.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Amare-Stoudamire-1001.jpg" alt="" title="Amare Stoudamire 100" width="100" height="120" class="aligncenter size-full wp-image-1392" /></a></td>
			<td>Amare Stoudemire</td>
			<td>New York Knicks</td>
			<td>Cypress Creek HS FL</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Carmelo-Anthony-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Carmelo-Anthony-100.jpg" alt="" title="Carmelo Anthony 100" width="100" height="120" class="aligncenter size-full wp-image-1253" /></a></td>
			<td>Carmelo Anthony</td>
			<td>Denver Nuggets</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/KobeBryant100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/KobeBryant100.jpg" alt="" title="KobeBryant100" width="100" height="120" class="aligncenter size-full wp-image-1380" /></a></td>
			<td>Kobe Bryant</td>
			<td>Los Angeles Lakers</td>
			<td>Lower Merion HS PA</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Chris-Paul-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Chris-Paul-100.jpg" alt="" title="Chris Paul 100" width="100" height="120" class="aligncenter size-full wp-image-1254" /></a></td>
			<td>Chris Paul</td>
			<td>New Orleans Hornets</td>
			<td>Wake Forest</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/kevindurant100.jpg" alt="" title="kevindurant100" width="100" height="120" class="aligncenter size-full wp-image-7585" /></td>
			<td>Kevin Durant</td>
			<td>Oklahoma City Thunder</td>
			<td>Texas</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DeronWilliams100.jpg" alt="DeronWilliams100" width="100" height="120" class="aligncenter size-full wp-image-71060" /></td>
			<td>Deron Williams</td>
			<td>Utah Jazz</td>
			<td>Illinois</td>
		</tr>
	</tbody>
</table>
