<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Alec Jones</td>
			<td>Boys &amp; Girls NY</td>
		</tr>
		<tr>
			<td>Matthew Lee</td>
			<td>Paterson Eastside NJ</td>
		</tr>
		<tr>
			<td>Jack Baker</td>
			<td>Delbarton NJ</td>
		</tr>
		<tr>
			<td>Brian Burns</td>
			<td>Haddon Township NJ</td>
		</tr>
		<tr>
			<td>Brycen Goodine</td>
			<td>Keith MA</td>
		</tr>
		<tr>
			<td>Canin Reynolds</td>
			<td>Landon MD</td>
		</tr>
		<tr>
			<td>Josh Wallace</td>
			<td>St. Mary's Annapolis MD</td>
		</tr>
		<tr>
			<td>Dominick Moran</td>
			<td>Canberry Australia</td>
		</tr>
		<tr>
			<td>Peter Snipes</td>
			<td>Wise MD</td>
		</tr>
		<tr>
			<td>Joel Webb</td>
			<td>Wise MD</td>
		</tr>
		<tr>
			<td>Quentin James</td>
			<td>Lake Braddock VA</td>
		</tr>
		<tr>
			<td>Elijah Jenkins</td>
			<td>Largo MD</td>
		</tr>
		<tr>
			<td>Casheus Covington</td>
			<td>Wise MD</td>
		</tr>
		<tr>
			<td>Xavier Joyner</td>
			<td>Paul VI VA</td>
		</tr>
		<tr>
			<td>Hollman Smith</td>
			<td>George Mason VA</td>
		</tr>
		<tr>
			<td>Alex Fitch</td>
			<td>William Byrd VA</td>
		</tr>
		<tr>
			<td>Charlie Weber</td>
			<td>Huntington MD</td>
		</tr>
		<tr>
			<td>Avion Bloe</td>
			<td>Providence RI</td>
		</tr>
		<tr>
			<td>John Finney</td>
			<td>Madison VA</td>
		</tr>
		<tr>
			<td>Andrew Sanderson</td>
			<td>Pope John Paul VA</td>
		</tr>
		<tr>
			<td>Jordan Hull</td>
			<td>Zionsville IN</td>
		</tr>
		<tr>
			<td>Daniel Colter</td>
			<td>Reading PA</td>
		</tr>
		<tr>
			<td>Trevon Davis</td>
			<td>Oxon Hill MD</td>
		</tr>
		<tr>
			<td>Wesley Butler</td>
			<td>Reading PA</td>
		</tr>
	</tbody>
</table>
