<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Mike Williams
</td>
			<td>The City</td>
		</tr>
		<tr>
			<td></td>
			<td>Eric Paschall
</td>
			<td>The City</td>
		</tr>
		<tr>
			<td></td>
			<td>Etorrian Willridge
</td>
			<td>Houston Defenders
</td>
		</tr>
		<tr>
			<td></td>
			<td>Paul Thomas</td>
			<td>Houston Defenders
</td>
		</tr>
		<tr>
			<td></td>
			<td>Traci Carter
</td>
			<td>Team Philly</td>
		</tr>
		<tr>
			<td></td>
			<td>Marvin Prochet
</td>
			<td>New Rens</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Smith
</td>
			<td>Gauchos</td>
		</tr>
		<tr>
			<td></td>
			<td>Kurk Lee
</td>
			<td>Team Melo</td>
		</tr>
		<tr>
			<td></td>
			<td>Devin Morgan
</td>
			<td>Team Richmond</td>
		</tr>
		<tr>
			<td></td>
			<td>Russell Baker
</td>
			<td>Triple Threat</td>
		</tr>
		<tr>
			<td></td>
			<td>wanya allen
</td>
			<td>Team Loaded Gore</td>
		</tr>
		<tr>
			<td></td>
			<td>Javon Bryce
</td>
			<td>Tri-County</td>
		</tr>
		<tr>
			<td></td>
			<td>Spencer Thomas
</td>
			<td>St. David</td>
		</tr>
		<tr>
			<td></td>
			<td>Devonte Campbell</td>
			<td>St. David</td>
		</tr>
		<tr>
			<td></td>
			<td>Trevion Armstrong
</td>
			<td>Team Loaded</td>
		</tr>
		<tr>
			<td></td>
			<td>Noah Gear
</td>
			<td>Virginia Elite</td>
		</tr>
		<tr>
			<td></td>
			<td>Dante Lombardi
</td>
			<td>BSA Freedman</td>
		</tr>
		<tr>
			<td></td>
			<td>Iziah James
</td>
			<td>Suffolk Blazers</td>
		</tr>
		<tr>
			<td></td>
			<td>Jordan Payne
</td>
			<td>Just Play
</td>
		</tr>
		<tr>
			<td></td>
			<td>Mike Smith
</td>
			<td>TNBA East</td>
		</tr>
		<tr>
			<td></td>
			<td>Keyshawn Evans
</td>
			<td>Florida Fly East</td>
		</tr>
		<tr>
			<td></td>
			<td>Reginald Theus Jr.
</td>
			<td>LAX Hoops</td>
		</tr>
		<tr>
			<td></td>
			<td>Russell Baker
</td>
			<td>Toronto Triple Threat</td>
		</tr>
		<tr>
			<td></td>
			<td>Beau Justice
</td>
			<td>Team Work</td>
		</tr>
	</tbody>
</table>
