<table>
	<thead>
		<tr>
			<th>PHOTO</th>
			<th>NAME</th>
			<th>NBA TEAM</th>
			<th>COLLEGE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/KarlTownsmvptip100.jpg" alt="KarlTownsmvptip100" width="100" height="120" class="aligncenter size-full wp-image-62244" /></td>
			<td>Karl-Anthony Towns</td>
			<td>Timberwolves</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/DeangleoRussell100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82810" /></td>
			<td>D'Angelo Russell</td>
			<td>Lakers</td>
			<td>Ohio State</td>
		</tr>
	</tbody>
</table>
