<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Grad Year</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Brandon Robinson</td>
			<td>2018</td>
			<td>Columbia NJ</td>
		</tr>
		<tr>
			<td>Daniel Weiss</td>
			<td>2017</td>
			<td>Marlboro NJ</td>
		</tr>
		<tr>
			<td>Dante Nardi</td>
			<td>2017</td>
			<td>Kingston NY</td>
		</tr>
		<tr>
			<td>Jackson Dwyer</td>
			<td>2017</td>
			<td>Essex VT</td>
		</tr>
		<tr>
			<td>Ethan Norton</td>
			<td>2017</td>
			<td>Hill PA</td>
		</tr>
		<tr>
			<td>Romey Talley</td>
			<td>2018</td>
			<td>St. Joseph's Metuchen NJ</td>
		</tr>
		<tr>
			<td>Nahzia Carter</td>
			<td>2017</td>
			<td>Bishop Kearney NY</td>
		</tr>
		<tr>
			<td>Andrew Chung</td>
			<td>2017</td>
			<td>Hackley Academy NY</td>
		</tr>
		<tr>
			<td>William Ballentine</td>
			<td>2017</td>
			<td>Hackley Academy NY</td>
		</tr>
		<tr>
			<td>John Burkard</td>
			<td>2017</td>
			<td>Chatham NJ</td>
		</tr>
		<tr>
			<td>Injil Muhammad</td>
			<td>2017</td>
			<td>Lawrenceville NJ</td>
		</tr>
		<tr>
			<td>Cameron Carter</td>
			<td>2018</td>
			<td>Archbishop Carroll MD</td>
		</tr>
		<tr>
			<td>Max Oppenheim</td>
			<td>2017</td>
			<td>Walt Whitman MD</td>
		</tr>
		<tr>
			<td>Michael Manley</td>
			<td>2017</td>
			<td>Pleasantville NY</td>
		</tr>
		<tr>
			<td>Matthew Asenjo</td>
			<td>2017</td>
			<td>St. Anthony's NY</td>
		</tr>
		<tr>
			<td>Austin Tchikatilov</td>
			<td>2017</td>
			<td>Don Bosco NJ</td>
		</tr>
		<tr>
			<td>Davis Franks</td>
			<td>2017</td>
			<td>Collegiate NY</td>
		</tr>
	</tbody>
</table>
