<table>
	<thead>
		<tr>
			<th>Showcase Name</th>
			<th>Date</th>
			<th>Location</th>
			<th>Register Now</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>OFF SEASON SHOWCASES</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/highschoolshowcase/fall-high-school-showcase/">Fall High School Showcase</a></td>
			<td>Saturday and Sunday 
October 25-26, 2014 </td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/directions">Hoop Group Headquarters, Neptune NJ</a></td>
			<td></td>
		</tr>
		<tr>
			<td>IN SEASON SHOWCASES</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/highschoolshowcase/reading-hoop-group-tip-off-showcase/">Reading Hoop Group Tip-Off Showcase</a></td>
			<td>Friday 
December 12, 2014</td>
			<td><a href="https://maps.google.com/maps?ie=UTF8&amp;cid=2102938022120884251&amp;q=Albright+College&amp;iwloc=A&amp;gl=US&amp;hl=en">Albright College</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/highschoolshowcase/tip-off-hoop-group-showcase/">Hoop Group Tip-Off Showcase</a></td>
			<td>Saturday and Sunday
December 20-21, 2014</td>
			<td><a href="https://maps.google.com/maps?ie=UTF8&amp;cid=13978481947752947446&amp;q=West+Orange+High+School&amp;iwloc=A&amp;gl=US&amp;hl=en">West Orange High School</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/highschoolshowcase/boardwalk-hoop-group-showcase/">Boys' Boardwalk Hoop Group Showcase</a></td>
			<td>Saturday
January 10, 2014</td>
			<td><a href="https://maps.google.com/maps?ie=UTF8&amp;cid=7296646477460525915&amp;q=Long+Branch+High+School&amp;iwloc=A&amp;gl=US&amp;hl=en">Long Branch High School</a></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/highschoolshowcase/boardwalk-hoop-group-showcase/">Girls' Boardwalk Hoop Group Showcase</a></td>
			<td>Saturday
January 17, 2014</td>
			<td>TBA</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/highschoolshowcase/lehigh-valley-hoop-group-showcase/">Lehigh Valley Hoop Group Showcase</a></td>
			<td>Sunday 
January 25, 2014</td>
			<td><a href="https://maps.google.com/maps?ie=UTF8&amp;cid=9488187377894103924&amp;q=Parkland+High+School&amp;iwloc=A&amp;gl=US&amp;hl=en">Parkland High School</a></td>
			<td></td>
		</tr>
		<tr>
			<td>OFF SEASON SHOWCASES</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/highschoolshowcase/summer-hoop-group-showcase/">Hoop Group High School Summer Showcase</a>
</td>
			<td>June TBA</td>
			<td><a href="http://hoopgroup.com/headquarters/facility-information/">Hoop Group Headquarters, Neptune NJ</a>
</td>
			<td><a href="http://www.hoopgroup.com/registration/index.php?cPath=65_128/">Buy Now</a></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
