<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Keith Appling</td>
			<td>Michigan State</td>
			<td>Pershing MI</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/03/ChaneBehanan100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18830" /></td>
			<td>Chane Behanan</td>
			<td>Louisville</td>
			<td>Bowling Green OH</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/03/Kenny-Boynton-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18904" /></td>
			<td>Kenny Boynton</td>
			<td>Florida</td>
			<td>American Heritage HS FL</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/04/TreyBurke100.jpg" alt="TreyBurke100" width="100" height="120" class="aligncenter size-full wp-image-29818" /></td>
			<td>Trey Burke</td>
			<td>Michigan</td>
			<td>Northland OH</td>
		</tr>
		<tr>
			<td></td>
			<td>Vincent Council</td>
			<td>Providence</td>
			<td>Lincoln NY</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/Aaron-Craft-100.jpg" alt="Aaron Craft 100" width="100" height="120" class="aligncenter size-full wp-image-44709" /></td>
			<td>Aaron Craft</td>
			<td>Ohio State</td>
			<td>Liberty Benton OH</td>
		</tr>
		<tr>
			<td></td>
			<td>Tim Hardaway</td>
			<td>Michigan</td>
			<td>Palmetto FL</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/10/SeanKilpatrick100.jpg" alt="seankilpatrick100" width="100" height="120" class="aligncenter size-full wp-image-79568" /></td>
			<td>Sean Kilpatrick</td>
			<td>Cincinnati</td>
			<td>White Plains NY</td>
		</tr>
		<tr>
			<td></td>
			<td>CJ Leslie</td>
			<td>NC State</td>
			<td>Word of God Christian NC</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/02/JamesMcAdoo1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-3817" /></td>
			<td>James Michael McAdoo</td>
			<td>North Carolina</td>
			<td>Norfolk Christian VA</td>
		</tr>
		<tr>
			<td></td>
			<td>Ray McCallum</td>
			<td>Detroit</td>
			<td>Detroit Country Day MI</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/CJMcCollum100.jpg" alt="CJMcCollum100" width="100" height="120" class="aligncenter size-full wp-image-70778" /></td>
			<td>CJ McCollum</td>
			<td>Lehigh</td>
			<td>Glen Oak OH</td>
		</tr>
		<tr>
			<td></td>
			<td>Rodney McGruder</td>
			<td>Kansas State</td>
			<td>Arlington Country Day FL</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/02/Mason-Plumlee-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-7187" /></td>
			<td>Mason Plumlee</td>
			<td>Duke</td>
			<td>Christ School NC</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/codyzeller100.jpg" alt="codyzeller100" width="100" height="120" class="aligncenter size-full wp-image-71011" /></td>
			<td>Cody Zeller</td>
			<td>Indiana</td>
			<td>Washington IN</td>
		</tr>
	</tbody>
</table>
