<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School/Hometown</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Trevor Lyons</td>
			<td>Newport News VA</td>
			<td>Air Force</td>
		</tr>
		<tr>
			<td>Lake Lutes</td>
			<td>Jesuit CA</td>
			<td>Air Force</td>
		</tr>
		<tr>
			<td>Ethan Michael</td>
			<td>Toldeo OH</td>
			<td>Air Force</td>
		</tr>
		<tr>
			<td>Maxwell Lenox</td>
			<td>Fork Union VA</td>
			<td>Army</td>
		</tr>
		<tr>
			<td>Richard Brown</td>
			<td>Davidson Day NC</td>
			<td>Army</td>
		</tr>
		<tr>
			<td>Luke Morrison</td>
			<td>Northside Christian Academy</td>
			<td>Army</td>
		</tr>
		<tr>
			<td>Sean Billerman</td>
			<td>Ravenscroft SC</td>
			<td>Army</td>
		</tr>
		<tr>
			<td>Kevin Ferguson</td>
			<td>Governor Livingston NJ</td>
			<td>Army</td>
		</tr>
		<tr>
			<td>Jamie Senft</td>
			<td>Bishop Ireton VA</td>
			<td>Army</td>
		</tr>
		<tr>
			<td>Will Kelly</td>
			<td>Hun School NJ</td>
			<td>Navy</td>
		</tr>
		<tr>
			<td>Kendall Knorr</td>
			<td>Concord NC</td>
			<td>Navy</td>
		</tr>
		<tr>
			<td>Kevin Alter</td>
			<td>Rumson NJ</td>
			<td>Navy</td>
		</tr>
		<tr>
			<td>Tillman Dunbar</td>
			<td>Paul VI VA</td>
			<td>Navy</td>
		</tr>
		<tr>
			<td>Tim Abruzzo</td>
			<td>Pennridge PA</td>
			<td>Navy</td>
		</tr>
		<tr>
			<td>Zach Fong</td>
			<td>Garfield VA</td>
			<td>Navy</td>
		</tr>
		<tr>
			<td>Shawn Anderson</td>
			<td>New Castle PA</td>
			<td>Navy</td>
		</tr>
		<tr>
			<td>Grant Vermeer</td>
			<td>Bellarmine Prep CA</td>
			<td>Navy</td>
		</tr>
		<tr>
			<td>Michael Brown</td>
			<td>Hatboro Horsham PA</td>
			<td>Navy</td>
		</tr>
		<tr>
			<td>Tom Lacey</td>
			<td>Seton Hall Prep NJ</td>
			<td>Navy</td>
		</tr>
		<tr>
			<td>Daniel Noe</td>
			<td>Bishop Ireton VA</td>
			<td>Navy</td>
		</tr>
	</tbody>
</table>
