<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JalenAdams100.jpg" alt="jalenadams100" width="100" height="120" class="aligncenter size-full wp-image-80272" /></td>
			<td>Jalen Adams</td>
			<td>UConn</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/JaylenAdams100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45041" /></td>
			<td>Jaylen Adams</td>
			<td>St. Bonaventure</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JalenBrunson100.jpg" alt="jalenbrunson100" width="100" height="120" class="aligncenter size-full wp-image-80267" /></td>
			<td>Jalen Brunson</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/10/bryantcrawford100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-89641" /></td>
			<td>Bryant Crawford</td>
			<td>Wake Forest</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/TrevonDuval100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82436" /></td>
			<td>Trevon Duval</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/MattFarrell1002.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-64148" /></td>
			<td>Matt Farrell</td>
			<td>Notre Dame</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/Devontegraham100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80529" /></td>
			<td>Devonte Graham</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td></td>
			<td>Bryant McIntosh</td>
			<td>Northwestern</td>
		</tr>
		<tr>
			<td></td>
			<td>Quentin Snyder</td>
			<td>Louisville</td>
		</tr>
	</tbody>
</table>
