<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Manasquan  53</td>
			<td>Toms River East  43</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Anthony  49</td>
			<td>Monmouth Regional  41</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Neptune  62</td>
			<td>CBA  59</td>
			<td></td>
		</tr>
	</tbody>
</table>
