<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/ShabazzNapier100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-48235" /></td>
			<td>Shabazz Napier</td>
			<td>Connecticut</td>
		</tr>
		<tr>
			<td></td>
			<td>Nik Stauskas</td>
			<td>Michigan</td>
		</tr>
		<tr>
			<td></td>
			<td>Cleanthony Early</td>
			<td>Wichita State</td>
		</tr>
		<tr>
			<td></td>
			<td>CJ Fair</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/RussSmith100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18919" /></td>
			<td>Russ Smith</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td></td>
			<td>Sean Kilpatrick</td>
			<td>Cincinnati</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/AndrewWiggins100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-48231" /></td>
			<td>Andrew Wiggins</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td></td>
			<td>Melvin Ejim</td>
			<td>Iowa State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/KyleAnderson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-48463" /></td>
			<td>Kyle Anderson</td>
			<td>UCLA</td>
		</tr>
		<tr>
			<td></td>
			<td>Cameron Ayers</td>
			<td>Bucknell</td>
		</tr>
		<tr>
			<td></td>
			<td>Billy Baron</td>
			<td>Canisius</td>
		</tr>
		<tr>
			<td></td>
			<td>Jerrelle Benimon</td>
			<td>Towson</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/12/TylerEnnis1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-14413" /></td>
			<td>Tyler Ennis</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td></td>
			<td>Langston Hall</td>
			<td>Mercer</td>
		</tr>
		<tr>
			<td></td>
			<td>Gary Harris</td>
			<td>Michigan State</td>
		</tr>
		<tr>
			<td></td>
			<td>DeAndre Kane</td>
			<td>Iowa State</td>
		</tr>
		<tr>
			<td></td>
			<td>Aaric Murray</td>
			<td>Southern</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/Lamar-Patterson-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-2685" /></td>
			<td>Lamar Patterson</td>
			<td>Pittsburgh</td>
		</tr>
		<tr>
			<td></td>
			<td>Adreian Payne</td>
			<td>Michigan State</td>
		</tr>
		<tr>
			<td></td>
			<td>Juwan Staten</td>
			<td>West Virginia</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/08/JameelWarney100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-12408" /></td>
			<td>Jameel Warney</td>
			<td>Stony Brook</td>
		</tr>
		<tr>
			<td></td>
			<td>Pendarvis Williams</td>
			<td>Norfolk State</td>
		</tr>
	</tbody>
</table>
