<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Home Team</th>
			<th></th>
			<th>Visiting Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1:30</td>
			<td>East Orange</td>
			<td>vs.</td>
			<td>Paterson Eastside </td>
		</tr>
		<tr>
			<td>3:10</td>
			<td>Don Bosco</td>
			<td>vs.</td>
			<td>CBA</td>
		</tr>
		<tr>
			<td>4:50</td>
			<td>Teaneck</td>
			<td>vs.</td>
			<td>Gill St. Bernards</td>
		</tr>
		<tr>
			<td>6:30</td>
			<td>Columbia</td>
			<td>vs.</td>
			<td>Seton Hall Prep</td>
		</tr>
	</tbody>
</table>
