<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>NBA Team</th>
			<th>College </th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/06/MarkelleFultz100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-86579" /></td>
			<td>Markelle Fultz</td>
			<td>76ers</td>
			<td>Washington</td>
			<td>DeMatha MD</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/JoshJackson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82722" /></td>
			<td>Josh Jackson</td>
			<td>Suns</td>
			<td>UNC</td>
			<td>Prolific Prep CA</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DennisSmith2100-3.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80254" /></td>
			<td>Dennis Smith</td>
			<td>Mavericks</td>
			<td>NC State</td>
			<td>Trinity Christian NC</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DonovanMitchell100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80527" /></td>
			<td>Donovan Mitchell</td>
			<td>Nuggets</td>
			<td>Louisville</td>
			<td>Brewster Academy NH</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/01/EdriceAdebayo100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-68518" /></td>
			<td>Bam Adebayo</td>
			<td>Heat</td>
			<td>Kentucky</td>
			<td>High Point Christian NC</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/TylerLydon100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80416" /></td>
			<td>Tyler Lydon</td>
			<td>Jazz</td>
			<td>Syracuse</td>
			<td>New Hampton NH</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/06/KyleKuzma100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-86541" /></td>
			<td>Kyle Kuzma</td>
			<td>Nets</td>
			<td>Utah</td>
			<td>Bentley MI</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/09/JoshHart100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-12701" /></td>
			<td>Josh Hart</td>
			<td>Jazz</td>
			<td>Villanova</td>
			<td>Sidwell Friends MD</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/11/DavonReed100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-55859" /></td>
			<td>Davon Reed</td>
			<td>Suns</td>
			<td>Miami</td>
			<td>Princeton Day NJ</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/06/wesleyiwundu100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-86543" /></td>
			<td>Wesley Iwundu</td>
			<td>Magic</td>
			<td>Kansas State</td>
			<td>Westfield TX</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/FrankMason100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80265" /></td>
			<td>Frank Mason</td>
			<td>Kings</td>
			<td>Kansas</td>
			<td>Massanutten Military VA</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/ThomasBryant100.jpg" alt="" width="100" height="121" class="aligncenter size-full wp-image-65597" /></td>
			<td>Thomas Bryant</td>
			<td>Jazz</td>
			<td>Indiana</td>
			<td>Huntington Prep WV</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/DillonBrooks100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-73403" /></td>
			<td>Dillon Brooks</td>
			<td>Rockets</td>
			<td>Oregon</td>
			<td>Findlay Prep NV</td>
		</tr>
	</tbody>
</table>
