<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JalenBrunson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80267" /></td>
			<td>Jalen Brunson</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/Devontegraham100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80529" /></td>
			<td>Devonte Graham</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Miles-Bridges100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65042" /></td>
			<td>Miles Bridges</td>
			<td>Michigan State</td>
		</tr>
		<tr>
			<td></td>
			<td>Mikal Bridges</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/JaylenAdams100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45041" /></td>
			<td>Jaylen Adams</td>
			<td>St. Bonaventure</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/PeytonAldridge100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44981" /></td>
			<td>Peyton Aldridge</td>
			<td>Davidson</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/Mohammed-Bamba-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82449" /></td>
			<td>Mo Bamba</td>
			<td>Texas</td>
		</tr>
		<tr>
			<td></td>
			<td>Trae Bell-Haynes</td>
			<td>Vermont</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/11/Tony-Carr.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66397" /></td>
			<td>Tony Carr</td>
			<td>Penn State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/02/GaryClark100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-47070" /></td>
			<td>Gary Clark</td>
			<td>Cincinnati</td>
		</tr>
		<tr>
			<td></td>
			<td>Jermaine Crumpton</td>
			<td>Canisius</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/02/AngelDelgadosmall.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-47071" /></td>
			<td>Angel Delgado</td>
			<td>Seton Hall</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/03/kahlildukes100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-94883" /></td>
			<td>Kahlil Dukes</td>
			<td>Niagara</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/05/Calebmartinsmall.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-51054" /></td>
			<td>Caleb Martin</td>
			<td>Nevada</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/KelanMartin100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80320" /></td>
			<td>Kelan Martin</td>
			<td>Butler</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/04/shamorieponds100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-95440" /></td>
			<td>Shamorie Ponds</td>
			<td>St. John's</td>
		</tr>
		<tr>
			<td></td>
			<td>Jerome Robinson</td>
			<td>Boston College</td>
		</tr>
		<tr>
			<td></td>
			<td>Zach Thomas</td>
			<td>Bucknell</td>
		</tr>
		<tr>
			<td></td>
			<td>Seth Towns</td>
			<td>Harvard</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/AllonzoTrier100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80532" /></td>
			<td>Allonzo Trier</td>
			<td>Arizona</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/04/JustinWrightForeman100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-95388" /></td>
			<td>Justin Wright-Foreman</td>
			<td>Hofstra</td>
		</tr>
	</tbody>
</table>
