<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>NBA Team</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/LaMarcusAldridge100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-70772" /></td>
			<td>LaMarcus Aldridge</td>
			<td>San Antonio Spurs</td>
			<td>Texas</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/AndreDrummond100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18923" /></td>
			<td>Andre Drummond</td>
			<td>Detroit Pistons</td>
			<td>UConn</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/kevindurant100-2/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2016/01/kevindurant100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-68588" /></a></td>
			<td>Kevin Durant</td>
			<td>Golden State Warriors</td>
			<td>Texas</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/PaulGeorge100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-70770" /></td>
			<td>Paul George</td>
			<td>OKC Thunder</td>
			<td>Fresno State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JamesHarden100.jpg" alt="JamesHarden100" width="100" height="120" class="aligncenter size-full wp-image-70774" /></td>
			<td>James Harden</td>
			<td>Houston Rockets</td>
			<td>Arizona State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/Kyrie-Irving-100.jpg" alt="Kyrie Irving 100" width="100" height="120" class="aligncenter size-full wp-image-2943" /></td>
			<td>Kyrie Irving</td>
			<td>Boston Celtics</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DamianLillard100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-71047" /></td>
			<td>Damian Lillard</td>
			<td>Portland Trailblazers</td>
			<td>Weber State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/02/kyle-lowery-100.jpg" alt="" width="100" height="120" class="size-full wp-image-57390" /></td>
			<td>Kyle Lowry</td>
			<td>Toronto Raptors</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/karltowns2small-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-92325" /></td>
			<td>Karl-Anthony Towns</td>
			<td>Minnesota Timberwolves</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/Kemba-Walker-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-2460" /></td>
			<td>Kemba Walker</td>
			<td>Charlotte Hornets</td>
			<td>UConn</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/JohnWall100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-2475" /></td>
			<td>John Wall</td>
			<td>Washington Wizards</td>
			<td>Kentucky</td>
		</tr>
	</tbody>
</table>
