<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Mendham  56</td>
			<td>Delbarton  37</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Neptune  79</td>
			<td>St. Patrick  70</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Paterson Catholic  56</td>
			<td>Paterson Kennedy  53</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Anthony  46</td>
			<td>East Brunswick  41</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick  72</td>
			<td>Essex Catholic  65</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>CBA  57</td>
			<td>Bridgewater  42</td>
			<td></td>
		</tr>
	</tbody>
</table>
