<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Travis Sheldon</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>John Wickey</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Kyle Rodegher</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Lowry</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Mark Murphy</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>John Moutopoulos</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>David Stauffer</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Nick Comenale</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Eric Dean</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Bradley Jacks</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>David Mack</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Brian Kelley</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Eric Davis</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Matt Droney</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Tim Jones</td>
			<td>Virginia Wesleyan</td>
		</tr>
		<tr>
			<td></td>
			<td>Jordan English</td>
			<td>Virginia Wesleyan</td>
		</tr>
		<tr>
			<td></td>
			<td>Khory Moore</td>
			<td>Virginia Wesleyan</td>
		</tr>
		<tr>
			<td></td>
			<td>Rahji Johnston</td>
			<td>Virginia Wesleyan</td>
		</tr>
		<tr>
			<td></td>
			<td>Nick Bynum</td>
			<td>Virginia Wesleyan</td>
		</tr>
		<tr>
			<td></td>
			<td>Andre Banks</td>
			<td>Virginia Wesleyan</td>
		</tr>
		<tr>
			<td></td>
			<td>Kaelin Poe</td>
			<td>Virginia Wesleyan</td>
		</tr>
		<tr>
			<td></td>
			<td>Corey White</td>
			<td>Virginia Wesleyan</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyrell Thomas</td>
			<td>Virginia Wesleyan</td>
		</tr>
		<tr>
			<td></td>
			<td>Claude Clark</td>
			<td>Virginia Wesleyan</td>
		</tr>
		<tr>
			<td></td>
			<td>Kendric Washington</td>
			<td>Virginia Wesleyan</td>
		</tr>
		<tr>
			<td></td>
			<td>Delante Victory</td>
			<td>Virginia Wesleyan</td>
		</tr>
		<tr>
			<td></td>
			<td>Nick Doyle</td>
			<td>Virginia Wesleyan</td>
		</tr>
		<tr>
			<td></td>
			<td>Breven Lyons</td>
			<td>Virginia Wesleyan</td>
		</tr>
		<tr>
			<td></td>
			<td>Cam Owens</td>
			<td>Virginia Wesleyan</td>
		</tr>
	</tbody>
</table>
