<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>St. Benedict's NJ  66</td>
			<td>Bethlehem Catholic  33</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Trinity  70</td>
			<td>Bishop Hannan  56</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Blair NJ  79</td>
			<td>St. Patrick NJ  57</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Emmaus  68</td>
			<td>Harrisburg  65</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Parkland  54</td>
			<td>Sayreville NJ  31</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>William Allen  56</td>
			<td>Loyalsock  47</td>
			<td></td>
		</tr>
	</tbody>
</table>
