<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/CharlesOliver100.jpg" alt="" title="CharlesOliver100" width="100" height="120" class="aligncenter size-full wp-image-8434" /></td>
			<td>Scotch Plains  60


MVP: Charles Oliver</td>
			<td>Newark Tech  59


MVP:  Eric Anderson</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/EricAnderson100.jpg" alt="" title="EricAnderson100" width="100" height="120" class="aligncenter size-full wp-image-8435" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/GaryNova100.jpg" alt="" title="GaryNova100" width="100" height="120" class="aligncenter size-full wp-image-8436" /></td>
			<td>Don Bosco  73


MVP:  Gary Nova</td>
			<td>CBA  61


MVP:  Matt McMullen</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/Matt-McMullen-100.jpg" alt="" title="Matt McMullen 100" width="100" height="120" class="aligncenter size-full wp-image-8433" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/RickyLedo100.jpg" alt="" title="RickyLedo100" width="100" height="120" class="aligncenter size-full wp-image-8437" /></td>
			<td>South Kent CT  80


MVP:  Ricky Ledo</td>
			<td>Hun  61


MVP:  Dylan Sherwood</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/DylanSherwood100.jpg" alt="" title="DylanSherwood100" width="100" height="120" class="aligncenter size-full wp-image-8438" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/EmmanuelAndujar100.jpg" alt="" title="EmmanuelAndujar100" width="100" height="120" class="aligncenter size-full wp-image-8440" /></td>
			<td>Rice NY  73


MVP:  Emmanuel Andujar</td>
			<td>Plainfield  66


MVP:  Sekou Harris</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/SekouHarris100.jpg" alt="" title="SekouHarris100" width="100" height="120" class="aligncenter size-full wp-image-8439" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/KavonStewart100.jpg" alt="" title="KavonStewart100" width="100" height="120" class="aligncenter size-full wp-image-8441" /></td>
			<td>Hudson Catholic  57


MVP:  Kavon Stewart</td>
			<td>Neptune  40


MVP:  Ike Calderon</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/IkeCalderon100.jpg" alt="" title="IkeCalderon100" width="100" height="120" class="aligncenter size-full wp-image-8443" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/KyleAnderson100.jpg" alt="" title="KyleAnderson100" width="100" height="120" class="aligncenter size-full wp-image-8442" /></td>
			<td>St. Anthony  62


MVP:  Kyle Anderson</td>
			<td>Gill St. Bernards  50


MVP:  Jaren Sina</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/JarenSina100.jpg" alt="" title="JarenSina100" width="100" height="120" class="aligncenter size-full wp-image-8444" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/RodSanders100.jpg" alt="" title="RodSanders100" width="100" height="120" class="aligncenter size-full wp-image-8445" /></td>
			<td>Linden  57


MVP:  Rodney Sanders</td>
			<td>Teaneck  53


MVP:  Shakir Lindsay</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/ShakirLindsay100.jpg" alt="" title="ShakirLindsay100" width="100" height="120" class="aligncenter size-full wp-image-8446" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/VaughnGray100.jpg" alt="" title="VaughnGray100" width="100" height="120" class="aligncenter size-full wp-image-8447" /></td>
			<td>St. Benedict's  67


MVP:  Vaughn Gray</td>
			<td>St. Raymond's NY  62


MVP:  Daniel Dingle</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/DanielDingle100.jpg" alt="" title="DanielDingle100" width="100" height="120" class="aligncenter size-full wp-image-8448" /></td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/JustinMartin100.jpg" alt="" title="JustinMartin100" width="100" height="120" class="aligncenter size-full wp-image-8449" /></td>
			<td>Columbia  66


MVP:  Justin Martin</td>
			<td>Seton Hall Prep  56


MVP:  Sterling Gibbs</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/SterlingGibbs100.jpg" alt="" title="SterlingGibbs100" width="100" height="120" class="aligncenter size-full wp-image-8450" /></td>
		</tr>
	</tbody>
</table>
