<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Team</th>
			<th></th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1:00</td>
			<td>Council Rock North</td>
			<td>vs.</td>
			<td>Allentown Central Catholic</td>
		</tr>
		<tr>
			<td>2:45</td>
			<td>South Shore NY</td>
			<td>vs.</td>
			<td>Neuman Goretti</td>
		</tr>
		<tr>
			<td>4:30</td>
			<td>St. Benedict's NJ</td>
			<td>vs.</td>
			<td>Constitution</td>
		</tr>
		<tr>
			<td>6:15</td>
			<td>Scranton</td>
			<td>vs.</td>
			<td>Parkland</td>
		</tr>
	</tbody>
</table>
