<table>
	<thead>
		<tr>
			<th>PHOTO</th>
			<th>NAME</th>
			<th>NBA D-LEAGUE TEAM</th>
			<th>COLLEGE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/QuinnCook100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46423" /></td>
			<td>Quinn Cook</td>
			<td>Canton</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/RayMccallum100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82740" /></td>
			<td>Ray McCallum</td>
			<td>Grand Rapids</td>
			<td>Detroit</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Chris-McCullough-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65794" /></td>
			<td>Chris McCullough</td>
			<td>Long Island</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JustinHarper100.jpeg" alt="" width="100" height="120" class="aligncenter size-full wp-image-71156" /></td>
			<td>Justin Harper</td>
			<td>Los Angeles</td>
			<td>Richmond</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/DakariJohnson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-62249" /></td>
			<td>Dakari Johnson</td>
			<td>Oklahoma City</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/JakarrSampson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-83104" /></td>
			<td>JaKarr Sampson</td>
			<td>Iowa</td>
			<td>St. John's</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/BrianteWeber100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-83155" /></td>
			<td>Briante Weber</td>
			<td>Sioux Falls</td>
			<td>VCU</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/reggiewilliams100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-83398" /></td>
			<td>Reggie Williams</td>
			<td>Oklahoma City</td>
			<td>VMI</td>
		</tr>
	</tbody>
</table>
