<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Honor</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Joakim Noah</td>
			<td>All Defensive 1st Team</td>
			<td>Chicago Bulls</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/01/Chris-Paul-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-1254" /></td>
			<td>Chris Paul</td>
			<td>All Defensive 2nd Team</td>
			<td>Los Angeles Clippers</td>
		</tr>
		<tr>
			<td></td>
			<td>Paul George</td>
			<td>All Defensive 2nd Team</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td></td>
			<td>Damian Lillard</td>
			<td>All Rookie 1st Team</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/DionWaiters100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18827" /></td>
			<td>Dion Waiters</td>
			<td>All Rookie 1st Team</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/AndreDrummond100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18923" /></td>
			<td>Andre Drummond</td>
			<td>All Rookie 2nd Team</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/03/MikeGilchrist100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-8596" /></td>
			<td>Michael-Kidd Gilchrist</td>
			<td>All Rookie 2nd Team</td>
			<td>Charlotte Bobcats</td>
		</tr>
	</tbody>
</table>
