<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>College</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1ST TEAM</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Aaron Toomey</td>
			<td>Amherst</td>
			<td>Greensboro NC</td>
		</tr>
		<tr>
			<td>Joey Kizel</td>
			<td>Middlebury</td>
			<td>Millburn NJ</td>
		</tr>
		<tr>
			<td>Tra Benefield</td>
			<td>Christopher Newport</td>
			<td>Folkston GA</td>
		</tr>
		<tr>
			<td>2ND TEAM</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Tyler Peters</td>
			<td>Wheaton</td>
			<td>Medina OH</td>
		</tr>
		<tr>
			<td>Taylor Epley</td>
			<td>Williams</td>
			<td>Louisville KY</td>
		</tr>
		<tr>
			<td>3RD TEAM</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Aaron Walton-Moss</td>
			<td>Cabrini</td>
			<td>Camden</td>
		</tr>
		<tr>
			<td>John Ivy</td>
			<td>Brockport St</td>
			<td>Rochester NY</td>
		</tr>
		<tr>
			<td>Michael Mayer</td>
			<td>Williams</td>
			<td>Durham NC</td>
		</tr>
		<tr>
			<td>4TH TEAM</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>DJ Woodmore</td>
			<td>Virginia Wesleyan</td>
			<td>Virginia Beach VA</td>
		</tr>
		<tr>
			<td>Doug Thorpe</td>
			<td>Wooster</td>
			<td>Columbus OH</td>
		</tr>
		<tr>
			<td>Richie Bonney</td>
			<td>Hobart</td>
			<td>Norwich NY</td>
		</tr>
		<tr>
			<td>HONORABLE MENTION</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Darius Watson</td>
			<td>Albertus Magnus</td>
			<td>New Britain CT</td>
		</tr>
		<tr>
			<td>Gerry Wixted</td>
			<td>Dickinson</td>
			<td>Moorestown</td>
		</tr>
	</tbody>
</table>
