<table>
	<thead>
		<tr>
			<th>PHOTO</th>
			<th>NAME</th>
			<th>NBA TEAM</th>
			<th>COLLEGE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/02/MichaelCarterWilliams100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46613" /></td>
			<td>Michael Carter-Williams</td>
			<td>76ers</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/03/DionWaiters100.jpg" alt="" title="DionWaiters100" width="100" height="120" class="aligncenter size-full wp-image-18827" /></td>
			<td>Dion Waiters</td>
			<td>Cavaliers</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=46734" rel="attachment wp-att-46734"><img src="https://hoopgroup.com/wp-content/uploads/2014/02/hardawayjr-e1392232513478.jpg" alt="" width="100" height="102" class="aligncenter size-full wp-image-46734" /></a></td>
			<td>Tim Hardaway</td>
			<td>Knicks</td>
			<td>Michigan</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=46733" rel="attachment wp-att-46733"><img src="https://hoopgroup.com/wp-content/uploads/2014/02/8b0d68d5-bdb2-e211-a98a-002655e6c126_original-e1392230639188.jpg" alt="" width="100" height="136" class="aligncenter size-full wp-image-46733" /></a></td>
			<td>Damian Lillard</td>
			<td>Trailblazers</td>
			<td>Weber State</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/03/AndreDrummond100.jpg" alt="" title="AndreDrummond100" width="100" height="120" class="aligncenter size-full wp-image-18923" /></td>
			<td>Andre Drummond</td>
			<td>Pistons</td>
			<td>Connecticut</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/04/TreyBurke100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-29818" /></td>
			<td>Trey Burke</td>
			<td>Jazz</td>
			<td>Michigan</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/02/jaredsullinger2100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-15435" /></td>
			<td>Jared Sullinger</td>
			<td>Celtics</td>
			<td>Ohio State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/Mason-Plumlee-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-7187" /></td>
			<td>Mason Plumlee</td>
			<td>Nets</td>
			<td>Duke</td>
		</tr>
	</tbody>
</table>
