<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Grad Year</th>
			<th>High School</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Markquis Nowell</td>
			<td>2018</td>
			<td>Cordia KY</td>
			<td></td>
		</tr>
		<tr>
			<td>RJ Cole</td>
			<td>2017</td>
			<td>Newark Tech NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Kevin Huerter</td>
			<td>2017</td>
			<td>Shenendehowa NY</td>
			<td>Offered by Albany</td>
		</tr>
		<tr>
			<td>George Gordon</td>
			<td>2017</td>
			<td>Downington West PA</td>
			<td></td>
		</tr>
		<tr>
			<td>Justyn Mutts</td>
			<td>2017</td>
			<td>St. Augustine's NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Anthony Boateng</td>
			<td>2017</td>
			<td>Holderness NH</td>
			<td></td>
		</tr>
		<tr>
			<td>Isaiah Palmer</td>
			<td>2017</td>
			<td>Wise MD</td>
			<td></td>
		</tr>
		<tr>
			<td>Patrick Strzala</td>
			<td>2017</td>
			<td>Hudson Catholic NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Jamar Sudan</td>
			<td>2017</td>
			<td>Chester PA</td>
			<td></td>
		</tr>
		<tr>
			<td>Jamir Thomas</td>
			<td>2017</td>
			<td>Passaic NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Charles Hannah</td>
			<td>2018</td>
			<td>Northfield Mount Hermon MA</td>
			<td></td>
		</tr>
		<tr>
			<td>Isaiah Godwin</td>
			<td>2017</td>
			<td>Brooks School MA</td>
			<td></td>
		</tr>
		<tr>
			<td>David Morris</td>
			<td>2017</td>
			<td>Erie PA</td>
			<td></td>
		</tr>
		<tr>
			<td>Jaden Bell</td>
			<td>2017</td>
			<td>Cherokee NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Elijah Barnes</td>
			<td>2017</td>
			<td>Freehold Boro NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Nick Alilakos</td>
			<td>2017</td>
			<td>Episcopal Academy PA</td>
			<td></td>
		</tr>
		<tr>
			<td>Terry Woods</td>
			<td>2017</td>
			<td>Burlington NC</td>
			<td></td>
		</tr>
		<tr>
			<td>Michael Speight</td>
			<td>2017</td>
			<td>Wise MD</td>
			<td></td>
		</tr>
		<tr>
			<td>Myles Cale</td>
			<td>2017</td>
			<td>Appoquinmink DE</td>
			<td></td>
		</tr>
		<tr>
			<td>Darron Barnes</td>
			<td>2017</td>
			<td>Wise MD</td>
			<td></td>
		</tr>
		<tr>
			<td>Greg Kuakuemnsah</td>
			<td>2017</td>
			<td>Worcester Academy MA</td>
			<td>Offered by Fairfield</td>
		</tr>
		<tr>
			<td>Jordan Vidal</td>
			<td>2017</td>
			<td>Commonwealth Academy MA</td>
			<td></td>
		</tr>
	</tbody>
</table>
