<table>
	<thead>
		<tr>
			<th>High School Team</th>
			<th>Wins</th>
			<th>Losses</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Shabazz</td>
			<td>5</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Murry Bergtraum</td>
			<td>4</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Marlboro</td>
			<td>3</td>
			<td>0</td>
		</tr>
		<tr>
			<td>St. Rose</td>
			<td>3</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Freehold Boro</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Gill St. Bernards</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Howell</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>St. John Villa</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Trenton</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Colts Neck</td>
			<td>2</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Christ the King NY</td>
			<td>5</td>
			<td>4</td>
		</tr>
		<tr>
			<td>St. John Vianney</td>
			<td>6</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Peddie</td>
			<td>2</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Manasquan</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Neptune</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Point Pleasant Boro</td>
			<td>1</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Rumson</td>
			<td>2</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Red Bank Catholic</td>
			<td>2</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Bishop Kearney</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Southern Regional</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Bloomfield Tech</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Monmouth Regional</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Toms River North</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Toms River South</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Piscataway</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Our Lady of Lourdes</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Jackson Memorial</td>
			<td>0</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Middletown South</td>
			<td>0</td>
			<td>2</td>
		</tr>
	</tbody>
</table>
