<table>
	<thead>
		<tr>
			<th></th>
			<th>Winner</th>
			<th>Loser</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/markflagg100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82969" />MVP - Mark Flagg</td>
			<td>Pennsbury  55</td>
			<td>Berks Catholic  40</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/Casey-Jack100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82971" />MVP - Casey Jack</td>
		</tr>
		<tr>
			<td>MVP - Daron Russell</td>
			<td>Imhotep Charter  70</td>
			<td>Reading  53</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/TyroneNesbymvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82973" />MVP - Tyrone Nesby</td>
		</tr>
	</tbody>
</table>
