<table>
	<thead>
		<tr>
			<th>HOTEL</th>
			<th>ADDRESS/DIRECTIONS</th>
			<th>RATES</th>
			<th>CONTACT</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://www.waterfrontplacehotel.com/">Waterfront Place Morgantown</a></td>
			<td><a href="http://www.waterfrontplacehotel.com/hotels-morgantown-va-location">2 Waterfront Place, Morgantown WV 26505</a></td>
			<td>$109</td>
			<td>Kay Fanok
304-296-1700</td>
		</tr>
		<tr>
			<td><a href="http://hiltongardeninn3.hilton.com/en/hotels/west-virginia/hilton-garden-inn-morgantown-MGWGIGI/index.html">Hilton Garden Inn &amp; Suites Morgantown</a></td>
			<td><a href="http://hiltongardeninn3.hilton.com/en/hotels/west-virginia/hilton-garden-inn-morgantown-MGWGIGI/maps-directions/index.html">150 Suncrest Towne Center, Morgantown WV 26505</a></td>
			<td>$129</td>
			<td>Jerrica Moldowan
304-225-9500</td>
		</tr>
		<tr>
			<td><a href="http://www.marriott.com/hotels/travel/mgwsh-springhill-suites-morgantown/">Springhill Suites by Marriott Morgantown</a></td>
			<td><a href="http://www.marriott.com/hotels/maps/travel/mgwsh-springhill-suites-morgantown/">1910 Hunters Way, Morgantown WV 26508</a></td>
			<td>$119</td>
			<td>Liz Walton
304-225-5200</td>
		</tr>
		<tr>
			<td><a href="http://hamptoninn3.hilton.com/en/hotels/west-virginia/hampton-inn-morgantown-MGWVVHX/index.html">Hampton Inn Morgntown</a></td>
			<td><a href="http://hamptoninn3.hilton.com/en/hotels/west-virginia/hampton-inn-morgantown-MGWVVHX/maps-directions/index.html">1053 Van Voorhis Road, Morgantown WV 26505</a></td>
			<td>$179</td>
			<td>Bekah Gillespie
304-599-1200</td>
		</tr>
		<tr>
			<td><a href="http://www.hiexpress.com/hotels/us/en/morgantown/mgwnn/hoteldetail">Holiday Inn Express Morgantown</a></td>
			<td><a href="http://www.hiexpress.com/hotels/us/en/morgantown/mgwnn/hoteldetail/directions">605 Ventura Dr. Morgantown, WV 26508</a></td>
			<td>$119</td>
			<td>Gabriel Bilonik
304-291-2600</td>
		</tr>
		<tr>
			<td><a href="http://euro-suites.com/">Euro-Suites Morgantown</a></td>
			<td><a href="http://maps.google.com/maps?q=501+Chestnut+Ridge+Road,+Morgantown,+WV+26505&amp;hl=en&amp;ll=39.658372,-79.962337&amp;spn=0.012538,0.018947&amp;gl=us&amp;z=16">501 Chestnut Ridge Road, Morgantown WV 26505</a></td>
			<td>$99</td>
			<td>Kati Gear
800-678-4837</td>
		</tr>
		<tr>
			<td><a href="http://www.clarionhotelmorgan.com/">Clarion Hotel Morgan</a></td>
			<td><a href="http://www.clarionhotelmorgan.com/5.html">127 High St., Morgantown WV, 26505</a></td>
			<td>$69</td>
			<td>Devann Hoffman
304-292-8401</td>
		</tr>
		<tr>
			<td><a href="http://www.marriott.com/hotels/travel/mgwmg-fairfield-inn-and-suites-morgantown-granville/">Fairfield Inn &amp; Suites Morgantown</a></td>
			<td><a href="http://www.marriott.com/hotels/maps/travel/mgwmg-fairfield-inn-and-suites-morgantown-granville/">2500 University Town Center Drive, Morgantown WV 26501</a></td>
			<td>$139</td>
			<td>Ursula Myhalski
304-598-5006</td>
		</tr>
		<tr>
			<td><a href="http://www.lakeviewresort.com/">Lakeview Resort &amp; Spa Morgantown</a></td>
			<td><a href="http://www.lakeviewresort.com/contact-location/index.cfm">1 Lakeview Drive, Morgantown WV 26508</a></td>
			<td>$119</td>
			<td>Rhonda Reed
800-624-8300</td>
		</tr>
		<tr>
			<td><a href="http://www.ramada.com/hotels/west-virginia/morgantown/ramada-conference-center-morgantown-wv/hotel-overview?reg=Local-_-all-_-RAM-_-all&amp;cid=IP_Local&amp;wid=local">Ramada Morgantown</a></td>
			<td><a href="http://www.ramada.com/hotels/west-virginia/morgantown/ramada-conference-center-morgantown-wv/maps-directions?partner_id=&amp;hotel_id=01216&amp;campaign_code=IP_Local&amp;propId=RA01216&amp;checkout_date&amp;brand_id=RA&amp;children=0&amp;corporate_id">20 Scott Ave., Morgantown WV 26508</a></td>
			<td>$119</td>
			<td>Tracey Park
304-296-3431</td>
		</tr>
		<tr>
			<td><a href="http://www.marriott.com/hotels/travel/mgwri-residence-inn-morgantown/">Residence Inn Morgantown</a></td>
			<td><a href="http://www.marriott.com/hotels/maps/travel/mgwri-residence-inn-morgantown/">1046 Willowdale Road, Morgantown, WV 26505</a></td>
			<td>$169</td>
			<td>Brenda Simpson
304-599-0237</td>
		</tr>
	</tbody>
</table>
