<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Naasir Williams</td>
			<td>Cardinal Hayes NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Dennis Green</td>
			<td>Word of God NC</td>
		</tr>
		<tr>
			<td></td>
			<td>Terrence Samuel</td>
			<td>South Shore NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Jarrel Marshall</td>
			<td>Mount Vernon NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/EmmanuelOmogbo100.jpg" alt="" title="EmmanuelOmogbo100" width="100" height="120" class="aligncenter size-full wp-image-12874" /></td>
			<td>Emmanuel Omogbo</td>
			<td>Don Bosco Cristo Rey MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Kendrick Ray</td>
			<td>Middletown NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Daquen McNeil</td>
			<td>Vermont Academy VT</td>
		</tr>
		<tr>
			<td></td>
			<td>Isaiah Cousins</td>
			<td>Mount Vernon NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/GregorySenat100.jpg" alt="" title="GregorySenat100" width="100" height="120" class="aligncenter size-full wp-image-12875" /></td>
			<td>Gregory Senat</td>
			<td>Elmont NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Obekpa</td>
			<td>Our Saviour New America NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Carlos DeJesus</td>
			<td>Kennedy NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Lebrent Walker</td>
			<td>Our Saviour New America NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Felix Balamou</td>
			<td>Our Saviour New America NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Xavier Harris</td>
			<td>Peddie NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Anthony Livingston</td>
			<td>Beacon GA</td>
		</tr>
		<tr>
			<td></td>
			<td>Jevon Thomas</td>
			<td>Our Saviour New America NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Brian Bernardi</td>
			<td>Xaverian NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/GrantEllis100.jpg" alt="" title="GrantEllis100" width="100" height="120" class="aligncenter size-full wp-image-12876" /></td>
			<td>Grant Ellis</td>
			<td>Hudson Catholic NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/IsaiahMiles1001.jpg" alt="" title="IsaiahMiles100" width="100" height="120" class="aligncenter size-full wp-image-12933" /></td>
			<td>Isaiah Miles</td>
			<td>Milford Mills MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Benjamin Bentil</td>
			<td>St. Andrew's DE</td>
		</tr>
	</tbody>
</table>
