<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jose Brea</td>
			<td>Reading PA</td>
		</tr>
		<tr>
			<td>Jalin Sinclair</td>
			<td>Suffield Academy CT</td>
		</tr>
		<tr>
			<td>Cory Barnes</td>
			<td>Cape Henlopen DE</td>
		</tr>
		<tr>
			<td>Sean Hansen</td>
			<td>Ramsey NJ</td>
		</tr>
		<tr>
			<td>TJ Berger</td>
			<td>Westtown PA</td>
		</tr>
		<tr>
			<td>Oumaru Hydara</td>
			<td>Marble Hill NY</td>
		</tr>
		<tr>
			<td>Niels Lane</td>
			<td>Hun NJ</td>
		</tr>
		<tr>
			<td>Kenny Hodges</td>
			<td>Oscar Smith VA</td>
		</tr>
		<tr>
			<td>Zed Key</td>
			<td>Brentwood NY</td>
		</tr>
		<tr>
			<td>Ikechi Chantilou</td>
			<td>George Wythe VA</td>
		</tr>
		<tr>
			<td>Isaac Holmes</td>
			<td>Rutgers Prep NJ</td>
		</tr>
		<tr>
			<td>Ricardo Alleyne</td>
			<td>Boys &amp; Girls NY</td>
		</tr>
		<tr>
			<td>Cameron Thomas</td>
			<td>Oscar Smith VA</td>
		</tr>
		<tr>
			<td>Jordan Beckett</td>
			<td>Bishop Ireton VA</td>
		</tr>
		<tr>
			<td>Julian McGowan</td>
			<td>Notre Dame NJ</td>
		</tr>
		<tr>
			<td>Kenneth Womack</td>
			<td>Bishop McNamara MD</td>
		</tr>
		<tr>
			<td>Josh Morgan</td>
			<td>St. Augustine's CN</td>
		</tr>
		<tr>
			<td>Christopher Garland</td>
			<td>Archbishop Wood PA</td>
		</tr>
		<tr>
			<td>John Beattie</td>
			<td>St. Rose NJ</td>
		</tr>
		<tr>
			<td>Noah Collier</td>
			<td>Clearview NJ</td>
		</tr>
	</tbody>
</table>
