<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP: Kimani Barrett</td>
			<td>Paterson Catholic NJ  59


</td>
			<td>Blair NJ  55


</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Roman Catholic  39</td>
			<td>Central Catholic  34


</td>
			<td>MVP: Mike Cudwadie</td>
		</tr>
		<tr>
			<td>MVP: Alphonso Dawson</td>
			<td>Harrisburg  48


</td>
			<td>Bishop McNamara MD  37</td>
			<td></td>
		</tr>
		<tr>
			<td>MVP: Eugene Harvey</td>
			<td>St. Benedict's NJ  54


</td>
			<td>St. John Neumann Goretti  51</td>
			<td>MVP Derrick Rivera</td>
		</tr>
		<tr>
			<td></td>
			<td>Wissahickon  48

</td>
			<td>Parkland  34</td>
			<td></td>
		</tr>
		<tr>
			<td>MVP: Chris Martin</td>
			<td>Christ the King NY  56


</td>
			<td>Pocono Mountain East  52</td>
			<td></td>
		</tr>
	</tbody>
</table>
