<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/TJMcConnell100.jpg" alt="tjmcconnell100" width="100" height="120" class="aligncenter size-full wp-image-79795" /></td>
			<td>TJ McConnell</td>
			<td>Arizona</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/03/KyleAnderson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-8442" /></td>
			<td>Kyle Anderson</td>
			<td>UCLA</td>
		</tr>
		<tr>
			<td></td>
			<td>Billy Baron</td>
			<td>Canisius</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/ShabazzNapier100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18921" /></td>
			<td>Shabazz Napier</td>
			<td>UConn</td>
		</tr>
		<tr>
			<td></td>
			<td>James Robinson</td>
			<td>Pittsburgh</td>
		</tr>
		<tr>
			<td></td>
			<td>Juwan Staten</td>
			<td>West Virginia</td>
		</tr>
		<tr>
			<td></td>
			<td>DeAndre Kane</td>
			<td>Iowa State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/10/chazwilliams100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44430" /></td>
			<td>Chaz Williams</td>
			<td>UMass</td>
		</tr>
		<tr>
			<td></td>
			<td>Keith Appling</td>
			<td>Michigan State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/EricAtkins100-1.jpg" alt="ericatkins100" width="120" height="100" class="aligncenter size-full wp-image-80281" /></td>
			<td>Eric Atkins</td>
			<td>Notre Dame</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/Aaron-Craft-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44709" /></td>
			<td>Aaron Craft</td>
			<td>Ohio State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/12/TylerEnnis1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-14413" /></td>
			<td>Tyler Ennis</td>
			<td>Syracuse</td>
		</tr>
	</tbody>
</table>
