<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/JimmerFredette1001.jpg" alt="" title="JimmerFredette100" width="100" height="120" class="aligncenter size-full wp-image-2517" /></td>
			<td>Jimmer Fredette</td>
			<td>Brigham Young</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Nolan-Smith-100.jpg" alt="" title="Nolan Smith 100" width="100" height="120" class="aligncenter size-full wp-image-2519" /></td>
			<td>Nolan Smith</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td></td>
			<td>Jajuan Johnson</td>
			<td>Purdue</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Kemba-Walker-1001.jpg" alt="" title="Kemba Walker 100" width="100" height="120" class="aligncenter size-full wp-image-2461" /></td>
			<td>Kemba Walker</td>
			<td>UConn</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/JaredSullinger100.jpg" alt="" title="JaredSullinger100" width="100" height="120" class="aligncenter size-full wp-image-2961" /></td>
			<td>Jared Sullinger</td>
			<td>Purdue</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Marcus-Morris-100.jpg" alt="" title="Marcus Morris 100" width="100" height="120" class="aligncenter size-full wp-image-1399" /></td>
			<td>Marcus Morris</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td></td>
			<td>Ben Hansbrough</td>
			<td>Notre Dame</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/KenFaried100.jpg" alt="" title="KenFaried100" width="100" height="120" class="aligncenter size-full wp-image-9047" /></td>
			<td>Ken Faried</td>
			<td>Morehead State</td>
		</tr>
		<tr>
			<td></td>
			<td>Tu Holloway</td>
			<td>Xavier</td>
		</tr>
	</tbody>
</table>
