<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/TylerUlis100.jpg" alt="TylerUlis100" width="100" height="120" class="aligncenter size-full wp-image-73398" /></td>
			<td>Tyler Ulis</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/GeorgesNiang100.jpg" alt="GeorgesNiang100" width="100" height="120" class="aligncenter size-full wp-image-73399" /></td>
			<td>Georges Niang</td>
			<td>Iowa State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/11/Anthonybarber100.jpg" alt="Anthonybarber100" width="100" height="120" class="aligncenter size-full wp-image-55863" /></td>
			<td>Anthony Barber</td>
			<td>NC State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/DeAndreBembry100-1.jpg" </td>
			<td>DeAndre Bembry</td>
			<td>St. Joseph's</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/BenBentil100.jpg" alt="BenBentil100" width="100" height="120" class="aligncenter size-full wp-image-73393" /></td>
			<td>Ben Bentil</td>
			<td>Providence</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/EvanBradds100.jpg" alt="EvanBradds100" width="100" height="120" class="aligncenter size-full wp-image-73401" /></td>
			<td>Evan Bradds</td>
			<td>Belmont</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/DillonBrooks100.jpg" alt="DillonBrooks100" width="100" height="120" class="aligncenter size-full wp-image-73403" /></td>
			<td>Dillon Brooks</td>
			<td>Oregon</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/CaneBroome100.jpg" alt="CaneBroome100" width="100" height="120" class="aligncenter size-full wp-image-73395" /></td>
			<td>Cane Broome</td>
			<td>Sacred Heart</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/JamesDaniel100.jpg" alt="JamesDaniel100" width="100" height="120" class="aligncenter size-full wp-image-73405" /></td>
			<td>James Daniel</td>
			<td>Howard</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/JuanyaGreen100.jpg" alt="Juan&#039;yaGreen100" width="100" height="120" class="aligncenter size-full wp-image-65430" /></td>
			<td>Juan'ya Green</td>
			<td>Hofstra</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/09/JoshHart100.jpg" alt="JoshHart100" width="100" height="120" class="aligncenter size-full wp-image-12701" /></td>
			<td>Josh Hart</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/StefanJankovic100.jpg" alt="StefanJankovic100" width="100" height="120" class="aligncenter size-full wp-image-73407" /></td>
			<td>Stefan Jankovic</td>
			<td>Hawaii</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/MaxLandis100.jpg" alt="MaxLandis100" width="100" height="120" class="aligncenter size-full wp-image-73409" /></td>
			<td>Max Landis</td>
			<td>IPFW</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/JustinRobinson100-1.jpg" alt="JustinRobinson100" width="100" height="120" class="aligncenter size-full wp-image-73390" /></td>
			<td>Justin Robinson</td>
			<td>Monmouth</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=12691" rel="attachment wp-att-12691"><img src="https://hoopgroup.com/wp-content/uploads/2011/09/JustinSears100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-12691" /></a></td>
			<td>Justin Sears</td>
			<td>Yale</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=45003" rel="attachment wp-att-45003"><img src="https://hoopgroup.com/wp-content/uploads/2013/11/RomelloTrimble100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45003" /></a></td>
			<td>Melo Trimble</td>
			<td>Maryland</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=12408" rel="attachment wp-att-12408"><img src="https://hoopgroup.com/wp-content/uploads/2011/08/JameelWarney100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-12408" /></a></td>
			<td>Jameel Warney</td>
			<td>Stony Brook</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/IsaiahWhitehead100.jpg" alt="IsaiahWhitehead100" width="100" height="120" class="aligncenter size-full wp-image-64151" /></td>
			<td>Isaiah Whitehead</td>
			<td>Seton Hall</td>
		</tr>
	</tbody>
</table>
