<table>
	<tbody>
		<tr>
			<td>Pete Newell
California
1959
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Pete-Newell-1.jpg" rel="attachment wp-att-71437"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Pete-Newell-1.jpg" alt="Pete Newell" width="100" height="120" class="aligncenter size-full wp-image-71437" /></a></td>
			<td>Ray Mears
Wittenberg
1961
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/RayMears.jpg" rel="attachment wp-att-71440"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/RayMears.jpg" alt="RayMears" width="100" height="120" class="aligncenter size-full wp-image-71440" /></a></td>
			<td>Herb Magee
Philadelphia Textile
1970
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Herb-Magee-Lecturing-at-camp-1.jpg" rel="attachment wp-att-71428"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Herb-Magee-Lecturing-at-camp-1.jpg" alt="Herb Magee Lecturing at camp" width="100" height="120" class="aligncenter size-full wp-image-71428" /></a></td>
		</tr>
		<tr>
			<td>Cathy Rush
Immaculata (AIAW)
1972, 1973, 1974
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Cathy-Rush-1.jpg" rel="attachment wp-att-71424"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Cathy-Rush-1.jpg" alt="Cathy Rush" width="100" height="120" class="aligncenter size-full wp-image-71424" /></a></td>
			<td>Margaret Wade
Delta State (AIAW)
1975, 1976, 1977
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Margaret-Wade-1.jpg" rel="attachment wp-att-71434"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Margaret-Wade-1.jpg" alt="Margaret Wade" width="100" height="120" class="aligncenter size-full wp-image-71434" /></a></td>
			<td>Bob Knight 
Indiana
1976, 1981, 1987
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Bob-Knight-1.jpg" rel="attachment wp-att-71423"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Bob-Knight-1.jpg" alt="Bob Knight" width="100" height="120" class="aligncenter size-full wp-image-71423" /></a></td>
		</tr>
		<tr>
			<td>Al McGuire
Marquette
1977
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/al-mcguire-100-1.jpg" rel="attachment wp-att-71421"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/al-mcguire-100-1.jpg" alt="MCGUIRE" width="100" height="120" class="aligncenter size-full wp-image-71421" /></a></td>
			<td>Sonny Allen 
Old Dominion (D2)
1975
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Sonny-Allen.jpg" rel="attachment wp-att-71443"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Sonny-Allen.jpg" alt="Sonny Allen" width="100" height="120" class="aligncenter size-full wp-image-71443" /></a></td>
			<td>Marianne Stanley
Old Dominion
1979, 1980, 1985
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/MARIANNE-STANLEY.jpg" rel="attachment wp-att-71441"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/MARIANNE-STANLEY.jpg" alt="MARIANNE STANLEY" width="100" height="120" class="aligncenter size-full wp-image-71441" /></a></td>
		</tr>
		<tr>
			<td>Hal Wissel
Florida Southern (D2)
1981
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Hal-Wissel.gif" rel="attachment wp-att-71451"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Hal-Wissel.gif" alt="Hal Wissel" width="100" height="120" class="aligncenter size-full wp-image-71451" /></a></td>
			<td>Jerry Welsh
SUNY Potsdam (D3)
1981, 1986
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Jerry-Welsh.jpg" rel="attachment wp-att-71447"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Jerry-Welsh.jpg" alt="Jerry Welsh" width="100" height="120" class="aligncenter size-full wp-image-71447" /></a></td>
			<td>Dean Smith
North Carolina
1982, 1993
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Dean-Smith-100-1.jpg" rel="attachment wp-att-71425"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Dean-Smith-100-1.jpg" alt="Dean Smith 100" width="100" height="120" class="aligncenter size-full wp-image-71425" /></a></td>
		</tr>
		<tr>
			<td>Theresa Grentz
Rutgers (AIAW)
1982
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Theresa-Grentz.jpg" rel="attachment wp-att-71481"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Theresa-Grentz.jpg" alt="5.0.3" width="100" height="120" class="aligncenter size-full wp-image-71481" /></a></td>
			<td>Jim Valvano
North Carolina State
1983
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/jim-valvano-100.jpg" rel="attachment wp-att-71430"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/jim-valvano-100.jpg" alt="jim valvano 100" width="100" height="120" class="aligncenter size-full wp-image-71430" /></a></td>
			<td>Rollie Massimino
Villanova
1985
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Massimino2.jpg" rel="attachment wp-att-71435"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Massimino2.jpg" alt="Massimino2" width="100" height="120" class="aligncenter size-full wp-image-71435" /></a></td>
		</tr>
		<tr>
			<td>Mike Strong
Scranton (D3)
1985
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Mike-Strong.jpg" rel="attachment wp-att-71471"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Mike-Strong.jpg" alt="Scranton Winter and Spring Sports Teams" width="100" height="120" class="aligncenter size-full wp-image-71471" /></a></td>
			<td>Pat Summit
Tennessee
1987, 1989, 1991, 1996, 1997, 1998, 2007, 2008
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Pat-Summitt-1.jpg" rel="attachment wp-att-71436"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Pat-Summitt-1.jpg" alt="Pat Summitt" width="100" height="120" class="aligncenter size-full wp-image-71436" /></a></td>
			<td>Larry Brown
Kansas
1988
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Larry-Brown.jpg" rel="attachment wp-att-71449"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Larry-Brown.jpg" alt="Larry Brown" width="100" height="120" class="aligncenter size-full wp-image-71449" /></a></td>
		</tr>
		<tr>
			<td>Pat Flannery
Lebanon Valley (D3)
1994
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Pat-Flannery.jpeg" rel="attachment wp-att-71450"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Pat-Flannery.jpeg" alt="Pat Flannery" width="100" height="120" class="aligncenter size-full wp-image-71450" /></a></td>
			<td>Rick Pitino
Kentucky, Louisville
1996 (Kentucky)
2013 (Louisville)
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/rick-pitino-100.jpg" rel="attachment wp-att-71438"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/rick-pitino-100.jpg" alt="rick pitino 100" width="100" height="120" class="aligncenter size-full wp-image-71438" /></a></td>
			<td>Geno Auriemma
Connecticut
1995, 2000, 2002, 2003, 2004, 2009, 2010, 2013, 2014, 2015
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Geno-Auriemma-1.jpg" rel="attachment wp-att-71427"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Geno-Auriemma-1.jpg" alt="Geno Auriemma" width="100" height="120" class="aligncenter size-full wp-image-71427" /></a></td>
		</tr>
		<tr>
			<td>John Giannini
Rowan (D3)
1996
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/John-Giannini.jpg" rel="attachment wp-att-71448"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/John-Giannini.jpg" alt="John Giannini" width="100" height="120" class="aligncenter size-full wp-image-71448" /></a></td>
			<td>Gary Williams
Maryland
2002
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Gary-Williams-1.jpg" rel="attachment wp-att-71426"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Gary-Williams-1.jpg" alt="Gary Williams" width="100" height="120" class="aligncenter size-full wp-image-71426" /></a></td>
			<td>Jim Boeheim
Syracuse
2003
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Jim-Boeheim-1.jpg" rel="attachment wp-att-71429"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Jim-Boeheim-1.jpg" alt="Jim Boeheim" width="100" height="120" class="aligncenter size-full wp-image-71429" /></a></td>
		</tr>
		<tr>
			<td>David Paulsen
Williams (D3)
2003
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/Dave-Paulsen.jpg" rel="attachment wp-att-71444"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Dave-Paulsen.jpg" alt="Dave Paulsen" width="100" height="120" class="aligncenter size-full wp-image-71444" /></a></td>
			<td>David Macedo
Virginia Wesleyan (D3)
2006
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/David-Macedo.jpg" rel="attachment wp-att-71446"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/David-Macedo.jpg" alt="David Macedo" width="100" height="120" class="aligncenter size-full wp-image-71446" /></a></td>
			<td>Billy Donovan
Florida
2006, 2007
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/billydonovan.jpg" rel="attachment wp-att-71422"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/billydonovan.jpg" alt="billydonovan" width="100" height="120" class="aligncenter size-full wp-image-71422" /></a></td>
		</tr>
		<tr>
			<td>John Calipari
Kentucky
2012
<a href="https://hoopgroup.com/wp-content/uploads/2016/02/John-Calipari-1.jpg" rel="attachment wp-att-71433"><img src="https://hoopgroup.com/wp-content/uploads/2016/02/John-Calipari-1.jpg" alt="John Calipari" width="100" height="120" class="aligncenter size-full wp-image-71433" /></a></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
