<table>
	<thead>
		<tr>
			<th>Date</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://www.hiexpress.com/hotels/us/en/neptune/nepnj/hoteldetail?cm_mmc=mdpr-_-GoogleMaps-_-ex-_-nepnj">Holiday Inn Express</a></td>
			<td><a href="http://www.hiexpress.com/hotels/us/en/neptune/nepnj/hoteldetail/directions">3510 New Jersey Route 66, Neptune Township NJ 07753</a></td>
			<td>732-922-9600</td>
			<td>6 minutes/3 miles</td>
		</tr>
		<tr>
			<td><a href="http://www.ichotelsgroup.com/staybridge/hotels/us/en/eatontown/etown/hoteldetail?cm_mmc=mdpr-_-googlemaps-_-sb-_-etown">Staybridge Suites</a></td>
			<td><a href="http://www.ichotelsgroup.com/staybridge/hotels/us/en/eatontown/etown/hoteldetail/directions">4 Industrial Way East, Eatontown NJ 07724</a></td>
			<td>732-380-9300</td>
			<td>8 minutes/5 miles</td>
		</tr>
	</tbody>
</table>
