<table>
	<thead>
		<tr>
			<th></th>
			<th>NAME</th>
			<th>TEAM</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Isiah Still</td>
			<td>NJ Got Game</td>
		</tr>
		<tr>
			<td></td>
			<td>Kyle Elliott</td>
			<td>NJ Got Game</td>
		</tr>
		<tr>
			<td></td>
			<td>Myles Stephens</td>
			<td>NJ Roadrunners</td>
		</tr>
		<tr>
			<td></td>
			<td>Trey Lowe</td>
			<td>NJ Roadrunners</td>
		</tr>
		<tr>
			<td></td>
			<td>Jamir Harris</td>
			<td>Playaz
</td>
		</tr>
		<tr>
			<td></td>
			<td>Nate Feiertag
</td>
			<td>L&amp;L Runnin Rebels</td>
		</tr>
		<tr>
			<td></td>
			<td>Clinton Davidson</td>
			<td>CT Elite</td>
		</tr>
		<tr>
			<td></td>
			<td>Ian Demarest</td>
			<td>Hoop Heaven</td>
		</tr>
		<tr>
			<td></td>
			<td>Clark Yarborough</td>
			<td>Game 7 Sharks</td>
		</tr>
		<tr>
			<td></td>
			<td>Stevie Jordan</td>
			<td>Team Philly</td>
		</tr>
		<tr>
			<td></td>
			<td>Tommy Murphy</td>
			<td>NE Playaz</td>
		</tr>
	</tbody>
</table>
