<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Eric Dortch</td>
			<td>Illinois Weleyan</td>
		</tr>
		<tr>
			<td></td>
			<td>Mike Greenman</td>
			<td>Williams</td>
		</tr>
		<tr>
			<td></td>
			<td>Taylor Epley</td>
			<td>Williams</td>
		</tr>
		<tr>
			<td></td>
			<td>Daniel Aronowitz</td>
			<td>Williams</td>
		</tr>
		<tr>
			<td></td>
			<td>Ryan Kilcullen</td>
			<td>Williams</td>
		</tr>
		<tr>
			<td></td>
			<td>Greg Payton</td>
			<td>Williams</td>
		</tr>
		<tr>
			<td></td>
			<td>Michael Mayer</td>
			<td>Williams</td>
		</tr>
		<tr>
			<td></td>
			<td>Christien Wright</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Aaron Toomey</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Connor Gach</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>David Kalema</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Brady Holding</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Jeff Racy</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Tom Killian</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Connor Green</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Ben Pollack</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Joseph Mussachia</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Alex Levine</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>David George</td>
			<td>Amherst</td>
		</tr>
	</tbody>
</table>
