<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP - KJ Williams</td>
			<td>Liberty  54</td>
			<td>Council Rock North  46</td>
			<td>MVP - Rip Engel</td>
		</tr>
		<tr>
			<td>MVP - DeAndre Bembry</td>
			<td>The Patrick School NJ  81</td>
			<td>Parkland  65</td>
			<td>MVP - Austin Beidelman</td>
		</tr>
		<tr>
			<td>MVP - Tyler Ennis</td>
			<td>St. Benedict's NJ  85</td>
			<td>Germantown Academy  58</td>
			<td>MVP - Greg Dotson</td>
		</tr>
		<tr>
			<td>MVP - JC Show</td>
			<td>Abington Heights  54</td>
			<td>Gill St. Bernards NJ  53</td>
			<td>MVP -Tyus Battle</td>
		</tr>
		<tr>
			<td>MVP - Reggie Cameron</td>
			<td>Hudson Catholic NJ  53</td>
			<td>Freedom  46</td>
			<td>MVP - David Williams</td>
		</tr>
	</tbody>
</table>
