<table>
	<thead>
		<tr>
			<th>PHOTO</th>
			<th>NAME</th>
			<th>NBA D-LEAGUE TEAM</th>
			<th>COLLEGE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Khem Birch</td>
			<td>Sioux Falls</td>
			<td>UNLV</td>
		</tr>
		<tr>
			<td></td>
			<td>Jerrelle Benimon</td>
			<td>Idaho</td>
			<td>Towson</td>
		</tr>
		<tr>
			<td></td>
			<td>Semaj Christon</td>
			<td>Oklahoma City</td>
			<td>Xavier</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57348" rel="attachment wp-att-57348"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/JamesMcAdoo100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57348" /></a></td>
			<td>James Michael-McAdoo</td>
			<td>Santa Cruz</td>
			<td>North Carolina</td>
		</tr>
		<tr>
			<td></td>
			<td>Quincy Miller</td>
			<td>Reno</td>
			<td>Baylor</td>
		</tr>
	</tbody>
</table>
