<table>
	<thead>
		<tr>
			<th>NAME</th>
			<th>TEAM</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Yosef Yacob</td>
			<td>Team Final</td>
		</tr>
		<tr>
			<td>Rondae Jefferson</td>
			<td>Team Final</td>
		</tr>
		<tr>
			<td>Austin Colbert</td>
			<td>Team Final</td>
		</tr>
		<tr>
			<td>Jonathan Davis</td>
			<td>Marylands Finest</td>
		</tr>
		<tr>
			<td>Mike Kobani</td>
			<td>Marylands Finest</td>
		</tr>
		<tr>
			<td>Roddy Peters</td>
			<td>Marylands Finest</td>
		</tr>
		<tr>
			<td>Andre Rowsey</td>
			<td>BWSL</td>
		</tr>
		<tr>
			<td>D Nolan</td>
			<td>Connecticut Select</td>
		</tr>
		<tr>
			<td>Javier Martinez</td>
			<td>DE Team Takeover</td>
		</tr>
		<tr>
			<td>Howard Sellars</td>
			<td>DE Team Takeover</td>
		</tr>
		<tr>
			<td>Coleman Johnson</td>
			<td>Takeover Marshall</td>
		</tr>
		<tr>
			<td>Jay Daniels</td>
			<td>Team Loaded Wright</td>
		</tr>
		<tr>
			<td>Samuel Dingba</td>
			<td>Westchester Hawks</td>
		</tr>
		<tr>
			<td>Josh Newkirk</td>
			<td>NC Express</td>
		</tr>
		<tr>
			<td>Kennedy Meeks</td>
			<td>Team United Gaither</td>
		</tr>
		<tr>
			<td>T Boykins</td>
			<td>DC Assault Gold</td>
		</tr>
		<tr>
			<td>Jaylon Robertson</td>
			<td>Self Carolina Elite</td>
		</tr>
		<tr>
			<td>Sindarius Thornwell</td>
			<td>United Elite</td>
		</tr>
		<tr>
			<td>Warren Powers</td>
			<td>Team Melo</td>
		</tr>
		<tr>
			<td>Quentin Judd</td>
			<td>Team Melo</td>
		</tr>
		<tr>
			<td>Obi Enechionyua</td>
			<td>VA Elite</td>
		</tr>
		<tr>
			<td>Isiah Hicks</td>
			<td>Garner Road</td>
		</tr>
		<tr>
			<td>J Williams</td>
			<td>Squires Richmond</td>
		</tr>
		<tr>
			<td>Quan Watson</td>
			<td>Squires Richmond</td>
		</tr>
		<tr>
			<td>Steven Griffin</td>
			<td>NE Sting</td>
		</tr>
		<tr>
			<td>Semaji Reed</td>
			<td>NE Sting</td>
		</tr>
		<tr>
			<td>Jordan Talley</td>
			<td>Richmond</td>
		</tr>
		<tr>
			<td>Pernell Radcliff</td>
			<td>Southside Partners</td>
		</tr>
		<tr>
			<td>Rashodd Maxey</td>
			<td>East Coast Fusion Walker</td>
		</tr>
		<tr>
			<td>Landon Moss</td>
			<td>VA Assault Gold</td>
		</tr>
		<tr>
			<td>M Carney</td>
			<td>VA Assault Gold</td>
		</tr>
		<tr>
			<td>Josh Grimard</td>
			<td>Loudon Triple Threat</td>
		</tr>
		<tr>
			<td>Reggie Jones</td>
			<td>Team Hines</td>
		</tr>
		<tr>
			<td>Samor Martin</td>
			<td>Grass Roots</td>
		</tr>
		<tr>
			<td>Travaughn Newell</td>
			<td>VA Assault Red</td>
		</tr>
		<tr>
			<td>Brian Andrews</td>
			<td>Baltimore Wildcats</td>
		</tr>
		<tr>
			<td>Greg Bozman</td>
			<td>MD Shore Shots</td>
		</tr>
		<tr>
			<td>Oshon West</td>
			<td>Team Redemption</td>
		</tr>
		<tr>
			<td>Emmanuel Omogbo</td>
			<td>Force One</td>
		</tr>
		<tr>
			<td>Rontrez Purcell</td>
			<td>Metro Ball DC</td>
		</tr>
	</tbody>
</table>
