<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>St. John Neuman Goretti PA  64</td>
			<td>Bishop Eustace  56</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick  46</td>
			<td>St. Joseph's Metuchen  35</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Paterson Kennedy  91</td>
			<td>Paterson Catholic  57</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>CBA  41</td>
			<td>St. Patrick  35</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Anthony  47</td>
			<td>Linden  44</td>
			<td></td>
		</tr>
	</tbody>
</table>
