<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Manasquan  61


MVP:  Matt Vadas</td>
			<td>Point Pleasant Beach  44


MVP:  Jarrelle Reischel</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Freehold Boro  54


MVP:  Lance McKenzie</td>
			<td>Lakewood  45


MVP:  Tony Walker</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick  70


MVP:  Kyrie Irving</td>
			<td>CBA  50


MVP:  Matt McMullen</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Middletown South  51


MVP: Kyle Cancillieri</td>
			<td>Monmouth Regional  42


MVP:  Neil Thompson</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Neptune  56


MVP:  Jamal Hubbard</td>
			<td>Lincoln NY  53


MVP:  Ray O'Loughlin</td>
			<td></td>
		</tr>
	</tbody>
</table>
