<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>College</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Brandon Federici</td>
			<td>Franklin &amp; Marshall</td>
			<td>Morganville NJ</td>
		</tr>
		<tr>
			<td>Jaqhawn Walters</td>
			<td>Albertus Magnus</td>
			<td>Hartford CT</td>
		</tr>
		<tr>
			<td>Tarchee Brown</td>
			<td>Eastern Connecticut State</td>
			<td>Rockville CT</td>
		</tr>
		<tr>
			<td>Jay Howard</td>
			<td>Catholic</td>
			<td>Pennsauken NJ</td>
		</tr>
		<tr>
			<td>Chimaechi Ekekeugboro</td>
			<td>Baruch</td>
			<td>Matawan NJ</td>
		</tr>
		<tr>
			<td>Dalton Myers</td>
			<td>York</td>
			<td>Finksburg MD</td>
		</tr>
	</tbody>
</table>
