<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/FrankMason100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80265" /></td>
			<td>Frank Mason</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/09/JoshHart100.jpg" alt="JoshHart100" width="100" height="120" class="aligncenter size-full wp-image-12701" /></td>
			<td>Josh Hart</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/JohnathanMotley100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-83136" /></td>
			<td>Johnathan Motley</td>
			<td>Baylor</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/JoshJackson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82722" /></td>
			<td>Josh Jackson</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/01/MarkelleFultz100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-68519" /></td>
			<td>Markelle Fultz</td>
			<td>Washington</td>
		</tr>
		<tr>
			<td></td>
			<td>Trae Bell-Haynes</td>
			<td>Vermont</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/EvanBradds100.jpg" alt="EvanBradds100" width="100" height="120" class="aligncenter size-full wp-image-73401" /></td>
			<td>Evan Bradds</td>
			<td>Belmont</td>
		</tr>
		<tr>
			<td></td>
			<td>Patrick Cole</td>
			<td>NC Central</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/02/AngelDelgadosmall.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-47071" /></td>
			<td>Angel Delgado</td>
			<td>Seton Hall</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/11/Nana-Foulland-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66515" /></td>
			<td>Nana Foulland</td>
			<td>Bucknell</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/03/jeromefrink100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-83777" /></td>
			<td>Jerome Frink</td>
			<td>LIU Brooklyn</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/KevinHervey100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80355" /></td>
			<td>Kevin Hervey</td>
			<td>Texas Arlington</td>
		</tr>
		<tr>
			<td></td>
			<td>Isaiah Johnson</td>
			<td>Akron</td>
		</tr>
		<tr>
			<td></td>
			<td>Keon Johnson</td>
			<td>Winthrop</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DonovanMitchell100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80527" /></td>
			<td>Donovan Mitchell</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/JustinRobinson100-1.jpg" alt="JustinRobinson100" width="100" height="120" class="aligncenter size-full wp-image-73390" /></td>
			<td>Justin Robinson</td>
			<td>Monmouth</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DennisSmith2100-3.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80254" /></td>
			<td>Dennis Smith</td>
			<td>NC State</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=45003" rel="attachment wp-att-45003"><img src="https://hoopgroup.com/wp-content/uploads/2013/11/RomelloTrimble100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45003" /></a></td>
			<td>Melo Trimble</td>
			<td>Maryland</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/11/SpencerWeisz100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-27139" /></td>
			<td>Spencer Weisz</td>
			<td>Princeton</td>
		</tr>
	</tbody>
</table>
