<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Team</th>
			<th></th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1:00</td>
			<td>Hun</td>
			<td>vs.</td>
			<td>Hackensack</td>
		</tr>
		<tr>
			<td>2:45</td>
			<td>Blair</td>
			<td>vs.</td>
			<td>Bloomfield</td>
		</tr>
		<tr>
			<td>4:30</td>
			<td>Don Bosco</td>
			<td>vs.</td>
			<td>Linden</td>
		</tr>
		<tr>
			<td>6:15</td>
			<td>Gill St. Bernards</td>
			<td>vs.</td>
			<td>Patrick School</td>
		</tr>
		<tr>
			<td>8:00</td>
			<td>Columbia</td>
			<td>vs.</td>
			<td>Seton Hall Prep</td>
		</tr>
	</tbody>
</table>
