<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Timothy Chaney</td>
			<td>Gill St. Bernard's NJ</td>
		</tr>
		<tr>
			<td>Will Yarbrough</td>
			<td>Seton Hall Prep NJ</td>
		</tr>
		<tr>
			<td>Avi Leung</td>
			<td>Lick-Wilmerding CA</td>
		</tr>
		<tr>
			<td>Kennet Lindquist</td>
			<td>Sweden</td>
		</tr>
		<tr>
			<td>Michael Schretter</td>
			<td>Ridgewood NJ</td>
		</tr>
		<tr>
			<td>Jack Rooney</td>
			<td>Chtham NJ</td>
		</tr>
		<tr>
			<td>Conner Delaney</td>
			<td>Episcopal Academy PA</td>
		</tr>
		<tr>
			<td>Austin Williams</td>
			<td>Seton Hall Prep NJ</td>
		</tr>
		<tr>
			<td>Paul Woolhouse</td>
			<td>North Hunterdon NJ</td>
		</tr>
		<tr>
			<td>Curtis Mitchell</td>
			<td>Georgetown Prep MD</td>
		</tr>
		<tr>
			<td>Ryan Omslaer</td>
			<td>St. Peter's Prep NJ</td>
		</tr>
		<tr>
			<td>Jake Needleman</td>
			<td>Rutgers Prep NJ</td>
		</tr>
		<tr>
			<td>Curtis Cooper</td>
			<td>Deep Run VA</td>
		</tr>
		<tr>
			<td>Jalen Vaughns</td>
			<td>Pocono Mountain West PA</td>
		</tr>
		<tr>
			<td>Alex Merhige</td>
			<td>Harborfields NY</td>
		</tr>
		<tr>
			<td>Rhona Eseyade</td>
			<td>Bergen Catholic NJ</td>
		</tr>
		<tr>
			<td>Antone Walker</td>
			<td>Freinds Central PA</td>
		</tr>
		<tr>
			<td>Nicholas King</td>
			<td>Freedom PA</td>
		</tr>
		<tr>
			<td>Matthue Cotton</td>
			<td>St. Benedict's NJ</td>
		</tr>
		<tr>
			<td>Jake Livingston</td>
			<td>Fox Chapel PA</td>
		</tr>
		<tr>
			<td>Brad Bundschuh</td>
			<td>Mendham NJ</td>
		</tr>
	</tbody>
</table>
