<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>St. Benedict's  72</td>
			<td>Bishop Francis RI  47</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Delbarton  55</td>
			<td>Mendham  45</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick  67</td>
			<td>Paterson Catholic  53</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Linden  62</td>
			<td>Bloomfield Tech  51</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>CBA  58</td>
			<td>Don Bosco  43</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick  67</td>
			<td>Neptune  53</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Anthony  64</td>
			<td>Newark Eastside  56</td>
			<td></td>
		</tr>
	</tbody>
</table>
