<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/KyleAnderson100.jpg" alt="" title="KyleAnderson100" width="100" height="120" class="aligncenter size-full wp-image-8442" /></td>
			<td>Kyle Anderson</td>
			<td>St. Anthony NJ</td>
			<td>UCLA</td>
		</tr>
		<tr>
			<td></td>
			<td>Gary Harris</td>
			<td>Fisher Hamilton IN</td>
			<td>Michigan State</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/amilejefferson100.jpg" alt="" title="amilejefferson100" width="100" height="120" class="aligncenter size-full wp-image-12405" /></td>
			<td>Amile Jefferson</td>
			<td>Friends Central PA</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Lewis</td>
			<td>Oak Hll VA</td>
			<td>NC State</td>
		</tr>
		<tr>
			<td></td>
			<td>Rodney Purvis</td>
			<td>Upper Room Christian NC</td>
			<td>NC State</td>
		</tr>
		<tr>
			<td></td>
			<td>TJ Warren</td>
			<td>Brewster Academy NH</td>
			<td>North Carolina</td>
		</tr>
		<tr>
			<td></td>
			<td>Dajuan Coleman</td>
			<td>Jamesville Dewtt NY</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td></td>
			<td>Anthony Bennett</td>
			<td>Findlay Prep NV</td>
			<td></td>
		</tr>
	</tbody>
</table>
