<table>
	<thead>
		<tr>
			<th>Facility</th>
			<th>Address/Directions</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Hoop Group Headquarters
(HGHQ)</td>
			<td>1930 Heck Avenue
Building #3
Neptune, NJ 07753</td>
			<td></td>
		</tr>
		<tr>
			<td>Georgian Court University</td>
			<td>900 Lakewood Ave, Lakewood Township, NJ 08701
</td>
			<td></td>
		</tr>
		<tr>
			<td>Lakewood High School</td>
			<td>855 Somerset Rd
Lakewood , NJ 08701</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>
</td>
			<td></td>
		</tr>
	</tbody>
</table>
