<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winning Team</th>
			<th>Team</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/12/iversonfleming100.jpg" alt="" title="iversonfleming100" width="100" height="120" class="aligncenter size-full wp-image-14417" />Iverson Fleming</td>
			<td>No Brunswick  63</td>
			<td>West Orange  52</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/12/carlodechavez100.jpg" alt="" title="carlodechavez100" width="100" height="120" class="aligncenter size-full wp-image-14418" />Carlos DeChavez</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/12/keithkirkwood100.jpg" alt="" title="keithkirkwood100" width="100" height="120" class="aligncenter size-full wp-image-14419" />Keith Kirkwood</td>
			<td>Neptune  62</td>
			<td>Scotch Plains  57</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/12/tombonacum100.jpg" alt="" title="tombonacum100" width="100" height="120" class="aligncenter size-full wp-image-14420" />Thomas Bonacum</td>
		</tr>
		<tr>
			<td>Dajon Toddman</td>
			<td>Don Bosco  92</td>
			<td>Englewood  44</td>
			<td>Tyler Kearney</td>
		</tr>
		<tr>
			<td>Quadri Moore</td>
			<td>Linden  51</td>
			<td>CBA  41</td>
			<td>Eric Shaw</td>
		</tr>
		<tr>
			<td>Mel Johnson</td>
			<td>St. Benedict's  67</td>
			<td>Plainfield  65</td>
			<td>Justin Sears</td>
		</tr>
		<tr>
			<td>Stephon Mosley</td>
			<td>Seton Hall Prep  61</td>
			<td>Columbia  44</td>
			<td>Justin Martin</td>
		</tr>
	</tbody>
</table>
