<table>
	<thead>
		<tr>
			<th>Team</th>
			<th>Score</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Octorara</td>
			<td>44</td>
			<td>Charles Cooper</td>
		</tr>
		<tr>
			<td>Susquehanna Township</td>
			<td>37</td>
			<td>Jordan Millbery</td>
		</tr>
	</tbody>
</table>
