<table>
	<thead>
		<tr>
			<th>PHOTO</th>
			<th>NAME</th>
			<th>NBA TEAM</th>
			<th>COLLEGE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/KarlTownsmvptip100.jpg" alt="KarlTownsmvptip100" width="100" height="120" class="aligncenter size-full wp-image-62244" /></td>
			<td>Karl-Anthony Towns</td>
			<td>Timberwolves</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=44659" rel="attachment wp-att-44659"><img src="https://hoopgroup.com/wp-content/uploads/2013/11/nerlens-noel-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44659" /></a></td>
			<td>Nerlens Noel</td>
			<td>76ers</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=29829" rel="attachment wp-att-29829"><img src="https://hoopgroup.com/wp-content/uploads/2013/04/AndrewWiggins100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-29829" /></a></td>
			<td>Andrew Wiggins</td>
			<td>Timberwolves</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
