<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Grad Year</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Romello Ford</td>
			<td>2016</td>
			<td>Bedford Academy NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Xavier Roqueta</td>
			<td>2015</td>
			<td>Manresa Spain</td>
		</tr>
		<tr>
			<td></td>
			<td>Kaden Baugh</td>
			<td>2015</td>
			<td>Seton Catholic Central NY</td>
		</tr>
		<tr>
			<td></td>
			<td>John Fillingim</td>
			<td>2015</td>
			<td>Thompson AL</td>
		</tr>
		<tr>
			<td></td>
			<td>Zachary Novick</td>
			<td>2016</td>
			<td>Nyack NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Nick Cunningham</td>
			<td>2015</td>
			<td>West Genessee NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Alex Bolivar</td>
			<td>2016</td>
			<td>IMG Academy FL</td>
		</tr>
		<tr>
			<td></td>
			<td>Daryl Bones</td>
			<td>2016</td>
			<td>Idea Charter MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Ryan Graziano</td>
			<td>2016</td>
			<td>Commack NY</td>
		</tr>
		<tr>
			<td></td>
			<td>D'Nathan Knox</td>
			<td>2016</td>
			<td>Half Hollows East NY</td>
		</tr>
		<tr>
			<td></td>
			<td>John Bejar</td>
			<td>2015</td>
			<td>Union City NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Grant Dennis</td>
			<td>2016</td>
			<td>Columbia Prep NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Faatir Alahad</td>
			<td>2015</td>
			<td>Cheltenham PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Zachery Price</td>
			<td>2016</td>
			<td>Poly Tech DE</td>
		</tr>
		<tr>
			<td></td>
			<td>Deronquez Wynn</td>
			<td>2016</td>
			<td>Deeper Life Academy NC</td>
		</tr>
		<tr>
			<td></td>
			<td>Devin Smith</td>
			<td>2016</td>
			<td>Upper Dublin PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Khalil White</td>
			<td>2016</td>
			<td>Cheltenham PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Mark Winston</td>
			<td>2015</td>
			<td>Home Schooled TX</td>
		</tr>
		<tr>
			<td></td>
			<td>Devyn Arel</td>
			<td>2015</td>
			<td>South Windsor CT</td>
		</tr>
		<tr>
			<td></td>
			<td>Imhotep Davis</td>
			<td>2016</td>
			<td>Glen Mills PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Matteo Airaghi</td>
			<td>2015</td>
			<td>Bofantini Italy</td>
		</tr>
		<tr>
			<td></td>
			<td>Bryson Watson</td>
			<td>2015</td>
			<td>Lehigh Valley PA</td>
		</tr>
	</tbody>
</table>
