<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Honor</th>
			<th>NBA Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/03/kevindurant100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-7585" /></td>
			<td>Kevin Durant</td>
			<td>1st Team All NBA</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td></td>
			<td>Joakim Noah</td>
			<td>1st Team All NBA</td>
			<td>Chicago Bulls</td>
		</tr>
		<tr>
			<td></td>
			<td>James Harden</td>
			<td>1st Team All NBA</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/01/Chris-Paul-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-1254" /></td>
			<td>Chris Paul</td>
			<td>1st Team All NBA</td>
			<td>LA Clippers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/01/DwightHoward100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-1373" /></td>
			<td>Dwight Howard</td>
			<td>2nd Team All NBA</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td></td>
			<td>Paul George</td>
			<td>3rd Team All NBA</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td></td>
			<td>LaMarcus Aldridge</td>
			<td>3rd Team All NBA</td>
			<td>Portland Trailblazers</td>
		</tr>
		<tr>
			<td></td>
			<td>Damian Lillard</td>
			<td>3rd Team All NBA</td>
			<td>Portland Trailblazers</td>
		</tr>
	</tbody>
</table>
