<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Sammy Foreman
</td>
			<td>Philly Pride
</td>
		</tr>
		<tr>
			<td>Louis Myers
</td>
			<td>Philly Pride
</td>
		</tr>
		<tr>
			<td>Jack Laffey
</td>
			<td>ShoreShots
</td>
		</tr>
		<tr>
			<td>Dan Largey
</td>
			<td>ShoreShots
</td>
		</tr>
		<tr>
			<td>Shakaris Lanay
</td>
			<td>Kids Plus
</td>
		</tr>
		<tr>
			<td>Marco Morency
</td>
			<td>Westchester Hawks
</td>
		</tr>
		<tr>
			<td>Cody Fitzpatrick
</td>
			<td>PA Renegades
</td>
		</tr>
		<tr>
			<td>Tymere Berry
</td>
			<td>Ocean Elite
</td>
		</tr>
		<tr>
			<td>Jalon Jones
</td>
			<td>Fairfax Stars
</td>
		</tr>
		<tr>
			<td>Javon Yimland
</td>
			<td>Black Mambas
</td>
		</tr>
		<tr>
			<td>Kashawn Hicks
</td>
			<td>Castle Athletics
</td>
		</tr>
		<tr>
			<td>Tyler Johnson</td>
			<td>CT Knights</td>
		</tr>
		<tr>
			<td>Bobby Casey</td>
			<td>JB Hoops</td>
		</tr>
	</tbody>
</table>
