<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/AllonzoTrier100-1.jpg" alt="allonzotrier100" width="100" height="120" class="aligncenter size-full wp-image-80532" /></td>
			<td>Allonzo Trier</td>
			<td>Arizona</td>
		</tr>
		<tr>
			<td>[caption id="attachment_80523" align="aligncenter" width="100"]<img src="https://hoopgroup.com/wp-content/uploads/2016/11/NickEmory100.jpg" alt="April 27, 2012: Under Armour Hoop Group Jam Fest in King of Prussia, Pennsylvania." width="100" height="120" class="size-full wp-image-80523" /> </td>
			<td>Nick Emery</td>
			<td>Brigham Young</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/CharlesCooke100.jpg" alt="charlescooke100" width="100" height="120" class="aligncenter size-full wp-image-80525" /></td>
			<td>Charles Cooke</td>
			<td>Dayton</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/Devontegraham100.jpg" alt="devontegraham100" width="100" height="120" class="aligncenter size-full wp-image-80529" /></td>
			<td>Devonte Graham</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DonovanMitchell100.jpg" alt="donovanmitchell100" width="100" height="120" class="aligncenter size-full wp-image-80527" /></td>
			<td>Donovan Mitchell</td>
			<td>Louisville</td>
		</tr>
	</tbody>
</table>
