<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Joe Hampton</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AlaniMoore100.jpg" alt="" title="AlaniMoore100" width="100" height="120" class="aligncenter size-full wp-image-12938" /></td>
			<td>Alani Moore</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td></td>
			<td>Marcus Blackwell</td>
			<td>CT Elite</td>
		</tr>
		<tr>
			<td></td>
			<td>Justin Campbell</td>
			<td>CT Elite</td>
		</tr>
		<tr>
			<td></td>
			<td>Jerrell Murray</td>
			<td>NJ Pirates</td>
		</tr>
		<tr>
			<td></td>
			<td>DeAndre Gadsden</td>
			<td>Keystone Blazers</td>
		</tr>
		<tr>
			<td></td>
			<td>Akbar Hoffman</td>
			<td>Roadrunners</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/IsmaelSanogo100.jpg" alt="" title="IsmaelSanogo100" width="100" height="120" class="aligncenter size-full wp-image-13339" /></td>
			<td>Ismael Sanogo</td>
			<td>Roadrunners</td>
		</tr>
		<tr>
			<td></td>
			<td>David Hawthorne</td>
			<td>Roadrunners</td>
		</tr>
		<tr>
			<td></td>
			<td>Kevin Bloodgood</td>
			<td>Jersey Shore Devils</td>
		</tr>
		<tr>
			<td></td>
			<td>Pat Andree</td>
			<td>Jersey Shore Warriors</td>
		</tr>
		<tr>
			<td></td>
			<td>Jack Laffy</td>
			<td>Jersey Shore Warriors</td>
		</tr>
		<tr>
			<td></td>
			<td>Josh Schechter</td>
			<td>Farmingdale Fury</td>
		</tr>
	</tbody>
</table>
