<table>
	<thead>
		<tr>
			<th>High School Team</th>
			<th>Wins</th>
			<th>Losses</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>St. Anthony</td>
			<td>16</td>
			<td>0</td>
		</tr>
		<tr>
			<td>St. Benedict HS</td>
			<td>11</td>
			<td>0</td>
		</tr>
		<tr>
			<td>American Christian PA</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Paterson Eastside</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Winchendon MA</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Depaul</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>East Lyme CT</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Monmouth</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>North Brunswick</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Raritan</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Rice NY</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>St. Mary's Elizabeth</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>South Kent CT</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Union</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Union Catholic</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Roselle Catholic</td>
			<td>5</td>
			<td>1</td>
		</tr>
		<tr>
			<td>St. Patrick's/Patrick School</td>
			<td>11</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Don Bosco</td>
			<td>11</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Seton Hall Prep</td>
			<td>10</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Scotch Plains</td>
			<td>3</td>
			<td>1</td>
		</tr>
		<tr>
			<td>St. Raymond's NY</td>
			<td>4</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Linden</td>
			<td>10</td>
			<td>6</td>
		</tr>
		<tr>
			<td>Bloomfield Tech</td>
			<td>5</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Gill St. Bernards</td>
			<td>3</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Blair</td>
			<td>3</td>
			<td>2</td>
		</tr>
		<tr>
			<td>CBA</td>
			<td>7</td>
			<td>7</td>
		</tr>
		<tr>
			<td>Immaculate Conception</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Cranford</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Delbarton</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Rutgers Prep</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Science</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>South Plainfield</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>St. John Neuman Goretti PA</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Neptune</td>
			<td>5</td>
			<td>7</td>
		</tr>
		<tr>
			<td>Paterson Kennedy</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Plainfield</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Hun</td>
			<td>4</td>
			<td>7</td>
		</tr>
		<tr>
			<td>St. Joseph's Metuchen</td>
			<td>3</td>
			<td>5</td>
		</tr>
		<tr>
			<td>St. Joseph's Montvale</td>
			<td>2</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Newark East Side</td>
			<td>3</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Mendham</td>
			<td>1</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Hudson Catholic</td>
			<td>2</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Paterson Catholic</td>
			<td>3</td>
			<td>7</td>
		</tr>
		<tr>
			<td>Bergen Catholic</td>
			<td>1</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Columbia</td>
			<td>3</td>
			<td>9</td>
		</tr>
		<tr>
			<td>West Orange</td>
			<td>1</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Teaneck</td>
			<td>1</td>
			<td>6</td>
		</tr>
		<tr>
			<td>Bishop Eustace</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Camden Catholic</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Chatham</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Colonia</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>East Brunswick</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>East Orange</td>
			<td>0</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Irvington</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Montclair</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Morristown</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Peddie</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Rahway</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>West Milford</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Atlantic City</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Dwight Morrow</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Ramapo</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Shore</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Wilbraham &amp; Monson MA</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Pope John</td>
			<td>0</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Newark Tech</td>
			<td>0</td>
			<td>2</td>
		</tr>
		<tr>
			<td>St. Peter's Prep</td>
			<td>0</td>
			<td>2</td>
		</tr>
		<tr>
			<td>St. Benedict's Prep</td>
			<td>0</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Bridgewater</td>
			<td>0</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Trenton Catholic</td>
			<td>0</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Hackensack</td>
			<td>0</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Bloomfield</td>
			<td>0</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Essex Catholic</td>
			<td>0</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Paramus Catholic</td>
			<td>0</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Elizabeth</td>
			<td>0</td>
			<td>4</td>
		</tr>
	</tbody>
</table>
