<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/01/Kasey-Chambers-100.jpg" alt="" title="Kasey Chambers 100" width="100" height="120" class="aligncenter size-full wp-image-14709" /></td>
			<td>Kasey Chambers</td>
			<td>St. Rose</td>
		</tr>
		<tr>
			<td></td>
			<td>Anette Snow</td>
			<td>Blair</td>
		</tr>
		<tr>
			<td></td>
			<td>Samantha Clark</td>
			<td>St. Rose</td>
		</tr>
		<tr>
			<td></td>
			<td>Michaela Mabrey</td>
			<td>Manasquan</td>
		</tr>
		<tr>
			<td></td>
			<td>Tiffany Montagne</td>
			<td>Jackson Memorial</td>
		</tr>
		<tr>
			<td></td>
			<td>Kelly Hughes</td>
			<td>Point Boro</td>
		</tr>
		<tr>
			<td></td>
			<td>Stephanie Mason</td>
			<td>Jackson Memorial</td>
		</tr>
		<tr>
			<td></td>
			<td>Caroline Corcoran</td>
			<td>Red Bank Catholic</td>
		</tr>
		<tr>
			<td></td>
			<td>Sierra Calhoun</td>
			<td>Christ the King NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Lyonna Crenshaw</td>
			<td>Neptune</td>
		</tr>
		<tr>
			<td></td>
			<td>Katie Beriont</td>
			<td>St. John Vianney</td>
		</tr>
		<tr>
			<td></td>
			<td>Marina Mabrey</td>
			<td>Manasquan</td>
		</tr>
		<tr>
			<td></td>
			<td>Kat Egan</td>
			<td>St. John Vianney</td>
		</tr>
		<tr>
			<td></td>
			<td>Samantha Sabino</td>
			<td>Rumson</td>
		</tr>
		<tr>
			<td></td>
			<td>Katelyn Flaherty</td>
			<td>Manasquan</td>
		</tr>
	</tbody>
</table>
