<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Graduation Year</th>
			<th>City, State</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Gavin Thompson</td>
			<td>2019</td>
			<td>The Kings Academy, Seymour, TN</td>
		</tr>
		<tr>
			<td></td>
			<td>Amir Spears</td>
			<td>2019</td>
			<td>Commonwealth Academy, Springfield, MA</td>
		</tr>
		<tr>
			<td></td>
			<td>Anthony Harris</td>
			<td>2019</td>
			<td>Christ Chapel Academy, Woodbridge, VA</td>
		</tr>
		<tr>
			<td></td>
			<td>Jalen Willis</td>
			<td>2019</td>
			<td>Baltimore, MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Ahmadu Sarnor</td>
			<td>2019</td>
			<td>Coatesville, Exton, PA</td>
		</tr>
		<tr>
			<td></td>
			<td>CJ Wilcher</td>
			<td>2020</td>
			<td>Holy Savior Academy, South Plainfield, NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Dejourn Cook</td>
			<td>2019</td>
			<td>Ridgefield Park, NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Bryce Street</td>
			<td>2019</td>
			<td>Holy Savior, South Plainfield, NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Dwight Davis</td>
			<td>2019</td>
			<td>Commonwealth</td>
		</tr>
		<tr>
			<td></td>
			<td>Jordan Persad</td>
			<td>2020</td>
			<td>St. Bede, Toronto, Can</td>
		</tr>
		<tr>
			<td></td>
			<td>Rajon Figures</td>
			<td>2019</td>
			<td>Hackensack, NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Alexx Harbour</td>
			<td>2019</td>
			<td>Canada</td>
		</tr>
		<tr>
			<td></td>
			<td>Brandon Kelly</td>
			<td>2019</td>
			<td>Linden, NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Josh Watts</td>
			<td>2019</td>
			<td>Landon, Bethesda, MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Evan Buckley</td>
			<td>2019</td>
			<td>Stone Bridge, Ashburn, VA</td>
		</tr>
		<tr>
			<td></td>
			<td>Fah'mir Ali</td>
			<td>2019</td>
			<td>Thomas A. Edison, Wilmington, DE</td>
		</tr>
		<tr>
			<td></td>
			<td>Noah Farrakahn</td>
			<td>2020</td>
			<td>Newark, NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Jalen Gaffney</td>
			<td>2019</td>
			<td>Columbus, NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Gavin Burke</td>
			<td>2019</td>
			<td>Devon Prep, Devon, PA </td>
		</tr>
		<tr>
			<td></td>
			<td>Anwar Gill</td>
			<td>2019</td>
			<td>St Anthony, Washington, DC</td>
		</tr>
	</tbody>
</table>
