<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65450" rel="attachment wp-att-65450"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/RodneyPurvis100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65450" /></a></td>
			<td>Rodney Purvis</td>
			<td>UConn</td>
		</tr>
		<tr>
			<td></td>
			<td>Troy Williams</td>
			<td>Indiana</td>
		</tr>
		<tr>
			<td></td>
			<td>Wayne Selden</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td></td>
			<td>Damion Lee</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td>[caption id="attachment_65451" align="aligncenter" width="100"]<a href="http://hoopgroup.com/?attachment_id=65451" rel="attachment wp-att-65451"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/DeAndreBembry100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65451" /></a> </td>
			<td>DeAndre Bembry</td>
			<td>St. Joseph's</td>
		</tr>
		<tr>
			<td></td>
			<td>Nigel Hayes</td>
			<td>Wisconsin</td>
		</tr>
	</tbody>
</table>
