<table>
	<thead>
		<tr>
			<th></th>
			<th>Home</th>
			<th></th>
			<th>Visitor</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>6:30pm</td>
			<td>Berks Catholic</td>
			<td>vs.</td>
			<td>Pennsbury</td>
		</tr>
		<tr>
			<td>8:00pm</td>
			<td>Reading</td>
			<td>vs.</td>
			<td>Imhotep Charter</td>
		</tr>
	</tbody>
</table>
