<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JalenAdams100.jpg" alt="jalenadams100" width="100" height="120" class="aligncenter size-full wp-image-80272" /></td>
			<td>Jalen Adams</td>
			<td>UConn</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/MauriceWatson100-3.jpg" alt="mauricewatson100" width="100" height="120" class="aligncenter size-full wp-image-80243" /></td>
			<td>Maurice Watson</td>
			<td>Creighton</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JackGibbs100.jpg" alt="jackgibbs100" width="100" height="120" class="aligncenter size-full wp-image-80269" /></td>
			<td>Jack Gibbs</td>
			<td>Davidson</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/FrankMason100.jpg" alt="frankmason100" width="100" height="120" class="aligncenter size-full wp-image-80265" /></td>
			<td>Frank Mason</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65416" rel="attachment wp-att-65416"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/RomelloTrimble100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65416" /></a> </td>
			<td>Melo Trimble</td>
			<td>Maryland</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DennisSmith2100-3.jpg" alt="dennissmith2100" width="100" height="120" class="aligncenter size-full wp-image-80254" /></td>
			<td>Dennis Smith</td>
			<td>NC State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JalenBrunson100.jpg" alt="jalenbrunson100" width="100" height="120" class="aligncenter size-full wp-image-80267" /></td>
			<td>Jalen Brunson</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/markellfultz100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82917" /></td>
			<td>Markelle Fultz</td>
			<td>Washington</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
