<table>
	<thead>
		<tr>
			<th></th>
			<th>Home Team</th>
			<th></th>
			<th>Away Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12:00pm</td>
			<td>Marlboro</td>
			<td>vs.</td>
			<td>Rumson</td>
		</tr>
		<tr>
			<td>1:40pm</td>
			<td>CBA</td>
			<td>vs.</td>
			<td>Toms River North</td>
		</tr>
		<tr>
			<td>3:20pm</td>
			<td>Mater Dei</td>
			<td>vs.</td>
			<td>Patrick School</td>
		</tr>
		<tr>
			<td>5:00pm</td>
			<td>Ranney
</td>
			<td>vs.</td>
			<td>St. Anthony</td>
		</tr>
		<tr>
			<td>6:40pm</td>
			<td>Manasquan</td>
			<td>vs.</td>
			<td>Point Beach</td>
		</tr>
	</tbody>
</table>
