<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP Brian Stevko</td>
			<td>Northampton  50


</td>
			<td>Allentown Central Catholic  47

</td>
			<td>MVP Shane McNeely</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/01/RyanAyers100.jpg" alt="" title="RyanAyers100" width="100" height="120" class="aligncenter size-full wp-image-15065" />
MVP Cameron Ayers</td>
			<td>Germantown Academy  75

</td>
			<td>St. Raymond's NY  62


</td>
			<td>MVP: Nkereuwem Okoro</td>
		</tr>
		<tr>
			<td>MVP Aaron Brown</td>
			<td>St. Benedict's NJ  52


</td>
			<td>Plymouth Whitemarsh  50


</td>
			<td>MVP CJ Aiken</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/01/PaulPammer100.jpg" alt="" title="PaulPammer100" width="100" height="120" class="aligncenter size-full wp-image-15068" />
MVP Paul Pammer</td>
			<td>Parkland  61


</td>
			<td>Chester  59


</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/01/ErikkWright100.jpg" alt="" title="ErikkWright100" width="100" height="120" class="aligncenter size-full wp-image-15069" />
MVP Erikk Wright</td>
		</tr>
	</tbody>
</table>
