<table>
	<thead>
		<tr>
			<th>PHOTO</th>
			<th>NAME</th>
			<th>NBA TEAM</th>
			<th>COLLEGE</th>
			<th>HIGH SCHOOL</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=62244" rel="attachment wp-att-62244"><img src="https://hoopgroup.com/wp-content/uploads/2015/06/KarlTownsmvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-62244" /></a></td>
			<td>Karl Towns</td>
			<td>Timberwolves</td>
			<td>Kentucky</td>
			<td>St. Joseph's Metuchen</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DeangleoRussell100.jpg" alt="DeangleoRussell100" width="100" height="120" class="aligncenter size-full wp-image-71115" /></td>
			<td>D'Angelo Russell</td>
			<td>Lakers</td>
			<td>Ohio State</td>
			<td>Montverde FL</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/TerryRozier100.jpg" alt="TerryRozier100" width="100" height="120" class="aligncenter size-full wp-image-71117" /></td>
			<td>Terry Rozier</td>
			<td>Celtics</td>
			<td>Louisville</td>
			<td>Shaker Heights OH</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JERIANGRANT100.jpg" alt="JERIANGRANT100" width="100" height="120" class="aligncenter size-full wp-image-71121" /></td>
			<td>Jerian Grant</td>
			<td>Wizards</td>
			<td>Notre Dame</td>
			<td>DeMatha MD</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DelonWright100.jpg" alt="DelonWright100" width="100" height="120" class="aligncenter size-full wp-image-71134" /></td>
			<td>Delon Wright</td>
			<td>Raptors</td>
			<td>Utah</td>
			<td>Levzinger CA</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=62254" rel="attachment wp-att-62254"><img src="https://hoopgroup.com/wp-content/uploads/2015/06/Justin-Anderson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-62254" /></a></td>
			<td>Justin Anderson</td>
			<td>Mavericks</td>
			<td>Virginia</td>
			<td>Montrose Christian MD</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=62245" rel="attachment wp-att-62245"><img src="https://hoopgroup.com/wp-content/uploads/2015/06/RondaeJefferson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-62245" /></a></td>
			<td>Rondae Hollis-Jefferson</td>
			<td>Nets</td>
			<td>Arizona</td>
			<td>Chester PA</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/LarryNance100.jpg" alt="LarryNance100" width="100" height="120" class="aligncenter size-full wp-image-71125" /></td>
			<td>Larry Nance</td>
			<td>Lakers</td>
			<td>Wyoming</td>
			<td>Revere OH</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=62246" rel="attachment wp-att-62246"><img src="https://hoopgroup.com/wp-content/uploads/2015/06/Chris-McCullough-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-62246" /></a></td>
			<td>Chris McCullough</td>
			<td>Nets</td>
			<td>Syracuse</td>
			<td>Brewster Academy MA</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/MontrezlHarrell100.jpeg" alt="MontrezlHarrell100" width="100" height="120" class="aligncenter size-full wp-image-71127" /></td>
			<td>Montrezl Harrell</td>
			<td>Rockets</td>
			<td>Louisville</td>
			<td>Hargrave Military Academy VA</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=62247" rel="attachment wp-att-62247"><img src="https://hoopgroup.com/wp-content/uploads/2015/06/RakeemChristmas100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-62247" /></a></td>
			<td>Rakeem Christmas</td>
			<td>Timberwolves</td>
			<td>Syracuse</td>
			<td>Academy of the New Church PA</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=62256" rel="attachment wp-att-62256"><img src="https://hoopgroup.com/wp-content/uploads/2015/06/DarrunHilliard100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-62256" /></a></td>
			<td>Darrun Hilliard</td>
			<td>Pistons</td>
			<td>Villanova</td>
			<td>Liberty PA</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/olivierhanlan100-1.jpg" alt="olivierhanlan100" width="100" height="120" class="aligncenter size-full wp-image-71130" /></td>
			<td>Olivier Hanlan</td>
			<td>Jazz</td>
			<td>Boston College</td>
			<td>New Hampton NH</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=62248" rel="attachment wp-att-62248"><img src="https://hoopgroup.com/wp-content/uploads/2015/06/AndrewHarrison100.jpg" alt="" width="100" height="120" class="size-full wp-image-62248" /></a></td>
			<td>Andrew Harrison</td>
			<td>Grizzlies</td>
			<td>Kentucky</td>
			<td>Travis TX</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/MARCUSTHORNTON100.jpg" alt="MARCUSTHORNTON100" width="100" height="120" class="aligncenter size-full wp-image-71132" /></td>
			<td>Marcus Thornton</td>
			<td>Celtics</td>
			<td>William &amp; Mary</td>
			<td>Bishop McNamara MD</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=62249" rel="attachment wp-att-62249"><img src="https://hoopgroup.com/wp-content/uploads/2015/06/DakariJohnson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-62249" /></a></td>
			<td>Dakari Johnson</td>
			<td>Thunder</td>
			<td>Kentucky</td>
			<td>Montverde FL</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=62253" rel="attachment wp-att-62253"><img src="https://hoopgroup.com/wp-content/uploads/2015/06/SatnamSingh100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-62253" /></a></td>
			<td>Satnam Singh</td>
			<td>Mavericks</td>
			<td></td>
			<td>IMG Academy</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=62255" rel="attachment wp-att-62255"><img src="https://hoopgroup.com/wp-content/uploads/2015/06/BrandenDawson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-62255" /></a></td>
			<td>Brandon Dawson</td>
			<td>Pelicans</td>
			<td>Michigan State</td>
			<td>Lew Wallace IN</td>
		</tr>
	</tbody>
</table>
