<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/01/MattFarrell1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-28317" />
Matt Farrel</td>
			<td>Point Beach  48</td>
			<td>Manasquan  42</td>
			<td>Jimmie Walsh</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/01/joshbrownboardwalk100.jpg" alt="" title="joshbrownboardwalk100" width="100" height="120" class="aligncenter size-full wp-image-28064" />Josh Brown</td>
			<td>St. Anthony's  54</td>
			<td>CBA  25</td>
			<td>Pat Andree</td>
		</tr>
		<tr>
			<td>Karl Towns/Wade Baldwin</td>
			<td>St. Joseph's Metuchen  82</td>
			<td>Neptune  41</td>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/01/ShakeemRichardson.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-28385" />Shakeem Richardson</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/01/BrandonFederici100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-28318" />
Brandon Federici</td>
			<td>Colts Neck  47</td>
			<td>Long Branch  43</td>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/01/hassanfoster100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-28386" />Hassan Foster</td>
		</tr>
	</tbody>
</table>
