<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Team</th>
			<th></th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12:00</td>
			<td>Abington Heights</td>
			<td>vs.</td>
			<td>Bethlehem Central Catholic</td>
		</tr>
		<tr>
			<td>1:40</td>
			<td>Roman Catholic</td>
			<td>vs.</td>
			<td>The Patrick School NJ</td>
		</tr>
		<tr>
			<td>3:20</td>
			<td>Parkland</td>
			<td>vs.</td>
			<td>Gill St. Bernards NJ</td>
		</tr>
		<tr>
			<td>5:00</td>
			<td>Westtown</td>
			<td>vs.</td>
			<td>Wilbraham &amp; Monson MA</td>
		</tr>
	</tbody>
</table>
