<table>
	<thead>
		<tr>
			<th>Photo/Event</th>
			<th>Name</th>
			<th>Team</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><b>DEGREE SHOOTING STARS</b></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/chrisbosh2100.jpg" alt="chrisbosh2100" width="100" height="120" class="aligncenter size-full wp-image-70769" /></td>
			<td>Chris Bosh</td>
			<td>Heat</td>
			<td>Georgia Tech</td>
		</tr>
		<tr>
			<td><b>TACO BELL SKILLS CHALLENGE</b></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/02/MichaelCarterWilliams100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46613" /></td>
			<td>Michael Carter-Williams</td>
			<td>76ers</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/04/TreyBurke100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-29818" /></td>
			<td>Trey Burke</td>
			<td>Jazz</td>
			<td>Michigan</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=2970" rel="attachment wp-att-2970"><img src="https://hoopgroup.com/wp-content/uploads/2011/02/Brandon-Knight-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-2970" /></a></td>
			<td>Brandon Knight</td>
			<td>Bucks</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=1376" rel="attachment wp-att-1376"><img src="https://hoopgroup.com/wp-content/uploads/2011/01/Kyle-Lowery-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-1376" /></a></td>
			<td>Kyle Lowry</td>
			<td>Raptors</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=1367" rel="attachment wp-att-1367"><img src="https://hoopgroup.com/wp-content/uploads/2011/01/JohnWall100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-1367" /></a></td>
			<td>John Wall</td>
			<td>Wizards</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><b>FOOT LOCKER 3 POINT CONTEST</b></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JamesHarden100.jpg" alt="JamesHarden100" width="100" height="120" class="aligncenter size-full wp-image-70774" /></td>
			<td>James Harden</td>
			<td>Rockets</td>
			<td>Arizona State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/Kyrie-Irving-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-2943" /></td>
			<td>Kyrie Irving</td>
			<td>Cavaliers</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JJReddick100.jpg" alt="JJReddick100" width="100" height="120" class="aligncenter size-full wp-image-70834" /></td>
			<td>JJ Redick</td>
			<td>Clippers</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td><b>SPRITE SLAM DUNK</b></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=7187" rel="attachment wp-att-7187"><img src="https://hoopgroup.com/wp-content/uploads/2011/02/Mason-Plumlee-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-7187" /></a></td>
			<td>Mason Plumlee</td>
			<td>Nets</td>
			<td>Duke</td>
		</tr>
	</tbody>
</table>
