<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>College</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Shaquan Turk</td>
			<td>Eastern</td>
			<td>Philadelphia PA</td>
		</tr>
		<tr>
			<td>Aldin Medunjanin</td>
			<td>Skidmore</td>
			<td>New York NY</td>
		</tr>
		<tr>
			<td>Derek Hart</td>
			<td>Clarkson</td>
			<td>Poughkeepsie NY</td>
		</tr>
		<tr>
			<td>Zach Burnett</td>
			<td>Lynchburg</td>
			<td>Fairfax VA</td>
		</tr>
		<tr>
			<td>Khory Moore</td>
			<td>Virginia Wesleyan</td>
			<td>Arlington VA</td>
		</tr>
		<tr>
			<td>Steven Weidlich</td>
			<td>Susquehanna</td>
			<td>Watchung NJ</td>
		</tr>
		<tr>
			<td>Jett Speelman</td>
			<td>Denison</td>
			<td>Granville OH</td>
		</tr>
		<tr>
			<td>Tim Daly</td>
			<td>Christoper Newport</td>
			<td>Richmond VA</td>
		</tr>
	</tbody>
</table>
