<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Grad Year</th>
			<th>High School</th>
			<th>College Recruitment</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Erick Santana</td>
			<td>2015</td>
			<td>Hudson Catholic NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Sean Hoggs</td>
			<td>2016</td>
			<td>Notre Dame NJ</td>
			<td></td>
		</tr>
		<tr>
			<td>Jason Bady</td>
			<td>2015</td>
			<td>Henderson PA</td>
			<td></td>
		</tr>
		<tr>
			<td>Marcus Anderson</td>
			<td>2015</td>
			<td>Norfolk Collegiate VA</td>
			<td></td>
		</tr>
		<tr>
			<td>Emmanuel Chukwu</td>
			<td>2016</td>
			<td>Monsignor Scanlan NY</td>
			<td></td>
		</tr>
		<tr>
			<td>Mark Madison</td>
			<td>2015</td>
			<td>Norfolk Collegiate VA</td>
			<td></td>
		</tr>
		<tr>
			<td>Kobe Gantz</td>
			<td>2016</td>
			<td>JP McCaskey PA</td>
			<td></td>
		</tr>
		<tr>
			<td>Lonnie Walker</td>
			<td>2018</td>
			<td>Reading PA</td>
			<td>Offered by Holy Cross</td>
		</tr>
		<tr>
			<td>Peter Kiss</td>
			<td>2016</td>
			<td>Victory Rock Prep FL</td>
			<td>Offered by Fairfield, Fordham, Stony Brook and Liberty</td>
		</tr>
		<tr>
			<td>Johannes Dolven</td>
			<td>2015</td>
			<td>Wand Academy Norway</td>
			<td>Committed to Drake</td>
		</tr>
		<tr>
			<td>Boz Bernstein</td>
			<td>2015</td>
			<td>Marinapolis CT</td>
			<td></td>
		</tr>
		<tr>
			<td>Jordan Riullano</td>
			<td>2015</td>
			<td>Victory Rock Prep FL</td>
			<td></td>
		</tr>
		<tr>
			<td>Lael Davis</td>
			<td>2015</td>
			<td>Miller School VA</td>
			<td></td>
		</tr>
		<tr>
			<td>Michael Jurzynski</td>
			<td>2015</td>
			<td>Masters NY</td>
			<td></td>
		</tr>
		<tr>
			<td>Jack Rauch</td>
			<td>2015</td>
			<td>Bishop Ludden NY</td>
			<td></td>
		</tr>
		<tr>
			<td>Mikkel Kolstad</td>
			<td>2015</td>
			<td>Norway</td>
			<td></td>
		</tr>
		<tr>
			<td>Isaiah Lewis</td>
			<td>2015</td>
			<td>Churchville Chili</td>
			<td></td>
		</tr>
		<tr>
			<td>David Beatty</td>
			<td>2018</td>
			<td>Archbishop Carroll PA</td>
			<td></td>
		</tr>
		<tr>
			<td>Dwight Whitlock</td>
			<td>2016</td>
			<td>Kiski PA</td>
			<td></td>
		</tr>
		<tr>
			<td>Jonathan Nwankwo</td>
			<td>2015</td>
			<td>Victory Rock Prep FL</td>
			<td>Committed to Minnesota</td>
		</tr>
		<tr>
			<td>Zane Lewis</td>
			<td>2016</td>
			<td>Trinity Episcopal VA</td>
			<td></td>
		</tr>
	</tbody>
</table>
