<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Team</th>
			<th></th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>11:30</td>
			<td>Gill St. Bernards</td>
			<td>vs.</td>
			<td>Hun</td>
		</tr>
		<tr>
			<td>1:10</td>
			<td>West Orange </td>
			<td>vs. </td>
			<td>CBA</td>
		</tr>
		<tr>
			<td>2:50</td>
			<td>Newark Tech </td>
			<td>vs.</td>
			<td>Linden</td>
		</tr>
		<tr>
			<td>4:30</td>
			<td>Roselle Catholic</td>
			<td>vs.</td>
			<td>Teaneck</td>
		</tr>
		<tr>
			<td>6:10</td>
			<td>St. Anthony</td>
			<td>vs.</td>
			<td>Pope John</td>
		</tr>
		<tr>
			<td>7:50</td>
			<td>St. Joseph's Metuchen</td>
			<td>vs.</td>
			<td>Shore</td>
		</tr>
	</tbody>
</table>
