<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winner</th>
			<th>Loser</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/davidbeatty100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/DavidBeatty100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67402" /></a>David Beatty</td>
			<td>St. Benedict's  59</td>
			<td>Rutgers Prep  39</td>
			<td><a href="http://hoopgroup.com/jaysonoweh100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/JaysonOweh100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67403" /></a>Jayson Oweh</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/tavonjones100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/tavonJones100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67404" /></a>Tavon Jones</td>
			<td>Linden  55</td>
			<td>Hun  50</td>
			<td><a href="http://hoopgroup.com/josemorales100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/JoseMorales100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67405" /></a>Jose Morales</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/andrerafus100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/AndreRafus100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67406" /></a>Andre Rafus</td>
			<td>Roselle Catholic  79</td>
			<td>Newark East Side  56</td>
			<td><a href="http://hoopgroup.com/jahidjenkins100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/JahidJenkins100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67407" /></a>Jahid Jenkins</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/tyusbattlemvptip15100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/TyusBattlemvptip15100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67409" /></a>Tyus Battle</td>
			<td>St. Joseph's Metuchen  55</td>
			<td>Ramapo  49</td>
			<td><a href="http://hoopgroup.com/joeohagan100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/JoeOhagan100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67408" /></a>Joe O'Hagan</td>
		</tr>
	</tbody>
</table>
