<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/DarnellArtis100.jpg" alt="" title="DarnellArtis100" width="100" height="120" class="aligncenter size-full wp-image-12877" /></td>
			<td>Darnell Artis</td>
			<td>LaSalle College HS PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JordanMellinger100.jpg" alt="" title="JordanMellinger100" width="100" height="120" class="aligncenter size-full wp-image-12878" /></td>
			<td>Jordan Mellinger</td>
			<td>Manheim PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AndreaCasati100.jpg" alt="" title="AndreaCasati100" width="100" height="120" class="aligncenter size-full wp-image-12879" /></td>
			<td>Andrea Casati</td>
			<td>Italy</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/BenWelty100.jpg" alt="" title="BenWelty100" width="100" height="120" class="aligncenter size-full wp-image-12880" /></td>
			<td>Ben Welty</td>
			<td>Home Schooled VA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/HansenFrench100.jpg" alt="" title="HansenFrench100" width="100" height="120" class="aligncenter size-full wp-image-12881" /></td>
			<td>Hansen French</td>
			<td>Trinity NC</td>
		</tr>
		<tr>
			<td></td>
			<td>Raymond Taylor</td>
			<td>Wichita Collegiate KS</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JordanVargas100.jpg" alt="" title="JordanVargas100" width="100" height="120" class="aligncenter size-full wp-image-12882" /></td>
			<td>Jordan Vargas</td>
			<td>Atlantic Christian NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/GarrettLinck100.jpg" alt="" title="GarrettLinck100" width="100" height="120" class="aligncenter size-full wp-image-12883" /></td>
			<td>Garrett Linck</td>
			<td>Monte Vista CA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/WilliamDarley100.jpg" alt="" title="WilliamDarley100" width="100" height="120" class="aligncenter size-full wp-image-12677" /></td>
			<td>William Darley</td>
			<td>Dulaney MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JonasPage100.jpg" alt="" title="JonasPage100" width="100" height="120" class="aligncenter size-full wp-image-12884" /></td>
			<td>Jonas Page</td>
			<td>Carlisle PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/CollinJohnson100.jpg" alt="" title="CollinJohnson100" width="100" height="120" class="aligncenter size-full wp-image-12885" /></td>
			<td>Collin Johnson</td>
			<td>Roseville MN</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MarkGranville100.jpg" alt="" title="MarkGranville100" width="100" height="120" class="aligncenter size-full wp-image-12910" /></td>
			<td>Mark Granville</td>
			<td>Solebury PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Winston Duncan</td>
			<td>TC Williams VA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/VaughanRowsey100.jpg" alt="" title="VaughanRowsey100" width="100" height="120" class="aligncenter size-full wp-image-12911" /></td>
			<td>Vaughan Rowsey</td>
			<td>Christiana DE</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/KofiAndoh100.jpg" alt="" title="KofiAndoh100" width="100" height="120" class="aligncenter size-full wp-image-12912" /></td>
			<td>Kofi Andoh</td>
			<td>Flowers MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Daniel Toney</td>
			<td>Pencader Charter DE</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/GerardCarty100.jpg" alt="" title="GerardCarty100" width="100" height="120" class="aligncenter size-full wp-image-12932" /></td>
			<td>Gerard Carty</td>
			<td>Mt. St. Michael NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AaronMcGugan100.jpg" alt="" title="AaronMcGugan100" width="100" height="120" class="aligncenter size-full wp-image-12886" /></td>
			<td>Aaron McGugan</td>
			<td>Barnegat NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MattGerak100.jpg" alt="" title="MattGerak100" width="100" height="120" class="aligncenter size-full wp-image-12851" /></td>
			<td>Matt Gerak</td>
			<td>Masuk CT</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/CarlosCruz100.jpg" alt="" title="CarlosCruz100" width="100" height="120" class="aligncenter size-full wp-image-12887" /></td>
			<td>Carlos Cruz</td>
			<td>Northern Burlington NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Anthony Lanieri</td>
			<td>Port Jefferson NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/KevinBoyer100.jpg" alt="" title="KevinBoyer100" width="100" height="120" class="aligncenter size-full wp-image-12913" /></td>
			<td>Kevin Boyer</td>
			<td>St. Edward OH</td>
		</tr>
	</tbody>
</table>
