<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Plainfield  37</td>
			<td>West Orange  24</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Hudson Catholic  64</td>
			<td>St. Peter's  46</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Roselle Catholic  71</td>
			<td>Pope John  58</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Anthony  64</td>
			<td>Neptune  28</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Joseph's Metuchen  67</td>
			<td>Teaneck  66</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Benedict's  57</td>
			<td>Wilbraham &amp; Munson MA  39</td>
			<td></td>
		</tr>
	</tbody>
</table>
