<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/EvanBradds100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80311" /></td>
			<td>Evan Bradds</td>
			<td>Belmont</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/TroyCaupain100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-83134" /></td>
			<td>Troy Caupain</td>
			<td>Cincinnati</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JoshHart100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80313" /></td>
			<td>Josh Hart</td>
			<td>Villanova</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/NigelHayes100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80418" /></td>
			<td>Nigel Hayes</td>
			<td>Wisconsin</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/08/amilejefferson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-12405" /></td>
			<td>Amile Jefferson</td>
			<td>Duke</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/FrankMason100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80265" /></td>
			<td>Frank Mason</td>
			<td>Kansas</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Omar Prewitt</td>
			<td>William &amp; Mary</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/11/DavonReed100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-55859" /></td>
			<td>Davon Reed</td>
			<td>Miami</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/MauriceWatson100-3.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80243" /></td>
			<td>Maurice Watson</td>
			<td>Creighton</td>
			<td></td>
		</tr>
	</tbody>
</table>
