<table>
	<thead>
		<tr>
			<th></th>
			<th>Home</th>
			<th></th>
			<th>Visitor</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>2:15</td>
			<td>Hackensack</td>
			<td>vs.</td>
			<td>St. Mary's Elizabeth</td>
		</tr>
		<tr>
			<td>3:45</td>
			<td>St. Anthony</td>
			<td>vs.</td>
			<td>St. Joseph's Montvale</td>
		</tr>
		<tr>
			<td>5:15</td>
			<td>Linden</td>
			<td>vs.</td>
			<td>Blair</td>
		</tr>
		<tr>
			<td>6:45</td>
			<td>St. Benedict's</td>
			<td>vs.</td>
			<td>Bergen Catholic</td>
		</tr>
		<tr>
			<td>8:15</td>
			<td>Union Catholic</td>
			<td>vs.</td>
			<td>Hun</td>
		</tr>
	</tbody>
</table>
