<table>
	<thead>
		<tr>
			<th>High School Team</th>
			<th>Wins</th>
			<th>Losses</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>St. Benedict's NJ</td>
			<td>9</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Abington Heights</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Hempfield</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<td>St. Anthony NJ</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Coatesville</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Halifax</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Hudson Catholic</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Linden</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Lower Merion</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Marist NJ</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Norristown </td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Northampton</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Paul VI VA</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Pocono Mountain West</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Prep Charter</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>South Shore</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Trinity</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>White Plains NY</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Wilbraham &amp; Monson MA</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Wissahickon</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>York</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Christ the King NY</td>
			<td>5</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Emmaus</td>
			<td>4</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Patrick School/St. Patrick NJ</td>
			<td>8</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Germantown Academy</td>
			<td>2</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Hatboro Horsham</td>
			<td>2</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Paterson Catholic</td>
			<td>2</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Westtown</td>
			<td>2</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Roman Catholic</td>
			<td>3</td>
			<td>2</td>
		</tr>
		<tr>
			<td>William Allen</td>
			<td>3</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Harrisburg</td>
			<td>3</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Liberty</td>
			<td>2</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Plymouth Whitemarsh</td>
			<td>2</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Chambersburg</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Council Rock North</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Freedom</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>St. Raymond's NY</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Scranton</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Stroudsburg</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Williamsport</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Central Catholic</td>
			<td>3</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Bishop Hannan</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Parkland</td>
			<td>6</td>
			<td>12</td>
		</tr>
		<tr>
			<td>Gill St. Bernards NJ</td>
			<td>1</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Neuman Goretti</td>
			<td>1</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Blair NJ</td>
			<td>2</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Bishop McNamara MD</td>
			<td>1</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Chester</td>
			<td>1</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Whitehall</td>
			<td>1</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Albany Academy</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>American Christian</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Archbishop Wood</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Bishop O'Connell VA</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Constituton</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Easton</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Lancaster McCaskey</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Lebanon</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Life Center NJ</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Loyalsock</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>McDowell</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Mercersburg</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Newport</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>North County MD</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Northern Lehigh</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Penn Wood</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Saucon Valley</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>St. Luke's CT</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Solebury</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Susquehanna Township</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Pocono Mountain East</td>
			<td>0</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Sayreville NJ</td>
			<td>0</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Bethlehem Catholic</td>
			<td>0</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Hazleton</td>
			<td>0</td>
			<td>3</td>
		</tr>
	</tbody>
</table>
