<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>St. John Vianney  71</td>
			<td>Neptune  49</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Benedict's  76</td>
			<td>Walbrook MD  47</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>CBA  53</td>
			<td>St. Patrick  52</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Monsignor Donovan  64</td>
			<td>Manasquan  59</td>
			<td></td>
		</tr>
	</tbody>
</table>
