<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Team</th>
			<th>Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/hunterdoncentralsmall.jpg" alt="" width="180" height="150" class="aligncenter size-full wp-image-92740" /></td>
			<td>Hunterdon Central NJ</td>
			<td>2017</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/11/10389008_731370926927441_8013132619776188865_n.jpg" alt="" width="180" height="150" class="aligncenter size-full wp-image-55643" /></td>
			<td>Conestoga PA</td>
			<td>2014</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/02/Potomac1802013.jpg" alt="" width="180" height="150" class="aligncenter size-full wp-image-47038" /></td>
			<td>Potomac VA</td>
			<td>2013</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/02/Point-Beach-180-2012.jpg" alt="" width="180" height="150" class="aligncenter size-full wp-image-47041" /></td>
			<td>Point Pleasant Beach NJ</td>
			<td>2012</td>
		</tr>
		<tr>
			<td></td>
			<td>The Bullis School MD</td>
			<td>2011</td>
		</tr>
		<tr>
			<td></td>
			<td>Concord DE</td>
			<td>2010</td>
		</tr>
		<tr>
			<td></td>
			<td>Bowie MD</td>
			<td>2009</td>
		</tr>
		<tr>
			<td></td>
			<td>Edison Academy NJ</td>
			<td>2008</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/ScotchPlains1802007.jpg" alt="" title="ScotchPlains1802007" width="180" height="150" class="aligncenter size-full wp-image-11219" /></td>
			<td>Scotch Plains NJ</td>
			<td>2007</td>
		</tr>
		<tr>
			<td></td>
			<td>Kempsville VA</td>
			<td>2006</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/Imhotep-Charter-180-2005.jpg" alt="" title="Imhotep Charter 180 2005" width="180" height="150" class="aligncenter size-full wp-image-11159" /></td>
			<td>Imhotep Charter PA</td>
			<td>2005</td>
		</tr>
	</tbody>
</table>
