<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Team</th>
			<th></th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>11:00</td>
			<td>Plainfield</td>
			<td>vs.</td>
			<td>West Orange</td>
		</tr>
		<tr>
			<td>12:40</td>
			<td>Hudson Catholic</td>
			<td>vs. </td>
			<td> St. Peter's</td>
		</tr>
		<tr>
			<td>2:20</td>
			<td>Pope John</td>
			<td>vs.</td>
			<td>Roselle Catholic</td>
		</tr>
		<tr>
			<td>4:00</td>
			<td>Neptune</td>
			<td>vs.</td>
			<td>St. Anthony</td>
		</tr>
		<tr>
			<td>5:45</td>
			<td>St. Joseph's Metuchen</td>
			<td>vs.</td>
			<td>Teaneck</td>
		</tr>
		<tr>
			<td>7:30</td>
			<td>Wilbraham &amp; Munson MA</td>
			<td>vs.</td>
			<td>St. Benedict's</td>
		</tr>
	</tbody>
</table>
