<table>
	<thead>
		<tr>
			<th>PHOTO</th>
			<th>NAME</th>
			<th>NBA D-LEAGUE TEAM</th>
			<th>COLLEGE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/RakeemChristmas100.jpg" alt="RakeemChristmas100" width="100" height="120" class="aligncenter size-full wp-image-18835" /></td>
			<td>Rakeem Christmas</td>
			<td>Fort Wayne</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/RonRoberts100.jpg" alt="RonRoberts100" width="100" height="120" class="aligncenter size-full wp-image-71152" /></td>
			<td>Ronald Roberts</td>
			<td>Raptors </td>
			<td>St. Joseph's</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/XavierMunford100.jpg" alt="XavierMunford100" width="100" height="120" class="aligncenter size-full wp-image-71154" /></td>
			<td>Xavier Munford</td>
			<td>Bakersfield</td>
			<td>Rhode Island</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DeandreLiggins100.jpg" alt="DeandreLiggins100" width="100" height="120" class="aligncenter size-full wp-image-71021" /></td>
			<td>DeAndre Liggins</td>
			<td>Sioux Falls</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/KEITHAPPLING100.jpg" alt="KEITHAPPLING100" width="100" height="120" class="aligncenter size-full wp-image-70829" /></td>
			<td>Keith Appling</td>
			<td>Erie</td>
			<td>Michigan State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Alexstephenson100.jpg" alt="Alexstephenson100" width="100" height="120" class="aligncenter size-full wp-image-71022" /></td>
			<td>Alex Stepheson</td>
			<td>Iowa</td>
			<td>USC</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/JimmerFredette1001.jpg" alt="JimmerFredette100" width="100" height="120" class="aligncenter size-full wp-image-2517" /></td>
			<td>Jimmer Fredette</td>
			<td>Westchester</td>
			<td>Brigham Young</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/MichaelEric100.jpg" alt="MichaelEric100" width="100" height="120" class="aligncenter size-full wp-image-71026" /></td>
			<td>Michael Eric</td>
			<td>Texas</td>
			<td>Temple</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/ErickGreen100.jpg" alt="ErickGreen100" width="100" height="120" class="aligncenter size-full wp-image-71018" /></td>
			<td>Erick Green</td>
			<td>Reno</td>
			<td>Virginia Tech</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JustinHarper100.jpeg" alt="JustinHarper100" width="100" height="120" class="aligncenter size-full wp-image-71156" /></td>
			<td>Justin Harper</td>
			<td>Los Angeles</td>
			<td>Richmond</td>
		</tr>
		<tr>
			<td>[caption id="attachment_71158" align="aligncenter" width="100"]<img src="https://hoopgroup.com/wp-content/uploads/2016/02/VinceHunter100-1.jpg" alt="SAMSUNG" width="100" height="120" class="size-full wp-image-71158" /></td>
			<td>Vince Hunter</td>
			<td>Reno</td>
			<td>UTEP</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/Raphiaelputney100.jpg" alt="Raphiaelputney100" width="100" height="120" class="aligncenter size-full wp-image-71013" /></td>
			<td>Raphiael Putney</td>
			<td>Rio Grande</td>
			<td>UMass</td>
		</tr>
	</tbody>
</table>
