<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Dimitri Floras
</td>
			<td>Mass Rivals
</td>
		</tr>
		<tr>
			<td></td>
			<td>Josh Sharma
</td>
			<td>Mass Rivals
</td>
		</tr>
		<tr>
			<td></td>
			<td>Sam Dingba
</td>
			<td>Westchester Hawks
</td>
		</tr>
		<tr>
			<td></td>
			<td>Kody Jenkins
</td>
			<td>Westchester Hawks
</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Regis
</td>
			<td>Westchester Hawks
</td>
		</tr>
		<tr>
			<td></td>
			<td>Kurt Steidl
</td>
			<td>CBC - Donnelly
</td>
		</tr>
		<tr>
			<td></td>
			<td>Bernard Brantley
</td>
			<td>CBC - Donnelly
</td>
		</tr>
		<tr>
			<td></td>
			<td>Sean Obi
</td>
			<td>CBC - Donnelly
</td>
		</tr>
		<tr>
			<td></td>
			<td>Paschahl Chuwku
</td>
			<td>CBC - Donnelly
</td>
		</tr>
		<tr>
			<td></td>
			<td>Khalil Dukes
</td>
			<td>CBC - Smith
</td>
		</tr>
		<tr>
			<td></td>
			<td>Levy Gillespie
</td>
			<td>CBC - Smith
</td>
		</tr>
		<tr>
			<td></td>
			<td>Mustapha Heron
</td>
			<td>CBC - Smith
</td>
		</tr>
		<tr>
			<td></td>
			<td>Jared Terrell
</td>
			<td>Expressions Elite
</td>
		</tr>
		<tr>
			<td></td>
			<td>Abdul Malik Abu
</td>
			<td>Expressions Elite
</td>
		</tr>
		<tr>
			<td></td>
			<td>Matthew Farrell
</td>
			<td>Raritan Roundballers Gold
</td>
		</tr>
		<tr>
			<td></td>
			<td>Jordan Butler
</td>
			<td>CT Select - Mac
</td>
		</tr>
		<tr>
			<td></td>
			<td>Davonte Nolan
</td>
			<td>CT Select - Mac
</td>
		</tr>
		<tr>
			<td></td>
			<td>Duncan Robinson
</td>
			<td>Middlesex Magic Blue
</td>
		</tr>
		<tr>
			<td></td>
			<td>Harry Rafferty
</td>
			<td>Middlesex Magic Blue
</td>
		</tr>
		<tr>
			<td></td>
			<td>Damon Coleman
</td>
			<td>Team Force
</td>
		</tr>
		<tr>
			<td></td>
			<td>Sam Donahue
</td>
			<td>RI Hawks Elliott
</td>
		</tr>
		<tr>
			<td></td>
			<td>Devin Thomas
</td>
			<td>Metro Boston
</td>
		</tr>
		<tr>
			<td></td>
			<td>Miles Wright
</td>
			<td>Metro Boston
</td>
		</tr>
		<tr>
			<td></td>
			<td>Kiefer Douse
</td>
			<td>Maine Premier
</td>
		</tr>
		<tr>
			<td></td>
			<td>Jonte Rutty
</td>
			<td>BC Eagles
</td>
		</tr>
		<tr>
			<td></td>
			<td>Dashawn Benson
</td>
			<td>Team Underrated
</td>
		</tr>
		<tr>
			<td></td>
			<td>Emile Blackman
</td>
			<td>Team Underrated
</td>
		</tr>
		<tr>
			<td></td>
			<td>Harrison Taggart
</td>
			<td>RI Hawks  
</td>
		</tr>
		<tr>
			<td></td>
			<td>Tom Hunt
</td>
			<td>RI Hawks  
</td>
		</tr>
		<tr>
			<td></td>
			<td>Myles Melville
</td>
			<td>CT Gold-Truz
</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Conner
</td>
			<td>CT Gold-Truz
</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Merullo
</td>
			<td>NE Storm
</td>
		</tr>
		<tr>
			<td></td>
			<td>Ryan  Yearwood
</td>
			<td>Positive Direction
</td>
		</tr>
		<tr>
			<td></td>
			<td>Bryce Jones
</td>
			<td>NYC Jayhawks
</td>
		</tr>
		<tr>
			<td></td>
			<td>Dashawn Suber
</td>
			<td>NYC Jayhawks
</td>
		</tr>
		<tr>
			<td></td>
			<td>Matt St. Amour
</td>
			<td>Lone Wolf
</td>
		</tr>
		<tr>
			<td></td>
			<td>Charles Nardone
</td>
			<td>NY Falcons
</td>
		</tr>
	</tbody>
</table>
