<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Joel Brown</td>
			<td>St. Edmund Campion CN</td>
		</tr>
		<tr>
			<td>Aaron Clarke</td>
			<td>Pope John NJ</td>
		</tr>
		<tr>
			<td>Kobey Ketavong</td>
			<td>St. Michael CN</td>
		</tr>
		<tr>
			<td>Michael Schretter</td>
			<td>Ridgewood NJ</td>
		</tr>
		<tr>
			<td>Joshua Gray</td>
			<td>Millbrook Prep NY</td>
		</tr>
		<tr>
			<td>Johnathan McGriff</td>
			<td>Bishop Mcnamara MD</td>
		</tr>
		<tr>
			<td>Josh Nickelberry</td>
			<td>North Wood Temple NC</td>
		</tr>
		<tr>
			<td>Cartier Bowman</td>
			<td>Notre Dame NJ</td>
		</tr>
		<tr>
			<td>Alex Imegwu</td>
			<td>Seton Hall Prep NJ</td>
		</tr>
		<tr>
			<td>Myles Wilmoth</td>
			<td>Bergen Catholic NJ</td>
		</tr>
		<tr>
			<td>Domenick Bailey</td>
			<td>St. Stephens St. Agnes VA</td>
		</tr>
		<tr>
			<td>Jake Betlow</td>
			<td>Montverde Academy FL</td>
		</tr>
		<tr>
			<td>DeAndre Thomas</td>
			<td>Millwood VA</td>
		</tr>
		<tr>
			<td>Malik Kennedy</td>
			<td>National Christian MD</td>
		</tr>
		<tr>
			<td>Riley Smith</td>
			<td>Windsor CA</td>
		</tr>
		<tr>
			<td>Al-Amir Dawes</td>
			<td>Patrick School NJ</td>
		</tr>
		<tr>
			<td>Justin Anderson</td>
			<td>Franklin Learning Center PA</td>
		</tr>
		<tr>
			<td>Gabriel Bryan</td>
			<td>Monsignor Scanlan NY</td>
		</tr>
		<tr>
			<td>Ismael Massoud</td>
			<td>MacDuffie NY</td>
		</tr>
		<tr>
			<td>Dajour Rucker</td>
			<td>Cape Henry VA</td>
		</tr>
	</tbody>
</table>
