<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Kenny-Boynton-100.jpg" alt="" title="Kenny Boynton 100" width="100" height="120" class="aligncenter size-full wp-image-2521" /></td>
			<td>Kenny Boynton</td>
			<td>American Heritage FL</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/DomCheek2100.jpg" alt="" title="DomCheek2100" width="100" height="120" class="aligncenter size-full wp-image-2751" /></td>
			<td>Dominic Cheek</td>
			<td>St. Anthony NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/RyanKelly100.jpg" alt="" title="RyanKelly100" width="100" height="120" class="aligncenter size-full wp-image-2518" /></td>
			<td>Ryan Kelly</td>
			<td>Ravenscroft NC</td>
		</tr>
		<tr>
			<td></td>
			<td>Alex Oriakhi</td>
			<td>Winchendon MA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Lance-Stevenson-100.jpg" alt="" title="Lance Stevenson 100" width="100" height="120" class="aligncenter size-full wp-image-2478" /></td>
			<td>Lance Stephenson</td>
			<td>Lincoln NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/DexterStrickland2100.jpg" alt="" title="DexterStrickland2100" width="100" height="120" class="aligncenter size-full wp-image-7184" /></td>
			<td>Dexter Strickland</td>
			<td>St. Patrick NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/DanteTaylor100.jpg" alt="" title="DanteTaylor100" width="100" height="120" class="aligncenter size-full wp-image-7185" /></td>
			<td>Dante Taylor</td>
			<td>National Christian MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/MaalikWayns100.jpg" alt="" title="MaalikWayns100" width="100" height="120" class="aligncenter size-full wp-image-7186" /></td>
			<td>Maalik Wayns</td>
			<td>Roman Catholic PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/WallyJudge100.jpg" alt="" title="WallyJudge100" width="100" height="120" class="aligncenter size-full wp-image-2677" /></td>
			<td>Wally Judge</td>
			<td>Arlington Country Day FL</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Mason-Plumlee-100.jpg" alt="" title="Mason Plumlee 100" width="100" height="120" class="aligncenter size-full wp-image-7187" /></td>
			<td>Mason Plumlee</td>
			<td>Christ School NC</td>
		</tr>
		<tr>
			<td></td>
			<td>Renardo Sydney</td>
			<td>Fairfax CA</td>
		</tr>
	</tbody>
</table>
