<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Lamarr Kimble</td>
			<td>Neuman Goretti PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Kevin Seymour</td>
			<td>Blair NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Kadeem Carrington</td>
			<td>Bishop Loughlin NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Terry Harris</td>
			<td>Half Hollow Hills West NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Tony Toplyn</td>
			<td>Neuman Goretti PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/IsaiahBriscoe100.jpg" alt="" title="IsaiahBriscoe100" width="100" height="120" class="aligncenter size-full wp-image-12948" /></td>
			<td>Isaiah Briscoe</td>
			<td>St. Benedict's NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Troy Harper</td>
			<td>Neuman Goretti PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/IsaiahWhitehead100.jpg" alt="" title="IsaiahWhitehead100" width="100" height="120" class="aligncenter size-full wp-image-12950" /></td>
			<td>Isaiah Whitehead</td>
			<td>Lincoln NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JahydeGardner100.jpg" alt="" title="JahydeGardner100" width="100" height="120" class="aligncenter size-full wp-image-12951" /></td>
			<td>Jahyde Gardiner</td>
			<td>Friere Charter PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Eric Long</td>
			<td>Cheshire Academy CT</td>
		</tr>
		<tr>
			<td></td>
			<td>Shavar Newkirk</td>
			<td>Cardinal Hayes NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ByronHawkins100.jpg" alt="" title="ByronHawkins100" width="100" height="120" class="aligncenter size-full wp-image-12952" /></td>
			<td>Byron Hawkins</td>
			<td>Good Counsel MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Isaiah Washington</td>
			<td>Williamsport PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/EricAnderson1001.jpg" alt="" title="EricAnderson100" width="100" height="120" class="aligncenter size-full wp-image-12953" /></td>
			<td>Eric Anderson</td>
			<td>Haverford PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Jamal Custis</td>
			<td>Neuman Goretti PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Jaquan Newton</td>
			<td>Neuman Goretti PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Doudmy Saint-Hillaire</td>
			<td>South Shore NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Zachary Johnson</td>
			<td>Miramar FL</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MuhammadRahkman1001.jpg" alt="" title="MuhammadRahkman100" width="100" height="120" class="aligncenter size-full wp-image-12954" /></td>
			<td>Muhammad Rahkman</td>
			<td>Allentown Central Catholic PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AllanteHolston100.jpg" alt="" title="AllanteHolston100" width="100" height="120" class="aligncenter size-full wp-image-12955" /></td>
			<td>Allante Holston</td>
			<td>St. John's College DC</td>
		</tr>
	</tbody>
</table>
