<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>St. Benedict's NJ  80


MVP: Samardo Samuels</td>
			<td>Life Center NJ  37</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>William Allen  79


MVP: Terrence Roderick</td>
			<td>Paterson Catholic NJ  77</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Blair NJ  69


MVP: Shamari Spears</td>
			<td>St. Luke's CT  30</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Parkland  69


Adam Block</td>
			<td>North County MD  54</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Allentown Central Catholic  51

MVP: Ray Straccia</td>
			<td>Pocono Mountain East  34</td>
			<td></td>
		</tr>
	</tbody>
</table>
