<table>
	<thead>
		<tr>
			<th>Chester</th>
			<th>Berks Catholic</th>
			<th>Penn Wood</th>
			<th>Reading</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Marquis Collins
Chester '16
17 points
<img src="https://hoopgroup.com/wp-content/uploads/2014/12/IMG_3537-2.jpg" alt="" width="100" height="179" class="aligncenter size-full wp-image-56368" /></td>
			<td>Connor Jack
Berks Catholic '15
20 points
<img src="https://hoopgroup.com/wp-content/uploads/2014/12/IMG_3535-2.jpg" alt="" width="100" height="183" class="aligncenter size-full wp-image-56367" /></td>
			<td>Addison Scott
Penn Wood '15
30 points
<img src="https://hoopgroup.com/wp-content/uploads/2014/12/IMG_3595-2.jpg" alt="" width="100" height="179" class="aligncenter size-full wp-image-56370" /></td>
			<td>Lonnie Walker
Reading '17
29 points
<img src="https://hoopgroup.com/wp-content/uploads/2014/12/IMG_3594-2.jpg" alt="" width="100" height="179" class="aligncenter size-full wp-image-56369" /></td>
			<td>17</td>
		</tr>
		<tr>
			<td></td>
			<td>Connor Jack</td>
			<td>Berks Catholic</td>
			<td>2015</td>
			<td>20</td>
		</tr>
		<tr>
			<td></td>
			<td>Addison Scott</td>
			<td>Penn Wood</td>
			<td>2015</td>
			<td>30</td>
		</tr>
		<tr>
			<td></td>
			<td>Lonnie Walker</td>
			<td>Reading</td>
			<td>2017</td>
			<td>29</td>
		</tr>
	</tbody>
</table>
