<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Emmaus  84


MVP: Ryan Onuschko</td>
			<td>Bethlehem Catholic  74


MVP: Pedro Perez</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick NJ  66


MVP: Mike Gilchrist</td>
			<td>Blair NJ  49


MVP: Austin Johnson</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Benedict's  80


MVP: Lamar Patterson</td>
			<td>Bishop McNamara MD  70

MVP: Talib Zanna</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Norristown PA  67


Khalif Wyatt</td>
			<td>Parkland PA  66


MVP: Jaleel Clark</td>
			<td></td>
		</tr>
	</tbody>
</table>
