<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>East Lyme CT  60</td>
			<td>Essex Catholic  53</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Newark Eastside  69</td>
			<td>Elizabeth  53</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Bloomfield Tech  66</td>
			<td>Paterson Kennedy  36</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Paterson Catholic  74</td>
			<td>Bergen Catholic  69</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Depaul  53</td>
			<td>Linden  38</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Neptune  68</td>
			<td>Don Bosco  60</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Monmouth  67</td>
			<td>CBA  58</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Anthony  62</td>
			<td>Morristown  46</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Seton Hall Prep  64</td>
			<td>St. Joseph's Metuchen  33</td>
			<td></td>
		</tr>
	</tbody>
</table>
