<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Jerian Grant</td>
			<td>Notre Dame</td>
		</tr>
		<tr>
			<td></td>
			<td>D'Angelo Russell</td>
			<td>Ohio State</td>
		</tr>
		<tr>
			<td></td>
			<td>Marcus Thornton</td>
			<td>William &amp; Mary</td>
		</tr>
	</tbody>
</table>
