<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/gracefallon100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46077" />Grace Fallon</td>
			<td>Red Bank Catholic  46</td>
			<td>Neptune  37</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/marajiahbacon100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46069" />Marajiah Bacon</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/gracestant100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46078" />Grace Stant</td>
			<td>Rumson  61</td>
			<td>Monsignor Donovan  53</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/danacarbone100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46080" />Dana Carbone</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/Jesslouro100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46079" />Jess Louro</td>
			<td>St. Rose  42</td>
			<td>St. John Vianney  41</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/kellycampbell100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46070" />Kelly Campbell</td>
		</tr>
	</tbody>
</table>
