<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Boys &amp; Girls NY  47


MVP:  Clayton Sterling</td>
			<td>CBA  45


MVP:  Brian Neller</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Bloomfield Tech  64


MVP:  Troy Webster</td>
			<td>Colts Neck  57


MVP:  Mitchell Kates</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Monmouth  63


MVP:  Neil Thompson</td>
			<td>Asbury Park  52


MVP:  Darryl Jefferson</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Linden  59


MVP:  Desmond Wade</td>
			<td>Neptune  57


MVP:  Gary Foster</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Imhotep Charter PA  48


MVP:  Rashad Savage</td>
			<td>Monsignor Donovan  48


MVP:  Sean Grennan</td>
			<td></td>
		</tr>
	</tbody>
</table>
