<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Team</th>
			<th></th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12:00</td>
			<td>Council Rock North</td>
			<td>vs.</td>
			<td>Liberty</td>
		</tr>
		<tr>
			<td>1:40</td>
			<td>The Patrick School NJ
(formerly St. Patrick's)</td>
			<td>vs.</td>
			<td>Parkland</td>
		</tr>
		<tr>
			<td>3:20</td>
			<td>St. Benedict's NJ</td>
			<td>vs.</td>
			<td>Germantown Academy</td>
		</tr>
		<tr>
			<td>5:00</td>
			<td>Gill St. Bernards NJ</td>
			<td>vs.</td>
			<td>Abington Heights</td>
		</tr>
		<tr>
			<td>6:40</td>
			<td>Hudson Catholic NJ</td>
			<td>vs.</td>
			<td>Freedom</td>
		</tr>
	</tbody>
</table>
