<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/edriceadebayo100-2/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2016/01/EdriceAdebayo100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-68518" /></a></td>
			<td>Bam Adebayo</td>
			<td>Northside NC</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/TerranceFerguson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82718" /></td>
			<td>Terrance Ferguson</td>
			<td>Prime Prep TX</td>
			<td>Alabama</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/markellfultz100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82917" /></td>
			<td>Markelle Fultz</td>
			<td>DeMatha MD</td>
			<td>Washington</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/DewanHuell100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82720" /></td>
			<td>Dewan Huell</td>
			<td>Norland FL</td>
			<td>Miami</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/JoshJackson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82722" /></td>
			<td>Josh Jackson</td>
			<td>Prolific Prep CA</td>
			<td></td>
		</tr>
	</tbody>
</table>
