<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/ShabazzNapier100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-48235" /></td>
			<td>Shabazz Napier</td>
			<td>Connecticut</td>
		</tr>
		<tr>
			<td></td>
			<td>Nik Stauskas</td>
			<td>Michigan</td>
		</tr>
		<tr>
			<td></td>
			<td>Cleanthony Early</td>
			<td>Wichita State</td>
		</tr>
		<tr>
			<td></td>
			<td>CJ Fair</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/RussSmith100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18919" /></td>
			<td>Russ Smith</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td></td>
			<td>Sean Kilpatrick</td>
			<td>Cincinnati</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/AndrewWiggins100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-48231" /></td>
			<td>Andrew Wiggins</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
