<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>College</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Ian Baker</td>
			<td>New Mexico State</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/EvanBradds100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80311" /></td>
			<td>Evan Bradds</td>
			<td>Belmont</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Jarrell Brantley</td>
			<td>Charleston</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Jared Brownridge</td>
			<td>Santa Clara</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/JamesDaniel100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-83286" /></td>
			<td>James Daniel</td>
			<td>Howard</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/NickEmery100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-83247" /></td>
			<td>Nick Emery</td>
			<td>BYU</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Rokas Gustys</td>
			<td>Hofstra</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Jimmy Hall</td>
			<td>Kent State</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/KevinHervey100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80355" /></td>
			<td>Kevin Hervey</td>
			<td>UT Arlington</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Damon Lynn</td>
			<td>NJIT</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Makai Mason</td>
			<td>Yale</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/MarkisMcDuffiemvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-64139" /></td>
			<td>Markis McDuffie</td>
			<td>Wichita State</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Marc-Eddy Norelja</td>
			<td>Florida Gulf Coast</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Omar Prewitt</td>
			<td>William &amp; Mary</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/02/KendrickRay100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-15283" /></td>
			<td>Kendrick Ray</td>
			<td>Kennesaw State</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/JustinRobinson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-73389" /></td>
			<td>Justin Robinson</td>
			<td>Monmouth</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Brenton Scott</td>
			<td>Indiana State</td>
			<td></td>
		</tr>
	</tbody>
</table>
