<table>
	<thead>
		<tr>
			<th>NAME</th>
			<th>TEAM</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jordan Washington</td>
			<td>New Heights Blue</td>
		</tr>
		<tr>
			<td>Terrence Samuel</td>
			<td>New Heights Blue</td>
		</tr>
		<tr>
			<td>Shamiek Sheppard</td>
			<td>New Heights Blue</td>
		</tr>
		<tr>
			<td>DJ Foreman</td>
			<td>NE Playaz</td>
		</tr>
		<tr>
			<td>John Powell</td>
			<td>NE Playaz</td>
		</tr>
		<tr>
			<td>Howard Sellars</td>
			<td>DE Team Takeover</td>
		</tr>
		<tr>
			<td>JR Hobbie</td>
			<td>ShoreShots</td>
		</tr>
		<tr>
			<td>Bryan Rivers</td>
			<td>ShoreShots</td>
		</tr>
		<tr>
			<td>Noah Vonleh</td>
			<td>Expressions</td>
		</tr>
		<tr>
			<td>Jordan Fuchs</td>
			<td>Westchester Hawks</td>
		</tr>
		<tr>
			<td>Samuel Dingba</td>
			<td>Westchester Hawks</td>
		</tr>
		<tr>
			<td>Spencer Weisz</td>
			<td>Sports University</td>
		</tr>
		<tr>
			<td>Keegan Hess</td>
			<td>NJ Hot Shots</td>
		</tr>
		<tr>
			<td>Khalil Dukes</td>
			<td>Connecticut BC</td>
		</tr>
		<tr>
			<td>Aaron Ray</td>
			<td>BC Eagles</td>
		</tr>
		<tr>
			<td>Petiri Reed</td>
			<td>New Heights White</td>
		</tr>
		<tr>
			<td>Isiah Lewis</td>
			<td>City Rocks Black</td>
		</tr>
		<tr>
			<td>Aaron Calixle</td>
			<td>Cyclones</td>
		</tr>
		<tr>
			<td>Harrison Taggart</td>
			<td>RI Hawks</td>
		</tr>
		<tr>
			<td>Semaji Reed</td>
			<td>NE Sting</td>
		</tr>
		<tr>
			<td>Connor Nicholson</td>
			<td>Staten Island Elite</td>
		</tr>
		<tr>
			<td>Isiah Davis</td>
			<td>Hard 2 Guard</td>
		</tr>
		<tr>
			<td>Malik Harmon</td>
			<td>VA Elite</td>
		</tr>
		<tr>
			<td>Chris Davis</td>
			<td>Underrated</td>
		</tr>
		<tr>
			<td>Gary Whritenour</td>
			<td>Gym Ratz</td>
		</tr>
		<tr>
			<td>Jalen Henriquez</td>
			<td>Gym Ratz</td>
		</tr>
		<tr>
			<td>Colin Richey</td>
			<td>Blackstone Valley Chaos</td>
		</tr>
		<tr>
			<td>Rich O'Brien</td>
			<td>Bishop Elite</td>
		</tr>
		<tr>
			<td>Marquan Chandler</td>
			<td>Team Albany</td>
		</tr>
		<tr>
			<td>Darnell Carson</td>
			<td>NEBC</td>
		</tr>
		<tr>
			<td>Mike Signer</td>
			<td>Wayne PAL/Wolfpack</td>
		</tr>
	</tbody>
</table>
