<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=66448" rel="attachment wp-att-66448"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/AdelouAdesina100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66448" /></a></td>
			<td>Adelou Adesina</td>
			<td>Chester</td>
			<td>Stetson</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=66534" rel="attachment wp-att-66534"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/Traci-Carter-100.jpg" alt="" width="100" height="120" class="aligncenter class="size-full wp-image-66534" /></a></td>
			<td>Traci Carter</td>
			<td>Roman Catholic</td>
			<td>Marquette</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/12/Johnny-Davis-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45148" /></td>
			<td>Johnny Davis</td>
			<td>Neumann Goretti</td>
			<td>Towson</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/markflagg100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82969" /></td>
			<td>Mark Flagg</td>
			<td>Pennsbury</td>
			<td>St. Francis PA</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=66515" rel="attachment wp-att-66515"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/Nana-Foulland-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66515" /></a></td>
			<td>Nana Foulland</td>
			<td>Berks Catholic</td>
			<td>Bucknell</td>
		</tr>
		<tr>
			<td></td>
			<td>Lamin Fulton</td>
			<td>Neumann Goretti</td>
			<td>Wisconsin Green Bay</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/tomfunk100-2/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/TomFunk100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67270" /></a></td>
			<td>Tom Funk</td>
			<td>Archbishop Wood</td>
			<td>Army</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/Shep-Garner-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44992" /></td>
			<td>Shepp Garner</td>
			<td>Roman Catholic</td>
			<td>Penn State</td>
		</tr>
		<tr>
			<td></td>
			<td>Sam Green</td>
			<td>Bishop McNamara MD</td>
			<td>Drexel</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/12/TroyHarper100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45156" /></td>
			<td>Troy Harper</td>
			<td>Neumann Goretti</td>
			<td>Campbell</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=66456" rel="attachment wp-att-66456"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/MauriceHenrymvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66456" /></a></td>
			<td>Maurice Henry</td>
			<td>Chester</td>
			<td>Delaware State</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/Donovan-Jack-100.jpg" alt="" title="Donovan Jack 100" width="100" height="120" class="aligncenter size-full wp-image-12407" /></td>
			<td>Donovan Jack</td>
			<td>Berks Catholic</td>
			<td>Penn State</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=66453" rel="attachment wp-att-66453"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/LamarKimble100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66453" /></a></td>
			<td>Lamar Kimble</td>
			<td>Neumann Goretti</td>
			<td>St. Joseph's</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=66457" rel="attachment wp-att-66457"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/RashaanLondonsmall.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66457" /></a></td>
			<td>Rashann London</td>
			<td>Roman Catholic</td>
			<td>Drexel</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=66532" rel="attachment wp-att-66532"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/MarquisMarshall100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66532" /></a></td>
			<td>Marquis Marshall</td>
			<td>Berks Catholic</td>
			<td>Towson</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/12/JaquanNewton100.jpg" alt="" title="JaquanNewton100" width="100" height="120" class="aligncenter size-full wp-image-14237" /></td>
			<td>Ja'Quan Newton</td>
			<td>Neuman Goretti</td>
			<td>Miami</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DaronRussell100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80399" /></td>
			<td>Daron Russell</td>
			<td>Imhotep Charter</td>
			<td>Rhode Island</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/12/DerrickStewart100.jpg" alt="" title="DerrickStewart100" width="100" height="120" class="aligncenter size-full wp-image-14238" /></td>
			<td>Derrick Stewart</td>
			<td>Neumann Goretti</td>
			<td>Rider</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=66451" rel="attachment wp-att-66451"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/Tyrell-Sturdivant-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66451" /></a></td>
			<td>Tyrell Sturdivant</td>
			<td>Chester </td>
			<td>Stony Brook</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/KobeThomas100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91091" /></td>
			<td>Koby Thomas</td>
			<td>Imhotep Charter</td>
			<td>Robert Morris</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=66508" rel="attachment wp-att-66508"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/TonyToplyn1001.jpg" alt="" width="100" height="120" class="aligncenter class="size-full wp-image-66508" /></a></td>
			<td>Tony Toplyn</td>
			<td>Neumann Goretti</td>
			<td>Campbell</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/LonnieWalkerHGE100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80408" /></td>
			<td>Lonnie Walker</td>
			<td>Reading</td>
			<td>Miami</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=66569" rel="attachment wp-att-66569"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/Trevaughn-Wilkerson-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66569" /></a></td>
			<td>Treyvaughn Wilkerson</td>
			<td>Roman Catholic</td>
			<td>Hartford</td>
		</tr>
	</tbody>
</table>
