<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/03/KyleAnderson100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/KyleAnderson100.jpg" alt="" title="KyleAnderson100" width="100" height="120" class="alignleft size-full wp-image-8442" /></a></td>
			<td>Kyle Anderson</td>
			<td>St. Anthony</td>
			<td>UCLA</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/08/Mel-johnson-120.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/Mel-johnson-120.jpg" alt="" title="Mel johnson 120" width="100" height="120" class="alignleft size-full wp-image-12522" /></a></td>
			<td>Melvin Johnson</td>
			<td>St. Benedict's</td>
			<td>Miami</td>
		</tr>
		<tr>
			<td></td>
			<td>Brandon Taylor</td>
			<td>Trenton Catholic</td>
			<td>Penn State</td>
		</tr>
		<tr>
			<td></td>
			<td>Dallas Anglin</td>
			<td>Seton Hall Prep</td>
			<td>Hofstra</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/08/JameelWarney100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/JameelWarney100.jpg" alt="" title="JameelWarney100" width="100" height="120" class="alignleft size-full wp-image-12408" /></a></td>
			<td>Jameel Warney</td>
			<td>Roselle Catholic</td>
			<td>Stony Brook</td>
		</tr>
		<tr>
			<td></td>
			<td>Jimmy Hall</td>
			<td>St. Anthony</td>
			<td>Hofstra</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/09/GrantEllis100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/GrantEllis100.jpg" alt="" title="GrantEllis100" width="100" height="120" class="alignleft size-full wp-image-12876" /></a></td>
			<td>Grant Ellis</td>
			<td>Hudson Catholic</td>
			<td>Iona</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/09/JustinSears100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JustinSears100.jpg" alt="" title="JustinSears100" width="100" height="120" class="alignleft size-full wp-image-12691" /></a></td>
			<td>Justin Sears</td>
			<td>Plainfield</td>
			<td>Yale</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/09/QuentinDecosey100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/QuentinDecosey100.jpg" alt="" title="QuentinDecosey100" width="100" height="120" class="alignleft size-full wp-image-12655" /></a></td>
			<td>Quentin DeCosey</td>
			<td>St. Joseph's Metuchen</td>
			<td>Temple</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/09/WilliamKelly100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/WilliamKelly100.jpg" alt="" title="WilliamKelly100" width="100" height="120" class="alignleft size-full wp-image-12934" /></a></td>
			<td>Will Kelly</td>
			<td>Hun</td>
			<td>Navy</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
