<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College Attended</th>
			<th>NBA Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/JoshSmith1001.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/JoshSmith1001.jpg" alt="" title="JoshSmith100" width="100" height="120" class="aligncenter size-full wp-image-1256" /></a></td>
			<td>Josh Smith</td>
			<td>Oak Hill Academy HS</td>
			<td>Atlanta Hawks</td>
		</tr>
		<tr>
			<td></td>
			<td>Mike Scott</td>
			<td>Virginia</td>
			<td>Atlanta Hawks</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/03/JasonCollins100.jpg" alt="" title="JasonCollins100" width="100" height="120" class="aligncenter size-full wp-image-8004" /></td>
			<td>Jason Collins</td>
			<td>Stanford</td>
			<td>Boston Celtics</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/02/jaredsullinger2100.jpg" alt="" title="jaredsullinger2100" width="100" height="120" class="aligncenter size-full wp-image-15435" /></td>
			<td>Jared Sullinger</td>
			<td>Ohio State</td>
			<td>Boston Celtics</td>
		</tr>
		<tr>
			<td></td>
			<td>Kris Joseph</td>
			<td>Texas</td>
			<td>Boston Celtics</td>
		</tr>
		<tr>
			<td></td>
			<td>Deron Williams</td>
			<td>Illinois</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td></td>
			<td>Kris Humphries</td>
			<td>Minnesota</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/AndrayBlatche100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/AndrayBlatche100.jpg" alt="" title="AndrayBlatche100" width="100" height="120" class="aligncenter size-full wp-image-1365" /></a></td>
			<td>Andray Blatche</td>
			<td>South Kent Prep HS CT</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/02/tyshawntaylor100.jpg" alt="" title="tyshawntaylor100" width="100" height="120" class="aligncenter size-full wp-image-2527" /></td>
			<td>Tyshawn Taylor</td>
			<td>Kansas</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td></td>
			<td>Reggie Williams</td>
			<td>VMI</td>
			<td>Charlotte Bobcats</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/geraldhenderson100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/geraldhenderson100.jpg" alt="" title="geraldhenderson100" width="100" height="120" class="aligncenter size-full wp-image-1258" /></a></td>
			<td>Gerald Henderson</td>
			<td>Duke</td>
			<td>Charlotte Bobcats</td>
		</tr>
		<tr>
			<td></td>
			<td>DeSagna Diop</td>
			<td>Oak Hill Academy HS</td>
			<td>Charlotte Bobcats</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Kemba-Walker-1001.jpg" alt="" title="Kemba Walker 100" width="100" height="120" class="aligncenter size-full wp-image-2461" /></td>
			<td>Kemba Walker</td>
			<td>UConn</td>
			<td>Charlotte Bobcats</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/MattCarroll100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/MattCarroll100.jpg" alt="" title="MattCarroll100" width="100" height="120" class="aligncenter size-full wp-image-1257" /></a></td>
			<td>Matt Carroll</td>
			<td>Notre Dame</td>
			<td>Charlotte Bobcats</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/03/MikeGilchrist100.jpg" alt="" title="MikeGilchrist100" width="100" height="120" class="aligncenter size-full wp-image-8596" /></td>
			<td>Michael Kidd Gilchrist</td>
			<td>Kentucky</td>
			<td>Charlotte Bobcats</td>
		</tr>
		<tr>
			<td></td>
			<td>Richard Hamilton</td>
			<td>UConn</td>
			<td>Chicago Bulls</td>
		</tr>
		<tr>
			<td></td>
			<td>Taj Gibson</td>
			<td>USC</td>
			<td>Chicago Bulls</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Luol-Deng-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Luol-Deng-100.jpg" alt="" title="Luol Deng 100" width="100" height="120" class="aligncenter size-full wp-image-1260" /></a></td>
			<td>Luol Deng</td>
			<td>Duke</td>
			<td>Chicago Bulls</td>
		</tr>
		<tr>
			<td></td>
			<td>Joakim Noah</td>
			<td>Florida</td>
			<td>Chicago Bulls</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/03/DionWaiters100.jpg" alt="" title="DionWaiters100" width="100" height="120" class="aligncenter size-full wp-image-18827" /></td>
			<td>Dion Waiters</td>
			<td>Syracuse</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Kyrie-Irving-100.jpg" alt="" title="Kyrie Irving 100" width="100" height="120" class="aligncenter size-full wp-image-2943" /></td>
			<td>Kyrie Irving</td>
			<td>Duke</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/TristanThompson100.jpg" alt="" title="TristanThompson100" width="100" height="120" class="aligncenter size-full wp-image-2979" /></td>
			<td>Tristan Thompson</td>
			<td>Texas</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td></td>
			<td>Daniel Gibson</td>
			<td>Texas</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/SamardoSamuels100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/SamardoSamuels100.jpg" alt="" title="SamardoSamuels100" width="100" height="120" class="aligncenter size-full wp-image-1261" /></a></td>
			<td>Samardo Samuels</td>
			<td>Louisville</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td></td>
			<td>Jeremy Pargo</td>
			<td>Gonzaga</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td></td>
			<td>Dahntay Jones</td>
			<td>Duke</td>
			<td>Dallas Mavericks</td>
		</tr>
		<tr>
			<td></td>
			<td>Elton Brand</td>
			<td>Duke</td>
			<td>Dallas Mavericks</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/oj-mayo100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/oj-mayo100.jpg" alt="" title="oj mayo100" width="100" height="120" class="aligncenter size-full wp-image-1386" /></a></td>
			<td>OJ Mayo</td>
			<td>USC</td>
			<td>Dallas Mavericks</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/VinceCarter100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/VinceCarter100.jpg" alt="" title="VinceCarter100" width="100" height="120" class="aligncenter size-full wp-image-1374" /></a></td>
			<td>Vince Carter</td>
			<td>North Carolina</td>
			<td>Dallas Mavericks</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/AlHarrington100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/AlHarrington100.jpg" alt="" title="AlHarrington100" width="100" height="120" class="aligncenter size-full wp-image-1277" /></a></td>
			<td>Al Harrington</td>
			<td>St. Patrick HS NJ</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td></td>
			<td>Kosta Koufos</td>
			<td>Ohio State</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/KenFaried100.jpg" alt="" title="KenFaried100" width="100" height="120" class="aligncenter size-full wp-image-9047" /></td>
			<td>Ken Faried</td>
			<td>Morehead State</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td></td>
			<td>Ty Lawson</td>
			<td>North Carolina</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td></td>
			<td>Quincy Miller</td>
			<td>Baylor</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/CharlieVillanueva100.jpg" alt="" title="CharlieVillanueva100" width="100" height="120" class="aligncenter size-full wp-image-4339" /></td>
			<td>Charlie Villanueva</td>
			<td>UConn</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/03/AndreDrummond100.jpg" alt="" title="AndreDrummond100" width="100" height="120" class="aligncenter size-full wp-image-18923" /></td>
			<td>Andre Drummond</td>
			<td>Connecticut</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Brandon-Knight-100.jpg" alt="" title="Brandon Knight 100" width="100" height="120" class="aligncenter size-full wp-image-2970" /></td>
			<td>Brandon Knight</td>
			<td>Kentucky</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/02/KimEnglish100.jpg" alt="" title="KimEnglish100" width="100" height="120" class="aligncenter size-full wp-image-2470" /></td>
			<td>Kim English</td>
			<td>Missouri</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td></td>
			<td>Ben Gordon</td>
			<td>UConn</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td></td>
			<td>Brandon Rush</td>
			<td>Kansas</td>
			<td>Golden State Warriors</td>
		</tr>
		<tr>
			<td></td>
			<td>Ekpe Udoh</td>
			<td>Baylor</td>
			<td>Golden State Warriors</td>
		</tr>
		<tr>
			<td></td>
			<td>Charles Jenkins</td>
			<td>Hofstra</td>
			<td>Golden State Warriors</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Marcus-Morris-100.jpg" alt="" title="Marcus Morris 100" width="100" height="120" class="aligncenter size-full wp-image-1399" /></td>
			<td>Marcus Morris</td>
			<td>Kansas</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td></td>
			<td>Daequan Cook</td>
			<td>Ohio State</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td></td>
			<td>James Harden</td>
			<td>Arizona State</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/SamuelDalembert100.jpg" alt="" title="SamuelDalembert100" width="100" height="120" class="aligncenter size-full wp-image-4347" /></td>
			<td>Samuel Dalembert</td>
			<td>Seton Hall</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td></td>
			<td>Scott Machado</td>
			<td>Iona</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td></td>
			<td>Patrick Patterson</td>
			<td>Kentucky</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td></td>
			<td>Miles Plumlee</td>
			<td>Duke</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td></td>
			<td>Roy Hibbert</td>
			<td>Georgetown</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Lance-Stevenson-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Lance-Stevenson-100.jpg" alt="" title="Lance Stevenson 100" width="100" height="120" class="aligncenter size-full wp-image-1377" /></a></td>
			<td>Lance Stephenson</td>
			<td>Cincinnati</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td></td>
			<td>David West</td>
			<td>Xavier</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td></td>
			<td>Paul George</td>
			<td>Fresno State</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/SamYoung100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/SamYoung100.jpg" alt="" title="SamYoung100" width="100" height="120" class="aligncenter size-full wp-image-1384" /></a></td>
			<td>Sam Young</td>
			<td>Pittsburgh</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td></td>
			<td>Ben Hansbrough</td>
			<td>Notre Dame</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/LamarOdom100.jpg" alt="" title="LamarOdom100" width="100" height="120" class="aligncenter size-full wp-image-4006" /></td>
			<td>Lamar Odom</td>
			<td>Rhode Island</td>
			<td>Los Angeles Clippers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Chris-Paul-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Chris-Paul-100.jpg" alt="" title="Chris Paul 100" width="100" height="120" class="aligncenter size-full wp-image-1254" /></a></td>
			<td>Chris Paul</td>
			<td>Wake Forest</td>
			<td>Los Angeles Clippers</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/11/caronbutler100.jpg" alt="" title="caronbutler100" width="100" height="120" class="aligncenter size-full wp-image-27008" /></td>
			<td>Caron Butler</td>
			<td>UConn</td>
			<td>Los Angeles Clippers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/ChrisDuhon100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/ChrisDuhon100.jpg" alt="" title="ChrisDuhon100" width="100" height="120" class="aligncenter size-full wp-image-1375" /></a></td>
			<td>Chris Duhon</td>
			<td>Duke</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Ron-Artest-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Ron-Artest-100.jpg" alt="" title="Ron Artest 100" width="100" height="120" class="aligncenter size-full wp-image-1382" /></a></td>
			<td>Mehta World Peace</td>
			<td>St. John's</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/KobeBryant100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/KobeBryant100.jpg" alt="" title="KobeBryant100" width="100" height="120" class="aligncenter size-full wp-image-1380" /></a></td>
			<td>Kobe Bryant</td>
			<td>Lower Merion HS PA</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td></td>
			<td>Steve Blake</td>
			<td>Maryland</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/DwightHoward100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/DwightHoward100.jpg" alt="" title="DwightHoward100" width="100" height="120" class="aligncenter size-full wp-image-1373" /></a></td>
			<td>Dwight Howard</td>
			<td>Southwest Atlanta Christian</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Earl-Clark-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Earl-Clark-100.jpg" alt="" title="Earl Clark 100" width="100" height="120" class="aligncenter size-full wp-image-1371" /></a></td>
			<td>Earl Clark</td>
			<td>Louisville</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td></td>
			<td>Jodie Meeks</td>
			<td>Kentucky</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td></td>
			<td>Devin Ebanks</td>
			<td>West Virginia</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Wayne-Ellington-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Wayne-Ellington-100.jpg" alt="" title="Wayne Ellington 100" width="100" height="120" class="aligncenter size-full wp-image-1389" /></a></td>
			<td>Wayne Ellington</td>
			<td>North Carolina</td>
			<td>Memphis Grizzlies</td>
		</tr>
		<tr>
			<td></td>
			<td>Rudy Gay</td>
			<td>UConn</td>
			<td>Memphis Grizzlies</td>
		</tr>
		<tr>
			<td></td>
			<td>Josh Selby</td>
			<td>Kentucky</td>
			<td>Memphis Grizzlies</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Bosh</td>
			<td>Georgia Tech</td>
			<td>Miami Heat</td>
		</tr>
		<tr>
			<td></td>
			<td>Joel Anthony</td>
			<td>UNLV</td>
			<td>Miami Heat</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/TobiasHarris100.jpg" alt="" title="TobiasHarris100" width="100" height="120" class="aligncenter size-full wp-image-7664" /></td>
			<td>Tobias Harris</td>
			<td>Tennessee</td>
			<td>Milwaukee Bucks</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/02/Doron-Lamb100.jpg" alt="" title="Doron Lamb100" width="100" height="120" class="aligncenter size-full wp-image-2973" /></td>
			<td>Doron Lamb</td>
			<td>Kentucky</td>
			<td>Milwaukee Bucks</td>
		</tr>
		<tr>
			<td></td>
			<td>Dante Cunningham</td>
			<td>Villanova</td>
			<td>Minnesota Timberwolves</td>
		</tr>
		<tr>
			<td></td>
			<td>Eric Gordon</td>
			<td>Indiana</td>
			<td>New Orleans Hornets</td>
		</tr>
		<tr>
			<td></td>
			<td>Darius Miller</td>
			<td>Kentucky</td>
			<td>New Orleans Hornets</td>
		</tr>
		<tr>
			<td></td>
			<td>Jason Smith</td>
			<td>Colorado State</td>
			<td>New Orleans Hornets</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/02/LanceThomas100.jpg" alt="" title="LanceThomas100" width="100" height="120" class="aligncenter size-full wp-image-2520" /></td>
			<td>Lance Thomas</td>
			<td>Duke</td>
			<td>New Orleans Hornets</td>
		</tr>
		<tr>
			<td></td>
			<td>Hakim Warrick</td>
			<td>Syracuse</td>
			<td>New Orleans Hornets</td>
		</tr>
		<tr>
			<td></td>
			<td>Iman Shumpert</td>
			<td>Georgia Tech</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Amare-Stoudamire-1001.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Amare-Stoudamire-1001.jpg" alt="" title="Amare Stoudamire 100" width="100" height="120" class="aligncenter size-full wp-image-1392" /></a></td>
			<td>Amare Stoudemire</td>
			<td>Cypress Creek HS FL</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Carmelo-Anthony-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Carmelo-Anthony-100.jpg" alt="" title="Carmelo Anthony 100" width="100" height="120" class="aligncenter size-full wp-image-1253" /></a></td>
			<td>Carmelo Anthony</td>
			<td>Syracuse</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td></td>
			<td>Marcus Camby</td>
			<td>UMass</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/01/JR-Smith-100.jpg" alt="" title="JR Smith 100" width="100" height="120" class="aligncenter size-full wp-image-1276" /></td>
			<td>JR Smith</td>
			<td>St. Benedict's NJ</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/11/RayFelton100.jpg" alt="" title="RayFelton100" width="100" height="120" class="aligncenter size-full wp-image-27007" /></td>
			<td>Raymond Felton</td>
			<td>North Carolina</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td></td>
			<td>Rasheed Wallace</td>
			<td>North Carolina</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/kevindurant100.jpg" alt="" title="kevindurant100" width="100" height="120" class="aligncenter size-full wp-image-7585" /></td>
			<td>Kevin Durant</td>
			<td>Texas</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td></td>
			<td>Deandre Liggins</td>
			<td>Kentucky</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td></td>
			<td>Byron Mullens</td>
			<td>Ohio State</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td></td>
			<td>JJ Reddick</td>
			<td>Duke</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td></td>
			<td>Kyle O'Quinn</td>
			<td>Norfolk State</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td></td>
			<td>Andrew Nicholson</td>
			<td>St. Bonaventure</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Jameer-Nelson-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Jameer-Nelson-100.jpg" alt="" title="Jameer Nelson 100" width="100" height="120" class="aligncenter size-full wp-image-1372" /></a></td>
			<td>Jameer Nelson</td>
			<td>St. Joseph's</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td></td>
			<td>Arron Afflalo</td>
			<td>UCLA</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/07/MauriceHarkless100.jpg" alt="" title="MauriceHarkless100" width="100" height="120" class="aligncenter size-full wp-image-22129" /></td>
			<td>Maurice Harkless</td>
			<td>St. John's</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td></td>
			<td>Arnette Moultrie</td>
			<td>Mississippi State</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/02/MaalikWayns100.jpg" alt="" title="MaalikWayns100" width="100" height="120" class="aligncenter size-full wp-image-7186" /></td>
			<td>Maalik Wayns</td>
			<td>Villanova</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td></td>
			<td>Kwame Brown</td>
			<td>Gwynett Academy GA</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/AndrewBynum100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/AndrewBynum100.jpg" alt="" title="AndrewBynum100" width="100" height="120" class="aligncenter size-full wp-image-1381" /></a></td>
			<td>Andrew Bynum</td>
			<td>St. Joseph's Metuchen NJ</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td></td>
			<td>Royal Ivey</td>
			<td>Texas</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td></td>
			<td>Lavoy Allen</td>
			<td>Temple</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/MikeBeasley100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/MikeBeasley100.jpg" alt="" title="MikeBeasley100" width="100" height="120" class="aligncenter size-full wp-image-1388" /></a></td>
			<td>Mike Beasley</td>
			<td>Kansas State</td>
			<td>Phoenix Suns</td>
		</tr>
		<tr>
			<td></td>
			<td>Shannon Brown</td>
			<td>Michigan State</td>
			<td>Phoenix Suns</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/03/kendallmarshall100.jpg" alt="" title="kendallmarshall100" width="100" height="120" class="aligncenter size-full wp-image-18829" /></td>
			<td>Kendall Marshall</td>
			<td>North Carolina</td>
			<td>Phoenix Suns</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/SebastianTelfair100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/SebastianTelfair100.jpg" alt="" title="SebastianTelfair100" width="100" height="120" class="aligncenter size-full wp-image-1390" /></a></td>
			<td>Sebastian Telfair</td>
			<td>Lincoln HS NY</td>
			<td>Phoenix Suns</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/MarkeifMorris100.jpg" alt="" title="MarkeifMorris100" width="100" height="120" class="aligncenter size-full wp-image-2674" /></td>
			<td>Markieff Morris</td>
			<td>Kansas</td>
			<td>Phoenix Suns</td>
		</tr>
		<tr>
			<td></td>
			<td>LaMarcus Aldridge</td>
			<td>Texas</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/02/Nolan-Smith-100.jpg" alt="" title="Nolan Smith 100" width="100" height="120" class="aligncenter size-full wp-image-2519" /></td>
			<td>Nolan Smith</td>
			<td>Duke</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td></td>
			<td>Damian Lillard</td>
			<td>Weber State</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/07/WillBarton100.jpg" alt="" title="WillBarton100" width="100" height="120" class="aligncenter size-full wp-image-22130" /></td>
			<td>Will Barton</td>
			<td>Memphis</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Tyreke-Evans-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Tyreke-Evans-100.jpg" alt="" title="Tyreke Evans 100" width="100" height="120" class="aligncenter size-full wp-image-1370" /></a></td>
			<td>Tyreke Evans</td>
			<td>Memphis</td>
			<td>Sacramento Kings</td>
		</tr>
		<tr>
			<td></td>
			<td>Jason Thompson</td>
			<td>Rider</td>
			<td>Sacramento Kings</td>
		</tr>
		<tr>
			<td></td>
			<td>Francisco Garcia</td>
			<td>Louisville</td>
			<td>Sacramento Kings</td>
		</tr>
		<tr>
			<td></td>
			<td>Thomas Robinson</td>
			<td>Kansas</td>
			<td>Sacramento Kings</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/JimmerFredette100.jpg" alt="" title="JimmerFredette100" width="100" height="120" class="aligncenter size-full wp-image-2471" /></td>
			<td>Jimmer Fredette</td>
			<td>BYU</td>
			<td>Sacramento Kings</td>
		</tr>
		<tr>
			<td></td>
			<td>John Salmons</td>
			<td>Miami</td>
			<td>Sacramento Kings</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/DejuanBlair100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/DejuanBlair100.jpg" alt="" title="DejuanBlair100" width="100" height="120" class="aligncenter size-full wp-image-1368" /></a></td>
			<td>Dejuan Blair</td>
			<td>Pittsburgh</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td></td>
			<td>Cory Joseph</td>
			<td>Texas</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td></td>
			<td>Danny Green</td>
			<td>North Carolina</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td></td>
			<td>Matt Bonner</td>
			<td>Florida</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Aaron-Gray-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Aaron-Gray-100.jpg" alt="" title="Aaron Gray 100" width="100" height="120" class="aligncenter size-full wp-image-1391" /></a></td>
			<td>Aaron Gray</td>
			<td>Pittsburgh</td>
			<td>Toronto Raptors</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Kyle-Lowery-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Kyle-Lowery-100.jpg" alt="" title="Kyle Lowery 100" width="100" height="120" class="aligncenter size-full wp-image-1376" /></a></td>
			<td>Kyle Lowery</td>
			<td>Villanova</td>
			<td>Toronto Raptors</td>
		</tr>
		<tr>
			<td></td>
			<td>Ed Davis</td>
			<td>North Carolina</td>
			<td>Toronto Raptors</td>
		</tr>
		<tr>
			<td></td>
			<td>Raja Bell</td>
			<td>Florida International</td>
			<td>Utah Jazz</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/RandyFoye100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/RandyFoye100.jpg" alt="" title="RandyFoye100" width="100" height="120" class="aligncenter size-full wp-image-1379" /></a></td>
			<td>Randy Foye</td>
			<td>Villanova</td>
			<td>Utah Jazz</td>
		</tr>
		<tr>
			<td></td>
			<td>Jamal Tinsley</td>
			<td>Iowa State</td>
			<td>Utah Jazz</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/JohnWall100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/JohnWall100.jpg" alt="" title="JohnWall100" width="100" height="120" class="aligncenter size-full wp-image-1367" /></a></td>
			<td>John Wall</td>
			<td>Kentucky</td>
			<td>Washington Wizards</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Singleton</td>
			<td>Florida State</td>
			<td>Washington Wizards</td>
		</tr>
		<tr>
			<td></td>
			<td>Trevor Ariza</td>
			<td>UCLA</td>
			<td>Washington Wizards</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>AJ Price</td>
			<td>UConn</td>
			<td>Washington Wizards</td>
		</tr>
	</tbody>
</table>
