<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Home</th>
			<th>Score</th>
			<th>Visitor</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>6:30</td>
			<td>Berks Catholic</td>
			<td>62</td>
			<td>Chester</td>
			<td>69</td>
		</tr>
		<tr>
			<td>8:00</td>
			<td>Reading </td>
			<td>62</td>
			<td>Penn Wood</td>
			<td>65</td>
		</tr>
	</tbody>
</table>
