<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Kaleb Tarczewski</td>
			<td>Arizona</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65597" rel="attachment wp-att-65597"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/ThomasBryant100.jpg" alt="" width="100" height="121" class="aligncenter size-full wp-image-65597" /></a></td>
			<td>Thomas Bryant</td>
			<td>Indiana</td>
		</tr>
		<tr>
			<td></td>
			<td>Cheick Diallo</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65599" rel="attachment wp-att-65599"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/diamondstone100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65599" /></a></td>
			<td>Diamond Stone</td>
			<td>Maryland</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/KennedyMeeks100.jpg" alt="kennedymeeks100" width="100" height="120" class="aligncenter size-full wp-image-80494" /></td>
			<td>Kennedy Meeks</td>
			<td>North Carolina</td>
		</tr>
		<tr>
			<td></td>
			<td>Zach Auguste</td>
			<td>Notre Dame</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=47200" rel="attachment wp-att-47200"><img src="https://hoopgroup.com/wp-content/uploads/2014/03/DanielOchefu100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-47200" /></a></td>
			<td>Daniel Ochefu</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td></td>
			<td>Devin Williams</td>
			<td>West Virginia</td>
		</tr>
	</tbody>
</table>
