<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Visiting Team</th>
			<th></th>
			<th>Home Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>12:00</td>
			<td>Shore</td>
			<td>vs.</td>
			<td>Neptune</td>
		</tr>
		<tr>
			<td>1:40</td>
			<td>St. Anthony's</td>
			<td>vs.</td>
			<td>CBA</td>
		</tr>
		<tr>
			<td>3:20</td>
			<td>Long Branch</td>
			<td>vs.</td>
			<td>Lakewood</td>
		</tr>
		<tr>
			<td>5:00</td>
			<td>Point Beach</td>
			<td>vs.</td>
			<td>Jackson Memorial</td>
		</tr>
	</tbody>
</table>
