<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>College</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Tim Guers</td>
			<td>St. Anselm</td>
			<td>Langhorne PA</td>
		</tr>
		<tr>
			<td>Haywood Highsmith</td>
			<td>Wheeling Jesuit</td>
			<td>Baltimore MD</td>
		</tr>
		<tr>
			<td>Beau Justice</td>
			<td>Valdosta State</td>
			<td>Peebles OH</td>
		</tr>
		<tr>
			<td>Dustin Sleva</td>
			<td>Shippensburg</td>
			<td>Pittsburgh PA</td>
		</tr>
	</tbody>
</table>
