<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winner</th>
			<th>Loser</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/TyusBattlemvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45768" />Tyus Battle</td>
			<td>Gill St. Bernards  51</td>
			<td>Hun  43</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/MikeBourkemvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45775" />Mike Bourke</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/IsaiahScottmvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45769" />Isaiah Scott</td>
			<td>West Orange  46</td>
			<td>CBA  45</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/LouiePillarimvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45776" />Louie Pillari</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/quadrimooremvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45770" />Quadri Moore</td>
			<td>Linden  69</td>
			<td>Newark Tech  57</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/MustafaLawrencetipmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45777" />Mustapha Lawrence</td>
		</tr>
		<tr>
			<td>Matt Bullock<img src="https://hoopgroup.com/wp-content/uploads/2014/01/MattBullocktipmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45774" /></td>
			<td>Roselle Catholic  69</td>
			<td>Teaneck  57</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/LeandreWashingtontipmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45778" />Leandre Washington</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/TarinSmithmvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45772" />Tarin Smith</td>
			<td>St. Anthony  76</td>
			<td>Pope John  47</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/MikeZignorskimvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45780" />Mike Zignorski</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/KarlTownsmvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45773" />Karl Towns</td>
			<td>St. Joseph's Metuchen  78</td>
			<td>Shore  68</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/DanPillarimvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45781" />Dan Pillari</td>
		</tr>
	</tbody>
</table>
