<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JohnathanMotley100.jpg" alt="johnathanmotley100" width="100" height="120" class="aligncenter size-full wp-image-80422" /></td>
			<td>Johnathan Motley</td>
			<td>Baylor</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/08/amilejefferson100.jpg" alt="amilejefferson100" width="100" height="120" class="aligncenter size-full wp-image-12405" /></td>
			<td>Amile Jefferson</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td>[caption id="attachment_80412" align="aligncenter" width="100"]<img src="https://hoopgroup.com/wp-content/uploads/2016/11/carltonbragg100.jpg" alt="SONY DSC" width="100" height="120" class="size-full wp-image-80412" /></td>
			<td>Carlton Bragg</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/IsaiahHicks100.jpg" alt="isaiahhicks100" width="100" height="120" class="aligncenter size-full wp-image-80414" /></td>
			<td>Isaiah Hicks</td>
			<td>North Carolina</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/MikeYoung100.jpg" alt="MikeYoung100" width="100" height="120" class="aligncenter size-full wp-image-48175" /></td>
			<td>Michael Young</td>
			<td>Pittsburgh</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/TylerLydon100.jpg" alt="tylerlydon100" width="100" height="120" class="aligncenter size-full wp-image-80416" /></td>
			<td>Tyler Lydon</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td>[caption id="attachment_80368" align="aligncenter" width="100"]<img src="https://hoopgroup.com/wp-content/uploads/2016/11/KrisJenkins100.jpg" alt="September 24, 2011: Under Armour hosts the inaugural Grind Session at Lake Barrington Field House featuring the top 50 prep basketball players in the nation." width="100" height="120" class="size-full wp-image-80368" /></td>
			<td>Kris Jenkins</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/NigelHayes100.jpg" alt="nigelhayes100" width="100" height="120" class="aligncenter size-full wp-image-80418" /></td>
			<td>Nigel Hayes</td>
			<td>Wisconsin</td>
		</tr>
	</tbody>
</table>
