<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Team</th>
			<th>Team</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Will Kelly</td>
			<td>Hun  58</td>
			<td>Paramus Cath  41</td>
			<td>Marquel Sheffield</td>
		</tr>
		<tr>
			<td>Mike Klinger</td>
			<td>Rutgers Prep  44</td>
			<td>Hudson Cath 43</td>
			<td>Mike Young</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/12/ChrisJones1001.jpg" alt="" title="ChrisJones100" width="100" height="120" class="aligncenter size-full wp-image-14412" />Chris Jones</td>
			<td>Teaneck  53</td>
			<td>St. Joes Met 49</td>
			<td>Quentin DeCosey</td>
		</tr>
		<tr>
			<td>Jerome Frink</td>
			<td>St. Anthony's  53</td>
			<td>Trenton Cath  33</td>
			<td>Malchi Richardson</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/12/TylerEnnis1001.jpg" alt="" title="TylerEnnis100" width="100" height="120" class="aligncenter size-full wp-image-14413" />Tyler Ennis</td>
			<td>St. Benedict's  70</td>
			<td>Roselle Cath 48 </td>
			<td>Jameel Warney</td>
		</tr>
	</tbody>
</table>
