<table>
	<thead>
		<tr>
			<th>NAME</th>
			<th>TEAM</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Cheddi Mosley</td>
			<td>Sports University</td>
		</tr>
		<tr>
			<td>Wade Baldwin</td>
			<td>Sports University</td>
		</tr>
		<tr>
			<td>Chris McCullough</td>
			<td>Team Scan</td>
		</tr>
		<tr>
			<td>Conrad Chambers</td>
			<td>Team Scan</td>
		</tr>
		<tr>
			<td>Temple Gibbs</td>
			<td>New Heights</td>
		</tr>
		<tr>
			<td>Jake Dadika</td>
			<td>NJ Pirates</td>
		</tr>
		<tr>
			<td>Myles Mooney</td>
			<td>Asbury Park Rec</td>
		</tr>
		<tr>
			<td>Nathan Feiertag</td>
			<td>Lehigh Valley</td>
		</tr>
		<tr>
			<td>Jackson Donahue</td>
			<td>RI Hawks</td>
		</tr>
		<tr>
			<td>Tyler Ancrum</td>
			<td>Riverside Hawks</td>
		</tr>
		<tr>
			<td>Ryan Pittman</td>
			<td>East Coast</td>
		</tr>
		<tr>
			<td>Jesse Warech</td>
			<td>NJ Panthers</td>
		</tr>
		<tr>
			<td>Isiah Nelsen</td>
			<td>NE Storm</td>
		</tr>
		<tr>
			<td>Michael Moliere</td>
			<td>Positive Direction</td>
		</tr>
		<tr>
			<td>Anthony Mallory</td>
			<td>ShoreShots</td>
		</tr>
	</tbody>
</table>
