<table>
	<thead>
		<tr>
			<th></th>
			<th>Winner</th>
			<th>Loser</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/lesterquinones100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91314" />MVP - Lester Quinones</td>
			<td>St. Benedict's  63 </td>
			<td>Our Savior New American  52</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/clarencenadolny100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91316" />MVP - Clarence Nadolny</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/keenanworthington100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91245" />MVP - Keenan Worthington</td>
			<td>Blair  69</td>
			<td>CBA  50</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/joshcohen100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91318" />MVP - Josh Cohen</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/LouisKingtip17100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91247" />MVP - Louis King</td>
			<td>Hudson Catholic  82</td>
			<td>Pope John  55</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/aaronclarketip17100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91320" />MVP - Aaron Clarke</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/nahshonbattle100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91322" />MVP - Nahshon Battle</td>
			<td>Rutgers Prep  68</td>
			<td>Union Catholic  65</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/12/ibnlynn100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-91325" />MVP - Ibn Lynn</td>
		</tr>
	</tbody>
</table>
