<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/DJMitchell100.jpg" alt="djmitchell100" width="100" height="120" class="aligncenter size-full wp-image-81568" />MVP - Dehron Mitchell</td>
			<td>Immaculate Conception  82</td>
			<td>East Orange  42</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/SupremeCook100.jpg" alt="supremecook100" width="100" height="120" class="aligncenter size-full wp-image-81570" />MVP - Supreme Cook</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/MarcellusEarlington100.jpg" alt="marcellusearlington100" width="100" height="120" class="aligncenter size-full wp-image-81572" />MVP - Marcellus Earlington</td>
			<td>Don Bosco Prep  64</td>
			<td>Gill St. Bernards  56</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/AlexSchachne100.jpg" alt="alexschachne100" width="100" height="120" class="aligncenter size-full wp-image-81573" />MVP - Alex Schachne</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/ElijahOlaniyimvp100.jpg" alt="elijaholaniyimvp100" width="100" height="120" class="aligncenter size-full wp-image-81576" />MVP - Elijah Olaniyi</td>
			<td>Newark East Side  48</td>
			<td>Teaneck  38</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/JaquayJamesmvp100.jpg" alt="jaquayjamesmvp100" width="100" height="120" class="aligncenter size-full wp-image-81577" />MVP - Ja'Quaye James</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/NatePierreLouismvp100.jpg" alt="natepierrelouismvp100" width="100" height="120" class="aligncenter size-full wp-image-81584" />MVP - Nate Pierre-Louis</td>
			<td>Roselle Catholic  71</td>
			<td>Pope John  58</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/SambaDiallomvp100.jpg" alt="sambadiallomvp100" width="100" height="120" class="aligncenter size-full wp-image-81585" />MVP - Samba Diallo</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/JabriAbduRrahimmvp100.jpg" alt="jabriabdurrahimmvp100" width="100" height="120" class="aligncenter size-full wp-image-81587" />MVP - Jabri Abdur-Rahim</td>
			<td>Seton Hall Prep  63</td>
			<td>Columbia  52</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/BrandonAskewmvp100.jpg" alt="brandonaskewmvp100" width="100" height="120" class="aligncenter size-full wp-image-81588" />MVP - Brandon Askew</td>
		</tr>
	</tbody>
</table>
