<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Georges Niang</td>
			<td>Iowa State</td>
		</tr>
		<tr>
			<td></td>
			<td>Beejay Anga</td>
			<td>NC State</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65435" rel="attachment wp-att-65435"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/MarkusKennedy100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65435" /></a></td>
			<td>Markus Kennedy</td>
			<td>SMU</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65436" rel="attachment wp-att-65436"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/JameelWarney100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65436" /></a></td>
			<td>Jameel Warney</td>
			<td>Stony Brook</td>
		</tr>
		<tr>
			<td></td>
			<td>Anton Grady</td>
			<td>Wichita State</td>
		</tr>
	</tbody>
</table>
