<table>
	<thead>
		<tr>
			<th></th>
			<th>Home</th>
			<th></th>
			<th>Visitor</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>2:30</td>
			<td>Immaculate Conception</td>
			<td>vs.</td>
			<td>East Orange</td>
		</tr>
		<tr>
			<td>4:00</td>
			<td>Don Bosco Prep</td>
			<td>vs.</td>
			<td>Gill St. Bernards</td>
		</tr>
		<tr>
			<td>5:30</td>
			<td>Newark East Side</td>
			<td>vs.</td>
			<td>Teaneck</td>
		</tr>
		<tr>
			<td>7:00</td>
			<td>Roselle Catholic</td>
			<td>vs.</td>
			<td>Pope John</td>
		</tr>
		<tr>
			<td>8:30</td>
			<td>Columbia</td>
			<td>vs.</td>
			<td>Seton Hall Prep</td>
		</tr>
	</tbody>
</table>
