<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Ewens Jean-Baptiste</td>
			<td>Queen of Peace NJ</td>
		</tr>
		<tr>
			<td>Jayden Depina</td>
			<td>Nativity MA</td>
		</tr>
		<tr>
			<td>Jamir Patterson</td>
			<td>Kingsway NJ</td>
		</tr>
		<tr>
			<td>Sincere Lopez</td>
			<td>Riverside VA</td>
		</tr>
		<tr>
			<td>Josh Kline</td>
			<td>Central Valley PA</td>
		</tr>
		<tr>
			<td>Robert Young</td>
			<td>Abington PA</td>
		</tr>
		<tr>
			<td>Kamau Mitchell</td>
			<td>St. Mary's Ryken MD</td>
		</tr>
		<tr>
			<td>Sami Al Uariachi</td>
			<td>Kaust Saudi Arabia</td>
		</tr>
		<tr>
			<td>RJ Bell</td>
			<td>Canon McMillan PA</td>
		</tr>
		<tr>
			<td>Lawrence Rowley</td>
			<td>Huron MI</td>
		</tr>
		<tr>
			<td>Aaron Kim</td>
			<td>Flint Hill VA</td>
		</tr>
		<tr>
			<td>Drew Nolan</td>
			<td>Choate Rosemary Hall CT</td>
		</tr>
		<tr>
			<td>Tymier Comfort</td>
			<td>Reading PA</td>
		</tr>
		<tr>
			<td>Foday Gassama</td>
			<td>Boys &amp; Girls NY</td>
		</tr>
		<tr>
			<td>Jay Johnson</td>
			<td>Locust Valley NY</td>
		</tr>
		<tr>
			<td>Brandon Redondo</td>
			<td>Lee Academy ME</td>
		</tr>
		<tr>
			<td>Ben Harris</td>
			<td>Westland OH</td>
		</tr>
		<tr>
			<td>Andre Fanning</td>
			<td>Glenelg County MD</td>
		</tr>
		<tr>
			<td>Rich Sikiric</td>
			<td>Northern Highlands NJ</td>
		</tr>
		<tr>
			<td>Trent Buttrick</td>
			<td>Community School FL</td>
		</tr>
	</tbody>
</table>
