<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/EricKlacik100.jpg" alt="" title="EricKlacik100" width="100" height="120" class="aligncenter size-full wp-image-12828" /></td>
			<td>Erik Klacik</td>
			<td>Ridge NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Brendan O'Connell</td>
			<td>Phillips Academy MA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TylerVincent100.jpg" alt="" title="TylerVincent100" width="100" height="120" class="aligncenter size-full wp-image-12848" /></td>
			<td>Tyler Vincent</td>
			<td>Bloomsburg PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AlexRadkiewicz100.jpg" alt="" title="AlexRadkiewicz100" width="100" height="120" class="aligncenter size-full wp-image-12829" /></td>
			<td>Alex Radkiewicz</td>
			<td>Olentagy Liberty OH</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TyrellMason100.jpg" alt="" title="TyrellMason100" width="100" height="120" class="aligncenter size-full wp-image-12849" /></td>
			<td>Tyrell Mason</td>
			<td>Mountain View VA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/PhillipMadison100.jpg" alt="" title="PhillipMadison100" width="100" height="120" class="aligncenter size-full wp-image-12850" /></td>
			<td>Phillip Madison</td>
			<td>Greater Johnstown PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AustinHill100.jpg" alt="" title="AustinHill100" width="100" height="120" class="aligncenter size-full wp-image-12830" /></td>
			<td>Austin Hill</td>
			<td>Hopewell Valley NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MattGerak100.jpg" alt="" title="MattGerak100" width="100" height="120" class="aligncenter size-full wp-image-12851" /></td>
			<td>Matt Gerak</td>
			<td>Masuk CT</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/BenPick100.jpg" alt="" title="BenPick100" width="100" height="120" class="aligncenter size-full wp-image-12831" /></td>
			<td>Ben Pick</td>
			<td>Chestnut Ridge PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JoeTimmes100.jpg" alt="" title="JoeTimmes100" width="100" height="120" class="aligncenter size-full wp-image-12832" /></td>
			<td>Joe Timmes</td>
			<td>Chatham NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/VanceRochester100.jpg" alt="" title="VanceRochester100" width="100" height="120" class="aligncenter size-full wp-image-12852" /></td>
			<td>Vance Rochester</td>
			<td>Seton Hall Prep NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/StephenHimmelberg100.jpg" alt="" title="StephenHimmelberg100" width="100" height="120" class="aligncenter size-full wp-image-12853" /></td>
			<td>Stephen Himmelberg</td>
			<td>Chapel Hill NC</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/EricHoadley100.jpg" alt="" title="EricHoadley100" width="100" height="120" class="aligncenter size-full wp-image-12833" /></td>
			<td>Eric Hoadley</td>
			<td>Quince Orchard MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/BillyBarnes100.jpg" alt="" title="BillyBarnes100" width="100" height="120" class="aligncenter size-full wp-image-12834" /></td>
			<td>Billy Barnes</td>
			<td>Walsingham Academy VA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/DanielRutecki100.jpg" alt="" title="DanielRutecki100" width="100" height="120" class="aligncenter size-full wp-image-12835" /></td>
			<td>Daniel Rutecki</td>
			<td>Springfield PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/CameronDeFronzo100.jpg" alt="" title="CameronDeFronzo100" width="100" height="120" class="aligncenter size-full wp-image-12836" /></td>
			<td>Cameron DeFronzo</td>
			<td>Governor Livingston NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JuanBrown100.jpg" alt="" title="JuanBrown100" width="100" height="120" class="aligncenter size-full wp-image-12837" /></td>
			<td>Juan Brown</td>
			<td>Annapolis MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/RyanHuegel100.jpg" alt="" title="RyanHuegel100" width="100" height="120" class="aligncenter size-full wp-image-12854" /></td>
			<td>Ryan Huegel</td>
			<td>Briarcliff NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ElijahFrater100.jpg" alt="" title="ElijahFrater100" width="100" height="120" class="aligncenter size-full wp-image-12838" /></td>
			<td>Elijah Frater</td>
			<td>Trevor Day NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/PatrickKennedy100.jpg" alt="" title="PatrickKennedy100" width="100" height="120" class="aligncenter size-full wp-image-12855" /></td>
			<td>Patrick Kennedy</td>
			<td>Paul VI VA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JustinMcFadden100.jpg" alt="" title="JustinMcFadden100" width="100" height="120" class="aligncenter size-full wp-image-12766" /></td>
			<td>Justin McFadden</td>
			<td>Lower Merion PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TylerEyre100.jpg" alt="" title="TylerEyre100" width="100" height="120" class="aligncenter size-full wp-image-12856" /></td>
			<td>Tyler Eyre</td>
			<td>Vandegrift TX</td>
		</tr>
	</tbody>
</table>
