<table>
	<thead>
		<tr>
			<th></th>
			<th>NAME</th>
			<th>TEAM</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Eric Anderson</td>
			<td>Jersey Shore Warriors</td>
		</tr>
		<tr>
			<td></td>
			<td>Kyle Thompson</td>
			<td>Jersey Shore Warriors</td>
		</tr>
		<tr>
			<td></td>
			<td>Ahmad Baker</td>
			<td>Playaz 16's</td>
		</tr>
		<tr>
			<td></td>
			<td>Nassir Barrino</td>
			<td>Playaz 16's</td>
		</tr>
		<tr>
			<td></td>
			<td>Troy McLaughlin</td>
			<td>Riverside</td>
		</tr>
		<tr>
			<td></td>
			<td>Ed Dominguez</td>
			<td>King Street Kings</td>
		</tr>
		<tr>
			<td></td>
			<td>Isiah Briscoe</td>
			<td>Playaz</td>
		</tr>
		<tr>
			<td></td>
			<td>Marques Townes</td>
			<td>Playaz</td>
		</tr>
		<tr>
			<td></td>
			<td>Matt Staubi</td>
			<td>Team Frenji</td>
		</tr>
		<tr>
			<td></td>
			<td>Lamont Twyman</td>
			<td>Valley Sportsmen</td>
		</tr>
		<tr>
			<td></td>
			<td>Jaquan Ingraham</td>
			<td>Valley Sportsmen</td>
		</tr>
		<tr>
			<td></td>
			<td>Jonathan Devenda</td>
			<td>CT Select Bombers</td>
		</tr>
		<tr>
			<td></td>
			<td>Dion Wiley</td>
			<td>MD Ruff Riders</td>
		</tr>
		<tr>
			<td></td>
			<td>Calvin Crawford</td>
			<td>BC Eagles</td>
		</tr>
		<tr>
			<td></td>
			<td>Daquon Ervin</td>
			<td>RI Hawks</td>
		</tr>
		<tr>
			<td></td>
			<td>Sean Hoehn</td>
			<td>NJ Thunder</td>
		</tr>
		<tr>
			<td></td>
			<td>Jake Dadika</td>
			<td>NJ Pirates</td>
		</tr>
		<tr>
			<td></td>
			<td>Beni Toure</td>
			<td>Reach One Teach One</td>
		</tr>
		<tr>
			<td></td>
			<td>Avery Filer</td>
			<td>Legendary Hoops</td>
		</tr>
		<tr>
			<td></td>
			<td>Kerem Kanter</td>
			<td>NE Playaz</td>
		</tr>
		<tr>
			<td></td>
			<td>Kahari Beaufort</td>
			<td>CT Elite Hawks</td>
		</tr>
		<tr>
			<td></td>
			<td>Zaheem Beal</td>
			<td>Wayne PAL Wolfpack</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
