<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Stephen Ferraro</td>
			<td>Jersey City Boys Club</td>
		</tr>
		<tr>
			<td>Jack Sheehan</td>
			<td>Jersey City Boys Club</td>
		</tr>
		<tr>
			<td>Sadiq Palmer</td>
			<td>Force</td>
		</tr>
		<tr>
			<td>Ryan Jensen</td>
			<td>Force</td>
		</tr>
		<tr>
			<td>Edriece Patterson</td>
			<td>Radiant Suns</td>
		</tr>
		<tr>
			<td>Elliot Brown</td>
			<td>6th Man Warriors</td>
		</tr>
		<tr>
			<td>Dajour Armstrong</td>
			<td>Jersey Jayhwks</td>
		</tr>
	</tbody>
</table>
