<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College Attended</th>
			<th>NBA Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/03/ShelvinMack100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-7979" /></td>
			<td>Shelvin Mack</td>
			<td>Butler</td>
			<td>Atlanta Hawks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/MikeScott-1.jpg" alt="MikeScott" width="100" height="120" class="aligncenter size-full wp-image-71179" /><img src="https://hoopgroup.com/wp-content/uploads/2014/02/hardawayjr-e1392232513478.jpg" alt="hardawayjr" width="100" height="102" class="aligncenter size-full wp-image-46734" />

<img src="https://hoopgroup.com/wp-content/uploads/2016/02/MikeScott.jpg" alt="MikeScott" width="100" height="120" class="aligncenter size-full wp-image-71178" /></td>
			<td>Mike Scott</td>
			<td>Virginia</td>
			<td>Atlanta Hawks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/TimHardaway100.jpg" alt="TimHardaway100" width="100" height="120" class="aligncenter size-full wp-image-71181" /></td>
			<td>Tim Hardaway</td>
			<td>Michigan</td>
			<td>Atlanta Hawks</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65797" rel="attachment wp-att-65797"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Lamar-Patterson-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65797" /></a></td>
			<td>Lamar Patterson</td>
			<td>Pittsburgh</td>
			<td>Atlanta Hawks</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/02/jaredsullinger2100.jpg" alt="" title="jaredsullinger2100" width="100" height="120" class="aligncenter size-full wp-image-15435" /></td>
			<td>Jared Sullinger</td>
			<td>Ohio State</td>
			<td>Boston Celtics</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/TerryRozier100.jpg" alt="TerryRozier100" width="100" height="120" class="aligncenter size-full wp-image-71117" /></td>
			<td>Terry Rozier</td>
			<td>Louisville</td>
			<td>Boston Celtics</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Wayne-Ellington-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Wayne-Ellington-100.jpg" alt="" title="Wayne Ellington 100" width="100" height="120" class="aligncenter size-full wp-image-1389" /></a></td>
			<td>Wayne Ellington</td>
			<td>North Carolina</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/ThomasRobinson100.jpg" alt="ThomasRobinson100" width="100" height="120" class="aligncenter size-full wp-image-71183" /></td>
			<td>Thomas Robinson</td>
			<td>Kansas</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65793" rel="attachment wp-att-65793"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/RondaeJefferson1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65793" /></a></td>
			<td>Rondae Hollis-Jefferson</td>
			<td>Arizona</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65794" rel="attachment wp-att-65794"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Chris-McCullough-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65794" /></a></td>
			<td>Chris McCullough</td>
			<td>Syracuse</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/03/MikeGilchrist100.jpg" alt="" title="MikeGilchrist100" width="100" height="120" class="aligncenter size-full wp-image-8596" /></td>
			<td>Michael Kidd Gilchrist</td>
			<td>Kentucky</td>
			<td>Charlotte Hornets</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Kemba-Walker-1001.jpg" alt="" title="Kemba Walker 100" width="100" height="120" class="aligncenter size-full wp-image-2461" /></td>
			<td>Kemba Walker</td>
			<td>UConn</td>
			<td>Charlotte Hornets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/codyzeller100.jpg" alt="codyzeller100" width="100" height="120" class="aligncenter size-full wp-image-71011" /></td>
			<td>Cody Zeller</td>
			<td>Indiana</td>
			<td>Charlotte Hornets</td>
		</tr>
		<tr>
			<td>[caption id="attachment_65792" align="aligncenter" width="100"]<a href="http://hoopgroup.com/?attachment_id=65792" rel="attachment wp-att-65792"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/AaronHarrison100.jpg" alt="" width="100" height="120" class="size-full wp-image-65792" /></a> </td>
			<td>Aaron Harrison</td>
			<td>Kentucky</td>
			<td>Charlotte Hornets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JoakimNoah100.jpg" alt="JoakimNoah100" width="100" height="122" class="aligncenter size-full wp-image-71054" /></td>
			<td>Joakim Noah</td>
			<td>Florida</td>
			<td>Chicago Bulls</td>
		</tr>
		<tr>
			<td></td>
			<td>Taj Gibson</td>
			<td>USC</td>
			<td>Chicago Bulls</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65826" rel="attachment wp-att-65826"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/SashaKaun100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65826" /></a></td>
			<td>Sasha Kaun</td>
			<td>Kansas</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/TristanThompson100.jpg" alt="" title="TristanThompson100" width="100" height="120" class="aligncenter size-full wp-image-2979" /></td>
			<td>Tristan Thompson</td>
			<td>Texas</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Kyrie-Irving-100.jpg" alt="" title="Kyrie Irving 100" width="100" height="120" class="aligncenter size-full wp-image-2943" /></td>
			<td>Kyrie Irving</td>
			<td>Duke</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/01/JR-Smith-100.jpg" alt="" title="JR Smith 100" width="100" height="120" class="aligncenter size-full wp-image-1276" /></td>
			<td>JR Smith</td>
			<td>St. Benedict's NJ</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/ImanShumpert100.jpg" alt="ImanShumpert100" width="100" height="120" class="aligncenter size-full wp-image-71187" /></td>
			<td>Iman Shumpert</td>
			<td>Georgia Tech</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65800" rel="attachment wp-att-65800"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/JustinAnderson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65800" /></a></td>
			<td>Justin Anderson</td>
			<td>Virginia</td>
			<td>Dallas Mavericks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DeronWilliams100-1.jpg" alt="DeronWilliams100" width="100" height="120" class="aligncenter size-full wp-image-71138" /></td>
			<td>Deron Williams</td>
			<td>Illinois</td>
			<td>Dallas Mavericks</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/CharlieVillanueva100.jpg" alt="" title="CharlieVillanueva100" width="100" height="120" class="aligncenter size-full wp-image-4339" /></td>
			<td>Charlie Villanueva</td>
			<td>UConn</td>
			<td>Dallas Mavericks</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/11/RayFelton100.jpg" alt="" title="RayFelton100" width="100" height="120" class="aligncenter size-full wp-image-27007" /></td>
			<td>Raymond Felton</td>
			<td>North Carolina</td>
			<td>Dallas Mavericks</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Jameer-Nelson-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Jameer-Nelson-100.jpg" alt="" title="Jameer Nelson 100" width="100" height="120" class="aligncenter size-full wp-image-1372" /></a></td>
			<td>Jameer Nelson</td>
			<td>St. Joseph's</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/GaryHarris100.jpg" alt="GaryHarris100" width="100" height="120" class="aligncenter size-full wp-image-71189" /></td>
			<td>Gary Harris</td>
			<td>Michigan State</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/RandyFoye100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/RandyFoye100.jpg" alt="" title="RandyFoye100" width="100" height="120" class="aligncenter size-full wp-image-1379" /></a></td>
			<td>Randy Foye</td>
			<td>Villanova</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/07/WillBarton100.jpg" alt="" title="WillBarton100" width="100" height="120" class="aligncenter size-full wp-image-22130" /></td>
			<td>Will Barton</td>
			<td>Memphis</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/KenFaried100.jpg" alt="" title="KenFaried100" width="100" height="120" class="aligncenter size-full wp-image-9047" /></td>
			<td>Ken Faried</td>
			<td>Morehead State</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/03/AndreDrummond100.jpg" alt="" title="AndreDrummond100" width="100" height="120" class="aligncenter size-full wp-image-18923" /></td>
			<td>Andre Drummond</td>
			<td>Connecticut</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td></td>
			<td>Joel Anthony</td>
			<td>UNLV</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td></td>
			<td>Jodie Meeks</td>
			<td>Kentucky</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td></td>
			<td>Steve Blake</td>
			<td>Maryland</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Marcus-Morris-100.jpg" alt="" title="Marcus Morris 100" width="100" height="120" class="aligncenter size-full wp-image-1399" /></td>
			<td>Marcus Morris</td>
			<td>Kansas</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td></td>
			<td>Reggie Bullock</td>
			<td>North Carolina</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65811" rel="attachment wp-att-65811"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/DarrunHilliard100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65811" /></a></td>
			<td>Darrun Hilliard</td>
			<td>Villanova</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td></td>
			<td>Shaun Livingston</td>
			<td>Peoria Central IL HS</td>
			<td>Golden State Warriors</td>
		</tr>
		<tr>
			<td></td>
			<td>Brandon Rush</td>
			<td>Kansas</td>
			<td>Golden State Warriors</td>
		</tr>
		<tr>
			<td></td>
			<td>Jason Thompson</td>
			<td>Rider</td>
			<td>Golden State Warriors</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/DwightHoward100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/DwightHoward100.jpg" alt="" title="DwightHoward100" width="100" height="120" class="aligncenter size-full wp-image-1373" /></a></td>
			<td>Dwight Howard</td>
			<td>Southwest Atlanta Christian</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td></td>
			<td>Ty Lawson</td>
			<td>North Carolina</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JamesHarden100.jpg" alt="JamesHarden100" width="100" height="120" class="aligncenter size-full wp-image-70774" /></td>
			<td>James Harden</td>
			<td>Arizona State</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/MontrezlHarrell100.jpeg" alt="MontrezlHarrell100" width="100" height="120" class="aligncenter size-full wp-image-71127" /></td>
			<td>Montrezl Harris</td>
			<td>Louisville</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td></td>
			<td>Trevor Ariza</td>
			<td>UCLA</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/PaulGeorge100.jpg" alt="PaulGeorge100" width="100" height="120" class="aligncenter size-full wp-image-70770" /></td>
			<td>Paul George</td>
			<td>Fresno State</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td></td>
			<td>Lavoy Allen</td>
			<td>Temple</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65798" rel="attachment wp-att-65798"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/RakeemChristmas100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65798" /></a></td>
			<td>Rakeem Christmas</td>
			<td>Syracuse</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td></td>
			<td>Glen Robinson</td>
			<td>Michigan</td>
			<td>Indiana Pacers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Chris-Paul-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Chris-Paul-100.jpg" alt="" title="Chris Paul 100" width="100" height="120" class="aligncenter size-full wp-image-1254" /></a></td>
			<td>Chris Paul</td>
			<td>Wake Forest</td>
			<td>Los Angeles Clippers</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65812" rel="attachment wp-att-65812"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/BrandenDawson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65812" /></a></td>
			<td>Branden Dawson</td>
			<td>Michigan State</td>
			<td>Los Angeles Clippers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/JoshSmith1001.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/JoshSmith1001.jpg" alt="" title="JoshSmith100" width="100" height="120" class="aligncenter size-full wp-image-1256" /></a></td>
			<td>Josh Smith</td>
			<td>Oak Hill Academy HS</td>
			<td>Los Angeles Clippers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Lance-Stevenson-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Lance-Stevenson-100.jpg" alt="" title="Lance Stevenson 100" width="100" height="120" class="aligncenter size-full wp-image-1377" /></a></td>
			<td>Lance Stephenson</td>
			<td>Cincinnati</td>
			<td>Los Angeles Clippers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JJReddick100.jpg" alt="JJReddick100" width="100" height="120" class="aligncenter size-full wp-image-70834" /></td>
			<td>JJ Reddick</td>
			<td>Duke</td>
			<td>Los Angeles Clippers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/RoyHibbert100.jpg" alt="RoyHibbert100" width="100" height="135" class="aligncenter size-full wp-image-71058" /></td>
			<td>Roy Hibbert</td>
			<td>Georgetown</td>
			<td>Los Angeleles Lakers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/RyanKelly100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18907" /></td>
			<td>Ryan Kelly</td>
			<td>Duke</td>
			<td>Los Angeleles Lakers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/KobeBryant100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/KobeBryant100.jpg" alt="" title="KobeBryant100" width="100" height="120" class="aligncenter size-full wp-image-1380" /></a></td>
			<td>Kobe Bryant</td>
			<td>Lower Merion HS PA</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65801" rel="attachment wp-att-65801"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Ron-Artest-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65801" /></a></td>
			<td>Metta World Peace</td>
			<td>St. John's</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DeangleoRussell100.jpg" alt="DeangleoRussell100" width="100" height="120" class="aligncenter size-full wp-image-71115" /></td>
			<td>D'Angelo Russell</td>
			<td>Ohio State</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/LarryNance100.jpg" alt="LarryNance100" width="100" height="120" class="aligncenter size-full wp-image-71125" /></td>
			<td>Larry Nance</td>
			<td>Wyoming</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/VinceCarter100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/VinceCarter100.jpg" alt="" title="VinceCarter100" width="100" height="120" class="aligncenter size-full wp-image-1374" /></a></td>
			<td>Vince Carter</td>
			<td>North Carolina</td>
			<td>Memphis Grizzlies</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/06/RussSmith100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-51785" /></td>
			<td>Russ Smith</td>
			<td>Louisville</td>
			<td>Memphis Grizzlies</td>
		</tr>
		<tr>
			<td></td>
			<td>Jeff Green</td>
			<td>Georgetown</td>
			<td>Memphis Grizzlies</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Luol-Deng-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Luol-Deng-100.jpg" alt="" title="Luol Deng 100" width="100" height="120" class="aligncenter size-full wp-image-1260" /></a></td>
			<td>Luol Deng</td>
			<td>Duke</td>
			<td>Miami Heat</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65799" rel="attachment wp-att-65799"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/HassanWhiteside120.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65799" /></a></td>
			<td>Hassan Whiteside</td>
			<td>Marshall</td>
			<td>Miami Heat</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/chrisbosh2100.jpg" alt="chrisbosh2100" width="100" height="120" class="aligncenter size-full wp-image-70769" /></td>
			<td>Chris Bosh</td>
			<td>Georgia Tech</td>
			<td>Miami Heat</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Amare-Stoudamire-1001.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Amare-Stoudamire-1001.jpg" alt="" title="Amare Stoudamire 100" width="100" height="120" class="aligncenter size-full wp-image-1392" /></a></td>
			<td>Amare Stoudemire</td>
			<td>Cypress Creek HS FL</td>
			<td>Miami Heat</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/oj-mayo100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/oj-mayo100.jpg" alt="" title="oj mayo100" width="100" height="120" class="aligncenter size-full wp-image-1386" /></a></td>
			<td>OJ Mayo</td>
			<td>USC</td>
			<td>Milwaukee Bucks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/MichaelCarterWilliams100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44624" /></td>
			<td>Michael Carter-Williams</td>
			<td>Syracuse</td>
			<td>Milwaukee Bucks</td>
		</tr>
		<tr>
			<td></td>
			<td>Miles Plumlee</td>
			<td>Duke</td>
			<td>Milwaukee Bucks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/12/TylerEnnis1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-14413" /></td>
			<td>Tyler Ennis</td>
			<td>Syracuse</td>
			<td>Milwaukee Bucks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/AndrewWiggins100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46420" /></td>
			<td>Andrew Wiggins</td>
			<td>Kansas</td>
			<td>Minnesota Timberwolves</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/AdreinPayne.jpg" alt="AdreinPayne" width="150" height="200" class="aligncenter size-full wp-image-6971" /></td>
			<td>Adreian Payne</td>
			<td>Michigan State</td>
			<td>Minnesota Timberwolves</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65813" rel="attachment wp-att-65813"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/KarlTownsmvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65813" /></a></td>
			<td>Karl Anthony-Towns</td>
			<td>Kentucky</td>
			<td>Minnesota Timberwolves</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Tyreke-Evans-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Tyreke-Evans-100.jpg" alt="" title="Tyreke Evans 100" width="100" height="120" class="aligncenter size-full wp-image-1370" /></a></td>
			<td>Tyreke Evans</td>
			<td>Memphis</td>
			<td>New Orleans Pelicans</td>
		</tr>
		<tr>
			<td></td>
			<td>Eric Gordon</td>
			<td>Indiana</td>
			<td>New Orleans Pelicans</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=65817" rel="attachment wp-att-65817"><img src="https://hoopgroup.com/wp-content/uploads/2015/10/DanteCunningham100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-65817" /></a></td>
			<td>Dante Cunningham</td>
			<td>Villanova</td>
			<td>New Orleans Pelicans</td>
		</tr>
		<tr>
			<td></td>
			<td>Kyle O'Quinn</td>
			<td>Norfolk State</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2011/02/LanceThomas100.jpg" alt="" title="LanceThomas100" width="100" height="120" class="aligncenter size-full wp-image-2520" /></td>
			<td>Lance Thomas</td>
			<td>Duke</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JERIANGRANT100.jpg" alt="JERIANGRANT100" width="100" height="120" class="aligncenter size-full wp-image-71121" /></td>
			<td>Jerian Grant</td>
			<td>Notre Dame</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td></td>
			<td>Cleanthony Early</td>
			<td>Wichita State</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td></td>
			<td>Arron Afflalo</td>
			<td>UCLA</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Carmelo-Anthony-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Carmelo-Anthony-100.jpg" alt="" title="Carmelo Anthony 100" width="100" height="120" class="aligncenter size-full wp-image-1253" /></a></td>
			<td>Carmelo Anthony</td>
			<td>Syracuse</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/kevindurant100.jpg" alt="" title="kevindurant100" width="100" height="120" class="aligncenter size-full wp-image-7585" /></td>
			<td>Kevin Durant</td>
			<td>Texas</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/03/DionWaiters100.jpg" alt="" title="DionWaiters100" width="100" height="120" class="aligncenter size-full wp-image-18827" /></td>
			<td>Dion Waiters</td>
			<td>Syracuse</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/02/MitchMcGarry100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-15308" /></td>
			<td>Mitch McGarry</td>
			<td>Michigan</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td></td>
			<td>Jason Smith</td>
			<td>Colorado State</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td></td>
			<td>Andrew Nicholson</td>
			<td>St. Bonaventure</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/ShabazzNapier100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-48235" /></td>
			<td>Shabazz Napier</td>
			<td>UConn</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/03/TobiasHarris100.jpg" alt="" title="TobiasHarris100" width="100" height="120" class="aligncenter size-full wp-image-7664" /></td>
			<td>Tobias Harris</td>
			<td>Tennessee</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td></td>
			<td>Kendall Marshall</td>
			<td>North Carolina</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/nerlens-noel-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44659" /></td>
			<td>Nerlens Noel</td>
			<td>Kentucky</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td></td>
			<td>TJ McConnell</td>
			<td>Arizona</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td></td>
			<td>Jerami Grant</td>
			<td>Syracuse</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td></td>
			<td>Jakarr Sampson</td>
			<td>St. John's</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td></td>
			<td>Nik Stauskus</td>
			<td>Michigan</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/MarkeifMorris100.jpg" alt="" title="MarkeifMorris100" width="100" height="120" class="aligncenter size-full wp-image-2674" /></td>
			<td>Markieff Morris</td>
			<td>Kansas</td>
			<td>Phoenix Suns</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Brandon-Knight-100.jpg" alt="" title="Brandon Knight 100" width="100" height="120" class="aligncenter size-full wp-image-2970" /></td>
			<td>Brandon Knight</td>
			<td>Kentucky</td>
			<td>Phoenix Suns</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DamianLillard100.jpg" alt="DamianLillard100" width="100" height="120" class="aligncenter size-full wp-image-71047" /></td>
			<td>Damian Lillard</td>
			<td>Weber State</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td></td>
			<td>Ed Davis</td>
			<td>North Carolina</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/07/MauriceHarkless100.jpg" alt="" title="MauriceHarkless100" width="100" height="120" class="aligncenter size-full wp-image-22129" /></td>
			<td>Maurice Harkless</td>
			<td>St. John's</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/geraldhenderson100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/geraldhenderson100.jpg" alt="" title="geraldhenderson100" width="100" height="120" class="aligncenter size-full wp-image-1258" /></a></td>
			<td>Gerald Henderson</td>
			<td>Duke</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/02/NoahVonleh100.png" alt="" width="100" height="120" class="aligncenter size-full wp-image-28819" /></td>
			<td>Noah Vonleh</td>
			<td>Indiana</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/Mason-Plumlee-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-7187" /></td>
			<td>Mason Plumlee</td>
			<td>Duke</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/CJMcCollum100.jpg" alt="CJMcCollum100" width="100" height="120" class="aligncenter size-full wp-image-70778" /></td>
			<td>CJ McCollum</td>
			<td>Lehigh</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td></td>
			<td>Kosta Koufos</td>
			<td>Ohio State</td>
			<td>Sacramento Kings</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/11/caronbutler100.jpg" alt="" title="caronbutler100" width="100" height="120" class="aligncenter size-full wp-image-27008" /></td>
			<td>Caron Butler</td>
			<td>UConn</td>
			<td>Sacramento Kings</td>
		</tr>
		<tr>
			<td></td>
			<td>Rudy Gay</td>
			<td>UConn</td>
			<td>Sacramento Kings</td>
		</tr>
		<tr>
			<td></td>
			<td>Matt Bonner</td>
			<td>Florida</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td></td>
			<td>Ray McCallum</td>
			<td>Detroit</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td></td>
			<td>Danny Green</td>
			<td>North Carolina</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/LaMarcusAldridge100.jpg" alt="LaMarcusAldridge100" width="100" height="120" class="aligncenter size-full wp-image-70772" /></td>
			<td>LaMarcus Aldridge</td>
			<td>Texas</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/KyleAnderson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-48463" /></td>
			<td>Kyle Anderson</td>
			<td>UCLA</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DavidWest100-1.jpg" alt="DavidWest100" width="100" height="120" class="aligncenter size-full wp-image-71068" /></td>
			<td>David West</td>
			<td>Xavier</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=66046" rel="attachment wp-att-66046"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/Rasual-Butler-1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66046" /></a></td>
			<td>Rasual Butler</td>
			<td>La Salle</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td></td>
			<td>Cory Joseph</td>
			<td>Texas</td>
			<td>Toronto Raptors</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/Kyle-Lowery-100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/Kyle-Lowery-100.jpg" alt="" title="Kyle Lowery 100" width="100" height="120" class="aligncenter size-full wp-image-1376" /></a></td>
			<td>Kyle Lowery</td>
			<td>Villanova</td>
			<td>Toronto Raptors</td>
		</tr>
		<tr>
			<td></td>
			<td>Patrick Patterson</td>
			<td>Kentucky</td>
			<td>Toronto Raptors</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DelonWright100.jpg" alt="DelonWright100" width="100" height="120" class="aligncenter size-full wp-image-71134" /></td>
			<td>Delon Wright</td>
			<td>Utah</td>
			<td>Toronto Raptors</td>
		</tr>
		<tr>
			<td></td>
			<td>Anthony Bennett</td>
			<td>UNLV</td>
			<td>Toronto Raptors</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/04/TreyBurke100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-29818" /></td>
			<td>Trey Burke</td>
			<td>Michigan</td>
			<td>Utah Jazz</td>
		</tr>
		<tr>
			<td></td>
			<td>Kris Humphries</td>
			<td>Minnesota</td>
			<td>Washington Wizards</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/DejuanBlair100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/DejuanBlair100.jpg" alt="" title="DejuanBlair100" width="100" height="120" class="aligncenter size-full wp-image-1368" /></a></td>
			<td>Dejuan Blair</td>
			<td>Pittsburgh</td>
			<td>Washington Wizards</td>
		</tr>
		<tr>
			<td><a href="http://www.hoopgroup.com/wp-content/uploads/2011/01/JohnWall100.jpg"><img src="http://www.hoopgroup.com/wp-content/uploads/2011/01/JohnWall100.jpg" alt="" title="JohnWall100" width="100" height="120" class="aligncenter size-full wp-image-1367" /></a></td>
			<td>John Wall</td>
			<td>Kentucky</td>
			<td>Washington Wizards</td>
		</tr>
	</tbody>
</table>
