<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
			<th>WNBA Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Matee Ajavon</td>
			<td>Shabazz NJ</td>
			<td>Rutgers</td>
			<td>Atlanta Dream</td>
		</tr>
		<tr>
			<td></td>
			<td>Sue Bird</td>
			<td>Christ the King NY</td>
			<td>UConn</td>
			<td>Seattle Storm</td>
		</tr>
		<tr>
			<td></td>
			<td>Essence Carson</td>
			<td>Paterson Eastside NJ</td>
			<td>Rutgers</td>
			<td>Los Angeles Sparks</td>
		</tr>
		<tr>
			<td></td>
			<td>Tina Charles</td>
			<td>Christ the King NY</td>
			<td>UConn</td>
			<td>Connecticut Sun</td>
		</tr>
		<tr>
			<td></td>
			<td>Saniya Chong</td>
			<td>Ossining NY</td>
			<td>UConn</td>
			<td>Los Angeles Sparks</td>
		</tr>
		<tr>
			<td></td>
			<td>Marissa Coleman</td>
			<td>St. John's College DC</td>
			<td>Maryland</td>
			<td>Indiana Fever</td>
		</tr>
		<tr>
			<td></td>
			<td>Kahleah Copper</td>
			<td>Prep Charter PA</td>
			<td>Rutgers</td>
			<td>Chicago Sky</td>
		</tr>
		<tr>
			<td></td>
			<td>Brionna Jones</td>
			<td>Aberdeen MD</td>
			<td>Maryland</td>
			<td>Connecticut Sun</td>
		</tr>
		<tr>
			<td></td>
			<td>Jonquel Jones</td>
			<td>Riverdale Baptist MD</td>
			<td>George Washington</td>
			<td>Connecticut Sun</td>
		</tr>
		<tr>
			<td></td>
			<td>Epiphany Prince</td>
			<td>Murry Bergtraum NY</td>
			<td>Rutgers</td>
			<td>Chicago Sky</td>
		</tr>
		<tr>
			<td></td>
			<td>Tierra Ruffin-Pratt</td>
			<td>TC Williams VA</td>
			<td>North Carolina</td>
			<td>Washington Mystics</td>
		</tr>
		<tr>
			<td></td>
			<td>Jasmine Thomas</td>
			<td>Oakton VA</td>
			<td>Duke</td>
			<td>Connecticut Sun</td>
		</tr>
	</tbody>
</table>
