<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/02/Anthonybarber100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-28821" /></td>
			<td>Anthony Barber</td>
			<td>Hampton VA</td>
			<td>NC State</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/02/Isaiahhicks100.png" alt="" width="100" height="120" class="aligncenter size-full wp-image-28820" /></td>
			<td>Isaiah Hicks</td>
			<td>Webb NC</td>
			<td>North Carolina</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2012/11/RondaeJefferson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-27171" /></td>
			<td>Rondae Hollis-Jefferson</td>
			<td>Chester PA</td>
			<td>Arizona</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/02/DakariJohnson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-28565" /></td>
			<td>Dakari Johnson</td>
			<td>Montverde Academy FL</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td></td>
			<td>Kennedy Meeks</td>
			<td>West Charlotte NC</td>
			<td>North Carolina</td>
		</tr>
		<tr>
			<td></td>
			<td>Wayne Selden</td>
			<td>Tilton NH</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/02/NoahVonleh100.png" alt="" width="100" height="120" class="aligncenter size-full wp-image-28819" /></td>
			<td>Noah Vonleh</td>
			<td>New Hampton NH</td>
			<td>Indiana</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Walker</td>
			<td>Holmes County FL</td>
			<td>Florida</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/04/AndrewWiggins100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-29829" /></td>
			<td>Andrew Wiggins</td>
			<td>Huntington Prep WV</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/02/AaronHarrison100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-28812" /></td>
			<td>Aaron Harrison</td>
			<td>Fort Bend Travis TX</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="http://hoopgroup.com/wp-content/uploads/2013/02/AndrewHarrison100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-28813" /></td>
			<td>Andrew Harrison</td>
			<td>Fort Bend Travis TX</td>
			<td>Kentucky</td>
		</tr>
	</tbody>
</table>
