<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=12949" rel="attachment wp-att-12949"><img src="https://hoopgroup.com/wp-content/uploads/2011/09/IsaiahBriscoe1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-12949" /></a></td>
			<td>Isaiah Briscoe</td>
			<td>Roselle Catholic NJ</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57162" rel="attachment wp-att-57162"><img src="https://hoopgroup.com/wp-content/uploads/2015/01/ThomasBryant100.jpg" alt="" width="100" height="121" class="aligncenter size-full wp-image-57162" /></a></td>
			<td>Thomas Bryant</td>
			<td>Huntington Prep WV</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Cheick Diallo</td>
			<td>Our Saviour New American NY</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57155" rel="attachment wp-att-57155"><img src="https://hoopgroup.com/wp-content/uploads/2015/01/diamondstone100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57155" /></a></td>
			<td>Diamond Stone</td>
			<td>Dominican WI</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57157" rel="attachment wp-att-57157"><img src="https://hoopgroup.com/wp-content/uploads/2015/01/carltonbragg100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57157" /></a></td>
			<td>Carlton Bragg</td>
			<td>Villa Angela St. Josephs OH</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td></td>
			<td>Malik Newman</td>
			<td>Calloway MS</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57172" rel="attachment wp-att-57172"><img src="https://hoopgroup.com/wp-content/uploads/2015/01/Malachi-Richardson.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57172" /></a></td>
			<td>Malachi Richardson</td>
			<td>Trenton Catholic NJ</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td></td>
			<td>Allonzo Trier</td>
			<td>Findlay Prep NV</td>
			<td>Arizona</td>
		</tr>
	</tbody>
</table>
