<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>AAU Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Rohan Boney
</td>
			<td>Grassroots Canada
</td>
		</tr>
		<tr>
			<td></td>
			<td>Tramique  Sutherland
</td>
			<td>Grassroots Canada
</td>
		</tr>
		<tr>
			<td></td>
			<td>Dwayne Wilson II
</td>
			<td>Queen City Prophets
</td>
		</tr>
		<tr>
			<td></td>
			<td>Joe Cossins
</td>
			<td>Queen City Prophets
</td>
		</tr>
		<tr>
			<td></td>
			<td>Lawrence Freeman
</td>
			<td>Team Miami
</td>
		</tr>
		<tr>
			<td></td>
			<td>Jake Hutchcroft
</td>
			<td>Whitby Wildcats
</td>
		</tr>
		<tr>
			<td></td>
			<td>Devonne  Pinkard
</td>
			<td>PA Pump n Run
</td>
		</tr>
		<tr>
			<td></td>
			<td>Drew Johnson
</td>
			<td>PA Pump n Run
</td>
		</tr>
		<tr>
			<td></td>
			<td>J Walter Lawson
</td>
			<td>Team adidas HPC
</td>
		</tr>
	</tbody>
</table>
