<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Team</th>
			<th></th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>11:30</td>
			<td>North Brunswick</td>
			<td>vs.</td>
			<td>West Orange</td>
		</tr>
		<tr>
			<td>1:00</td>
			<td>Neptune</td>
			<td>vs.</td>
			<td>Scotch Plains</td>
		</tr>
		<tr>
			<td>2:40</td>
			<td>Don Bosco</td>
			<td>vs.</td>
			<td>Englewood</td>
		</tr>
		<tr>
			<td>4:20</td>
			<td>CBA</td>
			<td>vs.</td>
			<td>Linden</td>
		</tr>
		<tr>
			<td>6:00</td>
			<td>Plainfield</td>
			<td>vs.</td>
			<td>St. Benedict's</td>
		</tr>
		<tr>
			<td>7:40</td>
			<td>Seton Hall Prep</td>
			<td>vs.</td>
			<td>Columbia</td>
		</tr>
	</tbody>
</table>
