<table>
	<thead>
		<tr>
			<th></th>
			<th>Year</th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>2015</td>
			<td>Marina Mabrey</td>
			<td>Manasquan NJ</td>
			<td>Notre Dame</td>
		</tr>
		<tr>
			<td></td>
			<td>2014</td>
			<td>Lynee Belton</td>
			<td>Bullis MD</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td></td>
			<td>2014</td>
			<td>Sierra Calhoun</td>
			<td>Christ the King NY</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td></td>
			<td>2014</td>
			<td>Jatarie White</td>
			<td>Providence Day NC</td>
			<td>South Carolina</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/02/MichaelaMabrey100.jpg" alt="" title="MichaelaMabrey100" width="100" height="120" class="aligncenter size-full wp-image-15383" /></td>
			<td>2012</td>
			<td>Michaela Mabrey</td>
			<td>Manasquan NJ</td>
			<td>Notre Dame</td>
		</tr>
		<tr>
			<td></td>
			<td>2012</td>
			<td>Sierra Moore</td>
			<td>Deleone Catholic PA</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td></td>
			<td>2011</td>
			<td>Briyona Canty</td>
			<td>Trenton Catholic NJ</td>
			<td>Rutgers</td>
		</tr>
		<tr>
			<td></td>
			<td>2011</td>
			<td>Betnijah Laney</td>
			<td>Smyrna DE</td>
			<td>Rutgers</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/BriaSmith100.jpg" alt="" title="BriaSmith100" width="100" height="120" class="aligncenter size-full wp-image-3902" /></td>
			<td>2011</td>
			<td>Bria Smith</td>
			<td>Christ the King NY</td>
			<td>Virginia</td>
		</tr>
		<tr>
			<td></td>
			<td>2011</td>
			<td>Elizabeth Williams</td>
			<td>Princess Anne VA</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/02/Haley-Peters-100.jpg" alt="" title="Haley Peters 100" width="100" height="120" class="aligncenter size-full wp-image-3907" /></td>
			<td>2010</td>
			<td>Haley Peters</td>
			<td>Peddie</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td></td>
			<td>2010</td>
			<td>Stefanie Dolson</td>
			<td>Minnisink Valley NY</td>
			<td>Connecticut</td>
		</tr>
		<tr>
			<td></td>
			<td>2010</td>
			<td>Lauren Mincy</td>
			<td>University NJ</td>
			<td>Maryland</td>
		</tr>
		<tr>
			<td></td>
			<td>2009</td>
			<td>Dara Taylor</td>
			<td>Caravel Academy DE</td>
			<td>Maryland</td>
		</tr>
		<tr>
			<td></td>
			<td>2009</td>
			<td>Markel Walker</td>
			<td>Schenley PA</td>
			<td>UCLA</td>
		</tr>
		<tr>
			<td></td>
			<td>2008</td>
			<td>She'la White</td>
			<td>Norfolk Collegiate VA</td>
			<td>North Carolina</td>
		</tr>
		<tr>
			<td></td>
			<td>2007</td>
			<td>Lorin Dixon</td>
			<td>Christ the King NY</td>
			<td>Connecticut</td>
		</tr>
		<tr>
			<td></td>
			<td>2007</td>
			<td>Erica Morrow</td>
			<td>Murry Bergtraum NY</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td></td>
			<td>2006</td>
			<td>Danielle Wilson</td>
			<td>St. John Baptist NY</td>
			<td>Baylor</td>
		</tr>
		<tr>
			<td></td>
			<td>2006</td>
			<td>Bridgette Mitchell</td>
			<td>Peddie</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/02/tinacharles100.jpg" alt="" title="tinacharles100" width="100" height="120" class="aligncenter size-full wp-image-15382" /></td>
			<td>2006</td>
			<td>Tina Charles</td>
			<td>Christ the King NY</td>
			<td>Connecticut</td>
		</tr>
		<tr>
			<td></td>
			<td>2006</td>
			<td>Epiphanny Prince</td>
			<td>Murry Bergtraum NY</td>
			<td>Rutgers</td>
		</tr>
		<tr>
			<td></td>
			<td>2005</td>
			<td>Carrem Day</td>
			<td>Christ the King NY</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td></td>
			<td>2004</td>
			<td>Matee Ajavon</td>
			<td>Shabazz NJ</td>
			<td>Rutgers</td>
		</tr>
		<tr>
			<td></td>
			<td>2004</td>
			<td>Essence Carson</td>
			<td>Paterson Eastside</td>
			<td>Rutgers</td>
		</tr>
		<tr>
			<td></td>
			<td>2003</td>
			<td>Shay Doran</td>
			<td>Christ the King NY</td>
			<td>Maryland</td>
		</tr>
	</tbody>
</table>
