<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Emmaus  59


MVP: Brian Hunter</td>
			<td>Liberty  55


MVP: Sergio Camacho</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Playmouth Whitemarsh  73

MVP: Mike Azquaviva</td>
			<td>Bishop O'Connell VA  63


MVP: Jason Clark</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick NJ  68


MVP: Corey Fisher</td>
			<td>American Christian  65


MVP: Mike Glover</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>White Plains NY  61


MVP: Sean Kilpatrick</td>
			<td>Parkland  47


MVP: Adam Block</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Parkland (Girls) 51


MVP: Ashley Yencho</td>
			<td>Pocono Mountain West (Girls) 41

MVP: Adriana Johnson</td>
			<td></td>
		</tr>
	</tbody>
</table>
