<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Jason Huelbig</td>
			<td>Middletown North</td>
		</tr>
		<tr>
			<td></td>
			<td>Hunter Wysocki</td>
			<td>Colts Neck</td>
		</tr>
		<tr>
			<td></td>
			<td>Riley Calzonetti</td>
			<td>Point Beach</td>
		</tr>
		<tr>
			<td></td>
			<td>JR Hobbie</td>
			<td>Manasquan</td>
		</tr>
		<tr>
			<td></td>
			<td>Mike Aaman</td>
			<td>Raritan</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/12/Ike-Calderon-1001.jpg" alt="" title="Ike Calderon 100" width="100" height="120" class="aligncenter size-full wp-image-14268" /></td>
			<td>Ike Calderon</td>
			<td>Neptune</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/BrianKenny100.jpg" alt="" title="BrianKenny100" width="100" height="120" class="aligncenter size-full wp-image-12629" /></td>
			<td>Brian Kenny</td>
			<td>Jackson Memorial</td>
		</tr>
		<tr>
			<td></td>
			<td>Jimmy Walsh</td>
			<td>Manasquan</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyrice Beverette</td>
			<td>Lakewood</td>
		</tr>
		<tr>
			<td></td>
			<td>Greg Youncofski</td>
			<td>Middletown North</td>
		</tr>
		<tr>
			<td></td>
			<td>Eric Shaw</td>
			<td>CBA</td>
		</tr>
		<tr>
			<td></td>
			<td>Keith Kirkwood</td>
			<td>Neptune</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/12/BrandonMcDonnell100.jpg" alt="" title="BrandonMcDonnell100" width="100" height="120" class="aligncenter size-full wp-image-14269" /></td>
			<td>Brandon McDonnell</td>
			<td>Jackson Memorial</td>
		</tr>
	</tbody>
</table>
