<table>
	<thead>
		<tr>
			<th></th>
			<th>Coach</th>
			<th>NBA Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Jay Larranaga</td>
			<td>Boston Celtics</td>
		</tr>
		<tr>
			<td></td>
			<td>Paul Westphal</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td></td>
			<td>Brian Keefe</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td></td>
			<td>Billy Lange</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td></td>
			<td>Eugene Burroughs</td>
			<td>Philadelphia 76ers</td>
		</tr>
		<tr>
			<td></td>
			<td>Andy Greer</td>
			<td>Toronto Raptors</td>
		</tr>
		<tr>
			<td></td>
			<td>Jim Boylan</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td></td>
			<td>Malik Allen</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td></td>
			<td>Aaron Gray</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td></td>
			<td>Bob Beyer</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td></td>
			<td>Brendan Malone</td>
			<td>Detroit Pistons</td>
		</tr>
		<tr>
			<td></td>
			<td>Charles Lee</td>
			<td>Atlanta Hawks</td>
		</tr>
		<tr>
			<td></td>
			<td>Steve Clifford</td>
			<td>Charlotte Hornets</td>
		</tr>
		<tr>
			<td></td>
			<td>Pat Delany</td>
			<td>Charlotte Hornets</td>
		</tr>
		<tr>
			<td></td>
			<td>Adrian Griffin</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td></td>
			<td>Jay Hernandez</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td></td>
			<td>Laron Profit</td>
			<td>Orlando Magic</td>
		</tr>
		<tr>
			<td></td>
			<td>Pat Sullivan</td>
			<td>Washington Wizards</td>
		</tr>
		<tr>
			<td></td>
			<td>Rick Carlisle</td>
			<td>Dallas Mavericks</td>
		</tr>
		<tr>
			<td></td>
			<td>Brett Gunning</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td></td>
			<td>Elston Turner</td>
			<td>Memphis Grizzlies</td>
		</tr>
		<tr>
			<td></td>
			<td>Phil Weber</td>
			<td>New Orleans Pelicans</td>
		</tr>
		<tr>
			<td></td>
			<td>Michael Malone</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td></td>
			<td>Ed Pinckney</td>
			<td>Denver Nuggets</td>
		</tr>
		<tr>
			<td></td>
			<td>Billy Donovan</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td></td>
			<td>Mark Bryant</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td></td>
			<td>Maurice Cheeks</td>
			<td>Oklahoma City Thunder</td>
		</tr>
		<tr>
			<td></td>
			<td>David Vanterpool</td>
			<td>Portland Trail Blazers</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
