<table>
	<thead>
		<tr>
			<th>NAME</th>
			<th>TEAM</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jimmie Hall</td>
			<td>New Heights Blue</td>
		</tr>
		<tr>
			<td>Jabari Peters</td>
			<td>New Heights Blue</td>
		</tr>
		<tr>
			<td>Marquis Barnett</td>
			<td>New Heights Blue</td>
		</tr>
		<tr>
			<td>Clyde Smith</td>
			<td>New Heights Blue</td>
		</tr>
		<tr>
			<td>Terry Brudus</td>
			<td>NE Playaz</td>
		</tr>
		<tr>
			<td>Kaleb Tarczewski</td>
			<td>NE Playaz</td>
		</tr>
		<tr>
			<td>John Papale</td>
			<td>NE Playaz</td>
		</tr>
		<tr>
			<td>Aaron Morgan</td>
			<td>PA Playaz</td>
		</tr>
		<tr>
			<td>Donovan Jack</td>
			<td>PA Playaz</td>
		</tr>
		<tr>
			<td>Amile Jefferson</td>
			<td>Phillys Finest</td>
		</tr>
		<tr>
			<td>Kuran Iverson</td>
			<td>CT Select</td>
		</tr>
		<tr>
			<td>Rohan Brown</td>
			<td>CT Select</td>
		</tr>
		<tr>
			<td>Stephon Mosley</td>
			<td>Sports University</td>
		</tr>
		<tr>
			<td>Dustin Hogue</td>
			<td>Sports University</td>
		</tr>
		<tr>
			<td>Noah Vonleh</td>
			<td>Mass Rivals</td>
		</tr>
		<tr>
			<td>Akosa Maduegbunam</td>
			<td>Mass Rivals</td>
		</tr>
		<tr>
			<td>Mike McCahey</td>
			<td>NY Falcons</td>
		</tr>
		<tr>
			<td>Jarrod Scurlock</td>
			<td>BC Eagles</td>
		</tr>
		<tr>
			<td>Isaac Medeiros</td>
			<td>NE Cyclones</td>
		</tr>
		<tr>
			<td>Sajae Pryor</td>
			<td>City Rocks</td>
		</tr>
		<tr>
			<td>Amdy Fall</td>
			<td>Raising Champions</td>
		</tr>
		<tr>
			<td>Keith Hughes</td>
			<td>ShoreShots</td>
		</tr>
		<tr>
			<td>Matt Ellis</td>
			<td>NE Storm</td>
		</tr>
		<tr>
			<td>Sal Vitello</td>
			<td>Riverside Hawks</td>
		</tr>
		<tr>
			<td>Brian Bernadini</td>
			<td>Brooklyn Clippers</td>
		</tr>
		<tr>
			<td>Ahmid Williams</td>
			<td>Monmouth Power</td>
		</tr>
		<tr>
			<td>Jack Kerwin</td>
			<td>Raritan Roundballers Gold</td>
		</tr>
		<tr>
			<td>Justin Jarvis</td>
			<td>Triple Balance</td>
		</tr>
		<tr>
			<td>Junius Thomas</td>
			<td>Threat 220</td>
		</tr>
		<tr>
			<td>Leonard Livingston</td>
			<td>Threat 220</td>
		</tr>
		<tr>
			<td>Kamal Richards</td>
			<td>NJ Elite</td>
		</tr>
		<tr>
			<td>Rod Sanders</td>
			<td>NJ Select Stars</td>
		</tr>
		<tr>
			<td>Anthony Granai</td>
			<td>Lone Wolf</td>
		</tr>
		<tr>
			<td>Alex Mitola</td>
			<td>Hoop Heaven</td>
		</tr>
		<tr>
			<td>Jaren Sina</td>
			<td>Hoop Heaven</td>
		</tr>
		<tr>
			<td>Kevin Troutman</td>
			<td>Aim High</td>
		</tr>
		<tr>
			<td>Julian Aiken</td>
			<td>NJ Panthers</td>
		</tr>
		<tr>
			<td>Jameel Warney</td>
			<td>NJ Hot Shots</td>
		</tr>
		<tr>
			<td>Brandon Waiters</td>
			<td>Zoo Crew</td>
		</tr>
		<tr>
			<td>Dave Levinsky</td>
			<td>Wayne PAL/Wolfpack</td>
		</tr>
		<tr>
			<td>Tom Reynolds</td>
			<td>Wayne PAL/Wolfpack</td>
		</tr>
		<tr>
			<td>Maurice Taylor</td>
			<td>Prodigy</td>
		</tr>
		<tr>
			<td>Jason Burgos</td>
			<td>CT Elite</td>
		</tr>
	</tbody>
</table>
