<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Whitehall  54</td>
			<td>Sayreville NJ  41</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Christ the King NY  53</td>
			<td>Central Catholic  42</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Parkland  54</td>
			<td>Lancaster McCaskey  42</td>
			<td></td>
		</tr>
	</tbody>
</table>
