<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Julian Alexis</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Sam Bohmiller</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Lowry</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>David Stauffer</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Bradley Jacks</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Frank Oftring</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Brian Kelley</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Isaiah Nelson</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Matt Droney</td>
			<td>Babson</td>
		</tr>
		<tr>
			<td></td>
			<td>Taysean Scott</td>
			<td>Williams</td>
		</tr>
		<tr>
			<td></td>
			<td>Adam Kroot</td>
			<td>Williams</td>
		</tr>
		<tr>
			<td></td>
			<td>Mike Greenman</td>
			<td>Williams</td>
		</tr>
		<tr>
			<td></td>
			<td>Bobby Casey</td>
			<td>Williams</td>
		</tr>
		<tr>
			<td></td>
			<td>Matt Karpowicz</td>
			<td>Williams</td>
		</tr>
		<tr>
			<td></td>
			<td>Daniel Aronowitz</td>
			<td>Williams</td>
		</tr>
	</tbody>
</table>
