<table>
	<thead>
		<tr>
			<th>PHOTO</th>
			<th>NAME</th>
			<th>NBA D-LEAGUE TEAM</th>
			<th>COLLEGE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/HiltonArmstrong100.jpg" alt="HiltonArmstrong100" width="100" height="120" class="aligncenter size-full wp-image-70650" /></td>
			<td>Hilton Armstrong</td>
			<td>Santa Cruz</td>
			<td>UConn</td>
		</tr>
		<tr>
			<td></td>
			<td>Justin Hamilton</td>
			<td>Sioux Falls</td>
			<td>LSU</td>
		</tr>
		<tr>
			<td></td>
			<td>Kevin Jones</td>
			<td>Canton</td>
			<td>West Virginia</td>
		</tr>
		<tr>
			<td></td>
			<td>DeAndre Liggins</td>
			<td>Sioux Falls</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Wright</td>
			<td>Maine</td>
			<td>Dayton</td>
		</tr>
		<tr>
			<td></td>
			<td>Troy Daniels</td>
			<td>Rio Grande Valley</td>
			<td>VCU</td>
		</tr>
		<tr>
			<td></td>
			<td>Devin Ebanks</td>
			<td>Texas</td>
			<td>Virginia</td>
		</tr>
		<tr>
			<td></td>
			<td>Christopher Johnson</td>
			<td>Rio Grande Valley</td>
			<td>Dayton</td>
		</tr>
		<tr>
			<td></td>
			<td>Ike Diogu</td>
			<td>Bakersfield</td>
			<td>Arizona State</td>
		</tr>
	</tbody>
</table>
