<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>College</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jordan McDaniel</td>
			<td>Rutgers Newark</td>
			<td>Colonia NJ</td>
		</tr>
		<tr>
			<td>Ted Hinnenkamp</td>
			<td>Dickinson</td>
			<td>York PA</td>
		</tr>
		<tr>
			<td>Mitch Ford</td>
			<td>Nazareth</td>
			<td>Victor NY</td>
		</tr>
		<tr>
			<td>Alex Graves</td>
			<td>Lynchburg</td>
			<td>Waynesboro VA</td>
		</tr>
		<tr>
			<td>Zane Hackett</td>
			<td>Penn State Behrend</td>
			<td>Brookville PA</td>
		</tr>
		<tr>
			<td>Kyle Richardson</td>
			<td>Plattsburgh State</td>
			<td>Baldwin NY</td>
		</tr>
	</tbody>
</table>
