<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Tafu Nuku</td>
			<td>St. Andrews DE</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/EricAnderson100.jpg" alt="" title="EricAnderson100" width="100" height="120" class="aligncenter size-full wp-image-12666" /></td>
			<td>Eric Anderson</td>
			<td>Haverford PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Jake Dadika</td>
			<td>St. Joseph's Metuchen NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/NassirBarrino100.jpg" alt="" title="NassirBarrino100" width="100" height="120" class="aligncenter size-full wp-image-12712" /></td>
			<td>Nassir Barrino</td>
			<td>Hudson Catholic NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Andre Walker</td>
			<td>St. Anthony's NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Lionel Owens</td>
			<td>John Carroll MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Garry Baumer</td>
			<td>East Brunswick NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MilesGillette100.jpg" alt="" title="MilesGillette100" width="100" height="120" class="aligncenter size-full wp-image-12713" /></td>
			<td>Miles Gillette</td>
			<td>Paul VI VA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/Marques-Townes-100.jpg" alt="" title="Marques Townes 100" width="100" height="120" class="aligncenter size-full wp-image-12529" /></td>
			<td>Marques Townes</td>
			<td>Cardinal McCarrick NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Marcus Atkinson</td>
			<td>Paul VI VA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TylerKohl100.jpg" alt="" title="TylerKohl100" width="100" height="120" class="aligncenter size-full wp-image-12714" /></td>
			<td>Tyler Kohl</td>
			<td>Easton PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/Mike-Jurzynski-1001.jpg" alt="" title="Mike Jurzynski 100" width="100" height="120" class="aligncenter size-full wp-image-12531" /></td>
			<td>Mike Jurzynski</td>
			<td>St. Joseph's Montvale NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>JJ Howard</td>
			<td>Paul VI VA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/PaulJorgensen100.jpg" alt="" title="PaulJorgensen100" width="100" height="120" class="aligncenter size-full wp-image-12715" /></td>
			<td>Paul Jorgensen</td>
			<td>Don Bosco NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Scanlon</td>
			<td>TBD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AnthonyAranda100.jpg" alt="" title="AnthonyAranda100" width="100" height="120" class="aligncenter size-full wp-image-12667" /></td>
			<td>Anthony Aranda</td>
			<td>Bishop McNamara MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TaquanGivens100.jpg" alt="" title="TaquanGivens100" width="100" height="120" class="aligncenter size-full wp-image-12716" /></td>
			<td>Taquan Givens</td>
			<td>Bronx Leadership NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/CalebMercer100.jpg" alt="" title="CalebMercer100" width="100" height="120" class="aligncenter size-full wp-image-12668" /></td>
			<td>Caleb Mercer</td>
			<td>Davidson Day NC</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/Naim-Thomas-100.jpg" alt="" title="Naim Thomas 100" width="100" height="120" class="aligncenter size-full wp-image-12532" /></td>
			<td>Naim Thomas</td>
			<td>Archbishop Stepinac NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AondofaAnyam100.jpg" alt="" title="AondofaAnyam100" width="100" height="120" class="aligncenter size-full wp-image-12669" /></td>
			<td>Aondofa Anyam</td>
			<td>Westtown PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AlexSchwarz100.jpg" alt="" title="AlexSchwarz100" width="100" height="120" class="aligncenter size-full wp-image-12670" /></td>
			<td>Alex Schwarz</td>
			<td>Penn Charter PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Jafar Kinsey</td>
			<td>Jamesville Dewitt NY</td>
		</tr>
	</tbody>
</table>
