<table>
	<thead>
		<tr>
			<th>Time </th>
			<th>Home Team</th>
			<th></th>
			<th>Visiting Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12:00</td>
			<td>West Orange</td>
			<td>vs.</td>
			<td>Union Catholic</td>
		</tr>
		<tr>
			<td>1:40</td>
			<td>St. Patrick's</td>
			<td>vs.</td>
			<td>Bergen Catholic</td>
		</tr>
		<tr>
			<td>3:20</td>
			<td>Newark East Side</td>
			<td>vs.</td>
			<td>St. Anthony</td>
		</tr>
		<tr>
			<td>5:00</td>
			<td>Roselle Catholic</td>
			<td>vs.</td>
			<td>Blair</td>
		</tr>
		<tr>
			<td>6:40</td>
			<td>Linden</td>
			<td>vs.</td>
			<td>Hun</td>
		</tr>
	</tbody>
</table>
