<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=18831" rel="attachment wp-att-18831"><img src="https://hoopgroup.com/wp-content/uploads/2012/03/BrandenDawson100.jpg" alt="" width="100" height="120" class="alignnone size-full wp-image-18831" /></a></td>
			<td>Branden Dawson</td>
			<td>Lew Wallace IN</td>
			<td>Michigan State</td>
		</tr>
		<tr>
			<td></td>
			<td>Michael Frazier</td>
			<td>Montverde Academy FL</td>
			<td>Florida</td>
		</tr>
		<tr>
			<td></td>
			<td>Treveon Graham</td>
			<td>St. Mary's Ryken MD</td>
			<td>VCU</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JERIANGRANT100.jpg" alt="JERIANGRANT100" width="100" height="120" class="aligncenter size-full wp-image-71121" /></td>
			<td>Jerian Grant</td>
			<td>DeMatha MD</td>
			<td>Notre Dame</td>
		</tr>
		<tr>
			<td></td>
			<td>Olivier Hanlan</td>
			<td>New Hampton NH</td>
			<td>Boston College</td>
		</tr>
		<tr>
			<td></td>
			<td>Montrezl Harrell</td>
			<td>Hargrave Military Academy VA</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=55836" rel="attachment wp-att-55836"><img src="https://hoopgroup.com/wp-content/uploads/2014/11/AaronHarrison100.jpg" alt="" width="100" height="120" class="alignnone size-full wp-image-55836" /></a></td>
			<td>Aaron Harrison</td>
			<td>Travis TX</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=55840" rel="attachment wp-att-55840"><img src="https://hoopgroup.com/wp-content/uploads/2014/11/AndrewHarrison100.jpg" alt="" width="100" height="120" class="alignnone size-full wp-image-55840" /></a></td>
			<td>Andrew Harrison</td>
			<td>Travis TX</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Haws</td>
			<td>Lone Peak UT</td>
			<td>BYU</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=27171" rel="attachment wp-att-27171"><img src="https://hoopgroup.com/wp-content/uploads/2012/11/RondaeJefferson100.jpg" alt="" width="100" height="120" class="alignnone size-full wp-image-27171" /></a></td>
			<td>Rondae Hollis-Jefferson</td>
			<td>Chester PA</td>
			<td>Arizona</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/06/CarisLevert100.jpg" alt="CarisLevert100" width="100" height="120" class="aligncenter size-full wp-image-76719" /></td>
			<td>Caris LeVert</td>
			<td>Pickerington OH</td>
			<td>Michigan</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/GeorgesNiang100.jpg" alt="GeorgesNiang100" width="100" height="120" class="aligncenter size-full wp-image-73399" /></td>
			<td>Georges Niang</td>
			<td>Tilton MA</td>
			<td>Iowa State</td>
		</tr>
		<tr>
			<td></td>
			<td>Terry Rozier</td>
			<td>Hargrave Military Academy VA</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td></td>
			<td>Wayne Selden</td>
			<td>Tilton MA</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td></td>
			<td>Juwan Staten</td>
			<td>Oak Hill Academy VA</td>
			<td>West Virginia</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=45773" rel="attachment wp-att-45773"><img src="https://hoopgroup.com/wp-content/uploads/2014/01/KarlTownsmvptip100.jpg" alt="" width="100" height="120" class="alignnone size-full wp-image-45773" /></a></td>
			<td>Karl-Anthony Towns</td>
			<td>St. Joseph's Metuchen</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/DelonWright100.jpg" alt="DelonWright100" width="100" height="120" class="aligncenter size-full wp-image-71134" /></td>
			<td>Delon Wright</td>
			<td>Levzinger CA</td>
			<td>Utah</td>
		</tr>
	</tbody>
</table>
