<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Nicolas Sherod
</td>
			<td>Team Loaded Sherod
</td>
		</tr>
		<tr>
			<td></td>
			<td>Deshawn Copprew
</td>
			<td>Team Loaded Sherod
</td>
		</tr>
		<tr>
			<td></td>
			<td>Jalen Elliott
</td>
			<td>Team Loaded Sherod
</td>
		</tr>
		<tr>
			<td></td>
			<td>Grant Robinson
</td>
			<td>ETU Warriors (MD) 14U
</td>
		</tr>
		<tr>
			<td></td>
			<td>Devanter Carter
</td>
			<td>Boo Williams
</td>
		</tr>
		<tr>
			<td></td>
			<td>Jermaine Marrow
</td>
			<td>Boo Williams
</td>
		</tr>
		<tr>
			<td></td>
			<td>Dyaire Holt
</td>
			<td>CT Elite
</td>
		</tr>
		<tr>
			<td></td>
			<td>Jamar Watson
</td>
			<td>DC Assault
</td>
		</tr>
		<tr>
			<td></td>
			<td>Joe Hampton
</td>
			<td>DC Assault
</td>
		</tr>
		<tr>
			<td></td>
			<td>Ako Adams
</td>
			<td>DC Assault
</td>
		</tr>
		<tr>
			<td></td>
			<td>Cameron Robinson
</td>
			<td>Team Takeover Orange
</td>
		</tr>
	</tbody>
</table>
