<table>
	<thead>
		<tr>
			<th>High School Team</th>
			<th>Wins</th>
			<th>Losses</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>St. Anthony</td>
			<td>7</td>
			<td>0</td>
		</tr>
		<tr>
			<td>St. Benedict's</td>
			<td>4</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Linden</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Atlantic City</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Boys &amp; Girls NY</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Bloomfield Tech</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Freehold Boro</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Freehold Township</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Imhotep Charter</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Ocean</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Roman Catholic PA</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>St. Joseph's Metuchen</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Toms River North</td>
			<td>1</td>
			<td>0</td>
		</tr>
		<tr>
			<td>Rumson</td>
			<td>4</td>
			<td>1</td>
		</tr>
		<tr>
			<td>St. Patrick/Patrick School</td>
			<td>5</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Monsignor Donovan</td>
			<td>2</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Colts Neck</td>
			<td>2</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Manasquan</td>
			<td>5</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Neptune</td>
			<td>9</td>
			<td>6</td>
		</tr>
		<tr>
			<td>Monmouth Regional</td>
			<td>2</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Mater Dei</td>
			<td>1</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Middletown South</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>St. John Vianney</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Shore</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Ranney</td>
			<td>1</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Point Pleasant Beach</td>
			<td>4</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Long Branch</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Middletown North</td>
			<td>1</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Asbury Park</td>
			<td>1</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Jackson Memorial</td>
			<td>1</td>
			<td>2</td>
		</tr>
		<tr>
			<td>CBA</td>
			<td>4</td>
			<td>12</td>
		</tr>
		<tr>
			<td>Lakewood</td>
			<td>1</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Walbrook MD</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Bergen Catholic</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Red Bank</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Seton Hall Prep</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Marlboro</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Toms River East</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Prep Charter PA</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Blair Academy</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Gill St. Bernards</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Holy Spirit</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Matawan</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>New Egypt</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Newark Eastside</td>
			<td>0</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Lincoln NY</td>
			<td>0</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Raritan</td>
			<td>0</td>
			<td>3</td>
		</tr>
	</tbody>
</table>
