<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Brandon Federici</td>
			<td>Colts Neck  47</td>
			<td>Lakewood  46</td>
			<td>Jameer Jones</td>
		</tr>
		<tr>
			<td>Jason Huelbig</td>
			<td>Middletown North  36</td>
			<td>Jackson Memorial  32</td>
			<td>Brian Kenny</td>
		</tr>
		<tr>
			<td>Evan Gordinier</td>
			<td>CBA  41</td>
			<td>Point Beach  36</td>
			<td>PJ Kineavy</td>
		</tr>
		<tr>
			<td>Keith Kirkwood</td>
			<td>Neptune  68</td>
			<td>Raritan  39</td>
			<td>Mike Aaman</td>
		</tr>
		<tr>
			<td>Jimmy Walsh</td>
			<td>Manasquan  45</td>
			<td>Long Branch  42</td>
			<td>Dwight Clark</td>
		</tr>
	</tbody>
</table>
