<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Champ Mosley</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ByronHawkins100.jpg" alt="" title="ByronHawkins100" width="100" height="120" class="aligncenter size-full wp-image-12952" /></td>
			<td>Byron Hawkins</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td></td>
			<td>Kahari Beaufort</td>
			<td>New England Playaz</td>
		</tr>
		<tr>
			<td></td>
			<td>Djery Baptiste</td>
			<td>New England Playaz</td>
		</tr>
		<tr>
			<td></td>
			<td>Eric Klacik</td>
			<td>NJ Roadrunners</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/NassirBarrino100.jpg" alt="" title="NassirBarrino100" width="100" height="120" class="aligncenter size-full wp-image-12712" /></td>
			<td>Nassir Barrino</td>
			<td>Playaz</td>
		</tr>
		<tr>
			<td></td>
			<td>D Shea</td>
			<td>Rhode Island Hawks</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ToddHughes100.jpg" alt="" title="ToddHughes100" width="100" height="120" class="aligncenter size-full wp-image-13308" /></td>
			<td>Todd Hughes</td>
			<td>Team Philly</td>
		</tr>
		<tr>
			<td></td>
			<td>Shane Christian</td>
			<td>Connecticut Select</td>
		</tr>
		<tr>
			<td></td>
			<td>Ian Gardener</td>
			<td>Connecticut Select</td>
		</tr>
		<tr>
			<td></td>
			<td>Jonathan Lawton</td>
			<td>L&amp;L Running Rebels</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Drews</td>
			<td>NJ Predators</td>
		</tr>
		<tr>
			<td></td>
			<td>Terry Taylor</td>
			<td>NJ Elite</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/treyLowe100.jpg" alt="" title="treyLowe100" width="100" height="120" class="aligncenter size-full wp-image-12936" /></td>
			<td>Trey Lowe</td>
			<td>NJ Wizards</td>
		</tr>
		<tr>
			<td></td>
			<td>Evan Gordiner</td>
			<td>ShoreShots</td>
		</tr>
	</tbody>
</table>
