<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Cranford  66</td>
			<td>Neptune  56</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Joseph's Montvale  61</td>
			<td>Montclair  42</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Benedict's  78</td>
			<td>Colonia  58</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Raritan  66</td>
			<td>Bloomfield Tech  55</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Paterson Catholic  66</td>
			<td>St. Raymond's NY  65</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>CBA  47</td>
			<td>Paramus Catholic  43</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Linden  82</td>
			<td>West Milford  42</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Anthony  53</td>
			<td>South Plainfield  42</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Patrick  67</td>
			<td>St. Joseph's Metuchen  52</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Seton Hall Prep  59</td>
			<td>Columbia  41</td>
			<td></td>
		</tr>
	</tbody>
</table>
