<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>College</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>John Ivy</td>
			<td>Brockport St</td>
			<td>Rochester NY</td>
		</tr>
		<tr>
			<td>Javae King-Gilchrist</td>
			<td>William Paterson</td>
			<td>Teaneck NJ</td>
		</tr>
		<tr>
			<td>Tyler Peters</td>
			<td>Wheaton</td>
			<td>Medina OH</td>
		</tr>
		<tr>
			<td>Doug Thorpe</td>
			<td>Wooster</td>
			<td>Columbus OH</td>
		</tr>
		<tr>
			<td>Aaron Toomey</td>
			<td>Amherst</td>
			<td>Greensboro NC</td>
		</tr>
		<tr>
			<td>Aaron Walton-Moss</td>
			<td>Cabrini</td>
			<td>Camden</td>
		</tr>
		<tr>
			<td>DJ Woodmore</td>
			<td>Virginia Wesleyan</td>
			<td>Virginia Beach VA</td>
		</tr>
		<tr>
			<td>Richie Bonney</td>
			<td>Hobart</td>
			<td>Norwich NY</td>
		</tr>
		<tr>
			<td>Darius Watson</td>
			<td>Albertus Magnus</td>
			<td>New Britain CT</td>
		</tr>
		<tr>
			<td>Mike Garrow</td>
			<td>Eastern Connecticut</td>
			<td>Terryville CT</td>
		</tr>
	</tbody>
</table>
