<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>College</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Desmond Williams</td>
			<td>Southern Connecticut</td>
			<td>Torrington CT</td>
		</tr>
		<tr>
			<td>Rodney Sanders</td>
			<td>Southern New Hampshire</td>
			<td>Elizabeth NJ</td>
		</tr>
		<tr>
			<td>Peter Alexis</td>
			<td>Philly U</td>
			<td>Wilkes Barre PA</td>
		</tr>
		<tr>
			<td>Brandon Norfleet</td>
			<td>IUP</td>
			<td>Virginia Beach VA</td>
		</tr>
		<tr>
			<td>Eric Seifert</td>
			<td>Wheeling Jesuit</td>
			<td>Reynoldsburg OH</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
