<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Grad Year</th>
			<th>High School</th>
			<th>College Recruitment</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Chris Atkinson</td>
			<td>2015</td>
			<td>Long Island Lutheran NY</td>
			<td>Verbally Committed to Monmouth</td>
		</tr>
		<tr>
			<td>Unique McLean</td>
			<td>2016</td>
			<td>MacDuffie MA</td>
			<td>13 Division 1 offers </td>
		</tr>
		<tr>
			<td>Devonte Green</td>
			<td>2016</td>
			<td>Long Island Lutheran NY</td>
			<td>Offered by Arizona, Cincinnati </td>
		</tr>
		<tr>
			<td>Christopher Baldwin</td>
			<td>2015</td>
			<td>Springfield Central MA</td>
			<td>Offered by UMass, La Salle</td>
		</tr>
		<tr>
			<td>Satnam Singh</td>
			<td>2015</td>
			<td>IMG Academy FL</td>
			<td></td>
		</tr>
		<tr>
			<td>Jair Bolden</td>
			<td>2016</td>
			<td>Westtown PA</td>
			<td>Offered by Rice, James Madison, Boston, Hofstra and La Salle</td>
		</tr>
		<tr>
			<td>Wolfgang Novogratz</td>
			<td>2016</td>
			<td>Harvard Westlake CA</td>
			<td></td>
		</tr>
		<tr>
			<td>Travis Atson</td>
			<td>2016</td>
			<td>South Kent CT</td>
			<td>10 Division 1 offers</td>
		</tr>
		<tr>
			<td>Kimani Lawrence</td>
			<td>2017</td>
			<td>Cushing Academy MA</td>
			<td>Offered by Providence, Rhode Island, St. Bonaventure</td>
		</tr>
		<tr>
			<td>Trevaughn Wilkerson</td>
			<td>2015</td>
			<td>Roman Catholic PA</td>
			<td>Committed to Hartford</td>
		</tr>
		<tr>
			<td>Terrell Allen</td>
			<td>2015</td>
			<td>DeMatha MD</td>
			<td>Drexel</td>
		</tr>
		<tr>
			<td>Nico Clareth</td>
			<td>2015</td>
			<td>Calvert Hall MD</td>
			<td>15 Division 1 offers</td>
		</tr>
		<tr>
			<td>Saul Phiri</td>
			<td>2016</td>
			<td>Worcester Academy MA</td>
			<td>Offers from Fairfield, Rider, Hofstra, Duquesne, George Washington, Quinnipiac</td>
		</tr>
		<tr>
			<td>Kassoum Yakwe</td>
			<td>2016</td>
			<td>Our Saviour New America NY</td>
			<td>9 Division 1 offers</td>
		</tr>
		<tr>
			<td>Michael Tertsea</td>
			<td>2016</td>
			<td>John Carroll MD</td>
			<td>8 Division 1 offers</td>
		</tr>
		<tr>
			<td>Quincy McKnight</td>
			<td>2015</td>
			<td>Phelps PA</td>
			<td>14 Division 1 offers</td>
		</tr>
		<tr>
			<td>David Beatty</td>
			<td>2017</td>
			<td>Archbishop Carroll PA</td>
			<td></td>
		</tr>
		<tr>
			<td>Myles Douglas</td>
			<td>2017</td>
			<td>Friends School MD</td>
			<td>Offered by Richmond, Hofstra, Miami, USC</td>
		</tr>
		<tr>
			<td>Josh Ayeni</td>
			<td>2015</td>
			<td>St. Francis MD</td>
			<td>9 Division 1 offers</td>
		</tr>
		<tr>
			<td>Mohammed Bamba</td>
			<td>2017</td>
			<td>Westtown PA</td>
			<td>Offered by Penn State, James Madison, Temple, Yale, Rice, Seton Hall</td>
		</tr>
	</tbody>
</table>
