<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Andres Crubelo</td>
			<td>Long Island Lutheran NY</td>
		</tr>
		<tr>
			<td>Anwar Gill</td>
			<td>Gonzaga DC</td>
		</tr>
		<tr>
			<td>Dahmir Bishop</td>
			<td>Imhotep Charter PA</td>
		</tr>
		<tr>
			<td>Leo O'Boyle</td>
			<td>Scranton Prep PA</td>
		</tr>
		<tr>
			<td>Richard Springs</td>
			<td>Bishop Loughlin NY</td>
		</tr>
		<tr>
			<td>Ryan Myers</td>
			<td>Christ the King NY</td>
		</tr>
		<tr>
			<td>Isaiah Wong</td>
			<td>Notre Dame NJ</td>
		</tr>
		<tr>
			<td>Mekhi Long</td>
			<td>St. Mary's Ryken MD</td>
		</tr>
		<tr>
			<td>Chereef Knox</td>
			<td>Imhotep Charter PA</td>
		</tr>
		<tr>
			<td>Eric Dixon</td>
			<td>Abington PA</td>
		</tr>
		<tr>
			<td>Zion Harmon</td>
			<td>Bowling Green KY</td>
		</tr>
		<tr>
			<td>Jordan Mason</td>
			<td>Dexter MA</td>
		</tr>
		<tr>
			<td>James Bishop</td>
			<td>Mt. St. Joseph's MD</td>
		</tr>
		<tr>
			<td>Jalen White</td>
			<td>Lakewood FL</td>
		</tr>
		<tr>
			<td>Che Evans</td>
			<td>Dulaney MD</td>
		</tr>
		<tr>
			<td>Judah Jordan</td>
			<td>Capital Christian MD</td>
		</tr>
		<tr>
			<td>Nicolas Rivera</td>
			<td>St. Raymond's NY</td>
		</tr>
		<tr>
			<td>Ismael Massoud</td>
			<td>MacDuffie MA</td>
		</tr>
		<tr>
			<td>Justin Lewis</td>
			<td>Calvert Hall MD</td>
		</tr>
		<tr>
			<td>Isah Mohammed</td>
			<td>Our Savior New America NY</td>
		</tr>
	</tbody>
</table>
