<table>
	<thead>
		<tr>
			<th></th>
			<th>NAME</th>
			<th>TEAM</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Chris Regus</td>
			<td>NJ Celtics</td>
		</tr>
		<tr>
			<td></td>
			<td>Isiah Lewis</td>
			<td>NJ Celtics</td>
		</tr>
		<tr>
			<td></td>
			<td>Martheley Senat</td>
			<td>CJEOTO Academy</td>
		</tr>
		<tr>
			<td></td>
			<td>Moe Berchie</td>
			<td>CJEOTO Academy</td>
		</tr>
		<tr>
			<td></td>
			<td>Josh Marquez</td>
			<td>Wayne PAL Wolfpack</td>
		</tr>
		<tr>
			<td></td>
			<td>Shackquiel Scott</td>
			<td>BC Eagles</td>
		</tr>
		<tr>
			<td></td>
			<td>Dayshone Munch</td>
			<td>Redemption Christian</td>
		</tr>
		<tr>
			<td></td>
			<td>Mical Boyd</td>
			<td>NY Lions</td>
		</tr>
		<tr>
			<td></td>
			<td>Leo Schittenhelm</td>
			<td>Redemption Christian</td>
		</tr>
		<tr>
			<td></td>
			<td>Dennis Boyd</td>
			<td>Triple G</td>
		</tr>
		<tr>
			<td></td>
			<td>Ian Gardener</td>
			<td>CT Select</td>
		</tr>
		<tr>
			<td></td>
			<td>Sawyer Dearborn</td>
			<td>Southern Tier Range</td>
		</tr>
		<tr>
			<td></td>
			<td>Junior Saintel</td>
			<td>CMC Elite</td>
		</tr>
		<tr>
			<td></td>
			<td>Moreido Doweney</td>
			<td>We Will Win CN</td>
		</tr>
		<tr>
			<td></td>
			<td>Leland Williams</td>
			<td>LI Lightning</td>
		</tr>
		<tr>
			<td></td>
			<td>Eric Davis</td>
			<td>Lakewood</td>
		</tr>
		<tr>
			<td></td>
			<td>Alex Ramirez</td>
			<td>NY Falcons</td>
		</tr>
	</tbody>
</table>
