<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/KiethMatte100.jpg" alt="" title="KiethMatte100" width="100" height="120" class="aligncenter size-full wp-image-12956" /></td>
			<td>Kieth Matte</td>
			<td>Lebanon NH</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MosheWadley100.jpg" alt="" title="MosheWadley100" width="100" height="120" class="aligncenter size-full wp-image-12957" /></td>
			<td>Moshe Wadley</td>
			<td>Toronto CN</td>
		</tr>
		<tr>
			<td></td>
			<td>Steve Jordan</td>
			<td>Girard College PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Donovian Maxfield</td>
			<td>Manchester PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MattLocke100.jpg" alt="" title="MattLocke100" width="100" height="120" class="aligncenter size-full wp-image-12958" /></td>
			<td>Matt Locke</td>
			<td>Rivers School MA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/BaileyWhitman100.jpg" alt="" title="BaileyWhitman100" width="100" height="120" class="aligncenter size-full wp-image-12959" /></td>
			<td>Bailey Whitman</td>
			<td>Germantown Academy PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/PatrickJamison100.jpg" alt="" title="PatrickJamison100" width="100" height="120" class="aligncenter size-full wp-image-12960" /></td>
			<td>Patrick Jamison</td>
			<td>West Orange NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/RobbyCarmody100.jpg" alt="" title="RobbyCarmody100" width="100" height="120" class="aligncenter size-full wp-image-12964" /></td>
			<td>Robby Carmody</td>
			<td>Mars PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/OshaeBrissett1001.jpg" alt="" title="OshaeBrissett100" width="100" height="120" class="aligncenter size-full wp-image-12963" /></td>
			<td>Oshae Brisset</td>
			<td>Mississaugua CN</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MilesKentebe100.jpg" alt="" title="MilesKentebe100" width="100" height="120" class="aligncenter size-full wp-image-12962" /></td>
			<td>Miles Kentebe</td>
			<td>Toronto CN</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JamesScott100.jpg" alt="" title="JamesScott100" width="100" height="120" class="aligncenter size-full wp-image-12965" /></td>
			<td>James Scott</td>
			<td>Union NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JordanHolness100.jpg" alt="" title="JordanHolness100" width="100" height="120" class="aligncenter size-full wp-image-12966" /></td>
			<td>Jordan Holness</td>
			<td>Toronto CN</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/GregBoyd100.jpg" alt="" title="GregBoyd100" width="100" height="120" class="aligncenter size-full wp-image-12967" /></td>
			<td>Greg Boyd</td>
			<td>Clinton MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/DaiquanMartin100.jpg" alt="" title="DaiquanMartin100" width="100" height="120" class="aligncenter size-full wp-image-12968" /></td>
			<td>Daiquan Martin</td>
			<td>Toronto CN</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MychaelPaulo100.jpg" alt="" title="MychaelPaulo100" width="100" height="120" class="aligncenter size-full wp-image-12969" /></td>
			<td>Mychael Paulo</td>
			<td>Brampton CN</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MalikMooving100.jpg" alt="" title="MalikMooving100" width="100" height="120" class="aligncenter size-full wp-image-12970" /></td>
			<td>Malik Mooving</td>
			<td>Bronx NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/QuintonRose100.jpg" alt="" title="QuintonRose100" width="100" height="120" class="aligncenter size-full wp-image-12971" /></td>
			<td>Quinton Rose</td>
			<td>Bishop Kearney NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/GriffinKornaker100.jpg" alt="" title="GriffinKornaker100" width="100" height="120" class="aligncenter size-full wp-image-12972" /></td>
			<td>Griffin Kornaker</td>
			<td>Webster NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/OshaneTaylor-Douglas100.jpg" alt="" title="OshaneTaylor-Douglas100" width="100" height="120" class="aligncenter size-full wp-image-12973" /></td>
			<td>O'Shane Taylor-Douglas</td>
			<td>Scarborough CN</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TuckerLescoe100.jpg" alt="" title="TuckerLescoe100" width="100" height="120" class="aligncenter size-full wp-image-12974" /></td>
			<td>Tucker Lescoe</td>
			<td>Denver PA</td>
		</tr>
	</tbody>
</table>
