<table>
	<thead>
		<tr>
			<th>PHOTO</th>
			<th>NAME</th>
			<th>NBA TEAM</th>
			<th>COLLEGE</th>
			<th>HIGH SCHOOL</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Anthony Bennett</td>
			<td>Cavaliers</td>
			<td>UNLV</td>
			<td>Findlay NV</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/codyzeller100.jpg" alt="codyzeller100" width="100" height="120" class="aligncenter size-full wp-image-71011" /></td>
			<td>Cody Zeller</td>
			<td>Bobcats</td>
			<td>Indiana</td>
			<td>Washington IN</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/nerlens-noel-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44659" /></td>
			<td>Nerlens Noel</td>
			<td>Sixers</td>
			<td>Kentucky</td>
			<td>Tilton NH</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/04/TreyBurke100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-29818" /></td>
			<td>Trey Burke</td>
			<td>Jazz</td>
			<td>Michigan</td>
			<td>Northland OH</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/CJMcCollum100.jpg" alt="CJMcCollum100" width="100" height="120" class="aligncenter size-full wp-image-70778" /></td>
			<td>CJ McCollum</td>
			<td>Trail Blazers</td>
			<td>Lehigh</td>
			<td>Glen Oak OH</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/MichaelCarterWilliams100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44624" /></td>
			<td>Michael Carter-Williams</td>
			<td>Sixers</td>
			<td>Syracuse</td>
			<td>St. Andrew's RI</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/02/mason-plumlee.jpg" alt="mason plumlee" width="100" height="120" class="aligncenter size-full wp-image-57350" /></td>
			<td>Mason Plumlee</td>
			<td>Nets</td>
			<td>Duke</td>
			<td>Christ NC</td>
		</tr>
		<tr>
			<td></td>
			<td>Tim Hardaway Jr.</td>
			<td>Knicks</td>
			<td>Michigan</td>
			<td>Palmetto FL</td>
		</tr>
		<tr>
			<td></td>
			<td>Reggie Bullock</td>
			<td>Clippers</td>
			<td>North Carolina</td>
			<td>Kinston NC</td>
		</tr>
		<tr>
			<td></td>
			<td>Ray McCallum</td>
			<td>Pistons</td>
			<td>Detroit</td>
			<td>Country Day MI</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/03/RickyLedo100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-8437" /></td>
			<td>Ricky Ledo</td>
			<td>Mavericks</td>
			<td>Providence</td>
			<td>South Kent CT</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/ErickGreen100.jpg" alt="ErickGreen100" width="100" height="120" class="aligncenter size-full wp-image-71018" /></td>
			<td>Erick Green</td>
			<td>Hawks</td>
			<td>Virginia Tech</td>
			<td>Paul VI VA </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/RyanKelly100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18907" /></td>
			<td>Ryan Kelly</td>
			<td>Bulls</td>
			<td>Duke</td>
			<td>Ravencroft NC</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/Erik-Murphy-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-2522" /></td>
			<td>Erik Murphy</td>
			<td>Hawks</td>
			<td>Florida</td>
			<td>St. Mark's MA</td>
		</tr>
		<tr>
			<td></td>
			<td>Romero Osby</td>
			<td>Timberwolves</td>
			<td>Oklahoma</td>
			<td>North Lauderdale MI</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/03/alexoriakhi1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-8432" /></td>
			<td>Alex Oriakhi</td>
			<td>Spurs</td>
			<td>Missouri</td>
			<td>Winchendon MA</td>
		</tr>
		<tr>
			<td></td>
			<td>Deshaun Thomas</td>
			<td>Timberwolves</td>
			<td>Ohio State</td>
			<td>Bishop Luers IN</td>
		</tr>
	</tbody>
</table>
