<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>St. Patrick  59</td>
			<td>Raritan  51</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Atlantic City  67</td>
			<td>Bergen Catholic  56</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>CBA  59</td>
			<td>Neptune  44</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Benedict's  72</td>
			<td>Red Bank  47</td>
			<td></td>
		</tr>
	</tbody>
</table>
