<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winner</th>
			<th>Loser</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/tajbenning100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/TajBenning100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67396" /></a>Taj Benning</td>
			<td>Bergen Catholic  65</td>
			<td>Immaculate Conception  40</td>
			<td><a href="http://hoopgroup.com/jalencarey100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/JalenCarey100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67397" /></a>Jalen Carey</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/adammitolamvptip15100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/AdamMitolamvptip15100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67398" /></a>Adam Mitola</td>
			<td>Gill St. Bernards  67</td>
			<td>Teaneck  55</td>
			<td><a href="http://hoopgroup.com/jaquayejames100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/JaquayeJames100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67399" /></a>Ja'Quaye James</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/brandonandersonmvptip15100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/BrandonAndersonmvptip15100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67400" /></a>Brandon Anderson</td>
			<td>Don Bosco Prep  52</td>
			<td>CBA  46</td>
			<td><a href="http://hoopgroup.com/patandreemvptip1215100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/PatAndreemvptip1215100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67401" /></a>Pat Andree</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/denggak100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/DengGak100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67422" /></a>Deng Gak</td>
			<td>Blair Academy  63</td>
			<td>Hudson Catholic  60</td>
			<td><a href="http://hoopgroup.com/luthermuhammad100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/LutherMuhammad100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67423" /></a>Luther Muhammad</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/austinwilliams100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/AustinWilliams100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67424" /></a>Austin Williams</td>
			<td>Seton Hall Prep  58</td>
			<td>Columbia  34</td>
			<td><a href="http://hoopgroup.com/stephengabriel100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/StephenGabriel100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67425" /></a>Stephen Gabriel</td>
		</tr>
	</tbody>
</table>
