<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/GilbertoBenz100.jpg" alt="" title="GilbertoBenz100" width="100" height="120" class="aligncenter size-full wp-image-12765" /></td>
			<td>Gilberto Benz</td>
			<td>Reading PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MalcolmSmith100.jpg" alt="" title="MalcolmSmith100" width="100" height="120" class="aligncenter size-full wp-image-12795" /></td>
			<td>Malcolm Smith</td>
			<td>Princeton Day MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JustinMcFadden100.jpg" alt="" title="JustinMcFadden100" width="100" height="120" class="aligncenter size-full wp-image-12766" /></td>
			<td>Justin McFadden</td>
			<td>Lower Merion PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/PatrickSmith100.jpg" alt="" title="PatrickSmith100" width="100" height="120" class="aligncenter size-full wp-image-12796" /></td>
			<td>Patrick Smith</td>
			<td>Archbishop Wood PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TyseanPowelll100.jpg" alt="" title="TyseanPowelll100" width="100" height="120" class="aligncenter size-full wp-image-12797" /></td>
			<td>Tysean Powell</td>
			<td>Benedictine OH</td>
		</tr>
		<tr>
			<td></td>
			<td>Byron Hawkins</td>
			<td>Good Counsel MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/RodneyWilliams100.jpg" alt="" title="RodneyWilliams100" width="100" height="120" class="aligncenter size-full wp-image-12798" /></td>
			<td>Rodney Williams</td>
			<td>Cherry Hill West NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MuhammadRahkman100.jpg" alt="" title="MuhammadRahkman100" width="100" height="120" class="aligncenter size-full wp-image-12799" /></td>
			<td>Muhammad Rahkman</td>
			<td>Allentown Central Catholic PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Ismael Sanogo</td>
			<td>Newark Eastside NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Shane Eberle</td>
			<td>Good Counsel MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MitchellCohen100.jpg" alt="" title="MitchellCohen100" width="100" height="120" class="aligncenter size-full wp-image-12800" /></td>
			<td>Mitchell Cohen</td>
			<td>Sparta NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AaronEdmead100.jpg" alt="" title="AaronEdmead100" width="100" height="120" class="aligncenter size-full wp-image-12767" /></td>
			<td>Aaron Edmead</td>
			<td>Deer Park NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ErnieMonroe100.jpg" alt="" title="ErnieMonroe100" width="100" height="120" class="aligncenter size-full wp-image-12768" /></td>
			<td>Ernie Monroe</td>
			<td>Mount Vernon NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TaylorMcHugh100.jpg" alt="" title="TaylorMcHugh100" width="100" height="120" class="aligncenter size-full wp-image-12801" /></td>
			<td>Taylor McHugh</td>
			<td>Bishop Ireton VA</td>
		</tr>
		<tr>
			<td></td>
			<td>David Hawthorne</td>
			<td>Union Catholic NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MattKlinewski100.jpg" alt="" title="MattKlinewski100" width="100" height="120" class="aligncenter size-full wp-image-12802" /></td>
			<td>Matthew Klinewski</td>
			<td>Eastern Regional NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Troy Harper</td>
			<td>Neuman Goretti PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JamarGilbert100.jpg" alt="" title="JamarGilbert100" width="100" height="120" class="aligncenter size-full wp-image-12769" /></td>
			<td>Jamar Gilbert</td>
			<td>Newark Tech NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/DevanteMosley100.jpg" alt="" title="DevanteMosley100" width="100" height="120" class="aligncenter size-full wp-image-12770" /></td>
			<td>Devannte Mosley</td>
			<td>Neuman Goretti PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/BradleyJacks100.jpg" alt="" title="BradleyJacks100" width="100" height="120" class="aligncenter size-full wp-image-12771" /></td>
			<td>Bradley Jacks</td>
			<td>Gonzaga DC</td>
		</tr>
		<tr>
			<td></td>
			<td>Jamal Custis</td>
			<td>Neuman Goretti PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TylerAncrum100.jpg" alt="" title="TylerAncrum100" width="100" height="120" class="aligncenter size-full wp-image-12803" /></td>
			<td>Tyler Ancrum</td>
			<td>Bridgeport Central CT</td>
		</tr>
	</tbody>
</table>
