<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Grad year</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Deondre Bourne</td>
			<td>2017</td>
			<td>leman Manhattan Prep NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Plummer</td>
			<td>2017</td>
			<td>Vaughn CN</td>
		</tr>
		<tr>
			<td></td>
			<td>Melo Eggleston</td>
			<td>2017</td>
			<td>Clinton Christian MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Oshae Brisset</td>
			<td>2017</td>
			<td>Findlay Prep NV</td>
		</tr>
		<tr>
			<td></td>
			<td>Zach Kent</td>
			<td>2017</td>
			<td>St. Andrews DE</td>
		</tr>
		<tr>
			<td></td>
			<td>David Beatty</td>
			<td>2017</td>
			<td>Archbishop Carroll PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Myles Dread</td>
			<td>2018</td>
			<td>Gonzaga DC</td>
		</tr>
		<tr>
			<td></td>
			<td>Naja Hunter</td>
			<td>2017</td>
			<td>Westtown PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Nazreon Reid</td>
			<td>2018</td>
			<td>Roselle Catholic NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Mohammed Bamba</td>
			<td>2017</td>
			<td>Westtown PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Quade Green</td>
			<td>2017</td>
			<td>Neuman Goretti PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Eric Ayala</td>
			<td>2017</td>
			<td>Sanford DE</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Lykes</td>
			<td>2017</td>
			<td>Gonzaga DC</td>
		</tr>
		<tr>
			<td></td>
			<td>Sean Miller-Moore</td>
			<td>2017</td>
			<td>St. Augustine's CN</td>
		</tr>
		<tr>
			<td></td>
			<td>Louis King</td>
			<td>2018</td>
			<td>Roselle Catholic</td>
		</tr>
		<tr>
			<td></td>
			<td>Daniel Mading</td>
			<td>2017</td>
			<td>Rock School</td>
		</tr>
		<tr>
			<td></td>
			<td>Scott Hitchon</td>
			<td>2017</td>
			<td>Anderson CN</td>
		</tr>
		<tr>
			<td></td>
			<td>Donald Flores</td>
			<td>2017</td>
			<td>Lincoln NY</td>
		</tr>
		<tr>
			<td></td>
			<td>Hamidou Diallo</td>
			<td>2017</td>
			<td>Putnam Science CT</td>
		</tr>
		<tr>
			<td></td>
			<td>Lonnie Walker</td>
			<td>2017</td>
			<td>Reading PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Hassan French</td>
			<td>2017</td>
			<td>Commonwealth Academy MA</td>
		</tr>
		<tr>
			<td></td>
			<td>Obinna Ejike</td>
			<td>2017</td>
			<td>Virginia Academy VA</td>
		</tr>
		<tr>
			<td></td>
			<td>Leondre Washington</td>
			<td>2017</td>
			<td>Teaneck NJ</td>
		</tr>
	</tbody>
</table>
