<table>
	<thead>
		<tr>
			<th>PHOTO</th>
			<th>NAME</th>
			<th>NBA D-LEAGUE TEAM</th>
			<th>COLLEGE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Micah Downs</td>
			<td>Maine</td>
			<td>Gonzaga</td>
		</tr>
		<tr>
			<td></td>
			<td>Marcus Landry</td>
			<td>Reno</td>
			<td>Wisconsin</td>
		</tr>
		<tr>
			<td></td>
			<td>Courtney Forsten</td>
			<td>Los Angeles</td>
			<td>Arkansas</td>
		</tr>
		<tr>
			<td></td>
			<td>Dajuan Summers</td>
			<td>Maine</td>
			<td>Georgetown</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Wright</td>
			<td>Iowa</td>
			<td>Georgetown</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/03/ShelvinMack100.jpg" alt="ShelvinMack100" width="100" height="120" class="aligncenter size-full wp-image-7979" /></td>
			<td>Shelvin Mack</td>
			<td>Maine</td>
			<td>Butler</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Wright</td>
			<td>Maine</td>
			<td>Dayton</td>
		</tr>
		<tr>
			<td></td>
			<td>Demetris Nichols</td>
			<td>Sioux Falls</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td></td>
			<td>DJ Kennedy</td>
			<td>Erie</td>
			<td>St. John's</td>
		</tr>
		<tr>
			<td></td>
			<td>Henry Sims</td>
			<td>Erie</td>
			<td>Georgetown</td>
		</tr>
	</tbody>
</table>
