<table>
	<tbody>
		<tr>
			<td></td>
			<td>Name</td>
			<td>College</td>
		</tr>
		<tr>
			<td></td>
			<td>Thomas Robinson</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=15435" rel="attachment wp-att-15435"><img src="https://hoopgroup.com/wp-content/uploads/2012/02/jaredsullinger2100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-15435" /></a></td>
			<td>Jared Sullinger</td>
			<td>Ohio State</td>
		</tr>
		<tr>
			<td></td>
			<td>Kevin Jones</td>
			<td>West Virginia</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57066" rel="attachment wp-att-57066"><img src="https://hoopgroup.com/wp-content/uploads/2015/01/MikeGilchrist100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57066" /></a></td>
			<td>Michael Kidd-Gilchrist</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=2527" rel="attachment wp-att-2527"><img src="https://hoopgroup.com/wp-content/uploads/2011/02/tyshawntaylor100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-2527" /></a></td>
			<td>Tyshawn Taylor</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=18829" rel="attachment wp-att-18829"><img src="https://hoopgroup.com/wp-content/uploads/2012/03/kendallmarshall100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18829" /></a></td>
			<td>Kendall Marshall</td>
			<td>North Carolina</td>
		</tr>
		<tr>
			<td></td>
			<td>Damian Lillard</td>
			<td>Weber State</td>
		</tr>
		<tr>
			<td></td>
			<td>Will Barton</td>
			<td>Memphis</td>
		</tr>
		<tr>
			<td></td>
			<td>De'Mon Brooks</td>
			<td>Davidson</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/player-feature/alumni-updates/2015-nba-rising-stars-challenge/attachment/treyburke100-2/" rel="attachment wp-att-57353"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/treyburke100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57353" /></a></td>
			<td>Trey Burke</td>
			<td>Michigan</td>
		</tr>
		<tr>
			<td></td>
			<td>Paul Crosby</td>
			<td>Mississippi Valley St</td>
		</tr>
		<tr>
			<td></td>
			<td>Darius Johnson-Odom</td>
			<td>Marquette</td>
		</tr>
		<tr>
			<td></td>
			<td>Kris Joseph</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td></td>
			<td>Scott Machado</td>
			<td>Iona</td>
		</tr>
		<tr>
			<td></td>
			<td>CJ McCollum</td>
			<td>Lehigh</td>
		</tr>
		<tr>
			<td></td>
			<td>Andrew Nicholson</td>
			<td>St. Bonaventure</td>
		</tr>
		<tr>
			<td></td>
			<td>Kyle O'Quinn</td>
			<td>Norfolk State</td>
		</tr>
		<tr>
			<td></td>
			<td>Ryan Pearson</td>
			<td>George Mason</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=18906" rel="attachment wp-att-18906"><img src="https://hoopgroup.com/wp-content/uploads/2012/03/Mason-Plumlee-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18906" /></a></td>
			<td>Mason Plumlee</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td></td>
			<td>Zack Rosen</td>
			<td>Penn</td>
		</tr>
		<tr>
			<td></td>
			<td>Mike Scott</td>
			<td>Virginia</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=18827" rel="attachment wp-att-18827"><img src="https://hoopgroup.com/wp-content/uploads/2012/03/DionWaiters100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18827" /></a></td>
			<td>Dion Waiters</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td></td>
			<td>Cody Zeller</td>
			<td>Indiana</td>
		</tr>
	</tbody>
</table>
