<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th></th>
			<th></th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57263" rel="attachment wp-att-57263"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/ZahirNewellmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57263" /></a>Zahir Newell: 18 points</td>
			<td>Union Catholic  70</td>
			<td>West Orange  66</td>
			<td><a href="http://hoopgroup.com/?attachment_id=57264" rel="attachment wp-att-57264"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/AndyFleurantinmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57264" /></a>Andy Fleurantin: 19 points</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57265" rel="attachment wp-att-57265"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/JamirHarrismvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57265" /></a>Jamir Harris: 16 points</td>
			<td>St. Patrick's  55</td>
			<td>Bergen Catholic  40</td>
			<td><a href="http://hoopgroup.com/?attachment_id=57266" rel="attachment wp-att-57266"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/PierfrancescoOliva1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57266" /></a>Pierfrancesco Oliva:  12 points</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57267" rel="attachment wp-att-57267"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/MarkisMcDuffiemvp1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57267" /></a>Markis McDuffie: 21 points</td>
			<td>St. Anthony  49</td>
			<td>Newark East Side  33</td>
			<td><a href="http://hoopgroup.com/?attachment_id=57268" rel="attachment wp-att-57268"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/JibreelAhmadmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57268" /></a>Jibreel Ahmad: 12 points</td>
		</tr>
		<tr>
			<td> <a href="http://hoopgroup.com/?attachment_id=57269" rel="attachment wp-att-57269"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/IsaiahBriscoemvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57269" /></a>Isaiah Briscoe: 23 points, 6 assists</td>
			<td>Roselle Catholic  78</td>
			<td>Blair  46</td>
			<td> <a href="http://hoopgroup.com/?attachment_id=57270" rel="attachment wp-att-57270"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/SpencerOsbournemvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57270" /></a>Spencer Osbourne: 13 points</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57271" rel="attachment wp-att-57271"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/rickeemmixsonmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57271" /></a>Rick'Keem Mixson: 20 points</td>
			<td>Linden  63</td>
			<td>Hun  56</td>
			<td><a href="http://hoopgroup.com/?attachment_id=57272" rel="attachment wp-att-57272"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/DomRobbmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57272" /></a>Dominic Robb: 16 points</td>
		</tr>
	</tbody>
</table>
