<table>
	<thead>
		<tr>
			<th>Home Team MVP</th>
			<th>Home Team</th>
			<th>Away Team</th>
			<th>Away Team MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57255" rel="attachment wp-att-57255"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/AsemJohnsonmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57255" /></a>Asem Johnson: 12 points, 
buzzer beater three</td>
			<td>Paterson Eastside  52</td>
			<td>East Orange  49</td>
			<td><a href="http://hoopgroup.com/?attachment_id=57256" rel="attachment wp-att-57256"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/JeffDuvunstonmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57256" /></a>Jeff Duvinston: 12 points</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57257" rel="attachment wp-att-57257"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/BrandonAndersonmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57257" /></a>Brandon Anderson: 20 points</td>
			<td>Don Bosco  58</td>
			<td>CBA  51</td>
			<td><a href="http://hoopgroup.com/?attachment_id=57258" rel="attachment wp-att-57258"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/PatAndreemvp2100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57258" /></a>Pat Andree: 18 points</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57259" rel="attachment wp-att-57259"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/AdamMitolamvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57259" /></a>Adam Mitola: 24 points,
 6 three pointers</td>
			<td>Gill St. Bernards  69</td>
			<td>Teaneck  52</td>
			<td><a href="http://hoopgroup.com/?attachment_id=57260" rel="attachment wp-att-57260"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/TylerDearing100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57260" /></a>Tyler Dearing: 20 points </td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=57261" rel="attachment wp-att-57261"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/TJGibbsmvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57261" /></a>TJ Gibbs: 24 points</td>
			<td>Seton Hall Prep  58</td>
			<td>Columbia  56</td>
			<td><a href="http://hoopgroup.com/?attachment_id=57262" rel="attachment wp-att-57262"><img src="https://hoopgroup.com/wp-content/uploads/2015/02/MikeRunciemvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57262" /></a>Mike Runcie: 23 points</td>
		</tr>
	</tbody>
</table>
