<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
			<th>NBA Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/KyleAnderson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-48463" /></td>
			<td>Kyle Anderson</td>
			<td>St. Anthony's</td>
			<td>San Antonio Spurs</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/09/WadeBaldwin100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-12903" /></td>
			<td>Wade Baldwin</td>
			<td>St. Joseph's Metuchen</td>
			<td>Memphis Grizzlies</td>
		</tr>
		<tr>
			<td></td>
			<td>Sean Banks</td>
			<td>Bergen Catholic</td>
			<td>New Orleans Hornets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/DeAndreBembry100.jpg" alt="" width="100" height="120" class="size-full wp-image-82220" /> </td>
			<td>Deandre Bembry</td>
			<td>St. Patrick's</td>
			<td>Atlanta Hawks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/DeseanButler100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-81414" /></td>
			<td>Desean Butler</td>
			<td>Bloomfield Tech</td>
			<td>Miami Heat</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/DerrickCaracter1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-2754" /></td>
			<td>Derrick Caracter</td>
			<td>Scotch Plains</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Earl-Clark-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-60026" /></td>
			<td>Earl Clark</td>
			<td>Rahway</td>
			<td>Los Angeles Lakers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/CharlesCooke100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80525" /></td>
			<td>Charles Cooke</td>
			<td>Trenton Catholic</td>
			<td>New Orleans Pelicans</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/01/TylerEnnislv100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57010" /></td>
			<td>Tyler Ennis</td>
			<td>St. Benedict's</td>
			<td>Phoenix Suns</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/01/Tyreke-Evans-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-68622" /></td>
			<td>Tyreke Evans</td>
			<td>American Christian PA</td>
			<td>Sacramento Kings</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/01/RandyFoye100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-1379" /></td>
			<td>Randy Foye</td>
			<td>Newark East Side</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/03/RickyLedo100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-8437" /></td>
			<td>Ricky Ledo</td>
			<td>South Kent CT</td>
			<td>Milwaukee Bucks</td>
		</tr>
		<tr>
			<td></td>
			<td>Scott Machado</td>
			<td>St. Benedict's</td>
			<td>Houston Rockets</td>
		</tr>
		<tr>
			<td></td>
			<td>Ahmad Nivins</td>
			<td>St. Anthony's</td>
			<td>Dallas Mavericks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/10/Malachi-Richardson.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-79562" /></td>
			<td>Malachi Richardson</td>
			<td>Trenton Catholic</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/12/SamardoSamuels100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66801" /></td>
			<td>Samardo Samuels</td>
			<td>St. Benedict's</td>
			<td>Cleveland Cavaliers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/tyshawntaylor100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-2527" /></td>
			<td>Tyshawn Taylor</td>
			<td>St. Anthony's</td>
			<td>Brooklyn Nets</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/01/LanceThomas100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67787" /></td>
			<td>Lance Thomas</td>
			<td>St. Benedict's</td>
			<td>New York Knicks</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/06/KarlTownsmvptip100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-62244" /></td>
			<td>Karl Towns</td>
			<td>St. Joseph's Metuchen</td>
			<td>Minnesota Timberwolves</td>
		</tr>
		<tr>
			<td></td>
			<td>Darryl Watkins</td>
			<td>Paterson Catholic</td>
			<td>Sacramento Kings</td>
		</tr>
	</tbody>
</table>
