<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Tyler Jones</td>
			<td>Peddie NJ</td>
		</tr>
		<tr>
			<td>Michael Myers</td>
			<td>Gonzaga DC</td>
		</tr>
		<tr>
			<td>Austin Hutcherson</td>
			<td>Hun NJ</td>
		</tr>
		<tr>
			<td>Marley Blommers</td>
			<td>Marianapolis CT</td>
		</tr>
		<tr>
			<td>Andrew Ward</td>
			<td>Pope John NJ</td>
		</tr>
		<tr>
			<td>Gabe Stefanini</td>
			<td>Bergen Catholic NJ</td>
		</tr>
		<tr>
			<td>Jake Betlow</td>
			<td>Montverde FL</td>
		</tr>
		<tr>
			<td>Tyler Lamport</td>
			<td>South Kortright NY</td>
		</tr>
		<tr>
			<td>Matt Faw</td>
			<td>Upper Merion PA</td>
		</tr>
		<tr>
			<td>Valdir Manuel</td>
			<td>Patrick School NJ</td>
		</tr>
		<tr>
			<td>Daniel Sofield</td>
			<td>Jackson Liberty NJ</td>
		</tr>
		<tr>
			<td>Zach Watson</td>
			<td>Dublin Jerome OH</td>
		</tr>
		<tr>
			<td>Justin Jaworski</td>
			<td>Perkiomen Valley</td>
		</tr>
		<tr>
			<td>Devin Jensen</td>
			<td>Manasquan NJ</td>
		</tr>
		<tr>
			<td>CJ Mulvey</td>
			<td>Albany Academy NY</td>
		</tr>
		<tr>
			<td>Ryan Omslaer</td>
			<td>St. Peter's Prep NJ</td>
		</tr>
		<tr>
			<td>Canberk Cevit</td>
			<td>Turkey</td>
		</tr>
		<tr>
			<td>Colton Lawrence</td>
			<td>Hill PA</td>
		</tr>
		<tr>
			<td>Joel Boyce</td>
			<td>St. Luke's CT</td>
		</tr>
		<tr>
			<td>Michael Morreale</td>
			<td>Gill St. Bernard's NJ</td>
		</tr>
		<tr>
			<td>Jordan Camper</td>
			<td>Chester PA</td>
		</tr>
	</tbody>
</table>
