<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/shakeemrichardson1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46087" />Shakeem Richardson</td>
			<td>Neptune  59</td>
			<td>Shore  49</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/danlargey100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46088" />Dan Largey</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/jaganmosely100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46084" />Jagan Mosely</td>
			<td>St. Anthony's  64</td>
			<td>CBA  46</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/chimaekekeugbor100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46089" />Chima Ekekeugbor</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/terrellcox100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46085" />Terrell Cox</td>
			<td>Long Branch  50</td>
			<td>Lakewood  49</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/danniblack100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46090" />Dan Niblack</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/01/MattFarrell100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-46086" />Matt Farrell</td>
			<td>Point Beach  57</td>
			<td>Jackson Memorial  37</td>
			<td>Eric Carter</td>
		</tr>
	</tbody>
</table>
