<table>
	<thead>
		<tr>
			<th></th>
			<th>Home</th>
			<th></th>
			<th>Visitor</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>2:30</td>
			<td>St. Benedict's</td>
			<td>vs.</td>
			<td>Rutgers Prep</td>
		</tr>
		<tr>
			<td>4:10</td>
			<td>Linden</td>
			<td>vs.</td>
			<td>Hun</td>
		</tr>
		<tr>
			<td>5:50</td>
			<td>Newark East Side</td>
			<td>vs.</td>
			<td>Roselle Catholic</td>
		</tr>
		<tr>
			<td>7:30</td>
			<td>Ramapo</td>
			<td>vs.</td>
			<td>St. Joseph's Metuchen</td>
		</tr>
	</tbody>
</table>
