<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Romelo Trimble
</td>
			<td>DC Assault
</td>
		</tr>
		<tr>
			<td></td>
			<td>Bryan Hawkins
</td>
			<td>DC Assault
</td>
		</tr>
		<tr>
			<td></td>
			<td>Rashard Kelly
</td>
			<td>DC Assault
</td>
		</tr>
		<tr>
			<td></td>
			<td>Andre Walker
</td>
			<td>DC Assault
</td>
		</tr>
		<tr>
			<td></td>
			<td>Dontae Jones
</td>
			<td>Las Vegas Prospects
</td>
		</tr>
		<tr>
			<td></td>
			<td>Darryl Gaynor
</td>
			<td>Las Vegas Prospects
</td>
		</tr>
		<tr>
			<td></td>
			<td>Shaquille Carr
</td>
			<td>Las Vegas Prospects
</td>
		</tr>
		<tr>
			<td></td>
			<td>Justin Burks
</td>
			<td>Las Vegas Prospects
</td>
		</tr>
		<tr>
			<td></td>
			<td>Ben Bentil
</td>
			<td>We R One - ECE/NJABC
</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Kohl
</td>
			<td>We R One - ECE/NJABC
</td>
		</tr>
		<tr>
			<td></td>
			<td>Isaiah Washington
</td>
			<td>We R One - ECE/NJABC
</td>
		</tr>
		<tr>
			<td></td>
			<td>Aaron Falzon
</td>
			<td>NE Playaz</td>
		</tr>
		<tr>
			<td></td>
			<td>Kamau Stokes
</td>
			<td>Baltimore Supreme</td>
		</tr>
		<tr>
			<td></td>
			<td>Jaylen Adams
</td>
			<td>Baltimore Supreme</td>
		</tr>
		<tr>
			<td></td>
			<td>Donovan Mitchell
</td>
			<td>The City</td>
		</tr>
		<tr>
			<td></td>
			<td>Ray Saunders
</td>
			<td>Southern Kings</td>
		</tr>
		<tr>
			<td></td>
			<td>Micah Till
</td>
			<td>6th Man Warriors</td>
		</tr>
		<tr>
			<td></td>
			<td>Julian Branford
</td>
			<td>Red Knight Pride</td>
		</tr>
		<tr>
			<td></td>
			<td>Josh Trumpy
</td>
			<td>Central Penn Ballers</td>
		</tr>
		<tr>
			<td></td>
			<td>Alex Wolf
</td>
			<td>New Heights</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Drew
</td>
			<td>Jersey Elite</td>
		</tr>
		<tr>
			<td></td>
			<td>Jeff Holland
</td>
			<td>Crusader Nation Cardinal</td>
		</tr>
		<tr>
			<td></td>
			<td>Arthur Haggard
</td>
			<td>SYF Players</td>
		</tr>
		<tr>
			<td></td>
			<td>Jake Silpe
</td>
			<td>JS Warriors
</td>
		</tr>
		<tr>
			<td></td>
			<td>Eric Anderson</td>
			<td>JS Warriors
</td>
		</tr>
		<tr>
			<td></td>
			<td>Andre Berry
</td>
			<td>NY Panthers</td>
		</tr>
		<tr>
			<td></td>
			<td>Dupree mcBrayer
</td>
			<td>Brooklyn Badgers
</td>
		</tr>
		<tr>
			<td></td>
			<td>Michael Hamlin
</td>
			<td>Virginia Assault Red
</td>
		</tr>
		<tr>
			<td></td>
			<td>Dwayne Morgan
</td>
			<td>UA Baltimore Finest
</td>
		</tr>
		<tr>
			<td></td>
			<td>Allen Costley
</td>
			<td>UA Baltimore Finest
</td>
		</tr>
		<tr>
			<td></td>
			<td>Omari George
</td>
			<td>UA Baltimore Finest
</td>
		</tr>
		<tr>
			<td></td>
			<td>Johnny  Rhodes
</td>
			<td>Team Future
</td>
		</tr>
		<tr>
			<td></td>
			<td>Patrick Smith
</td>
			<td>Perkasie Knights
</td>
		</tr>
		<tr>
			<td></td>
			<td>Gabriel  Mack
</td>
			<td>PA Pump N Run- Reddish
</td>
		</tr>
		<tr>
			<td></td>
			<td>Haanif Cheatam
</td>
			<td>Boca Pal Viper
</td>
		</tr>
		<tr>
			<td></td>
			<td>Jordan Brooks
</td>
			<td>Cecil Kirk
</td>
		</tr>
		<tr>
			<td></td>
			<td>Bebe Woples
</td>
			<td>Red Knight Pride
</td>
		</tr>
		<tr>
			<td></td>
			<td>Christian Irons
</td>
			<td>Team Nelson</td>
		</tr>
	</tbody>
</table>
