<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Position</th>
			<th>Email</th>
			<th>Bio</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/rob1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59520" /></td>
			<td>Rob Kennedy</td>
			<td>President</td>
			<td><a href="mailto:robk@hoopgroup.com">Robk@HoopGroup.com</a></td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/about/staff/rob-kennedy.php">Read</a></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/matt-pooley.jpg" alt="" width="100" height="75" class="aligncenter size-full wp-image-59518" /></td>
			<td>Matt Pooley</td>
			<td>Vice President </td>
			<td><a href="mailto:pooley@hoopgroup.com">Pooley@HoopGroup.com</a></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Jordan Tillotson</td>
			<td>Director of Operations</td>
			<td><a href="mailto:jordan@hoopgroup.com">Jordan@HoopGroup.com</a></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/james-albano1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59516" /></td>
			<td>Zack Curran</td>
			<td>Director of Hoop Group Elite</td>
			<td><a href="mailto:curran@hoopgroup.com">curran@HoopGroup.com</a></td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/about/staff/dave-krupinski.php">Read</a></td>
		</tr>
		<tr>
			<td></td>
			<td>Cooper Handelsman</td>
			<td>Director of Hoop Group Elite</td>
			<td><a href="mailto:cooper@hoopgroup.com">Cooper@HoopGroup.com.</a></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Shasha Brown</td>
			<td>Director of <a href="http://hoopgroup.com/elite/">Hoop Group Elite</a></td>
			<td><a href="mailto:sha@hoopgroup.com">Sha@HoopGroup.com</a></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Austin Kelley</td>
			<td>Director of <a href="http://hoopgroup.com/elite/">Hoop Group Elite</a></td>
			<td><a href="mailto:austin@hoopgroup.com">Austin@HoopGroup.com</a></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Megan Cunningham</td>
			<td>Assistant Director of <a href="http://hoopgroup.com/skills/">Hoop Group Skills</a> and Director of Girls' Events</td>
			<td><a href="mailto:megan@hoopgroup.com">megan@HoopGroup.com</a></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/IMG_6619-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59511" /></td>
			<td>Mike Murray
</td>
			<td>Director of <a href="http://hoopgroup.com/skills/">Hoop Group Skills</a></td>
			<td><a href="mailto:murray@hoopgroup.com">murray@HoopGroup.com</a></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/mike-rice1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59519" /></td>
			<td>Eric Kessler</td>
			<td>Director of <a href="http://hoopgroup.com/team-tournaments/">Team Tournaments</a></td>
			<td><a href="mailto:kessler@hoopgroup.com">Kessler@HoopGroup.com.</a></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/01/IMG_8201-100x75.jpg" alt="IMG_8201" width="100" height="75" class="alignleft size-thumbnail wp-image-70448" /></td>
			<td>Dave Fedor</td>
			<td>Director of <a href="http://hoopgroup.com/team-tournaments/">Team Tournaments</a></td>
			<td><a href="mailto:dave@hoopgroup.com">Dave@HoopGroup.com</a></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/tiny-green1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59522" /></td>
			<td>Tiny Green</td>
			<td>Director of Skill Development at <a href="http://hoopgroup.com/hoop-group-headquarters/">Hoop Group Headquarters</a></td>
			<td><a href="mailto:tiny@hoopgroup.com">Tiny@HoopGroup.com</a></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/ryan-finch1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59521" /></td>
			<td>Mike Rice</td>
			<td>Director of HGHQ <a href="http://hoopgroup.com/hoop-group-headquarters/">Hoop Group Headquarters</a></td>
			<td><a href="mailto:rice@hoopgroup.com">Rice@HoopGroup.com</a></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/eric-kessler1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-59515" /></td>
			<td>Eric Kessler</td>
			<td>Director of <a href="http://hoopgroup.com/headquarters/">Hoop Group Headquarters</a></td>
			<td><a href="mailto:kessler@hoopgroup.com">Kessler@HoopGroup.com.</a></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Kaitlyn Fedor</td>
			<td>Director of Marketing</td>
			<td><a href="mailto:kaitlyn@hoopgroup.com">kaitlyn@HoopGroup.com.</a></td>
			<td></td>
		</tr>
	</tbody>
</table>
