<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Lauren Mincy</td>
			<td>University NJ</td>
			<td>Maryland</td>
		</tr>
		<tr>
			<td></td>
			<td>Haley Peters
</td>
			<td>Peddie NJ</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td></td>
			<td>Stefanie Dolson
</td>
			<td>Minisink Valley NY</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
