<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/01/PatrickHolloway100.jpg" alt="" title="PatrickHolloway100" width="100" height="120" class="aligncenter size-full wp-image-15063" />
MVP Patrick Holloway</td>
			<td>Paul VI VA  58


</td>
			<td>Parkland  39


</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/01/ZachMuhr100.jpg" alt="" title="ZachMuhr100" width="100" height="120" class="aligncenter size-full wp-image-15055" />
MVP Zach Muhr</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/01/JarenSina2100.jpg" alt="" title="JarenSina2100" width="100" height="120" class="aligncenter size-full wp-image-15051" />
MVP Jaren Sina</td>
			<td>Gill St. Bernards NJ  61


</td>
			<td>William Allen  53


</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/01/JalenCannon100.jpg" alt="" title="JalenCannon100" width="100" height="120" class="aligncenter size-full wp-image-15056" />
MVP Jalen Cannon</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/01/TylerHarris100.jpg" alt="" title="TylerHarris100" width="100" height="120" class="aligncenter size-full wp-image-15052" />
MVP Tyler Harris</td>
			<td>St. Benedict's NJ  65


</td>
			<td>Penn Wood  60


</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/01/AaronBrown100.jpg" alt="" title="AaronBrown100" width="100" height="120" class="aligncenter size-full wp-image-15057" />MVP Aaron Brown</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/01/TynellFortune100.jpg" alt="" title="TynellFortune100" width="100" height="120" class="aligncenter size-full wp-image-15054" />
MVP Tynell Fortune</td>
			<td>Pocono Mountain West  49

</td>
			<td>Liberty  45


</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/01/DarrunHilliard100.jpg" alt="" title="DarrunHilliard100" width="100" height="120" class="aligncenter size-full wp-image-15058" />MVP Darrun Hilliard</td>
		</tr>
	</tbody>
</table>
