<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/03/KyleAnderson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-8442" /></td>
			<td>Kyle Anderson</td>
			<td>St. Anthony NJ</td>
			<td>UCLA</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/KEITHAPPLING100.jpg" alt="KEITHAPPLING100" width="100" height="120" class="aligncenter size-full wp-image-70829" /></td>
			<td>Keith Appling</td>
			<td></td>
			<td>Michigan State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/SemajChriston100.jpg" alt="semajchriston100" width="100" height="120" class="aligncenter size-full wp-image-79686" /></td>
			<td>Semaj Christon</td>
			<td>St. Thomas More CT</td>
			<td>Xavier</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/Aaron-Craft-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44709" /></td>
			<td>Aaron Craft</td>
			<td>Liberty Benton OH</td>
			<td>Ohio State</td>
		</tr>
		<tr>
			<td></td>
			<td>Cleanthony Early</td>
			<td>Mt. Zion</td>
			<td>Wichita State</td>
		</tr>
		<tr>
			<td></td>
			<td>CJ Fair</td>
			<td>Brewster Academy NH</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/02/JERIANGRANT100.jpg" alt="JERIANGRANT100" width="100" height="120" class="aligncenter size-full wp-image-71121" /></td>
			<td>Jerian Grant</td>
			<td>DeMatha MD</td>
			<td>Notre Dame</td>
		</tr>
		<tr>
			<td></td>
			<td>Gary Harris</td>
			<td>Hamilton Southeastern IN</td>
			<td>Michigan State</td>
		</tr>
		<tr>
			<td>[caption id="attachment_55874" align="aligncenter" width="400"]<img src="https://hoopgroup.com/wp-content/uploads/2014/11/Andrew-Harrison.jpg" alt="Andrew Harrison (pictured) and brother Aaron both took part in the Hoop Group Pitt Jam Fest in 2012" width="400" height="494" class="size-full wp-image-55874" /> Andrew Harrison (pictured) and brother Aaron both took part in the Hoop Group Pitt Jam Fest in 2012[/caption]

[caption id="attachment_80620" align="aligncenter" width="100"]<img src="https://hoopgroup.com/wp-content/uploads/2016/11/AndrewHarrison100.jpg" alt="April 22, 2012: Under Armour Hoop Group Jam Fest in Pittsburgh, Pennsylvania." width="100" height="120" class="size-full wp-image-80620" /> April 22, 2012: Under Armour Hoop Group Jam Fest in Pittsburgh, Pennsylvania.[/caption]

<img src="https://hoopgroup.com/wp-content/uploads/2016/11/AndrewHarrison100-1.jpg" alt="andrewharrison100" width="100" height="120" class="aligncenter size-full wp-image-80621" /></td>
			<td>Andrew Harrison</td>
			<td>Travis TX</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/10/SeanKilpatrick100.jpg" alt="seankilpatrick100" width="100" height="120" class="aligncenter size-full wp-image-79568" /></td>
			<td>Sean Kilpatrick</td>
			<td>White Plains NY</td>
			<td>Cincinnati</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/02/JamesMcAdoo1001.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-3817" /></td>
			<td>James Michael McAdoo</td>
			<td>Norfolk Christian VA</td>
			<td>North Carolina</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/02/MitchMcGarry100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-15308" /></td>
			<td>Mitch McGarry</td>
			<td>Brewster Academy</td>
			<td>Michigan</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/ShabazzNapier100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18921" /></td>
			<td>Shabazz Napier</td>
			<td>Lawrence Academy MA</td>
			<td>UConn</td>
		</tr>
		<tr>
			<td></td>
			<td>Adreian Payne</td>
			<td>Dayton Jefferson OH</td>
			<td>Michigan State</td>
		</tr>
		<tr>
			<td></td>
			<td>Dwight Powell</td>
			<td>IMG Academy FL</td>
			<td>Stanford</td>
		</tr>
		<tr>
			<td></td>
			<td>Juvonte Reddic</td>
			<td>LC Bird VA</td>
			<td>VCU</td>
		</tr>
		<tr>
			<td></td>
			<td>Glenn Robinson</td>
			<td>Lake Central IN</td>
			<td>Michigan</td>
		</tr>
		<tr>
			<td></td>
			<td>Wayne Seldon</td>
			<td>Tilton MA</td>
			<td>Kansas</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2012/03/RussSmith100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-18919" /></td>
			<td>Russ Smith</td>
			<td>South Kent CT</td>
			<td>Louisville</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/02/NoahVonleh100.png" alt="" width="100" height="120" class="aligncenter size-full wp-image-28819" /></td>
			<td>Noah Vonleh</td>
			<td>New Hampton Prep</td>
			<td>Indiana</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/04/AndrewWiggins100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-29829" /></td>
			<td>Andrew Wiggins</td>
			<td>Huntington Prep WV</td>
			<td>Kansas</td>
		</tr>
	</tbody>
</table>
