<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>College</th>
			<th>Hometown</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Ray Anderson</td>
			<td>Virginia Union</td>
			<td>Wilmington DE</td>
		</tr>
		<tr>
			<td>Devin Gilligan</td>
			<td>Southern New Hampshire</td>
			<td>Amherst NH</td>
		</tr>
		<tr>
			<td>Phil Taylor</td>
			<td>Shorter</td>
			<td>Brooklyn NY</td>
		</tr>
		<tr>
			<td>Michael Mallory</td>
			<td>Southern Connecticut</td>
			<td>Waterbury CT</td>
		</tr>
		<tr>
			<td>Javonte Douglas</td>
			<td>Montevallo</td>
			<td>Charlotte NC</td>
		</tr>
		<tr>
			<td>Rasheed Moore</td>
			<td>East Stroudsburg</td>
			<td>Wilkes Barre PA</td>
		</tr>
	</tbody>
</table>
