<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Ishmael Chisolm</td>
			<td>Franklin Roosevelt NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JuleBrown100.jpg" alt="" title="JuleBrown100" width="100" height="120" class="aligncenter size-full wp-image-12772" /></td>
			<td>Jule Brown</td>
			<td>Lower Merion PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Dejour Williams</td>
			<td>Susquehanna PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Nehemiah Mack</td>
			<td>Susquehanna PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/DerekLeohner100.jpg" alt="" title="DerekLeohner100" width="100" height="120" class="aligncenter size-full wp-image-12773" /></td>
			<td>Derek Leohner</td>
			<td>Freehold NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Trevor Brown</td>
			<td>Good Counsel MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Matt Dawson</td>
			<td>Susquehanna PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AustinAlfonso100.jpg" alt="" title="AustinAlfonso100" width="100" height="120" class="aligncenter size-full wp-image-12774" /></td>
			<td>Austin Alfonso</td>
			<td>Rutgers Prep NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Charles Hopkins</td>
			<td>Sussex Tech DE</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ShafiMeachum100.jpg" alt="" title="ShafiMeachum100" width="100" height="120" class="aligncenter size-full wp-image-12804" /></td>
			<td>Shafi Meachum</td>
			<td>Philadelphia Electrical</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TajPrice100.jpg" alt="" title="TajPrice100" width="100" height="120" class="aligncenter size-full wp-image-12805" /></td>
			<td>Taj Price</td>
			<td>Newark Central NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JulianJohnson100.jpg" alt="" title="JulianJohnson100" width="100" height="120" class="aligncenter size-full wp-image-12775" /></td>
			<td>Julian Johnson</td>
			<td>Penn Charter PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/NickDePersia100.jpg" alt="" title="NickDePersia100" width="100" height="120" class="aligncenter size-full wp-image-12806" /></td>
			<td>Nick DePersia</td>
			<td>Cherry Hill NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Kenny Wormley</td>
			<td>Good Counsel MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/LukeOShaughnessy100.jpg" alt="" title="LukeOShaughnessy100" width="100" height="120" class="aligncenter size-full wp-image-12807" /></td>
			<td>Luke O'Shaughnessy</td>
			<td>CBA NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ConnorWagner100.jpg" alt="" title="ConnorWagner100" width="100" height="120" class="aligncenter size-full wp-image-12776" /></td>
			<td>Connor Wagner</td>
			<td>Spring Ford PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AnthonyWhitney100.jpg" alt="" title="AnthonyWhitney100" width="100" height="120" class="aligncenter size-full wp-image-12777" /></td>
			<td>Anthony Whitney</td>
			<td>Carroll DC</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/RAustinVereen100.jpg" alt="" title="RAustinVereen100" width="100" height="120" class="aligncenter size-full wp-image-12808" /></td>
			<td>R. Austin Vereen</td>
			<td>Maret DC</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AlexanderPeltier100.jpg" alt="" title="AlexanderPeltier100" width="100" height="120" class="aligncenter size-full wp-image-12778" /></td>
			<td>Alexander Peltier</td>
			<td>Maret DC</td>
		</tr>
		<tr>
			<td></td>
			<td>Joe Marshall</td>
			<td>Susquehanna PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Dereck Oliver</td>
			<td>Patterson MD</td>
		</tr>
		<tr>
			<td></td>
			<td>Sacory Garrett</td>
			<td>Grand Prairie TX</td>
		</tr>
	</tbody>
</table>
