<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Visitig Team</th>
			<th></th>
			<th>Home Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12:00</td>
			<td>Jackson Memorial</td>
			<td>vs.</td>
			<td>Red Bank Catholic</td>
		</tr>
		<tr>
			<td>1:40</td>
			<td>Holy Spirit</td>
			<td>vs.</td>
			<td>Rumson</td>
		</tr>
		<tr>
			<td>3:20</td>
			<td>Point Boro</td>
			<td>vs.</td>
			<td>St. John Vianney</td>
		</tr>
	</tbody>
</table>
