<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/02/AaronMorgan100.jpg" alt="" title="AaronMorgan100" width="94" height="120" class="aligncenter size-full wp-image-15188" />
MVP Aaron Morgan</td>
			<td>Council Rock North 75


</td>
			<td>Allentown Central Catholic 49


</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/02/MuhamadAlAbdurRahkman100.jpg" alt="" title="MuhamadAlAbdurRahkman100" width="100" height="117" class="aligncenter size-full wp-image-15189" />MVP Muhammad Ali Abdur-Rahkmann</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/02/ShamiekSheppard100.jpg" alt="" title="ShamiekSheppard100" width="97" height="120" class="aligncenter size-full wp-image-15190" />MVP Shamiek Sheppard</td>
			<td>South Shore NY  58


</td>
			<td>Neuman Goretti  54


</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/02/JaquanNewton100.jpg" alt="" title="JaquanNewton100" width="93" height="120" class="aligncenter size-full wp-image-15191" />MVP Jaquan Newton</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/02/MelvinJohnson100.jpg" alt="" title="MelvinJohnson100" width="96" height="120" class="aligncenter size-full wp-image-15192" />MVP Melvin Johnson</td>
			<td>St. Benedict's NJ  83


</td>
			<td>Constitution  60


</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/02/SavonGoodman100.jpg" alt="" title="SavonGoodman100" width="93" height="120" class="aligncenter size-full wp-image-15193" />MVP Savon Goodman</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/02/MalikDraper100.jpg" alt="" title="MalikDraper100" width="94" height="120" class="aligncenter size-full wp-image-15194" />MVP Malik Draper</td>
			<td>Scranton  54

</td>
			<td>Parkland  49


</td>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/02/ZachMuhr100.jpg" alt="" title="ZachMuhr100" width="95" height="120" class="aligncenter size-full wp-image-15195" />MVP Zach Muh</td>
		</tr>
	</tbody>
</table>
