<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/Lawrence-Fejokwu-100.jpg" alt="" title="Lawrence Fejokwu 100" width="100" height="120" class="aligncenter size-full wp-image-12524" /></td>
			<td>Lawrence Fejokwu</td>
			<td>Sunrise Christian KS</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ArthurEdwards100.jpg" alt="" title="ArthurEdwards100" width="100" height="120" class="aligncenter size-full wp-image-12686" /></td>
			<td>Arthur Edwards</td>
			<td>St. Thomas More CT</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/Rohan-Brown-100.jpg" alt="" title="Rohan Brown 100" width="100" height="120" class="aligncenter size-full wp-image-12525" /></td>
			<td>Rohan Brown</td>
			<td>Choate Rosemary Hall CT</td>
		</tr>
		<tr>
			<td></td>
			<td>Brian Bernardi</td>
			<td>Xaverian NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/TillmanDunbar100.jpg" alt="" title="TillmanDunbar100" width="100" height="120" class="aligncenter size-full wp-image-12687" /></td>
			<td>Tilman Dunbar</td>
			<td>Paul VI VA</td>
		</tr>
		<tr>
			<td></td>
			<td>Mahammed Ahmed</td>
			<td>Kennedy NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/OscarAssie100.jpg" alt="" title="OscarAssie100" width="100" height="120" class="aligncenter size-full wp-image-12688" /></td>
			<td>Oscar Assie</td>
			<td>Putnam Science CT</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/CharlesCooke1001.jpg" alt="" title="CharlesCooke100" width="100" height="120" class="aligncenter size-full wp-image-12661" /></td>
			<td>Charles Cooke</td>
			<td>Trenton Catholic NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/MarquisMarshall100.jpg" alt="" title="MarquisMarshall100" width="100" height="120" class="aligncenter size-full wp-image-12689" /></td>
			<td>Marquis Marshall</td>
			<td>Berks Catholic PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Mike Taylor</td>
			<td>Boys &amp; Girls NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/CavonBaker100.jpg" alt="" title="CavonBaker100" width="90" height="115" class="aligncenter size-full wp-image-12930" /></td>
			<td>Cavon Baker</td>
			<td>Thomas Edison NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ColemanJohnson100.jpg" alt="" title="ColemanJohnson100" width="100" height="120" class="aligncenter size-full wp-image-12659" /></td>
			<td>Coleman Johnson</td>
			<td>Paul VI VA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/CedricBlossom100.jpg" alt="" title="CedricBlossom100" width="100" height="120" class="aligncenter size-full wp-image-12660" /></td>
			<td>Cedric Blossom</td>
			<td>Montrose Christian MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/KamalRichards100.jpg" alt="" title="KamalRichards100" width="100" height="120" class="aligncenter size-full wp-image-12690" /></td>
			<td>Kamal Richards</td>
			<td>St. Benedict's NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Andre Horne</td>
			<td>Newark DE</td>
		</tr>
		<tr>
			<td></td>
			<td>Derrick Colter</td>
			<td>Largo MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/CliffCornish100.jpg" alt="" title="CliffCornish100" width="100" height="120" class="aligncenter size-full wp-image-12662" /></td>
			<td>Cliff Cornish</td>
			<td>St. Paul's MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JustinSears100.jpg" alt="" title="JustinSears100" width="100" height="120" class="aligncenter size-full wp-image-12691" /></td>
			<td>Justin Sears</td>
			<td>Plainfield NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JonathanTshibuy100.jpg" alt="" title="JonathanTshibuy100" width="100" height="120" class="aligncenter size-full wp-image-12692" /></td>
			<td>Jonathan Tshibuy</td>
			<td>Bullis MD</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/Torin-ChildsHarris-100.jpg" alt="" title="Torin ChildsHarris 100" width="100" height="120" class="aligncenter size-full wp-image-12526" /></td>
			<td>Torin Childs-Harris</td>
			<td>New London CT</td>
		</tr>
		<tr>
			<td></td>
			<td>Deonte Houston</td>
			<td>Wings NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AndrewVanCamp100.jpg" alt="" title="AndrewVanCamp100" width="100" height="120" class="aligncenter size-full wp-image-12663" /></td>
			<td>Andrew Van Camp</td>
			<td>Kiski PA</td>
		</tr>
	</tbody>
</table>
