<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/JaylenAdams100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45041" /></td>
			<td>Jaylen Adams</td>
			<td>St. Bonaventure</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/11/PeytonAldridge100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-44981" /></td>
			<td>Peyton Aldridge</td>
			<td>Davidson</td>
		</tr>
		<tr>
			<td></td>
			<td>Zach Thomas</td>
			<td>Bucknell</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/ThomasWelsh100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80491" /></td>
			<td>Thomas Welsh</td>
			<td>UCLA</td>
		</tr>
		<tr>
			<td></td>
			<td>Trae-Bell Haynes</td>
			<td>Vermont</td>
		</tr>
		<tr>
			<td></td>
			<td>Tyler Nelson</td>
			<td>Fairfield</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/05/desiRodriguez100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-51055" /></td>
			<td>Desi Rodriguez</td>
			<td>Seton Hall</td>
		</tr>
		<tr>
			<td></td>
			<td>Rokas Gustys</td>
			<td>Hofstra</td>
		</tr>
	</tbody>
</table>
