<table>
	<thead>
		<tr>
			<th></th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Central Catholic  50</td>
			<td>Hazelton  30</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>St. Raymond's NY  80</td>
			<td>Williamsport  69</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Halifax  70</td>
			<td>Parkland  60</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Harrisburg  42</td>
			<td>Saucon Valley  39</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Hempfield  50</td>
			<td>Christ the King  49</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Coatesville  63</td>
			<td>Bishop Hannan  50</td>
			<td></td>
		</tr>
	</tbody>
</table>
