<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>High School</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Benjamin Bentil</td>
			<td>St. Andrew's DE</td>
		</tr>
		<tr>
			<td></td>
			<td>Johnnie Davis</td>
			<td>Neuman Goretti PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/KaisonRandolph100.jpg" alt="" title="KaisonRandolph100" width="100" height="120" class="aligncenter size-full wp-image-12693" /></td>
			<td>Kaison Randolph</td>
			<td>Pennington NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JaquanNewton100.jpg" alt="" title="JaquanNewton100" width="100" height="120" class="aligncenter size-full wp-image-12694" /></td>
			<td>Jaquan Newton</td>
			<td>Neuman Goretti PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Shaquille Davis</td>
			<td>Lincoln NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/CameronGregory100.jpg" alt="" title="CameronGregory100" width="100" height="120" class="aligncenter size-full wp-image-12664" /></td>
			<td>Cameron Gregory</td>
			<td>Bishop O'Connell VA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/DominiqueReid100.jpg" alt="" title="DominiqueReid100" width="100" height="120" class="aligncenter size-full wp-image-12665" /></td>
			<td>Dominique Reid</td>
			<td>Trenton Catholic NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/WillJoyce100.jpg" alt="" title="WillJoyce100" width="100" height="120" class="aligncenter size-full wp-image-12695" /></td>
			<td>William Joyce</td>
			<td>Piscataway Tech</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/KalebJoseph100.jpg" alt="" title="KalebJoseph100" width="100" height="120" class="aligncenter size-full wp-image-12696" /></td>
			<td>Kaleb Joseph</td>
			<td>Cushing MA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/Josh-James-100.jpg" alt="" title="Josh James 100" width="100" height="120" class="aligncenter size-full wp-image-12527" /></td>
			<td>Josh James</td>
			<td>Archbishop Stepinac NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/HowardSellers100.jpg" alt="" title="HowardSellers100" width="100" height="120" class="aligncenter size-full wp-image-12697" /></td>
			<td>Howard Sellars</td>
			<td>Church Farm PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/YilretYiljep100.jpg" alt="" title="YilretYiljep100" width="100" height="120" class="aligncenter size-full wp-image-12698" /></td>
			<td>Yilret Yiljep</td>
			<td>Westtown PA</td>
		</tr>
		<tr>
			<td></td>
			<td>Lenard Freeman</td>
			<td>St. John's College DC</td>
		</tr>
		<tr>
			<td></td>
			<td>Geno Thorpe</td>
			<td>Blair NJ</td>
		</tr>
		<tr>
			<td></td>
			<td>Isaiah Briscoe</td>
			<td>St. Benedict's NJ</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/YosefYacob100.jpg" alt="" title="YosefYacob100" width="100" height="120" class="aligncenter size-full wp-image-12699" /></td>
			<td>Yosef Yacob</td>
			<td>Archbishop Carroll PA</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/AlecBrennan100.jpg" alt="" title="AlecBrennan100" width="100" height="120" class="aligncenter size-full wp-image-12700" /></td>
			<td>Alec Brennan</td>
			<td>Milton MA</td>
		</tr>
		<tr>
			<td></td>
			<td>Abdul-Malik Abu</td>
			<td>Kimball Union NH</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/JoshHart100.jpg" alt="" title="JoshHart100" width="100" height="120" class="aligncenter size-full wp-image-12701" /></td>
			<td>Josh Hart</td>
			<td>Sidwell Friends DC</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/08/Isaac-Fleming-100.jpg" alt="" title="Isaac Fleming 100" width="100" height="120" class="aligncenter size-full wp-image-12528" /></td>
			<td>Isaac Fleming</td>
			<td>William Penn DE</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/HalliceCooke100.jpg" alt="" title="HalliceCooke100" width="100" height="120" class="aligncenter size-full wp-image-12702" /></td>
			<td>Hallice Cooke</td>
			<td>St. Anthony JC</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/09/ShaneRector100.jpg" alt="" title="ShaneRector100" width="100" height="120" class="aligncenter size-full wp-image-12717" /></td>
			<td>Shane Rector</td>
			<td>St. Raymond's NY</td>
		</tr>
	</tbody>
</table>
