<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2012/02/MichaelaMabrey100.jpg" alt="" title="MichaelaMabrey100" width="100" height="120" class="aligncenter size-full wp-image-15383" /></td>
			<td>Michaela Mabrey</td>
			<td>Manasquan NJ</td>
			<td>Notre Dame</td>
		</tr>
		<tr>
			<td></td>
			<td>Sierra Moore</td>
			<td>Delone Catholic PA</td>
			<td>Duke</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
