<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Tyshawn Good</td>
			<td>Belmont Abbey</td>
		</tr>
		<tr>
			<td></td>
			<td>Eric Jean-Guillaume</td>
			<td>Franklin Pierce</td>
		</tr>
		<tr>
			<td></td>
			<td>Luis Leao</td>
			<td>Mercyhurst</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/03/RoyMabrey100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-29674" /></td>
			<td>Roy Mabrey</td>
			<td>St. Anselm</td>
		</tr>
		<tr>
			<td></td>
			<td>Corbin Thomas</td>
			<td>Midwestern State</td>
		</tr>
		<tr>
			<td></td>
			<td>John DiBartolomeo</td>
			<td>Rochester</td>
		</tr>
		<tr>
			<td></td>
			<td>Chris Kearney</td>
			<td>Catholic</td>
		</tr>
		<tr>
			<td></td>
			<td>Aaron Toomey</td>
			<td>Amherst</td>
		</tr>
		<tr>
			<td></td>
			<td>Tahrike Carter</td>
			<td>Rhode Island College</td>
		</tr>
		<tr>
			<td></td>
			<td>Paul Reynolds</td>
			<td>Wesley</td>
		</tr>
		<tr>
			<td></td>
			<td>Hayden Ward</td>
			<td>SUNY Oswego</td>
		</tr>
	</tbody>
</table>
