<table>
	<thead>
		<tr>
			<th>Hourly Court Rentals</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td> Non-Peak Rates              </td>
			<td>$90/hour </td>
			<td>M-F (2 to 6pm) &amp; Sat/Sun</td>
		</tr>
		<tr>
			<td> Peak Rates                  </td>
			<td>$110/hour  </td>
			<td>M-F (6 to 10pm)</td>
		</tr>
	</tbody>
</table>
