<table>
	<thead>
		<tr>
			<th>Session</th>
			<th>Dates</th>
			<th>Boys &amp; Girls</th>
			<th>Class Days</th>
			<th>Time</th>
			<th>Cost</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>Nov 10 - Dec 15</td>
			<td>Grades 3-6</td>
			<td>Mondays</td>
			<td>5:30 - 7PM</td>
			<td>$185</td>
			<td>Email - Kessler@hoopgroup.com</td>
		</tr>
		<tr>
			<td>Spring 1</td>
			<td> March 19 - May 7</td>
			<td>Grades 2-6</td>
			<td>Mondays</td>
			<td>5:30 - 7:00 PM</td>
			<td>$275</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-individual-youth-league-spring1-2018">Register Here </a></td>
		</tr>
		<tr>
			<td>Winter 1</td>
			<td>November 30 - December 21</td>
			<td>Grades 3-6</td>
			<td>Mondays</td>
			<td>5:30 - 7 PM</td>
			<td>$150 ($160 if not pre registered)</td>
			<td><a href="https://store.hoopgroup.com/events/2015-individual-youth-league---winter-1-2015">Click Here</a></td>
		</tr>
		<tr>
			<td>Spring 3 Mini</td>
			<td>May 15 - June 5</td>
			<td>Grades 2-7</td>
			<td>Mondays</td>
			<td>5:30 - 7:00PM</td>
			<td>$150</td>
			<td><a href="https://store.hoopgroup.com/events/2017-hghq-individual-youth-league-spring-3">Register Here </a></td>
		</tr>
	</tbody>
</table>
