<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Graduation Year</th>
			<th>Height</th>
			<th>School</th>
			<th>City, Country</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Dimitris Nikolaou</td>
			<td>2013</td>
			<td>6'2"</td>
			<td>Mandoulidis</td>
			<td>Thessaloniki, Greece</td>
		</tr>
		<tr>
			<td>Juan Reyes</td>
			<td>2013</td>
			<td>6'0"</td>
			<td>Olympic</td>
			<td>Caguas, Puerto Rico</td>
		</tr>
		<tr>
			<td>Kevin Nielsen</td>
			<td>2013</td>
			<td>6'2"</td>
			<td>International School of Spain</td>
			<td>Madrid, Spain</td>
		</tr>
		<tr>
			<td>Lior Levy</td>
			<td>2013</td>
			<td>5'8"</td>
			<td>Ziv &amp; Marks</td>
			<td>Jerusalem, Israel</td>
		</tr>
		<tr>
			<td>Tuna Yenicesu</td>
			<td>2013</td>
			<td>6'6"</td>
			<td>Bilkent</td>
			<td>Ankara, Turkey</td>
		</tr>
		<tr>
			<td>David Aguayo Ruiz</td>
			<td>2013</td>
			<td>5'11"</td>
			<td>Centro Educacional</td>
			<td>Guadalajara, Mexico</td>
		</tr>
		<tr>
			<td>Anders Jombrii</td>
			<td>2015</td>
			<td>6'6"</td>
			<td>Lidingo</td>
			<td>Stockholm, Sweden</td>
		</tr>
		<tr>
			<td>Jonah Greenfield</td>
			<td>2015</td>
			<td>5'6"</td>
			<td>The Technology School</td>
			<td>Raanana, Israel</td>
		</tr>
		<tr>
			<td>Liam Fukushima</td>
			<td>2014</td>
			<td>5'11"</td>
			<td>The American School in Japan</td>
			<td>Tokyo, Japan</td>
		</tr>
		<tr>
			<td>Casey Collins</td>
			<td>2013</td>
			<td>5'9"</td>
			<td>ACS Cobham International</td>
			<td>Cobham, United Kingdom</td>
		</tr>
		<tr>
			<td>Jayde Dawson</td>
			<td>2013</td>
			<td>6'2"</td>
			<td>Brooks</td>
			<td>Montreal, Canada</td>
		</tr>
		<tr>
			<td>Ken Yajima</td>
			<td>2013</td>
			<td>5'10"</td>
			<td>The American School in Japan</td>
			<td>Tokyo, Japan</td>
		</tr>
	</tbody>
</table>
