<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Graduation Year</th>
			<th>Height</th>
			<th>School</th>
			<th>Country</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Michael McKenzie</td>
			<td>2014</td>
			<td>5'8"</td>
			<td>Father John Redmond</td>
			<td>Canada</td>
		</tr>
		<tr>
			<td>Katahwa Alex</td>
			<td>2012</td>
			<td>6'2"</td>
			<td>Ste-Foy</td>
			<td>Canada</td>
		</tr>
		<tr>
			<td>Antreas Christodoulou</td>
			<td>2013</td>
			<td>6'4"</td>
			<td>Mandoulides</td>
			<td>Cyprus</td>
		</tr>
		<tr>
			<td>Dominic Gray</td>
			<td>2012</td>
			<td>6'4"</td>
			<td>Edmonton County</td>
			<td>England, UK</td>
		</tr>
		<tr>
			<td>Omari Coates</td>
			<td>2013</td>
			<td>6'2"</td>
			<td>Haberdashers Aske's Knights</td>
			<td>England, UK</td>
		</tr>
		<tr>
			<td>Nikhil Sequiera</td>
			<td>2014</td>
			<td>6'0"</td>
			<td>International School of Pune</td>
			<td>India</td>
		</tr>
		<tr>
			<td>Liam Fukushima</td>
			<td>2013</td>
			<td>5'11"</td>
			<td>American School in Japan</td>
			<td>Japan</td>
		</tr>
		<tr>
			<td>Ken Yajima</td>
			<td>2013</td>
			<td>5'10"</td>
			<td>American School in Japan</td>
			<td>Japan</td>
		</tr>
		<tr>
			<td>Malik Wilson</td>
			<td>2014</td>
			<td>6'0"</td>
			<td>LCD</td>
			<td>Luxembourg</td>
		</tr>
		<tr>
			<td>Jamal Wilson</td>
			<td>2013</td>
			<td>6'4"</td>
			<td>LCD</td>
			<td>Luxembourg</td>
		</tr>
		<tr>
			<td>Pit Elcheroth</td>
			<td>2014</td>
			<td>6'3"</td>
			<td>LCD</td>
			<td>Luxembourg</td>
		</tr>
		<tr>
			<td>Prithvi Batra</td>
			<td>2013</td>
			<td>6'7"</td>
			<td>UWCSEA</td>
			<td>Singapore</td>
		</tr>
		<tr>
			<td>Jaime Fernandez</td>
			<td>2014</td>
			<td>6'1"</td>
			<td>La Salle Burgos</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Hugo Fernandez</td>
			<td>2014</td>
			<td>6'8"</td>
			<td>Aleman de Madrid</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Eduardo Setien</td>
			<td>2013</td>
			<td>6'1"</td>
			<td>Calasanz</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Luis Santoloya</td>
			<td>2014</td>
			<td>6'0"</td>
			<td>Santa Maria del Pilar</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Pablo Gonzalo</td>
			<td>2013</td>
			<td>5'6"</td>
			<td>Liceo Sorolla C</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Sergio Beut</td>
			<td>2013</td>
			<td>6'2"</td>
			<td>HH Maristas Valenaia</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Juan Bustamente</td>
			<td>2013</td>
			<td>6'8"</td>
			<td>Liceo Frances</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Pau Tort</td>
			<td>2014</td>
			<td>6'0"</td>
			<td>Escola Joan Pelegri</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Marc Gallo</td>
			<td>2014</td>
			<td>6'2"</td>
			<td>Vedruna de Palamos</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Luis Ubeda</td>
			<td>2013</td>
			<td>6'0"</td>
			<td></td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Daniel Carvajal</td>
			<td>2013</td>
			<td>6'9"</td>
			<td>Valdefuentes</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Carlos Vazquez</td>
			<td>2014</td>
			<td>6'2"</td>
			<td>Corazonistas</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Andreu Perez</td>
			<td>2016</td>
			<td>5'7"</td>
			<td>Hermanos Maristas Algemesi</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Daniel Asensio</td>
			<td>2012</td>
			<td>6'1"</td>
			<td>Escola Elisabeth</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Alejandro Gonzalez</td>
			<td>2015</td>
			<td>6'4"</td>
			<td>Jorge Manrique</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Jaume Ciurans</td>
			<td>2013</td>
			<td>5'8"</td>
			<td>Manuel Blancafort</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Jaune Amengual</td>
			<td>2016</td>
			<td>5'9"</td>
			<td>Liceo</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Pol Oliver</td>
			<td>2013</td>
			<td>6'3"</td>
			<td>Lestonnac L'Ensenyanca</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Alexandre Barrera</td>
			<td>2016</td>
			<td>5'11"</td>
			<td>Verdruna Palamos</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Ahmet Acik</td>
			<td>2012</td>
			<td>6'1"</td>
			<td>Botaa Spor Kulubu</td>
			<td>Turkey</td>
		</tr>
		<tr>
			<td>Roberto Hernandez</td>
			<td>2015</td>
			<td>5'11"</td>
			<td>Hispano-Ingles</td>
			<td>Spain</td>
		</tr>
		<tr>
			<td>Parsa Sepehrirad</td>
			<td>2014</td>
			<td>6'2"</td>
			<td>Gems World Academy</td>
			<td>United Arab Emirates</td>
		</tr>
	</tbody>
</table>
