<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Date</th>
			<th>Location</th>
			<th>Age Groups </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="/hoopgroup/team-tournaments/grassroots-events/pittsburgh-jam-fest.php">PIttsburgh Jam Fest</a></td>
			<td>April 20th-22nd</td>
			<td>Pittsburgh, PA</td>
			<td>U14-Open </td>
		</tr>
		<tr>
			<td><a href="/hoopgroup/team-tournaments/grassroots-events/philadelphia-jam-fest.php">Philadelphia Jam Fest</a></td>
			<td>April 27th-29th</td>
			<td><a href="http://www.cesports.net/assets/file/Directions%20to%20Competitive%20Edge%20Sport1.pdf">Competitive Edge Sports Complex, King of Prussia PA (Outside Philadelphia)</a>

</td>
			<td>U14-Open</td>
		</tr>
		<tr>
			<td><a href="/hoopgroup/team-tournaments/grassroots-events/providence-hoop-group-jam-fest.php">Providence Jam Fest</a></td>
			<td>April 27th-29th</td>
			<td>Providence, RI</td>
			<td>U12-Open</td>
		</tr>
		<tr>
			<td><a href="/hoopgroup/team-tournaments/grassroots-events/southern-hoop-group-jam-fest.php">Southern Jam Fest</a></td>
			<td>May 18th-20th</td>
			<td><a href="http://www.boowilliamssportsplex.com/?q=node/23.php">Boo Williams Sportsplex, Hampton VA</a>

</td>
			<td>U14-U17 </td>
		</tr>
	</tbody>
</table>
