<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP</td>
			<td>Armani Sexton </td>
			<td>6-3</td>
			<td>P.S. 10</td>
			<td>Paterson, N.J.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Jake Betlow</td>
			<td>5-2</td>
			<td>Mendham MS</td>
			<td>Mendham, N.J.</td>
			<td>2019</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Jahmier Pugh</td>
			<td>5-1</td>
			<td>St. Michael School</td>
			<td>Brooklyn, N.Y.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>All-Star MVP</td>
			<td>Luther Muhammad</td>
			<td>6-0</td>
			<td>St. Benedict's Prep</td>
			<td>Newark, N.J.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Will Yarbrough</td>
			<td>5-11</td>
			<td>Summit MS</td>
			<td>Summit, N.J.</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Tyler Washington </td>
			<td>5-11</td>
			<td>Christ the King MS</td>
			<td>Haddonfield, N.J.</td>
			<td>2018</td>
		</tr>
	</tbody>
</table>
