<table>
	<thead>
		<tr>
			<th>Tournament</th>
			<th>Date</th>
			<th>Location</th>
			<th>Age Groups</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/grassroots-events/hoop-group-jr-elite-jam-fests/philadelphia-jr-elite-jam-fest/">Philadelphia Jr. Elite Jam Fest</a></td>
			<td>April 26-28</td>
			<td>Philadelphia, PA</td>
			<td>11U-14U</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/grassroots-events/jam-fests/providence-hoop-group-jam-fest/">Providence Jam Fest</a></td>
			<td>May 10-12</td>
			<td>Providence, RI</td>
			<td>11U-17U</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/grassroots-events/hoop-group-jr-elite-jam-fests/jr-elite-jam-fest/">Jr. Elite Jam Fest</a></td>
			<td>May 31-June 2</td>
			<td>Scranton, PA</td>
			<td>11U-14U</td>
		</tr>
	</tbody>
</table>
