<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>HS Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MOP</td>
			<td>Devin Clyburn</td>
			<td>6'1</td>
			<td>Rectory School</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>MIP</td>
			<td>Anthony Iglesia</td>
			<td>4'8"</td>
			<td>McQuaid</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Antone Walker</td>
			<td>5'6"</td>
			<td>Friends Cental</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Jake Bethlow</td>
			<td>5'2"</td>
			<td>Mendham</td>
			<td>2019</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Paul Brown</td>
			<td>6'0"</td>
			<td>St. Ann's</td>
			<td>2018</td>
		</tr>
	</tbody>
</table>
