<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Division</th>
			<th>Days</th>
			<th>Times</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>TBD</td>
			<td>Girls</td>
			<td>Sat - Sun</td>
			<td>9:00 AM -12:30 PM</td>
			<td>Call for Details</td>
		</tr>
	</tbody>
</table>
