<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/09/rasirbolton100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-88776" /></td>
			<td>Rasir Bolton</td>
			<td>Massanutten Military Academy VA</td>
			<td>Penn State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/09/jakeforrester100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-88876" /></td>
			<td>Jake Forrester</td>
			<td>Westtown </td>
			<td>Indiana</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/andrewfunkhs100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-92268" /></td>
			<td>Andrew Funk</td>
			<td>Archbishop Wood</td>
			<td>Bucknell</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/Tyresemartin100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82879" /></td>
			<td>Tyrese Martin</td>
			<td>Massanutten Military Academy VA</td>
			<td>Rhode Island</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/12/TyreePickron-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67268" /></td>
			<td>Tyree Pickron</td>
			<td>Archbishop Wood</td>
			<td>Quinnipiac</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/camreddish100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82530" /></td>
			<td>Cameron Reddish</td>
			<td>Westtown </td>
			<td>Duke</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/11/KarringtonWallace100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-90740" /></td>
			<td>Karrington Wallace</td>
			<td>Archbishop Wood</td>
			<td>Central Connecticut State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/08/ryanyoung100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-88713" /></td>
			<td>Ryan Young</td>
			<td>Bethlehem Catholic</td>
			<td>Northwestern</td>
		</tr>
	</tbody>
</table>
