<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/BulAjang100.jpg" alt="bulajang100" width="100" height="120" class="aligncenter size-full wp-image-81020" /></td>
			<td>Bul Ajang</td>
			<td>Patrick School</td>
			<td>Tulane</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DengGak100.jpg" alt="denggak100" width="100" height="120" class="aligncenter size-full wp-image-79945" /></td>
			<td>Deng Gak</td>
			<td>Blair</td>
			<td>Miami</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/CollinGillespie100.jpg" alt="CollinGillespie100" width="100" height="120" class="aligncenter size-full wp-image-82604" /></td>
			<td>Collin Gillespie</td>
			<td>Archbishop Wood</td>
			<td>Villanova</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/JamirHarris100.jpg" alt="jamirharris100" width="100" height="120" class="aligncenter size-full wp-image-80960" /></td>
			<td>Jamir Harris</td>
			<td>Patrick School</td>
			<td>Minnesota</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/01/SamIoriomvp100.jpg" alt="SamIoriomvp100" width="100" height="120" class="aligncenter size-full wp-image-57112" /></td>
			<td>Sam Iorio</td>
			<td>Parkland</td>
			<td>American</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/DavidKachelariesmvp100.jpg" alt="DavidKachelariesmvp100" width="100" height="120" class="aligncenter size-full wp-image-82343" /></td>
			<td>David Kachelries</td>
			<td>Emmaus</td>
			<td>NJIT</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/ZachKent100.jpg" alt="zachkent100" width="100" height="120" class="aligncenter size-full wp-image-80543" /></td>
			<td>Zack Kent</td>
			<td>Blair</td>
			<td>Tennessee</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/BuayKoko100.jpg" alt="buaykoko100" width="100" height="120" class="aligncenter size-full wp-image-80649" /></td>
			<td>Buay Koko</td>
			<td>Patrick School</td>
			<td>Tulane</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/AnthonyMack100.jpg" alt="anthonymack100" width="100" height="120" class="aligncenter size-full wp-image-80541" /></td>
			<td>Anthony Mack</td>
			<td>Blair</td>
			<td>Wyoming</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/12/MarcusMcClarry100.jpg" alt="marcusmcclarry100" width="100" height="120" class="aligncenter size-full wp-image-81016" /></td>
			<td>Marcus McClarry</td>
			<td>Patrick School</td>
			<td>Monmouth</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/11/JamirMoultrie-100.jpg" alt="JamirMoultrie 100" width="100" height="120" class="aligncenter size-full wp-image-66514" /></td>
			<td>Jamir Moultrie</td>
			<td>Bishop McNamara</td>
			<td>Drexel</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/AnthonyOchefu100.jpg" alt="anthonyochefu100" width="100" height="120" class="aligncenter size-full wp-image-80164" /></td>
			<td>Anthony Ochefu</td>
			<td>Westtown</td>
			<td>Stony Brook</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/brandonrandolph100.jpg" alt="brandonrandolph100" width="100" height="120" class="aligncenter size-full wp-image-79953" /></td>
			<td>Brandon Randolph</td>
			<td>Westtown</td>
			<td>Arizona</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/NickRichards2100.jpg" alt="nickrichards2100" width="100" height="120" class="aligncenter size-full wp-image-82126" /></td>
			<td>Nick Richards</td>
			<td>Patrick School</td>
			<td>Kentucky</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/MattTurner100.jpg" alt="mattturner100" width="100" height="120" class="aligncenter size-full wp-image-80535" /></td>
			<td>Matt Turner</td>
			<td>Blair</td>
			<td>Santa Clara</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/TalekWilliams100.jpg" alt="TalekWilliams100" width="100" height="120" class="aligncenter size-full wp-image-82341" /></td>
			<td>Talek Williams</td>
			<td>William Allen</td>
			<td>Central Connecticut State</td>
		</tr>
	</tbody>
</table>
