<table>
	<thead>
		<tr>
			<th>Game Time</th>
			<th>Home Team</th>
			<th>vs.</th>
			<th>Visiting Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12:00pm</td>
			<td>Emmaus (PA)</td>
			<td></td>
			<td>Archbishop Wood (PA)</td>
		</tr>
		<tr>
			<td>1:40pm</td>
			<td>Westtown (PA)</td>
			<td></td>
			<td>Bishop McNamara (MD)</td>
		</tr>
		<tr>
			<td>3:20pm</td>
			<td>William Allen (PA)</td>
			<td></td>
			<td>Albany Academy (NY)</td>
		</tr>
		<tr>
			<td>5:00pm</td>
			<td>Blair Academy (NJ)</td>
			<td></td>
			<td>Patrick School (NJ)</td>
		</tr>
		<tr>
			<td>6:40pm</td>
			<td>Parkland (PA)</td>
			<td></td>
			<td>Linden (NJ)</td>
		</tr>
	</tbody>
</table>
