<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winners</th>
			<th>Losers</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/tonyjames100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-92660" />Tony James</td>
			<td>Harrisburg  62</td>
			<td>Parkland  52</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Archbishop Wood  68</td>
			<td>Bethlehem Catholic  55</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Massanutten Military Academy VA  84</td>
			<td>Westtown  82</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2018/01/jasiahlewis100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-92658" />Jasiah Lewis</td>
			<td>William Allen  72</td>
			<td>Liberty  64</td>
			<td></td>
		</tr>
	</tbody>
</table>
