<table>
	<thead>
		<tr>
			<th>Game Time</th>
			<th>Home Team</th>
			<th>Score</th>
			<th>Visiting Team</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12:00 pm</td>
			<td>Scranton Prep</td>
			<td></td>
			<td>Roman Catholic</td>
			<td></td>
		</tr>
		<tr>
			<td>1: 40 pm</td>
			<td>Emmaus</td>
			<td></td>
			<td>Neuman Goretti</td>
			<td></td>
		</tr>
		<tr>
			<td>3:20 pm </td>
			<td>Parkland</td>
			<td></td>
			<td>Susquehanna</td>
			<td></td>
		</tr>
		<tr>
			<td>5:00 pm</td>
			<td>Westtown</td>
			<td></td>
			<td>Chester</td>
			<td></td>
		</tr>
	</tbody>
</table>
