<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>Grade</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/Mohammed-Bamba-100.jpg" alt="Mohammed Bamba 100" width="100" height="120" class="aligncenter size-full wp-image-82449" /></td>
			<td>Mohammed Bamba</td>
			<td>Westtown</td>
			<td>Senior</td>
			<td>Rivals.com 4th in country,  ESPN 4th in country</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/NickRichards2100.jpg" alt="nickrichards2100" width="100" height="120" class="aligncenter size-full wp-image-82126" /></td>
			<td>Nick Richards</td>
			<td>Patrick School</td>
			<td>Senior</td>
			<td>Rivals.com 16th in country,  ESPN 12th in country </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/brandonrandolph100.jpg" alt="brandonrandolph100" width="100" height="120" class="aligncenter size-full wp-image-79953" /></td>
			<td>Brandon Randolph</td>
			<td>Westtown</td>
			<td>Senior</td>
			<td>Rivals.com 53rd in country,  ESPN 39th in country</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DengGak100.jpg" alt="denggak100" width="100" height="120" class="aligncenter size-full wp-image-79945" /></td>
			<td>Deng Gak</td>
			<td>Blair</td>
			<td>Senior</td>
			<td>Rivals.com 94th in country,  ESPN 92nd in country</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/camreddish100.jpg" alt="camreddish100" width="100" height="120" class="aligncenter size-full wp-image-82530" /></td>
			<td>Cameron Reddish</td>
			<td>Westtown</td>
			<td>Junior</td>
			<td>Rivals.com 5th in country,  ESPN 4th in country</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/jakeforrester100.jpg" alt="jakeforrester100" width="100" height="120" class="aligncenter size-full wp-image-82528" /></td>
			<td>Jake Forrester </td>
			<td>Westtown</td>
			<td>Junior</td>
			<td>Rivals.com 70th in country </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/hameirwright100.jpg" alt="hameirwright100" width="100" height="120" class="aligncenter size-full wp-image-82542" /></td>
			<td>Hameir Wright </td>
			<td>Albany Academy </td>
			<td>Junior</td>
			<td>Rivals.com 83rd in country,  ESPN 16th in country</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/valdirmanuel100.jpg" alt="valdirmanuel100" width="100" height="120" class="aligncenter size-full wp-image-82564" /></td>
			<td>Valdir Manuel </td>
			<td>Patrick School </td>
			<td>Junior</td>
			<td>Rivals.com 125th in country </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/12/tavonJones100.jpg" alt="tavonJones100" width="100" height="120" class="aligncenter size-full wp-image-67404" /></td>
			<td>Tavon Jones </td>
			<td>Linden</td>
			<td>Junior</td>
			<td>Rivals.com 140th in country </td>
		</tr>
	</tbody>
</table>
