<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winner</th>
			<th>Loser</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>David Kachelries</td>
			<td>Emmaus 62</td>
			<td>Archbishop Wood 59</td>
			<td>Tyree Pickron</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/BrandonRandolphlv100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82902" />Brandon Randolph</td>
			<td>Westtown 57</td>
			<td>Bishop McNamara MD 40</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/makhimitchelllv100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82901" />Makhi Mitchell</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/Tyresemartin100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82879" />Tyrese Martin</td>
			<td>William Allen 75</td>
			<td>Albany Academy NY 67</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/HameirWrightlv100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82899" />Hameir Wright</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/NickRichardslv100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82895" />Nick Richards</td>
			<td>Patrick School NJ 71</td>
			<td>Blair Academy NJ 47</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/MattTurnerlv100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82897" />Matt Turner</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/MarcellusLivingston100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82907" />Marcellus Livingston</td>
			<td>Linden NJ 75</td>
			<td>Parkland PA 68</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/01/samioriolv100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82909" />Sam Iorio</td>
		</tr>
	</tbody>
</table>
