<table>
	<thead>
		<tr>
			<th>MVP</th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/01/IMG_3962.jpg" alt="" width="100" height="123" class="aligncenter size-full wp-image-57096" />Gemil Holbrook</td>
			<td>Roman Catholic  76
Nazeer Bostick led the way with 19 and Gemil Holbrook knocked down a big three late in the fourth quarter to put Roman Catholic up for good. </td>
			<td>Scranton Prep  66
20 points from Tim Rose and 18 from Bobby Casey was not enough for Scranton Prep to pull the upset on Roman. </td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/01/IMG_3960.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57095" />Tim Rose</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/01/IMG_3991.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57098" />Zane Martin</td>
			<td>Neuman Goretti  71
Zane Martin was firing on all cylinders, scoring a game high 27 points in Neuman's win over Emmaus.</td>
			<td>Emmaus  55
Sophomore David Kachelries and Jake Feiertag had 13 apiece in the Hornet's loss to Neuman.</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/01/IMG_3986.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57097" />David Kachelries</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/01/IMG_4024.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57100" />Sam Iorio</td>
			<td>Parkland  64
Kyle Stout scored his first points on a game tying three with 6 seconds left. Sam Iorio led the way with 24 points for the Trojans. </td>
			<td>Susquehanna  62
Nehemiah Mack did everything he could, scoring 19 points, but it was enough to top Parkland.</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/01/IMG_4022.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57099" />Nehemiah Mack</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/01/IMG_4036.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57102" />Jair Bolden</td>
			<td>Westtown  70
Jair Bolden, Mohammed Bamba and Najja Hunter combined to score 51 points for Westtown as they cruised to a big win.</td>
			<td>Chester  38
A sluggish start had Chester down early, and the size of Maurice Henry and Jordan Camper was not match for Westtown.</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/01/IMG_4034.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-57101" />Maurice Henry</td>
		</tr>
	</tbody>
</table>
