<table>
	<thead>
		<tr>
			<th>Game Time</th>
			<th>Home Team</th>
			<th>Score</th>
			<th>Visiting Team</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>11:30 am</td>
			<td>Harrisburg</td>
			<td></td>
			<td>Bishop McNamara MD</td>
			<td></td>
		</tr>
		<tr>
			<td>1:00 pm</td>
			<td>Allentown Central Catholic</td>
			<td></td>
			<td>Chester</td>
			<td></td>
		</tr>
		<tr>
			<td>2:30 pm </td>
			<td>Westtown</td>
			<td></td>
			<td>Cushing Academy MA</td>
			<td></td>
		</tr>
		<tr>
			<td>4:00 pm</td>
			<td>Parkland </td>
			<td></td>
			<td>Imhotep Charter</td>
			<td></td>
		</tr>
	</tbody>
</table>
