<table>
	<thead>
		<tr>
			<th>Sunday</th>
			<th>Away Team</th>
			<th>Home Team</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>12:00PM</td>
			<td>Council Rock North</td>
			<td>Liberty</td>
			<td><a href="https://www.gamechanger.io/game-50ff0ba71834761039018f8a/plays/home">Live Box Score</a></td>
		</tr>
		<tr>
			<td>1:40PM</td>
			<td>Patrick School</td>
			<td>Parkland</td>
			<td><a href="https://www.gamechanger.io/game-50ff0c1a183476103d4ed3bb/plays/home">Live Box Score</a></td>
		</tr>
		<tr>
			<td>3:20PM</td>
			<td>St. Benedict's</td>
			<td>Germantown Academy</td>
			<td><a href="https://www.gamechanger.io/game-50ff0af518347610362321e8/plays/away">Live Box Score</a></td>
		</tr>
		<tr>
			<td>5:00PM</td>
			<td>Gill St. Bernard's</td>
			<td>Abington Heights</td>
			<td><a href="https://www.gamechanger.io/game-50ff082f183476026ee57b3c/plays/away">Live Box Score</a></td>
		</tr>
		<tr>
			<td>6:40PM</td>
			<td>Hudson Catholic</td>
			<td>Freedom</td>
			<td><a href="https://www.gamechanger.io/game-50ff0d6b183476103be45c83/plays/home">Live Box Score</a></td>
		</tr>
	</tbody>
</table>
