<table>
	<thead>
		<tr>
			<th>Chris Zupko</th>
			<th>Pts</th>
			<th>Rob Kennedy</th>
			<th>Pts</th>
			<th>Matt Grady</th>
			<th>Pts</th>
			<th>Marquis Webb</th>
			<th>Pts</th>
			<th>Kevin Driscoll</th>
			<th>Pts</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Ben Hansborough-ND</td>
			<td></td>
			<td>Kemba Walker-Uconn</td>
			<td></td>
			<td>Harrison Barnes-UNC</td>
			<td></td>
			<td>Kyrie Irving-Duke</td>
			<td></td>
			<td>Taylor Battle-PSU</td>
			<td></td>
		</tr>
		<tr>
			<td>Jon Deibler-OSU</td>
			<td></td>
			<td>Jimmer Freddette-BYU</td>
			<td></td>
			<td>Jujuan Johnson-Purdue</td>
			<td></td>
			<td>Asthon Gibbs- Pitt</td>
			<td></td>
			<td>Shabazz Napier-Uconn</td>
			<td></td>
		</tr>
		<tr>
			<td>Josh Selby-Kansas</td>
			<td></td>
			<td>Markeif Morris-Kansas</td>
			<td></td>
			<td>Brandin Knight-Ken</td>
			<td></td>
			<td>Scoop Jardine-Cuse</td>
			<td></td>
			<td>Lavoy Allen-Temple</td>
			<td></td>
		</tr>
		<tr>
			<td>Brad Wannamaker-Pitt</td>
			<td></td>
			<td>Kris Joseph-Cuse</td>
			<td></td>
			<td>Preston Knowles-Louis</td>
			<td></td>
			<td>Jeremy Lamb-Uconn</td>
			<td></td>
			<td>Darius Johnson-Odom-Mar</td>
			<td></td>
		</tr>
		<tr>
			<td>Seth Curry-Duke</td>
			<td></td>
			<td>Tyler Zeller-UNC</td>
			<td></td>
			<td>Josh Jenkins-Vandy</td>
			<td></td>
			<td>Tobias Harris-Tenn</td>
			<td></td>
			<td>Yancy Gates-Cincy</td>
			<td></td>
		</tr>
		<tr>
			<td>Marcus Demon-Miz</td>
			<td></td>
			<td>Kenny Boyton-Florida</td>
			<td></td>
			<td>Kyle Kuric-Louisville</td>
			<td></td>
			<td>Peyton Siva-Louisville</td>
			<td></td>
			<td>Gilbert Brown-Pitt</td>
			<td></td>
		</tr>
		<tr>
			<td>Corey Joseph-Cuse</td>
			<td></td>
			<td>Doron Lamb-Kentucky</td>
			<td></td>
			<td>Mason Plumlee-Duke</td>
			<td></td>
			<td>Billy White-San State</td>
			<td></td>
			<td>Tristian Thompson-Tex</td>
			<td></td>
		</tr>
		<tr>
			<td>John Henson-UNC</td>
			<td></td>
			<td>Romone Moore-Temple</td>
			<td></td>
			<td>Dion Dixon-Cincy</td>
			<td></td>
			<td>Jimmy Butler-Marq</td>
			<td></td>
			<td>Austin Freeman-gtown</td>
			<td></td>
		</tr>
		<tr>
			<td>Corey Fisher-Vilanova</td>
			<td></td>
			<td>Stephen Gray-Gonzaga</td>
			<td></td>
			<td>Vernon Macklin-Florida</td>
			<td></td>
			<td>Malcolm Lee-UCLA</td>
			<td></td>
			<td>Irving Walker-Florida</td>
			<td></td>
		</tr>
		<tr>
			<td>Dexter Strickland-UNC</td>
			<td></td>
			<td>Kalin Lucas-MSU</td>
			<td></td>
			<td>John Holland-BYU</td>
			<td></td>
			<td>Corey Stokes-Nova</td>
			<td></td>
			<td>Nolan Smith-Duke</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Chad Babel</td>
			<td>Pts</td>
			<td>Dave Krupinski</td>
			<td>Pts</td>
			<td>Rob Engemann</td>
			<td>Pts</td>
			<td>Joe Stein</td>
			<td>Pts</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Kyle Singler-Duke</td>
			<td></td>
			<td>Jared Sullinger-OSU</td>
			<td></td>
			<td>Tyshawn Taylor-Kansas</td>
			<td></td>
			<td>Marcus Morris-Kansas</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Jacob Pullen-KSU</td>
			<td></td>
			<td>Etawn Moore-Pur</td>
			<td></td>
			<td>Terrance Jones-Kent</td>
			<td></td>
			<td>Kawhi Leonard-San St</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Chandler Parsons-Florida</td>
			<td></td>
			<td>Derrick Williams-Zona</td>
			<td></td>
			<td>Isiah Thomas-Wash</td>
			<td></td>
			<td>William. Buford-OSU</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Tu Halloway-Xavier</td>
			<td></td>
			<td>Tim Abromitis- ND</td>
			<td></td>
			<td>Jordan Taylor-Wisc</td>
			<td></td>
			<td>Jordan Hamilton-Texas</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Kendall Marshall-UNC</td>
			<td></td>
			<td>Dwight Hardy-St Johns</td>
			<td></td>
			<td>Jeff Taylor-Vand</td>
			<td></td>
			<td>Rick Jackson-Cuse</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Kevin Jones-WVU</td>
			<td></td>
			<td>Jon Lueur-Wisc</td>
			<td></td>
			<td>David Lighty-OSU</td>
			<td></td>
			<td>Terrance Jennings-Louis</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Cam Long- Gmason</td>
			<td></td>
			<td>Carleton Scott-ND</td>
			<td></td>
			<td>Frank Hassell-ODU</td>
			<td></td>
			<td>Tyrel Reed- Kansas</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Mo Mo Jones-Arizona</td>
			<td></td>
			<td>Brandon Triche-Cuse</td>
			<td></td>
			<td>Laurence Bowers-Miz</td>
			<td></td>
			<td>Ricardo Ratliff-Miz</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Nassir Robinson-Pitt</td>
			<td></td>
			<td>Shelvin Mack-Butler</td>
			<td></td>
			<td>Demontez Stith-Clem</td>
			<td></td>
			<td>Mcgruder-KSU</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Scotty Hopson-Tenn</td>
			<td></td>
			<td>Bryan-Amaning- Wash</td>
			<td></td>
			<td>Kevin Anderson-Rich</td>
			<td></td>
			<td>Mark Lyons-Xavier</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
