<table>
	<tbody>
		<tr>
			<td>U9</td>
			<td>U10</td>
			<td>U11</td>
			<td>U12</td>
			<td>U13</td>
			<td>U14</td>
			<td>U15</td>
			<td>U16</td>
			<td>U17</td>
		</tr>
		<tr>
			<td>Team Rebel</td>
			<td>Next Level</td>
			<td>SI Storm</td>
			<td>GSP</td>
			<td>Monarchs</td>
			<td>Monarchs</td>
			<td>Metro Hawks</td>
			<td>JKMBA</td>
			<td>JJ Hoops</td>
		</tr>
		<tr>
			<td>ShoreShots</td>
			<td>ShoreShots Orange</td>
			<td>Westchester Wildcats</td>
			<td>Monarchs</td>
			<td>Monarchs</td>
			<td>Next Level</td>
			<td>LB Recreation</td>
			<td>Next Level</td>
			<td>JKMBA</td>
		</tr>
		<tr>
			<td>Asbury Park Rec</td>
			<td>ShoreShots Blue</td>
			<td>ShoreShots Orange</td>
			<td>ShoreShots Blue</td>
			<td>SI Finest</td>
			<td>Starting 5ive</td>
			<td>Narberth Knights</td>
			<td>Narberth Knights</td>
			<td>Narberth Knights</td>
		</tr>
		<tr>
			<td></td>
			<td>Team Rebel</td>
			<td></td>
			<td>SI Finest</td>
			<td>ShoreShots Blue</td>
			<td>CJ Hawks</td>
			<td>ShoreShots Blue</td>
			<td>Lehigh Ballers</td>
			<td>Newark B &amp; G Club</td>
		</tr>
		<tr>
			<td></td>
			<td>Team IZOD</td>
			<td></td>
			<td>Next Level</td>
			<td>Starting 5ive</td>
			<td></td>
			<td>NYC Jayhawks</td>
			<td>NYC Jayhawks</td>
			<td>East Coast Panthers</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td>ShoreShots Orange</td>
			<td>NJ Rebels</td>
			<td></td>
			<td>House of Hoops</td>
			<td></td>
			<td>Advanced Hoops</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>Next Level</td>
			<td></td>
			<td>Advanced Hoops</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>Starting 5ive</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
