<table>
	<thead>
		<tr>
			<th>Dates</th>
			<th>Game Day</th>
			<th>Times</th>
			<th>Cost</th>
			<th>Registration</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>September</td>
			<td>Wednesdays</td>
			<td>8:30 or 9:30 PM</td>
			<td>$850</td>
			<td>Finch@hoopgroup.com</td>
		</tr>
	</tbody>
</table>
