<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Coaches Eval</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/nathan-aiken-300x212.jpg" alt="" width="300" height="212" class="alignleft size-medium wp-image-65250" /></td>
			<td>Aiken, Nathaniel</td>
			<td>12</td>
			<td>Nathaniel has very good court vision. He excels with the ball in his hands, with ability to break you down off the dribble and get his shot off. Aggressive defender who created turnovers with his ball pressure.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/hubert-alston-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65202" /></td>
			<td>Alston, Hubert</td>
			<td>11</td>
			<td>Hubert is a tremendous on ball defender and was always in the middle of the action. He made it difficult for the opposing team to bring the ball up the court. Has a quick burst to the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Mattias-300x207.jpg" alt="" width="300" height="207" class="alignleft size-medium wp-image-65284" /></td>
			<td>Arrindell, Mattias</td>
			<td>10</td>
			<td>Mattias is at his best in transition and pushing the ball. He is a ball hawk on defense and gave his man difficulties all day. Guards the full length of the floor and doesn't get beat off the dribble.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Azemi, Arian</td>
			<td>11</td>
			<td>Arian showed good speed and did a good job getting into the lane and creating opportunites for his teammates. His speed and skill allows him to affect the game on both ends of the floor</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/branden-barnes-300x215.jpg" alt="" width="300" height="215" class="alignleft size-medium wp-image-65172" /></td>
			<td>Barnes, Branden</td>
			<td>10</td>
			<td>Branden has a big body which he uses to get position in the post. He is smart with the ball and makes great decisions. Has a soft touch around the rim and a variety of post moves.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/james-battle-300x223.jpg" alt="" width="300" height="223" class="alignleft size-medium wp-image-65209" /></td>
			<td>Battle, James</td>
			<td>12</td>
			<td>James does a good job of drawing help defense when he drives and kicking to open teammates. He can finish in a variety of ways once he gets into the paint. His length allows him to tip passes and get in passing lanes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jason-battle-300x211.jpg" alt="" width="300" height="211" class="alignleft size-medium wp-image-65210" /></td>
			<td>Battle, Jason</td>
			<td>10</td>
			<td>Jason has incredible foot quickness which makes him a lock down defender. Did a great job of keeping his man in front of him on defense. Sees the floor well in both transition and half court sets.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/kyle-benvenuto-300x198.jpg" alt="" width="300" height="198" class="alignleft size-medium wp-image-65232" /></td>
			<td>Benvenuto, Kyle</td>
			<td>11</td>
			<td>Kyle has great length and can shoot the ball past the 3 point line. He is a very active defender who gets his hands in the passing lanes and causes turnovers.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Bernstein, Jake</td>
			<td>9</td>
			<td>Jake has great shooting form and was able to hit outsdie shots. He kept the ball moving on offense and made strong passes to his teammates. Played good help side defense and got into passing lanes.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Berschadsky, Eric</td>
			<td>9</td>
			<td>Eric is a smart offensive player who doesn't force his shot or make difficult passes. He has range that extends past the 3 point line and does a good job of setting his feet and squaring up to the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/lonce-bethea-300x214.jpg" alt="" width="300" height="214" class="alignleft size-medium wp-image-65238" /></td>
			<td>Bethea, Lonce</td>
			<td>10</td>
			<td>Lonce has great athleticism and ability to get by his defender and into the paint. Uses his length to his advantage on defense to guard multiple positions. Keeps his man in front of him and finishes every play with a rebound.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Jake-Betlow-300x196.jpg" alt="" width="300" height="196" class="alignleft size-medium wp-image-65208" /></td>
			<td>Betlow, Jake</td>
			<td>9</td>
			<td>Jake is a smart, tough guard with a high basketball IQ. He has a consistent shot that extends past the 3 point line. Was great all day in the pick in roll attacking the rim and hitting the open pass. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/tyrek-bettle-holley-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65388" /></td>
			<td>Bettle-Holley, Tyrek</td>
			<td>11</td>
			<td>Tyrek is at his best when penetrating and finishing at the rim or making plays for his teammates. He does a good job of handling ball pressure. Showed his ability to hit open jumpers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/michael-boeckel-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65364" /></td>
			<td>Boeckel, Michael</td>
			<td>10</td>
			<td>Michael was one of the more consistent jump shooters who showed his range all day. He has a high basketball IQ and makes smart decisions on the floor. Created for his teammates on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/peyton-boesch-300x204.jpg" alt="" width="300" height="204" class="alignleft size-medium wp-image-65256" /></td>
			<td>Boesch, Peyton</td>
			<td>9</td>
			<td>Peyton is a smart defender who does a great job sliding his feet and keeping his man in front of him. He is a knock down shooter from 3 and drew extra help from the defense. Attacks the rim hard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/michael-boice-300x213.jpg" alt="" width="300" height="213" class="alignleft size-medium wp-image-65245" /></td>
			<td>Boice, Michael</td>
			<td>12</td>
			<td>Michael has a relentless motor and was able to create second chance scoring opportunities on the offensive glass. He outworked his opponents all day. Has a consistent 3 point jumper.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/alexander-brodsky-300x208.jpg" alt="" width="300" height="208" class="alignleft size-medium wp-image-65163" /></td>
			<td>Brodsky, Alexander</td>
			<td>11</td>
			<td>Alexander displayed his craftiness when he had the ball in his hands. He is unselfish on offense and always made the extra pass. Played solid on ball defense and went after rebounds.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/davian-brown-300x238.jpg" alt="" width="300" height="238" class="alignleft size-medium wp-image-65185" /></td>
			<td>Brown, Davian</td>
			<td>11</td>
			<td>Davian is a good athlete who is very active on the defensive end. His quickness makes him a lock down on ball defender. He finished well around the rim once getting into the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/enzo-brutus-300x202.jpg" alt="" width="300" height="202" class="alignleft size-medium wp-image-65197" /></td>
			<td>Brutus, Enzo</td>
			<td>10</td>
			<td>Enzo has a quick first step and gets to the basket at will. He is at his best in transition when looking up the floor and finding his teammates. Enzo is a tremendous defender and is always tipping passes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/joshua-cabezudo-300x206.jpg" alt="" width="300" height="206" class="alignleft size-medium wp-image-65222" /></td>
			<td>Cabezudo, Joshua</td>
			<td>10</td>
			<td>Joshua is a good athlete who brings a lot of energy to the game. Was willing to go after every loose ball and get in the mix for rebounds. He is a very good help defender and knows where to be on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jules-calhoun-300x198.jpg" alt="" width="300" height="198" class="alignleft size-medium wp-image-65224" /></td>
			<td>Calhoun, Jules</td>
			<td>11</td>
			<td>Jules has a quick first step and showed his ability to get by defenders off the dribble. He is very disciplined on defense and knows where to be. Doesn't force anything on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/david-campbell-300x221.jpg" alt="" width="300" height="221" class="alignleft size-medium wp-image-65186" /></td>
			<td>Campbell, David</td>
			<td>10</td>
			<td>David is an athletic, versatile playmaker on both ends of the floor. He has range on his shot that extends out to the 3 point line. Does a good job of keeping his man out of the lane. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/hakeem-ceesay-300x197.jpg" alt="" width="300" height="197" class="alignleft size-medium wp-image-65200" /></td>
			<td>Ceesay, Hakeem</td>
			<td>10</td>
			<td>Hakeem is a strong driver to the basket and can finish through contact. He is a great on ball defender who works to keep his man out of the paint. Gets after loose balls and rebounds with aggression.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/hassan-ceesay-300x222.jpg" alt="" width="300" height="222" class="alignleft size-medium wp-image-65201" /></td>
			<td>Ceesay, Hassan</td>
			<td>10</td>
			<td>Hassan has a few very good dribble drive moves and can finish with either hand. He controls the offense and plays with great tempo in the fast break finding open teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/marc-cerbo-300x205.jpg" alt="" width="300" height="205" class="alignleft size-medium wp-image-65240" /></td>
			<td>Cerbo, Marc</td>
			<td>11</td>
			<td>Marc is an excellent on ball defender and slides his feet to keep his man in front of him. Uses his body on defense to keep his man out of the paint. Showed his ability to hit open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/nathan-chambers-300x209.jpg" alt="" width="300" height="209" class="alignleft size-medium wp-image-65251" /></td>
			<td>Chambers, Nathaniel</td>
			<td>11</td>
			<td>Nathaniel is a very athletic wing who is great in transition. He is an excellent on ball defender and doesn't let his man get past him. Was able to consistently hit mid range jumpers and extend out to 18 feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/timothy-chaney-300x213.jpg" alt="" width="300" height="213" class="alignleft size-medium wp-image-65287" /></td>
			<td>Chaney, Tim</td>
			<td>10</td>
			<td>Tim was very comfortable with the ball in his hand and running the offense for his team. He did a great job facilitating for his teammates and handles pressure well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/sky-cherry-300x203.jpg" alt="" width="300" height="203" class="alignleft size-medium wp-image-65289" /></td>
			<td>Cherry, Sky</td>
			<td>10</td>
			<td>Sky is a tough competitor who showed his passion for the game today. He sees the court well and made some tremendous passes. Has good form on his shot and can consistently hit open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/mekhi-chester-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65362" /></td>
			<td>Chester, Mekhi</td>
			<td>11</td>
			<td>Mekhi is a long, athletic defender who can guard multiple positions. He plays hard and got himself a lot of second chance scoring opportunities. He used his athleticism to make plays at both ends of the floor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jaylen-colon-300x194.jpg" alt="" width="300" height="194" class="alignleft size-medium wp-image-65213" /></td>
			<td>Colon, Jaylen</td>
			<td>10</td>
			<td>Jaylen has a good feel for the game and plays unselfishly on offense. He plays tough on ball defense doesn't allow his man to get by him. Has active hands in the passing lanes and caused turnovers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Devin-Cooper-300x203.jpg" alt="" width="300" height="203" class="alignleft size-medium wp-image-65190" /></td>
			<td>Cooper, Devin</td>
			<td>10</td>
			<td>Devin is effective dribbling off the pick and roll and finding open teammates. He has a good handle on the ball and doesn't get flustered by ball pressure. Applies tight on the ball pressure.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/zach-crisler-300x198.jpg" alt="" width="300" height="198" class="alignleft size-medium wp-image-65280" /></td>
			<td>Crisler, Zach</td>
			<td>9</td>
			<td>Zach is a skilled big man who can post up as well as step out and hit shots. He passes well out of the post when double teamed. Uses his length to block and alter shots on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/dane-crum-300x213.jpg" alt="" width="300" height="213" class="alignleft size-medium wp-image-65182" /></td>
			<td>Crum, Dane</td>
			<td>9</td>
			<td>Zane is a big bodied forward who works hard on both ends of the floor. He rebounds the bal well and looks for a quick pass in tranistion. Uses his body to get the position he wants in the post on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jordan-davidson-300x207.jpg" alt="" width="300" height="207" class="alignleft size-medium wp-image-65283" /></td>
			<td>Davidson, Jordan</td>
			<td>10</td>
			<td>Jordan showed his ability to control an offense and facilitate for his teammates. He passes well out of the paint and finding open teammates. Sees the floor well in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/ben-deInnocentiis-300x203.jpg" alt="" width="300" height="203" class="alignleft size-medium wp-image-65168" /></td>
			<td>Delnnocentiis, Ben</td>
			<td>10</td>
			<td>Ben is a crafty playmaker with a very smooth game. He is a good set shooter and always squares up to the basket. Showed his ability to break down his defender and get to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/mike-depersia-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65246" /></td>
			<td>DePersia, Mike</td>
			<td>9</td>
			<td>Mike is a true point guard who sees the floor extremely well. He does a great job of hitting his teammates with strong passes and getting them easy baskets. A very active on ball defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/brad-dervishaj-300x199.jpg" alt="" width="300" height="199" class="alignleft size-medium wp-image-65170" /></td>
			<td>Dervishaj, Brad</td>
			<td>10</td>
			<td>Brad is a very mobile big with a smooth shooting stroke. He has the ability to stretch the floor and hit out to 17 feet. Plays with an extremely high motor and never takes a play off.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jayson-coppola-300x212.jpg" alt="" width="300" height="212" class="alignleft size-medium wp-image-65215" /></td>
			<td>Coppola, Jayson</td>
			<td>11</td>
			<td>Jayson has great size and is very active on the perimeter. He can attack from the wing and score in a variety of ways once he gets into the paint. Knows how to score easy baskets on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/parker-Dortch-300x193.jpg" alt="" width="300" height="193" class="alignleft size-medium wp-image-65286" /></td>
			<td>Dortch, Parker</td>
			<td>12</td>
			<td>Parker has a good handle for his size and can attack when facing up. He attacks hard to the right and was able to get by his defender. Competes on both ends of the floor and got second chance points on offense with his motor.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Dougherty, Jack</td>
			<td>11</td>
			<td>Jack showed a good IQ and set of skills to go along with consistent effort and both ends of the floor all day long. He made winning plays for his team throughout the day.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/tristan-dunn-300x217.jpg" alt="" width="300" height="217" class="alignleft size-medium wp-image-65272" /></td>
			<td>Dunn, Tristan</td>
			<td>11</td>
			<td>Tristan uses his high basketball IQ to make smart plays and was always in the right position on defense. He is an unselfish passer and looks for open teammates. Can hit shots when setting his feet and squaring up.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Daniel-Dyer-300x218.jpg" alt="" width="300" height="218" class="alignleft size-medium wp-image-65183" /></td>
			<td>Dyer, Daniel</td>
			<td>12</td>
			<td>Daniel showed an ability to knock down an open shot throughout the day. He has good size and streches the floor, creating openings for his teammates. Defends well and rebounds hard. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/kyle-elliot-300x234.jpg" alt="" width="300" height="234" class="alignleft size-medium wp-image-65233" /></td>
			<td>Elliott, Kyle</td>
			<td>12</td>
			<td>Kyle is an explosive player who explodes off the ground when attacking the rim. He using his athleticism on defense to keep his man in front of him. At his best running out in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/edward-emedoh-300x221.jpg" alt="" width="300" height="221" class="alignleft size-medium wp-image-65195" /></td>
			<td>Emedoh, Edward</td>
			<td>12</td>
			<td>Edward is a long, strong big with great footwork. He has good form on his jumpshot and can finish around the rim with either hand. Had the ability to alter shots all day and block opponents when they drove. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/william-finnie-300x221.jpg" alt="" width="300" height="221" class="alignleft size-medium wp-image-65276" /></td>
			<td>Finnie, William</td>
			<td>11</td>
			<td>William does an excellent job of closing out on defense and uses his length to tip passes. He uses his handle to break down defenders and get into the lane. Does a good job of rebounding the ball on both ends.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/christian-ford-300x211.jpg" alt="" width="300" height="211" class="alignleft size-medium wp-image-65179" /></td>
			<td>Ford, Christian</td>
			<td>12</td>
			<td>Christian did a great job on the boards and was able to quickly start the fast break. He runs the floor well and got easy baskets by getting behind the defense. Drives well with either hand and finishes through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Jaylen-Gaffney1-300x189.jpg" alt="" width="300" height="189" class="alignleft size-medium wp-image-65394" /></td>
			<td>Gaffney, Jaylen</td>
			<td>9</td>
			<td>Jaylen is a heady guard who can make plays for himself and his teammates. He's great at finishing at the rim, and possesses good vision.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/antonio-gamboa-300x224.jpg" alt="" width="300" height="224" class="alignleft size-medium wp-image-65167" /></td>
			<td>Gamboa, Antonio</td>
			<td>11</td>
			<td>Antonio has a great change of pace with his dribble and was able to get by his defender all day. He does a good job of finishing through contact once he gets into the lane and attacks the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/matt-ganter-300x209.jpg" alt="" width="300" height="209" class="alignleft size-medium wp-image-65242" /></td>
			<td>Ganter, Matt</td>
			<td>9</td>
			<td>Matt has a high basketball IQ and plays with a great passion for the game. He rebounds extremely well and both ends of the floor. Consistent jump shooter when setting his feet and squaring up to the basket.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Gill, Khris</td>
			<td>12</td>
			<td>Khris is a long, athletic versatile player. He is at his best when slashing to the basket and getting into the lane. He rebounds well and plays great on ball defense, pressuring his man away from the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/kevin-gorman-300x216.jpg" alt="" width="300" height="216" class="alignleft size-medium wp-image-65230" /></td>
			<td>Gorman, Kevin</td>
			<td>12</td>
			<td>Kevin is a strong player who gets after it on both ends of the floor. He is an aggressive on ball defender who gets a lot of deflections. He cuts hard to the rim and finishes through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/andrew-hamill-300x213.jpg" alt="" width="300" height="213" class="alignleft size-medium wp-image-65165" /></td>
			<td>Hamill, Andrew</td>
			<td>12</td>
			<td>Andrew has a great motor and plays hard defensively. He gets after his man on defense and works hard to keep him out of the lane. Plays with a good pace and pushes the ball in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/alexx-harbour-300x222.jpg" alt="" width="300" height="222" class="alignleft size-medium wp-image-65164" /></td>
			<td>Harbour, Alexx</td>
			<td>9</td>
			<td>Alexx has the ability to break down his defender and drive with either hand. He can finish in a variety of ways when getting into the paint. Went after every rebound on defense and did a good job boxing out.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/bryan-harris-300x202.jpg" alt="" width="300" height="202" class="alignleft size-medium wp-image-65173" /></td>
			<td>Harris, Bryan</td>
			<td>12</td>
			<td>Bryan uses his athleticism and quick first step to get by his defender. He is a high level athlete who plays above his competition. Can finish in a variety of ways around the rim and in the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/devin-harris-300x210.jpg" alt="" width="300" height="210" class="alignleft size-medium wp-image-65191" /></td>
			<td>Harris, Devin</td>
			<td>11</td>
			<td>Devin is a quick guard who attacks hard with the ball in his hands. He has active hands on defense and moves his feet well when defending the ball. Doesn't get affected by ball pressure on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/robert-higgins-300x208.jpg" alt="" width="300" height="208" class="alignleft size-medium wp-image-65261" /></td>
			<td>Higgins, Robert</td>
			<td>9</td>
			<td>Robert is a smart, unselfish guard who keeps the ball swinging on offense. He did a good job on the day of controlling tempo and keeping the offense fluid. Has range out to the 3 point line. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/dorian-hodge-300x220.jpg" alt="" width="300" height="220" class="alignleft size-medium wp-image-65194" /></td>
			<td>Hodge, Dorian</td>
			<td>12</td>
			<td>Dorian is a very good athlete who can get to the rim at will. After getting in the paint he is very good at absorbing contact and finishing. He has excellent speed in the open court making him difficult to guard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/brian-honis-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65304" /></td>
			<td>Honis, Brian</td>
			<td>10</td>
			<td>Brian had no issues getting by his defender and into the paint. He made smart plays when the ball was in his hand and didn't force anything. Created for his teammates as well as got himself open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/dakari-irving-300x212.jpg" alt="" width="300" height="212" class="alignleft size-medium wp-image-65181" /></td>
			<td>Irving, Dakari</td>
			<td>11</td>
			<td>Dakari is a strong kid who slashes to the rim effectively. He finishes well around the rim and absorbed contact when attacking. Great on ball defender who moves his feet well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jayvon-jackson-300x220.jpg" alt="" width="300" height="220" class="alignleft size-medium wp-image-65216" /></td>
			<td>Jackson, Jayvon</td>
			<td>10</td>
			<td>Jayvon is a big bodied, physical player that creates mismatches. He attacks the glass on offense and gets a lot of easy layups after offensive rebounds. Has a soft touch around the rim. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Jerome, Izalm</td>
			<td>10</td>
			<td>Izalm is at his best when slashing to the rim and finishing through contact. He is disciplined on defense on help side and has the ability to alter shots. Does a good job pulling up off of one dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/kenny-jones-300x209.jpg" alt="" width="300" height="209" class="alignleft size-medium wp-image-65228" /></td>
			<td>Jones, Kenny</td>
			<td>10</td>
			<td>Kenny is great at getting into the paint and finishing in traffic. He has good range on his jumper and can consistently hit open outside shots. Plays hard defensively and works to keep his man in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/troy-jones-300x211.jpg" alt="" width="300" height="211" class="alignleft size-medium wp-image-65273" /></td>
			<td>Jones, Troy</td>
			<td>11</td>
			<td>Troy moves well without the ball and is an excellent shooter coming off of screens. He has a great shot fake which he uses to get his man in the air and beat him off the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/kyle-koob1-300x217.jpg" alt="" width="300" height="217" class="alignleft size-medium wp-image-65393" /></td>
			<td>Koob, Kyle</td>
			<td>9</td>
			<td>Kyle plays extremely hard on both ends of the floor. He's always making hustle plays for his team, and also showed a good shooting ability.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/liam-kennedy-300x229.jpg" alt="" width="300" height="229" class="alignleft size-medium wp-image-65237" /></td>
			<td>Kennedy, Liam</td>
			<td>9</td>
			<td>Liam is a smart guard who makes all of the right plays on offense. He is a crafty finisher around the rim. He displayed his ability to consistently knock down outside shots as well as create for himself and hit pull up jumpers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/phillip-ladson-300x210.jpg" alt="" width="300" height="210" class="alignleft size-medium wp-image-65258" /></td>
			<td>Ladson, Philip</td>
			<td>11</td>
			<td>Philip is a strong, athletic wing who causes matchup issues for opposing teams. He can finish in transition and in traffic around the rim. Uses his strength to get where he wants to go on offense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/greg-lauray-300x198.jpg" alt="" width="300" height="198" class="alignleft size-medium wp-image-65199" /></td>
			<td>Lauray Jr, Greg</td>
			<td>11</td>
			<td>Greg has good length and keeps the ball low when dribbling up the court. He sees the floor and was able to find open teammates when they spotted up. Was able to finish over defenders around the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Scottie-Lewis-300x229.jpg" alt="" width="300" height="229" class="alignleft size-medium wp-image-65267" /></td>
			<td>Lewis, Scottie</td>
			<td>9</td>
			<td>Scottie plays tremendous on ball defense and is very quick to help defense. Was able to block a couple of shots and alter others when the opposing team attacked. He plays above the rim and finishes well in traffic.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jordan-livingston-300x215.jpg" alt="" width="300" height="215" class="alignleft size-medium wp-image-65221" /></td>
			<td>Livingston, Jordan</td>
			<td>10</td>
			<td>Jordan has great size and athleticism. Defensively he is aggressive and caused turnovers all day. He is at his best on offense when setting his feet and showed his ability to hit open shots.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Logan, Ameir</td>
			<td>9</td>
			<td>Ameir is a great point guard who is always looking for the kick out when driving into the paint. He kept the offense moving and was able to handle pressure and keep his dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Nicanor-300x212.jpg" alt="" width="300" height="212" class="alignleft size-medium wp-image-65285" /></td>
			<td>Lopez, Nicanor</td>
			<td>10</td>
			<td>Nicanor is really active on defense, getting deflections and jumping passing lanes. He beats his defender with his first step. Always finds openings in the defense and spots up for jumpers. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/devin-mack-300x205.jpg" alt="" width="300" height="205" class="alignleft size-medium wp-image-65192" /></td>
			<td>Mack, Devin</td>
			<td>11</td>
			<td>Devin showed his ability to get into the paint today and create for his team. He has a quick first step and uses his body well to protect the ball. Is always in attack mode.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/justin-maddox-300x202.jpg" alt="" width="300" height="202" class="alignleft size-medium wp-image-65225" /></td>
			<td>Maddox, Justin</td>
			<td>11</td>
			<td>Justin is an aggressive player who works hard and attacks the offensive glass every possession. A great on ball defender who picked up the opposing teams best player. Made smart decisions on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/charlier-maker-300x198.jpg" alt="" width="300" height="198" class="alignleft size-medium wp-image-65177" /></td>
			<td>Maker, Charlie</td>
			<td>11</td>
			<td>Charlie has a quick release on his jumper and can create space with his dribble. Handles the ball well under pressure. He sets hard screens and rolls out to an open spot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/aj-marerro-100x75.jpg" alt="" width="300" height="200" class="alignleft size-thumbnail wp-image-65160" /></td>
			<td>Marerro, AJ</td>
			<td>10</td>
			<td>AJ has a high basketball IQ and sees plays develop in front of him. He knows when to make the right pass and delivers the ball on time. Kept the offense organized and knew how to work through breakdowns.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/nigel-marshall-300x205.jpg" alt="" width="300" height="205" class="alignleft size-medium wp-image-65252" /></td>
			<td>Marshall, Nigel</td>
			<td>10</td>
			<td>Nigel is a strong, athletic big. He has great footwork and finishes well through contact at the rim. He is an active defender who has great timing when going up to block shots. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Martinez, Jonathan</td>
			<td>12</td>
			<td>Jonathan did a great job all day handling the ball and protecting it when bringing it up the court. He pushed the ball in transition and kept his team organized on offense when things broke down.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/aemilla-massenat-1024x641.jpg" alt="" width="300" height="200" class="alignleft size-large wp-image-65159" /></td>
			<td>Massenat, Aemilla</td>
			<td>11</td>
			<td>Aemilla plays with a high motor and always seemed to come up with loose balls. He did a great job of communicating on defense and keeping his team organized. Gets his hands on a lot of passes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/brad-mccabe-300x201.jpg" alt="" width="300" height="201" class="alignleft size-medium wp-image-65171" /></td>
			<td>McCabe, Brad</td>
			<td>9</td>
			<td>Brad plays hard on both ends and showed the ability to shoot the basketball throughout the day as well. He is a good teammate and consistently makes the right play.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/ryan-mccaffery-300x213.jpg" alt="" width="300" height="213" class="alignleft size-medium wp-image-65265" /></td>
			<td>McCaffery, Ryan</td>
			<td>10</td>
			<td>Ryan is a tough, physical defender who plays well with contact. He has a high level motor and is constantly moving on offense. Gets easy baskets for himself by running the floor in transition. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/will-mclaughlin-300x208.jpg" alt="" width="300" height="208" class="alignleft size-medium wp-image-65274" /></td>
			<td>McLaughlin, Will</td>
			<td>11</td>
			<td>Will has great court vision and sees plays developing in front of him. He has a solid set of overall skills and made impactful plays on both ends of the floor. Found his teammates when they spotted up.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/samad-mcmillan-300x202.jpg" alt="" width="300" height="202" class="alignleft size-medium wp-image-65266" /></td>
			<td>McMillan, Samad</td>
			<td>10</td>
			<td>Samad gave great effort and showed good basketball IQ throughout the day. He plays the game the right way and has a nice set of devolping skills.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/trevin-midgette-300x213.jpg" alt="" width="300" height="213" class="alignleft size-medium wp-image-65271" /></td>
			<td>Midgette, Trevin</td>
			<td>9</td>
			<td>Trevin does a good job of slashing to the basket and can consistently hit mid range jumpers. He has a great motor and plays with a lot of energy on both ends of the floor. He is a lock down on ball defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/derohn-mitchell-300x218.jpg" alt="" width="300" height="218" class="alignleft size-medium wp-image-65189" /></td>
			<td>Mitchell, DeRohn</td>
			<td>11</td>
			<td>DeRohn has a quick first step and is always looking to attack his defender. He is at his best when looking to get out in transition and get behind the defense. Smart player who creates easy scoring opportunities for himself.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/elijah-mitchell-300x209.jpg" alt="" width="300" height="209" class="alignleft size-medium wp-image-65196" /></td>
			<td>Mitchell, Elijah</td>
			<td>11</td>
			<td>Elijah is a strong guard who uses his strength on both ends of the floor. He has some strong moves off the dribble which he uses to get to the rim. Has a consistent jumper out to the 3.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jaun-mobley-300x205.jpg" alt="" width="300" height="205" class="alignleft size-medium wp-image-65212" /></td>
			<td>Mobley, Jsaun</td>
			<td>9</td>
			<td>Jsaun did a great job of finishing with either hand around the rim. His best move is his inside out cross move to get by his defender. He rebounds well and immediately starts a fast break.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/mekhi-morgan-300x201.jpg" alt="" width="300" height="201" class="alignleft size-medium wp-image-65244" /></td>
			<td>Morgan, Mekhi</td>
			<td>9</td>
			<td>Mehki uses his speed and quickness to affect the basketball game in multiple ways. He does a great job playing on ball defense and uses his quickness to create chances on the offensive end for himself and his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/zakkiy-morgan-300x205.jpg" alt="" width="300" height="205" class="alignleft size-medium wp-image-65281" /></td>
			<td>Morgan, Zakkiy</td>
			<td>10</td>
			<td>Zakkiy was active all day and used his quickness to create havoc on defense. He has good foot speed when getting after loose balls and hustling back on defense. He attacks the glass hard on offense when driving.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/bryce-nash-300x217.jpg" alt="" width="300" height="217" class="alignleft size-medium wp-image-65174" /></td>
			<td>Nash, Bryce</td>
			<td>10</td>
			<td>Bryce is a long, athletic wing with a high upside. He is unselfish on offense and swings the ball well, looking to get his teammates open shots. Plays good team defense and knows where to be. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/mark-natiello-300x223.jpg" alt="" width="300" height="223" class="alignleft size-medium wp-image-65241" /></td>
			<td>Natiello, Mark</td>
			<td>10</td>
			<td>Mark is always in control of his body and the ball. He is very fundamentally sound and has a great feel for the game. He plays with a good pace and has great court vision.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jake-needleman-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65337" /></td>
			<td>Needleman, Jake</td>
			<td>11</td>
			<td>Jake has great length on the wing and attacks the basket hard. He was at his best today in the open court and using his dribble in transition to get ahead of the defense and finish at the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/dean-noll-300x209.jpg" alt="" width="300" height="209" class="alignleft size-medium wp-image-65187" /></td>
			<td>Noll, Dean</td>
			<td>10</td>
			<td>Dean is a great playmaker who can get his own shot off as well as set his teammates up for open shots. He has very good handles which allow him to get to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/isaiah-norman-300x215.jpg" alt="" width="300" height="215" class="alignleft size-medium wp-image-65206" /></td>
			<td>Norman, Isaiah</td>
			<td>12</td>
			<td>Isaiah is a strong, physical forward who was all over the boards today. He has a nice touch around the rim and passes well out of the post. Finishes hard at the rim with either hand. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jacob-oconnell-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65207" /></td>
			<td>O'Connell, Jacob</td>
			<td>9</td>
			<td>Jacob posts up hard and makes himself big, demanding the ball. He has good, strong hands when catching the ball in the post. Sets solid screens and creates for himself by rolling to the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/joey-odwyer-300x207.jpg" alt="" width="300" height="207" class="alignleft size-medium wp-image-65217" /></td>
			<td>O'Dwyer, Joey</td>
			<td>12</td>
			<td>Joey has a solid all around game and doesn't make mistakes or force anything on offense. He was able to find open teammates and delivers strong passes. Kept the offense moving and fluid.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/peter-obertan-300x213.jpg" alt="" width="300" height="213" class="alignleft size-medium wp-image-65254" /></td>
			<td>Obertan, Peter</td>
			<td>11</td>
			<td>Peter has good size and strength when competing in the paint. He did a great job of catching the ball in traffic and finishing around the rim. Showed his ability to hit mid range jumpers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/chris-okafor-300x226.jpg" alt="" width="300" height="226" class="alignleft size-medium wp-image-65178" /></td>
			<td>Okafor, Chris</td>
			<td>9</td>
			<td>Chris is a high level athlete who was effective defensively blocking and altering shots. He was extremely active on both the offensive and defensive glass and got many of his points off of offensive rebounds.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/onye-okoro-300x192.jpg" alt="" width="300" height="192" class="alignleft size-medium wp-image-65253" /></td>
			<td>Okoro, Onye</td>
			<td>9</td>
			<td>Onye is a strong bodied big who is active around the rim on both ends of the floor. He runs the floor extremely hard and has a quick first step when getting out in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jason-oweh-300x211.jpg" alt="" width="300" height="211" class="alignleft size-medium wp-image-65211" /></td>
			<td>Oweh, Jason</td>
			<td>11</td>
			<td>Jason is a scrappy on defender who works his man the whole length of the floor. He handles the ball well in tight spaces. Did a great job all day creating for his team and drawing help defenders.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/kaylen-oweh-300x209.jpg" alt="" width="300" height="209" class="alignleft size-medium wp-image-65227" /></td>
			<td>Oweh, Kaylen</td>
			<td>9</td>
			<td>Kaylen plays with a high motor and crashes the glass hard on both ends of the floor. He works hard off the ball to get open shots and was able to find openings in the defense when cutting towards the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/sharif-parish-300x230.jpg" alt="" width="300" height="230" class="alignleft size-medium wp-image-65268" /></td>
			<td>Parish, Sharif</td>
			<td>12</td>
			<td>Sharif is a long wing who gets out in transition and finishes at the rim. He has a consistent jumper out to 18 feet. Is able to score off the pull up when using his dribble to create space.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/justin-pierre-louis-300x221.jpg" alt="" width="300" height="221" class="alignleft size-medium wp-image-65226" /></td>
			<td>Pierre-Louis, Justin</td>
			<td>10</td>
			<td>Justin is a good team defender who always rotates for help. He plays with a high motor getting on the ground for loose balls and grabbing long rebounds. At his best on offense when stepping into his shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/matt-pinckney-300x201.jpg" alt="" width="300" height="201" class="alignleft size-medium wp-image-65243" /></td>
			<td>Pinckney, Matt</td>
			<td>11</td>
			<td>Matt runs the floor well in transition and creates easy scoring opportunities by getting ahead of the defense. He is a great help defender who never takes a play off or gets tired.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/yeshua-powe-300x192.jpg" alt="" width="300" height="192" class="alignleft size-medium wp-image-65278" /></td>
			<td>Powe, Yeshua</td>
			<td>10</td>
			<td>Yeshua has a good handle and gets into the paint. He runs the floor hard and fills the lanes in transition. He attacks the glass hard and goes after rebounds on both ends of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/george-qarmont-300x208.jpg" alt="" width="300" height="208" class="alignleft size-medium wp-image-65198" /></td>
			<td>Qarmout, George</td>
			<td>9</td>
			<td>George is a pesky defender who gets a lot of deflections on the defensive end. He plays with great energy and was always first on the floor for loose balls. Knocks down open shots and sets his feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/zac-rafano-300x217.jpg" alt="" width="300" height="217" class="alignleft size-medium wp-image-65279" /></td>
			<td>Rafano, Zac</td>
			<td>9</td>
			<td>Zac is a very good floor leader who gets the offense started and finds the open man. He showed his ability to make open shots and does a great job of setting his feet and getting the shot off quick.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/aj-raines-300x198.jpg" alt="" width="300" height="198" class="alignleft size-medium wp-image-65161" /></td>
			<td>Raines, AJ</td>
			<td>10</td>
			<td>AJ is a good athlete who plays with a high motor. He applies a lot of ball pressure and was able to cause a few turnovers. Makes smart decisions on offense and doesn't force anything.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/kyle-rebelo-300x201.jpg" alt="" width="300" height="201" class="alignleft size-medium wp-image-65235" /></td>
			<td>Rebelo, Kyle</td>
			<td>11</td>
			<td>Kyle has great form on his shot and a smooth release. He has a quick first step and is crafty with the ball in his hand when getting by his defender and attacking the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/phil-reinhardt-300x202.jpg" alt="" width="300" height="202" class="alignleft size-medium wp-image-65257" /></td>
			<td>Reinhardt, Phil</td>
			<td>11</td>
			<td>Phil is always in control of the ball and does a good job getting by his man. Was able to hit open shots and find openings in the defense. Plays solid team defense and was always help side.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/hunter-remley-300x209.jpg" alt="" width="300" height="209" class="alignleft size-medium wp-image-65203" /></td>
			<td>Remley, Hunter</td>
			<td>12</td>
			<td>Hunter has a high basketball IQ and feel for the game. He has great bounce and explodes off the floor when going after rebounds. Created second chance scoring opportunities for his team.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Rice Jr, Mike</td>
			<td>12</td>
			<td>Mike is a floor general with a high basketball IQ. He has range out to the 3 point line and does a great job of finishing over defenders. His length on defense allowed him to jump into passing lanes and create turnovers.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Richards, Darius</td>
			<td>12</td>
			<td>Darius did a nice job using his athletic ability to affect the basketball game. He was active on both ends of the floor and showed the ability to score the basketball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/mj-richardson-300x207.jpg" alt="" width="300" height="207" class="alignleft size-medium wp-image-65247" /></td>
			<td>Richardson, MJ</td>
			<td>12</td>
			<td>MJ is strong and uses that strength to his advantage when attacking the rim. He was always in help defense and was able to cut off passing lanes. He sees the floor well and gets the ball to his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/macio-robinson-300x214.jpg" alt="" width="300" height="214" class="alignleft size-medium wp-image-65239" /></td>
			<td>Robinson, Macio</td>
			<td>10</td>
			<td>Macio has quick hands on defense and defended his man the entire length of the court. He runs the floor well and releases quickly off turnovers to get easy baskets for himself.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jousting-rodriguez-300x187.jpg" alt="" width="300" height="187" class="alignleft size-medium wp-image-65223" /></td>
			<td>Rodriguez, Jousting</td>
			<td>11</td>
			<td>Jousting used his body to power inside and get position on offense. He finished well through contact around the rim. He defends the perimeter well and kept his man out of the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/donovan-ryland-300x188.jpg" alt="" width="300" height="188" class="alignleft size-medium wp-image-65193" /></td>
			<td>Ryland, Donovan</td>
			<td>10</td>
			<td>Donovan does a good job of driving with the ball and kicking to open teammates. He seemed to always be in the center of the action and creating for his team. Donovan is an active defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/alex-sabastiani-300x213.jpg" alt="" width="300" height="213" class="alignleft size-medium wp-image-65162" /></td>
			<td>Sabastiani, Alex</td>
			<td>11</td>
			<td>Alex has a great feel for the game and understanding of where he needs to be on defense. He moves well without the ball to get himself open shots. Has a great motor especially going after loose balls.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/bj-saliba-300x192.jpg" alt="" width="300" height="192" class="alignleft size-medium wp-image-65169" /></td>
			<td>Saliba, BJ</td>
			<td>10</td>
			<td>BJ was very active on the glass at both ends of the floor. He uses his shot fake to get his man in the air and get by him. He has a good set of dribble moves to get by his man and into the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/lamont-sanders-300x205.jpg" alt="" width="300" height="205" class="alignleft size-medium wp-image-65236" /></td>
			<td>Sanders, Lamont</td>
			<td>11</td>
			<td>Lamont has a quick first step and uses his dribble to get by the defense. He is able to elevate over defenders and get off clean shots. Plays solid on ball defense and kept his man out of the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/deandre-scott-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65320" /></td>
			<td>Scott, DeAndre</td>
			<td>11</td>
			<td>DeAndre has a quick first step and had no trouble getting by his defender. He was at his best when driving to the right and getting to the basket. Defends the ball well and moves his feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/xavier-scott-300x228.jpg" alt="" width="300" height="228" class="alignleft size-medium wp-image-65277" /></td>
			<td>Scott, Xavier</td>
			<td>9</td>
			<td>Xavier runs the floor well and was able to score easy baskets by getting behind the defense. He was at his best on the day when using his dribble to get into the paint and find open teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/andrew-seager-300x206.jpg" alt="" width="300" height="206" class="alignleft size-medium wp-image-65166" /></td>
			<td>Seager, Andrew</td>
			<td>10</td>
			<td>Andrew has a high basketball IQ and plays within himself on both ends of the floor. He has good range and a quick release. Has active hands on defense and causes havoc for the man bringing the ball up.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/cameron-seintil-300x204.jpg" alt="" width="300" height="204" class="alignleft size-medium wp-image-65175" /></td>
			<td>Saintil, Cameron</td>
			<td>11</td>
			<td>Cameron showed a good handle on the wing when getting into the paint and creating for his teammates. He sets his feet well and is at his best off the catch and shoot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/john-shovelin-300x218.jpg" alt="" width="300" height="218" class="alignleft size-medium wp-image-65218" /></td>
			<td>Shovelin, John</td>
			<td>10</td>
			<td>John showed his ability to knock down open shots all day. He has a quick release which allows him to get a shot off under pressure. Knows how to move without the ball and run off of screens.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Smith, Jordan</td>
			<td>12</td>
			<td>Jordan has great speed and dribble moves when attacking the basket. He did a good job of filling the lanes in transition and getting easy points for his team. He finishes well in traffic around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/derek-snyder-300x201.jpg" alt="" width="300" height="201" class="alignleft size-medium wp-image-65188" /></td>
			<td>Snyder, Derek</td>
			<td>9</td>
			<td>Derek sets solid screens and does a good job of rolling to the rim and catching the ball. He can finish in traffic and through contact. Grabs rebounds and kept his man away from the glass by boxing out.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/daniel-sofield-300x203.jpg" alt="" width="300" height="203" class="alignleft size-medium wp-image-65184" /></td>
			<td>Sofield, Daniel</td>
			<td>9</td>
			<td>Daniel is a long wing who can face up and drive off the dribble. He has good form on his jump shot and a smooth release. Can hit shots past the 3 point line and has a knack for finding openings in the defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/teddy-sourlis-300x242.jpg" alt="" width="300" height="242" class="alignleft size-medium wp-image-65269" /></td>
			<td>Sourlis, Teddy</td>
			<td>10</td>
			<td>Teddy has incredible range and was one of the better shooters on the day. He has a quick release and was able to create separation. Knows how to run without the ball and get himself open.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/kyaire-sumpter-300x198.jpg" alt="" width="300" height="198" class="alignleft size-medium wp-image-65231" /></td>
			<td>Sumpter, Kyaire</td>
			<td>10</td>
			<td>Kyaire excels in transition with his ability to create for others with his court vision and with his ability to slash to the rim. He finishes well through contact. Moves without the ball to get open and cuts to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/mykel-swan-300x214.jpg" alt="" width="300" height="214" class="alignleft size-medium wp-image-65248" /></td>
			<td>Swan, Mykel</td>
			<td>11</td>
			<td>Mykel is a quick guard who can use his speed to get by his defender. He was able to find open teammates when he got into the paint and drew defenders. Has good form on his shot and a smooth release.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jonathan-swift-300x213.jpg" alt="" width="300" height="213" class="alignleft size-medium wp-image-65220" /></td>
			<td>Swift, Jonathan</td>
			<td>11</td>
			<td>Jonathan is extremely active on the glass and seemed to have his hand on every rebound. Does a great job of using his strength to get position in the post and make a strong post move.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/peter-talbot-300x201.jpg" alt="" width="300" height="201" class="alignleft size-medium wp-image-65255" /></td>
			<td>Talbot, Peter</td>
			<td>10</td>
			<td>Peter is an unselfish guard who is quick in transition. He makes strong passes and keeps the ball moving on offense. Showed his ability to hit open jumpers when setting his feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/romey-talley-300x211.jpg" alt="" width="300" height="211" class="alignleft size-medium wp-image-65263" /></td>
			<td>Talley, Romey</td>
			<td>10</td>
			<td>Romey showed an ability to run his team and did a good job handling the ball and making the right decisions. He does a good job getting into the lane and making plays</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/najeeir-tapia-300x205.jpg" alt="" width="300" height="205" class="alignleft size-medium wp-image-65249" /></td>
			<td>Tapia, Najeeir</td>
			<td>10</td>
			<td>Najeeir made really good off ball cuts which lead to easy baskets for him. When he attacked the rim he was able to absorb contact and finish. Has a consistent mid range jumper when setting his feet.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Taylor, Jordan</td>
			<td>12</td>
			<td>Jordan worked hard on both ends of the floor and did a good job creating extra opportunities for himself and for his teammates. His effort and relentlesness was consistent all day.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Thompson, Cameron</td>
			<td>9</td>
			<td>Cameron has very quick hands defensively and creates issues for his man. He is quick with the ball and makes it hard for his defender to keep him contained. Can finish with either hand in the lane.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/john-tomassetti-300x178.jpg" alt="" width="300" height="178" class="alignleft size-medium wp-image-65219" /></td>
			<td>Tomassetti, John</td>
			<td>11</td>
			<td>John demonstrated his ability to knock down open jumpers. He consistently was open and has range that extends out to the 3 point line. He can also put the ball on the floor and beat his man off the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/cameron-tucker-300x204.jpg" alt="" width="300" height="204" class="alignleft size-medium wp-image-65176" /></td>
			<td>Tucker, Cameron</td>
			<td>12</td>
			<td>Cameron is a facilitating point guard who finds open teammates. He is quick in getting by his defender and attacking the rim. Plays good team defense and works hard on the boards.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Vasquez, Nathan</td>
			<td>12</td>
			<td>Nathan worked hard on both ends of the floor all day. He is a good defender and moves well without the ball. He was a valuable asset to his team all day</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/aaron-weekes-1024x670.jpg" alt="" width="300" height="200" class="alignleft size-large wp-image-65158" /></td>
			<td>Weekes, Aaron</td>
			<td>11</td>
			<td>Aaron gets after his man the entire length of the court and made it difficult for opposing guards to advance the ball. He is always in the right position on defense. Goes to the rim hard and is crafty with his finishes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/zion-whyte-300x208.jpg" alt="" width="300" height="208" class="alignleft size-medium wp-image-65282" /></td>
			<td>Whyte, Zion</td>
			<td>11</td>
			<td>Zion does a good job of playing at his own pace. He is strong with ball in his hand and finishes through contact. It is hard to bump him off his path when he looks to attack the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/ibn-williams-300x223.jpg" alt="" width="300" height="223" class="alignleft size-medium wp-image-65204" /></td>
			<td>Williams, Ibn</td>
			<td>10</td>
			<td>Ibn was very active on the defensive end causing a number of turnovers. His on ball pressure was great and was always ready to help. He has good form and can hit out to the 3 point line.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/keshawn-williams-300x202.jpg" alt="" width="300" height="202" class="alignleft size-medium wp-image-65229" /></td>
			<td>Williams, Keshawn</td>
			<td>9</td>
			<td>Keshawn does a great job of rebounding the ball and starting the fast break. He was at his best when setting up on the wing and attacking to the right. Pushed the ball and found open teammates.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Williams, Lamont</td>
			<td>12</td>
			<td>Lamont is a scrappy defender who had countless deflections and steals throughout the day. He does not shy away from contact when getting into the paint. Made it difficult for his man to stay in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/ray-williamson-300x209.jpg" alt="" width="300" height="209" class="alignleft size-medium wp-image-65260" /></td>
			<td>Williamson, Ray</td>
			<td>10</td>
			<td>Ray runs the floor hard and pushes the ball in transition. He has a quick release on his shot and doesn't force on offense. Uses his body on defense to keep his man out of the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/will-yarbrough-300x210.jpg" alt="" width="300" height="210" class="alignleft size-medium wp-image-65275" /></td>
			<td>Yarbrough, Will</td>
			<td>10</td>
			<td>Will runs the floor hard and displayed his quickness with the ball when attacking the basket. He did a good job of moving without the ball and getting his shot off when finding a seam.</td>
		</tr>
	</tbody>
</table>
