<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Coaches Eval</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/andrew-abujaweh-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65300" /></td>
			<td>Abujawdeh, Andrew</td>
			<td>9</td>
			<td>Andrew moves really well without the ball and works hard to get open for shots. Displayed his ability all day to make outside shots, including a couple of shots that were behind the 3 point line. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/hassan-ahmad-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65332" /></td>
			<td>Ahmad, Hassan</td>
			<td>12</td>
			<td>Hassan is a shooter who can hit 3's with pretty good consistency. He handles pressure well and uses his handle to get by defenders. Plays with great energy and has a high motor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/nathaniel-aiken-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65367" /></td>
			<td>Aiken, Nathaniel</td>
			<td>12</td>
			<td>Nathaniel has good court vision and sees the entire floor both in the half court and in transition. He can score around the rim in a variety of ways and in traffic.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/ej-anosike-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65328" /></td>
			<td>Anosike, EJ</td>
			<td>12</td>
			<td>EJ is a very strong and mobile big who can dominate a game with his ability to score. Uses his athleticism to clean up the boards and score easy baskets. Great footwork in the post and can hit midrange jumpers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/mattias-arindel-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65360" /></td>
			<td>Arrindel, Mattias</td>
			<td>10</td>
			<td>Mattias has a good looking shot with range that extends past the 3 point line. He is very athletic and covers a lot of space on defense. Attacks the offensive glass hard and gets second chance points.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/michael-bartner-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65363" /></td>
			<td>Bartner, Michael</td>
			<td>10</td>
			<td>Michael finishes well around the basket and absorbed contact when he drove. He moves without the ball and works to get open shots. Was all over the place defensively causing havoc.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/lonce-bethea1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65353" /></td>
			<td>Bethea, Lonce</td>
			<td>10</td>
			<td>Lonce is a long athlete who got his hands on everything. He is very athletic and rebounds everything that is in his area. Gets above the rim when looking to finish on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/julian-boykins-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65346" /></td>
			<td>Boykins, Julian</td>
			<td>12</td>
			<td>Julian has a solid handle on the ball and was able to get into the lane and kick to open teammates. Made some extra plays for his team with his hustle and was able to get himself second chance points.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/raymond-bragin-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65376" /></td>
			<td>Bragin, Raymond</td>
			<td>11</td>
			<td>Raymond has a high basketball IQ and makes the smart play on both ends of the floor. Moves well without the ball and cuts to the rim from the wing and baseline. Played with great energy all day.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/raquan-brandford-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65375" /></td>
			<td>Brandford, Raquan</td>
			<td>12</td>
			<td>Raquan is a strong, powerful guard who never got beat to the ball. He finishes exceptionally well around the rim and can finish through contact. Handles pressure and kept his offense organized at all times. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jack-brockett-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65334" /></td>
			<td>Brockett, Jack</td>
			<td>10</td>
			<td>Jack was a very strong defender who did a great job of keeping his man in front of him. He is confident on the offensive end and uses his moves to get to the basket. Has a smooth shooting stroke and release.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/timar-brown-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65384" /></td>
			<td>Brown, Timar</td>
			<td>12</td>
			<td>Timar is a tough, athletic combo guard who has a solid set of skills. Can shoot off the dribble and pull up in the lane for mid range jumpers. Does a good job of jumping passing lanes for steals. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/tyler-brown-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65386" /></td>
			<td>Brown, Tyler</td>
			<td>11</td>
			<td>Tyler has excellent quickness with the ball in his hand and uses it to get by his defender. Has a few go to moves that allow him to get into the rim and finish at the rim in traffic.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/noah-buono-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65372" /></td>
			<td>Buono, Noah</td>
			<td>11</td>
			<td>Noah is a very good shooter who stretches the floor with his ability to hit shots. He can break down his man off the dribble and get to the rim. Unselfish on offense and made the extra pass when needed.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/marc-cerbo1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65355" /></td>
			<td>Cerbo, Marc</td>
			<td>11</td>
			<td>Marc is a great help side defender who jumped passes to get steals. He has a good looking shot and makes a high percent of his open shots. Has some nice attacking moves to get to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/timothy-chaney1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65385" /></td>
			<td>Chaney, Timothy</td>
			<td>10</td>
			<td>Timothy has long arms which allowed him to get into passing lanes for steals. Was all over the place on defense creating havoc. Made open shots when he set his feet and squared up towards the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jahki-clarke-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65335" /></td>
			<td>Clarke, Jahki</td>
			<td>11</td>
			<td>Jahki is a consistent shooter out to the 3 point line. He did a great job of getting in the lane and causing contact, getting himself to the free throw line. Runs the floor and gets easy baskets. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/derrien-coley-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65321" /></td>
			<td>Coley, Derrien</td>
			<td>11</td>
			<td>Derrien is an excellent athlete with a great motor. He uses the combination of both to get his hands on loose balls and get second chance points. Handles the ball well in traffic and kicks to the open man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/devin-cooper-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65323" /></td>
			<td>Cooper, Devin</td>
			<td>10</td>
			<td>Devin is a crafty player with the ball in his hand and can finish around the basket. He used his first step to blow by defenders and get inside the defense. Has a good mid range pull up game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/nickey-daniel-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65371" /></td>
			<td>Daniel, Nicky</td>
			<td>11</td>
			<td>Nicky is a good sized forward who hits the boards hard and got himself a lot of second chance scoring opportunities. He can shoot the ball out to 15 feet and has solid moves inside to finish around the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jordan-davidson1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65343" /></td>
			<td>Davidson, Jordan</td>
			<td>10</td>
			<td>Jordan was a consistent playmaker all day. He was very good at getting into the paint, drawing help and finding the open man. He has the ability to alter shots when his man drove to the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/thomas-defilippo-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65383" /></td>
			<td>Defilippo, Thomas</td>
			<td>12</td>
			<td>Thomas was always one of the first guys out in transition and got himself easy baskets. He is an excellent defensive rebounder who grabbed everything in his area. Has a consistent jumper.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/mateo-delmoral-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65357" /></td>
			<td>Delmoral, Mateo</td>
			<td>10</td>
			<td>Mateo played with an extremely high motor the entire day. Defensively he was a very good defender rotating for help when his teammates got beat. Can hit open shots when he sets his feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/connor-deveney-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65312" /></td>
			<td>Deveney, Connor</td>
			<td>9</td>
			<td>Connor is a very good 3 point shooter when setting his feet. He knows how to move without the ball and get open looks for himself. Grabs rebounds and automatically looks for an outlet pass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/ryan-devine-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65379" /></td>
			<td>Devine, Ryan</td>
			<td>11</td>
			<td>Ryan has a smooth shot and is consistent out to the 3 point line. Always knew where the open man was and got him the ball quickly. Played great team defense and was in help side.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jose-diaz-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65345" /></td>
			<td>Diaz, Jose</td>
			<td>12</td>
			<td>Jose is a combo guard who makes crisp, accurate passes. He finishes well in traffic and on the break. Uses his quickness to defend and keep his man in front of him and out of the paint. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/legend-dominguez-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65352" /></td>
			<td>Dominguez, Legend</td>
			<td>11</td>
			<td>Legend is a good athlete who plays hard everytime he is on the court. He is a consistent shooter out to the 3 point line. Has a good handle on the ball and can make plays off the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jake-fortunato-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65336" /></td>
			<td>Fortunato, Jake</td>
			<td>12</td>
			<td>Jake showed a good burst and strength when slashing to the rim. He displayed his ability to finish at the rim through contact. Showed a good understanding of spacing on offense and creating for his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/colin-frawley-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65311" /></td>
			<td>Frawley, Colin</td>
			<td>12</td>
			<td>Colin is a strong big who uses his size to get his hands on rebounds. He kept multiple possessions alive with offensive rebounds. He has excellent footwork in the post and has some solid go to moves.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/antonio-gamboa1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65302" /></td>
			<td>Gamboa, Antonio</td>
			<td>11</td>
			<td>Antonio is very consistent from mid range especially when pulling up at the elbows. Showed his ability to hit 3 point shots when setting his feet. Is a playmaker who makes strong passes and hits the target.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/matt-ganter1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65358" /></td>
			<td>Ganter, Matt</td>
			<td>9</td>
			<td>Matt is a very willing passer who always made the extra pass to his teammates. He was always in the right place on offense and defense. Plays with a great motor and energy at all times.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Kenneth-Goins-2-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65348" /></td>
			<td>Goins II, Kenneth</td>
			<td>11</td>
			<td>Kenneth is a true point guard who did a great job of keeping his team organized. He is confident with the ball in any situation especially under pressure. He is a lock down defender who never let his man get a step on him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/chandler-gordon1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65307" /></td>
			<td>Gordon, Chandler</td>
			<td>12</td>
			<td>Chandler is a long kid who handles and passes very well. Has an excellent set of moves when dribbling and creates for others. Starts the break off the rebound and pushes the ball forward.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/neil-grasso-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65368" /></td>
			<td>Grasso, Neil</td>
			<td>12</td>
			<td>Neil is an excellent passer who made a couple near impossible passes today. Has a consistnent 3 point shot and a smooth release. Slides his feet on defense and got after every loose ball and rebound.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jordan-guzman-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65344" /></td>
			<td>Guzman, Jordan</td>
			<td>12</td>
			<td>Jordan was great all day at getting steals and starting the transition for his team. Has a smooth shot and was able to hit from outside. Was able to get by his defender and into the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/daniel-hanas-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65314" /></td>
			<td>Hanas, Daniel</td>
			<td>11</td>
			<td>Daniel showed his strength of slashing to the rim on offense. He showed great effort on the defensive end of the floor. He was able to get his hands into passing lanes and altered shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/brian-honis-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65304" /></td>
			<td>Honis, Brian</td>
			<td>10</td>
			<td>Brian is active defensively and gets a lot of deflections. He uses his length and athleticism to his advantage against his opponent. Has deep range and is consistent from the 3 point line.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/malachi-jamison-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65354" /></td>
			<td>Jamison, Malachi</td>
			<td>12</td>
			<td>Malachi is a solid combo guard who has a great fundamental set of skills. He moves the ball forward in transtion and hit outside shots today. Did a good job on defense of keeping his man in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jerraune-jenkins-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65339" /></td>
			<td>Jenkins, Jerraune</td>
			<td>12</td>
			<td>Jerraune showed the ability to run a team and displayed composure with the ball in his hands. Did a great job all day setting up his teammates. Has a quick burst to the rim and can finish through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/devin-jensen-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65324" /></td>
			<td>Jensen, Devin</td>
			<td>11</td>
			<td>Devin was one of the more consistent shooters who had range past the 3 point line. Has some good moves off the dribble that allow him to create space from his man. Very calm under pressure and with his decision making.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/exekial-john-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65330" /></td>
			<td>John, Ezekiel</td>
			<td>12</td>
			<td>Ezekiel is a great shooter and spots up on the perimeter on the fast break. He was active on the boards getting his team second chance scoring opportunities. Plays hard on every possession.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/justin-john-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65347" /></td>
			<td>John, Justin</td>
			<td>12</td>
			<td>Justin showed that he can hit shots out at the 3 point line as well as pull up mid range jumpers. He did a great job of tracking the ball and getting back on defense. Made strong passes that hit the target.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/dylan-johnson-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65327" /></td>
			<td>Johnson, Dylan</td>
			<td>11</td>
			<td>Dylan is a very athletic, scoring forward who has an aresenal of moves to score. He has a great nose for the ball and gets a hand on everything. Attacks the glass on both ends of the floor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/tyler-jones-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65387" /></td>
			<td>Jones, Tyler</td>
			<td>11</td>
			<td>Tyler has good quickness which he used to beat defenders when getting in the lane and to the rim. He finished well in traffic and through contact. Plays solid on ball defense and kept his man out of the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Nolan-Kelly-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65373" /></td>
			<td>Kelly, Nolan</td>
			<td>12</td>
			<td>Nolan uses his size and athleticism to gain an advantage on his opponent. Uses it to get the position that he wants on both offense and defense. Versatile skill set that allows him to score in multiple ways.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/nicholas-lago-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65370" /></td>
			<td>Lago, Nicholas</td>
			<td>11</td>
			<td>Nicholas runs the floor hard and is a great finisher inside. He is a very good rebounder and goes after every rebound on both ends of the floor. Has the ability to guard guys bigger than him.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Lange, Cameron</td>
			<td>12</td>
			<td>Cameron is a good 3 point shooter when he sets his feet and squares up to the basket. He made all the right plays with the ball in his hand. Plays hard and attacks the glass with aggression.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/james-lee-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65338" /></td>
			<td>Lee, James</td>
			<td>12</td>
			<td>James is a pure point who can run a team and keep the offense organized. Strong handle on the ball and doesn't turn the ball over. Showed his ability today to hit open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/nicanor-lope-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65369" /></td>
			<td>Lopez, Nicanor</td>
			<td>10</td>
			<td>Nicanor used his length and quickness to create issues for opposing offenses when they tried to get into their offense. Made the extra pass on offense and didn't force his shot. Was able to finish at the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/alex-lukmann-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65296" /></td>
			<td>Lukmann, Alex</td>
			<td>11</td>
			<td>Alex is long and very active on defense. He gets his hands on everything and jumps passing lanes for steals. He has great range and doesn't miss when left open on the perimeter.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jimmy-manitone-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65340" /></td>
			<td>Manitone, Jimmy</td>
			<td>12</td>
			<td>Jimmy plays great on ball defense and used his quickness to keep his man in front of him and out of the paint. Did a good job today of moving the ball on offense and making the extra pass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/ryan-mccaffery1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65380" /></td>
			<td>McCaffery, Ryan</td>
			<td>10</td>
			<td>Ryan is a strong, athletic guard who plays hard at all times. He runs the floor well and got himself easy baskets in transition. Has a great handle on the ball and doesn't get phased by ball pressure. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/john-mcmahon-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65342" /></td>
			<td>McMahon, John</td>
			<td>12</td>
			<td>John showed his ability to get inside the defense and get to the rim. He did a good job today of finishing in the lane and around the basket. Plays very good defense both on and off the ball.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Meles, Kibret</td>
			<td>12</td>
			<td>Kibret is a very unselfish guard who made the extra pass to get the ball to open teammates. He is a tough minded player who dives for loose balls and gets every 50-50 ball. Can hit open shots when he sets his feet.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Miller, John</td>
			<td></td>
			<td>John is a physical and strong point guard. He plays hard and can score the ball in a variety of ways. Was at his best today when getting into the paint and finishing around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/mehki-morgan-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65361" /></td>
			<td>Morgan, Mehki</td>
			<td>9</td>
			<td>Mekhi does a great job on defense using his ball pressure to create turnovers. He is a very good shooter who is at his best off the catch and shoot. Was active and impactful at both ends of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jake-needleman-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65337" /></td>
			<td>Needleman, Jake</td>
			<td>11</td>
			<td>Jake has a quick first step off the dribble and doesn't get flustered under pressure. He can knock down mid range jumpers when he sets his feet. Was all over the floor defensively and stuck to his man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/dean-noll1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65319" /></td>
			<td>Noll, Dean</td>
			<td>10</td>
			<td>Dean is a scoring guard who has good handles which allows him to create for himself. He is a very consistent shooter and forces defense to play him on the perimeter. Played good team defense and applied ball pressure.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/peter-obertan1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65374" /></td>
			<td>Obertan, Peter</td>
			<td>11</td>
			<td>Peter is a knockdown shooter from 15-18 feet. He is an aggressive rebounder who runs the floor well in transition. Finishes well inside and has some good face up post moves.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/marcel-parsons-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65356" /></td>
			<td>Parsons, Marcel</td>
			<td>11</td>
			<td>Marcel has great body control when driving to the paint. Uses his body to shield defenders and finish at the rim. Very active all over the floor and made impactful plays with his energy.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/greg-pepel-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65331" /></td>
			<td>Pepel, Greg</td>
			<td>10</td>
			<td>Greg is an excellent athlete with a strong body. He has a great motor and plays with a lot of energy. One of the better on ball defenders and rebounders that we had today.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Peters, Khalil</td>
			<td>11</td>
			<td>Khalil had no trouble getting into the lane and finishing around the basket. He uses his body to protect the ball when dribbling and attacking the paint. Sees the floor well and gets his teammates the ball when they are open.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/zac-rafano1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65389" /></td>
			<td>Rafano, Zac</td>
			<td>12</td>
			<td>Zac does a good job of spacing the floor on offense and creating openings for his team. He plays with great pace and knows when to change speed. He applied pressure on the ball full court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Kyle-Rebelo-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65350" /></td>
			<td>Rebelo, Kyle</td>
			<td>11</td>
			<td>Kyle runs the floor really well and used his speed to get ahead of defenses for easy baskets. He is crafty with the ball in his hand and made strong passes to his team. Has a high basketball IQ.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/brian-rice-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65305" /></td>
			<td>Rice, Brian</td>
			<td>10</td>
			<td>Brian was always getting out in transition and finishing on the fast break. He plays great help defense and finished every play by going for the rebound. He is a smart player who doesn't make mistakes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/darius-richards-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65318" /></td>
			<td>Richards, Darius</td>
			<td>12</td>
			<td>Darius is a very athletic wing who runs the floor well. He displayed his ability to hit open shots when given time to set his feet. Plays good on ball defense and pressured his man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/nathan-rosac-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65366" /></td>
			<td>Rosahac, Nathan</td>
			<td>9</td>
			<td>Nathan has a great motor and never stops working on either end of the floor. When given time and space he can knock down shots from anywhere on the floor. Runs the floor in transition.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Ryland, Donovan</td>
			<td>10</td>
			<td>Donovan is an athletic guard with a good handle and can make shots. He uses his dribble to get by defenders and hit mid range jumpers. Has very quick feet and kept his man in front of him on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/alex-sabistiani-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65297" /></td>
			<td>Sabastiani, Alex</td>
			<td>11</td>
			<td>Alex uses his length at the guard position to tip passes from his man. He is a good finisher around the rim and can score in a variety of ways. Makes smart plays on offense and willing to make the extra pass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/camron-santil-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65306" /></td>
			<td>Santil, Cam'ron</td>
			<td>11</td>
			<td>Cam'ron was one of the quickiest players out in transition with the ball. He excelled at getting to the rim and finishing through contact. He has a very nice pull up jumper that is effective in the half court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/joe-santoro-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65341" /></td>
			<td>Santoro, Joe</td>
			<td>12</td>
			<td>Joe has a really good handle which he uses to get into the paint. He does a great job of looking to kick the ball to the open man when drawing help defense. Very patient on offense and makes smart decisions.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/deandre-scott-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65320" /></td>
			<td>Scott, DeAndre</td>
			<td>11</td>
			<td>DeAndre is a smart player who knows how to find open spaces on offense. Did a great job of running off ball screens and losing his man. He attacks the paint hard and gets to the rim when he wants.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/chris-silva-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65308" /></td>
			<td>Silva, Chris</td>
			<td>10</td>
			<td>Chris has excellent size, strength and athleticism. He competes on rebounds and never got outworked by the other team on the glass. Can finish at the rim at a high level and has good post moves.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/christian-simmons-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65309" /></td>
			<td>Simmons, Christian</td>
			<td>12</td>
			<td>Christian is a big bodied player with an overall solid set of skills. Has the ability to put the ball on the ground and make shots. Was one of the better rebounders on the day who collected everything.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/michael-singleton-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65365" /></td>
			<td>Singleton, Michael</td>
			<td>12</td>
			<td>Michael has great length and a very good feel for the game. He did an excellent job pushing the ball forward to teammates. When getting to the rim he was able to finish around defenders.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/christopher-smith-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65310" /></td>
			<td>Smith, Christopher</td>
			<td>12</td>
			<td>Christopher is a great athlete who uses that to his advantage to get into the lane and finish above defenders at the rim. He can score in a variety of ways including hitting outside jumpers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/deshai-smith-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65322" /></td>
			<td>Smith, Deshai</td>
			<td>11</td>
			<td>Deshai has very good length which he uses to finish around the rim and alter opposing shots. He has great elevation on his shot which allows him to shoot over defenders and get his shot off anywhere on the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/daniel-sofield1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65315" /></td>
			<td>Sofield, Daniel</td>
			<td>9</td>
			<td>Daniel has great length which he uses to his advantage when playing defense. He can score on the inside and has good form on his shot. Plays hard and always made the smart extra pass on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/matthew-stoeski-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65359" /></td>
			<td>Stoeski, Matthew</td>
			<td></td>
			<td>Matthew has a good handle and kept the offense moving for his team. He sees the court in transition and gets the ball to the open man. Great on ball defender who got a lot of steals on defense.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Stokes, Nakim</td>
			<td>12</td>
			<td>Nakim uses his length and athleticism on defense to keep his man in front of him. Uses his handle to get by his defender and to the rim. Great in transition both the ball and moving without it.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/curtis-sykora-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65313" /></td>
			<td>Sykora, Curtis</td>
			<td>12</td>
			<td>Curtis was a very strong finisher around the rim. He was very active on the offensive glass keeping plays alive. He has a smooth shot that can stretch defenses and create space for his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/romey-talley1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65378" /></td>
			<td>Talley, Romey</td>
			<td>10</td>
			<td>Romey runs the floor really hard and passes forward in transition. He can finish with either hand around the rim. Has good range on his jumper and has some crafty moves when in the lane.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/dondre-tate-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65326" /></td>
			<td>Tate, Dondre</td>
			<td>9</td>
			<td>Dondre was a true point guard using his court vision to set up his teammates. He plays with a high motor and great energy on both ends of the floor. Applied ball pressure all day for the length of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/kristijan-todorovski-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65349" /></td>
			<td>Todorovski, Kristijan</td>
			<td>12</td>
			<td>Kristijan was a very active and athletic player who affected the game in a number of ways. He was all over the glass and lead the break with good outlet passes. He went strong to the rim and finished.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/andrew-trent-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65301" /></td>
			<td>Trent, Andrew</td>
			<td>11</td>
			<td>Andrew has a quick release on his shot which allows him to get open looks over defenders. Can post up smaller defenders and finish around the rim. Knows how to use his body to his advantage.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/dillon-van-liew-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65325" /></td>
			<td>Van Liew, Dillon</td>
			<td>9</td>
			<td>Dillon plays hard on both ends of the floor and always seems to be in the right position. He runs the floor really well and got himself easy baskets. Played good on ball defense and kept his man out of the lane.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/eric-van-note-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65329" /></td>
			<td>Van Note, Eric</td>
			<td>12</td>
			<td>Eric is a tough forward who competes inside for position and rebounds. Has some good moves in the post and scores a lot of second chance points. Was all over the offensive glass today.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/andre-velez--300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65299" /></td>
			<td>Velez II, Andre</td>
			<td>12</td>
			<td>Andre uses his length on defense and competes to keep his man out of the paint. He swings the ball well on offense and finds the open man. Moves well without the ball and has a good understanding of floor spacing.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/robert-veith-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65377" /></td>
			<td>Vith, Robert</td>
			<td>11</td>
			<td>Robert is a long, athletic player who finishes over defenders at the rim. He can take contact when driving and not get bumped off his path. Has a consistent mid range jumper. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/daniel-weiss-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65316" /></td>
			<td>Weiss, Daniel</td>
			<td>11</td>
			<td>Daniel has a good looking shot with 3 point range. He runs the floor and started the transition for his team on offense. Pursues loose balls with aggression and caused havoc on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/alex-whyte-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65298" /></td>
			<td>Whyte, Alex</td>
			<td>12</td>
			<td>Alex uses his strong body to finish around the rim. He makes it impossible for opponents to bump him off his path. He is a scrappy player who gets after every loose ball and rebound.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/austin-williams-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65303" /></td>
			<td>Williams, Austin</td>
			<td>12</td>
			<td>Austin does a great job driving the ball and finishing with both hands around the rim. Has great court vision and likes to get out in transition. Excellent defender who finishes plays with rebounds.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/lamont-williams-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65351" /></td>
			<td>Williams, Lamont</td>
			<td>12</td>
			<td>Lamont likes to use his crossover to create space from his defender for his shot. He has great court vision and is a willing passing. A very consistent outside shooter who has range past the 3 point line.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/jace-yaverbaum-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65333" /></td>
			<td>Yaverbaum, Jace</td>
			<td>12</td>
			<td>Jace is an excellent ball handler and was able to make plays off the dribble. Made smart decisions with the ball in his hand on offense. Knows how to play defense and keep his man in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/ryan-young-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65381" /></td>
			<td>Young, Ryan</td>
			<td>10</td>
			<td>Ryan has great size and upside for his age. He has really good footwork when working in the post and is patient with his moves. Has a great motor and works hard which will help him get to the next level.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/daniel-zimmerman-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-65317" /></td>
			<td>Zimmerman, Daniel</td>
			<td>12</td>
			<td>Daniel is an aggressive wing who runs the floor hard. He was able to beat the defense on the fast break and get himself some easy baskets. Plays tough man to man defense and didn't allow his man to get into the paint.</td>
		</tr>
	</tbody>
</table>
