<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Player</th>
			<th>Grade</th>
			<th>Evaluation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60299" rel="attachment wp-att-60299"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Adolphus-Bernard-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60299" /></a></td>
			<td>Adolphus Bernard</td>
			<td>10</td>
			<td>Got out and finished in transition.  Played good man to man defense</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60372" rel="attachment wp-att-60372"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Markeem-Lateef-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60372" /></a></td>
			<td>Markeem Lateef</td>
			<td>10</td>
			<td>Can break people down with bounce.  Really competes defensively.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Jonathan Maurice</td>
			<td>12</td>
			<td>Competes really hard on both ends of the floor.  Very unselfish with the ball in his hands.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60369" rel="attachment wp-att-60369"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Malcolm-Gillespie-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60369" /></a></td>
			<td>Malcolm Gillespie</td>
			<td>11</td>
			<td>Did a good job of keeping people in front.  Does a good job of finding people in transition.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60357" rel="attachment wp-att-60357"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Joshua-Szott-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60357" /></a></td>
			<td>Joshua Szott</td>
			<td>10</td>
			<td>Makes set shots and shots off the bounce.  Has a really good understanding of the game.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60296" rel="attachment wp-att-60296"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Antoine-Wilson-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60296" /></a></td>
			<td>Antoine Wilson</td>
			<td>10</td>
			<td>Knows how to play with and without ball. A really good teammate who is unselfish with the ball.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Kyle Deverna</td>
			<td>11</td>
			<td>Consistently made plays at the rim.  Keeps people in front and does a good job contesting shots.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60353" rel="attachment wp-att-60353"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jonathan-Ramos-Suarez-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60353" /></a></td>
			<td>Johnathan Ramos-Suarez</td>
			<td>12</td>
			<td>Showed the ability to score the basketball.  Competes on every possession.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60403" rel="attachment wp-att-60403"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tyler-Jone-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60403" /></a></td>
			<td>Tyler Jones</td>
			<td>11</td>
			<td>Can score it in a number of ways.  Has a very good offensive skill sets.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60354" rel="attachment wp-att-60354"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jordan-Heck-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60354" /></a></td>
			<td>Jordan Heck</td>
			<td>10</td>
			<td>Jordan showed his range and high basketball IQ.  He's a very tough player and hustles constantly.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Diego Pujols</td>
			<td>12</td>
			<td>Diego did a really nice job handling the ball and getting to the basket.  He had a lot of energy and scored the ball.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Maksat Niyazberdyyev</td>
			<td>10</td>
			<td>Maksat had a lot of energy and communicated well with his teammates.  He also had good court awareness.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60307" rel="attachment wp-att-60307"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Christopher-Pina-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60307" /></a></td>
			<td>Christopher Pina</td>
			<td>9</td>
			<td>Chris is an exceptional athlete.  He rebounds well and hustles at all times.  He has a nice mid-range game as well.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60311" rel="attachment wp-att-60311"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Carsimir-Paul-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60311" /></a></td>
			<td>Carsimir Paul</td>
			<td>10</td>
			<td>Carsimir is a natural slasher.  He gets to the basket well and finishes.  He can also distribute to his team and create for them.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60322" rel="attachment wp-att-60322"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Darin-Bellinger-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60322" /></a></td>
			<td>Darin Bellinger</td>
			<td>N/A</td>
			<td>Darin had a good motor and runs the floor.  He also hits the boards with his athleticism.  Darin finished well in transition.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Tyshaun Cooper</td>
			<td>11</td>
			<td>Tyshaun hustled and ran the floor really well.  He crashed the boards and played tough, solid defense.  He has a good understanding of the game.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60304" rel="attachment wp-att-60304"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Anthony-Araujo-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60304" /></a></td>
			<td>Anthony Araujo</td>
			<td>9</td>
			<td>Anthony is a good shooter and had a quick release.  He hustles at all times and makes good decisions for his teams.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60344" rel="attachment wp-att-60344"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jailen-Jamison-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60344" /></a></td>
			<td>Jailen Jamison</td>
			<td>10</td>
			<td>Jailen is a good shooter and takes good shots.  He handles it well and hustles the whole time.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Bryce Khan</td>
			<td>11</td>
			<td>Bryce was hustling at all times.  He's a smart player and is a good positional defender.  He has a natural outside shot too.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Brandan T Williams</td>
			<td>11</td>
			<td>Brandan hustled non-stop and was all over the court.  He has good length and rebounded well.  His energy makes him a tough defender.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Matthew Williams</td>
			<td>N/A</td>
			<td>Matthew handles the ball well and can break down defenses.  He hustles and creates extra opportunities for his team.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60346" rel="attachment wp-att-60346"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jared-Chambliss-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60346" /></a></td>
			<td>Jared Chambliss</td>
			<td>9</td>
			<td>Jared has a bright future ahead of him.  He has a great length and athleticism for his age causing matchup problems for opponents.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60312" rel="attachment wp-att-60312"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Chandler-Davenport-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60312" /></a></td>
			<td>Chandler Davenport</td>
			<td>11</td>
			<td>Chandler showed his ability to handle the ball and run an offense.  He drives well and gets to the paint before dishing to teammates.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60298" rel="attachment wp-att-60298"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Aaron-Curtis-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60298" /></a></td>
			<td>Aaron Curtis</td>
			<td>11</td>
			<td>Gets by people off the bounce.  Does a good job finding open teammates.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60412" rel="attachment wp-att-60412"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Zachary-Torres-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60412" /></a></td>
			<td>Zachary Torres</td>
			<td>12</td>
			<td>Made good decisions off the bounce.  Kept his man in front throughout the games.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60396" rel="attachment wp-att-60396"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tim-Toney-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60396" /></a></td>
			<td>Tim Toney</td>
			<td>10</td>
			<td>Unselfish in transition and in the half court.  Showed ability to get by with bounce and finish at rim.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60407" rel="attachment wp-att-60407"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/William-Burt-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60407" /></a></td>
			<td>William Burt</td>
			<td>10</td>
			<td>Scores it in a number of different ways.  Has really good feet on the perimeter.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60398" rel="attachment wp-att-60398"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Travis-Alvarez-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60398" /></a></td>
			<td>Travis Alvarez</td>
			<td>11</td>
			<td>Moves really well for his size.  Showed the ability to bounce by defenders on the perimeter.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60375" rel="attachment wp-att-60375"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Mehki-Eden-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60375" /></a></td>
			<td>Mekhi Eden</td>
			<td>10</td>
			<td>Keeps people in front without fouling.  Contested shots at the rim with good athleticism.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60315" rel="attachment wp-att-60315"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Christopher-Jones-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60315" /></a></td>
			<td>Christopher C. Jones</td>
			<td>11</td>
			<td>Did a great job of running the floor and finding in transition.  Kept his opponent in front of him on the defensive end of the floor.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60393" rel="attachment wp-att-60393"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Shavar-Reynolds-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60393" /></a></td>
			<td>Shavar Reynolds Jr.</td>
			<td>11</td>
			<td>Did a good job of defending without fouling.  Showed the ability to make midrange shots off the bounce.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60317" rel="attachment wp-att-60317"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Connor-Laverty-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60317" /></a></td>
			<td>Connor Laverty</td>
			<td>11</td>
			<td>Really good in space at attacking the basket.  Athletic to the basket off the bounce.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60345" rel="attachment wp-att-60345"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jake-Betlow-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60345" /></a></td>
			<td>Jake Betlow</td>
			<td>8</td>
			<td>Has a great feel for the game.  Has the ability to create for himself off the bounce and for others.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Marquis Fiegler</td>
			<td>10</td>
			<td>Never stops competing around the rim.  Finishes with both hands.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Max Angstadt</td>
			<td>10</td>
			<td>Unselfish player who can make shots.  Has a good feel for the game.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Marzuq Jimoh</td>
			<td>13</td>
			<td>Knows how to get his own shot off the bounce.  Physical with ball which helps him get to spots.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60378" rel="attachment wp-att-60378"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Mike-DiCave-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60378" /></a></td>
			<td>Mike DiCave</td>
			<td>11</td>
			<td>Versatile big man who can move well.  Attacked the glass on both ends.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60349" rel="attachment wp-att-60349"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jerel-Wallace-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60349" /></a></td>
			<td>Jerel Wallace</td>
			<td>11</td>
			<td>Gets by defenders with the bounce.  Scores it in the half court and in transition.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60348" rel="attachment wp-att-60348"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jay-Antoine-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60348" /></a></td>
			<td>Jay Antoine</td>
			<td>10</td>
			<td>Pushed the ball in transition.  Found open teammates in transition and in the half court.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60308" rel="attachment wp-att-60308"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Branislav-Vujadnovic-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60308" /></a></td>
			<td>Branislav Vujadinovic</td>
			<td>11</td>
			<td>Never takes a possession off on both ends of the floor.  Scores it in a number of ways.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60394" rel="attachment wp-att-60394"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Skylar-Brown-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60394" /></a></td>
			<td>Skylar Brown</td>
			<td>11</td>
			<td>Has a good build and uses it to his advantage.  True post player with his back to the basket.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60306" rel="attachment wp-att-60306"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Arian-Azemi-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60306" /></a></td>
			<td>Arian Azemi</td>
			<td>10</td>
			<td>Has a great feel for the game.  Always finds open teammates and is very unselfish.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60409" rel="attachment wp-att-60409"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Xavier-Alston-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60409" /></a></td>
			<td>Xavier Alston</td>
			<td>10</td>
			<td>Gets to spots with the ball.  Has the ability to create for others with the bounce.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Nathaniel Melendez</td>
			<td>12</td>
			<td>Can score it inside and out.  Makes shits iff the bounce and set ones.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60330" rel="attachment wp-att-60330"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Donald-Thomas-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60330" /></a></td>
			<td>Donald Thomas</td>
			<td>11</td>
			<td>Donald uses his body well and had some nice offensive rebounds.  He's got pretty good hands and finished around the rim.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60325" rel="attachment wp-att-60325"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/David-Shockley-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60325" /></a></td>
			<td>David Shockley</td>
			<td>11</td>
			<td>David is a long athletic player that takes away gaps and is always hustling.  He has good form and finishes well in transition.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60351" rel="attachment wp-att-60351"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/John-Miller-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60351" /></a></td>
			<td>John Miller</td>
			<td>11</td>
			<td>John was knocking down shots when left open.  He spaces the floor well and is a smart player.  John hustles at all times and has a great athleticism.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60327" rel="attachment wp-att-60327"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Derrick-Jones-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60327" /></a></td>
			<td>Derrick Jones</td>
			<td>11</td>
			<td>Derrick did a nice job running the show.  He showed he is a scoring guard with a good handle.  Derrick sees the floor well too.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60300" rel="attachment wp-att-60300"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Ahmed-Bailey-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60300" /></a></td>
			<td>Ahmed Bailey</td>
			<td>10</td>
			<td>Ahmed hustles and is a tough player.  He made some nice shots and created his own off the dribble if he needed to</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60367" rel="attachment wp-att-60367"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Lance-Amir-Paul-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60367" /></a></td>
			<td>Lance-Amir Paul</td>
			<td>10</td>
			<td>Lance had a really nice day on both ends of the floor.  His best attribute was his unselfishness and team-first mentality.  He saw the floor great and finished when he had to.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60392" rel="attachment wp-att-60392"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Seth-Harrington-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60392" /></a></td>
			<td>Seth Harrington</td>
			<td>10</td>
			<td>Seth had a great day off the ball and it all started with his energy.  He scored in transition and was able to create for his team.  Seth is a very tough player.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60373" rel="attachment wp-att-60373"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Matthew-Periera-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60373" /></a></td>
			<td>Matthew Pereira</td>
			<td>10</td>
			<td>Matthew showed a lot of energy and good court awareness.  He also showed his ability to score in multiple ways.  He ran the floor really well to create easy baskets.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60405" rel="attachment wp-att-60405"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tyree-Morris-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60405" /></a></td>
			<td>Tyree Morris</td>
			<td>9</td>
			<td>Three ran the floor well and was all over the court with his hustle.  He's very athletic and gets to the rim well.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60401" rel="attachment wp-att-60401"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Troy-Jones.jpg" alt="" width="300" height="200" class="alignnone size-full wp-image-60401" /></a></td>
			<td>Troy Jones</td>
			<td>11</td>
			<td>Troy was very impressive.  He scored at will and was able to do it in many ways.  Troy used both hands to finish and spaced the floor well when he was off the ball.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60391" rel="attachment wp-att-60391"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Ronald-Washington-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60391" /></a></td>
			<td>Ronald Washington</td>
			<td>11</td>
			<td>Ronald did a great job getting position in the post.  He hit the boards offensively and protected the rim on defense.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60383" rel="attachment wp-att-60383"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Mykel-Swanston-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60383" /></a></td>
			<td>Mykel Swanston</td>
			<td>10</td>
			<td>Mykel showed his athleticism and how it can help him get to the rim and finish.  He has a very high motor and is always hustling.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60363" rel="attachment wp-att-60363"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kevin-Hoehn-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60363" /></a></td>
			<td>Kevin Hoehn</td>
			<td>10</td>
			<td>Kevin showed his ability to knock down open shots at will.  He makes good decisions on offense and does a real good job in transition defense.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60333" rel="attachment wp-att-60333"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Drew-Tyre-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60333" /></a></td>
			<td>Drew Tyre</td>
			<td>9</td>
			<td>Drew has solid ball-handling ability and great vision in the open court. Good Basketball IQ</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60355" rel="attachment wp-att-60355"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Joshua-Cabezudo-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60355" /></a></td>
			<td>Joshua Cabezudo</td>
			<td>9</td>
			<td>Joshua scores well at the rim and through contact.  Very active in on-ball defense, aggressive player.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60328" rel="attachment wp-att-60328"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Devin-Cooper-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60328" /></a></td>
			<td>Devin Cooper</td>
			<td>9</td>
			<td>Devin is an accurate three point shooter. Quick and shifty guard with good feel for the game.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60371" rel="attachment wp-att-60371"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Mark-Warasaka-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60371" /></a></td>
			<td>Mark Waraksa</td>
			<td>10</td>
			<td>Point guard who does a good job of running the offense. Passes ahead to his teammates well.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60365" rel="attachment wp-att-60365"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kyle-Koob-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60365" /></a></td>
			<td>Kyle Koob</td>
			<td>8</td>
			<td>Kyle attacks the gaps well off the dribble. Can shoot the 3 well.  Bright future ahead.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Avery Green</td>
			<td>10</td>
			<td>Avery excels at penetrating the lane and finding his open teammates.  Always has his head up, good court vision.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60318" rel="attachment wp-att-60318"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Connor-Romano-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60318" /></a></td>
			<td>Connor Romano</td>
			<td>11</td>
			<td>Connor is an athletic wing who can score in a multitude of ways. Can finish at the rim through multiple defenders.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60342" rel="attachment wp-att-60342"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Isaiah-Anfield-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60342" /></a></td>
			<td>Isaiah Anfield</td>
			<td>10</td>
			<td>Isaiah plays with a high motor, is everywhere on the court. Difficult to guard in transition and when attacking the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Winston-Delk.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-60408" /></td>
			<td>Winston Delk</td>
			<td>11</td>
			<td>Winston is an intelligent point guard who can find the open teammate. Active defensively, always getting his hands in the passing lanes.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60340" rel="attachment wp-att-60340"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Ian-Fitzgerald-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60340" /></a></td>
			<td>Ian Fitzgerald</td>
			<td>9</td>
			<td>High energy player who can handle the ball and create for teammates.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Alex Sorensen</td>
			<td>11</td>
			<td>Alex is a strong guard with solid shooting ability. Very skilled at getting to the basket.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60382" rel="attachment wp-att-60382"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/MJ-Richardson-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60382" /></a></td>
			<td>MJ Richardson</td>
			<td>11</td>
			<td>MJ uses his strength to bully defenders to the basket.  High Basketball IQ player.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60359" rel="attachment wp-att-60359"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Justin-Rodriguez-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60359" /></a></td>
			<td>Justin Rodriguez</td>
			<td>9</td>
			<td>Justin makes good decisions, creates well for others off of penetration. Shoots ball well, plays with energy on defensive end.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60332" rel="attachment wp-att-60332"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Drew-Taylor-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60332" /></a></td>
			<td>Drew Taylor</td>
			<td>10</td>
			<td>Long, athletic, wing who plays with high energy on both ends of the court.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60336" rel="attachment wp-att-60336"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Ezra-Swell-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60336" /></a></td>
			<td>Ezra Swell</td>
			<td>10</td>
			<td>Ezra is an extremely talented shooter, deep range. Good feel for the game, controls the tempo.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60362" rel="attachment wp-att-60362"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kevin-Callahan1-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60362" /></a></td>
			<td>Kevin Callahan</td>
			<td>11</td>
			<td>High energy player, dangerous player in the open court. Good ball-handling allows him to handle defensive pressure.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60404" rel="attachment wp-att-60404"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tyler-Pearson-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60404" /></a></td>
			<td>Tyler Pearson</td>
			<td>10</td>
			<td>Aggressive player who cuts well without the basketball. Solid defender, great effort on closeouts.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60356" rel="attachment wp-att-60356"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Joshua-Kahn-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60356" /></a></td>
			<td>Joshua Kahn</td>
			<td>9</td>
			<td>Joshua hustles on both ends of the court. Able and willing passer, great vision.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60381" rel="attachment wp-att-60381"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Mitchell-Phillips-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60381" /></a></td>
			<td>Mitchell Phillips</td>
			<td>10</td>
			<td>Mitchell is an effective big man, good footwork and post moves. Also has the ability to step out and shoot the three.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60390" rel="attachment wp-att-60390"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Robert-Madison-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60390" /></a></td>
			<td>Robert Madison</td>
			<td>9</td>
			<td>Plays very hard on offense and defense. Can shoot three and also set teammates up well when shot is not there.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60314" rel="attachment wp-att-60314"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Chris-Slocomb-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60314" /></a></td>
			<td>Chris Siocomb</td>
			<td>10</td>
			<td>Competes at high level and very aggressive on-ball defender. Excellent ball-handling ability.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60376" rel="attachment wp-att-60376"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Michael-Boeckel-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60376" /></a></td>
			<td>Michael Boeckel</td>
			<td>9</td>
			<td>Michael runs the floor well and is a good 1 on 1 defender. Finds open teammates on offense.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60402" rel="attachment wp-att-60402"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tyrae-Johnson-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60402" /></a></td>
			<td>Ty'rae Johnson</td>
			<td>10</td>
			<td>Ty'rae is an athletic combo guard who excels attacking the rim.  Active hands defensively, causes deflections and turnovers.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60341" rel="attachment wp-att-60341"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Imaun-Stephens-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60341" /></a></td>
			<td>Imaun Stephens</td>
			<td>10</td>
			<td>Imaun has a good mid-range jumper and can attack off the dribble. Pressures the ball well defensively.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Michael Rice</td>
			<td>11</td>
			<td>High Basketball IQ player who excels in transition. Can score in multitude of ways, crafty finisher around basket.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60387" rel="attachment wp-att-60387"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Nyjeeh-Houston-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60387" /></a></td>
			<td>Nyjeeh Houston</td>
			<td>11</td>
			<td>Nyjeeh likes to attack the basket where he has very good touch. Likes to push the ball in transition.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60326" rel="attachment wp-att-60326"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Davion-Santiago-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60326" /></a></td>
			<td>Davion Santiago</td>
			<td>11</td>
			<td>Davion is a skilled guard who works well in the pick and roll. Can shoot well off the dribble.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Jahlil Nougues</td>
			<td>10</td>
			<td>Jahilil is a very calm, heady point guard who operates will in the pick &amp; roll. Tough player with good mid-range game.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60395" rel="attachment wp-att-60395"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Stephen-Holman-II-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60395" /></a></td>
			<td>Stephen Holman II</td>
			<td>9</td>
			<td>Stephen is a tough and physical player on both ends of the court. Does a good job of getting early positioning and grabbing rebounds on defense.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Darius WIlliams</td>
			<td>12</td>
			<td>Darius is a player skilled in multiple areas. Very good in transition. Length causes problems on defense.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60302" rel="attachment wp-att-60302"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Anders-Myhre-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60302" /></a></td>
			<td>Anders Myhres</td>
			<td>9</td>
			<td>Anders hustles constantly on defense. Offensively can hit the open shot and is very unselfish</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60343" rel="attachment wp-att-60343"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Isaiah-Harris-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60343" /></a></td>
			<td>Isaiah Harris</td>
			<td>10</td>
			<td>Isaiah gets good positioning rebounding the ball. Athletic player with good basketball IQ.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60360" rel="attachment wp-att-60360"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Justin-Thompson-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60360" /></a></td>
			<td>Justin Thompson</td>
			<td>12</td>
			<td>Justin is very good moving without the basketball.  Good shooter and on-ball defender.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60397" rel="attachment wp-att-60397"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Timar-Brown-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60397" /></a></td>
			<td>Timar Brown</td>
			<td>11</td>
			<td>Timar is a good ball-handler and moves the ball extremely well.  High Basketball IQ.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Jamel Furlovv</td>
			<td>11</td>
			<td>Savvy scorer, takes what the defense gives him.  Solid on-ball defender.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Deantre Rawlings</td>
			<td>12</td>
			<td>Deantre is very unselfish with the basketball. Plays above his size.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60337" rel="attachment wp-att-60337"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Greg-Thurman-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60337" /></a></td>
			<td>Greg Thurman</td>
			<td>9</td>
			<td>Greg competes every possession.  Offensively, he is unselfish with the basketball and can finish around the rim.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60406" rel="attachment wp-att-60406"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tyreese-Cherry-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60406" /></a></td>
			<td>Tyreese Cherry</td>
			<td>11</td>
			<td>Tyreese is very adept shooting the ball from 3 or mid-range. Great job of seeking &amp; finding rebounds on offensive end.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60338" rel="attachment wp-att-60338"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Hersh-Williams-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60338" /></a></td>
			<td>Hersh Williams</td>
			<td>11</td>
			<td>Hersh is a can catch &amp; shoot well. Excels in transition and is always hustling. </td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60385" rel="attachment wp-att-60385"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Najee-Williams-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60385" /></a></td>
			<td>Najee Williams</td>
			<td>11</td>
			<td>Najee is a coaches player. Hustles on both ends of the court, unselfish, and good understanding of the game.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60389" rel="attachment wp-att-60389"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Randy-Bell-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60389" /></a></td>
			<td>Randy Bell</td>
			<td>11</td>
			<td>Randy does a good job of pushing the ball in transition. Very tough to guard due to his quickness handling ball.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60309" rel="attachment wp-att-60309"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Brian-Monaghan-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60309" /></a></td>
			<td>Brian Monaghan</td>
			<td>10</td>
			<td>Brian's coach noted he plays with great passion and makes his teammates better. Excellent ball-handler, very good passer.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60366" rel="attachment wp-att-60366"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kyle-Smith-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60366" /></a></td>
			<td>Kyle Smith</td>
			<td>9</td>
			<td>Kyle plays extremely hard, high energy player.  Unselfish with the basketball, runs well in transition.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60319" rel="attachment wp-att-60319"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Connor-Strickland-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60319" /></a></td>
			<td>Connor Strickland</td>
			<td>9</td>
			<td>Connor makes good decisions with the ball and thus excels in transition. Good pull-up jumper.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60321" rel="attachment wp-att-60321"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Dante-DAvion-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60321" /></a></td>
			<td>Dante Davion</td>
			<td>9</td>
			<td>True point guard that knows how to run the team. Communicates well, directs offense. Shoots the ball well.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60377" rel="attachment wp-att-60377"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Michael-Granda-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60377" /></a></td>
			<td>Michael Granda</td>
			<td>10</td>
			<td>Michael is a player who understands the game and makes great decisions. One of those players who always seems to be in the right spot at the right time.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60364" rel="attachment wp-att-60364"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kyle-Cardaci-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60364" /></a></td>
			<td>Kyle Cardaci</td>
			<td>9</td>
			<td>Kyle is best at driving and finishing around the rim.  Also has a good pull-up shot.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60303" rel="attachment wp-att-60303"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Andrew-Heck-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60303" /></a></td>
			<td>Andrew Heck</td>
			<td>8</td>
			<td>Andrew is a good three point shooter. Extremely talented passer, always knows where his teammates are.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60297" rel="attachment wp-att-60297"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Alex-Mrusek-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60297" /></a></td>
			<td>Alex Mrusek</td>
			<td>11</td>
			<td>Alex is a big, strong player who uses that to his advantage getting to the basket. Defensively, his strength makes him hard to score against in the paint.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60347" rel="attachment wp-att-60347"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jawan-Crenshaw-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60347" /></a></td>
			<td>Jawan Crenshaw</td>
			<td>9</td>
			<td>Jawan is terrific at finishing through contact. Will not force shots, can pass well of the bounce.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60352" rel="attachment wp-att-60352"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/John-Wahrmann-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60352" /></a></td>
			<td>John Wahrmann</td>
			<td>12</td>
			<td>John catches &amp; shoots the ball well. Defensively, John is relentless rebounding the basketball.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60411" rel="attachment wp-att-60411"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Xavier-Townes-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60411" /></a></td>
			<td>Xavier Townes</td>
			<td>10</td>
			<td>Xaiver is a very athletic guard. Can shoot the 3 and attack the basket from the perimeter.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60388" rel="attachment wp-att-60388"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Nykie-Green-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60388" /></a></td>
			<td>Nykie Greene</td>
			<td>10</td>
			<td>Nykie is a terrific three point shooter.  He can frustrate the offense when guarding the ball, very active.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60310" rel="attachment wp-att-60310"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Cameron-SIlver-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60310" /></a></td>
			<td>Cameron Silver</td>
			<td>11</td>
			<td>Cameron defends the ball well. Can shoot it and shows impressive ball-handling ability.</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/?attachment_id=60334" rel="attachment wp-att-60334"><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Edwin-Lakie-300x200.jpg" alt="" width="300" height="200" class="alignnone size-medium wp-image-60334" /></a></td>
			<td>Edwin Lakie</td>
			<td>10</td>
			<td>Edwin is a combo guard who can score from all areas. He is a tough player who doesn't shy away from contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Chris-Hogrefe1.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-60438" /></td>
			<td>Chris Hogrefe</td>
			<td>10</td>
			<td>Chris is a point guard who extends his defense to pressure the opponent. On the other end his sees the floor well and gets teammates scoring chances. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Daniel-Peacock1.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-60439" /></td>
			<td>Daniel Peacock</td>
			<td>9</td>
			<td>Daniel is a young player who showed his skills as a lockdown defender. His energy transferred to the offensive end where he ran the floor and got easy opportunities. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Dauwis-Paredes1.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-60440" /></td>
			<td>Dauwis Paredes</td>
			<td>11</td>
			<td>Dauwis not only a good shooter but a good playmaker as well. He used his intelligence to breakdown defenders and make plays.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/DJ-Smith1.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-60442" /></td>
			<td>DJ Smith</td>
			<td>11</td>
			<td>DJ made some outside shots that forced the defense to extend. With open space on the floor he showed his skills as a driver as well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/David-Perez.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-60324" /></td>
			<td>David Perez</td>
			<td>11</td>
			<td>David is a guard who plays with poise and energy. He controls the game with the ball in his hands and rarely makes the wrong play. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Eli-Richardson1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60445" /></td>
			<td>Eli Richardson</td>
			<td>11</td>
			<td>Eli shows that he can guard every position on the floor. He can play outside on offense or take defenders into the post.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Hunter-Petrick1-300x200.jpg" alt="" width="300" height="200" </td>
			<td>Hunter Petrick</td>
			<td>11</td>
			<td>Hunter continues to show his talent with the ball in his hands. If he continues to learn how to move off the ball he will be able to score consistently. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/John-McArthur1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60447" /></td>
			<td>John McArthur</td>
			<td>10</td>
			<td>John is a post player with skill on the block. He goes after the glass and creates extra possessions for his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Juan-Munez1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60448" /></td>
			<td>Juan Munez</td>
			<td>11</td>
			<td>Juan is a hustle player who showed a good ability to score all over the floor. If he continues to be strong on defense he will be a complete player every game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kenyon-Goodson1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60449" /></td>
			<td>Kenyon Goodson</td>
			<td>11</td>
			<td>Goodson plays with excellent energy and leadership. He plays fast and makes winning plays in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Lucas-Olshevski1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60450" /></td>
			<td>Lucas Olshevski</td>
			<td>10</td>
			<td>Lucas is a big body who rebounds with authority. He makes shots from mid range and has an array of post moves. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Marc-Dennis1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60451" /></td>
			<td>Marc Dennis</td>
			<td>8</td>
			<td>Marc is a young player with a big upside. His defensive game is a problem for opponents as he is able to get in passing lanes and create turnovers. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Mike-Strazza1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60452" /></td>
			<td>Mike Strazza</td>
			<td>10</td>
			<td>Mike understands the game and is always keeping his team within the offense. If he is making shots he is a tough cover at the guard position.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Mitchell-Jones1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60453" /></td>
			<td>Mitchell Jones</td>
			<td>10</td>
			<td>Mitchell is a tough inside player who can score against defenders. He affects the game defensively with his active play.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Naafi-Powell1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60454" /></td>
			<td>Naafi Powell</td>
			<td>9</td>
			<td>Naafi is a quick point guard who makes people pay from the perimeter. He is also a floor manager who can get teammates open shots. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Najeeir-Tapia1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60455" /></td>
			<td>Najeeir Tapia</td>
			<td>11</td>
			<td>Najeeir is a wing who can handle the ball on the outside and compete on the boards inside. He is a high energy player on both ends.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Trey-Smith1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60456" /></td>
			<td>Trey Smith</td>
			<td>10</td>
			<td>Trey can guard multiple positions with his length and quickness. Offensively he gets inside and can make plays off penetration.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Troy-Johnson1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60457" /></td>
			<td>Troy Johnson</td>
			<td>10</td>
			<td>Troy is long and athletic on the defensive end. He makes it hard for opponents to score and starts offensive opportunities off good defensive plays.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Xavier-File.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-60410" /></td>
			<td>Xavier File</td>
			<td>9</td>
			<td>Xavier is a quick guard who can play point or off the ball. He runs well in transition and makes smart plays with the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Douglas-Kneipher1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-60443" /></td>
			<td>Douglas Kneipher</td>
			<td>9</td>
			<td>Douglas is a young guard who has the potential to score in bunches. He plays with excellent energy and has the ability to be a lock down defender.</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
