<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Coach Evaluation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jonathon-Aboky-Djanty-1024x721.jpg" alt="Jonathon Aboky-Djanty" width="300" height="200" class="aligncenter size-large wp-image-74419" /></td>
			<td>Aboky-Djanty, Jonathon</td>
			<td>11</td>
			<td>Jon is a high energy player who gives everything he has on every possession. He does a great job of running in transition to create easy scoring opportunites for himself. Jon is a great teammate who is easy to play with.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Anas-Amos-1024x660.jpg" alt="Anas Amos" width="300" height="200" class="aligncenter size-large wp-image-74387" /></td>
			<td>Amos, Anas</td>
			<td>9</td>
			<td>Anas is an electic point guard who has tremendous court vision. He's extremely unselfish with the ball and facilitates on offense. Anas displayed a knack for getting to the rim with ease by using his explosiveness.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Ahmaz-Athias-1024x576.jpg" alt="Ahmaz Athias" width="300" height="200" class="aligncenter size-large wp-image-74386" /></td>
			<td>Athias, Ahmaz</td>
			<td>9</td>
			<td>Ahmaz is a lefty wingman who can really finish around the rim. He excels off the dribble and has the explosiveness to blow past defenders to get to his spots on the court. On defense, he is a pesty on ball defender who does a great job of creating steals for his team. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Joseph-Baldachino-1024x649.jpg" alt="Joseph Baldachino" width="300" height="200" class="aligncenter size-large wp-image-74420" /></td>
			<td>Baldachino, Joseph</td>
			<td>9</td>
			<td>Joseph is a skilled offensive player who knows when to take it himself and when to set up his teammates. He is a great passer and sees the court well in transition. He is a solid three point shooter who has unlimited range.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Sean-Bertrand-1024x754.jpg" alt="Sean Bertrand" width="300" height="200" class="aligncenter size-large wp-image-74443" /></td>
			<td>Bertrand, Sean</td>
			<td>9</td>
			<td>Sean is an unselfish player who will do anything to help his team win. He competes on both ends of the court and never takes a play off. He is a skilled defender who really takes pride at that end of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Peyton-Boesch-1024x683.jpg" alt="Peyton Boesch" width="300" height="200" class="aligncenter size-large wp-image-74437" /></td>
			<td>Boesch, Peyton</td>
			<td>9</td>
			<td>Peyton is a smart offensive player who knows how to get himself open for good looks. He is a knockdown three point shooter who defenses canÕt leave open. Other than being a great shooter, Peyton does a great job of attacking the lanes on offense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Drayton-Bonaparte-1024x694.jpg" alt="Drayton Bonaparte" width="300" height="200" class="aligncenter size-large wp-image-74403" /></td>
			<td>Bonaparte, Drayton</td>
			<td>10</td>
			<td>Drayton is a lefty combo guard who changes the game in a variety of ways. He plays with great burst and uses his quick first step to attack the rim. He is an active defender and constantly disrupts the passing lanes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jack-Brockett-1024x692.jpg" alt="Jack Brockett" width="300" height="200" class="aligncenter size-large wp-image-74413" /></td>
			<td>Brockett, Jack</td>
			<td>10</td>
			<td>Jack is a talented player, especially on the offensive end. He has all the tools to be a great player. He has a tight handle which he uses to create for his teammates and himself. When his feet are set, Jack is a lights out shooter who rarely misses. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Noah-Buono-1024x651.jpg" alt="Noah Buono" width="300" height="200" class="aligncenter size-large wp-image-74436" /></td>
			<td>Buono, Noah</td>
			<td>11</td>
			<td>Noah is an athletic small forward who can do it all on the basketball court. He runs the court well in transition to create easy scoring opportunites for his team. He is an active player who plays hard on both ends of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jermane-Carter-1024x738.jpg" alt="Jermane Carter" width="300" height="200" class="aligncenter size-large wp-image-74418" /></td>
			<td>Carter, Jermane</td>
			<td>11</td>
			<td>Jermane is an effective inside player who displayed great footwork down low. He does a great job of creating second chance opportunites for his team and finishes well around the rim. He has a good looking mid-range jumper for a big man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Hassan-Ceesay-1024x718.jpg" alt="Hassan Ceesay" width="300" height="200" class="aligncenter size-large wp-image-74406" /></td>
			<td>Ceesay, Hassan</td>
			<td>10</td>
			<td>Hassan is a highly skilled offensive player who can score in a variety of ways. He excels when attacking the basket and he has the strength to finish with contact. Hassan is also unselfish and looks to distribute the ball to his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jasiyah-Cheatam-1024x743.jpg" alt="Jasiyah Cheatam" width="300" height="200" class="aligncenter size-large wp-image-74417" /></td>
			<td>Cheatham, Jasiyah</td>
			<td>11</td>
			<td>Jasiyah is a very good point guard who does a great job of facilitating the offense and running the team. He sees the court extremely well and knows how to attack the gaps. Defensively, Jasiyah is an excellent on ball defender. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Cherry, Tyrese</td>
			<td>11</td>
			<td>Tyrese is a very effective scorer when attacking the basket. He uses his body well and has explosiveness to get to the rim. He competes on every play and is a great teammate.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Cho, Matthew</td>
			<td>9</td>
			<td>Matthew is a hardworking player who competes on both ends of the court. He has a high basketball IQ and always gets himself in good positions on the defensive end. He understands the concept of help defense and does a great job of sliding over.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/IMG_9499-1024x763.jpg" alt="IMG_9499" width="300" height="200" class="aligncenter size-large wp-image-74409" /></td>
			<td>Clark, Jalen</td>
			<td>10</td>
			<td>Jalen is an aggressive player who has a very high motor. For a wing, Jalen does a great job of attacking the boards. He can score in a variety of ways, but is at his best when driving to the rim or pulling up for mid-range jumpers. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Colon, Jaylen</td>
			<td>10</td>
			<td>Jaylen is a scoring guard who possesses a versatile offensive repertoire. He is a very good three point shooer with deep range. He has a knack for attacking the basket where he can finish with either hand.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Ahman-Cooks-1024x657.jpg" alt="Ahman Cooks" width="300" height="200" class="aligncenter size-large wp-image-74385" /></td>
			<td>Cooks, Ahman</td>
			<td>9</td>
			<td>Ahman looks the part as he has good size and length for his age. He showed great competitive spirit and toughness. His ability to make all the hustle plays makes him a valuable asset to his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Devin-Cooper-1024x803.jpg" alt="Devin Cooper" width="300" height="200" class="aligncenter size-large wp-image-74402" /></td>
			<td>Cooper, Devin</td>
			<td>10</td>
			<td>Devin is a well rounded guard who does a little bit of everything. He excels in the open court where he uses his court vision to his advantage in order to create for teammates. He is effective when attacking the basket and does a great job of finishing around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Zach-Crisler-1024x648.jpg" alt="Zach Crisler" width="300" height="200" class="aligncenter size-large wp-image-74446" /></td>
			<td>Crisler, Zach</td>
			<td>9</td>
			<td>Zach is an extremely skilled big man, especially on the offensive end of the floor. He can score in a variety of ways including off the dribble, quick pull-ups and deep step backs. He rebounds well and is always looking to push the ball in transition where he displayed great passing ability. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Zane-Crum-1024x752.jpg" alt="Zane Crum" width="300" height="200" class="aligncenter size-large wp-image-74449" /></td>
			<td>Crum, Zane</td>
			<td>9</td>
			<td>Zane is a skilled interior player who excels on the defensive end of the court. He is a solid interior post defender who does a great job of denying entry passes and disrupting shots. Zane plays hard and competes on every possession.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/James-Deiter-1024x655.jpg" alt="James Deiter" width="300" height="200" class="aligncenter size-large wp-image-74415" /></td>
			<td>Deiter, James</td>
			<td>11</td>
			<td>James is a knockdown shooter who opponents can't leave open. He is a smart player who knows how to get to his spots on the offensive end. On the defensive end, James is an active player who goes after every rebound.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Connor-DeVeney-1024x592.jpg" alt="Connor DeVeney" width="300" height="200" class="aligncenter size-large wp-image-74394" /></td>
			<td>DeVeney, Connor</td>
			<td>9</td>
			<td>Connor is a three point shooter who has unlimited range. His ability to stretch the floor makes him a valuable asset to any team. In addition to his shooting ability, Connor also showed he can finish around the rim. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Carlos-Done-1024x702.jpg" alt="Carlos Done" width="300" height="200" class="aligncenter size-large wp-image-74391" /></td>
			<td>Done, Carlos</td>
			<td>12</td>
			<td>Carlos is a slashing guard who is highly effective at getting to the rim. He is tough to guard and uses his body well to absorb contact. He takes pride on the defensive end of the court and really digs in.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Connor-Elliot-1024x687.jpg" alt="Connor Elliot" width="300" height="200" class="aligncenter size-large wp-image-74395" /></td>
			<td>Elliott, Connor</td>
			<td>9</td>
			<td>Connor plays unselfish basketball and is a great teammate. He is very vocal and does a great job communicating with his teammates on defense. He has the ability to shoot from deep consistently.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/IMG_9504-1024x774.jpg" alt="IMG_9504" width="300" height="200" class="aligncenter size-large wp-image-74411" /></td>
			<td>Garcia, Jesus</td>
			<td>12</td>
			<td>Jesus does the little things well that help his team win, especially on the defensive end where he is constantly active and communicating. On offense, he is a good screener and rolls with authority. His good hands allow him to catch and finish from the low post. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Darius-Gary-1024x711.jpg" alt="Darius Gary" width="300" height="200" class="aligncenter size-large wp-image-74397" /></td>
			<td>Gary, Darius</td>
			<td>11</td>
			<td>Darius is a long, athletic player which he uses to his advantage on the defensive end. He displayed great agility and is constantly getting deflections and steals. Darius showed the ability to score off the bounce consistently all night. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Shane-Gaudio-1024x763.jpg" alt="Shane Gaudio" width="300" height="200" class="aligncenter size-large wp-image-74444" /></td>
			<td>Gaudio, Shane</td>
			<td>11</td>
			<td>Shane is a versatile scorer who excels in transition. He sees the court well and knows when to pick his spots on the court. He can score in a variety of ways including around the rim and from deep.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/jarick-giles-1024x651.jpg" alt="jarick giles" width="300" height="200" class="aligncenter size-large wp-image-74416" /></td>
			<td>Giles, Jarick</td>
			<td>10</td>
			<td>Jarick is a tenacious defender who disrupts his opponent constantly. He makes the offense work for every inch on the court and never gives up anything easy. He is an active player who creates many deflections and goes after every loose ball.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Gill, Khristian</td>
			<td>12</td>
			<td>Khristian is a long, athletic player who is extremely active. On defense, he is an exceptional shot blocker and anticipates well. He is active on the glass and is a great rebounder. On offense, he finishes well around the rim and does a great job of creating second chance points for his team. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-Ginyard-1024x644.jpg" alt="Michael Ginyard" width="300" height="200" class="aligncenter size-large wp-image-74430" /></td>
			<td>Ginyard, Michael</td>
			<td>10</td>
			<td>Michael is an all-around player who does many things well. Offensively, he looks to push in transition and create for his teammates. He looks to go coast to coast and finishes well around the rim. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Ibn-Grimsley-1024x596.jpg" alt="Ibn Grimsley" width="300" height="200" class="aligncenter size-large wp-image-74408" /></td>
			<td>Grimsley, Ibn</td>
			<td>9</td>
			<td>Ibn has a great feel for the game of basketball and is always in the right spots on the floor. He is a great passer and does a good job of setting up his teammates for open shots. He knows when to pick his spots on offense to create his own shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Max-Gussen-1024x719.jpg" alt="Max Gussen" width="300" height="200" class="aligncenter size-large wp-image-74429" /></td>
			<td>Gussen, Max</td>
			<td>11</td>
			<td>Max is a tough, athletic forward who competes on both ends of the court. He is an exceptional rebounder and consistently attacks the glass. On offense, Max has great touch around the rim and is a great finisher. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Dave-Harrington-1024x730.jpg" alt="Dave Harrington" width="300" height="200" class="aligncenter size-large wp-image-74398" /></td>
			<td>Harrington, Dave</td>
			<td>12</td>
			<td>Dave is an active player who competes on both ends of the court. He is an active defender as he is always disrupting the passing lanes. He is a great leader who is constantly communicating with his teammates and directing them where to go on the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Kelvin-Harris-1024x714.jpg" alt="Kelvin Harris" width="300" height="20" class="aligncenter size-large wp-image-74422" /></td>
			<td>Harris, Kelvin</td>
			<td>10</td>
			<td>Kelvin is a quick guard who uses his handle to create for his teammates. He is a slasher who gets to the rim with ease. Kelvin is extremely athletic which allows him to remain active on both ends of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jabari-Higgs-Salaam-1024x766.jpg" alt="Jabari Higgs-Salaam" width="300" height="200" class="aligncenter size-large wp-image-74412" /></td>
			<td>Higgs-Salaam, Jabari</td>
			<td>9</td>
			<td>Jabari is a quick guard who has the ability to stop on a dime and hit pull-up jumpers. He displayed great court vision and is always looking to get his teammates involved. He is a great leader who did a great job of managing the tempo of the game.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Hoch, Joseph</td>
			<td>10</td>
			<td>Joseph is a heady player who has a great feel for the game. He displayed great court vision and the ability to pass the basketball. Joseph is a crafty scorer who can consistently knock down open threes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Mark-Howell-1024x671.jpg" alt="Mark Howell" width="300" height="200" class="aligncenter size-large wp-image-74426" /></td>
			<td>Howell, Mark</td>
			<td>11</td>
			<td>Mark is a facilitating point guard who any coach would love to have on their team. He sees the court very well and delivers the ball to his teammates on time and in the right spots. He has a great handle and always plays with great pace.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Kennedy, Liam</td>
			<td>9</td>
			<td>Liam is a well rounded player who is extremely skilled on the offensive end. He can dribble, pass and shoot well. He excels off the dribble and can create for himself and his teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Ayoub-Kharbouch-1024x581.jpg" alt="Ayoub Kharbouch" width="300" height="200" class="aligncenter size-large wp-image-74388" /></td>
			<td>Kharbouch, Ayoub</td>
			<td>12</td>
			<td>Ayoub is an unselfish player who will do anything to help his team win. On offense, he has the ability to hit open jumpers with time and space. Ayoub is a downright competitor who never takes a play off. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-Koch-1024x629.jpg" alt="Michael Koch" width="300" height="200" class="aligncenter size-large wp-image-74431" /></td>
			<td>Koch, Michael</td>
			<td>10</td>
			<td>Michael is a solid all-around combo guard who can really shoot the ball. He couples his shooting ability with his knack for attacking the rim, making him a versatile offensive threat. He does a great job of backing down smaller defenders and uses his quick dribble to get to the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Tyler-Ludwikowski-1024x686.jpg" alt="Tyler Ludwikowski" width="300" height="200" class="aligncenter size-large wp-image-74445" /></td>
			<td>Ludwikowski, Tyler</td>
			<td>10</td>
			<td>Tyler is a gritty guard that plays with great energy. On offense, Tyler does a great job of using his body to get into position and finish around defenders. He takes pride on the defensive end and is a very good positional defender. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Ricky-Martin-1024x675.jpg" alt="Ricky Martin" width="300" height="200" class="aligncenter size-large wp-image-74439" /></td>
			<td>Martin, Ricky</td>
			<td>10</td>
			<td>Ricky is a great defender, especially when on the ball. He uses his length and athleticism to disrupt the ball handler. On offense, Ricky displayed great court vision and always seemed to find the open teammate. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Henderson-Mautes-1024x782.jpg" alt="Henderson Mautes" width="300" height="200" class="aligncenter size-large wp-image-74407" /></td>
			<td>Mautes, Henderson</td>
			<td>11</td>
			<td>Henderson is an active player who runs the floor very well. He gets easy baskets in transition and when he isn't taking it himself, he has the ability to find his teammates. He consistently outworked his opponents and is the first one on the floor after loose balls. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Ryan-McCaffery-1024x645.jpg" alt="Ryan McCaffery" width="300" height="200" class="aligncenter size-large wp-image-74442" /></td>
			<td>McCaffery, Ryan</td>
			<td>10</td>
			<td>Ryan is a fierce competitor who is as tough as they come. He never takes a play off and does all the little things to help his team win. He knows how to get to the basket and he uses his body well to finish around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Billy-McCrae-1024x754.jpg" alt="Billy McCrae" width="300" height="200" class="aligncenter size-large wp-image-74389" /></td>
			<td>McCrae, Billy</td>
			<td>9</td>
			<td>Billy is an active player who attacks the glass on both ends of the court. He is always working hard and competing on every possession. He is effective when attacking the basket and does a great job of finishing with his left hand.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/David-McJolly-1024x692.jpg" alt="David McJolly" width="300" height="200" class="aligncenter size-large wp-image-74399" /></td>
			<td>McJolly, David</td>
			<td>12</td>
			<td>David is a versatile, lefty, combo guard who can score in a variety of ways. He is a knockdown three point shooter with deep range. He excels when driving to the basket and kicking it out to open teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Raine-McKeython-1024x636.jpg" alt="Raine McKeython" width="300" height="200" class="aligncenter size-large wp-image-74438" /></td>
			<td>McKeython, Raine</td>
			<td>12</td>
			<td>Raine is an all-around effective player who is active on both ends of the court. He rebounds extremely well for a wing and takes pride on the defensive end. He is a tough matchup on offense as he is always probing and attacking the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Robert-Miller-1024x673.jpg" alt="Robert Miller" width="300" height="200" class="aligncenter size-large wp-image-74441" /></td>
			<td>Miller, Robert</td>
			<td>10</td>
			<td>Robert is an aggressive scoring guard that is effective in transition. He likes to push the tempo and does a great job of getting to the rim on offense. Rob uses his body well, which he uses to finish in traffic. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Chase-Mlecz-1024x679.jpg" alt="Chase Mlecz" width="300" height="200" class="aligncenter size-large wp-image-74393" /></td>
			<td>Mlecz, Chase</td>
			<td>9</td>
			<td>Chase is an excellent teammate who does a great job of facilitating on offense. He excels in transition and is always looking to push the ball ahead to open teammates. He competes on both ends of the court and never takes a play off.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-Moody-1024x732.jpg" alt="Michael Moody" width="300" height="200" class="aligncenter size-large wp-image-74432" /></td>
			<td>Moody, Michael </td>
			<td>11</td>
			<td>Michael is a quick, explosive guard who is highly effective when going to the rim. In addition, he displayed good court vision and always seems to make the right basktball play. On defense, Michael is active and does a great job of keeping his opponent in front of him. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Marcus-Moore-1024x677.jpg" alt="Marcus Moore" width="300" height="200" class="aligncenter size-large wp-image-74424" /></td>
			<td>Moore, Marcus</td>
			<td>9</td>
			<td>Marcus is an active player, especially on the defensive end. He is an excellent on ball defender and does a great job of disrupting his opponent. Marcus is an unselfish player and his primary goal is to help his team win. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Zach-Moran-1024x681.jpg" alt="Zach Moran" width="300" height="200" class="aligncenter size-large wp-image-74447" /></td>
			<td>Moran, Zach</td>
			<td>10</td>
			<td>Zach is an unselfish player that competes on both ends of the floor. On offense, he plays with great pace and is able to shoot with range. He is a steady player who always seems to make the right basketball play. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Zach-Morgan-1024x686.jpg" alt="Zach Morgan" width="300" height="200" class="aligncenter size-large wp-image-74448" /></td>
			<td>Morgan, Zachary</td>
			<td>10</td>
			<td>Zachary was one of the most active defenders all night. On offense, he is shifty and gets to the rim with ease. He is a high energy player who exuberates passion, which his teammates feed off of. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Charles-Morris-Nolle-1024x713.jpg" alt="Charles Morris-Nolle" width="300" height="200" class="aligncenter size-large wp-image-74392" /></td>
			<td>Morris-Noelle, Charles</td>
			<td>11</td>
			<td>Charles is an active player who anticipates well on the defensive end. He has a tight handle and a quick first step, which allow him to penetrate the defense. He is a crafty player who always plays under control. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Dean-Noll-1024x656.jpg" alt="Dean Noll" width="300" height="200" class="aligncenter size-large wp-image-74400" /></td>
			<td>Noll, Dean</td>
			<td>10</td>
			<td>Dean is a high IQ player who knows how to play the game the right way. On offense, he has a great handle which he uses to penetrate and create for himself and his teammates. Dean competes on every possession and never takes a play off. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>North, Marcus</td>
			<td>10</td>
			<td>Marrcus is a high motor player with endless energy. He goes after every rebound and does a great job of creating second chance opportunites for his team on the offensive end. He excels in transition where he is able to create easy scoring opportunities.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Mike-Orth-1024x736.jpg" alt="Mike Orth" width="300" height="200" class="aligncenter size-large wp-image-74434" /></td>
			<td>Orth, Mike</td>
			<td>10</td>
			<td>Mike is a solid shooter, especially when he is set. He can score in a variety of ways and displayed a strong pull-up game. He plays hard on both ends of the court and is always competing. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Perez, Jamael</td>
			<td>11</td>
			<td>#219 is an athletic big man who runs the court extremely well. He is active on the boards on both ends of the court. On offense, he has a soft touch around the rim and is an effective finisher. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jack-Petit-1024x662.jpg" alt="Jack Petit" width="300" height="200" class="aligncenter size-large wp-image-74414" /></td>
			<td>Petit, Jack</td>
			<td>9</td>
			<td>Jack is an all-around solid combo guard. He has a tight handle and does a great job of penetrating off the dribble. Jack is a high IQ player who knows when to take it himself and when to kick to the open teammate.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-Ramos-1024x604.jpg" alt="Michael Ramos" width="300" height="200" class="aligncenter size-large wp-image-74433" /></td>
			<td>Ramos, Michael</td>
			<td>9</td>
			<td>Michael is an unselfish player that looks to find the open man on offense. He is a good shooter who showed he has the ability to consistently hit open jumpers. His physical strength allows him to play inside-out basketball, and he isn't afraid to get involved in the paint. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Gary-Redden-Jr-1024x658.jpg" alt="Gary Redden Jr" width="300" height="200" class="aligncenter size-large wp-image-74405" /></td>
			<td>Redden Jr., Gary</td>
			<td>10</td>
			<td>Gary is an active player who runs the floor well in transition. He excels on the break where he is a great finisher around the rim. He has the ability to step out and knock down threes with deep range.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Daevon-Robinson-1024x699.jpg" alt="Daevon Robinson" width="300" height="200" class="aligncenter size-large wp-image-74396" /></td>
			<td>Robinson, Daevon </td>
			<td>10</td>
			<td>Daevon is an explosive wing that does a great job of getting to his spots on the court. He is a lockdown defender who creates havoc on the defensive end of the floor. He has quick hands which allow him to disrupt the passing lanes.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Robinson, Macio</td>
			<td>10</td>
			<td>Macio is a quick point guard who loves to get his teammates involved. His ability to distribute the basketball is second to none. His high IQ, tight handle and solid passing ability make him a tough matchup. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Searcy, Josh</td>
			<td>10</td>
			<td>#21 is a strong, physical player who is effective in the post both offensively and defensively. He uses his strength to body up his opponent on defense. Offensively, he is strong with the basketball and uses his body well to finish around the rim. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Justice-Sheffield-1024x658.jpg" alt="Justice Sheffield" width="300" height="200" class="aligncenter size-large wp-image-74421" /></td>
			<td>Sheffield, Justice</td>
			<td>9</td>
			<td>Justice is a leader who does a great job of controlling the tempo of the game. He has a natural ability to create on offense and does a great job facilitating. He is a tough minded player who never takes a play off.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Derek-Snyder-1024x734.jpg" alt="Derek Snyder" width="300" height="200" class="aligncenter size-large wp-image-74401" /></td>
			<td>Snyder, Derek</td>
			<td>9</td>
			<td>Derek is a high IQ player who always seems to make the right play. He is a strong positonal defender and he really takes pride in that end of the court. He is a hardworker and never takes a possession off.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Nasir-Solomon-1024x762.jpg" alt="Nasir Solomon" width="300" height="200" class="aligncenter size-large wp-image-74435" /></td>
			<td>Solomon, Nasir</td>
			<td>10</td>
			<td>Nasir is a great slasher who displayed his effectiveness around the rim. He is an unselfish player who likes to facilitate on offense. In addition to his ability to attack the basket, Nasir has the ability to shoot from the outside. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Elijah-Spears-1024x677.jpg" alt="Elijah Spears" width="300" height="200" class="aligncenter size-large wp-image-74404" /></td>
			<td>Spears, Elijah</td>
			<td>9</td>
			<td>Elijah is an unselfish player who always looks to get his teammates involved. He competes very hard on both ends of the court. Offensively, Elijah displayed a tight handle, which he uses to penetrate the gaps and attack the paint.   </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Robbie-Stephan-1024x621.jpg" alt="Robbie Stephan" width="300" height="200" class="aligncenter size-large wp-image-74440" /></td>
			<td>Stephan, Robbie</td>
			<td>10</td>
			<td>Robbie is an all-around offensive player who can score and create. He is a knockdown three point shooter when he has time and space. He has great court vision and does a great job of finding the open teammate.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Talbot, Peter</td>
			<td>10</td>
			<td>Peter is a long, athletic player who uses his length to his advantage on both ends of the court. He has a great feel for the game and consistently makes the correct basketball play. Peter has a high motor and is extremely active on the defensive end. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Marcus-Truell-1024x711.jpg" alt="Marcus Truell" width="300" height="200" class="aligncenter size-large wp-image-74425" /></td>
			<td>Truell, Marcus</td>
			<td>10</td>
			<td>Marcus is an athletic swingman who is effective on both ends of the court. He uses his athleticism to grab rebounds, especially on the defensive end. On offense, Marcus excels at attacking the basket and can finish with either hand. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Brandon-Washington-1024x696.jpg" alt="Brandon Washington" width="300" height="200" class="aligncenter size-large wp-image-74390" /></td>
			<td>Washington, Brandon</td>
			<td>11</td>
			<td>Brandon is a hardworker who competes on every possession. He is active on the offensive end and does a great job of setting screens for his teammates. He has a knack of keeping loose balls alive and constantly creates second chance opportunites for his team.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Way, Navado</td>
			<td>11</td>
			<td>Navado is a workhorse in the paint who doesn't back down from any opponent. He is extremely active and attacks every rebound. Offensively, Navado displayed quick post moves and a soft touch around the rim. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Kevin-Weekes-1024x613.jpg" alt="Kevin Weekes" width="300" height="200" class="aligncenter size-large wp-image-74423" /></td>
			<td>Weekes, Kevin</td>
			<td>12</td>
			<td>Kevin is an active swing player who excels when driving to the basket. He has great court vision and always seems to find the open man. For his size, Kevin does a great job of attacking the glass and collecting rebounds. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Mason-White-1024x708.jpg" alt="Mason White" width="300" height="200" class="aligncenter size-large wp-image-74427" /></td>
			<td>White, Mason</td>
			<td>9</td>
			<td>Mason is a hardworking player who competes on every possession. He does the little things well on both ends of the court including diving for loose balls and setting good screens. He is an unselfish point guard who has a great feel for the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/IMG_9501-1024x768.jpg" alt="IMG_9501" width="300" height="200" class="aligncenter size-large wp-image-74410" /></td>
			<td>Williamson, Ray</td>
			<td>11</td>
			<td>Ray is a hardworking player who sprints the floor well and gets out in transition. He is at his best offensively when the game is played at a fast pace.  He is very unselfish on the offensive end and is always looking to find the open man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Matt-Winschuh-1024x692.jpg" alt="Matt Winschuh" width="300" height="200" class="aligncenter size-large wp-image-74428" /></td>
			<td>Winschuh, Matt</td>
			<td>11</td>
			<td>Matt is a great competitor who never takes a play off. He constantly disrupts passing lanes on defense and creates turnovers. On offense, he does a great job of going after rebounds to give his team second chance opportunites. </td>
		</tr>
	</tbody>
</table>
