<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Jersey Number</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Report</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Donovan-Ryland-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58781" /></td>
			<td>80</td>
			<td>Donovan Ryland</td>
			<td>9</td>
			<td>Donovan he's great poise and is a confident ball handler. He sees the floor well and has an athletic body.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/John-Miller-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58804" /></td>
			<td>356</td>
			<td>John Miller</td>
			<td>11</td>
			<td>John has excellent handle and finished well at the rim. He also works really hard in every situation.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/alex-corrigan-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58760" /></td>
			<td>358</td>
			<td>Alex Corrigan</td>
			<td>11</td>
			<td>Alex is one of the best shooters in camp and he creates space by moving off the ball. He also uses his shot fake to keep defenders off balance.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Auhan-Leng-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58754" /></td>
			<td>360</td>
			<td>Auhan Leng</td>
			<td>10</td>
			<td>Auhan shoots the ball from three point range with effectiveness. He can also finish around the rim when he gets by defenders.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Isaiah-Drakeford-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58790" /></td>
			<td>355</td>
			<td>Isaiah Drakeford</td>
			<td>11</td>
			<td>Isaiah does a great job leading the break and finding opportunities for his team. He also will make open shots from deep.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Connor-Rufo1-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58772" /></td>
			<td>428</td>
			<td>Connor Rufo</td>
			<td>10</td>
			<td>Connor is a good rebounder in traffic. he is also a great passer out of the post and can make plays for his teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/erik-braaten-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58786" /></td>
			<td>429</td>
			<td>Erik Braaten</td>
			<td>11</td>
			<td>Erik knows how to use his size on the defensive end. He can shoot from mid range and is very good in the pick and roll.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Will-Mcdaniel-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58851" /></td>
			<td>357</td>
			<td>William Mcdaniel</td>
			<td>12</td>
			<td>William is an athletic finisher who knows how to use his body. When he gets in the lane he creates problems for defenders. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kevin-Pagalirino-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58818" /></td>
			<td>354</td>
			<td>Kevin Pagalirino</td>
			<td>11</td>
			<td>Kevin is a crafty guard with great handle. He can explode by defenders and finish creatively at the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Bryan-Novak-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58768" /></td>
			<td>72</td>
			<td>Bryan Novak</td>
			<td>10</td>
			<td>Bryan can handle and make plays against bigger players/ He has a great IQ and uses it to his advantage.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/justin-pierre-louis-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58812" /></td>
			<td>89</td>
			<td>Justin Pierre-Louis</td>
			<td>9</td>
			<td>Justin is very good at finding open teammates. He steps up in pressure situations and is good with the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/dylan-musial-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58783" /></td>
			<td>504</td>
			<td>Dylan Musial</td>
			<td>10</td>
			<td>Dylan has deep threat ability and a good IQ. He is always in the right spot  defensively and has good hands.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Taj-Benning-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58845" /></td>
			<td>453</td>
			<td>Taj Benning</td>
			<td>10</td>
			<td>Taj is a smooth guard who can score from all parts of the floor. He has great energy and is a leader on the floor.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>211</td>
			<td>Chris Gordon</td>
			<td>11</td>
			<td>He is a good decision maker and is able to stay patient on offense. Defensively he is strong and active.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/JP-Krptulis-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58810" /></td>
			<td>419</td>
			<td>JP Krotulis</td>
			<td>11</td>
			<td>JP is a good shot blocker inside. He rebounds well and finds open players in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/kobie-wells-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58821" /></td>
			<td>454</td>
			<td>Kobie Wells</td>
			<td>10</td>
			<td>He is a great passer who plays with rhythm. If he comes more of a scorer he will be tough to guard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/steven-kostopoulos-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58844" /></td>
			<td>242</td>
			<td>Steven Kostopoulos</td>
			<td>11</td>
			<td>Steven is a hard worker who is aggressive on the glass. His basketball IQ allows him to stay one step ahead of the opponent.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Dan-Wilson-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58773" /></td>
			<td>420</td>
			<td>Dan Wilson</td>
			<td>11</td>
			<td>Dan works really hard on both ends of the floor. He is relentless on the offensive glass and smart on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Ricky-Mix-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58837" /></td>
			<td>207</td>
			<td>Ricky Mixson</td>
			<td>11</td>
			<td>Ricky scores the ball as good as anyone at camp. He looks to attack with every opportunity.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Maksat-Niyazberdyyev-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58822" /></td>
			<td>206</td>
			<td>Maksat Niyazberdyyev</td>
			<td>10</td>
			<td>Maksat is a good scorer who showed more potential as the day went on. He also makes smart passes and moves well off the ball. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Joe-Zecchino-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58801" /></td>
			<td>199</td>
			<td>Joe Zecchino</td>
			<td>9</td>
			<td>He is a very good spot up shooter who doesn't hesitate to take big shots. He also sets his teammates up for their own shot. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Dominic-Grauso-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58780" /></td>
			<td>198</td>
			<td>Dominic Grauso</td>
			<td>11</td>
			<td>Very good help defender who gets his hands in the passing lane. He is quick and strong in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/kevin-gibbs-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58816" /></td>
			<td>418</td>
			<td>Kevin Gibbs</td>
			<td>10</td>
			<td>He is a strong post player that uses his body well. He also had good handle for a post player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/tyreek-ridley-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58849" /></td>
			<td>351</td>
			<td>Tyreek Ridley</td>
			<td>12</td>
			<td>Tyreek did a great job attacking the rim and scoring. He uses his body well around the rim. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Clarence-Fitchett-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58770" /></td>
			<td>353</td>
			<td>Clarence Fitchett</td>
			<td>11</td>
			<td>He showed great ball pressure and presented problems for the offense. He also has the ability to finish after contact. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jalen-mcneil-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58795" /></td>
			<td>350</td>
			<td>Jalen McNeil</td>
			<td>11</td>
			<td>Jalen caused havoc on the defensive end with his ball pressure. When he found himself open, he made outside shots.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>309</td>
			<td>Jack Brockett</td>
			<td>9</td>
			<td>Jack stepped up to the challenge against older players. He went hard in drills and shot well from three point range. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/matthew-asenjo-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58825" /></td>
			<td>308</td>
			<td>Matthew Asenjo</td>
			<td>10</td>
			<td>Matthew can get by his defender with quickness and handle. He also has a very good feel for the game. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Sean-Maher-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58839" /></td>
			<td>352</td>
			<td>Sean Maher</td>
			<td>10</td>
			<td>Sean knows where to be on the floor at all times. He seldom makes mistakes because of his basketball IQ. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Max-Phillips-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58829" /></td>
			<td>427</td>
			<td>Max Phillips</td>
			<td>11</td>
			<td>Max knows how to play in the post. He can finish with both hands and is a tough cover.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Christian-Chevis-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58769" /></td>
			<td>307</td>
			<td>Christian Chavis</td>
			<td>11</td>
			<td>He went all out in drills during the event. He sees the floor well and helps his teammates get opportunities. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>426</td>
			<td>Justin Porter</td>
			<td>11</td>
			<td>Justin gets to the rim and finishes at will. He can also be a great defender with his length and athleticism.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/michael-chapman-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58830" /></td>
			<td>82</td>
			<td>Michael Chapman</td>
			<td>11</td>
			<td>Michael rebounds well and can compete in the paint. He can push the ball and has a great motor. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>91</td>
			<td>Debon Bright</td>
			<td>12</td>
			<td>Debon is a strong athletic guard who uses his body well. He finishes at the rim in a great way.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/matthew-latka-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58828" /></td>
			<td>412</td>
			<td>Matthew Latka</td>
			<td>11</td>
			<td>Matthew makes his teammates better with the way he sees the floor. He also finishes inside with strength and body control. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jack-gaffney-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58792" /></td>
			<td>96</td>
			<td>Jack Gaffney</td>
			<td>11</td>
			<td>Jack was one of the better three point shooters at camp. He uses his shot fake well to clear space.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/joshua-chery-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58808" /></td>
			<td>413</td>
			<td>Joshua Chery</td>
			<td>12</td>
			<td>Josh is a strong wing who likes to get out and run the break. He rebounded well and hustled on defense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Darius-Payne-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58776" /></td>
			<td>106</td>
			<td>Darius Payne</td>
			<td>12</td>
			<td>Darius is a strong guard who can get by defenders. He is a good shooter from 17 feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Isaiah-Hill-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58791" /></td>
			<td>421</td>
			<td>Isaiah Hill</td>
			<td>12</td>
			<td>Stretch forward who loves to shoot on the perimeter. If he can get stronger inside he will be a good offensive weapon.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Will-Idzinski-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58850" /></td>
			<td>166</td>
			<td>William Idzinski</td>
			<td>11</td>
			<td>William attacks the basket.  Looks to move the ball and get teammates involved.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Aaron-Weekes1-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58758" /></td>
			<td>365</td>
			<td>Aaron Weekes</td>
			<td>11</td>
			<td>Aaron likes to push the ball in transition.  Very unselfish player, always looking for teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Patrick-Burke-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58835" /></td>
			<td>431</td>
			<td>Patrick Burke</td>
			<td>12</td>
			<td>Runs the floor well and does good job of contesting shots. Very active on the glass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/KEvin-Wan-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58819" /></td>
			<td>362</td>
			<td>Kevin Wan</td>
			<td>11</td>
			<td>Looks for open teammates. Handles pressure well, attacks off of that.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>305</td>
			<td>Kyle Ume</td>
			<td>9</td>
			<td>Plays above his height rebounding the ball. Very creative getting to the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Tyler-Pasko-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58848" /></td>
			<td>306</td>
			<td>Tyler Pasko</td>
			<td>11</td>
			<td>Aggressive rebounder on the defensive end. Tyler shows good shooting ability. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/john-bejar-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58802" /></td>
			<td>301</td>
			<td>John Bejar</td>
			<td>12</td>
			<td>Very quick guard. Uses that speed to get to the rim, creating for himself &amp; others.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/mark-croughan-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58824" /></td>
			<td>424</td>
			<td>Mark Croughan</td>
			<td>11</td>
			<td>Mark is a rim-protector on the defensive end. Shows an ability to finish with both hands around the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/eric-oneal-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58785" /></td>
			<td>302</td>
			<td>Eric O'Neal</td>
			<td>11</td>
			<td>High Basketball IQ offensively, makes good decisions.  Plays tough defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Shane-Gaudio-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58840" /></td>
			<td>303</td>
			<td>John Gaudio</td>
			<td></td>
			<td>John plays active defense, often leading to turnovers. Makes the extra pass on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/devon-gibbs-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58779" /></td>
			<td>425</td>
			<td>Devon Gibbs</td>
			<td>10</td>
			<td>Terrific rebounder on both ends of the court. Gets good early positioning and can finish put-backs through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/michael-lionikis-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58832" /></td>
			<td>304</td>
			<td>Michael Lionikis</td>
			<td>11</td>
			<td>Moves well without the ball.  Uses screens well by creating space and making shots off that.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/timothy-chaney-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58846" /></td>
			<td>300</td>
			<td>Timothy Chaney</td>
			<td>9</td>
			<td>Timothy shows good ballhandling. He is able to find teammates in halfcourt &amp; transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Eric-Johnson-Alford-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58784" /></td>
			<td>414</td>
			<td>Eric Johnson-Alford</td>
			<td>11</td>
			<td>Eric shows ability to guard multiple positions. Likes to push ball in transition and find open teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jordan-Harris-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58805" /></td>
			<td>124</td>
			<td>Jordan Harris</td>
			<td>11</td>
			<td>Jordan has good ballhandling ability. Shows ability create his own shot off the bounce.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jesse-Adelson-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58800" /></td>
			<td>130</td>
			<td>Jesse Adelson</td>
			<td>11</td>
			<td>Good point guard intangibles. Runs the team &amp; competes on every possession.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jake-Marzocca-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58794" /></td>
			<td>133</td>
			<td>Jake Marzocca</td>
			<td>11</td>
			<td>Jake has the ability to guard multiple positions. Understands rotations on defense and spacing on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jeremy-Joseph-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58799" /></td>
			<td>136</td>
			<td>Jeremy Joseph</td>
			<td>11</td>
			<td>Jeremy looks to move the ball on offense, keep defense off balance. Always in a stance on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jordan-moran-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58806" /></td>
			<td>505</td>
			<td>Jordan Moran</td>
			<td>11</td>
			<td>Jordan is a good set shooter from 3. Shows real passion for playing defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Robert-Robinson-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58838" /></td>
			<td>415</td>
			<td>Robert Robinson</td>
			<td>11</td>
			<td>Terrific first step to blow by defender. Can create in lane for himself &amp; teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Justin-John-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58811" /></td>
			<td>158</td>
			<td>Justin John</td>
			<td>11</td>
			<td>Great intangibles for the game. Good on ball defender and set shooter from deep.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jason-Froneta-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58796" /></td>
			<td>506</td>
			<td>Jason Franeta</td>
			<td>12</td>
			<td>Runs the floor and finishes around the basket. Keeps offense in front of him on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/joshua-hall-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58809" /></td>
			<td>452</td>
			<td>Josh Hall</td>
			<td>9</td>
			<td>Good strength &amp; athleticism for his age. Able to create his own shot off the dribble.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>156</td>
			<td>Dean Noll</td>
			<td>9</td>
			<td>High Basketball IQ for his age.  Terrific on-ball defender, likes to compete.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Davis-Franks-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58777" /></td>
			<td>416</td>
			<td>Davis Franks</td>
			<td>10</td>
			<td>Very skilled &amp; smart player on both ends. Always impacts the game regardless of where he is positioned.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Sidney-Dawkins-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58841" /></td>
			<td>155</td>
			<td>Sidney Dawkins</td>
			<td>12</td>
			<td>A true scorer. Attacks the basket with a purpose and was a threat regardless of time or score.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/hodari-bazemore-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58789" /></td>
			<td>417</td>
			<td>Hodari Bazemore</td>
			<td>12</td>
			<td>Hodari used his athleticism to be disruptive on defense. Dangerous player in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/ricahard-wiafe-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58836" /></td>
			<td>151</td>
			<td>Richard Wiafe</td>
			<td>11</td>
			<td>Richard can play tight on-ball defense without fouling. Does great job of talking to teammates.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>154</td>
			<td>Jake Betlow</td>
			<td>8</td>
			<td>Extremely skilled player for his age. Good ballhandler, high upside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Billy-Gough1-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58765" /></td>
			<td>458</td>
			<td>Billy Gough</td>
			<td>11</td>
			<td>Runs for the floor well for his size. Disruptive on the offensive &amp; defensive glass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/andrew-abadia-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58752" /></td>
			<td>455</td>
			<td>Andrew Abadia</td>
			<td>13</td>
			<td>Good intangibles. Always talking to teammates and moves constantly without the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Darius-Kure-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58775" /></td>
			<td>456</td>
			<td>Darius Kure</td>
			<td>9</td>
			<td>High Basketball IQ for is age. Very effective player offensively in ball screens.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Miles-Lewis-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58833" /></td>
			<td>503</td>
			<td>Miles Lewis</td>
			<td>10</td>
			<td>Diverse skill set offensively. Makes good decisions when passing the ball, gets good angles.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Ken-Aviles-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58814" /></td>
			<td>367</td>
			<td>Ken Aviles</td>
			<td>11</td>
			<td>High energy player that competes on every possession. Gets all the hustle plays a coach is looking for.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/donzell-cunningham-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58782" /></td>
			<td>450</td>
			<td>Donzell Cunningham</td>
			<td>12</td>
			<td>Wing player who can be a rim-protector. Uses his length to finish around the rim offensively.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/John-Helsel-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58803" /></td>
			<td>411</td>
			<td>John Helsel</td>
			<td>10</td>
			<td>John was very active on the glass on both ends. Was also a rim-protector on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kevin-Jefferson-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58817" /></td>
			<td>15</td>
			<td>Kevin Jefferson</td>
			<td>11</td>
			<td>Kevin showed ability to hit perimeter shots in transition &amp; halfcourt. Able to get his hands in passing lanes &amp; get deflections.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Noel-Rosa-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58834" /></td>
			<td>24</td>
			<td>Noel Rosa</td>
			<td>11</td>
			<td>Noel uses his ballhandling to get to the rim. Very aggressive on ball defender and can lead to steals.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/stefan-williams-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58843" /></td>
			<td>12</td>
			<td>Stefan Williams</td>
			<td>11</td>
			<td>Stefan has a quick first step &amp; can finish around the rim. Can also create for teammates when penetrating the lane.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Danhy-Fraunheim-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58774" /></td>
			<td>16</td>
			<td>Danny Frauenheim</td>
			<td>9</td>
			<td>Active &amp; aggressive on-ball defender. Good decision maker passing the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/malcolm-mcleod-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58823" /></td>
			<td>61</td>
			<td>Malcolm McLeod</td>
			<td>10</td>
			<td>Excels at seeking &amp; finding rebounds. Looks to pass ahead in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/matthew-kanan-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58827" /></td>
			<td>286</td>
			<td>Matthew Kanan</td>
			<td>11</td>
			<td>Matthew is a good defender on &amp; off ball, knows his rotations. Moves well without the ball &amp; can hit open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Henry-Woorhees-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58788" /></td>
			<td>423</td>
			<td>Henry Voorhees</td>
			<td>11</td>
			<td>Gets good positioning &amp; rebounds well. Good passer out of the post off of double.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jahlil-kure-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58793" /></td>
			<td>422</td>
			<td>Jahlil Kure</td>
			<td>11</td>
			<td>Jahlil uses his length to get his hands in passing lanes. Able to attack the basket &amp; finish through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Keith-Washington-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58813" /></td>
			<td>287</td>
			<td>Keith Washington Jr.</td>
			<td>11</td>
			<td>Keith was able to penetrate the gaps and kick out to teammates on the perimeter. Good shooter in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/brandon-grayson1-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58766" /></td>
			<td>457</td>
			<td>Brandon Grayson</td>
			<td>10</td>
			<td>Very disruptive on-ball defender. Also able to beat his man off the dribble &amp; score.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Matthew-Chang-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58826" /></td>
			<td>272</td>
			<td>Matthew Chang</td>
			<td>9</td>
			<td>Matthew runs the floor well. Cuts hard on offense and hits shots off of that.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Trevor-Covey-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58847" /></td>
			<td>288</td>
			<td>Trevor Covey</td>
			<td>9</td>
			<td>Trevor showed ability to hit perimeter shots in transition. On defense his early box-outs would get him rebounds.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>278</td>
			<td>Keyon Billie</td>
			<td>11</td>
			<td>Keyon always looked ahead in transition to pass ahead. Showed skill set to take &amp; make open 3.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>289</td>
			<td>Michael Ginyard</td>
			<td>9</td>
			<td>Michael showed a willingness to compete on defense. Physical player who sets very hard screens.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/george-smyth-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58787" /></td>
			<td>149</td>
			<td>George Smyth</td>
			<td>11</td>
			<td>Runs the floor well for his size and rebounds well. High energy guy.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>117</td>
			<td>Kyle Moore</td>
			<td>9</td>
			<td>Kyle is able to change direction well with his dribble. Great skill set, high upside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Zahmir-Butler-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58852" /></td>
			<td>212</td>
			<td>Zahmir Butler</td>
			<td>13</td>
			<td>Team player looking to get others involved. Very creative offensive player, good hesitation pull-up jumper.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/anthony-gomez1-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58762" /></td>
			<td>213</td>
			<td>Anthony Gomez</td>
			<td>11</td>
			<td>Anthony can create for others when attacking the basket. Good shot off  the dribble &amp; competes on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Basil-Bonney-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58755" /></td>
			<td>225</td>
			<td>Basil Bonney</td>
			<td>12</td>
			<td>Strong combo guard who likes to push pace in transition. High energy player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/connor-klementowicz-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58771" /></td>
			<td>241</td>
			<td>Connor Klementowicz</td>
			<td>11</td>
			<td>Coaches player. Does all the work that might not show up on stat sheet. Pushes ball in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/abe-feliz1-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58759" /></td>
			<td>372</td>
			<td>Abe Feliz</td>
			<td>11</td>
			<td>A combo guard that looks aggressively to score the ball.  Can dribble &amp; attack with both hands.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jason-shill-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58798" /></td>
			<td>370</td>
			<td>Jason Shill</td>
			<td>10</td>
			<td>Good perimeter shooter. Very understanding of rotations on defense, always in a stance.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jason-Magid1-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58797" /></td>
			<td>368</td>
			<td>Jason Magid</td>
			<td>10</td>
			<td>Guard who excels in the open court. Has a quick first step to blow by defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jordan-tutt-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58807" /></td>
			<td>500</td>
			<td>Jordan Tutt</td>
			<td>12</td>
			<td>Long, athletic guard who can score in the open court. High volume scorer.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Brett-Roe-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58767" /></td>
			<td>373</td>
			<td>Brett Reo</td>
			<td>10</td>
			<td>Player that will sacrifice his body for the team.  Always moving on offense without the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kevin-Callahan-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58815" /></td>
			<td>371</td>
			<td>Kevin Callahan</td>
			<td>11</td>
			<td>Terrific on-ball defender. Creates open shots for others with his skilled passing. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/michael-famosa-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58831" /></td>
			<td>477</td>
			<td>Micahel Famosa</td>
			<td>12</td>
			<td>Quick, speedy guard who can push the tempo.  Good shot off the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Simon-Llaguno-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58842" /></td>
			<td>369</td>
			<td>Simon Liaguno</td>
			<td>9</td>
			<td>A glue guy, high energy player who shows his passion through work ethic. Great help defender &amp; terrific attitude.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/deshaun-best-crossen-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-58778" /></td>
			<td>502</td>
			<td>Dashaun Best-Crassen</td>
			<td>12</td>
			<td>Dashaun moves the ball quickly &amp; passes ahead in transition. Very active defender with hands &amp; quick feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kevin-Weekes-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-58820" /></td>
			<td>54</td>
			<td>Kevin Weekes</td>
			<td>11</td>
			<td>Plays above his size rebounding the ball. Defensively, 1-on-1, forces offense into tough shots.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>451</td>
			<td>Brandon Anderson</td>
			<td>11</td>
			<td>Diverse skill set offensively. Ability to shoot, off the catch or dribble, as well as attack the basket.</td>
		</tr>
	</tbody>
</table>
