<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Latrell Townsend</td>
			<td>2019
Egg Harbor Township High School</td>
			<td>Strengths: Solid point guard who can finish well around the rim. High IQ level on the defensive end by rotating and jumping passing lanes. 

Weaknesses: Will elevate his offensive game by developing his decision making skills on the offensive end. </td>
		</tr>
		<tr>
			<td> Zach Doyle</td>
			<td>2019</td>
			<td>Strengths: Team player who is able to shoot or get to the rim when given space. Runs the floor hard and competes every possession. 

Weaknesses: Needs to focus on developing a "go to" offensive move which will give him confidence on the offensive end. This will make him a bigger threat.  </td>
		</tr>
		<tr>
			<td> Matt Amechi</td>
			<td>2019
St. Augustine Prep</td>
			<td>Strengths: Sharp, athletic point guard with quick feet. Good ball handling skills and a strong passer. Can score both inside and out. 

Weaknesses: If he gets physically stronger, this will enable him to finish through contact at the rim. </td>
		</tr>
		<tr>
			<td> Mason White</td>
			<td>2019
Wallkill Valley Regional High</td>
			<td>Strengths: Hustle player who has a high basketball IQ. Good passer and shooter.

Weaknesses: Improvement on his footwork will make him a better defender. </td>
		</tr>
		<tr>
			<td> Derek Snyder</td>
			<td>2019
Wallkill Valley Regional High</td>
			<td>Strengths: Good rebounder who can score in the post. Hardest worker. 

Weaknesses: Can improve his perimeter game which will compliment his post game. </td>
		</tr>
		<tr>
			<td>Carlile Prince</td>
			<td>2017</td>
			<td>Strengths: Hard worker who is very quick and athletic. Uses his athleticism to his advantage. 

Weaknesses: Should focus on seeing the open man and knowing when he can attack the basket hard. </td>
		</tr>
		<tr>
			<td> Jordan Trotman</td>
			<td>2017
Plainfield HS</td>
			<td>Strengths: Strong bodied forward who runs the floor hard. Very strong in the post but can also shoot fro the perimeter. 

Weaknesses: Needs to focus on making better decisions on when to attack or kick the ball out.  </td>
		</tr>
		<tr>
			<td>Mason Mosley</td>
			<td>2020
West Town</td>
			<td>Strengths: Quick, athletic player who is very good at attacking the basket. Runs the floor well.

Weaknesses: Can improve his shooting range which will make him a more versatile scorer. </td>
		</tr>
		<tr>
			<td>Luke Hanning</td>
			<td>2018
Middletown South High School</td>
			<td>Strengths: Point guard with the ability to handle the ball and pass. Runs the floor well and is more of a passer. 

Weaknesses: Can become more of an offensive threat by focusing on his shooting ability and range. </td>
		</tr>
		<tr>
			<td> Andre Forbes</td>
			<td>2019</td>
			<td>Strengths: Unselfish player who is always trying to get his teammates open. Hustles and isn't afraid to get on the floor. 

Weaknesses: Needs to improve his quickness and strength which will help him on both offense and defense. </td>
		</tr>
		<tr>
			<td> Ahman Cooks</td>
			<td>2018
North Hunterdon</td>
			<td>Strengths: Talented player with solid ball skills and the ability to score anywhere on the floor. Great court vision enabling him to be a facilitator. 

Weaknesses: Can elevate his offensive game by making the simple play. </td>
		</tr>
		<tr>
			<td> Seamus Hogan</td>
			<td>2017
Manasquan</td>
			<td>Strengths: Tall, post player with great potential. Has good post moves in the paint. Good help defender. 

Weaknesses: Needs to focus on his defensive positioning in order to elevate his game. </td>
		</tr>
		<tr>
			<td>Joshua Cabezudo</td>
			<td>2018
Perth Amboy High School</td>
			<td>Strengths: Quick, athletic guard with nice scoring touch. Has the ability to both shoot and drive. Has good court vision. 

Weaknesses: Can become a more versatile player by focusing on his defense and shooting range. </td>
		</tr>
		<tr>
			<td> Dawson Pitoniak</td>
			<td>2022
Cicero North Syracuse</td>
			<td>Strengths: High IQ guard with good decision making skills. Finds the open man and makes every hustle play. 

Weaknesses: Increasing his speed will help him on both ends of the floor. </td>
		</tr>
		<tr>
			<td>Robert Miller Jr. </td>
			<td>2018
Union Catholic</td>
			<td>Strengths: Good finisher at the basket. Very good at attacking the rim and has great court vision. 

Weaknesses: Can become more of a well-rounded player by working on his outside game. </td>
		</tr>
		<tr>
			<td> Andrew Brown</td>
			<td>2017</td>
			<td>Strengths: Relentless rebounder, especially on the offensive boards. Great in transition with a scorer's mentality. 

Weaknesses: Needs to focus on finding the open teammate which will enable him to make his team better. </td>
		</tr>
		<tr>
			<td> Luke Bukowiec</td>
			<td>2017
St. Peter's Prep</td>
			<td>Strengths: Unselfish guard who looks to get his teammates involved off of penetration. Very quick defensively allowing him to contain the ball handler. Good release on his jump shot. 

Weaknesses: Can be more aggressive on offense in order to counter his jump shot. </td>
		</tr>
		<tr>
			<td>Zong Zhao</td>
			<td>2017</td>
			<td>Strengths: High energy player who has active hands on rebounds, loose balls, and deflections. Small point guard with the ability to get into the paint by staying low. 

Weaknesses: Can improve his offensive game by finishing strong through contact around the rim. </td>
		</tr>
		<tr>
			<td> Jayden Dawson</td>
			<td>2018
Teaneck High School</td>
			<td>Strengths: Great passer with quick hands. Runs the floor well and uses both hands. A strong rebounder. 

Weaknesses: Needs to focus on his outside shot so that he can be an inside and outside threat. </td>
		</tr>
		<tr>
			<td> Devin Chislom</td>
			<td>2017</td>
			<td>Strengths: Quick, athletic guard with the ability to run the floor. Very hard worker. 

Weaknesses: Can improve his ball handling skills and shooting range in order to become an offensive threat. </td>
		</tr>
		<tr>
			<td>Syed Athar</td>
			<td>2018
Franklin High School</td>
			<td>Strengths: Quick release guard with deep range. Moves well without the ball and reads screens efficiently. Active on ball defender and contains his opponent. 

Weaknesses: Can improve his offensive game by developing his ball handling skills further in order to dribble under pressure. </td>
		</tr>
		<tr>
			<td> Zane Crum</td>
			<td>2019
Wallkill Valley</td>
			<td>Strengths: Strong forward who is very active on the glass. Rim runs very hard on every possession. Communicates well on the defensive end. 

Weaknesses: Can become a larger offensive threat by developing his touch around the rim. </td>
		</tr>
		<tr>
			<td>Trevor Anthony</td>
			<td>2018
Bishop Ahr</td>
			<td>Strengths: Strong, quick point guard who can handle the ball and pass well. A tenacious defender. Has a very good hesitation crossover to get to the basket. 

Weaknesses: Can elevate his offensive game by improving his 3 point shot. </td>
		</tr>
		<tr>
			<td>Eddie Evans</td>
			<td>2020
Trenton Catholic</td>
			<td>Strengths: Solid defender who helped his teammates. Has the ability to go both left and right, giving him the opportunity to create. 

Weaknesses: Can become more of an all around player by staying committed on defense and becoming more of an active rebounder. </td>
		</tr>
		<tr>
			<td> Devin Jensen</td>
			<td>2017
Manasquan</td>
			<td>Strengths: Bigger guard with tremendous release on his jump shot. Very good playmaker who is able to get to the rim with crafty finishes or find the open man off of penetration. Demonstrated toughness on both ends of the floor. 

Weaknesses: Can improve his offensive game by continuing to develop his shot selection. </td>
		</tr>
		<tr>
			<td>Charlie Levine </td>
			<td>2020
Scotch Plains Fanwood
</td>
			<td>Strengths: Capable shooter, who showed range out to the 3pt line. With good base mechanics. Showed an ability to defend off the ball. Plays within himself, and makes smart plays
Weaknesses: As his body and quickness develops his overall game will improve. </td>
		</tr>
		<tr>
			<td>Nate Lyles</td>
			<td>2018</td>
			<td>Strengths: Long, active wing who excels at slashing to the rim. Crashes the glass on both ends of the floor and is very disruptive on the defensive end. 

Weaknesses: Can become a bigger offensive threat by developing a consistent jump shot. </td>
		</tr>
		<tr>
			<td>Bailey Foster</td>
			<td>2017
Digital Harbor High School</td>
			<td>Strengths: Solid player with good range on his jumper. Very good in transition and runs the floor well. 

Weaknesses: Can elevate his game by focusing on defensive positioning and understanding of the game. </td>
		</tr>
		<tr>
			<td>Stephen Braunstein</td>
			<td>2019
Christian Brothers Academy</td>
			<td>Strengths: Small forward who rebounds and runs the floor well. 

Weaknesses: Needs to work on finishing strong and through contact in order to elevate his game. </td>
		</tr>
		<tr>
			<td> Christopher Azouri</td>
			<td>2020</td>
			<td>Strengths: Hustle player who is not afraid to get on the floor for loose balls. Moves very well without the ball. 

Weaknesses: Needs to focus on gaining strength in order to attack the rim. </td>
		</tr>
		<tr>
			<td>Brian Burns</td>
			<td>2019
Haddon Township</td>
			<td>Strengths: Physical wing with a high basketball IQ and motor. Capable of finishing both inside and on the perimeter. 

Weaknesses: Can improve his perimeter shot consistency in order to become a more versatile scorer. </td>
		</tr>
		<tr>
			<td> Rodney Sheridan Jr. </td>
			<td>2019</td>
			<td>Strengths: Good point guard with the ability to pass, dribble, and score. Makes the hustle plays and is calm in traffic. 

Weaknesses: Can improve his offensive game by developing his left hand finishes at the rim. </td>
		</tr>
		<tr>
			<td> Kobe Robinson</td>
			<td>2018
Franklin High School</td>
			<td>Strengths: Great team player on offense, moves the ball and sets screens. Very active on the glass. Solid ball handling skills in transition. 

Weaknesses: Can become a bigger offensive threat by improving his touch around the rim. </td>
		</tr>
		<tr>
			<td>Xander Korolik</td>
			<td>2019
Wall Township High School</td>
			<td>Strengths: Physical forward with good touch around the rim. Active rebounder. 

Weaknesses: Can focus on staying in control of his body. </td>
		</tr>
		<tr>
			<td> Karsten Johnson </td>
			<td>2018
Northern Burlington</td>
			<td>Strengths: Quick guard in transition. Can score the ball from the three or off the dribble. 

Weaknesses: Can improve his activity and movement off of the ball. </td>
		</tr>
		<tr>
			<td> Pat Kernan</td>
			<td>2019
Shawnee High School</td>
			<td>Strengths: Excellent playmaker with a high basketball IQ. Smooth on offense and good defender. Unselfish player. 

Weaknesses: Needs to focus on his 3 point shot in order to become a bigger offensive threat. </td>
		</tr>
		<tr>
			<td> Eric Berkins</td>
			<td>2020
Scotch Plains Fanwood</td>
			<td>Strengths: Good all around  player with strong ball handling skills. Can hit the open 3 but likes to drive. 

Weaknesses: Needs to focus on using his left hand with dribble moves in order to keep defenders honest. </td>
		</tr>
		<tr>
			<td>Justin Digesu</td>
			<td>201?
Union Catholic</td>
			<td>Strengths: Good catch and shoot guard with range past the 3. Great court vision in transition and finds the open man. 

Weaknesses: Can elevate his offensive game by focusing on putting the ball on the floor and getting to the rim. </td>
		</tr>
		<tr>
			<td> Derek Cunningham</td>
			<td>2017
Bayridge Prep</td>
			<td>Strengths: Quick guard who excels in transition and getting to the rim and finishing. Nice shot with good range. Very aggressive on ball defender. 

Weaknesses: Can improve his transition game by improving his decision making. </td>
		</tr>
		<tr>
			<td>Niko Rusche</td>
			<td>2019</td>
			<td>Strengths: Hustle player with a high IQ of the game. Good passer.  

Weaknesses: Can elevate his offensive game by developing a consistent outside shot and gaining quickness in order to drive to the basket and finish through contact. </td>
		</tr>
		<tr>
			<td> Joshua Gestosani</td>
			<td></td>
			<td>Strengths: Athletic guard who always plays hard. Makes the hustle plays. 

Weaknesses: Can improve his ball handling skills in order to give him more driving opportunities. </td>
		</tr>
		<tr>
			<td>Jelani Jackson</td>
			<td>2018</td>
			<td>Strengths: Combo guard with solid ball handling skills. Effective in pick and roll situations, making the right play. Aggressive on ball defender. 

Weaknesses: Can become a bigger offensive threat by working on his 3 point shot. </td>
		</tr>
		<tr>
			<td> Simon Llaguno</td>
			<td>2018
Bishop Ahr</td>
			<td>Strengths: All around player with good ball handling skills and has shown the ability to score in multiple ways. Uses his length and athleticism to drive by defenders. 

Weaknesses: Needs to focus on staying low on the perimeter in order to keep defenders off of him. </td>
		</tr>
		<tr>
			<td>Luke Gensler</td>
			<td>2021</td>
			<td>Strengths: Good defender and rebounder. Hustle player who shows the ability to find the open man. 

Weaknesses: Needs to work on his outside shooting in order to become more involved in the offense. </td>
		</tr>
		<tr>
			<td> Ross Gang</td>
			<td>2018
Milburn</td>
			<td>Strengths: Athletic power forward who can score inside and outside. Active defender who rebounds well. Runs the floor well and sees the open man. 

Weaknesses: Can become a more versatile player by working on his shooting range. </td>
		</tr>
		<tr>
			<td> Marc Cerbo</td>
			<td>2017
Middletown North High School</td>
			<td>Strengths: Skilled guard who pushes tempo and looks to facilitate for his teammates. Good catch and shoot from three. Runs the team. 

Weaknesses: Can elevate his game by keeping his opponent in front of him and focusing on making the simple play. </td>
		</tr>
		<tr>
			<td> Tanner Gensler</td>
			<td>2019</td>
			<td>Strengths: Combo guard with the ability to stretch the floor with his quick release. Very unselfish and sets solid screens and makes the extra pass. 

Weaknesses: Can improve his defense by working on his lateral quickness. </td>
		</tr>
		<tr>
			<td>Sam Moore</td>
			<td>2019
Seton Hall Preparatory School</td>
			<td>Strengths: Wing guard who can score in transition. Very hard worker and hustle player. 

Weaknesses: Can become more of an all around player by focusing on his defensive positioning and ball handling skills. </td>
		</tr>
		<tr>
			<td> Isiah Dasher</td>
			<td>2017
Ferris High School</td>
			<td>Strengths: Wing player who runs the court well and can finish on the break. Good ball handling skills with the ability to drive. Good rebounder with long arms. 

Weaknesses: Can become a more versatile scorer by focusing on his 3 point shot. </td>
		</tr>
		<tr>
			<td> Domenic Mignone</td>
			<td>2017
Rutherford</td>
			<td>Strengths: Hard worker who can score in multiple ways. Scores in transition and has a nice shot from 3. Strong attacker one on one. Quick defender. 

Weaknesses: Needs to become physically stronger in order to hold off defenders. </td>
		</tr>
		<tr>
			<td>Miles Crystian</td>
			<td>2019
Mater Dei Prep</td>
			<td>Strengths: Long wing with the ability to finish around the rim with good touch. Smart, active defender. 

Weaknesses: Can elevate his offensive game by developing a consistent jump shot. </td>
		</tr>
		<tr>
			<td> Jordan Hall</td>
			<td>2020
Middle Township</td>
			<td>Strengths: Combo guard with a strong mid range game off of the dribble. Finishes through contact on his drives. Good on ball defender. 

Weaknesses: Can improve his offensive game by making the simple play. </td>
		</tr>
		<tr>
			<td>Daniel Sofield</td>
			<td>2019
Jackson Liberty</td>
			<td>Strengths: Skilled forward who can handle the ball and finishes with either hand. Great rebounder with good court vision enabling him to start the break. Runs the floor. 

Weaknesses: Can become a more versatile scorer by including other dribble moves to his game. </td>
		</tr>
		<tr>
			<td>John Miller</td>
			<td>2017
Mercersburg Academy</td>
			<td>Strengths: Solid all around player who can handle the ball in traffic. Good finisher around the rim and picks gaps to penetrate into. 

Weaknesses: Needs to stay aggressive on the offensive end. </td>
		</tr>
		<tr>
			<td> Devin Carney</td>
			<td>2021</td>
			<td>Strengths: Point guard with the ability to dribble, pass, and shoot. Likes to push the tempo. 

Weaknesses: Can become a more versatile threat by working on driving into the lane through traffic. </td>
		</tr>
		<tr>
			<td> Dwaine Jones</td>
			<td>2019</td>
			<td>Strengths: A shooter with excellent range. Has great court vision and makes good decisions. 

Weaknesses: Can improve his game by bringing intensity on the defensive end. </td>
		</tr>
		<tr>
			<td> Bill McRea</td>
			<td>2019
Washington Township High School</td>
			<td>Strengths: Long, active player with a high basketball IQ. Can score at the rim. 

Weaknesses: Can elevate his offensive game by focusing on scoring in traffic and finishing through contact. </td>
		</tr>
		<tr>
			<td>Jason Weber</td>
			<td>2020
Notre Dame High</td>
			<td>Strengths: A hard worker with nice shooting form and has good court vision. 

Weaknesses: Can become an all around player by working on his ball handling skills and defensive pressure. </td>
		</tr>
		<tr>
			<td> Tyler Fowlkes</td>
			<td>2018
Mater Dei</td>
			<td>Strengths: Combo guard who does a tremendous job of distributing the ball and setting his teammates up. Nice shot off of the dribble. 

Weaknesses: Can improve his defense by staying alert and constantly focused on both the ball and his man. </td>
		</tr>
		<tr>
			<td> Ryan Granito</td>
			<td>2019
St. Joseph High School</td>
			<td>Strengths: Skilled guard with a nice shot out to 21 feet. Runs the floor and sees the open man. Hard worker who defends well. 

Weaknesses: Can elevate his game by focusing on his shot selection. </td>
		</tr>
		<tr>
			<td> William Finnie</td>
			<td>2017
Franklin D. Roosevelt</td>
			<td>Strengths: Great athlete with great offensive and defensive rebounding abilities. Hard working with good ball handling skills. 

Weaknesses: He can improve his offensive game by working on his outside shot. </td>
		</tr>
		<tr>
			<td>Noah Bruno</td>
			<td>2017
Brick Township High School</td>
			<td>Strengths: Quick, athletic forward who can score both inside and outside. Rebounds and runs the floor well. 

Weaknesses: Can become a more versatile player by improving his ball handling and passing skills. </td>
		</tr>
		<tr>
			<td>Travis Holland</td>
			<td>2018
Toms River North High School</td>
			<td>Strengths: Great penetrator with strong ball handling skills and uses both hands. Runs the floor well and has a great attitude. 

Weaknesses: Can improve his offensive game by developing his outside shot and getting physically stronger. </td>
		</tr>
		<tr>
			<td>Tavian L Alford</td>
			<td>2017
South Brunswick</td>
			<td>Strengths: Strong, quick player with the ability to elevate and stay under control. Makes smart decisions. Lefty with a good outside shot. 

Weaknesses: Can elevate his game by communicating more on the court. </td>
		</tr>
		<tr>
			<td>Robert Melillo</td>
			<td>2017
Somerville High</td>
			<td>Strengths: Sharp point guard who has great ball handling skills and can defend. Great court vision and rebounds from the guard position well. High IQ. 

Weaknesses: Needs to get physically stronger to finish through contact in the lane. </td>
		</tr>
		<tr>
			<td> Devin Cooper</td>
			<td>2018
Red Bank Regional </td>
			<td>Strengths: Strong guard who excels in transition and pushes the tempo. Very good defender with great anticipation for steals. Great slasher and stays in control. 

Weaknesses: Can round out his game by developing his jump shot. </td>
		</tr>
		<tr>
			<td>Jackson Vertucci </td>
			<td>2017
Archbishop Molloy</td>
			<td>Strengths: Very quick guard with a good mid range jumper. Smart on both ends of the floor. 

Weaknesses: Can elevate his defensive game by gaining lateral quickness. </td>
		</tr>
		<tr>
			<td>Vernon Morris</td>
			<td>2020 
Mater Dei</td>
			<td>Strengths: Plays very hard. Shows an ability to get by his defender. 

Weaknesses: Once he improves his ability to finish at the rim, his offensive game will be greatly improved.</td>
		</tr>
		<tr>
			<td> Elijah Mitchell </td>
			<td>2017
Mater Dei</td>
			<td>Strengths: Strong player with great speed to the basket and the ability to elevate. Very unselfish and good passing skills. 

Weaknesses: Needs to work on his outside shot to improve his offensive game and needs to stay calm on the court. </td>
		</tr>
		<tr>
			<td> Blake Arlington</td>
			<td>2019
Ocean Township High School</td>
			<td>Strengths: Smart player with very good range on his jump shot. Great at catch and shoot. 

Weaknesses: Can become harder to guard if he develops his shot off of the dribble. </td>
		</tr>
		<tr>
			<td>Donovan Ryland</td>
			<td>2018
Trenton Catholic</td>
			<td>Strengths: Quick guard who is able to take over a game. Hard worker who always involves his teammates. Good defender. 

Weaknesses: Can elevate his offensive game by working on his decision making. </td>
		</tr>
		<tr>
			<td> Mark Valeriani</td>
			<td>2017
Southern Regional</td>
			<td>Strengths: Physical guard with great form on his jump shot. Very good at the catch and shoot. 

Weaknesses: He will take his offensive game to another level when he develops a more consistent jumper. </td>
		</tr>
		<tr>
			<td>Josh Green</td>
			<td>2019
East Brunswick High </td>
			<td>Strengths: A smooth guard with a nice jumper from the perimeter. Can hit the open shot off of kick outs from teammates. 

Weaknesses: Can improve his offensive game by developing his ball handling skills and becoming a more versatile offensive threat. </td>
		</tr>
		<tr>
			<td> Joseph McCoy</td>
			<td>2018
Tottenville</td>
			<td>Strengths: Strong point guard with the ability to finish in traffic. Strong ball handling skills to get to the rim. Distributes the ball well and can shoot the 3. 

Weaknesses: Needs to work on his pull up jumper in order to bring his offensive game to the next level. </td>
		</tr>
		<tr>
			<td> Wilton Sylvester</td>
			<td>2019
St. Anthony's</td>
			<td>Strengths: Long, athletic player who can drive off of the catch. Very quick first step to get to the rim. Good shooting form. 

Weaknesses: Needs to work on his shooting ability and ball handling skills in order to bring his game to the next level. </td>
		</tr>
		<tr>
			<td>Jacob Kester</td>
			<td>2019
Holy Redeemer</td>
			<td>Strengths: Hustle player who isn't afraid to get on the floor. High IQ and good footwork. 

Weaknesses: Can become a more versatile offensive threat by working on his mid range game. </td>
		</tr>
		<tr>
			<td> Kyle Koob</td>
			<td>2019
Shore Regional</td>
			<td>Strengths: Wing guard who can step out and shoot. Scores in transition. Passes and rebounds well. 

Weaknesses: Can elevate his game by working on his ball handling skills. </td>
		</tr>
		<tr>
			<td> Elijah Fields</td>
			<td>2018
Greater Johnstown</td>
			<td>Strengths: Long wing who uses his length to alter shots and get deflections on defense. Very good slasher to the basket and has a nice mid range pull up game. 

Weaknesses: Can become a more versatile player by improving his shot from 3 point range. </td>
		</tr>
		<tr>
			<td>Isaiah Adams</td>
			<td>2019
Theodore School</td>
			<td>Strengths: Smart ball handler with nice form on his jumper. Excels in transition. 

Weaknesses: Will become a terrific all around player once he stays focused on defense. </td>
		</tr>
		<tr>
			<td>Thomas Hendrickson</td>
			<td>2019</td>
			<td>Strengths: Active, inside player on the boards. Shown the ability to score off of rebounds and off of post moves. Good ball handling skills. 

Weaknesses: Can become more of a threat by improving his shooting. </td>
		</tr>
		<tr>
			<td>Joe Batelli</td>
			<td>2019
Jefferson</td>
			<td>Strengths: Very good perimeter shooter and likes to push the tempo with his ball handling skills. High energy and effort player. Gets teammates involved. 

Weaknesses: Will become a more efficient player if he works on his point guard skills, understanding when and where to distribute or score. </td>
		</tr>
		<tr>
			<td> Kristopher Parbs</td>
			<td>2019
St. Edmonds Academy</td>
			<td>Strengths: Strong hustle player who rebounds well for his size. Solid passer. 

Weaknesses: Needs to work on finishing through contact which will make him a more versatile player. </td>
		</tr>
		<tr>
			<td> Amir Britt</td>
			<td>2020
Union Catholic</td>
			<td>Strengths: Bigger wing who utilizes his body on drives, absorbs contact, and finishes well. Good lift on his jump shot. 

Weaknesses: Can elevate his game by staying focuses on defense. </td>
		</tr>
		<tr>
			<td> Sean McAndrew</td>
			<td>2018
Wilson</td>
			<td>Strengths: Great hustle player with an excellent work ethic. Is a good teammate and has strong basketball skills. 

Weaknesses: Can work on his outside shot which will open up the lane. </td>
		</tr>
		<tr>
			<td>Michael Koch</td>
			<td>2018
Bergen Catholic High </td>
			<td>Strengths: Active player with a great first step and finishes well at the rim. Great in transition. 

Weaknesses: Once he develops a more consistent perimeter game, he will be very hard to stop. </td>
		</tr>
		<tr>
			<td>Kenneth Munro</td>
			<td>2017
St. John Vianney</td>
			<td>Strengths: Solid player with quick feet and can play both inside and outside. A true competitor with solid basketball skills. 

Weaknesses: Needs to play hard through every possession and make good decisions in order to make a bigger impact on the floor. </td>
		</tr>
		<tr>
			<td> Moe Fofana</td>
			<td>2018
Wings Academy</td>
			<td>Strengths: Athletic wing and slasher. Very active on the boards and uses his length to alter shots defensively. 

Weaknesses: Needs to develop his jump shot and range in order to elevate his offensive game. </td>
		</tr>
		<tr>
			<td> John Beattie</td>
			<td>2020
St. Rose</td>
			<td>Strengths: Forward with a high skill level. Likes to pass to his teammates but can shoot the 3. Has great court vision and drives with both hands. 

Weaknesses: Can keep defenders honest by being a more aggressive scorer. </td>
		</tr>
		<tr>
			<td> Colin Hyland</td>
			<td>2018
St. Mary's</td>
			<td>Strengths: Active guard with great shooting ability and range. Scrappy player who fights for rebounds and makes the hustle plays. 

Weaknesses: Can blow by defenders under pressure by developing his ball handling skills. </td>
		</tr>
		<tr>
			<td>Raven Merritt</td>
			<td>2019
Urban Assembly</td>
			<td>Strengths: Athletic forward who runs the floor well and can score in transition. Good rebounder and finds the open man. 

Weaknesses: Can become an all around player by focusing on his shooting range and defensive positioning. </td>
		</tr>
		<tr>
			<td> Ryan Starr</td>
			<td>2018
Northern Highlands Regional </td>
			<td>Strengths: Great passer with great court vision. Possesses strong ball handling skills and has excellent hesitation and change of speed moves. 

Weaknesses: Can elevate his offensive game by working on a pull up off the dribble. </td>
		</tr>
		<tr>
			<td> Bernardo J Herasme Jr.</td>
			<td>2019
Bogota High School</td>
			<td>Strengths: Well-rounded guard with a solid mid range game and can get to the rim. Is very active on the defensive end, constantly getting deflections. 

Weaknesses: If he can play hard for every possession, he will make a larger impact on the floor. </td>
		</tr>
		<tr>
			<td> Delano Whitfield</td>
			<td>2019
Peddie</td>
			<td>Strengths: Unselfish player with an excellent handle and is very quick. 

Weaknesses: Once he gains a consistent jumper, he will be very difficult to guard. </td>
		</tr>
		<tr>
			<td>Jalen Sampson</td>
			<td>2019
Lenape </td>
			<td>Strengths: Quick and athletic player who always plays hard. Can score and defends well. 

Weaknesses: Should focus on improving his ball handling skills which will enable him to make strong drives to the basket. </td>
		</tr>
		<tr>
			<td> Tay Kock</td>
			<td>2019
Washington Township High School</td>
			<td>Strengths: Wing guard who has shown the ability to both shoot and drive. Rebounds and defends well. 

Weaknesses: Should focus on his physicality within the game. </td>
		</tr>
		<tr>
			<td>Kenjee Polanco</td>
			<td>2019
Paramus Catholic</td>
			<td>Strengths: Strong combo guard who can handle with either hand. Uses his strength effectively and can overtake a game. 

Weaknesses: Should focus on competing for every possession on defense. </td>
		</tr>
		<tr>
			<td> Mike Ginyard</td>
			<td>2018
Shawnee High School</td>
			<td>Strengths: Good win player who can both drive and shoot. Good rebounder and can run the break. 

Weaknesses: Needs to become physically stronger in order to finish through contact. </td>
		</tr>
		<tr>
			<td> Henderson Mautes</td>
			<td>2017
Sayreville</td>
			<td>Strengths: Unselfish guard who moves the ball offensively. Finishes well at the rim and has range to the 3 point line. 

Weaknesses: Can improve his transition game by making better decisions. </td>
		</tr>
		<tr>
			<td> Dean Noll</td>
			<td>2018
Shawnee </td>
			<td>Strengths: Very athletic guard who can score in multiple ways. Rebounds the guard position very well and runs the floor. 

Weaknesses: Can elevate his game by making better passing and shooting decisions. </td>
		</tr>
		<tr>
			<td> Dylan Deveney</td>
			<td>2018
Shawnee High School</td>
			<td>Strengths: Athletic forward who runs the floor and finishes in transition. Can step out and hit the long 2. Unselfish player who finds the open man 

Weaknesses: Can improve his offensive game by working on low post moves. </td>
		</tr>
		<tr>
			<td> Riguad Ryan Destime</td>
			<td>2017
Copiague High School</td>
			<td>Strengths: Hustle player who makes the players around him better. Good ball handling skills as he pushes the tempo. 

Weaknesses: Should focus on getting to the basket and using his dribble effectively. </td>
		</tr>
		<tr>
			<td> Luke Valentino</td>
			<td>2018
CBA</td>
			<td>Strengths: Strong driver who likes to go left with a nice crossover. Tough player who finishes strong through the drive. 

Weaknesses: Can improve his shot in order to keep defenders honest. </td>
		</tr>
		<tr>
			<td> Josh Kline</td>
			<td>2018
Central Valley</td>
			<td>Strengths: Long, athletic player with nice footwork around the basket. Good hands and gets off the floor quickly. 

Weaknesses: Needs to put on some muscle to finish through contact. </td>
		</tr>
		<tr>
			<td>Andrew Valentino</td>
			<td>2020</td>
			<td>Strengths: Guard with the ability to drive the ball into the lane and finish with either hand. Always looking to advance the ball up the floor and competes during every possession. 

Weaknesses: Needs to stay involved in the offense when the ball is not in his hands. </td>
		</tr>
		<tr>
			<td> Chase Mlecz</td>
			<td>2019
North Warren</td>
			<td>Strengths: Strong point guard with good ball handling skills. Likes to distribute to his teammates first and has a nice 3 point shot when open. 

Weaknesses: Needs to get physically stronger in order to finish through contact. </td>
		</tr>
		<tr>
			<td>Pat Costa</td>
			<td>2018
Hammonton High School</td>
			<td>Strengths: High IQ player who makes good decisions. Stays under control while distributing the basketball. 

Weaknesses: Can elevate his offensive game by working on his outside shot. </td>
		</tr>
		<tr>
			<td>Kasaun Thomas</td>
			<td>2018
Lawrence Woodmere</td>
			<td>Strengths: An electric ball handler who controls the tempo and runs the show. Can score in bunches and plays with intensity. 

Weaknesses: Needs to focus on making the simple play instead of the difficult play. </td>
		</tr>
		<tr>
			<td> Marc Dadika</td>
			<td>2018
St. Mary's</td>
			<td>Strengths: Natural scorer with the ability to shoot from the perimeter and finish at the rim. Rebounder with good hands. Posts up strong in the paint. 

Weaknesses: Needs to get physically stronger in order to improve his finishes around the rim. </td>
		</tr>
		<tr>
			<td> Connor DeVeney</td>
			<td>2019
Shawnee</td>
			<td>Strengths: Combo guard with good ball handling skills who uses his body to hold off defenders. A natural scorer with the ability to shoot 3's, pull ups, and floaters. 

Weaknesses: Can improve his offensive game by improving his shot selection. </td>
		</tr>
		<tr>
			<td> Bryce Nash</td>
			<td>2018
Old Tappan</td>
			<td>Strengths: Athletic forward who runs the floor and scores in transition. Good rebounder. 

Weaknesses: Must improve his outside shooting range. </td>
		</tr>
		<tr>
			<td> Jackson McCarthy</td>
			<td>2019
Rumson Fair Haven</td>
			<td>Strengths: Combo guard with a nice catch and shoot jump shot. Very unselfish in moving the ball offensively. 

Weaknesses: Needs to focus on containing the ball handler. </td>
		</tr>
		<tr>
			<td> Jack Pettit</td>
			<td>2019
St. Peter's Prep</td>
			<td>Strengths: Crafty combo guard with a quick release jump shot. Good range and consistency from 3, but has the ability to finish in multiple ways. 

Weaknesses: Should focus on his on ball defense in order to contain the ball handler. </td>
		</tr>
		<tr>
			<td> Felix Ramos</td>
			<td>2018
Paterson Eastside</td>
			<td>Strengths: All around player who is able to play multiple positions. Defends well in the full court and rebounds from the guard position. Strong attacking the basket. 

Weaknesses: Should focus on increasing his range on his jump shot. </td>
		</tr>
		<tr>
			<td> Bryan Henderson</td>
			<td>2019
Queen of Peace</td>
			<td>Strengths: Combo guard with good ball handling skills allowing him to separate from his defenders. Very physical driver and looked to create contact before finishing at the basket. 

Weaknesses: Needs to improve his consistency on his jump shot in order to elevate his game. </td>
		</tr>
		<tr>
			<td>Matthew Lee</td>
			<td>2019
Paterson Eastside</td>
			<td>Strengths: True point guard with strong ball handling skills and can distribute the ball to his teammates. Great defender with quick hands and speed. 

Weaknesses: Continue to work on shooting range in order to open up the lane. </td>
		</tr>
		<tr>
			<td> Trevin Midgette</td>
			<td>2019
Franklin</td>
			<td>Strengths: Wing player with the ability to finish strong at the rim and is very active on the glass. 

Weaknesses: Needs to continue to work on his jump shot in order to become more of an all around player. </td>
		</tr>
		<tr>
			<td>Kyle Brown</td>
			<td>2018
Queen of Peace High</td>
			<td>Strengths: Strong guard with a nice lefty jump shot. Uses his strength to create separation offensively. Very active on the offensive glass. 

Weaknesses: Needs to focus on making the simple play offensively. </td>
		</tr>
		<tr>
			<td>Michael Yeller</td>
			<td>2020
Seton Hall Prep</td>
			<td>Strengths: A smart player with great passing skills. Is constantly trying to help his teammates on defense. 

Weaknesses: Needs to become quicker overall and become more involved on the offensive end. </td>
		</tr>
		<tr>
			<td> Tahaj Parland</td>
			<td>2020
Mater Dei High School</td>
			<td>Strengths: An aggressive defender on the ball who excels by penetrating gaps on offense. Has shown a deadly pull up. 

Weaknesses: Needs to get physically stronger. </td>
		</tr>
		<tr>
			<td> Antonio Finsterer</td>
			<td>2018
Keene Central</td>
			<td>Strengths: A solid all around guard who has a high IQ and is very team oriented. Good passer and has a nice shot off the catch. 

Weaknesses: A 3 point shot off of the dribble would complete his offensive game. </td>
		</tr>
		<tr>
			<td>Azriel Finsterer</td>
			<td>2018
Keene Central</td>
			<td>Strengths: Tough player who never takes a play off. Has shown good form on his jump shot. 

Weaknesses: Can add some range to his jump shot to make it harder for defenders to guard him. </td>
		</tr>
		<tr>
			<td> William Wright II</td>
			<td>2020
Williams Valley High School</td>
			<td>Strengths: A hard worker who rebounds very well. Plays very hard defense and has good ball handling skills. 

Weaknesses: Needs to focus on developing his offensive game to become an all around player. </td>
		</tr>
		<tr>
			<td> Brian Jemmott</td>
			<td>2018
Queens High School of Teaching Arts and Sciences </td>
			<td>Strengths: A high energy point guard who likes to find the open man and has good ball handling skills. Can break down his man and set up his teammates. 

Weaknesses: Needs to focus on finishing at the basket in order to keep the defense honest. </td>
		</tr>
		<tr>
			<td> Brian Day</td>
			<td>2021
St. Benedict's </td>
			<td>Strengths: Sold point guard with the ability to run a team. Has strong ball handling skills and is a good passer. Good 3 point shot. 

Weaknesses: Can improve his game by working on a consistent 3 point shot. </td>
		</tr>
	</tbody>
</table>
