<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Grade</th>
			<th>Coach Evaluation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Aboky-Djanty, Jonathon</td>
			<td>11</td>
			<td>Jon is a high energy player who gives everything he has on every possession. He does a great job of running in transition to create easy scoring opportunites for himself. Jon is a great teammate who is easy to play with.</td>
		</tr>
		<tr>
			<td>Amos, Anas</td>
			<td>9</td>
			<td>Anas is an electic point guard who has tremendous court vision. He's extremely unselfish with the ball and facilitates on offense. Anas displayed a knack for getting to the rim with ease by using his explosiveness.</td>
		</tr>
		<tr>
			<td>Athias, Ahmaz</td>
			<td>9</td>
			<td>Ahmaz is a lefty wingman who can really finish around the rim. He excels off the dribble and has the explosiveness to blow past defenders to get to his spots on the court. On defense, he is a pesty on ball defender who does a great job of creating steals for his team. </td>
		</tr>
		<tr>
			<td>Baldachino, Joseph</td>
			<td>9</td>
			<td>Joseph is a skilled offensive player who knows when to take it himself and when to set up his teammates. He is a great passer and sees the court well in transition. He is a solid three point shooter who has unlimited range.</td>
		</tr>
		<tr>
			<td>Bertrand, Sean</td>
			<td>9</td>
			<td>Sean is an unselfish player who will do anything to help his team win. He competes on both ends of the court and never takes a play off. He is a skilled defender who really takes pride at that end of the court.</td>
		</tr>
		<tr>
			<td>Boesch, Peyton</td>
			<td>9</td>
			<td>Peyton is a smart offensive player who knows how to get himself open for good looks. He is a knockdown three point shooter who defenses canÕt leave open. Other than being a great shooter, Peyton does a great job of attacking the lanes on offense. </td>
		</tr>
		<tr>
			<td>Bonaparte, Drayton</td>
			<td>10</td>
			<td>Drayton is a lefty combo guard who changes the game in a variety of ways. He plays with great burst and uses his quick first step to attack the rim. He is an active defender and constantly disrupts the passing lanes.</td>
		</tr>
		<tr>
			<td>Brockett, Jack</td>
			<td>10</td>
			<td>Jack is a talented player, especially on the offensive end. He has all the tools to be a great player. He has a tight handle which he uses to create for his teammates and himself. When his feet are set, Jack is a lights out shooter who rarely misses. </td>
		</tr>
		<tr>
			<td>Buono, Noah</td>
			<td>11</td>
			<td>Noah is an athletic small forward who can do it all on the basketball court. He runs the court well in transition to create easy scoring opportunites for his team. He is an active player who plays hard on both ends of the court.</td>
		</tr>
		<tr>
			<td>Carter, Jermane</td>
			<td>11</td>
			<td>Jermane is an effective inside player who displayed great footwork down low. He does a great job of creating second chance opportunites for his team and finishes well around the rim. He has a good looking mid-range jumper for a big man.</td>
		</tr>
		<tr>
			<td>Ceesay, Hassan</td>
			<td>10</td>
			<td>Hassan is a highly skilled offensive player who can score in a variety of ways. He excels when attacking the basket and he has the strength to finish with contact. Hassan is also unselfish and looks to distribute the ball to his teammates.</td>
		</tr>
		<tr>
			<td>Cheatham, Jasiyah</td>
			<td>11</td>
			<td>Jasiyah is a very good point guard who does a great job of facilitating the offense and running the team. He sees the court extremely well and knows how to attack the gaps. Defensively, Jasiyah is an excellent on ball defender. </td>
		</tr>
		<tr>
			<td>Cherry, Tyrese</td>
			<td>11</td>
			<td>Tyrese is a very effective scorer when attacking the basket. He uses his body well and has explosiveness to get to the rim. He competes on every play and is a great teammate.</td>
		</tr>
		<tr>
			<td>Cho, Matthew</td>
			<td>9</td>
			<td>Matthew is a hardworking player who competes on both ends of the court. He has a high basketball IQ and always gets himself in good positions on the defensive end. He understands the concept of help defense and does a great job of sliding over.</td>
		</tr>
		<tr>
			<td>Clark, Jalen</td>
			<td>10</td>
			<td>Jalen is an aggressive player who has a very high motor. For a wing, Jalen does a great job of attacking the boards. He can score in a variety of ways, but is at his best when driving to the rim or pulling up for mid-range jumpers. </td>
		</tr>
		<tr>
			<td>Colon, Jaylen</td>
			<td>10</td>
			<td>Jaylen is a scoring guard who possesses a versatile offensive repertoire. He is a very good three point shooer with deep range. He has a knack for attacking the basket where he can finish with either hand.</td>
		</tr>
		<tr>
			<td>Cooks, Ahman</td>
			<td>9</td>
			<td>Ahman looks the part as he has good size and length for his age. He showed great competitive spirit and toughness. His ability to make all the hustle plays makes him a valuable asset to his team.</td>
		</tr>
		<tr>
			<td>Cooper, Devin</td>
			<td>10</td>
			<td>Devin is a well rounded guard who does a little bit of everything. He excels in the open court where he uses his court vision to his advantage in order to create for teammates. He is effective when attacking the basket and does a great job of finishing around the rim.</td>
		</tr>
		<tr>
			<td>Crisler, Zach</td>
			<td>9</td>
			<td>Zach is an extremely skilled big man, especially on the offensive end of the floor. He can score in a variety of ways including off the dribble, quick pull-ups and deep step backs. He rebounds well and is always looking to push the ball in transition where he displayed great passing ability. </td>
		</tr>
		<tr>
			<td>Crum, Zane</td>
			<td>9</td>
			<td>Zane is a skilled interior player who excels on the defensive end of the court. He is a solid interior post defender who does a great job of denying entry passes and disrupting shots. Zane plays hard and competes on every possession.</td>
		</tr>
		<tr>
			<td>Deiter, James</td>
			<td>11</td>
			<td>James is a knockdown shooter who opponents can't leave open. He is a smart player who knows how to get to his spots on the offensive end. On the defensive end, James is an active player who goes after every rebound.</td>
		</tr>
		<tr>
			<td>DeVeney, Connor</td>
			<td>9</td>
			<td>Connor is a three point shooter who has unlimited range. His ability to stretch the floor makes him a valuable asset to any team. In addition to his shooting ability, Connor also showed he can finish around the rim. </td>
		</tr>
		<tr>
			<td>Done, Carlos</td>
			<td>12</td>
			<td>Carlos is a slashing guard who is highly effective at getting to the rim. He is tough to guard and uses his body well to absorb contact. He takes pride on the defensive end of the court and really digs in.</td>
		</tr>
		<tr>
			<td>Elliott, Connor</td>
			<td>9</td>
			<td>Connor plays unselfish basketball and is a great teammate. He is very vocal and does a great job communicating with his teammates on defense. He has the ability to shoot from deep consistently.</td>
		</tr>
		<tr>
			<td>Garcia, Jesus</td>
			<td>12</td>
			<td>Jesus does the little things well that help his team win, especially on the defensive end where he is constantly active and communicating. On offense, he is a good screener and rolls with authority. His good hands allow him to catch and finish from the low post. </td>
		</tr>
		<tr>
			<td>Gary, Darius</td>
			<td>11</td>
			<td>Darius is a long, athletic player which he uses to his advantage on the defensive end. He displayed great agility and is constantly getting deflections and steals. Darius showed the ability to score off the bounce consistently all night. </td>
		</tr>
		<tr>
			<td>Gaudio, Shane</td>
			<td>11</td>
			<td>Shane is a versatile scorer who excels in transition. He sees the court well and knows when to pick his spots on the court. He can score in a variety of ways including around the rim and from deep.</td>
		</tr>
		<tr>
			<td>Giles, Jarick</td>
			<td>10</td>
			<td>Jarick is a tenacious defender who disrupts his opponent constantly. He makes the offense work for every inch on the court and never gives up anything easy. He is an active player who creates many deflections and goes after every loose ball.</td>
		</tr>
		<tr>
			<td>Gill, Khristian</td>
			<td>12</td>
			<td>Khristian is a long, athletic player who is extremely active. On defense, he is an exceptional shot blocker and anticipates well. He is active on the glass and is a great rebounder. On offense, he finishes well around the rim and does a great job of creating second chance points for his team. </td>
		</tr>
		<tr>
			<td>Ginyard, Michael</td>
			<td>10</td>
			<td>Michael is an all-around player who does many things well. Offensively, he looks to push in transition and create for his teammates. He looks to go coast to coast and finishes well around the rim. </td>
		</tr>
		<tr>
			<td>Grimsley, Ibn</td>
			<td>9</td>
			<td>Ibn has a great feel for the game of basketball and is always in the right spots on the floor. He is a great passer and does a good job of setting up his teammates for open shots. He knows when to pick his spots on offense to create his own shots.</td>
		</tr>
		<tr>
			<td>Gussen, Max</td>
			<td>11</td>
			<td>Max is a tough, athletic forward who competes on both ends of the court. He is an exceptional rebounder and consistently attacks the glass. On offense, Max has great touch around the rim and is a great finisher. </td>
		</tr>
		<tr>
			<td>Gussen, Max</td>
			<td>11</td>
			<td>Max is a very active player who uses his quick burst to attack the glass. His length makes him a great positional defender as he is constantly disrupting his opponent and altering shots. Max is a high IQ player who has a great feel for the game.</td>
		</tr>
		<tr>
			<td>Harrington, Dave</td>
			<td>12</td>
			<td>Dave is an active player who competes on both ends of the court. He is an active defender as he is always disrupting the passing lanes. He is a great leader who is constantly communicating with his teammates and directing them where to go on the court.</td>
		</tr>
		<tr>
			<td>Harris, Kelvin</td>
			<td>10</td>
			<td>Kelvin is a quick guard who uses his handle to create for his teammates. He is a slasher who gets to the rim with ease. Kelvin is extremely athletic which allows him to remain active on both ends of the court.</td>
		</tr>
		<tr>
			<td>Higgs-Salaam, Jabari</td>
			<td>9</td>
			<td>Jabari is a quick guard who has the ability to stop on a dime and hit pull-up jumpers. He displayed great court vision and is always looking to get his teammates involved. He is a great leader who did a great job of managing the tempo of the game.</td>
		</tr>
		<tr>
			<td>Hoch, Joseph</td>
			<td>10</td>
			<td>Joseph is a heady player who has a great feel for the game. He displayed great court vision and the ability to pass the basketball. Joseph is a crafty scorer who can consistently knock down open threes.</td>
		</tr>
		<tr>
			<td>Howell, Mark</td>
			<td>11</td>
			<td>Mark is a facilitating point guard who any coach would love to have on their team. He sees the court very well and delivers the ball to his teammates on time and in the right spots. He has a great handle and always plays with great pace.</td>
		</tr>
		<tr>
			<td>Kennedy, Liam</td>
			<td>9</td>
			<td>Liam is a well rounded player who is extremely skilled on the offensive end. He can dribble, pass and shoot well. He excels off the dribble and can create for himself and his teammates. </td>
		</tr>
		<tr>
			<td>Kharbouch, Ayoub</td>
			<td>12</td>
			<td>Ayoub is an unselfish player who will do anything to help his team win. On offense, he has the ability to hit open jumpers with time and space. Ayoub is a downright competitor who never takes a play off. </td>
		</tr>
		<tr>
			<td>Koch, Michael</td>
			<td>10</td>
			<td>Michael is a solid all-around combo guard who can really shoot the ball. He couples his shooting ability with his knack for attacking the rim, making him a versatile offensive threat. He does a great job of backing down smaller defenders and uses his quick dribble to get to the basket. </td>
		</tr>
		<tr>
			<td>Ludwikowski, Tyler</td>
			<td>10</td>
			<td>Tyler is a gritty guard that plays with great energy. On offense, Tyler does a great job of using his body to get into position and finish around defenders. He takes pride on the defensive end and is a very good positional defender. </td>
		</tr>
		<tr>
			<td>Martin, Martini</td>
			<td>9</td>
			<td>Martini is a quick guard who thrives in transition. He sees the court extremely well and knows which gaps to attack on the break. He is a hardworking player who competes on both ends of the court.</td>
		</tr>
		<tr>
			<td>Martin, Ricky</td>
			<td>10</td>
			<td>Ricky is a great defender, especially when on the ball. He uses his length and athleticism to disrupt the ball handler. On offense, Ricky displayed great court vision and always seemed to find the open teammate. </td>
		</tr>
		<tr>
			<td>Mautes, Henderson</td>
			<td>11</td>
			<td>Henderson is an active player who runs the floor very well. He gets easy baskets in transition and when he isn't taking it himself, he has the ability to find his teammates. He consistently outworked his opponents and is the first one on the floor after loose balls. </td>
		</tr>
		<tr>
			<td>McCaffery, Ryan</td>
			<td>10</td>
			<td>Ryan is a fierce competitor who is as tough as they come. He never takes a play off and does all the little things to help his team win. He knows how to get to the basket and he uses his body well to finish around the rim.</td>
		</tr>
		<tr>
			<td>McCrae, Billy</td>
			<td>9</td>
			<td>Billy is an active player who attacks the glass on both ends of the court. He is always working hard and competing on every possession. He is effective when attacking the basket and does a great job of finishing with his left hand.</td>
		</tr>
		<tr>
			<td>McJolly, David</td>
			<td>12</td>
			<td>David is a versatile, lefty, combo guard who can score in a variety of ways. He is a knockdown three point shooter with deep range. He excels when driving to the basket and kicking it out to open teammates. </td>
		</tr>
		<tr>
			<td>McKeython, Raine</td>
			<td>12</td>
			<td>Raine is an all-around effective player who is active on both ends of the court. He rebounds extremely well for a wing and takes pride on the defensive end. He is a tough matchup on offense as he is always probing and attacking the paint.</td>
		</tr>
		<tr>
			<td>Miller, Robert</td>
			<td>10</td>
			<td>Robert is an aggressive scoring guard that is effective in transition. He likes to push the tempo and does a great job of getting to the rim on offense. Rob uses his body well, which he uses to finish in traffic. </td>
		</tr>
		<tr>
			<td>Mlecz, Chase</td>
			<td>9</td>
			<td>Chase is an excellent teammate who does a great job of facilitating on offense. He excels in transition and is always looking to push the ball ahead to open teammates. He competes on both ends of the court and never takes a play off.</td>
		</tr>
		<tr>
			<td>Moody, Michael </td>
			<td>11</td>
			<td>Michael is a quick, explosive guard who is highly effective when going to the rim. In addition, he displayed good court vision and always seems to make the right basktball play. On defense, Michael is active and does a great job of keeping his opponent in front of him. </td>
		</tr>
		<tr>
			<td>Moore, Marcus</td>
			<td>9</td>
			<td>Marcus is an active player, especially on the defensive end. He is an excellent on ball defender and does a great job of disrupting his opponent. Marcus is an unselfish player and his primary goal is to help his team win. </td>
		</tr>
		<tr>
			<td>Moran, Zach</td>
			<td>10</td>
			<td>Zach is an unselfish player that competes on both ends of the floor. On offense, he plays with great pace and is able to shoot with range. He is a steady player who always seems to make the right basketball play. </td>
		</tr>
		<tr>
			<td>Morgan, Zachary</td>
			<td>10</td>
			<td>Zachary was one of the most active defenders all night. On offense, he is shifty and gets to the rim with ease. He is a high energy player who exuberates passion, which his teammates feed off of. </td>
		</tr>
		<tr>
			<td>Morris-Noelle, Charles</td>
			<td>11</td>
			<td>Charles is an active player who anticipates well on the defensive end. He has a tight handle and a quick first step, which allow him to penetrate the defense. He is a crafty player who always plays under control. </td>
		</tr>
		<tr>
			<td>Noll, Dean</td>
			<td>10</td>
			<td>Dean is a high IQ player who knows how to play the game the right way. On offense, he has a great handle which he uses to penetrate and create for himself and his teammates. Dean competes on every possession and never takes a play off. </td>
		</tr>
		<tr>
			<td>North, Marcus</td>
			<td>10</td>
			<td>Marrcus is a high motor player with endless energy. He goes after every rebound and does a great job of creating second chance opportunites for his team on the offensive end. He excels in transition where he is able to create easy scoring opportunities.</td>
		</tr>
		<tr>
			<td>Orth, Mike</td>
			<td>10</td>
			<td>Mike is a solid shooter, especially when he is set. He can score in a variety of ways and displayed a strong pull-up game. He plays hard on both ends of the court and is always competing. </td>
		</tr>
		<tr>
			<td>Orth, Mike</td>
			<td>10</td>
			<td>Mike is an explosive player who loves to attack the rim. He plays with a great change of pace and uses that deception to get to the rim whenever he wants. He is very vocal and displayed great leadership skills.</td>
		</tr>
		<tr>
			<td>Perez, Jamael</td>
			<td>11</td>
			<td>#219 is an athletic big man who runs the court extremely well. He is active on the boards on both ends of the court. On offense, he has a soft touch around the rim and is an effective finisher. </td>
		</tr>
		<tr>
			<td>Petit, Jack</td>
			<td>9</td>
			<td>Jack is an all-around solid combo guard. He has a tight handle and does a great job of penetrating off the dribble. Jack is a high IQ player who knows when to take it himself and when to kick to the open teammate.</td>
		</tr>
		<tr>
			<td>Ramos, Michael</td>
			<td>9</td>
			<td>Michael is an unselfish player that looks to find the open man on offense. He is a good shooter who showed he has the ability to consistently hit open jumpers. His physical strength allows him to play inside-out basketball, and he isn't afraid to get involved in the paint. </td>
		</tr>
		<tr>
			<td>Redden Jr., Gary</td>
			<td>10</td>
			<td>Gary is an active player who runs the floor well in transition. He excels on the break where he is a great finisher around the rim. He has the ability to step out and knock down threes with deep range.</td>
		</tr>
		<tr>
			<td>Robinson, Daevon </td>
			<td>10</td>
			<td>Daevon is an explosive wing that does a great job of getting to his spots on the court. He is a lockdown defender who creates havoc on the defensive end of the floor. He has quick hands which allow him to disrupt the passing lanes.</td>
		</tr>
		<tr>
			<td>Robinson, Macio</td>
			<td>10</td>
			<td>Macio is a quick point guard who loves to get his teammates involved. His ability to distribute the basketball is second to none. His high IQ, tight handle and solid passing ability make him a tough matchup. </td>
		</tr>
		<tr>
			<td>Searcy, Josh</td>
			<td>10</td>
			<td>#21 is a strong, physical player who is effective in the post both offensively and defensively. He uses his strength to body up his opponent on defense. Offensively, he is strong with the basketball and uses his body well to finish around the rim. </td>
		</tr>
		<tr>
			<td>Sheffield, Justice</td>
			<td>9</td>
			<td>Justice is a leader who does a great job of controlling the tempo of the game. He has a natural ability to create on offense and does a great job facilitating. He is a tough minded player who never takes a play off.</td>
		</tr>
		<tr>
			<td>Snyder, Derek</td>
			<td>9</td>
			<td>Derek is a high IQ player who always seems to make the right play. He is a strong positonal defender and he really takes pride in that end of the court. He is a hardworker and never takes a possession off.</td>
		</tr>
		<tr>
			<td>Solomon, Nasir</td>
			<td>10</td>
			<td>Nasir is a great slasher who displayed his effectiveness around the rim. He is an unselfish player who likes to facilitate on offense. In addition to his ability to attack the basket, Nasir has the ability to shoot from the outside. </td>
		</tr>
		<tr>
			<td>Spears, Elijah</td>
			<td>9</td>
			<td>Elijah is an unselfish player who always looks to get his teammates involved. He competes very hard on both ends of the court. Offensively, Elijah displayed a tight handle, which he uses to penetrate the gaps and attack the paint.   </td>
		</tr>
		<tr>
			<td>Stephan, Robbie</td>
			<td>10</td>
			<td>Robbie is an all-around offensive player who can score and create. He is a knockdown three point shooter when he has time and space. He has great court vision and does a great job of finding the open teammate.</td>
		</tr>
		<tr>
			<td>Talbot, Peter</td>
			<td>10</td>
			<td>Peter is a long, athletic player who uses his length to his advantage on both ends of the court. He has a great feel for the game and consistently makes the correct basketball play. Peter has a high motor and is extremely active on the defensive end. </td>
		</tr>
		<tr>
			<td>Truell, Marcus</td>
			<td>10</td>
			<td>Marcus is an athletic swingman who is effective on both ends of the court. He uses his athleticism to grab rebounds, especially on the defensive end. On offense, Marcus excels at attacking the basket and can finish with either hand. </td>
		</tr>
		<tr>
			<td>Washington, Brandon</td>
			<td>11</td>
			<td>Brandon is a hardworker who competes on every possession. He is active on the offensive end and does a great job of setting screens for his teammates. He has a knack of keeping loose balls alive and constantly creates second chance opportunites for his team.</td>
		</tr>
		<tr>
			<td>Way, Navado</td>
			<td>11</td>
			<td>Navado is a workhorse in the paint who doesn't back down from any opponent. He is extremely active and attacks every rebound. Offensively, Navado displayed quick post moves and a soft touch around the rim. </td>
		</tr>
		<tr>
			<td>Weekes, Kevin</td>
			<td>12</td>
			<td>Kevin is an active swing player who excels when driving to the basket. He has great court vision and always seems to find the open man. For his size, Kevin does a great job of attacking the glass and collecting rebounds. </td>
		</tr>
		<tr>
			<td>White, Mason</td>
			<td>9</td>
			<td>Mason is a hardworking player who competes on every possession. He does the little things well on both ends of the court including diving for loose balls and setting good screens. He is an unselfish point guard who has a great feel for the game.</td>
		</tr>
		<tr>
			<td>Williamson, Ray</td>
			<td>11</td>
			<td>Ray is a hardworking player who sprints the floor well and gets out in transition. He is at his best offensively when the game is played at a fast pace.  He is very unselfish on the offensive end and is always looking to find the open man.</td>
		</tr>
		<tr>
			<td>Winschuh, Matt</td>
			<td>11</td>
			<td>Matt is a great competitor who never takes a play off. He constantly disrupts passing lanes on defense and creates turnovers. On offense, he does a great job of going after rebounds to give his team second chance opportunites. </td>
		</tr>
	</tbody>
</table>
