<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys and Girls</th>
			<th>Days</th>
			<th>Time</th>
			<th>Price</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Mike Rice Basketball School
July 16th-20th</td>
			<td>Grades 2-12</td>
			<td>Mon-Fri</td>
			<td>9am - 2pm</td>
			<td>$300</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-mike-rice-basketball-school-2018">Register Here </a></td>
		</tr>
		<tr>
			<td>Mike Rice Scoring Camp
August 6th-10th</td>
			<td>Grades 2-12</td>
			<td>Mon-Fri</td>
			<td>9am - 2pm</td>
			<td>$300</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-mike-rice-scoring-camp--2018">Register Here </a></td>
		</tr>
	</tbody>
</table>
