<table>
	<thead>
		<tr>
			<th>Session</th>
			<th>Dates</th>
			<th>Grades</th>
			<th>Class Day</th>
			<th>Time</th>
			<th>Price</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Mike Rice Spring 1 Workouts </td>
			<td>March 14 - April 11</td>
			<td>Boys: 4-7</td>
			<td>Wednesday ONLY</td>
			<td>4:30-5:30 </td>
			<td>$190 (drop in $42)</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-mike-rice-workout-(4-7)--wednesday-spring1">Register Here </a></td>
		</tr>
		<tr>
			<td>Mike Rice Spring 1 Workouts </td>
			<td>March 14 - April 11</td>
			<td>Boys: 8-11</td>
			<td>Wednesday ONLY</td>
			<td>5:30-6:30</td>
			<td>$190 (drop in $42)</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-mike-rice-workout-(8-11)--wednesday-spring1">Register Here </a></td>
		</tr>
		<tr>
			<td>Mike Rice Basketball School Spring 1</td>
			<td>March 16 - April 13</td>
			<td>Boys: 4-7</td>
			<td>Friday ONLY</td>
			<td>4:30-5:30</td>
			<td>$190 (drop in $42)</td>
			<td><a href="https://store.hoopgroup.com/events/2016-hghq-core-skills-(2-6)-both-fall-2">Register Here </a></td>
		</tr>
		<tr>
			<td>Mike Rice Basketball School Spring 1</td>
			<td>March 16 - April 13</td>
			<td>Boys: 8-11</td>
			<td>Friday ONLY</td>
			<td>5:30-6:30</td>
			<td>$190 (drop in $42)</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-mike-rice-basketball-school-(8-11)--fridays-spring1">Register Here </a></td>
		</tr>
		<tr>
			<td>Mike Rice Spring 1 Shooting Lab</td>
			<td>February 5 - March 5</td>
			<td>Boys: 6-9</td>
			<td>Monday</td>
			<td>6:30-7:30</td>
			<td>$190 (drop in $42)</td>
			<td></td>
		</tr>
		<tr>
			<td>Fall 2</td>
			<td>October 20 - November 17</td>
			<td>Boys &amp; Girls: 8-12</td>
			<td>Friday ONLY</td>
			<td>4:30-5:30</td>
			<td>$190 (drop in $45)</td>
			<td><a href="https://store.hoopgroup.com/events/2017-hghq-mike-rice-workout-(8-12)-friday-only-fall2">Register Here </a></td>
		</tr>
	</tbody>
</table>
