<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Boys &amp; Girls</th>
			<th>Class Day</th>
			<th>Time</th>
			<th>Price</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>January 15</td>
			<td>Grades 2-9</td>
			<td>Monday</td>
			<td>9am - 2pm </td>
			<td>$85 ($95 if not pre registered)</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-mlk-hoop-fest-basketball-clinic-2018">Register Here </a></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
