<table>
	<thead>
		<tr>
			<th>Session</th>
			<th>Boys &amp; Girls</th>
			<th>Class Days</th>
			<th>Times</th>
			<th>Sign Up</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>January 21</td>
			<td>Grades 3-9</td>
			<td>Monday</td>
			<td>9:00AM- 2:00PM </td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_93&amp;products_id=1479">Sign Up!</a></td>
		</tr>
	</tbody>
</table>
