<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jack Dwyer</td>
			<td>5'8"</td>
			<td>St. Benedict's (N.J.)</td>
			<td>Class of 2014</td>
		</tr>
		<tr>
			<td>Jordan Decicco</td>
			<td>6'0"</td>
			<td>Kingston HS (N.Y.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Cole Renninger</td>
			<td>6'1"</td>
			<td>Central Mountain (Pa.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Zack Burnett</td>
			<td>6'1"</td>
			<td>Fairfax HS (Va.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Darren Hawkins</td>
			<td>6'1"</td>
			<td>Freedom HS (Va.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Brandon Bridy</td>
			<td>6'2"</td>
			<td>Pottsville Area (Pa.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Jalen Robinson</td>
			<td>6'3"</td>
			<td>Bowie (Md.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Charles Jones</td>
			<td>6'4"</td>
			<td>Mt. St. Joseph (Md.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Brandon Wyatt</td>
			<td>6'4"</td>
			<td>Glen Allen HS (Va.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Micah Riddick</td>
			<td>6'4"</td>
			<td>Kingston HS (N.Y.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Alrick Ashley</td>
			<td>6'2"</td>
			<td>South Shore (N.Y.)</td>
			<td>Class of 2013</td>
		</tr>
	</tbody>
</table>
