<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Most Outstanding Player</td>
			<td>Umar Saaba</td>
			<td>6-2</td>
			<td>Boys Latin (Pa.)</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Dominic Loveless</td>
			<td>6-4</td>
			<td>Wake Forest Rolesville (N.C.)</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>John Moutopoulos</td>
			<td>6-0</td>
			<td>Albany (N.Y.) Academy</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>All-Star MVP</td>
			<td>Franklin Webb</td>
			<td>6-0</td>
			<td>Our Lady of Mt. Carmel (Md.)</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Zach Bryan</td>
			<td>5-9</td>
			<td>Norwin (Pa.) High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Jonny David</td>
			<td>6-1</td>
			<td>Mt. Lebanon (Pa.) High School</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
