<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Grade</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Most Outstanding Player</td>
			<td>Dayshon Smith</td>
			<td>6'1"</td>
			<td>Putnam Science</td>
			<td>Senior</td>
		</tr>
		<tr>
			<td>League MVP</td>
			<td>Tyree Gibson</td>
			<td>6'3"</td>
			<td>Reading HS</td>
			<td>Sophomore</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Evgenii Grishin</td>
			<td>6'6"</td>
			<td>Khimki (RSA)</td>
			<td>Post-Grad</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Chimaecki Ekekeugbor</td>
			<td>6'0"</td>
			<td>CBA</td>
			<td>Junior</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Casuan Caudle</td>
			<td>5'8"</td>
			<td>Kinnick HS</td>
			<td>Post-Grad</td>
		</tr>
		<tr>
			<td>Co-Sweatshop Star</td>
			<td>Alexsander Dubovitski</td>
			<td>6'4"</td>
			<td>Marianapolis Prep</td>
			<td>Senior</td>
		</tr>
	</tbody>
</table>
