<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School </th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Most Outstanding Player</td>
			<td>Isaiah Whitehead</td>
			<td>6-4</td>
			<td>Lincoln (N.Y.) High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Most Outstanding Prospect</td>
			<td>Isaiah Briscoe</td>
			<td>6-3</td>
			<td>St. Benedict's (N.J.) Prep School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Deonte Robinson</td>
			<td>6-5</td>
			<td>Imhotep (Pa.) Charter School</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>All Star MVP</td>
			<td>Kory Holden</td>
			<td>6-2</td>
			<td>Bennett (Md.) High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Joseph "Jojo" Cooper</td>
			<td>6-0</td>
			<td>Tatnall (Del.) High School</td>
			<td>2014</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Malcolm Walters</td>
			<td>6-2</td>
			<td>St. Edwards (Ohio) High School</td>
			<td>2014</td>
		</tr>
	</tbody>
</table>
