<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Brandon Chacua</td>
			<td>5'9"</td>
			<td>CFC Academy (B.C.)</td>
			<td>Class of 2014</td>
		</tr>
		<tr>
			<td>Jordan Vargas</td>
			<td>5'11"</td>
			<td>Atlantic Christian (N.J.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Austin Hill</td>
			<td>6'0"</td>
			<td>Hopewell Valley Central (N.J.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Agyei Gregory</td>
			<td>6'2"</td>
			<td>St. Andrews (R.I.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Myles McLeod</td>
			<td>6'3"</td>
			<td>Teaneck (N.J.)</td>
			<td>Class of 2014</td>
		</tr>
		<tr>
			<td>Jaylen  Morris</td>
			<td>6'1"</td>
			<td>St. Joseph's (N.Y.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Saadiq Muhammad</td>
			<td>6'3"</td>
			<td>Archbishop Hoban (Ohio)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Tim Patton</td>
			<td>6'4"</td>
			<td>Trenton Catholic (N.J.)</td>
			<td>Class of 2014</td>
		</tr>
		<tr>
			<td>Lloyd Howell</td>
			<td>6'5"</td>
			<td>St. Albans School (D.C.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Dardan Ostrozubi</td>
			<td>6'5"</td>
			<td>Gunnery Prep (Conn.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Malik Janifer</td>
			<td>6'0"</td>
			<td>LaSalle College HS (Pa.)</td>
			<td>Class of 2013</td>
		</tr>
	</tbody>
</table>
