<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Most Outstanding Player</td>
			<td>Mohamed Touray</td>
			<td>6'2"</td>
			<td>Wings Academy (N.Y.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Most Improved</td>
			<td>Tyler McShea</td>
			<td>6'4"</td>
			<td>Pemberton HS (N.J.)</td>
			<td>Class of 2016</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Travis Alston</td>
			<td>6'4"</td>
			<td>Christ the King (N.Y.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Isiah Jennings</td>
			<td>5'10"</td>
			<td>Lehigh Valley Academy (Pa.)</td>
			<td>Class of 2016</td>
		</tr>
	</tbody>
</table>
