<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Dereck Oliver</td>
			<td>5'6"</td>
			<td>Patterson HS (Md.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Blair Brooks</td>
			<td>5'11"</td>
			<td>Boys Latin School (Md.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Shawn Witherspoon</td>
			<td>6'2"</td>
			<td>Lasalle HS (Pa.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Mohamed Touray</td>
			<td>6'2"</td>
			<td>Wings Academy (N.Y.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Sam Worman</td>
			<td>6'2"</td>
			<td>Flint Hill (Va.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Brandon Cyrus</td>
			<td>6'3"</td>
			<td></td>
			<td>Class of 2016</td>
		</tr>
		<tr>
			<td>Dillon Brooks</td>
			<td>6'5"</td>
			<td>Father Henry Carr (Can.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Samuel Friday</td>
			<td>6'5"</td>
			<td>Hudson Catholic (N.J.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Kwame Morton</td>
			<td>6'5"</td>
			<td>Lincoln (N.Y.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Manny Taylor</td>
			<td>6'7"</td>
			<td>Life Center Academy (N.J.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Desure Buie</td>
			<td>5'6"</td>
			<td>Wings Academy (N.Y.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Charles Hopkins</td>
			<td>6'0"</td>
			<td>Sussex Tech (De.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Gary Jefferson</td>
			<td>6'2"</td>
			<td>Archbishop Spalding (Md.)</td>
			<td>Class of 2015</td>
		</tr>
	</tbody>
</table>
