<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Grade</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Most Outstanding Player</td>
			<td>DeVante Cross</td>
			<td>6'0"</td>
			<td>Parkland HS (Pa.)</td>
			<td>Freshman</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Timmy Marshall</td>
			<td>6'2"</td>
			<td>Baldwinsville HS (N.Y.)</td>
			<td>Sophomore</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Braxton Nappier</td>
			<td>5'10"</td>
			<td>Light House Christian (Tenn.)</td>
			<td>Sophomore</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Chase Nappier</td>
			<td>5'8"</td>
			<td>Light House Christian (Tenn.)</td>
			<td>Sophomore</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Dominic Loveless</td>
			<td>6'4"</td>
			<td>Heritage School</td>
			<td>Sophomore</td>
		</tr>
	</tbody>
</table>
