<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Kurk Lee</td>
			<td>5'5"</td>
			<td>St. Francis (Md.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Terrell Allen</td>
			<td>5'10"</td>
			<td>DeMatha Catholic (Md.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Ahmad Harrison</td>
			<td>5'10"</td>
			<td>Newark Eastside (N.J.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Nicholas Brooks</td>
			<td>5'11"</td>
			<td>Rutgers Prep (N.J.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Tyree Gibson</td>
			<td>6'2"</td>
			<td>Reading HS (Pa.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Jermaine Blackmon</td>
			<td>6'2"</td>
			<td>Davidson Day (N.C.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Tyler Scanlon</td>
			<td>6'5"</td>
			<td>Paul VI (Va.)</td>
			<td>Class of 2016</td>
		</tr>
		<tr>
			<td>Kelly Hogan</td>
			<td>6'5"</td>
			<td>Seton Hall Prep (N.J.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Carnell Harley</td>
			<td>6'5"</td>
			<td>Imhotep Charter (Pa.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Patrick Andree</td>
			<td>6'6"</td>
			<td>CBA (N.J.)</td>
			<td>Class of 2016</td>
		</tr>
		<tr>
			<td>Koby McKewan</td>
			<td></td>
			<td>Bishop Marrocco</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Eric D'Aguanno</td>
			<td>6'3"</td>
			<td>Marianapolis Prep (Conn.)</td>
			<td>Class of 2016</td>
		</tr>
	</tbody>
</table>
