<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Coaches Eval</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/devonn-allen-300x215.jpg" alt="" width="300" height="215" class="aligncenter size-medium wp-image-64586" /></td>
			<td>Allen, Devonn</td>
			<td>11</td>
			<td>Devonn is a high flying guard who runs the floor extremely well. He drives to the rim hard every possession and creates openings for his teammates. He has great body control and is never off balance when attacking the hoop.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/sage-ballard-300x207.jpg" alt="" width="300" height="207" class="aligncenter size-medium wp-image-64638" /></td>
			<td>Ballard, Sage</td>
			<td>9</td>
			<td>Sage plays with great intensity and has a high basketball IQ for his age. He is able to break down his defender and get into the paint whenever he wants. The strongest part of his game is his ability to create separation and hit mid range jumpers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/victor-billups-jackson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64647" /></td>
			<td>Billups-Jackson, Victor</td>
			<td>12</td>
			<td>Victor is a confident guard who has an array of moves off the dribble that allow him to get into the paint. He moves well without the ball and is great at changing speeds and direction.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/marley-blommers-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64623" /></td>
			<td>Blommers, Marley</td>
			<td>11</td>
			<td>Marley is a defensive specialist who is always in the right position and helps when his teammates get beat. He uses his big frame to gather rebounds and create second chance opportunities. He does a great job of cutting hard to the hoop.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/joel-boyce-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64602" /></td>
			<td>Boyce, Joel</td>
			<td>12</td>
			<td>Joel is a tough nosed player who hustles and fights for every loose and 50-50 ball. He has an impressive mid range game and consistently hit 12-15 foot jumpers. His on ball defense makes him a complete player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/kyle-butler-300x191.jpg" alt="" width="300" height="191" class="aligncenter size-medium wp-image-64617" /></td>
			<td>Butler, Kyle</td>
			<td>9</td>
			<td>Kyle is a crafty guard who gets in the paint and finishes well at the rim. He has good form on his jumpshot which extends out to the 3 point line. He positions himself on defense to stop his man and help when his teammates get beat.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jovan-calhoun-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-64611" /></td>
			<td>Calhoun, Jovan</td>
			<td>10</td>
			<td>Jovan got after every loose ball and was willing to take charges on defense. He does an excellent job of driving and kicking to an open teammate. He is a scrappy defender who works to keep his man in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/brad-calipari-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64579" /></td>
			<td>Calipari, Brad</td>
			<td>12</td>
			<td>Brad is a vocal leader on the court who makes smart plays and controls his teams offense. He moves well without the ball to create space and find his open shot. Brad made excellent passes out of the screen and roll.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Carrigan, Dimon</td>
			<td>11</td>
			<td>Dimon is a long big with a huge wing span and great upside. He is an excellent rebounder and rim protector on the defensive end. He is very strong in the pick and roll and opens up well to the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/emmanuel-chalumeau-300x197.jpg" alt="" width="300" height="197" class="aligncenter size-medium wp-image-64593" /></td>
			<td>Chalumeau, Emmanuel</td>
			<td>10</td>
			<td>Emmanuel is quick with the ball in his hand and was able to get to the rim today. He did a good job finishing at the rim as well as kicking the ball to an open man. He has great positioning on defense and rotates well to help his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/Amani-Chambe-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64572" /></td>
			<td>Chambe, Amani</td>
			<td>11</td>
			<td>Amani's best quality is his motor and his aggressiveness when going after rebounds. He is great with the ball in his hand and was able to shake his defender and hit pull up jumpers all day.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/Vondre-Chase-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64648" /></td>
			<td>Chase, Vondre</td>
			<td>9</td>
			<td>Vondre is a long, athletic wing with a very high ceiling and basketball IQ. He has very good defensive instincts and does a great job rotating to an attacker. He showed his ability to block shots and protect the rim. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/Brandon-Chaison-300x209.jpg" alt="" width="300" height="209" class="aligncenter size-medium wp-image-64580" /></td>
			<td>Chasse, Brandon</td>
			<td></td>
			<td>Brandon is a pass first guard who does an excellent job keeping the offense moving and reversing the ball. He has a complete set of offensive skills and is at his best off the catch and shoot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/ROnald-Clapper-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64635" /></td>
			<td>Clapper, Ronald</td>
			<td>9</td>
			<td>Ronald is a tough kid who plays aggressively and doesn't shy away from contact. He did a good job of not letting his man get by him on defense. He is great at driving the play to the basket with his right hand and finishing strong.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/niles-cohen-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64629" /></td>
			<td>Cohen, Niles</td>
			<td>12</td>
			<td>Niles is a good defender who competes hard at both ends of the floor. He has a good looking shot and is most consistent off the catch and shoot. He also showed his ability to beat his man off the dribble and get to the hoop.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/john-coleman-300x230.jpg" alt="" width="300" height="230" class="aligncenter size-medium wp-image-64603" /></td>
			<td>Coleman, Jon</td>
			<td></td>
			<td>Jon is a talented, crafty ball handler who does a good job getting in the paint. He has an arsenal of ways to finish including floaters, pull up jumpers and reverse layups. His hesitation move at the top allowed him to freeze his man. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/ethan-coo-300x202.jpg" alt="" width="300" height="202" class="aligncenter size-medium wp-image-64594" /></td>
			<td>Cook, Ethan</td>
			<td>11</td>
			<td>Ethan is a smart, spot up jump shooter who has a smooth stroke from distance. He works hard on both ends of the court and kept plays alive by aggressively attacking the offensive glass. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/Angel-Crespo-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64576" /></td>
			<td>Crespo, Angel</td>
			<td>11</td>
			<td>Angel is a quick guard who has a great handle and is most comfortable with the ball in his hand. He always knew where his teammates were and made smart, strong passes that allowed them to get quick shots. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/yvrantzi--300x207.jpg" alt="" width="300" height="207" class="aligncenter size-medium wp-image-64652" /></td>
			<td>Deratry, Yeventi</td>
			<td></td>
			<td>Yeventi plays hard and has the ability to get a lock down defender. He has a strong, sturdy frame that allows him to handle pressure and get by his defender. He did a good job spotting up on the 3 point line and hitting shots. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jared-dewberry-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64600" /></td>
			<td>Dewberry, Jared</td>
			<td>12</td>
			<td>Jared is a hustle guy who plays with frenetic energy and gets after every 50-50 ball. He created extra scoring opportunities for his team all day. He has a solid mid range game and can hit open shots when his feet are set.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Dottin, Jakigh</td>
			<td>11</td>
			<td>Jakigh is a big, strong physical guard with great athleticism. He uses his size and strength to muscle his way to the rim with ease. He sees the floor well and has a good feel for the ball. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/tommy-egan1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64641" /></td>
			<td>Egan, Tommy</td>
			<td>12</td>
			<td>Tommy is a solid outside shooter who can also beat his man off the dribble and hit mid range jumpers. He is strong with the ball and does an excellent job of running his teams offense and keeping the ball swinging.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/brendan-emond-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64581" /></td>
			<td>Emond, Brendan</td>
			<td>10</td>
			<td>Brendan is a strech big who has great energy and makes hustle plays. He has great timing when going up for rebounds and blocking shots. Brendan sets aggressive screens and rolls hard to open spots.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Espinosa, Lorenzo</td>
			<td>11</td>
			<td>Lorenzo does a good job handling the ball and getting by his defender when pressured. He can knock down outside shots and pull up off his dribble. He is a tough defender who works hard to keep his man out of the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/dj-frechette-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64587" /></td>
			<td>Frechette, DJ</td>
			<td>11</td>
			<td>DJ is a hard worker and a great competitor. He is at his best when slashing to the rim and getting behind his defender on cuts. On defense he applies good ball pressure and doesn't allow his man to beat him off the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/nathaniel-freeman-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64628" /></td>
			<td>Freeman, Nathaniel</td>
			<td>11</td>
			<td>Nathaniel is an aggressive on ball defender who makes it uncomfortable for whoever he is guarding. He does an excellent job of jump stopping in the paint and collecting his body before extending towards the hoop.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/andrew-galanek-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64573" /></td>
			<td>Galanek, Andrew</td>
			<td>12</td>
			<td>Andrew is a long spot up jump shooter who has a smooth stroke from 3 point range. He is a smart player who is always in the right spot on the floor. He used his athleticism to keep his man in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jonas-harper-300x209.jpg" alt="" width="300" height="209" class="aligncenter size-medium wp-image-64606" /></td>
			<td>Harper, Jonas</td>
			<td>10</td>
			<td>Jonas is a versatile athlete who can play multiple positions and has a quick first step. He makes good decisions when he gets in the paint and leads his teammates with passes in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/johnny-hatem-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64605" /></td>
			<td>Hatem, Johnny</td>
			<td>12</td>
			<td>Johnny is a tough guard who competes at both ends of the floor. He has a quick first step and had no problem getting by his defender. His ability to shoot, handle the ball and make strong passes makes him a complete offensive threat. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jordan-haywoo-300x217.jpg" alt="" width="300" height="217" class="aligncenter size-medium wp-image-64609" /></td>
			<td>Haywood, Jordan</td>
			<td>11</td>
			<td>Jordan has great body control and can finish at the rim through contact. He has an explosive first step and can stop to knock down mid range jumpers. He has a good feel for where to be on defense and how to slow down his man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/kyle-henderson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64618" /></td>
			<td>Henderson, Kyle</td>
			<td>10</td>
			<td>Kyle is an excellent defender who moves his feet and gets into passing lanes for steals. He has a high basketball IQ and understanding of where to be on both ends of the floor. He finishes well around the rim and doesn't force outside shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/nino-hernandez-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64630" /></td>
			<td>Hernandez, Nino</td>
			<td>11</td>
			<td>Nino had a solid day shooting the ball and can consistently hit shots from 15 feet and beyond. He rebounds the ball well and kept his team organized on defense. He knows where to position himself on defense to help his teammates when they get beat.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/lester-high-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64620" /></td>
			<td>High, Lester</td>
			<td>10</td>
			<td>Lester is a facilitating guard who made things happen in the open court. He is quick with the ball and does a good job keeping it tight to his body. His ability to knock down shots and create for teammates makes him a complete player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/justin-hubbard-300x215.jpg" alt="" width="300" height="215" class="aligncenter size-medium wp-image-64613" /></td>
			<td>Hubbard, Justin</td>
			<td>10</td>
			<td>Justin works hard on both ends of the court and moves well without the ball. He is an excellent slasher and gets the majority of his points by cutting to the basket and finishing around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/will-jackowitz-300x190.jpg" alt="" width="300" height="190" class="aligncenter size-medium wp-image-64650" /></td>
			<td>Jackowitz, Will</td>
			<td>11</td>
			<td>Will is a big forward who has shifty moves around the rim and can finish in a variety of ways. He makes smart plays and has great court vision. He showed his ability to knock down mid range jumpers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/miguel-jackson-300x193.jpg" alt="" width="300" height="193" class="aligncenter size-medium wp-image-64626" /></td>
			<td>Jackson, Miguel</td>
			<td>9</td>
			<td>Miguel is a quick guard who is very active at getting in the lane and creating for his teammates. He is best at scoring when he attacks the rim and was able to consistently hit floaters over his defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/Jair-Johnson-300x197.jpg" alt="" width="300" height="197" class="aligncenter size-medium wp-image-64597" /></td>
			<td>Johnson, Jair</td>
			<td>12</td>
			<td>Jair is an athletic wing who possesses the ability to guard almost every position. He is a great court leader who leads by example and has a high motor. He uses his height and athleticism to explode towards every rebound on both ends of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jamari-johnson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64598" /></td>
			<td>Johnson, Jamari</td>
			<td>11</td>
			<td>Jamari showed his ability to take over the game on the offensive end of the court and score in a variety of ways. His strength is taking his man off the dribble and getting to the hoop while fighting through contact.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Jones, Austin</td>
			<td>11</td>
			<td>Austin is a big body who knows how to post up his defender and create space. He rebounds the ball well and gets out in transition. He was at his best today when driving from the trail spot and attacking the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/ahmed-kaba-300x195.jpg" alt="" width="300" height="195" class="aligncenter size-medium wp-image-64569" /></td>
			<td>Kaba, Ahmed</td>
			<td>12</td>
			<td>Ahmed showed he can run the court hard and finish in transition. His on ball defense and lateral quickness make him a lock down defender. Opponents had issues all day getting by him and trying to shoot over him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/Matthew-Keenan-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64624" /></td>
			<td>Keenan, Matthew</td>
			<td>11</td>
			<td>Matthew is always around the rim and willing to do the dirty work. He is very vocal on the court especially on the defensive end where he kept his team organized. He shoots the ball with a smooth stroke and can consistently hit mid range jumpers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/maximilian-kiehm-300x193.jpg" alt="" width="300" height="193" class="aligncenter size-medium wp-image-64625" /></td>
			<td>Kiehm, Maximilian</td>
			<td>9</td>
			<td>Maximilian is a very good shooter who can knock down 3's and has great range. He knows how to move on offense and position himself on the three point line to get open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/Ryan-Lavallee-300x203.jpg" alt="" width="300" height="203" class="aligncenter size-medium wp-image-64636" /></td>
			<td>Lavallee, Ryan</td>
			<td>12</td>
			<td>Ryan fights hard in the post on defense to keep his man away from the basket and out of the paint. He can step away from the rim and consistently hit 15 foot jumpers. He was all over the glass on both ends of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/zachary-lebowitz-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64653" /></td>
			<td>Lebowitz, Zachary</td>
			<td>12</td>
			<td>Zachary is a quick, shifty guard with a good handle and looks comfortable with the ball in his hand. He plays aggressively on both ends of the court and is a terrific defender both on and off the ball. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/tyler-leclerc-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64645" /></td>
			<td>Leclerc, Tyler</td>
			<td>11</td>
			<td>Tyler is a knock down outside shooter who always has his feet set when preparing to shoot the ball. He has tremendous hustle and was all over the floor impacting every play. He has a high basketball IQ and throws hard passes to his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/tommy-liere-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64643" /></td>
			<td>Liere, Tommy</td>
			<td>9</td>
			<td>Tommy is a good shooter who was able to find gaps in the defense and get himself open by moving without the ball. He has a great feel for the game and understanding of defensive positioning.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Loughman, Jordan</td>
			<td>10</td>
			<td>Jordan moves very well without the ball and gets to open spots where his teammates can get him the ball. He does a great job of squaring up to the hoop and hitting outside shots when his feet are set.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/james-lustig-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64599" /></td>
			<td>Lustig, James</td>
			<td>10</td>
			<td>James is a strong forward who plays physical at both ends of the court. He uses his size and frame to get position on offense and move his defender. He finishes well around the hoop with both hands and has good post moves.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jonathin-makori-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64608" /></td>
			<td>Makori, Jonathin</td>
			<td>12</td>
			<td>Jonathin is a quick, athletic guard who does a great job of attacking the rim and finishing in a variety of ways. His quickness and athleticism allowed him to keep his man in front of him and not allow him to get in the paint. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/tyler-martin-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64646" /></td>
			<td>Martin, Tyler</td>
			<td>12</td>
			<td>Tyler is a strong player who does a good job of spotting up on the perimeter. He has great range and a smooth stroke from distance. He is a crafty dribbler who sees the court well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jordan-mason-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64610" /></td>
			<td>Mason, Jordan</td>
			<td>10</td>
			<td>Jordan is an incredibly talented shooter with unlimited range and a quick release. He does a great job of moving without the ball and running off of screens. Jordan has the ability to spot up as well as score off the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jimmy-matos-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64601" /></td>
			<td>Matos, Jimmy</td>
			<td>12</td>
			<td>Jimmy did a great job of throwing the ball ahead in transition and attacking the rim. He shoots the ball exceptionally well from distance and is able to knock down outside shots. He works hard defensively and slides his feet to keep his man in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/douglas-mcallister-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64590" /></td>
			<td>McAllister, Douglas</td>
			<td>11</td>
			<td>Douglas is an unselfish player who goes all out every possession and has a great work ethic. He showed his ability to hit the mid range jumper when he sets his feet and squares up to the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/will-mcdonell-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64651" /></td>
			<td>McDonnell, Will</td>
			<td>10</td>
			<td>Will has excellent shooting form and displayed great shooting mechanics. He has a smooth shot and showed his ability to consistently knock down outside shots. He was at his best off the catch and shoot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/christian-mcwhinnie-300x202.jpg" alt="" width="300" height="202" class="aligncenter size-medium wp-image-64582" /></td>
			<td>Mcwhinnie, Christian</td>
			<td>11</td>
			<td>Christian is a long, athletic wing who is strong with the ball in his hand. He uses his athleticism to gain an advantage on his opponent on both ends of the floor. Christian has a good motor and never takes a play off. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/julian-mincey-300x202.jpg" alt="" width="300" height="202" class="aligncenter size-medium wp-image-64612" /></td>
			<td>Mincey, Julian</td>
			<td>10</td>
			<td>Julian has excellent upside and has a strong foundation of skills. His size allows him to grab every rebound and get position on the block. Julian can also step out and hit mid range jumpers on a consistent basis.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jonathan-moila-300x204.jpg" alt="" width="300" height="204" class="aligncenter size-medium wp-image-64607" /></td>
			<td>Mola, Jonathan</td>
			<td>11</td>
			<td>Jonathan is a strong wing who does a good job of getting up and down the floor in transition. He defends the ball well and plays hard on defense. His strength is using the dribble to create open shots for himself and get to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/ryan-morrisey-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64637" /></td>
			<td>Morrisey, Ryan</td>
			<td>12</td>
			<td>Ryan did a great job of running his teams offense and making the easy play. He found open teammates all day and created openings for them with his dribble drive. He plays tough defense and pressures the ball well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/alex-mrusek-300x186.jpg" alt="" width="300" height="186" class="aligncenter size-medium wp-image-64571" /></td>
			<td>Mrusek, Alex</td>
			<td>12</td>
			<td>Alex uses his size and strength to get position in the post and finish around the rim. He has a good jump hook and is a consistent shooter out to 12 feet. He does a great job of not letting his man post up and finishing plays with the rebound.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/Giovanni-Muarry-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64596" /></td>
			<td>Muarry, Giovanni</td>
			<td>9</td>
			<td>Giovanni is a hard worker and has a great motor that creates extra scoring opportunities for his team. He has a big frame that takes up space in the post for good position. He is a strong rebounder and finishes plays on the glass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/tommy-oneil-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64644" /></td>
			<td>O'Neil, Tommy</td>
			<td>10</td>
			<td>Tommy is an active big who does a great job of catching the ball high off of rebounds. He has an effective mid range game and is able to attack either side of the hoop with both hands.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/timothy-oneil-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64640" /></td>
			<td>O'Neill, Timothy</td>
			<td>11</td>
			<td>Timothy is a great competitor with a high basketball IQ and understanding of how to play defense. He is at his best when his feet are set on his jump shot and getting out in transition during the fast break.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/deandre-ortiz-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64585" /></td>
			<td>Ortiz, Deandre</td>
			<td>9</td>
			<td>Deandre has a strong frame which he uses to create space and get to the rim. He is very smart with the ball in his hand and makes good decisions. He was able to handle pressure and keep the offense moving.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/mike-palmieri-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64627" /></td>
			<td>Palmieri, Mike</td>
			<td>10</td>
			<td>Mike is a strong ball handler who doesn't get flustered under pressure and can get past his defender. He has good form on his jumpshot and can consistently hit mid range shots. One of his best strengths is his ability to make clean passes and hit his target.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/marcel-parson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64622" /></td>
			<td>Parsons, Marcel</td>
			<td>11</td>
			<td>Marcel is a very athletic guard who was impactful at both ends of the floor. His athleticism bothered opponents all day when they tried to beat him off the dribble. He has a good mid range jumper and showed his ability to be a consistent scorer.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/kyle-partyka-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64619" /></td>
			<td>Partyka, Kyle</td>
			<td>12</td>
			<td>Kyle played great team defense and was a vocal leader on both ends of the court keeping his team organized. He has great form on his jumpshot and has range past the 3 point line. He handles the ball well in transition and makes smart plays.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/justin-pierce-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64614" /></td>
			<td>Peirce, Justin</td>
			<td>10</td>
			<td>Justin is a tough competitor who makes smart passes and does a great job of swinging the ball on offense. He uses his strong frame to create space for himself and get by his defender on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/kebler-peralta-300x207.jpg" alt="" width="300" height="207" class="aligncenter size-medium wp-image-64616" /></td>
			<td>Peralta, Kebler</td>
			<td>9</td>
			<td>Kebler is a hard working guard who makes strong passes and hits his teammates target. He does a great job feeding the ball into the post. Kebler showed his ability to hit shots when he sets his feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/aaron-perez-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64568" /></td>
			<td>Perez, Aaron</td>
			<td>11</td>
			<td>Aaron is a hard working guard who sees the floor well and finds his open teammates. He created extra chance points for his team with his hustle and effort on 50-50 balls.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/alan-pettway-300x201.jpg" alt="" width="300" height="201" class="aligncenter size-medium wp-image-64570" /></td>
			<td>Pettway, Alan</td>
			<td>11</td>
			<td>Alan is a long defender who creates havoc defensively. He has a huge vertical leap and gets every rebound at its highest point. He makes great decisions on the court and finishes well through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/dorian-reyes-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64589" /></td>
			<td>Reyes, Dorian</td>
			<td>9</td>
			<td>Dorian has a great handle and creates for his teammates off his penetration. He looks comfortable with the ball in his hand and handles pressure well. He is very athletic and explodes towards every rebound.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/elvin-rodriguez-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64592" /></td>
			<td>Rodriguez, Elvin</td>
			<td>11</td>
			<td>Elvin is a quick guard who has a variety of dribble combinations. He possesses the ability to score in a variety of ways and score in bunches. Elvin has a good outside shot, can hit mid range pull ups and does a great job of getting to the hoop.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/nyzair-roundtree-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64631" /></td>
			<td>Rountree, Nyzair</td>
			<td>10</td>
			<td>Nyzair is a big time athlete with great hands who runs the floor well. He moves extremely well without the ball and gets to open spots on the floor. Nyzair has a great handle and ability to create for himself off the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/aurdric-sandoval-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64577" /></td>
			<td>Sandoval, Aurdric</td>
			<td>11</td>
			<td>Aurdric does a great job of moving his defender and getting by him to attack the rim. He moves the ball well in the half court and pushes the ball forward in transition. He attacks his defender and draws help creating space for his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/preston-santos.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-64634" /></td>
			<td>Santos, Preston</td>
			<td>10</td>
			<td>Preston is a big body who runs the floor well and has a great motor. He was very active on defense deflecting passes and getting in lanes. He showed his ability to take the ball hard to the rim and finish with either hand.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/Dominique-Senat-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64588" /></td>
			<td>Senat, Dominique</td>
			<td>12</td>
			<td>Dominique is an active big that plays with a great motor. He has good lateral quickness and great footwork. He does an excellent job using his body in the post on offense and boxing out his man on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/Dylan-Sheedy-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64591" /></td>
			<td>Sheedy, Dylan</td>
			<td>11</td>
			<td>Dylan is a strong, hard working guard who has a great handle in the open court and against pressure. He is a scrappy defender who keeps plays alive with his hustle and creates extra possessions for his team. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/dana-tate-jr-300x212.jpg" alt="" width="300" height="212" class="aligncenter size-medium wp-image-64584" /></td>
			<td>Tate Jr, Dana</td>
			<td>10</td>
			<td>Dana is a big, athletic point forward who runs the floor incredibly well. He has a smooth jumper and can create for himself off the dribble. He is a long defender and is a nightmare for the opposing team on the perimeter and interior.  </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Tate, Daman</td>
			<td>12</td>
			<td>Daman is an excellent penetrator and finisher at the rim. He runs the floor hard and does a good job of filling the lanes. He uses his length and long strides to get to the rim in minimal dribbles.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/damonte-turner-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64583" /></td>
			<td>Turner, Damonte</td>
			<td>12</td>
			<td>Damonte has a high basketball IQ for the game in understanding defensive rotations and playing help side defense. His strength was getting to the rim and finishing through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/andrew-varoli-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64574" /></td>
			<td>Varoli, Andrew</td>
			<td>11</td>
			<td>Andrew is a very coachable guard who already has a great understanding for the game. He did a good job today of keeping the offense organized and moving. He has a tight handle and doesn't get flustered by pressure.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/austin-whaley-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64578" /></td>
			<td>Whaley, Austin</td>
			<td>12</td>
			<td>Austin did a good job of controlling the tempo and pace of the game. He made excellent passes in transition that led to easy baskets for his team. He has a smooth shot and can score from anywhere on the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/malik-white-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64621" /></td>
			<td>White, Malik</td>
			<td>12</td>
			<td>Malik has a high basketball IQ and makes great decisions with the ball. He has a smooth stroke and doesn't force any shots. He can break down his defender and has a soft touch around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/sam-white-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64639" /></td>
			<td>Whittle, Samuel</td>
			<td>10</td>
			<td>Sam is a long, skilled wing who knows how to position himself to get open shots and attack the hoop. He is aggressive with his dribble and does a good job slashing towards the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/walter-whyte-300x201.jpg" alt="" width="300" height="201" class="aligncenter size-medium wp-image-64649" /></td>
			<td>Whyte, Walter</td>
			<td>11</td>
			<td>Walter is a very athletic guard who does an excellent job slashing to the basket and finishing around his defender. He was a lock down defender all day and was able to force turnovers and get into passing lanes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/andrew-williams-crawford-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64575" /></td>
			<td>Williams-Crawford, Andrew</td>
			<td>11</td>
			<td>Andrew was at his best today when breaking down his defender and getting to the rim. He finishes well through contact and doesn't get bumped off his path. He applies pressure well against his man and creates turnovers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/john-wisdom-300x193.jpg" alt="" width="300" height="193" class="aligncenter size-medium wp-image-64604" /></td>
			<td>Wisdom, John</td>
			<td>10</td>
			<td>John is a tough player who fights in the paint and goes hard after every rebound. He has a good touch on his jumpshot and showed that he can consistently hit from 15 feet.</td>
		</tr>
	</tbody>
</table>
