<table>
	<thead>
		<tr>
			<th>Head Shots</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Coach Evaluation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>N/A</td>
			<td>Aboukheir, Kevin</td>
			<td>11</td>
			<td>Kevin is a strong guard who excels at getting to the rim and finishing around contact. He looks to push the ball in transition to create quick scoring opportunities for his team. Kevin is a good shooter with a pure release.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Toskenny-Abreu-300x200.jpg" alt="Toskenny Abreu" width="300" height="200" class="aligncenter size-medium wp-image-75855" /></td>
			<td>Abreu, Toskany</td>
			<td>9</td>
			<td>Toskany is an active guard who plays hard on both ends of the court. He excels in transition and always seems to make the right play. He can score in a variety of ways and can shoot the three consistently.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Adames, Crystian</td>
			<td>11</td>
			<td>Crystian is a team player who makes the extra pass all the time. He has a good looking jumper that he can get off with time and space. For a guard, Crystian rebounds well as he is always looking to crash the glass. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Ezra-Aives-300x200.jpg" alt="Ezra Aives" width="300" height="200" class="aligncenter size-medium wp-image-75810" /></td>
			<td>Alves, Ezra</td>
			<td>10</td>
			<td>Ezra possesses a quick first step, which he uses to penetrate the lane. He is assertive on the glass and does a great job of collecting rebounds. Ezra looks to outlet quickly following a rebound to ignite transition opportunities. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Adrian-Amaro-300x200.jpg" alt="Adrian Amaro" width="300" height="200" class="aligncenter size-medium wp-image-75784" /></td>
			<td>Amaro, Adrian</td>
			<td>10</td>
			<td>Adrian is a good sized PG who possesses both good ball handling skill and good court awareness. He is a natural distributor and always seems to find the open teammate. Offensively, he is a slasher who excels when getting to the rim. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Bennett, Latrell</td>
			<td>9</td>
			<td>Latrell is an active guard who plays hard on both ends of the floor. He takes pride on the defensive end and uses his quick hands to disrupt the passing lanes. Latrell is an effective rebounder who does a great job of creating second chance opportunities for his team.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Bloa, Avian</td>
			<td>9</td>
			<td>Avian is a high IQ player who picks his spots well on the court. He has great court vision and is able to find the open teammate with ease. Avian competes on every possession and will do anything to help his team win.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Ryan-Bradley-300x200.jpg" alt="Ryan Bradley" width="300" height="200" class="aligncenter size-medium wp-image-75845" /></td>
			<td>Bradley, Ryan</td>
			<td>10</td>
			<td>Ryan is a good sized big with great hands. He plays hard on both ends of the court and does all the little things to help his team win, like setting screens and going after loose balls. When he gets around the rim, Ryan is an excellent finisher. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Nate-Brawdy-300x200.jpg" alt="Nate Brawdy" width="300" height="200" class="aligncenter size-medium wp-image-75839" /></td>
			<td>Brawdy, Nate</td>
			<td>10</td>
			<td>Nate is a long, athletic wing with extremely good hands. He possesses great court vision and does a great job of finding the open teammate. Nate is an active rebounder on both ends of the court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Jhalil-Brown-300x200.jpg" alt="Jhalil Brown" width="300" height="200" class="aligncenter size-medium wp-image-75821" /></td>
			<td>Brown, Jhalil</td>
			<td>10</td>
			<td>Jhalil is a strong player who takes pride on the defensive end of the floor. He has solid hands and is creative with the basketball. He is unselfish and always seems to find the open man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Isais-Bulus-300x200.jpg" alt="Isais Bulus" width="300" height="200" class="aligncenter size-medium wp-image-75816" /></td>
			<td>Bulus, Isaias </td>
			<td>11</td>
			<td>Isaias is a tough guard who plays hard on both ends of the court. He is aggressive when getting to the rim and is always looking to attack. He is a great teammate and will do whatever it takes to help his team win.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Darian-Butler-300x200.jpg" alt="Darian Butler" width="300" height="200" class="aligncenter size-medium wp-image-75799" /></td>
			<td>Butler, Darian </td>
			<td>10</td>
			<td>Darian is a high energy player who competes on both ends of the court. When he has time and space, he has the ability to consistently hit mid range jumpers. When he gets to the rim, he can finish with either hand. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Troy-Butler-300x200.jpg" alt="Troy Butler" width="300" height="200" class="aligncenter size-medium wp-image-75857" /></td>
			<td>Butler, Troy</td>
			<td>10</td>
			<td>Troy is a strong ball handler who excels at finishing with contact in the paint. He looks to push the tempo in transition where he can get easy looks for himself and his teammates. Troy has great court vision and does a great job of facilitating the offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Andrew-CAbral-300x200.jpg" alt="Andrew CAbral" width="300" height="200" class="aligncenter size-medium wp-image-75786" /></td>
			<td>Cabral, Andrew</td>
			<td>10</td>
			<td>Andrew is a very good spot up shooter who can really stretch the defense. He has a high basketball IQ and always seems to make the right play. He is a great teammate who will do anything to helo his team win.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Matthew-Cardosa-300x200.jpg" alt="Matthew Cardosa" width="300" height="200" class="aligncenter size-medium wp-image-75838" /></td>
			<td>Cardoso, Matthew</td>
			<td>10</td>
			<td>Matthew is a facilitator who sees the court extremely well. He is constantly finding the open man and setting his teammates up in postions to succeed. Matthew has great ball handling skills, which he uses to his advantage in transition. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Nate-Carroll-300x200.jpg" alt="Nate Carroll" width="300" height="200" class="aligncenter size-medium wp-image-75840" /></td>
			<td>Carrol, Nathan</td>
			<td>8</td>
			<td>Nathan is a good shooter with a quick release. He has quick feet which allow him to stay in front of his man on defense. He has long arms that make him a valuable asset on the defensive end.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Carvajalino, Santiago</td>
			<td>9</td>
			<td>Santiago is a super active, aggressive guard who never takes a play off. He is extremely effective at utilizing his handle to penetrate the defense. Despite his size, Santiago uses his body well when getting to the rim. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Chambe, Amani</td>
			<td>11</td>
			<td>Amani is an extremely active player who attacks the glass on every possession. He gets to the rim with ease, where he is able to finish with both hands. Defensively, Amani is a lockdown on ball defender. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Damoura, Avelino</td>
			<td>12</td>
			<td>Avelino is a long, slender shooter who can consistently knock down deep shots. His range causes defenders to overcommit, which then allows him to get to the rim with ease. He finishes well around the rim, especially with his right hand. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Danmola, Mo</td>
			<td>10</td>
			<td>Mo is a strong, athletic wing with quick hands. His quick hands allow him to make plays on the defensive end that others can't. He communicates well on defense and always attacks the glass. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Malik-Darby-300x200.jpg" alt="Malik Darby" width="300" height="200" class="aligncenter size-medium wp-image-75835" /></td>
			<td>Darby, Malik</td>
			<td>11</td>
			<td>Malik is a really good mid range jump shooter. He has great lift, form and rotation on his shots. His ability to anticipate on the defensive end allows him to create havoc in the passing lanes. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Downing, Justin</td>
			<td>9</td>
			<td>Justin is a heady PG who couples a good handle with excellent court vision. His anticipation and aggressiveness on the defensive end make him a tough matchup. Justin facilitates the offense well and always seems to make the right play.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Kevin-Dublin-300x200.jpg" alt="Kevin Dublin" width="300" height="200" class="aligncenter size-medium wp-image-75828" /></td>
			<td>Dublin, Kevin</td>
			<td>11</td>
			<td>Kevin is a multi-talented player who possesses both superior size and skill. For his size, he features a good handle, which he uses to create for himself and his teammates. When he has time and space, Kevin has the ability to really stretch the defense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Sean-Duke-300x200.jpg" alt="Sean Duke" width="300" height="200" class="aligncenter size-medium wp-image-75849" /></td>
			<td>Duke, Sean</td>
			<td>8</td>
			<td>Sean is an excellent transition player who is always looking to push the ball. His crafty ball handling allows him to break down the defense at will. On the defensive end, Sean is constantly communicating with his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Dajoor-Dunkier-300x200.jpg" alt="Dajoor Dunkier" width="300" height="200" class="aligncenter size-medium wp-image-75796" /></td>
			<td>Dunkley, Dajour</td>
			<td>11</td>
			<td>Dajour is a long, slender guard who uses his body well when attacking the rim. He is constantly looking to push the ball in transition for easy looks. He is a lefty who does a great job of finishing with either hand.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Dylan-Durane-300x200.jpg" alt="Dylan Durane" width="300" height="200" class="aligncenter size-medium wp-image-75808" /></td>
			<td>Durante, Dylan</td>
			<td>10</td>
			<td>Dylan is an active player who consistently crashes the glass. Offensively, he understands the importance of ball movement and is always looking to make the extra pass. Dylan also possesses a wide array of ball fakes which he uses to create space.  </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Jack-Feeley-300x200.jpg" alt="Jack Feeley" width="300" height="200" class="aligncenter size-medium wp-image-75817" /></td>
			<td>Feeley, Jack</td>
			<td>10</td>
			<td>Jack is a strong player who excels in the paint. He has good composure when faced with pressure situations and uses his strength to create on the offensive end. He runs well in transition and is always looking for easy baskets.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Bobby-Fiorito-300x200.jpg" alt="Bobby Fiorito" width="300" height="200" class="aligncenter size-medium wp-image-75791" /></td>
			<td>Fiorito Jr., Bobby</td>
			<td>8</td>
			<td>Bobby is a long, athletic guard who uses his length effectively on both ends of the court. He has a solid handle which he uses to create for himself and others. He is a strong defender and is always looking to crash the glass. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Flores, Anthony</td>
			<td>11</td>
			<td>Anthony is a lefty guard with a smooth, quick handle. He does a great job of creating his own shot off the dribble. He uses his body well and does a great job of absorbing contact when attacking the rim. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Andrew-Fonts-300x200.jpg" alt="Andrew Fonts" width="300" height="200" class="aligncenter size-medium wp-image-75787" /></td>
			<td>Fonts, Andrew</td>
			<td>11</td>
			<td>Andrew is a strong, active guard who competes on both ends of the court. Offensively, he looks to attack the paint and get to the rim. He can score in a variety of ways, and can knock down shots well beyond the three point arc. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/TJ-Fosque-300x200.jpg" alt="TJ Fosque" width="300" height="200" class="aligncenter size-medium wp-image-75854" /></td>
			<td>Fosque, Timothy</td>
			<td>10</td>
			<td>Timothy is an athletic player who does a great job of disrupting shots on the defensive end. His quick leaping ability allows him to meet opponents at the rim. Outisde of his interior defensive presence, Timothy is an effective floor spacer on the offensive end because of his ability to knockdown perimeter jumpers. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Gentry, Mark</td>
			<td>11</td>
			<td>Mark is a quick, athletic guard with a great handle. He looks to break his man down in order to penetrate the lane to create for himself and his teammates. He possesses superior court vision and always sets his teammates up in positions to succeed. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Xavier-Gibbs-300x200.jpg" alt="Xavier Gibbs" width="300" height="200" class="aligncenter size-medium wp-image-75861" /></td>
			<td>Gibbs, Xavier</td>
			<td>10</td>
			<td>Xavier is a long, athletic guard who possesses solid ball handling skills. He uses his handle to blow past his defender and attack the rim. He has a strong pull-up game and can really stretch the defense with his shooting ability. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Anthony-Gonsalves-300x200.jpg" alt="Anthony Gonsalves" width="300" height="200" class="aligncenter size-medium wp-image-75788" /></td>
			<td>Gonsalves, Anthony </td>
			<td>10</td>
			<td>Anthony has a strong frame which he utilizes well to absorb contact in the lane. He has a solid feel for the game and knows how to pick his spots. Anthony is an active defender who constantly disrupts the passing lanes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/King-Gonsalves-300x200.jpg" alt="King Gonsalves" width="300" height="200" class="aligncenter size-medium wp-image-75831" /></td>
			<td>Gonsalves, King</td>
			<td>7</td>
			<td>King plays with great energy and spirit. He never backs down and competes on every possession. King is confident in his abilities and his play on the court shows it.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Aaron-Gray-300x200.jpg" alt="Aaron Gray" width="300" height="200" class="aligncenter size-medium wp-image-75783" /></td>
			<td>Gray, Aaron</td>
			<td>8</td>
			<td>Aaron is a long, athletic wing who runs the floor very well. He has a high basketball IQ and seems to find his teammates in the right positions. He is relentless on the boards and is always the first one on the floor after loose balls. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Tyheem-Gray-1024x683.jpg" alt="Tyheem Gray" width="300" height="200" class="aligncenter size-large wp-image-75859" /></td>
			<td>Gray, Tyheem</td>
			<td>10</td>
			<td>Tyheem is a natural facilitator who always seems to make the right decisions. He works hard and is very active on both ends of the floor. He is a good passer who looks to set his teammates up in positions to succeed.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Russell-Hadfield-300x200.jpg" alt="Russell Hadfield" width="300" height="200" class="aligncenter size-medium wp-image-75844" /></td>
			<td>Hadfield, Russell</td>
			<td>11</td>
			<td>Russell is a long, active player who is a great instinctive defender. He is a shooter with a quick release, which allows him to get his shot off before defenders can close out. He has a high basketball IQ and knows how to utilize effective ball fakes. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/SAm-Hanley-300x200.jpg" alt="SAm Hanley" width="300" height="200" class="aligncenter size-medium wp-image-75847" /></td>
			<td>Hanley, Sam</td>
			<td>11</td>
			<td>Sam possesses a strong upper body, which he uses to his advantage when attacking the glass and getting to the rim. He is a high IQ player who understands where he should be on the court. He has a good looking jumper with the ability to knock them down consistently. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Hayes, Jay-Juan</td>
			<td>10</td>
			<td>Jay-Juan is a quick, crafty guard who can get into the lane at will. He is an excellent finisher around the rim and can score with either hand. He understands when to kick the ball to the open man. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Hayes, Sir</td>
			<td>9</td>
			<td>Sir is an active guard who plays extremely hard on both ends of the court. He has a tight handle which he uses to create for his teammates. He is an unselfish player and looks to facilitate on the offensive end.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Dion-Hazard-300x200.jpg" alt="Dion Hazard" width="300" height="200" class="aligncenter size-medium wp-image-75805" /></td>
			<td>Hazard Jr., Dion</td>
			<td>9</td>
			<td>Dion is a big, physical guard who is aggressive when attacking the basket. He has a tight handle which he uses to break down his defender at will. Dion has good instincts, especially on the defensive end where he does a great job of disrupting the passing lanes. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Juan-Hernandez-300x200.jpg" alt="Juan Hernandez" width="300" height="200" class="aligncenter size-medium wp-image-75823" /></td>
			<td>Hernandez, Juan</td>
			<td>10</td>
			<td>Juan is a physical guard who uses his body well to absord contact around the rim. He really excels in transition due to his constant motor on both ends of the court. His energy on defense is contagious and his teammates feed off of it.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Kyle-Huseler-300x200.jpg" alt="Kyle Huseler" width="300" height="200" class="aligncenter size-medium wp-image-75832" /></td>
			<td>Hester, Kyle</td>
			<td>12</td>
			<td>Kyle is a good team player who plays hard on every possession. When he has time and space, Kyle has the ability to consistently knock down jumpers. He competes hard on every possession and never takes a play off. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Isaiah-Hinds-300x200.jpg" alt="Isaiah Hinds" width="300" height="200" class="aligncenter size-medium wp-image-75814" /></td>
			<td>Hinds, Isaiah</td>
			<td>10</td>
			<td>Isaiah is a hard nosed defender who consistently gets into his opponents head. On offense, he has a tight handle which he uses to set the tempo in transition. Isaiah is a competitive player who does the little things to help his team win. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Jean-Baptise, Ewens</td>
			<td>10</td>
			<td>Ewens is a good shooter who can stretch the defense well beyond the arc. He is quick and creative with the ball in his hands, which he uses to create for himself and others. He excels at attacking the paint and finising around the rim. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Legend-Johnson-300x200.jpg" alt="Legend Johnson" width="300" height="200" class="aligncenter size-medium wp-image-75834" /></td>
			<td>Johnson, Leyend</td>
			<td>11</td>
			<td>Leyend is a skilled offensive player who excels when driving to the basket. He runs the floor very well and is always looking for quick scoring opportunities in transition. He is a great teammate and will do whatever it takes to help his team win.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Kelvin-Kariuki-300x200.jpg" alt="Kelvin Kariuki" width="300" height="200" class="aligncenter size-medium wp-image-75827" /></td>
			<td>Kariuki, Kelvin</td>
			<td>10</td>
			<td>Kelvin is a long, athletic forward who excels at collecting rebounds. He looks to push the ball in transition for easy looks. Kelvin has a tight handle which he uses to penetrate the defense. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Lee, Antal</td>
			<td>9</td>
			<td>Antal is a skilled, face-up forward who understands the game offensively. He has a versatile game and can score in a variety of ways. He is a good shooter and has the ability to really stretch the defense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Justin-Lema-300x200.jpg" alt="Justin Lema" width="300" height="200" class="aligncenter size-medium wp-image-75824" /></td>
			<td>Lema, Justin</td>
			<td>8</td>
			<td>Justin has very good court vision and awareness. He is able to anticipate plays before they happen and always seems to find the open teammate. He is a team player who plays unselfish basketball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Inoah-Lewis-300x200.jpg" alt="Inoah Lewis" width="300" height="200" class="aligncenter size-medium wp-image-75813" /></td>
			<td>Lewis, Inoah</td>
			<td>8</td>
			<td>Inoah is a crafty guard with a tight handle. He has an innate playmaking ability and constantly sets his teammates up into positions to succeed. He plays hard on both ends of the court and never takes a play off.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Steven-Lora-300x200.jpg" alt="Steven Lora" width="300" height="200" class="aligncenter size-medium wp-image-75852" /></td>
			<td>Lora, Steven</td>
			<td>10</td>
			<td>Steven has great court vision and consistently seems to find the open man, especially on the break. He is a knockdown shooter, especially from the perimeter. Steven plays hard on every possession and never takes a play off. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Dante-Machado-300x200.jpg" alt="Dante Machado" width="300" height="200" class="aligncenter size-medium wp-image-75798" /></td>
			<td>Machado, Dante</td>
			<td>10</td>
			<td>Dante is a physical guard who excels on the boards. He is a good hustle defender and is always the first one after loose balls. Dante will do whatever it takes to help his team win.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Ehtan-Martin-300x200.jpg" alt="Ehtan Martin" width="300" height="200" class="aligncenter size-medium wp-image-75809" /></td>
			<td>Martin, Ethan</td>
			<td>10</td>
			<td>Ethan is a great team player who does the little things well. He is a good positional defender and is constantly disrupting his opponent. Ethan competes hard on both ends of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Paul-Maguire-300x200.jpg" alt="Paul Maguire" width="300" height="200" class="aligncenter size-medium wp-image-75841" /></td>
			<td>McGuire, Paul</td>
			<td>9</td>
			<td>Paul does a great job of handling pressure and creating in transition. He is very active on the defensive end and is constantly disrupting his opponent. Paul plays hard and competes on both ends of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/David-McJolly-300x200.jpg" alt="David McJolly" width="300" height="200" class="aligncenter size-medium wp-image-75802" /></td>
			<td>McJolly, David</td>
			<td>12</td>
			<td>David is a knock down shooter when he has time and space. He is a very good vocal communicator and does a great job of leading his team. He plays hard on every possession and does all the little things well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/David-Meikle-II-300x200.jpg" alt="David Meikle II" width="300" height="200" class="aligncenter size-medium wp-image-75803" /></td>
			<td>Meikle, David</td>
			<td>12</td>
			<td>David is a tough, attacking guard who is always looking to penetrate the gaps. He always makes the right play and knows when to swing the extra pass. David has a strong upper body, which he uses to his advantage on the defensive end of the floor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Dvonte-Metts-300x200.jpg" alt="Dvonte Metts" width="300" height="200" class="aligncenter size-medium wp-image-75807" /></td>
			<td>Metts, Davonte</td>
			<td>12</td>
			<td>Davonte is a solid passer who sees the court extremely well. He is a smart basketball player who sees plays before they happen. He plays unselfishly on the offensive end and always looks to set up his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/AJ-Morales-300x200.jpg" alt="AJ Morales" width="300" height="200" class="aligncenter size-medium wp-image-75785" /></td>
			<td>Morales, AJ</td>
			<td>10</td>
			<td>AJ is a strong defender who digs in deep on that end of the court. He keeps his man in front of him and is constantly disrupting the passing lanes. He is very activr and covers a lot of ground on the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Pedro-Munoz-300x200.jpg" alt="Pedro Munoz" width="300" height="200" class="aligncenter size-medium wp-image-75842" /></td>
			<td>Munoz, Pedro</td>
			<td>10</td>
			<td>Pedro is a good defender who really takes pride on that end of the court. His motor allows him to out work his opponent and create havoc on the defensive end. Pedro does a great job of communicating with his teammates and he possesses strong leadership skills.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Ryan-Murdoch-300x200.jpg" alt="Ryan Murdoch" width="300" height="200" class="aligncenter size-medium wp-image-75846" /></td>
			<td>Murdoch, Ryan</td>
			<td>12</td>
			<td>Ryan possesses very good court awareness and always seems to make the right pass. For his size, he rebounds well and always anticipates where the shot will go. Ryan is a high IQ player who has great knowledge of the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Tyler-Murray-300x200.jpg" alt="Tyler Murray" width="300" height="200" class="aligncenter size-medium wp-image-75860" /></td>
			<td>Murray, Tyler</td>
			<td>10</td>
			<td>Tyler is a very good defender and does a great job of staying in front of his man. He plays with good tempo and has a great feel for the game. Tyler can really shoot the basketball when he has time and space.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Marquis-Nickerson-300x200.jpg" alt="Marquis Nickerson" width="300" height="200" class="aligncenter size-medium wp-image-75837" /></td>
			<td>Nickerson, Marquis</td>
			<td>10</td>
			<td>Marqui is a very active defender who is always disrupting the opposing team's tempo. He is a natural leader who does a great job of communicating with his teammates. Marqui competes on both ends of the floor and never takes a possession off.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Chuma-Ouigbo-300x200.jpg" alt="Chuma Ouigbo" width="300" height="200" class="aligncenter size-medium wp-image-75794" /></td>
			<td>Oyigbo, Chuma</td>
			<td>9</td>
			<td>Chuma is a long, active player who affects the game in a variety of ways. He is a heady player who controls the game well. He plays very hard on both ends of the court and his energy is contagious. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Kayleb-Paul-300x200.jpg" alt="Kayleb Paul" width="300" height="200" class="aligncenter size-medium wp-image-75826" /></td>
			<td>Paul, Kaylib</td>
			<td>10</td>
			<td>Kaylib is a quick guard who looks to push the ball in transition. He is very active on both ends of the court and never takes a play off. He communicates well on the defensive end and understands where he should be.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Kevin-Paygai-300x200.jpg" alt="Kevin Paygai" width="300" height="200" class="aligncenter size-medium wp-image-75829" /></td>
			<td>Paygay, Kevin</td>
			<td>12</td>
			<td>Kevin is an active defender who takes pride on that end of the court. He looks to push the ball in transition and is a willing passer on the break. He is very good at driving with either hand, which makes him a tough matchup. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Sayquan-Payton-300x200.jpg" alt="Sayquan Payton" width="300" height="200" class="aligncenter size-medium wp-image-75848" /></td>
			<td>Payton, Saquan</td>
			<td>12</td>
			<td>Saquan has the ability to absorb contact and finish around the rim, despite his size. He can penetrate with either hand, and knows when to find the open man. He competes hard on both ends of the court and never takes a possession off. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Perrotta, Nick</td>
			<td>8</td>
			<td>Nick finishes well around the rim for his size. He has a natural shot making ability and can score in a variety of ways. Nick is a crafty player and uses a variety of fakes to create space on the offensive end.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Pona, Naszell</td>
			<td>8</td>
			<td>Naszell is an aggressive offensive player who can get to the rim with ease. He can finish with either hand around the basket but he also understands when to kick the ball out to the open man. He plays with a good change of pace and knows when to push the temo.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Jonathan-Pryor-300x200.jpg" alt="Jonathan Pryor" width="300" height="200" class="aligncenter size-medium wp-image-75822" /></td>
			<td>Pryor, Jonathan</td>
			<td>11</td>
			<td>Jonathan is a high IQ player who knows how to move without the basketball. He is an active rebounder who does a great job of creating second chance opportunites for his team. Jonathan plays hard on every possession and is a great teammate.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/trahe-qualls-300x200.jpg" alt="trahe qualls" width="300" height="200" class="aligncenter size-medium wp-image-75856" /></td>
			<td>Qualls, Trahe</td>
			<td>9</td>
			<td>Trahe is an impressive athlete who does a great job of collecting rebounds at their peak. He never forces things on the offensive end and is an unselfish player. For his age, Trahe possesses really good ball handling skills. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Jeremy-Remigio-300x200.jpg" alt="Jeremy Remigio" width="300" height="200" class="aligncenter size-medium wp-image-75820" /></td>
			<td>Remigio, Jeremy</td>
			<td>10</td>
			<td>Jeremy is an active defender who is constantly communicating on that end of the floor. He is strong with the ball and can get to the rim with ease. He also has the ability to keep the defense honest with pull-up jumpers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Khalil-Rios-Pina-300x200.jpg" alt="Khalil Rios-Pina" width="300" height="200" class="aligncenter size-medium wp-image-75830" /></td>
			<td>Rios-Pina, Khalil</td>
			<td>8</td>
			<td>Khalil is a crafty ball handler who does a great job of breaking down the defense and penetrating the gaps. He is a scoring guard who excels when going to the rim. Khalil is an active player on the defensive end as he is constantly interrupting the passing lanes.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Rivas, Michael</td>
			<td>11</td>
			<td>Michael is a quick, shifty guard with a good handle. He is an instinctive defender and is constantly disrupting the passing lanes. He attacks the glass well and does a great job of creating second chance opportunities for his team. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Geovanny-Sanchez-300x200.jpg" alt="Geovanny Sanchez" width="300" height="200" class="aligncenter size-medium wp-image-75811" /></td>
			<td>Sanchez, Geovanni</td>
			<td>9</td>
			<td>Geovanni is a very active player who hustles after every rebound and loose ball. He communicates well on the defensive end and directs his teammates where to go. He competes on both ends of the court and never takes a play off.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Tyairus-Sands-300x200.jpg" alt="Tyairus Sands" width="300" height="200" class="aligncenter size-medium wp-image-75858" /></td>
			<td>Sands, Tyarius </td>
			<td>11</td>
			<td>Tyarius is a high IQ player who understands the importance of spacing on the offensive end of the floor. He is a team player who rarely makes an error. He has a very quick second jump which allows him to keep offensive rebound alive.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Spencer-Saxon-300x200.jpg" alt="Spencer Saxon" width="300" height="200" class="aligncenter size-medium wp-image-75851" /></td>
			<td>Saxon, Spencer</td>
			<td>11</td>
			<td>Spencer is a high energy guard who is extremely active on both ends of the floor. He is an aggressive defender with good instincts, especially when on the ball. He crashes the glass hard and does a great job of creating second chance opportunites for his teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Isaiah-Silva-300x200.jpg" alt="Isaiah Silva" width="300" height="200" class="aligncenter size-medium wp-image-75815" /></td>
			<td>Silva, Isaiah</td>
			<td>8</td>
			<td>Isaiah is a high IQ player who moves well without the ball to get himself open looks. He understands the concept of spacing and knows where to be on the court at all times. Isaiah takes  pride on the defensive end and is a lockdown on ball defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Hunter-Simpson-300x200.jpg" alt="Hunter Simpson" width="300" height="200" class="aligncenter size-medium wp-image-75812" /></td>
			<td>Simpson, Hunter</td>
			<td>8</td>
			<td>Hunter is an assertive player who never backs down from a challenge. His midrange is very good and he has great rhythm on his jumpers. He competes on both ends of the court and never takes a play off.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Zach-Simpson-1024x683.jpg" alt="Zach Simpson" width="300" height="200" class="aligncenter size-large wp-image-75862" /></td>
			<td>Simpson, Zach</td>
			<td>10</td>
			<td>Zach is a quick defender who does a great job of keeping his man in front of him. He has a high basketball IQ and always knows where to be on the court. He creates opportunites for his team with his hustle.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Dana-Smith-300x200.jpg" alt="Dana Smith" width="300" height="200" class="aligncenter size-medium wp-image-75797" /></td>
			<td>Smith, Dana</td>
			<td>8</td>
			<td>Dana is a strong forward who sets very good screens for his teammates. He is constantly communicating on the defensive end and does a great job of directing his teammates. He Dana is an aggressive rebounder who goes after everything on the glass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Davantae-Smith-300x200.jpg" alt="Davantae Smith" width="300" height="200" class="aligncenter size-medium wp-image-75801" /></td>
			<td>Smith, Davanta'e</td>
			<td>9</td>
			<td>Davanta'e is an active player who takes pride on the defensive end. He hustles after every loose ball and will do whatever it takes to help his team win. For a guard, Davanta'e is a superior rebounder who has a knack for finding the ball. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Kyle-Smith-300x200.jpg" alt="Kyle Smith" width="300" height="200" class="aligncenter size-medium wp-image-75833" /></td>
			<td>Smith, Kyle</td>
			<td>10</td>
			<td>Kyle possesses good size for a guard, which he uses to his advantage when handling ball pressure. His handles allow him to create on the offensive end for himself and his teammates. His motor is undeniable as he competes on both ends of the court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Sean-Smith-300x200.jpg" alt="Sean Smith" width="300" height="200" class="aligncenter size-medium wp-image-75850" /></td>
			<td>Smith, Sean</td>
			<td>11</td>
			<td>Sean is a very athletic player who uses his length and quickness to his advantage on both ends of the court. He is very strong when driving to the basket where he is able to finish with either hand. He can score in a variety of ways and his strength allows him to finish through contact around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Courie-Stevenson-300x200.jpg" alt="Courie Stevenson" width="300" height="200" class="aligncenter size-medium wp-image-75795" /></td>
			<td>Stevenson, Courie</td>
			<td>11</td>
			<td>Courie is a high energy player who put a lot of effort into the defensive end of the court. He uses his athleticism well, especially when going after rebounds. Courie competes on both ends of the court and is a great teammate. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Rodney-Theodore-300x200.jpg" alt="Rodney Theodore" width="300" height="200" class="aligncenter size-medium wp-image-75843" /></td>
			<td>Theodore, Rodney</td>
			<td>12</td>
			<td>Rodney possesses a versatile offensive repertoire, as he can score in a variety of ways. He is a solid shooter who knows when to get past overcommiting defenders. Rodney takes pride on the defensive end and is a great on ball defender. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Drew-Thibeault-300x200.jpg" alt="Drew Thibeault" width="300" height="200" class="aligncenter size-medium wp-image-75806" /></td>
			<td>Thibeault, Drew</td>
			<td>10</td>
			<td>Drew competes on both ends of the court and never takes a possession off. He is a very good interior passer who makes plays that others can't see. He is a team player who can fit into any system based on how hard he plays.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Jahroll-Thomas-300x200.jpg" alt="Jahroll Thomas" width="300" height="200" class="aligncenter size-medium wp-image-75818" /></td>
			<td>Thomas, Jahrell</td>
			<td>12</td>
			<td>Jahrell is a strong, physical player who does all the little things well. He runs the floor well in transition for easy looks at the basket. Jahrell is active on the glass and is a solid rebounder. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Kahlil-Watkins-300x200.jpg" alt="Kahlil Watkins" width="300" height="200" class="aligncenter size-medium wp-image-75825" /></td>
			<td>Watkins, Kahlin</td>
			<td>10</td>
			<td>Kahlin is a lefty wing who possesses a good basketball frame. He has a quick release which allows him to get his shot off whenever he wants. He plays hard but is always under control.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Brian-White-1024x683.jpg" alt="Brian White" width="1024" height="683" class="aligncenter size-large wp-image-75792" /></td>
			<td>White, Brian</td>
			<td>12</td>
			<td>Brian is a superior on ball defender who really disrupts his opponent. Offensively, Brian excels when driving to the basket. His ability to penetrate the defense allows him to create for himself and his teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Thomaz-Whitford-300x200.jpg" alt="Thomaz Whitford" width="300" height="200" class="aligncenter size-medium wp-image-75853" /></td>
			<td>Whitford, Thonaz</td>
			<td>10</td>
			<td>Thonaz is a strong, athletic wing who is aggressive when attacking the glass. He uses his body well to absorb contact when attacking the rim. He is an excellent rebounder on both ends of the court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Deon-Singeltary-300x200.jpg" alt="Deon Singeltary" width="300" height="200" class="aligncenter size-medium wp-image-75804" /></td>
			<td>Williams-Singletary, Deon</td>
			<td>11</td>
			<td>Deon is a long, athletic wing who can really stretch the defense with his three point shooting ability. He looks to attack the rim in transition for easy scoring opportunities. Deon plays hard on both ends of the court and is always looking to push the tempo. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Blair-Xu-300x200.jpg" alt="Blair Xu" width="300" height="200" class="aligncenter size-medium wp-image-75790" /></td>
			<td>Xu, Blair</td>
			<td>11</td>
			<td>Blair is a student of the game who has a very high basketball IQ. He understands spacing and moves well without the ball. He is an athletic player who is active on the glass. In addition, Blair can score in a variety of ways. </td>
		</tr>
	</tbody>
</table>
