<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Brennan Rosales</td>
			<td>6-4</td>
			<td>Coral Academy of Science</td>
			<td>Henderson, Nev.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Dante Nardi</td>
			<td>5-6</td>
			<td>Kingston Senior High School</td>
			<td>Kingston, N.Y.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Anthony Gibbs</td>
			<td>5-6</td>
			<td>Bedford Academy High School</td>
			<td>Brooklyn, N.Y.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Sean Graytok</td>
			<td>5-10</td>
			<td>Latrobe High School</td>
			<td>Latrobe, Pa.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Matthew Kanan</td>
			<td>6-0</td>
			<td>New Paltz High School</td>
			<td>New Paltz, N.Y.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Kaleb Robinson</td>
			<td>5-8</td>
			<td>Coral Academy of Science</td>
			<td>Las Vegas, Nev.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Jack Buckmelter</td>
			<td>6-0</td>
			<td>Colorado Academy</td>
			<td>Denver, Colo.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Mason Mangapora</td>
			<td>6-2</td>
			<td>Canfield High School</td>
			<td>Canfield, Ohio</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Justin Porter</td>
			<td>5-7</td>
			<td>Ewing High School</td>
			<td>Ewing, N.J.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Isaiah Wingfield</td>
			<td>5-8</td>
			<td>Bishop Eustace High School</td>
			<td>Pennsauken, N.J.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Zachary Rowe</td>
			<td>5-11</td>
			<td>Cherokee High School</td>
			<td>Marlton, N.J.</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
