<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Michael Berk</td>
			<td>6-2</td>
			<td>William Penn Charter School</td>
			<td>Philadelphia, Pa.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Tyler McShea</td>
			<td>6-5</td>
			<td>Pemberton High School</td>
			<td>Hainesport, N.J.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Samuel Allen</td>
			<td>6-6</td>
			<td>Lewisburg High School</td>
			<td>Lewisburg, Pa.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Josh Mueller</td>
			<td>6-7</td>
			<td>Homestead High School</td>
			<td>Mequon, Wisc.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Bailey Whitman</td>
			<td>5-11</td>
			<td>Germantown Academy</td>
			<td>Fort Washington, Pa.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Tyler Jones</td>
			<td>5-11</td>
			<td>Pennington School</td>
			<td>Lawrenceville, N.J.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Justin Bassey</td>
			<td>6-3</td>
			<td>Colorado Academy</td>
			<td>Denver, Colo.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Evin Caswell</td>
			<td>6-1</td>
			<td>Ocracoke School</td>
			<td>Ocracoke, N.C.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Romello Ford</td>
			<td>5-5</td>
			<td>St. Peter's Prep</td>
			<td>Jersey City, N.J.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Wynton Butler</td>
			<td>5-7</td>
			<td>Reading High School</td>
			<td>Reading, Pa.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Kyle Mak</td>
			<td>6-1</td>
			<td>Blind Brook High School</td>
			<td>Rye Brook, N.Y.</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
