<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Player</th>
			<th>Grade</th>
			<th>Evaluation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Bradley-Hastings-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61203" /></td>
			<td>Bradley Hastings</td>
			<td>11</td>
			<td>PG that plays hard with a great pace. Knows when to hit an open teammate and when to score at the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Max-Curran-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61251" /></td>
			<td>Max Curran </td>
			<td>12</td>
			<td>Guard that played hard on both sides of the ball. Moves ball in offense and has a solid jump shot.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Jake Midura </td>
			<td>11</td>
			<td>Guard that knows how to run the floor to score at rim or knock down open shot. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Charles-Adebayo-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61209" /></td>
			<td>Charles Adebayo</td>
			<td>12</td>
			<td>Great athlete that plays above the rim, solid inside. Active on ball defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Kyerstan-Casey-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61247" /></td>
			<td>Kyerstan Casey</td>
			<td>10</td>
			<td>Guard that moves ball well to find open teammates. Can knock down shots at any time.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Kafani-Williams-300x150.jpg" alt="" width="300" height="150" class="aligncenter size-medium wp-image-61244" /></td>
			<td>Kafani Williams </td>
			<td>12</td>
			<td>Athletics slasher that can score at the rim and has the ability to knock down the 3.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Tyrone-Jenkins-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61270" /></td>
			<td>Tyrone Jenkins </td>
			<td>10</td>
			<td>Tyrone is at he best when he attacking the rim. Finishes well with both hands in traffic. Great motor and very solid IQ.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Zecaree-Veiga-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61276" /></td>
			<td>Zecaree Veiga </td>
			<td>11</td>
			<td>Very athletic that will continuously give 100 percent effort on the court. Constantly gets the loose ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Tyrone-Perry-300x150.jpg" alt="" width="300" height="150" class="aligncenter size-medium wp-image-61271" /></td>
			<td>Tyrone Perry </td>
			<td>10</td>
			<td>Tyrone can see the floor extremely well. Loves to attack the rim with his athleticism.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Sheamus-Keahny-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61267" /></td>
			<td>Seamus Keaney </td>
			<td>9</td>
			<td>Seamus has a very clean understanding of the game. Uses his IQ and jump shot to control the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Marcus-Santos-Silva-300x150.jpg" alt="" width="300" height="150" class="aligncenter size-medium wp-image-61250" /></td>
			<td>Marcus Santos-Silva</td>
			<td>11</td>
			<td>Marcus can score with a plethora of creative moves in and around the paint. Using his athleticism he gets by defenders.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Ourmaru-Kante-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61259" /></td>
			<td>Oumaru Kante </td>
			<td>12</td>
			<td>He knows what to do when the ball is in his hand. He attacks the defense and uses creative moves to finish the play.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Dante-Timbas-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61212" /></td>
			<td>Dante Timbas </td>
			<td>10</td>
			<td>He gives his all 100 percent of the time and will make the play others wouldn't be willing to make. Has a well-rounded jump shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Cory-Romich-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61211" /></td>
			<td>Corey Romich </td>
			<td>10</td>
			<td>He consistently outworks his competitors to create a positive play for his team. His IQ for the game is above average.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/J-Dotton-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61223" /></td>
			<td>Jakigh Dotton </td>
			<td>10</td>
			<td>He is extremely well in transition and has a desire to make the right play for his team. He can shut down players with his defense.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Ryan Murdoch </td>
			<td>11</td>
			<td>Knows how to command his team with the ball. His jump shot is smooth and lethal. Leads by example.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Mitchell-Doherty-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61255" /></td>
			<td>Mitchell Doherty </td>
			<td>9</td>
			<td>Uses anticipation to create good position in the post. When given the ball can finish at a high rate.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Jourdayne-Ross1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61242" /></td>
			<td>Jourdayne Ross</td>
			<td>11</td>
			<td>Extremely athletic and is a great defender. Has the ability to finish on the offensive end. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Brendan-Hoban-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61204" /></td>
			<td>Brendan Hoban </td>
			<td>11</td>
			<td>He can run the floor very well and finishes strong at the rim. Has a great understanding of the game and can anticipate the next play.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Isaiah-Hinds-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61222" /></td>
			<td>Isaiah Hinds </td>
			<td>9</td>
			<td>He uses his athleticism to get around players and plays with a high level of energy. Communicates well on both sides of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Willie-Veal-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61273" /></td>
			<td>Willie Veal </td>
			<td>10</td>
			<td>Has a solid jump shot with a positive attitude. His IQ for the game is strong with great defensive skills.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Justin-Leip1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61243" /></td>
			<td>Justin Leip</td>
			<td>11</td>
			<td>Great initiator with the ball. Controls the offense with a well-rounded offensive skill set.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Alex Renaud </td>
			<td>9</td>
			<td>Alex works hard at all times. His basketball IQ and defensive concepts are excellent.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Brendan T. Williams</td>
			<td>11</td>
			<td>Athletic wing that is very quick in transition and sprints the floor looking to make a play. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Ross Gerber </td>
			<td>11</td>
			<td>Very good vision in his game. Uses his high IQ to find players. Can knock down from the 3 point line and can handle the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/John-Mathis-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61233" /></td>
			<td>John Mathis </td>
			<td>11</td>
			<td>Rebounds the ball well and has a great IQ for reading the floor and finding the open players.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Kris-Carroll-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61246" /></td>
			<td>Kris Caroll </td>
			<td>12 </td>
			<td>Can see the floor well and drives to find the open man. Excellent at breaking defender down to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Dominic-Grauso-300x150.jpg" alt="" width="300" height="150" class="aligncenter size-medium wp-image-61216" /></td>
			<td>Dominic Grauso </td>
			<td>11</td>
			<td>Agressive slasher with a high motor who gets to the rim with ease. Very good ball handler who sees the floor well and makes good decisions. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Jeff-Card-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61229" /></td>
			<td>Jeff Card </td>
			<td>10</td>
			<td>High IQ guard who makes hustle plays. Smart on D with a high motor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Anthony-Sorino-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61200" /></td>
			<td>Anthony Sorino </td>
			<td>11</td>
			<td>Great motor on the glass. Smart player who sees angles to find open players. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Jermaine-Fernandes-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61231" /></td>
			<td>Jermaine Fernandes </td>
			<td>9</td>
			<td>Small crafty PG with a good handle. Creates well for his teammates and reads the floor well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Brian-Short-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61206" /></td>
			<td>Brian Short </td>
			<td>11</td>
			<td>Well-built jump shooter with a good frame. Uses his body well inside to score. Knows how to be physical.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Aidan Hirsh </td>
			<td>12</td>
			<td>Physical guard who always makes the right play. Aggressive defender who can pick his defenders pocket. Uses a very high IQ to create plays.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Jonell-Roberts2-300x150.jpg" alt="" width="300" height="150" class="aligncenter size-medium wp-image-61241" /></td>
			<td>Janell Roberts</td>
			<td>12 </td>
			<td>Very athletic wing with a high motor. Finds a way to make a play around the rim and finish the play. Ability to stretch the floor with his 3 pt shot. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Tyler Dunn</td>
			<td>11</td>
			<td>Long shooter that can hit shots off the catch or off the dribble. He is also an effective passer from the wing. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>David Roelke</td>
			<td>11</td>
			<td>David can score at will from the outside, and also has an easy time getting in the paint. He also facilitates when he draws extra defenders. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Brian Monaghan</td>
			<td>10</td>
			<td>Point guard who is very skilled. He can score at the rim and off the dribble. He plays with great energy and speed. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Avelino-Damoura-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61201" /></td>
			<td>Avelino Damoura</td>
			<td>10</td>
			<td>Avelino is a good shooter who moves the ball to find teammates. He is a good leader on both ends.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Christopher-Hulbert-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61210" /></td>
			<td>Christopher Hulbert</td>
			<td>9</td>
			<td>Very smart player who finds open areas in the defense. He can also shoot it from distance.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Devondre Edmonds</td>
			<td>9</td>
			<td>Devondre is an impressive, young wing who will help a team immediately at the next level. He is smart and athletic, with a nose for the ball. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Andrew-Galanek.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-61197" /></td>
			<td>Andrew Galanek</td>
			<td>11</td>
			<td>Andrew makes all the hustle plays and is a great off the ball defender. He is an impact on both sides of the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Nazaair-Bryan-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61257" /></td>
			<td>Nazaair Bryan</td>
			<td>9</td>
			<td>Nazaair is an aggressive point guard with a big upside. He shoots well from mid range and works hard on defense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Anthony-Kennon.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-61199" /></td>
			<td>Anthony Kennon</td>
			<td>11</td>
			<td>Anthony is a long guard that is determined to get to the rim. He can passes well and can finish in transition. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/John-OConnor1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61239" /></td>
			<td>John O'Connor</td>
			<td>11</td>
			<td>John is a tall guard that can control the pace of the floor. He finds ways to set himself up, as well as teammates, for open shots. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Luqman-Adbur-Rauf-300x214.jpg" alt="" width="300" height="214" class="aligncenter size-medium wp-image-61280" /></td>
			<td>Luqman Abdur-Rauf</td>
			<td>11</td>
			<td>Small guard that plays hard all the time. He sprints in transition and has a great feel for spacing the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Joey-Polczynski-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61232" /></td>
			<td>Joey Polczynski</td>
			<td>11</td>
			<td>Shooter who knocks down 3's. Great penetrate that finds open teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Timothy-ONeil-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61268" /></td>
			<td>Timothy O'Neill</td>
			<td>11</td>
			<td>Quick point guard that handles the ball and pushes it forward in transition. He also finishes at the rim with both hands.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Erik-Braaten-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61219" /></td>
			<td>Erik Braaten</td>
			<td>11</td>
			<td>He is a long big man with the ability to shoot from the perimeter. He also disrupts the opposition in the paint. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Geovonni-Kraus1-300x233.jpg" alt="" width="300" height="233" class="aligncenter size-medium wp-image-61279" /></td>
			<td>Geovonni Kraus</td>
			<td>11</td>
			<td>Big athletic wing who uses his body well inside. He plays big in the post and has a high motor on the glass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Darrion-Jones-Thorman-300x150.jpg" alt="" width="300" height="150" class="aligncenter size-medium wp-image-61213" /></td>
			<td>Darrion Joran-Thomas</td>
			<td>9</td>
			<td>Big athletic post with a huge upside. He has a great IQ that helps him on defense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Earnest-Umoh-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61217" /></td>
			<td>Earnest Umoh</td>
			<td>10</td>
			<td>Big wing who plays physical. He is a good defender with good instincts.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Jason-Palmer-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61228" /></td>
			<td>Jason Palmer</td>
			<td>10</td>
			<td>Jason is a long point guard who makes smart decisions and finds open teammates. He has a good IQ and gets in the paint. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Sam-Wittle-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61264" /></td>
			<td>Samuel Whittle</td>
			<td>10</td>
			<td>He is a smart, physical scorer who can shoot and get to the rim. He is a good rebounder on both ends. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Davonte-Metts-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61214" /></td>
			<td>Davonte Metts</td>
			<td>10</td>
			<td>Tough guard with a good handle. Really good shooter who can get his feet set off screens. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Ryan Monaghan</td>
			<td>10</td>
			<td>He is an athletic guard with a good feel for the game. He shoots the ball well on the perimeter. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Wolf-Kalb-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61274" /></td>
			<td>Wolf Kalb </td>
			<td>10</td>
			<td>Wing with excellent basketball IQ. Very athletic and has a nice jump shot.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Imer Ortiz </td>
			<td>11</td>
			<td>He can shut down players on the defensive end. Great at rebounding the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Bailey-Patella-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61202" /></td>
			<td>Bailey Patella</td>
			<td>11</td>
			<td>Smart player on both ends of the floor and knows when to make the right play. Uses his basketball IQ to find open players.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Kyle-Butler-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61248" /></td>
			<td>Kyle Butler </td>
			<td>8</td>
			<td>Can see the floor extremely well and can blow by any defender. He is at his best when he is handling the offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Tyjon-Gilmore-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61269" /></td>
			<td>Tyjon Gilmore </td>
			<td>11</td>
			<td>Big point guard with great ball handling. Knows how to break down his defender and attack the point. Has great touch around the basket. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Brandon Chaisson </td>
			<td>11</td>
			<td>Hard-working guard who is very active on the defensive end. Uses his high IQ to make an impact on the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Greg-Thomas-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61220" /></td>
			<td>Greg Thomas </td>
			<td>9</td>
			<td>Athletic point guard with great vision and decision making on the floor. Excellent on ball defender who causes problems for his man. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Lorenzo Fernandez </td>
			<td>11</td>
			<td>Long wing who causes problems on defense with his athleticism. Crashes the glass hard on both ends of the court.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Darnick Boyd </td>
			<td>12 </td>
			<td>Strong athlete with a good handle with the ball. Can shoot the 3 off the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Nate-Petnaude-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61256" /></td>
			<td> Petnaude </td>
			<td>10</td>
			<td>Strong player and can score around the rim efficiently. Using his athleticism he can grab rebounds at a high rate.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Andrew-Sciancalepore.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-61198" /></td>
			<td>Andrew Sciancalepore </td>
			<td>11</td>
			<td>Talented player that can find multiple ways to find the rim. Excels at finishing and rebounding. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Cade-Theil-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61207" /></td>
			<td>Cade Theil </td>
			<td>10</td>
			<td>Can find ways to get open and make shots. Knows how to handle the ball and plays hard at all times. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Jonathan-Batista1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61240" /></td>
			<td>Jonathan Batista </td>
			<td>11</td>
			<td>Unselfish point guard that always is trying to find the open player. Knows how to break people down and get into the paint. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Alex-Mrusek.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-61196" /></td>
			<td>Alex Mrusek</td>
			<td>11</td>
			<td>Big body forward who is physical in the paint. He is a good passer and makes smart plays. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Brian-Mokasa-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61205" /></td>
			<td>Brian Mukasa</td>
			<td>12</td>
			<td>He is a very good guard with handles and a sweet jumper. If he continues to make smart plays he will be a good player at the next level.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Alex-Halloway.jpg" alt="" width="5184" height="3456" class="aligncenter size-full wp-image-61282" /></td>
			<td>Alex Holloway</td>
			<td>11</td>
			<td>Alex is a crafty lefty who can get out and push in transition. He has a good change of pace and scores consistently. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Devrae-Burns-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61215" /></td>
			<td>Devrae Burns</td>
			<td>9</td>
			<td>He competes well against older competition and never backs down. He has a good jump shot and gets space to take it. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Benny Mandelbrot</td>
			<td>10</td>
			<td>He showed his ability to impact the game on offense and defense. He catches and finishes in transition. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Jared-Whitt-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61226" /></td>
			<td>Jared Whitt</td>
			<td>9</td>
			<td>Jared has excellent size and uses it to rebound. He runs the floor well and consistently. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Rayan-Ibrahim-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61288" /></td>
			<td>Rayan Ibraheem</td>
			<td>12</td>
			<td>Rayan is a big, physical forward that plays extremely hard.  Rebounds the ball well on both ends of the court.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Bahu Abdul-Wadud</td>
			<td>10</td>
			<td>Bahu is a guard that loves to attack the rim.  Excellent ball-handler and on-ball defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Ricky-Mixson-300x150.jpg" alt="" width="300" height="150" class="aligncenter size-medium wp-image-61262" /></td>
			<td>Rick'Keem Mixson</td>
			<td>11</td>
			<td>Rick'Keem is an athletic guard that can penetrate the lane with ease.  Excels at creating shots for his teammates.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Keiayvin Hayes</td>
			<td>11</td>
			<td>Keiayvin is a quick and athletic guard who can get into the lane with ease.  Very elusive in transition.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>James Lustig</td>
			<td>9</td>
			<td>James is a strong guard that works every single possession.  Rebounds well for his size and is always apart of loose ball situations.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Jackson-Mannix-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61224" /></td>
			<td>Jackson Mannix</td>
			<td>10</td>
			<td>Jackson is a forward who rebounds the ball well.  Very adept at shooting the ball from deep.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Kiwan-Nicholson-300x150.jpg" alt="" width="300" height="150" class="aligncenter size-medium wp-image-61245" /></td>
			<td>Kiwan Nicholson</td>
			<td>10</td>
			<td>Kiwan is a quick guard who can get to the rim off the bounce.  Kiwan is an extremely hard worker.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Moody Bey</td>
			<td>11</td>
			<td>Athletic wing who is difficult to guard when attacking the basket.  Good defender with quick feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Sean-Christy-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61265" /></td>
			<td>Sean Christy</td>
			<td>9</td>
			<td>Face-up forward that can take his defender to the basket it or give a stand still jumper.  Attacks the basket aggressively when rebounding.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Sam-Hanley-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61263" /></td>
			<td>Sam Hanley</td>
			<td>10</td>
			<td>Sam is a guard that makes great decisions with the basketball.  Handles the ball well, minimal turnovers, and has range shooting the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Malik-Tavares-300x150.jpg" alt="" width="300" height="150" class="aligncenter size-medium wp-image-61249" /></td>
			<td>Malik Tavares</td>
			<td>12</td>
			<td>Malik is an athletic guard that plays hard on both ends of the court.  Tough to guard when attacking the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Victor-Billups-Jackson1-300x222.jpg" alt="" width="300" height="222" class="aligncenter size-medium wp-image-61281" /></td>
			<td>Victor Billups-Jackson</td>
			<td>10</td>
			<td>Victor is a long, athletic player with fast hands.  When attacking the rim, can finish at the basket with either hand.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Lawrence-Sabir-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61285" /></td>
			<td>Lawrence Sabir</td>
			<td>11</td>
			<td>Quick, athletic guard with terrific handle.  Due to his work ethic, Lawrence is involved in almost every play.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Cameron-Ray-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61208" /></td>
			<td>Cameron Ray</td>
			<td>9</td>
			<td>Cameron has very good touch around the rim.  Long and athletic, uses this to his advantage rebounding the basketball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Zach-Mancini-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61275" /></td>
			<td>Zachary Mancini</td>
			<td>11</td>
			<td>Strong, physical guard with good handle.  Good shooter and tough to contest with his quick release.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Paul-Durken-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61261" /></td>
			<td>Paul Durken</td>
			<td>9</td>
			<td>Paul can knock down the open jumper and finish at the rim with both hands.  Very tough, determined player.  </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Shandon-Brown-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61266" /></td>
			<td>Shandon Brown</td>
			<td>9</td>
			<td>Shandon is a terrific shooter from the three point line.  Aggressive on-ball defender, frustrates the offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Isaiah-Harrison-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61221" /></td>
			<td>Isaiah Harrison</td>
			<td>10</td>
			<td>Isaiah is a quick, crafty guard who can score in a multitude of ways.  Savvy when attacking the basket, looks for mid-range jumper when available.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Nicholas-Rupelli-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61258" /></td>
			<td>Nicholas Rupelli</td>
			<td>12</td>
			<td>Nicholas is a quick guard with a good first step.  Attacks the basket at will.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Cormac Ryan</td>
			<td>10</td>
			<td>Cormac is a long guard that finishes well in transition.  Drives to the rim and finds open teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Maximilian-Kiehm-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61252" /></td>
			<td>Maximillian Kiehm</td>
			<td>11</td>
			<td>Maximillian shoots the ball well from mid-range and  three point distance.  Active defender, always gets his hands in passing lanes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Elijah-Lewis-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61218" /></td>
			<td>Elijah Lewis</td>
			<td>12</td>
			<td>Lefty, quick guard who is crafty around the basket.  Skilled ball-handler, low turnover rate.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Jarron-Santos1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61284" /></td>
			<td>Jarron Santos</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Patrick-Welch1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61287" /></td>
			<td>Patrick Welsh</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Jamari-Johnson1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61283" /></td>
			<td>Jamari Johnson</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/05/Michael-Sulik2-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-61286" /></td>
			<td>Michael Sulik</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
