<table>
	<thead>
		<tr>
			<th>Player HeadShots</th>
			<th>Player Bio</th>
			<th>Clinic Takeaways</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ahmad-Ish-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48468" /></td>
			<td>Ish Ahmad
Grade: 12
Brooklyn, NY
Height: 5'9"
Wingspan: 74
Reach: 89
Vertical: 25</td>
			<td>Ball Handle Skills/Shooting
A solid Point Guard that plays at a high level of intensity. A very good shooter and a active defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Aisogun-Emmanual-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48469" /></td>
			<td>Emmanual Aisogun
Grade: 12
Bronx, NY
Height: 5'10"
Wingspan: 73
Reach: 89
Vertical: 22</td>
			<td>Effort and Rebounding
Not often to you see rebounding as a strength for a guard, but Emmanual is not an ordinary guard.  He plays tough and constantly goes after the ball on both ends of the floor.  He's a physical guard who isn't afraid to mix it up.  He also was an apt passer with hit-a-heads for layups and scores.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Allicock-Tarik-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48470" /></td>
			<td>Tarik Allicock
Grade: 12
Brooklyn, NY
Height: 6'6"
Wingspan: 83
Reach: 102
Vertical: 22</td>
			<td>Athleticism and Strength
Tarik is extremely athletic.  He poses a strong defensive threat for opponents driving the lane or posting up.  He rebounds well and has a great body for the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Allman-Kyle-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48471" /></td>
			<td>Kyle Allmana
Grade: 11
Brooklyn, NY
Height: 6'1"
Wingspan: 74
Reach: 93
Vertical: 26</td>
			<td>Quickness and Left-Hand
Kyle is exceptionally quick both with and without the ball. He is hard to beat on the defensive end, but even harder to guard on the offensive end.  He gets into the lane, creates space, and can finish extremely well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Atkinson-Keyshawn-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48472" /></td>
			<td>Keyshawn Atkinson
Grade: 11
Height: 6'1"
Wingspan: 75
Reach: 91
Vertical: 32</td>
			<td>Defense and Rebounding
Keyshaun plays very hard.  He consistently got his teammates involved both offensively and defensively.  His handles were a strength of his and allowed him to make plays.  His jumps shot (although he did not take many) were accurate and well placed.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Basket-Luke2-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48473" /></td>
			<td>Luke Basket
Grade:  12
Oak Ridge, NJ
Height: 5'11"
Wingspan: 69
Reach: 87
Vertical: 23</td>
			<td>Ball Handling, Effort, Intangibles
Luke may have the best understanding of the game of any player at the event.  As an uncommitted many of the colleges in attendance and even those not in attendance should take a long look at this kid.  He can score, he plays good defense, but most of all he competes.  Very fast with the ball in his hands and also unselfish.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Berrios-Devin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48474" /></td>
			<td>Devin Berrios
Grade: 11
Brooklyn, NY
Height: 5'9"
Wingspan: 70
Reach: 89
Vertical: 15</td>
			<td>Shooting and Passing
Devin has a quick release and can knock down jumpers (especially off the catch).  He works hard at both ends of the floor and creates a lot of opportunities for his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bodrick-Jahmel-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48475" /></td>
			<td>Jahmel Bodrick
Grade: 10
New York, NY
Height: 6'0"
Wingspan: 79
Reach: 99
Vertical: 26</td>
			<td>Strength and Rebounding
Jahmel's body is college ready.  He is tougher, stronger, and more physical than the majority of his competition.  He goes after the ball off the glass and also plays solid defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bonifacio-Jeremy-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48476" /></td>
			<td>Jeremy Bonifacio
Grade: 11
Bronx, NY
Height: 6'6"
Wingspan: 79
Reach: 99
Vertical: 29</td>
			<td>Athleticism and Defense
Jeremy is a ball player!  From the moment he steps on the floor he demands the defenses attention with his versatility.  He created some good offensive opportunities for himself in creative ways down low.  However, what Jeremy does best is use his athleticism, footwork, and instincts to deter and contest shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bourne-Deondre-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48477" /></td>
			<td>Deondre Bourne
Grade: 9
Brooklyn, NY
Height: 6'3"</td>
			<td>Quickness and Decision Making
Make no mistake about it Deondre Bourne is going to be a star.  He is a blur with the ball, but also plays with pace.  He can pull up, finish in transition, and find the open man.  Defensively he gets his arms in the passing lane and creates fastbreak opportunities.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Brown-Pop-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48264" /></td>
			<td>Barry Brown
Grade: 9
Neptune, NJ
Height: 5'10"</td>
			<td>Scoring and Defense
Barry "Pop" Brown was one of the most versatile young guards at the event.  He does an excellent job at pressuring the ball far from the rim and attacking defensively all over the floor.  Offensively he changes speed and direction exactly like coaches teach it.  Kid has a chance to be a special player as he continues to develop.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bunch-Josh-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48478" /></td>
			<td>Joshua Bunch
Grade: 10
West Hempstead, NY
Height: 5'11"
Wingspan: 76
Reach: 91
Vertical: 30</td>
			<td>Floor general/Ability to push the ball in transition
A smart Point guard that is very good in transition and gets all of his teammates involved. Is tough around the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/09/ChristopherBurkley100-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-12861" /></td>
			<td>Chris Burkley
Grade: 11
Greenlawn, NY
Height: 6'0"
Wingspan: 76
Reach: 92
Vertical: 29</td>
			<td>Pull-up and strength
Christopher is crafty and can score in a variety of ways.  He hits jumpers, changes speed well, has a great mid-range game, and finds a way to get to the line.  He draws the double team and is a capable passer as well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Byrd-CJ-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48480" /></td>
			<td>CJ Byrd
Grade: 12
Greenwich, CT
Height: 6'3"
Wingspan: 76
Reach: 92
Vertical: 30</td>
			<td>Athleticism/ Strength/ Quickness
An athletic wing player that finds ways to score in transition. Can play inside and outside the perimeter. Has ability to post up smaller players.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Castro-Williz-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48481" /></td>
			<td>Williz Castro
Grade: 9
Height: 5'6"
Wingspan: 68
Reach: 85
Vertical: 29</td>
			<td>Drives to find other/Smart Guard
A pass first Point Guard that has a knack for distributing the basketball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Charles-Ezekiel-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48482" /></td>
			<td>Ezekieel Charles
Grade: 11
Brooklyn, NY
Height: 6'1"
Wingspan: 81
Reach: 96
Vertical: 22</td>
			<td>Versatility and Athleticism
Ezekiel Charles is the kind of kid you enjoy watching play.  He plays with tremendous energy and can score inside and outside.  He has good strength and shoots it with good range.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Childs-Chris-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48483" /></td>
			<td>Chris Childs
Grade: 8
New York, NY
Height: 6'0"
Weight: 73
Wingspan: 91
Reach: 25
Vertical:</td>
			<td>Shooting/Ball Handle Skills/Basketball IQ
A solid all around guard. The player has a great basketball IQ and is a good shooter with deep range.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Sean Chung
Grade: 11
Elmont, NY
Height: 6'4"</td>
			<td>Team Player and BBall IQ
Sean knows how to play the game.  Whether it be a deflection on defense or a tough assist on the offensive end Sean does the little things that helps teams win.  He doesn't try to do TOO much and he looks to move the ball and get teammates involved.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Cisse-Seydou-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48484" /></td>
			<td>Seydou Cisse
Grade: 10
Brooklyn, NY
Height: 6'2"
Wingspan: 81</td>
			<td>Speed and Defense
Part of a very good defensive Top 100 team, Seydou may have been one of the leaders in this aspect on his team.  Excelling in the one-on-one drills in the workout carried over into his ability to guard older players both with and without the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Clark-Marquis-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48486" /></td>
			<td>Marquis Clark
Grade: 9
Bronx, NY
Height: 6'3"
Wingspan: 76
Reach: 94
Vertical: 32</td>
			<td>Athletic/Defense
Tremendous athlete that compete and takes pride on the defensive end. Attacks the offensive glass and finishes well with contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Clark-Keanu-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48485" /></td>
			<td>Keanu Clarke
Grade: 12
Roosevelt, NY
Height: 5'10"
Wingspan: 71
Reach: 85
Vertical: 30</td>
			<td>Ball Handling and Toughness
Keanu is extremely quick and handles at an extremely high level. He always pushes in transition and can take advantage of 3 on 2 and 2 on 1 situations at will.  He has a good feel for the game and can also score off the ball as well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Clarke-Aaron-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48487" /></td>
			<td>Aaron Clarke
Grade: 8
Parsippany, NJ
Height: 6'0"
Wingspan: 72
Reach: 89
Vertical: 25</td>
			<td>Aaron Clarke can do a little bit of everything.  He is one of the most skilled 8th graders in the area and can score, play D, and handle with the best of them.  The Team Scan middle-schooler is nothing short of breathtaking and many coaches would be lucky to have him directing traffic for them long term.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Randy Corporan
Grade: 11
Bronx, NY
Height: 5'10"</td>
			<td>Penetration, Speed/Quickness, Ball Handle
Point guard that has a very quick first step. Can score off the dribble to penetrate to find others or finish at the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Crawford-Khalief-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48488" /></td>
			<td>Khalief Crawford
Grade: 9
Linden, NJ
Height: 6'3"
Wingspan: 77
Reach: 93
Vertical: 28</td>
			<td>Shooter/Passing
A guard that makes the game come easy to him. Can handle the ball and find others and is also a good shooter.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Cruz-Tyler-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48489" /></td>
			<td>Tyler Cruz
Grade: 10
Rock Tavern, NY
Height: 5'10"
Wingspan: 76
Reach: 90
Vertical: 25</td>
			<td>Smart/Team Player
Team player that plays with a lot of heart on the offensive and defensive end. Looks to get others involved and create for others.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Dantzler-Anthony-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48490" /></td>
			<td>Anthony Dantzler
Grade: 11
Height: 5'10"
Wingspan: 74
Reach: 91
Vertical: 27</td>
			<td>Handles and Playmaking in Transition
Anthony has the ball on a string.  He pushes the ball in transition and finds teammates in the open court.  Extremely quick both with the ball and on the defensive end.  He'll make a college team very happy leading their fast breaks.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Dean-Jonathon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48491" /></td>
			<td>Jonathan Dean
Grade: 9
Westbury, NY
Height: 6'0"
Wingspan: 77
Reach: 92
Vertical: 28</td>
			<td>Body, Aggressiveness, Ambidextrous 
The natural lefty plays with a poise that is fun to watch.  Dean can finish around the rim with both hands and is a physically gifted guard who plays hard every minute he's on the floor.  He is unselfish and most importantly makes the right play in the vast majority of his opportunities.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Dean-Malachi-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48492" /></td>
			<td>Malachi Dean
Grade: 11
Westbury, NY
Height: 6'5"
Wingspan: 77
Reach: 96
Vertical: 27</td>
			<td>Good Body and Activity
He does a really good job of forcing players away from the hoop and making big man take tough shots over him.  He finds a way to be effective offensively whether it be screening, posting, or offensive rebounding.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Deraaff-Jake-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48493" /></td>
			<td>Jake Deraaff
Grade: 11
Garrison, NY
Height: 6'0"
Wingspan: 70
Reach: 89
Vertical: 24</td>
			<td>Ball Handle Skill/Shooting
A solid 2 Guard that has a great feel for the game and can knock down shots from the outside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Dervishas-Brad-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48355" /></td>
			<td>Brad Dervishaj
Grade: 8
Sayerville, NJ</td>
			<td>Unselfish/Good mid-range shooter
A big guard that can handle the ball and find open teammates. Has a good feel for the game</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Diallo-Hamidou-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48494" /></td>
			<td>Hamidou Diallo
Grade: 10
Corona, NY
Height: 5'10"
Wingspan: 79
Reach: 97
Vertical: 31</td>
			<td>Defensive Rebounding and Finishing
Hamidou can flat out play.  This long, athletic baller shows the athleticism and skill to make it at the next level.  During the event he attacked the defensive glass and rebounded the ball extremely well.  Offensively he attacked the rim and was able to finish through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Dickerson-Travis-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48495" /></td>
			<td>Travis Dickerson
Grade: 12
Amityville, NY
Height: 6'3"
Wingspan: 81
Reach: 99
Vertical: 25</td>
			<td>Passer/Defense
A slashing guard that create for both himself and others. Has a great understanding of the game and hustles on both ends of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Edwards-Zahir-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48496" /></td>
			<td>Zahir Edwards
Grade: 11
Bronx, NY
Height: 6'0"
Wingspan: 77
Reach: 96
Vertical: 29</td>
			<td>Rebounding and Athleticisim
Zahir is a tough kid.  The most notable aspect of his game at the NY Top 100 was his hard-nosed defense.  He also displayed versatility on the offensive end, stretching the defense on the perimeter and mixing it up inside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Enoch-Steven-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48497" /></td>
			<td>Steven Enoch
Grade: 11
South Norwalk, CT
Height: 6'9"
Wingspan: 86
Reach: 104
Vertical: 27</td>
			<td>Shot blocker/Rebounder/Ability to play inside and out
A stretch 4 man that plays with a high level. Great on the offensive/defensive boards and changes game with presence in paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Foster-Kahmoine-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48498" /></td>
			<td>Kahmoine Foster
Grade: 9
Jersey City, NJ
Height: 6'7"
Wingspan: 80
Reach: 99
Vertical: 28</td>
			<td>Rebounder/Help defense
Is a big body post player that changes the game dramatically with his size in the paint to alter shots and be the last line of defense for his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Funchess-Solomon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48499" /></td>
			<td>Solomon Funchess
Grade: 11
Height: 6'3"
Wingspan: 79
Reach: 97
Vertical: 30</td>
			<td>Hustle/Aggressive/ReboundingA very hard working inside player that is great at creating second chance opportunities on the offensive glass and a defensive rebounder. Player is able to finish in the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Galgano-Ryan1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48500" /></td>
			<td>Ryan Galgano
Grade: 9
Cresskill, NJ
Height: 5'9"
Wingspan: 71
Reach: 87
Vertical: 26</td>
			<td>Ball handle skill/shooting/strengthPhysical strong guard that knows to play the game. Is a very good ball handler that can really shoot the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Garcia-Dondre-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48501" /></td>
			<td>Dondre Garcia
Grade: 11
Westfield, NJ
Height: 6'1"
Wingspan: 76
Reach: 92
Vertical: 29</td>
			<td>Toughness and Defense
Dondre defends and does all the little things teams need to win.  He has the intangibles you look for as a coach, specifically the fact that he plays extremely hard.  He is also unselfish, and doesn't mind setting screens and spacing the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Gardener-Ian-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48502" /></td>
			<td>Ian Gardener
Grade: 12
South Norwalk, CT
Height: 6'4"
Wingspan: 79
Reach: 89
Vertical: 29</td>
			<td>Athletic/Strong/Gets to rim
A very talented swing man that can score at will. Is great offensively in transition and can get to the rim with strong finishes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Quaasim Glover
Grade: 9 
Port Reading, NJ
Height: 6'1"</td>
			<td>Feel for game/Ability to get in Paint/Playmaker
A Point Guard with a lot of potential. Great at driving to find others for open shots or dump downs for big man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Gordon-Basil-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48283" /></td>
			<td>Basil Gordon
Grade: 12
Height: 5'11"
Wingspan: 76</td>
			<td>Strength and Hustle
Basil is the kind of player who'll create opportunities for his teammates through his hard work and determination.  Basil is scrappy, tough, and plays as hard as anyone.  Basil is well rounded and rebounds exceptionally well for his size.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Grant-Issac-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48503" /></td>
			<td>Issac Grant
Grade: 10
Jamaica, NY
Height: 6'5"
Wingspan: 78
Reach: 99
Vertical: 25</td>
			<td>Rebounding and Defense
Issac plays stellar defense and rebounds very well.  His positioning when the ball goes up is strong and he gets off the floor quicker than most of his opponents.  He also has the ability to post hard and create space.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Grant-Maynard2-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48504" /></td>
			<td>Maynard Grant
Grade: Prep
Jamaica, NY
Height: 6'4"</td>
			<td>Strong finisher/Scrappy/Offensive rebounder
An undersized big man that is strong and tough. Will battle in paint to give second change opportunities offensive rebounds.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Grayson-Brandon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48505" /></td>
			<td>Brandon Grayson
Grade: 9
Freeport, NY
Height: 5'9"
Wingspan: 73
Reach: 88
Vertical: 23</td>
			<td>Rebounder/Effort/EnergyA Forward that works very hard on both ends of the floor. Competitive on the glass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hamilton-Kieran-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48506" /></td>
			<td>Kieran Hamilton
Grade: 11
Queens Village, NY
Height: 5'11"
Wingspan: 71
Reach: 87
Vertical: 26</td>
			<td>Quickness/Ability to finish at the rim 
A very quick guard that can break his man down off the dribble to get in the paint to score at the rim or make use of a floater.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Thomas Harris
Grade: 9
Brooklyn, NY 
Height: 6'5"</td>
			<td>Can Finish in Contact
Thomas has strong post moves on the block on both offense and defense. He's an athletic big man who can finish with his left and right hands. He uses his size to be an explosive player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hawkins-Chauncey-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48507" /></td>
			<td>Chauncey Hawkins
Grade: 9
Nanuet, NY
Height: 5'5"</td>
			<td>Ball Handling and Quickness
Chauncey is exactly what a point guard should be.  He is a pass-first, get everyone involved type of player.  He sees the floor well and also is a timely shooter.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hayes-Demitry-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48508" /></td>
			<td>Demitry Hayes
Grade: 8
Height: 5'7"
Wingspan: 68
Reach: 86
Vertical: 20</td>
			<td>Communication, Speed, BBall IQ
Demitry really seems to have an understanding of the game.  Despite not taking a ton of shots, he directs traffic for his teammates and creates scoring opportunities in other ways.  Also assisted on some buckets and helped create space for teammates.  This kid can play.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hernandez-Daniel-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48509" /></td>
			<td>Daniel Hernandez
Grade: 11
Flushing, NY
Height: 6'0"
Wingspan: 69
Reach: 90
Vertical: 30</td>
			<td>Ball Handle Skills/Passing/Feel for the game
A tough/scrappy guard that runs the fast break efficiently. Has a tight handle and can really pass the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Mario Hernandez-Ozuna
Grade: 12 
New York, NY
Height: 6'0"</td>
			<td>Driving/Scoring
A solid Lefty 2 guard that has a knack to get to the rim. Is a good shooter. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hicks-Ricky-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48510" /></td>
			<td>Ricky Hicks
Grade: 10
New York, NY
Height: 5'6"
Wingspan: 73
Reach: 89
Vertical: 27</td>
			<td>Playmaking Ability and Quickness
Ricky can slash to the basket and has a knack for finding the open man.  No one could keep him in front or out of the lane in either game.  He is smooth and particularly looked strong coming off of ball screens, both for scoring and assisting.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Donnell Hill
Grade: 10
Height: 6'7"</td>
			<td>Body, Athleticism, and Touch
Hill is a long, athletic, and skilled face-up big man who knows how to play.  He has a smooth stroke and goes up well above the rim for rebounds on both ends of the floor.  He'll be fun to watch as he continues to improve.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hunter-Najja-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48511" /></td>
			<td>Najja Hunter
Grade: 9
Montclair, NJ
Height: 6'6"
Wingspan: 76
Reach: 95
Vertical: 28</td>
			<td>Ability to score in paint/Rebounding effort
Strong/tough wing that can get to the rim and finish. A solid shooter and rebounder.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hunter-Zaki-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48512" /></td>
			<td>Zaki Hunter
Grade: 9
Height: 5'11"
Wingspan: 76
Reach: 91
Vertical:27</td>
			<td>Well Rounded, Vision
Zaki Hunter is the kind of player you want in your program.  Only a freshman he already understands the game so well and is nothing short of fun to watch.  Consistently he gave up scoring opportunities for himself to drop a flashy dime to a cutting teammate.  He has the potential to be a special player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Jenkins-Taj-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48513" /></td>
			<td>Taj Jenkins
Grade: 9
Height: 6'0"</td>
			<td>Ball Handler/Passing
A guard that has great vision on the court. His basketball IQ is what makes him a great asset on the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Johnson-Malik-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48514" /></td>
			<td>Malik Johnson
Grade: 11
Height: 6'0"</td>
			<td>Tough, Active, Intangibles
Malik can do it all.  He is a blue collar guy, who works extremely hard no matter where he is on the floor.  He has good vision and seems to find open players more easily than others.  He does the little things teams need to win.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Alec Jones
Grade: 8
Hempstead, NY
Height: 5'7"</td>
			<td>Quickness and Passing
Alec has excellent hands and court vision.  Despite some hard to catch passes from teammates Alec was able to control the ball and position himself in a area of the floor to create.  As a pass first point guard Alec plays in your face "D" and is a coaches dream.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Joseph-Xavier-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48515" /></td>
			<td>Xavier Joseph
Grade: 11
Bronx, NY
Height: 5'11"
Wingspan: 72
Reach: 88
Vertical: 25</td>
			<td>Ball Handling and Effort
Xavier plays hard and he plays smart.  He has an excellent basketball IQ and his quick hands and even better handle make it difficult for defenders to steal the ball from him.  He continuously made the right play and did the little extra that all teams look for.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Travis Joseph
Grade: 9
Brooklyn, NY
Height: 6'3"</td>
			<td>Explosive Offensively and Scrappy
Travis plays extremely aggressively and attacks the rim with abandon.  He had a couple of tough finishes and as he continues to develop his half-court skills will be a great addition for Lincoln for years to come!</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Kelley-Chris-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48516" /></td>
			<td>Chris Kelly
Grade: 9
Wyandanch, NY
Height: 6'3"
Wingspan: 76
Reach: 94
Vertical: 29</td>
			<td>Smart/Scores off second chance opportunities
Has a great feel for the game and gets second chance points because he is always around the ball. Is great off the shot fake to score in paint or to draw contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Legrand-Alonde-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48517" /></td>
			<td>Alonde Legrand
Grade: 9
New York, NY
Height: 6'0"
Wingspan: 73
Reach: 92
Vertical: 20</td>
			<td>Ball Handle Skills/Shooting
A solid combo guard that can play the 1 or 2. Is able to find teammates or play off the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lela-Adhurim-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48518" /></td>
			<td>Adhurim Lela
Grade: 10
Height: 5'11"</td>
			<td>Moves well off the ball/Plays hard/Attacks rim 
A hard playing guard that can drive downhill to get to the rim. Is a threat to score at all times with or without the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lewis-Aykel-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48519" /></td>
			<td>Aykel Lewis
Grade: 12
Brooklyn, NY
Height: 5'10"
Wingspan: 72
Reach: 90
Vertical: 28</td>
			<td>Quickness and Defense
Aykel affects the game so well with his off the ball defense.  He forced deflection after deflection and made scorers uncomfortable all night.  He runs well in transition and seems to find open space for good cuts and driving lanes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Antonio Lewis
Grade: 12
Englewood, NJ
Height: 5'8"</td>
			<td>Strong with the ball/Unselfish
A Guard with a good handle and has the ability to drive and kick to his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Luctamar-James-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48520" /></td>
			<td>James Luctamar
Grade: 11
Cortland Manor, NY
Height: 5'10"
Wingspan: 74
Reach: 91
Vertical: 27</td>
			<td>Hustle/Hard worker
A hustle player that works on both ends of the floor. Is a great spot up shooter in transition and is unselfish.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Luton-Leonard-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48521" /></td>
			<td>Leonard Luton
Grade: 11
Bronx, NY
Height: 6'4"
Wingspan: 76</td>
			<td>Ball handle skills/Driving
A skilled 3 man with a high motor that plays baseline to baseline. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Magassouba-Seydou-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48522" /></td>
			<td>Seydou Magassouba
Grade: 10
Height: 6'0"
Wingspan: 77</td>
			<td>Finishing, Transition, and Rebounding
Seydou is an excellent finisher in the paint, runs the floor extremely well and can also lead the break with the ball in his hands.  He does not shy away from contact and can finish through it.  Defensively he does a good job of getting on the glass and finishes good defensive possessions with stops on the D-Boards.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Martinez-Jose1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48523" /></td>
			<td>Jose Martinez
Grade: 10
New York, NY
Height: 6'9"
Wingspan: 77
Reach: 101
Vertical: 17</td>
			<td>Size/Motor/Hands
A Big man with great potential. Has great hands and plays hard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Keyshawn Mason
Grade: 10
Staten Island, NY
Height: 5'9"</td>
			<td>Ball Handle Skills/Shooting
A sold combo guard that does whatever his team needs to allow his team win.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Mathis-Malcolm-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48524" /></td>
			<td>Malcolm Mathis
Grade: 11
Copiague, NY
Wingspan: 75
Reach: 91
Vertical: 27</td>
			<td>Aggressive Defender
Is a player that will do whatever you need him to do on the floor. Is a great help defense and team player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Mayo-Raja-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48525" /></td>
			<td>Raja Mayo
Grade: 9
Freeport, NY
Height: 6'0"
Wingspan: 74
Reach: 90
Vertical: 28</td>
			<td>Ball handle Skills/Passing/ReboundingA high motor swing player that can handle the ball. Player is a great rebounder for his size.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/McCoy-Anthony-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48526" /></td>
			<td>Anthony McCoy
Grade: 10
Laureltown, NY
Height: 6'2"
Wingspan: 75
Reach: 93
Vertical: 23</td>
			<td>Rebounding and Ball Control
Anthony is an excellent contributor mainly because of his ability to rebound the ball well at both ends.  He controls the ball well, upon securing a rebound and on passes from teammates.  Also, his end to end speed is top notch.  As his offensive game continues to develop he'll be a tough match up for opponents.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/McGee-Ronald-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48297" /></td>
			<td>Ronald McGee
Grade: 10
River Edge, NJ
Height: 6'5"</td>
			<td>Toughness and Defensive Footwork
Ronald seems to always be in the right place defensively.  He understands angles and help-side defense and consistently displayed a knack for gobbling up loose balls and creating offensive chances for teammates.  As his offense continues to improve he'll be a top-tier teammate! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/McKeever-Jack-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48527" /></td>
			<td>Jack McKeever
Grade: 10
Pearl River, NY
Height: 5'8"
Wingspan: 67
Reach: 86
Vertical: 27</td>
			<td>Court Vision and Ball Handling
Jack is a savvy scoring guard with a good handle.  However, what may have impressed coaches the most was his consistent ability to counter his scoring with clever passes and timely feeds to cutting teammates.  Certainly a player for colleges to keep an eye on as he develops. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Ryan McRoberts
Grade: 10
Staten Island, NY
Height: 5'10"</td>
			<td>Attacking the Paint, Shooting, and Passing
Ryan can do a lot.  He is a combo guard that is a willing passer and a competent scorer.  He gets into the lane and makes plays.  On top of this he plays with a passion for the game that is infectious for his teammates and coaches.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Miller-Malik-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48528" /></td>
			<td>Malik Miller
Grade: 12
Troy, NY
Height: 6'8"
Wingspan: 80
Reach: 102
Vertical: 23</td>
			<td>Athleticism/Length/ Motor
Great size with height, length, and athleticism. Is a play maker with a tremendous upside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Robyn Missa
Grade: 12
Brookville, NY
Height: 6'9"</td>
			<td>Strength/Rebounding
Strong Post Player is great on both the offensive/defensive glass. Is a true center that brings value to team in his ability to play block to block.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Moore-Damarri-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48529" /></td>
			<td>Damarri Moore
Grade: 10
Brooklyn, NY
Height: 6'7"
Wingspan: 80
Reach: 101
Vertical: 18</td>
			<td>Shot blocker/Finishes above the rim
Long athletic big man that has potential to take a game over. Is an explosive long athlete and is great at altering shots and blocking shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Mota-Mikey-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48530" /></td>
			<td>Mike Mota
Grade: 9
Glendale, NY
Height: 6'8"</td>
			<td>Length and Positioning
He has a chance to be a very special player.  His length and ability to attack the glass are already very visible to anyone who knows basketball.  Defensively, he changes shots and is almost impossible to score on.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Jonathan Murray
Grade: 10</td>
			<td>Ball Handling and Playmaking
Johnathan is a playmaker!  He makes plays both at and below the rim for himself and his teammates.  His quick first step makes him hard to guard and his adequate handles and speed keep defenders behind him.  As he continue to develop there will be few high school players who can stop him,</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Palko-Nick1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48531" /></td>
			<td>Nick Palko
Grade: 11
Fords, NJ
Height: 6'4"
Wingspan: 78
Reach: 99
Vertical: 19</td>
			<td>Hands and Vision
Nick has a good body for bruising for rebounds and possess the touch of a shooter on the perimeter.  He seems to really understand the game and his movement without the ball is a definite plus.  Look forward to seeing him develop over the next 18 months into a potential star at the college level.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Paul-Chris-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48532" /></td>
			<td>Chris Paul
Grade: 9
Chester, NY
Height: 6'4"
Wingspan: 75
Reach: 95
Vertical: 27</td>
			<td>Size/Motor
A big forward with a lot of potential. Plays at a high level and gets to the glass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Person-Paul-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47819" /></td>
			<td>Paul Person
Grade: 8
Bronx, NY
Height: 6'0"</td>
			<td>Pull-UP Jumper, Hands, and Handle
Paul Person can do a lot on the offensive end of the floor.  He is skilled, crafty, and gets a lot of height on his pull-up jumper.  He has tremendous potential, an excellent handle, and knows how to beat players off the dribble.  It's very rare that an 8th grader can standout at an event like this, but Paul is a very rare type of player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Pilarte-Hector-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48533" /></td>
			<td>Hector Pilarte
Grade: 12
Bronx, NY
Height: 6'2"
Wingspan: 74
Reach: 91
Vertical: 27</td>
			<td>Passing/Feel for the game
A poised 2 Guard that has exceptional vision on the floor. Is a great passer and can easily find teammates on the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ramirez-Khrys-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48534" /></td>
			<td>Khrys Ramirez
Grade: 11
Brooklyn, NY
Height: 6'0"
Wingspan: 73
Reach: 92
Vertical: 27</td>
			<td>Athletic/Finishes at Rim
Athletic play making guard that plays hard at all times. Is a solid finisher at the rim and can score with contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Randolph-Brandon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48535" /></td>
			<td>Brandon Randolph
Grade: 9
Yonkers, NY
Height: 5'5"
Wingspan: 75
Reach: 93
Vertical: 24</td>
			<td>Driving and Quickness
Brandon displays a quick burst with the ball and uses this to get into the lane and create chaos for the defense.  He does a good job of scoring in a variety of ways and uses the shot fake to create space for driving opportunities.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ratamoi-Daniel-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48536" /></td>
			<td>Daniel Ratamoi
Grade: 12
Ottawa, CN
Height: 5'11"
Wingspan: 73
Reach: 90
Vertical: 26</td>
			<td>Defensive player
A guard that plays hard defensively and hustles end to end. Can find others offensively.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Reo-Brett-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48537" /></td>
			<td>Brett Reo
Grade: 9
Fairfield, NJ
Height: 6'0"
Wingspan: 72
Reach: 92
Vertical: 22</td>
			<td>Well-Rounded, Quick
Brett is deceptively quick and changes speeds well.  He also displays understanding of the game and a set of skills that leaves very little lacking.  He can flat out play and showed that all night.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Richardson-Michael-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48538" /></td>
			<td>Michael Richards
Grade: 9
Height: 5'10"
Wingspan: 74
Reach: 90
Vertical: 24</td>
			<td>Finishing Ability and Athleticism
Michael is a perfect example of an adept combo guard.  He shoots it with confidence and can handle against the toughest of defenders.  He plays with passion and aggression and is difficult to keep him away from scoring areas.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Rosato-Chase-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48539" /></td>
			<td>Chase Rosato
Grade: 10
Staten Island, NY
Height: 5'4"
Wingspan: 69
Reach: 87
Vertical: 17</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Rose-Darryl-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48540" /></td>
			<td>Darryl Rose</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Rush-Eamon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48541" /></td>
			<td>Eamon Rush
Grade: 10
New York, NY
Height: 5'11"
Wingspan: 70
Reach: 90
Vertical: 26</td>
			<td>Shot Selection and Positioning
Eamon is a shot maker.  This is due to both his sweet stroke and a knack for taking opportune shots.  Excellent at spacing the floor and getting open as well as displaying a high basketball IQ.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Santiago-Davion-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48542" /></td>
			<td>Davion Santiago
Grade: 10
Brooklyn, NY
Height: 5'8"
Wingspan: 69
Reach: 86
Vertical: 29</td>
			<td>Ball Handle Skills/Ability to score
A quick guard that can break down his defender off the dribble to get into the paint to score or find others. A solid defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Shapiro-Oliver-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48543" /></td>
			<td>Oliver Shapiro
Grade: 9
Hastings on Hudson, NY
Wingspan: 66
Reach: 84
Vertical: 19</td>
			<td>Finds open teammates/Good shooter
Hard worker and competitor on both sides of the ball and can knock down open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Simmons-Brandon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48544" /></td>
			<td>Brandon Simmons
Grade: 12
Teaneck, NJ
Height: 6'7"
Wingspan: 81
Reach: 103
Vertical: 27</td>
			<td>Athleticism and Finishing
Brandon is very tough and very skilled.  As a senior a variety of colleges should be at his doorstep.  He is very skilled and can finish through contact.  As he continues to master the intangibles he could be an unbelievable college player.  Rebounding was also a standout portion of his game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Sorensen-Alex-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48545" /></td>
			<td>Alex Sorensen
Grade: 10
Rockville Centre, NY
Height: 6'3"
Wingspan: 75
Reach: 94
Vertical: 20</td>
			<td>Ability to finish at rim/Ball Handle Skills
Player with a lot of potential. Has a great knack for how to play the game and is an aggressive player to get to the rim or hit open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Strzala-Patrick-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48546" /></td>
			<td>Patrick Strzala
Grade: 9
Bayonne, NJ
Height: 6'3"
Wingspan: 73
Reach: 95
Vertical: 24</td>
			<td>Shooting and Bball IQ
Patrick Strzala is going to be a big-time player.  His size as a 9th grader is impressive, but it's his feel for the game that makes you want to stick around.  He is tough, a great passer, and finds creative ways to score using pivots and the dribble.  Although not lightning fast he is deceptively quick and DO NOT LEAVE HIM OPEN.  He is a knock down shooter</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Gary Sylvester
Grade: 10</td>
			<td>Athletic/Length/Ability to finish at rim
Strong and tough athletic forward that finishes well at the rim with contact. Active athletic forward on the glass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Sylvester-Treyvon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48547" /></td>
			<td>Treyvon Sylvester
Grade: 9
Height: 6'4"
Wingspan: 77
Reach: 97
Vertical: 29</td>
			<td>Rebounding and Athleticism
Treyvon can use his length and his movement to create opportunities for himself and teammates.  He is also a good ball-handler and as a face-up 4 man he possess a ton of potential.  He makes strong moves to the basket and goes inside for rebounds, while possessing the touch and Bball IQ of a guard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Theodule-Daymon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48548" /></td>
			<td>Daymon Theodule
Grade: 9
Yonkers, NY
Height: 5'6"
Wingspan: 68
Reach: 86
Vertical: 18</td>
			<td>Activity and Range
Daymon takes good shots and when he rises and fires in rhythm he is almost automatic.  He also is extremely active on both ends of the floor.  Seems like the type of player who would do anything to provide his team with another possession.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Chris Toussaint
Grade: 11
Height: 6'2"</td>
			<td>Toughness, Strength, and Athleticism
Chris attacks the defensive glass and then leads the break for his team.  He uses his strength and athleticism along with his skill to get into the land and finish.  Chris will be a valued addition to many college rosters in 2 years.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Vargas-Segundo-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48549" /></td>
			<td>Segundo Vargas
Grade: 9
Bronx, NY
Height: 5'10"
Wingspan: 73
Reach: 89
Vertical: 26</td>
			<td>Motor, Intangibles, BBall IQ
Segundo is a solid off the ball screener.  He is not only active on both ends of the floor, but he rebounds well and shows a true understanding of the game.  He is a strong wing that does an excellent job of getting teammates open and kept the ball alive through tips, deflections, and toughness.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Velocci-Brandon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48550" /></td>
			<td>Brandon Velocci
Grade: 11
Huntington Station, NY
Height: 6'3"
Wingspan: 74
Reach: 95
Vertical: 23</td>
			<td>Runs offense/Gets teammates involved
A guard that runs the team and gets other open by setting screens or finding others. Will knock down open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Volkens-Austin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48551" /></td>
			<td>Austin Volkens
Grade: 11
Queens, NY
Height: 6'0"
Wingspan: 77
Reach: 94
Vertical: 33</td>
			<td>Ball Handling and Defensive Pressure
Austin has a nose for the ball,  He hounds the offensive players forcing turnovers and sloppy play.  He is also tough and a perfect combo guard.  He can handle, pass, and shoot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Watson-Keion-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48552" /></td>
			<td>Keion Watson
Grade: 11
Bronx, NY
Height: 5'6"
Wingspan: 65
Reach: 81
Vertical: 22</td>
			<td>Ball Handling and Quickness
Keion is extremely quick and defends the entire floor.  He has excellent handles and uses that to drive, and get his teammates involved.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Weekes-Tahleek-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48553" /></td>
			<td>Tahleek Weekes
Grade: 11
Richmond Hill, NY
Height: 6'1"
Wingspan: 72
Reach: 91
Vertical: 36</td>
			<td>Athleticism, Range, and Driving
Tahleek is the kind of player you want when you need a score.  He is an excellent athlete who can attack the rim and does an excellent job finishing through contact.  He is tough, quick, and jumps out of the gym.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Shaquille White
Grade: 10
New York, NY</td>
			<td>Strength/Quickness
Very athletic guard that finishes in traffic above the rim. Capable shooter that can stretch his game outside the arc.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Williams-Brandan-T-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48554" /></td>
			<td>Brandan Williams
Grade: 10
Poughquag, NY 
Height: 6'1"
Wingspan: 73
Reach: 91
Vertical: 25 </td>
			<td>Athlete/Hustle
Is a physical slashing guard that does the little things/the dirty work to win the game. Hustle on both sides of the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Williams-Leland1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48555" /></td>
			<td>Leland Williams
Grade: 12
Amityville, NY
Height: 6'3"
Wingspan: 79
Reach: 94
Vertical: 19</td>
			<td>Finish with contact/Hustle
An aggressive athletic big man that is very mobile. Has a knack for getting the ball and scoring off of offensive rebound opportunities.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Williams-Matthew-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48556" /></td>
			<td>Matthew Williams
Grade: 9
Bronx, NY
Height: 6'0"
Wingspan: 69
Reach: 88
Vertical: 25</td>
			<td>Passer/Facilitator
A pass first point guard that is very quick in the open floor. A smart player that runs the team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Wright-Foreman-Justin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48557" /></td>
			<td>Justin Wright-Foreman
Grade: 11
Queens, NY
Height: 6'0"
Wingspan:77
Reach: 94
Vertical: 30</td>
			<td>Well-Rounded, Athleticism, and Tenacity
Justin is the REAL THING.  He can play in transition and he can play in the half-court, but mostly he can just play.  Both defensively and offensively he dominated and was able to score with thunderous dunks, creative finishes, and jump shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Wright-Jordan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48558" /></td>
			<td>Jordan Wright
Grade: 11
New York, NY
Height: 5'8"
Wingspan: 67
Reach: 82
Vertical: 39</td>
			<td>Looks for open players in offense/Driver
Quick point guard that is efficient at pushing the ball in transition. Makes the right plays.</td>
		</tr>
	</tbody>
</table>
