<table>
	<thead>
		<tr>
			<th>Session</th>
			<th>Boys &amp; Girls</th>
			<th>Class Days</th>
			<th>Times</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Dec 31</td>
			<td>Grades 3-9</td>
			<td>Monday</td>
			<td>9:00AM-12:00PM</td>
			<td>Call 732-897-3196 To Register</td>
		</tr>
	</tbody>
</table>
