<table>
	<tbody>
		<tr>
			<td>Photo</td>
			<td>Jersey</td>
			<td>Name</td>
			<td>Grade</td>
			<td>Evaluation</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Ryan-Blondo-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59122" /></td>
			<td></td>
			<td>Rylan Blondo</td>
			<td>8</td>
			<td>Rylan is a hustle player who can make plays in transition. Defensively he plays hard and brings energy to the team. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kevin-Xu-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59101" /></td>
			<td></td>
			<td>Kevin Xu</td>
			<td>10</td>
			<td>Kevin has great vision and he looks to make plays for his teammates. He shoots the ball from long range, which stretches the floor. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Michael-Vaughn-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59112" /></td>
			<td></td>
			<td>Michael Vaughn</td>
			<td>9</td>
			<td>He is a tough point guard that handles the ball really well. Michael can also get to the rim and score inside. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Matthew-Rivera-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59109" /></td>
			<td></td>
			<td>Matthew Rivera</td>
			<td>9</td>
			<td>Matthew is a lefty guard that can finish around the rim with contact. He also rebounds defensively and has tremendous energy.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td></td>
			<td>Daquan Sanchez</td>
			<td>9</td>
			<td>Daquan is a quick guard who can pull up and shoot it, or pass to open teammates. He runs the offense with poise and doesn't turn the ball over.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td></td>
			<td>Jose Hernandez</td>
			<td>12</td>
			<td>Jose is a guard that can score against size. He is a active defender that can pressure on the ball. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Silbert-Gray-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59128" /></td>
			<td></td>
			<td>Silbert Gray</td>
			<td>11</td>
			<td>Silbert is an athletic guard that can get to the rim. If he improves his outside game he will be a tough kid to cover.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jake-Marzocca1-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59040" /></td>
			<td></td>
			<td>Jake Marzocca</td>
			<td>11</td>
			<td>Jake knocks down open shots with consistency. He also gives his team energy on defense.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Matthew-Bantis-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59108" /></td>
			<td></td>
			<td>Matthew Bantis</td>
			<td>10</td>
			<td>Matthew is a shooting guard who plays hard on both sides of the ball. He shoots well from the perimeter off the catch.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Saheem-Anthony-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59124" /></td>
			<td></td>
			<td>Saheem Anthony</td>
			<td>11</td>
			<td>Saheem is an athlete who provides great length. He is a great passer but he can also create for himself inside.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Chase-Audgie-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59134" /></td>
			<td></td>
			<td>Chase Audige</td>
			<td>10</td>
			<td>Chase has good handle for a wing. He can slash to the rim and find teammates or shoot from mid range.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Abie-Rosow-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59049" /></td>
			<td></td>
			<td>Abie Rosow</td>
			<td>10</td>
			<td>Abie rebounded better than any other guard at the event. H created extra possessions for his team and most times found the ball coming back to him on the extra possession.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Justin-Smith-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59096" /></td>
			<td></td>
			<td>Justin Smith</td>
			<td>11</td>
			<td>Justin is a big body in the post who affects the game with his presence. He rebounds and blocks shots with regularity. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kyle-Beeson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59103" /></td>
			<td>143</td>
			<td>Kyle Beeson</td>
			<td>11</td>
			<td>Kyle is an athletic player who can defend well.  Crashes the glass well and gets good positioning.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Sequan-Hicks-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59125" /></td>
			<td>144</td>
			<td>Sequan Hicks</td>
			<td>11</td>
			<td>Strong and athletic player who works extremely hard. Gets rebounds and makes great decisions.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Mark-Holsey-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59107" /></td>
			<td>145</td>
			<td>Mark Holsey</td>
			<td>11</td>
			<td>Mark is an explosive guard who can attack the basket.  Finishes well through contact.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Ishmael-Massoud-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59079" /></td>
			<td>146</td>
			<td>Ishmael Massaud</td>
			<td>9</td>
			<td>Intelligent guard who is very unselfish. Good ballhandling ability &amp; makes good decisions in transition.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Danny-Smith-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59065" /></td>
			<td>17</td>
			<td>Danny Smith</td>
			<td>10</td>
			<td>Point guard that has a good understanding of the game. Danny can shoot the 3 and plays well off of ball screens.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Justin-Capers-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59094" /></td>
			<td>18</td>
			<td>Justin Capers</td>
			<td>9</td>
			<td>Justin is a wing who can score the ball in a multitude of ways. Plays hard and it shows in his rebounding numbers.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Joshua-Harriot-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59091" /></td>
			<td>19</td>
			<td>Joshua Harriott</td>
			<td>11</td>
			<td>Joshua is a big that can run the floor well. He can rebound and play as a rim-protector.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jack-Healy-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59078" /></td>
			<td>66</td>
			<td>Jack Healy</td>
			<td>9</td>
			<td>Jack is  a solid spot up shooter who can also create his shot with the dribble. Great work ethic on both ends of the court.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kevin-Fee-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59100" /></td>
			<td>68</td>
			<td>Kevin Fee</td>
			<td>10</td>
			<td>Kevin is an athletic wing with a good mid-range. Can create his own shot &amp; score in the paint.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Alberto-Valera-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59051" /></td>
			<td>128</td>
			<td>Alberto Valera</td>
			<td>11</td>
			<td>Alberto is a quick guard who has a good feel for the game.  High energy player</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>67</td>
			<td>Jonathan Agastino</td>
			<td></td>
			<td>Jonathan is a quick guard with excellent court vision. Always looking to involve his teammates.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>136</td>
			<td>Branden Aughburns</td>
			<td>12</td>
			<td>Branden is a strong inside player. Can face up or play with his back to the basket. Good post moves.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Aaron-Clark-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59048" /></td>
			<td>65</td>
			<td>Aaron Clarke</td>
			<td>9</td>
			<td>Aaron finishes well around the basket and has advanced ballhandling for his age. Good jumper off the dribble.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Alonde-Legrand-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59052" /></td>
			<td>137</td>
			<td>Alonde Legrand</td>
			<td>10</td>
			<td>High Basketball IQ player. Alonde knows how to move without the basketball. Can shoot from deep and play multiple positions.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jayden-Reeves-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59042" /></td>
			<td>63</td>
			<td>Jayden Reeves</td>
			<td>9</td>
			<td>Jayden controls the pace of the game and can get others involved. High Q and great court vision.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Theo-Silverman-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59132" /></td>
			<td>138</td>
			<td>Theo Silverman</td>
			<td>10</td>
			<td>Theo is  a good spot up shooter. Defends well and knows his rotations on defense.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Dominic-Cotumaccio-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59087" /></td>
			<td>61</td>
			<td>Dominic Cotumaccio</td>
			<td>11</td>
			<td>intelligent player who is very athletic. Good ballhandling ability.</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>121</td>
			<td>Deondre Bourne</td>
			<td>10</td>
			<td>Deondre is an athletic wing with a solid jump shot. Can get to rim and finish around basket.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Daniel-Hernandez-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59064" /></td>
			<td>6</td>
			<td>Daniel Hernandez</td>
			<td>12</td>
			<td>Daniel is a very athletic player who is strong going to the basket. Strong ballhandler.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Nicholas-Barton-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59114" /></td>
			<td>3</td>
			<td>Nicholas Barton </td>
			<td>11</td>
			<td>Nicholas can shoot off the dribble and drive to the basket.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Daryl-Williams-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59067" /></td>
			<td>1</td>
			<td>Darryl Williams</td>
			<td>1</td>
			<td>Quick guard with a quick first step. Solid ball handler with good footwork.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Eric-Holloway-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59072" /></td>
			<td>8</td>
			<td>Eric Holloway</td>
			<td>12</td>
			<td>Eric is a tough minded player, athletic player who wants to guard. Drives strong when attacking the basket.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Collins-Oyneike-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59061" /></td>
			<td>10</td>
			<td>Collins Onyeike</td>
			<td>9</td>
			<td>Collins is a quick player who uses his athleticism to get by defenders. Finishes strong at basket, great potential.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Joel-Jerez-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59045" /></td>
			<td>4</td>
			<td>Joel Jerez</td>
			<td>10</td>
			<td>Joel can shoot well from deep. Ability to create for himself &amp; others.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jimmy-Council-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59044" /></td>
			<td>7</td>
			<td>Jimmy Council</td>
			<td>11</td>
			<td>Jimmy is a player who rebounds the ball well. Active inside and has a good post game overall.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jacob-Goldberg-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59080" /></td>
			<td>5</td>
			<td>Jacob Goldberg</td>
			<td>11</td>
			<td>Jacob runs the floor well, terrific help side defender. Can shoot from deep well.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jamie-Nurse-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59081" /></td>
			<td>9</td>
			<td>Jamie Nurse</td>
			<td>10</td>
			<td>Jamie is an athletic wing. Can score mid-range and attack the rim.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jonathan-Rodriguez-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59083" /></td>
			<td>111</td>
			<td>Jonathan Rodriguez</td>
			<td>10</td>
			<td>Jonathan has a good understanding of the game. Good handle, &amp; finishes in transition.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Joshua-Leak-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59092" /></td>
			<td>149</td>
			<td>Josh Leak</td>
			<td>11</td>
			<td>Josh hustles for everything on the court. Drives it well to the basket.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Tajier-Ford-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59129" /></td>
			<td>148</td>
			<td>Tajier Ford</td>
			<td>10</td>
			<td>Solid guard that played tough on both ends of the court, Can knock down the open shot.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/oliver-DIngman-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59116" /></td>
			<td>24</td>
			<td>Oliver Dingman</td>
			<td>10</td>
			<td>Oliver moves the ball well.  Good teammate, communicates with others well.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Dominic-Pirolo-300x181.jpg" alt="" width="300" height="181" class="aligncenter size-medium wp-image-59088" /></td>
			<td>133</td>
			<td>Dominick Pirolo</td>
			<td>11</td>
			<td>Dominick is a player that works hard on both ends of the court. Coaches type of player.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Eugene-Clark-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59073" /></td>
			<td>30</td>
			<td>Eugene Clark</td>
			<td>12</td>
			<td>Eugene play extremely hard when on the court. Great ball handler &amp; rebounder.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Robby-Rossiter-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59120" /></td>
			<td>23</td>
			<td>Robby Rossiter Jr.</td>
			<td>9</td>
			<td>Robby is a good shooter with good shot selection.  Passes &amp; rebounds the ball well.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td></td>
			<td>Tyrese Williams</td>
			<td>9</td>
			<td>Tyrese has great hands around the rim and can finish over bigger defenders. He is athletic and runs well in transition.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Leonardo-Jorge-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59104" /></td>
			<td>21</td>
			<td>Leonardo Jorge</td>
			<td>11</td>
			<td>Leonardo shows a good understanding of the game. Passes &amp; defends well.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Travis-Robinson-Morgan-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59135" /></td>
			<td>22</td>
			<td>Travis Robinson-Morgan</td>
			<td>11</td>
			<td>Good point guard intangibles. Showed good leadership &amp; always wanted to defend the best player.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/JOhn-Munyak-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59047" /></td>
			<td>27</td>
			<td>John Munyak</td>
			<td>10</td>
			<td>John is a great shooter with great shot selection. Willing to get others involved.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Xavier-Cole-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59138" /></td>
			<td>28</td>
			<td>Xavier Cole</td>
			<td>11</td>
			<td>Xavier handles pressure well and makes good decisions. Excellent defender &amp; good rebounder. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Keion-Barron-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59098" /></td>
			<td>26</td>
			<td>Keion Barron</td>
			<td></td>
			<td>Keion defends well &amp; rebounds well on the defensive glass. Good shooter.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kevin-Callahan1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59099" /></td>
			<td>25</td>
			<td>Kevin Callahan</td>
			<td>11</td>
			<td>Kevin was a good decision maker. Defender &amp; rebounded the ball well.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Yasir-Lawrece-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59140" /></td>
			<td>126</td>
			<td>Yasir Lawrence</td>
			<td>11</td>
			<td>Yasir was a good shooter who could also attack off the dribble. High Basketball IQ.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Michael-Stone-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59111" /></td>
			<td>90</td>
			<td>Michael Stone</td>
			<td>11</td>
			<td>Michael is a good on-ball defender. Gets good positioning on box-outs and rebounds well. </td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>87</td>
			<td>Kirk Sampson</td>
			<td>11</td>
			<td>Kirk rebounded and defended players well. Shot the ball consistently well.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Tyler-Bourne-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59136" /></td>
			<td>141</td>
			<td>Tyler Bourne</td>
			<td>9</td>
			<td>Tyler is an outstanding shooter who has a quick first step. Great understanding of the game and plays it with terrific confidence.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Isaiah-Mucius.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-59076" /></td>
			<td>142</td>
			<td>Isaiah Mucius</td>
			<td>9</td>
			<td>Isaiah handles the ball well and is extremely long &amp; athletic. Has great range onhis shot.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Caleb-Yellin-Flaherty-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59059" /></td>
			<td>88</td>
			<td>Caleb Yellin-Flaherty</td>
			<td>11</td>
			<td>Caleb played team basketball while knocking down open shots. Good on-ball defender. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Daniel-Cabassa-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59063" /></td>
			<td>84</td>
			<td>Daniel Cabassa</td>
			<td>12</td>
			<td>Daniel is a skilled big who rebounds the ball well. Can score inside &amp; out. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/DAndre-Gibbs-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59062" /></td>
			<td>83</td>
			<td>D'Andre Gibbs</td>
			<td>11</td>
			<td>D'Andre plays hard and always makes the right pass.Great work ethic on defense.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Brandon-Redundo-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59056" /></td>
			<td>135</td>
			<td>Brandon Redundo</td>
			<td>9</td>
			<td>Brandon is an intelligent player with a high motor. Takes good shots and is always in the right spot.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Demond-Parker-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59069" /></td>
			<td>60</td>
			<td>Demond Parker</td>
			<td>10</td>
			<td>Demond is a good passer &amp; rebounder.  Always in a stance on defense.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Quaran-Dublin-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59118" /></td>
			<td>134</td>
			<td>Quran Dublin</td>
			<td>12</td>
			<td>Quran is a good on-ball defender. Plays hard on both ends and knocks down open shots.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Will-Idzinski1-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59137" /></td>
			<td>58</td>
			<td>William Idzinski</td>
			<td>11</td>
			<td>William is a good defender &amp; rebounder. Reliable player to have on the court.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Joseph-Langan-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59090" /></td>
			<td>51</td>
			<td>Joseph Langan</td>
			<td>10</td>
			<td>Joseph hustles on the defensive end &amp; crashes the glass hard. Great shot selection. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Khalid-Ahbdalla-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59102" /></td>
			<td>52 </td>
			<td>Khalid Abdalla</td>
			<td>10</td>
			<td>Plays above his size rebounding the ball. High Basketball IQ.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>53</td>
			<td>Sherif Traore</td>
			<td>11</td>
			<td>Sherif is a good shooter who also looks to get others involved. Good ballhandling ability.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Justi-Diaz-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59093" /></td>
			<td>54</td>
			<td>Justin Diaz</td>
			<td>9</td>
			<td>Justin shot the ball well and has a good understanding of the game. Good rebounder.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>55</td>
			<td>James Criss</td>
			<td>10</td>
			<td>James has good shooting ability with good shot selection. Good passer &amp; defender.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>56</td>
			<td>Maksat Niyazberdyyev</td>
			<td>10</td>
			<td>Maksat knows his rotations on defense and is always moving without the ball on offense. Good shooter &amp; passer.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Xavier-Jennings-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59139" /></td>
			<td>57</td>
			<td>Xavier Jennings</td>
			<td>11</td>
			<td>Xavier has a true passion for the game shown in his work ethic. Crashes the glass hard and gets good positioning when shot goes up.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>108</td>
			<td>Jamel Horton</td>
			<td>11</td>
			<td>Athletic player who handles the ball well. Good jumper, very skilled.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Isaiah-Poe-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59077" /></td>
			<td>101</td>
			<td>Isaiah Poe</td>
			<td>12</td>
			<td>Strong, speed guard who can penetrate the gaps. Active hands on defense, gets a lot of deflections.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Donoven-Adams-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59071" /></td>
			<td>107</td>
			<td>Donovan Adams</td>
			<td>12</td>
			<td>Donovan pushes the pace in transition &amp; has great court vision. Gets teammates involved.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>59</td>
			<td>Joshua Brownridge</td>
			<td>11</td>
			<td>Joshua is a high energy player. Great shooter who knows his rotations ondefense.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jose-Pena-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59085" /></td>
			<td>150</td>
			<td>Jose Pena</td>
			<td>10</td>
			<td>Jose is a solid player who is skilled around the basket. Can also step out and shoot the 3.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Bryce-Edwards-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59058" /></td>
			<td>147</td>
			<td>Bryce Edwards</td>
			<td>9</td>
			<td>Quick guard that can attack the basket and find open teammates. Very unselfish player.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Chris-Childs-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59060" /></td>
			<td>105</td>
			<td>Chris Childs</td>
			<td>9</td>
			<td>Chris is a guard that can get in the paint and draw fouls. Good pull-up game.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>106</td>
			<td>Anthony Reilly</td>
			<td>10</td>
			<td>Anthony is a guard who finishes around taller defenders. Solid rebounder who likes to compete!</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Darnell-Macon-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59066" /></td>
			<td></td>
			<td>Darnell Macon</td>
			<td>11</td>
			<td>He is a lefty guard who can shoot the three. His strong build allows him to over power people off the dribble.</td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td></td>
			<td>Justin Rincon</td>
			<td>9</td>
			<td>Justin is a tough player with quick hands on the defensive end. He can shoot on the perimeter, which allows him to stretch the defense. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Idrissa-Bivens-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59075" /></td>
			<td></td>
			<td>Idrissa Bivens</td>
			<td>9</td>
			<td>Idrissa is a young wing with a ton of potential. He can rebound, shoot and handle and will only get better. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Joel-Morris-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59046" /></td>
			<td></td>
			<td>Joel Morris</td>
			<td>10</td>
			<td>Joel can play both guard and forward. He makes plays defensively by blocking shots and rebounding physically.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Juwan-Daniels-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59097" /></td>
			<td></td>
			<td>Juwan Daniels</td>
			<td>10</td>
			<td>Juwan is a wing who plays with athleticism and energy. He is a very good player around the rim on offense and defense. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Terrence-Thompson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59131" /></td>
			<td></td>
			<td>Terrence Thompson</td>
			<td>11</td>
			<td>Terrence is a combo guard who can beat players off the dribble. He makes shots in the middle of the floor and plays smart. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Lucas-Warhaftig-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59105" /></td>
			<td></td>
			<td>Lucas Warhaftig</td>
			<td>9</td>
			<td>He is a wing with high upside. He is super active on defense and has a good IQ. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Shane-Gatling-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59127" /></td>
			<td></td>
			<td>Shane Gatling</td>
			<td>11</td>
			<td>Shane is an athletic win who can get out in transition. He is a good rebounder and passer as well. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Mohammed-Hassan-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59113" /></td>
			<td></td>
			<td>Mohamed Hassan</td>
			<td>11</td>
			<td>Mohamed is a good shooter with size. He plays very hard and uses smart play selection. </td>
			<td></td>
		</tr>
		<tr>
			<td><img 
jsrc="https://hoopgroup.com/wp-content/uploads/2015/03/Jesse-davis-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59043" /></td>
			<td></td>
			<td>Jesse Davis</td>
			<td>10</td>
			<td>Jesse is a shooter with a quick release. He also has good off the ball skills that gets him open. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Mamadou-Mariko-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59106" /></td>
			<td></td>
			<td>Mamadou Mariko</td>
			<td>12</td>
			<td>Mamadou is a guard who plays bigger than his size. He has great instincts on the glass and a good touch around the rim. </td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>Najja Hunter </td>
			<td>10</td>
			<td>Athletic guard who can score and make plays in transition. He is a good ball handler that can create mismatches.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Brian-Jenkins-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59057" /></td>
			<td></td>
			<td>Brian Jenkins</td>
			<td>11</td>
			<td>Brian is a floor general that is always looking to make the right play. He can shoot when he gets space and plays hard on defense. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/David-Flores-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59068" /></td>
			<td></td>
			<td>David Flores</td>
			<td>11</td>
			<td>David is a quick point guard that can penetrate the defense and create mismatches. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Brandon-Jones-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59055" /></td>
			<td></td>
			<td>Brandon Jones</td>
			<td>9</td>
			<td>He is a good shooter and can get it off in a variety of ways. He competes hard at both ends. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Paul-Person-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59117" /></td>
			<td></td>
			<td>Paul Person</td>
			<td>9</td>
			<td>He is a skilled point guard who scores at a high level. He shoots it well off the dribble and can play above the rim. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Shaka-Chaiban-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59126" /></td>
			<td></td>
			<td>Shakaa Chaiban</td>
			<td>9</td>
			<td>He is a hard playing guard that competes on both ends. He is also active on the ball. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Maxwell-Lorca-300x229.jpg" alt="" width="300" height="229" class="aligncenter size-medium wp-image-59110" /></td>
			<td></td>
			<td>Maxwell Lorca</td>
			<td>9</td>
			<td>Long big man with very good touch around the rim. He uses his length to block shots and rebound. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Anthony-Lorusso-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59054" /></td>
			<td></td>
			<td>Anthony Lorusso</td>
			<td>9</td>
			<td>Guard that can shoot the three well. He finds open teammates on the drive and has a great feel for the game. </td>
			<td></td>
		</tr>
		<tr>
			<td>N/A</td>
			<td></td>
			<td>Monte Lambert</td>
			<td>12</td>
			<td>Skilled guard that can score in transition. He is crafty with his finishes and rebounds well for his size. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Tim-Klarmann-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59133" /></td>
			<td></td>
			<td>Tim Klarmann</td>
			<td>11</td>
			<td>Point guard that does a great job of drawing defenders on the drive. He knows when to facilitate and when to get his own shot. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/RObert-McWilliams-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59121" /></td>
			<td></td>
			<td>Rob McWilliams</td>
			<td>11</td>
			<td>Guard that has a good handle and sees the floor well. He knocks down open shots as well.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/DOnald-Flores-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59089" /></td>
			<td></td>
			<td>Donald Flores</td>
			<td>10</td>
			<td>Strong guard who has tremendous athleticism. He finishes at the basket and has the ability to breakdown defenses. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Adam-Nacht-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59050" /></td>
			<td></td>
			<td>Adam Nacht</td>
			<td>11</td>
			<td>Adam is a tough defensive player who plays physical. He sets great screens and fights to get to good spots on the floor. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Ricardo-Dominguez1-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59119" /></td>
			<td></td>
			<td>Ricardo Dominguez</td>
			<td>9</td>
			<td>A strong guard with terrific scoring ability. He can shoot as well as get to the rim at will.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Odis-Gause-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59115" /></td>
			<td></td>
			<td>Odis Gause</td>
			<td>11</td>
			<td>A wing with excellent athleticism. If he can improve his outside shooting, he will be a problem on the offensive side of the ball. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Joseph-Hoch-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59086" /></td>
			<td></td>
			<td>Joseph Hoch</td>
			<td>11</td>
			<td>Good defender with strong energy. He can shoot outside and is able to get others involved. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jaqel-Downing-Crichlow-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59082" /></td>
			<td></td>
			<td>Jaqel Downing-Crichlow</td>
			<td>9</td>
			<td>Jaqel has good ball handling skills with the feel for getting people involved. He rebounds well and works really hard defensively.</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jason-Jerez-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59041" /></td>
			<td></td>
			<td>Jason Jerez</td>
			<td>11</td>
			<td>Jason is a high IQ guard who is able to find the open man. He has a good shot and stays involved every play. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Ryan-Kelly--300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59123" /></td>
			<td></td>
			<td>Ryan Kelly</td>
			<td>10</td>
			<td>Ryan has a good jump shot, and takes it in smart situations. He has a great feel for the game, and understands what play to make. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Derrick-Simmons-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59039" /></td>
			<td></td>
			<td>Derrick Simmons</td>
			<td>9</td>
			<td>He plays hard on both ends of the floor. Has a lot of room for potential if he can improve his outside shot. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Marquis-Sena-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59038" /></td>
			<td></td>
			<td>Marquis Sena</td>
			<td>10</td>
			<td>Marquis is a really quick guard who can make plays against pressure. He made a lot of great assists during the event. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Taylor-Huygue-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-59037" /></td>
			<td></td>
			<td>Taylor Huyghue</td>
			<td>10</td>
			<td>A play-making guard who can penetrate in the paint. He finds teammates with consistency. </td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Chaz-Nwankwo-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59036" /></td>
			<td></td>
			<td>Chaz Nwankwo</td>
			<td>12</td>
			<td>Chaz has a great body with a knack for penetrating the defense. His toughness allows him to get to the rim. </td>
			<td></td>
		</tr>
	</tbody>
</table>
