<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Player</th>
			<th>Grade</th>
			<th>Report</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/ikenna-achufusi-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58345" /></td>
			<td>Achufusi, Ikenna</td>
			<td>10</td>
			<td>Ikenna is a stocky guard who goes well to his preferred left hand.  Good 15 foot pullup and competes hard on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/joe-adedayo-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58360" /></td>
			<td>Adedayo, Joe</td>
			<td>12</td>
			<td>Joe is a long athletic wing who can get his hands in the passing lane.Uses his athleticism well to rebound and attack the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/ryan-albert-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58407" /></td>
			<td>Albert, Ryan</td>
			<td>11</td>
			<td>Ryan rebounds the basketball really well.  He plays really hard and throws good outlet passes.  He also competes on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Logan-Alexander-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58384" /></td>
			<td>Alexander, Logan</td>
			<td>10</td>
			<td>Logan has a great outside shot.  Also shows the ability to create for others.  High basketball IQ</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/austin-allen-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58304" /></td>
			<td>Allen, Austin</td>
			<td>11</td>
			<td>Austin is extremely smart on the floor. He makes strong passes and sets his teammates up in good opportunities to score.  </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/justen-anderson-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58368" /></td>
			<td>Anderson, Justen</td>
			<td>9</td>
			<td>Great court vision.  Ability to create shots for teammates off the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/isaac-angelo-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58346" /></td>
			<td>Angelo, Isaac</td>
			<td>10</td>
			<td>Isaac was able to finish in the lane all day. He showed a nice touch with both hands. He was also able to rebound consistently on both ends of the floor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jonathan-arrington-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58363" /></td>
			<td>Arrington, Jonathan</td>
			<td>10</td>
			<td>Jonathan is explosive with the ball. He goes by defenders and can score well of the dribble. On defense, he plays hard in the half court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/adrian-baldwin-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58294" /></td>
			<td>Baldwin, Adrian</td>
			<td>8</td>
			<td>Adrian played really well against older competition. He made some great plays off the bounce and showed he can make plays when it counts most. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jonathan-baltimore-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58364" /></td>
			<td>Baltimore, Jonathan</td>
			<td>11</td>
			<td>Jonathan has a balanced offensive game.  Good jumper and is a great decision maker.  High IQ</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/michael-barnett-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58389" /></td>
			<td>Barnett, Michael</td>
			<td>11</td>
			<td>Very athletic player who can beat his man off the dribble and bully players to the rim. Athleticism shows in his rebounding ability.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/dishon-blake-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58339" /></td>
			<td>Blake, Dishon</td>
			<td>10</td>
			<td>Young kid with a good handle.  Likes to get in the lane and find the open man.  High IQ guard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/taija-blaylock-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58414" /></td>
			<td>Blaylock, Taija</td>
			<td>11</td>
			<td>Taija used his length and athleticism to effect shots in the paint. He presented a difficult matchup at the 4 position for his opponents</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Boggs, Isaish</td>
			<td>11</td>
			<td>Isaiah is good at getting to the rim and finishing.  He has the ability to keep good players in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/daryl-bones-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58332" /></td>
			<td>Bones, Daryl</td>
			<td>11</td>
			<td>Daryl has a good handle.  He is very good at penetrating.  He plays hard and knocks down open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Tyler-Bowens-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58422" /></td>
			<td>Bowens, Tyler</td>
			<td>9</td>
			<td>Tyler has the ability to find open teammates and crash the glass of that. High IQ for his age.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/quinn-boyd-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58399" /></td>
			<td>Boyd, Quinn</td>
			<td>10</td>
			<td>Quinn has a balanced offensive game. He can shoot from deep and create for others when shot is not there.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/lan-brown-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58381" /></td>
			<td>Brown, Lanmadrek</td>
			<td>11</td>
			<td>Lanmadrek is a quick small guard who is a pest on defense.  Gets his hands on a lot of balls both on and off the ball.  Very good player in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/rico-bruce-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58403" /></td>
			<td>Bruce, Rico</td>
			<td>11</td>
			<td>Physical wing player who gives high energy on defense. Likes to attack the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/charles-bryant-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58320" /></td>
			<td>Bryant, Charles</td>
			<td>11</td>
			<td>Charles is a long athlete who finishes strong at the rim.  His length bothers shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/christian-caldwell-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58323" /></td>
			<td>Caldwell, Christian</td>
			<td>11</td>
			<td>Diverse offensive game.  Can shoot off the catch &amp; dribble, as well as attack the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/ridgeway-catlett-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58404" />
</td>
			<td>Catlett, Ridgeway</td>
			<td>10</td>
			<td>Ridgeway is a good point guard with vision.  Likes to get in the lane and find the open man.  Also will hit catch and shoot 3's.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/chris-chapman-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58321" /></td>
			<td>Chapman, Chris</td>
			<td>10</td>
			<td>Great point guard instincts with terrific court vision. High basketball IQ.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/kristopher-chapman-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58378" /></td>
			<td>Chapman, Kristopher</td>
			<td>10</td>
			<td>Kris was aggressive on his post touches and showed a nice ability to finish. His physicality gave his team a great presence down low.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/reece-clark-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58401" /></td>
			<td>Clark, Reece</td>
			<td>9 </td>
			<td>Reece has point guard instincts.Knows when to push the ball in transition or slow the game down. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/deshawn-coakley-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58336" /></td>
			<td>Coakley, Deshawn</td>
			<td>10</td>
			<td>Deshawn has a nice catch and shoot from 3.  Great in transition, getting to the basket and finding his open man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/isaiah-coles-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58348" /></td>
			<td>Coles, Isaiah</td>
			<td>11</td>
			<td>Isaiah rebounds well for his size.  He also has shown the ability to knock down a 3 point shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/scott-collier-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58411" /></td>
			<td>Collier, Scott</td>
			<td>11</td>
			<td>Scott has very good ball handling skills and a great feel for the game. He is able to get his shot off in the mid range area with consistency.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Connell, Irwayne</td>
			<td>10</td>
			<td>Long, athletic big who is a rim protecter.  Improving shot with high upside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/garrett-cook-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58342" /></td>
			<td>Cook, Garrett</td>
			<td>11</td>
			<td>Garrett shot the ball really well all day. He was able to get open shots with his ability to move off the ball and find open areas.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/anthony-cooper-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58300" /></td>
			<td>Cooper, Anthony</td>
			<td>10</td>
			<td>Anthony can get his shot off in a hurry against bigger defenders. He is a savvy player who has the potential to be a really tough guard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/joshua-cornish-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58367" /></td>
			<td>Cornish, Joshua</td>
			<td>9</td>
			<td>Joshua shows great athleticism and ability to get to the basket off the bounce. Great vision in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/andrew-corum-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58299" /></td>
			<td>Corum, Andrew</td>
			<td>11</td>
			<td>Andrew’s length and mobility gave him a nice face up game. He also did a great job drawing help and making plays for others.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/casheus-covington-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58319" /></td>
			<td>Covington, Cashus</td>
			<td>8</td>
			<td>Great point guard instincts, a leader out on the court.Ability to not only create for others but himself as well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/tyrone-craven-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58425" /></td>
			<td>Craven, Tyrone</td>
			<td>12</td>
			<td>Tyrone has great vision and passes the ball really well. He plays really hard and is a good on ball defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/tyland-crawford-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58421" /></td>
			<td>Crawford, Tyland</td>
			<td>11</td>
			<td>Tyland handles the ball really well.  He plays hard and defends.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/albert-davis-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58297" /></td>
			<td>Davis, Albert</td>
			<td>11</td>
			<td>Albert is a very good at attacking gaps on the flood. He has good handle and can also pass through penetration.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/anthony-davis-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58301" /></td>
			<td>Davis, Anthony</td>
			<td>11</td>
			<td>Anthony plays really hard and competes every play. He is a great passer and sees the floor well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jacob-dentu-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58352" /></td>
			<td>Dentil, Jacob</td>
			<td>11</td>
			<td>Jacob has great pull-up shot. Always in a stance on D, always competiting on D.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/trent-dixon-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58419" /></td>
			<td>Dixon, Trent</td>
			<td>10</td>
			<td>Trent has an elite shot from deep.  Has the ability to shot fake and drive when defensive gives long closeouts.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/james-dugan-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58355" /></td>
			<td>Dugan, James</td>
			<td>10</td>
			<td>James can really shoot it for a big.  He seems to play with intelligence and plays hard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/bryan-easton-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58312" /></td>
			<td>Easton, Bryan</td>
			<td>11</td>
			<td>Brandon is a hard worker on the defensive end, and has a knack for making big plays. He is also quick in transition</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/ayegi-edwards-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58308" /></td>
			<td>Edwards, Aygei</td>
			<td>11</td>
			<td>Aygei’s competitiveness and toughness showed through defense and effort. He stepped up and hit big shots in crucial situations.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/cameron-evans-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58316" /></td>
			<td>Evans, Cameron</td>
			<td>10</td>
			<td>Tough defender, often frustating player he is guarding.  His toughness translates to his rebounding ability.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/elijah-ford-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58341" /></td>
			<td>Ford, Elijah</td>
			<td>10</td>
			<td>Elijah is a capable shooter at mid range. He also works extremely hard from the tip.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/zachery-garrett-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58431" /></td>
			<td>Garrett, Zachery</td>
			<td>10</td>
			<td>Zach was really strong defensively and had several steals. On offense he showed the ability to take contact and finish in the lane. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/ross-gerber-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58406" /></td>
			<td>Gerber, Ross</td>
			<td>11</td>
			<td>Ross is a multi-talented wing who can rebound and lead the break.  Very good vision and basketball IQ.  Nice 15 foot jump shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/john-ghazal-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58361" /></td>
			<td>Ghazal, John</td>
			<td>11</td>
			<td>John is a high IQ guard whose best skill is hitting an open catch and shoot 3.  Plays hard on defense and controls the ball well.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Gilkerson, Shyheim</td>
			<td>10</td>
			<td>High IQ lead guard who can get to the rim.  Plays hard on defense and competes.  Good player in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/deshae-golden-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58335" /></td>
			<td>Golden, DeShae</td>
			<td>8</td>
			<td>Terrific ballhandler &amp; uses it to get teammates open.  High energy, competing every possession.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/sebastian-gonzalez-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58412" /></td>
			<td>Gonzalez, Sebastian</td>
			<td>10</td>
			<td>Sebastian is able to get into the paint and find open shooters. He plays at his pace and doesn’t let defenders rattle him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/tison-graves-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58418" /></td>
			<td>Graves, Tison</td>
			<td>10</td>
			<td>Athletic wing who shows toughness attacking the rim. Tough player to box out on the glass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/langston-gray-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58382" /></td>
			<td>Gray, Langston</td>
			<td>11</td>
			<td>Ability to attack the basket and finish through contact. Strong rebounder on defensive &amp; offensive glass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/keith-gross-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58370" /></td>
			<td>Gross, Keith</td>
			<td>11</td>
			<td>Keith is a physical player who uses his body well. He also rebounds the basketball well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/sultan-hameen-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58413" /></td>
			<td>Hameen, Sultan</td>
			<td>10</td>
			<td>Sultan pushes the ball up in transition and sees the floor well. His IQ on defense is what separates him from other players; he is always in the right spot. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/tairon-haryd-leach-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58415" /></td>
			<td>Hardy-Leach, Tairon</td>
			<td>11</td>
			<td>Tairon showed his ability in the transition game by running the floor. His length helped him defensively as he was able to guard many positions.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/daniel-harris-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58328" /></td>
			<td>Harris, Dan</td>
			<td>11</td>
			<td>Dan made an impact through effort and toughness. His toughness helped the team on both ends with his rebounding and finishing.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/isaac-harris-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58347" /></td>
			<td>Harris, Isaac</td>
			<td>11</td>
			<td>Isaac penetrated through contact to make plays. He showed an ability to cut and find open opportunities within the offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/kenneth-hartmann-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58372" /></td>
			<td>Hartmann, Kenneth</td>
			<td>9</td>
			<td>Kenneth is terrific at seeing the play before it develops. From the second he catches the ball he knows the right play to make. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/cameron-hawkins-300x207.jpg" alt="" width="300" height="207" class="alignleft size-medium wp-image-58317" /></td>
			<td>Hawkins, Cameron</td>
			<td>10</td>
			<td>Cameron used his length and timing to erase some shots in the lane. He played with great effort during the day.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Korey-Hayman-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58377" /></td>
			<td>Hayman, Korey</td>
			<td>12</td>
			<td>Korey is a high energy player who has the ability to create his own shot. Competes on every possession.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/ale-huff-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58298" /></td>
			<td>Huff, Ale</td>
			<td>10</td>
			<td>Ale excels attacking the basket and draws a lot of contact. Very athletic and it shows in his rebounding ability.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/calvin-james-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58315" /></td>
			<td>James, Calvin</td>
			<td>9</td>
			<td>Calvin is a smart guard with good court vision. He sets his teammates up well and is a leader on the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/saiquan-jamison-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58409" /></td>
			<td>Jamison, Saiquan</td>
			<td>11</td>
			<td>Saiquan rebounds well and plays great post defense. His best attribute is that he runs the floor every possession. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/robert-jenkins-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58405" /></td>
			<td>Jenkins, Robert</td>
			<td>11</td>
			<td>Robert made the right play on every touch. He played within himself and knocked down open jumpers for his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/mariel-jennings-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58385" /></td>
			<td>Jennings, Mariel</td>
			<td>11</td>
			<td>Mariel is able to create as a ball handler and had several impressive assists. Defensively, he had great ball pressure and was aware off the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/drew-johnson-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58340" /></td>
			<td>Johnson, Drew</td>
			<td>10</td>
			<td>Terrific outside shot.  High basketball IQ creating shots for others.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Johnson, Ismael</td>
			<td>12</td>
			<td>Ismael was one of the most athletic players on the floor in every drill and game this weekend. He knows how to get to the rim, and is a skilled rebounder.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/khaman-johnson-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58373" /></td>
			<td>Johnson, Khaman</td>
			<td>10</td>
			<td>Khaman is a player who uses his length well on defense.  He likes to slash in the lane and get back to his left hand.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jason-jolly-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58356" /></td>
			<td>Jolly, Jason</td>
			<td>12</td>
			<td>Jason is a PG who can really lead a team.  Great ball handler and passer who can shoot the three off the bounce or the catch.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/ashton-jones-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58303" /></td>
			<td>Jones, Ashton</td>
			<td>9</td>
			<td>Ashton has a very high motor on the court.  Has great court vision in open court &amp; shows a willingness to create for others.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/darius-jones-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58330" /></td>
			<td>Jones, Darius</td>
			<td>11</td>
			<td>Darius is very good in transition. His court vision is excellent and he is able to find his teammates in rhythm. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jermain-jones-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58358" /></td>
			<td>Jones, Jermain</td>
			<td>10</td>
			<td>Long, athletic wing who can be a rim protecter.  Good rebounder with high upside.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Jones, Jon</td>
			<td>12</td>
			<td>Wing player who can shoot as well as drive to the basket.  Plays with high energy.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jackson-jordan-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58351" /></td>
			<td>Jordan, Jackson</td>
			<td>11</td>
			<td>A guard who can get to the basket at will.  Great finishing ability &amp; pull-up jumper.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/corey-joyner-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58327" /></td>
			<td>Joyner, Corey</td>
			<td>10</td>
			<td>Corey had a quick release from behind the arc. He also made some passes that led to his team getting easy baskets.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/vidmantus-kaciuska-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58428" /></td>
			<td>Kaciuska, Vidmantus</td>
			<td>11</td>
			<td>Vidmantus shooting ability has deep range. Can bully defenders to the glass as well.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Kelley, Jacob</td>
			<td>9</td>
			<td>Jacob has a great feel for the game when he is on the floor. He plays smart defensively and finds ways to put the ball in the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/patric-kelly-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58398" /></td>
			<td>Kelly, Patric</td>
			<td>11</td>
			<td>Patric is a slashing wing who finishes well in the lane.  Also is long and plays hard defensively.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Kelsey, Avery</td>
			<td>11</td>
			<td>Avery is a very smart player on both ends. He doesn't force the action, and isn't afraid to make a simple play to help his team. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/bryan-knapp-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58313" /></td>
			<td>Knapp, Bryan</td>
			<td>10</td>
			<td>Bryan has tremendous shooting ability. Ability to find teammates when shot is not open.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/renard-lane-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58402" /></td>
			<td>Lane, Renard</td>
			<td>11</td>
			<td>Renard plays the game with great position.  Knows rotations on defensive &amp; is dangerous if he has the ball in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/matthew-lewis-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58387" /></td>
			<td>Lewis, Matthew</td>
			<td>10</td>
			<td>Matthew’s attacking style of play gives him an advantage on both ends. He puts pressure on opposing players and is able to play comfortably in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/myles-lewis-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58394" /></td>
			<td>Lewis, Myles</td>
			<td>11</td>
			<td>Balanced floor game.  Ability to drive by defender &amp; finish at the rim or pull-up.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/terence-lewis-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58416" /></td>
			<td>Lewis, Terence</td>
			<td>10</td>
			<td>Terence has an athletic ability that makes his difficult to cover. He handles the ball with poise and is always under control. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/victor-littles-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58427" /></td>
			<td>Littles, Victor</td>
			<td>10</td>
			<td>Victor is a very good mid range shooter and can get to the middle of the floor. Defensively he plays great help and can guard several positions.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/tyler-lloyd-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58423" /></td>
			<td>Lloyd, Tyler</td>
			<td>11</td>
			<td>Tyler plays really hard and competes.  He rebounds and defends well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/noah-locke-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58397" /></td>
			<td>Locke, Noah</td>
			<td>9</td>
			<td>Noah shows flashes of being a good shooter.  He also has the ability to be a good defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/cooper-macklin-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58326" /></td>
			<td>Macklin, Cooper</td>
			<td>10</td>
			<td>Cooper plays with great IQ and competitiveness. He used his shot fake well to get past the first line and make plays.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/darus-maddox-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58331" /></td>
			<td>Maddox, Darus</td>
			<td>11</td>
			<td>Tremendous first step allowing him to get to basket with ease.  Creates for others when penetrating gaps.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/lamar-martin-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58379" /></td>
			<td>Martin, Lamar</td>
			<td>9</td>
			<td>High basketball IQ who can create shots for his teammates.  Very high potential with high work ethic.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/austin-mazlish-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58305" /></td>
			<td>Mazlish, Zach</td>
			<td>10</td>
			<td>Zach can catch and shoot from any spot on the floor. Within the offense he is also a fundamental passer. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/brandon-mcdaniel-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58311" /></td>
			<td>McDaniel, Brandon</td>
			<td>11</td>
			<td>Brandon has a really good handle and can create open shots for others. He is smart with the ball and rarely turns it over. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/kendall-mcgill-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58371" /></td>
			<td>Mcgill, Kendall</td>
			<td>10</td>
			<td>Very tough defender who competes every possesion.Uses his toughness on offensive to the drive to the rim and finish through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/lamont-mcmanus-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58380" /></td>
			<td>McManus, Lamont</td>
			<td>11</td>
			<td>Lamont played great on the low block at both ends. He showed great maturity with his poise and footwork. He plays solid defense on and off the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/devin-meade-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58337" /></td>
			<td>Meade, Devin</td>
			<td>9</td>
			<td>Devin plays the game really hard.  He has a ton of effort on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/justin-milstead-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58369" /></td>
			<td>Milstead, Justin</td>
			<td>11</td>
			<td>Justin pushes the ball well in transition.  He makes good decisions and has a really good handle.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/david-mishack-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58333" /></td>
			<td>Mishack, David</td>
			<td>9</td>
			<td>David is a very young/long defender who alters and blocks a ton of shots.  Good athlete and offensive rebounder.  When he polishes his ball handling and post moves, he will be very good.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/moses-moore-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58393" /></td>
			<td>Moore, Moses</td>
			<td>9</td>
			<td>Moses can dribble very well.  He sees the court and finds the open man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/tyus-nausedas-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58426" /></td>
			<td>Nausedas, Tyus</td>
			<td>10</td>
			<td>Tyus is a very accurate 3 point shooter who finds ways to get open.  Not overly athletic, but competes on defense.  High upside player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/john-nwokworo--300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58362" /></td>
			<td>Nwokworo, John</td>
			<td>11</td>
			<td>John uses his athleticism well.  He rebounds and defends for his size.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/max-oppenheim-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58388" /></td>
			<td>Oppenheim, Max</td>
			<td>10</td>
			<td>He can really rebound the ball.  He runs the floor well and really looks to pass the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/michael-owens-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58390" /></td>
			<td>Owens, Michael</td>
			<td>9 </td>
			<td>Long &amp; athletic player who gets after it on D.  Gets his hands in passing lanes and frustrates offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/miquel-palacio-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58392" /></td>
			<td>Palacio, Miguel</td>
			<td>11</td>
			<td>Miguel did a great job of getting into the paint to make plays for himself and others. He is able to score while also playing unselfishly.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/devin-pandy-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58338" /></td>
			<td>Pandy, Devin</td>
			<td>12</td>
			<td>Devin is a very strong guard.  He plays really hard and is good on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/halil-parks-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58343" /></td>
			<td>Parks, Halil</td>
			<td>10</td>
			<td>Halil has excellent defensive skills both on the ball and off. On the offensive side, it is his handle under pressure that makes him productive. He is able to control the pace of the game throughout.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jalen-payton-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58353" /></td>
			<td>Payton, Jalen</td>
			<td>10</td>
			<td>Jalen is an athletic wing who has the ability to finish around the rim. Does not force shot, can find teammates when shot is not there.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/myles-penfield-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58395" /></td>
			<td>Penfield, Myles</td>
			<td>11</td>
			<td>Myles is an athletic wing who pushes the ball up the floor. In doing so, he gets to the rim at will.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/darian-peterson-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58329" /></td>
			<td>Peterson, Darian</td>
			<td>11</td>
			<td>Darian is very athletic and has great handle. He uses that handle to get by defenders and find open teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jeremiah-price-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58357" /></td>
			<td>Price, Jeremiah</td>
			<td>11</td>
			<td>High energy player.  Rebounds well on both ends with great athleticism.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Proctor, J</td>
			<td>11</td>
			<td>J plays with great passion and aggressiveness. He is an unselfish player with abilities to make plays for himself and others.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/josh-ray-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58366" /></td>
			<td>Ray, Josh</td>
			<td>10</td>
			<td>Josh runs the floor really hard.  He crashes the glass with great effort.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/vincent-reed-berry-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58429" /></td>
			<td>Reed-Berry, Vincent</td>
			<td>10</td>
			<td>Vincent made some smooth moves to finish in transition. He showed flashes of his rebounding, athleticism and defensive skills throughout the day. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/aj-remington-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58295" /></td>
			<td>Remington, AJ</td>
			<td>12</td>
			<td>AJ is a wing who is best in a catch and shoot situation.  Plays very hard on defense, which helps make up for limited athleticism.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Robertson, Ian</td>
			<td>9</td>
			<td>Ian has a solid catch and shoot game. Great court vision, always finding open teammate.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/aj-robinson-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58296" /></td>
			<td>Robinson, Aj</td>
			<td>11</td>
			<td>AJ has a very nice 3 point stroke and can shoot off the catch and the dribble.  Also can slash and score or find the open guy.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/bishop-robinson-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58309" /></td>
			<td>Robinson, Bishop</td>
			<td>9</td>
			<td>Bishop showed great competitiveness against older players. He played effectively, making smart plays on both sides of the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/nicholas-robinson-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58396" /></td>
			<td>Robinson, Nicolas</td>
			<td>11</td>
			<td>Nicolas is unselfish with the ball and is quick in transition. His vision is one of the best throughout camp. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/chris-rogers-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58322" /></td>
			<td>Rogers, Chris</td>
			<td>9</td>
			<td>Chris is a very good pick and roll player with vision. In traffic, he has good visions and makes winning plays.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/kobe-rourke-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58375" /></td>
			<td>Rourke, Kobe</td>
			<td>11</td>
			<td>Kobe finishes at the rim and has a tremendous up side in the paint. Defensively he provides strong rim protection for his team.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Russell, Davine</td>
			<td>11</td>
			<td>Davine’s biggest advantage is his athleticism on both ends of the floor. He had defenders on their heels all day long with his handling ability.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/abass-sallah-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58293" /></td>
			<td>Sallah, Abass</td>
			<td>10</td>
			<td>Abass plays with great composure and understanding of the game. He is a skilled passer and made some great plays for his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jerome-savoy-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58359" /></td>
			<td>Savoy, Jerome</td>
			<td>10</td>
			<td>Jerome is best when he is going towards the basket. He gets in the paint and creates havoc for the defense. Defensively he works really hard and causes problems for the opposition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/michael-schultz-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58391" /></td>
			<td>Schultz, Michael</td>
			<td>10</td>
			<td>Michael understands his strengths and uses them without doing too much. He is very fundamental and can be counted on in stressful situations.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/tunde-scrivner-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58420" /></td>
			<td>Scrivner, Tunde</td>
			<td>10</td>
			<td>Tunde has a great first step and can finish at the rim.Very skilled 1-on-1 player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/avery-semiday-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58306" /></td>
			<td>Semiday, Avery</td>
			<td>11</td>
			<td>High basketball IQ.  Very unselfish guard and knows where to postion himself for rebounds.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/isaiah-simpson-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58349" /></td>
			<td>Simpson-Anderson, Isaiah</td>
			<td>10</td>
			<td>Strong, physical big. Able to rebound the ball and get put backs on offensive glass through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jalen-smith-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58354" /></td>
			<td>Smith, Jalen</td>
			<td>9</td>
			<td>Jalen is an athletic player. His shot was very fundamental and he showed the potential to be very good.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/vincent-stallion-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58430" /></td>
			<td>Stallion, Vincent</td>
			<td>11</td>
			<td>Vincent is a long wing/post who can rebound very well.  His athleticism and timing allows him to block and alter shots.  High upside talent.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/christian-sweazie-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58324" /></td>
			<td>Sweazie, Christian</td>
			<td>10</td>
			<td>Christian is a lead guard who has shown a nice stroke off the dribble and catch and shoot.  Also is a very nice decision maker in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/antonio-tavares-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58302" /></td>
			<td>Tavares, Antonio</td>
			<td>11</td>
			<td>Antonio plays with a ton of energy. He showed his basketball IQ and passing skills during the event as well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/kianta-thompson-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58374" /></td>
			<td>Thompson, Kianta</td>
			<td>11</td>
			<td>Kianta is a slashes who uses his speed and athleticism to get to the rim.  Good defender and rebounder as well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/kobe-tigney-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58376" /></td>
			<td>Tigney, Kobe</td>
			<td>9</td>
			<td>Kobe is a long, athletic defender who always get his hands in the passing lanes.  Great shot from behind the arc.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/thomas-tobias-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58417" /></td>
			<td>Tobias, Thomas</td>
			<td>12</td>
			<td>Thomas is a terrific catch and shoot guy from the wing. However, when the ball is in his hands he becomes a strong slasher.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/bryce-vicks-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58314" /></td>
			<td>Vicks, Bryce</td>
			<td>11</td>
			<td>Bryce is a defender who moves his feet well on the ball.  Likes to slash to the rim and get to the free throw line.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/1962677_868083076589558_471470222686630929_n-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-58903" /></td>
			<td>Waller, RaQuan</td>
			<td>11</td>
			<td>Raquan is a tough guard with a high IQ on the court. He limits his turnovers as a guard and is very good in his decision making. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/avery-white-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58307" /></td>
			<td>White, Avery</td>
			<td>10</td>
			<td>Avert plays very hard on defense.  He makes intelligent decisions with the ball in his hand.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/marquis-wilkerson-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58386" /></td>
			<td>Wilkerson, Marquis</td>
			<td>10</td>
			<td>Marquis has great size and uses it to his advantage when rebounding.Very physical player on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/jabari-williams-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58350" /></td>
			<td>Williams, Jabari</td>
			<td>11</td>
			<td>Jabari is very vocal on the court, good leader. Gives maximum effort on defensive, good on ball defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/ryan-williams-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58408" /></td>
			<td>Williams, Ryan</td>
			<td>10</td>
			<td>Ryan plays the game with intelligence.  He also makes the right pass and plays good defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/tyler-williams-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58424" /></td>
			<td>Williams, Tyler</td>
			<td>10</td>
			<td>Tyler is a very athletic player.  He is a good shot blocker and very active.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/christian-wood-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58325" /></td>
			<td>Wood, Christian</td>
			<td>9</td>
			<td>Christian is a good floor general. He knows how to set up his teammates all over the floor. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Woods, Briar</td>
			<td>11</td>
			<td>Good offensive game, ability to finish inside &amp; around the rim.  Gets great rebounding position as shot goes up.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/lincoln-yeutter-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58383" /></td>
			<td>Yeutter, Lincoln</td>
			<td>9</td>
			<td>Lincoln has a high IQ for the game.  He can really shoot the ball.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Easton, Brandon</td>
			<td>11</td>
			<td>Brandon was able to cause problems for defenders with his poise and smart decision making. Defensively he can guard several positions because of his activeness. </td>
		</tr>
	</tbody>
</table>
