<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys &amp; Girls</th>
			<th>Days</th>
			<th>Time</th>
			<th>Cost</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>June 25 - June 29</td>
			<td>Completed Grades 4-11</td>
			<td>Mon-Fri</td>
			<td>9:00AM-2:00PM </td>
			<td>$315</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-nbs-1--2018">Register Here </a></td>
		</tr>
		<tr>
			<td>August 13 - August 17</td>
			<td>Completed Grades 4-11</td>
			<td>Mon-Fri</td>
			<td>9:00AM-2:00PM</td>
			<td>$315</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-nbs-2--2018">Register Here </a></td>
		</tr>
	</tbody>
</table>
