<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Corey Head</td>
			<td>2020</td>
			<td>Strengths: High IQ player with a nice shot from long range. Very hard worker with a solid understanding of the game. 

Weaknesses: Will become more versatile on the offensive end if he improves his ball handling skills, allowing him to break down the defense. </td>
		</tr>
		<tr>
			<td>Walter Staples</td>
			<td>2017
Wise</td>
			<td>Strengths: Long, athletic wing who uses his length to disrupt the offense. Very active defensively. Uses his quickness to attack the basket.

Weaknesses: Will become a bigger offensive threat when he develops a consistent 3 point shot. </td>
		</tr>
		<tr>
			<td>Daniel McLean-Corley</td>
			<td>2018
Wise</td>
			<td>Strengths: Long, elite player with the ability to defend on the perimeter. Very crafty with the basketball. 

Weaknesses: Can improve his decision making and court awareness which will provide more opportunities for teammates. </td>
		</tr>
		<tr>
			<td>Kaenen Frazier</td>
			<td>2019
Wise</td>
			<td>Strengths: Very unselfish player with great shot selection. 

Weaknesses: Needs to work on his ball handling skills which will make him harder to guard. </td>
		</tr>
		<tr>
			<td>Marley Sume</td>
			<td>2019
Point Branch</td>
			<td>Strengths: Active player who uses his athleticism on both ends of the court. Able to finish well and is very active on the glass. 

Weaknesses: Developing a jump shot out to 3 point range will bring his game to the next level. </td>
		</tr>
		<tr>
			<td>Payton Drake</td>
			<td>2018
Southern</td>
			<td>Strengths: Hustle player who runs the floor, sets screens, and helps other teammates to get open for easy shots. Good help defender. Runs the lane well. 

Weaknesses: Can elevate his offensive game by improving his ball handling skills. </td>
		</tr>
		<tr>
			<td>Dezmon Gaither</td>
			<td>2018
McDonogh School</td>
			<td>Strengths: Long forward who uses his length on to defend and block shots. Great, active rebounder who finishes offensive rebounds. 

Weaknesses: Needs to get stronger in order to power inside against bigger forwards. </td>
		</tr>
		<tr>
			<td>Kendall McGill</td>
			<td>2017
Largo</td>
			<td>Strengths: Good rebounding guard. Strong driver and is very good in transition. 

Weaknesses: Will become a more versatile scorer by developing his jump shot.  </td>
		</tr>
		<tr>
			<td>Keenan Alexander </td>
			<td>2019
Wise</td>
			<td>Strengths: Athletic player with the ability to get to the rim. Vocal defender and capable of containing penetration. 

Weaknesses: Must work on his shot selection and making the next pass when the defense commits. This will provide easier scoring opportunities. </td>
		</tr>
		<tr>
			<td>Michael Handy</td>
			<td>2019
North Point High School</td>
			<td>Strengths: Perimeter shooter but can also create for others. Finishes well in transition. 

Weaknesses: Will bring his offensive game to the next level if he develops a more consistent outside shot. </td>
		</tr>
		<tr>
			<td>Emile Marsh</td>
			<td>2020
</td>
			<td>Strengths: Tenacious on ball defender and constantly creates turnovers. Good outside shot. 

Weaknesses: Needs to get stronger in order to get into the lane.  </td>
		</tr>
		<tr>
			<td>DJ Hopkins</td>
			<td>2017
Huntingtown</td>
			<td>Strengths: Hard worker who plays good on ball defense. Has good court vision making him capable of finding the open man and giving a good pass. 

Weaknesses: Can be more aggressive on offense by looking for his jump shot. </td>
		</tr>
		<tr>
			<td>Cameron Chesley</td>
			<td>2019
North Point High School</td>
			<td>Strengths: Long guard who does a great job at getting to the rim. Good defender who really gets into the passing lanes. 

Weaknesses: Can round out his game by working on his finishing around the rim and decision making skills. </td>
		</tr>
		<tr>
			<td>Zaylon Thomas</td>
			<td>2018
Wise</td>
			<td>Strengths: Active rebounder on both ends of the floor. Plays very hard and uses his length to his advantage. 

Weaknesses: Will be harder to guard if he is more aggressive on the offensive end by looking for his shot. </td>
		</tr>
		<tr>
			<td>Connor Reed</td>
			<td>2018
Washington High School</td>
			<td>Strengths: Hard worker who makes good decisions with the ball. Great communicator on defense and rebounds the ball very well. Solid drives to the basket and can finish at the rim. 

Weaknesses: Can elevate his offensive game by developing a consistent jump shot. </td>
		</tr>
		<tr>
			<td>Devin Meade</td>
			<td>2018
Largo</td>
			<td>Strengths: Good on ball defender who never takes a play off. Gets his teammates involved and makes the most of his time on the court.

Weaknesses: Can bring his game to the next level by communicating on defense and being more aggressive on the offensive end. </td>
		</tr>
		<tr>
			<td>Kolin Lewis</td>
			<td>2019
Bullis School</td>
			<td>Strengths: High IQ player and understanding of the game. Very hard worker who makes the hustle play. 

Weaknesses: Can be more aggressive on offense by looking for scoring opportunities. </td>
		</tr>
		<tr>
			<td>Brett Bechler</td>
			<td>2018
Eastern Mennonite High School</td>
			<td>Strengths: Good passer who does a nice job of getting his teammates involved. Very hard worker. 

Weaknesses: Can elevate his offensive game by improving his ball handling skills. </td>
		</tr>
		<tr>
			<td>Dillon Jackson</td>
			<td>2018
Henry Wise</td>
			<td>Strengths: Team player who likes to get his teammates involved. Good at getting to the basket and shooting the mid range or the floater. Plays hard on both ends of the floor. 

Weaknesses: Will become more of a defensive presence by boxing out every time and going after the rebound. </td>
		</tr>
		<tr>
			<td>Amadi Lee-Kane</td>
			<td>2020
Middle School</td>
			<td>Strengths: Good shooter from both mid range and from 3 point range. Good defender who always plays hard. 

Weaknesses: Can elevate his defensive game by communicating on the floor. </td>
		</tr>
		<tr>
			<td>Brandon Howell</td>
			<td>2017
Dr. Henry A. Wise</td>
			<td>Strengths: Versatile scorer with the ability to shoot the ball both off the dribble and set. Has great court vision and finds the open teammate. Great shooting touch. 

Weaknesses: Can become a much better defender by constantly communicating. </td>
		</tr>
		<tr>
			<td>Colin Smalls</td>
			<td>2020
Wise</td>
			<td>Strengths: Pure shooter with great shooting form. Runs the pick and roll to perfection. Very creative with good ball handling skills. 

Weaknesses: Needs to be more vocal on both ends of the floor in order to be the leader of the team. </td>
		</tr>
		<tr>
			<td>Jalen Gibbs</td>
			<td>2017
North Point</td>
			<td>Strengths: Energetic leader who is very quick off of the dribble and can shoot the 3 point shot. High IQ player. Very quick on the defensive end. 

Weaknesses: Needs to get stronger in order to finish through contact. </td>
		</tr>
		<tr>
			<td>Jai Parker</td>
			<td>2018
Northern High School</td>
			<td>Strengths: Good 3 point shooter with strong ball handling skills. Able to get into the lane with his speed and uses his body well on both ends of the floor. 

Weaknesses: Can be more aggressive on both ends of the floor, looking for steals and penetrating the gaps. </td>
		</tr>
		<tr>
			<td>Ronald Easton</td>
			<td>2019
Wise</td>
			<td>Strengths: Penetrator with the ability to finish at the basket and shoot the mid range shot. Has a nice outside shot. 

Weaknesses: Can improve his transition defense by finding a man very quickly to slow down the break. </td>
		</tr>
		<tr>
			<td>Brett Longshore</td>
			<td>2018
Dr. Henry A. Wise</td>
			<td>Strengths: Big bodied player who uses his size to penetrate into the lane. Can shoot the 3. Very aggressive on both ends of the floor. 

Weaknesses: Will bring his game to the next level by working on his perimeter defense in order to guard smaller guards. </td>
		</tr>
		<tr>
			<td>Stephen Armstrong</td>
			<td>2018
Clarksburg High School</td>
			<td>Strengths: Versatile forward with the ability to push the ball up the floor. Moves well without the ball and is very willing to find the open man. Solid set shot. 

Weaknesses: Needs to be more physical in the paint in order to finish on drives and grab tough rebounds. </td>
		</tr>
		<tr>
			<td>Duncan Adams</td>
			<td>2018
Flint Hill</td>
			<td>Strengths: Solid mid range jump shooter. Also looks to post and pass out to open teammates. Active on the glass. 

Weaknesses: Can improve his passing skills in order to create more scoring opportunities for his teammates. </td>
		</tr>
		<tr>
			<td>Derick Brown</td>
			<td>2017
Theodore Roosevelt High School</td>
			<td>Strengths: Strong guard who is very effective when able to rebound and push the ball in transition. Has the ability to defend numerous positions. Good set jump shot. 

Weaknesses: Can become a more versatile scorer by working on his finishes around the basket and extending his shooting range. </td>
		</tr>
		<tr>
			<td>Merlon Devine II </td>
			<td>2018
La Plata High School</td>
			<td>Strengths: Long guard that is a solid on ball defender when using his athleticism. Has a solid spot up jump shot but also looks to drive and kick to open teammates. 

Weaknesses: Can elevate his offensive game by further developing his ball handling skills and staying active without the ball. </td>
		</tr>
		<tr>
			<td>Kamdyn Curfman</td>
			<td>2019
Georgetown Prep</td>
			<td>Strengths: Good shooter from all areas of the court. Hard worker who can also finish around the rim. 

Weaknesses: Will become harder to guard if he can create shots for himself. </td>
		</tr>
		<tr>
			<td>Sean Feeley</td>
			<td>2017
Saint Mary's High School</td>
			<td>Strengths: Hustle player who is willing to get on the floor. Runs the floor well and can hit the open catch and shoot jump shot. 

Weaknesses: Needs to get stronger in order to finish through contact at the rim. </td>
		</tr>
		<tr>
			<td>Donovan McCrae</td>
			<td>2017
Thomas Stone High School</td>
			<td>Strengths: Scrappy, quick guard who looks to drive and kick to his teammates. Defends well and makes the hustle plays. 

Weaknesses: Improving his ball handling skills and court awareness will make him very valuable on the court. </td>
		</tr>
		<tr>
			<td>Jack Kouba</td>
			<td>2019
Bishop Ireton</td>
			<td>Strengths: Point guard who likes to push the ball. Uses his change of speed in order to create opportunities for others. 

Weaknesses: Can elevate his offensive game by working on getting to the rim and scoring. </td>
		</tr>
		<tr>
			<td>Andre Johnson</td>
			<td>2018
Bishop McNamara</td>
			<td>Strengths: Quick guard who brings a lot of energy. Hustle player. Good shooting touch and does not force the play. 

Weaknesses: Will become a more effective offensive player by improving his ball handling skills. </td>
		</tr>
		<tr>
			<td>Curtis Ouko</td>
			<td>2017
St. Vincent Pallotti</td>
			<td>Strengths: Active rebounder and pressures his opponents. Uses his length on defense to get into the passing lanes and contest shots. 

Weaknesses: Can become a great defender by developing his lateral quickness to guard players on the perimeter. </td>
		</tr>
		<tr>
			<td>Davian Hester</td>
			<td>2018
Washington High School</td>
			<td>Strengths: Vocal, unselfish leader on the floor. Has the ability to knock down the open shot. 

Weaknesses: Can become a more versatile player by working on his ball handling skills and finishes around the basket. </td>
		</tr>
		<tr>
			<td>Keith Holmes</td>
			<td>2018
Bishop Sullivan Catholic</td>
			<td>Strengths: Competitor on both ends of the floor. Very active defender and is always in the right defensive position. 

Weaknesses: Needs to develop better decision making skills in order to get an easier shot. </td>
		</tr>
		<tr>
			<td>Coby Cohen</td>
			<td>2018
Maret School</td>
			<td>Strengths: Elite shooter with the ability to make shots off the catch and off the bounce. Strong positional defender. 

Weaknesses: Can bring his game to the next level by working on his ball handling skills and lateral quickness on defense. </td>
		</tr>
		<tr>
			<td>Jim Coulter</td>
			<td>2018
Deep Run High School</td>
			<td>Strengths: High level competitor and communicator. Leads the team and plays very unselfish. Offensive facilitator. 

Weaknesses: Will make it much harder to guard if he develops a consistent outside shot. </td>
		</tr>
		<tr>
			<td>Jerrod Nolan</td>
			<td>2020
Bishop McNamara High School</td>
			<td>Strengths: Hard worker with the ability to beat his man off of the dribble. Makes the right decisions and finds the open man with good passes. 

Weaknesses: Can elevate his defensive game by working on his quickness and keeping his man on the perimeter. </td>
		</tr>
		<tr>
			<td>Avery White</td>
			<td>2017
Virginia Academy</td>
			<td>Strengths: Physical player with strong drives to the basket. Very good rebounder, especially on the offensive end. 

Weaknesses: Will keep defenders honest by improving and utilizing his left hand on drives and finishes. </td>
		</tr>
		<tr>
			<td>William Norwood</td>
			<td>2018
C.D. Hylton</td>
			<td>Strengths: Very active, high energy defender. Team player who creates shots for his teammates. 

Weaknesses: Can develop his mid range consistency in order to elevate his offensive game. </td>
		</tr>
		<tr>
			<td>Raemond Thompson</td>
			<td>2018
Clarksburg High School</td>
			<td>Strengths: Long, lefty defender who really disrupts the offense. Good finisher in transition. 

Weaknesses: Can elevate his offensive game by improving his accuracy from long range. </td>
		</tr>
		<tr>
			<td>Edward Ambrosi</td>
			<td>2018
St. John's College</td>
			<td>Strengths: Active forward who is very tough in the paint. Capable of stretching the floor with his efficient jump shot from 17 feet. 

Weaknesses: Needs to get stronger in order to finish his shots within the paint. </td>
		</tr>
		<tr>
			<td>Jarret Evans-Meyers</td>
			<td>2017
St. Albans School</td>
			<td>Strengths: Big wing/forward with very good ball handling skills. Shooting range extends beyond the 3 point line. 

Weaknesses: Can become a more diverse scorer by working on his back to the basket moves. </td>
		</tr>
		<tr>
			<td>Caleb Quick</td>
			<td>2020
St. Charles</td>
			<td>Strengths: High IQ player with great defensive instincts and anticipation. Can hit the open shot with consistency. 

Weaknesses: Needs to get stronger in order to get past his defender and penetrate into the lane. </td>
		</tr>
		<tr>
			<td>Kobi Matthews</td>
			<td>2020
Dr. Henry A. Wise</td>
			<td>Strengths: Diverse offensive player with the ability to both attack the basket and shoot a consistent jump shot. Very hard worker. 

Weaknesses: Needs to get stronger in order to finish through contact. </td>
		</tr>
		<tr>
			<td>Destin Ingram</td>
			<td>2017
Lackey High School</td>
			<td>Strengths: Crafty finisher around the basket. Solid penetrator into the paint. 

Weaknesses: Can become a more versatile scorer by extending the range on his shot. </td>
		</tr>
		<tr>
			<td>Thomas Dietrick</td>
			<td>2017
Glen Allen High School</td>
			<td>Strengths: High level on ball defender and a very good help defender. Great vision on the floor making him a good passer. 

Weaknesses: Should work on improving his ball handling skills in order to drive into the lane. </td>
		</tr>
		<tr>
			<td>Victor Littles</td>
			<td>2017
Largo</td>
			<td>Strengths: Strong, physical forward with the ability to drive to the basket. Has great shooting touch. 

Weaknesses: Can improve his ball handling skills in order to drive into traffic in the lane. </td>
		</tr>
		<tr>
			<td>Miguel Evereteze</td>
			<td>2018
Great Mills High School</td>
			<td>Strengths: Strong driver who is very efficient at drawing the foul. Great free throw shooter. 

Weaknesses: Should use his size and athleticism to be a larger presence on the boards. </td>
		</tr>
		<tr>
			<td>ByShawn Mincie</td>
			<td>2017
Chambersburg Area</td>
			<td>Strengths: Physical guard who uses his body to get to the basket effectively. Very unselfish and creates shots for his teammates. 

Weaknesses: Can improve his decision making skills by making the easy play. </td>
		</tr>
		<tr>
			<td>Maurice Whitsett</td>
			<td>2019
Seneca Valley High School</td>
			<td>Strengths: Active defender who is always looking for a deflection or steal. Very quick at getting to the basket. 

Weaknesses: Will be harder to guard if he develops a more consistent jump shot. </td>
		</tr>
		<tr>
			<td>Satchel Ball</td>
			<td>2019
North Point</td>
			<td>Strengths: Aggressive on ball defender. Versatile scorer with the ability to attack the basket and shoot the jump shot. Aggressive in transition. 

Weaknesses: Needs to work on his mid range shot in order to round out his game. </td>
		</tr>
		<tr>
			<td>Jeff Franklin</td>
			<td>2019
Wise</td>
			<td>Strengths: Team first player who likes to create for his teammates. Very strong with the ball. 

Weaknesses: Can add a consistent jump shot to his offensive skill set which will make him much harder to guard. </td>
		</tr>
		<tr>
			<td>Charlie Webb</td>
			<td>2018</td>
			<td>Strengths: Good post defender who uses his strength against his opponents. Posts up very hard and very active on the glass. 

Weaknesses: Can bring his game to the next level by improving his quickness. </td>
		</tr>
		<tr>
			<td>Ardie Doresey</td>
			<td>2017
Largo</td>
			<td>Strengths: Defensive communicator who utilizes his length to get into passing lanes. Great at attacking the basket. 

Weaknesses: Can improve his court awareness by keeping sight of his man and knowing when to shoot or pass. </td>
		</tr>
		<tr>
			<td>Keynante' Williams</td>
			<td>2018
Massaponax High School</td>
			<td>Strengths: Athletic penetrator who does a great job at getting to the basket. Sets the pace of the game and has great shooting touch. 

Weaknesses: Needs to communicate on the floor in order to become a more complete team player. </td>
		</tr>
		<tr>
			<td>Roddy Hairston</td>
			<td>2017
Riverside</td>
			<td>Strengths: Quick guard with solid decision making skills, understanding when to pass or score. Good on ball defender to go along with his rebounding skills. 

Weaknesses: Can elevate his game by communicating on both ends of the floor. </td>
		</tr>
		<tr>
			<td>Joseph Lee</td>
			<td>2019
Bishop Ireton</td>
			<td>Strengths: Good shooter from both 3 point range and mid range. Reads the ball screen well. Plays very hard. 

Weaknesses: Can improve his decision making skills by making the easy play. </td>
		</tr>
		<tr>
			<td>Jared Abrenica</td>
			<td>2020
Midwood High School</td>
			<td>Strengths: Solid decision maker who likes to get his teammates involved in the game. Solid ball handling skills. 

Weaknesses: Can bring his game to the next level by communicating on the defensive end and rebounding the basketball. </td>
		</tr>
		<tr>
			<td>Marcus Stephens</td>
			<td>2018
CD Hylton High School</td>
			<td>Strengths: Longer guard with a good mid range shot. Has the ability to create for himself and get an open shot. 

Weaknesses: Needs to get stronger in order to finish through contact and get into the lane. </td>
		</tr>
		<tr>
			<td>Chris Martin</td>
			<td>2018
Centreville High School</td>
			<td>Strengths: Great penetrator with the ability to get to the basket. Works very hard on both ends of the floor. 

Weaknesses: Can elevate his offensive game by utilizing his off-hand at the basket. </td>
		</tr>
		<tr>
			<td>Hakeem Gaines</td>
			<td>2017
Godwin High School </td>
			<td>Strengths: Good communicator on the defensive end. Runs the floor very well and plays hard on both ends of the floor. 

Weaknesses: Will improve his defensive game by working on boxing out and going to grab the rebound. </td>
		</tr>
		<tr>
			<td>Gary Berdel Jr. </td>
			<td>2017
Stephen Decatur High School</td>
			<td>Strengths: Hard worker on both ends of the floor. Can lock his opponent down with his defense. Can scorer against his opponent at will. 

Weaknesses: Will be harder to guard if he focuses on improving his ball handling skills and shot consistency. </td>
		</tr>
		<tr>
			<td>Matthew Webber</td>
			<td>2018
Dr. Henry A. Wise</td>
			<td>Strengths: Versatile scorer with the ability to knock down the 3 point shot and finish at the basket with his length. Very committed on defense. 

Weaknesses: Can become a more complete player by improving his ball handling skills and developing a consistent jump shot. </td>
		</tr>
		<tr>
			<td>Jason Canestrino</td>
			<td>2018
Benedictine</td>
			<td>Strengths: Great defender and competitor. Team oriented player who will make the hustle play. 

Weaknesses: Needs to work on developing his offensive game by including a consistent jump shot and the ability to attack the basket. </td>
		</tr>
		<tr>
			<td>Cole Minetree</td>
			<td>2019
St. Christopher</td>
			<td>Strengths: High IQ player with a great shot and nice release. Good ball handling skills. 

Weaknesses: Can elevate his defensive game by working on his foot speed to keep his opponent in front of him.  </td>
		</tr>
		<tr>
			<td>Brandon Dix</td>
			<td>2018
Long Reach High School</td>
			<td>Strengths: Great shooter with deep range and a quick release. Has also shown the ability to score in traffic. 

Weaknesses: Will round out his offensive game if he develops his ball handling and passing skills. </td>
		</tr>
		<tr>
			<td>Jordan Mckenzie</td>
			<td>2019
North Point High School</td>
			<td>Strengths: Team player who can fit into any system. Nice jump shot to go along with his solid ball handling skills. 

Weaknesses: Will become harder to guard by working on his offensive skill set and getting to the basket. </td>
		</tr>
		<tr>
			<td>Reece Clark</td>
			<td>2018
Annapolis Area Christian School</td>
			<td>Strengths: Excellent defender who works well with his teammates. Great court vision allowing him to find the open man. 

Weaknesses: Needs to develop more of an offensive game by developing his shot and ability to get to the rim. </td>
		</tr>
		<tr>
			<td>Dwane Burrows II</td>
			<td>2017
McDonough High School</td>
			<td>Strengths: Solid point guard with a very quick release on his pull up jump shot. Very hard worker. 

Weaknesses: Can become a more complete player by extending his shooting range. </td>
		</tr>
		<tr>
			<td>Devin Dorsey</td>
			<td>2018
Hungtintown High School</td>
			<td>Strengths: Good defender with great instincts. Plays very hard and can make plays for both himself and his teammates. Versatile scorer 

Weaknesses: Can round out his game by developing a consistent mid range jumper. </td>
		</tr>
		<tr>
			<td>Max Somelofske</td>
			<td>2017
Appoquinimink</td>
			<td>Strengths: Unselfish player who is very good on the defensive end and is always in the right position. Competes on the glass every time. 

Weaknesses: Can elevate his offensive game by extending his shooting range and being more explosive off the bounce. </td>
		</tr>
		<tr>
			<td>Joel Webb</td>
			<td>2019
Dr. Henry A. Wise</td>
			<td>Strengths: Physical defender who utilizes his length to get into the passing lanes and block/alter shots. Very active on the glass. 

Weaknesses: Needs to get stronger in order to finish through contact. </td>
		</tr>
		<tr>
			<td>Jackson Brower</td>
			<td>2018
Battlefield High School</td>
			<td>Strengths: Long wing who is always shot ready. A knockdown shooter but can attack the closeout if the defense closes out hard. 

Weaknesses: Will become a more versatile scorer by becoming a finisher at the basket and can improve his lateral quickness on defense. </td>
		</tr>
		<tr>
			<td>Tyson Hancock</td>
			<td>2018
Brookville High School</td>
			<td>Strengths: Very explosive with the ball in his hands. Great understanding of the game. Good court vision and is able to find open teammates. 

Weaknesses: Will be much harder to guard if he develops a consistent outside shot. </td>
		</tr>
		<tr>
			<td>Connor Stephens</td>
			<td>2017
Falls Church High School</td>
			<td>Strengths: Very good defender creating problems for the opponent by getting deflections and steals. Has demonstrated the ability to knock down open shots. 

Weaknesses: Can bring his offensive game to the next level by working on his dribble moves in order to penetrate into tight spaces and get into the lane. </td>
		</tr>
		<tr>
			<td>Alex Caldeira</td>
			<td>2019
Bullis</td>
			<td>Strengths: High IQ player with the ability to knock down the open shot. Does not force plays and has a solid understanding of the game. 

Weaknesses: Can improve his defense by working on his lateral quickness on the perimeter to keep his opponent in front of him. </td>
		</tr>
		<tr>
			<td>Zachary McCoskrie</td>
			<td>2019
Yorktown</td>
			<td>Strengths: Great on ball defender to go along with his intense work ethic. Never takes a play off. 

Weaknesses: Can become a bigger offensive threat by developing a consistent perimeter shot.  </td>
		</tr>
		<tr>
			<td>Kevin Barbour</td>
			<td>2019
Wise</td>
			<td>Strengths: Competitive player on both ends of the floor. Very physical on the defensive end. 

Weaknesses: Can work on his ball handling skills so he can attack in tight spaces. </td>
		</tr>
		<tr>
			<td>Jeffrey Matthews</td>
			<td>2020
Wise</td>
			<td>Strengths: Strong, physical player who has the ability to get by his man off of the dribble. Very competitive and is able keep his man in front of him. 

Weaknesses: Can elevate his offensive game by understanding when to attack to score and when to hit the open man. </td>
		</tr>
		<tr>
			<td>David Stewart</td>
			<td>2020
Broadneck Senior High School</td>
			<td>Strengths: Unselfish player with a good feel for the game. Can knock down the open shot consistently and is very vocal on the defensive end. 

Weaknesses: Needs to get stronger in order to get by his defender and get to the basket. </td>
		</tr>
		<tr>
			<td>Nemo Stewart</td>
			<td>2017
Huntingtown High School</td>
			<td>Strengths: Very hard worker who outworks his opponent on both ends of the floor. Very vocal on the court at all times and is a strong defender. 

Weaknesses: Must work on acquiring an explosive first step to the basket and developing a consistent outside shot in order to become a bigger threat on offense. </td>
		</tr>
		<tr>
			<td>Gabriel Kier</td>
			<td>2018
West Springfield High School</td>
			<td>Strengths: Good facilitator with a very quick first step. Can get into the paint and create havoc for the defense by scoring on his own or finding the open man. 

Weaknesses: Will be harder to guard if he continues to develop his perimeter shot. </td>
		</tr>
		<tr>
			<td>Noah Bullock</td>
			<td>2019
South County High School</td>
			<td>Strengths: High IQ basketball player with great court vision. Leader through his communication skills and is very good with the ball in his hands. 

Weaknesses: Can bring his game to the next level by developing a consistent jump shot and working on  his defensive positioning. </td>
		</tr>
		<tr>
			<td>Casheus Covington</td>
			<td>2020
Wise</td>
			<td>Strengths: Very unselfish player who consistently makes the right play. Has the ability to get past his man to get to the rim. Great in transition. 

Weaknesses: Can elevate his offensive game by developing his game in the half court with a consistent perimeter shot and improving his ability to get by his defender. </td>
		</tr>
		<tr>
			<td>Isaiah Knox</td>
			<td>2020
Kempsville High School</td>
			<td>Strengths: Competitive, unselfish player who makes the hustle plays. Great on ball defender and makes it difficult for his opponent to get by him. 

Weaknesses: Can develop his offensive skill set further by working on dribble moves and creative finishes around the basket. </td>
		</tr>
		<tr>
			<td>Deandre Bradshaw</td>
			<td>2020
Dr. Henry A. Wise</td>
			<td>Strengths: True competitor who really digs down on defense to keep his man out of the lane. Finds the open man very well. 

Weaknesses: Can become a more versatile scorer by developing a consistent outside shot. </td>
		</tr>
		<tr>
			<td>Montanna Cooke</td>
			<td>2017
Surrattsville High School</td>
			<td>Strengths: Unselfish player with good size. Handles the ball well and can find the open man. 

Weaknesses: Needs to work on finishing around the basket in order to bring his game to the next level. </td>
		</tr>
		<tr>
			<td>Terrence Gibbons</td>
			<td>2018
Henry Wise</td>
			<td>Strengths: Physical player with the ability to finish both inside and outside. Can hit the 15 footer, drive from the perimeter, and finish in the post on smaller defenders. 

Weaknesses: Can elevate his offensive game by developing a consistent jump shot and mid range game. Can also develop his ball handling skills. </td>
		</tr>
		<tr>
			<td>Keith Thomas</td>
			<td>2019
Wise</td>
			<td>Strengths: Great penetrating guard with a lot of potential. Good passer who likes to get his teammates involved. Always in the right spot on defense. 

Weaknesses: Can elevate his defensive game by working on boxing his defender out and grabbing the rebound. </td>
		</tr>
		<tr>
			<td>Steven Lee</td>
			<td>2017
North Point High School</td>
			<td>Strengths: High energy player to go along with his great communication skills on the defensive end. Hustle player and very coachable. 

Weaknesses: Will become more of an offensive threat by improving his ball handling skills. </td>
		</tr>
		<tr>
			<td>Donovan Steward</td>
			<td>2017
St. Mary's Ryken</td>
			<td>Strengths: Long, bigger guard with nice shooting touch. Very active without the ball by constantly cutting off the ball and making himself available for an easy shot. 

Weaknesses: Will improve his overall game by improving his quickness. </td>
		</tr>
		<tr>
			<td>Sean Mason</td>
			<td>2019
Lackey High School</td>
			<td>Strengths: Long guard with a good shooting touch. Good rebounder and gets into the passing lanes for steals and deflections. 

Weaknesses: Needs to be more aggressive on the offensive end by either driving to the basket or looking for his shot. This will make him harder to guard. </td>
		</tr>
		<tr>
			<td>Gabriel Arnold</td>
			<td>2019
Wise</td>
			<td>Strengths: Versatile offensive player with the ability to pass the ball well and get to the basket. Runs the floor well in transition. 

Weaknesses: Needs to focus his defensive positioning in order to see both his man and the ball. </td>
		</tr>
		<tr>
			<td>Will Brzezinski</td>
			<td>2018
Langley High School</td>
			<td>Strengths: Great communicator on defense. Good screener and rolls to the basket hard. Good at finishing at the rim. Strong rebounder.

Weaknesses: Can bring his game to the next level by being more aggressive on the offensive end. </td>
		</tr>
		<tr>
			<td>Juan Infantes II</td>
			<td>2019
Stonewall Jackson High School</td>
			<td>Strengths: Very quick guard with a good mid range shot. Great on the ball defender to go along with his strong communication skills. Gets his teammates involved. 

Weaknesses: Needs to work on developing a consistent jump shot which will make him a more versatile offensive player. </td>
		</tr>
		<tr>
			<td>Zakei Newsome</td>
			<td>2017
Dr. Henry A. Wise</td>
			<td>Strengths: Quick, unselfish player who likes to get his teammates involved. Good at getting to the basket and is very quick in the open court. 

Weaknesses: Can elevate his offensive game by working on his finishes around the basket. </td>
		</tr>
		<tr>
			<td>Dominick Hogans</td>
			<td>2018
Woodrow Wilson High School</td>
			<td>Strengths: Aggressive on ball defender with the ability to drive to the basket. Very physical on his drives. 

Weaknesses: Can improve his defensive game by working on his off the ball and help defense. </td>
		</tr>
		<tr>
			<td>Tyler Bowens</td>
			<td>2018
Largo</td>
			<td>Strengths: Great driver and a real threat in transition. Excellent at finding his teammates off of dribble penetration. 

Weaknesses: Needs to improve his change of direction while in traffic in order to get by his defenders. </td>
		</tr>
		<tr>
			<td>Nayshon Kane</td>
			<td>2018
Largo</td>
			<td>Strengths: Creative scorer with deep range on his jump shot. Can score from anywhere on the floor. 

Weaknesses: Will become a more versatile scorer by developing his left hand drive. </td>
		</tr>
		<tr>
			<td>Sean Nickel</td>
			<td>2018
WT Woodson</td>
			<td>Strengths: Skilled, smart player with great change of speed and direction moves. Great passing skills to find teammates for open shots. 

Weaknesses: Can improve his game by getting stronger in order to drive to the basket. </td>
		</tr>
		<tr>
			<td>Ryan Robinson</td>
			<td>2018
George C. Marshall High School</td>
			<td>Strengths: Unselfish player who finds his teammates for easy baskets. Has a great jump shot. 

Weaknesses: Can improve his defensive game by working on his lateral speed to keep his opponent in front of him. </td>
		</tr>
		<tr>
			<td>Robert Beran</td>
			<td>2018
John Randolph Tucker</td>
			<td>Strengths: Long, active rebounder on the glass. Has excellent touch with his perimeter shot. 

Weaknesses: Needs to get stronger in order to finish through contact off of offensive rebounds. </td>
		</tr>
		<tr>
			<td>Kevin Ayissi Etoh</td>
			<td>2019
Thomas S. Wootton HS</td>
			<td>Strengths: Athletic player with the ability to slash to the rim and finish through contact. Very active without the ball. 

Weaknesses: Will become a more versatile scorer by improving his shooting ability and range. </td>
		</tr>
		<tr>
			<td>Justin Faison</td>
			<td>2017
Dr. Henry A. Wisel</td>
			<td>Strengths: Very aggressive point guard who attacks the rim to score. Has a solid pull up jump shot and finishes strong through contact. 

Weaknesses: Needs to focus on improving his decision making skills in order to find the open man and reduce turnovers.  </td>
		</tr>
		<tr>
			<td>Jack Cruise</td>
			<td>2019
WT Woodson</td>
			<td>Strengths: Scrappy forward who is always willing to get on the floor to make the hustle plays. Has shown a smooth shot. 

Weaknesses: Will improve his offensive game by developing a more consistent shot. </td>
		</tr>
		<tr>
			<td>Omari Watson</td>
			<td>2017
Loyola Blakefield High School</td>
			<td>Strengths: Great penetrate and kick guard. Very good at changing speeds to get by his defender and has a solid jump shot. 

Weaknesses: Can elevate his offensive game by improving his shooting ability and ball handling skills. </td>
		</tr>
		<tr>
			<td>Calvin Soloman</td>
			<td>2018
Flint Hill</td>
			<td>Strengths: Quick, high energy point guard who is very effective in transition. Pushes the ball to find the open teammate. 

Weaknesses: Can improve his offensive game by slowing the ball down at times and working on his court vision. </td>
		</tr>
		<tr>
			<td>Josh Kline</td>
			<td>2018
Central Valley</td>
			<td>Strengths: Aggressive forward with strong finishes at the rim. Has shown a solid mid range jumper. 

Weaknesses: Needs to work on his rebounding ability as he can be a force on the glass. </td>
		</tr>
		<tr>
			<td>Jeron Carter</td>
			<td>2019
North Point High School</td>
			<td>Strengths: Lefty point guard who does a great job pushing the tempo and using his change of speed to create opportunities. Utilizes ball fakes well to find the open player. 

Weaknesses: Can elevate his offensive game by developing a consistent perimeter shot. </td>
		</tr>
		<tr>
			<td>Mekayle Powell</td>
			<td>2020
North Point High School</td>
			<td>Strengths: Quick point guard with great dribbling skills to create for others. Scrappy, hustle player. 

Weaknesses: Needs to work on developing his shot in order to make defenders play him on the perimeter. </td>
		</tr>
		<tr>
			<td>Jaylen Cole-Williams</td>
			<td>2019
South Lakes High School</td>
			<td>Strengths: Active guard with a great catch and shoot shot. Also willing to pass the ball to open teammates. 

Weaknesses: Can become a more versatile scorer by working on finishing around the basket. </td>
		</tr>
		<tr>
			<td>Deontay Compton</td>
			<td>2017
Virginia Academy</td>
			<td>Strengths: Slasher into the paint and a good rebounder in traffic. Can finish in transition and can shoot the jump shot. 

Weaknesses: Needs to work on his off-hand in order to keep defenders honest. </td>
		</tr>
		<tr>
			<td>Desmond Jones</td>
			<td>2018
Stonewall Jackson High School</td>
			<td>Strengths: Long, athletic player who is always active on the offensive end. Solid on ball defender and has a nice set shot. 

Weaknesses: Can become a more versatile offensive player by improving his ball handling skills. </td>
		</tr>
		<tr>
			<td>Jared Young</td>
			<td>2018
Episcopal High School</td>
			<td>Strengths: Smart, crafty player in transition. Has good shooting form and likes to run the floor. 

Weaknesses: Should focus on improving his ball handling skills in order to elevate his offensive game. </td>
		</tr>
		<tr>
			<td>Douglas Webb</td>
			<td>2018
Regents</td>
			<td>Strengths: Long forward who runs the floor very well. Finishes well at the rim. 

Weaknesses: Can elevate his offensive game by improving his court awareness. </td>
		</tr>
		<tr>
			<td>Alexander Behzadi</td>
			<td>2018
Clarksburg High School</td>
			<td>Strengths: Shooter with impressive range. Also has the ability to put the ball on the floor and shoot the pull up jump shot or get to the rim. 

Weaknesses: Needs to get stronger in order to finish through contact. </td>
		</tr>
		<tr>
			<td>Kenneth James II</td>
			<td>2017
McDonough High School</td>
			<td>Strengths: Active guard with a great catch and shoot shot. Aggressive defender and makes the hustle plays. Moves well without the ball. 

Weaknesses: Can elevate his offensive game by developing his ball handling skills. </td>
		</tr>
		<tr>
			<td>Quentin James</td>
			<td>2019
Lake Braddock</td>
			<td>Strengths: Crafty, quick lefty guard with a solid mid range jump shot. Not afraid to shoot the ball and moves well without the ball. 

Weaknesses: Needs to improve his off hand in order to keep defenders honest. Can also work on his passing skills. </td>
		</tr>
		<tr>
			<td>Eric Rowland I</td>
			<td>2020
Lackey High School</td>
			<td>Strengths: Point guard with good ball handling skills in both the open court and under pressure. Able to get by his defender with change of speed. 

Weaknesses: Can work on his drives to the basket to round out his game. </td>
		</tr>
		<tr>
			<td>Milton Matthews</td>
			<td>2020
Wise</td>
			<td>Strengths: Lefty guard with  solid penetration skills. Had a nice set jump shot and does not force any passes or shots. 

Weaknesses: Can bring his game to the next level by being more aggressive on both offense and defense. </td>
		</tr>
		<tr>
			<td>Steven Gilbert</td>
			<td>2018
Harrisonburg High School</td>
			<td>Strengths: Quick point guard with great distribution skills. Pushes the tempo and likes to find the open man in transition. Solid spot up jump shot. 

Weaknesses: Can elevate his offensive game by developing his off hand and working on getting to the basket. </td>
		</tr>
	</tbody>
</table>
