<table>
	<thead>
		<tr>
			<th>Headshot</th>
			<th>Player</th>
			<th>Grade</th>
			<th>Report</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/benjamin-dang-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64239" /></td>
			<td>Dang, Ben</td>
			<td>10</td>
			<td>Ben is a long lock down defender at his position. He finds holes in the defense and is a great spot up shooter.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Hudson, Keyshawn</td>
			<td>12</td>
			<td>Keyshawn does an excellent job getting to the rim. His ability to drive hard opens up shots for his teammates. His on ball defense makes it difficult for opposing guards to get into the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/tyler-lloyd-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64349" /></td>
			<td>Lloyd, Tyler</td>
			<td>12</td>
			<td>Tyler has great length which he uses to his advantage to get to the rim. His length allows him to shoot over defenders and creates matchup issues at his position.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/daniel-malinowski-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64256" /></td>
			<td>Malinowski, Daniel</td>
			<td>10</td>
			<td>Daniel has great fundamentals on both the offensive and defensive end of the court. He is unselfish on offense setting screens for his teammates and uses his size to box out.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/darius-dangerfield-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64257" /></td>
			<td>Dangerfield, Darius</td>
			<td>11</td>
			<td>Darius has a great motor and tremendous ball handling, which opens up scoring opportunities for his teammates. He gets to the rim well and finishes through contact. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/musah-sacker-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64323" /></td>
			<td>Sakor, Musah</td>
			<td>12</td>
			<td>Musah is a long, athletic player with a great motor and upside. His ability to run the floor and rebound on both ends makes him a coaches dream.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Redman, Derrick</td>
			<td>11</td>
			<td>Derrick is an aggressive athlete who is always one of the hardest workers on the floor. His speed and quickness allows him to get to the rim when he chooses and finishes through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/arndold-henderson-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64235" /></td>
			<td>Henderson, Arnold</td>
			<td>9</td>
			<td>Arnold is a great team player who swings the ball well and keeps the offense moving. His basketball IQ is advanced for his age.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/benjamin-ayanian-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64237" /></td>
			<td>Ayanian, Benjamin</td>
			<td>10</td>
			<td>Benjamin is a great spot up shooter who can also shoot off the dribble. He is a smart defender and makes the right choices on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/shane-paul-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64343" /></td>
			<td>Paul, Shane</td>
			<td>9</td>
			<td>Shane does a good job spotting up on the arc and his range extends to the 3 point line. He is very active on offense making strong cuts to the hoop.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/cole-minetree-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64252" /></td>
			<td>Minetree, Cole</td>
			<td>9</td>
			<td>Cole is a very active big who uses his size to his advantage on the offensive end. His strong post moves and high basketball IQ make him a difficult matchup for defenders</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/bryson-dolly-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64241" /></td>
			<td>Dolly, Bryson</td>
			<td>11</td>
			<td>Bryson is a long, athletic wing who makes strong moves to the rim. His movement on offense creates both shots for himself and his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/david-turner-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64261" /></td>
			<td>Turner Jr, David</td>
			<td>12</td>
			<td>David is a consistent knock down shooter who can knock down shots from anywhere on the court. His on ball defense makes it challenging for any offensive player to get to the rim.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Mondrey, Jonathan</td>
			<td>9</td>
			<td>Jonathan moves well without the ball and creates openings for his teammates. His ability to create turnovers on defense allows his team to pressure in both the full and half court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/anthony-cooper-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64233" /></td>
			<td>Cooper, Anthony</td>
			<td>10</td>
			<td>Anthony has tremendous court vision and puts his offensive focus on getting his teammates open shots. His ball handeling and confidence makes him a strong presence as a floor general.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jordan-dykes-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64293" /></td>
			<td>Dykes, Jordan</td>
			<td>10</td>
			<td>Jordan does a great job of getting into the lane and creating for his teammates. His mid-range floater is very consistent and the strongest part of his offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/victor-littles-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64350" /></td>
			<td>Littles, Victor</td>
			<td>11</td>
			<td>Victor uses his large frame to his advantage on both the offense and defense end. He has the ability to pull down double digit rebounds and does a good job of boxing out.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/marlon-white-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64304" /></td>
			<td>White, Marlon</td>
			<td>12</td>
			<td>Marlon is a lock down on ball defender. He is very strong and confident with the ball in his hand. His ability to get in the lane and smart decision making creates open shots for his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/chris-martin-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64250" /></td>
			<td>Martin, Chris</td>
			<td>10</td>
			<td>Chris is a great rebounder for his size and position. His athleticism and quickness allows him to get into the land and attack the hoop when he chooses.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Amonoo, Zedekiah</td>
			<td>12</td>
			<td>Zedekiah is a long defender who is always in the right position. His athleticism and high basketball IQ make him a tough match up on both ends of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/raemond-thompson-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64333" /></td>
			<td>Thompson, Raemond</td>
			<td>10</td>
			<td>Raemond is a very smart player who sees the floor well. His decision making and ability to execute plays make him a great teammate and floor general.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jordan-bell-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64292" /></td>
			<td>Bell, Jordan</td>
			<td>11</td>
			<td>Jordan has a great motor and throws his body at every rebound and loose ball. He uses his athleticism to his advantage on both the offensive and defensive end.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/bruce-harris-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64240" /></td>
			<td>Harris, Bruce</td>
			<td>12</td>
			<td>Bruce is an incredibly quick guard who pushes the ball well in transition. He is strong at the rim and finishes well through contact. His ball handling and passing make him a complete guard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/andrew-Johnson-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64231" /></td>
			<td>Johnson, Andrew</td>
			<td>10</td>
			<td>Andrew has a great knowledge and understanding of where to be on defense. He handles bal pressure very well and makes the right decisions on the offensive end.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/dean-mazlish-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64263" /></td>
			<td>Mazlish, Dean</td>
			<td>9</td>
			<td>Dean is a smart defender with quick hands. He positions himself well on defense to make an impact and slow down offensive players. Dean has the ability to hit shots when spotting up.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/michael-bell-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64320" /></td>
			<td>Bell, Michael</td>
			<td>12</td>
			<td>Michael is a tremendous catch and shoot scorer. He has a great feel for what surrounds him on the floor and where to make the right pass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/rasheed-brown-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64335" /></td>
			<td>Brown, Rasheed</td>
			<td>10</td>
			<td>Rasheed is a talented scorer who has an arsenal of moves to score at will. His length and athleticism make him a great on ball defender. He works hard on every possesion on both ends of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/taron-hardy-leach-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64347" /></td>
			<td>Hardy-Leach, Taron</td>
			<td>12</td>
			<td>Taron uses his size and frame to his advantage when going up for rebounds. The combination of his size and athleticism make him difficult for defenders to guard him in the post and on the perimeter.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/nick-blair-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64327" /></td>
			<td>Blair, Nick</td>
			<td>9</td>
			<td>Nick is a high flyer with huge upside and potential. His basketball wisdom is well beyond his years. He has a complete offensive skill set and is an excellent shooter off the dribble.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Dorsey, Ardie</td>
			<td>11</td>
			<td>Ardie is a smooth wing who can get to the basket and finishes strong. His defensive knowledge and athleticism allow him to guard multiple positions.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/anias-saunders-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64232" /></td>
			<td>Saunders, Anias</td>
			<td>11</td>
			<td>Anias has a strong commitment to his defensive game and goes hard after every rebound. He makes the right choices on the offensvie end and works on getting his teammates involved in every possession.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/demarr-mcrae-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64262" /></td>
			<td>McRae, De'Marr</td>
			<td>9</td>
			<td>De'Marr is a strong, physical guard who has excellent court vision and ability to get the ball to his teammates. His ability to knock down shots and get to the rim makes him a complete offensive player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/rex-dematteis-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64336" /></td>
			<td>DeMatteis, Rex</td>
			<td>9</td>
			<td>Rex is a great team player who has strong potential on the offensive end. His athleticism and basketball IQ make him a solid defender. Rex is a good spot shooter with a strong handle.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Godfrey, Esau</td>
			<td>9</td>
			<td>Esau is hard playing guard who has a bright future. The combination of his size and quickness makes it difficult for opposing guards to get past him. He has an excellent commitment to the defensive part of his game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/stephan-hamilton-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64344" /></td>
			<td>Hamilton, Stephan</td>
			<td>11</td>
			<td>Stephan is a leader on the floor and has a great sense of where his teammates are at all times. His ability to penetrate the defense allows him to get to the rim and score when he chooses.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/dimitri-hayes-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64268" /></td>
			<td>Hayes, Dimtri</td>
			<td>9</td>
			<td>Dimtri is a quick, young guard who knows how to score on offense. His ability to handle ball pressure and make strong passes to his teammates points to a bright future at his position. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/christopher-ozgo-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64251" /></td>
			<td>Ozgo, Christopher</td>
			<td>10</td>
			<td>Christopher is a very fundamentally sound guard who moves the ball well on offense. He uses his high basketball IQ to make an impact on offense and be in the right position on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/chauncey-smith-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64249" /></td>
			<td>Smith, Chauncey</td>
			<td>10</td>
			<td>Chauncey is a long guard who pressures the ball handler at all times. He is a great slasher to the rim who can also spot up and hit shots. His athleticism allows him to make multiple moves on the offensive end.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Siaca Bay, Per Ankh</td>
			<td>9</td>
			<td>Per Ankh is a tremendous passer for his size and age. He has a great defensive IQ and is always in the right position. He has a strong mid-range jumper and can score off the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/vincent-lee-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64351" /></td>
			<td>Lee, Vincent</td>
			<td>10</td>
			<td>Vincent is a tremendous rebounder who attacks the glass hard on both offense and defense. His ball handling and mid-range jump shot are the strongest part of his offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/icah-johnson-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64281" /></td>
			<td>Johnson, Micah</td>
			<td>9</td>
			<td>Micah is a gritty defender who causes havoc for opposing offenses. His strong ball handling and court vision created open shots and lanes for his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/charlie-weber-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64248" /></td>
			<td>Weber, Charlie</td>
			<td>9</td>
			<td>Charlie is an explosive, young player who plays extremely hard on both ends of the floor. He has good range on his jump shot and can use his body to his advantage to get to the rim. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/zeikei-newsome-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64355" /></td>
			<td>Newsome, Zeikei</td>
			<td>11</td>
			<td>Zeikei is a creator on offense who makes strong, clean passes to his teammates. He is an athletic guard who has tremendous defensive awareness and IQ.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/cameron-marinnie-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64244" /></td>
			<td>Marinnie, Cameron</td>
			<td>12</td>
			<td>Cameron showed great hustle throughout the drills. He is a great catch and shoot player on offense. Cameron made very smart decisions on both offense and defense.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Carter, Derek</td>
			<td>11</td>
			<td>Derek is a great transition guard who moves the ball well and finds open teammates. The guard was a lock down defender all day and made it difficult for opposing guards to set up their offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/drew-green-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64272" /></td>
			<td>Green, Drew</td>
			<td>9</td>
			<td>Drew is an athletic, explosive player with a strong handle of the ball. His defensive presence and awareness were on display all day. Drew runs the floor well and got things moving in transition for his team. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/quinn-boyd-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64332" /></td>
			<td>Boyd, Quinn</td>
			<td>11</td>
			<td>Quinn pushes the ball well in transition and makes smart decisions on offense. His excellent spot up shooting extends out to the 3 point line. His strong ball handling allowed him to beat pressure from opposing defenses.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/lashawn-rodgers-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64306" /></td>
			<td>Rodgers Jr, LaShawn</td>
			<td>12</td>
			<td>LaShawn has an advanced set of offensive skills that allow him to score in many different ways. This allowed him to create for his teammates as well as create his own shot. He makes strong, hard passes to the open man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/ryan-rachic-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64340" /></td>
			<td>Rachic, Ryan</td>
			<td>9</td>
			<td>Ryan did a good job finding openings in the defense and looking for his shot. His hustle and athleticism made him impactful on both the offensive and defensive end.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/ronald-moore-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64337" /></td>
			<td>Moore, Ronald</td>
			<td>11</td>
			<td>Ronald was able to create offensive opportunities for himself and his teammates all day. His defense and rebounding are the strongest part of his game. Ronald has a great motor and plays without a lot of energy and passion.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/ryan-albert-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64338" /></td>
			<td>Albert, Ryan</td>
			<td>12</td>
			<td>Ryan is a big body whose defensive presence was on display. He blocked shots and rebounded the ball well. Ryan uses his size to make strong moves to the basket and finish through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/ryan-tillery-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64341" /></td>
			<td>Tillery, Ryan</td>
			<td>11</td>
			<td>Ryan sees the floor well and pushes the ball in transition offense. His quickness allowed him to keep opposing players in front of him on the defensive end. He was able to find open teammates and create scoring opportunities for his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/maurice-carroll-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64317" /></td>
			<td>Carroll, Maurice</td>
			<td>11</td>
			<td>Maurice used his strong frame to stop opposing players as they drove to the rim. He has the potential to be a dominant post scorer. His activity on offense created open shots for himself and teammates.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Smedley, Patrick</td>
			<td>9</td>
			<td>Patrick is a great catch and shoot wing who finds openings in the defense. His efficiency on offense led to scoring opportunities for his teammates. Patrick used his length to shut down opposing players on defense.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Stallion, Vincent</td>
			<td>12</td>
			<td>Vincent is a very talented wing who can score in a variety of ways. He has range out to the 3 point line and can break down his defender off the dribble. His athleticism was on display throughout the day, making explosive plalys on both ends of the floor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/marshawn-hall-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64315" /></td>
			<td>Hall, Marshawn</td>
			<td>11</td>
			<td>Marshawn has a strong handle and is always looking for open teammates. His willingness to share the ball and court vision makes him a creator on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/alberto-valera-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64226" /></td>
			<td>Valera, Alberto</td>
			<td>12</td>
			<td>Alberto is a strong guard who can handle the ball and break down defenders. He handles the ball well and gets others involved. His quickness and strength makes it hard to get past him on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/marquis-wilkerson-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64314" /></td>
			<td>Wilkerson, Marquis</td>
			<td>11</td>
			<td>Marquis is a long, athletic wing who attacks the rim well. He has a consistent jump shot that extends out to the 3 point line. His active hands on defense created turnovers throughout the day. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/ian-krishnan-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64280" /></td>
			<td>Krishnan, Ian</td>
			<td>11</td>
			<td>Ian is a tough athletic, guard who is always pressuring the opposing ball handler. He sets his feet well when shooting and can knock down 3 point jumpers. Ian is very active on offense and finds openings in the defense. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>White, Daesani</td>
			<td>8</td>
			<td>Daesani is an unselfish guard who looks to find his open teammates on offense. He has a very strong left hand and can get by defenders. He is an incredibly hard worker on both ends of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/mylon-richardson-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64325" /></td>
			<td>Richardson, Mylon</td>
			<td>11</td>
			<td>Mylon is a strong guard who uses his physicality to finish at the rim. He goes after every rebound at both ends of the floor. He uses his hard working approach to make plays happen at both ends of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/kadeem-belfan-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64299" /></td>
			<td>Belfon, Kadeem</td>
			<td>12</td>
			<td>Nothing written????????</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/rashad-garrison-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64334" /></td>
			<td>Garrison, Rashad</td>
			<td>10</td>
			<td>Rashad is a lock down defender who created turnovers all day. He uses his effort to go after every rebound and create second chance scoring opportunities on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jason-canestrino-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64286" /></td>
			<td>Canestrino, Jason</td>
			<td>10</td>
			<td>Jason had a great day shooting from the perimeter and scoring in a variety of ways. He made all the right passes and made smart decisions on both ends of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/ryan-costin-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64339" /></td>
			<td>Costin, Ryan</td>
			<td>11</td>
			<td>Ryan did a tremendous job slashing to the rim and getting to the basket whenever he wanted too. He used his athleticism to his advantage when running the floor and create issues on the defensive end for opposing players.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/ephraim-reed-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64274" /></td>
			<td>Reed, Ephraim</td>
			<td>9</td>
			<td>Ephraim has great court vision and pushed the ball well in transition. He does an incredible job handling pressure from opposing defenders and kept the offense moving creating shots for his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/devin-adams-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64265" /></td>
			<td>Adams, Devin</td>
			<td>11</td>
			<td>Devin is an unselfish guard who is always making the smart play. His quickness allowed him to break down his defenders and find holes in the defense. He did a great job keeping his man in front of him on defense and not allowing him to get to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/terrence-gunthrope-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64348" /></td>
			<td>Gunthrope Jr, Terrence</td>
			<td>10</td>
			<td>Terrence is a long, athletic wing who looks to attack the rim. He is a solid defender who rebounds well at both ends of the floor. His size and athleticism allow him to guard multiple positions. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/myles-richardson-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64324" /></td>
			<td>Richardson, Myles</td>
			<td>9</td>
			<td>Myles is an athletic guard who controls the offense and gets his teammates involved. He has a strong pull up jump shot and can get to the rim. His is very fundamentally sound and has a variety of skills.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/dominic-day-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64271" /></td>
			<td>Day, Dominic</td>
			<td>12</td>
			<td>Dominic was able to be more physical than his defender and use that to his advantage to get in the paint and attack the rim. He has a smooth mid range jumper and does a good job of getting his feet set.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/matthew-urbach-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64316" /></td>
			<td>Urbach, Matthew</td>
			<td>10</td>
			<td>Matthew is an unselfish, ball handler with a high basketball IQ. He was always one step ahead of his defender. His ability to create his own shot complimented his willingness to find the open teammate. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/michael-christmas-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64321" /></td>
			<td>Christmas, Michael</td>
			<td>9</td>
			<td>Michael showed the ability to score the basketball in a variety of ways. He has a high upside and showed a willingness to adjust his game to make improvements. His length and athleticism allowed him to rebound the ball and slow down his man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/josh-campbell-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64295" /></td>
			<td>Cambell, Josh</td>
			<td>9</td>
			<td>Josh is a lights out shooter who understands the right way to play the game. He doesn't force his shot and makes smart decisions when the ball is in his hands. Josh created match up issues for his defender with his ability to step away from the basket and consistently make shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/xavier-joyner-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64354" /></td>
			<td>Joyner, Xavier</td>
			<td>9</td>
			<td>Xavier is an athletic guard who has deep range and a smooth shot. He is skilled enough to go by his defender and finish at the rim. He plays hard on defense and aggressively puts pressure on his man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/dj-hopkins-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64270" /></td>
			<td>Hopkins, DJ</td>
			<td>11</td>
			<td>DJ is a long wing who is active at both ends of the floor. He does a good job rebounding and uses his height to stop opposing players when they attack the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/kobe-colston-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64302" /></td>
			<td>Colston, Kobe</td>
			<td>11</td>
			<td>Kobe is a crafty defender who can break down his defender one on one. His skill set with the ball in his hands creates open shots for his teammates as well as himself. He consistently knocked down jumpers and can stretch out to the 3 point line.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Harris, Anthony</td>
			<td>9</td>
			<td>Anthony is a very talented guard who can get to the rim and knock down outside shots. He is an excellcent on ball defender and plays solid help defense. Anthony has the potential to take over a game on either end of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/david-milton-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64260" /></td>
			<td>Milton, David</td>
			<td>12</td>
			<td>David is a long wing with a solid foundation of skills. He runs the floor well in transition and hustles back on defense. David extends his offensive game to the 3 point line and can knock down outside shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/william-mulquin-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64353" /></td>
			<td>Mulquin, William</td>
			<td>10</td>
			<td>William is a skilled wing that plays with a high basketball IQ. He has range out to the 3 point line and is very good in transition. William has a quick first step and can get to the rim when he chooses.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/malik-winston-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64307" /></td>
			<td>Winston, Malik</td>
			<td>13</td>
			<td>Malik is a very solid wing who always seems to be in the right spot on both offense and defense. He has range out to the 3 point line and has strong post moves. He rebounds the ball well and has active hands on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/stephen-armstrong-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64345" /></td>
			<td>Armstrong, Stephen</td>
			<td>10</td>
			<td>Stephan is a long, athletic wing who can knock down outside shots. He uses his height to create match up issues for defenders. Stephan can guard multiple positions and does a great job of slowing down penetration.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/drew-johnson-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64273" /></td>
			<td>Johnson, Drew</td>
			<td>11</td>
			<td>Drew is a tremendous shooter who has a great feel for the game. His activity and motor was on display all day and he doesn't take a play off. He consistently made smart decisions and the correct play.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jessiya-villa-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64290" /></td>
			<td>Villa, Jessiya</td>
			<td>11</td>
			<td>Jessiya is a pass first guard who is constantly looking to get the rest of his team involved. His activity on defense caused chaos for opposing offensive players. He has a great attitude on the court and understanding of the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jackson-watkins-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64283" /></td>
			<td>Watkins, Jackson</td>
			<td>9</td>
			<td>Jackson contributed on every possesion and was very active off the ball. He is able to knock down shots anywhere on the court and shoot off the dribble. Jackson has a great basketball IQ and understanding of the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/corenell-hanna-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64254" /></td>
			<td>Hanna, Corenell</td>
			<td>10</td>
			<td>Corenell is a tremendous rebounder and very active on the offensive glass. He uses his length to his advantage on both ends of the floor. His athleticism allows him to guard multiple positions on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/lamar-lee-kane-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64303" /></td>
			<td>Lee-Kane, Lamar</td>
			<td>12</td>
			<td>Lamar is a quick, pass first guard who does a great job controlling the offense. He was able to hit open shots all day and create his own looks. Lamar does a good job staying in front of his man and not allowing him to get in the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/nick-saied-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64328" /></td>
			<td>Saied, Nick</td>
			<td>11</td>
			<td>Nick is a smart guard who makes the right plays and gets his teammates involved. He is a floor general and was a great team leader on the court. He has the ability to hit open shots and doesn't force any decisions on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/cameron-sullivan-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64246" /></td>
			<td>Sullivan, Cameron</td>
			<td>11</td>
			<td>Cameron is a great facilitator who plays the game the right way and keeps his teammates involved. He showed the potential to be a strong leader and contribute where needed. He plays sound defense and keeps his man in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/ethan-jones-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64276" /></td>
			<td>Jones, Ethan</td>
			<td>9</td>
			<td>Ethan is a young guard with a high upside. His athleticism allowed him to be a lock down defender and shut his man down. He was able to get to the rim and hit open jump shots on the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/devin-sims-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64267" /></td>
			<td>Sims, Devin</td>
			<td>10</td>
			<td>Devin positions himself well at both ends of the floor for success. He slashes to the basket hard and hits open shots. He demonstrated great athleticism and ability to command the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/cameron-smith-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64245" /></td>
			<td>Smith, Cameron</td>
			<td>12</td>
			<td>Cameron was very active on the offensive end and had strong moves in the post. He goes after every rebound with intensity and creates second chance opportunities for his teammates.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Price, Jeremiah</td>
			<td>12</td>
			<td>Jeremiah was all over the boards today and collected every rebound that came near him. He has an extremely high motor and passion for the game and willingness to learn and develop. His size creates opportunities for him on both ends of the floor.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Clark, Reece</td>
			<td>10</td>
			<td>Reece showed a willingness to get his teammates involved and made the right decisions. He ran the floor incredibly well and was at his best in transition getting to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/kendall-mcgill-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64301" /></td>
			<td>McGill, Kendall</td>
			<td>11</td>
			<td>Kendall is a versatile athlete who can score in a variety of ways. He has a complete offensive skill set and looks for his shot. His on ball defense and rebounding makes him an all around player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/maurice-gentry-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64318" /></td>
			<td>Gentry, Maurice</td>
			<td>12</td>
			<td>Maurice consistently found open teammates and made strong passes. He showed an ability to break down his defender and create holes for his teammates. Maurice was able to knock down open shots and did a good job of squaring his body to the hoop.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/george-mawanda-kalema-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64278" /></td>
			<td>Mawanda-Kalema, George</td>
			<td>12</td>
			<td>George was a menace on the defensive end of the court. He rebounds the ball incredibly well for his position and used his speed to get transition offense started. George is a complete player who impacts both ends of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/alexander-behzadi-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64228" /></td>
			<td>Behzadi, Alexander</td>
			<td>10</td>
			<td>Alexander is a lights out shooter from anywhere on the court. He has a great feel for the game and works hard to get open shots. He handled pressure well and made strong passes to his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/alex-huff-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64227" /></td>
			<td>Huff, Alex</td>
			<td>11</td>
			<td>Alex is a tremendous on ball defender and forced turnovers all day. He did a great job finishing plays by going after the rebound and boxing out. His ball handling allowed him to get past defenders and find open lanes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/cameron-galic-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64243" /></td>
			<td>Galic, Cameron</td>
			<td>11</td>
			<td>Cameron has great footwork for a big man and controls his body well in the post. He was active all afternoon on rebounds and attacked the glass hard. His high basketball IQ made him one of the smarter players on the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/benjamin-carter-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64238" /></td>
			<td>Carter Jr, Benjamin</td>
			<td>10</td>
			<td>Benjamin is an aggressive guard who looks to create his own scoring opportunities. He can knock down outside shots as well as get to the basket. Benjamin did a good job all day keeping his man in front of him and defending the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/marlon-brown-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64312" /></td>
			<td>Brown, Marlon</td>
			<td>11</td>
			<td>Marlon is a strong guard who attacks the rim hard and finishes through contact. He has good defensive awareness and defends the ball well. He slides his feet and has active hands on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/michael-winterburn-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64322" /></td>
			<td>Winterburn, Michael</td>
			<td>11</td>
			<td>Michael is an excellent passer and unselfishly is always looking for his teammates. He has a high basketball IQ and does the little things to give his team an advantage.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/merwan-mourtaj-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64305" /></td>
			<td>Mourtaj, Merwan</td>
			<td>11</td>
			<td>Merwan is a strong wing who has the ability to face up and attack his defender. He is a very good passer out of the post and has great court vision. On defense he moves his feet well and has a strong base on boxing out.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/marcus-hamilton-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64310" /></td>
			<td>Hamilton, Marcus</td>
			<td>10</td>
			<td>Marcus is an athletic guard who is quick getting out in transition and fills the lanes well. He consistently knocked down outside shots all afternoon and was able to get by his defender off the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jairus-carroll-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64284" /></td>
			<td>Carroll, Jairus</td>
			<td>11</td>
			<td>Jairus is a tough match up for any defender. His size and athleticism allows him to get to the rim and post up smaller defenders. He is quick in transition and runs the floor well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jack-mulquin-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64282" /></td>
			<td>Mulquin, Jack</td>
			<td>12</td>
			<td>Jack has a gret passion for the game and never takes a play off. He is active on the glass and does a good job boxing out opponents. His strength lies in his ability to get his teammates involved and keeps the ball moving.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/alphonso-barney-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64229" /></td>
			<td>Barney, Alphonso</td>
			<td>10</td>
			<td>Alphonso has a very high ceiling and possesses all the tools to be an impactful player. He was very good in transition and was dominant in the half court offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/james-taylor-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64285" /></td>
			<td>Taylor Jr, James</td>
			<td>11</td>
			<td>James has the ball on a string and is a great facilitator on the offensive end of the court. He is a quick guard who looks to get to the rim and create open shots for his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/cameron-wayt-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64247" /></td>
			<td>Wayt, Cameron</td>
			<td>9</td>
			<td>Cameron is a tremendous competitor and is willing to sacrifice his body to make the right play. He did a great job all day getting his teammates involved. His high basketball IQ always had him in the right position on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/gary-briddle-300x179.jpg" alt="" width="300" height="179" class="aligncenter size-medium wp-image-64277" /></td>
			<td>Briddle, Gary</td>
			<td>11</td>
			<td>Gary was one of the more active defenders and caused havoc for his opponenets all afternoon. He never takes a play off on defense and prides himself on shutting down his opponent.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jordan-johnson-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64294" /></td>
			<td>Johnson, Jordan</td>
			<td>12</td>
			<td>Jordan is very crafty around the rim and can finish in a variety of ways. He is a knockdown shooter on the perimeter and is strongest of the catch and shoot. He handles pressure well and keeps his composure on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/avery-kelsey-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64236" /></td>
			<td>Kelsey, Avery</td>
			<td>12</td>
			<td>Avery is at his best in transition and runs the floor well. He finishes hard at the rim and doesn't shy away from contact. His length caused issues for opponents on defense and kept them from getting into the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/eric-valentine-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64275" /></td>
			<td>Valentine, Eric</td>
			<td>12</td>
			<td>Eric uses his size to his advantage in the post and demands the ball. He sets hard screens and is willing to set up his teammates for open shots. He was one of the better rebounders on the day.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/calvin-james-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64242" /></td>
			<td>James, Calvin</td>
			<td>10</td>
			<td>Calvin's quick first step and unselfish nature allow him to get into the lane and create plays for his teammates. Calvin also posseses good athletcisim for his size and position and is capable of knocking down the jumper when left open.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/diven-wallington-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64269" /></td>
			<td>Wallington, Diven</td>
			<td>9</td>
			<td>Diven showed the ability to be a playmaker and did a good job all day of making the extra pass. The point guard is always making the right play and did show off some impressive range as well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/connor-reed-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64253" /></td>
			<td>Reed, Connor</td>
			<td>10</td>
			<td>Connor is a long athleic wing who has a versatile game. He showed his ability to finish at the rim as well as his 3 pt range. He also did a great job rebounding at both ends.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/will-brzezinski-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64352" /></td>
			<td>Brzezinski, Will </td>
			<td>10</td>
			<td>Will is an excellent teammate and made the types of plays that coaches love all day long. The way he ran the floor, rebounded, and hustled make Will someone you want on your team. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/steven-parker-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64346" /></td>
			<td>Parker, Steven </td>
			<td>10</td>
			<td>Steven used his quick first step to get into the lane all afternoon. He does a good job looking for his own shot as well as creating for his teammates. He is most confident with ball in his hand and doesn't allow pressure to fluster him.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Kelley, Jacob</td>
			<td>10</td>
			<td>Jacob has excellent range and is a very consistent shooter. He does not force shots and works hard to get open on offense. Jacob does not take possessions off on defense and uses his quickness to his advantage.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/andre-deocamp-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64230" /></td>
			<td>Deocampo, Andre</td>
			<td>11</td>
			<td>Andre is a crafty guard who is always looking for his open teammate. He made strong, smart passes all afternoon. Andre has a great motor and plays hard on both ends of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/david-campbell-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64259" /></td>
			<td>Campbell, David</td>
			<td>12</td>
			<td>David is a long, athletic player who finishes well around the rim. He makes plays with his hustle and creates extra scoring opportunities for his team. He goes hard after every rebound and was a solid defender throughout the day.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/marcellus-carroll-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64309" /></td>
			<td>Carroll, Marcellus</td>
			<td>10</td>
			<td>Marcellus is an incredible athlete who runs the floor well and attacks the rim hard. He is an active rebounder who rises above other players to collect the ball. Worked hard on defense to keep his man out of the lane.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/justen-anderson-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64296" /></td>
			<td>Anderson, Justen</td>
			<td>10</td>
			<td>Justen is very active without the ball. He has deep range and a consistent mid range jump shot. Justen was able to hit open shots all afternoon as well as create his own shot of the dribble.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Rourke, Kobe</td>
			<td>12</td>
			<td>Kobe is a big, strong player who finishes well around the rim. He got a ton of second chance points. His size combined with his motor should allow him to dominate on the floor and continue to create scoring opportunities.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/justin-tall-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64297" /></td>
			<td>Tall, Justin</td>
			<td>11</td>
			<td>Justin is always looking up court for the open teammate. He does a good job staying in front of the ball with active hands. He was able to hit shots when setting his feet and squaring up to the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jerell-barnes-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64288" /></td>
			<td>Barnes, Jerell</td>
			<td>12</td>
			<td>Jerell is a quick player who was able to get in the lane whenever he wanted too. He is creative when he gets around the rim. Jerell is a solid defender who had great defensive awareness.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jerome-saboy-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64289" /></td>
			<td>Saboy, Jerome</td>
			<td>11</td>
			<td>Jerome is a good all around player. He excels in transition getting to the basket. When he drives to the hoop he is always aware of where his teammates are and looks to get them an open shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/nehemiah-stewart-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64326" /></td>
			<td>Stewart, Nehemiah</td>
			<td>11</td>
			<td>Nehemiah is a strong, active player who will score around the rim. He has a consistent mid range shot from 8-12 feet. His strength is in his defense and ability to pull down rebounds.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/sean-herlihy-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64342" /></td>
			<td>Herlihy, Sean</td>
			<td>10</td>
			<td>Sean does a good job running the floor and getting back on defense. He sets solid screens and rolls hard to the rim. Sean does a good job using his body to create space and box out defenders to gather the rebound.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/dallas-marshall-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64255" /></td>
			<td>Marshall, Dallas</td>
			<td>12</td>
			<td>Dallas is an incredible competitor with an all around foundation in his skills. He is an excellent passer and hits his target. He knows how to position himself on defense so that he can make an impactful play.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Payne, Spencer</td>
			<td>10</td>
			<td>Spencer has great shooting form and knocked down open shots all afternoon. He is unselfish with the ball and looks for open teammates. His strong handle of the ball and high basketball IQ allows for the offense to develop.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/hakeem-everett-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64279" /></td>
			<td>Everett, Hakeem</td>
			<td>11</td>
			<td>Hakeem is a good shooter with a great stroke. He does a great job finding holes in the defense and openings for his shot. His on ball defense is one of the strongest parts of his overall game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/marcel-thompson-300x180.jpg" alt="" width="300" height="180" class="aligncenter size-medium wp-image-64308" /></td>
			<td>Thompson, Marcel</td>
			<td>13</td>
			<td>Marcel is a gifted scorer who has an arsenal of skills to get the ball in the hoop. He does a good job of using his body to take contact and finish. He hits open 3's and is unselfish in looking for the open teammate.</td>
		</tr>
	</tbody>
</table>
