<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Player Evaluation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Benajamin-Ayanian_edited-1-300x235.jpg" alt="Benajamin Ayanian_edited-1" width="300" height="235" class="aligncenter size-medium wp-image-73156" /></td>
			<td>Ayanian, Benjamin</td>
			<td>10</td>
			<td>Ben is a high IQ player who always makes the right play. He is a vocal leader that is always telling his teammates where to be. In addition to his steady play, Ben is a good shooter. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Kyree-Banks_edited-1-2-300x192.jpg" alt="Kyree Banks_edited-1" width="300" height="192" class="aligncenter size-medium wp-image-73306" /></td>
			<td>Banks, Kyree</td>
			<td>9</td>
			<td>Kyree is a PG that competes at both ends of the court. He uses his quickness and handles to get tp where he wants on the court. On defense, Kyree is a great on ball defender. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Tim-Biakapia_edited-1-2-300x220.jpg" alt="Tim Biakapia_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73334" /></td>
			<td>Biakapia, Tim</td>
			<td>12</td>
			<td>Tim is a very active wing with a great ability to drive the ball. He is a very good defender and is vocal on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Tim-Bing_edited-1-2-300x237.jpg" alt="Tim Bing_edited-1" width="300" height="237" class="aligncenter size-medium wp-image-73335" /></td>
			<td>Bing, Timothy</td>
			<td>12</td>
			<td>Timothy was one of the best guards at camp. He has a high basketball IQ and is a good finisher. He also has the ability to knock dowm looks from 3.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Matt-Blair_edited-1-1-300x214.jpg" alt="Matt Blair_edited-1" width="300" height="214" class="aligncenter size-medium wp-image-73267" /></td>
			<td>Blair, Matt</td>
			<td>12</td>
			<td>Matt is a strong post player who has great moves and can finish inside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Nick-Blair_edited-1-2-300x220.jpg" alt="Nick Blair_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73324" /></td>
			<td>Blair, Nick</td>
			<td>9</td>
			<td>Nick is a good set shooter from mid range. He is competitive and plays hard on both ends of the floor. He is a high IQ player that is extremely effective and knows where to be on the court at all times.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Dishon-Blake_edited-1-300x220.jpg" alt="Dishon Blake_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73178" /></td>
			<td>Blake, Dishon</td>
			<td>11</td>
			<td>Dishon is a tough player that competes on the defensive end of the floor. He plays physical and does not shy away from contact. He is a smart PG that knows how to play the position, when to attack and when to distribute.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Tyler-Bowman_edited-1-2-300x233.jpg" alt="Tyler Bowman_edited-1" width="300" height="233" class="aligncenter size-medium wp-image-73338" /></td>
			<td>Bowens, Tyler</td>
			<td>10</td>
			<td>Tyler is a long, athletic guard. He does a great job on the boards and is always looking to push it in transition after a rebound. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Jeremiah-brooks_edited-1-1-300x195.jpg" alt="Jeremiah brooks_edited-1" width="300" height="195" class="aligncenter size-medium wp-image-73247" /></td>
			<td>Brooks, Jeremiah</td>
			<td>12</td>
			<td>Jeremiah is a very strong player and uses his physical tools to hang inside, get rebounds and score against big men. He is a competitor and plays hard on both ends of the court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/jason-Conestrino-300x172.jpg" alt="jason Conestrino" width="300" height="172" class="aligncenter size-medium wp-image-73344" /></td>
			<td>Canestrino, Jason</td>
			<td>10</td>
			<td>Jason is able to knock down set shots from 3 point range. He has a high IQ and knows when to make the extra pass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Stephen-Cannady_edited-1-2-300x220.jpg" alt="Stephen Cannady_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73330" />

</td>
			<td>Cannady II, Stephen</td>
			<td>10</td>
			<td>Stephen is a very good slasher without the basketball. His craftiness and his handles allow him to get to the rim in a variety of ways.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Devin-Carter_edited-1-300x204.jpg" alt="Devin Carter_edited-1" width="300" height="204" class="aligncenter size-medium wp-image-73175" /></td>
			<td>Carter, Devin</td>
			<td>9</td>
			<td>Devin is a hard working, young player who hustles at both ends of the floor. He shows the ability to become a  great point guard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Reece-Clark_edited-1-2-300x225.jpg" alt="Reece Clark_edited-1" width="300" height="225" class="aligncenter size-medium wp-image-73327" /></td>
			<td>Clark, Reece</td>
			<td>10</td>
			<td>Reece is a solid competitor who commits on the defensive end. On offense, Reece can score when the opportunity is presented. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Davae-Clegg_edited-1-300x218.jpg" alt="Davae Clegg_edited-1" width="300" height="218" class="aligncenter size-medium wp-image-73172" /></td>
			<td>Clegg, Davae</td>
			<td>9</td>
			<td>Davae has solid size at the wing position. He is strong at driving to the rim and finishing. He is a high IQ player who knows where to be in the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Dontae-Cochran_edited-1-300x220.jpg" alt="Dontae Cochran_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73179" /></td>
			<td>Cochran, Donte</td>
			<td>11</td>
			<td>Donte is a very crafty guard. He is also a good set shooter.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Anthony-Coleman_edited-1-300x220.jpg" alt="Anthony Coleman_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73149" /></td>
			<td>Coleman, Anthony</td>
			<td>10</td>
			<td>Anthony is a really good defender. On offense, he can handle the ball and has deep range. He has the makings of a top flight player down the road. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Kobe-Colston_edited-1-2-300x239.jpg" alt="Kobe Colston_edited-1" width="300" height="239" class="aligncenter size-medium wp-image-73305" /></td>
			<td>Colston, Kobe</td>
			<td>11</td>
			<td>Kobe has a good handle at the PG spot. He is a slasher who can get to the basket, but he can keep the defense honest with his jumper. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Connell, Irwayne</td>
			<td>11</td>
			<td>Irwayne is an extremely athletic inside player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Anthony-Cooper_edited-1-300x209.jpg" alt="Anthony Cooper_edited-1" width="300" height="209" class="aligncenter size-medium wp-image-73150" /></td>
			<td>Cooper, Anthony</td>
			<td>12</td>
			<td>Anthony is a good shooter who controls the game well. He has a knack of finding his teammates in the right spots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Curtis-Cooper_edited-1-300x237.jpg" alt="Curtis Cooper_edited-1" width="300" height="237" class="aligncenter size-medium wp-image-73170" /></td>
			<td>Cooper, Curtis</td>
			<td>11</td>
			<td>Curtis is a shifty handler who is always creating on offense. His high IQ and ability to change speeds make him a great lead guard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Isaiah-Copney_edited-1-300x220.jpg" alt="Isaiah Copney_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73191" /></td>
			<td>Copney, Isaiah</td>
			<td>11</td>
			<td>Isaiah is a sure hand finisher who playes with great energy. His activity allows him to score in a variety of ways. He is a competitor on both ends of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/John-Corish_edited-1-1-300x241.jpg" alt="John Corish_edited-1" width="300" height="241" class="aligncenter size-medium wp-image-73248" /></td>
			<td>Corish, John</td>
			<td>11</td>
			<td>John is a very consistent shooter when he has time and space. His length on the perimeter gives him an advantage on the defensive end of the floor. He is a high IQ player and always seems to make the right play.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Kamdyn-Curfman_edited-1-2-300x220.jpg" alt="Kamdyn Curfman_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73302" /></td>
			<td>Curfman, Kamdyn</td>
			<td>9</td>
			<td>Kam is a hard working player that always digs in on the defensive end. His best attribute on offense is his ability to attack the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Christopher-Currie_edited-1-300x222.jpg" alt="Christopher Currie_edited-1" width="300" height="222" class="aligncenter size-medium wp-image-73167" /></td>
			<td>Currie, Christopher</td>
			<td>11</td>
			<td>Chris has a really good looking jumper. In addition, he knows how to play the game and is always willing to get his teammates involved. He is also a very quick learner. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Cameron-Davis_edited-1-300x220.jpg" alt="Cameron Davis_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73159" /></td>
			<td>Davis, Cameron</td>
			<td>10</td>
			<td>Cameron is a great defender who sees the floor well. He is always in the right spot on the defensive end of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Thomas-Detrick_edited-1-2-300x220.jpg" alt="Thomas Detrick_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73332" /></td>
			<td>Detrick, Thomas </td>
			<td>11</td>
			<td>Thomas is a smart player who always puts the team first. On defense, Thomas puts himself into the right positions and on offense, he plays unselfish basketball. He is a good set shooter with a good pump fake to get into the lane. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Shaquyl-Diboti-Lobe_edited-1-2-300x217.jpg" alt="Shaquyl Diboti-Lobe_edited-1" width="300" height="217" class="aligncenter size-medium wp-image-73328" /></td>
			<td>Diboti-Lobe, Shaquyl</td>
			<td>12</td>
			<td>Shaquyl has great size for a PG and uses that to his advantage on both ends of the court and can more than hold is own in the paint. He is a very fluid player and always plays under control. He is an unselfish player and constantly looks to get everyone involved.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/James-DiLuigi_edited-1-300x216.jpg" alt="James DiLuigi_edited-1" width="300" height="216" class="aligncenter size-medium wp-image-73195" /></td>
			<td>DiLuigi, James</td>
			<td>10</td>
			<td>James is a pass first point guard who is a great facilitator. He is unselfish and does not take bad shots. James is a good leader and he always competes on the defensive end of the floor. On offense, he anticipates his passes and can make the open shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Ardie-Dorsey_edited-1-300x207.jpg" alt="Ardie Dorsey_edited-1" width="300" height="207" class="aligncenter size-medium wp-image-73153" /></td>
			<td>Dorsey, Ardie</td>
			<td>11</td>
			<td>Ardie has great size for his position. He uses his size to get to his spots and hit the open jumper.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Everett-Drake_edited-1-300x225.jpg" alt="Everett Drake_edited-1" width="300" height="225" class="aligncenter size-medium wp-image-73185" /></td>
			<td>Drake, Everett</td>
			<td>9</td>
			<td>Everett has an excellent basketball IQ and always seems to be in the right positions. His high motor allows him to attack the glass for rebounds. He moves very well without the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Abrahams-Edwards_edited-1-300x220.jpg" alt="Abrahams Edwards_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73146" /></td>
			<td>Edwards, Abraham</td>
			<td>9</td>
			<td>Abraham has good length on the perimeter. He showed the abiity to knock down open shots. Abraham is a great teammate that plays unselfish basketball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Hakeem-Everett_edited-1-300x222.jpg" alt="Hakeem Everett_edited-1" width="300" height="222" class="aligncenter size-medium wp-image-73186" /></td>
			<td>Everett, Hakeem</td>
			<td>11</td>
			<td>Hakeem plays really hard and is extremely vocal on the court. He demonstrated his basketball IQ throughout the day. He is a great anticipator and sees plays before they happen.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Thomas-Getahm_edited-1-2-300x220.jpg" alt="Thomas Getahm_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73333" />
</td>
			<td>Getahun, Thomas</td>
			<td>10</td>
			<td>Thomas is a great player who knows when and when not to force things. He has a great handle and can shoot off the bounce and off the catch.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Michael-Gillis_edited-1-2-300x220.jpg" alt="Michael Gillis_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73316" /></td>
			<td>Gillis, Michael</td>
			<td>12</td>
			<td>Michael displayed a versatile offensive game with his smooth jumper and ability to attack the basket. His best attribute is his set jumper.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/jacob-Ginn_edited-1-300x234.jpg" alt="jacob Ginn_edited-1" width="300" height="234" class="aligncenter size-medium wp-image-73193" /></td>
			<td>Ginn, Jacob</td>
			<td>10</td>
			<td>Jacob has a high basketball IQ and makes the right plays on a consistent basis. He has good length for a perimeter player and has the ability to knock down the open shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Justin-Godby_edited-1-2-300x220.jpg" alt="Justin Godby_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73300" /></td>
			<td>Godby, Justin</td>
			<td>11</td>
			<td>Justin is a very strong player who has a great feel for the game. He has good size and great form on catch and shoot shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Malik-Harvey_edited-1-2-300x228.jpg" alt="Malik Harvey_edited-1" width="300" height="228" class="aligncenter size-medium wp-image-73310" /></td>
			<td>Harvey, Malik</td>
			<td>11</td>
			<td>Malik is an aggressive slasher who does a good job of finishing around the rim. When he sets his feet, he can really shoot it. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Blake-hatcher_edited-1-300x220.jpg" alt="Blake hatcher_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73157" /></td>
			<td>Hatcher, Blake</td>
			<td>10</td>
			<td>Blake displayed great court vision and he gets the ball to his teammates. He has a versatile offensive game and has a solid jump shot. Blake has a real talent for scoring the basketball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Arnold-Henderson-300x211.jpg" alt="Arnold Henderson" width="300" height="211" class="aligncenter size-medium wp-image-73343" /></td>
			<td>Henderson, Arnold</td>
			<td>9</td>
			<td>Arnold is a quick PG. He uses his quickness to penetrate and kick out for open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Malik-jackson_edited-1-2-300x220.jpg" alt="Malik jackson_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73311" /></td>
			<td>Jackson, Malik</td>
			<td>12</td>
			<td>Malik is a high energy player that never takes a play off. His competitive nature makes him a great on ball defender. He has a very good motor that allows him to get steals, deflections and rebounds at both ends of the court. </td>
		</tr>
		<tr>
			<td></td>
			<td>Jacobovitz, Noam</td>
			<td>9</td>
			<td>Noam commits on the defensive end which is a rare trait to have. He has good instincts and is able to make plays for himself and his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Calvin-James-1-300x175.jpg" alt="Calvin James" width="300" height="175" class="aligncenter size-medium wp-image-73345" /></td>
			<td>James, Calvin</td>
			<td>10</td>
			<td>Calvin is a quick guard who does a good job of getting in the lane and creating for his teammates. He is a good on ball defender with quick hands.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Khari-Johnson_edited-1-2-300x220.jpg" alt="Khari Johnson_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73304" /></td>
			<td>Johnson, Khari</td>
			<td>10</td>
			<td>Khari is a hard nosed player that never gives up and is always competing. On the offensive end, he couples a tight handle with good looking shooting form. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Michael-joiner_edited-1-2-300x205.jpg" alt="Michael joiner_edited-1" width="300" height="205" class="aligncenter size-medium wp-image-73317" /></td>
			<td>Joiner, Michael</td>
			<td>9</td>
			<td>Michael has good basketball instincts, making him a quality asset to his team. He has all the tools and works hard on both ends of the court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Elijah-Joyner_edited-1-300x219.jpg" alt="Elijah Joyner_edited-1" width="300" height="219" class="aligncenter size-medium wp-image-73181" /></td>
			<td>Joyner, Elijah</td>
			<td>10</td>
			<td>Elijah coples a solid frame with length to wreck havoc on the defensive end. He is active on the boards and finishes well at the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Malik-Kennedy_edited-1-2-300x240.jpg" alt="Malik Kennedy_edited-1" width="300" height="240" class="aligncenter size-medium wp-image-73312" /></td>
			<td>Kennedy, Malik</td>
			<td>10</td>
			<td>Malik has a real knack for scoring the ball and can score in a variety of ways. His tight handle, smooth jumper and athleticism make him a terror on offense. His potential is unlimited. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Chase-Kirkwood_edited-1-300x216.jpg" alt="Chase Kirkwood_edited-1" width="300" height="216" class="aligncenter size-medium wp-image-73163" /></td>
			<td>Kirkwood, Chase</td>
			<td>9</td>
			<td>Chase is a high IQ player who sees the court well and gets the ball to where it needs to be. He has a great catch and shoot shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/William-Leach_edited-1-2-300x196.jpg" alt="William Leach_edited-1" width="300" height="196" class="aligncenter size-medium wp-image-73341" /></td>
			<td>Leach, William</td>
			<td>10</td>
			<td>Will is a crafty guard who is always looking to set up his teammates. When he has time and space, he has the ability to hit the open 3. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Terrence-lewis_edited-1-2-300x226.jpg" alt="Terrence lewis_edited-1" width="300" height="226" class="aligncenter size-medium wp-image-73331" /></td>
			<td>Lewis, Terrence</td>
			<td>11</td>
			<td>Terrence runs the floor well and can vinish in a variety of ways. He can get his points whenever he wants due to his activeness and ability to make rim runs.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Victor-Littles_edited-1-2-300x179.jpg" alt="Victor Littles_edited-1" width="300" height="179" class="aligncenter size-medium wp-image-73340" />
</td>
			<td>Littles, Victor</td>
			<td>11</td>
			<td>Victor scores in a variety of ways around the basket and uses his body well to create angles. He is creative off the dribble and has the ability to finish in traffic.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Michael-Lomax_edited-1-2-300x216.jpg" alt="Michael Lomax_edited-1" width="300" height="216" class="aligncenter size-medium wp-image-73318" /></td>
			<td>Lomax, Michael</td>
			<td>9</td>
			<td>Michael is strong, quick and shifty with and without the basketball. He uses his athleticism to attack the basket and finish. With time and space, he has the ability to knock down mid range shots. His unselfishness make him a great team player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Lameek-Ludsen_edited-1-2-300x219.jpg" alt="Lameek Ludsen_edited-1" width="300" height="219" class="aligncenter size-medium wp-image-73308" /></td>
			<td>Lumsden, Lameek</td>
			<td>11</td>
			<td>Lameek is a tough player on both ends of the court. On defense, he plays hard in the post. On offense, he is a great slasher. His high motor makes him a very active player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Kendall-McGill_edited-1-2-300x210.jpg" alt="Kendall McGill_edited-1" width="300" height="210" class="aligncenter size-medium wp-image-73303" /></td>
			<td>McGill, Kendall</td>
			<td>11</td>
			<td>Kendall is a high IQ player who understands how to use his slashing ability to get to the rim without having the ball in his hands. His versatile offensive game allows him to finish with both hands and keep the defense honest with his mid range game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/James-McNeal_edited-1-300x214.jpg" alt="James McNeal_edited-1" width="300" height="214" class="aligncenter size-medium wp-image-73196" /></td>
			<td>McNeil, James</td>
			<td>12</td>
			<td>James is a heady player that sees the floor well. He has a good handle and is an exceptional passer.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Devin-Meads_edited-1-300x228.jpg" alt="Devin Meads_edited-1" width="300" height="228" class="aligncenter size-medium wp-image-73176" /></td>
			<td>Meads, Devin</td>
			<td>10</td>
			<td>Devin is a quick, lefty, combo guard with a very quick first step. He does an excellent job getting into the paint. On defense, he does a great job of keeping his man in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Michael-Middleton_edited-1-2-300x222.jpg" alt="Michael Middleton_edited-1" width="300" height="222" class="aligncenter size-medium wp-image-73319" /></td>
			<td>Middleton, Michael</td>
			<td>10</td>
			<td>Michael is a competitor who plays hard. He uses his body well for his size and is strong attacking the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Malik-miller_edited-1-2-300x200.jpg" alt="Malik miller_edited-1" width="300" height="200" class="aligncenter size-medium wp-image-73313" /></td>
			<td>Miller, Malik</td>
			<td>10</td>
			<td>Malik is a very good glue player that plays the game the right way. His activeness results in him getting into the right positions at both ends of the court. On offense, he is a slasher who is good with and without the ball in his hands. His strength allows him to get to the basket and fight for rebounds.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Cole-Minetree_edited-1-300x206.jpg" alt="Cole Minetree_edited-1" width="300" height="206" class="aligncenter size-medium wp-image-73168" /></td>
			<td>Minetree, Cole</td>
			<td>9</td>
			<td>Cole has good footwork in the post and competed all day against older players. He also has good touch on his perimeter shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Jonathan-Mondrey_edited-1-2-300x201.jpg" alt="Jonathan Mondrey_edited-1" width="300" height="201" class="aligncenter size-medium wp-image-73297" /></td>
			<td>Mondrey, Jonathan</td>
			<td>9</td>
			<td>Jonathan has good length and has a chance to be a great player. He played PG today and did a great job facilitating. In addition, he is very active on the defensive end of the floor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Ethan-mouzon_edited-1-300x224.jpg" alt="Ethan mouzon_edited-1" width="300" height="224" class="aligncenter size-medium wp-image-73183" /></td>
			<td>Mouzon, Ethan</td>
			<td>9</td>
			<td>Ethan did an excellent job attacking the basket. His craftiness and quick first step allow him to get the rim with ease.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Lamar-Martin_edited-1-2-300x192.jpg" alt="Lamar Martin_edited-1" width="300" height="192" class="aligncenter size-medium wp-image-73307" /></td>
			<td>Martin, Lamar</td>
			<td>10</td>
			<td>Lamar is an athletic player who uses his athleticism to get the the basket with ease. He does an excellent job looking for his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Michael-Murray_edited-1-2-300x205.jpg" alt="Michael Murray_edited-1" width="300" height="205" class="aligncenter size-medium wp-image-73320" /></td>
			<td>Murray, Michael</td>
			<td>9</td>
			<td>Michael has a solid build and couples that with a strong handle. He uses his strength to his advantage and is able to pressure the ball on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Ian-Nester_edited-1-300x220.jpg" alt="Ian Nester_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73187" /></td>
			<td>Nester, Ian</td>
			<td>11</td>
			<td>Ian is a smark player who is a very willing passer. He moves well without the ball and sets solid screens. He is a glue player that does all the little things right.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Makia-Newkirk_edited-1-2-300x182.jpg" alt="Makia Newkirk_edited-1" width="300" height="182" class="aligncenter size-medium wp-image-73309" /></td>
			<td>Newkirk, Makia</td>
			<td>11</td>
			<td>Mekia  is very athletic and uses it to his advantage on the defensive end. His best attribute is his driving ability, which he uses to create for his teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Shaun-Njovens_edited-1-2-300x227.jpg" alt="Shaun Njovens_edited-1" width="300" height="227" class="aligncenter size-medium wp-image-73329" /></td>
			<td>Njovens, Shaun</td>
			<td>12</td>
			<td>Shaun is a strong, aggressive player that is hard to stop in transition. He plays hard at both ends and is a great defender. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Cameron-OConnor_edited-1-300x228.jpg" alt="Cameron O&#039;Connor_edited-1" width="300" height="228" class="aligncenter size-medium wp-image-73160" /></td>
			<td>O'Conner, Cameron</td>
			<td>10</td>
			<td>Cameron is a long, lengthy forward. He does a good job of boxing out for rebounds. On the offensive end, he has a great jump hook in his repertoire.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Julius-Ogunde_edited-1-2-300x212.jpg" alt="Julius Ogunde_edited-1" width="300" height="212" class="aligncenter size-medium wp-image-73299" /></td>
			<td>Ogunde, Julius</td>
			<td>10</td>
			<td>Julius is a strong, athletic forward. He does a great job of finishing in the paint. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Abdul-Ojulari_edited-1-300x220.jpg" alt="Abdul Ojulari_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73145" /></td>
			<td>Ojulari, Abdul</td>
			<td>9</td>
			<td>Abdul uses his tight handle to create on the offensive end. His quickness and shooting ability from mid range make him a versatile guard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Treyton-Oliver_edited-1-2-300x220.jpg" alt="Treyton Oliver_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73337" /></td>
			<td>Oliver, Treyton</td>
			<td>12</td>
			<td>Treyton is an active player who moves well without the ball. He is a great team player who moves the ball on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Ed-oliver-Hampton_edited-1-300x220.jpg" alt="Ed oliver-Hampton_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73180" /></td>
			<td>Oliver-Hampton, Ed</td>
			<td>11</td>
			<td>Ed is a versatile offensive player that can attack the rim off the dribble and step outside and knock down shots. He is a tough matchup because he can drive past bigger players and shoot over smaller players. Ed is very athletic with good physical tools.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Ike-Onwuka_edited-1-300x220.jpg" alt="Ike Onwuka_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73188" /></td>
			<td>Onwuka, Ike</td>
			<td>10</td>
			<td>Ike is comfortable with the ball and has a high IQ. He uses his ability to penetrate to score with either hand or to set up his teammates. Overall, he sees the court very well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Obi-Patrick_edited-1-2-300x228.jpg" alt="Obi Patrick_edited-1" width="300" height="228" class="aligncenter size-medium wp-image-73326" /></td>
			<td>Patrick, Obi</td>
			<td>12</td>
			<td>Obi is a strong guard who uses his body well. He is able to get to any spot on the court that he wants and makes everyone around him better.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Darian-Peterson_edited-1-300x229.jpg" alt="Darian Peterson_edited-1" width="300" height="229" class="aligncenter size-medium wp-image-73171" /></td>
			<td>Peterson, Darian</td>
			<td>12</td>
			<td>Darian is a lengthy wing who uses that to his advantage on the offensive end. He is excellent on the glass and was his teams top rebounder.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Monte-Powell_edited-1-1-300x217.jpg" alt="Monte Powell_edited-1" width="300" height="217" class="aligncenter size-medium wp-image-73273" /></td>
			<td>Powell, Monte</td>
			<td>11</td>
			<td>Monte is a harworking player who competes on both ends of the court. On offense, he has the ability to finish with both hands. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Connor-Reed_edited-1-300x218.jpg" alt="Connor Reed_edited-1" width="300" height="218" class="aligncenter size-medium wp-image-73169" /></td>
			<td>Reed, Connor</td>
			<td>10</td>
			<td>Connor did a great job being aggressive and getting to the rim. He has good length for a wing. He showed he had one of the highest basketball IQ's at the event.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Marvin-Reed_edited-1-2-300x203.jpg" alt="Marvin Reed_edited-1" width="300" height="203" class="aligncenter size-medium wp-image-73314" /></td>
			<td>Reed, Marvin</td>
			<td>9</td>
			<td>Marvin is a quick transition player who plays with good pace. He has good shooting ability and deep range.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Evan-Roesen_edited-1-300x228.jpg" alt="Evan Roesen_edited-1" width="300" height="228" class="aligncenter size-medium wp-image-73184" /></td>
			<td>Roesen, Evan</td>
			<td>11</td>
			<td>Evan is a smart, crafty player who utilizes pump fakes effectively. He does a great job communicating on the defensive end. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Rourke, Kobe</td>
			<td>12</td>
			<td>Kobe is a great rebounder who works very hard at both ends of the court. He is a top tier shot blocker.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Devine-Russell_edited-1-300x214.jpg" alt="Devine Russell_edited-1" width="300" height="214" class="aligncenter size-medium wp-image-73177" /></td>
			<td>Russell, Devine</td>
			<td>11</td>
			<td>Devine is a very athletic and smart player. He has great instincts and can get his own shot whenever he wants.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Tiquan-Saunders_edited-1-2-300x220.jpg" alt="Tiquan Saunders_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73336" /></td>
			<td>Saunders, Tiquan</td>
			<td>10</td>
			<td>Tiquan did an excellent job competing all day. He attacked the basket with a burst and was able to finish over bigger defenders.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Jordan-658_edited-1-1-300x220.jpg" alt="Jordan 658_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73250" /></td>
			<td>Simmons, Jordan</td>
			<td>11</td>
			<td>Jordan is a very athletic player who is crafty with the ball. He displayed a good change of pace and shooting ability from the outside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Christian-Sweazie_edited-1-300x202.jpg" alt="Christian Sweazie_edited-1" width="300" height="202" class="aligncenter size-medium wp-image-73165" /></td>
			<td>Sweazie, Christian</td>
			<td>11</td>
			<td>Christian is a flat out competitor on both ends of the court. On defense, he will pick up his man full court and make him work. On offense, he has a variety of moves to finish at the basket. With good size for the PG spot, Christian uses his quickness to create for himself and his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Justin-tall_edited-1-2-300x213.jpg" alt="Justin tall_edited-1" width="300" height="213" class="aligncenter size-medium wp-image-73301" /></td>
			<td>Tall, Justin</td>
			<td>11</td>
			<td>Justin showed the ability to knockdown the open shot consistently. He plays unselfish basketball and makes the right play. Justin is a good positional defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Jakhari-Taylor_edited-1-300x220.jpg" alt="Jakhari Taylor_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73194" /></td>
			<td>Taylor, Jakhari</td>
			<td>9</td>
			<td>Jakhari is a very athletic and long player. He moves well without the ball and is a great slasher.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Neeraj-Thokala_edited-1-2-300x220.jpg" alt="Neeraj Thokala_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73323" /></td>
			<td>Thokala, Neeraj</td>
			<td>10</td>
			<td>Neeraj is a solid team player who can handle the ball and create for his teammates. He also has good form on his jump shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Deandre-Thomas_edited-1-300x236.jpg" alt="Deandre Thomas_edited-1" width="300" height="236" class="aligncenter size-medium wp-image-73173" /></td>
			<td>Thomas, DeAndre</td>
			<td>10</td>
			<td>DeAndre is a big, athletic wing that always competes. He has a complete game, especially on offense where he excels in transition. He does a great job of drawing defenders on penetration and kicking the ball out to open shooters. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Chandler-Tuten_edited-1-300x220.jpg" alt="Chandler Tuten_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73162" /></td>
			<td>Tuten, Chandler</td>
			<td>9</td>
			<td>Chandler is a great shooter and displayed a high basketball IQ.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/nathan-Waddy_edited-1-2-300x220.jpg" alt="nathan Waddy_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73322" /></td>
			<td>Waddy, Nathan</td>
			<td>10</td>
			<td>Nathan is a hardworking kid with good size. He was one of the best players at camp at contesting shots without fouling. He is also a good finisher with his right hand.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Antonio-Warner_edited-1-300x228.jpg" alt="Antonio Warner_edited-1" width="300" height="228" class="aligncenter size-medium wp-image-73152" /></td>
			<td>Warner, Antonio</td>
			<td>10</td>
			<td>Antonio is a very good ball handler and passer. He plays with good pace and can score the ball in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Andre-Watkins_edited-1-300x218.jpg" alt="Andre Watkins_edited-1" width="300" height="218" class="aligncenter size-medium wp-image-73148" /></td>
			<td>Watkins, Andre</td>
			<td>11</td>
			<td>Andre is a long, lanky, pass first PG that loves to distribute the basketball. He uses his length to get to the basket with ease. Andre is also a good on ball defender. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Jackson-Watkins_edited-1-300x223.jpg" alt="Jackson Watkins_edited-1" width="300" height="223" class="aligncenter size-medium wp-image-73192" /></td>
			<td>Watkins, Jackson</td>
			<td>9</td>
			<td>Jackson has deep range and a good looking jump shot for his age. He has great on court demenor and lets the game come to him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Avery-White_edited-1-300x220.jpg" alt="Avery White_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73155" /></td>
			<td>White, Avery</td>
			<td>11</td>
			<td>Avery is a strong guard who always competes. His best attribute is his ability to attack the rim on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Tyler-Williams_edited-1-2-300x220.jpg" alt="Tyler Williams_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73339" /></td>
			<td>Williams, Tyler</td>
			<td>11</td>
			<td>Tyler was one of the top players at camp. He runs the floor well for his size, can handle and can hit the open 3. His versatility allows him to dominate the post and keep the defense honest with his jumper. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Christian-Wood_edited-1-300x220.jpg" alt="Christian Wood_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73166" /></td>
			<td>Wood, Christian</td>
			<td>10</td>
			<td>Christian is a good playmaker with a tight handle. His has the undeniable ability to score the basketball.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Woodard, Benez</td>
			<td>9</td>
			<td>Benez has a very good feel for the game and always seems to make the right play. In transition, Benez has good handles and always finds the open teammate. </td>
		</tr>
	</tbody>
</table>
