<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Coach Evaluation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Khalel-Abdullah.jpg" rel="attachment wp-att-73754"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Khalel-Abdullah-300x200.jpg" alt="Khalel Abdullah" width="300" height="200" class="aligncenter size-medium wp-image-73754" /></a></td>
			<td>Abdulla, Khalid</td>
			<td></td>
			<td>Khalid is a crafty guard who has a versatile offensive repertoire. He is a great passer and is always looking to get his teammates involved. Khalid is great at penetrating and seems to get to the basket with ease.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Arnold-Agard.jpg" rel="attachment wp-att-73672"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Arnold-Agard-300x200.jpg" alt="Arnold Agard" width="300" height="200" class="aligncenter size-medium wp-image-73672" /></a></td>
			<td>Agard, Arnold</td>
			<td>12</td>
			<td>Arnold is an active player who always seems to be in the right place at the right time. He has a high motor and is constantly looking to be aggressive. He excels at attacking the paint on the offensive end.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Jon-Agostino.jpg" rel="attachment wp-att-73743"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jon-Agostino-300x200.jpg" alt="Jon Agostino" width="300" height="200" class="aligncenter size-medium wp-image-73743" /></a></td>
			<td>Agostino, Jonathan</td>
			<td></td>
			<td>Jonathan is a knockdown shooter who can really stretch the defense with his range. On defense, he plays hard and takes pride on that end of the court. He sees the floor well and does a great job communicating with his teammates. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Brandon-Allen.jpg" rel="attachment wp-att-73676"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Brandon-Allen-300x200.jpg" alt="Brandon Allen" width="300" height="200" class="aligncenter size-medium wp-image-73676" /></a></td>
			<td>Allen, Brandon</td>
			<td>11</td>
			<td>Brandon is a strong forward that can play at the rim. He is a great inside finisher and uses his various offensive moves to create. He has an uncanny knack of creating opportunities for his team by being active on the offensive boards.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Rashan-Allen.jpg" rel="attachment wp-att-73779"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Rashan-Allen-300x200.jpg" alt="Rashan Allen" width="300" height="200" class="aligncenter size-medium wp-image-73779" /></a></td>
			<td>Allen, Rashan</td>
			<td>11</td>
			<td>Rashan is a lefty who loves to get out in transition and create off the break. He is a good rebounder and is always looking to push after grabbing the board. He is a lefty who can get into the paint quickly and finish around the rim.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Kyle-Atkins.jpg" rel="attachment wp-att-73755"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Kyle-Atkins-300x200.jpg" alt="Kyle Atkins" width="300" height="200" class="aligncenter size-medium wp-image-73755" /></a></td>
			<td>Atkins, Kyle</td>
			<td>10</td>
			<td>Kyle is an athletic player who is extremely gifted at getting to the rim. He is comfortable with the ball in his hands, especially in transition. He is a tough player who never takes a possession off. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/GeAni-bannerman.jpg" rel="attachment wp-att-73699"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/GeAni-bannerman-300x200.jpg" alt="GeAni bannerman" width="300" height="200" class="aligncenter size-medium wp-image-73699" /></a></td>
			<td>Bannerman, GeAni</td>
			<td></td>
			<td>GeAni is a long, athletic guard who explodes when attacking the rim. His quick first step allows him to blow past defenders on the wing. At the rim, Geani is able to finish with both hands. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Thomas-Batts.jpg" rel="attachment wp-att-73795"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Thomas-Batts-300x200.jpg" alt="Thomas Batts" width="300" height="200" class="aligncenter size-medium wp-image-73795" /></a></td>
			<td>Batts, Thomas</td>
			<td>9</td>
			<td>Thomas is a decorated inside player who uses his strength to overpower his opponents. He has the ability to knock down 20 footers which makes him a versatile offensive threat. Thomas displayed good hands and he is a great rebounder.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Christian-Belle.jpg" rel="attachment wp-att-73681"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Christian-Belle-300x200.jpg" alt="Christian Belle" width="300" height="200" class="aligncenter size-medium wp-image-73681" /></a></td>
			<td>Belle, Christian</td>
			<td>9</td>
			<td>Christron is a long, athletic wing who uses those traits to excel on the defensive end of the court. On the offensive end, he has the ability to attack the basket where he is a great finisher. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Boris-Beric.jpg" rel="attachment wp-att-73675"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Boris-Beric-300x200.jpg" alt="Boris Beric" width="300" height="200" class="aligncenter size-medium wp-image-73675" /></a></td>
			<td>Beric, Boris</td>
			<td>11</td>
			<td>Boris is a skilled forward with very good size. He runs like a gazelle in transition and is active around the rim. Offensively, he can finish around the rim with either hand. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/11846584_939115619486303_2682373187108914581_n.jpg" rel="attachment wp-att-73899"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/11846584_939115619486303_2682373187108914581_n-300x200.jpg" alt="11846584_939115619486303_2682373187108914581_n" width="300" height="200" class="aligncenter size-medium wp-image-73899" /></a></td>
			<td>Betlow, Jake</td>
			<td>9</td>
			<td>Jake is an outstanding shooter who has unlimited range. He is a very capable PG who proved he has the ability to run the show with his leadership skills. He is a great all-around playmaker.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Timothy-Brathwaite.jpg" rel="attachment wp-att-73797"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Timothy-Brathwaite-300x200.jpg" alt="Timothy Brathwaite" width="300" height="200" class="aligncenter size-medium wp-image-73797" /></a></td>
			<td>Braithwaite, Timothy</td>
			<td>11</td>
			<td>Tim is a PG who possesses a tight handle. He is able to use his handle to penetrate and create for his teammates. Overall, he is a heady player who sees the court well. He has the ability to lock in on the defensive end where he is a good on-ball defender. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Daniel-Braster.jpg" rel="attachment wp-att-73686"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Daniel-Braster-300x200.jpg" alt="Daniel Braster" width="300" height="200" class="aligncenter size-medium wp-image-73686" /></a></td>
			<td>Braster, Daniel</td>
			<td>9</td>
			<td>Daniel is a high IQ player who always seems to make the right play and avoids making mistakes. He is a versatile offensive player as he displayed deep range off the catch and shoot and the ability to finish in the paint.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Bryshon-Bryant.jpg" rel="attachment wp-att-73678"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Bryshon-Bryant-300x200.jpg" alt="Bryshon Bryant" width="300" height="200" class="aligncenter size-medium wp-image-73678" /></a></td>
			<td>Bryant, Bryshon</td>
			<td>11</td>
			<td>Bryshon is an explosive athlete who is active on both ends of the court. For an inside player, he displayed a tight handle which helps him maneuver in traffic. He is a terrific rebounder, especially in traffic. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Omar-Burns.jpg" rel="attachment wp-att-73775"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Omar-Burns-300x200.jpg" alt="Omar Burns" width="300" height="200" class="aligncenter size-medium wp-image-73775" /></a></td>
			<td>Burns, Omar</td>
			<td>11</td>
			<td>Omar plays hard all the time and never takes a possession off. He excels in transition where he is an effective passer. For his size, he runs like a gazelle and has a very fluid game. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Jahki-Clarke.jpg" rel="attachment wp-att-73734"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jahki-Clarke-300x200.jpg" alt="Jahki Clarke" width="300" height="200" class="aligncenter size-medium wp-image-73734" /></a></td>
			<td>Castillo, Jacob</td>
			<td></td>
			<td>Jake is a slasher who excels away from the ball. His ability to cut allows him to get shots around the rim. He does have the ability to drive and excels when going right. On defense, he is a ballhawking defender.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Jahki-Clarke.jpg" rel="attachment wp-att-73734"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jahki-Clarke-300x200.jpg" alt="Jahki Clarke" width="300" height="200" class="aligncenter size-medium wp-image-73734" /></a></td>
			<td>Clarke, Jahki</td>
			<td>11</td>
			<td>Jahki is a physical player who can score in a variety of ways. He has a great motor and plays well in transition. He is always looking to attack the glass and grab rebounds.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Matt-Cooper.jpg" rel="attachment wp-att-73764"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Matt-Cooper-300x200.jpg" alt="Matt Cooper" width="300" height="200" class="aligncenter size-medium wp-image-73764" /></a></td>
			<td>Cooper, Matthew</td>
			<td>10</td>
			<td>Matthew is a skilled guard with a high basketball IQ. He is excellent at attacking the paint and creating for his teammates. His best asstet is his penetrating ability on the offensive end.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Xavier-Davenport.jpg" rel="attachment wp-att-73664"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Xavier-Davenport-300x200.jpg" alt="Xavier Davenport" width="300" height="200" class="aligncenter size-medium wp-image-73664" /></a></td>
			<td>Davenport, Xavier</td>
			<td>12</td>
			<td>Xavier is a strong, athletic guard who does a great job of seeking contact on the offensive end. For a guard, he has the ability to play above the rim. He is active around the rim and is always looking to attack. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Gene-Decker.jpg" rel="attachment wp-att-73700"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Gene-Decker-300x200.jpg" alt="Gene Decker" width="300" height="200" class="aligncenter size-medium wp-image-73700" /></a></td>
			<td>Decker Jr., Gene</td>
			<td>11</td>
			<td>Gene is a high IQ player who knows when to create for himself and when to get his teammates involved. He utilizes his great shot fake to get his defender to bite. He also has a great handle and uses it to get others involved.</td>
		</tr>
		<tr>
			<td></td>
			<td>Del, Shawn (Eval Says Terrell Fullerton)</td>
			<td>8</td>
			<td>Terrell is a quick, lefty guard with a great handle. He has unlimited range and is a phenomenal shooter. He plays hard and competes on both ends of the court.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Moussa.jpg" rel="attachment wp-att-73770"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Moussa-300x200.jpg" alt="Moussa" width="300" height="200" class="aligncenter size-medium wp-image-73770" /></a></td>
			<td>Dialy, Moussa</td>
			<td></td>
			<td>Moussa is a high motor player who plays hard on both ends of the court. He excels in transition and knows how to attack the lanes on the break. He is a great slasher and can get to the rim at will.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Luke-Difucci.jpg" rel="attachment wp-att-73760"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Luke-Difucci-300x200.jpg" alt="Luke Difucci" width="300" height="200" class="aligncenter size-medium wp-image-73760" /></a></td>
			<td>Difucci, Luke</td>
			<td>10</td>
			<td>Luke is a high IQ player who always makes good decisions when the ball is in his hands. For a guard, Luke does an excellent job attacking the glass. He has unlimited range, which allows him to keep the defense honest. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Jonathan-Dilakian.jpg" rel="attachment wp-att-73744"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jonathan-Dilakian-300x200.jpg" alt="Jonathan Dilakian" width="300" height="200" class="aligncenter size-medium wp-image-73744" /></a></td>
			<td>Dilakian, Jonathan</td>
			<td></td>
			<td>Jonathan is a stretch four who is a weapon on both the offensive and defensive end. On defense, he is aggressive on the boards and showed the knack for scrapping up loose balls. On offense, he can step back and knock down deep jumpers and is a great passer inside. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Aaron-Dilakian.jpg" rel="attachment wp-att-73665"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Aaron-Dilakian-300x200.jpg" alt="Aaron Dilakian" width="300" height="200" class="aligncenter size-medium wp-image-73665" /></a></td>
			<td>Dilakiean, Aaron</td>
			<td></td>
			<td>Aaron is an athletic player who excels at attacking the gaps on offense. He is ablet to get to the rim with ease, where he can finish with both hands. He is an active player who competes on both ends of the court. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Sebastian-Duluc.jpg" rel="attachment wp-att-73786"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Sebastian-Duluc-300x200.jpg" alt="Sebastian Duluc" width="300" height="200" class="aligncenter size-medium wp-image-73786" /></a></td>
			<td>Duluc, Sebastian</td>
			<td>10</td>
			<td>Sebastian is a crafty, combo guard that does a great job of getting his teammates involved. He features a versatile offensive repertoire and can score in numerous ways. He is a more than capable outside shooter and excels at attacking the basket. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Isaac-Echauania.jpg" rel="attachment wp-att-73729"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Isaac-Echauania-300x200.jpg" alt="Isaac Echauania" width="300" height="200" class="aligncenter size-medium wp-image-73729" /></a></td>
			<td>Echavarria, Issac</td>
			<td>9</td>
			<td>Isaac is a knockdown shooter who can really stroke it. He couples his shooting ability with his creative ball handling to keep the defense honest. When he penetrates, he is always looking to make plays for others but at the same time, he knows when to find his own shots. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Phinnigan-Edwards.jpg" rel="attachment wp-att-73777"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Phinnigan-Edwards-300x200.jpg" alt="Phinnigan Edwards" width="300" height="200" class="aligncenter size-medium wp-image-73777" /></a></td>
			<td>Edwards, Phinnegan</td>
			<td>10</td>
			<td>Phinnegan is a stong, athletic guard who competes on both ends of the court. He shoots the ball well and has great range. Phinnegan is talented on the offensive end of the court. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Tyson-Etienne.jpg" rel="attachment wp-att-73801"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Tyson-Etienne-300x200.jpg" alt="Tyson Etienne" width="300" height="200" class="aligncenter size-medium wp-image-73801" /></a></td>
			<td>Etienne, Tyson</td>
			<td>9</td>
			<td>Tyson is a high IQ player that anticipates plays before his opponents. He excels in transition and loves to push the ball ahead. He was a great teammate all day.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/William-Finnie-II.jpg" rel="attachment wp-att-73802"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/William-Finnie-II-300x200.jpg" alt="William Finnie II" width="300" height="200" class="aligncenter size-medium wp-image-73802" /></a></td>
			<td>Finnie, William</td>
			<td>11</td>
			<td>William is a strong, athletic and aggressive player. He is effective at getting into the paint and attacking the basket. William is a solid shooter all the way out to the 3 point arc. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Andrew-Fisch-1.jpg" rel="attachment wp-att-73671"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Andrew-Fisch-1-300x200.jpg" alt="Andrew Fisch" width="300" height="200" class="aligncenter size-medium wp-image-73671" /></a></td>
			<td>Fisch, Andrew</td>
			<td>9</td>
			<td>Andrew is a great leader who is constantly communicating with his teammates. He is extremely effective in transition and displayed good court vision on the break. Andrew has a high basketball IQ and seems to always make the right play.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Sunil-Fong.jpg" rel="attachment wp-att-73791"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Sunil-Fong-300x200.jpg" alt="Sunil Fong" width="300" height="200" class="aligncenter size-medium wp-image-73791" /></a></td>
			<td>Fong, Sunil</td>
			<td>9</td>
			<td>Sunil is a talented big with many versatile traits. He has a high basketball IQ and knows when to kick the ball out to his teammates. Sunil displayed a nice drop step post move and the ability to rebound.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Tyrone-Foster.jpg" rel="attachment wp-att-73800"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Tyrone-Foster-300x200.jpg" alt="Tyrone Foster" width="300" height="200" class="aligncenter size-medium wp-image-73800" /></a></td>
			<td>Foster, Tyrone</td>
			<td></td>
			<td>Tyrone is a PG who is very creative with the ball in his hands. He excels in transition where he does an excellent job of creating for his teammates. In the halfcourt, he plays under control and is a smart player. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Terrance-Fullerton.jpg" rel="attachment wp-att-73793"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Terrance-Fullerton-300x200.jpg" alt="Terrance Fullerton" width="300" height="200" class="aligncenter size-medium wp-image-73793" /></a></td>
			<td>Fullerton, Terrell</td>
			<td>12</td>
			<td>Terrell is an explosive guard who uses his quickness off the dribble to attack the paint. His driving ability allows him to make phenomenal plays for himself and his teammates.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Ryan-Galgano.jpg" rel="attachment wp-att-73781"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Ryan-Galgano-300x200.jpg" alt="Ryan Galgano" width="300" height="200" class="aligncenter size-medium wp-image-73781" /></a></td>
			<td>Galgano, Ryan</td>
			<td></td>
			<td>Ryan featueres great size for a guard. He is a solid all-around player who can do it all on both ends of the court. He competes hard on every play and never takes a possession off.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Joshua-Garrett.jpg" rel="attachment wp-att-73749"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Joshua-Garrett-300x200.jpg" alt="Joshua Garrett" width="300" height="200" class="aligncenter size-medium wp-image-73749" /></a></td>
			<td>Garrett, Joshua</td>
			<td>11</td>
			<td>Josh is an active player who affects the game in many ways. He displayed great vision and is an effective passer. He runs extremely well and always gets to his spots on the court.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Darius-Gray.jpg" rel="attachment wp-att-73687"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Darius-Gray-300x200.jpg" alt="Darius Gray`" width="300" height="200" class="aligncenter size-medium wp-image-73687" /></a></td>
			<td>Gary, Darius</td>
			<td>11</td>
			<td>Darius is a long, athletic guard who uses those traits to get into the paint. He is a very creative passer and does a great job of finding his teammates after penetrating. Darius has a nose for the ball and always attacks the boards. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-GreenLast-name-unknown.jpg" rel="attachment wp-att-73766"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-GreenLast-name-unknown-300x200.jpg" alt="Michael Green&#039;&#039;&#039;&#039;&#039;&#039;Last name unknown" width="300" height="200" class="aligncenter size-medium wp-image-73766" /></a>
</td>
			<td>Green, Michael</td>
			<td></td>
			<td>Michael is a versatile forward who affects the game in many ways. He is a high energy player who gives his best effort on every possession. On offense, he is a dangerous slasher who can score and create for others. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-Green-2.jpg" rel="attachment wp-att-73765"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-Green-2-300x200.jpg" alt="Michael Green 2" width="300" height="200" class="aligncenter size-medium wp-image-73765" /></a></td>
			<td>Green, Michael</td>
			<td>9</td>
			<td>Michael has a hardworking player who competes on both ends of the court. He takes pride on the defensive end and really locks in. He is skilled for his size and is able to explode to the rim.</td>
		</tr>
		<tr>
			<td></td>
			<td>Green, Michael</td>
			<td></td>
			<td>Michael is a talented offensive player who can score in many ways. He has the ability to break his man down on the perimeter and explode into the paint. When he has space, he is a good finisher around the rim. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Brendan-Greenberg.jpg" rel="attachment wp-att-73677"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Brendan-Greenberg-300x200.jpg" alt="Brendan Greenberg" width="300" height="200" class="aligncenter size-medium wp-image-73677" /></a></td>
			<td>Greenberg, Brendan</td>
			<td>11</td>
			<td>Brendan is a high IQ player who knows how to get to his spots on the court. He has a versatile offensive game and can score in numerous ways. Brendan is a tremendous shooter who also has the ability to finish around the rim.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Najee-Harris.jpg" rel="attachment wp-att-73771"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Najee-Harris-300x200.jpg" alt="Najee Harris" width="300" height="200" class="aligncenter size-medium wp-image-73771" /></a></td>
			<td>Harris, Najee</td>
			<td>10</td>
			<td>Najee is a well rounded PG on both ends of the court. He has a great handle and uses it to find his teammtes, especially in transition. On offense, he has the ability to hit consistently from 15 feet. On the other end, he plays hard, ballhawking defense. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Demil-Hayner.jpg" rel="attachment wp-att-73692"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Demil-Hayner-300x200.jpg" alt="Demil Hayner" width="300" height="200" class="aligncenter size-medium wp-image-73692" /></a></td>
			<td>Haynes, Denzil</td>
			<td>12</td>
			<td>Denzil is a versatile, skilled big man who affects the game in multiple ways. He is a ferocious rebounder and has a knack for finding the ball. He is a dominant player in the paint, but he also has the ability to step outside and make plays. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Fettera-house.jpg" rel="attachment wp-att-73696"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Fettera-house-300x200.jpg" alt="Fettera house" width="300" height="200" class="aligncenter size-medium wp-image-73696" /></a></td>
			<td>House, Fettera</td>
			<td></td>
			<td>Fettcia is a heady player who understands the game extremely well. He has a great handle which he uses to control the game and the tempo. He is a creator on offense, he always looks to get his teammates involved and he is a natural leader. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Theo-Lvinskas.jpg" rel="attachment wp-att-73794"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Theo-Lvinskas-300x200.jpg" alt="Theo Lvinskas" width="300" height="200" class="aligncenter size-medium wp-image-73794" /></a></td>
			<td>Invinskas, Theo</td>
			<td></td>
			<td>Theo is a skilled interior player, especialy in the high post. He plays extremely high motor and will do whatever it takes to help his team win. He is a high level rebounder and attacks the glass on both ends of the court. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Isom, Darius</td>
			<td>11</td>
			<td>Darius is a strong physical guard who gets where he wants on the floor using his strength Darius also showed a good ability to shoot from mid range</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Gabriel-Irizarry.jpg" rel="attachment wp-att-73697"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Gabriel-Irizarry-300x200.jpg" alt="Gabriel Irizarry" width="300" height="200" class="aligncenter size-medium wp-image-73697" /></a></td>
			<td>Irizarry, Gabriel</td>
			<td></td>
			<td>Gabriel is a high energy player who does the little things well. He is a superb screener and is dangerous on the pick and roll. Gabriel is active around the rim and can finish with the best of them.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Tristan-Isaac.jpg" rel="attachment wp-att-73798"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Tristan-Isaac-300x200.jpg" alt="Tristan Isaac" width="300" height="200" class="aligncenter size-medium wp-image-73798" /></a></td>
			<td>Isaac, Tristan</td>
			<td>9</td>
			<td>Tristan features good size for a guard and uses it to his advantage. He seeks out contact when attacking the basket and does a great job of absorbing it. Tristan displayed good range and the ability to be a consistent shooter.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Gavin-Jablonski.jpg" rel="attachment wp-att-73698"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Gavin-Jablonski-300x200.jpg" alt="Gavin Jablonski" width="300" height="200" class="aligncenter size-medium wp-image-73698" /></a></td>
			<td>Jablonski, Gavin</td>
			<td>11</td>
			<td>Gavin is an active player who never takes a play off. On both ends of the court, he is looking to attack the glass for boards. Gavin is a great rim protector who does a great job of blocking and altering interior shots. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Christopher-Jasabe.jpg" rel="attachment wp-att-73683"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Christopher-Jasabe-300x200.jpg" alt="Christopher Jasabe" width="300" height="200" class="aligncenter size-medium wp-image-73683" /></a></td>
			<td>Jasabe, Christopher</td>
			<td>11</td>
			<td>Christopher is a great PG who always plays under control. He uses his ball handling skills to penetrate and set up his teammates. Chris is a pass first PG who enjoys getting his teammates involved.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Joel-Jerez.jpg" rel="attachment wp-att-73742"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Joel-Jerez-300x200.jpg" alt="Joel Jerez" width="300" height="200" class="aligncenter size-medium wp-image-73742" /></a></td>
			<td>Jerez, Joel</td>
			<td></td>
			<td>Joel is a smart basketball player who really knows how to play the game. He is a great shooter, especially off the catch. He is a great off-ball guard who cuts well and finishes around the rim. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Leonardo-Jorge.jpg" rel="attachment wp-att-73757"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Leonardo-Jorge-300x200.jpg" alt="Leonardo Jorge" width="300" height="200" class="aligncenter size-medium wp-image-73757" /></a></td>
			<td>Jorge, Leonardo</td>
			<td></td>
			<td>Leonardo is a high IQ player who knows how to play the game. He competes and plays tough, hard nosed basketball. Leonardo has the ability to shoot from deep and he sees the court extremely well on offense. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Constantino-Kasmidis.jpg" rel="attachment wp-att-73685"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Constantino-Kasmidis-300x200.jpg" alt="Constantino Kasmidis" width="300" height="200" class="aligncenter size-medium wp-image-73685" /></a></td>
			<td>Kosmidis, Constantino</td>
			<td>10</td>
			<td>Constantino is a tough player who competes at a high level. He has a high basketball IQ and knows how to get to his spots on the court. He was a great teammate all day.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/David-Koslow.jpg" rel="attachment wp-att-73690"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/David-Koslow-300x200.jpg" alt="David Koslow" width="300" height="200" class="aligncenter size-medium wp-image-73690" /></a></td>
			<td>Kosow, David</td>
			<td>11</td>
			<td>David is a high IQ player who sees the floor very well. He anticipates plays before they happen and always finds the open man. On offense, he is a lefty who excels at getting into the paint. On defense, he is an active on-ball defender. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Jeronie-Lewis.jpg" rel="attachment wp-att-73741"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jeronie-Lewis-300x200.jpg" alt="Jeronie Lewis" width="300" height="200" class="aligncenter size-medium wp-image-73741" /></a></td>
			<td>Lewis, Jerome</td>
			<td></td>
			<td>Jerome is a long and athletic player. He runs hard in transition and excels out on the break where he can use his athleticism to his advantage. Jerome is a tough minded player who digs in defensively and on the glass.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Lucas-MacDonald.jpg" rel="attachment wp-att-73759"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Lucas-MacDonald-300x200.jpg" alt="Lucas MacDonald" width="300" height="200" class="aligncenter size-medium wp-image-73759" /></a></td>
			<td>MacDonald, Lucas</td>
			<td>9</td>
			<td>Lucas is a complete SG who understands how to play the game. He has a great handle and uses it to create for others and for himself. He can score in many different ways; his knock down ability and his knack for finishing in traffic make him a versatile offensive threat.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Bayron-Martinez.jpg" rel="attachment wp-att-73674"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Bayron-Martinez-300x200.jpg" alt="Bayron Martinez" width="300" height="200" class="aligncenter size-medium wp-image-73674" /></a></td>
			<td>Martinez, Bayron</td>
			<td>9</td>
			<td>Bayron is a long, athletic player. He is a tough matchup on the offensive end, where he uses his athleticism to his advantage. On defense, he consistently disrupts passing lanes with his length. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Emmanuel-Martinez.jpg" rel="attachment wp-att-73694"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Emmanuel-Martinez-300x200.jpg" alt="Emmanuel Martinez" width="300" height="200" class="aligncenter size-medium wp-image-73694" /></a></td>
			<td>Martinez, Enmanuel</td>
			<td>9</td>
			<td>Enmanuel is a heady player who knows the game and excels as the leader of the team. He has tremendous vision and makes passes that others don't see. He is a highly skilled guard who can do almost everything at a high level.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/james-Martinez.jpg" rel="attachment wp-att-73737"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/james-Martinez-300x200.jpg" alt="james Martinez" width="300" height="200" class="aligncenter size-medium wp-image-73737" /></a></td>
			<td>Martinez, James</td>
			<td>9</td>
			<td>James is a skilled forward with versatility. He plays with a ton of energy and competes on both the offensive and defensive end of the floor.</td>
		</tr>
		<tr>
			<td></td>
			<td>McBride, Terrence</td>
			<td>11</td>
			<td>Terrence is a long, fluid athlete who has a great feel for the game. He uses his length to his advantage on both ends of the court. Terrence competes hard and is a great teammate. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Joseph-McCoy.jpg" rel="attachment wp-att-73747"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Joseph-McCoy-300x200.jpg" alt="Joseph McCoy" width="300" height="200" class="aligncenter size-medium wp-image-73747" /></a></td>
			<td>McCoy, Joseph</td>
			<td>10</td>
			<td>Joseph is a quick guard who excels in transition as he is always looking to push the tempo. On the offensive end, he features a versatile game. He is great off the pick and roll and is a good shooter, especially in catch and shoot situations. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Ryan-Michaels.jpg" rel="attachment wp-att-73782"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Ryan-Michaels-300x200.jpg" alt="Ryan Michaels" width="300" height="200" class="aligncenter size-medium wp-image-73782" /></a></td>
			<td>Michaels, Ryan</td>
			<td>9</td>
			<td>Ryan is a skilled big man who possesses a versatile offensive game. He has great touch around the rim and understands how his defender is playing him. He can stretch the defense and make shots all the way out to the 3 point line.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Josh-Micham.jpg" rel="attachment wp-att-73748"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Josh-Micham-300x200.jpg" alt="Josh Micham" width="300" height="200" class="aligncenter size-medium wp-image-73748" /></a></td>
			<td>Mitchum, Joshua</td>
			<td>10</td>
			<td>Josh is a strong, athletic player who uses his strength to get on the boards. In the post, he is able to back his defender down and get to the rim. He competed all day and is a great teammate. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Stephen-Montez.jpg" rel="attachment wp-att-73789"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Stephen-Montez-300x200.jpg" alt="Stephen Montez" width="300" height="200" class="aligncenter size-medium wp-image-73789" /></a></td>
			<td>Montez, Stephen</td>
			<td>9</td>
			<td>Stephen couples a solid handle with a high basketball IQ. He seems to always make the right play. He is a tough player who competes on every play.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Tim-Moran.jpg" rel="attachment wp-att-73796"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Tim-Moran-300x200.jpg" alt="Tim Moran" width="300" height="200" class="aligncenter size-medium wp-image-73796" /></a></td>
			<td>Moran, Timothy</td>
			<td>9</td>
			<td>Tim is a skilled player who can really shoot the basketball. He has great form and a good release on his jumpshots. He is a high IQ player and is a coaches dream player.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Carsimir-Paul.jpg" rel="attachment wp-att-73679"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Carsimir-Paul-300x200.jpg" alt="Carsimir Paul" width="300" height="200" class="aligncenter size-medium wp-image-73679" /></a></td>
			<td>Paul, Carsimir</td>
			<td>11</td>
			<td>Carsimir is very athletic player who plays hard and never stops. On the offensive end, he has a tight handle, which allows him to create for himself and others. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Rafael-Paulino.jpg" rel="attachment wp-att-73778"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Rafael-Paulino-300x200.jpg" alt="Rafael Paulino" width="300" height="200" class="aligncenter size-medium wp-image-73778" /></a></td>
			<td>Paulino, Rafael</td>
			<td>10</td>
			<td>Rafael is a competitor who never takes a play off. He has a high basketball IQ and uses his vision to find the open teammate. He is a good ball handler and uses that attribute to attaack the paint with ease.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Albenys-Peralta.jpg" rel="attachment wp-att-73669"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Albenys-Peralta-300x200.jpg" alt="Albenys Peralta" width="300" height="200" class="aligncenter size-medium wp-image-73669" /></a></td>
			<td>Peralta, Albeys</td>
			<td></td>
			<td>Albeys is a  versatile wing player who affects the game in multiple ways. He excels in transition and is a great passer on the break. Albeys is a consistent shooter who has the ability to really stretch the defense. He crashes the boards extremely well.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Connor-Perez.jpg" rel="attachment wp-att-73684"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Connor-Perez-300x200.jpg" alt="Connor Perez" width="300" height="200" class="aligncenter size-medium wp-image-73684" /></a></td>
			<td>Perez, Connor</td>
			<td>10</td>
			<td>Connor is a stong guard that does a great job of setting up his teammates. He is a facilitator and a great team player. He is a good shooter and has unlimited range.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Charles-Pride.jpg" rel="attachment wp-att-73680"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Charles-Pride-300x200.jpg" alt="Charles Pride" width="300" height="200" class="aligncenter size-medium wp-image-73680" /></a></td>
			<td>Pride, Charles</td>
			<td>10</td>
			<td>Charles is a versatile wing who does many things well. He can dribble well with both hands and uses his handle to drive to the basket where he can finish in traffic. He sees the court well and is a solid rebounder.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Abie-Rosow.jpg" rel="attachment wp-att-73666"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Abie-Rosow-300x200.jpg" alt="Abie Rosow" width="300" height="200" class="aligncenter size-medium wp-image-73666" /></a></td>
			<td>Rosow, Abie</td>
			<td>11</td>
			<td>Abie is an extremely versatile offensive player who can score in a variety of ways. He is a tough kid who can compete inside and score with either hand. He also has a knockdown mid-range jumper.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Jack-Rosow.jpg" rel="attachment wp-att-73732"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jack-Rosow-300x200.jpg" alt="Jack Rosow" width="300" height="200" class="aligncenter size-medium wp-image-73732" /></a></td>
			<td>Rosow, Jack</td>
			<td>9</td>
			<td>Jack is a hard working player who is willing to put his body on the line for his team. He is extremely active on the glass for his size and loves to scrap with the bigs. He excels in transition and he moves well without the ball.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Jonathan-Ruiz.jpg" rel="attachment wp-att-73745"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jonathan-Ruiz-300x200.jpg" alt="Jonathan Ruiz" width="300" height="200" class="aligncenter size-medium wp-image-73745" /></a></td>
			<td>Ruiz, Jonathan</td>
			<td>11</td>
			<td>Jonathan is a creative ball handler who is able to attack the rim with ease. He is effective around the rim and does a great job of finishing in traffic. Jonathan has a quick first step which he uses to blow by his defenders.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/jake-Russo.jpg" rel="attachment wp-att-73736"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/jake-Russo-300x200.jpg" alt="jake Russo" width="300" height="200" class="aligncenter size-medium wp-image-73736" /></a></td>
			<td>Russo, Jake</td>
			<td></td>
			<td>Jake is able to affect the game in a variety of ways. He is a versatile big with a solid inside-out game. He has all the tools; he can run, jump and he has quick hands. He has a solid mid-range jumper for his size. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Emmanuel-Sarbah.jpg" rel="attachment wp-att-73695"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Emmanuel-Sarbah-300x200.jpg" alt="Emmanuel Sarbah" width="300" height="200" class="aligncenter size-medium wp-image-73695" /></a></td>
			<td>Sarbah, Emmanuel</td>
			<td></td>
			<td>Emmaniel is extremely active on both ends of the floor, especailly when attacking the boards. On the offensive end, he is a great inside player who uses multiple moves to create for himself and his teammates. On the defensive end, he is a great rim protector. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-Scaffidi.jpg" rel="attachment wp-att-73767"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-Scaffidi-300x200.jpg" alt="Michael Scaffidi" width="300" height="200" class="aligncenter size-medium wp-image-73767" /></a></td>
			<td>Scaffini, Michael</td>
			<td>11</td>
			<td>Michael is an unselfish player who is always looking to find the open teammate, especially in transition. He has a tight handle which makes him a tough matchup for any defense. He competes hard on both ends of the court. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Nicholas-Searabino.jpg" rel="attachment wp-att-73772"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Nicholas-Searabino-300x200.jpg" alt="Nicholas Searabino" width="300" height="200" class="aligncenter size-medium wp-image-73772" /></a></td>
			<td>Scarabino, Nicolas</td>
			<td>12</td>
			<td>Nicolas is a tough, strong, small forward who competed all day. He is very athletic and can sky for rebounds. On the offensive end, Nicolas sees the court well and uses his penetrating ability to find his teammates. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Marquis-Senu.jpg" rel="attachment wp-att-73763"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Marquis-Senu-300x200.jpg" alt="Marquis Senu" width="300" height="200" class="aligncenter size-medium wp-image-73763" /></a></td>
			<td>Sena, Marquis</td>
			<td>11</td>
			<td>Marquis is a threat when the ball is in his hands, especially in transition. He sees the court very well and is a great passer. He is creative with the ball which allows him to penetrate and create for his teammates. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Davantae-Smith.jpg" rel="attachment wp-att-73689"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Davantae-Smith-300x200.jpg" alt="Davanta&#039;e Smith" width="300" height="200" class="aligncenter size-medium wp-image-73689" /></a></td>
			<td>Smith, Davanta'e</td>
			<td>9</td>
			<td>Davanta'e is a pass first guard who did a great job of setting up his teammates all day. He is at his best in transition, where he displayed great quickness and vision.  </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Jelani-Henry.jpg" rel="attachment wp-att-73740"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jelani-Henry-300x200.jpg" alt="Jelani Henry" width="300" height="200" class="aligncenter size-medium wp-image-73740" /></a></td>
			<td>Smith, Jelani</td>
			<td>11</td>
			<td>Jelani is a long, athletic player who is able to affect the game in many ways. He covers a lot of ground defensively because of his length and is able to disrupt the passing lanes. On offense, Jelani has a quick release and is able to get off three pointers with ease. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Sean-Smith.jpg" rel="attachment wp-att-73785"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Sean-Smith-300x200.jpg" alt="Sean Smith" width="300" height="200" class="aligncenter size-medium wp-image-73785" /></a></td>
			<td>Smith, Sean</td>
			<td>11</td>
			<td>Sean is a heady PG who excels on penetration. He has a tight handle with both hands and is able to get into the paint and finish at the rim. His unselfish play makes him a great teammate as he is always putting his teammates in positions to succeed.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Souter-McGill, James</td>
			<td>10</td>
			<td>James is a hardworking player who is very solid at the PG position. On offense, he does a great job of getting to the basket and finishing with either hand. On the defensive end, he is a competitor and displayed good on-ball defensive skills. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Tyquan-Stephens.jpg" rel="attachment wp-att-73799"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Tyquan-Stephens-300x200.jpg" alt="Tyquan Stephens" width="300" height="200" class="aligncenter size-medium wp-image-73799" /></a></td>
			<td>Stephens, Tyquan</td>
			<td>11</td>
			<td>Tyquan is an active, athletic player who plays hard on every possession. He is effective in transition where he can create for himself and for his teammates. His best offensive weapon is his ability to drive and attack the rim. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Jahrah-Thomas.jpg" rel="attachment wp-att-73735"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jahrah-Thomas-300x200.jpg" alt="Jahrah Thomas" width="300" height="200" class="aligncenter size-medium wp-image-73735" /></a></td>
			<td>Thomas, Jahrell</td>
			<td>12</td>
			<td>Jahrell is a prototypical forward who features a large basketball frame. He is a strong player who uses his body to his advantage when finishing around the rim. Jahrell is a great rebounder on both the offensive and defensive glass.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Kasaun-Thomas.jpg" rel="attachment wp-att-73751"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Kasaun-Thomas-300x200.jpg" alt="Kasaun Thomas" width="300" height="200" class="aligncenter size-medium wp-image-73751" /></a></td>
			<td>Thomas, Kasaun</td>
			<td>10</td>
			<td>Kasaun is a dynamic guard who is extremely effective off the dribble. He is able to get into the paint and finish around the rim. He is an active player who competes on both ends.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Joshua-Trimmer.jpg" rel="attachment wp-att-73750"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Joshua-Trimmer-300x200.jpg" alt="Joshua Trimmer" width="300" height="200" class="aligncenter size-medium wp-image-73750" /></a></td>
			<td>Timmer, Joshua</td>
			<td>11</td>
			<td>Josh is a very good all-around combo guard. He sees the court extremely well and is a willing passer. He is an excellent off the bounce shooter.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Syymir-Torrence.jpg" rel="attachment wp-att-73792"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Syymir-Torrence-300x200.jpg" alt="Syymir Torrence" width="300" height="200" class="aligncenter size-medium wp-image-73792" /></a></td>
			<td>Torrence, Symir</td>
			<td>9</td>
			<td>Symir is an athletic, explosive player who is always looking to get to the rim. He has tremendous skill for his size and can break down his man off the dribble. He has great vision and is always looking to facilitate on offense. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-Tranucci.jpg" rel="attachment wp-att-73768"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Michael-Tranucci-300x200.jpg" alt="Michael Tranucci" width="300" height="200" class="aligncenter size-medium wp-image-73768" /></a></td>
			<td>Trancucci, Michael</td>
			<td>10</td>
			<td>Michael is an intelligent player who makes great reads on a consistent basis and ultimately knows how to play the game. He has unlimited range on offense and can score from anywhere. On defense, he plays really hard and never takes a play off. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Paul-Von-Voigt.jpg" rel="attachment wp-att-73776"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Paul-Von-Voigt-300x200.jpg" alt="Paul Von Voigt" width="300" height="200" class="aligncenter size-medium wp-image-73776" /></a></td>
			<td>Vonvoigut, Paul</td>
			<td></td>
			<td>Paul is a capable shooter who showed his confidence when letting the ball fly. He is a high IQ player who makes good decisions with the ball. He played hard all day and competed on both ends of the court.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Jordan-Waller.jpg" rel="attachment wp-att-73746"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jordan-Waller-300x200.jpg" alt="Jordan Waller" width="300" height="200" class="aligncenter size-medium wp-image-73746" /></a></td>
			<td>Walker, Jordan</td>
			<td></td>
			<td>Jordan is a versatile forward who is able to step out and shoot. Inside, he is very crafty and can finish with either hand. He is a tough, active player who creates havoc on the defensive end with his quick, disruptive hands. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Kasey-Walker.jpg" rel="attachment wp-att-73752"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Kasey-Walker-300x200.jpg" alt="Kasey Walker" width="300" height="200" class="aligncenter size-medium wp-image-73752" /></a></td>
			<td>Walker, Kasey</td>
			<td>12</td>
			<td>Kasey is a very good athlete. He couples his athleticism with his work ethic in order to affect the game on both ends of the court. He has quick hands which allow him to be disruptive in the passing lanes.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Richie-Whigham.jpg" rel="attachment wp-att-73780"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Richie-Whigham-300x200.jpg" alt="Richie Whigham" width="300" height="200" class="aligncenter size-medium wp-image-73780" /></a></td>
			<td>Whigham, Richie</td>
			<td>9</td>
			<td>Richie is a tough player who is always competing. He has a high basketball IQ and has a great feel for the game. Richie showed the ability to consistently knock down shots when he has time and space.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Nicholas-Whitaker.jpg" rel="attachment wp-att-73773"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Nicholas-Whitaker-300x200.jpg" alt="Nicholas Whitaker" width="300" height="200" class="aligncenter size-medium wp-image-73773" /></a></td>
			<td>Whitaker, Nicolas</td>
			<td></td>
			<td>Nicolas is an explosive athlete who possesses a quick first step, which allows him to penetrate the paint. He is at his best in transition where he can create easy baskets for himself and his teammates. He uses his athleticism well around the basket to grab rebounds. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Christian-Williams.jpg" rel="attachment wp-att-73682"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Christian-Williams-300x200.jpg" alt="Christian Williams" width="300" height="200" class="aligncenter size-medium wp-image-73682" /></a></td>
			<td>Williams, Christian</td>
			<td>12?</td>
			<td>Christian has good size for his position and uses his size to compete down low. He is an excellent rebounder on both ends of the floor. Christian plays hard on every play and never takes a possession off.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Jeff-Williams.jpg" rel="attachment wp-att-73739"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Jeff-Williams-300x200.jpg" alt="Jeff Williams" width="300" height="200" class="aligncenter size-medium wp-image-73739" /></a></td>
			<td>Williams, Jeff</td>
			<td>9</td>
			<td>Jett is an athletic player who uses that trait to his advantage on both ends of the court. He is an active defender and consistently causes havor for his opponent. He is a solid rebounder who looks to push the ball in transition.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Markus-Wilson.jpg" rel="attachment wp-att-73762"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Markus-Wilson-300x200.jpg" alt="Markus Wilson" width="300" height="200" class="aligncenter size-medium wp-image-73762" /></a></td>
			<td>Wilson, Markus</td>
			<td></td>
			<td>Markus is an athletic forward who runs the court very well. His best offensive attribute is his ability to drive off the catch and finish at the rim. He is an active rebounder and is always looking to outwork his opponent.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2016/04/Sterling-Young.jpg" rel="attachment wp-att-73790"><img src="https://hoopgroup.com/wp-content/uploads/2016/04/Sterling-Young-300x200.jpg" alt="Sterling Young" width="300" height="200" class="aligncenter size-medium wp-image-73790" /></a></td>
			<td>Young, Sterling</td>
			<td>9</td>
			<td>Sterling competes hard on both ends of the court. He is a heady player who looks for his teamamtes and plays unselfish basketball. He couples a tight handle with a high basketball IQ.</td>
		</tr>
	</tbody>
</table>
