<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Player Name</td>
			<td>Year/School</td>
			<td>Evaluation</td>
		</tr>
		<tr>
			<td>James Felton</td>
			<td>2019</td>
			<td>Strengths: Superb athlete with the ability to create and make plays with an explosive first step. Unselfish and can penetrate the paint. 

Weaknesses: Can improve his offensive game by developing his jump shot. </td>
		</tr>
		<tr>
			<td>Danny Lorenzo</td>
			<td>2021</td>
			<td>Strengths: Point guard that controlled the tempo of the game. Very unselfish and finds his teammates. Makes the right play. 

Weaknesses: Will become more of an offensive threat by being confident with the ball to attack the defense and score. </td>
		</tr>
		<tr>
			<td>Oumar Koureissi</td>
			<td>2019</td>
			<td>Strengths: Long, active player with solid ball handling skills. Nice shot out to 18 feet. 

Weaknesses: Will become a well rounded player by making better decisions on the offensive end. </td>
		</tr>
		<tr>
			<td>Max Grassman</td>
			<td>2020</td>
			<td>Strengths: Athletic player with good court vision and finds his teammates in transition. Can score the ball but looks for open teammates first. 

Weaknesses: Will improve his offensive game by attacking with either hand. </td>
		</tr>
		<tr>
			<td>Kendall Ogiovie</td>
			<td>2018</td>
			<td>Strengths: Strong bodied player who uses his body to absorb contact and finish strong at the basket. Does a great job in transition with or without the ball. 

Weaknesses: Needs to improve his decision making in order to let plays develop and reduce turnovers. </td>
		</tr>
		<tr>
			<td>Noah Wills-Johnston</td>
			<td>2017</td>
			<td>Strengths: Strong bodied player who crashes the boards very well. Stretches the defense with his 3 point shot. 

Weaknesses: Needs to focus on staying under control and in control of his speed. </td>
		</tr>
		<tr>
			<td>Michael Green</td>
			<td>2022</td>
			<td>Strengths: Good shooter who has solid ball handling skills. Makes good decisions. 

Weaknesses: Will greatly improve his defensive game by focusing on keeping his opponent in front of him. </td>
		</tr>
		<tr>
			<td>Keion Barran</td>
			<td>2018</td>
			<td>Strengths: Strong defender with a solid understanding of the game. Good ball handling skills and is able to get to the basket. 

Weaknesses: Will become harder to guard if he develops his shot and shooting range. </td>
		</tr>
		<tr>
			<td>Antoine Darden</td>
			<td>2018</td>
			<td>Strengths: Smart player with a nice shot. Demonstrated strong passing skills. 

Weaknesses: Can improve his offensive game by developing his ball handling skills. </td>
		</tr>
		<tr>
			<td>Elvys Ceballos</td>
			<td>2019</td>
			<td>Strengths: Tough, physical player with the ability to get to the basket and finish through contact. Can defend multiple positions and plays with energy. 

Weaknesses: Will become a more versatile scorer by developing his outside shot. </td>
		</tr>
		<tr>
			<td>Will Crenend</td>
			<td>2020</td>
			<td>Strengths: Good on ball defender who is also a good passer with great court vision. Can shoot the ball from mid range. 

Weaknesses: Can elevate his offensive game by developing his shot and range. </td>
		</tr>
		<tr>
			<td>Timmy Moran</td>
			<td>2019
Churchill</td>
			<td>Strengths: Great facilitator and penetrator to score or dish. Moves well off the ball creating space for cuts to the basket. 

Weaknesses: Can improve his offensive game by working on his pull up jump shot and 3 point shot off of the bounce. </td>
		</tr>
		<tr>
			<td>Ricardo Dominguez</td>
			<td>2018</td>
			<td>Strengths: All around player with the ability to drive and score off of the catch or off of dribble moves. Can shoot the 3. 

Weaknesses: Will become harder to guard if he develops a consistent 3 point shot. </td>
		</tr>
		<tr>
			<td>Dylan Davis</td>
			<td>2020</td>
			<td>Strengths: Strong combo guard with good ball handling and passing skills. Can get to the basket and is an active rebounder. 

Weaknesses: Can elevate his offensive game by focusing on finishing in traffic. </td>
		</tr>
		<tr>
			<td>Anthony Lopez</td>
			<td>2020</td>
			<td>Strengths: Quick guard with good shooting ability. Stays confident in his shot. 

Weaknesses: Needs to get stronger in order to be more effective in getting to the basket. </td>
		</tr>
		<tr>
			<td>Sean Donnellan</td>
			<td>2019
Eastchester</td>
			<td>Strengths: All around guard who can score by pull up jump shot, catch and shoot 3, and finishes at the rim. Sets great pace. 

Weaknesses: Can elevate his offensive game by being more aggressive and attacking the basket to score. </td>
		</tr>
		<tr>
			<td>Jarick Giles</td>
			<td>2018</td>
			<td>Strengths: Tough player who attacks the rim well and the glass. Finds the open teammate. 

Weaknesses: As he develops a stronger non dominant hand, he will be harder to guard. </td>
		</tr>
		<tr>
			<td>Jamal Hussein</td>
			<td>2018</td>
			<td>Strengths: Active player with and without the ball. Looks for his teammates in transition. Great at changing speed with his dribble. 

Weaknesses: Will become more of an offensive threat by working and trusting his jump shot and mid range game. </td>
		</tr>
		<tr>
			<td>Najee Joyner</td>
			<td>2019
Burlington Township</td>
			<td>Strengths: Excellent athlete and teammate. Great rebounder and shot blocker. 

Weaknesses: Will become more of an offensive threat by developing a perimeter shot. </td>
		</tr>
		<tr>
			<td>Alex Brodsky</td>
			<td>2017
Dwight Englewood</td>
			<td>Strengths: Long wing with solid ball handling skills. Finishes well in traffic and uses his length to get his shot off. Hustle player. 

Weaknesses: Needs to work on keeping his head in the game as he is very valuable on the floor. </td>
		</tr>
		<tr>
			<td>Muhammadou Diokhane</td>
			<td>2018
Moore Catholic</td>
			<td>Strengths: Tough, physical player with excellent form on his jump shot. Good ball handling skills. 

Weaknesses: Should work on his quickness in order to keep defenders in front of him and run the floor. </td>
		</tr>
		<tr>
			<td>Hector Mighty</td>
			<td>2018
Queens HS of Language Studies</td>
			<td>Strengths: Very quick player on both ends of the floor. Moves very well without the ball. Tough defender and capable scorer. 

Weaknesses:  Will greatly improve his offensive game by being more assertive. </td>
		</tr>
		<tr>
			<td>Joseph Mccoy</td>
			<td>2018
Tottenville</td>
			<td>Strengths: Excellent lead guard with great court vision allowing him to set the tempo. Finds the open man and can create for himself. Very tough and athletic. 

Weaknesses: Will be harder to guard by focusing on moving without the ball and creating space. </td>
		</tr>
		<tr>
			<td>Christian Watanabe</td>
			<td>2018
Weston</td>
			<td>Strengths: Quick, crafty guard with great ball handling skills and good court vision. Excellent at using the ball screen to score or distribute. Uses his feet to keep opponents in front of him. 

Weaknesses: Needs to get stronger in order to finish through contact. </td>
		</tr>
		<tr>
			<td>Braden Storms</td>
			<td>2019
Brooklyn Law &amp; Tech</td>
			<td>Strengths: Great shooter who spaces the floor well in transition. Solid understanding of the game. 

Weaknesses: Can work on being more aggressive going to the basket in transition in order to be seen as a more versatile scorer. </td>
		</tr>
		<tr>
			<td>Damon Calcada</td>
			<td>2017
Rockaway Park</td>
			<td>Strengths: Aggressive shooter with a quick release. Can shoot it off the bounce or catch. Very comfortable in transition and can finish with his off-hand. 

Weaknesses: Improving his court vision will bring his offensive game to the next level. </td>
		</tr>
		<tr>
			<td>Lucas Olshevski</td>
			<td>2017
Robbinsville</td>
			<td>Strengths: Post player with good footwork on the defensive end. Uses his size and strength on the glass and in the post. 

Weaknesses: Can elevate his offensive game by extending the range on his face up jumper and improving his foot speed. </td>
		</tr>
		<tr>
			<td>Jeffrey Hudson</td>
			<td>2017
Berkeley Carroll</td>
			<td>Strengths: Big forward with the ability to rebound, move, pass, and step out. Very tough in the paint. 

Weaknesses: Will become harder to guard by utilizing his off-hand in the paint. </td>
		</tr>
		<tr>
			<td>Ethan Brady</td>
			<td>2018
Regis</td>
			<td>Strengths: Fearless guard with the ability to attack the basket and finish through contact. Makes good decisions and finds the open man. Utilizes ball fakes and shot fakes to move the defense. 

Weaknesses: Needs to further develop his pull up jump shot in order to become a more versatile scorer. </td>
		</tr>
		<tr>
			<td>Jordan Christopher</td>
			<td>2017</td>
			<td>Strengths: Athletic wing who uses his size and strength to get into the lane and score or dish to teammates. Plays hard on the defensive end. 

Weaknesses: Can greatly improve his game by working on his ball handling skills and developing a more consistent shot. </td>
		</tr>
		<tr>
			<td>Emile Marsh</td>
			<td>2020</td>
			<td>Strengths: Scrappy guard with a smooth jump shot. Very hard worker and hustle player. Active on the glass. 

Weaknesses: Will be more of a well rounded player by improving his decision making. </td>
		</tr>
		<tr>
			<td>Caleb Scrime</td>
			<td>2018
Lake George High School</td>
			<td>Strengths: Long wing with great defensive pressure. Uses his quickness and length to get into passing lanes and rebounds. Very good at catch and shoot 3. 

Weaknesses: Will become harder to guard by improving his ball handling skills. </td>
		</tr>
		<tr>
			<td>Aidan Ostermaier</td>
			<td>2017
Elisabeth Irwin</td>
			<td>Strengths: Big, physical post player with good shooting touch. Plays great off ball defense. High energy and toughness player. 

Weaknesses: Can improve both sides of his game by working on his quickness and foot speed. </td>
		</tr>
		<tr>
			<td>Marquis Sena</td>
			<td>2017
Collegiate Institute for Math &amp; Sciences</td>
			<td>Strengths: High energy guard with the ability to get by his defenders. Moves well without the ball. Very active on ball defender, forcing turnovers. 

Weaknesses: Will become a versatile scorer by developing his outside shot. </td>
		</tr>
		<tr>
			<td>Jelani Williams</td>
			<td>2017
Mt. St. Josephs (VT)</td>
			<td>Strengths: Strong forward with the ability to rebound and guard multiple positions. Impressive motor and is a matchup problem because of his size and strength. 

Weaknesses: Can elevate his game by working on his quickness. </td>
		</tr>
		<tr>
			<td>Kayin Olajide</td>
			<td>2017
NYC iSchool</td>
			<td>Strengths: Long wing with the natural ability to get to the basket and finish through contact. Uses his length to rebound and create defensive pressure. 

Weaknesses: Will become a more complete player as he develops his outside shot. </td>
		</tr>
		<tr>
			<td>Zack Jacobs</td>
			<td>2017
Canterbury School</td>
			<td>Strengths: Quick point guard with good ball handling skills. Capable of knocking down the open 3. Communicates well, finds the open teammate, and sets the tempo. 

Weaknesses: Can elevate his offensive game by working on his ability to create off of the dribble. </td>
		</tr>
		<tr>
			<td>Iziah Pigott</td>
			<td>2019
Adams Street Academy</td>
			<td>Strengths: Solid guard with good ball handling skills to create for himself or teammates. Drives into the lane easily. Pressures defensively using his length and quickness. 

Weaknesses: Can further develop his perimeter shot in order to make him harder to guard. </td>
		</tr>
		<tr>
			<td>Max Gieselmann</td>
			<td>2020
Ridgewood High School</td>
			<td>Strengths: High IQ guard who demonstrated a confident jump shot out to the 3 point line. Always makes the right play. 

Weaknesses: Needs to work on his ball handling skills in order to stay calm under pressure. </td>
		</tr>
		<tr>
			<td>Kevin Hinter</td>
			<td>2018
Livingston High School</td>
			<td>Strengths: Solid combo guard with an exceptional shot with good elevation and range. Finds open teammates and makes the right pass. Solid ball handling skills.

Weaknesses: Can improve his offensive game by continuing to develop his non dominant hand. </td>
		</tr>
		<tr>
			<td>Dominick Arcodia</td>
			<td>2017
Valley Stream South</td>
			<td>Strengths: Active rebounder on both ends of the floor. Strong defensive presence coming from his toughness. Good ball handling skills to help break the press. 

Weaknesses: Needs to assert himself more on the offensive end in order to become a bigger threat. </td>
		</tr>
		<tr>
			<td>Deondre Bourne</td>
			<td>2017
Leman</td>
			<td>Strengths: Long player with the ability to attack the paint easily. Can make shots off of the catch and off of the dribble. Range extends beyond the 3 point line. 

Weaknesses: Can bring his game to another level by getting stronger which he can utilize on both ends of the floor. </td>
		</tr>
		<tr>
			<td>Brett Talbert</td>
			<td>2018
Deer Park</td>
			<td>Strengths: Great ball handler who uses his handle and change of speed in both the full court and half court. Has the ability to knock down shots off of the dribble.

Weaknesses: Should focus on getting stronger in order to finish through contact in the lane. </td>
		</tr>
		<tr>
			<td>Kenjee Polanco</td>
			<td>2019
Paramus Catholic</td>
			<td>Strengths: Active player on both ends of the floor. Finishes well in the lane and has range out past the 3 point line. Gets his teammates involved. 

Weaknesses: Needs to improve his court vision and passing skills in order to keep the defense from making steals. </td>
		</tr>
		<tr>
			<td>Thomas Milana</td>
			<td>2019
St. Anthony's</td>
			<td>Strengths: Great passer who finds his teammates for open shots. Draws contact in the lane for easy points. Moves well laterally, allowing him to keep his man in front of him. 

Weaknesses: Can improve his defensive game by keeping his feet on the floor in order to avoid fouling. </td>
		</tr>
		<tr>
			<td>Tyler Cambrelen</td>
			<td>2018
LaSalle Academy</td>
			<td>Strengths: Athletic wing who is very active on the defensive end. Finds the open man when he gets into the lane. Plays well with his teammates. 

Weaknesses: Needs to focus on slowing down and staying in control in certain situations to allow for plays to develop. </td>
		</tr>
		<tr>
			<td>Chase Belden</td>
			<td>2017
Pomperaug High School</td>
			<td>Strengths: Great decision maker in transition by drawing the defense and finding the open teammate. Good shooting stroke. Uses his quick hands to deflect passes. 

Weaknesses: Can improve his ball handling skills which will allow him to score in multiple ways. </td>
		</tr>
		<tr>
			<td>Derek Cunningham</td>
			<td>2017
Bay Ridge Prep</td>
			<td>Strengths: Good on ball defender. Passes the ball well and has a nice shot.

Weaknesses: Can still improve his shooting range in order to stretch the defense. </td>
		</tr>
		<tr>
			<td>David Jesus</td>
			<td>2018
Chelsea CTE</td>
			<td>Strengths: Nice shooter with good speed. Active on the offensive end. 

Weaknesses: Can improve his defensive game by working on his lateral quickness to keep opponents in front of him. </td>
		</tr>
		<tr>
			<td>Aaron Weeks</td>
			<td>2019
Westington House</td>
			<td>Strengths: Good decision maker with a solid understanding of the game. Speedy player with good ball handling skills. 

Weaknesses: Can become a well rounded player by developing his shot. </td>
		</tr>
		<tr>
			<td>Shawn Smith</td>
			<td>2017
Montclair High School</td>
			<td>Strengths: Good ball handler with good court vision. Passes the ball well in transition. 

Weaknesses: Can improve his offensive game by focusing on his footwork and his shooting ability. </td>
		</tr>
		<tr>
			<td>Constantion Kosmidis</td>
			<td>2018
St. Francis Prep</td>
			<td>Strengths: High IQ player with the ability to shoot the ball from 3 point range and finish inside. Good passer.

Weaknesses: Improving his ball handling skills and court vision will make him more of a complete player. </td>
		</tr>
		<tr>
			<td>Ryan Michaels</td>
			<td>2019
G Ray Bodley</td>
			<td>Strengths: Good rebounder with the ability to shoot the 3 from range. 

Weaknesses: Can greatly improve his offensive game by developing his ball handling skills. </td>
		</tr>
		<tr>
			<td>Bryce Nash</td>
			<td>2018
Old Tappan</td>
			<td>Strengths: Solid player with the ability to rebound the ball well. Handles and passes the ball well. Very quick. 

Weaknesses: Can become a more versatile scorer by working on his shot. </td>
		</tr>
		<tr>
			<td>Jalen Cultess</td>
			<td>2017
Anderson CVI</td>
			<td>Strengths: Guard with good court vision and understanding of the game. Passes and handles the ball well. 

Weaknesses: Developing his perimeter shot will improve his offensive game. </td>
		</tr>
		<tr>
			<td>EJ Hernandez</td>
			<td>2018
</td>
			<td>Strengths: High IQ player who makes very smart decisions. Good passing ability and finds the open man. 

Weaknesses: Can improve his offensive game by working on his shot. </td>
		</tr>
		<tr>
			<td>Isaac McIntosh</td>
			<td>2018
Bushwick</td>
			<td>Strengths: Bigger guard with the ability to finish at the rim through contact. Can handle the ball well with his speed. 

Weaknesses: Can become more of an offensive threat by developing his shooting ability and range. </td>
		</tr>
		<tr>
			<td>Jahdiel Wilson</td>
			<td>2019
Frank McCourt</td>
			<td>Strengths: Strong finisher at the basket to go along with his solid shooting ability. Makes the right pass. 

Weaknesses: Can elevate his defensive game by improving his on ball defense. </td>
		</tr>
		<tr>
			<td>Timothy Algenio</td>
			<td>2017
Bergen Catholic</td>
			<td>Strengths: Smart player with solid ball handling skills. Has good floor vision to go along with great speed. 

Weaknesses: Can improve his offensive game by developing his outside shot. </td>
		</tr>
		<tr>
			<td>Devine Chisholm</td>
			<td>2018
John Dewey High School</td>
			<td>Strengths: Good ball handler to go along with his strong drive to the basket. Has a nice pull up jump shot. 

Weaknesses: Can improve his defense by focusing on his on ball defending and pressuring his opponent. </td>
		</tr>
		<tr>
			<td>Nicholas Dover</td>
			<td>2018
West Orange</td>
			<td>Strengths: Guard with good ball handling skills and speed. Has great court vision and makes good decisions. 

Weaknesses: Can become a versatile scorer by developing a consistent shot. </td>
		</tr>
		<tr>
			<td>Matt Streeter</td>
			<td>2018
St. Francis Prep</td>
			<td>Strengths: High IQ player who passes to open teammates well. Active without the ball. 

Weaknesses: Can improve his offensive game by working on his perimeter shot. </td>
		</tr>
		<tr>
			<td>Taylor Gaffney</td>
			<td>2017
Wantagh</td>
			<td>Strengths: Hard working forward who can rebound and pass well. Can step out and shoot the 3 and finish inside. Great work ethic. 

Weaknesses: Can improve his offensive and defensive game by working on his quickness and speed. </td>
		</tr>
		<tr>
			<td>Jacob Roth</td>
			<td>2019
McDowell Friends</td>
			<td>Strengths: High energy, relentless player. Takes the ball to the basket hard. True competitor and finishes well at the basket. Solid dribbling and passing skills. 

Weaknesses: Developing a pull up jump shot will make him more of an offensive threat. </td>
		</tr>
		<tr>
			<td>Himan Sawadogo</td>
			<td>2018
Comprehensive Model School Project </td>
			<td>Strengths: Combo guard who dribbles and passes well on the break. Can get to the basket on his own. Rebounds and plays active defense. 

Weaknesses: Can become more difficult to guard by finishing with his non dominant hand. </td>
		</tr>
		<tr>
			<td>Souleymane Koureissi</td>
			<td>2018
Iona Prep</td>
			<td>Strengths: Skilled, well rounded forward with great court vision and passing skills. Rebounds and runs the court well. 

Weaknesses: Can elevate his game by developing tighter ball handling skills and on ball defending. </td>
		</tr>
		<tr>
			<td>Tommy Thomas</td>
			<td>2019
Wings Academy</td>
			<td>Strengths: Slashing forward with a great first step to get to the basket. Utilizes his long arms on the boards and finishes at the rim. 

Weaknesses: Can become a more complete player by working on his perimeter shot. </td>
		</tr>
		<tr>
			<td>Marlon James</td>
			<td>2017
South Shore High School</td>
			<td>Strengths: Solid point guard with the abilities to handle and pass the ball. Likes to set up teammates but can score. Hustle player. 

Weaknesses: Can look for his shot more often to keep teams honest. </td>
		</tr>
		<tr>
			<td>Tamaj Coleman</td>
			<td>2017
J.F. Kennedy High School</td>
			<td>Strengths: Point guard who can run a team. Great dribbling and speeds through press defenses. Finds the open man off of penetration and on the break. 

Weaknesses: Will keep defenders honest by developing a pull up jump shot. </td>
		</tr>
		<tr>
			<td>Nick Ovanessian</td>
			<td>2018
St. Francis Prep</td>
			<td>Strengths: High energy forward with the ability to finish inside. Good passing skills and finds the open man. Active rebounder on both ends. 

Weaknesses: Can become a more versatile scorer by developing a consistent outside shot. </td>
		</tr>
		<tr>
			<td>Raven Merritt</td>
			<td>2019
Urban Assembly</td>
			<td>Strengths: Long, athletic wing with a great first step to score at the rim. Very good touch at the basket. Big energy player on the glass. 

Weaknesses: Should focus on developing tighter ball handling skills to protect the ball. </td>
		</tr>
		<tr>
			<td>Austin James</td>
			<td>2018
Canisius High School</td>
			<td>Strengths: Exceptional athlete who finishes well at the rim. Great rebounder on the offensive glass. Uses the shot fake well to attack the defense. 

Weaknesses: Can elevate his offensive game by becoming more confident in his jump shot. </td>
		</tr>
		<tr>
			<td>Dante Conley-Leonardi</td>
			<td>2020
Barack</td>
			<td>Strengths: Solid guard with a great mid range game. Very good pull up jump shot and floater. 

Weaknesses: Needs to work on developing confident ball handling skills in order to get by his opponent. </td>
		</tr>
		<tr>
			<td>Ethan Brooks</td>
			<td>2020
Iona Prep School</td>
			<td>Strengths: Competitor on both ends of the floor. Finishes well in traffic. 

Weaknesses: Can become more of an offensive threat by focusing on his shooting ability. </td>
		</tr>
		<tr>
			<td>Jalen Barr</td>
			<td>2017
Archbishop Stepinac High School</td>
			<td>Strengths: Strong, aggressive offensive player who likes to score with contact and draw the foul. Great touch around the rim. Good on ball defender by containing opponent. 

Weaknesses: Can keep defenders honest by developing a jump shot. </td>
		</tr>
		<tr>
			<td>Noah Folk</td>
			<td>2018
Brooklyn School for Math and Research</td>
			<td>Strengths: Solid guard with a good 3 point shot. Sprints the floor and moves well without the ball. Great pull up jump shot. 

Weaknesses: Can become more of an offensive threat by working on his ball handling skills. </td>
		</tr>
		<tr>
			<td>Isaiah Adams</td>
			<td>2020
Roselle Catholic</td>
			<td>Strengths: Athletic, active guard on both ends of the floor. Moves well without the ball and has great court vision. Looks to make the right play. 

Weaknesses: Can elevate his offensive game by improving his pull up jump shot. </td>
		</tr>
		<tr>
			<td>Daniel Lans</td>
			<td>2021
Arthur Barr</td>
			<td>Strengths: Quick guard that pushes the tempo to score or find the open man. Active defenders that likes to create turnovers to easy points. 

Weaknesses: Can improve his decision making ability by understanding when to slow the tempo. </td>
		</tr>
		<tr>
			<td>Cashmir Paul</td>
			<td>2017
Hamilton West</td>
			<td>Strengths: Competitive, hard working guard on both ends of the floor. Athletic with a quick first step to the rim. Finishes through contact. 

Weaknesses: Can elevate his offensive game by developing a consistent jump shot. </td>
		</tr>
		<tr>
			<td>Joshua Lugo</td>
			<td>2019
Mount St. Michael Academy</td>
			<td>Strengths: Athletic player with great shot altering ability. A great finisher at the basket and has a never ending motor. 

Weaknesses: Will become a match up problem when he develops his shooting touch and range. </td>
		</tr>
		<tr>
			<td>Alex Sabastiani</td>
			<td>2017
River Dell</td>
			<td>Strengths: Strong forward with a good motor. Uses his length on the glass and on the defensive end. Can make the catch and shoot 3. 

Weaknesses: Should focus on improving his ball handling skills in order to make him more of an offensive threat. </td>
		</tr>
		<tr>
			<td>Tavon Hines</td>
			<td>2017
Curtis High School</td>
			<td>Strengths: Long, quick guard with creative drives and finishes. Attacks the rim well and finds the open man. Rebounds well for his size. 

Weaknesses: Needs to focus on getting stronger in order to finish his drives through contact. </td>
		</tr>
		<tr>
			<td>Brendan Powell</td>
			<td>2018
Montclair Kimberley Academy</td>
			<td>Strengths: Exceptional off the ball defender. Consistently makes the right play and can creatively finish at the rim. Solid understanding with using a ball screen. 

Weaknesses: His game will become more complete by continuing to develop a consistent shot. </td>
		</tr>
		<tr>
			<td>John Petillo</td>
			<td>2017
Saint Francis Prep</td>
			<td>Strengths: Smart player with the ability to handle the ball and create for either himself or teammates. Uses his body well on finishes. Makes the smart pass. 

Weaknesses: Should focus on improving his quickness on both the offensive and defensive end of the floor. Will make him a more complete player. </td>
		</tr>
		<tr>
			<td>Jordan Hall</td>
			<td>2020
Middle Township</td>
			<td>Strengths: Skilled player with strong ball handling skills. High IQ of the game. Very complete offensive game. 

Weaknesses: Can develop a more consistent shot which will make it difficult for defenders to stop him. </td>
		</tr>
		<tr>
			<td>Paul Somma</td>
			<td>2017
Lafayette Educational</td>
			<td>Strengths: Quick, team player with exceptional vision and passing skills. Able to create off the dribble and dish to teammates. 

Weaknesses: Developing a consistent shot will round out his offensive game. </td>
		</tr>
		<tr>
			<td>Tahzee' Robinson</td>
			<td>2019
St. Raymond's </td>
			<td>Strengths: Hard worker who demonstrates the ability to be a very good on ball defender. Uses his strength on both ends of the floor. 

Weaknesses: Can improve his ball handling skills which will lead the ability to drive to the basket. </td>
		</tr>
		<tr>
			<td>Terrin Roy</td>
			<td>2017
Lawrence Woodmere</td>
			<td>Strengths: Athletic combo guard with a high basketball IQ. Strong drives to the basket with strong finishes. 

Weaknesses: Can improve his ball handling and court vision in order to become a more complete player. </td>
		</tr>
		<tr>
			<td>John Alimo</td>
			<td>2017
Valley Stream North High School</td>
			<td>Strengths: All around athlete with good size and strength. Finishes well going to the hoop, utilizing his strength to finish through contact. 

Weaknesses: Can become a more versatile scorer by working on his shot and pull up jump shot. </td>
		</tr>
		<tr>
			<td>Cyrus Slavin</td>
			<td>2019
Trevor Day</td>
			<td>Strengths: Smart player with a solid understanding of the game. Rebounds and passes well. Active without the ball. 

Weaknesses: Can develop his jump shot in order to create more scoring opportunities. </td>
		</tr>
		<tr>
			<td>Gabe Silvera</td>
			<td>2017
West Orange</td>
			<td>Strengths: Great all around point guard with great speed. Great court awareness and dishes to open teammates. Can finish at the rim through contact or with a pull up jump shot. 

Weaknesses: Can elevate his offensive game by extending his shooting range. </td>
		</tr>
		<tr>
			<td>Peter Degaetano</td>
			<td>2017
Saddle River Day</td>
			<td>Strengths: Unselfish player who shares the ball with his teammates. Good shooter. Active without the ball. 

Weaknesses: Improving his ball handling skills will greatly improve his offensive game. </td>
		</tr>
		<tr>
			<td>Rasheed Constant</td>
			<td>2019
Trinity Catholic High School</td>
			<td>Strengths: Great on ball defender. Strong ball handling skills and is a good decision maker. 

Weaknesses: Can improve his offensive game by developing a consistent jump shot. </td>
		</tr>
		<tr>
			<td>Andrew Fisch</td>
			<td>2019
York Prep</td>
			<td>Strengths: Active player who moves well without the ball. Has a nice shot. 

Weaknesses: Can improve his ball handling skills which will elevate his offensive game. </td>
		</tr>
		<tr>
			<td>Alieu Danso</td>
			<td>2017
KIPP College Prep</td>
			<td>Strengths: Strong ball handler with the ability to make the extra pass. Has good court vision. 

Weaknesses: Can become more of an offensive threat by extending his shooting range. </td>
		</tr>
		<tr>
			<td>Joshua William Galloway</td>
			<td>2017
Roy C Ketcham High School</td>
			<td>Strengths: Long forward with great hands on the glass. Runs the floor well and can finish. Good shot blocking ability. 

Weaknesses: Needs to develop a "go to" move in the paint in order to be an offensive threat. </td>
		</tr>
		<tr>
			<td>Kamauli Charles</td>
			<td>2019
Frederick Douglass 2</td>
			<td>Strengths: Inside, strong forward with active rebounding abilities. Runs the floor and can finish through contact. Very hard worker. 

Weaknesses: Finishing on post ups will bring his game to the next level. </td>
		</tr>
		<tr>
			<td>Joshua Garrett</td>
			<td>2017
All Hallows</td>
			<td>Strengths: Quick player with the capabilities to pass, shoot, and dribble. Finishes well at the rim and is active on the glass. 

Weaknesses: Needs to get stronger in order to finish through contact at the rim. </td>
		</tr>
		<tr>
			<td>Rushaun Rankine</td>
			<td>2017
Jamaica Gateway to the Sciences</td>
			<td>Strengths: Combo guard with the ability to finish on the break. Active rebounder and is able to defend multiple positions. Solid ball handling skills. 

Weaknesses: Developing  a consistent 3 point shot will round out his game. </td>
		</tr>
		<tr>
			<td>William Feldman</td>
			<td>2018
Riverdale Kingsbridge Academy</td>
			<td>Strengths: Skilled point guard with an excellent crossover hesitation to get to the rim. Great court vision and hits the open man. Great leader. 

Weaknesses: Can become a more versatile scorer by extending his shooting range. </td>
		</tr>
		<tr>
			<td>Nicholas Sabella</td>
			<td>2019
St. Anthony's </td>
			<td>Strengths: Combi guard with a quick first step to the basket. Very good on ball defender. Strong, fast drives. 

Weaknesses: Can bring his game to the next level by improving his ball handling skills and developing his 3 point shot. </td>
		</tr>
		<tr>
			<td>Calvin Soloman</td>
			<td>2018
Flint Hill</td>
			<td>Strengths: All around point guard with the ability to dribble, shoot, and pass. Uses dribble moves to get to the basket and can finish with either hand. 

Weaknesses: Can improve his offensive game by working on his pull up jump shot off of the dribble. </td>
		</tr>
		<tr>
			<td>Christoph Sauerborn</td>
			<td>2020
Horace Greeley High School</td>
			<td>Strengths: Point guard with great court vision who makes good decisions. Can finish with either hand and has shown strong ball handling skills. 

Weaknesses: Developing a consistent 3 point shot and gaining speed will enable him to round out his game. </td>
		</tr>
		<tr>
			<td>Michael Gannon</td>
			<td>2018
Smithtown West</td>
			<td>Strengths: Solid forward with good speed. Can dribble, pass, and shoot. Rebounds the ball and can finish off of drives or hit the open shot. 

Weaknesses: Improving his ball handling skills will make him more of a complete player. </td>
		</tr>
		<tr>
			<td>William Finnie</td>
			<td>2017
Franklin D. Roosevelt</td>
			<td>Strengths: Well rounded player who can shoot outside and drive to the basket. Gets rebounds and moves well without the ball. 

Weaknesses: Can elevate his offensive game by utilizing his non dominant hand on drives to the basket. </td>
		</tr>
		<tr>
			<td>Billy Lockhart </td>
			<td>2018
Foundation Academy</td>
			<td>Strengths: Shooting guard with a high basketball IQ. Can handle the ball to get by defenders who rush out at his shot. 

Weaknesses: Can finish through contact on his drives by getting stronger. </td>
		</tr>
		<tr>
			<td>Naishawn Campbell</td>
			<td>2018
All Hallows</td>
			<td>Strengths: True point guard who runs the team. Great court vision and passing skills. Good finishes going right. 

Weaknesses: Developing an outside shot would make him a more effective offensive player. </td>
		</tr>
		<tr>
			<td>Balla Cisse</td>
			<td>2017
A Phillip Randolph</td>
			<td>Strengths: Great pass first point guard. Runs the team and finds the open man. Good ball handling skills and can get through the press. 

Weaknesses: Should look to score offensively in order to balance out his penetrating skills. </td>
		</tr>
		<tr>
			<td>Vincent Santo</td>
			<td>2017
Coleman Catholic</td>
			<td>Strengths: Good shooter with strong ball handling and passing skills. Can get by his man to finish in the lane. 

Weaknesses: Would be harder to guard by developing a consistent pull up jump shot. </td>
		</tr>
		<tr>
			<td>Kasaun Thomas</td>
			<td>2018
Lawrence Woodmere</td>
			<td>Strengths: Penetrating point guard with the ability to run the team and handle the ball. Can finish in the lane and dish to his teammates. 

Weaknesses: Can improve his shooting ability in order to keep defenders honest. </td>
		</tr>
		<tr>
			<td>Justin Hayes</td>
			<td>2019
LaSalle Academy</td>
			<td>Strengths: Strong driver who can finish against bigger guys. Handles and passes well off of his penetration. Grabs rebounds and can go the length of the court. 

Weaknesses: Can become a more versatile scorer by developing a consistent outside shot to counter his strong drives to the basket. </td>
		</tr>
		<tr>
			<td>Matthew Young</td>
			<td>2020
Chaminade High School</td>
			<td>Strengths: Skilled point guard with the ability to run a team. Good passer with great court vision. Active defender. 

Weaknesses: Can improve his offensive game by working on his perimeter shot. </td>
		</tr>
		<tr>
			<td>Zion Guzman-Milton</td>
			<td>2017
Valley Stream South</td>
			<td>Strengths: Excellent passer from the post and with outlet passes. Very active on the glass and plays hard on both sides of the ball. 

Weaknesses: Can look to be more aggressive in post ups in order to become a more versatile player. </td>
		</tr>
		<tr>
			<td>Jon Paul</td>
			<td>2017
Xavieran</td>
			<td>Strengths: Hard working guard who does a great job at drawing the foul and finishing at the rim. Great drive and kick player. 

Weaknesses: Should focus on slowing down on the offensive end in order to make improve decision making. </td>
		</tr>
		<tr>
			<td>Sean Conway</td>
			<td>2018
Fairfield Warde</td>
			<td>Strengths: Active, tough guard with a great feel for the game. High motor player who makes the right play by either scoring at the rim or dishing. 

Weaknesses: Can elevate his offensive game by being more aggressive in getting to the rim or taking the pull up jump shot. </td>
		</tr>
		<tr>
			<td>Christian Ascierto </td>
			<td>2019
Berkeley Carroll</td>
			<td>Strengths: Active, aggressive penetrator who is able to draw the foul. Good ball handling skills and controls the tempo. Active on both ends. 

Weaknesses: Develop a consistent jump shot to become a more versatile scorer. </td>
		</tr>
		<tr>
			<td>Jair Currie</td>
			<td>2019
Green Tech Charter High School</td>
			<td>Strengths: Athletic, explosive wing who excels in transition. Can finish well around the rim and off of the dribble. Finds his teammates with great court vision. 

Weaknesses: Can elevate his offensive game by developing a consistent jump shot. </td>
		</tr>
		<tr>
			<td>Jourdan Jamison</td>
			<td>2017
Bethpage High School</td>
			<td>Strengths: Unselfish guard with a pass first mentality. Runs the offense and gets the ball moving. Can knock down the open 3. 

Weaknesses: Needs to work on attacking the basket with his left hand in order to create more scoring opportunities. </td>
		</tr>
		<tr>
			<td>Jay Vaughan</td>
			<td>2018
Allentown Central Catholic</td>
			<td>Strengths: Great distributor who finds the open man and can score at the rim. Plays at great pace and has a great understanding of the game. 

Weaknesses: Can elevate his offensive game by improving his decision making and keeping his feet on the floor on passes. </td>
		</tr>
		<tr>
			<td>Isaiah Gray</td>
			<td>2019
Manhattan Hunter Science</td>
			<td>Strengths: 3 point shooter with great balance and form on his jump shot off of the dribble. Competes on both ends of the floor. 

Weaknesses: Can attack on both sides of the floor if he improves his ball handling skills. </td>
		</tr>
		<tr>
			<td>George P Alerte</td>
			<td>2019
Archbishop Molloy</td>
			<td>Strengths: Competitor with a motor on both ends of the floor. Active defender who makes the hustle plays. 

Weaknesses: Can look to improve his jump shot which will lead to more scoring opportunities. </td>
		</tr>
		<tr>
			<td>Jake Tavroff </td>
			<td>2020
Oceanside</td>
			<td>Strengths: Solid forward with great touch around the rim. Very active on the offensive and defensive glass. Creates 2nd chance opportunities and finishes through contact. 

Weaknesses: Can become a more versatile scorer by looking to score off of post ups or face ups. </td>
		</tr>
		<tr>
			<td>Elijah Wingfield</td>
			<td>2018
Southampton High School</td>
			<td>Strengths: Active, tough defender who will step in to take a charge. Creates opportunities for himself to get steals or deflections. Finishes well around the rim. 

Weaknesses: Can look to work on his mid range game with floaters and pull ups to make him a more versatile scorer. </td>
		</tr>
		<tr>
			<td>Jacob Gray</td>
			<td>2019
Susan E. Wagner High School</td>
			<td>Strengths: Hustle player who is not afraid to get on the floor. Competes for every rebound. 

Weaknesses: Can improve his offensive game by developing his ball handling skills. </td>
		</tr>
		<tr>
			<td>Camrin Allen</td>
			<td>2017
Saucon Valley High School</td>
			<td>Strengths: Quick guard with a great first step at attacking defenders to get into the paint to score. Great pull up game. 

Weaknesses: Can improve his shot selection which will lead to easier shots for him or his teammates. </td>
		</tr>
		<tr>
			<td>Matt Asenjo </td>
			<td>2017
Half Hollow Hills West</td>
			<td>Strengths: Solid guard who does a great job of attacking into the paint and finding the open man. Unselfish player with good court vision. Can knock down the open 3. 

Weaknesses: Can improve his passing by keeping his feet on the floor while in the paint. </td>
		</tr>
		<tr>
			<td>Bryce Dupree</td>
			<td>2020
Rutgers Prep School</td>
			<td>Strengths: Tough guard that can either drive or shoot the pull up jump shot off of the shot fake. Finishes well around the basket. 

Weaknesses: Can elevate his offensive game by utilizing his dribbling more efficiently. </td>
		</tr>
		<tr>
			<td>John Greco</td>
			<td>2020
Pascack Valley</td>
			<td>Strengths: Competitive player on both ends of the floor. Great at setting the tempo and finding open teammates with the pass. 

Weaknesses: Can improve his offensive game by looking to attack the basket. </td>
		</tr>
	</tbody>
</table>
