<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Grade</th>
			<th>Coaches Eval</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Aaron, Michael</td>
			<td>10</td>
			<td>Michael is an active player who plays with a high motor on both ends of the floor. Moves well without the ball on offense to get open shots. Can hit consistently out to the 3 ponit line.</td>
		</tr>
		<tr>
			<td>Andre, Jonathan</td>
			<td>12</td>
			<td>Jonathan runs the floor hard and got himself easy scoring opportunities. He has very good hands and handled the ball well in traffic. Showed his ability to hit open shots when setting his feet.</td>
		</tr>
		<tr>
			<td>Bajana, AJ</td>
			<td>12</td>
			<td>AJ is a really good athlete who has a great feel for the game. He plays a physical type of game and got after it on defense. Used his strength to get into the middle of the defense and finish around the basket.</td>
		</tr>
		<tr>
			<td>Battaglia, Vincent</td>
			<td>12</td>
			<td>Vincent has a quick first step when driving and can get by his defender. He can use either hand when attacking and finishing at the rim. Used his athleticism on defense to keep his man out of the paint.</td>
		</tr>
		<tr>
			<td>Beeson, Kyle</td>
			<td>12</td>
			<td>Kyle is very athletic and attacks the glass well. Has a consistent mid range jumper and gets into the middle of the defense for open looks.  Plays with a high motor and is an excellent offensive rebounder.</td>
		</tr>
		<tr>
			<td>Betlow, Jake</td>
			<td>9</td>
			<td>Jake is a lights out shooter who can hit from anywhere on the floor. He has a great feel for how plays are developing and when to attack the defense. Was one of the better ball handlers on the day.</td>
		</tr>
		<tr>
			<td>Bland, Robert</td>
			<td>9</td>
			<td>Robert is a real good athlete who uses his length to make plays. He has a great feel for the game and makes smart decisions. Showed his ability to hit open shots when he sets his feet.</td>
		</tr>
		<tr>
			<td>Blaylock, Christopher</td>
			<td>12</td>
			<td>Christopher is a strong defender who uses his length to alter opponents shots. He has a consistent jumpshot and can stretch the floor. Was able to play multiple spots on offense.</td>
		</tr>
		<tr>
			<td>Brown, Kyle</td>
			<td>10</td>
			<td>Kyle does a great job of stretching the floor with his ability to hit outside shots. He is a hard driver who attacks from the left side. Uses his strong body to finish through contact.</td>
		</tr>
		<tr>
			<td>Bruce, Mark</td>
			<td>9</td>
			<td>Mark is a strong, physical post who uses his body to create space around the rim. He has good footwork and keeps a wide base when posting up. Got after it on the boards all day. </td>
		</tr>
		<tr>
			<td>Cavanaugh, Jack</td>
			<td>9</td>
			<td>Jack has the ability to make tough shots and finish in traffic at the rim. Has a consistent shot out to the 3 point line. He has a very smooth release and sets his feet well on his shot.</td>
		</tr>
		<tr>
			<td>Chaney, Timothy</td>
			<td>10</td>
			<td>Timothy is very quick with the ball and can get by his defender and into the paint. He competes on the defensive end and works hard to keep his man out of the paint. Has very quick and active hands.</td>
		</tr>
		<tr>
			<td>Chapman, Elijah</td>
			<td>11</td>
			<td>Elijah is a quick guard that uses his dribble to get by his defender and into the paint. Attacked the rim hard and finished well in traffic. Has a very smooth release on his jumper.</td>
		</tr>
		<tr>
			<td>Chaucer, Alfredo</td>
			<td>9</td>
			<td>Alfredo is a strong big with good hands in traffic. He posts up well and did a good job of passing out of the post to open shooters. Takes up a lot of space in the paint on defense and had good timing when blocking shots.</td>
		</tr>
		<tr>
			<td>Connell, John</td>
			<td>11</td>
			<td>John makes the right play on offense to get his team easy baskets. He is very unselfish with the ball and gets his teammates involved. Knows where to be on defense and played help side.</td>
		</tr>
		<tr>
			<td>Council, Bryce</td>
			<td>11</td>
			<td>Bryce is a very speedy guard with excellent court vision. He is a pesky defender who challenged his man the entire floor. Used his quickness on defense to keep his man out of the paint.</td>
		</tr>
		<tr>
			<td>Dadika, Marc</td>
			<td>10</td>
			<td>Marc is a solid forward with a complete set of skills. He has a good set of moves on offense to score in a variety of ways. He runs the floor hard and rebounds on both ends of the court.</td>
		</tr>
		<tr>
			<td>Danthioko, Kassim</td>
			<td>11</td>
			<td>Kassim has a good handle with the ball and doesn't get flustered by pressure. Rebounds the ball well on both ends of the floor. Got himself second chance scoring opportunities.</td>
		</tr>
		<tr>
			<td>Danzy, Keneeff</td>
			<td>12</td>
			<td>Keneeff is a very smart defender and applies good ball pressure. Plays with a high motor and gets after it on every possession. He plays with good instincts and makes smart plays.</td>
		</tr>
		<tr>
			<td>Darden, Antonie</td>
			<td>12</td>
			<td>Antonie is a floor general on the court and lead his team on offense. He is very quick in getting the fast break started and advancing the ball in transition. Moves his feet well on defense to keep his man out of the paint.</td>
		</tr>
		<tr>
			<td>Davidson, Jordan</td>
			<td>10</td>
			<td>Jordan has good range and can consistently knock down outside shots. He did a great job of getting into passing lanes and getting steals. Moves the ball on offense and is a willing passer.</td>
		</tr>
		<tr>
			<td>Davis Jr, Dwight</td>
			<td>9</td>
			<td>Dwight has a very consistent mid-range jumper and can also get to the rim. He rebounds the ball very well for his size and wasn't afraid of going after it. Was able to finish plays by making free throws.</td>
		</tr>
		<tr>
			<td>deFrietas, E. Walter</td>
			<td>9</td>
			<td>Walter is a hustle player who got his team extra possessions by diving on the floor. Plays great team defense and was the first one back. Made sure to grab every defensive rebound before leaking out.</td>
		</tr>
		<tr>
			<td>Dortch, Parker</td>
			<td>12</td>
			<td>Parker boxes out everytime a shot goes up and goes after defensive rebounds. He looks to set up his teammates and has a high basketball IQ. Has a good pull up game in transition.</td>
		</tr>
		<tr>
			<td>Downer, Marcus</td>
			<td>12</td>
			<td>Marcus played great help side defense and kept opponents out of the paint. Was all over the boards and limited the other team to one shot. Was active around the rim on offense.</td>
		</tr>
		<tr>
			<td>Duluc, Sebastian</td>
			<td>10</td>
			<td>Sebastian made smart plays and decisions all day. He saw plays developing and got the ball to his teammates early. Has a smooth stroke and is consistent out to the 3 point line.</td>
		</tr>
		<tr>
			<td>Etheart, Sebastien</td>
			<td>12</td>
			<td>Sebastien looks for his teammates and can also knock down the 3. He is very good at using his size and body to get position fo rebounds. Did a great job all day being in help defense.</td>
		</tr>
		<tr>
			<td>Etheart, Stephane</td>
			<td>12</td>
			<td>Stephane was at his best today when getting out in transition and running the floor. He went after every rebound on both ends. He was able to get good quality shots all day.</td>
		</tr>
		<tr>
			<td>Falu, Vic</td>
			<td>12</td>
			<td>Vic is a strong guard who is very quick with the ball. He sees the whole court when he drives and can finish when getting to the rim. Shoots the ball well from outside and is consistent from 3.</td>
		</tr>
		<tr>
			<td>Figueroa, Justin</td>
			<td>11</td>
			<td>Justin is very quick in the open floor and got his team easy baskets. He was one of the best defenders on the day and never let his man get by him. Slides his feet well and has active hands for steals.</td>
		</tr>
		<tr>
			<td>Finnie, William</td>
			<td>11</td>
			<td>William is a strong, physical guard who doesn't get bumped off his path when driving. Goes after every offensive rebound. Has a quick release on his jumper and can get it off over defenders. </td>
		</tr>
		<tr>
			<td>Fleming, Terrell</td>
			<td>12</td>
			<td>Terrell is an athletic player who is very quick off the dribble. He used his athleticism to get into the paint and attack the rim. He has good shooting form and shoots the ball with confidence.</td>
		</tr>
		<tr>
			<td>Floster, Tyrone</td>
			<td>9</td>
			<td>Tyrone is a quick guard who uses his speed with the ball to get into the paint and by his defender. Very confident with the ball in his hand and finds open teammates. Slides his feet well on defense.</td>
		</tr>
		<tr>
			<td>Galgano, Ryan</td>
			<td>11</td>
			<td>Ryan is a great playmaker and makes strong passes to open teammates. He is a very consistent mid range shooter and can step back to the 3 point line. Played good team defense and was always on help side.</td>
		</tr>
		<tr>
			<td>Garcia, Anthony</td>
			<td>10</td>
			<td>Anthony is active on the offensive rebounds and runs the floor well. He has good hands and can finish around the rim. He did a great job of being vocal on defense and keeping his team organized.</td>
		</tr>
		<tr>
			<td>Gathers, Isaiah</td>
			<td>11</td>
			<td>Isaiah used his length to make plays on defense. He plays with a very high motor and got his team extra possessions with his hustle. He moved well without the ball on offense to get open shots.</td>
		</tr>
		<tr>
			<td>Gause, Odis</td>
			<td>11</td>
			<td>Odis is a solid forward who has a complete set of skills. He is a strong rebounder who will lead the break off a rebound. He does a great job of keeping the ball moving and swinging the ball on offense.</td>
		</tr>
		<tr>
			<td>Georgio, Evan</td>
			<td>12</td>
			<td>Evan runs the floor really well for his position and got ahead of the defense. Plays aggressive on both ends of the floor. Can stretch the defense with his ability to knock down outside shots.</td>
		</tr>
		<tr>
			<td>Georgio, Phillip</td>
			<td>10</td>
			<td>Phillip used a euro step a lot in transition today to get to the rim. He applies good on ball pressure when playing defense. Did a good job all day of going after rebounds on both ends of the floor.</td>
		</tr>
		<tr>
			<td>Gray, Isaiah</td>
			<td>9</td>
			<td>Isaiah can finish with either hand and makes strong passes in the half court. Contests every shot and closes out well without fouling. He makes smart decisions on the court and doesn't force anything.</td>
		</tr>
		<tr>
			<td>Greenhill, Jalen</td>
			<td>11</td>
			<td>Jalen is a quick, athletic guard with a great first step. He had no trouble all day getting by his defender and into the middle of the defense. Knows how to move the ball on offense and get open looks. </td>
		</tr>
		<tr>
			<td>Hazel, Negus</td>
			<td>10</td>
			<td>Negus was an active defender applied ball pressure all over the court. He did a good job of sliding his feet and keeping his man in front of him. Went strong after rebounds on both ends of the floor.</td>
		</tr>
		<tr>
			<td>Healy, Jack</td>
			<td>10</td>
			<td>Jack is a confident shooter who has range past the 3 point line. Was one of the more consistent shooters on the day. Is very strong with the ball in his hand and handles pressure well.</td>
		</tr>
		<tr>
			<td>Holmes, Kareem</td>
			<td>12</td>
			<td>Kareem runs the floor well and got in front of the defense for easy baskets. He finished at the rim in traffic and through contact. Used his hustle and aggression to get to every loose ball.</td>
		</tr>
		<tr>
			<td>Holsey, Mark</td>
			<td>12</td>
			<td>Mark is a very good rebounder who got himself easy second chance scoring opportunities on offense. He attacks the rim well and has some crafty moves when getting into the paint.</td>
		</tr>
		<tr>
			<td>Honis, Brian</td>
			<td>10</td>
			<td>Brian knows how to play team defense and when to slide over for help. He has active hands and got into passing lanes. Moved well without the ball to get himself open looks on offense.</td>
		</tr>
		<tr>
			<td>Irby, Nolen</td>
			<td></td>
			<td>Nolen has very active hands on defense and created havoc for his opponent. He is a tough guard who made strong passes all day. He was able to break down his defender with his dribble and get in the paint.</td>
		</tr>
		<tr>
			<td>Isom, Darius</td>
			<td>11</td>
			<td>Darius plays hard on every possession and puts the team first. He is very strong with the ball and doesn't get bumped off his path when driving. Gets into the lane with full body control.</td>
		</tr>
		<tr>
			<td>Johnson, Marquis</td>
			<td>11</td>
			<td>Marquis is quick with the ball and can finish at the rim. He stretches defenses with his ability to hit outside shots. Did a great job of jumping passing lanes for steals and starting the fast break.</td>
		</tr>
		<tr>
			<td>Jorge, Leonardo</td>
			<td>12</td>
			<td>Leonardo plays with a very high motor and got his team extra possessions with his hustle. He is a strong ball handler and confident with the ball in his hand. Used his dribble to create space for open shots.</td>
		</tr>
		<tr>
			<td>Konradt, William</td>
			<td>11</td>
			<td>William did a great job today of getting to open spots in transition. He was able to hit outside shots and get himself easy baskets. On defense he uses his length to get into passing lanes.</td>
		</tr>
		<tr>
			<td>Leftwich, Brandon</td>
			<td>12</td>
			<td>Brandon is a great athlete who is strong and powerful. Uses his length and quickness to get out in transition and finish at the rim. Was active in the passing lanes and getting steals.</td>
		</tr>
		<tr>
			<td>Levine, Kevin</td>
			<td>12</td>
			<td>Kevin is a solid point who sees the floor and can handle the ball well. He is at his best in transition when finding his teammates. Has a consistent jumpshot and can step out to the 3 point line.</td>
		</tr>
		<tr>
			<td>Madden, Cory</td>
			<td>12</td>
			<td>Cory has great footwork and is very strong when attacking the basket. Has good form on his shot and is a knock down shooter out to the 3 point line. Strong athlete and can finish above the rim.</td>
		</tr>
		<tr>
			<td>Marshall, Kristian</td>
			<td>11</td>
			<td>Kristian is a very strong guard who handles the ball well. He is unselfish and sees the floor well in both the half court and in transition. Showed his ability to hit shots when his team needed them.</td>
		</tr>
		<tr>
			<td>Martinez, Jonathan</td>
			<td>12</td>
			<td>Jonathan is very unselfish on offense and kept the ball moving. Gets back on defense and plays good help side when his teammates got beat. Showed his ability to hit outside shots and be a threat.</td>
		</tr>
		<tr>
			<td>Massoud, Ismael</td>
			<td>10</td>
			<td>Ismael is a highly skilled athlete who has a lot of upside. He has great size which he uses to his advantage on both ends of the floor. Has a high basketball IQ and feel for the game.</td>
		</tr>
		<tr>
			<td>McShea, Tyler</td>
			<td>12</td>
			<td>Tyler is a stretch forward who can step out and knock down outside shots. He was at his best when shooting from 16 feet. Very active inside the paint and finishes well around the rim.</td>
		</tr>
		<tr>
			<td>Morales, Vincent</td>
			<td>12</td>
			<td>Vincent showed his ability to hit open shots when he sets his feet. Moves well without the ball and got himself open looks from 3. Made strong passes to his teammates for open shots.</td>
		</tr>
		<tr>
			<td>Nikovic, Bekim</td>
			<td>12</td>
			<td>Bekim has a good handle and kept the offense organized. Was at his best today when driving and either finishing or dropping off to big men. Showed his ability to knock down open jumpers.</td>
		</tr>
		<tr>
			<td>Norton, Joe</td>
			<td>10</td>
			<td>Joe is a solid player with great footwork. He knows how to play inside the paint as well as step out and hit open shots. Has a complete set of skills on offense that allow him to score in a variety of ways.</td>
		</tr>
		<tr>
			<td>Onogwo, Charles</td>
			<td>9</td>
			<td>Charles handles ball pressure well and moves the ball on offense. He did a great job of running the offense and keeping things organized. Looked to start a fast break whenever he could.</td>
		</tr>
		<tr>
			<td>Outlaw, Reggie</td>
			<td>12</td>
			<td>Reggie used his length to contest shots and alter them at the rim. He got after the rebounds on both ends of the floor and created second chance scoring opportunities for himself on offense. Very consistent jump shooter.</td>
		</tr>
		<tr>
			<td>Paradise, William</td>
			<td>11</td>
			<td>William is a solid guard who can run the offense and keeps things organized. He was at his best when driving and kicking to open teammates. Handles ball pressure very well and doesn't get flustered.</td>
		</tr>
		<tr>
			<td>Pardie, Ashton</td>
			<td>11</td>
			<td>Ashton is a very quick guard who excels in the open court. He has quick hands on defense and slides his feet well to keep his man in front of him. Shoots the ball with confidence from anywhere on the court.</td>
		</tr>
		<tr>
			<td>Patten, Myles</td>
			<td>12</td>
			<td>Myles has range on his shot that extends out to the 3 point line. He is a combo guard who has the ability to finish at the rim in transition. Moves well without the ball to get himself open shots.</td>
		</tr>
		<tr>
			<td>Paul, Jeremiah</td>
			<td>10</td>
			<td>Jeremiah has a consistent mid range jumpshot. He runs the floor well and gets out quickly in transition for easy baskets. Plays hard on both ends of the floor and makes the right play for his team.</td>
		</tr>
		<tr>
			<td>Phillips, Steve</td>
			<td>12</td>
			<td>Steve looks to get into the paint with his dribble and attack the rim. Can finish in traffic with either hand. Did a great job of passing to the open man when he was contested at the rim.</td>
		</tr>
		<tr>
			<td>Picket, Tysheem</td>
			<td>9</td>
			<td>Tysheem is a small, pesky guard who uses his quickness to keep his man in front of him on defense. Gets out quick in transition and used his speed and dribble to break down his defender. </td>
		</tr>
		<tr>
			<td>Piper, Ron</td>
			<td>11</td>
			<td>Ron is a hustle player who got after every loose ball and rebound. He always makes the right play and has great control when the ball is in his hand. Showed his ability to hit shots when open.</td>
		</tr>
		<tr>
			<td>Piszczatowski, Daniel</td>
			<td>10</td>
			<td>Daniel has a nice touch on his mid range jumpshot. He has a very good feel for the game and makes smart decisions on offense. Plays great team defense and is always in the right spot.</td>
		</tr>
		<tr>
			<td>Powe, Yeshua</td>
			<td>10</td>
			<td>Yeshua is really good with the ball in traffic. He uses his dribble to get by his defender and into the middle of the defense. He makes good decisions in transition and set his team up for easy baskets.</td>
		</tr>
		<tr>
			<td>Richardson, Coraunn</td>
			<td>12</td>
			<td>Coraunn is a solid point guard who knows how to run an offense. Keeps the ball tight to his body when dribbling and made good passes to open teammates. Was a vocal leader on both ends of the floor.</td>
		</tr>
		<tr>
			<td>Ringer, Hasan</td>
			<td>11</td>
			<td>Hasan is a strong player who rebounds the ball well. He was at his best when facing up and going right to get by his defender. Did a great job of getting low and beating his man with his dribble.</td>
		</tr>
		<tr>
			<td>Rivera, Mathew</td>
			<td>10</td>
			<td>Mathew is a good defender who rebounds the ball well. He seemed to always be in the right spot on offense to score the ball. Did a good job of moving without the ball to get open shots.</td>
		</tr>
		<tr>
			<td>Robinson, Tahzee</td>
			<td>9</td>
			<td>Tahzee did a great job of keeping the ball moving on offense and getting his teammates open looks. Has a high basketball IQ. Moves well on offense to find openings in the defense.</td>
		</tr>
		<tr>
			<td>Roselli, Alfredo</td>
			<td>12</td>
			<td>Alfredo plays extremely hard and is a great rebounder. Gets after the offensive boards and got himself easy second chance points. Very active without the ball and got himself open shots.</td>
		</tr>
		<tr>
			<td>Rottman, Harrison</td>
			<td>12</td>
			<td>Harrison is a good team player who makes unselfish plays on both ends of the floor. He has a high basketball IQ and makes smart decisions on offense. Showed his ability to hit shots when left open.</td>
		</tr>
		<tr>
			<td>Sabastiani, Alex</td>
			<td>11</td>
			<td>Alex hustles and works hard on every possession. He does a lot of little things around the rim and gets easy baskets. Has the ability to guard multiple positions and stop big men around the rim.</td>
		</tr>
		<tr>
			<td>Sanchez, Mark</td>
			<td>10</td>
			<td>Mark runs the floor well and is very vocal on the court. He has a nice touch in the paint and is active around the rim. Sets strong screens and did a good job of rolling to open space.</td>
		</tr>
		<tr>
			<td>Santil, Cam'ron</td>
			<td>11</td>
			<td>Cam'ron closes out well and is very active on defensive rebounds. He uses his long arms to get into passing lanes. Does a good job of getting out in transition and finishing at the rim.</td>
		</tr>
		<tr>
			<td>Santoro, Joe</td>
			<td>12</td>
			<td>Joe makes quick moves with the ball and can finish on the break. He did a great job of using screens to get into the paint. Sees the floor well in both the half court and transition.</td>
		</tr>
		<tr>
			<td>Seaman, Keith</td>
			<td>12</td>
			<td>Keith plays with great energy and passion for the game. He has very good size which he uses to gain position on offense. Uses his body to push his man out of the paint on defense.</td>
		</tr>
		<tr>
			<td>Sena, Marquis</td>
			<td>11</td>
			<td>Marquis is a steady guard who does a little of everything for his team on offense. He kept the ball moving on offense and made the extra pass to an open teammates. Moves well without the ball on offense.</td>
		</tr>
		<tr>
			<td>Sena, Marquis</td>
			<td>11</td>
			<td>Marquis is was one of the quickiest players on the court today. He got himself easy baskets by getting out in transition and running the fast break. Plays hard and never takes a possession off.</td>
		</tr>
		<tr>
			<td>Smith, Ibu</td>
			<td>12</td>
			<td>Ibu is an active big who plays both sides of the floor. Has quick feet and great footwork. Can stetch the defense with his ability to shoot the ball and knows how to beat his defender off the dribble.</td>
		</tr>
		<tr>
			<td>Snites, Jabari</td>
			<td>11</td>
			<td>Is a lead guard who can handle and makes strong passes. He has a good crossover which he uses to get himself open shots. Sees the court well in transition and starts the fast break well.</td>
		</tr>
		<tr>
			<td>Stevens, Jonathan</td>
			<td>12</td>
			<td>Jonathan never forced his shot and showed his abilty to make the right play. Can get by his defender with his dribble. At his best today when pulling up in the middle of the defense.</td>
		</tr>
		<tr>
			<td>Stone, Michael</td>
			<td>12</td>
			<td>Michael uses his big body to his advantage on both ends of the floor. He sets hard screens and rolls well to the rim. Has very strong hands and catches everything around the rim.</td>
		</tr>
		<tr>
			<td>Tamer, Luca</td>
			<td>10</td>
			<td>Luca is a great team player who is always in the right spot on offense. He has very good court vision and did a great job of advancing the ball in transition. Played good help defense when opponents drove.</td>
		</tr>
		<tr>
			<td>Thomas, Kasaun</td>
			<td>10</td>
			<td>Kasaun uses screens well to create space for his jumpshot. He is quick with the ball and uses his dribble to set up his teammates. He is a vocal leader on the floor and kept the offense organized.</td>
		</tr>
		<tr>
			<td>Touray, Famara</td>
			<td>11</td>
			<td>Famara is at his best when he has the ball in his hand on offense. Used his crossover to get into the paint and finish around the rim. Has a quick first step and change of speed when driving.</td>
		</tr>
		<tr>
			<td>Tucker, Cameron</td>
			<td>12</td>
			<td>Cameron is very quick in the open court and sees the floor well. He is a scrappy defender who applies great ball pressure. Very composed with the ball and doesn't get flustered by pressure.</td>
		</tr>
		<tr>
			<td>Tyree, Kenny</td>
			<td>10</td>
			<td>Kenny is strong with the ball in his hand and was able to start the offense for his team. Played solid team defense and did let his man get into the paint. Knows how to move on offense to get open.</td>
		</tr>
		<tr>
			<td>Wells, Kobe</td>
			<td>9</td>
			<td>Kobe knows how to use his body to protect his dribble when double teamed. He sees the floor well in the half court and finds open teammates. Played solid team defense and applied good ball pressure.</td>
		</tr>
		<tr>
			<td>White, Isaiah</td>
			<td>11</td>
			<td>Isaiah is a very good athlete who used his athleticism to affect the game on both ends of the floor. He does a nice job of getting to the rim and finishing plays when he gets there.</td>
		</tr>
		<tr>
			<td>Wilkerson, Nuridin</td>
			<td>12</td>
			<td>Nuridin works hard on defense to keep his man out of the paint and away from the rim. He kept the ball moving on offense and got his teammates involved. Did a good job of setting his feet when shooting.</td>
		</tr>
		<tr>
			<td>Williams, Amir</td>
			<td>10</td>
			<td>Amir is a very strong combo guard who can get into the paint and finish at the rim. He plays a physical type of game and looks to finish through contact. Great at advancing the ball in transition.</td>
		</tr>
		<tr>
			<td>Williams, Jnie</td>
			<td>11</td>
			<td>Jnie is a very consistent shooter when he sets his feet and gets squared to the basket. He sees the floor well in the half court. Displayed his athleticism and playmaking ability today.</td>
		</tr>
		<tr>
			<td>Williams, Korey</td>
			<td>11</td>
			<td>Korey was at his best today when using his dribble to get into the middle of the defense and finish at the rim in traffic. Has great moves to break down his defender and attack the rim.</td>
		</tr>
		<tr>
			<td>Wilson, Markus</td>
			<td>12</td>
			<td>Markus is willing to make the extra pass and find open teammates. He runs the floor well in transition and got himself easy baskets. Has good range out to the 3 point line.</td>
		</tr>
	</tbody>
</table>
