<table>
	<thead>
		<tr>
			<th>Open Philly Team List</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Grassroots Phase 1 (CAN)</td>
			<td>SMAC Ballers (PA)</td>
		</tr>
		<tr>
			<td>New Jersey Demons</td>
			<td>Team 518 (NY)</td>
		</tr>
		<tr>
			<td>New Rens (NY)</td>
			<td>Team Albany 360</td>
		</tr>
		<tr>
			<td>PA Slam</td>
			<td>Tri County Basketball (CAN)</td>
		</tr>
		<tr>
			<td>Perkasie Knights (PA)</td>
			<td>Urban Honors Academy (NY)</td>
		</tr>
		<tr>
			<td>Raising Champions (NY)</td>
			<td></td>
		</tr>
	</tbody>
</table>
