<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys and Girls</th>
			<th>Days</th>
			<th>Times</th>
			<th>Price</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>July 2, 3, 5 &amp; 6 </td>
			<td>Grades 2-12</td>
			<td>Mon - Fri (no camp on 4th)</td>
			<td>9am - 2pm</td>
			<td>$255</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-point-guard-school-i-2018">Register Here </a></td>
		</tr>
		<tr>
			<td>July 30 - August 3</td>
			<td>Grades 2-12</td>
			<td>Mon - Fri</td>
			<td>9am - 2pm</td>
			<td>$285</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-point-guard-school-ii--2018">Register Here </a></td>
		</tr>
	</tbody>
</table>
