<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Jersey #</th>
			<th>Player</th>
			<th>Grade</th>
			<th>Report</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Adam-Kline-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58486" /></td>
			<td>229</td>
			<td>Adam Kline</td>
			<td>11</td>
			<td>Has good size, just needs to grow into his body.  Ability to hit J's can potentially make him a match up problem.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Ahmad-Gilliam-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58487" /></td>
			<td>252</td>
			<td>Ahmad Gilliam</td>
			<td>12</td>
			<td>Long, athletic player who can frustrate offense. Attacks the glass aggressively.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/AJ-Hawkins-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58488" /></td>
			<td>249</td>
			<td>AJ Hawkins</td>
			<td>9</td>
			<td>Tough, heady point guard with a great motor. Very good at getting penetration and making plays for others.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Alex-Mrusek-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58489" /></td>
			<td>285</td>
			<td>Alex Mrusek</td>
			<td>11</td>
			<td>Post player with very advanced post moves. Crashes the offensive glass, always competes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Alex-Smith-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58490" /></td>
			<td>260</td>
			<td>Alex Smith</td>
			<td>10</td>
			<td>Athletic player who can finish through traffic. Crashes the glass when shots go up. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Arian-Azemi-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58491" /></td>
			<td>266</td>
			<td>Arian Azemi</td>
			<td>10</td>
			<td>Really good point guard prospect who knows how to play and can take defenders off the bounce and score.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Barry-Quartlebaum-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58492" /></td>
			<td>228</td>
			<td>Barry Quartlemann</td>
			<td>10</td>
			<td>Big with a solid frame who rebounds out of his area.  Willing post player who can step out to 15 feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Brandon-Brown-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58493" /></td>
			<td>317</td>
			<td>Brandon Brown</td>
			<td>12</td>
			<td>Quick PG who is a good passer and create his own shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Brandon-McCullough-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58494" /></td>
			<td>221</td>
			<td>Brandon McCullough</td>
			<td>10</td>
			<td>Lead guard that will run the show.  Very willing passer who gets his teammate involved.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Connor-Laverty-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58495" /></td>
			<td>208</td>
			<td>Connor Laverty</td>
			<td>11</td>
			<td>Solid footwork and ballhandling on offense. Very diverse in the shots he can make.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Daniel-Dyer-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58496" /></td>
			<td>202</td>
			<td>Daniel Dyer</td>
			<td>10</td>
			<td>Good offensive player who can score inside and out.  Can defend multiple positions.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Darin-Bellinger-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58497" /></td>
			<td>507</td>
			<td>Darin Bellinger</td>
			<td>10</td>
			<td>Explosive offensive player. Incredible athlete with high potential.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Dashon-Giddings-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58498" /></td>
			<td>259</td>
			<td>Dashon Giddings</td>
			<td>12</td>
			<td>Skilled offensive player, can score anywhere. Great shot from deep.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/David-Harden-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58499" /></td>
			<td>182</td>
			<td>David Harden</td>
			<td>12</td>
			<td>Excellent player in transition, pushes pace with or without ball.  High energy player with great passion for the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/David-Shockley-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58500" /></td>
			<td>166</td>
			<td>David Shockley</td>
			<td>11</td>
			<td>Tough, physical guard and uses that to attack the rim.  Toughness also translates when rebounding the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Ahmin-Willams-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58509" /></td>
			<td>310</td>
			<td>Ahmin Williams</td>
			<td>9</td>
			<td>Very aggressive to score with the ball in his hands, has a second gear to get by defenders.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Ahmad-Williams-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58508" /></td>
			<td>298</td>
			<td>Ahmad Williams</td>
			<td>9</td>
			<td>Knows how to play for a kid his age.  Showed the ability to score off the bounce.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Anthony-Ochefu-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58514" /></td>
			<td>311</td>
			<td>Anthony Ochefu</td>
			<td>10</td>
			<td>Has good feet for a big guy his age.  Showed the ability to step out and shoot with ability to play back to the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Andrew-Heck-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58513" /></td>
			<td>160</td>
			<td>Andrew Heck</td>
			<td>8</td>
			<td>Player who has great range from deep.  Always looking to push the ball &amp; pass ahead in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Anwar-Epps-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58515" /></td>
			<td>245</td>
			<td>Anwar Epps</td>
			<td>12</td>
			<td>Can create for himself off the bounce.  Knew when to shoot it and when to move it.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Blair-Brown-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58518" /></td>
			<td>227</td>
			<td>Blair Brown</td>
			<td>11</td>
			<td>Good rebounder who runs the floor well.  Strong big who is willing to mix it up inside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Chris-Silva-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58521" /></td>
			<td>180</td>
			<td>Chris Silva</td>
			<td>10</td>
			<td>Coaches player.  Gets his teammates involved, hustles on loose balls and is not afraid of contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Chrsitain-Ho-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58522" /></td>
			<td>193</td>
			<td>Christian Ho</td>
			<td>9</td>
			<td>Athletic point guard with great vision in the open court. Can get to rim at will and makes great decisions of that.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Connor-Rufo-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58524" /></td>
			<td>168</td>
			<td>Connor Rufo</td>
			<td>10</td>
			<td>Good mid-range game. Competes on every possession.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Cyrie-Coates-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58525" /></td>
			<td>179</td>
			<td>Cyrie Coates</td>
			<td>9</td>
			<td>Very athletic guard. Tremendous defender with a great work ethic. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Dakpe-Yiljep-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58526" /></td>
			<td>284</td>
			<td>Dakpe Yiljep</td>
			<td>12</td>
			<td>Did a great job of rebounding and pushing it in transition.  He really took advantage of his size and skill to create space for his jump shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Deontre-Rawlings-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58532" /></td>
			<td>282</td>
			<td>Deontre Rawlings</td>
			<td>12</td>
			<td>Very active on the glass.  He was constantly moving in the half court, setting screens or cutting to the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Derrick-Welles-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58533" /></td>
			<td>205</td>
			<td>Derrick Welles</td>
			<td>12</td>
			<td>Athletic player who uses it to his advantage attacking the basket. Very aggressive player rebounding the ball. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Devon-Harris-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58534" /></td>
			<td>192</td>
			<td>Devon Harris</td>
			<td>10</td>
			<td>Terrific court vision for a guard. Works hard guarding the ball and on the defensive glass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Donald-Thomas-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58535" /></td>
			<td>283</td>
			<td>Donald Thomas</td>
			<td>11</td>
			<td>Has a good wide frame that he uses to his advantage inside.  He is always around the ball off the glass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Eric-Moody-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58536" /></td>
			<td>215</td>
			<td>Eric Moody</td>
			<td>12</td>
			<td>Shooting combo guard that scores well in transition.  Has ability to create his own shot off the bounce.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Grant-Kowalewski-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58537" /></td>
			<td>263</td>
			<td>Grant Kowalewski</td>
			<td>10</td>
			<td>Always made the right play in the half court.  Very unselfish and plays hard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Hugh-Victor-Merkle-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58538" /></td>
			<td>214</td>
			<td>Hugh Victor Merkle</td>
			<td>11</td>
			<td>Hard working player who gives great effort on the defensive end.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Idn-Haneef-Nelson-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58539" /></td>
			<td>195</td>
			<td>Idn-Haneef Nelson</td>
			<td>12</td>
			<td>Real passion for the game, competes and has great toughness. Attacks rim aggressively, plays with sense of urgency.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Ijavion-Ivory-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58540" /></td>
			<td>167</td>
			<td>Ijavion Ivory</td>
			<td>11</td>
			<td>Strong rebounder. Controls the pace of the game and has great decision making.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Isaac-Williams-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58541" /></td>
			<td>162</td>
			<td>Isaac Williams</td>
			<td>9</td>
			<td>Good point who can move the ball and penetrate the gaps. Great on ball defender and gets his hands in passing lanes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Ishmael-Taylor-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58542" /></td>
			<td>276</td>
			<td>Ishmael Taylor</td>
			<td>10</td>
			<td>Has a good feel for the game. He made good decisions in transition and half court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jamaal-Brown-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58543" /></td>
			<td>271</td>
			<td>Jamaal Brown</td>
			<td>10</td>
			<td>Made good decisions in the half court vs pressure.  Used the bounce to create for others.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/James-Curtis-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58544" /></td>
			<td>163</td>
			<td>James Curtis </td>
			<td>11</td>
			<td>Guard who likes to attack the basket.  Likes to push the ball but also can shoot from deep.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jamier-Graves-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58545" /></td>
			<td>190</td>
			<td>Jamier Graves</td>
			<td>9</td>
			<td>Point guard with good intangibles. Can see court well, move ball, and attack paint with dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jason-James-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58546" /></td>
			<td>277</td>
			<td>Jason James</td>
			<td>10</td>
			<td>Does a good job of changing direction off the bounce.  Consistently made good decisions in the half court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jason-Magid-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58547" /></td>
			<td>201</td>
			<td>Jason Magid</td>
			<td>10</td>
			<td>High Basketball IQ.  Good point guard instincts and also a good catch and shoot player from 3.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jason-Searles-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58548" /></td>
			<td>204</td>
			<td>Jason Searles</td>
			<td>12</td>
			<td>Terrific defender who can guard multiple positions.  Competes every possession.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jermaine-Bishop-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58549" /></td>
			<td>181</td>
			<td>Jeremiah Bishop</td>
			<td>9</td>
			<td>Quick guard with good dribbling ability. Wants to get into the lane and makes good decisions.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jermaine-Lucas-Green-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58550" /></td>
			<td>250</td>
			<td>Jermaine Lucas-Green</td>
			<td>10</td>
			<td>Player who has great court vision.  Works extremely hard on the defensive end. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/JJ-Melchoir-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58551" /></td>
			<td>169</td>
			<td>JJ Melchoir</td>
			<td>11</td>
			<td>JJ is a player with terrific shooting range. Excels in transition, pushing the ball ahead.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/John-Herndon-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58552" /></td>
			<td>172</td>
			<td>John Herndon</td>
			<td>11</td>
			<td>Quick guard who uses his quickness to get to the rim. Hard worker on defense who competes on every possession.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Jordan-Heck-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58553" /></td>
			<td>220</td>
			<td>Jordan Heck</td>
			<td>10</td>
			<td>Point Guard who throws the ball around.  Has good size and play extremely hard.  Always working on the defensive end.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Josh-Brownstein-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58554" /></td>
			<td>164</td>
			<td>Josh Brownstein</td>
			<td>10</td>
			<td>Physical player who has a good mid-range game. Knows how to seek &amp; find rebounds.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Joshua-Hall-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-58555" /></td>
			<td>235</td>
			<td>Joshua Hall</td>
			<td>9</td>
			<td>Strong combo guard that can score it in transition, slasher with a good body and rebounds well for his size.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Justin-Gans-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58556" /></td>
			<td>280</td>
			<td>Justin Gans</td>
			<td>10</td>
			<td>Makes plays off the bounce for others.  Plays very hard getting on the glass and running in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Justin-Ortiz-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58557" /></td>
			<td>270</td>
			<td>Justin Ortiz</td>
			<td>11</td>
			<td>Has a good feel on the court.  Does a great job of spacing on the perimeter and making shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Juwan-Moore-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58558" /></td>
			<td>191</td>
			<td>Juwan Moore</td>
			<td>11</td>
			<td>Good point guard instincts. Runs the offense, gets others involved.  High Basketball IQ.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kahron-Williams-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58559" /></td>
			<td>188</td>
			<td>Kahron Williams</td>
			<td>12</td>
			<td>Athletic player who uses that to his advantage on the glass. Rim protecter on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kaleem-Lovelace-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58560" /></td>
			<td>299</td>
			<td>Kaleem Lovelace</td>
			<td>12</td>
			<td>Really good in transition for himself and others.  Competes at a high level.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Karl-Lewis-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58561" /></td>
			<td>217</td>
			<td>Karl Lewis</td>
			<td>12</td>
			<td>Very good athlete who excels in transition.  At his best when he is attacking the basket.  Good on the ball defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Karrington-Wallace-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58562" /></td>
			<td>265</td>
			<td>Karrington Wallace</td>
			<td>9</td>
			<td>Does a good job disrupting shots in the lane.  Ran the floor well and finished around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kashsiann-Kay-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58563" /></td>
			<td>230</td>
			<td>Kashsiann Kay</td>
			<td>11</td>
			<td>Very quick guard looking to make plays for others.  Pass first who can drive both ways and is great transition.  Very good on the ball defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kevin-Burns-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58564" /></td>
			<td>203</td>
			<td>Kevin Burns</td>
			<td>8</td>
			<td>Terrific shooting ability from deep. Understands the game well in terms of positioning and communication.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kevin-Tilghman-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58565" /></td>
			<td>262</td>
			<td>Kevin Tilghman</td>
			<td>9</td>
			<td>Does not force shots, shoots in rhythm and stride.  Athletic player with good upside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Keyohn-Maddox-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58566" /></td>
			<td></td>
			<td>Keyohn Maddox</td>
			<td>9</td>
			<td>Finishes well at the rim with his athletic ability. Likes to involve his teammates, lot of upside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Khalil-White-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58567" /></td>
			<td>174</td>
			<td>Khalil White</td>
			<td>11</td>
			<td>Guard who likes to push the pace and excels in transition. Good finisher around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kobe-Thomas-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58568" /></td>
			<td>274</td>
			<td>Kobe Thomas</td>
			<td>10</td>
			<td>Does a great job of using his athleticism to hit the glass and score in transition.  Has unlimited potential with his physical tools.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Kyle-Bachmann-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58569" /></td>
			<td>176</td>
			<td>Kyle Bachmann</td>
			<td>9</td>
			<td>High energy player who competes on every possession. Can shoot consistently from 3.</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>Larry Young</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Letrell-West-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58571" /></td>
			<td>165</td>
			<td>Letrell West</td>
			<td>10</td>
			<td>Letrell likes to attack the basket.  Uses his strength to finish through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Makhi-Morris-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58572" /></td>
			<td>264</td>
			<td>Makhi Morris</td>
			<td>10</td>
			<td>Really good in transition on both ends of the floor.  Finishes very well around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Marc-Rodriguez-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58573" /></td>
			<td>315</td>
			<td>Marc Rodriguez</td>
			<td>10</td>
			<td>Lengthy wing who has the ability to shoot the 3. Can attack the rim when defense starts closing out.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Marcell-Curry-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58574" /></td>
			<td>314</td>
			<td>Marcell Curry</td>
			<td>11</td>
			<td>point guard who can create shots for others.  Has a good shot as well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Marcus-Giddings-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58575" /></td>
			<td>251</td>
			<td>Marcus Giddings</td>
			<td>10</td>
			<td>Athletic guard who can shoot from three. Can be disruptive to the offense on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Mark-Washington-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58576" /></td>
			<td>222</td>
			<td>Mark Washington</td>
			<td>11</td>
			<td>Smart point guard with good size.  Looks to get involved and can hit open shot.  Good in transition passing and finishing.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Mathew-Rusky-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58577" /></td>
			<td>171</td>
			<td>Matthew Rusky</td>
			<td>12</td>
			<td>Great point guard instincts. Excels at reading the defense in the pick &amp; roll, gets teammates involved.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Matthew-Faw-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58578" /></td>
			<td>209</td>
			<td>Matthew Faw</td>
			<td>10</td>
			<td>Tremendous upside.  Big who can step outside and shoot from 3.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Maurice-Valentine-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58579" /></td>
			<td>185</td>
			<td>Maurice Valentine</td>
			<td>11</td>
			<td>Maurice plays above his height.  Out competes taller players for rebounds and uses his strength to get to the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Max-Rapoport-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58580" /></td>
			<td>237</td>
			<td>Max Rapoport</td>
			<td>9</td>
			<td>Good shooter with a strong knowledge on how to play.  Very good spacing the floor and attacking off close outs.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Michael-Li-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58581" /></td>
			<td>200</td>
			<td>Michael Li</td>
			<td>11</td>
			<td>Works extremely hard on both ends of the court, in both cutting on offense and his rotations on defense.  Good Basketball IQ.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Michael-Ramberan-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58582" /></td>
			<td>247</td>
			<td>Michael Ramberan</td>
			<td>12</td>
			<td>Does a great job of running the floor and finding in transition.  Has the ability to create space off the bounce.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Mikel-Sullivan-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58583" /></td>
			<td>253</td>
			<td>Mikel Sullivan</td>
			<td>10</td>
			<td>point guard who likes to attack the paint and drive or create shots for others.  High IQ on defensive end.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Nahim-Lee-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58584" /></td>
			<td>219</td>
			<td>Nahim Lee</td>
			<td>10</td>
			<td>Has really good upside.  Needs to continue to work on his skill set and will have a bright future.  Good on the ball defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Nathaniel-Nicholson-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58585" /></td>
			<td>183</td>
			<td>Nathaniel Nicholson</td>
			<td>9</td>
			<td>Great mid-range game. The ability to create shots for himself and teammates off the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Nick-May-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58586" /></td>
			<td>234</td>
			<td>Nick May</td>
			<td>10</td>
			<td>Point guard who competes at a high level.  Looks to push in transition and usually makes the right play.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Nolan-Genasevich-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58587" /></td>
			<td>244</td>
			<td>Nolan Genasevich</td>
			<td>10</td>
			<td>Big who can step out and shoot 3's with confidence.  Active on the glass and good paint defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Rahdazion-Powell-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58588" /></td>
			<td>275</td>
			<td>Rahdazion Powell</td>
			<td>10</td>
			<td>Good ability to get to the basket off the bounce.  Competes on every possession especially on the defensive end of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Randy-Bell-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58589" /></td>
			<td>281</td>
			<td>Randy Bell</td>
			<td>11</td>
			<td>He is really good in transition.  Does a great job attacking the basket and finishing with both hands.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Rashae-Nixon-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58590" /></td>
			<td>258</td>
			<td>Rashae Nixon</td>
			<td>11</td>
			<td>Strong athletic guard who can guard multiple positions. Gets good positioning when shots go up.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Rasool-Hinson1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58591" /></td>
			<td>226</td>
			<td>Rasool Hinson</td>
			<td>12</td>
			<td>Strong competitor with an ability to score in transition.  Above average athlete who can get to the rim.  Very good on the ball defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Ryan-Mctamney1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58592" /></td>
			<td>218</td>
			<td>Ryan Mctamney</td>
			<td>11</td>
			<td>Smart basketball player who can play inside and out.  Has a good set shot who can drive on poor closeouts.  Has good feel in the post with a few counter moves.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Saheed-People-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58593" /></td>
			<td>210</td>
			<td>Saheed People</td>
			<td>10</td>
			<td>Does a great job of running the show.  Very unselfish player who is always looking to make player for his teammates.  Good passer in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Sam-Sessoms-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58594" /></td>
			<td>248</td>
			<td>Sam Sessoms</td>
			<td>9</td>
			<td>Has great tempo with the bounce and is advanced with his basketball IQ for his age.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Saubhagya-Balyan1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58595" /></td>
			<td>197</td>
			<td>Saubhagya Balyan</td>
			<td>10</td>
			<td>Good on ball defense with good later quickness. Uses his length to his advantage on both ends.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Sean-Hoggs-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58596" /></td>
			<td>187</td>
			<td>Sean Hoggs</td>
			<td>10</td>
			<td>Very athletic wing who drives hard to the basket. Does not force shots when in the lane, looks for teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Semaj-Motley-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58597" /></td>
			<td>254</td>
			<td>Semaj Motley</td>
			<td>11</td>
			<td>Good instincts on defense, reads ballhandler's eyes well.  Strong body and uses it to finish around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Seth-Pinkney1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58598" /></td>
			<td>476</td>
			<td>Seth Pinkney</td>
			<td>9</td>
			<td>Tall and athletic player with tremendous upside. A rim protecter on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Stefan-Jones1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58599" /></td>
			<td>243</td>
			<td>Stefan Jones</td>
			<td>12</td>
			<td>Great athlete who is at his best in the open floor, good on the ball defender who rebounds well for his position.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Stephon-Maddox1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58600" /></td>
			<td>184</td>
			<td>Stephon Maddox</td>
			<td>9</td>
			<td>Terrific on ball defender. Hustles by sprinting in transition and benefits by crashing the offensive glass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Thomas-Harris1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58601" /></td>
			<td>161</td>
			<td>Thomas Harris</td>
			<td>10</td>
			<td>Quick athletic guard who gets in the lane at will. Good shooter from deep.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Tommy-Blackwell1-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58602" /></td>
			<td>223</td>
			<td>Tommy Blackwell</td>
			<td>11</td>
			<td>Off guard who can make open shots.  Uses his strength well defensively on the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Tymir-Cooper-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58603" /></td>
			<td>246</td>
			<td>Tymir Cooper</td>
			<td>9</td>
			<td>Does a good job of getting everyone involved.  Uses the bounce well to create for himself and others.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Tyree-Pickron-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58604" /></td>
			<td>216</td>
			<td>Tyree Pickron</td>
			<td>9</td>
			<td>Good overall player with a complete skill set.  Has a natural how to play and doesn't force.  Competitor who can create his own.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/yaqub-Abdul-Haqq-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58605" /></td>
			<td>312</td>
			<td>Yaqub Abdul-Haqq</td>
			<td>10</td>
			<td>Makes good decisions in the half court and in transition.  Competes at a high level.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Yasin-Abdil-Haqq-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58606" /></td>
			<td>313</td>
			<td>Yasin Abdul-Haqq</td>
			<td>11</td>
			<td>Uses his strengths to his advantage. Quick guard who can blow by defenders. Also uses his quickness to break up passes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Zhuri-Nisseau-Bey-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58607" /></td>
			<td>170</td>
			<td>Zhuri Nisseau-Bey</td>
			<td>10</td>
			<td>Quick and shifty guard. Can get into the lane and finish through bigger defenders and contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/03/Larry-Young-300x200.jpg" alt="" width="300" height="200" class="alignleft size-medium wp-image-58570" /></td>
			<td>238</td>
			<td>Gregory Young</td>
			<td>9</td>
			<td>Combo guard who is good in transition.  Solid on the ball defender who plays hard.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>459</td>
			<td>Patrick Obaho</td>
			<td>8</td>
			<td>Athletic big who moves well for his size.  A willing poster who is more comfortable around the rim.  Has good upside if he continues to work on his game.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>279</td>
			<td>Jermaine Bent</td>
			<td>11</td>
			<td>Showed good athleticism and finishing in the open court has a good first step and continually went by his opponent.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>478</td>
			<td>Qadir Burgess</td>
			<td>10</td>
			<td>Knockdown shooter with a very quick release. He has range out to 27 feet. Also is very quick with the ball and gets to the lane easily.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>194</td>
			<td>Christopher Kuhar</td>
			<td>11</td>
			<td>Very high basketball IQ, knows how to use his body well for positioning. Also has a strong mid range jump shot.</td>
		</tr>
	</tbody>
</table>
