<table>
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Player</td>
			<td>Year/School</td>
			<td>Evaluation</td>
		</tr>
		<tr>
			<td>Shon Wilson- #500</td>
			<td>2017</td>
			<td>Strengths: A strong player who rebounds very well. Is very strong with the ball and gets to his spot quickly.Is able to get past his defenders. 

Weaknesses: Can become more of a threat by developing his range and shooting ability. </td>
		</tr>
		<tr>
			<td>Christian Kennedy- #251</td>
			<td>2018
Red Lion Christian</td>
			<td>Strengths: A true competitor on both ends of the floor, and makes all of the hustle plays. Knocks down open shots. 

Weaknesses: Needs to become more confident in his ball handling ability while in traffic. Also needs to get stronger to be able to finish through contact. </td>
		</tr>
		<tr>
			<td>Daijon Womack- #245</td>
			<td>2019
West Catholic</td>
			<td>Strengths: A quick point guard with strong ball skills. Good court vision on the break and can finish off of a strong crossover. Looks for the pass first.  

Weaknesses: Can be very good if he continues to play hard and focuses on scoring. </td>
		</tr>
		<tr>
			<td>Donovan Ryland- #212</td>
			<td>2018
Trenton Catholic</td>
			<td>Strengths: Strong point guard with great court vision, runs in transition, and finishes at the rim. Has nice shooting touch along with strong ball handling skills. 

Weaknesses: Can elevate his defensive game by improving his off the ball defense. </td>
		</tr>
		<tr>
			<td>Corchado Kente- #80</td>
			<td>2017
Tacony</td>
			<td>Strengths: Great cutter without the ball and finishes through contact. Strong rebounder and finds a man to box out. 

Weaknesses: Can improve his game by being a more aggressive offensive player. </td>
		</tr>
		<tr>
			<td>Amir Shields- #36</td>
			<td>2020
Roman Catholic</td>
			<td>Strengths: Very athletic player who runs the floor well and has a nice jump shot both off the dribble and catch and shoot. 

Weaknesses: Can improve his defense both on and off the ball. </td>
		</tr>
		<tr>
			<td>Derrick McNeil- #24</td>
			<td>2017
Coatesville</td>
			<td>Strengths: A very athletic player with good foot speed. 

Weaknesses: Needs to focus on his ball handling skill set and defensive positioning. </td>
		</tr>
		<tr>
			<td>Christion Johnson- #10</td>
			<td>2020</td>
			<td>Strengths: Big, strong rebounder. Plays very hard. 

Weaknesses: Can become a better all-around player by improving his post moves and defensive rebounding. </td>
		</tr>
		<tr>
			<td>  Khyleem Cornitcher </td>
			<td>2019
Delaware Valley</td>
			<td>Strengths: A young player who can drive and finish off of the dribble move. Rebounds well and scores on the offensive glass. 

Weaknesses: Should focus on his ball handling skills in order to elevate his game. </td>
		</tr>
		<tr>
			<td> Nathaniel Nicholson</td>
			<td>2018
Roman Catholic </td>
			<td>Strengths: A good point guard always looking to push the ball. Has very good ball handling skills. 

Weaknesses: Can elevate his game by looking to score on penetration. </td>
		</tr>
		<tr>
			<td> Abubakany Konteh</td>
			<td>2018</td>
			<td>Strengths: A very hard worker who makes the hustle plays. 

Weaknesses: Can improve his shooting passing skill set to improve his offensive game. </td>
		</tr>
		<tr>
			<td>Nasir Campbell</td>
			<td></td>
			<td>Strengths: A player with a motor and continuously putting pressure on the defense. Has the ability to take the ball to the rim. 

Weaknesses: He can take his offensive game to the next level by acquiring a "go to" post move. </td>
		</tr>
		<tr>
			<td> Kylani Lafleur</td>
			<td></td>
			<td>Strengths: An aggressive player on both ends of the floor. Can put the ball on the floor and get past defenders. 

Weaknesses: Must continue to develop his perimeter game and lengthen his range. </td>
		</tr>
		<tr>
			<td> Max Duegen</td>
			<td>2017
Rock Top</td>
			<td>Strengths: Very athletic, small forward who runs the floor hard and can score in both transition and offensive sets. Can score at the rim and out to 19 feet. Strong rebounder. 

Weaknesses: Can become a more all around player by improving his off the ball defense and defensive rotations. </td>
		</tr>
		<tr>
			<td>Rodney Simon</td>
			<td>2017
Rock Top</td>
			<td>Strengths: An aggressive offensive rebounder who can score in the paint. Has soft hands and soft touch around the rim for a big man. Runs the floor very well. 

Weaknesses: Can improve his on the ball and off the ball defense to become a more versatile player. </td>
		</tr>
		<tr>
			<td> Hakim Hart</td>
			<td>2019
Kingsway</td>
			<td>Strengths: Young, long guard who uses his length to disrupt his opponents. Very good at relocation in order to get his mid range jump shot off. 

Weaknesses: Needs to get stronger in order to handle contact while he is handling the ball. </td>
		</tr>
		<tr>
			<td>Nasir Cassel</td>
			<td>2017
Northeast Rock Top</td>
			<td>Strengths: Very athletic, natural scorer who can run the floor well. Good on ball defender. 

Weaknesses: Can become a better all around player by developing a more consistent jump shot and having better court vision.  </td>
		</tr>
		<tr>
			<td>Jack Hardcastle</td>
			<td>2020
Red Lion Christian</td>
			<td>Strengths: Very physical and strong inside player. Has very good hands and finishes in the paint. Rebounds and jumps very well. 

Weaknesses: Should develop his skill set further in order to develop his overall game. </td>
		</tr>
		<tr>
			<td>Ramel Miner</td>
			<td>2017
Mastery Charter North</td>
			<td>Strengths: Great communicator on the defensive end of the floor and is the hardest working player on the court. Very good at a 1 dribble pull up and has 3 point range. 

Weaknesses: Can elevate his offensive game by staying in control of his body and making better decision in transition. </td>
		</tr>
		<tr>
			<td>William Moore</td>
			<td>2018
Simon Gratz</td>
			<td>Strengths: A very quick and athletic player who runs the floor well in transition. Strong offensive rebounder and can score in the paint. 

Weaknesses: Should focus on his shooting form and ball handling skills to elevate his game. </td>
		</tr>
		<tr>
			<td>Nasir Folk</td>
			<td>2017
George Washington</td>
			<td>Strengths: A disciplined player on the defensive end and is very active off the ball. Has range to the 3 point line and runs the floor very hard. 

Weaknesses: Can improve his offensive game by developing touch around the rim. </td>
		</tr>
		<tr>
			<td>Jack Fitzpatrick</td>
			<td>2020
Episcopal</td>
			<td>Strengths: A good catch and shoot player who has great court vision in pick and roll scenarios. Able to find the roll man on multiple occasions. 

Weaknesses: Can improve his game on both ends of the floor by gaining physical strength. </td>
		</tr>
		<tr>
			<td> Ahamir Moore</td>
			<td>2017
Mastery Charter</td>
			<td>Strengths: A wing who likes to drive and is very tough. Can finish in traffic and has strong dribble moves. 

Weaknesses: He can become a more well-rounded player by developing a consistent 3 point shot. </td>
		</tr>
		<tr>
			<td>Curtis Cuvilly</td>
			<td>2019</td>
			<td>Strengths: A very hard worker who is always making the hustle play. 

Weaknesses: Should focus on his shooting and rebound abilities in order to take his game to the next level. </td>
		</tr>
		<tr>
			<td> Elijah Brown</td>
			<td>2019
Upper Darby</td>
			<td>Strengths: A point guard who likes to pass first and focuses on getting his teammates open. 

Weaknesses: Should focus on going to the basket and scoring in order to keep the defense honest when guarding him. </td>
		</tr>
		<tr>
			<td>Jay-Quan Willims</td>
			<td>2019
George Washington</td>
			<td>Strengths: A good slasher to the rim and has shown the ability to finish through contact. Has a nice set shot from the 3 point line. 

Weaknesses: Can elevate his game by improving his decision making. </td>
		</tr>
		<tr>
			<td> Seydou Ndiaye</td>
			<td>2019
Washington</td>
			<td>Strengths: Strong offensive rebounder with soft touch around the rim. A transition player that runs the floor well and can finish at the rim. 

Weaknesses: Can improve his game by working on his shooting form and improving his shot selection. </td>
		</tr>
		<tr>
			<td>Troy Butler</td>
			<td>2018
</td>
			<td>Strengths: A crafty guard with a quick first step and has the ability to get into the lane. 

Weaknesses: Can become a better all-around player by focusing on his ability to facilitate for others and make the right decision when the defense commits. </td>
		</tr>
		<tr>
			<td>Wiley Roberson</td>
			<td>2017
Cherokee</td>
			<td>Strengths: A versatile scorer who is very effective at driving with his left hand and at shooting the ball. 

Weaknesses: Needs to work on moves going to the right in order to keep the defense honest. </td>
		</tr>
		<tr>
			<td>Tyrone Nesby</td>
			<td>2017
Reading</td>
			<td>Strengths: A versatile wing who can shoot, pass, and dribble. Has a nice crossover to get to the rim and likes to rebound. 

Weaknesses: Needs to become stronger in order to finish in traffic and help his outside game. </td>
		</tr>
		<tr>
			<td>Larry Covington</td>
			<td>2017</td>
			<td>Strengths: An energetic guard on the defensive end, utilizing his quick hands. Has good lift on his jump shot and has a quick first step to allow him to get to the rim. 

Weaknesses: Can improve his offensive game by making the simple play. </td>
		</tr>
		<tr>
			<td> Winston Edwards</td>
			<td>2019
Pocono Mountain East</td>
			<td>Strengths: A true point guard who has strong ball handling skills and runs the team. Finds the open man on the break and drives very well. 

Weaknesses: Should work on his pull up jump shot to prevent him from over penetrating at times. </td>
		</tr>
		<tr>
			<td> Justin Hummel</td>
			<td>2017
Reading</td>
			<td>Strengths: A quick guard who likes to play fast and push in transition. Has the ability to set up teammates for wide open shots and has a quick mid range jump shot. 

Weaknesses: Needs to use his quickness to his advantage and play under control. </td>
		</tr>
		<tr>
			<td>Wesley Butler</td>
			<td>2019
Reading</td>
			<td>Strengths: A good point guard who has great court vision and starts the break. Can guard bigger players and keeps opponents in front of him. Has the ability to shoot when open. 

Weaknesses: He can bring his game to the next level by developing a "go to" move off of the dribble in the half court. </td>
		</tr>
		<tr>
			<td> Michael Esquilin</td>
			<td>2018
Whitehall</td>
			<td>Strengths: Sharp point guard who can run the floor and score with strong drives to the rim or with a pull up jump shot. Has great court vision and a nice shot. 

Weaknesses: Can improve his offensive game by making better decisions and focusing on hitting the open teammate. </td>
		</tr>
		<tr>
			<td>RJ Dixon</td>
			<td>2018
Reading</td>
			<td>Strengths: Quick, athletic point guard who finishes strong at the rim. Rebounds from the guard position very well. 

Weaknesses: Must improve his decision making while in transition and continue to work on his shooting form. </td>
		</tr>
		<tr>
			<td> Brandon Dwyer</td>
			<td>2021
Sanford</td>
			<td>Strengths: A developing guard with the ability to shoot the basketball from 3 point range. Has a solid understanding of the game and distributes the ball well. 

Weaknesses: Can become a better on ball defender by becoming physically stronger. </td>
		</tr>
		<tr>
			<td> Ricky Lopez</td>
			<td>2018
Reading</td>
			<td>Strengths: A solid player with a knack for wanting the ball under pressure. Showed a quick burst off the floor to grab a rebound. 

Weaknesses: Needs to develop his ball handling skills and shooting abilities in order to become more of a threat on the offensive end. </td>
		</tr>
		<tr>
			<td>Xavier Starks[</td>
			<td>2018
Reading</td>
			<td>Strengths: An aggressive wing in the open court. Rebounds well and demonstrated an ability to drive either way. 

Weaknesses: Can elevate his offensive game by improving his shot selection. </td>
		</tr>
		<tr>
			<td>Lonnie Walker</td>
			<td>2017
Reading</td>
			<td>Strengths: Good all-around player with a great hesitation crossover to get to the rim. Great vision on the court to go along with exceptional passing skills. Good body control. 

Weaknesses: Can become a bigger threat by acquiring a consistent 3 point shot. </td>
		</tr>
		<tr>
			<td> Manny Ansong</td>
			<td>2017
Bordertown Regional</td>
			<td>Strengths: Very athletic forward who runs the floor well and finishes above the rim. Good rebounder and defender. 

Weaknesses: Needs to develop a jump shot to become a more versatile player. </td>
		</tr>
		<tr>
			<td> Sean Smith</td>
			<td>2017
Upper Darby</td>
			<td>Strengths: A great team defender by rotating for multiple steals. Excels in pushing the ball in transition and making quick decisions to either attack or dish. 

Weaknesses: Needs to focus on his touch around the rim and finishing through contact. </td>
		</tr>
		<tr>
			<td> Bernard Blunt, III</td>
			<td>2020
Berks Catholic</td>
			<td>Strengths: A strong basketball IQ who has the potential to excel at the game. Is a strong position defender. 

Weaknesses: Must continue to develop his ball handling skills in order to remain calm under pressure. </td>
		</tr>
		<tr>
			<td>Khai Champion</td>
			<td></td>
			<td>Strengths: An unselfish player who consistently makes the right play. Able to stay in control of his body and speed. 

Weaknesses: Can elevate his offensive game by becoming a more consistent shooter and by being more aggressive. </td>
		</tr>
		<tr>
			<td>Davanta'e Smith</td>
			<td>2019
Upper Darby</td>
			<td>Strengths: Great defender who is constantly looking for a steal. Very good at getting to the hoop and finishes well. 

Weaknesses: Can become a bigger threat by improving his 3 point shot. </td>
		</tr>
		<tr>
			<td>Ryan Daley</td>
			<td>2017</td>
			<td>Strengths: Hustle player who always plays hard. Forward who runs the floor well and always goes after the ball. 

Weaknesses: Can elevate his game by becoming more of a threat on the perimeter. </td>
		</tr>
		<tr>
			<td> D'Andre Davis</td>
			<td>2018
York Catholic</td>
			<td>Strengths: A solid player who drives well and can finish with both hands. Has a nice shot when left open. 

Weaknesses: Can elevate his offensive game by working on his pull up and mid range shots. </td>
		</tr>
		<tr>
			<td>Tajir Asapargus</td>
			<td>2019
Bayard Rustin</td>
			<td>Strengths: A slasher to the rim and great at pushing the ball in transition. Utilizes his length on the defensive end to alter shots attempts. 

Weaknesses: He can improve his offensive game by focusing on catching quick, sharp passes around the rim. 
</td>
		</tr>
		<tr>
			<td>Anthony Green</td>
			<td>2017
Upper Moreland</td>
			<td>Strengths: Great point guard who runs the floor well and sees the entire floor. Can score in transition and step out and shoot the 3 point shot. 

Weaknesses: Needs to improve his defense by staying committed to his defensive principles and rotations. </td>
		</tr>
		<tr>
			<td>Torrey Thomas</td>
			<td>2018
York Catholic</td>
			<td>Strengths: A tenacious defender who is great at keeping his man in front of him. Finishes well around the basket and is a great communicator. 

Weaknesses: Can become a more versatile player by working on his 3 point pull up shot. </td>
		</tr>
		<tr>
			<td> Sadair Ryder</td>
			<td>2020
Wagner</td>
			<td>Strengths: An unselfish player who has demonstrated an explosive first step to get to the basket. 

Weaknesses: Has the potential to improve his overall game by working on his decision making and shot making abilities. </td>
		</tr>
		<tr>
			<td> Kyle Derowski</td>
			<td>2017
York Catholic</td>
			<td>Strengths: A knockdown shooter who demonstrated a high basketball IQ. Anticipates well on defense. 

Weaknesses: Should develop his ball handling skills and work on his speed in order to become a more versatile player. </td>
		</tr>
		<tr>
			<td> Zuri Peyton</td>
			<td>2017
Springtide-Chestnut Hill</td>
			<td>Strengths: Long, athletic forward who finishes very well inside and drives on the break. A good rebounder and shot blocker. Runs the floor well. 

Weaknesses: Needs to become stronger and be more of a physical presence on the floor. </td>
		</tr>
		<tr>
			<td> Patrick McCauley</td>
			<td>2018
William Tennent</td>
			<td>Strengths: High IQ player who displays strong fundamentals of the game. Competes on defense and makes the hustle plays. 

Weaknesses: Can improve his offensive game by becoming more confident with the ball in his hands. </td>
		</tr>
		<tr>
			<td> Mark Valeriani</td>
			<td>2017
Southern Regional</td>
			<td>Strengths: Good point guard who can penetrate the defense, dish to teammates, and finish drives. A good 3 point shooter. 

Weaknesses: Increasing his overall strength will help to improve his game. </td>
		</tr>
		<tr>
			<td> Michael Goodson Jr. </td>
			<td>2017
Springfield Township</td>
			<td>Strengths: Very good inside player who can finish with either hand and through contact. Likes to rebound hard on the offensive glass. 

Weaknesses: He needs to focus on his foul shooting ability which will reward him for his work in the post. 
</td>
		</tr>
		<tr>
			<td>Zahmir Carroll</td>
			<td>2020
Roman Catholic</td>
			<td>Strengths: Very athletic forward who rebounds very well. Runs the floor and can score in transition. Good offensive rebounder. 

Weaknesses: Can elevate his game by developing a jump shot. </td>
		</tr>
		<tr>
			<td> Rahmee Gilbert</td>
			<td>2020
Roman Catholic</td>
			<td>Strengths: An unselfish player who does not force any plays. He has a high IQ on the floor. 

Weaknesses: He can become a better defender by being more aware on the defensive end of both his player and the ball. </td>
		</tr>
		<tr>
			<td> Melik Martin</td>
			<td>2017
York Catholic</td>
			<td>Strengths: A competitor who has great touch around the basket. Is very quick and plays at an elite level. 

Weaknesses: He must improve his ball handling skills in order to play at the wing and can be more of a threat by developing a consistent shot. </td>
		</tr>
		<tr>
			<td>Nasair Powell</td>
			<td>2017
Boys Latin</td>
			<td>Strengths: Very good slasher who finishes very well at the rim. Great communicator and very active on both ends of the glass. 

Weaknesses: He can elevate his game by increasing the range on his jump shot. </td>
		</tr>
		<tr>
			<td> Christopher Mann</td>
			<td>2018
Phillipsburg</td>
			<td>Strengths: Good all-around forward who rebounds and runs the floor well. Can score in the post and step out to 15 feet with a nice jump shot. Passes out of the post very well. 

Weaknesses: Can improve his jump shot and ball handling skills which will enable him to become more well-rounded. Can be more of a physical presence on the court. </td>
		</tr>
		<tr>
			<td> Ijarh Amin</td>
			<td>2019</td>
			<td>Strengths: A competitor on both ends of the floor. Very active on the defensive end and forced several turnovers. 

Weaknesses: Can improve his offensive game by working on his dribble moves, explosion to the basket, and finishes around the rim. </td>
		</tr>
		<tr>
			<td> Justin Steers</td>
			<td>2018
Friends Central</td>
			<td>Strengths: Long, athletic wing who rebounds well and attacks the rebound. Has shown the ability to lead the break off of a rebound with his dribbling skills. 

Weaknesses: Needs to continue to develop a consistent jump shot to elevate his game. </td>
		</tr>
		<tr>
			<td> BK Kothari</td>
			<td>2020
Friend's Central</td>
			<td>Strengths: A player with strong fundamentals and plays very unselfish by making the right basketball play. 

Weaknesses: Can elevate his game by increasing his physical strength to keep players in front of him and working on his jump shot. </td>
		</tr>
		<tr>
			<td>Matt Carter</td>
			<td>2017
MAST Community Charter</td>
			<td>Strengths: High IQ player who is always in the correct spot defensively. Can shoot the ball from 3 efficiently and cuts well without the ball. 

Weaknesses: If he can improve his ball handling while he is under pressure, he will become a more versatile player. </td>
		</tr>
		<tr>
			<td>Eric Berley</td>
			<td>2020
Dallas</td>
			<td>Strengths: Hard working point guard who can dribble, pass, and shoot. Finishes his drives off of hesitation moves and rebounds well for a guard. 

Weaknesses: Improving his speed and quickness will elevate his game to the next level. </td>
		</tr>
		<tr>
			<td> James Hines</td>
			<td>2017
Lindenwold</td>
			<td>Strengths: Left-handed point guard with good shooting form. Sees the open man very well and finishes off of drives. Very athletic with good foot speed. 

Weaknesses: Can become a better defensive player by picking up his player full court and pressuring him. </td>
		</tr>
		<tr>
			<td>Rashied Lawson Jr. </td>
			<td>2018
Renasissance</td>
			<td>Strengths: A great competitor and hustle player. Communicates on the court and does not try to force a play. 

Weaknesses: Can become a more versatile player by developing a more consistent jump shot and being confident with the ball in his hands. </td>
		</tr>
		<tr>
			<td>Marcus Ramos</td>
			<td>2019
Bodine International</td>
			<td>Strengths: A great, tenacious defender who also creates offensive opportunities for his teammates. 

Weaknesses: A better handle and more consistent shot will help to develop his game further. </td>
		</tr>
		<tr>
			<td>Jessey Phillips</td>
			<td>2019
Foundation</td>
			<td>Strengths: An excellent young point guard who is very deceptive and can finish off of drives. A hard working player who will find a way to win. 

Weaknesses: Should focus on including a consistent 3 point shot into his offensive game. </td>
		</tr>
		<tr>
			<td>Myles Carter</td>
			<td>2017
Palumbo</td>
			<td>Strengths: An excellent driver with an explosive first step with the ball. Can pass off of the drive and create separation to finish at the basket. 

Weaknesses: By increasing his overall strength, it will keep players off of him. </td>
		</tr>
		<tr>
			<td>Marlon Parrott Jr. </td>
			<td>2018
Foundation</td>
			<td>Strengths: Good shooting guard with nice form and good rotation on the ball. 

Weaknesses: Can become a more all-around player by focusing on his ball handling and passing skills. </td>
		</tr>
		<tr>
			<td> Rafael Valentin</td>
			<td>2019
Pocono Mountain West</td>
			<td>Strengths: High IQ player with strong ball handling skills and has the ability to penetrate and create for teammates. Moves well without the ball and is very active defensively in help side situations. 

Weaknesses: Can become a more versatile player by continuing to develop a consistent jump shot. </td>
		</tr>
		<tr>
			<td> Darien Simmons</td>
			<td>2017
Conwell-Egan Catholic</td>
			<td>Strengths: All-around, athletic point guard who can drive, dish, and finish. Very good on the break and has shown a nice a pull-up jump shot. 

Weaknesses: Will become an all around offensive player by developing a consistent 3 point shot. </td>
		</tr>
		<tr>
			<td> Baseem Cooper</td>
			<td>2020</td>
			<td>Strengths: A good point guard with the ability to pass, dribble, and shoot. A strong penetrator into the lane. Good defender. 

Weaknesses: Will become a more complete player by increasing his shooting range. </td>
		</tr>
		<tr>
			<td> Dewitt Johnson</td>
			<td>2018</td>
			<td>Strengths: Very strong combo guard with the ability to get to the rim and finish with body control. Has shown a nice jump shot with range out to the 3 point line. 

Weaknesses: Will elevate his game by consistently working hard and putting the effort into every play.  </td>
		</tr>
		<tr>
			<td> Joshua Hall</td>
			<td>2018
Southern</td>
			<td>Strengths: An unselfish player with a quick first step and has the ability to finish around the basket. Works well with his teammates. 

Weaknesses: By developing a more consistent outside shot, this will keep defenders honest. Should also focus on his defensive positioning and principles.  </td>
		</tr>
		<tr>
			<td> Justin Gliksman</td>
			<td>2017
Great Valley</td>
			<td>Strengths: A team player who sees the open man and runs the floor very hard. 

Weaknesses: By improving his shooting form and foot speed, he will become a better all-around player. </td>
		</tr>
		<tr>
			<td> Jalin Robinson</td>
			<td>2018
Red Lion Christian</td>
			<td>Strengths: Natural scorer who runs the floor hard and finishes well at the rim. Likes to push the ball in transition and is a tough on ball defender. 

Weaknesses: Needs to focus on defensive rotations and improving his shooting form will significantly improve his game. </td>
		</tr>
		<tr>
			<td>Tyree Artis</td>
			<td>2019
Concord</td>
			<td>Strengths: A smooth guard with the ability to score in multiple ways. Has a nice shot and is able to finish around the rim with a soft touch. 

Weaknesses: In order to bring his game to the next level, he should focus on becoming a great dribbler. </td>
		</tr>
		<tr>
			<td>Nick Clark</td>
			<td>2018
Nazareth</td>
			<td>Strengths: An unselfish player with a high IQ for the game. Has strong fundamentals and is very vocal on the defensive end. 

Weaknesses: Should focus on his ball handling skills in order to become more comfortable under pressure. </td>
		</tr>
		<tr>
			<td>Sekou Fofana</td>
			<td>2017
West Catholic</td>
			<td>Strengths: A versatile  player with great body control and can finish around the rim, taking the contact and finishing strong. Has the ability to guard multiple positions. 

Weaknesses: Should focus on his mid range game in order to keep defenders honest. </td>
		</tr>
		<tr>
			<td> Maihan Ramin</td>
			<td>2018
Nazareth</td>
			<td>Strengths: A smaller guard who has shown the ability to be a playmaker by penetrating and distributing the basketball. Very good at pushing the ball in transition. 

Weaknesses: Can improve his offensive game by becoming a strong player to help finish at the rim. </td>
		</tr>
		<tr>
			<td>Jahleel Dennett</td>
			<td>2017
High School of the Future</td>
			<td>Strengths: Strong player when attacking the rim. Has a constant motor and outworks his opponents. Makes the hustle plays. 

Weaknesses: If he works on consistently knocking down the open shot, he will become an all-around player. </td>
		</tr>
		<tr>
			<td>Antonio Rizzuto</td>
			<td>2018
Northeastern</td>
			<td>Strengths: Good shooting guard who runs the floor very hard. Great defender who rebounds from the guard position very well. Can score in both transition and by stepping out to show his range. 

Weaknesses: Should focus on moving without the ball in order to improve his offensive game.  </td>
		</tr>
		<tr>
			<td> Dajuan Edwards</td>
			<td>2017
Amelia Academy</td>
			<td>Strengths: Floor general who demonstrates great pace in both transition and the half court. Looks to distribute first but can shoot the 3 point shot. 

Weaknesses: Needs to focus on finishing through contact around the rim. </td>
		</tr>
		<tr>
			<td> Daniel Lynch</td>
			<td>2019
Moravian</td>
			<td>Strengths: Hardworking point guard who shows the ability to find the open man. 

Weaknesses: Should focus on defensive principles and his shooting ability to bring his game to the next level. </td>
		</tr>
		<tr>
			<td>Tony Wright </td>
			<td>2018
Red Lion Christian</td>
			<td>Strengths: Strong, powerful guard with great dribbling and passing capabilities. Tends to score off of rebounds and drives. A team player. 

Weaknesses: Improving his shot will take his game to the next level. </td>
		</tr>
		<tr>
			<td>Rashon Johnson</td>
			<td>2017
Simon Gratz</td>
			<td>Strengths: Well-rounded player who is quick and has good moves to the basket. Has the ability to shoot the pull up, finish drives, and shoot the 3. 

Weaknesses: Should focus on his strength and becoming more of a physical presence on the court. </td>
		</tr>
		<tr>
			<td>Najee Joyner</td>
			<td>2019
Burlington Township</td>
			<td>Strengths: A player with a great motor and makes the hustle play. Has the length and tenacity to be an elite defender. 

Weaknesses: In order to become an all around player, he must hone in on his shooting ability and increase his shooting range. </td>
		</tr>
		<tr>
			<td>KJ Quinn</td>
			<td>2019
Phoenixville</td>
			<td>Strengths: Good position defender who consistently makes the right decisions with the ball in his hands. Takes good shots. 

Weaknesses: Needs to focus on his explosiveness in order to get by defenders and becoming a stronger player will enable him to keep his player in front of him. </td>
		</tr>
		<tr>
			<td> Logan Monroe</td>
			<td>2018
Conestoga Valley</td>
			<td>Strengths: Small forward who runs the floor very hard. Very active defensively in the passing lanes and rebounds well on the defensive glass. Finishes well around the rim. 

Weaknesses: Needs to continue to work on post moves in order to become a bigger threat in the paint. </td>
		</tr>
		<tr>
			<td>Michael Mungin</td>
			<td>2020
Westlot Christian
</td>
			<td>Strengths: Player with a good IQ for the game and always makes the right play. Plays very hard and looks to get teammates involved.

Weaknesses: By improving his foot speed and rebounding abilities, it will enable him to develop his overall game. </td>
		</tr>
		<tr>
			<td> Josh Kline</td>
			<td>2018
Central Valley</td>
			<td>Strengths: Strong, rebounding forward with nice touch around the basket. Runs the floor hard and can finish well in the paint. 

Weaknesses: Needs to become more of a physical presence on the floor. </td>
		</tr>
		<tr>
			<td> Robert Young</td>
			<td>2017
Abington</td>
			<td>Strengths: Strong all around point guard with quick feet and athletic moves to the basket. Quick hands and feet on defense. Has the ability to finish at the rim and shoot off the dribble. 

Weaknesses: Can improve passing skills and focus in on defensive positioning. </td>
		</tr>
		<tr>
			<td>Elijah Seger</td>
			<td>2017
Central Bucks East High School</td>
			<td>Strengths: Team player who makes the right offensive decisions. Can knock down the open shot and is a strong position defender. 

Weaknesses: Should focus on improving his ball handling skills and staying calm under pressure defense. </td>
		</tr>
		<tr>
			<td>Ali Salama</td>
			<td>2020
Stroudsburg</td>
			<td>Strengths: A very hard working player. 

Weaknesses: Can improve his overall skill set in order to further develop his game. </td>
		</tr>
		<tr>
			<td> Austin Monroe</td>
			<td>2018
Conestoga Valley</td>
			<td>Strengths: Smart, high energy player who works hard on both ends of the floor. Very active on the defensive end and makes the smart play offensively. 

Weaknesses: Needs to continue to develop his jump shot. </td>
		</tr>
		<tr>
			<td>Kvonn Cramer</td>
			<td>2019
Mount Pleasant</td>
			<td>Strengths: Strong player with the ability to finish through contact. Very long and active on the defensive end. 

Weaknesses: Should focus on his ball handling skills and extend his shooting range. </td>
		</tr>
		<tr>
			<td> Jacob Gray</td>
			<td>2019</td>
			<td>Strengths: Great team player who gets his teammates open shots. Runs the floor hard in transition and is very active on the defensive glass. 

Weaknesses: Needs to work on his touch around the rim. </td>
		</tr>
		<tr>
			<td>Will Coleman</td>
			<td>2018
Valley Forge Military</td>
			<td>Strengths: Long forward who has the ability to shoot the 3 and finish in the post. High IQ player who makes the simply play. 

Weaknesses: Needs to use his size to his advantage on the defensive end and play a more physical game. </td>
		</tr>
		<tr>
			<td> Shaheed Owens</td>
			<td>2019
High School of the Future</td>
			<td>Strengths: Guard with a quick release jump shot and doesn't force shots. Runs the floor extremely hard. 

Weaknesses: Should focus on a consistent 3 point shot. </td>
		</tr>
		<tr>
			<td> Alex Sabastiani</td>
			<td>2017
River Dell</td>
			<td>Strengths: A good rebounder who runs the floor hard every possession. 

Weaknesses: Can improve his passing and shooting skills. Faster foot speed will enable him to keep opponents in front of him. </td>
		</tr>
	</tbody>
</table>
