<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Coaches Eval</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/babatunde-ajike-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64447" /></td>
			<td>Ajike, Baabatunde</td>
			<td>9</td>
			<td>Baabatunde is a very good athlete who plays tough defense and goes hard after every rebound on both ends. He was at his best today when attacking the rim and finishing through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/trevon-alderman-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64537" /></td>
			<td>Alderman, Trevon</td>
			<td>9</td>
			<td>Trevon is at his best with the ball in his hand. He is a willing passer and doesn't get flustered when there is ball pressure. He has an excellent first step that allows him to explode to the rim and finish through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/quadere-allen-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64523" /></td>
			<td>Allen, Quadere</td>
			<td>12</td>
			<td>Quadere is a strong, defensive minded player who got after every loose ball went after every rebound. He made all of the smart plays for his team and was willing to sacrifice his body to create second chances on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/arian-azemi-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64444" /></td>
			<td>Azemi, Arian</td>
			<td>11</td>
			<td>Arian worked hard all day to create extra scoring opportunities for his team. He showed his ability to knock down the open shot. His defensive positioning allowed him to get into passing lanes and slow down opponents.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/bryce-barrouk-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64451" /></td>
			<td>Barrouk, Bryce</td>
			<td>10</td>
			<td>Bryce does a great job of getting everyone involved and finding the open man. He is a very consistent outside shooter and doesn't force shots. He has the ability to stretch defenses opening up the middle of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/quentin-beasley-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64524" /></td>
			<td>Beasley, Quentin</td>
			<td>11</td>
			<td>Quentin is a strong finisher who gets to the rim whenever he wants. He is a very physical on ball defender who created easy scoring opportunities for his team through his ability to force turnovers and get steals.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/randy-bell-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64527" /></td>
			<td>Bell, Randy</td>
			<td>12</td>
			<td>Randy used his quick first step and athleticism to get in the paint. He showed his ability to hit a jump shot as well as find the open man. Randy did an excellent job of putting pressure on the ball and keeping his man in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/darin-bellinger-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64464" /></td>
			<td>Bellinger, Darin</td>
			<td>11</td>
			<td>Darin is a very active player with tremendous athleticism and potential. He has a smooth shot and a great understanding of where to position himself on offense to get free from his defender.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Boykin, Keyon</td>
			<td>12</td>
			<td>Keyon did a great job of running the floor in transition as well as getting back on defense. He excels at beating his defender and getting to the rim while finishing through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/theo-braddy-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64534" /></td>
			<td>Braddy, Theotis</td>
			<td>11</td>
			<td>Theotis has a good burst towards the rim and showed his ability to finish through contact. He handles the ball well in tight spaces and against pressure. He worked hard to keep his man away from the rim on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jack-brown-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64475" /></td>
			<td>Brown, Jack</td>
			<td>9</td>
			<td>Jack has a great understanding for the game and saw plays develop before they happened. He is very fundamentally sound with an all around skill set that allows him to play multiple positions.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/paul-brown-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64520" /></td>
			<td>Brown, Paul</td>
			<td>10</td>
			<td>Paul is a very smart player who used his understanding of the game to be one step ahead of his opponent. He showed his ability to step out and hit a shot as well as use his length to score around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/josh-brownstein-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64488" /></td>
			<td>Brownstein, Josh</td>
			<td>11</td>
			<td>Josh is a good shooter who can stretch the floor and knock down outside shots. He is very crafty when attacking the rim and getting in the paint. Josh has a great understanding of where to position himself on defense to help if a man drives to the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/dyony-bueno-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64468" /></td>
			<td>Bueno, Dyony</td>
			<td>11</td>
			<td>Dyony has a great feel for the game and is an excellent one on one defender. He plays hard and is a tough matchup for defenses because of his quick first step and ability to get by his defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/kevin-burns-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64500" /></td>
			<td>Burns, Kevin</td>
			<td>9</td>
			<td>Kevin is an athletic guard who has huge upside for his age.His athleticism kept him one step ahead of his man all day and allowed him to shut down opponents. He has a great handle of the ball and plays at a fast, controlled pace. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/drew-burton-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64467" /></td>
			<td>Burton, Drew</td>
			<td>11</td>
			<td>Drew is a very active rebounder and extremely coachable. He is a versatile player who brings a lot to the table. He is willing to do the little things and outhustle his opponent for loose balls.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/Yshad-Butcher-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64542" /></td>
			<td>Butcher, Yshaad</td>
			<td>9</td>
			<td>Yshaad has a great frame and tons of length on the perimeter. He has a very complete set of offensive skills that allow him to score in multiple ways. Yshaad has a high ceiling and will only improve the more he plays.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/bryce-calloway-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64452" /></td>
			<td>Calloway, Bryce</td>
			<td>9</td>
			<td>Bryce demonstrated a high upside throughout the day and has a great feel for the game for his age. He has great court vision and understanding of spacing on the offensive end. He attacked the rim hard and didn't have any issues getting by his defender.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Carter, Ahrod</td>
			<td>10</td>
			<td>Ahrod is an athletic guard who used his handle to aggressively attack the basket all day. He showed the ability to score from different areas of the court as well as find the open man and get them the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/myles-carter-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64512" /></td>
			<td>Carter, Myles</td>
			<td>11</td>
			<td>Myles is an athletic guard who showed his ability to score all over the court. He is a scrappy guard who kept opposing guards out of the paint and made them work for 94 feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/matt-cerruti-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64543" /></td>
			<td>Cerruti, Matt</td>
			<td>11</td>
			<td>Matt did a great job running off and screens and using them to his advantage to get open. He understands how to move without the ball and was very consistent knocking down shots once his feet were set.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Clowney, James</td>
			<td>12</td>
			<td>James is a strong, athletic forward who dominated the glass. He was able to create second chance opportunities for himself and finish hard at the rim. He did a solid job defending his man and keeping him off the boards. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/will-colleran-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64541" /></td>
			<td>Colleran, Will</td>
			<td>10</td>
			<td>Will did an excellent job of moving the ball forward in transition and starting fast breaks. He has a great feel for the game and a high basketball IQ. He made strong passes to his teammates all day.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Cramer, Kvonn</td>
			<td>9</td>
			<td>Kvonn had a terrific day and was one of the best athletes on the court. He plays great defense and finishes every defensive set by grabbing the rebound. He is at his best on offense when attacking the rim and can finish with either hand.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/marquez-cruz-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64504" /></td>
			<td>Cruz, Marquez</td>
			<td>11</td>
			<td>Marquez is a versatile player who has the ability to plaly multiple positions on offense as well as defend multiple positions on defense. He did a great job of moving the ball and finding open teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/nik-curew-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64514" /></td>
			<td>Curnew, Nikolas</td>
			<td>12</td>
			<td>Nikolas has a great understanding of where to be on the court and how to play defense. He got after his man on defense and didn't allow him to drive past him and get to the basket.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Curry, Marcell</td>
			<td>12</td>
			<td>Marcell is a ball hawk on defense with very quick hands. He has the ability to impact games with his aggressive defensive pressure. He is a very smart shooter who looks to spot up and knock down shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/mike-depersia-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64510" /></td>
			<td>DePersia, Mike</td>
			<td>9</td>
			<td>Mike showed his ability to run a team and control an offense. He used his creativity with the ball in his hand to create offense. He handled ball pressure incredibly well and never got flustered when pressure came.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/rahmaad-dejarnette-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64526" /></td>
			<td>Dijurnette, Rahmaad</td>
			<td>9</td>
			<td>Rahmaad is a long wing with a high upside. He is a terrific on ball defender and was able to keep his man out of the paint. Rahmaad attacks the paint aggressively and is able to create his own shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/eric-dixon-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64469" /></td>
			<td>Dixon, Eric</td>
			<td>9</td>
			<td>Erick has a very soft touch around the rim and finishes with both hands. He moves very well in transition and runs the floor aggressively. He uses his large frame to create space for himself and keep his man away from the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/tommy-egan-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64535" /></td>
			<td>Egan, Tommy</td>
			<td>12</td>
			<td>Tommy is a quick player who was able to create his own shot off the dribble. He was able to make plays for himself as well as others. His quickness with the ball in his hand allowed him to create separation from his defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/rahee-ellis-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64525" /></td>
			<td>Ellis, Rahee</td>
			<td>11</td>
			<td>Rahee did a nice job starting the fast break and finishing at the rim or finding his teammates. His athleticism and ability to rebound makes him a great asset to any team on the defensive end of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jaimhy-evans-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64477" /></td>
			<td>Evans, Jaimhy</td>
			<td>9</td>
			<td>Jaimhy showed his ability to break down his defender and get to the rim. He has a quick first step and was able to create space from his defender and consistently knocked down mid range jumpers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/josh-fleming-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64489" /></td>
			<td>Fleming, John</td>
			<td>12</td>
			<td>John showed a real understanding of how to play offense and fill the lanes in transition. He made some great plays for his teammates today with his ability to pass the ball and find open shooters.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Foster, Raymond</td>
			<td>12</td>
			<td>Raymond is a long, active wing who can score in a variety of ways. His athleticism allowed him to create instant offense for himself and rise above opponents for rebounds. He creates match up issues on both ends of the floor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/cory-fulton-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64463" /></td>
			<td>Fulton, Cory</td>
			<td>10</td>
			<td>Cory had a great day shooting off the dribble. He does an excellent job of setting his feet and squaring up to the basket. His quickness and athleticism made him stand out from other players.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/andrew-funk-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64441" /></td>
			<td>Funk, Andrew</td>
			<td>10</td>
			<td>Andrew has great range on his shot that stretches out defenders and creates openings for his teammates. He makes very strong passes and sees the floor really well in the half court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/justin-ganas-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64494" /></td>
			<td>Gans, Justin</td>
			<td>11</td>
			<td>Justin runs the floor well and gets himself easy lay ups in transition. His handle and quick hands make him an ideal combo guard. He did a great job of setting his feet and hitting open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/nolan-genasevich-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64515" /></td>
			<td>Genasevich, Nolan</td>
			<td>11</td>
			<td>Nolan is a stretch forward who was at his best when catching and finishing in the paint. His length and athleticism allowed him to run the floor and rebound well at both ends of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/sami-ghazzi-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64528" /></td>
			<td>Ghazzi, Sami</td>
			<td>11</td>
			<td>Sami has a great sense of where his teammates are at all time and executes the correct pass. He has the ability to knock down open shots as well as create space for himself and shoot over his defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/collin-gillespie-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64462" /></td>
			<td>Gillespie, Collin</td>
			<td>11</td>
			<td>Collin is an extremely gifted guard who plays with great pace and controls the offense. He makes all the right reads, passes and plays. His consistent shot makes him a complete player at the guard position. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/david-guiliani-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64465" /></td>
			<td>Giuliani, David</td>
			<td>11</td>
			<td>David has a high basketball IQ and a tremendous feel for where everyone is on the court. He was able to hit open shots and consistently found the open man on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/joshua-godfrey-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64491" /></td>
			<td>Godfrey, Joshua</td>
			<td>9</td>
			<td>Joshua is a prototype point guard who focuses on setting up his teammates for open shots. He is great in starting transition and making the smart play. Joshua had a good day spotting up outside and knocking down a couple 3's.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/chandelr-gordon-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64456" /></td>
			<td>Gordon, Chandler</td>
			<td>12</td>
			<td>Chandler did a solid job today of guarding the ball today and causing havoc. He has a very smooth dribble and used it to his advantage to attack the paint and knock down mid range jumpers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/shaekwon-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64532" /></td>
			<td>Grant-Wheeler, Shaekwon</td>
			<td>12</td>
			<td>Shaekwon found his shot by sprinting to the wings and spotting up. He was at his best when setting his feet and squaring up to the basket. He has a smooth shot from deep and never rushes or forces any looks.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/anthony-green-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64442" /></td>
			<td>Green, Anthony</td>
			<td>11</td>
			<td>Anthony is a good shooter with range out to the 3 point line. He showed his ability to get by his man and consistently knock down pull up jumpers. He sees the floor well and finds openings in the defense.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Green, Malik</td>
			<td>N/A</td>
			<td>Malik does a good job of going after every rebound and boxing his man out. He never took a possession off on defense and worked his hardest to keep his man in front of him. He is aggressive on offense and looks to slash and attack the rim.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Ham, Bruce</td>
			<td>11</td>
			<td>Bruce was able to push the ball in transition and find open teammates. He has all of the skills on offense to create his own shot and score in a variety of ways. He was at his best getting in the paint and looking for his shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/christian-haney-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64460" /></td>
			<td>Haney, Christian</td>
			<td>10</td>
			<td>Christian is a very smart player who protected the ball and made the decisions all day. He has a great motor and is always in the right position on defense. Christian made a few hustle plays that gave his team extra possesions.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/kiyon-hardy-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64501" /></td>
			<td>Hardy, Kiyon</td>
			<td>11</td>
			<td>Kiyon did a great job getting to the rim and getting out in passing lanes. He plays hard and likes to get his teammates involved. His tight ball handling allowed his teammates to move on offense and get to open spots.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Harris, Deonte</td>
			<td>12</td>
			<td>Deonte is an athletic defender who played hard at all times and never took a play off. He rebounded the ball very well and showed his ability to finish at the rim through contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/harris-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64472" /></td>
			<td>Harris, Irie</td>
			<td>11</td>
			<td>Irie handles pressure very well and made the smart pass out of traps to the open man. He had some great catch and shot plays and was most consistent at 12-15 feet. His hustle all day created extra plays for his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/Maurice-Henry-Coppedge-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64508" /></td>
			<td>Henry-Coppedge, Maurice </td>
			<td>9</td>
			<td>Maurice has a great handle on the and handles opposing pressure well. He is a consistent shooter who has range out to the 3 point line. He does a good job controlling the offense and keeping the ball moving.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/maurice-henry-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64546" /></td>
			<td>Henry, Maurice</td>
			<td>12</td>
			<td>Maurice did a great job protecting the rim by blocking and altering opponents shots. He was able to grab any rebound in his area on both ends of the court. His height and length allowed him to shoot over defenders.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Hevalow, Jonathan</td>
			<td>12</td>
			<td>Jonathan has great versatility and is a complete offensive player. He can get to the rim, hit a 3 and pull up at midrange. He uses his size to get an advantage on the boards and clean up any rebound in his area.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/preston-hickman-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64522" /></td>
			<td>Hickman, Preston</td>
			<td>12</td>
			<td>Preston uses his craftiness to get by his defender and into the paint. He finishes well around the rim and doesn't avoid contact. He defends the ball extremely well and makes his man work to get up the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/casey-jack.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-64455" /></td>
			<td>Jack, Casey</td>
			<td>9</td>
			<td>Casey is an excellent rebounder who wasn't afraid to go after rebounds against opponents who were older and bigger than him. His ability to get in the lane created issues for his opponent. He has a great work ethic and a huge upside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/gerald-jaramon-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64470" /></td>
			<td>Jarmon, Gerald</td>
			<td>9</td>
			<td>Gerald did a great job of setting the table for his teammates. He is a crafty guard who consistently created offense for his team. He was calm under pressure and never lost control of the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jarred-jermacans-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64481" /></td>
			<td>Jermacans, Jarred</td>
			<td>10</td>
			<td>Jarred showed a very good understanding of the game throughout the day. He was able to find gaps in the defense and hit open shots. He shot his best off the catch and shoot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/arvell-jones-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64446" /></td>
			<td>Jones, Arvelle</td>
			<td>12</td>
			<td>Arvelle is a strong, smooth player who plays very smart defense. He is a crafty scorer who loves to get to the rim and break down his defender off the dribble. He was able to consistently score at will in a variety of ways.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jsaun-jones-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64492" /></td>
			<td>Jones, Jsuan</td>
			<td>9</td>
			<td>Jsuan is a good ball handler with huge upside at the guard position. He showed the ability to be a lock down defender and used his quickness to keep his man in front of him and not let him get into the paint.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Jones, Terrell</td>
			<td>11</td>
			<td>Terrell was one of the more athletic guys today who used his explosiveness to attack the basket. He was a menace on the offensive boards and scored the majority of his points off second chance opportunities.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/julius-jordan-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64493" /></td>
			<td>Jordan, Julius </td>
			<td>9</td>
			<td>Julius was one of the hardest workers who got after every loose ball. He pressured his man well in the half court and made it difficult for them to get clean passes. He pushed the ball forward well and started transition on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/bryan-karl-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64450" /></td>
			<td>Karl, Bryan</td>
			<td>11</td>
			<td>Bryan is a great on ball defender as well as help his teammates when they got beat. He showed his versatility of being able to to guard multiple positions. His size and speed made it difficult for his opponents to stop him on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/ben-kelly-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64448" /></td>
			<td>Kelly, Ben</td>
			<td>9</td>
			<td>Ben is a solid guard who has a good handle and understanding of the game. His court vision allowed him to push the ball in transition and find an open teammate ahead.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/sean-kelly-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64530" /></td>
			<td>Kelly, Sean</td>
			<td>10</td>
			<td>Sean is an extremely hard player who is always around the action. He has a very fundamentally sound set of skills that make him a complete level. Sean has a great motor and competes at a high level.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/matthew-kempter.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-64545" /></td>
			<td>Kempter, Matt</td>
			<td>9</td>
			<td>Matt has a very high basketball IQ for his age and makes all of the right passes and shots. He is able to hit shots from anywhere on the court as well as get past his defender and attack the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/konrad-kiszka-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64502" /></td>
			<td>Kiszka, Konrad</td>
			<td>9</td>
			<td>Konrad has a very developed set of skills for his age. He is a tremendous shooter from anywhere on the court and has some strong moves to get by his defender. He has a very high ceiling to complement his skills.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/adam-kline-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64438" /></td>
			<td>Kline, Adam</td>
			<td>12</td>
			<td>Adam is a long, skilled forward who is active on both ends of the floor. He has a good understanding of where to be on defense and how to rotate towards a driving opponent. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/josh-kline-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64490" /></td>
			<td>Kline, Josh</td>
			<td>10</td>
			<td>Josh had a great night rebounding the ball and giving his team multiple scoring opportunities on each possession. He was able to finish hard at the rim and has a good set of post moves. He has the ability to both block and alter his opponents shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/chris-kuhar-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64458" /></td>
			<td>Kuhar, Christopher</td>
			<td>11</td>
			<td>Christopher is a tough guard who knows how to effectively run an offense. He gets anyone he wants on the floor with his dribble and creates open shots for teammates. He makes everyone around him better.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/justin-kupa-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64495" /></td>
			<td>Kupa, Justin</td>
			<td>11</td>
			<td>Justin is a knock down shooter from anywhere on the court. He was able to find openings in the defense and was able to consistently hit open jump shots. The attention he drew to his shot allowed him to draw defenders and find an open teammate.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/dillon-larkin-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64466" /></td>
			<td>Larkin, Dillon</td>
			<td>10</td>
			<td>Dillon is an aggressive defender who forced turnovers for his team and got them started in transition. He pushed the ball hard up the floor and located his teammates for open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jared-latane-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64480" /></td>
			<td>Latane, Jared</td>
			<td>10</td>
			<td>Jared used his quickness and handle to go by defenders off the dribble and get in the paint. All day he was able to keep his man in front of him and used his quick hands to create turnovers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/james-leible-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64479" /></td>
			<td>Leible, James</td>
			<td>10</td>
			<td>James is a smart player who plays within himself and competes on both ends of the court. He is at his best when setting his feet and spotting up for open jump shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/arnel-lewis-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64445" /></td>
			<td>Lewis, Arnel</td>
			<td>11</td>
			<td>Arnel does a really good job of using his length to score in a variety of ways. He is very quick off the drop at getting up the floor in transition. He used his handle to create space for open jumpers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/michael-li-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64509" /></td>
			<td>Li, Michael</td>
			<td>12</td>
			<td>Michael does a good job of handling the ball under pressure. He has a very high basketball IQ and understanding of the right play. He is the type of player who will run through a wall for his coach and teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/matt-long-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64544" /></td>
			<td>Long, Matt</td>
			<td>9</td>
			<td>Matt has a great concept and understanding of how to run a fluid, successful offense. He uses screens well to get into the middle of the defense. Matt does a good job of facilitating on offense and getting his teammates open shots. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/charlie-martin-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64457" /></td>
			<td>Martin, Charlie</td>
			<td>11</td>
			<td>Charlie knows how to play with spacing on offense and is very impactful in the half court. He can stretch the defense with his ability to shoot outside jumpers and can put it on the floor and get by his defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/melik-martin-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64547" /></td>
			<td>Martin, Melik</td>
			<td>11</td>
			<td>Melik did a great job of beating his man off the dribble and getting to the basket. He was aware of his mismatches and showed his abiliity to post up smaller defenders. He knows where to be on defense and did a good job protecting the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/caleb-matthews-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64453" /></td>
			<td>Matthews, Caleb</td>
			<td>10</td>
			<td>Caleb is a knock down shooter who is at his best when his feet are set. He was able to consistently score from anywhere on the court throughout the day. He did a good job of seeing the floor and making the right pass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jelani-mauge-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64483" /></td>
			<td>Mauge, Jelani</td>
			<td>11</td>
			<td>Jelani is a scrappy defender who worked hard to turn his man on defense and not let him get up the floor. He is an aggressive rebounder and created his own scoring opportunities off his hustle.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/aidan-mccarthy-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64439" /></td>
			<td>McCarthy, Aidan</td>
			<td>10</td>
			<td>Aidan has a good skill set to go with his high basketball IQ. He did a great job of setting up his teammates both in transition and the half court. He was able to find his own open shot and hit them consistently throughout the day.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/brandon-mccullogh-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64449" /></td>
			<td>McCullough, Brandon</td>
			<td>11</td>
			<td>Brandon is an excellent on ball defender who made his man work to get the ball past him. He plays under control at all times and has good court awareness as to where his teammates are at all times.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/own-mcGlashan.jpg" alt="" width="300" height="200" class="aligncenter size-full wp-image-64518" /></td>
			<td>McGlashen, Owen</td>
			<td>9</td>
			<td>Owen displayed his athleticism and length all day when attacking the rim. He was able to finish over defenders when driving to the basket. Owen was able to rise above opponents and grab any rebound in his area.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jordan-money-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64486" /></td>
			<td>Money, Jordan</td>
			<td>11</td>
			<td>Jordan is incredibly quick running down the floor and is a killer in transition. He is a high level defender who keeps his man in front of him and does a great job of sliding his feet and avoiding fouls.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Moore, William</td>
			<td>10</td>
			<td>Will has good shooting form and is able to stop and pull up from anywhere on the court. He saw all the right plays and made the correct passes to his teammates to keep the offense moving.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/marquis-moultrie-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64505" /></td>
			<td>Moultrie, Marquis</td>
			<td>12</td>
			<td>Marquis is a very athletic guard who loves getting to the rim. He has great timing on defense and knows when to jump into passing lanes to force turnovers. He slashes to the rim hard and doesn't shy away from contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/murphy-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64511" /></td>
			<td>Murphy, Colin</td>
			<td>12</td>
			<td>Colin understands how to get his teammates involved and made everyone around him better all day. He reads the ball screen extremely well and knows how to use it to get open shots and get into the middle of the defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/tyrone-nesby-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64540" /></td>
			<td>Nesby, Tyrone</td>
			<td>11</td>
			<td>Tyrone is an athletically gifted wing who can get to the rim off his dribble and finish with either hand. He is extremely aggressive on defense and the combination of his size and length allows him to stripe defenders and start transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/nate-nicholson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64513" /></td>
			<td>Nicholson, Nate</td>
			<td>10</td>
			<td>Nate is a very quick guard who is comfortable with the ball in his hand. He has a very fast first few steps which make it very hard to keep him in front of you on defense. Nate does a great job of finding the open man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jazere-noel-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64474" /></td>
			<td>Noel, Jazere</td>
			<td>11</td>
			<td>Jazere has a very complete set of skills and has great upside. He understands how to play the game and plays with a good pace. He made sharp, clean passes to his teammates all day when they were open. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/patrick-obogo-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64519" /></td>
			<td>Obongo, Patrick</td>
			<td>9</td>
			<td>Patrick is an athletic big who was able to make highlight plays and impact both ends of the floor. His activity on the glass was great all day. He was able to use his length and size to get the position that he wanted.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/chris-okafor-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64459" /></td>
			<td>Okafor, Chris</td>
			<td>9</td>
			<td>Chris is a long, athletic forward who has great shot blocking ability. He runs the floor very well and rebounds hard on both ends. Chris used his size all day to get the position he wanted and finish in the low post. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/keith-otto-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64499" /></td>
			<td>Otto, Keith</td>
			<td>11</td>
			<td>Keith showed a great feel for the game and consistently made the right basketball decision. He is an excellent passer and did a good job of pushing in transition. He demonstrated his ability to knock down outside shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/justin-paz-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64496" /></td>
			<td>Paz, Justin</td>
			<td>9</td>
			<td>Justin had a really good day scoring in a variety of ways. He was one of the more consistent shooters on the day and could score from anywhere on the court. His ball handling and strong passes make him a complete offensive threat.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/christian-pellerin-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64461" /></td>
			<td>Pellerin, Christian</td>
			<td>12</td>
			<td>Christian is an athletic player who has good ball handling and sees the floor very well. He got after it aggressively all day on defense and went hard after every rebound once a shot went up.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/tyree-pickron-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64538" /></td>
			<td>Pickron, Tyree</td>
			<td>10</td>
			<td>Tyree does an excellent job of using his body to fight off defenders and finish around the rim. He uses his length and athleticism to create turnovers and keep his man in front of him on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/seth-pinkney-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64531" /></td>
			<td>Pinkney, Seth</td>
			<td>10</td>
			<td>Seth is a monster on defense and has great timing when going up to block shots. He absorbs the majority of his opponents attention at both ends of the floor. He plays hard at all times and uses his body to create space on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/nyaire-redding-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64516" /></td>
			<td>Redding, Nyaire</td>
			<td>9</td>
			<td>Nyaire is a facilitator on offense who looks to create open scoring opportunities for his teammates. He is an unselfish player who plays hard on defense and creates turnovers that lead to transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/masson-ressler-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64507" /></td>
			<td>Ressler, Mason</td>
			<td>11</td>
			<td>Mason is a very smart player who is always in the right spots and makes the simple plays. He crashes the boards well and created second chance scoring opportunities for both himself and his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/john-rigsby-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64485" /></td>
			<td>Rigsby, John</td>
			<td>12</td>
			<td>John is very active on both ends of the floor and affects the game in so many ways. He finishes strong with both hands at the rim and doesn't shy away from contact. He has a very solid set of skills and is a complete player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jawan-roane-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64482" /></td>
			<td>Roane, Jawan</td>
			<td>10</td>
			<td>Jawan has the ability to play multiple positions and understands where to position himself in each role. He displayed his ability to break down a defender and get to the rim in the half court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/justin-robinson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64497" /></td>
			<td>Robinson, Justin</td>
			<td>9</td>
			<td>Justin is a confident player who took on the challenge of guarding his opponents best player. He did a good job of moving the ball on offense controlling the pace of the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/alex-sabastiani-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64440" /></td>
			<td>Sabastiani, Alex</td>
			<td>11</td>
			<td>Alex used his hustle to create extra scoring opportunities for his team. He was all of the floor on both the offensive and defensive end. Alex handles the ball well under pressure and keeps it moving on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jesse-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64484" /></td>
			<td>Saul, Jesse</td>
			<td>11</td>
			<td>Jesse is a very strong defender who knows how to position his body. He has a good feel on the offensive end and does not force. He does a good job of sliding his feet and keeping his man in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/cameron-seigfreid-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64454" /></td>
			<td>Seigfreid, Cameron</td>
			<td>10</td>
			<td>Cameron is a very scrappy defender who was constantly putting pressure on the ball throughout the day. He is very comfortable under pressure and made smart decisions on offense to get his team open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/samuel-sessoms-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64529" /></td>
			<td>Sessoms, Sam</td>
			<td>10</td>
			<td>Sam is a tremendous on ball defender with very active hands in the passing lanes. He did a great job of starting the fast break and getting to the rim and finishing through contact himself.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/sherod-sharif-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64533" /></td>
			<td>Sharif, Sherod</td>
			<td>12</td>
			<td>Sherod is a strong wing who rebounds the ball very well. He used his frame all day to get past his defender and attack the rim. Sherrod has a high basketball IQ with good court vision.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Sherrod, Mandel</td>
			<td>12</td>
			<td>Mandel has good range from distance and is at his best off the dribble. He is a very active player who plays with intensity at all times. Mandel has a great understanding of where to be on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/martynas-simanavicius-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64506" /></td>
			<td>Simanavicius, Martynas</td>
			<td>12</td>
			<td>Martynas is an excellent shooter with range that extends out to the 3 point line. He draws defenders to his shot which creates openings for his teammates. It is difficult to push him off the ball because of his strong frame.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/tracy-simsick-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64536" /></td>
			<td>Simsick, Tracy</td>
			<td>12</td>
			<td>Tracy did a tremendous job spotting up and getting wide open shots. He does a really good job of using his shot fake to get defenders off their feet and blow by them. He plays to his strengths and doesn't force the issue on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/tyreese-smith-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64539" /></td>
			<td>Smith, Tyreese</td>
			<td>9</td>
			<td>Tyreese has a tremendous motor and plays with an intensity that few can match. He is a terror in transition and can attack from anywhere on the floor. His athleticism and length allow him to play multiple positions.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/marcus-stevenson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64503" /></td>
			<td>Stevenson, Markus</td>
			<td>11</td>
			<td>Markus is a consistent shooter who can stretch the floor. He has great shooting form and is at his best off the catch and shoot. His size and athleticism allowed him to rise above opponents for rebounds.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/gustavo-sephes-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64471" /></td>
			<td>Sephes, Gustavo</td>
			<td>12</td>
			<td>Gustafo uses his quick first step to get past his defender and into gaps in the defense. He is a good, quick athlete who pushes the ball in transition and runs to the rim on the break.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Thomas, Torrey</td>
			<td>10</td>
			<td>Torrey did a good job of running in transition and finishing strong with both hands. He is very effective at guarding other perimeter players and keeping them out of the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jack-thompson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64476" /></td>
			<td>Thompson, Jack</td>
			<td>11</td>
			<td>Jack has a high level motor who never takes a play off. He has a high basketball IQ and finds the open man on offense. Jack has the ability to hit mid range jumpers and drive past his defender.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Vazquez, Nathan</td>
			<td>12</td>
			<td>Nathan is great defensively and was able to lock down his defenders all day. He was active all of the floor and got after every loose ball and rebound. He handled pressure well and was able to pass out of traps.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/peyton-vostenak-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64521" /></td>
			<td>Vostenak, Peyton</td>
			<td>10</td>
			<td>Peyton is a smart, heady basketball player who knows how to play the game. He is extremely coachable and made some great progessions throughout the day. He made good, clean passes all afternoon.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/antone-walker-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64443" /></td>
			<td>Walker, Antone</td>
			<td>11</td>
			<td>Antone did a great job of creating scoring opportunities for both himself and his teammates. He did a good job of slashing to the hoop and finishing at the rim. He is extremely quick and smart in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/karrington-wallace-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64498" /></td>
			<td>Wallace, Karrington</td>
			<td>10</td>
			<td>Karrington is long, big man who not only blocks shots, but influences opponents who drive to the basket. His activity on offense and the boards created easy scoring opportunities for him all day. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Williams, Isaac</td>
			<td>10</td>
			<td>Isaac plays defense every second of the game and covers his man the full length of the court. He does a great job of swinging the ball on offense and using his own skills to get his teammates involved.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/jorden-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64487" /></td>
			<td>Williams, Jorden</td>
			<td>10</td>
			<td>Jorden is a scrappy defender who made his man work at all times. He rebounds the ball very well for his size and was aggressive at getting into the paint and finishing.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/09/isiah-wilmore-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-64473" /></td>
			<td>Wilmore, Isaiah</td>
			<td>12</td>
			<td>Isaiah is a dynamic scorer in all facets of the game. He can step out to the 3 point line as well as beat his defender and get to the rim. He has the length to grab rebounds and influence shots on defense.</td>
		</tr>
	</tbody>
</table>
