<table>
	<thead>
		<tr>
			<th>Head Shot</th>
			<th>Player</th>
			<th>Grade</th>
			<th>Evaluation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Jordan-Abdo_edited-1-300x240.jpg" alt="Jordan Abdo_edited-1" width="300" height="240" class="aligncenter size-medium wp-image-73020" /></td>
			<td>Abdo, Jordan</td>
			<td>11</td>
			<td>Jordan is a very good set shooter who has a good feel for the game. He plays with a good change of pace and knows when to push the ball in the open floor. Jordan always finds the open teammate.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Justin-Abdo_edited-1-300x197.jpg" alt="Justin Abdo_edited-1" width="300" height="197" class="aligncenter size-medium wp-image-73024" /></td>
			<td>Abo, Justin</td>
			<td>11</td>
			<td>Justin has very good basketball awareness. He is a consistent shooter when he has the open shot. Justin is a very good positional defender.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Aside, Adrian</td>
			<td>11</td>
			<td>Adrian is an undersized big with decent handles who can get to the rim. He plays extremely hard which makes him a must box guy on the offensive and defensive glass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/IMG_8990.jpg" alt="IMG_8990" width="300" height="216" class="aligncenter size-full wp-image-73008" /></td>
			<td>Baker, Brady</td>
			<td>10</td>
			<td>Bradley is a strong ball guard with really good handles. He uses his strength to get past his defender on the perimeter.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Luke-Baldini_edited-1-300x230.jpg" alt="Luke Baldini_edited-1" width="300" height="230" class="aligncenter size-medium wp-image-73032" /></td>
			<td>Baldini, Luke</td>
			<td>9</td>
			<td>Luke has a good IQ and finds the open man. He plays hard and boxes out well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/GeAni-Bannerman-300x200.jpg" alt="GeAni Bannerman" width="300" height="200" class="aligncenter size-medium wp-image-73002" /></td>
			<td>Bannerman, GeAni</td>
			<td>12</td>
			<td>GeAni has good length on the wing and can get into the paint. He physically looks the part and can keep his man in front of him on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Bryce-Barrouk_edited-1.jpg" alt="Bryce Barrouk_edited-1" width="300" height="216" class="aligncenter size-full wp-image-72982" /></td>
			<td>Barrouk, Bryce</td>
			<td>10</td>
			<td>Bryce is a high motor play that never stops. He also has good range from 3.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Matthew-Bempah_edited-1-300x216.jpg" alt="Matthew Bempah_edited-1" width="300" height="216" class="aligncenter size-medium wp-image-73035" /></td>
			<td>Bempah, Matthew</td>
			<td>12</td>
			<td>Matthew is a very active defender who was great on help defense all night. Matthew was great at attacking the basket and getting into the paint.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Braxton, Kolby</td>
			<td>10</td>
			<td>Kolby is a quick point guard with a knack of getting paint touches. He uses his speed and ability to handle the ball to create advantages in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Elijah-Brown_edited-1-300x240.jpg" alt="Elijah Brown_edited-1" width="300" height="240" class="aligncenter size-medium wp-image-73000" /></td>
			<td>Brown, Elijah</td>
			<td>9</td>
			<td>Elijah is a quick PG who runs the show and drives to create for others. He is a lefty who plays hard and is a good on ball defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Dwayne-Coleman_edited-1-300x216.jpg" alt="Dwayne Coleman_edited-1" width="300" height="216" class="aligncenter size-medium wp-image-72999" /></td>
			<td>Coleman, Dwayne</td>
			<td>12</td>
			<td>Dwayne is a wing with solid size who can get to the rim in transition. He will be able to get his shot off at the next level.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Derrien-Coley_edited-1-300x210.jpg" alt="Derrien Coley_edited-1" width="300" height="210" class="aligncenter size-medium wp-image-72994" /></td>
			<td>Coley, Derrien</td>
			<td>11</td>
			<td>Derrien competed as hard as anyone all night. He has a motor that never stops. Derrien can get into the paint and he is strong off the dribble. He is very vocal and a great positional defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Kvonn-Kramer-300x200.jpg" alt="Kvonn Kramer" width="300" height="200" class="aligncenter size-medium wp-image-73030" /></td>
			<td>Cramer, Kvonn</td>
			<td>9</td>
			<td>Kvonn is a high level athlete who does a really good job rebunding the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Nicolas-Curnew_edited-1-300x208.jpg" alt="Nicolas Curnew_edited-1" width="300" height="208" class="aligncenter size-medium wp-image-73042" /></td>
			<td>Curnew, Nikolas</td>
			<td>11</td>
			<td>Nikolas demonstrated the ability to knock down the open shot. He competes every possession and never takes a play off. He has a high basketball IQ.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Marcell-Curry_edited-1-300x225.jpg" alt="Marcell Curry_edited-1" width="300" height="225" class="aligncenter size-medium wp-image-73034" /></td>
			<td>Curry, Marcell</td>
			<td>12</td>
			<td>Marcell is a long, athletic guard. He is a good defender. On the offenive end, he is aggressive attacking the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Danny-DAmbrosia_edited-1-300x231.jpg" alt="Danny D&#039;Ambrosia_edited-1" width="300" height="231" class="aligncenter size-medium wp-image-72991" /></td>
			<td>D'Ambrosia, Danny</td>
			<td>9</td>
			<td>When Danny has time and space, he is a good shooter. He also has a very high basketball IQ.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Donte-Dawson_edited-1-300x222.jpg" alt="Donte Dawson_edited-1" width="300" height="222" class="aligncenter size-medium wp-image-72997" /></td>
			<td>Dawson, Donte</td>
			<td>11</td>
			<td>Donte creates off the bounce for himself and others. He uses his legth to finish around bigger defenders. He is talented on the offensive end of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Alec-Dipetantonio_edited-1.jpg" alt="Alec Dipetantonio_edited-1" width="300" height="216" class="aligncenter size-full wp-image-72977" /></td>
			<td>Dipietrantonio, Alec</td>
			<td>11</td>
			<td>Alec is a really skilled inside player. Has good 3 point range as well.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Edwards, Winston</td>
			<td>9</td>
			<td>Winston has great length on the perimeter and displayed a knack for getting in the paint and creating for his teammates. He is a competitor that plays unselfish basketball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Chase-Evans_edited-1.jpg" alt="Chase Evans_edited-1" width="300" height="216" class="aligncenter size-full wp-image-72985" /></td>
			<td>Evans, Chase</td>
			<td>12</td>
			<td>Chase is a high IQ guard with a knockdown set shot. He  is a floor spacer who can get by on poor closeouts.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Lewis-Evans_edited-1-300x246.jpg" alt="Lewis Evans_edited-1" width="300" height="246" class="aligncenter size-medium wp-image-73031" /></td>
			<td>Evans, Lewis</td>
			<td>9</td>
			<td>Lewis is a good on ball defender. He creates for others when he gets the ball in the lane.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Farr, Ahmad</td>
			<td>11</td>
			<td>Ahmad is very active and competes on every possession. He does a very good job of keeping his man in front of him on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Seamus-Finnegan_edited-1-300x232.jpg" alt="Seamus Finnegan_edited-1" width="300" height="232" class="aligncenter size-medium wp-image-73047" /></td>
			<td>Finnegan, Seamus</td>
			<td>10</td>
			<td>Seamus is a high IQ off guard who is a good mover and teammate. He has a solid set shot with time and space. He is a good weakside defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Pat-Fish_edited-1-300x236.jpg" alt="Pat Fish_edited-1" width="300" height="236" class="aligncenter size-medium wp-image-73044" /></td>
			<td>Fish, Pat</td>
			<td>10</td>
			<td>Pat has good size at the wing with a high IQ. He will make open shots and uses his footwork to attack poor closeouts.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Clovis-Gallon-Jr_edited-1.jpg" alt="Clovis Gallon Jr_edited-1" width="300" height="216" class="aligncenter size-full wp-image-72987" /></td>
			<td>Gallon Jr., Clovis</td>
			<td>9</td>
			<td>Clovis has good range on his jump shot and gets a lot of touches in the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Christian-garner_edited-1.jpg" alt="Christian garner_edited-1" width="300" height="216" class="aligncenter size-full wp-image-72986" /></td>
			<td>Garner, Christian</td>
			<td>11</td>
			<td>Christian is a good mid range shooter. He is always looking to make the extra pass. He is also a good on ball defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Carl-Gibson-Jr_edited-1.jpg" alt="Carl Gibson Jr_edited-1" width="300" height="216" class="aligncenter size-full wp-image-72983" /></td>
			<td>Gibson Jr., Carl</td>
			<td>9</td>
			<td>Carl never stops playing hard. He sees the court well and can pass really pass the basketball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Donovan-Graham_edited-1-300x219.jpg" alt="Donovan Graham_edited-1" width="300" height="219" class="aligncenter size-medium wp-image-72996" /></td>
			<td>Graham, Donovan</td>
			<td>9</td>
			<td>Donovan showed an excellent feel for the game. He played unselfish and did not force bad shots. He has the ability to knock down the open shot.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Griffon, Prince</td>
			<td></td>
			<td>Prince is a crafty ball handler and can really get into the paint.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Hackett, Amistad</td>
			<td>11</td>
			<td>Amistad does a good job finding his teammates in the open court. He plays extremely hard and consistently keeps his man in front of him on defense.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Harris, Imere </td>
			<td>8</td>
			<td>Imere creates off the bounce and can finish with both hands. He is a talented player who has a good understanding of how to play.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Irie-Harris_edited-1-300x220.jpg" alt="Irie Harris_edited-1" width="300" height="220" class="aligncenter size-medium wp-image-73012" /></td>
			<td>Harris, Irie</td>
			<td>11</td>
			<td>Irie is a good ballhandler and has a great change of pace. He plays unselfishly and always finds the open man. Irie is a good positional defender and knows when to bring help.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Heavalow, Jonathan</td>
			<td></td>
			<td>Jon competes every possession and is a great athlete. He is very good in the open court. Jon goes to the glass every chance he gets.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Justin-Hummel_edited-1-300x213.jpg" alt="Justin Hummel_edited-1" width="300" height="213" class="aligncenter size-medium wp-image-73025" /></td>
			<td>Hummel, Justin</td>
			<td>11</td>
			<td>Justin has a quick first step and a good floater. He is always looking to push the ball in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Jacob-Hunt_edited-1-300x225.jpg" alt="Jacob Hunt_edited-1" width="300" height="225" class="aligncenter size-medium wp-image-73013" /></td>
			<td>Hunt, Jacob</td>
			<td>10</td>
			<td>Jacob has a very good first step to go with a good handle. He has a high basketball IQ and knows when to drive and when to move the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Elohim-jackson-300x200.jpg" alt="Elohim jackson" width="300" height="200" class="aligncenter size-medium wp-image-73100" /></td>
			<td>Jackson, Elohim</td>
			<td>10</td>
			<td>Jackson is a skinny wing with good size who can make open shots. He uses his length to get to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Jsaun-Jones_edited-1-300x232.jpg" alt="Jsaun Jones_edited-1" width="300" height="232" class="aligncenter size-medium wp-image-73023" /></td>
			<td>Jones, Jsaun</td>
			<td>9</td>
			<td>Jsaun gets to the basket off the bounce and creates for his teammates. He is very good in transition with the ball in his hands.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Maxandre-Joseph_edited-1-300x229.jpg" alt="Maxandre Joseph_edited-1" width="300" height="229" class="aligncenter size-medium wp-image-73036" /></td>
			<td>Joseph, Maxandre</td>
			<td>11</td>
			<td>Maxandre is a slashing wing who is most effective driving down hill. He is just as good going left as he is right. Maxandre is a strong player in transition who moves well without the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Josh-Klein_edited-1-300x257.jpg" alt="Josh Klein_edited-1" width="300" height="257" class="aligncenter size-medium wp-image-73022" /></td>
			<td>Klein, Josh</td>
			<td>10</td>
			<td>Josh is a great rebounder who has a knack for finding the ball. He has good post moves and finishes well around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Korey-Stewart_edited-1-300x230.jpg" alt="Korey Stewart_edited-1" width="300" height="230" class="aligncenter size-medium wp-image-73029" /></td>
			<td>Korey, Stewart</td>
			<td>10</td>
			<td>Stewart is very quick and shows the ability to get into the paint. He is crafty and can finish with either hand. Stewart competes on defense and is a pesty on ball defender.</td>
		</tr>
		<tr>
			<td>
<img src="https://hoopgroup.com/wp-content/uploads/2016/03/Kuhar.jpg" alt="Kuhar" width="298" height="201" class="aligncenter size-full wp-image-73103" /></td>
			<td>Kuhar, Chris</td>
			<td>11</td>
			<td>Chris  is a very scrappy player and does a great job comminicating on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Jesse-Kupa_edited-1-300x233.jpg" alt="Jesse Kupa_edited-1" width="300" height="233" class="aligncenter size-medium wp-image-73016" /></td>
			<td>Kupa, Justin</td>
			<td>11</td>
			<td>Justin combines good athleticism with good ball handling to get by defenders. He gets to spots by using effective bounces to score and create.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Damon-Long-Jr_edited-1-300x215.jpg" alt="Damon Long Jr_edited-1" width="300" height="215" class="aligncenter size-medium wp-image-72990" /></td>
			<td>Long Jr., Damon</td>
			<td>9</td>
			<td>Damon is a quick PG who does a good job getting teammates involved. Damon plays extremely hard and quick with the first step.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Miles-Longstreth_edited-1-300x229.jpg" alt="Miles Longstreth_edited-1" width="300" height="229" class="aligncenter size-medium wp-image-73038" /></td>
			<td>Longstreth, Miles</td>
			<td>11</td>
			<td>Miles can really set his teammates up and always finds the open man. He has great range as well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Wade-Lowman_edited-1-300x229.jpg" alt="Wade Lowman_edited-1" width="300" height="229" class="aligncenter size-medium wp-image-73054" /></td>
			<td>Lowman, Wade</td>
			<td>12</td>
			<td>Wade is an athletic slasher who finishes strong around the rim. He uses his length to get into passing lanes on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Waheem-Lowman_edited-1-300x232.jpg" alt="Waheem Lowman_edited-1" width="300" height="232" class="aligncenter size-medium wp-image-73055" /></td>
			<td>Lowman, Waheem</td>
			<td>12</td>
			<td>Waheem is a very good athlete who is active on both ends of the floor. He is a really good defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Jihaad-Mapp_edited-1-300x230.jpg" alt="Jihaad Mapp_edited-1" width="300" height="230" class="aligncenter size-medium wp-image-73018" /></td>
			<td>Map, Jihaad</td>
			<td>10</td>
			<td>Jihaad is very effective at getting to the rim when he uses his body to beat his defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Malik-martin_edited-1-300x228.jpg" alt="Malik martin_edited-1" width="300" height="228" class="aligncenter size-medium wp-image-73033" />insert</td>
			<td>Martin, Malik</td>
			<td>11</td>
			<td>Malik has good size and athleticism that allow him to finish through contact and over the defense. He has a good set shot which makes him a tough one on one matchup for his opponent.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/kaleb-Matthews_edited-1-300x221.jpg" alt="kaleb Matthews_edited-1" width="300" height="221" class="aligncenter size-medium wp-image-73027" /></td>
			<td>Matthews, Caleb</td>
			<td>10</td>
			<td>Caleb has good length for a perimeter player. He has a great feel and IQ on the offensive end. He has a great looking shot that he is able to get off effortlessly.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Drew-Miller_edited-1-300x232.jpg" alt="Drew Miller_edited-1" width="300" height="232" class="aligncenter size-medium wp-image-72998" /></td>
			<td>Miller, Drew</td>
			<td>10</td>
			<td>Drew is a strong player who sets good screens. He is a great rebounder.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Terrance-Moore_edited-1-300x218.jpg" alt="Terrance Moore_edited-1" width="300" height="218" class="aligncenter size-medium wp-image-73051" /></td>
			<td>Moore, Terrence</td>
			<td>11</td>
			<td>Terrence attacks the rim hard on offense and is a high level rebounder on both ends of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Joel-Morries_edited-1-300x222.jpg" alt="Joel Morries_edited-1" width="300" height="222" class="aligncenter size-medium wp-image-73019" /></td>
			<td>Morris, Joel</td>
			<td>11</td>
			<td>Joel is an active defender with great length. He demonstrated very good shooting form and is more than capable of making shots. He is a versatile scorer with the ability to score off the dribble, pulling up and on the catch and shoot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Charles-Morris-Noelle_edited-1.jpg" alt="Charles Morris-Noelle_edited-1" width="300" height="216" class="aligncenter size-full wp-image-72984" /></td>
			<td>Morris-Noelle, Charles</td>
			<td>11</td>
			<td>Charles has good form and lift on his shot and can get it off in tight spaces. Very talented offensive player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Nasir-Mosely_edited-1-300x225.jpg" alt="Nasir Mosely_edited-1" width="300" height="225" class="aligncenter size-medium wp-image-73039" /></td>
			<td>Mosley, Nasir</td>
			<td>10</td>
			<td>Nasir showed the ability to knockdown set 3 point shots. He has good IQ at the point and he knew when to move the ball and when to take it himself.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/jake-Nicastro_edited-1-300x204.jpg" alt="jake Nicastro_edited-1" width="300" height="204" class="aligncenter size-medium wp-image-73014" /></td>
			<td>Nicastro, Jake</td>
			<td>10</td>
			<td>Jake has a high basketball IQ and has the ability to win his one on one matchup.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/nathaniel-Nicholson-300x200.jpg" alt="nathaniel Nicholson" width="300" height="200" class="aligncenter size-medium wp-image-73040" /></td>
			<td>Nicholson, Nathaniel</td>
			<td>10</td>
			<td>Nathaniel is a crafty combo guard that gets into the paint and effectively uses his change of pace. He does an excellent job keeping his man in front of him on defense.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Nixon, Rashae</td>
			<td>12</td>
			<td>Rashae has a knack for scoring the ball without forcing things. He consistently gets by his defender off the bounce to score and set up teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Jazere-Noel-300x200.jpg" alt="Jazere Noel" width="300" height="200" class="aligncenter size-medium wp-image-73015" /></td>
			<td>Noel, Jazere</td>
			<td>11</td>
			<td>Jazere is very athletic and finishes well inside. He has great basketball instincts and is very aggressive when attacking the basket. High level player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Joseph-OBrien_edited-1-300x224.jpg" alt="Joseph O&#039;Brien_edited-1" width="300" height="224" class="aligncenter size-medium wp-image-73021" /></td>
			<td>O'Brien Joseph</td>
			<td>11</td>
			<td>Justin moves really well, has a great frame and skill set. He has the ability to step out and shoot it as well as play back to the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Sean-owens_edited-1-300x203.jpg" alt="Sean owens_edited-1" width="300" height="203" class="aligncenter size-medium wp-image-73048" /></td>
			<td>Owens, Sean</td>
			<td>11</td>
			<td>Sean is a very crafty player. He is strong and does a good job finishing inside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Dante-Owens-Graves_edited-1-300x214.jpg" alt="Dante Owens-Graves_edited-1" width="300" height="214" class="aligncenter size-medium wp-image-72992" /></td>
			<td>Owens-Graves, Dante</td>
			<td>11</td>
			<td>Dante is extremely quick and a pest on defense. He does a great job of getting in the paint and creating early offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Keinan-Oxner_edited-1-300x216.jpg" alt="Keinan Oxner_edited-1" width="300" height="216" class="aligncenter size-medium wp-image-73028" /></td>
			<td>Oxner, Keinan</td>
			<td>12</td>
			<td>Keinan is a very active defender with quick hands. He is a great leader and does a good jon running his team.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Paladino, Eddie</td>
			<td>10</td>
			<td>Eddie is a good set shooter. He has great court awareness; he is always finishing the open shot or finding a teammate.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Corey-Perkins_edited-1-300x216.jpg" alt="Corey Perkins_edited-1" width="300" height="216" class="aligncenter size-medium wp-image-72989" /></td>
			<td>Perkins, Corey</td>
			<td>9</td>
			<td>Corey is a very good ballhandler and is a great passer, especially in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Hassan-Perkins_edited-1-300x228.jpg" alt="Hassan Perkins_edited-1" width="300" height="228" class="aligncenter size-medium wp-image-73003" /></td>
			<td>Perkins, Hassan</td>
			<td>8</td>
			<td>Hassan has a very quick first step and consistenly gets to his spots. He did a good job running the point and is a great leader.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Matthew-Bempah_edited-1-300x216.jpg" alt="Matthew Bempah_edited-1" width="300" height="216" class="aligncenter size-medium wp-image-73035" />

<img src="https://hoopgroup.com/wp-content/uploads/2016/03/Julius-Phillips-300x200.jpg" alt="Julius Phillips" width="300" height="200" class="aligncenter size-medium wp-image-73099" /></td>
			<td>Phillips, Julius</td>
			<td>9</td>
			<td>Julius is a good athlete who can finish above the rim. Has a good looking set shot from 3. Very talented player who should only get better.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Mike-Power_edited-1-300x247.jpg" alt="Mike Power_edited-1" width="300" height="247" class="aligncenter size-medium wp-image-73037" /></td>
			<td>Power, Mike</td>
			<td>11</td>
			<td>Mike has a quick release and deep range. He is a high motor player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Barry-Quartleman_edited-1.jpg" alt="Barry Quartleman_edited-1" width="300" height="216" class="aligncenter size-full wp-image-72980" /></td>
			<td>Qartlebaum, Barry</td>
			<td>11</td>
			<td>Barry is a big wing who can also play at the 4 position. He is productive on the bounce and can finish through contact. He has a good in between game on the bounce.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Quadere-Allen_edited-1-300x228.jpg" alt="Quadere Allen_edited-1" width="300" height="228" class="aligncenter size-medium wp-image-73045" /></td>
			<td>Quadere, Allen</td>
			<td>12</td>
			<td>Allen is active and always seems to be around the ball. He has a quick first step to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Antonio-Rizzuto_edited-1.jpg" alt="Antonio Rizzuto_edited-1" width="300" height="216" class="aligncenter size-full wp-image-72978" /></td>
			<td>Rizzutto, Antonio</td>
			<td>10</td>
			<td>Antonio has a very good catch and shoot release. He is always finding the open space offensively.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Justin-Robinson-Jr_edited-1-300x236.jpg" alt="Justin Robinson Jr_edited-1" width="300" height="236" class="aligncenter size-medium wp-image-73026" /></td>
			<td>Robinson Jr., Justin</td>
			<td>9</td>
			<td>Justin has a quick first step and does a good job getting into the passing lanes on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/David-Rodriguez_edited-1-300x229.jpg" alt="David Rodriguez_edited-1" width="300" height="229" class="aligncenter size-medium wp-image-72993" /></td>
			<td>Rodriguez, David</td>
			<td>10</td>
			<td>David is a big with a very good shot from 15 feet. He will post but prefers the pick and pop. Great floor spacer. David moves well and is active on the defensive end.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Jesse-Saul_edited-1-300x217.jpg" alt="Jesse Saul_edited-1" width="300" height="217" class="aligncenter size-medium wp-image-73017" /></td>
			<td>Saul, Jesse</td>
			<td>11</td>
			<td>Jesse is a sneaky athlete who can create his own shot off the bounce. He has a great IQ and feel for the game. Jesse competes at a high level.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Sam-Sessoms_edited-1-300x229.jpg" alt="Sam Sessoms_edited-1" width="300" height="229" class="aligncenter size-medium wp-image-73046" /></td>
			<td>Sessoms, Samuel</td>
			<td>10</td>
			<td>Samuel is a very talented scoring lead guard. He has a great first step and tempo which allow him to get where he wants to on the floor. He can share it and score it just as well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Sean-Simon_edited-1-300x218.jpg" alt="Sean Simon_edited-1" width="300" height="218" class="aligncenter size-medium wp-image-73049" /></td>
			<td>Simon, Sean</td>
			<td>10</td>
			<td>Sean is a very smart player who has a great feel for the game. When he sets his feet, he has the ability to knock down the open threes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Devantae-Smith_edited-1-300x230.jpg" alt="Devanta&#039;e Smith_edited-1" width="300" height="230" class="aligncenter size-medium wp-image-72995" /></td>
			<td>Smith, Davanta'e</td>
			<td>9</td>
			<td>Deavanta'e is very quick with the ball and this allows him to get to the basket. He has a great feel for the game at his age.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Smith, Neville</td>
			<td>11</td>
			<td>Neville is a rangy athlete who thrives in the open floor. He will post smaller defenders and will face up and shoot the 3 when he has time and space.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Sean-smith_edited-1-300x221.jpg" alt="Sean smith_edited-1" width="300" height="221" class="aligncenter size-medium wp-image-73050" /></td>
			<td>Smith, Sean</td>
			<td>11</td>
			<td>Sean is a combo guard with a consistent jumper when he has time and space. He does a good job of moving without the ball and screening for teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Cole-Storm_edited-1.jpg" alt="Cole Storm_edited-1" width="300" height="216" class="aligncenter size-full wp-image-72988" /></td>
			<td>Storm, Cole</td>
			<td>12</td>
			<td>Cole has a good IQ and understands what he can and can't do. He makes other players better with his decision making. Has the ability to play both the 1 and 2.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Nazir-Thomas_edited-1-300x234.jpg" alt="Nazir Thomas_edited-1" width="300" height="234" class="aligncenter size-medium wp-image-73041" /></td>
			<td>Thomas, Nazir</td>
			<td>11</td>
			<td>Nazir uses his legth and athleticism to his advantage on both ends of the floor. He has a great first step to beat his defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Tommy-Thomas_edited-1-300x207.jpg" alt="Tommy Thomas_edited-1" width="300" height="207" class="aligncenter size-medium wp-image-73052" /></td>
			<td>Thomas, Torrey</td>
			<td>10</td>
			<td>Torrey has good size for a guard and he uses that size to get past defenders. He has the ability to hit the set three with little time and space.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Timby, Jake</td>
			<td>8</td>
			<td>Jake is a crafty ball handler and a good passer. He is always looking to push the ball in transition and has the ability to hit the open 3.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Karrington-Wallace-300x202.jpg" alt="Karrington Wallace" width="300" height="202" class="aligncenter size-medium wp-image-73102" /></td>
			<td>Wallace, Karrington</td>
			<td>10</td>
			<td>Karrington has a really good looking shot that he can get off whenever he wants. He is really good in transition and in the open court. Karrington is a talented kid with good upside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Eric-Washington_edited-1-300x229.jpg" alt="Eric Washington_edited-1" width="300" height="229" class="aligncenter size-medium wp-image-73001" /></td>
			<td>Washington, Eric</td>
			<td>12</td>
			<td>Eric has a great burst when attacking the time. He has the ability to be crafty around the basket. Eric anticipates and is normally a step ahead of his opponent.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Nicolas-Whitaker-300x200.jpg" alt="Nicolas Whitaker" width="300" height="200" class="aligncenter size-medium wp-image-73043" /></td>
			<td>Whitaker, Nicholas</td>
			<td>12</td>
			<td>Nicholas is a very aggressive, athletic plaer. He does a good job using his length to get to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/03/Trezure-Whitehurst_edited-1-300x217.jpg" alt="Trezure Whitehurst_edited-1" width="300" height="217" class="aligncenter size-medium wp-image-73053" /></td>
			<td>Whitehurst, Trezure</td>
			<td>11</td>
			<td>Trezure is a quick point guard who looks to make plays for his teammates. His quick feet make him a very good on ball defender.</td>
		</tr>
	</tbody>
</table>
