<table>
	<thead>
		<tr>
			<th>Hotel Name</th>
			<th>Location</th>
			<th>Rate</th>
			<th>Contact</th>
			<th>Phone Number</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Hyatt Place</td>
			<td>King of Prussia, PA</td>
			<td>$119 			
</td>
			<td>Brittany Krause</td>
			<td>484-690-2007</td>
			<td>Brittney.Krause@hershahotels.com</td>
		</tr>
		<tr>
			<td>Comfort Inn &amp; Suites</td>
			<td>West Chester, PA</td>
			<td>$110</td>
			<td>Steve Cakmak	</td>
			<td>(610) 399-4600 x331 	</td>
			<td>sales@westchestercomfort.com
</td>
		</tr>
	</tbody>
</table>
