<table>
	<thead>
		<tr>
			<th>Property</th>
			<th>Address</th>
			<th>Hotel Brand</th>
			<th>Sleeping Room Rates</th>
			<th>Room Types</th>
			<th>Hotel Contact Person</th>
			<th>To reserve (phone/Link) Reference Hoop Group /Pitt Jam  Fest unless otherwise noted</th>
			<th>Individual Cancellation Policy</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>DoubleTree by Hilton Hotel Pittsburgh - Green Tree</td>
			<td>500 Mansfield Avenue
Pittsburgh, PA</td>
			<td>Hilton</td>
			<td>USD $139.00</td>
			<td>Doubles</td>
			<td>Cris Cabecinha
(412)920-8073 or cris.cabecinha@camhosp.com</td>
			<td>Contact Cris to secure reservations.  </td>
			<td>72 hours cancellation policy</td>
			<td></td>
		</tr>
		<tr>
			<td>DoubleTree by Hilton Hotel Pittsburgh - Meadow Lands</td>
			<td>340 Racetrack Road
Washington, PA</td>
			<td>Hilton</td>
			<td>USD $139.00</td>
			<td>ROH</td>
			<td>Stefanie Kulla
724-222-6200                            reference code: HGP</td>
			<td></td>
			<td>confirm with hotel</td>
			<td></td>
		</tr>
		<tr>
			<td>Hyatt Place Pittsburgh Cranberry</td>
			<td>136 Emeryville Drive
Cranberry Township, PA</td>
			<td>Hyatt</td>
			<td>USD $139.00</td>
			<td>Double Beds with Pullout</td>
			<td>Jennifer Skeehan    jennifer.skeehan@hyatt.com
(724) 779-7900 ext 3  </td>
			<td></td>
			<td>72 hours cancellation policy</td>
			<td></td>
		</tr>
		<tr>
			<td>Omni William Penn Hotel, Pittsburgh</td>
			<td>530 William Penn Place
Pittsburgh, PA</td>
			<td>Omni</td>
			<td>USD $149.00</td>
			<td>Deluxe Doubles</td>
			<td>Christine Conway
1-800-THE-OMNI</td>
			<td></td>
			<td>72 hours cancellation policy</td>
			<td></td>
		</tr>
		<tr>
			<td>Sheraton Pittsburgh Airport Hotel</td>
			<td>1160 Thorn Run Road
Coraopolis, PA</td>
			<td>Starwood</td>
			<td>USD $132.00</td>
			<td>Doubles /ROH</td>
			<td>Tara Rzepecki-Leas
412-262-2400</td>
			<td></td>
			<td>confirm with hotel</td>
			<td></td>
		</tr>
		<tr>
			<td>Wyndham Grand Pittsburgh Downtown</td>
			<td>600 Commonwealth Place
Pittsburgh, PA</td>
			<td>Wyndham</td>
			<td>USD $132.00</td>
			<td>ROH</td>
			<td>Michaela Morgan
412.391.4600</td>
			<td></td>
			<td>72 hours cancellation policy</td>
			<td></td>
		</tr>
		<tr>
			<td>Homewood Suites by Hilton Pittsburgh Airport Robinson Mall Area PA</td>
			<td>2000 GSK Drive
Moon Township, Pennsylvania, 15108</td>
			<td>Hilton</td>
			<td>USD $149.00</td>
			<td>King Studio and King Suites w pullout sofas</td>
			<td>Sarah Alfera
(412)490.0440  or 1-800-CALL-HOME</td>
			<td></td>
			<td>confirm w hotel</td>
			<td></td>
		</tr>
		<tr>
			<td>Check back often - more hotels are being secured for Pitt Jam</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>For more information, contact the hotel coordinators for Hoop Group</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Shelley Johnson</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>(Office) 715.246.2004</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>(cell) 612-619-5784</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>teamsandj@helmsbriscoe.com</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
