<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Player</th>
			<th>Grade</th>
			<th>Coach Evaluation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Nick-Barnes-300x203.jpg" alt="Nick Barnes" width="300" height="203" class="aligncenter size-medium wp-image-74983" /></td>
			<td>Barnes, Nick</td>
			<td>12</td>
			<td>Nick is a strong, aggressive player who competes on both ends of the floor. He has a high basketball IQ and always seems to be in the right place at the right time. He is a lefty shooter and does a great job of running the PG spot. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Benhart, Jake</td>
			<td>11</td>
			<td>Jake is an all-around offensive player who can shoot the three in transition and set up his teammates for easy looks. He has a great feel for the game and has an extremely high basketball IQ. He is a crafty rebounder and isnÕt afraid to put his body on the line.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Jackson-Blaufield-300x214.jpg" alt="Jackson Blaufield" width="300" height="214" class="aligncenter size-medium wp-image-75069" /></td>
			<td>Blaufeld, Jackson</td>
			<td>9</td>
			<td>Jackson is a great shooter who has the ability to consistently hit from three. He has great court vision and anticipates plays before they happen. Jackson is a competitor who never takes a play off.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Bomar, Nicholas</td>
			<td>10</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Walter-Bonds-1-300x214.jpg" alt="Walter Bonds" width="300" height="214" class="aligncenter size-medium wp-image-75155" /></td>
			<td>Bonds, Walter</td>
			<td>11</td>
			<td>Walter is a hustler who never takes a possession off. He is able to create for his teammates and himself, especially when penetrating. Walter is an all-around scorer who can put the ball in the basket in a varity of ways. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Cacson-Cohen-300x193.jpg" alt="Cacson Cohen" width="300" height="193" class="aligncenter size-medium wp-image-74962" /></td>
			<td>Cohen, Carson</td>
			<td>10</td>
			<td>Carson has a smooth game which allows him to get to his spots on the court with ease. He has the ability to make set threes when he has time and space. Carson is very effective off the dribble and has a knockdown pull up jumper.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Ryan-Collins-1-300x212.jpg" alt="Ryan Collins" width="300" height="212" class="aligncenter size-medium wp-image-75147" /></td>
			<td>Collins, Ryan</td>
			<td>10</td>
			<td>Ryan is a smart basketball player who understands the concept of spacing. He moves well without the basketball and knows how to get himself open for good looks. He excels in transition where he does a great job of getting to the rim and finishing.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Daniel-Conlan-300x214.jpg" alt="Daniel Conlan" width="300" height="214" class="aligncenter size-medium wp-image-74967" /></td>
			<td>Conlan, Daniel</td>
			<td>9</td>
			<td>Daniel has a long, athletic body which he uses on the defensive end and on the glass. He plays extremely hard on both ends of the floor and has a high motor. His jump shot is the highlight of his offensive repertoire as he has the ability to knockdown open jumpers and threes. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Zayver-Craft-300x208.jpg" alt="Zayver Craft" width="300" height="208" class="aligncenter size-medium wp-image-74987" /></td>
			<td>Craft, Zayver</td>
			<td>12</td>
			<td>Zayver is extremely active on the glass and always looks to outlet quickly. He runs the court well and has the ability to block a shot on the defensive end and sprint the court for a layup on offense. Although he is at his best when driving, Zayver has the ability to hit knockdown jumpers from the elbows. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Darrius-Davis-300x245.jpg" alt="Darrius Davis" width="300" height="245" class="aligncenter size-medium wp-image-74968" /></td>
			<td>Davis, Darrius</td>
			<td>8</td>
			<td>Darius is a good athlete who really excels in transition. He plays hard on both ends of the court and never takes a play off. His best offensive attribute is his ability to attack the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Garrett-Day-300x225.jpg" alt="Garrett Day" width="300" height="225" class="aligncenter size-medium wp-image-74975" /></td>
			<td>Day, Garrett</td>
			<td>11</td>
			<td>Garrett has a great feel for the game. He shoots it really well from deep and can play with or without the ball in his hands. He does a great job of creating spce and getting separation for open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Lucas-Decaro-2-300x194.jpg" alt="Lucas Decaro" width="300" height="194" class="aligncenter size-medium wp-image-75161" /></td>
			<td>DeCaro, Lucas</td>
			<td>9</td>
			<td>Lucas is a high IQ basketball player who knows where to be on the court at all times. He plays with great pace and bounce, which allows him to blow by defenders consistently. He is a great teammate who is constantly communicating on defense. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Ellis, James</td>
			<td>10</td>
			<td>James is an extremely effective rebounder who attacks the glass on both ends of the court. He has a quick second bounce which allows him to grab rebounds that others can't. James is active on the defensive end and continually creates havoc in the passing lanes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Caden-Elwell-300x221.jpg" alt="Caden Elwell" width="300" height="221" class="aligncenter size-medium wp-image-74963" /></td>
			<td>Elwell, Caden</td>
			<td>9</td>
			<td>Caden has a lot of talent and has the potential to become an all-around player. He competes hard and is willing to do whatever it takes to help his team win. He is a crafty player who affects the game in many ways.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Eubank, Jason</td>
			<td></td>
			<td>Jason is an athletic player who uses that trait well on both ends of the court. Offensively, Jason finishes well at the rim and does a great job of absorbing contact. Defensively, Jason uses his athleticism to overpower his opponent and to attack the glass. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Brett-Francis-300x202.jpg" alt="Brett Francis" width="300" height="202" class="aligncenter size-medium wp-image-74960" /></td>
			<td>Francis, Brett</td>
			<td>11</td>
			<td>Brett is a hard working player who goes after every rebound and every loose ball. Offensively, he has a soft touch from fifteen feet and in. He does a great job of attacking the rim, especially when driving right. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Frankie-Fuhrer-300x200.jpg" alt="Frankie Fuhrer" width="300" height="200" class="aligncenter size-medium wp-image-74974" /></td>
			<td>Fuhrer IV, Frankie</td>
			<td>10</td>
			<td>Frankie is a heady PG who has a great feel for the game. He is a great facilitator and is always looking to set up his teammates in spots where they can succeed. He is creative with the ball and can finish with either hand around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/James-Fuhrer-1-300x204.jpg" alt="James Fuhrer" width="300" height="204" class="aligncenter size-medium wp-image-75129" /></td>
			<td>Fuhrer, James</td>
			<td>9</td>
			<td>James possesses great court vision and always seems to find the open teammate. He has good ball handling skills which allow him to penetrate the defense and attack the paint. James competes on every possession and never takes a play off.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/70-garland-1024x634.jpg" alt="70 garland" width="300" height="226" class="aligncenter size-large wp-image-74950" /></td>
			<td>Garland, Camron</td>
			<td>11</td>
			<td>Camron posssses a good basketball body which he uses to his advantage on the defensive end. He uses his long arms to disrupt his opponent and to close out space quickly. Offensively, Camron has a tight handle which allows him to break down his defenders to create for himself and others.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Garofoli, Antonio</td>
			<td>12</td>
			<td>Antonio has great court vision and always seems to make the right play. He handles the ball in tough situations and is able to slither his way out of them. Antonio is a heady player who always plays under control.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Blaine-Garrity-300x217.jpg" alt="Blaine Garrity" width="300" height="217" class="aligncenter size-medium wp-image-74958" /></td>
			<td>Gartley, Blaine</td>
			<td>8</td>
			<td>Blaine is a great PG who sees the court extremely well. He has the ability to hit open threes when he has time and space. When he does penetrate the defense, Blaine remains under control and always seems to make the right play. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Gersec, Tim</td>
			<td>12</td>
			<td>Tim is a competitor who plays hard on both ends of the court. He is a ferocious on ball defender and constantly gives his opponent trouble. Tim is a great teammate who will do whatever it takes to help his team win.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Tyler-Giles-1-300x202.jpg" alt="Tyler Giles" width="300" height="202" class="aligncenter size-medium wp-image-75153" /></td>
			<td>Giles, Tyler</td>
			<td>11</td>
			<td>Tyler is a great facilitator who does a good job of finding the open teammate. He plays extremely hard and is the first one on the floor when going after a loose ball. He sets screens for his teammates and does whatever it takes to help his team win.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Brandon-Goldbach-300x221.jpg" alt="Brandon Goldbach" width="300" height="221" class="aligncenter size-medium wp-image-74959" /></td>
			<td>Goldbach, Brandon</td>
			<td>9</td>
			<td>Brandon is a floor general who is an exceptional passer. He is a leader who does a great job of creating energy for his teammates to feed off of. His ability to see the court is second to none.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Eugene-Goodwin-300x206.jpg" alt="Eugene Goodwin" width="300" height="206" class="aligncenter size-medium wp-image-74972" /></td>
			<td>Goodwin, Eugene</td>
			<td>9</td>
			<td>Eugene is an aggressive player who is at his best when attacking the rim. He has a complete offensive game as he can penetrate, hit pull up jumpers and knockdown three pointers. He is supremely athletic and quick which allows him to penetrate the paint with ease. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Etai-Graff-300x218.jpg" alt="Etai Graff" width="300" height="218" class="aligncenter size-medium wp-image-74971" /></td>
			<td>Groff, Etai</td>
			<td>11</td>
			<td>Etai excels in transition and does a great job of adjusting his pace to the pace of the game. He has a high basketball IQ and knows the difference between good and bad shots. Etai is creative around the rim and can finish with both hands.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Austin-Hannes-300x215.jpg" alt="Austin Hannes" width="300" height="215" class="aligncenter size-medium wp-image-74956" /></td>
			<td>Hannes, Austin</td>
			<td>11</td>
			<td>Austin is a quick, athletic, scoring guard who possesses a versatile offensive game. He is an unselfish player who is great at delivering entry passes into the post. Austin is a really good defender as he takes pride on that end of the court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Isiah-Verrera-300x203.jpg" alt="Isiah Verrera" width="300" height="203" class="aligncenter size-medium wp-image-74978" /></td>
			<td>Herrera, Isaiah</td>
			<td>12</td>
			<td>Isaiah has a long basketball body and quick hands, which he uses to disrupt the passing lanes on defense. He is a great decision maker and always seems to make the right pass. Isaiah is active on the glass and does a great job of creating second chance opportunities for his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Keeno-Holmes-1-300x249.jpg" alt="Keeno Holmes" width="300" height="249" class="aligncenter size-medium wp-image-75136" /></td>
			<td>Holmes, Keeno</td>
			<td>9</td>
			<td>Keeno excels in transition where he can get to the rim with ease. He is an aggressive player who crashes the boards very well. He takes pride on the defensive end and is a ball hawking defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/AJ-ippolito-1024x745.jpg" alt="AJ ippolito" width="300" height="226" class="aligncenter size-large wp-image-74952" /></td>
			<td>Ippolito, AJ</td>
			<td>9</td>
			<td>AJ is an extremely athletic player with a good basketball body, which he uses to blow by defenders off the bounce. He competes at a very high level and never takes a possession off. AJ takes pride on the defensive end and really gets after it. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Nick-Jessioski-1-300x184.jpg" alt="Nick Jessioski" width="300" height="184" class="aligncenter size-medium wp-image-75145" /></td>
			<td>Jessloski, Nick</td>
			<td>11</td>
			<td>Nick is a hard working player who has a ton of energy. Offensively, he couples a tight handle with a solid shooting stroke, which makes him highly effective on that end of the court. He plays unselfish basketball and is always looking to get others involved. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Richard-Jetter-1-300x221.jpg" alt="Richard Jetter" width="300" height="221" class="aligncenter size-medium wp-image-75146" /></td>
			<td>Jetter, Richard</td>
			<td>11</td>
			<td>Richard has phenomenal athleticism and length, which he uses to his advantage on both ends of the court. He is a terror on the defensive end of the court and does a great job of altering shots. His ability to easily dunk the ball with either hand is just one example of his superior athleticism. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Ben-Kelly-300x205.jpg" alt="Ben Kelly" width="300" height="205" class="aligncenter size-medium wp-image-74957" /></td>
			<td>Kelly, Ben</td>
			<td>9</td>
			<td>Ben is a solid combo guard who can shoot the ball from deep. His offensive game is second to none in that he can score in a variety of ways. Ben is a smart player who knows how to pick his spots.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Kennedy, Robert</td>
			<td>10</td>
			<td>Robert is a versatile offensive player who can score in a variety of ways. He does a great job of running the floor and finishing at the rim. For his size, he is really athletic and uses that to his advantage on both ends of the court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/63-Klimchock-1024x714.jpg" alt="63 Klimchock" width="300" height="226" class="aligncenter size-large wp-image-74949" /></td>
			<td>Klimchock, Asa</td>
			<td>9</td>
			<td>Asa is a knockdown shooter with unlimited range. On offense, he sees the floor extremely well and knows how to pick his spots. He has a natural ability to pass the basketball and does a great job of setting up his teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Josh-Kline-1-300x233.jpg" alt="Josh Kline" width="300" height="233" class="aligncenter size-medium wp-image-75132" /></td>
			<td>Kline, Josh</td>
			<td>10</td>
			<td>Josh is a long, athletic player who does a great job of attacking the glass on both ends of the court. Offensively, he is active around the rim and is able to finish with both hands. He plays hard and competes on every play. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Mike-Lanendale-1-300x217.jpg" alt="Mike Lanendale" width="300" height="217" class="aligncenter size-medium wp-image-75142" /></td>
			<td>Lamendola, Mark</td>
			<td>11</td>
			<td>Mark is a strong ball handling guard that can create for himself and others when he gets into the paint. He is a good spot up shooter but is even better when shooting off the dribble. Mark has a high basketball IQ and always makes the right play.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Finn-Vecky-300x184.jpg" alt="Finn Vecky" width="300" height="184" class="aligncenter size-medium wp-image-74973" /></td>
			<td>Lecky, Finn</td>
			<td>10</td>
			<td>Finn plays well under pressure and is able to handle the ball with a man draped all over him. He sees the court well and knows how to find the open teammate. Finn is a great leader who does a great job of managing the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Nathan-Leopold-1-300x209.jpg" alt="Nathan Leopold" width="300" height="209" class="aligncenter size-medium wp-image-75144" /></td>
			<td>Leopold, Nathan</td>
			<td>10</td>
			<td>Nathan is a knockdown shooter with a quick release when he has time and space. He is a savvy player with a high basketball IQ and always makes the right play. Nathan excels in transition where he distributes very well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Screen-Shot-2016-05-07-at-6.25.24-PM-300x188.png" alt="Screen Shot 2016-05-07 at 6.25.24 PM" width="300" height="188" class="aligncenter size-medium wp-image-75163" /></td>
			<td>Lewis, Kenyon</td>
			<td>10</td>
			<td>Kenyon is a long, active defender who plays extremely hard. He competes on both ends of the court and never takes a possession off. Offensively, Kenyon has great rotation and touch on his jumpshots. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Holden-Lipke-300x217.jpg" alt="Holden Lipke" width="300" height="217" class="aligncenter size-medium wp-image-74976" /></td>
			<td>Lipke, Holden</td>
			<td>10</td>
			<td>Holden is a great all-around player with an exceptional offensive repertoire. He has soft touch on his shots and is a great shooter. He moves well without the ball and makes really good cuts for easy looks.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Jake-Livingston-1-300x197.jpg" alt="Jake Livingston" width="300" height="197" class="aligncenter size-medium wp-image-75124" /></td>
			<td>Livingston, Jake</td>
			<td>11</td>
			<td>Jake is a high motor forward who competes on both ends of the court. For a forward, Jake has a complete offensive game and can even hit the three consistently. He has great ball handling skills for his size which allows him get to his spots easily on the court. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Long, Alec</td>
			<td>11</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Sean-Louyhron-300x208.jpg" alt="Sean Louyhron" width="300" height="208" class="aligncenter size-medium wp-image-74984" /></td>
			<td>Loughran, Sean</td>
			<td>9</td>
			<td>Sean has a great feel for the game and is always looking to make the extra pass. He has a good looking shooting stroke and can get his shots off quickly. He competes on both ends of the court and never takes a play off.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Amor-Luptak-1024x711.jpg" alt="Amor Luptak" width="300" height="226" class="aligncenter size-large wp-image-74954" /></td>
			<td>Luptak, Amos</td>
			<td>11</td>
			<td>Amos is a strong ball handler who does a great job of setting up his teammates. He is crafty and tough which allows him to get to the rim and finish. He plays extremely hard and was one of the toughest players at the Top 100.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Stanford-Lyons-1-300x225.jpg" alt="Stanford Lyons" width="300" height="225" class="aligncenter size-medium wp-image-75150" /></td>
			<td>Lyons, Stanford</td>
			<td>9</td>
			<td>Stanford has a good basketball frame, which he uses to make plays on defense and to attack the boards. He has the ability to drive both right and left, which makes him difficult to defend. He is a high motor player who really brings it on the defensive end. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Jake-Melton-2-300x228.jpg" alt="Jake Melton" width="300" height="228" class="aligncenter size-medium wp-image-75159" /></td>
			<td>Mellon, Jake</td>
			<td>11</td>
			<td>Jake is a tough player who does a great job of penetrating the defense and attacking the rim. He is able to finish with either hand around the rim which makes him difficult to guard. He takes pride on the defensive end and anticipates very well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Brice-Miller-300x232.jpg" alt="Brice Miller" width="300" height="232" class="aligncenter size-medium wp-image-74961" /></td>
			<td>Miller, Brice</td>
			<td>10</td>
			<td>Brice is a great shooter who has a lot of confidence in his shot. He has great rotation and form and an excellent shooting stroke. Brice is a hardworking player who understands how to get open by moving without the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Mark-Miller-2-300x239.jpg" alt="Mark Miller" width="300" height="239" class="aligncenter size-medium wp-image-75162" /></td>
			<td>Miller, Mark</td>
			<td>12</td>
			<td>Mark is a versatile forward who has the ability to shoot from deep. His quick release makes him a weapon, especially when it comes to stretching the floor. He runs the floor well in transition and is a great second trail guy because of his shooting ability. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Naim-Miller-1-300x208.jpg" alt="Naim Miller" width="300" height="208" class="aligncenter size-medium wp-image-75143" /></td>
			<td>Miller, Naim</td>
			<td>10</td>
			<td>Naim is a very athletic wing who excels when attacking the rim. He has the ability to finish with either hand and through contact. He competes on every possession and is active on the defensive end.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Alex-Mullen-1024x768.jpg" alt="Alex Mullen" width="300" height="226" class="aligncenter size-large wp-image-74953" /></td>
			<td>Mullen, Alex</td>
			<td>9</td>
			<td>Alex is a really good shooter with deep range. He moves well without the ball and understands how to get himself open. He is a long, athletic player who uses those traits to his advantage on defense and on the glass. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Zachary-Offi-1-300x227.jpg" alt="Zachary Offi" width="300" height="227" class="aligncenter size-medium wp-image-75156" /></td>
			<td>Offi, Zachary</td>
			<td>11</td>
			<td>Zach has great form and rotation on his shots and he has the ability to get hot from deep. He is a high IQ player who has great knowledge of the game of basketball. His court vision is phenomenal and he knows where to move the ball with purpose.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Michael-Palmer-300x194.jpg" alt="Michael Palmer" width="300" height="194" class="aligncenter size-medium wp-image-74982" /></td>
			<td>Palmer, Michael</td>
			<td>9</td>
			<td>Michael is a great PG who knows how to run a team. He uses his tight handle to breakdown his defender which allows him to penetrate on a consistent basis. He plays with great pace and understands how tempo can affect the game.</td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Passodelis, Joe</td>
			<td>11</td>
			<td>Joe has long arms which he uses to disrupt passing lanes on the defensive end. He plays hard and competes on every play. He is a high energy player who always goes after loose balls.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Tommy-Pisula-300x217.jpg" alt="Tommy Pisula" width="300" height="217" class="aligncenter size-medium wp-image-74985" /></td>
			<td>Pisula, Tommy</td>
			<td>11</td>
			<td>Tommy possesses great ball handling skills, which he uses to his advantage in transition. He can really penetrate and does a great job of finishing around the rim. Tommy has a quick release which allows him to get his shots up with little time and space. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Coleman-Vaughn-300x224.jpg" alt="Coleman Vaughn" width="300" height="224" class="aligncenter size-medium wp-image-74964" /></td>
			<td>Plunkett, Connor</td>
			<td>11</td>
			<td>Connor is a high IQ player with a great drive and kick game. He knows when to take it himself and when to distribute to his teammates. His ability to stop on a dime allows him to create space for his pull up jumpers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Jalen-Price-300x220.jpg" alt="Jalen Price" width="300" height="220" class="aligncenter size-medium wp-image-74979" /></td>
			<td>Price, Jalen</td>
			<td>9</td>
			<td>Jalen is a hardworking player who never takes a play off. He has a high basketball IQ and always seems to be in the right place at the right time. He is active on defense and has a nose for the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Andrew-Recchia-300x229.jpg" alt="Andrew Recchia" width="300" height="229" class="aligncenter size-medium wp-image-74955" /></td>
			<td>Recchia, Andrew</td>
			<td>9</td>
			<td>Andrew is a creative offensive player who can create for himself and for his teammates. He possesses a great floater, which allows him to finish over bigger defenders. Andrew has great vision and knows how to set up his teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Josh-Revak-300x203.jpg" alt="Josh Revak" width="300" height="203" class="aligncenter size-medium wp-image-74980" /></td>
			<td>Revak, Josh</td>
			<td>11</td>
			<td>Josh has a great overall feel for the game of basketball. His ability to create for others is second to none. When he has time and space, Josh is a knockdown shooter from three point range. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Tyrese-Robinson-1-300x227.jpg" alt="Tyrese Robinson" width="300" height="227" class="aligncenter size-medium wp-image-75154" /></td>
			<td>Robinson, Tyrese</td>
			<td>11</td>
			<td>Tyrese is a long, atletic player who handles the ball very well on the perimeter. His best attribute is his ability to attack the rim and finish. His long arms make him a terror on the defensive end as he is constantly disrupting the passing lanes. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Zach-Rocco-300x200.jpg" alt="Zach Rocco" width="300" height="200" class="aligncenter size-medium wp-image-74986" /></td>
			<td>Rocco, Zach</td>
			<td>8</td>
			<td>Zach is a knockdown shooter with unlimited range. His ball skills and handle are highly developed for a player his age. He has extremely long arms, which he uses to create havoc in the passing lanes. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Tommy-Rodriguez-1-300x201.jpg" alt="Tommy Rodriguez" width="300" height="201" class="aligncenter size-medium wp-image-75152" /></td>
			<td>Rodriguez, Tommy</td>
			<td>11</td>
			<td>Tommy is a strong PG who makes great decisions when penetrating the defense. He knows when to take it himself and when to kick to the open teammate. His best offensive attribute is his ability to distribute the basketball to set up his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Desmond-Ross-300x236.jpg" alt="Desmond Ross" width="300" height="236" class="aligncenter size-medium wp-image-74970" /></td>
			<td>Ross, Desmond</td>
			<td>10</td>
			<td>Desmond is a great shooter especially from three point range. He is an unselfish player and is always looking to make the extra pass. He has quick feet on the defensive end and is able to keep his man in front of him.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Aidan-Sadoski-1024x731.jpg" alt="Aidan Sadoski" width="300" height="226" class="aligncenter size-large wp-image-74951" /></td>
			<td>Sadoski, Aidan </td>
			<td>10</td>
			<td>Aidan is an active stretch four with the ability to hit open threes. He is very varsatile, especially since he can handle the ball extremely well. He is also active on the glass and does a great job of starting the break for his team. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Snell, Josh</td>
			<td>10</td>
			<td>Josh is an active player who works hard on the defensive end. He knows how to guard and how to keep his man in front of him. Offensively, Josh is a knockdown shooter with deep range.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Hunter-Stonecheck-300x227.jpg" alt="Hunter Stonecheck" width="300" height="227" class="aligncenter size-medium wp-image-74977" /></td>
			<td>Stonecheck, Hunter</td>
			<td>10</td>
			<td>Hunter is a strong player who excels at finishing through contact. His toughness and hustle on both ends of the court sets him apart from other players. He has a high basketball IQ and knows when to kick it to the perimeter when he draws two defenders.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Kyle-Sullivan-1-300x210.jpg" alt="Kyle Sullivan" width="300" height="210" class="aligncenter size-medium wp-image-75138" /></td>
			<td>Sullivan, Kyle</td>
			<td>11</td>
			<td>Kyle is a terrific PG who sees the court well and creates opportunites for his teammates. He does a great job of using ball screens and always seems to make the right decision when using them. When he is left open, Kyle has the ability to drill the three.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Justin-Tarrant-1-300x216.jpg" alt="Justin Tarrant" width="300" height="216" class="aligncenter size-medium wp-image-75134" /></td>
			<td>Tarrant, Justin</td>
			<td>10</td>
			<td>Justin is a hard working player who competes on both ends of the court. He is a solid wing player who can consistently make open jumpers. Justin is a great teammate and will do whatever it takes to help his team win.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Kaleb-Taylor-2-300x215.jpg" alt="Kaleb Taylor" width="300" height="215" class="aligncenter size-medium wp-image-75160" /></td>
			<td>Taylor, Kass</td>
			<td>11</td>
			<td>Kass is an athletic, long player who uses those traits to his advantage on both ends of the court. He has a high basketball IQ and great court vision. Kass has a quick bounce which allows him to explode off the floor for easy rebounds. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Coleman-Vaughn-300x224.jpg" alt="Coleman Vaughn" width="300" height="224" class="aligncenter size-medium wp-image-74964" /></td>
			<td>Vaughn, Coleman</td>
			<td>11</td>
			<td>Coleman is a highly skilled offensive player who can finish around the rim in a variety of ways. He plays with good pace and knows when to speed the game up or slow the game down. Coleman has a high basketball IQ and always seems to make the right play.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Steven-Votodian-1-300x213.jpg" alt="Steven Votodian" width="300" height="213" class="aligncenter size-medium wp-image-75151" /></td>
			<td>Votodian, Steven</td>
			<td>11</td>
			<td>Steven is a crafty ball handler who sees the court very well. He is always under control and runs the team well. He has a high motor and he always competes on every possession.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Shawn-Wilson-1-300x206.jpg" alt="Shawn Wilson" width="300" height="206" class="aligncenter size-medium wp-image-75149" /></td>
			<td>Wilson, Shawn</td>
			<td>10</td>
			<td>Shawn is a true competitor who digs in deep on the defensive end of the court. He consistantly disrupts passing lanes and is a ball hawking defender. Offensively, he plays with great pace and runs the show well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Jacob-Winston-300x218.jpg" alt="Jacob Winston" width="300" height="218" class="aligncenter size-medium wp-image-75070" /></td>
			<td>Winston, Jacob</td>
			<td>12</td>
			<td>Jacob is a great shooter, especially from behind the three point line. He is active on both ends of the court and is always doing the little things to help his team win. He does after every loose ball and every single rebound. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Connor-Woodbridge-300x226.jpg" alt="Connor Woodbridge" width="300" height="226" class="aligncenter size-medium wp-image-74966" /></td>
			<td>Woodbridge, Connor</td>
			<td>12</td>
			<td>Connor plays extremely hard on both ends of the court. He loves to attack the rim where he can finish with either hand. He is a versatile defender and can guard multiple positions.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/05/Joseph-Zini-1-300x197.jpg" alt="Joseph Zini" width="300" height="197" class="aligncenter size-medium wp-image-75131" /></td>
			<td>Zini, Joseph</td>
			<td>10</td>
			<td>Joe is an excellent rebounder who uses his body well to box out. He is a tough player who competes under the basket and he never takes a play off. He does a great job of creating second chance opportunities for his team.</td>
		</tr>
	</tbody>
</table>
