<table>
	<thead>
		<tr>
			<th>Pittsburgh 17U Team List</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Atlanta Xpress</td>
			<td>NC Red Storm</td>
		</tr>
		<tr>
			<td>Baltimore Supreme</td>
			<td>New Heights (NY)</td>
		</tr>
		<tr>
			<td>Baltimore Wildcats</td>
			<td>New Jersey Cyclones</td>
		</tr>
		<tr>
			<td>Brampton Warriors (CN)</td>
			<td>New Jersey Roadrunners</td>
		</tr>
		<tr>
			<td>BSA - Thiero (PA)</td>
			<td>New Rens (NY)</td>
		</tr>
		<tr>
			<td>BSA- Brodzinski (PA)</td>
			<td>Northern Kings (CN)</td>
		</tr>
		<tr>
			<td>Buffalo Dragons</td>
			<td>Nova Village (OH)</td>
		</tr>
		<tr>
			<td>Carolina Surge (NC)</td>
			<td>NSBC Rampage (WV)</td>
		</tr>
		<tr>
			<td>Columbia Ravens (MD)</td>
			<td>NY Gauchos</td>
		</tr>
		<tr>
			<td>Columbus Mustang Ballers</td>
			<td>NY Panthers</td>
		</tr>
		<tr>
			<td>Crusader Nation (MD)</td>
			<td>Ohio Basketball Club</td>
		</tr>
		<tr>
			<td>CTC - Just Play (PA)</td>
			<td>Ohio Hoopsters</td>
		</tr>
		<tr>
			<td>D1 Sports</td>
			<td>Ohio Phenoms</td>
		</tr>
		<tr>
			<td>D12 Warriors (FL)</td>
			<td>Old School Cavs (PA)</td>
		</tr>
		<tr>
			<td>Dayton Metro (OH)</td>
			<td>Philly Pride</td>
		</tr>
		<tr>
			<td>DB Hoops - Spartans (MI)</td>
			<td>Pittsburgh Impact</td>
		</tr>
		<tr>
			<td>DB Hoops Marshall (OH)</td>
			<td>PYO (PA)</td>
		</tr>
		<tr>
			<td>DC Assault</td>
			<td>Queen City Prophets (OH)</td>
		</tr>
		<tr>
			<td>DC Assault Farrington</td>
			<td>Radiant Suns (NJ)</td>
		</tr>
		<tr>
			<td>Detroit Stars (MI)</td>
			<td>Raising Champions (NY)</td>
		</tr>
		<tr>
			<td>Dorian's Pride (MI)</td>
			<td>Richmond Squires</td>
		</tr>
		<tr>
			<td>Drill 4 Skill (PA)</td>
			<td>Sam Rines (PA)</td>
		</tr>
		<tr>
			<td>East Coast Fusion - Dalton</td>
			<td>SC Raptors Elite</td>
		</tr>
		<tr>
			<td>East Coast Fusion  - Lemcke (VA)</td>
			<td>Showtime All-stars (NC)</td>
		</tr>
		<tr>
			<td>Florida Mustangs</td>
			<td>SJ Select (NJ)</td>
		</tr>
		<tr>
			<td>Florida Tarheels</td>
			<td>Sports U Elite (NJ)</td>
		</tr>
		<tr>
			<td>Franklin All-Stars (MI)</td>
			<td>Team Excel (CN)</td>
		</tr>
		<tr>
			<td>Gold Coast (FL)</td>
			<td>Team Jersey Elite</td>
		</tr>
		<tr>
			<td>Grassroots Canada</td>
			<td>Team Loaded (VA)</td>
		</tr>
		<tr>
			<td>Gym Rats (NJ)</td>
			<td>Team Melo (NY)</td>
		</tr>
		<tr>
			<td>Gym Rats Black</td>
			<td>Team Miami</td>
		</tr>
		<tr>
			<td>Hidden Gems Black (OH)</td>
			<td>Team Philly</td>
		</tr>
		<tr>
			<td>Houston Defenders</td>
			<td>Team Takeover Orange (DC)</td>
		</tr>
		<tr>
			<td>Hunting Park Warriors (PA)</td>
			<td>Team Work (OH)</td>
		</tr>
		<tr>
			<td>Indiana Elite</td>
			<td>Texas Cagers</td>
		</tr>
		<tr>
			<td>JB Hoops - Show (PA)</td>
			<td>TNBA (OH)</td>
		</tr>
		<tr>
			<td>JB Hoops-Callahan (PA)</td>
			<td>Tri-County Basketball Academy (CN)</td>
		</tr>
		<tr>
			<td>Juice All-Stars (NY)</td>
			<td>U Play (CN)</td>
		</tr>
		<tr>
			<td>KFS Wolves (PA)</td>
			<td>UA Bmore Finest (MD)</td>
		</tr>
		<tr>
			<td>LA Stars (CA)</td>
			<td>VA Assault</td>
		</tr>
		<tr>
			<td>LAX Hoops (CA)</td>
			<td>VA Elite</td>
		</tr>
		<tr>
			<td>Martin's Wolverines (OH)</td>
			<td>Waterloo Wildhawks (CN)</td>
		</tr>
		<tr>
			<td>Mid-Atlantic Select (MD)</td>
			<td>Wave Basketball Club (VA)</td>
		</tr>
		<tr>
			<td>Minnesota Magic</td>
			<td>Wayne PAL Wolfpack (NJ)</td>
		</tr>
		<tr>
			<td>RMF Hurricanes (FL)</td>
			<td>We R 1 -ECE/NJABC</td>
		</tr>
		<tr>
			<td>Mountan Cat Basketball (PA)</td>
			<td>West Virginia Wildcats Select</td>
		</tr>
		<tr>
			<td>Move Your Feet NJ</td>
			<td>Westchester Hawks (NY)</td>
		</tr>
		<tr>
			<td>Nashville Celtics</td>
			<td>SEBL (NC)</td>
		</tr>
	</tbody>
</table>
