<table>
	<thead>
		<tr>
			<th>Pittsburgh 16U Team List</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>UA Baltimore Finest</td>
			<td>NY Gauchos</td>
		</tr>
		<tr>
			<td>Baltimore Supreme</td>
			<td>NY Panthers</td>
		</tr>
		<tr>
			<td>BSA- Gordon (PA)</td>
			<td>Ohio Basketball Club</td>
		</tr>
		<tr>
			<td>Blaze Select (IN)</td>
			<td>Ohio Phenoms</td>
		</tr>
		<tr>
			<td>Blessed Sacrament (CN)</td>
			<td>Perkasie Knights</td>
		</tr>
		<tr>
			<td>Brampton Warriors (CN)</td>
			<td>Philly Ballhawks</td>
		</tr>
		<tr>
			<td>Crusader Natio (MD) Cardinal</td>
			<td>Philly Pride</td>
		</tr>
		<tr>
			<td>Crusader Nation (MD) Gold</td>
			<td>Pistons (SF)</td>
		</tr>
		<tr>
			<td>D12 Warriors (FL)</td>
			<td>Pittsburgh Impact</td>
		</tr>
		<tr>
			<td>DB Hoops Blanks</td>
			<td>Raising Champions (NY)</td>
		</tr>
		<tr>
			<td>DB Hoops Gensley</td>
			<td>Richmond Squires</td>
		</tr>
		<tr>
			<td>DB Hoops(OH) Spartans</td>
			<td>SC Raptors Elite</td>
		</tr>
		<tr>
			<td>DC Assault</td>
			<td>Sports U (NJ)</td>
		</tr>
		<tr>
			<td>Dejuan Blair All-Stars (PA)</td>
			<td>Stamford Peace (CT)</td>
		</tr>
		<tr>
			<td>East Coast Fusion - Shields (VA)</td>
			<td>Suffolk Blazers (VA)</td>
		</tr>
		<tr>
			<td>East Coast Fusion - Stenger (VA)</td>
			<td>Team Chaos (MD)</td>
		</tr>
		<tr>
			<td>Expressions (MA)</td>
			<td>Team Crons (PA)</td>
		</tr>
		<tr>
			<td>Florida Select</td>
			<td>Team Frenji (NY)</td>
		</tr>
		<tr>
			<td>Florida Tarheels</td>
			<td>Team Jersey Elite</td>
		</tr>
		<tr>
			<td>Grassroots Canada</td>
			<td>Team Loaded Red (VA)</td>
		</tr>
		<tr>
			<td>Hidden Gems (OH) Black</td>
			<td>Team Loaded White (VA)</td>
		</tr>
		<tr>
			<td>Hoop Dreams (KY)</td>
			<td>Team Melo (MD)</td>
		</tr>
		<tr>
			<td>Juice All Stars (NY)</td>
			<td>Team Philly</td>
		</tr>
		<tr>
			<td>Maryland 3D</td>
			<td>Team Work (OH)</td>
		</tr>
		<tr>
			<td>Move Your Feet NYC</td>
			<td>U Play (CN)</td>
		</tr>
		<tr>
			<td>Nashville Celtics</td>
			<td>VA Assault</td>
		</tr>
		<tr>
			<td>NC Red Storm</td>
			<td>VA Elite</td>
		</tr>
		<tr>
			<td>New Rens (NY)</td>
			<td>We R 1 -ECE/NJABC</td>
		</tr>
		<tr>
			<td>Nitro USA (OH)</td>
			<td>Westchester Hawks (NY)</td>
		</tr>
		<tr>
			<td>NJ Roadrunners</td>
			<td>WV Blaze</td>
		</tr>
		<tr>
			<td>NJ ShoreShots</td>
			<td>WV Wildcats Select</td>
		</tr>
		<tr>
			<td>Cavemen-White (PA)</td>
			<td>CTS-Just Play (PA)</td>
		</tr>
	</tbody>
</table>
