<table>
	<thead>
		<tr>
			<th>Pittsburgh 15U Team List</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Adidas Rams (Rens) (FL)</td>
			<td>NJ Sports</td>
		</tr>
		<tr>
			<td>Advantage Titans (CAN)</td>
			<td>NY Gauchos</td>
		</tr>
		<tr>
			<td>All Ohio Purple</td>
			<td>Ohio Basketball Club</td>
		</tr>
		<tr>
			<td>Baltimore Supreme</td>
			<td>Philly Pride</td>
		</tr>
		<tr>
			<td>Blaze Select (IN)</td>
			<td>Pitt Impact</td>
		</tr>
		<tr>
			<td>Brampton Warriors</td>
			<td>Radiant Suns (NJ)</td>
		</tr>
		<tr>
			<td>BSA - Thiero (PA)</td>
			<td>Sports U (NJ)</td>
		</tr>
		<tr>
			<td>BSA-Freedman (PA)</td>
			<td>St. David (CN)</td>
		</tr>
		<tr>
			<td>Buffalo Bounce</td>
			<td>Stamford Peace (CT)</td>
		</tr>
		<tr>
			<td>Buffalo Dragons</td>
			<td>Syracuse Select</td>
		</tr>
		<tr>
			<td>Crusader Nation (MD)</td>
			<td>Team Crons (PA)</td>
		</tr>
		<tr>
			<td>CTC - Just Play (PA)</td>
			<td>Team Loaded  Red (VA)</td>
		</tr>
		<tr>
			<td>DB Hoops  - Blair (OH)</td>
			<td>Team Loaded  White (VA)</td>
		</tr>
		<tr>
			<td>DB Hoops - Spartans (OH)</td>
			<td>Team Melo (MD)</td>
		</tr>
		<tr>
			<td>DB Hoops - Williams (OH)</td>
			<td>Team Philly</td>
		</tr>
		<tr>
			<td>DC Assault</td>
			<td>Team Richmond</td>
		</tr>
		<tr>
			<td>Florida FlyWade</td>
			<td>Team Work (OH)</td>
		</tr>
		<tr>
			<td>Florida Tarheels</td>
			<td>The City (NY)</td>
		</tr>
		<tr>
			<td>Grassroots Canada</td>
			<td>TNBA (OH)</td>
		</tr>
		<tr>
			<td>Hidden Gems Black (OH)</td>
			<td>Tri-County Basketball (CN)</td>
		</tr>
		<tr>
			<td>Hidden Gems Orange (OH)</td>
			<td>Triple Threat (CN)</td>
		</tr>
		<tr>
			<td>Houston Defenders</td>
			<td>VA Elite</td>
		</tr>
		<tr>
			<td>JB Hoops - Cooper (PA)</td>
			<td>We R 1 -ECE/NJABC (DE)</td>
		</tr>
		<tr>
			<td>New Rens (NY)</td>
			<td></td>
		</tr>
	</tbody>
</table>
