<table>
	<thead>
		<tr>
			<th>Pittsburgh Open Team List</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Hidden Gems White (OH)</td>
		</tr>
		<tr>
			<td>PA Mustangs</td>
		</tr>
		<tr>
			<td>PA Pump-N-Run</td>
		</tr>
		<tr>
			<td>Team Miami</td>
		</tr>
		<tr>
			<td>Team 518 (NY)</td>
		</tr>
		<tr>
			<td>Cavs (OH)</td>
		</tr>
		<tr>
			<td>Whitby Wildcats (CAN)</td>
		</tr>
		<tr>
			<td>Grassroots Phase 1 (CAN)</td>
		</tr>
		<tr>
			<td>SMAC PA Elite</td>
		</tr>
		<tr>
			<td>BSA (PA)</td>
		</tr>
		<tr>
			<td>Team Adidas-HPC (PA)</td>
		</tr>
		<tr>
			<td>New Rens (NY)</td>
		</tr>
		<tr>
			<td>Grassroots Canada</td>
		</tr>
		<tr>
			<td>Tri-County Basketball (CN)</td>
		</tr>
		<tr>
			<td>SMAC PA Elite</td>
		</tr>
		<tr>
			<td>Team Synergy (NJ)</td>
		</tr>
		<tr>
			<td>PA Pacers</td>
		</tr>
		<tr>
			<td>NJ Celtics</td>
		</tr>
	</tbody>
</table>
