<table>
	<thead>
		<tr>
			<th>Pittsburgh 14U Team List</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>DB Hoops  - Frederick (OH)</td>
		</tr>
		<tr>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>ETU Warriors (MD)</td>
		</tr>
		<tr>
			<td>Hidden Gems (OH)</td>
		</tr>
		<tr>
			<td>Maryland Bulls</td>
		</tr>
		<tr>
			<td>New Rens (NY)</td>
		</tr>
		<tr>
			<td>NY Gauchos</td>
		</tr>
		<tr>
			<td>Pitt Basketball Club</td>
		</tr>
		<tr>
			<td>We R 1 -ECE/NJABC</td>
		</tr>
		<tr>
			<td>Showtime All Stars (NC)</td>
		</tr>
		<tr>
			<td>Stamford Peace (CT)</td>
		</tr>
		<tr>
			<td>Team Adidas (PA)</td>
		</tr>
		<tr>
			<td>Team Loaded Red (VA)</td>
		</tr>
		<tr>
			<td>TNBA (OH)</td>
		</tr>
		<tr>
			<td>Rise High</td>
		</tr>
		<tr>
			<td>Wayne PAL Wolfpack</td>
		</tr>
		<tr>
			<td>YAAACE (CN)</td>
		</tr>
		<tr>
			<td>Team Loaded White (VA)</td>
		</tr>
		<tr>
			<td>Syracuse Select</td>
		</tr>
		<tr>
			<td>DB Hoops - Jackson (OH)</td>
		</tr>
		<tr>
			<td>Team Lima (OH)</td>
		</tr>
		<tr>
			<td>Grassroots Canada (CN)</td>
		</tr>
		<tr>
			<td>Hoop Dreams (KY)</td>
		</tr>
		<tr>
			<td>Triple Threat (MD)</td>
		</tr>
	</tbody>
</table>
