<table>
	<thead>
		<tr>
			<th>Session</th>
			<th>Dates</th>
			<th>Grades</th>
			<th>Gender</th>
			<th>Class Day</th>
			<th>Time</th>
			<th>Cost</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Winter 3 Mike Rice</td>
			<td>February 5 - March 5</td>
			<td>Grades 3-9</td>
			<td>Boys ONLY</td>
			<td>Monday</td>
			<td>5:30 - 6:30 PM</td>
			<td>$190</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-mike-rice-point-guard-(4-9)-monday-only-winter3">Register Here </a></td>
		</tr>
		<tr>
			<td>Spring 1</td>
			<td>March 12 - April 11</td>
			<td>Grades 3-11</td>
			<td>Girls &amp; Boys</td>
			<td>Monday &amp; Wednesday</td>
			<td>4:30 - 5:30 PM
 </td>
			<td>$360</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-point-guard-(3-11)-both-monday---wednesday-spring1">Register Here </a></td>
		</tr>
		<tr>
			<td>Spring 1</td>
			<td>March 12 - April 9</td>
			<td>Grades 3-11</td>
			<td>Girls &amp; Boys</td>
			<td>Mondays ONLY</td>
			<td>4:30 - 5:30 PM</td>
			<td>$190</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-point-guard-(3-12)-monday-only-spring1">Register Here </a></td>
		</tr>
		<tr>
			<td>Spring 1</td>
			<td>March 14 - April 11</td>
			<td>Grades 3-11</td>
			<td>Girls &amp; Boys</td>
			<td>Wednesdays ONLY</td>
			<td>4:30 - 5:30 PM</td>
			<td>$190</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-point-guard-(3-12)-wednesdays-only-spring1">Register Here </a></td>
		</tr>
	</tbody>
</table>
