<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys &amp; Girls Division</th>
			<th>Class Days</th>
			<th>Time</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>May 2-Jun. 13</td>
			<td>Grades 5-8</td>
			<td>Monday</td>
			<td>4:30-5:30PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_84&amp;products_id=1055">Sign Up</a></td>
		</tr>
	</tbody>
</table>
