<table>
	<thead>
		<tr>
			<th>Program Dates</th>
			<th>Grade</th>
			<th>Class Days</th>
			<th>Times</th>
			<th>Price</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Nov 18 - Nov 19</td>
			<td> Boys Grades 9-12</td>
			<td>Sat-Sun</td>
			<td>10am - 12pm</td>
			<td>$115 ($125 if not pre registered)</td>
			<td><a href="https://store.hoopgroup.com/events/2017-hghq-hs-boys-preseason-boot-camp-2017">Register Here</a></td>
		</tr>
		<tr>
			<td>Nov 18 - Nov 19</td>
			<td>Girls Grades 9-12</td>
			<td>Sat-Sun</td>
			<td>3pm - 5pm</td>
			<td>$115 ($125 if not pre registered)</td>
			<td><a href="https://store.hoopgroup.com/events/2017-hghq-hs-girls-preseason-boot-camp-2017">Register Here</a></td>
		</tr>
		<tr>
			<td>Nov 28 - Nov 30</td>
			<td>Boys Grades 9-12</td>
			<td>Fri-Sun</td>
			<td>Fri 3PM - 5PM
Sat/Sun 12 PM - 2 PM</td>
			<td>$175</td>
			<td>email kessler@hoopgroup.com</td>
		</tr>
		<tr>
			<td>Nov 28 - Nov 30</td>
			<td>Girls Grades 9-12</td>
			<td>Fri-Sun</td>
			<td>Fri - 5:30PM - 7:30PM
Sat/Sun 2:30 - 4:30 PM</td>
			<td>$175</td>
			<td>email kessler@hoopgroup.com</td>
		</tr>
		<tr>
			<td>Nov 22/23 &amp; Nov 28-30</td>
			<td> Girls Grades 9-12</td>
			<td>Both Weekends</td>
			<td>See Above</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Nov 22/23 &amp; Nov 28-30</td>
			<td>Boys Grades 9-12</td>
			<td>Both Weekends</td>
			<td>See Above</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
