<table>
	<thead>
		<tr>
			<th>Class Day</th>
			<th>Dates</th>
			<th>Boys &amp; Girls</th>
			<th>Times</th>
			<th>Price</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Monday - Friday</td>
			<td>February 9 - 13</td>
			<td>Grades 2-9</td>
			<td>9:00AM-2:00PM</td>
			<td>$250</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_157&amp;products_id=1796">Register Here</a></td>
		</tr>
		<tr>
			<td>Monday</td>
			<td>February 19</td>
			<td>Grades 2-9</td>
			<td>9:00AM-2:00PM</td>
			<td>$90 ($105 if not pre registered)</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-president-day-hoop-fest-basketball-clinic-2018">Register Here </a></td>
		</tr>
	</tbody>
</table>
