<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/LonnieWalkerHGE100.jpg" alt="lonniewalkerhge100" width="100" height="120" class="aligncenter size-full wp-image-80408" /></td>
			<td>Lonnie Walker</td>
			<td>Reading</td>
			<td>Miami</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DavidBeatty100.jpg" alt="davidbeatty100" width="100" height="120" class="aligncenter size-full wp-image-80395" /></td>
			<td>David Beatty</td>
			<td>Imhotep Charter</td>
			<td>South Carolina</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DaronRussell100.jpg" alt="daronrussell100" width="100" height="120" class="aligncenter size-full wp-image-80399" /></td>
			<td>Daron Russell</td>
			<td>Imhotep Charter</td>
			<td>Rhode Island</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/KobeThomas100-1.jpg" alt="kobethomas100" width="100" height="120" class="aligncenter size-full wp-image-80396" /></td>
			<td>Koby Thomas</td>
			<td>Imhotep Charter</td>
			<td>Robert Morris</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
