<table>
	<thead>
		<tr>
			<th>Time</th>
			<th>Visiting Team</th>
			<th></th>
			<th>Home Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>6:30</td>
			<td>Roman Catholic</td>
			<td>vs.</td>
			<td>Berks Catholic</td>
		</tr>
		<tr>
			<td>8:00</td>
			<td>Neuman Goretti</td>
			<td>vs.</td>
			<td>Reading</td>
		</tr>
	</tbody>
</table>
