<table>
	<thead>
		<tr>
			<th>High School</th>
			<th>Wins</th>
			<th>Losses</th>
			<th>Winning %</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Neuman Goretti</td>
			<td>3</td>
			<td>0</td>
			<td>100%</td>
		</tr>
		<tr>
			<td>Chester</td>
			<td>2</td>
			<td>0</td>
			<td>100%</td>
		</tr>
		<tr>
			<td>Archbishop Wood</td>
			<td>1</td>
			<td>0</td>
			<td>100%</td>
		</tr>
		<tr>
			<td>Bishop McNamara MD</td>
			<td>1</td>
			<td>0</td>
			<td>100%</td>
		</tr>
		<tr>
			<td>Constitution</td>
			<td>1</td>
			<td>0</td>
			<td>100%</td>
		</tr>
		<tr>
			<td>Octora</td>
			<td>1</td>
			<td>0</td>
			<td>100%</td>
		</tr>
		<tr>
			<td>Imhotep Charter</td>
			<td>1</td>
			<td>0</td>
			<td>100%</td>
		</tr>
		<tr>
			<td>Penn Wood</td>
			<td>1</td>
			<td>0</td>
			<td>100%</td>
		</tr>
		<tr>
			<td>Pennsbury</td>
			<td>1</td>
			<td>0</td>
			<td>100%</td>
		</tr>
		<tr>
			<td>Berks Catholic</td>
			<td>2</td>
			<td>5</td>
			<td>29%</td>
		</tr>
		<tr>
			<td>Roman Catholic</td>
			<td>0</td>
			<td>1</td>
			<td>0%</td>
		</tr>
		<tr>
			<td>Strawberry Mansion</td>
			<td>0</td>
			<td>1</td>
			<td>0%</td>
		</tr>
		<tr>
			<td>Susquehanna</td>
			<td>0</td>
			<td>1</td>
			<td>0%</td>
		</tr>
		<tr>
			<td>Reading</td>
			<td>0</td>
			<td>6</td>
			<td>0%</td>
		</tr>
	</tbody>
</table>
