<table>
	<thead>
		<tr>
			<th></th>
			<th>NAME</th>
			<th>HIGH SCHOOL</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>SENIORS</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>Ed Croswell</td>
			<td>St. Joes Prep</td>
		</tr>
		<tr>
			<td></td>
			<td>Hector Dixon</td>
			<td>Reading</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/11/seansimon100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-90606" /></td>
			<td>Sean Simon</td>
			<td>La Salle</td>
		</tr>
		<tr>
			<td></td>
			<td>Kyle Thompson</td>
			<td>St. Joes Prep</td>
		</tr>
		<tr>
			<td>JUNIORS</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/11/wesbutler100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-90608" /></td>
			<td>Wes Butler</td>
			<td>Reading</td>
		</tr>
		<tr>
			<td></td>
			<td>Luis Garcia</td>
			<td>Berks Catholic</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/Casey-Jack100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82971" /></td>
			<td>Casey Jack</td>
			<td>Berks Catholic</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/11/dariuskinnell100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-90615" /></td>
			<td>Darius Kinnell</td>
			<td>St. Joes Prep</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/11/jacoboconnell100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-90617" /></td>
			<td>Jacob O'Connell</td>
			<td>St. Joes Prep</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/11/zachcrisler100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-90620" /></td>
			<td>Zach Crisler</td>
			<td>La Salle</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/11/konradkiszka100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-90625" /></td>
			<td>Konrad Kiszka</td>
			<td>La Salle</td>
		</tr>
	</tbody>
</table>
