<table>
	<thead>
		<tr>
			<th>Year</th>
			<th>MVP</th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th>MVP</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>2016</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2016/11/DaronRussell100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-80399" />Daron Russell</td>
			<td>Imhotep Charter  70</td>
			<td>Reading  53</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/TyroneNesbymvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82973" />Tyrone Nesby</td>
		</tr>
		<tr>
			<td>2016</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/markflagg100-1.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82969" />Mark Flagg</td>
			<td>Pennsbury  55</td>
			<td>Berks Catholic  40</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/02/Casey-Jack100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-82971" />Casey Jack</td>
		</tr>
		<tr>
			<td>2015</td>
			<td><a href="http://hoopgroup.com/tamir-green100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/Tamir-Green100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67261" /></a>Tamir Green</td>
			<td>Constitution 58</td>
			<td>Berks Catholic  46</td>
			<td><a href="http://hoopgroup.com/casey-jack100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/Casey-Jack100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67262" /></a>Casey Jack</td>
		</tr>
		<tr>
			<td>2015</td>
			<td><a href="http://hoopgroup.com/tyreepickron-100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/TyreePickron-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67268" /></a>Tyree Pickron</td>
			<td>Archbishop Wood  67</td>
			<td>Reading  59</td>
			<td><a href="http://hoopgroup.com/lonnie-walker-lv-100/" rel="1"><img src="https://hoopgroup.com/wp-content/uploads/2015/12/Lonnie-Walker-LV-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67269" /></a>Lonnie Walker</td>
		</tr>
		<tr>
			<td>2014</td>
			<td><a href="http://hoopgroup.com/?attachment_id=66464" rel="attachment wp-att-66464"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/MarquisCollins100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66464" /></a>Marquis Collins</td>
			<td>Chester 69</td>
			<td>Berks Catholic 62</td>
			<td><a href="http://hoopgroup.com/?attachment_id=66465" rel="attachment wp-att-66465"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/ConnorJack100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66465" /></a>Connor Jack</td>
		</tr>
		<tr>
			<td>2014</td>
			<td><a href="http://hoopgroup.com/?attachment_id=66466" rel="attachment wp-att-66466"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/AddisonScott100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66466" /></a>Addison Scott</td>
			<td>Penn Wood 65</td>
			<td>Reading 62</td>
			<td><a href="http://hoopgroup.com/?attachment_id=66467" rel="attachment wp-att-66467"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/Lonnie-Walker100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66467" /></a>Lonnie Walker</td>
		</tr>
		<tr>
			<td>2013</td>
			<td>Mahir Johnson</td>
			<td>Chester  70</td>
			<td>Reading  63</td>
			<td>Trinity Burdine</td>
		</tr>
		<tr>
			<td>2013</td>
			<td><a href="http://hoopgroup.com/?attachment_id=66514" rel="attachment wp-att-66514"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/JamirMoultrie-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66514" /></a>Jamir Moultrie</td>
			<td>Bishop McNamara MD  52</td>
			<td>Berks Catholic  44</td>
			<td><a href="http://hoopgroup.com/?attachment_id=66515" rel="attachment wp-att-66515"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/Nana-Foulland-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66515" /></a>Nana Foulland</td>
		</tr>
		<tr>
			<td>2012</td>
			<td><a href="http://hoopgroup.com/?attachment_id=66484" rel="attachment wp-att-66484"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/MikeMiller100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66484" /></a>Mike Miller</td>
			<td>Berks Catholic  55</td>
			<td>Roman Catholic  48</td>
			<td><a href="http://hoopgroup.com/?attachment_id=66520" rel="attachment wp-att-66520"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/Shep-Garner-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66520" /></a>Shep Garner</td>
		</tr>
		<tr>
			<td>2012</td>
			<td><a href="http://hoopgroup.com/?attachment_id=66469" rel="attachment wp-att-66469"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/JohnnyDavis100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66469" /></a>Johnny Davis</td>
			<td>Neumann-Goretti  64</td>
			<td>Reading 41</td>
			<td>Isreal Abrea</td>
		</tr>
		<tr>
			<td>2011</td>
			<td><a href="http://hoopgroup.com/?attachment_id=66507" rel="attachment wp-att-66507"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/Marquis-Mashall-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66507" /></a>Marquis Marshall</td>
			<td>Berks Catholic  69</td>
			<td>Strawberry Mansion  48</td>
			<td>Karon Keene</td>
		</tr>
		<tr>
			<td>2011</td>
			<td><a href="http://hoopgroup.com/?attachment_id=66533" rel="attachment wp-att-66533"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/Johnny-Davis-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66533" /></a>Johnny Davis</td>
			<td>Neumann-Goretti  86</td>
			<td>Reading  49</td>
			<td><a href="http://hoopgroup.com/?attachment_id=66505" rel="attachment wp-att-66505"><img src="https://hoopgroup.com/wp-content/uploads/2015/11/JalenBranford100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-66505" /></a>Jalen Branford</td>
		</tr>
		<tr>
			<td>2010</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/12/Charles-Cooper-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45147" />Charles Cooper</td>
			<td>Octorara  44</td>
			<td>Susquehanna Township  37</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/12/Jordan-Millberry-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45149" />Jordan Milberry</td>
		</tr>
		<tr>
			<td>2010</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2013/12/Johnny-Davis-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-45148" />Johnny Davis</td>
			<td>Neumann-Goretti  58</td>
			<td>Reading Central Catholic  46</td>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2011/08/Donovan-Jack-100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-12407" />Donovan Jack
</td>
		</tr>
	</tbody>
</table>
