<table>
	<thead>
		<tr>
			<th>Session</th>
			<th>Dates</th>
			<th>Boys &amp; Girls</th>
			<th>Day</th>
			<th>Time</th>
			<th>Cost</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Spring 1</td>
			<td>March 12 - April 9</td>
			<td>Grades K -2 </td>
			<td>Monday 
( NEW DAY )</td>
			<td>4:15 pm - 5:15 pm</td>
			<td>$135</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-rookie-roundballers-mondays-(k-2)-spring1">Register Here </a></td>
		</tr>
	</tbody>
</table>
