<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>William Ferguson</td>
			<td>6'0"</td>
			<td>Herndon (Va.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Joel Hernandez</td>
			<td>6'3"</td>
			<td>Teaneck (N.J.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Shacore Scott</td>
			<td>6'5"</td>
			<td></td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Nigel Grant</td>
			<td>6'6"</td>
			<td>Imhotep Charter (Pa.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Malachi Alexander</td>
			<td>6'7"</td>
			<td>Eleanor Roosevelt (Md.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Kasim Chandler</td>
			<td>5'10"</td>
			<td>Newark Eastside (N.J.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Adam Weir</td>
			<td>6'4"</td>
			<td>Canisius HS (N.Y.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Christopher Polanco</td>
			<td>6'7"</td>
			<td>LaSalle Academy (N.Y.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Richard Grandbury</td>
			<td>6'7"</td>
			<td>Chester (Pa.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Zachary Tillman</td>
			<td>6'9"</td>
			<td>The Shipley School (Pa.)</td>
			<td>Class of 2013</td>
		</tr>
	</tbody>
</table>
