<table>
	<thead>
		<tr>
			<th>Senior Staff</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="/hoopgroup/elite/instruction/senior-staff/tobin-anderson.php">Tobin Anderson</a></td>
			<td>St. Thomas Aquinas</td>
		</tr>
		<tr>
			<td>Tim McDonald</td>
			<td>Cabrini</td>
		</tr>
		<tr>
			<td>Kevin Boyle</td>
			<td>Montverde Academy</td>
		</tr>
		<tr>
			<td>Don Friday</td>
			<td>Penn State Harrisburg</td>
		</tr>
		<tr>
			<td><a href="/hoopgroup/elite/instruction/senior-staff/glenn-farello.php">Glenn Farello</a></td>
			<td>Paul VI</td>
		</tr>
		<tr>
			<td>Jeff Juron</td>
			<td>University of Rochester</td>
		</tr>
		<tr>
			<td>Chris Harney</td>
			<td>St. Mary's College</td>
		</tr>
		<tr>
			<td>Mike Hart</td>
			<td>St. Andrew's School (RI)</td>
		</tr>
		<tr>
			<td>Dave Hooker</td>
			<td>North Plainfield</td>
		</tr>
		<tr>
			<td>Ed Huckaby</td>
			<td>Fishbourne Military Academy</td>
		</tr>
		<tr>
			<td><a href="/hoopgroup/elite/instruction/senior-staff/ron-johnson.php">Ron Johnson</a></td>
			<td>The Burlington School (NC)</td>
		</tr>
		<tr>
			<td>Marty Keithline</td>
			<td>Bishop McNamara</td>
		</tr>
		<tr>
			<td>Duane Lewis</td>
			<td>North Mecklenberg (NC)</td>
		</tr>
		<tr>
			<td><a href="/hoopgroup/elite/instruction/senior-staff/joe-loughran.php">Joe Loughran</a></td>
			<td>Rutgers Newark</td>
		</tr>
		<tr>
			<td>Bob Mackey</td>
			<td>Christ The King</td>
		</tr>
		<tr>
			<td>Nick Marinello</td>
			<td>Hudson Catholic</td>
		</tr>
		<tr>
			<td>Geaorge McNally</td>
			<td>Egg Harbor Township (NJ)</td>
		</tr>
		<tr>
			<td>Mike Mucci</td>
			<td>Haverford College</td>
		</tr>
		<tr>
			<td>Andre Noble</td>
			<td>Imhotep Charter</td>
		</tr>
		<tr>
			<td>Mike Strickland</td>
			<td>Roanoke College</td>
		</tr>
		<tr>
			<td>Matt Quinn</td>
			<td>St. Thomas Moore</td>
		</tr>
		<tr>
			<td><a href="/hoopgroup/elite/instruction/senior-staff/amrit-rayfield.php">Amrit Rayfield</a></td>
			<td>St. Maria Goretti</td>
		</tr>
		<tr>
			<td>Rico Reed</td>
			<td>Flint Hill</td>
		</tr>
		<tr>
			<td>Chris Rogers</td>
			<td>Marymount University (VA)</td>
		</tr>
		<tr>
			<td>Sarge Siers</td>
			<td>Elev8 Academy (FL)</td>
		</tr>
		<tr>
			<td><a href="/hoopgroup/elite/instruction/senior-staff/kirk-smallwood.php">Kirk Smallwood</a></td>
			<td>Harrisburg</td>
		</tr>
		<tr>
			<td><a href="/hoopgroup/elite/instruction/senior-staff/lenny-stanziano.php">Lenny Stanziano</a></td>
			<td>Archbishop Wood (PA)</td>
		</tr>
		<tr>
			<td><a href="/hoopgroup/elite/instruction/senior-staff/dave-spiller.php">Dave Spiller</a></td>
			<td>Berne Union (OH)</td>
		</tr>
		<tr>
			<td>Jonathan Stone</td>
			<td>Hun School (NJ)</td>
		</tr>
		<tr>
			<td><a href="/hoopgroup/elite/instruction/senior-staff/adam-turner.php">Adam Turner</a></td>
			<td>Bard College (NY)</td>
		</tr>
		<tr>
			<td><a href="/hoopgroup/elite/instruction/senior-staff/bob-walsh.php">Bob Walsh</a></td>
			<td>Rhode Island College</td>
		</tr>
		<tr>
			<td>Justin Namolik</td>
			<td>Shepherd University (WV)</td>
		</tr>
		<tr>
			<td>Matt Kelly</td>
			<td>RPI (NY)</td>
		</tr>
		<tr>
			<td>Mike Hauser</td>
			<td>Clarkson (NY)</td>
		</tr>
		<tr>
			<td>Mike McSloy</td>
			<td>Conn College</td>
		</tr>
		<tr>
			<td>Matt Healing</td>
			<td>Pace University</td>
		</tr>
		<tr>
			<td>Josh Merkel</td>
			<td>Salisbury University (MD)</td>
		</tr>
		<tr>
			<td>Danny Nee</td>
			<td>US Merchant Marine</td>
		</tr>
		<tr>
			<td>Joe Mihalich</td>
			<td>Scranton</td>
		</tr>
		<tr>
			<td>Nick Chaykowski</td>
			<td>Union County (KY)</td>
		</tr>
		<tr>
			<td>Jordan Fair</td>
			<td>Oldsmar Christian (FL)</td>
		</tr>
		<tr>
			<td>Will Cabrera</td>
			<td>Mansfield (PA)</td>
		</tr>
		<tr>
			<td>Pat McDonald</td>
			<td>Muhlenburg (PA)</td>
		</tr>
		<tr>
			<td>Peter Lipka</td>
			<td>LIU Post</td>
		</tr>
		<tr>
			<td>Pete Hamilton</td>
			<td>Moravian</td>
		</tr>
		<tr>
			<td>David Briski</td>
			<td>California Tech</td>
		</tr>
		<tr>
			<td>John Paterson</td>
			<td>Wash U (MO)</td>
		</tr>
		<tr>
			<td>Fitzgerald Christophe</td>
			<td>Franklin and Marshall</td>
		</tr>
		<tr>
			<td>Keith Zalinski</td>
			<td>Tufts</td>
		</tr>
	</tbody>
</table>
