<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Dalique Mingo</td>
			<td>6'1"</td>
			<td>Farmingdale (N.Y.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Rakwan Kelly</td>
			<td>6'4"</td>
			<td>Hudson Catholic (N.J.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Keith Kirkwood</td>
			<td>6'4"</td>
			<td>Neptune (N.J.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Roger Moute</td>
			<td>6'6"</td>
			<td>Montverde Academy (Fla.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Bruno Beca</td>
			<td>6'10"</td>
			<td>Westchester Country Day (N.C.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Deandre Noble-Haywood</td>
			<td>6'1"</td>
			<td>Peddie (N.J.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Lionel Greene</td>
			<td>6'3"</td>
			<td>Evelyn Mack Academy (N.C.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Joshua Wilchombe</td>
			<td>6'7"</td>
			<td>South Kent (Conn.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Mike Owona</td>
			<td>6'8"</td>
			<td>John Carroll HS (Md.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Lavon Long</td>
			<td>6'5"</td>
			<td>Oakland Hills (Md.)</td>
			<td></td>
		</tr>
	</tbody>
</table>
