<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys &amp; Girls</th>
			<th>Days</th>
			<th>Time</th>
			<th>Cost</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>June 27 - July 1</td>
			<td>Completed Grades 2-11</td>
			<td>Mon-Fri</td>
			<td>1:00PM-4:00 PM </td>
			<td>$195</td>
			<td><a href="https://store.hoopgroup.com/events/2016-hghq-summer-shooting-1">Register Here</a></td>
		</tr>
		<tr>
			<td>August 22 - August 26</td>
			<td>Completed Grades 2-11</td>
			<td>Mon-Fri</td>
			<td>1:00PM-4:00PM</td>
			<td>$195</td>
			<td><a href="https://store.hoopgroup.com/events/2016-hghq-summer-shooting-2">Register Here</a></td>
		</tr>
	</tbody>
</table>
