<table>
	<thead>
		<tr>
			<th>Day</th>
			<th>Date</th>
			<th>Time</th>
			<th>Boys &amp; Girls</th>
			<th>Price</th>
			<th>Registration</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Wednesday</td>
			<td>March 16 - April 13</td>
			<td>6 - 7 PM</td>
			<td>Grades 2-12</td>
			<td>$185 ($195 if not pre-registered)</td>
			<td><a href="https://store.hoopgroup.com/events/2016-hghq-shooting-maintenance-spring-1">Register Here</a></td>
		</tr>
	</tbody>
</table>
