<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Semester</th>
			<th>Boys </th>
			<th>Day</th>
			<th>Time</th>
			<th>Price</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/headquarters/shoreshots-evaluation-clinic/">ShoreShots Evaluation Clinic</a></td>
			<td>Aug 9th</td>
			<td>Grades 4-11</td>
			<td>Saturday</td>
			<td>9am - 2pm</td>
			<td>$65</td>
			<td>SOLD OUT</td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/headquarters/shoreshots-evaluation-clinic/">ShoreShots Evaluation Clinic</a></td>
			<td>Aug 10th</td>
			<td>Grades 4-11</td>
			<td>Sunday</td>
			<td>9am - 2pm</td>
			<td>$65</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_170&amp;products_id=1766">Register Here</a></td>
		</tr>
	</tbody>
</table>
