<table>
	<thead>
		<tr>
			<th>Session</th>
			<th>Dates</th>
			<th>Boys &amp; Girls</th>
			<th>Class Days</th>
			<th>Time</th>
			<th>Cost</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td>March 26-April 23</td>
			<td>Grades 2-12</td>
			<td>Wednesday</td>
			<td>5 - 6 PM</td>
			<td>$165</td>
			<td>SOLD OUT !! CALL FOR MORE INFO</td>
		</tr>
		<tr>
			<td></td>
			<td>Dec 3 - Dec 17</td>
			<td>Grades 2 - 8</td>
			<td>Wednesday</td>
			<td>5 - 6 PM</td>
			<td>$110</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_156&amp;products_id=1659">Register Here</a></td>
		</tr>
		<tr>
			<td>Winter 1</td>
			<td>December 2 - December 23</td>
			<td>Grades 2-12</td>
			<td>Wednesday</td>
			<td>6 - 7 PM</td>
			<td>$185 ($195 if not pre registered)</td>
			<td><a href="https://store.hoopgroup.com/events/2015-dead-eye-shooting---winter-1-2015">Register Here</a></td>
		</tr>
		<tr>
			<td>Winter 2</td>
			<td>January 7 - February 4</td>
			<td>Grades 7- 12</td>
			<td>Wednesday</td>
			<td>6 - 7 PM</td>
			<td>$175</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_156&amp;products_id=1768">Register Here</a></td>
		</tr>
		<tr>
			<td>Winter 3</td>
			<td>February 11 - March 11</td>
			<td>Grades 2-6</td>
			<td>Wednesday</td>
			<td>5 - 6 PM</td>
			<td>$175</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_156&amp;products_id=1769">Register Here</a></td>
		</tr>
		<tr>
			<td>Winter 3</td>
			<td>February 11 - March 11</td>
			<td>Grades 7-12</td>
			<td>Wednesday</td>
			<td>6 - 7 PM</td>
			<td>$175</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_156&amp;products_id=1770">Register Here</a></td>
		</tr>
		<tr>
			<td>Spring 1</td>
			<td>March 18 - April 15</td>
			<td>Grades 2-6</td>
			<td>Wednesday</td>
			<td>5 - 6 PM</td>
			<td>$175</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_156&amp;products_id=1817">Register Here</a></td>
		</tr>
		<tr>
			<td>Fall</td>
			<td>September 14 - October 14</td>
			<td>Grades 2-12</td>
			<td>Wednesday</td>
			<td>6 - 7 PM</td>
			<td>$185</td>
			<td><a href="https://store.hoopgroup.com/events/2015-dead-eye-shooting---fall-2015">Click Here</a></td>
		</tr>
		<tr>
			<td>Spring 1</td>
			<td>March 14 - April 11</td>
			<td>Grades 2-12</td>
			<td>Wednesday</td>
			<td>5:30 - 6:30PM</td>
			<td>$190</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-shot-factory-(3-11)-wednesdays-spring1">Register Here </a></td>
		</tr>
	</tbody>
</table>
