<table>
	<thead>
		<tr>
			<th>2013 Hoop Group Skills Camp-Boys</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Junior Elite Weekend Camps</td>
			<td>June 22nd &amp; 23rd, 2013</td>
			<td>$215</td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td>August 16th &amp; 17th, 2013</td>
			<td>$215</td>
		</tr>
		<tr>
			<td>#colspan#</td>
			<td>#colspan#
</td>
			<td>#colspan#</td>
		</tr>
		<tr>
			<td>Father/Son Camps</td>
			<td>June 14th-16th, 2013</td>
			<td>$455</td>
		</tr>
		<tr>
			<td></td>
			<td>July 19th-21st, 2013</td>
			<td>$455</td>
		</tr>
		<tr>
			<td></td>
			<td>August 9th-11th, 2013</td>
			<td>$455</td>
		</tr>
		<tr>
			<td>#rowspan#</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Bob Hurley Skills Camps</td>
			<td>June 29th-July 3rd, 2013</td>
			<td>$520</td>
		</tr>
		<tr>
			<td></td>
			<td>August 18-22nd, 2013</td>
			<td>$520</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Skills Camps</td>
			<td>July 7th-11th, 2013</td>
			<td>$470</td>
		</tr>
		<tr>
			<td></td>
			<td>July 14-18th, 2013</td>
			<td>$470</td>
		</tr>
		<tr>
			<td></td>
			<td>July 21st-25th, 2013</td>
			<td>$470</td>
		</tr>
		<tr>
			<td></td>
			<td>August 11th-15th, 2013</td>
			<td>$470</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Shooting Camps</td>
			<td>June 23rd-27th, 2013</td>
			<td>$490</td>
		</tr>
		<tr>
			<td></td>
			<td>August 23rd-27th, 2013</td>
			<td>$490</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Kevin Boyle Point Guard Weekend I</td>
			<td>June 8th &amp; 9th, 2013</td>
			<td>$215</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Kevin Boyle Point Guard Weekend II</td>
			<td>July 12th-14th, 2013</td>
			<td>$280</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Super Session</td>
			<td>July 14-25th, 2013</td>
			<td>$1,030 </td>
		</tr>
	</tbody>
</table>
