<table>
	<thead>
		<tr>
			<th>2018 Hoop Group Boys Skills Camp</th>
			<th>#colspan#</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/skills/father-son-weekend/">Father/Son Weekend I </a></td>
			<td>June 15th-17th, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-father-son-i">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/skills-shooting-camp/">Shooting Camp</a></td>
			<td>June 17th-21st, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-boys-shooting-camp">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/kevin-boyle-point-guard-camp/">Kevin Boyle Point Guard School</a</td>
			<td>June 22nd-23rd, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-kevin-boyle-pg-weekend-i">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/bob-hurley-basketball-camp/">Bob Hurley Camp I</a></td>
			<td>June 24th-28th, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-bob-hurley-i">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/jr-elite-weekend/">Jr. Elite Weekend I</a>
</td>
			<td>July 6th-7th, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-jr.-elite-weekend-i">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/skills-camps/">Skills Camp II</a></td>
			<td>July 8th-12th, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-skills-camp-ii">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/kevin-boyle-point-guard-camp/">Kevin Boyle Point Guard School II</a</td>
			<td>July 13th-14th, 2018
</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-kevin-boyle-pg-weekend-ii">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/ball-handling-and-shooting-camp/">Ball Handling &amp; Shooting Camp I</a></td>
			<td>July 15th-19th, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-ball-handling---shooting-i">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/boys-supersession-camp/">Super Session I</a></td>
			<td>July 15th-26th, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-super-session-i">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/father-son-weekend/">Father/Son Weekend II </a></td>
			<td>July 20th-22nd, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-father-son-ii">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/skills-camps/">Skills Camp III</a></td>
			<td>July 22nd-26th, 2018
</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-skills-camp-iii">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/bob-hurley-basketball-camp/">Bob Hurley Skills Camp II </a></td>
			<td>August 12th-16th, 2018
</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-bob-hurley-ii">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/boys-supersession-camp/">Super Session II</a>
</td>
			<td>August 12th-23rd, 2018
</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-super-session-ii">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/father-son-weekend/">Father/Son Weekend III </a></td>
			<td>August 17th-19th, 2018
</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-father-son-iii">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/ball-handling-and-shooting-camp/">Ball Handling &amp; Shooting Camp II</a></td>
			<td>August 19th-23rd, 2018
</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-ball-handling---shooting-ii">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/jr-elite-weekend/">Jr. Elite Weekend II</a></td>
			<td>August 24th-25th, 2018 
</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-jr.-elite-weekend-ii">Register Here</a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/skills/skills-camps/">Skills Camp IV</a></td>
			<td>August 26th-29th, 2018</td>
			<td><a href="https://store.hoopgroup.com/events/2018-skills:-2018-skills-iv">Register Here</a></td>
		</tr>
	</tbody>
</table>
