<table>
	<thead>
		<tr>
			<th>Hotel Name</th>
			<th>Location</th>
			<th>Rate</th>
			<th>Driving Time to Boo Williams</th>
			<th>Contact Info</th>
			<th>Reserve Now</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://www.hiexpress.com/hotels/us/en/hampton/phfhv/hoteldetail">Holiday Inn Express Hampton Coliseum</a></td>
			<td><a href="http://www.hiexpress.com/hotels/us/en/hampton/phfhv/hoteldetail/directions">1813 West Mercury Boulevard, Hampton VA 23666</a></td>
			<td>$116</td>
			<td>3 minutes</td>
			<td>Robin Ryan
757-838-8484
rryan@hixhampton.com</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hamptoninn3.hilton.com/en/hotels/virginia/hampton-inn-hampton-newport-news-ORFHAHX/index.html">Hampton Inn</a></td>
			<td><a href="http://hamptoninn3.hilton.com/en/hotels/virginia/hampton-inn-hampton-newport-news-ORFHAHX/maps-directions/index.html">3101 Coliseum Drive, Hampton VA 23666</a></td>
			<td>$109</td>
			<td>1 minute</td>
			<td>757-838-1400</td>
			<td></td>
		</tr>
		<tr>
			<td>The Mulberry Inn and Plaza</td>
			<td>16890 Warwick Blvd, Newport News, VA 23603</td>
			<td>$99</td>
			<td>2 minutes</td>
			<td>Sarah Hagen
757-887-3000
SarahHagen@lapgroup.com</td>
			<td></td>
		</tr>
		<tr>
			<td>Hilton Garden Inn Hampton Coliseum Central (Sold Out)</td>
			<td>1999 Power Plant Parkway, Hampton, VA 23666</td>
			<td>$119</td>
			<td>3 minutes</td>
			<td>Kelly White
757-310-6323
kwhite@ltdhospitality.com</td>
			<td></td>
		</tr>
		<tr>
			<td>Springhill Suites Hampton Coliseum Central</td>
			<td>1997 Power Plant Parkway, Hampton, VA 23666</td>
			<td>$129</td>
			<td>3 minutes</td>
			<td>Kelly White
757-310-6333
kwhite@ltdhospitality.com</td>
			<td></td>
		</tr>
		<tr>
			<td>Holiday Inn Express Hampton Coliseum </td>
			<td>1813 West Mercury Boulevard</td>
			<td>$119</td>
			<td>3 minutes</td>
			<td>Lori Leib
757-838-8484
lleib@hixhampton.com</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.pointplazasuites.com/">Point Plaza Suites</a></td>
			<td><a href="http://www.pointplazasuites.com/map-directions/index.cfm">950 Clyde Morris Boulevard, Newport News VA 23601</a></td>
			<td>$99</td>
			<td>7 minutes</td>
			<td>Dee Garland
757-599-4460
dee@beckcompanyhotels.com</td>
			<td></td>
		</tr>
		<tr>
			<td>Crowne Plaza Hampton Marina</td>
			<td>700 Settlers Landing Road, Hampton, VA 23669</td>
			<td>$109</td>
			<td>8 minutes</td>
			<td>Adam Tippett
757-727-9700
adam.tippett@cphamptonmarina.com</td>
			<td></td>
		</tr>
		<tr>
			<td>Hampton Inn Coliseum</td>
			<td>3101 Coliseum Drive, Hampton, VA 23666</td>
			<td>$129</td>
			<td></td>
			<td>Vibha Madan
757-838-1400
vibha.madan@shaminhotels.com</td>
			<td></td>
		</tr>
		<tr>
			<td>Red Roof Inn Coliseum</td>
			<td>1924 Coliseum Drive, Hampton, VA 23666</td>
			<td>$74.99</td>
			<td>10 minutes</td>
			<td>Artie Taylor
717-846-9500
adtaylor@redroof.com</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.holidayinn.com/hotels/us/en/newport-news/phfnn/hoteldetail">Holiday Inn Suites</a></td>
			<td><a href="http://www.holidayinn.com/hotels/us/en/newport-news/phfnn/hoteldetail/directions">943 J. Clyde Morris Boulevard, Newport News VA 23601</a></td>
			<td>$109</td>
			<td>8 minutes</td>
			<td>Erin Goodman
757-599-4460
erin.goodman@gfhotels.com</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.marriott.com/hotels/travel/phfoy-newport-news-marriott-at-city-center/">Marriott Newport News at City Center</a></td>
			<td><a href="http://www.marriott.com/hotels/maps/travel/phfoy-newport-news-marriott-at-city-center/">740 Town Center Drive, Newport News VA 23606</a></td>
			<td>$109</td>
			<td>11 minutes</td>
			<td>Brandon Johnson
866-329-1758
brandon.johnson@crestlinehotels.com</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://hamptoninn3.hilton.com/en/hotels/virginia/hampton-inn-newport-news-yorktown-PHFHHHX/index.html">Hampton Inn-Victory Blvd</a>


</td>
			<td><a href="http://hamptoninn3.hilton.com/en/hotels/virginia/hampton-inn-newport-news-yorktown-PHFHHHX/maps-directions/index.html">151 Otis St., Newport News, VA 23602</a>


</td>
			<td>$101</td>
			<td>12 minutes</td>
			<td>Ted Hemmert
757-989-8977</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.comfortinn.com/hotel-newport_news-virginia-VA445">Comfort Suites</a>



</td>
			<td><a href="http://www.comfortinn.com/hotel-newport_news-virginia-VA445/Hotel-Map?maphotel=VA445&amp;country=US&amp;&amp;sarea=&amp;sname=&amp;slon=-76.498764&amp;slat=37.114525&amp;schain=&amp;scountry=&amp;sstate=&amp;type=&amp;sradius=&amp;sstate_country=&amp;scity=">12330 Jefferson Ave, Newport News VA 23602</a></td>
			<td>$79</td>
			<td>12 minutes</td>
			<td>757-249-0200</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.marriott.com/hotels/travel/phfcn-courtyard-newport-news-airport/">Courtyard Marriott Newport News Airport</a></td>
			<td><a href="http://www.marriott.com/hotels/maps/travel/phfcn-courtyard-newport-news-airport/">530 St. Johns Road, Newport News, VA 23602</a></td>
			<td>$100</td>
			<td>13 minutes</td>
			<td>Jaclyn Lester
757-374-9535
jlester@ltdhospitality.com</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.marriott.com/hotels/travel/phfnn-residence-inn-newport-news-airport/">Residence Inn Newport News Airport</a></td>
			<td><a href="http://www.marriott.com/hotels/maps/travel/phfnn-residence-inn-newport-news-airport/">531 St. Johns Road, Newport News VA 23602</a></td>
			<td>$109</td>
			<td>13 minutes</td>
			<td>Jaclyn Lester
757-374-9535
jlester@ltdhospitality.com</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.newportnewscs.com/">Comfort Suites Newport News Airport</a></td>
			<td><a href="http://www.newportnewscs.com/html/hotels-near-historic-williamsburg-viginia.asp">12570 Jefferson Ave., Newport News VA 23602</a></td>
			<td>$119</td>
			<td>14 minutes</td>
			<td>757-947-1333
gm.va384@choicehotels.com</td>
			<td></td>
		</tr>
		<tr>
			<td>Residence Inn Marriott Newport News</td>
			<td>531 St Johns Road, Newport News, VA 23602</td>
			<td>$99</td>
			<td>15 minutes</td>
			<td>Jaclyn Lester
(757) 842-6214 ex. 7707
jaclyn.lester@shaminhotels.com</td>
			<td></td>
		</tr>
		<tr>
			<td>Courtyard by Marriott Newport News Airport</td>
			<td>530 St Johns Road, Newport News, VA 23602</td>
			<td>$129</td>
			<td>15 minutes</td>
			<td>Kelli Lantz
757-842-6212</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.mulberryinnva.com/">The Mulberry Inn</a></td>
			<td><a href="http://www.mulberryinnva.com/location.shtml">16890 Warwick Boulevard, Newport News VA 23603</a></td>
			<td>$89</td>
			<td>18 minutes</td>
			<td>Dee Garland
757-887-3000
dee@beckcompanyhotels.com</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.hiexpress.com/hotels/us/en/newport-news/phfwb/hoteldetail">Holiday Inn Express Newport News</a></td>
			<td><a href="http://www.hiexpress.com/hotels/us/en/newport-news/phfwb/hoteldetail/directions">16890 Warwick Boulevard, Newport News VA 23603</a></td>
			<td>$89</td>
			<td>18 minutes</td>
			<td>Dee Garland
757-887-3300
dee@beckcompanyhotels.com</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.hiexpress.com/hotels/us/en/newport-news/phfwb/hoteldetail">Holiday Inn Express Newport News</a></td>
			<td><a href="http://www.hiexpress.com/hotels/us/en/newport-news/phfwb/hoteldetail/directions">16890 Warwick Boulevard, Newport News VA 23603</a></td>
			<td>$99</td>
			<td>20 minutes</td>
			<td>Sheila Evans
757-857-3300
EvansS@gfhotels.com</td>
			<td></td>
		</tr>
		<tr>
			<td><a href="http://www.marriott.com/hotels/travel/orfod-springhill-suites-norfolk-old-dominion-university/">SpringHill Suites Norfolk Old Dominion University</a></td>
			<td><a href="http://www.marriott.com/hotels/maps/travel/orfod-springhill-suites-norfolk-old-dominion-university/">4500 Hampton Boulevard, Norfolk VA 23508</a></td>
			<td>$109</td>
			<td>27 minutes</td>
			<td>757-423-4100</td>
			<td></td>
		</tr>
	</tbody>
</table>
