<table>
	<thead>
		<tr>
			<th>Semester </th>
			<th>Boys &amp; Girls</th>
			<th>Class Days</th>
			<th>Times</th>
			<th>Sign Up </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jan 13 - Feb 10</td>
			<td>Grades 6-12</td>
			<td>Fridays</td>
			<td>5:00PM-6:00PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_84&amp;products_id=1214">Sign Up!</a></td>
		</tr>
	</tbody>
</table>
