<table>
	<thead>
		<tr>
			<th>Property</th>
			<th>Address</th>
			<th>Hotel Brand</th>
			<th>Sleeping Room Rates</th>
			<th>Miles to Nook</th>
			<th>To reserve, reference Hoop Group /Junior Jam  Fest unless otherwise noted</th>
			<th>Room Types</th>
			<th>Individual Cancellation Policy</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>The Warehouse at the Nook

*Hotel is Full*</td>
			<td>2913 Spooky Nook Road, Manheim, PA</td>
			<td>Independent</td>
			<td>$179</td>
			<td>onsite /walking</td>
			<td>CyndiLou Foster
(855) 618-6181 or www.warehousehotel.com Group Code 654</td>
			<td>Double (queen)</td>
			<td>72 hour cancellation policy</td>
			<td>2 night stay minimum required.           $10 arcade GC is available per child in guest room</td>
		</tr>
		<tr>
			<td>Four Points by Sheraton York</td>
			<td>1650 Toronita Street
York, PA</td>
			<td>Starwood</td>
			<td>$135</td>
			<td>28</td>
			<td>William Muntz
(717) 846-4940</td>
			<td>Double</td>
			<td>confirm with hotel</td>
			<td>2 night Minimum stay REQUIRED</td>
		</tr>
		<tr>
			<td>Hampton Inn Lancaster


*Hotel is Full*</td>
			<td>545 Greenfield Rd,               Lancaster PA</td>
			<td>Hilton</td>
			<td>$144</td>
			<td>10</td>
			<td>Trisha Herr
(717) 299-1200</td>
			<td>Double Queens</td>
			<td>72 hour cancellation policy</td>
			<td>2 night Minimum stay REQUIRED</td>
		</tr>
		<tr>
			<td>Crowne Plaza Reading</td>
			<td>1741 Papermill Road
Reading, Pennsylvania</td>
			<td>InterContinental</td>
			<td>$134</td>
			<td>30</td>
			<td>Sheila Contento
(877) 814-2538</td>
			<td>Double</td>
			<td>confirm with hotel</td>
			<td></td>
		</tr>
		<tr>
			<td>Holiday Inn Express Hotel York</td>
			<td>140 Leader Heights Road
York, PA</td>
			<td>InterContinental</td>
			<td>$139</td>
			<td>26</td>
			<td>Barbara Kozak-Sellers
(717)741-1000</td>
			<td>Double</td>
			<td>confirm with hotel</td>
			<td></td>
		</tr>
		<tr>
			<td>Comfort Inn Lancaster County North</td>
			<td>1 Denver Road
Denver, PA 17517
</td>
			<td></td>
			<td>$114.99</td>
			<td>24</td>
			<td>Rachel Haymaker
(717) 336-7541</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td> Lancaster Host Resort &amp; Conference Center
 </td>
			<td>2300 Lincoln Highway east
Lancaster, PA 17602</td>
			<td></td>
			<td>$99</td>
			<td>13</td>
			<td>Kathy Danz
(717) 299-5500</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
