<table>
	<thead>
		<tr>
			<th>Session</th>
			<th>Boys &amp; Girls</th>
			<th>Class Days</th>
			<th>Times</th>
			<th>Sign Up</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>April 18-21</td>
			<td>Grades 3-8</td>
			<td>Mon-Thu</td>
			<td>9:00AM-2:00PM </td>
			<td>Call for Details</td>
		</tr>
	</tbody>
</table>
