<table>
	<thead>
		<tr>
			<th>Hotel</th>
			<th>Location</th>
			<th>Rate</th>
			<th>Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Four Points by Sheraton York</td>
			<td>1650 Toronita St., York, PA  17554

28 minutes/23 miles</td>
			<td>$125</td>
			<td>William Muntz
717-846-4940, ext. 103             wmuntz@fourpointsyork.com</td>
		</tr>
		<tr>
			<td>Budget Host Hotel</td>
			<td>2100 Lincoln Highway East, Lancaster, PA 17602

12 minutes/12 miles</td>
			<td>$109</td>
			<td>Ryan Bannon
717-397-7781
sales@lancasterbudgethost.com </td>
		</tr>
		<tr>
			<td>Holiday Inn Conference Center of York</td>
			<td>2000 Loucks Road, York, PA 17408

34 minutes/26 miles</td>
			<td>$119</td>
			<td>Jenna Koslovsky
717-846-9500
Jenna.Koslosky@hiyorkpa.com </td>
		</tr>
		<tr>
			<td>Country Inn of Lancaster</td>
			<td>2133 Lincoln Highway East (Route 30), Lancaster, PA 17602

12 minutes/12 miles</td>
			<td>$131.99</td>
			<td>Abby Lerch
877-393-3413
alerch@countryinnoflancaster.com</td>
		</tr>
		<tr>
			<td>Holiday Inn Express &amp; Suites</td>
			<td>140 Leader Heights Road, York PA 17403

34 minutes/26 miles</td>
			<td>$109</td>
			<td>Barbara Kozak-Sellers
717-741-1000
hiexpress.sales.york@gmail.com</td>
		</tr>
		<tr>
			<td>Crowne Plaza Reading</td>
			<td>1741 Paper Mill Rd, Wyomissing, PA 19610

35 minutes/35 miles</td>
			<td>$139</td>
			<td>Sheila Contento
610- 236-4302 or 877-814-2538
SContento@readingcp.com</td>
		</tr>
		<tr>
			<td>Comfort Inn Lancaster North</td>
			<td>1 Denver Road, Denver, PA 17517

23 minutes/24 miles</td>
			<td>$114.99</td>
			<td>Rachelle Haymaker
717-336-7541
comfortinndenverpa@gmail.com</td>
		</tr>
		<tr>
			<td>Wyngate by Wyndham Lancaster</td>
			<td>2110 Lincoln HWY E, Lancaster, PA 17602

13 minutes/12 miles</td>
			<td>$125</td>
			<td>Eric Corneilson
717-299-6604
wingatelancaster@aol.com
 </td>
		</tr>
		<tr>
			<td>Heritage Hotel Lancaster</td>
			<td>500 Centerville Road, Lancaster, PA 17601

8 minutes/5 miles</td>
			<td>$119</td>
			<td>Sandy Haynes
717-755-0123
sandy.haynes@hhgr.com</td>
		</tr>
		<tr>
			<td>Hampton Inn Manheim</td>
			<td>2764 Lebanon Road, Manheim, PA 17545

16 minutes/11 miles</td>
			<td>$119</td>
			<td>Jessica Johns
717-665-6600
jessica.johns@hilton.com</td>
		</tr>
	</tbody>
</table>
