<table>
	<thead>
		<tr>
			<th>Picture</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Agyemang-Frank-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48025" /></td>
			<td>Frank Agyemang
Grade: 11	
Woodbridge, VA
Height: 6'3"
Weight: 160
Wingspan: 78
Reach: 97
Vertical: 24</td>
			<td>Shooting and Rebounding
Frank is an offensive threat from inside 22 feet. His range makes defenders guard him closely, but his ability to get to the paint and create shots cannot be understated. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ayoub-Matthew-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48026" /></td>
			<td>Matthew Ayoub
Grade: 10	
Fairfax, VA
Height: 6'0"
Weight: 161
Wingspan: 73
Reach: 71
Vertical: 22</td>
			<td>Natural shooter
Matt offers a strong shot and is crafty off the bounce. He can be counted on to hit the open shot and can play with or without the ball. Add intelligence to the mix and he is one to watch! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Banks-Antoine1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48027" /></td>
			<td>Antoine Banks
Grade: 10
Upper Malrboro, MD
Height: 6'5"
Weight: 163
Wingspan: 76
Reach: 81
Vertical: 26</td>
			<td>Athleticism and Shooting Form
Antoine can play the post and the wing. He has a knack for getting to the foul line and is a competent foul shooter. He's explosive in transition and dynamic on both ends of the court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Barnes-Anthony-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48028" /></td>
			<td>Anthony Barnes
Grade: 10	
Bowie, MD
Height: 6'6"
Weight: 198
Wingspan: 81
Reach: 86
Vertical: 29</td>
			<td>Athleticism and Finishing
Anthony is a great prospect. He is nitty when driving to the hoop and creates easier shots for himself because of his polished footwork and dribble moves. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Boggs-Isaiah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48029" /></td>
			<td>Isaiah Boggs
Grade: 11
Upper Marlboro, MD
Height: 6'2"
Weight: 205
Wingspan: 75
Reach: 94
Vertical: 28</td>
			<td>Scoring Ability and Toughness
Isaiah is well built and uses his size to fend off opponents on both ends of the court. He attacks the offensive boards well. He can finish well, especially with his left hand is surprisingly fast. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bordeaux-John-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48030" /></td>
			<td>John Bordeaux
Grade: 11
Ashburn, VA
Height: 6'0"
Weight: 155
Wingspan: 74
Reach: 78
Vertical: 20</td>
			<td>Runs the floor
John really runs the floor, gives it his all throughout the game and moves well without the ball. Great addition to any team! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bowman-Brett-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48031" /></td>
			<td>Brett Bowman
Grade: 11
Edgewater, MD
Height: 6'5"
Weight: 179
Wingspan: 75
Reach: 80
Vertical: 24</td>
			<td>Communicator
Brett makes things happen on D with great communication skills. He has a high-energy motor and is a true team player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bryant-Michael-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48032" /></td>
			<td>Michael Bryant
Grade: 10
Hampton, VA
Weight: 180</td>
			<td>Size and Inside Game
Michael does an excellent job on the boards on both ends. He had stretches where he would get 4-5 consecutive rebounds to go along with his six point scoring bursts. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bundy-Abdulai-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48033" /></td>
			<td>Abdulai Bundu
Grade: 11
Upper Marlboro, MD
Height: 6'6"
Weight: 205
Wingspan: 82
Reach: 102
Vertical: 33</td>
			<td>Great motor and build
Abdulai plays extremely hard on both ends. He is very active on the glass and finishes well around the rim! As his offensive game progresses out to the mid-range, he is becoming the best player he can be. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Caldwell-Christien-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48034" /></td>
			<td>Christien Caldwell
Grade: 10
Upper Marlboro, MD
Height: 5'6"
Weight: 138
Wingspan: 66
Reach: 84
Vertical: 14</td>
			<td>Strong handle
Christian can shoot, handle, pass, and apply smarts to all of it! Continued improvement on his offensive skill set will maximize his potential as a great player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Carter-Keyshawn-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48035" /></td>
			<td>Keyshawn Carter
Grade:12
Woodbridge, VA
Height: 6'2"
Weight: 170
Wingspan: 76
Reach: 71
Vertical: 20</td>
			<td>Team player

Keyshawn understands what it is to play as a team. He can continue to refine his skills and maximize his potential, as he offers a great shot! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Chapman-Jelani-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48036" /></td>
			<td>Jelani Chapman
Grade: 10
Upper Marlboro, MD
Height: 5'8"
Weight: 139
Wingspan: 71
Reach: 88
Vertical: 13</td>
			<td>Playmaker

Jelani is an asset to any team, as he has a knack for setting up his teammates to complete the play. He is unselfish and vocal on both ends of the floor. Count on this guy to get the job done! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Cooper-Xavier-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48037" /></td>
			<td>Xavier Cooper
Grade: 11
Arlington, VA
Height: 6'4"
Weight: 180
Wingspan: 77
Reach: 97
Vertical: 26</td>
			<td>Strong catch and finish
Count on Xavier to grab the pass and finish strong with it around the bucket. He is a wing forward that can knock down the shoot and conclude the play positively. He can really finish well around the rim and has a solid frame going for him too! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Copeland-Kyle-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48038" /></td>
			<td>Kyle Copeland
Grade: 10
Leesburg, VA
Height: 6'4"
Weight: 154
Wingspan: 75
Reach: 81
Vertical: 24</td>
			<td>Athleticism
Kyle offers extreme athleticism, great transition, and delivers on both offense and defense. He's able to defend all over and finish around the basket, making him a constant force to be reckoned with. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Davis-Lael-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48039" /></td>
			<td>Lael Davis
Grade: 11
Sterlin, VA
Height: 6'2"
Weight: 184
Wingspan: 80
Reach: 98
Vertical: 31</td>
			<td>Excellent Athlete
Lael is a fantastic athlete and applies this trait to score and grab boards. He offers a strong overall skill set that he will only improve with continued play! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Dixon-Darian-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48040" /></td>
			<td>Darian Dixon
Grade:10
Bowie, MD
Height: 6'6"
Weight: 210
Wingspan: 79
Reach: 86
Vertical: 32</td>
			<td>Great touch
Darian offers a very good touch and mavuevers the post area just fine! He finishes well, can get the pass to the cutter, and overall helps create scoring opportunities. A great advantage to any squad! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ellis-Malik-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48041" /></td>
			<td>Malik Ellis
Grade: 11
Midlothian, VA
Height: 5'11"
Weight: 164
Wingspan: 74
Reach: 93
Vertical: 27</td>
			<td>Quick hands
Malik moves fast with the ball. Quick and athletic, he helps make many a scoring opportunity happen! He will be a great asset to any team. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Espejo-Chris-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48042" /></td>
			<td>Chris Espejo
Grade: 11
Kensington, MD
Height: 6'3"
Weight: 210
Wingspan: 75
Reach: 94
Vertical: 20</td>
			<td>Good moves
Chris moves well with or without the ball and is very coachable. His various qualities are a great contribution to any squad! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Fields-Brandon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48043" /></td>
			<td>Brandon Fields
Grade: 10
Silver Springs, MD
Weight: 178
Wingspan: 75
Reach: 96
Vertical: 24</td>
			<td>Finds the rim
Brandon gets to the basket at will and is a strong-body PG with great court vision. He is in his element attacking the basket or creating for teammates. Unselfish and intelligent! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Fitzgerald-Corey-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48044" /></td>
			<td>Corey Fitzgerald
Grade: 10	
Silver Springs, MD
Height: 6'2"
Weight: 172
Wingspan: 80
Reach: 96
Vertical: 28</td>
			<td>Explosive
Corey offers excellent energy and attacks the rim. A coach's dream, he finishes all plays, puts guys where they need to be, and communicates throughout. He offers extra effort on both ends of the floor! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ford-RaQuan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48045" /></td>
			<td>RaQuan Ford
Grade: 10
Washington, DC
Height: 6'3"
Weight: 202
Wingspan: 77
Reach: 97
Vertical: 22</td>
			<td>Toughness and Rebounding
RaQuan goes for the rebound and battles for every possession. He's highly active around the bucket, making him a hard worker and tough to play against! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Fultz-Markelle-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48046" /></td>
			<td>Markelle Fultz
Grade: 10
Upper Marlboro, MD
Height: 6'4"
Weight: 166
Wingspan: 80
Reach: 99
Vertical: 28</td>
			<td>Athletic Team Player
Markelle's game is solid for a sophomore. His passing abilities and court vision are commendable as he always looked to get the ball to the open man. He sprinted the floor all afternoon and gave maximum effort. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Gallman-Jwaun-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48047" /></td>
			<td>J'waun Gallman
Grade: 11
Hyattsville, MD
Height: 5'11"
Weight: 153
Wingspan: 73
Reach: 89
Vertical: 22</td>
			<td>Speed and Jump Shooting
J'Waun has a great motor and jump shot. He made the most of his opportunities and has a high basketball IQ. He plays hard on both ends of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Galloway-Asante-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48048" /></td>
			<td>Asante Galloway
Grade: 11
Brentwood, MD
Height: 6'8"
Weight: 143
Wingspan: 79
Reach: 101
Vertical: 28</td>
			<td>Rebounding and Toughness
Asante runs the floor and finishes in transition. He uses his length to be a good on the ball defender and grab open rebounds. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Gittings-Nicholas-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48049" /></td>
			<td>Nicholas Gittings
Grade: 10
Rockville, MD
Height: 6'9"
Weight: 229
Wingspan: 80
Reach: 86
Vertical: 28</td>
			<td>Nice frame
Nick uses a big frame to his advantage to score on the defender. He's also aware of the court. His perception on the floor is a gift to any game! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Glover-Vincent-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48050" /></td>
			<td>Vinson Glover
Grade: 9
Hyattsville, MD
Height: 5'11"
Weight: 162
Wingspan: 74
Reach: 91
Vertical: 24</td>
			<td>Hard worker
Vinson combines hard work and great athleticism with inteilligence to be a true threat to his opponent. He also offers great shooting form for a lefty, making him an all-around advantage for any team and coach! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hamilton-Isaiah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48051" /></td>
			<td>Isaiah Hamilton
Grade: 12
Upper Marlboro, MD
Height: 6'4" 
Weight: 170
Wingspan: 76
Reach: 93
Vertical: 25</td>
			<td>Defense and boards
Isiah offers excellence in defense, rebounding and  overall athleticism. Continued work on his offensive skill set will make him an even greater coast-to-coast force and open up even more future opportunities for him! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hampton-Marcell-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48052" /></td>
			<td>Marcell Hampton
Grade: 9
Bladensburg, MD
Height: 5'4"
Weight: 127
Wingspan: 69
Reach: 71
Vertical: 10</td>
			<td>Passing and Defense
Marcell is a uptempo point guard who does a good job finding people in transition. His defensive skill set is also really solid. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Holmes-Darius-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48053" /></td>
			<td>Darius Holmes
Grade: 11
Mitchelville, MD
Height: 6'1"
Weight: 172
Wingspan: 78
Reach: 95
Vertical: 35</td>
			<td>Darius has a true basketball physique and offers range on his shot. As he continues to muscle through his game, he always looks to handle the ball in a way that earns him scoring opportunities! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Holmes-Josh-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48054" /></td>
			<td>Josh Holmes
Grade: 11
Waldorf, MD
Height: 6'1"
Weight: 171
Wingspan: 76
Reach: 80
Vertical: 26</td>
			<td>Athletic Scorer
Josh's elevation on his jump shot is remarkable. He uses his athleticism to excel in transition while still being able to score in the half court. He hit a couple of deep threes throughout the afternoon and scored in the lane with ease.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Horne-Jay-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48055" /></td>
			<td>Jay Horne
Grade: 11
Vienna, VA
Height: 6'3"
Weight: 186
Wingspan: 74
Reach: 71
Vertical: 21</td>
			<td>Winning attitude 
Jay's got the right attitude for the game and a thirst for continued basketball knowledge. He hustles and puts in the extra effort it takes to win games. He competes on every possession and is an asset to any coach and team. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Johnson-Xayvin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48056" /></td>
			<td>Xayvin Johnson
Grade: 11
Alexandria, VA
Weight: 165
Wingspan: 74
Reach: 91
Vertical: 18</td>
			<td>High Energy
Xayvin can run the floor all day with his brand of explosive energy! Moves well with and without ball. Versatile and a solid contributor to any game. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Kamara-Abraham-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48057" /></td>
			<td>Ibraham Kamara
Grade: 10
Woodbridge, VA
Height: 6'4"
Weight: 160
Wingspan: 78
Reach: 81
Vertical: 26</td>
			<td>Very athletic Shooter
Ibraham is a good shooter with size who can defend all guard positions. He excels in transition and is not afraid to rebound the ball. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Kisailus-Cameron1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48058" /></td>
			<td>Cameron Kisailus
Grade: 10
Alexandria, VA
Height: 6'0"
Weight: 156
Wingspan: 72
Reach: 78
Vertical: 21</td>
			<td>Runs coast to coast
Cameron doesn't quit, as he runs the floor well. As his ballhandling continues to improve he will only supplement an already great skill set and overall game! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Knight-Bradal-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48059" /></td>
			<td>Bradal Knight
Grade: 10
Fort Lee, VA
Height: 5'9"
Weight: 162
Wingspan: 74
Reach: 89
Vertical: 21</td>
			<td>Uptempo point
Bradal does a great job pushing the tempo and has the gift of creating in transition. A good ballhandler and strong addition to any squad. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Larkins-Christopher-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48060" /></td>
			<td>Christopher Larkins
Grade: 9
Silver Springs, MD
Height: 5'11"
Weight: 213
Wingspan: 74
Reach: 71
Vertical: 17</td>
			<td>Baksetball IQ and Toughness
Chris is a young multi-position player who has a bright upside. He made very few mistakes all afternoon and created opportunities for teammates  on offense and defense. His understanding for the game and willingness to get teammates open makes him a solid player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lawrence-Jack-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48061" /></td>
			<td>Jack Lawrence
Grade: 10
Bethesda, MD
Height: 6'9"
Weight: 203
Wingspan: 79
Reach: 87
Vertical: 31</td>
			<td>Boards and length
Jack offers great rebounding and length, and a high ceiling. He can truly finish inside and out, in the impressive range of 15-17 feet! Add a great touch around the basket and he's really one to watch. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Laws-Xavier-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48062" /></td>
			<td>Xavier Laws
Grade: 12
Woodbridge, VA
Height: 6'1"
Weight: 148
Wingspan: 77
Reach: 71
Vertical: 25</td>
			<td>Feel for the game
The sport comes naturally to Xavier and he offers a great shot. Continued work on his overall skill set will garner him the attention he wants as a player! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lee-Brandon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48063" /></td>
			<td>Brandon Lee
Grade: 11
Delaplane, VA
Height: 5'11"
Weight: 154
Wingspan: 73
Reach: 89</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lego-Christopher-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48064" /></td>
			<td>Christoper Leao
Grade: 11
Frederick, MD
Height: 6'3"
Weight: 215
Wingspan: 75
Reach: 96
Vertical: 30</td>
			<td>Physical Competitor 
Chris understands the game well and grabbed a ton of rebounds. He is vocal and will be very difficult to stop inside 15 feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Luckett-Jr.-David-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48065" /></td>
			<td>David Luckett Jr.
Grade: 11
Upper Marlboro, MD
Height: 5'10"
Weight: 179
Wingspan: 73
Reach: 88
Vertical: 22</td>
			<td>Shooting Form and Passing
David is a ball dominant guard who can score in a variety of ways. In addition to being a good scorer he  is always aware of where his teammates are and gets them open looks.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Manning-Nathaniel-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48066" /></td>
			<td>Nathaniel Manning
Grade: 11
Upper Marlboro, MD
Weight: 166
Wingspan: 75
Reach: 96
Vertical: 20</td>
			<td>This is a great finisher unafraid to attack the rim! He is an ever-evolving player whose best balling days are ahead of him. Nate can only enhance his skill set with continued work and he should seek to extend his jumper! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/McMillian-Bryan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48067" /></td>
			<td>Byron McMillian
Grade: 12
Washington, DC
Height: 6'0"
Weight: 135
Wingspan: 71
Reach: 89
Vertical: 16</td>
			<td>Floor general
Byron is a leader, offering court awareness and playmaking ability. He is fundamentally sound and is an on-floor facilitator. As he continues to better his skill set his future will only get brighter and brighter.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Merrifield-David-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48068" /></td>
			<td>David Merrifield
Grade: 10
Temple Hills, MD
Height: 6'2"
Weight: 148
Wingspan: 78
Reach: 96
Vertical: 24</td>
			<td>David offers high release on the ball, making for a great shot touch. He offers a positive attitude, a nice shot, elevation, and release, and continung to improve his all-around game will make him unstoppable! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Milstead-Justin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48069" /></td>
			<td>Justin Milstead
Grade: 10
Fort Washington, MD
Height: 5'10"
Weight: 202
Wingspan: 76
Reach: 76
Vertical: 14</td>
			<td>Team Oriented Passer
Justin is a hard nosed guard who isn't afraid of anybody. He shows promise both on and off the ball. Defensively he is tough to get by and plays the passing lanes aggressively. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Morrison-Demetrius-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48070" /></td>
			<td>Demetrius Morrison
Grade: 12
Upper Marlboro, MD
Height: 6'2"
Weight: 170
Wingspan: 76
Reach: 95
Vertical: 21</td>
			<td>Lefty and great finish
Detetrius offers the true threat of being a lefty with an impressive finish! He is an explosive guard who plays bigger than his size. His heart and talent are an asset to any team. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Obike-Prince-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48071" /></td>
			<td>Prince Obike
Grade: 10
Landover, MD
Height: 6'2"
Weight: 164
Wingspan: 80
Reach: 98
Vertical: 27</td>
			<td>Prince's potential is incredible, as he offers a signature shot stroke. As he continues to improve all the aspects of his game, he will make his mark on the court well as a combo guard. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Page-Josh-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48072" /></td>
			<td>Josh Page
Grade: 10
Washington, DC
Height: 6'0"
Weight: 157
Wingspan: 77
Reach: 71
Vertical: 23</td>
			<td>Josh sees the hardwood from coast to coast, an advantage to any team. His energy was boundless as he was scrappy throughout the day. Add the fact that he's coachable and he's an all around great player! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Parker-Malakai-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48073" /></td>
			<td>Malakai Parker
Grade: 9
Weight: 124
Wingspan: 70
Reach: 89
Vertical: 14</td>
			<td>Decision Making and Jump Shot
Malakai has a great upside as a freshman. He's a smart ball player with a quick release. As he begins to release the ball higher he'll become even more tough to guard from deep. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ridenour-Jack-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48074" /></td>
			<td>Jack Ridenour
Grade: 11
Bethesda, MD
Height: 5'10"
Weight: 173
Wingspan: 69
Reach: 85
Vertical:14</td>
			<td>Court Vision and Basketball IQ

Jack is a passer who sees the floor well and always looks to make the extra pass. He's a lefty shooter with good form and makes those around him better. He can also stretch the floor easily. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Slover-Grayson-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48075" /></td>
			<td>Grayson Slover
Grade: 11
Bethesda, MD
Height: 6'0"
Weight: 143
Wingspan: 73
Reach: 78
Vertical: 15</td>
			<td>Shooting and Positioning
Grayson is a savvy player who knows how to find shots through cutting, using screens, and spacing the floor properly. He can get hot from 3 very quickly from his quick release.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Smith-Elijah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48076" /></td>
			<td>Alijah Smith
Grade: 9	
White Plains, MD
Height: 5'7"
Weight: 148
Wingspan: 69
Reach: 85
Vertical: 10</td>
			<td>Energy and Work Ethic
Alijah bought energy and a dedication to getting better to his team. He ran the floor well and wasn't afraid to do the little things his team needed in order to win. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Soumah-Sekou-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48077" /></td>
			<td>Sekou Soumah
Grade: 11
Hyattsville, MD
Height: 6'0"
Weight: 153
Wingspan: 76
Reach: 92
Vertical: 32</td>
			<td>Sekou seeks out his teammates to get them involved in the play and is a nice shooter! He really gets the concept of team play and is an excellent athletic defender. An asset to any squad! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Stewart-Nigel-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48078" /></td>
			<td>Nigel Stewart
Grade: 10
Washington, DC
Height: 6'3"
Weight: 172
Wingspan: 76
Reach: 81
Vertical: 27</td>
			<td>Nigel offers a silky smooth style of play, easily aligning himself with a game's natural pace. Fantastic elevation on the jumper. He's a playmaker and shows extreme intelligence on the floor! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Sweazin-Christian-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48079" /></td>
			<td>Christian Sweazin
Grade: 9
Sterlin, VA
Height: 5'8"
Weight: 144
Wingspan: 71
Reach: 75
Vertical: 15</td>
			<td>Plays above the bar
Christian is a step ahead in his game. He can compete against the bigger guy while also being very coachable. He is a true teammate and brings high energy! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Tate-Anthony-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48080" /></td>
			<td>Anthony Tate
Grade: 11
Fort Washington, MD
Height: 5'11"
Weight: 158
Wingspan: 75
Reach: 78
Vertical: 19</td>
			<td>Well rounded player with high basketball IQ 
Anthony doesn't try to do too much and always makes sure his teammates are involved. He makes the most of his opportunities and is a well-rounded player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Thibodeau-Jacob-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48081" /></td>
			<td>Jacob Thibodeau
Grade: 11
Aldie, VA
Height: 6'4"
Weight: 171
Wingspan: 77
Reach: 99
Vertical: 30</td>
			<td>Hard worker
Jacob plays hard and can knock down the shot. He can defend multiple positions and has a motor to be reckoned with! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Thomas-Aaron-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48082" /></td>
			<td>Aaron Thomas
Grade: 12
Upper Marlboro, MD
Height: 5'11"
Weight: 154
Wingspan: 69
Reach: 86
Vertical: 17</td>
			<td>Ball Control and Scoring
Aaron is a small point guard who uses his speed to his advantage. He's excellent in transition and has very good shooting form. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Tolbert-Christian-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48083" /></td>
			<td>Christian Tolbert
Grade: 11
Leesburg, VA
Height: 6'1"
Weight: 163
Wingspan: 78
Reach: 80
Vertical: 23</td>
			<td>Court vision, Communicator
Christian sees the floors and vocalizes well all game. A floor general, he is very scrappy, crafty, and competitive. Any coach could use his on-court grit! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Turner-Khorey-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48084" /></td>
			<td>Khorey Turner
Grade: 11
Height: 6'0"
Weight: 156
Wingspan: 75
Reach: 92
Vertical: 36</td>
			<td>Khorey brings various gifts to the game with an ability to hit the 3, communicate, lead his team, and a willingness to  learn new aspects of basketball. He has court vision and can see the play before it happens! Khorey is also very coachable. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Wade-Kavon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48085" /></td>
			<td>Kavon Wade
Grade: 10
Hyattsville, MD
Height: 6'0"
Weight: 156
Wingspan: 75
Reach: 92
Vertical: 36</td>
			<td>Creative Defender and Ball Handling
Kavon does a great job penetrating and making plays off the balance. He's very scrappy on defense and good at creating turnovers. He attacks the basket consistently.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Wallace-Chauncey-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48086" /></td>
			<td>Chauncey Wallace
Grade: 10
Woodbridge, VA
Weight: 168
Wingspan: 75
Reach: 96
Vertical: 24</td>
			<td>Chauncey excels in transition and has good size on the wing. He's good at shooting outside off the catch. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ward-Gregory-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48087" /></td>
			<td>Greg Ward
Grade: 10
Woodbridge, VA
Height: 6'3"
Weight: 150
Wingspan: 74
Reach: 94
Vertical: 23</td>
			<td>Greg brings a great shot off the catch. His outside shot can really stretch and he's a great on-the-ball defender! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Wright-Jamal1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48088" /></td>
			<td>Jamal Wright
Grade: 10
Upper Marlboro, MD
Height: 5'10"
Weight: 150
Wingspan: 74
Reach: 77
Vertical: 22</td>
			<td>Jamal is a penetrating point guard who can see the floor. With excellent handling and passing skills, he is a force to be reckoned with on the floor! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Yohannes-Abel-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48089" /></td>
			<td>Abel Yohannes
Grade: 11
Arlington, VA
Height: 5'11"
Weight: 165
Wingspan: 72
Reach: 91
Vertical: 17</td>
			<td>Abel is "able" to grab the pass and score off of it. He can also space the floor well and does a good job on the ball defensively. A true force coast-to-coast! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Young-Jabari-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48090" /></td>
			<td>Jabari Young
Grade: 11
Indian Head, MD
Height: 6'1"
Weight: 145
Wingspan: 71
Reach: 91
Vertical: 17</td>
			<td>Jabari is creative with the ball and can really handle. He can make plays off the bounce and is a definitely advantage to a team! </td>
		</tr>
	</tbody>
</table>
