<table>
	<thead>
		<tr>
			<th><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Aiken-Jr-Curtis.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Aiken-Jr-Curtis-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50427" /></a></th>
			<th>Curtis Aiken
Grade: 8
Pittsburgh PA</th>
			<th>Gets to rim
Curtis can really make his way to the bucket and does a good job beating the man off the bounce. Good on-the-ball defense and strong handle. He can read the pick and roll well!
</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Alexander-Adam.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Alexander-Adam-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50428" /></a></td>
			<td>Adam Alexander
Grade: 10
Gibsonia PA

Height:5'11</td>
			<td>Hard worker
Adams plays really hard and gets to a lot of 50-50 balls. He finds the open man in transition!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Aloi-Nick.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Aloi-Nick-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50429" /></a></td>
			<td>Nick Aloi
Grade: 10
Cranberry Township PA
Height:6'0</td>
			<td>Ballhandling and athleticism
Nick is a very good point guard with a strong body and very good court vision. He is always attacking for his teammates! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Baker-Justin-2.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Baker-Justin-2-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50431" /></a></td>
			<td>Justin Baker
Grade: 12
Erie PA
Height: 6'8</td>
			<td>Strong 3 shooter
Justin has a very nice outside shot and can only maximize his potential with work on floor running and weight training, Strength will be the difference! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Barney-Nick.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Barney-Nick-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50432" /></a></td>
			<td>Nick Barney
Grade: 11
Midland PA
Height:6'1</td>
			<td>Nick works hard and has a nice pass. He gets a lot of deflections defensively and works hard on that end! </td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Julian Batts
Grade: 11
Irwin PA
Height:6'0</td>
			<td>Julian's ability to get in the lane is special. He was able to push the tempo and create for everyone. He's a very capable scorer and gift to any team!</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Bennett-Julian.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bennett-Julian-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50433" /></a></td>
			<td>Julian Bennett
Grade: 9 
Pittsburgh PA
Height:5'8</td>
			<td>Jullian is a confident combo guard with a solid mid range. He really sees the floor well and can make shots as well as find teammates. Does a nice job of pressuring up on the ball too! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Biss-Jake.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Biss-Jake-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50434" /></a></td>
			<td>Jake Biss
Grade: 9
Latrobe PA
Height: 6'0</td>
			<td>Smarts and moves
Jake has great basketball IQ and moves well. He's a really tough on-the-ball defender so the opponent needs to stay on his toes! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Bada-Ryan.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bada-Ryan-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50430" /></a></td>
			<td>Ryan Boda
Grade: 9
Brackenridge PA
Height: 5'10</td>
			<td>Knowledge of game
Ryan really understands the game and has a high motor! He shoots the ball well, does all the little things that matter, and can get it out in transition. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Bohn-Sam.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bohn-Sam-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50435" /></a></td>
			<td>Sam Bohn
Grade: 10
Cannonsburg PA
Height: 5'9</td>
			<td>Leadership and handle
Sam could be an on-court traffic director, he is that good at getting others and himself where he needs to go. His vision is a great advantage offensively! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Branch-Kaison-2.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Branch-Kaison-2-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50436" /></a></td>
			<td>Kaison Branch
Grade: 11
Height: 6'1</td>
			<td>Attacks rim
Kaison really gets on the opponent and can knock down the deep shot. Got to the rim at will all night! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Britt-Imil.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Britt-Imil-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50437" /></a></td>
			<td>Imil Britt
Grade: 8
Johnstown PA
Height: 5'1</td>
			<td>Finds open man
Imil has a knack for finding the open guy and can get into the paint and find shooters! Pressure doesn't faze him and he stays cool, calm and collected during play. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Brown-Kevin1.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Brown-Kevin1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50438" /></a></td>
			<td>Kevin Brown
Grade: 9
Pittsburgh PA
Height: 5'10</td>
			<td>Ballhandle
Kevin is a great ballhandler and athlete who is always competing for his team. He is a solid handler with good court vision! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Butler-Austin.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Butler-Austin-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50439" /></a></td>
			<td>Austin Butler
Grade: 9
Latrobe PA
</td>
			<td>understands game
Austin has a great motor and truly understands the game. He offers a solid mid-range game, and does all the little things all game. He can get his teammates involved while also offers a great shot! 
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Thomas Cole
Grade: 10
Height: 6'5"</td>
			<td>Thomas has solid fundamental skills which made him an asset to his team. He attacks the basket well and can lead a fast break. He is a good team leader.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Constantino-Cole.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Constantino-Cole-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50440" /></a></td>
			<td>Cole Constantino
Grade: 11
Pittsburgh PA
Height:6'2</td>
			<td>Boards and athleticism
Cole is athletic and aggressive as he defends on the ball. Rebounds coast to coast and is the "glue guy" connecting any team! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Craft-Zavyer.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Craft-Zavyer-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50441" /></a></td>
			<td>Zavyer Craft
Grade: 10
Midland PA
Height: 5'10</td>
			<td>Boards and D
Zayver is an excellent rebounder who attacks the glass on both ends of the floor. He does the dirty work for his team and is in constant competition for the win! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Creighton-Raimon.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Creighton-Raimon-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50442" /></a></td>
			<td>Ramon Creighton
Grade: 10
Pittsburgh PA
Height:6'2</td>
			<td>nice defender
Ramon is a good on-the-ball defender who is hard to maneuver around! Strong on the ball and a rebounder with great basketball IQ. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Cullen-Matt.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Cullen-Matt-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50443" /></a></td>
			<td>Matt Cullen
Grade: 11
Latrobe PA
Height: 6'1</td>
			<td>Handle and athleticism
Matt can handle the ball  and is an extremely athletic guard who excels in transition! He possesses good overall skills and can continue to expand his shot range. 
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Renell Cummings
Grade: 9
Midland PA
Height: 5'7</td>
			<td>Gets to rim
Renell makes his way to the rim and is terrific on D. On both ends, he get his hands on the ball and gets out in transition. He's great in creating his own shot. High level talent! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/David-Johnny.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/David-Johnny-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50444" /></a></td>
			<td>Jonny David
Grade: 11
Pittsburgh PA
Height: 6'1</td>
			<td>Jonny has a high basketball IQ and really sought to make those around him better. As the consistency in his jump shot improves he will be extremely hard to stop on the offensive end. He gave maximum effort all afternoon and has a bright future!</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Day-Garrett.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Day-Garrett-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50445" /></a></td>
			<td>Garrett Day
Grade: 10
Sewickley PA</td>
			<td>Shot and IQ
Garrett is a give guy who plays hard on both ends of the floor. He does the dirty work to make things happen! Good shooter with range to the 3. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Dezort-Mitchell.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Dezort-Mitchell-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50447" /></a></td>
			<td>Mitchell Dezort
Grade: 9
Tarentum PA
Height: 6'0
</td>
			<td>Physical, finisher
Mitchell does a good job of attacking the rim and is a hard worker! He plays a tough, physical game and finishes strong. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Edwards-James.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Edwards-James-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50448" /></a></td>
			<td>James Edwards
Grade: 10
Pittsburgh Pa
Height: 6'2</td>
			<td>Good shooter
James sees the floor well and moves the ball. He handles the ball and gets to the rim. Watch him outside the pain too, as he offers a nice 3 point range! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Ehland-Patrick.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ehland-Patrick-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50449" /></a></td>
			<td>Patrick Ehland
Grade: 11
Pittsburgh PA
Height: 6'7</td>
			<td>Runs floor well
Pat really runs the floor and has good back to the basket type moves to either hand. He can also get the easy bucket! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Ferry-James.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ferry-James-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50450" /></a></td>
			<td>James Ferry
Grade: 13
Merrick NY</td>
			<td>Hard worker
James plays hard every possession. He is a team leader and dangerous on ball reversal because he can really shoot it! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Fischer-Mike.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Fischer-Mike-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50451" /></a></td>
			<td>Mike Fischer
Grade: 11
Wexford PA
Height: 6'1</td>
			<td>Attacks glass
Mike attacks the glass and sees the floor. He can really move the ball and makes things happen in transition with his excellent vision! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Fitzpatrick-Jack.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Fitzpatrick-Jack-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50452" /></a></td>
			<td>Jake Fitzpatrick
Grade: 12
Saltsburg PA
Height: 5'10
</td>
			<td>ball handle
Jack is a nice ballhandler and solid point guard. He does a great job attacking the paint and utilizes his court vision to find teammates! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Frederick-Tyler.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Frederick-Tyler-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50453" /></a></td>
			<td>Tyler Frederick
Grade: 9
Butler PA
Height: 5'10</td>
			<td>Nice shot
Tyler takes good shots and plays hard. He does a great job of finishing with both hands and is an athletic wing prospect that attacks coast to coast! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Fulena-Micha.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Fulena-Micha-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50454" /></a></td>
			<td>Micah Fulena
Grade: 10
New Castle PA</td>
			<td>Ballhandling 
Micah is a solid point guard with great playmaking skills. Possesses a nice overall skill set that will, with strength and agility work, get him to the next level! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Fustine-Joe.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Fustine-Joe-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50455" /></a></td>
			<td>Joe Fustine
Grade: 11
Erie PA
Height:6'3 </td>
			<td>Cuts well
Joe runs well and is great at cutting for the play. He hit tough shot after tough shot and cuts to open spots for easy baskets. Anybody would want this scorer on their team! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Garda-Max.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Garda-Max-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50456" /></a></td>
			<td>Max Garda
Grade: 9
New Kensington PA
Height: 5'10
</td>
			<td>Solid point
Max is a solid point guard who best playing days are only ahead of him! Work on defensive skills and conditioning will afford Max his full potential to take it to the next level! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Garner-Bricen.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Garner-Bricen-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50457" /></a></td>
			<td>Bricen Garner
Grade: 10
Pittsburgh PA
Height: 6'2
</td>
			<td>Plays point
Bricen has a long physique and plays the point well. He has true potential, runs the floor well, is excellent on the fast break, and shoots well at foul line. He should keep using his quickness! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Gates-Tyler.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Gates-Tyler-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50458" /></a></td>
			<td>Tyler Gates
Grade: 10
Pleasantville PA
Height: 6'5
</td>
			<td>Runs floor
Tyler offers back to the basket plays and is a floor general. He makes the easy buckets and is invaluable to any team. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Gill-Amani.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Gill-Amani-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50459" /></a></td>
			<td>Amani Gill
Grade: 10
Fuquay Varina NC
Height: 6'2</td>
			<td>Aggressive
Amani is aggressive on D and runs the floor hard. He never seems rushes and plays patiently. Has ability to change the game up defensively because he can take guys out of games! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Goitz-Alex.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Goitz-Alex-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50460" /></a></td>
			<td>Alex Goitz
Grade: 10
Gibsonia PA
Height: 5'10
</td>
			<td>High energy
Alex has a high motor and works hard all game. Also has a nice knack for hitting the 3! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Gonzalez-Ameer.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Gonzalez-Ameer-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50461" /></a></td>
			<td>Ameer Gonzalez
Grade:9
Saylorsburg PA
Height:5'11</td>
			<td>Strength
Ameer is a strong athletic talent who should seek to play anywhere and everywhere this summer to maximize his potential! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Gonzalez-Elijah.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Gonzalez-Elijah-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50462" /></a></td>
			<td>Elijah Gonzalez
Grade:11
Saylorsburg PA
Height:5'11</td>
			<td>handle and athleticism
Elijah is a strong athletic point with a nice handle! Always attacking for a teammate. He's a quick on the ball defender who keeps opposing guards under pressure! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Gould-Zachary.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Gould-Zachary-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50463" /></a></td>
			<td>Zachary Gould
Grade:13
Fombell PA</td>
			<td>Outstanding leader
Zach is a natural leader who is a great passer and unselfish player. He is a true teammate! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Graytok-Sean.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Graytok-Sean-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50464" /></a></td>
			<td>Sean Graytok
Grade:10
Greensburg Pa
Height:5'10</td>
			<td>Good passer
Sean is a good passer who attacks the glass hard! He gets the ball to his teammates and works hard all game. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Gribbin-Timon.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Gribbin-Timon-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50465" /></a></td>
			<td>Timon Gribbin
Grade:11
Gibsonia PA
Height:5'10</td>
			<td>Shot and handle
Timon is a shooter and ballhandler to be reckoned with. A solid point guard with good vision, he can also shoot out to the 3! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Hanna-Matt.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hanna-Matt-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50466" /></a></td>
			<td>Matt Hanna
Grade:11
Height:6'3</td>
			<td>Leader, scorer
Matt has great leadership skills and a super attitude! He give it his all on every possession. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Hannes-Austin.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hannes-Austin-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50467" /></a></td>
			<td>Austin Hannes
Grade:9
Valencia Pa
Height:6'0</td>
			<td>Feel for Game
Austin has a great feel for the game and pushes the break all night long. He creates shots for his teammates and himself. Terrific talent! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Heiple-Jacob.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Heiple-Jacob-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50468" /></a></td>
			<td>Jacob Heiple
Grade:10
Somerset PA
Height:5'11</td>
			<td>Quick hands
Jake finds the open man and drives! His quick hands change possessions for him team defensively. A true asset to any team. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Hill-Jeremy.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hill-Jeremy-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50469" /></a></td>
			<td>Jeremy Hill
Grade:10
Erie Pa
Height:5'8</td>
			<td>Plays hard
Jeremy give it his all, is good defensively, and likes to pressure up on the ball! He can really get his team in rhythm too. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Hodoh-Desmond.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hodoh-Desmond-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50470" /></a></td>
			<td>Desmond Hodoh
Grade:12
Fairlawn OH
Height:6'1</td>
			<td>Plays hard
"Desmond gives it his all and really defends. He is a serious threat on D and shows great character. A team leader! 
"
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Homza-Michael.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Homza-Michael-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50471" /></a></td>
			<td>Michael Homza
Grade:11
Pittsburgh PA
Height:6'1</td>
			<td>Speed transition
Mike changes speeds well and has a great handle! Really makes his way to the rim. Nice size and strength. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Huber-Ben.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Huber-Ben-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50472" /></a></td>
			<td>Ben Huber
Grade:9
Allison Park Pa</td>
			<td>Shooting and vision
Ben is a very good shooter with deep range and a good mid-range pull-up shot. He is a solid ballhandler who possesses good court vision and intelligence! 
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Max Hurley
Grade:9
Corapolis Pa
Height:5'10</td>
			<td>Leader and passer
Max is a great passer whose most distinctive trait on the floor is his leadership. It will separate him from the pack as time goes on! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Johnson-Anthony.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Johnson-Anthony-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50473" /></a></td>
			<td>Anthony Johnson
Grade:7
Pittsburgh PA
Height:5'11</td>
			<td>Defends well
Anthony defends extremely well and can score in various ways. He can create his own shot, gets out in transition. Defensively he got a ton of deflections and is truly a talent to watch! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Jones-Jr-Greg.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Jones-Jr-Greg-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50474" /></a></td>
			<td>Greg Jones
Grade:9
Pittsburgh PA
Height:5'9</td>
			<td>Gets to rim
Greg does a nice job getting up on people defensively and gets to the rim all game! True coast to coast player. 
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Callique Jones
Grade:12
Pittsburgh PA
Height:6'0</td>
			<td>Athleticism and D
Calique is a solid lead guard with good ballhandling skills and court vision. He utilizes his athleticism well on the defensive end of things, keeping the ball under constant pressure. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Kcechowski-Kevin.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Kcechowski-Kevin-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50475" /></a></td>
			<td>Kevin Kcechowski
Grade:11
Height:7'0</td>
			<td>boards and smarts
Kevin can grab boards and applies his intelligence all game. He should continue to improve his agility and conditioning for the next level! Has good touch for a big man. 
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Antonio Kellem
Grade:11
Conway PA
Height:6'0</td>
			<td>Gets open
Antonio makes things happen when he finds openings for himself. He has a quick release, making him tough  to guard. He's a quick jumper for boards and passes and thinks ahead! 
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Dom Keyes
Grade: 11
Height: 6'7"</td>
			<td>Dom's athleticism is impeccable and it only aids his shot blocking ability. He has great court vision and his speed makes him an issue for opponents on both ends of the floor.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Kiernan-Bobby1.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Kiernan-Bobby1-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50477" /></a></td>
			<td>Bobby Kiernan
Grade:10
Pittsburgh PA
Height:6'4</td>
			<td>Good shooter
Bobby is a creative shooter and can make them from beyond the arc. Knows how to get open to get the shot! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Kirincic-John.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Kirincic-John-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50478" /></a></td>
			<td>John Kirincic
Grade:11
University Heights OH
Height:6'1</td>
			<td>Nice shot
John is a good shooter with court vision and range to the 3. He's intelligent and a contribution to any team. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Kline-Adam.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Kline-Adam-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50479" /></a></td>
			<td>Adam Kline
Grade:10
Monaca Pa
Height:6'6</td>
			<td>High motor
Adam is a high-energy player who gives it his all at all times. Long and skilled post player with the ability to face up attack off the bounce. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Knochel-Josh.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Knochel-Josh-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50480" /></a></td>
			<td>Josh Knochel
Grade:9
Valencia, Pa
Height:6'2</td>
			<td>Attacks rim
Josh really attacks the rim offensively and is good with offensive boards. He can find space on the floor too! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Lafko-Joe.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lafko-Joe-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50481" /></a></td>
			<td>Joey Lafko
Grade:11
Gibsonia Pa
Height:5'11</td>
			<td>Floor leader
Joey is a true leader who sees the floor. He's a teammate anyone is lucky to have, as he is a natural communicator. He always seems to make the right play! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Lamendola-Mark.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lamendola-Mark-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50482" /></a></td>
			<td>Mark Lamendola
Grade:9
Pittsburgh PA
Height:5'10</td>
			<td>Lead guard
Mark truly understands his role as lead guard. He gets his teammates involved and runs the show! Looks to create for others first before he seeks his own shot. Got in the lane all night.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Laskey-Bryce.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Laskey-Bryce-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50483" /></a></td>
			<td>Bryce Laskey
Grade:8
Connellsville PA
Height:5'5</td>
			<td>Crafty scorer
Bryce has a nice quick release on his pull-up jumper. He changes speeds and direction really well and is tough to defend! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Lewis-Billy.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lewis-Billy-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50484" /></a></td>
			<td>Billy Lewis
Grade:10
Corapolis Pa
Height:6'4</td>
			<td>Outstanding motor
Billy doesn't quit and is a great communicator! He talks on both ends of the floor and plays hard every possession, making him a true asset to any team. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Ligon-Jeremiah.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ligon-Jeremiah-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50485" /></a></td>
			<td>Jeremiah Ligon
Grade:10
Pittsburgh PA
Height:6'0</td>
			<td>good handle
Jeremiah offers nice handle and grabs boards. He pushes well in transition! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Livingston-Jake.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Livingston-Jake-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50486" /></a></td>
			<td>Jake Livingston
Grade:9
Pittsburgh PA
Height:6'4</td>
			<td>Nice post-up
Jake does a great job posting up wide. He uses his body well to get positioned and make things happen! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Lombardi-Dante.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lombardi-Dante-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50487" /></a></td>
			<td>Dante Lombardi
Grade:11
Indiana Pa
Height:5'11</td>
			<td>Smart PG
This intelligent guard makes good decisions. He got in the lane all game and created for teammates as well as sank open shots. A true floor general! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Lynch-Nadir.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lynch-Nadir-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50488" /></a></td>
			<td>Nadir Lynch
Grade:9
Clarion Pa
Height:5'9</td>
			<td>Tenacious defender
Nadir is a pure lockdown defender. He has the ability to direct a team coast to coast! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Marchitello-Nico.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Marchitello-Nico-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50489" /></a></td>
			<td>Nico Marchitello
Grade:11
Harrison City Pa
Height:5'7</td>
			<td>Good finish
Nico is a good shooter with three point range. He did a nice job adjusting to the defense, using the drive and draw. He offers good finish with contact! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Martin-Lavantae.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Martin-Lavantae-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50490" /></a></td>
			<td>Lavantae Martin
Grade:10
Brackenridge Pa
Height:6'2</td>
			<td>Boards all day
Lavantae has a nose for the ball, grabs boards, and is great with the pick and roll. Should seek to focus on finishing around the rim, especially on second chance shots. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Maurer-Lucas.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Maurer-Lucas-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50491" /></a></td>
			<td>Lucas Maurer
Grade:9
Hollsopple Pa
Height:6'2</td>
			<td>Team player
Lucas has a good handle on the game, is a good shooter and team player. Defensive work will only help him realize his potential! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/McConnell-Matthew.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/McConnell-Matthew-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50492" /></a></td>
			<td>Matthew McConnell
Grade:11
Oakdale Pa
Height:6'2</td>
			<td>Finishes in paint
Matt finishes in the paint really well and runs the floor. He is always making the right play and hits a lot of tough shots! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/McKee-Jackson.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/McKee-Jackson-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50493" /></a></td>
			<td>Jackson McKee
Grade:9
Butler, Pa</td>
			<td>Plays hard
Jackson was able to get out of transition and finish. he does a terrific job defending the ball. really works on the defensive end! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Merchant-Abbass.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Merchant-Abbass-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50494" /></a></td>
			<td>Abbass Merchant
Grade:8</td>
			<td>Good shooter
Abbass is a nice shooter with great potential! Strength and skill work will make this player unstoppable in the coming years. 
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Elijah Minnie
Grade:12
Monessen PA
Height: 6'9</td>
			<td>Defense and scoring
Elijah can really finish at the rim! Also, his defensive presence drives fear into his opponents, making him a force to be reckoned with coast to coast.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Montgomery-Devin.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Montgomery-Devin-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50495" /></a></td>
			<td>Devin Montgomery
Grade:12
Pittsburgh PA
Height: 5'11</td>
			<td>Devin really runs the floor, sees it, and is a good passer! He is always looking ahead and offers a nice 3-point range. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Moorer-Terry.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Moorer-Terry-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50496" /></a></td>
			<td>Terry Moorer
Grade:12
Akron, OH
Height:5'10</td>
			<td>Terry has an all-around good set of skills and picks good shots. Defensive work will only improve his game! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Moose-Ethan.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Moose-Ethan-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50497" /></a></td>
			<td>Ethan Moose
Grade:10
New Castle Pa
Height:6'1</td>
			<td>Ethan really uses his length to get to the rim! He can be a lock-down defender.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Moultrie-Javaughn.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Moultrie-Javaughn-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50499" /></a></td>
			<td>Javaughn Moultrie
Grade:12
Pittsburgh Pa
Height:6'1</td>
			<td>Javaughn is strong, smart with the ball, and can shoot. He has fantastic court sense, and should keep playing to maximize his great potential! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Moultrie-Davaughn.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Moultrie-Davaughn-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50498" /></a></td>
			<td>DaVaughn Moultrie
Grade:12
Pittsburgh PA
Height:6'1</td>
			<td>DaVaughn is a strong big-bodied post player who utilizes his strength for position to battle for boards! He's a very good passer out of the low/mid post area too. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Myers-AJ.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Myers-AJ-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50500" /></a></td>
			<td>Aj Myers
Grade:9
Height:5'10</td>
			<td>AJ is a good athlete who does the little things all game. Gives it his all on every possession! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Nussbaum-Paul.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Nussbaum-Paul-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50501" /></a></td>
			<td>Paul Nussbaum
Grade:11
Gibsonia PA
Height:5'7</td>
			<td>Paul is a floor general who keeps his handle against pressure and looks for open teammates. He showed good quickness and a nice mid-range pull-up jumper! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Perz-Curtis.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Perz-Curtis-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50502" /></a></td>
			<td>Curtis Perz
Grade:11
Irwin PA
Height:6'1</td>
			<td>Curtis has a fantastic on-court demeanor and does a great job directing his team on both ends. Really shines as a communicator! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Petcash-Andrew.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Petcash-Andrew-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50503" /></a></td>
			<td>Andrew Petcash
Grade:9
Gibsonia PA
Height:6'1</td>
			<td>Andrew does the dirty work to make things happen for his team. He defends, grabs boards, and moves the ball on offense! </td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>DJ Porter
Grade:12
Pittsburgh PA
Height:6'4</td>
			<td>DJ is a natural athlete who does a great job of running the floor. He is a dangerous opponent and explosive at both ends so look out! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Pound-Jarrett.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Pound-Jarrett-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50504" /></a></td>
			<td>Jarrett Pound
Grade:11
Wattsburg PA
Height:6'2</td>
			<td>Jarrett knows how to play the game and will only maximize his potential with work on his overall skill set.  Strength work will be the backbone of his game! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Prota-George.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Prota-George-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50505" /></a></td>
			<td>George Prota
Grade:11
Elizabeth PA
Height:6'1</td>
			<td>George makes his way to the boards and was extremely active around the rim. Posted hard and got lay-ups. Is really able to finish around the basket! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Radfar-Darius.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Radfar-Darius-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50506" /></a></td>
			<td>Darius Radfar
Grade:9
Height:5'10</td>
			<td>Darius really knows how to play and is a smart lead guard with nice quickness and a tight handle! Hustles all day. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Relihan-Jack.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Relihan-Jack-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50507" /></a></td>
			<td>Jack Relihan
Grade:11
Bridgeville PA
Height:6'1</td>
			<td>Jack plays with a high motor and is a nice shooter. He scored all game and does a terrific job defending and creating turnovers. gets to the rim! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Robb-Dominic.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Robb-Dominic-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50508" /></a></td>
			<td>Dominic Robb
Grade:11
Gibsonia PA
Height:6'6</td>
			<td>Dom does a really good job of attacking the rim. Very patient in the post. Whether he found the open man or took the shot, he made the right play every time! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Rouse-Seth.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Rouse-Seth-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50509" /></a></td>
			<td>Seth Rouse
Grade:11
Pittsburgh Pa
Height:6'4</td>
			<td>Seth is a nice solid player with major potential. Strength work and playing every day will maximize his promising potential! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Saini-Vikram.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Saini-Vikram-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50510" /></a></td>
			<td>Vikram Saini
Grade:12
Maumee OH
Height:6'0</td>
			<td>Vikram plays extremely hard and gets to the glass! He sealed in the post hard and kept plays alive. Does a nice job defensively. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Sandherr-Will.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Sandherr-Will-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50511" /></a></td>
			<td>Will Sandherr
Grade:11
Allison Park PA
Height:6'0</td>
			<td>Will really gets the job done on defense and plays extremely hard every possession. An mvp teammate! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Schach-Christian.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Schach-Christian-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50512" /></a></td>
			<td>Christian Schach
Grade:8
Pittsburgh PA
Height:6'0</td>
			<td>Chris sees the floor and is a good shooter with range on the 3. Solid overall skill set! Continued work on skills will take his game to the next level. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Schifino-Sheron.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Schifino-Sheron-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50530" /></a></td>
			<td>Sheron Schifino
Grade:9
Height:6'0</td>
			<td>Sheron offers a quick release on his jumper and intelligence. He needs to be watched by the defense and is smart on offense too! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Schifino-Deandre.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Schifino-Deandre-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50529" /></a></td>
			<td>Deandre Schifino
Grade:11
Pittsburgh PA
Height:6'4</td>
			<td>Deandre has a nice feel for the game and style. He knows how to play the game and is a good shooter. Makes good decisions and will maximize his potential, especially with hard work this summer! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Schmitt-Christian.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Schmitt-Christian-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50513" /></a></td>
			<td>Christian Schmitt
Grade:10
Gibsonia Pa
Height:5'11</td>
			<td>Christian does a good job pushing in transition. He moves well and is always in the right place at the right time! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Sestili-Griffin.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Sestili-Griffin-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50514" /></a></td>
			<td>Griffin Sestilli
Grade:9
Sewickley PA</td>
			<td>Griffin really gets to the rim and is a super communicator! He is explosive and has unbounded potential. 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Shelton-Hunter.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Shelton-Hunter-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50515" /></a></td>
			<td>Hunter Shelton
Grade:11
Lexington Ky
Height:6'6</td>
			<td>Hunter can really play, as he can shoot from deep both off the bounce and the catch. He can fill up the score sheet when he gets hot! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Shields-Christopher.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Shields-Christopher-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50516" /></a></td>
			<td>Christopher Shields
Grade:13
Sicklerville NJ
Height:6'6</td>
			<td>Chris has major potential and can do a little of everything on the floor. Strength and conditioning work will help him maximize his skill set and make things happen! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Simmons-Mike.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Simmons-Mike-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50517" /></a></td>
			<td>Mike Simmons
Grade:11
New Kensington PA
Height:6'2</td>
			<td>Mike has a swift shot release and is a fantastic defender. Recovers to his defender from help really well! 
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Skinner-Kai.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Skinner-Kai-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50518" /></a></td>
			<td>Kai Skinner
Grade:9
Titusville PA
Height:6'1</td>
			<td>Kai should strive to keep working on his skills this summer to maximize his full potential! Defensive work is key maximize his explosiveness. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Skovranko-Ryan.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Skovranko-Ryan-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50519" /></a></td>
			<td>Ryan Skovranko
Grade:12
Duquesne Pa
Height:6'1</td>
			<td>Ryan is a high-level athlete who makes it to the rim. He has a quick release on his jumper and is an intriguing talent! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Smith-Nick.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Smith-Nick-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50520" /></a></td>
			<td>Nick Smith
Grade:9
Pittsburgh PA
Height:6'0</td>
			<td>Nick takes a lot of good shots and has good basketball sense. He doesn't always make the fancy play but goes for the right one! Defenders should beware of his shooting.</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Soisson-Ryan.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Soisson-Ryan-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50521" /></a></td>
			<td>Ryan Soisson
Grade:10
Greensburg Pa
Height:6'0</td>
			<td>Ryan plays the game well all around. He plays under control and is smart with the ball. He should seek to keep improving his skill set to maximize his great potential! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Stapleton-Riley.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Stapleton-Riley-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50522" /></a></td>
			<td>Riley Stapleton
Grade:11
Indiana Pa
Height:6'5</td>
			<td>Riley has a great attitude and truly communicates on the floor. His effort on the court is what truly separates his from the pack! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Starzynski-Anthony.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Starzynski-Anthony-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50523" /></a></td>
			<td>Anthony Starzynski
Grade:10
Pittsburgh PA
Height:6'3</td>
			<td>Anthony is intelligent and a good shooter! Nice overall skill set that will only improve with strength and agility work to take it to the next level. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Summer-Todd.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Summer-Todd-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50524" /></a></td>
			<td>Todd Summer
Grade:10
Murrysville Pa
Height:6'3</td>
			<td>Todd has a great demeanor and does a great job grabbing boards! He is very unselfish and is a true asset to his teammates. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Swartz-Jacob.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Swartz-Jacob-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50525" /></a></td>
			<td>Jacob Swartz
Grade:9
Connellsville PA
Height:6'4</td>
			<td>Jacob has good hands and finishes inside. He runs the floor really well and finishes in traffic! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Thimons-Brayden.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Thimons-Brayden-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50526" /></a></td>
			<td>Braydon Thimons
Grade:9
Tarentum Pa
Height:6'2</td>
			<td>Brayden plays a hard and physical game. He seemed to grab every 50-50 ball  all day! Hard worker who affects the game to his team's advantage. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Thomas-Hunter.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Thomas-Hunter-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50527" /></a></td>
			<td>Hunter Thomas
Grade:10
Windber PA
Height:6'9</td>
			<td>Hunter sets a nice screen and gets to the glass! Has a nice 15-footer touch. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Thurston-Bryce.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Thurston-Bryce-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50528" /></a></td>
			<td>Bryce Thurston
Grade:11
Baltimore Md
Height:6'1</td>
			<td>Bryce has a knack for finding his way to the rim! He is a true leader and fantastic communicator. Many attributes that make him valuable to any team. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Urso-Billy.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Urso-Billy-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50419" /></a></td>
			<td>Billy Urso
Grade:11
Pittsburgh Pa
Height:5'9</td>
			<td>Billy is a floor general with control of his team and can really shoot it! He needs to be watched by his opponent with and without the ball. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Urso-Brendon.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Urso-Brendon-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50420" /></a></td>
			<td>Brendon Urso
Grade:10
Pittsburgh PA
Height: 5'11</td>
			<td>Brendon has a high motor and hustles on every play. He's active on both ends of the court and doesn't stay still for long. He uses his speed and good court vision to get teammates the open pass. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Wanker-Dan.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Wanker-Dan-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50421" /></a></td>
			<td>Dan Wanker
Grade: 11
Pittsburgh PA
Height: 6'5</td>
			<td>Dan works hard, attacks the glass and plays hard all day. He is a tough guy to guard and plays with a full tank! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Weiner-Alden.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Weiner-Alden-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50422" /></a></td>
			<td>Alden Weiner
Grade: 9
Osceola, Pa
6'4</td>
			<td>Alden works hard to get to the glass. He finishes on the block nicely! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Whalen-Sean.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Whalen-Sean-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50423" /></a></td>
			<td>Sean Whalen
Grade: 11
Monroeville, PA
Height: 6'4</td>
			<td>Sean grabs the boards, shoots the three, defends, and utilizes his length to defend and rebound. A gem for any team! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Williams-Todd.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Williams-Todd-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50424" /></a></td>
			<td>Todd Williams
Grade: 12
Fairlawn, OH
Height: 6'0</td>
			<td>Todd is a good shooter, passer and handler who runs the floor. He's great on a fast break and attacks the basket. Throw in his ability to finish well on the boards, and with continued skill refinement this summer, he will maximize his great potential! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Wise-Darius.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Wise-Darius-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50425" /></a></td>
			<td>Darius Wise
Grade: 9
Beaver, MA
Height: 5'10</td>
			<td>Darius has much to offer defensively and is quick on the court. He moves well without the ball, and can get to the rim without contact. Great team asset! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Witte-Sean.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Witte-Sean-100x75.jpg" alt="" width="100" height="75" class="aligncenter size-thumbnail wp-image-50426" /></a></td>
			<td>Sean Witte
Grade: 9
Pittsburgh PA</td>
			<td>Sean has a nice floater and hustles hard. He gets into the paint and plays hard constantly! </td>
		</tr>
	</tbody>
</table>
