<table>
	<thead>
		<tr>
			<th>Picture</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Adams-Kyle-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47894" /></td>
			<td>Kyle Adams
Grade: 11
Underhill VT
Height: 6'2
Weight: 198
Wingspan:75
Reach:96
Vertical:24</td>
			<td>Rebounding and toughness
Kyle is a tough kid who isn't afraid to be aggressive and go after a rebound. He's an undersized big with exceptional footwork. He brings it down low and is active on both ends of the court. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Aden-Naleye-e1395847110507-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47895" /></td>
			<td>Naleye Aden
Grade:	
home
Height:
Weight:
Wingspan:
Reach:
Vertical:</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Adiang-Tinga-e1395847178919-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47896" /></td>
			<td>Tinga Adiang
Grade:	11
Jericho VT
Height:6'2
Weight:155
Wingspan:75
Reach:95
Vertical:24</td>
			<td>Athleticism and slashing ability
Tinga can slash to the rim and utilizes the spin move well. Brings good physicality and athleticism. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Assefa-Alula-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48205" /></td>
			<td>Alula Assefa
Grade:	8
Height: 5'10
Weight:
Wingspan:
Reach:
Vertical:</td>
			<td>Handles well and finds peers
Alula showed confidence against older players with a  nice crafty game. He had a tight handle, good size, and ability to see the floor. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Aylesworth-Jordan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47897" /></td>
			<td>Jordan Aylesworth
Grade:	10
Marshfield MA
Height: 6'0
Weight: 160
Wingspan: 72
Reach: 91
Vertical: 28</td>
			<td>Hustle and defense
Jordan hustles and does what it takes to win. He is an active defender, a capable shooter, and hustles for second chance points! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bailer-Dennis-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47898" /></td>
			<td>Dennis Bailer
Grade:11
Malden MA
Height:5'10
Weight: 170
Wingspan: 70
Reach:92
Vertical:25</td>
			<td>Great pace of play
Dennis sees the floor and finds his teammates. Has a great motor and game pace! 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Baldwin-Chris-e1395847607800-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47899" /></td>
			<td>Chris Baldwin
Grade: 11
Springfield MA
Height: 6'8
Weight: 241
Wingspan:82
Reach:109
Vertical 26</td>
			<td>Strength
Strong big man who has the ability to bust out in transition. Potential small forward/point guard that can dribble.Can pick and pop to shoot from afar. Finishes around the rim. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Baldwin-Kendall-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47900" /></td>
			<td>Kendall Baldwin
Grade: 10
Springfield MA
Height: 6'0
Weight: 141
Wingspan: 74
Reach: 94
Vertical:21</td>
			<td>Athleticism and ballhandling
Kendall goes after every rebound and has really quick feet. He's a creative finisher around the rim and uses his athleticism to score points. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Barboza-Ramos-Brayden-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47901" /></td>
			<td>Brayden Barboza-Ramos
Grade:	9
Norwich CT
Height: 5'6
Weight: 130
Wingspan: 70
Reach: 88
Vertical:23</td>
			<td>Good handle and finds team
Branden runs a team well and doesn't turn the ball over. Has a tight handle and finishes well. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bereket-Andrew-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47902" /></td>
			<td>Andrew Bereket
Grade: 9
Newton MA
Height: 6'0
Weight: 164
Wingspan: 76
Reach:93
Vertical:18</td>
			<td>Quickness
Andrew offers quickness, a good handle, and overall game smoothness. He has a good feel for the game and will be a great player if he keeps growing! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Berhe-Isaias-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47903" /></td>
			<td>Isaias Berhe
Grade:	9
Cambridge MA
Height: 5'10
Weight: 148
Wingspan: 72
Reach: 92
Vertical: 23</td>
			<td>Transition and work ethic
Isaias is a downhill player in the open court. He has a good feel for the game and his ball handling skills are on par.
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Boyd-Derrick-e1395848042521-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47904" /></td>
			<td>Derrick Boyd
Grade: 11
Springfield MA
Height: 5'9
Weight: 174
Wingspan: 74
Reach: 91
Vertical: 30</td>
			<td>Tight handle
Boyd offers good ballhandling and an ability to find his teammates. He's a strong floor general who pushed the ball all day and put pressure on the defense. Uses strength well to power into the lane. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Brooks-Bobby-e1395848090250-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47905" /></td>
			<td>Bobby Brooks
Grade:11
Norwell MA
Height: 6'3
Weight: 205
Wingspan:75
Reach:97
Vertical: 27</td>
			<td>Shoots well
Bobby has a nice release on his shot and has enough handle to get off a good-looking jumper, out to about 17 feet. Hands are sure, as he catches ball well and finishes inside. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Brooks-Mustafa-e1395848167272-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47906" /></td>
			<td>Mustafa Brooks
Grade:10
Somerville MA
Height: 6'0
Weight:157
Wingspan: 75
Reach: 95
Vertical: 28</td>
			<td>fast and athletic
This combo guard showed an excellent handle and the ability to navigate the court and score in transition. He really gets to the rim and finishes. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Brooks-Nubian-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47907" /></td>
			<td>Nubian Brooks
Grade: 9
Cambridge MA
Height: 6'2
Weight: 181
Wingspan: 76
Reach: 96
Vertical: 25</td>
			<td>athleticism/toughness
Nubian plays hard and rebounds at a high level. Strong. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Brown-Omari-e1395848334399-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47908" /></td>
			<td>Omari Brown
Grade: 11
Lafayette LA
Height: 6'0
Weight: 176
Wingspan: 76
Reach: 95
Vertical:26</td>
			<td>Good handle, hard worker
Omari is an excellent athlete who uses can get muscle past his defenders and into the lane to create for himself and others. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Campbell-Isaiah-e1395848394123-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47909" /></td>
			<td>Isaiah Campbell
Grade: 10
New London CT
Height: 5'8
Weight: 137
Wingspan: 72
Reach: 90
Vertical:22</td>
			<td>Shot and handle
Isaiah is very active on defense and was a great teammate. His ball handling abilities are also solid. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Casiano-Nick-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47910" /></td>
			<td>Nick Casiano
Grade:	9
Rocky Hill CT
Height: 6'2
Weight:138
Wingspan: 72
Reach: 93
Vertical: 26</td>
			<td>Work ethic and Bball IQ
Nick runs the floor hard and always looks to get his teammates involved. He shows a lot of potential on the offensive and defensive boards. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Cenescar-Jonathan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47911" /></td>
			<td>Jonathan Cenescar
Grade: 8
Cambridge MA
Height: 6'2
Weight: 207
Wingspan: 78
Reach: 97
Vertical: 28</td>
			<td>Athleticism and rebounding
Jonathan has a good basketball body and uses it to his advantage. He understands how to play the game and what it takes to win. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Charles-Gerald-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47912" /></td>
			<td>Gerald Charles
Grade:	9
Revere MA
Height: 5'7
Weight: 165
Wingspan: 70
Reach: 88
Vertical 22</td>
			<td>Quickness and the 3
Gerald is at his best when attacking the hoop. He beats his man off the dribble at will and is a great defender.
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Chea-Tommy-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47913" /></td>
			<td>Tommy Chea
Grade:	11
Revere MA
Height: 5'10
Weight: 141
Wingspan: 72
Reach: 91
Vertical: 24</td>
			<td>Toughness and D
Tommy plays hard and tough. Has a natural instinct to defend, and handles well. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Cobb-Jay-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47914" /></td>
			<td>Jay Cobb
Grade:	11
Lyndonville VT
Height: 6'6
Weight: 184
Wingspan: 77
Reach:101
Vertical:23</td>
			<td>Long and handles well 
Jay handles very well for his size and rebounds well. Can slash along baseline and score well going to the bucket. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Cohen-Niles-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47915" /></td>
			<td>Niles Cohen
Grade:	10
Cambridge MA
Height: 5'10
Weight: 156
Wingspan:66
Reach: 86
Vertical:26</td>
			<td>Aggressive, sees floor
Niles is unrelenting in attacking the rim, especially in transition. He will only improve his outside J and become more versatile! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Correia-Malik-e1395848778511-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47916" /></td>
			<td>Malik Correia
Grade: 9
Cambridge MA
Height: 6'0
Weight: 138
Wingspan: 73
Reach: 92
Vertical 22</td>
			<td>Passing and boards
Malik has long arms that allow him to get into the passing lane causing deflections and tips. He has good court vision and is most effective in the open court. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Cramer-Colin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47917" /></td>
			<td>Colin Cramer
Grade: 10
Dedham MA
Height: 6'1
Weight: 158
Wingspan: 70
Reach: 92
Vertical: 19</td>
			<td>Great team player
Colin is a great passer and unselfish player. He makes good decisions with the ball! 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Cramer-Ned-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47918" /></td>
			<td>Ned Cramer
Grade:	9
Dedham MA
Height:6'4
Weight: 199
Wingspan: 76
Reach: 89
Vertical:28</td>
			<td>Smarts and physicality
Ned has good size and is a hard worker. He showed the ability to finish down low when opportunities presented themselves. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Cross-Nick-e1395848913797-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47919" /></td>
			<td>Nick Cross
Grade: 11
Beverly MA
Height: 6'4
Weight: 192
Wingspan: 77
Reach: 99
Vertical: 23</td>
			<td>athleticism and passing
Nick has a solid handle and makes good decisions with the basketball. His long arms and quick feet make him a threat in transition.

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Daez-Marvin-e1395849201270-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47920" /></td>
			<td>Marvin Daez
Grade:	12
home
Height: 6'0
Weight:
Wingspan:
Reach:
Vertical:</td>
			<td>Ball handling and aggressive style
Marvin can really defend. Nice ability to slash to the rim. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/David-Chris-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47921" /></td>
			<td>Chris David
Grade:	9
Somerville MA
Height: 6'0
Weight: 170
Wingspan: 74
Reach: 92
Vertical:23</td>
			<td>D and toughness
Chris brought high energy on every possession. Pursued boards well and found open teammates routinely. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Davis-Patrick-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47922" /></td>
			<td>Patrick Davis
Grade: 11	
Lynnfield MA
Height: 6'4
Weight: 203
Wingspan: 76
Reach: 96
Vertical: 25</td>
			<td>shooting and court awareness
Patrick knows how to find shots for himself. He plays unselfishly and shoots it well. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Delarosa-Alex-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47923" /></td>
			<td>Alex Delarosa
Grade:	9
Medford MA
Height: 5'11
Weight: 159
Wingspan: 72
Reach: 93
Vertical: 22</td>
			<td>Ball handling and court vision
Alex is a young kid who has a high ceiling. He was unselfish but also showed the ability to score in transition when the opportunity was there. His work ethic was remarkable. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Deneus-Fredens-e1395849332255-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47924" /></td>
			<td>Fredens Deneus
Grade:	12
Cambridge MA
Height: 6'7
Weight: 206
Wingspan: 82
Reach: 102
Vertical: 29</td>
			<td>athleticism and boards
Fredens is very athletic with a natural ability to rebound the ball. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Digrande-Eli-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47925" /></td>
			<td>Eli Digrande
Grade:	10
Essex Jct VT
Height: 6'3
Weight: 171
Wingspan: 79
Reach: 99
Vertical: 27</td>
			<td>Fights for boards
Eli positions himself well for the rebound. Ability to find open guys on the floor. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Dilauro-Mark-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47926" /></td>
			<td>Mark Dilauro
Grade:	11
North Branford CT
Height: 6'4
Weight: 181
Wingspan: 74
Reach: 94
Vertical: 29</td>
			<td>Shooting and toughness
Mark shoots the ball well. Good toughness and rebounds the ball! 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Driscoll-Dante-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47927" /></td>
			<td>Dante Driscoll
Grade: 11
Cambridge MA
Height: 6'2
Weight: 174
Wingspan: 75
Reach: 94
Vertical: 29</td>
			<td>Smarts and leadership
Dante was very vocal all afternoon and has a big upside. He understands the game and how it needs to be played to order to win. His ball handling fundamentals are solid as well. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Dunn-Tyler-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47928" /></td>
			<td>Tyler Dunn
Grade:	10
Rocky Hill CT
Height: 6'3
Weight:155
Wingspan: 77
Reach:99
Vertical: 23</td>
			<td>Shoots the 3
Tyler can really hit the 3.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Elezovic-Armin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47929" /></td>
			<td>Armin Elezovic
Grade:	11
Burlington VT
Height: 5'10
Weight: 177
Wingspan: 71
Reach: 91
Vertical: 25</td>
			<td>Defense and jump shot
Armin is aggressive on defense and has a good mid-range jump shot. He's at his best when attacking the hoop. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Elgart-Maxwell-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47930" /></td>
			<td>Maxwell Elgart
Grade:	10
Chelsea MA
Height: 6'0
Weight:178
Wingspan: 76
Reach: 96
Vertical: 27</td>
			<td>Active and plays hard
This player is aggressive and runs the floor well. Shows a good mid-range jumper both off the catch and also off the dribble. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Fontaine-Isaiah-e1395849530187-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47931" /></td>
			<td>Isaiah Fontaine
Grade:	11
Chelsea MA
Height: 6'7
Weight: 165
Wingspan: 81
Reach: 103
Vertical:</td>
			<td>defense and athleticism
Isaiah is very long and athletic and uses his body to be everywhere against an offense. He's a very good rim protector and knows how to get his teammates involved. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Forcier-Cyrus-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47932" /></td>
			<td>Cyrus Forcier
Grade:	9
Nashua NH
Height: 5'3
Weight: 107
Wingspan: 67
Reach: 85
Vertical:23</td>
			<td>Passing and court vision
Cyrus is an unselfish point guard who always found the open man. His basketball IQ and ball handling skills are also very good. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Fortt-Omar-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47933" /></td>
			<td>Omar Fortt
Grade: 9
Stamford CT 
Height: 5'11
Weight: 161
Wingspan: 76
Reach: 95
Vertical: 22</td>
			<td>Athleticism and control
Omar plays the game at a smooth pace. Doesn't force anything. Best when attacking the hoop and has range out to the three-point line. Quick first step! 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Fuad-Karim-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47934" /></td>
			<td>Karim Faud
Grade:	11
South Burlington VT
Height: 6'0
Weight: 152
Wingspan: 74
Reach: 92
Vertical: 24</td>
			<td>Ball handling and court vision
Karim demonstrated good court vision and ball handling skills throughout the workouts. He has a good feel for the game and how to handle the basketball. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Gaudette-Alex-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47935" /></td>
			<td>Alex Gaudette
Grade:	9
Mount Vernon NH
Height: 6'4
Weight: 244
Wingspan: 76
Reach: 99
Vertical: 19</td>
			<td>size and strength
Alex works hard and stays active to compete against older players. Uses size and strength to rebound and score well in the post. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Giese-Marcus-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47936" /></td>
			<td>Marcus Giese
Grade:	11
Franklin MA
Height: 6'7
Weight: 180
Wingspan: 85
Reach: 104
Vertical: 28</td>
			<td>Boards and blocks
Marcus gets the rebound and can shut down a shot. Has potential as a big man. Able to change game defensively w/ length in the paint. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Giroux-Matt-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47937" /></td>
			<td>Matt Giroux
Grade:	9
Concord NH
Height:
Weight: 152
Wingspan: 73
Reach: 90
Vertical: 22</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Glassman-Matthew-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47938" /></td>
			<td>Matthew Glassman
Grade: 10	
Bedford NH
Height: 5'8
Weight: 137
Wingspan: 70
Reach: 88
Vertical: 23</td>
			<td>Runs team and handles well 
Smart floor general, tight handle. Sees teammates and delivers the ball. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Gomez-Camilo-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47939" /></td>
			<td>Camilo Gomez
Grade:	11
Revere MA
Height: 5'7
Weight:
Wingspan:
Reach:
Vertical:</td>
			<td>Defense and mid-range shot
Camilo is a small guard who is most effective in transition. He moves well without the ball and likes to set his teammates up for open shots. He is also a good on the ball defender.

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Goodridge-Akhari-e1395850116944-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47940" /></td>
			<td>Akhari Goodridge
Grade:	9
Cambridge MA
Height: 5'8
Weight: 155
Wingspan: 69
Reach: 87
Vertical: 31</td>
			<td>handle and quickness
Akhari is a quick point guard with solid ballhandling skills. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Grant-Brendan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47941" /></td>
			<td>Brendan Grant
Grade:	8
Cambridge MA
Height: 6'1
Weight:151
Wingspan: 75
Reach: 96
Vertical: 23</td>
			<td>Hard work and rebounds
Brendan plays with confidence despite his age and wants to be active with the basketball. He can shoot from three point range and knows how to score. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Grant-Mark-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47942" /></td>
			<td>Mark Grant
Grade:	11
Cambridge MA
Height: 5'9
Weight: 163
Wingspan: 68
Reach: 89
Vertical: 21</td>
			<td>Shooting and toughness
Mark is a hard-nosed guard who displays toughness and a willingness to defend. 


</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Habtom-Nathan-e1395850230945-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47943" /></td>
			<td>Nathan Habtom
Grade:	9
Cambridge MA
Height: 6'3
Weight: 156
Wingspan: 76
Reach: 97
Vertical: 25</td>
			<td>Athletic and attacks hoop
Nathan is a good athlete who finishes at the rim consistently. Good handle! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hale-Nate-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47944" /></td>
			<td>Nate Hale
Grade:	10
Nashua NH
Height: 6'3
Weight: 159
Wingspan: 76
Reach: 96
Vertical: 27</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hanley-Sam-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47945" /></td>
			<td>Sam Hanley
Grade:	9
Providence RI
Height: 5'9
Weight: 141
Wingspan: 68
Reach: 86
Vertical: 23</td>
			<td>Court vision and generosity
Sam is an unselfish player with a high IQ who finds his teammates. He knows the game and makes others better players. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hodge-Tayvon-e1395850319896-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47946" /></td>
			<td>Tayvon Hodge
Grade:	11
Springfield MA
Height: 5'9
Weight: 146
Wingspan: 72
Reach: 91
Vertical: 26</td>
			<td>Boards and ballhandling
Tayvon attacked the rim all afternoon and used his athleticism to keep the ball moving. He plays within himself and trusts his teammates.
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Holloway-Davonte-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47947" /></td>
			<td>Davonte Holloway
Grade:	12
Height: 6'3
Weight:
Wingspan:
Reach:
Vertical:</td>
			<td>Strength and physicality
Davonte attacked the rim offensively every chance he got. His understanding for the game and how to use his size was an advantage for his team. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hyman-Curtis-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47948" /></td>
			<td>Curtis Hyman
Grade:	12
CT
Height: 6'5
Weight: 182
Wingspan: 80
Reach: 100
Vertical: 29</td>
			<td>Rebounding and athleticism
Curtis attacks the rim and goes after the glass on every play. His fundamentals are sound and his athleticism helps him grab rebounds and distribute the ball. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Joas-Karlens-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47949" /></td>
			<td>Karlens Joas
Grade: 11
Malden MA
Height: 6'4
Weight:
Wingspan:
Reach:
Vertical:</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Johnson-Shamir-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47950" /></td>
			<td>Shamir Johnson
Grade:	9
Waterbury CT
Height: 6'0
Weight: 162
Wingspan: 78
Reach: 97
Vertical: 28</td>
			<td>Awareness and handle
Shamir has a quick first step and runs the floor well. He has a big upside and his skills will continue to develop as he plays high school basketball. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Jones-Janard-e1395851325203-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47951" /></td>
			<td>Janard Jones
Grade:	10
Revere MA
Height: 6'0
Weight:134
Wingspan: 74
Reach: 93
Vertical: 22</td>
			<td>Basketball smarts and work ethic
Janard played hard all afternoon and actively sought to learn at every drill. He was always willing to make the extra pass and understood how to play the game.
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Joyce-Eamon-e1395851369664-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47952" /></td>
			<td>Eamon Joyce
Grade:	11
Medford MA
Height: 6'8
Weight: 197
Wingspan: 80
Reach: 102
Vertical: 26</td>
			<td>Rebounding
Eamon has a great touch around the basket and a good mid-range jump shot. He ran the court really well and has a high ceiling. He attacked the glass on both ends of the court. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Keefer-Aiden-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47953" /></td>
			<td>Aiden Keefer
Grade: 8
Cambridge MA
Height: 5'10
Weight: 137
Wingspan: 73
Reach: 91
Vertical: 27</td>
			<td>Rebounding
Aiden sees the floor and handles well. Playing against older peers didn't intimidate him, as he only gained confidence and momentum throughout the day. He is crafty and the quintessential gym rat. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Kimball-Josiah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47954" /></td>
			<td>Josiah Kimball
Grade:	11
Barnet VT
Height: 6'5
Weight: 209
Wingspan: 78
Reach: 98
Vertical: 31</td>
			<td>Athleticism and IQ
Josiah can handle the ball and has very good court vision. His size makes him a threat around the basket on both ends of the court. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Kirby-Kasey-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47955" /></td>
			<td>Kasey Kirby
Grade:	11
Dedham MA
Height: 6'3
Weight: 191
Wingspan: 77
Reach: 99
Vertical: 25</td>
			<td>Shoots and hustles
Kasey will knock down the open 3. He is a hustle guy that makes the extra effort for the rebound! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lomax-Yeshaya-e1395851475627-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47956" /></td>
			<td>Yeshaya Lomax
Grade:	11
Hyde Park MA
Height: 6'0
Weight: 208
Wingspan: 75
Reach: 93
Vertical:</td>
			<td>Handle and strength
Yeshaya has great strength and ballhandling skills. Good body control as well. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lopez-Ferran-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47957" /></td>
			<td>Ferran Lopez
Grade: 11
Colchester VT
Height: 6'2
Weight: 170
Wingspan: 75
Reach: 95
Vertical: 23</td>
			<td>Playmaker
Ferran offers ballhandling and the ability to create the play. Solid jumper as well. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lord-Kevawn-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47958" /></td>
			<td>Kevawn Lord
Grade: 12
West Springfield MA
Height: 6'3
Weight: 183
Wingspan: 77
Reach: 87
Vertical: 39</td>
			<td>Athletic Scorer
Kayvon can score creatively, finding various ways to do so. Finishes around the rim well. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ludwig-Dustin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47959" /></td>
			<td>Dustin Ludwig
Grade: 10
Woburn MA
Height: 6'2
Weight: 165
Wingspan: 73
Reach: 95
Vertical: 18</td>
			<td>Great teammate no turnovers
Dustin doesn't make mistakes and does a great job of setting up open teammates. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Mac-Sashin-Konrad-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47960" /></td>
			<td>Konrad MacSashin
Grade:	11
Oak Bluffs MA
Height: 7'2
Weight: 382
Wingspan: 89
Reach: 110
Vertical: 14</td>
			<td>Communication and Strength
Conrad set solid screens all game. Moves very well for size and is a good passer out of the post! 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Martinez-Julius-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47961" /></td>
			<td>Julius Martinez
Grade: 12
Cambridge MA
Height: 5'8
Weight: 145
Wingspan: 72
Reach: 89
Vertical:</td>
			<td>IQ and passing
Julius is very quick and has great court vision. He's a solid point guard and has a good feel for the game. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Mbayu-Jojo-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47962" /></td>
			<td>Jojo Mbayu
Grade:	10
Colchester VT
Height: 5'10
Weight: 160
Wingspan: 73
Reach: 91
Vertical: 28</td>
			<td>Ballhandling and aggressiveness
Jojo handles the ball well and plays with toughness. Great upside. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/McDermott-Miles-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47963" /></td>
			<td>Miles McDermott
Grade:	11
Milton MA
Height: 6'0
Weight: 157
Wingspan: 78
Reach: 97
Vertical: 26</td>
			<td>Athlete and quick to the hoop
Miles plays aggressively coast-to-coast and is a good athlete who is best getting into the lane and pulling up for the short-range J. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/McGraw-Joe-e1395851796868-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47964" /></td>
			<td>Joe McGraw
Grade:	9
Manchester NH
Height: 6'7
Weight: 165
Wingspan: 81
Reach: 103
Vertical: 20</td>
			<td>Work ethic and rebounding
Joe takes effective shots without getting blocks. He always finds a body once the ball goes up and attacks the boards. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/McLeod-Isaiah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47965" /></td>
			<td>Isaiah McLeod
Grade:	11
Cambridge MA
Height: 6'0
Weight: 161
Wingspan: 76
Reach: 97
Vertical: 28</td>
			<td>Playmaker
Isiah can create the play. Very tough with a willingness to be in the spotlight. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/McNair-Isaiah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47966" /></td>
			<td>Isaiah McNair
Grade:	9
Groton CT
Height: 5'9
Weight: 145
Wingspan: 72
Reach: 92
Vertical: 23</td>
			<td>Quickness and ballhandling
Isiah is aggressive when attacking the offensive glass. His ball handling skills are good and will continue  to improve with the rest of his skills as he matures. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Metelus-David-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47967" /></td>
			<td>David Metelus
Grade: 10
Lynn MA
Height: 6'1
Weight: 168
Wingspan: 77
Reach: 96
Vertical: 31</td>
			<td>Athleticism/rebounder
Athletic guard/small forward. Active on the glass coast-to-coast! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Midura-Jake-e1395851912648-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47968" /></td>
			<td>Jake Midura
Grade:	10
Chicopee, MA
Height: 6'3
Weight: 185
Wingspan: 76
Reach: 96
Vertical: 25</td>
			<td>Shooting
Jake is a talkative player who always makes sure his teammates know what is going on. He has a solid stroke and can finish at the rim. He's willing to do whatever it takes to be successful.

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Mola-Jonathon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47969" /></td>
			<td>Jonathan Mola
Grade:	9
Lynn MA 
Height: 6'0
Weight: 226
Wingspan: 78
Reach: 96
Vertical: 19</td>
			<td>Active on glass
Jonathon is active on glass, offers a decent post game, and is a good rebounder. Patience and avoiding the foul will help him maximize his potential! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Morrison-Tavion-e1395851992538-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47970" /></td>
			<td>Tavion Morrison
Grade:	10
home
Height:
Weight:
Wingspan:
Reach:
Vertical:</td>
			<td>handles and passes
Player is a floor general with a good handle and sees teammates. A deliveryman for his teammates. Also has an excellent mid-range jumper off the dribble. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Moscat-Brandon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47971" /></td>
			<td>Brandon Moscat
Grade:	10
Woburn, MA
Height: 5'8
Weight: 166
Wingspan: 70
Reach: 88
Vertical: 22</td>
			<td>Speed and D
Brandon is a quick point guard with a good feel for the game. He moves his feet well on defense and always communicates with his teammates. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Mostarlic-Asmin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47972" /></td>
			<td>Asmin Mostarlic
Grade:	10
Burlington VT
Height: 6'1
Weight: 226
Wingspan: 75
Reach: 97
Vertical: 19</td>
			<td>Solid player
A shooter/scorer who moves well without the ball. Ability to score in multiple ways and understands his role on the floor! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Murdoch-Ryan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47973" /></td>
			<td>Ryan Murdoch
Grade:	10
Charlestown NH
Height: 5'9
Weight:
Wingspan:
Reach:
Vertical:</td>
			<td>Court vision
Ryan plays a well-balanced game and sees the floor well! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Nwanko-Ezinma-e1395852119861-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47974" /></td>
			<td>Ezinma Nwanko
Grade:	11
Nashua NH
Height: 6'2
Weight: 183
Wingspan: 77
Reach: 95
Vertical: 25</td>
			<td>Attacking the rim
Ezinma showed the ability to play point guard and was most effective in the open court. He played unselfishly and had a good handle. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Octavien-Kareem-e1395852172865-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47975" /></td>
			<td>Kareem Octavien
Grade:	9
hometown
Height: 5'10
Weight: 148
Wingspan: 71
Reach: 90
Vertical: 25</td>
			<td>Quickness and IQ
Kareem has a great feel for the game as an underclassman and does whatever his team needs to be successful. His upside is big as he will continue to develop his shot and handle throughout his high school career. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Onessimo-Brian-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47976" /></td>
			<td>Brian Onessimo
Grade: 12
Peabody, MA
Height: 6'1
Weight: 188
Wingspan: 75
Reach: 92
Vertical: 25</td>
			<td>Shoots the 3
Brian can shoot the three and can move to create the shot. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Palacios-Christian-e1395852243303-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47977" /></td>
			<td>Christian Palacios
Grade:	9
Revere MA
Height: 5'10
Weight: 179
Wingspan: 72
Reach: 91
Vertical: 22</td>
			<td>natural shooter
Christian is a natural shooter and active guard defensively, He is a hustler who moves well with the ball and knocks down the open shot. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Paul-Leo-e1395852338540-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47978" /></td>
			<td>Leo Paul
Grade:	10
Malden MA
Height: 5'9
Weight: 199
Wingspan: 74
Reach: 82
Vertical: 29</td>
			<td>Shooting and unselfishness
Leo plays well with teammates and has a nice shooting stroke. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Philibert-Nick-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47979" /></td>
			<td>Nick Philibert
Grade:	10
Manchester NH
Height: 
Weight:154
Wingspan: 74
Reach: 95
Vertical:24</td>
			<td>Passion and court vision
Nick sees the floor well and distributes. Definitely can shoot too! 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Pierre-Evander-e1395852427298-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47980" /></td>
			<td>Evander Pierre
Grade:	11
Saugus MA
Height: 5'11
Weight: 169
Wingspan: 72
Reach: 91
Vertical: 26</td>
			<td>Active and athletic 
Evander is a tough kid with strong fundamentals. He's active on the court and does what the team needs him to do to win.  He moves well without the ball. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Pierre-Jhonmay-e1395852473985-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47981" /></td>
			<td>Jhonmay Pierre
Grade:	11
Cambridge MA
Height: 6'2
Weight: 166
Wingspan: 75
Reach: 96
Vertical: 28</td>
			<td>Athleticism, aggressiveness, strength
Jhonmay displays great athleticism and strength. Attacks the rim with tenacity and runs the transition game well. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Poulin-Garrett-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47982" /></td>
			<td>Garrett Poulin
Grade:	11
Williamstown VT
Height: 6'0
Weight: 148
Wingspan: 67
Reach: 87
Vertical: 24</td>
			<td>Work ethic and determination
Garrett did all the little things well and wasn't afraid to do the dirty work. He looked to get teammates involved with his passing and defensive abilities. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Preston-Craig-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47983" /></td>
			<td>Craig Preston
Grade:	9
Manchester NH
Height: 5'9
Weight: 132
Wingspan: 67
Reach: 87
Vertical: 24</td>
			<td>Unselfish competitor
Craig puts the team first and competes on each play. His size will become an asset as he matures. 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Prophete-Danryon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47984" /></td>
			<td>Danryon Prophete
Grade:	10
Medford MA
Height: 5'4
Weight: 128
Wingspan: 67
Reach: 84
Vertical: 27</td>
			<td>Court vision and Passing
Danryon plays within himself and plays well with the ball in his hands. He looks to make those around him better and always searches for the open man. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Reiss-Chris-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47986" /></td>
			<td>Chris Reiss
Grade:	11
Williston, VT
Height: 6'0
Weight: 73
Wingspan: 94
Reach: 28
Vertical:</td>
			<td>Determination and drive
Chris has the ability to get to the rim. Great off the rip and go! 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Rijo-Tommy-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47988" /></td>
			<td>Tommy Rijo
Grade:	9
Lynn MA
Height: 5'9
Weight: 154
Wingspan: 73
Reach: 88
Vertical: 25</td>
			<td>Ballhandling and d
Tommy plays hard and defends especially well on the ball. Handles just as well and plays aggressively! 

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Rivers-Mike-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47989" /></td>
			<td>Mike Rivers
Grade:	10
Reading MA
Height: 6'0
Weight: 139
Wingspan: 71
Reach: 92
Vertical: 22</td>
			<td>Shooting and D
Mike can flat-out shoot! He understands defensive concepts well and sees the floor. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Rodriguez-Brandon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47990" /></td>
			<td>Brandon Rodriguez
Grade:10
Nashua NH 
Height: 5'8
Weight: 140
Wingspan: 73
Reach: 94
Vertical:23</td>
			<td>Good work, good hustle
Brandon works to push past the defender, handles well, and plays physical. He is a good athlete who uses his quickness to his advantage. Couple this with a good handle and he  has a bright future in basketball.
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Rodriguez-Joffre-e1395852735403-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47991" /></td>
			<td>Joffre Rodriguez
Grade:12
Tolland CT
Height: 5'11
Weight: 161
Wingspan: 73
Reach: 90
Vertical: 27</td>
			<td>On the ball D and Teamwork
Joffre has a good ball handle and is a solid defender. He always made the extra pass which led to easy transition points for his teammates.

</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Rymer-Daniel-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47992" /></td>
			<td>Daniel Rymer
Grade: 9
Cambridge MA
Height: 6'4
Weight: 196
Wingspan: 78
Reach: 100
Vertical: 29</td>
			<td>Athleticism and rebounding
Daniel has a good feel for the game and always gave a lot of energy. His passing abilities created opportunities for open teammates on more than once occasion. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Saddler-Nicholas-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47993" /></td>
			<td>Nick Saddler
Grade: 11
Height: 5'9
Weight:
Wingspan:
Reach:
Vertical:</td>
			<td>Work ethic and ballhandling
Nicholas is a team-first player who runs the floor well. He isn't afraid to do the dirty work and always went for the loose ball. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Sadler-Trey-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47994" /></td>
			<td>Trey Sadler
Grade:9
Manchester NH
Height: 5'8
Weight: 157
Wingspan: 75
Reach:94
Vertical: 18</td>
			<td>Handle and D
Trey handles well and knows what tough D is. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Salcedo-Jovan-e1395856498364-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47995" /></td>
			<td>Jovan Salcedo
Grade: 10
Revere, MA
Height: 5'7
Weight: 165
Wingspan:68
Reach:87
Vertical:26</td>
			<td>Speed and ballhandling
 Jovan's speed with the ball and his ability to move all over the court really stood out. His on the ball defense is good as well. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Samuels-Jermaine-e1395856549368-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47996" /></td>
			<td>Jermaine Samuels
Grade: 9	
Franklin MA
Height: 6'6
Weight: 197
Wingspan: 81
Reach:103
Vertical:29</td>
			<td>Size and scoring
Jermaine's size and scoring are advantages on the floor. Athletic and quick, he was an event star even against players older than himself. with explosive quickness to get above the rim and consistent scoring, his future on the floor is bright. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Scott-Brandon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47997" /></td>
			<td>Brandon Scott
Grade: 10
Manchester NH 
Height: 209
Weight: 78
Wingspan: 97
Reach: 25
Vertical:</td>
			<td>Rebounding and defense
Brandon is a solid post player who is comfortable fighting for rebounds. He talks on offense and makes sure that his teammates know what is going on. He's the definition of a team player. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Shehadi-Joey-e1395856623312-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47998" /></td>
			<td>Joey Shehadi
Grade: 11
Dorset VT 
Height: 5'9
Weight: 162
Wingspan: 70
Reach: 89
Vertical: 27</td>
			<td>Quickness and basketball IQ
Joey has a good feel for the game and knows how to play his role. His passing and defense skills are also good. 

 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Silva-Ronnie-e1395856681546-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47999" /></td>
			<td>Ronnie Silva
Grade: 9 
Nashua NH
Height: 5'5
Weight: 120
Wingspan: 65
Reach: 89
Vertical: 25</td>
			<td>Court vision
Ronnie held his own against the older kids who were taller and more experienced than him. His court vision helped him get the ball to the open teammate.
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/St.-Laurent-Michael-e1395856754432-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48001" /></td>
			<td>Michael St. Laurent
Grade:10
Worcester MA
Height: 6'8
Weight: 163
Wingspan: 77
Reach: 101
Vertical:22 </td>
			<td>Accurate mid-range J
 Mike showed a good mid-range jumper and uses his advantageous length to rebound coast-to-coast. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Stanley-Hunter-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48002" /></td>
			<td>Hunter Stanley
Grade: 10	
Newport, VT 
Height: 6'1
Weight: 169
Wingspan: 75
Reach: 97
Vertical: 25</td>
			<td>Shooting and court vision 
Good shooter and a smart player with a great attitude! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Swain-Azar-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48003" /></td>
			<td>Azar Swain
Grade: 9
Stoughton MA 
Height: 5'10
Weight: 174
Wingspan: 74
Reach: 93
Vertical: 25</td>
			<td>Ballhandling and aggressivness 
Azar plays hard consistently. Gritty defender and handles it well! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Thelemaque-David-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48004" /></td>
			<td>David Thelemaque
Grade: 10
home
Height:
Weight:
Wingspan:
Reach:
Vertical:</td>
			<td>Strong and good handler
David showed great consistency. He does a little bit of everything. He will only get better as he incorporates strength and conditioning into his workouts! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Twohig-Benjamin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48005" /></td>
			<td>Benjamin Twohig
Grade: 11
Brockton, MA
Height: 6'4
Weight: 214
Wingspan: 75
Reach: 97
Vertical:18</td>
			<td>Size and Bball IQ
Ben uses his size to defend and go after rebounds. He's a glue guy who does whatever the team needs him to do to win. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Vainqueur-Arnold-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48006" /></td>
			<td>Arnold Vainqueur
Grade:	11
Winooski VT 
Height: 6'0
Weight: 176
Wingspan: 74
Reach: 91
Vertical: 27</td>
			<td>Athleticism and rebounding
Arnold was most effective when attacking the rim and is a good on the ball defender. He was very active on both ends rebounding from the guard position. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Wasco-Ben-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48007" /></td>
			<td>Ben Wasco
Grade: 8
Arlington MA
Height: 6'0
Weight: 151
Wingspan: 72
Reach: 94
Vertical:22 </td>
			<td>Jump shot, team player

Ben offers a great jumper and is an unselfish player. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/West-Levi-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48008" /></td>
			<td>Levi West
Grade: 10	
Montpelier VT 
Height: 5'11
Weight: 162
Wingspan: 70
Reach: 90
Vertical: 25</td>
			<td>Unselfish player
Levi looks to create the play for teammates. He is a smart PG that finds others and is crafty to score. He has great vision and looks to make the extra pass. Understands when and where to take the shot! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Westcott-Matthew-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48009" /></td>
			<td>Matthew Westcott
Grade: 10
Derry NH
Height: 6'1
Weight: 197
Wingspan: 72
Reach: 94
Vertical: 20</td>
			<td>Strong and aggressive
Matt plays hard and uses his strength to score around the rim and works hard to rebound at both ends. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Wheeler-Dakota-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48010" /></td>
			<td>Dakota Wheeler
Grade: 10
Easthampton MA
Height: 6'4
Weight: 174
Wingspan: 79
Reach: 99
Vertical:22 </td>
			<td>Shooting and basketball IQ
Dakota is a solid player whose passing and shooting abilities were an asset to the team. He sees the court well which allowed him to distribute the ball well. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/White-Andy-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48011" /></td>
			<td>Andy White
Grade: 11
Wareham MA
Height: 6'0
Weight: 165
Wingspan: 73
Reach: 92
Vertical: 30</td>
			<td>Athletic and quick
Fast first step. Andy attacked the hoop at will! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Williams-Adrian-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48012" /></td>
			<td>Adrian Williams
Grade: 8	
Malden, MA
Height: 5'6
Weight: 128
Wingspan: 66
Reach: 85
Vertical: 23</td>
			<td>Floor general
Adrian runs the floor and is poised under pressure. A leader with a bright future! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Williams-Jr.-Chauncie-e1395857109582-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48206" /></td>
			<td>Chauncie Williams Jr.
Grade: 12
Bloomfield CT
Height: 5'11
Weight: 152
Wingspan: 74
Reach: 93
Vertical: 25</td>
			<td>Shooting and court vision
Chancie is a good shooter, especially off the bounce. Makes plays all day. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Williams-DeAndre-e1395857152686-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48013" /></td>
			<td>DeAndre Williams
Grade: 11	
Cambridge MA
Height: 6'0
Weight: 194
Wingspan: 76
Reach: 94
Vertical: 28</td>
			<td>Strong and active
One of the top defensive stoppers of the day. Used his size and aggressive nature to rebound and score. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Wise-Tyron-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48014" /></td>
			<td>Tyron Wise
Grade: 9	
Cambridge MA
Height: 5'9
Weight: 160
Wingspan: 75
Reach: 94
Vertical: 22</td>
			<td>Vision and transition game
Tyron is at his best in the open floor. His ball handling skills and speed in transition are what makes his upside so big.
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Woodson-Demitrius-e1395857217830-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48015" /></td>
			<td>Demitrius Woodson
Grade: 11
Cambridge MA
Height: 5'10
Weight: 163
Wingspan: 71
Reach: 91
Vertical:21</td>
			<td>Shooter off the dribble
This guard runs the offense. Good sense of spacing the floor and a capable shooter when open! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Wright-Niels-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48016" /></td>
			<td>Niels Wright
Grade: 9	
Cambridge MA
Height: 6'2
Weight: 169
Wingspan: 76
Reach: 98
Vertical: 23</td>
			<td>Athleticism and basketball IQ
Niels is an athletic big with good foot work. He has a soft touch and is a good passer. His rebounding and defensive stance are good as well. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Zidor-Theo-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48017" /></td>
			<td>Theo Zidor
Grade: 9	
Everett MA
Height: 6'4
Weight: 191
Wingspan: 82
Reach: 102
Vertical: 24</td>
			<td>Athletic and runs floor well 
Rebounds well, and does a great job staying atop the man he was guarding in addition to athleticism. </td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Tevin Charles
Grade: 11
Cambridge, MA
Height: 6'0"
Weight: 206
Wingspan: 73
Reach: 94
Vertical: 31</td>
			<td>Strong and shoots well 
One of the day's stronger shooters. Can power to the basket and score. Plays hard! </td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Manasseh Delpe
Grade: 10</td>
			<td>Team player
Manasseh is a great teammate who set solid screens and was instrumental in getting teammates open for shots. </td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Fernandes Felix
Grade: 10
Somerville, MA</td>
			<td>Rebounding and jumpers
Good shooter from mid-range all the way out to the three. Heated up in the final quarter of his game. Played one game, shot well to help his team out. </td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Brendan Grant
Grade: 8
Cambridge, MA
Height: 6'1"
Weight: 151
Wingspan: 75
Reach: 96
Vertical: 23</td>
			<td>Hard Worker and Rebounding
Brendan plays with confidence despite his age and wants to be active with the basketball. He can shoot from three point range and knows how to score. </td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Sultan Olusekun
Grade: 11
Revere, MA
Height: 6'0"</td>
			<td>Ballhandling and decision making 
Sultan sees the floor extremely well and runs the point well. Always communicating with teammates!</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Jordan Scurry
Grade: 10
Attleboro, MA</td>
			<td>playmaking ability, strength
Jordan is a versatile basketball player with excellent body control when he slashes to the hoop. A natural leader! </td>
		</tr>
		<tr>
			<td>No Headshots Available</td>
			<td>Guilien Smith
Grade: 11
Brighton, MA
Height: 6'1"</td>
			<td>Defense and sees floor
Guilien is a promising defender and attacks the rim well. He definitely knows how to draw contact when he slashes. </td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
