<table>
	<thead>
		<tr>
			<th>Player Headshot</th>
			<th>Player Biography</th>
			<th>Clinic Takeaways</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Adeoso-David-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48332" /></td>
			<td>David Adeoso
Grade: 12
Height: 6'3"
Wingspan: 77
Reach: 94
Vertical: 34</td>
			<td>Boards and athleticism
Dave is a strong and athletic player who is a solid on-ball defender. He has good pull-up jumpers and is an aggressive rebounder.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Adesina-Adeolu-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48333" /></td>
			<td>Adeolu  Adesina
Grade: 12
Chester, PA
Height: 6'8"
Wingspan: 83
Reach: 103
Vertical: 28</td>
			<td>Boards and height
Adeolu uses height to his advantage on the boards. A force to be reckoned with, he can run, jump, and block shots. He finishes at the rim too! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Algenio-Timothy1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48334" /></td>
			<td>Timothy Algenio
Grade: 9
Belleville, NJ
Height: 5'10"
Wingspan: 66.5
Reach: 87
Vertical: 29</td>
			<td>Shooting and IQ
Tim is a smart player and good shooter out to the 3 range. He plays hard at all times and does a good job moving without the ball on the offensive end. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Almestica-Israel-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48335" /></td>
			<td>Isreal Almestica
Grade: 10
Toms River, NJ
Height: 6'4"
Wingspan: 78.5
Reach: 98
Vertical: 25</td>
			<td>Defense and Rebounding
Isreal is a strong, physical kid with solid post moves. The closer he is to the basket the better he is. He uses his strength in the paint to his advantage. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Alvarez-Travis-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48336" /></td>
			<td>Travis Alvarez
Grade: 10
Keyport, NJ
Height: 6'5"
Wingspan: 77.5
Reach: 99
Vertical: 30</td>
			<td>Passing, boards
Travis is a very good big man with big hands and passes well. He grabs boards and offers intelligence throughout a game! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bakic-Nedzad-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48337" /></td>
			<td>Nedzad Bakic
Grade: 11
Garfield, NJ
Height: 6'0"
Wingspan: 72
Reach: 91
Vertical: 28</td>
			<td>Smart shooter
Nedzad is very smart, shoots, handles, and passes without a weakness. He has range on his 3 and is a force to be reckoned with on the floor! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Barksdale-Sean-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48338" /></td>
			<td>Sean Barksdale
Grade: 10
Lakewood, NJ
Height: 6'5"
Wingspan: 79.5
Reach: 99
Vertical: 25</td>
			<td>Athleticism and boards
Sean is a long and athletic player who is aggressive on the boards. He plays with good court vision and awareness, making plays for teammates out of the post. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Barned-Elijah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48339" /></td>
			<td>Elijah Barnes
Grade: 9
Wingspan: 80
Reach: 98
Vertical:30</td>
			<td>Shoots and handles
Elijah grabs boards and is athletic. Not afraid to drive to the basket, he has good all-around skills and jumping ability as well! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bascara-Dan1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48340" /></td>
			<td>Dan Bascara
Grade: 11
Perrineville, NJ
Height: 6'1"
Wingspan: 73
Reach: 93
Vertical: 28</td>
			<td>Strength and Ball Handling
Dan handles the ball well. He is always willing to sacrifice his body in physical play to get the open rebound. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Basket-Luke1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48341" /></td>
			<td>Luke Basket
Grade: 12
Oak Ridge, NJ
Height: 5'11"
Wingspan: 67
Reach: 88
Vertical: 30</td>
			<td>Handle and court vision
Luke is a solid ballhandler who looks to make the play for teammates. He plays hard and hustles at all times! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Benbow-Amadu-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48342" /></td>
			<td>Amadu Benbow
Grade: 9
Newark, NJ
Height: 6' 2"
Wingspan: 75
Reach: 95 
Vertical: 28</td>
			<td>Athleticism and D
Amadu plays with toughness and displays good athleticism. He has solid ballhandling ability! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Blackson-Muhammad-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48343" /></td>
			<td>Muhammad Blackson
Grade: 9
Camden, NJ
Height: 5'4" 
Wingspan: 64
Reach: 83
Vertical: 30</td>
			<td>Quick 
Muhammad is a quick waterbug who makes his way to the rim, He gets his teammates involved and penetrates the gap. He is very quick on defense too! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Brundage-III-Ron-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48344" /></td>
			<td>Ron Brundage
Grade: 11 
Glen Mills, PA
Height: 6'2"
Wingspan: 73
Reach: 93
Vertical:27</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Brutus-Yuri-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48345" /></td>
			<td>Yuri Brutus
Grade: 11
Roselle Park, NJ
Height: 6'4"
Wingspan: 79 
Reach: 97</td>
			<td>Rebounding
Yuri is a strong rebounder who uses his body well around the rim. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Buell-Kenny1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48346" /></td>
			<td>Kenny Buell
Grade: 10
Toms River, NJ
Height: 5'11"</td>
			<td>Ball Handling and Passing
Kenny moves well without the ball and is always ready to shoot off the catch. He keeps his teammates involved and is a good communicator. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Byer-Richard-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48347" /></td>
			<td>Richard Byer
Grade: 11
New York, NY
Height: 5'8"
Wingspan: 74
Reach: 93
Vertical: 26</td>
			<td>Athletic Ball Handler
Richard has a quick and unselfish playing style. He's always willing to make an extra pass for his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Canlon-Gaige-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48348" /></td>
			<td>Gaige Canlon
Grade: 11
Height: 5'10"
Wingspan: 64
Reach: 83 
Vertical: 33</td>
			<td>Shooting and smarts
Gaige proves he can handle pressure time and time again. He moves well without the ball and will hit an open shot when presented with the opportunity. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Cheng-Chris-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48349" /></td>
			<td>Chris Cheng
Grade: 9
Randolph, NJ
Height: 6'1"
Wingspan: 73
Reach: 91
Vertical: 31</td>
			<td>Shooting and Off-the-Ball Movement
Chris shoots it well. He knows how to use ball screens effectively and plays with good game awareness. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Clark-Json-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48350" /></td>
			<td>J'Son Clark
Grade: 11
Jackson, NJ
Height: 5'5"
Wingspan: 64
Reach: 88
Vertical: 29</td>
			<td>Vocal and Drives Hard
J'Son is a leader and easily played point guard for his team. He gets to the paint on drives and helps his teammates out on defense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Davis-Vincent-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48352" /></td>
			<td>Vincent Davis
Grade: 10
Egg Harbor Twp, NJ
Height: 6'0"
Wingspan: 72
Reach: 90
Vertical: 31</td>
			<td>Basketball IQ and Shooting
Vincent is very quick with the ball and has a great handle. He possesses a high basketball IQ and a great mid-range jumper. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Davis-Gemaal-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48351" /></td>
			<td>Gemaal Davis
Grade: 12
Laurelton, NY
Height: 6'4"
Wingspan: 77.5
Reach: 96
Vertical: 36</td>
			<td>Unselfish Ball Handler
Gemaal always looks to score and is aggressive around the rim. He's a strong player who isn't afraid to grab for a rebound. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/DePersia-Robert-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48354" /></td>
			<td>Robert DePersia
Grade: 11
Cherry Hill, NJ
Height: 5'9"
Wingspan: 67
Reach: 84
Vertical: 29</td>
			<td>Drive and speed
Rob offers great dribble, drive and quickness. he is a very good point who can do everything, including finishing in traffic! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Depersia-Nick-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48353" /></td>
			<td>Nick DePersia
Grade: 11 
Cherry Hill, NJ
Height: 6'0"
Wingspan: 70.5
Reach: 90
Vertical: 30</td>
			<td>Basketball IQ and Shooting
Nick is a heady player who plays to his strengths. He seems to always be at the right place at the right time. His skillset is solid and upside is bright. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Dervishas-Brad-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48355" /></td>
			<td>Brad Dervishaj
Grade: 8
Sayreville, NJ
Wingspan: 74.5
Reach: 94
Vertical: 25</td>
			<td>Shooting and Passing
Brad is a young player with a great upside. He shoots well when open and doesn't force anything when he's not. His basketball IQ is great for such a young player.   </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Diawara-Hassan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48356" /></td>
			<td>Hassan Diawara
Grade: 10
Lakewood, NJ
Height: 6'2"
Wingspan: 75
Reach: 93
Vertical: 31</td>
			<td>Court vision
Hassan is a tremendous playmaker with good handle and court vision. He utilizes his length and athleticism to finish in traffic! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Dickerson-Travis-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48495" /></td>
			<td>Travis Dickerson
Grade: 12
Amityville, NY
Height: 6'3"
Wingspan: 82
Reach: 98
Vertical: 29</td>
			<td>Slashing and athleticism
Travis excels at slashing to the rim and using his athleticism to his advantage. He displays a nice mid-range pull-up and solid handle. He has a nice long athletic build! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Dan Dohery
Grade: 11
Fanwood, NJ
Height: 5'10"
Wingspan: 68.5
Reach: 88
Vertical: 30</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ellington-Tony-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48358" /></td>
			<td>Tony Ellington
Grade: 11
Hainesport, NJ
Height: 5'10"
Wingspan: 73
Reach: 92
Vertical: 30</td>
			<td>Floor General
Tony gets assists, creates for himself, and also others when he drives. He is a point and floor general that works off of screens to find the open man. Plays D with great anticipation and can run the offense! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Evans-John-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48359" /></td>
			<td>John Evans
Grade: 9
Height: 5'10"
Wingspan: 66
Reach: 85
Vertical: 26</td>
			<td>Ball Handling and Passing
John is a fierce scorer who is always on the attack. He's a solid ball handler with the ability to get teammates open. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Figueroa-Victor-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48360" /></td>
			<td>Victor Figueroa
Grade: 10
Lakewood, NJ
Height: 5'6"
Wingspan: 64
Vertical:18</td>
			<td>Ballhandle
Vic offers handle and lateral quickness. He's a good facilitator and scrappy defender, making him an asset to any squad! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Flood-Aaron-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48361" /></td>
			<td>Aaron Flood
Grade: 11 
Newark, NJ
Height: 6'2"
Wingspan: 75.5
Reach: 96
Vertical: 26</td>
			<td>Hustles and Tough
Aaron has a good feel for the game and plays within himself. He's a team player who looks to make the extra pass. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Gibson-Luke-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48363" /></td>
			<td>Luke Gibson
Grade: 10
Marlton, NJ
Height: 5'10"
Wingspan: 69
Reach: 89
Vertical: 27</td>
			<td>Decision Making and Screen Setting
Luke is always moving and setting screens. He plays his role well and moves well without the ball in his hands. He's a spot up shooter and also knows when to make the extra pass. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Gibson-Grant-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48362" /></td>
			<td>Grant Gibson
Grade: 10
Marlton, NJ
Height: 6'5"</td>
			<td>Rebounding and toughness
Grant plays hard and knows the value of unselfish play. He grabs boards and defends well! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Gillespie-Malcolm-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48364" /></td>
			<td>Malcolm Gillespie
Grade: 10 
Height: 5'9"
Wingspan: 71
Reach: 89
Vertical: 33</td>
			<td>Ballhandling and athleticism
Malcolm is an athletic defender with quick hands and good lateral quickness. He's a good handle who's always on the attack! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Grant-Maynard1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48365" /></td>
			<td>Maynard Grant
Grade: Prep 
Jamaica, NY
Height: 6'4"</td>
			<td>Aggressive Rebounder
Maynard is a tough basketball player who does whatever his team needs to be successful. He's a good athlete with a strong lower body. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Green-Sanders1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48366" /></td>
			<td>Sanders Green
Grade: Prep
Paterson, NJ
Height: 6'3"</td>
			<td>Rebounding and Toughness
Sanders is aggressive around the basket and shoots well from mid-range. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Heck-Jordan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48368" /></td>
			<td>Jordan Heck
Grade: 9
Shamong, NJ
Height: 5'6"
Wingspan: 69
Reach: 84
Vertical: 34</td>
			<td>D and toughness
Jordan is a solid player that makes solid decisions. He shoots it well. Lots of upside! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Henry-Maurice-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48369" /></td>
			<td>Maurice Henry
Grade: 11
Chester, PA
Height: 6'6"
Wingspan: 83
Reach: 103
Vertical: 32</td>
			<td>Strength and Rebounding
Maurice runs the floor hard and is a big body in the paint. He isn't shy about throwing his weight around to grab an open rebound.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hill-Robert-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48370" /></td>
			<td>Robert Hill
Grade: 10
Brick, NJ
Wingspan: 68.5
Reach: 91
Vertical: 25</td>
			<td>Handle and passing
Rob is a 2-man who can do a little of everything! Offers handle, passing, and D. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Holloway-Jamal-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48371" /></td>
			<td>Jamal Holloway
Grade: 10
Camden, NJ
Height: 6'4"
Wingspan: 80
Reach: 97
Vertical: 33</td>
			<td>Drives to the basket
Jamal is a very good swing who does most jobs very well. He's a good passer who understands the game and drives to the rim for a strong finish!  </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hroncich-Ian-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48372" /></td>
			<td>Ian Hroncich
Grade: 11</td>
			<td>Passing and Basketball IQ
Ian has a high basketball IQ. He finds his teammates and makes the right pass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hubbard-Evan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48373" /></td>
			<td>Evan Hubbard
Grade: 12
Neptune, NJ
Height: 6'5"
Wingspan: 84
Reach: 101
Vertical: 31</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hutt-Kurtis-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48374" /></td>
			<td>Kurtis Huff
Grade: 9
Deptford, NJ
Height: 6'1"
Wingspan: 79
Reach: 93
Vertical: 21</td>
			<td>Communication and Athleticism
Kurtis digs in on offense and uses his body to make space. He constantly talked on both ends of the court and directed traffic for his teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ivory-Ijavion-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48375" /></td>
			<td>Ijavion Ivory
Grade: 10
Brown Mills, NJ
Height: 6'3"
Wingspan: 78
Reach: 95
Vertical: 30</td>
			<td>Aggressive Passer and Rebounder
Ijavion utilizes his athleticism very well to score from mid-range and in. He's an aggressive rebounder on both ends of the floor. His court vision and willingness to pass is commendable too. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Jensen-Deven-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48376" /></td>
			<td>Deven Jensen
Grade: 9
Brielle, NJ
Wingspan: 76
Reach: 95
Vertical: 23</td>
			<td>Shooting and Basketball IQ
Deven is a good shooter who makes good decisions and has a good range on his jump shot. He makes sound decisions with the ball and makes sure his teammates are involved. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Johnson-TyRae-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48378" /></td>
			<td>TyRae Johnson
Grade: 10
Brown Mills, NJ
Height: 5'11"</td>
			<td>Quickness and Shooting Range
TyRae is a very good defender on the ball. As the point guard he controls the tempo well and acts like a coach on the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Drew Johnson
Grade: 12
Neptune, NJ
Height: 6'2"</td>
			<td>Drew is a strong rebounder who plays with a lot of energy. He's a tough player who is constantly moving around the court to create opportunities. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Johnson-Nate-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48377" /></td>
			<td>Nathaniel Johnson IV
Grade: 11
Linden, NJ
Height: 5'10"
Wingspan: 71
Reach: 89
Vertical: 28</td>
			<td>Quickness and Basketball IQ
Nate displays good quickness and the ability to fend off pressure. His handles are tight. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Jones-Josh-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48379" /></td>
			<td>Josh Jones
Grade: 9
Height: 5'7"
Wingspan: 66
Vertical: 29</td>
			<td>Shooting
Josh has good court vision and is a pest on the offensive end of the court. He plays hard and is a scrappy player willing to do the dirty work to be successful. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Joyner-Idris-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48380" /></td>
			<td>Idris Joyner
Grade: 10
Plainfield, NJ
Height: 6'4"
Wingspan: 80
Reach: 100
Vertical: 50</td>
			<td>Finishes well
Idris is strong and athletic with the ability to attack the rim and finish through contact. He's an aggressive rebounder and defender! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Kiernan-Bobby-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48381" /></td>
			<td>Bobby Kiernan
Grade: 10
Pittsburgh, PA
Height: 6'4"
Wingspan: 73
Reach: 94
Vertical: 32</td>
			<td>Defense and Rebounding
Bobby's undersized in the post but because he works hard for positioning on the block he is able to take advantage of his defender frequently. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Krotulis-Johnpatrick-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48382" /></td>
			<td>JohnPatrick Krotulis
Grade: 10
Belmar, NJ
Height: 6'7"
Wingspan: 80
Reach: 98
Vertical: 28</td>
			<td>Solid Ball Screens and Post Moves
JohnPatrick protects the paint very well on the defensive end. He hits the glass hard and communicates with teammates well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lackey-Jordan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48383" /></td>
			<td>Jordan Lackey
Grade: 12
South Plainfield, NJ
Height: 6'5"
Wingspan: 80
Reach: 96
Vertical: 33</td>
			<td>Athletic Rebounder
Jordan is an aggressive rebounder who dominates the glass. He plays hard at all times with a great competitive spirit. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Landolfi-Miles-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48384" /></td>
			<td>Miles Landolfi
Grade: 11
Ringwood, NJ
Height: 6'1"
Wingspan: 72
Reach: 93
Vertical: 29</td>
			<td>Great Driver and Ball Handles
Miles plays hard on both ends of the court and plays north and south. His handles are tight and never takes a play off. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lassiter-Veon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48385" /></td>
			<td>Veon Lassiter
Grade: 12
Linden, NJ
Height: 6'6"
Wingspan: 79
Reach: 100
Vertical: 31</td>
			<td>Athleticism and D
Veon displays great athleticism. He shows some promise on the offensive end as well as he finishes with both hands around the basket! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lawrence-Ryan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48386" /></td>
			<td>Ryan Lawrence
Grade: 11
Lakewood, NJ
Height: 6'3"
Wingspan: 78
Reach: 94
Vertical: 29</td>
			<td>Hustles and Finishes at the Rim
Ryan has a high motor and moves well from side to side. He plays defense hard and gets physical in the paint. On offense, he gets to the rim with ease and finishes at the rim with ease. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lawson-Jovan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48387" /></td>
			<td>Jovan Lawson
Grade: Prep
Coconut Creek, FL
Height: 6'4"
Wingspan: 78
Reach: 97
Vertical: 27</td>
			<td>Dribbles and passes
Jovan is a nice swing with multiple weapons in his arsenal. The game comes easy to him and he is an excellent passer and ballhandler! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lebrun-Jean-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48388" /></td>
			<td>Jean Lebrun
Grade: 10
Height: 6'7"
Wingspan: 82
Reach: 102
Vertical: 35</td>
			<td>Shot Blocking and Rebounding
Jean is along athlete who will get in the way of an opponent's shot. He's a good rim protector and uses his length to do so. His upside is great.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lee-Aaron-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48389" /></td>
			<td>Aaron Lee
Grade: 10
Fanwood, NJ
Height: 5'9"
Wingspan: 70
Reach: 89
Vertical: 28</td>
			<td>Dribbles, passes and defends
Nice point who can run your team and does everything well! Intelligent player as well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lee-Jason-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48390" /></td>
			<td>Jason Lee
Grade: 9
Jersey City, NJ
Height: 5'10"
Wingspan: 73
Reach: 92
Vertical: 28</td>
			<td>Basketball IQ and Ball Handling
Jason spaces the floor well and is always on the right spot defensively. He has good ball handling ability. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Leonard-Sean-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48391" /></td>
			<td>Sean Leonard
Grade: 9
Wingspan: 70
Reach: 87
Vertical: 30</td>
			<td>Solid Handle, Attacks the Rim
Sean plays within himself and controls the tempo of the game. He creates chances for others very well by always making the extra pass. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lewis-Robert-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48392" /></td>
			<td>Robert Lewis
Grade: 12
Scotch Plains, NJ
Height: 6'5"
Wingspan: 80
Reach: 99
Vertical: 29</td>
			<td>Shot Blocker and Finishes Hard
Robert rebounds great and is an explosive leader. He's an athletic big man who can alter shots in the paint. He has strong offensive moves and uses his size to his advantage. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lofton-Kyle-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48393" /></td>
			<td>Kyle Lofton
Grade: 9
Hillside, NJ
Height: 5'10"
Wingspan: 70
Reach: 88
Vertical: 30</td>
			<td>Shooting and Passing
Kyle has a nice set shot and a quick release. He tries to get others open and has a good understanding for the game. He's a solid point guard. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Long-Quintay-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48394" /></td>
			<td>Quintay Long
Grade: 10
Height: 6'5"
Wingspan: 80
Reach: 100
Vertical: 24</td>
			<td>Rebounding and Toughness
Quintay plays the game with energy and passion. He is always up for a challenge on the defensive end.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Mak-Kyle-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48395" /></td>
			<td>Kyle Mak
Grade: 10
Port Chester, NY
Height: 6'0"
Wingspan: 74
Reach: 92
Vertical: 27</td>
			<td>Playmaker
Kyle is a nice shooter with the ability to make the play happen. He sees the floor and is an asset to any team! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Manso-Michael-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48396" /></td>
			<td>Michael Manso
Grade: 11
Brick, NJ
Height: 5'7"
Wingspan: 61
Reach: 82
Vertical: 30</td>
			<td>Passing and Attitude 
Michael is a pass first point guard who finds people. He has a good quickness which helps him get into the lane. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Marinaccio-Patrick-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48397" /></td>
			<td>Patrick Marinaccio
Grade: 10
Toms River, NJ
Height: 5'11"
Wingspan: 72
Reach: 91
Vertical: 33</td>
			<td>Dribble, pass, shoot
Pat is a very good all-around 2 man who can do a little of everything. He has a high-energy motor and is an asset to any team! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Martinez-Jose-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48398" /></td>
			<td>Jose Martinez
Grade: 10
New York, NY
Height: 6'9"
Wingspan: 78
Reach: 101
Vertical: 29</td>
			<td>Long and athletic
Jose has length and athleticism,a soft touch and good hands. He has a tremendous all-around skill set, runs the floor well and is aggressive to the glass on both ends. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Mcclendon-Olin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48399" /></td>
			<td>Olin McClendon
Grade: 10
Cherry Hill, NJ
Height: 5'10"
Wingspan: 70
Reach: 90
Vertical: 28</td>
			<td>Ball Handling and Defense
Olin is an aggressive defender with very good speed and awareness. He's also a good ball handler who looks to make the extra pass. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/McGuire-Jack-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48400" /></td>
			<td>Jack McGuire
Grade: 10
Brielle, NJ
Height: 6'5"
Wingspan: 78
Reach: 100
Vertical: 29</td>
			<td>Good Size and Decision Making Abilities
Jack knows the game and tends to make the right play. He's a team player with good size and doesn't try to do anything outside of what the team needs. He looks to help the helper. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/McLeary-Marcus-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48401" /></td>
			<td>Marcus McLairy
Grade: 9
Height: 6'3"</td>
			<td>Transition Game
Marcus runs the floor well and uses his athleticism to finish at the rim. He plays passing lanes extremely well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Mcnelis-Sam-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48402" /></td>
			<td>Sam McNelis
Grade: 9
Medford, NJ
Height: 5'7"
Wingspan: 67
Reach: 88
Vertical: 27</td>
			<td>Court Vision and Speed
Sam is a team player who does a little bit of everything to help his team win. He has a big upside as he will continue to grow and develop his basketball skills.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Mitchell-Arthur-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48403" /></td>
			<td>Arthur Mitchell
Grade: 10
Height: 6'1"
Wingspan: 80
Reach: 97
Vertical: 30</td>
			<td>Art can slash and rebounds through a crowd! He is an athlete who can crash the glass and is a natural athlete! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Montilus-Reuben1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48404" /></td>
			<td>Reuben Montilus
Grade: 9
Union, NJ
Height: 5'7"
Wingspan: 67
Reach: 87
Vertical: 28</td>
			<td>Reuben can handle and shoot, and is a very good point. He sees the floor great and shoots it well. Not afraid to drive! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Mrusek-Alex-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48405" /></td>
			<td>Alex Mrusek
Grade: 10
Red Bank, NJ
Height: 6'4"
Wingspan: 77
Reach: 97
Vertical: 28</td>
			<td>Rebounding and Solid Post Moves
Alex is a strong kid who is very comfortable on the block with his back to the basket. He's a tough competitor who makes sure his teammates know what is going on. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Mulderry-Will-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48406" /></td>
			<td>Will Mulderry
Grade: 11
Verona, NJ
Height: 6'1"
Wingspan: 74
Reach: 93
Vertical: 27</td>
			<td>Will can maneuver the court without the ball well and can use screens effectively. He sees the floor well on the offensive end and is a hard-nosed defender. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Murray-Tucker-Elijah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48407" /></td>
			<td>Elijah Murray-Tucker
Grade: 12
Plainfield, NJ
Height: 6'2"
Wingspan: 75
Reach: 95
Vertical: 34</td>
			<td>Lefty, long athletic build
Elijah is a good shooter with range to the 3 and plays with great competitive fire. An asset to any team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Nicholas-Robert-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48408" /></td>
			<td>Robert Nicholas
Grade: 9
Montclair, NJ
Wingspan: 70
Reach: 85
Vertical: 31</td>
			<td>Rob is scrappy and aggressive, as well as a solid ballhandler with good court vision. He is aggressive and always on the attack for a teammate! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Nowell-Jonathan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48409" /></td>
			<td>Jonathan Nowell
Grade: 11
Blairstown, NJ
Height: 6'5"
Wingspan: 82
Reach: 99
Vertical: 34</td>
			<td>Jonathan is aggressive and explosive to the rim on offense. He plays hard at all times and rebounds well on both ends of the court. He always makes sure his teammates are on the right track, </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Odom-Brandon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48410" /></td>
			<td>Brandon Odom
Grade: 12
Hauppauge, NY
Height: 6'3"
Wingspan: 74
Reach: 90
Vertical: 32</td>
			<td>Athletic Guard
Brandon handles the ball well for his size and creates opportunities for himself. He has great size for a guard and plays well and with body control.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Olaniyi-Elijah1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48411" /></td>
			<td>Elijah Olaniyi
Grade: 9
Newark, NJ
Height: 6'3"
Wingspan: 78
Reach: 97
Vertical: 30</td>
			<td>Athletic Rebounder
Elijah is an athletic guard who is always looking to attack on the offensive end. He's a solid defender and aggressive rebounder.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Pellerin-Christian-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48412" /></td>
			<td>Christian Pellerin
Grade: 11
Burlington, NJ
Height: 6'1"
Wingspan: 72
Reach: 91
Vertical: 27</td>
			<td>Handle and passing
Christian is a nice swing who does a lot well. He makes willing plays and offers excellent handle and passing! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Petrick-Hunter-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48413" /></td>
			<td>Hunter Petrick
Grade: 10
Toms River, NJ
Height: 5'11"
Wingspan: 68
Reach: 91
Vertical: 28</td>
			<td>Hunter is a high-energy swingman who dribbles and passes well. He enjoys playing the game and can guard 4 positions! Versatility is key with this player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Powell-Isaiah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48414" /></td>
			<td>Isaiah Powell
Grade: 12
Plainsboro, NJ
Height: 6'0"
Wingspan: 81
Reach: 95
Vertical: 35</td>
			<td>Shot and court vision
Isaiah can shoot out to the 3 and has great court vision and awareness to make plays. A true team player! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Price-Taj1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48415" /></td>
			<td>Taj Price
Grade: 11
Newark, NJ
Height: 6'7"
Wingspan: 80
Reach: 102
Vertical: 28</td>
			<td>Rebounding and Athleticism
Taj is a long athlete who runs the floor well. He goes after every rebound and uses his size to create open looks for teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Psimitis-Marcos-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48308" /></td>
			<td>Marcos Psimitis
Grade: Prep
Height: 6'4"</td>
			<td>Slashing ability and shooting
Markos is a solid player who displays a nice offensive skill set. Good upside! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ramos-Leo-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48416" /></td>
			<td>Leo Ramos
Grade: 11
Scotch Plains, NJ</td>
			<td>Slashing Defender
Leo is very solid and has deceptive athleticism. He displays excellent fundamentals and shoots with consistency. He's a nice all around player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Revilla-James-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48417" /></td>
			<td>James Revilla
Grade: 12
Height: 5'11" 
Wingspan: 70
Reach: 88
Vertical: 28</td>
			<td>Ball Handling and Shooting
James is a pass first point guard who shoots the ball well when need be. He keeps his teammates involved and is a good leader on the court. 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Rice-Michael-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48418" /></td>
			<td>Michael Rice
Grade: 10
Little Silver, NJ
Height: 5'11"
Wingspan: 68
Reach: 89
Vertical: 26</td>
			<td>Shooting and handle
Mike is a crafty point guard with great court vision and high basketball IQ. He can shoot out to the 3 and is always attacking for teammates! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ringel-Matthew-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48419" /></td>
			<td>Matthew Ringel
Grade: 11
Marlboro, NJ
Height: 6'4"
Wingspan: 80
Reach: 96
Vertical: 32</td>
			<td>Passing, inside scoring
Matt is an inside scorer with great hands. He is extremely intelligent and really knows the game and how to play it! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ringel-PJ-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48420" /></td>
			<td>PJ Ringel
Grade: 9
Marlboro, NJ
Height: 5'9"
Wingspan: 67
Reach: 88
Vertical: 29</td>
			<td>Passing and Court Vision
PJ is a good team player who will continue to develop as he plays high school basketball. He always looks to get the ball to an open teammate and creates opportunities for those around him. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/RIvera-Jason-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48421" /></td>
			<td>Jason Rivera
Grade: 11
Staten Island, NY
Height: 6'0"
Wingspan: 72
Reach: 92
Vertical: 32</td>
			<td>Handle and Defense
Jason moves well without the ball. He displays solid ballhandling skills and defends with a purpose. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Rohde-Chandler-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48422" /></td>
			<td>Chandler Rohde
Grade: 11
Franklin Lakes, NJ
Height: 6'1"
Wingspan: 70
Reach: 86
Vertical: 31</td>
			<td></td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Rosario-Kristian-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48423" /></td>
			<td>Kristian Rosario
Grade: 12
Jersey City, NJ
Height: 5'9"
Wingspan: 63
Reach: 83
Vertical: 32</td>
			<td>Passing and Basketball Smarts
Kristian is intelligent on the floor and a scrappy defender who does a good job keeping his team in front of him, He makes all the hustle plays and does the dirty work for his team. A true glue guy who holds a team together! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ross-Matt-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48424" /></td>
			<td>Matt Ross
Grade: 10
East Brunswick, NJ
Height: 5'10"
Wingspan: 70
Reach: 89
Vertical: 28</td>
			<td>Matt can shoot the open J and has work ethic. Great touch with the floater! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ruiz-Caesar-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48425" /></td>
			<td>Caesar Ruiz
Grade: 9
Height: 6'2"
Wingspan: 79
Reach: 96
Vertical: 21</td>
			<td>Caesar defends and grabs boards well. He is an inside player and asset to a squad. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Saintil-Cameron-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48426" /></td>
			<td>Cameron Saintil
Grade: 9
Piscataway, NJ
Height: 6'0"
Wingspan: 71
Reach: 92
Vertical: 27</td>
			<td>Long and athletic
Cameron makes the extra pass and hustles on both ends. He plays his role and knows his comfort zone. Has a lot of heart too! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Sanders-Najee-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48427" /></td>
			<td>Najee Sanders
Grade: 11
Height: 6'0"
Wingspan: 75
Reach: 94
Vertical: 32</td>
			<td>Najee utilizes the ball screen effectively. He has good handles and pushes the ball in transition at a high rate. He is a willing passer as well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Savage-Eric-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48428" /></td>
			<td>Eric Savage
Grade: 10
Monmouth Junction, NJ
Height: 6'2"
Wingspan: 77
Reach: 95
Vertical: 33</td>
			<td>Eric is an athletic player with a long body. He has good strength, shoots well, and always looks for the open teammate. He understands how to play the game and what it takes to be successful.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Sharp-Tazjon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48429" /></td>
			<td>Tazjon Sharp
Grade: 9
Height: 5'5"
Wingspan: 66
Reach: 84
Vertical: 23</td>
			<td>Tazjon handles the ball very well and plays with grit on defense. He has great upside. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Shaughnessy-Colin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48430" /></td>
			<td>Colin Shaughnessy
Grade: 10
Manasquan, NJ
Height: 6'0"
Wingspan: 75
Reach: 94
Vertical: 28</td>
			<td>Colin is quick on offense and defense, and is a great slasher who can finish with either hand. He plays d with fast feet and is also smart. He offers great mid-range too! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Shomo-Tajmir-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48431" /></td>
			<td>Tajmir Shomo
Grade: 11
Asbury Park, NJ
Height: 5'9"
Wingspan: 69
Reach: 86
Vertical: 30</td>
			<td>Tajmir has a good feel for the game and makes good decisions with the ball. He runs the floor well and is quick on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Silvera-Gabe-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48432" /></td>
			<td>Gabe Silvera
Grade: 9
West Orange, NJ
Height: 5'4"
Wingspan: 70
Reach: 87
Vertical: 31</td>
			<td>Gabe handles the ball extremely well and plays with good toughness. He comprehends how to play the game to be successful. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Simmonds-Keysean-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48433" /></td>
			<td>Keysean Simmonds
Grade: 9
Height: 5'7"
Wingspan: 68
Reach: 87
Vertical: 25</td>
			<td>Keysean can handle the ball and see the floor. He's a solid point who's always on the attack for teammates. He's also a scrappy defender with quick hands and all-around catch for any team! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Stephney-Trevor1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48435" /></td>
			<td>Trevor Stephney
Grade: 9
Wingspan: 72
Reach: 93
Vertical: 35</td>
			<td>Long and energetic
Trevor gets his team going with his high energy. He is the glue that holds the team together and gets them fired up. He has a good step-through, plays help D and talks in the back line. A true asset to any team! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/St.-Fluer-Ahmad-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48434" /></td>
			<td>Ahmad Stfluer
Grade: 9
Height: 5'10"
Wingspan: 70
Reach: 87
Vertical: 33</td>
			<td>Ahmad is very quick and can handle pressure well, He displays toughness on defense and grit! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Storino-Anthony-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48436" /></td>
			<td>Anthony Storino
Grade: 10
Toms River, NJ
Height: 6'3"
Wingspan: 71
Reach: 90
Vertical: 30</td>
			<td>Anthony possesses good toughness and displays a strong physical frame, His defense and ability to knock down the jump shot is very promising. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Strand-Joe-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48437" /></td>
			<td>Joe Strand
Grade: 10
Hazlet, NJ
Height: 6'2"
Wingspan: 72
Reach: 92
Vertical: 33</td>
			<td>Joe made good decisions throughout the afternoon and always looked for the open man. He plays with a lot of energy and shoots the ball well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Thomas-Jamir-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48438" /></td>
			<td>Jamir Thomas
Grade: 9
Passaic, NJ
Height: 6'4"
Wingspan: 83
Reach: 100
Vertical: 24</td>
			<td>Shoots, defends, rebounds
Jamir is a nice big guy who can step out and likes to hit the boards. Offers various skills including shooting, defense, boards and strength! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Toye-Mason-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48439" /></td>
			<td>Mason Toye
Grade: 9
South Orange, NJ
Height: 6'1"
Wingspan: 74
Reach: 94
Vertical: 33</td>
			<td>Defense and Basketball IQ
Mason is a quick defender who plays smart. He's a combo guard who makes those around him better. He makes good decisions both offensively and defensively. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Tyler-Amir-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48440" /></td>
			<td>Amir Tyler
Grade: 10
Wingspan: 74
Reach: 93
Vertical: 34</td>
			<td>Ball Handling and Court Vision
Amire has great lateral quickness and is an excellent defender. He has quick hands and isn't afraid to attack.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Wahnon-Joshua-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48441" /></td>
			<td>Joshua Wahnon
Grade: 12
Staten Island, NY
Wingspan: 75
Reach: 92
Vertical: 31</td>
			<td>Josh works well off screens for penetration and hustles all over. He pushes the ball when he has to and is a good driver. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Warren-Margue-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48442" /></td>
			<td>Marque Warren
Grade: 9
Camden, NJ
Height: 5'9"
Wingspan: 69
Reach: 86
Vertical: 27</td>
			<td>Court Vision and Basketball IQ
Marque is a solid player with good court vision and awareness. He plays hard and smart with a high basketball intelligence. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/White-Dashaun-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48444" /></td>
			<td>Dashaun White
Grade: 10
Newark, NJ
Height: 6'2"
Wingspan: 74
Reach: 93
Vertical: 26</td>
			<td>Dashaun attacks the rim and has a solid stroke off the bounce as well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/White-Jr.-Scott-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48443" /></td>
			<td>Scott White Jr
Grade: 11
Brick, NJ
Height: 6'3"
Wingspan: 76
Reach: 96
Vertical: 31</td>
			<td>Scott can slash to the rim and create. He is a solid athlete that owns a good set of offensive skills! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Whitehead-Jordan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48445" /></td>
			<td>Jordan Whitehead
Grade: 12
Morris Plains, NJ
Height: 6'5"</td>
			<td>Jordan has great size for his position. He can guard multiple positions and utilizes his size well. He has good slashing ability! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Williams-Austin1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48446" /></td>
			<td>Austin Williams
Grade: 9
Roseland, NJ
Height: 6'0"
Wingspan: 75
Reach: 93
Vertical: 29</td>
			<td>Austin gets in the middle of the paint and drives hard consistently. He's a solid point guard and doesn't make many mistakes. He makes drives to the basket with tough finishes. He's smart on offense and repeatedly went coast to coast. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Williams-Leland1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48555" /></td>
			<td>Leland Williams
Grade: 12
Amityville, NY
Height:  6'3"
Wingspan: 79
Reach: 94
Vertical: 33</td>
			<td>Leland is a good athlete who is aggressive to the glass on both ends of the floor. He is a scrappy defender who makes the hustle plays for his team! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Williams-Daequan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48447" /></td>
			<td>Daequan Williams
Grade: 9
Height: 6'4"
Wingspan: 78
Reach: 96
Vertical: 30</td>
			<td>Daequan is quick and moves very well without the ball. He plays hard on both ends of the court and always goes after the rebound. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Eric Williams
Grade: 9
Camden, NJ
Height: 5'9"</td>
			<td>Eric is a tough player who displays good strength. He sees the floor well and finds open teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Wilson-Antoine-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48449" /></td>
			<td>Antoine Wilson
Grade: 10
Pemberton, NJ
Height: 5'8"
Wingspan: 68
Reach: 86</td>
			<td>Antoine is multitalented and a very good lead guard without many weaknesses. He will only improve his game as he strives to improve his 3! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Zimaridis-Mario-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48327" /></td>
			<td>Mario Zimaridis
Grade: Prep
Belmar, NJ
Height: 6'6"</td>
			<td>Mario is a match-up nightmare. He has good athleticism and possesses great range on the jumper! </td>
		</tr>
	</tbody>
</table>
