<table>
	<thead>
		<tr>
			<th>Player Headshots</th>
			<th>Player Information</th>
			<th>Player Takeaways</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Algenio-Timothy-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48251" /></td>
			<td>Timothy Algenio
Grade: 9
Belleville, NJ
Height: 5'10"
Weight: 152
Wingspan: 68
Reach: 88
Vertical: 26</td>
			<td>Dribble, passing, toughness
Tim is a very good lead guard who sees the floor. He passes to the right guy every time! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Alkins-Peter-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48252" /></td>
			<td>Peter Alkins
Grade: 12
Hempstead, NY
Height: 6'0"
Weight: 164
Wingspan: 74
Reach: 93
Vertical: 28</td>
			<td>Quickness
Pete is a fast-moving floor general who directs traffic and controls the tempo. Great athleticism too! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Anderson-Jamir-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48253" /></td>
			<td>Jamir Anderson
Grade: 11
Trenton, NJ
Height: 5'10"
Weight: 194
Wingspan: 70
Reach: 89
Vertical: 28</td>
			<td>tenacious, creative
Jamir offers good physicality and ballhandling skills. He has a great feel for the game and possesses a wide range of skills. Brings strength to the game and can muscle the defender. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/95-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48250" /></td>
			<td>Jack Anderson
Grade: 10
Little Silver, NJ
Height: 6'2"
Weight: 172</td>
			<td>Plays hard
Jack plays hard and has a good basketball body. Does the pick and pop game well and offers good defense. When he strives to work on his offensive game as well as he does on D he will be a force to be reckoned with! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Angstadt-Max-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48254" /></td>
			<td>Max Angstadt
Grade: 9
Huntington Station, NY
Height: 6'2"
Weight: 146
Wingspan: 72
Reach: 95
Vertical: 21</td>
			<td>Ball Handling and Defense
Max can handle, pass the ball, and defend. He is a two guard who distributes and plays good D. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bailey-Morgan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48256" /></td>
			<td>Morgan Bailey
Grade: 11
Pheonixville, PA
Height: 6'4"
Weight: 197
Wingspan: 74
Reach: 94
Vertical: 25</td>
			<td>Shot and dribble
Morgan can shoot and handle, and is a very active player with good instincts. He plays hard and can go inside and out. Qualities to attract any coach! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bailey-Elijah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48255" /></td>
			<td>Elijah Bailey
Grade: 11
Freeport, NY
Height: 6'1"
Wingspan: 76
Reach: 96
Vertical: 29</td>
			<td>Ballhandling and Aggressiveness
Elijah is a very good all-around player who is aggressive and quick. He can score from all spots and will only continue to rack up points as he broadens his shot range! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bascara-Dan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48257" /></td>
			<td>Dan Bascara
Grade: 11
Perrineville, NJ
Height: 6'1"
Weight: 202</td>
			<td>Smart shooter
Dan has a high IQ and can shoot the ball! He handles the ball well and offers great court vision too. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Basket-Luke-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48258" /></td>
			<td>Luke Basket
Grade: 12
Oak Ridge, NJ
Height: 5'11"</td>
			<td>Dribble, pass, drive
Luke can do all of the above three things, and is a very good point who sees the floor, He can run your team and his shot is only getting better with practice! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Tyler Bayudan
Grade: 10
Bedminster, NJ
Height: 5'8"</td>
			<td>Hard worker
Tyler plays hard and is a spot-up shooter. He sets screens well and knows his role on the floor. Plays with heart!</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Benbow-Amadu-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48342" /></td>
			<td>Amadu Benbow
Grade: 9
Newark, NJ
Height: 6'2"
Weight: 199
Wingspan: 75
Reach: 95
Vertical: 25</td>
			<td>Strong and aggressive
Amadu offers strength and aggressive play on both ends. A "pitbull" style hard worker, he is a slasher with great hustle. A natural athlete and smart choice for any team. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Berger-Justin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48259" /></td>
			<td>Justin Berger
Grade:10
Flemington, NJ
Height: 5'7"</td>
			<td>Runs the offense
Justin runs the offense well and looks to create and get teammates involved. He knows where to take the shot. He will look to pump up his aggressiveness coast-to-coast to maximize his potential. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Blackshear-Bell-Brandon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48260" /></td>
			<td>Brandon Blackshear-Bell
Grade: 11
Ewing, NJ
Height: 5'11"
Weight: 192
Wingspan: 71
Reach: 91
Vertical: 27</td>
			<td>Nice handle
Brandon offers a good handle and court vision. He utilizes his strength and ballhandling to create for others. He's a solid defender who plays hard on every possession! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Blank-Dean-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48261" /></td>
			<td>Dean Blank
Grade: 12
Southampton, PA
Height: 6'1"
Weight: 185
Wingspan: 74
Reach: 95
Vertical: 29</td>
			<td>Smarts and boards
Dean is smart and rebounds well. He plays hard on every possession and grabs boards aggressively coast to coast. A real asset for any team! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Brown-Pop-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48264" /></td>
			<td>Barry Brown
Grade: 9
Neptune, NJ
Height: 5'10"</td>
			<td>Playmaker
Barry can create off the dribble for himself and offers great handle. He has good form on his 3 really gets to the rim. He offers the full spectrum of PG qualities, is smart, rarely turned the ball over, and can score off of the ball screen. Talent abounds! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Brown-Kevin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48263" /></td>
			<td>Kevin Brown
Grade: 11
Height: 5'9"
Weight: 162
Wingspan: 69
Reach: 88
Vertical: 26</td>
			<td>Passes and penetrates well
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Brown-Darius-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48262" /></td>
			<td>Darius Brown
Grade: 9
Ocean, NJ
Height: 5'11"
Weight: 132
Wingspan: 72
Reach: 92
Vertical: 25</td>
			<td>Good Passer
Darius gets to the bucket, passes good in transit, and plays solid D. Work on his lefty handle will only be a benefit to his game. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bryant-Jeff-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48265" /></td>
			<td>Jeff Bryant
Grade: 12
Brick, NJ
Height: 6'8"
Weight: 201
Wingspan: 82
Reach: 101
Vertical: 24</td>
			<td>Hard worker
Jeff plays hard, grabs boards, and plays D! He is a good rebounder with a high motor and a good inside touch. Talented find! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Buell-Kenny-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48266" /></td>
			<td>Kenny Buell
Grade: 10
Toms River, NJ
Height: 5'11"
Weight: 141
Wingspan: 69
Reach: 91
Vertical: 22</td>
			<td>Shooting and D
Kenny is a hard-nosed player that makes the open shot. His ballhandling is solid enough where he can move past the defender and pull up mid-range. Offer a good shot too! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Byrne-Jack-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48267" /></td>
			<td>Jack Byrne
Grade: 11
Hazlet, NJ
Height: 6'4"
Weight: 163
Wingspan: 74
Reach: 96
Vertical: 28</td>
			<td>Boards and athleticism
Jack rebounds and is long and athletic. He plays hard and has a fantastic mid-range game. Can finish with his left and has a great overal feel for the game. He can create for himself and score various ways. He also gets his teammates involved and is an all around catch! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Caruso-Michael-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48269" /></td>
			<td>Michael Caruso
Grade: 10
Rumson, NJ
Height: 5'9"
Weight: 155
Wingspan: 66
Reach: 98
Vertical: 16</td>
			<td>Shooter, quick
Mike is a quick aggressive point guard who offers a nice shot and pace. He looms to create for others, but can get the shot off himself if needed.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Caruso-Jordan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48268" /></td>
			<td>Jordan Caruso
Grade: 9
Staten Island, NY
Height: 5'6"
Weight: 139
Wingspan: 69
Reach: 90
Vertical: 25</td>
			<td>Jordan offers playmaking and slashing ability. He can drive it in both directions. He finds the open teammate and makes solid decisions! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Chery-Joshua-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48270" /></td>
			<td>Joshua Cherry
Grade: 11
West Orange, NJ
Height: 6'4"
Weight: 214
Wingspan: 79
Reach: 97
Vertical: 31</td>
			<td>Josh is strong and athletic and gets to the paint. he can finish well around the rim, plays hard consistently and has a great basketball IQ! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Cicitta-Deren-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48271" /></td>
			<td>Deren Cicitta
Grade: 11
Glen Gardner, NJ
Height: 6'2"
Weight: 187
Wingspan: 70
Reach: 94
Vertical: 21</td>
			<td>Deren offers on-court toughness and hard work. He communicates well with teammates! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Clapp-Stephen-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48272" /></td>
			<td>Stephen Clapp
Grade: 10
Summit, NJ
Height: 6'2"
Weight: 148
Wingspan: 83
Reach: 95
Vertical: 29</td>
			<td>Stephen has a good lefty swing and nice size. He can shoot and handle the ball. His passion for  the game is apparent! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Cooper-Luke-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48273" /></td>
			<td>Luke Cooper
Grade: 11
Medford, NJ
Height: 6'5"
Weight: 182
Wingspan: 77
Reach: 99
Vertical: 26</td>
			<td>Smooth player and shooter
Luke offers a nice shot and a nice game flow. He's a shooter that can put the ball on the floor and will benefit any program he becomes a part of! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Cunningham-Jayvon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48274" /></td>
			<td>Jayvon Cunningham
Grade: 11
Dover, DE
Weight: 168
Wingspan: 75
Reach: 94
Vertical: 34</td>
			<td>Athletic and rebounds
Jayvon is an explosive athlete who finishes well around the bucket. He is an excellent defender who rebounds well on both ends of the floor! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Davidson-Lloyd-James-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48275" /></td>
			<td>Lloyd-James Davidson
Grade: 9
Orange, NJ
Height: 6'1"
Weight: 165
Wingspan: 73
Reach: 92
Vertical: 24</td>
			<td>Dribble, rebound, drive
Lloyd-james can do all of the above three things and is a good all-around player. He can rebound, get to the basket, and finish well! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Matt DeAngelis
Grade: 11
Robbinsville, NJ
Height: 6'0"</td>
			<td>Aggressive, helps on D
Matt goes coast-to-coast with aggressive offense and great "Help D." He has quick hands and feet which complement his smart decision making on the floor. He can finish with his  left or right and is a true team player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/DePasquale-Nicholas-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48276" /></td>
			<td>Nicholas DiPasquale
Grade: 11
Neptune, NJ
Height: 5'8"
Weight: 125
Wingspan: 63
Reach: 85
Vertical: 26</td>
			<td>Smart and sees floor
Nicholas is intelligent, sees the floor and is aware of the game. He has the ability to be a solid playmaker! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Dervishas-Brad-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48355" /></td>
			<td>Brad Dervishaj
Grade: 8
Sayerville, NJ</td>
			<td>left before evaluaters had a chance to see him play</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Dinardo-Antonio-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48277" /></td>
			<td>Antonio Dinardo
Grade: 10
North Wales, PA
Height: 5'11"
Weight: 151
Wingspan: 70
Reach: 90
Vertical: 21</td>
			<td>Antonio hustles and is aware of what goes on on the floor. He's a hard worker, doesn't take plays off, and does what needs to be done for the good of the team! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ennis-Alex-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48278" /></td>
			<td>Alex Ennis
Grade: 12
Ocean Grove, NJ
Height: 6'8"
Weight: 200
Wingspan: 80
Reach: 102
Vertical: 28</td>
			<td>Size is Alex's asset, as well as a good pace of play, and good feel for the game. He knows the pace and style best for himself. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Famulary-Thomas-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48279" /></td>
			<td>Thomas Famulary
Grade: 11
Rumson, NJ
Height: 6'2"
Weight: 169
Wingspan: 72
Reach: 90
Vertical: 31</td>
			<td>Strength and toughness
Tom plays with toughness and makes the open shot. He can rebound well and moves well enough off the ball to find the shot! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Foreman-Thomas-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48280" /></td>
			<td>Thomas Foreman
Grade: 11
Flemington, NJ
Height: 6'0"
Weight: 201
Wingspan: 72
Reach:  90
Vertical: 28</td>
			<td>Thomas can flat out shoot! He exhibits nice shooting form off the catch. He also sees the floor well and finds the open teammate. A variety of skills! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Frascati-Connor-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48281" /></td>
			<td>Connor Frascati
Grade: 10
Staten Island, NY
Height: 6'4"
Weight: 174
Wingspan: 76
Reach: 95
Vertical: 24</td>
			<td>Connor posts up and is tough and aggressive. He's smart and scrappy and extremely competitive.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Galgano-Ryan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48282" /></td>
			<td>Ryan Galgano
Grade: 9
Cresskill, NJ
Height: 5'9"
Weight: 158
Wingspan: 71
Reach: 88
Vertical: 24</td>
			<td>Shoots well
Ryan is a true athlete who can shoot the ball out to the 3! He is an athletic guard who offers intelligence as well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Dondre Garcia
Grade: 11
Westfield, NJ
Height: 6'1"</td>
			<td>Pushes ball
Dondre offers a nice 3, works well off the ball screen and pushes the ball. He offers nice change of speed and has a high motor. He sees the court well. Keeping the ball under control at all times will make Dondre the best player he can be! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Gordon-Basil-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48283" /></td>
			<td>Basil Gordon
Grade: 12
Height: 5'11"
Weight: 183
Wingspan: 74
Reach: 91
Vertical: 28</td>
			<td>Shot, handle, speed
Basil is a 2 guard who truly likes to play. He competes hard and is a good shooter. Offers qualities any coach would want!</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Grant-Maynard-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48284" /></td>
			<td>Maynard Grant
Grade: Prep
Jamaica, NY
Height: 6'4"
Weight: 199
Wingspan: 76
Reach: 97
Vertical: 25</td>
			<td>Maynard offers a nice shot and good ballhandling. He has a scoring mentality which will only help a team! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Green-Sanders-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48285" /></td>
			<td>Sanders Green
Grade: Prep
Paterson, NJ
Height: 6'3"
Weight: 209
Wingspan: 78
Reach: 95
Vertical: 32</td>
			<td>Strong and aggressive
Sanders offers strength and aggression on both ends. He is a crafty player who utilizes strength to get to the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Harris-Sky-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48286" /></td>
			<td>Sky Harris
Grade: 12
Edison, NJ
Height: 6'3"</td>
			<td>Sky can really shoot the 3 and is a great team player. Active on the offensive rebound and can finish both left and right in the paint. He offers energy, hard work and hustle and is an asset to any team! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hoggs-Sean-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48287" /></td>
			<td>Sean Hoggs
Grade: 10
Columbus, NJ
Height: 6'1"
Weight: 153
Wingspan: 72
Reach: 91
Vertical: 32</td>
			<td>Sean is explosive and solid with skill. He attacks the rim and plays hard on both ends! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Holland-Jamal-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48288" /></td>
			<td>Jamal Holland
Grade:11
Jackson, NJ
Height: 6'0"</td>
			<td>Jamal offers aggressiveness and mid-range shooting. He is unselfish and plays with fantastic energy.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Howarth-Zachery-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48289" /></td>
			<td>Zachery Howarth
Grade: 10
Freehold, NJ
Height: 6'1"
Weight: 164
Wingspan: 74
Reach: 95
Vertical: 25</td>
			<td>Zach handles and shoots well, and does everything on the court just as well. He is a true guard who can play either the 1 or 2! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Jardine-Shane-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48290" /></td>
			<td>Shane Jardine
Grade: 10
Bordentown, NJ
Height: 5'6"
Weight: 146
Wingspan: 68
Reach: 88
Vertical: 28</td>
			<td>Shane offers smooth handle and is a natural playmaker. He offers excellent control of the ball and a knack for getting by his defender and getting to the rim, finishing in various ways. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Kaelin-Michael-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48291" /></td>
			<td>Michael Kaelin
Grade: 10
Summit, NJ
Height: 6'3"
Weight: 182
Wingspan: 69
Reach: 96
Vertical: 24</td>
			<td>Mike is the glue who holds a game together, as a solid defender who plays well at all times. He is scrappy on defense and gets the job done! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Kaplan-Jacob-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48292" /></td>
			<td>Jacob Kaplan
Grade: 11
Pine Brook, NJ
Height: 6'0"
Weight: 221
Wingspan: 69
Reach: 90
Vertical: 24</td>
			<td>Jacob is smart and can shoot! He is deceptively quick and has a high basketball IQ. An asset for any team. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Karamanos-Alex-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48293" /></td>
			<td>Alex Karamanos
Grade: 10
Rosendale, NY
Height: 6'2"
Weight: 165
Wingspan: 75
Reach: 91
Vertical: 27</td>
			<td>Alex is an asset on D, rebounding and defending the ball well. He defends well and plays an unselfish game! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Kautz-Bennett-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48294" /></td>
			<td>Bennett Kautz
Grade: 10
Bridgewater, NJ
Height: 5'6"
Weight: 123
Wingspan: 62
Reach: 84
Vertical: 24</td>
			<td>Bennett is crafty on the court and has solid vision. He finds the seams in the offense and attacks them. He finds the open man often and well and plays hard on both ends! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Kowal-Devin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48295" /></td>
			<td>Devin Kowal
Grade: 11
Hurley, NY
Height: 6'1"
Weight: 158
Wingspan: 74
Reach: 94
Vertical: 24</td>
			<td>Devin really knows his role on the floor and can flat out shoot! He can move without the ball as well, and defend. He does a nice job of finding his shot and always takes ownership on defense. He's a good, tough player! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lane-Ryan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48296" /></td>
			<td>Ryan Lane
Grade: 10
Gladstone, NJ
Height: 6'4"
Weight: 184
Wingspan: 74
Reach: 95
Vertical: 26</td>
			<td>Ryan offers hustle and team play, looking to put his teammates first! An asset to any squad. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/McGee-Ronald-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48297" /></td>
			<td>Ronald McGee
Grade: 10
River Edge, NJ
Height: 6'5"
Weight: 169
Wingspan: 75
Reach: 97
Vertical: 27</td>
			<td>Ronald plays hard and finds loose balls. Rebounds well! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/McKenna-Colin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48298" /></td>
			<td>Colin McKenna
Grade: 10
Chatham, NJ
Height: 6'4"
Weight: 196
Wingspan: 75
Reach: 97
Vertical: 27</td>
			<td>Colin hit the glass and runs coast-to-coast. He's a tough gritty kid with an aggressive style of play valuable to any game! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/McNelis-Sam-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48299" /></td>
			<td>Sam McNelis
Grade: 9
Medford, NJ
Height: 5'7"
Weight: 125
Wingspan: 67
Reach: 87
Vertical: 21</td>
			<td>Sam can dribble and pass the ball, as well as run and shoot. He is truly a versatile point! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Montilus-Reuben-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48300" /></td>
			<td>Rueben Montilus
Grade: 9
Union, NJ
Height: 5'7"
Weight: 189
Wingspan: 67
Reach: 89
Vertical: 25</td>
			<td>Reuben has court vision and a high basketball IQ. Combine these two talents, and he has the ability to become a solid and reliable play maker. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Nwana-Nacho-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48301" /></td>
			<td>Nacho Nwana
Grade: 10
White Plains, NY
Height: 5'10"
Wingspan: 77
Reach: 96
Vertical: 27</td>
			<td>Nacho offers sttength, athleticism, and the ability to handle the ball. He utilizes his strength to finish in traffic. He's a solid playmaker with great court vision! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Olaniyi-Elijah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48302" /></td>
			<td>Elijah Olaniyi
Grade: 9
Newark, NJ
Height: 6'3"
Weight: 178
Wingspan: 79
Reach: 97
Vertical: 30</td>
			<td>Elijah plays with great energy. He has good athleticism and a knack for rebounding the ball. He wills his way to the basket often! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Owens-Jordan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48303" /></td>
			<td>Jordan Owens
Grade: 12
Englishtown, NJ
Height: 5'11"</td>
			<td>Jordan offers ballhandling and athleticism, which he applies to finish around the rim. He is a good ballhandler with court vision! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Palko-Nick-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48304" /></td>
			<td>Nick Palko
Grade: 11
Fords, NJ
Height: 6'4"
Weight: 251
Wingspan: 78
Reach: 100
Vertical: 21</td>
			<td>Nick uses his size well and possesses good strength. His ability to face-up against bigger guys in the post is a nice asset! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Palmadessa-Doug-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48305" /></td>
			<td>Doug Palmadessa
Grade: 12
Waldwick, NJ
Height: 5'10"
Weight: 144
Wingspan: 64
Reach: 86
Vertical: 25</td>
			<td>Doug is fundamentally sound player and quick on the court. He's got a good feel for the game and is an aggressive point who's always attacking. A true hard worker! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Phillips-Max-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48306" /></td>
			<td>Max Phillips
Grade: 10
Holmdel, NJ
Height: 6'7"
Weight: 204
Wingspan: 75
Reach: 98
Vertical: 22</td>
			<td>Max is long and runs the floor well. He utilizes his strength to get the post position and rebound. He's smart, and as his footwork and strength develop it will only help him realize his full potential! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Price-Taj-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48307" /></td>
			<td>Taj Price
Grade: 11
Newark, NJ
Height: 6'7"</td>
			<td>Long and athletic, Taj runs the floor well. He can finish well around the rim and can get positioned. He has soft hands and finishes well in the paint! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Psimitis-Marcos-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48308" /></td>
			<td>Marcos Psimitis
Grade: Prep
Height: 6'4"
Weight: 194
Wingspan: 76
Reach: 97
Vertical: 26</td>
			<td>Marcos can really shoot and sees the court well. He has a great feel for the game and uses speed to make the opportunities he sees happen! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Puiu-Brandon-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48309" /></td>
			<td>Brandon Puiu
Grade: 11
Holmdel, NJ
Height: 5'11"
Weight: 182
Wingspan: 69
Reach: 89
Vertical: 25</td>
			<td>Brandon is a tough defender, playing unselfishly and hard! Is also very smart on the floor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Robinson-Tyler-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48310" /></td>
			<td>Tyler Robinson
Grade: 11
Lake Katrine, NY
Height: 6'0"
Weight: 184
Wingspan: 71
Reach: 90
Vertical: 25</td>
			<td>Tyler is intelligent and a very good on-the-ball defender who utilizes his athleticism to keep his man in front. He ties up loose ends for his team and plays with great competitive spirit! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Rowe-Zachary-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48311" /></td>
			<td>Zachary Rowe
Grade:10
Marlton, NJ
Height: 5'11"</td>
			<td>Zach offers nice ballhandling and a smooth rhythm to his game. He understands his strengths and applies them well! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Schuette-Eric-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48312" /></td>
			<td>Eric Schuette
Grade: 10
Randolph, NJ
Height: 5'11"
Weight: 154
Wingspan: 69
Reach: 91
Vertical: 24</td>
			<td>Eric is a hard-nosed player who's tough and can really make shots. Handles and defense are solid! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Sciancalepore-Andrew-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48313" /></td>
			<td>Andrew Sciancalepore
Grade: 10
Randolph, NJ
Height: 6'2"
Weight: 172
Wingspan: 75
Reach: 94
Vertical: 24</td>
			<td>Andrew is a good shooter who offers tremendous effort throughout a game. He's crafty and shoots as far as the 3 range. Smart and offers competitive spirit! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Sellman-Jacob-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48314" /></td>
			<td>Jacob Sellman
Grade: 10
Hopewell Junction, NJ
Height: 5'8"
Weight: 127
Wingspan: 61
Reach: 86
Vertical: 86</td>
			<td>Jacob is a true point guard who can run the team. He can really dribble and pass and his shot is only improving with practice and game play! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Sklikas-Terence-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48315" /></td>
			<td>Terence Sklikas
Grade: 11
Vorhees, NJ
Height: 5'11"</td>
			<td>Terence stays active no matter where he is on the floor and is good in transition. He can look for his shot more because he shoots it well! He drives well in traffic and has an explosive first step, making him a force on the court! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Smith-James-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48317" /></td>
			<td>James Smith
Grade: 12
Hillsborough, NJ
Height: 5'11"
Weight:
Wingspan:
Reach:
Vertical:</td>
			<td>James does a nice job of utilizing his strength to get to the bucket. He exhibits a solid mid-range jumper and always takes what the defense gives. Also offers athleticism and basketball smarts! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Smith-Greg-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48316" /></td>
			<td>Gregory Smith
Grade: 11
Flemington, NJ
Height: 6'0"</td>
			<td>Greg makes things happen anfc is vocal on offense. Involves teammates and can separate himself on offense with crafty change-of-speed moves. He's a natural leader! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Soriano-Darius-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48318" /></td>
			<td>Darius Soriano
Grade: 10
West Chester, PA
Height: 6'1"
Wingspan: 72
Reach: 92
Vertical: 27</td>
			<td>Darius shows great handle and good toughness on D. He has promising one-on-one skills when attacking the rim! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Spitaliere-Nick-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48319" /></td>
			<td>Nick Spitaliere
Grade: 11
Levittown, NY
Height: 5'10"
Weight: 159
Wingspan: 63
Reach: 85
Vertical: 26</td>
			<td>Nick plays with nice pace and knows his game. He is a pass-first point guard and asset to any team! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Stephney-Trevor-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48320" /></td>
			<td>Trevor Stephney
Grade: 9
Weight: 156
Wingspan: 71
Reach: 93
Vertical: 31</td>
			<td>Trevor can shoot and has good hops. He is a natural athlete who is only going to get better as the years go on! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Markus Stevenson
Grade: 11
Vorhees, NJ
Height: 6'4"
Weight: 196
Wingspan: 79
Reach: 88
Vertical: 35</td>
			<td>"Markus used strength and creativity to find shot opportunities. He reaches on D and was great in transition with the ball. Add quick explosive jumps and he is one to watch!</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Tyson-Thomas-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48321" /></td>
			<td>Thomas Tyson
Grade: 11
Union City, NJ
Height: 5'9"
Weight: 146
Wingspan: 64
Reach: 85
Vertical: 29</td>
			<td>Thomas can handle, pass, and see the court very well. He is one step ahead and knows where the next play is going, a true gift on the court! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Wagner-Connor-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48322" /></td>
			<td>Connor Wagner
Grade: 11
Phoenixville, PA
Height: 5'9"
Weight: 181
Wingspan: 71
Reach: 92
Vertical: 26</td>
			<td>Connor is a good shooter off the catch, and has a good feel for the game. Work on his shot off the bounce will make him truly unstoppable! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Warren-Billy-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48323" /></td>
			<td>Billy Warren
Grade: 9
Levittown, PA
Height: 6'5"
Weight: 183
Wingspan: 75
Reach: 97
Vertical: 30</td>
			<td>Billy plays help D and sets the screen to help his team. Advantageous size and posts hard. Adding verbalization and calling for the ball will only help this promising player! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/photo_not_available-100x75.png" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48151" /></td>
			<td>Mansfield Warren
Grade: 10
South Amboy, NJ
Height: 5'8"</td>
			<td>Manfield can really handle the ball and looks to create for others. He plays tough D and gets to the rim when he wants the opportunity. Looking to pace himself on penetrating the lane and slowing things down now and again will make him unstoppable! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Weiss-Daniel-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48324" /></td>
			<td>Daniel Weiss
Grade: 9
Morganville, NJ
Height: 6'5"
Weight: 185
Wingspan: 78
Reach: 97
Vertical: 26</td>
			<td>Daniel is a cerebral player that sees the floor well. He owns a nice skill set which allows him to stretch the defense. He also shoots it well! </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Williams-Austin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48325" /></td>
			<td>Austin Williams
Grade: 9
Roseland, NJ
Height: 6'0"
Weight: 154
Wingspan: 75
Reach: 93
Vertical: 27</td>
			<td>Austin can see the floor, score, and handle the ball. He is smart, has a complete skill set, and makes the play. His various talents are a gift to any team! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Williams-Keith-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48326" /></td>
			<td>Keith Williams
Grade: Prep
Deer Park, NY
Height: 6'2"
Weight: 187
Wingspan: 80
Reach: 91
Vertical: 30</td>
			<td>Keith really sees the floor and has strong handle. He has a good feel for the game, with awareness of his teammates' strengths as well. He's a true threat from the 3, with the ability to blow by his defender! 
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Zimaridis-Mario-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48327" /></td>
			<td>Mario Zimaridis
Grade: Prep
Belmar, NJ
Height: 6'6"
Weight: 211
Wingspan: 82
Reach: 100
Vertical: 26</td>
			<td>Mario is a nice post player who can shoot the three, grab the board and jump. He enjoys playing the game, making him a true asset to any team! 
</td>
		</tr>
	</tbody>
</table>
