<table>
	<thead>
		<tr>
			<th>Picture</th>
			<th>Name and Information</th>
			<th>Junior Elite Strengths
Junior Elite Takeaways</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Benitez-Jonah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47789" /></td>
			<td>Jonah Benitez
Grade: 8
Montclair NJ
Height: 5'4
Weight: 125
Wingspan:68
Reach:87
Vertical: 17</td>
			<td>Handles and passes. Jonah is a good ballhandler who is also a willing passer. This is a point who can run your team and put up the shot. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Campanella-Todd-e1395428654880-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47790" /></td>
			<td>Todd Campanella
Grade: 8
Congers NY
Weight: 119
Wingspan: 71
Reach: 89</td>
			<td>Great Pass and Handle. This 2 guard offers strong ballhandling and passing skills.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Childs-Chris-e1395428721913-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47791" /></td>
			<td>Chris Childs
Grade: 8
New York, NY
Height: 6'0
Weight: 119
Wingspan: 68
Reach: 87
Vertical: 17</td>
			<td>Many strengths 
Chris offers a solid handle, and good passing, shooting, and drives to the basket. He contributes much toward a win, is a great one-on-one finisher, and a force to be reckoned with when he shoots the 3.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Clarke-Aaron1-e1395428782298-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47792" /></td>
			<td>Aaron Clarke
Grade: 8
Parsippany, NJ
Height: 6'0
Weight: 157
Wingspan: 71
Reach: 91
Vertical: 34</td>
			<td>Speed and drive
Aaron uses his speed for impressive drive to the basket. A very good all-around player, he also offers great passing and handle.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Contreras-Javier-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47793" /></td>
			<td>Javier Contreras
Grade: 5
Valley Stream NY
Height: 5'0
Weight: 129
Wingspan: 58
Reach: 76
Vertical: 19</td>
			<td>Passes and Shoots
Javier in an unselfish player who does a great job of getting in the point to create for others. He can hit the deep 3 and pass.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Cooper-Nkosi-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47794" /></td>
			<td>Cooper Nkosi
Grade: 5
Baldwin NY
Height: 5'6</td>
			<td>Strong skills
Nkosi is a good passer and dribbler without a skill weakness. He is a good shooter whose skills will only improve with work on his range.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Creston-Jalen-e1395428866705-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47795" /></td>
			<td>Jalen Croston
Grade: 8
Bronx NY
Weight: 128
Wingspan: 71
Reach: 89</td>
			<td>Finishes on the drive
Jalen offers ballhandling and passing skills. He is a solid point who can finish the drive and run the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Felix-Carlos-e1395428913690-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47796" /></td>
			<td>Felix Carlos
Grade: 8
Weight: 114
Wingspan: 65
Reach: 85
Vertical: 31</td>
			<td>Good ballhandler
Felix can handle the ball and pass just as well. A good point who can run his team, he can seek to improve an already-good shot by working within the three-point range.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Fell-Ronald-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47797" /></td>
			<td>Ronald Fell
Grade: 8
hometown Bay Shore NY
Height: 5'8
Weight: 131
Wingspan:69
Reach:100
Vertical:12</td>
			<td>Makes baskets and handles ball 
Ronald is a good 2 guard who finds his way to the basket. He is also an asset as a good ballhandler and passer.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Garcia-Anthony1-e1395429034594-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47798" /></td>
			<td>Anthony Garcia
Grade: 8
Height: 6'6
Weight: 173
Wingspan: 80
Reach: 106
Vertical: 18</td>
			<td>Shoots, handles, grabs boards
A well-rounded player who can pass, dribble and shoot. He also hits the boards well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Goldstein-Matthew-e1395429097844-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47799" /></td>
			<td>Matthew Goldstein
Grade: 7
Rockville Centre NY
Height: 5'5
Weight: 98
Wingspan: 64
Reach: 83
Vertical: 29</td>
			<td>Smarts and strength 
Matt offers intelligence and strength as well as a solid shot. He also rebounds well for a guard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hargraves-Jacob-e1395429154817-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47800" /></td>
			<td>Jacob Hargraves
Grade: 8
Scarsdale NY
Height:5'9
Weight:157
Wingspan:74
Reach:93
Vertical:35</td>
			<td>Drives for the score
Jacob can score and is not afraid of driving to the hole to do so. He is also a well-rounded player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Isaac-Tristan-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47313" /></td>
			<td>Tristan Isaac
Grade:8
West Hempstead NY
Height:5'9
Weight:114
Wingspan:68
Reach:87
Vertical:22</td>
			<td>handles and passes
Tristan is a strong ballhandler and very good passer who does most on-court jobs well. He is also an intelligent player who contributes positively to the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/James-JaQuae-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47802" /></td>
			<td>Ja'Quae James 
 Grade:8
Englewood NJ
Weight:128
Wingspan:66
Reach:87
Vertical:25</td>
			<td>Hustle and ballhandling
Ja'Quae builds his team up with excellent ballhandling, passes, and hustle. A good point guard, he is one step ahead of his on-court peers with plenty of smarts on the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Keeney-Liam-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47803" /></td>
			<td>Liam Keeney
Grade: 8
Locust Valley NY 
Height: 6'0</td>
			<td>Liam uses his height and length well to create space and get his teammates the basketball. He gave maximum effort all day and has a big upside. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Koch-Michael-e1395429223481-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47804" /></td>
			<td>Michael Koch
Grade: 8
Hawthorne NJ
Height: 6'0
Weight:140
Wingspan:72
Reach:92
Vertical:26</td>
			<td>Fights to the Finish 
A good swing player, Michael can do most jobs on the court. He plays hard and constantly competes.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lauron-Avery-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47805" /></td>
			<td>Avery Lauron
Grade: 6
Bellmore, NY
Height: 5'4
Weight:128
Wingspan: 67
Reach: 82.5</td>
			<td>Solid set shot
Avery can plant his feet and hit the shot and also slash to the rim, offering the ultimate in offense skills.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lloyd-Jonathan-e1395844464389-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47806" /></td>
			<td>Jonathan Lloyd
Grade: 7
Bronx NY
Height:5'2
Weight:118
Wingspan:63
Reach:82
Vertical:35</td>
			<td>Defends and rebounds well 
Dangerous on the open floor, Jonathan is an unselfish player who finishes well around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lorca-Maxwell-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47807" /></td>
			<td>Maxwell Lorca
Grade:8
Brooklyn NY
Height:6'8
Weight:168
Wingspan:81
Reach:105
Vertical:20</td>
			<td>Finishes and Runs floor
Maxwell is a true center with a nice inside touch. He runs the floor well and is a smart contributor to the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lozada-Jr.-Jose-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47808" /></td>
			<td>Jose Lozada Jr. 
Grade: 8
Brooklyn NY
Height:5'0
Weight:81
Wingspan:63
Reach:79
Vertical:31</td>
			<td>Can handle, pass and shoot
A good point guard who does everything well, Jose is clearly an on-court asset. He plays the game the right well and enjoys doing so.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Lugo-Cesar-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47809" /></td>
			<td>Cesar Lugo
Grade:7
Bronx NY 
Height:
Weight:127
Wingspan:68
Reach:88
Vertical:20</td>
			<td>Athletic
Cesar is a natural athlete with a strong finish. His inside/outside scoring ability contributes to a team win , and his athleticism on defense causes many deflections.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/McGrath-Ethan-e1395429438923-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47810" /></td>
			<td>Ethan Mcgrath
Grade:8
New City NY
Height:5'4
Weight:147
Wingspan:64
Reach:82
Vertical:32</td>
			<td>Sharp Shooter
Ethan's strengths include shooting and handling. He is also a good passer who truly sees the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/McGrath-Michael-e1395429483670-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47811" /></td>
			<td>Michael McGrath
Grade: 7</td>
			<td>Good passer
Michael passes well in the heat of traffic and makes smart decisions there too. He can also knock down the open J.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Memoli-Nick-e1395429524105-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47812" /></td>
			<td>Nick Memoli
Grade:7
Highland Mills NY
Weight:117
Wingspan:67
Reach:87</td>
			<td>Strong on D
Nick works hard on defense, and is a well-rounded overall player. He is also valuable in being a great on-court communicator and positive, good teammate. Nick ties up loose ends and makes things happen for his team, making his on-court minutes count to the fullest.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Monti-Anthony-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47813" /></td>
			<td>Anthony Monti 
Grade:7
Bronx NY 
Height:5'0
Weight:89
Wingspan:59
Reach:76
Vertical:34</td>
			<td>Quick
Anthony offers a quick handle and has a knack for grabbing the loose ball and running the floor with it. Plays aggressively and intelligently. Also unselfish, he is a pass-first kind of point guard. He also has a knack for finding who he needs, whether that's a big man under the bucket or a perimeter sharp shooter.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Morales-Donta-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47814" /></td>
			<td>Donta Morales
Grade: 7
North Bergen NJ
Weight:120
Wingspan:68
Reach:99
Vertical:12</td>
			<td>Play maker 
Donta makes things happen, and isn't affected by playing up in the older division. He can run the offense and push the ball in transition. Caused a problem for others when he pressured up on the ball!</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Moriarty-Kevin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47815" /></td>
			<td>Kevin Moriarity
Grade:7
Belle Harbor NY
Weight:109
Wingspan:60
Reach:79
Vertical:23</td>
			<td>Shoots and steals
Kevin has good shot range past the three-point line. with quick hands and activeness on the defensive, the opposition should watch out in case they don't want a turnover.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Mucius-Isiah-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47816" /></td>
			<td>Isiah Mucius 
Grade:8
Height:6'5
Weight:141
Wingspan:79
Reach:100
Vertical:24</td>
			<td>excellent boards and D
Isiah shows excellence in ballhandling, defense, and boards. A true athlete boasting size, he runs the floor and finishes well, all the while playing with passion.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Mullin-Terrence-e1395429589347-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47817" /></td>
			<td>Terence Mullin
Grade: 7
Belle Harbor NY
Weight:123
Wingspan:60
Reach:80
Vertical:28</td>
			<td>Good shooter and passer
Terence has great awareness of the court and contributes with sharp shooting and good passing. He also moves constantly even without the ball hits the jumper beyond the 3.
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Pellegrini-Peter-e1395429637873-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47818" /></td>
			<td>Peter Pellegrini
Grade:7
Rockville Centre NY 
Height:5'2
Weight:165
Wingspan:63
Reach:82
Vertical:19</td>
			<td>Blocks the shot 
Peter is a strong rebounder on both ends and can hit the mid-range J. He is also an excellent shot blocker.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Person-Paul-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47819" /></td>
			<td>Paul Person
Grade:8
Bronx NY 
Height:6'0
Weight:144
Wingspan:73
Reach:93
Vertical:34</td>
			<td>Speed and Athleticism 
Paul offers speed and natural athleticism, combining the two to be super-quick on the drive. He is a good shooter who will only improve as he works on his range.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Pickett-Tysheem-e1395429725135-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47820" /></td>
			<td>Tysheem PIckett
Grade:7
Weight:121
Wingspan:66
Reach:82
Vertical:36</td>
			<td>Strong handle 
Offers a strong dribble especially with his right. A hustler and good passer, Tysheem has a natural feel for the game and good form. He is a competitor who will find the open man and natural guard. He also offers the ability to knock down a 10-footer when he finds it.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Reaves-Jayden-e1395427081160-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47821" /></td>
			<td>Jayden Reaves 
Grade:8
New York NY 
Height:5'11
Weight:147
Wingspan:74
Reach:91
Vertical:37</td>
			<td>Hustles, finishes strong
Jayden is an on-court threat with hustle, good passing and a strong finish. He can really drive to get to the basket and make things happen.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Reed-DAndre-e1395427235406-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47822" /></td>
			<td>D'Andre Reed
Grade:6
New York, NY 
Height:5'10
Weight:133
Wingspan:69
Reach:84
Vertical:44</td>
			<td>Drives the lane
D'Andre drives hard to the basket, scores and has a talent for finding boards on offense. As he improves, he can seek to be as great defensively as when he is handling the ball coast-to-coast.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Robinson-Jamaal-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47823" /></td>
			<td>Jamaal Robinson 
Grade:9
Bronx NY 
Height:5'10</td>
			<td>Drives well 
Jamaal can handle, pass, and drive. He is a good all-around point who doesn't make mistakes. Good shooter.
</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Robinson-Jemir-e1395427297368-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47824" /></td>
			<td>Jemir Robinson 
Grade:9
Paterson NJ 
Weight:146
Wingspan:74
Reach: 92
Vertical:32</td>
			<td>Handles, passes, drives 
This is a good all-around point who doesn't make mistakes. A good shooter, he handles the ball, passes, and drives the lane.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Robinson-Tarik-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47825" /></td>
			<td>Tarik Robinson 
Grade: 3
Garfield NJ 
Weight:75
Wingspan:46
Reach:72
Vertical:24</td>
			<td>Ball handling and quickness 
Tarik is a speedy guard who gets his team in the open floor often. He has great court vision and knows when to score.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Rosenthal-Russell-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47826" /></td>
			<td>Russell Rosenthal 
Grade:5
New York NY 
Weight:113
Wingspan:62
Reach:83
Vertical:19</td>
			<td>Quick and aggressive
Russell has a quick first step to get past the defender. With an aggressive style of D, he causes turnovers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Rutty-Nikki-e1395427400454-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47827" /></td>
			<td>Nikkei Rutty
Grade:8
Weight:167
Wingspan:80
Reach:98
Vertical:24</td>
			<td>A force on defense 
Nikkei offers defensive skills, impressive boards, and a nice inside finish. He is a hard-working inside player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Taylor-Jaylen-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47828" /></td>
			<td>Jaylen Taylor 
Grade:7
Height:6'1
Weight:157
Wingspan:74
Reach:94
Vertical:37</td>
			<td>Gets boards
Jaylen is a great rebounder and works hard on both ends of the floor. He can use his size to get boards offensively and to post up on D. He hustles and helps the weak side.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Vandemark-Michael-e1395427499928-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47829" /></td>
			<td>Michael Vandemark
Grade:6
Amawalk NY 
Height:4'8
Weight:76
Wingspan:59
Reach:74
Vertical:25</td>
			<td>Intellect and scoring
Michael is an intelligent player who is crafty with the ball. Offers a quick release on his shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Washington-Tyler1-e1395427542349-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-47830" /></td>
			<td>Tyler Washington
Grade:8
New York NY
Height:5'11
Weight:139
Wingspan:72
Reach:94
Vertical:21</td>
			<td>Dribbles and drives
Tyler is a ballhandler who drives to the bucket. A very good all-around player, he sees the court well and loves to compete and give his all in a game.         </td>
		</tr>
	</tbody>
</table>
