<table>
	<thead>
		<tr>
			<th>Headshot</th>
			<th>Player Information</th>
			<th>Top 100 Takeaways</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Albore-Wade-e1395779784967-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48091" /></td>
			<td>Wade Albore
Grade: 7
Lebanon, NJ
Height: 5'5"
Weight: 140
Wingspan: 63
Reach: 81</td>
			<td>Natural ballhandler

Wade is a good ballhandler who will be equally great on D with skill work on balance and footwork. He does a nice job changing direction with the ball to blow by the defender. Makes good decisions, and is a leader, ensuring a promising future at the point. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Allen-Sion-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48092" /></td>
			<td>Sion Allen
Grade: 7
Coatesville, PA
Height: 5'0"
Weight: 115
Wingspan: 60
Reach: 76</td>
			<td>Ball Handling and Shooting

Sion has very good handles and shoots from three well for his age. His basketball IQ helps him create opportunities for his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Anderson-Michael-e1395779914913-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48093" /></td>
			<td>Michael Anderson
Grade: 5
Philadelphia, PA
Weight: 73
Wingspan: 52
Reach: 70</td>
			<td>Court Vision, Passing

Michael is a very smart player who makes the right decisions. His court vision is also really good and helps him find the open man. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ankrom-Zane-e1395779957155-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48094" /></td>
			<td>Zane Ankrom
Grade: 5
Allentown, PA
Height: 5'5"
Weight: 115
Wingspan: 65
Reach: 83</td>
			<td>A team player, good ball handling skills

Zane is a very active rebounder who gets his hands on every loose ball and has a good feel around the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Benson-Devin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48095" /></td>
			<td>Devin Benson
Grade: 5
Williamstown, NJ
Height: 5'2"
Weight: 112
Wingspan: 64
Reach: 80</td>
			<td>Unselfish and Finishes well in traffic

Devin is the definition of a team player. He worked hard all afternoon and really put his athleticism on display. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bishop-Dahmir-e1395780035985-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48096" /></td>
			<td>Dahmir Bishop
Grade: 7
Weight: 134
Wingspan: 62
Reach: 79</td>
			<td>Good defender

Dahmir finishes strong around the rim and defends well. He uses his athleticism and size to his advantage, using both to score as well as defend. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Brooks-Cameron-e1395780930366-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48097" /></td>
			<td>Cameron Brooks
Grade: 7
Macungia, PA
Height: 5'8"
Weight: 132
Wingspan: 67
Reach: 85</td>
			<td>Basketball IQ and Competitiveness

Cameron is a very good shooter who has the ability to handle the ball well when under pressure. His fundamentals and competitive drive give him a good upside. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Brown-Ali-e1395780976310-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48098" /></td>
			<td>Ali Brown
Grade: 5
Philadelphia, PA
Height: 4'3"
Weight: 85
Wingspan: 61
Reach: 79</td>
			<td>Ball Handling and Court Vision

Ali is a great ball handler with the court vision and awareness to makes plays for himself and teammates. He's a tough competitor with a great passion for the game. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Caulk-Rasheen-e1395781088490-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48100" /></td>
			<td>Rasheen Caulk
Grade: 6
Wilmington, DE
Height: 5'0"
Weight: 103
Wingspan: 66
Reach: 83</td>
			<td>Rebounding and Toughness

Rasheen finishes well with his left hand and uses his size and length to his advantage. His athleticism and defense skills give him a big upside. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Cepeda-Nosaj-e1395781145607-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48101" /></td>
			<td>Nosaj Cepeda
Grade: 6
Allentown, PA
Height: 5'1"
Weight: 95
Wingspan: 65
Reach: 79</td>
			<td>Ball Awareness and Rebounding

Nosaj has a good midrange shot and is always moving around the floor. He takes no plays off and always looks to attack the offensive glass. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Crisler-Zach-e1395781234119-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48102" /></td>
			<td>Zach Crisler
Grade: 7
North Wales, PA
Height: 5'11"
Weight: 144
Wingspan: 73
Reach: 94</td>
			<td>Looks to attack rim 

Zach has a nice touch around the bucket and finishes well. Looks to attack the rim on the boards on both ends of the floor. He is also a good defender and will maximize his potential with footwork skill work. Can find opportunities and takes them!</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/DPuia-Noah-e1395781287371-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48103" /></td>
			<td>Noah D'Puia
Grade: 8
Phoenixville, PA
Height: 5'6"
Weight: 120
Wingspan: 65
Reach: 84</td>
			<td>Passes, shoots, defends

Noah offers a variety of contributions on the floor, including solid passing and seeing the floor. Offers good form on his shot offensively, and defends well. Will be explosive when he realizes his full potential through strengthening work. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Bryant-Dapree-e1395781382753-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48099" /></td>
			<td>Bryant Dapree
Grade: 8
Coatesville, PA
Height: 6'0"
Weight: 125
Reach: 66</td>
			<td>Nice touch on shot 

Bryant has good form and touch on his shot, makes smart decisions with the ball, and offers solid defense. He also makes his way to the rim and finishing strong there. Does a particularly good job of on-the-ball defense. </td>
		</tr>
		<tr>
			<td></td>
			<td>Shackylle Dezonie
Grade: 8
Tobyhanna, PA
Height: 6'3"</td>
			<td>Quickness and Defense

Shackylle's passing abilities and court vision stood out throughout the day. He's a solid on the ball defender who makes good choices.</td>
		</tr>
		<tr>
			<td></td>
			<td>Shane Dezonie
Grade: 6
Tobyhanna, PA
Height: 5'7"</td>
			<td>Basketball IQ and Rebounding

Shane is a hard worker who attacked the glass all afternoon. He uses his size to control the floor.</td>
		</tr>
		<tr>
			<td></td>
			<td>Rahsool Diggins
Grade: 6
Philadelphia, PA
Height: 5'1"
Weight: 88
Reach: 79</td>
			<td>Quickness and Work Ethic

Rahsool does everything well on both ends of the court. He has a quick release on his jump shot and sees the court well. He plays very hard and encourages his team to do the same. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Divine-Jacor-e1395781536553-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48104" /></td>
			<td>Jacor Divine
Grade: 7
Philadelphia, PA
Height: 6'1"
Weight: 185
Wingspan: 74
Reach: 95</td>
			<td>Shot Blocking and Reboudning

Jacor is extremely athletic and talented. He has the ability to dominate the game on both ends of the floor.  He finishes well with both hands around the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Edwards-Jr.-Malik-e1395781632160-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48105" /></td>
			<td>Malik Edwards, Jr
Grade: 6
Landsdown, PA
Height: 5'0"
Weight: 90
Wingspan: 61
Reach: 75</td>
			<td>Quick Feet and Basketball IQ

Malik communicates on defense and is constantly moving around the floor. He has a good jump shot and holds his release until the ball goes in the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Elliot-Dylan-e1395781678276-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48106" /></td>
			<td>Dylan Elliot
Grade: 8
Sicklerville, NJ
Height: 5'11"
Weight: 145
Wingspan: 68
Reach: 91</td>
			<td>Good decision maker

Dylan makes good choices on the floor and finishes well. He anticipates on D and sees the man and the ball, making him a smart player. Does a great job of finishing around the basket and scores. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Evans-Myjere-e1395781716904-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48107" /></td>
			<td>Myjere Evans
Grade: 7
Weight: 119
Wingspan: 68
Reach: 85</td>
			<td>Shooting and Playing Unselfishly

Myjere plays the game unselfishly and looks to get his teammates involved. He showed good form on his shot and did a nice job of defending the ball and playing help-side defense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Fair-Ahmad-e1395781820620-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48108" /></td>
			<td>Ahmad Fair
Grade: 6
Philadelphia, PA
Height: 5'5"
Weight: 117
Wingspan: 70
Reach: 87</td>
			<td>Leadership and Basketball IQ

Ahmad plays hard and loves to compete. He excelled in the transition game and used his athleticism to be a great on the ball defender. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Garrett-Liam-e1395781923480-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48109" /></td>
			<td>Liam Garrett
Grade: 6
Macungie, PA
Weight: 152
Wingspan: 67
Reach: 85</td>
			<td>Rebounding and Passing

Liam has very good hands and caught every basketball that was thrown his way. He's very active and an excellent low post scorer.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Gilbert-Rahmee-e1395781997402-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48110" /></td>
			<td>Rahmee Gilbert
Grade: 6
Chester, PA
Height: 4'11"
Weight: 91
Wingspan: 62
Reach: 75</td>
			<td>Quickness and Ball Handling

Rahmee is willing to do whatever it takes to help his team win. He gets in the lane and sees the floor very well to make the right pass. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Gilliam-Samir-e1395782054393-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48111" /></td>
			<td>Samir Gilliam
Grade: 5
Bala Cynwyd, PA
Height: 4'8"
Weight: 76
Wingspan: 56
Reach: 72</td>
			<td>Leadership and Basketball IQ

Samir shoots a nice floater in the lane and plays very unselfishly. He always makes sure that his teammates are involved and are getting opportunities.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Green-Samir-e1395782127867-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48112" /></td>
			<td>Samir Green
Grade: 7
Height: 5'11"
Weight: 132
Wingspan: 71
Reach: 89</td>
			<td>Rebounding and Athleticism

Samir is a good athlete who plays with a great aggression. He's a solid rebounder on both ends of the floor. Offensively he makes wise choices.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Griffin-Keshon-e1395782263890-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48113" /></td>
			<td>Keshon Griffin
Grade: 5
Sicklerville, NJ
Height: 5'9"
Weight: 140
Wingspan: 74
Reach: 92</td>
			<td>Nice touch around basket

Keshon is a natural athlete who plays the game hard and with passion. Does a nice job finishing around the basket and getting the shot off. If he keeps working at it and getting stronger, the future is bright for him in basketball. </td>
		</tr>
		<tr>
			<td></td>
			<td>Khyree Harmon
Grade: 6
Philadelphia, PA
Height: 5'5"</td>
			<td>Passing and Basketball IQ

Khyree can get into the lane anytime he wants. His good decision making skills paired with his court vision make him an excellent all around player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Harrison-Zahree-e1395782417839-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48114" /></td>
			<td>Zahree Harrison
Grade: 6
Wyncote, PA
Height: 5'0"
Weight: 127
Wingspan: 64
Reach: 79</td>
			<td>Shooting Form and Passing

Zahree uses the ball fake and his body well to create open shots for himself. His shooting form and other fundamentals are all excellent. He changes speed and direction with ease to make the extra pass to an open teammate. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Henry-coppedge-Maurice-e1395782519928-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48115" /></td>
			<td>Maurice Henry-Coppedge
Grade: 7
Jenkintown, PA
Height: 5'0"
Weight: 82
Wingspan: 61
Reach: 75</td>
			<td>Sees the floor

Maurice makes good decisions, communicates well, sees the floor, and can change pace with the ball. He can also get a shot up in traffic. Gets teammates involved and has a bright future at the point. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hicks-Rhadir-e1395782565330-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48116" /></td>
			<td>Rhadir Hicks
Grade: 6
Coatesville, PA
Height: 5'2"
Weight: 100
Wingspan: 65
Reach: 81</td>
			<td>Energy and Reboudning

Rhadir's passion and energy on defense is what stood out all afternoon. His basketball IQ and defensive skillset made him a great asset to the team. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hines-Kyle-e1395782621293-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48118" /></td>
			<td>Kyle Hines
Grade: 6
Philadelphia, PA
Weight: 92
Wingspan: 59
Reach: 76</td>
			<td>Basketball IQ and Ball Handling

Kyle gets the game of basketball and knows how to truly play. He also hit a few pull up threes in transition over the course of the afternoon. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Hines-Delonce-e1395845838715-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48117" /></td>
			<td>Delonce Hines
Grade: 6
Philadelphia, PA
Weight: 97
Wingspan: 63 
Reach: 80</td>
			<td>Great Shooting Form 

Delonce is a good shooter with solid form and nice three-point range. He does a good job of setting himself up for a shot and is a decent passer. His footwork and on-court intelligence is also commendable. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ingram-Truth-e1395782675818-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48119" /></td>
			<td>Truth Ingram
Grade: 7
Weight: 152
Wingspan: 73
Reach: 92</td>
			<td>Size and Confidence

Truth is confident with the ball and has good range on his shot. His shooting form and arc are both well developed. He showed a nice touch around the basket as well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Klinewski-Noah-e1395782743671-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48120" /></td>
			<td>Noah Klinewski
Grade: 7
Vorhees, NJ
Height: 4'8"
Weight: 89
Wingspan: 64
Reach: 80</td>
			<td>Decision Making and Defense

Noah does a great job of being a leader on the court. He makes good decisions with the ball and finds the balance between taking shots and getting his teammates involved. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Morris-Ian-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48122" /></td>
			<td>Ian Morris
Grade: 5
Wayne, PA
Height: 5'1"
Weight: 84
Wingspan: 64
Reach: 76</td>
			<td>Rebounds well in traffic

Ian's mid-range game is solid. His fundamental on both ends of the court are great and he consistently plays hard. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Moultrie-Kaleem-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48123" /></td>
			<td>Kaleem Moultrie
Grade: 5
Height: 5"1"
Weight: 88
Wingspan: 61
Reach: 78</td>
			<td>Team Player and Passing Abilities

Kaleem did a nice job of handling the ball and getting it to the open teammate. He did a great job of getting his teammates involved and knocking down the open shot. He has good rotation and range on his shot. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Nelson-Gary-e1395782852904-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48124" /></td>
			<td>Gary Nelson
Grade: 6
Weight: 76</td>
			<td>Defense and Quickness

Gary, when left open, can hit a jumpshot with ease. He's a great on the ball defender who never takes a play off. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Oconnell-Jacob1-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48125" /></td>
			<td>Jacob O'Connell
Grade: 7
Vorhees, NJ
Height: 6'4"
Weight: 165
Wingspan: 74
Reach: 96</td>
			<td>Rebounding and Finishing

Jacob has a good soft touch from mid-range and in. He runs the floor well and plays hard for his size. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Payne-Saleem-e1395782930943-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48126" /></td>
			<td>Saleem Payne
Grade: 5
Glenside, PA
Height: 4'11"</td>
			<td>Team Player and Good Footwork

Saleem ran up and down the court all afternoon and always got his teammates involved. His shot also has a nice arc to it. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Paz-Justin-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48127" /></td>
			<td>Justin Paz
Grade: 8
Allentown, PA
Height: 4'2"
Weight: 112
Wingspan: 66
Reach: 84</td>
			<td>Nice shot

Justin offers a nice shot and protects the ball as a guard. He can really run a team on both coasts, using his body and creating angles when passing. Great form and arc on the J. </td>
		</tr>
		<tr>
			<td></td>
			<td>Tyree Pickron
Grade: 8
Philadelphia, PA
Height: 6'0"
Weight: 165
Wingspan: 76
Reach: 96</td>
			<td>Athleticism and Basketball IQ

Tyree does a nice job of getting to the rim and finishing around the basket. He has good control of his body when driving and plays unselfishly. Tyree has sound form and arc on his jump shot. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Ray-Christian-e1395783062544-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48128" /></td>
			<td>Christian Ray
Grade: 8
Gap, PA
Height: 6'0"
Weight: 148
Wingspan: 70
Reach: 92</td>
			<td>Shooting and Finishing

Christian does a nice job of finishing at the rim and using his body to set his shot off. He sees the floor well and makes good decisions when the ball is in his hands. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Rickard-Colin-e1395933263653-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48129" /></td>
			<td>Colin Rickard
Grade: 7
Honesdale, PA
Height: 5'1"
Weight: 97
Wingspan: 62
Reach: 80</td>
			<td>Shooting and Ballhandling

Colin's shooting range extends to the three-point line. His athleticism and knowledge for the game show as he plays with great passion and energy.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Roddy-Sean-e1395783311534-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48130" /></td>
			<td>Sean Roddy
Grade: 7
Collegeville, PA
Height: 5'1"
Weight: 114
Wingspan: 65
Reach: 83</td>
			<td>Shooting and Attitude

Sean's shooting abilities and range are excellent. He has a high basketball IQ and great competitive spirit. He looks for the open man and makes the right pass. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Rogers-Chris-e1395783353340-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48131" /></td>
			<td>Chris Rogers
Grade: 8
McGaheysville, VA
Height: 5'6"
Weight: 124
Wingspan: 66
Reach: 86</td>
			<td>Athleticism and Ball Handling

Chris runs the floor well and makes great decisions with the ball. His ball handling skills and court vision  make him a great passer. He plays with poise and always showed a fiery competitive spirit. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Rolle-Elgadro-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48132" /></td>
			<td>Elgadro Rolle
Grade: 6
Allentown, PA
Weight: 87
Wingspan: 59
Reach: 75</td>
			<td>3 Point Shooting and Communication

Elgadro communicates well on defense and always knows where the open man on the court is. His three point shooting is also very good. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Rouse-Gabriel-e1395783526105-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48133" /></td>
			<td>Calvin Rouse
Grade: 8
Vorhees, NJ
Height: 5'9"
Weight: 123
Wingspan: 71
Reach: 92</td>
			<td>Athleticism and Ball Handling

Calvin is an excellent ball handler who also has great court vision. His knowledge for the game helped him be a leader on the court. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Sanders-Isaiah-e1395783594610-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48134" /></td>
			<td>Isaiah Saunders
Grade: 8
Sicklerville, NJ
Height: 6'0"
Weight: 141
Wingspan: 75
Reach: 94</td>
			<td>Aggressiveness and Shooting

Isaiah has a good touch on the ball and his shot has a nice arc on it. His footwork and skill set are both solid. He can score inside or out and has an aggressiveness when getting to the basket. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Sandstead-Mac-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48135" /></td>
			<td>Mac Sandstead
Grade: 5
Villanova, PA
Height: 4'10"
Weight: 74
Wingspan: 56
Reach: 73</td>
			<td>Shooting and Work Ethic

Mac has an excellent Basketball IQ and always plays hard. When left unguarded he can easily knock down open jumpers. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Scratchard-Jed-e1395783654966-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48136" /></td>
			<td>Jed Scratchard
Grade: 9
Height: 5'8"
Weight: 126</td>
			<td>Rebounding and Court Vision

Jed's a very good all around player who plays hard at all times. His shot has a nice arc to it and he has the ability to score both inside and out. He also gives good effort on the offensive and defensive boards. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Shiffer-Matthew-e1395783701535-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48137" /></td>
			<td>Matt Shiffer
Grade: 8
Fogelsville, PA
Weight: 201
Wingspan: 71</td>
			<td>Basketball Knowledge and Rebounding

Matthew uses his body well to get into position in the post. He's a solid rebounder who plays hard all over the floor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Stephanides-Demetrius-e1395783752578-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48138" /></td>
			<td>Demetrius Stephanides
Grade: 6
Macungie, PA
Weight: 110
Wingspan: 64
Reach: 81</td>
			<td>Speed and Rebounding

Demetrius runs the floor well and has very good hands in the post. He was very active on the offensive glass and always looked to get teammates involved. </td>
		</tr>
		<tr>
			<td></td>
			<td>Masud Stewart
Grade: 5
Bear, DE
Height: 5'0"
Weight: 96
Wingspan: 61
Reach: 78</td>
			<td>Athleticism and Energy

Masud gives everything he has and never takes a play off. He is very active around the basket and can finish with either hand.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Warley-Jalen-e1395784101119-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48140" /></td>
			<td>Jalen Warley
Grade: 5
Norristown, PA
Weight: 100
Wingspan: 54
Reach: 69</td>
			<td>Passing and Court Vision

Jalen has great court vision and has the ability to make plays for his teammates. He plays with great energy and a passion for the game. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Whyte-Jahson-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48141" /></td>
			<td>Jahson Whyte
Grade: 8
Allentown, PA
Weight: 177
Wingspan: 79
Reach: 102</td>
			<td>Long and athletic

Jahson finishes well with both hands around the basket. He's an aggressive rebounder who will maximize his potential with added strength and skill work. Plays hard and runs the floor well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Williams-Keshawn-e1395783981324-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48142" /></td>
			<td>Keshawn Williams
Grade: 6
Weight: 104
Wingspan: 49
Reach: 77</td>
			<td>Ball Handling, Active Around the Basket

Keshawn attacks the basket and finishes well in transition. He's an excellent on the ball defender with quick hands. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/03/Yadush-Sam-e1395783933429-100x75.jpg" alt="" width="100" height="75" class="alignleft size-thumbnail wp-image-48143" /></td>
			<td>Sam Yadish
Grade: 8
New Tripoli, PA
Height: 112
Weight: 59
Wingspan: 78</td>
			<td>Shooting and Competitiveness

Sam plays with a high level of intensity and has a great spirit. He's a very good shooter who plays the game with a high basketball IQ. </td>
		</tr>
	</tbody>
</table>
