<table>
	<thead>
		<tr>
			<th>Player Headshot</th>
			<th>Player Bio</th>
			<th>Player Strengths</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Alcorn-Charlie.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Alcorn-Charlie.jpg" alt="" width="200" height="143" class="aligncenter size-full wp-image-49678" /></a></td>
			<td>Charlie Alcorn
Grade: 9
Glenside PA

Height:5'7
Wingspan:67 
Reach:85
Vertical:26</td>
			<td>Charlie is a true point guard who can run a team. He handles and distributes the ball well and hustles on every play. His energy and dedication to getting better was contagious! </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Andre-Kris.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Andre-Kris.jpg" alt="" width="200" height="137" class="aligncenter size-full wp-image-49679" /></a></td>
			<td>Kris Anderson
Grade: 12
Franklinville NJ

Height:6'2
Wingspan:77 
Reach:94
Vertical:28</td>
			<td>Power Guard
Kris is a power guard effective in applying his strength! He is a pest of a perimeter player, making it tough for the opponent.
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Naim Shahid Austin
Grade: 12
Norristown PA

Height:6'1
Wingspan: 
Reach:
Vertical:</td>
			<td>Athletic
Austin boasts length and a great shot! He has the frame to be a great 3 or 4 and helps his team defensively. He can also hit the open 15 footer on offense, making him an all-around force to be reckoned with!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Avent-Asiah.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Avent-Asiah.jpg" alt="" width="200" height="143" class="aligncenter size-full wp-image-49680" /></a></td>
			<td>Asiah Avent
Grade:11
Somerset NJ
Height:6'3
Wingspan:78 
Reach:96
Vertical:29</td>
			<td>Defensive Pressure
Asiah's defensive aggression resulted in many turnovers for the opponent! He's a very athletic rebounder in traffic as well making him an asset to any team!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Banks-Nareh.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Banks-Nareh.jpg" alt="" width="200" height="146" class="aligncenter size-full wp-image-49681" /></a></td>
			<td>Najeh Banks
Grade 10
Height: 6'0
Wingspan:73 
Reach:92
Vertical:25</td>
			<td>Crafty and Athletic
Najeh is a creative guard with great handle and passing ability. He's capable of setting up teammates and set up opportunities for himself as well.
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>David Beatty
Grade 9
Philadelphia PA
Height: 6'3
Wingspan: 
Reach:
Vertical:</td>
			<td>Athletic Guard
Najeh is a creative guard with great handle and passing ability. He's capable of setting up teammates and set up opportunities for himself as well.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Bell-Randy.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bell-Randy.jpg" alt="" width="200" height="143" class="aligncenter size-full wp-image-49682" /></a></td>
			<td>Randy Bell
Grade 11
Sicklerville NJ
Height: 5'9
Wingspan:74 
Reach:92
Vertical:27</td>
			<td>Good shooter
Randy offers a strong shot and solid D. He is quick-footed defensively and a danger with his shot offensively! Count on him to makes things happen coast to coast.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Bennett-Greg.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bennett-Greg.jpg" alt="" width="200" height="151" class="aligncenter size-full wp-image-49683" /></a></td>
			<td>Greg Bennett
Grade 12
Philadelphia PA
Height: 6'3
Wingspan:74 
Reach:95
Vertical:35</td>
			<td>Shooting and attacking
Greg is a good shooter who attacks the rim. He is an offensive threat at a distance and in the paint, as he can shoot a j from beyond the arc and attack the basket off the dribble. He also handles well with both hands!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Besachio-Rio.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Besachio-Rio.jpg" alt="" width="200" height="139" class="aligncenter size-full wp-image-49684" /></a></td>
			<td>Rio Besachio
Grade 9
Philadelphia PA
Height: 5'10
Wingspan: 69
Reach:90
Vertical:23</td>
			<td>Team Player
Rio is a tireless player that hustles every second he's on the floor. He makes every moment count!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Blackshear-Bell-Brandon1.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Blackshear-Bell-Brandon1.jpg" alt="" width="200" height="135" class="aligncenter size-full wp-image-49685" /></a></td>
			<td>Brandon Blackshear-Bell
Grade 11
Lawrenceville NJ
Height: 5'11
Wingspan: 73
Reach:93
Vertical:</td>
			<td>Ballhandling and passing
Brandon offers strong passing and handle. He is a team leader who can take the ball aggressively to the hole!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Bossert-Mason.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bossert-Mason.jpg" alt="" width="200" height="143" class="aligncenter size-full wp-image-49686" /></a></td>
			<td>Mason Bossert
Grade 9
Myerstown PA
Height: 5'10
Wingspan: 
Reach:
Vertical:</td>
			<td>Shot-ready
Mason positions himself to be prepared for the shot and finishes with good form! He knows the game and where to be at all times. Hustles hard on both ends too!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Braxton-Keith.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Braxton-Keith.jpg" alt="" width="200" height="148" class="aligncenter size-full wp-image-49687" /></a></td>
			<td>Keith Braxton
Grade 11
Glassboro NJ
Height: 6'2
Wingspan:76 
Reach:96
Vertical:28</td>
			<td>Athleticism
Keith offers athleticism and hustle, always being around the ball. He is a dynamic rebounder and an athletic wing that is hard to stop when headed to the hoop!
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Nysier Brooks
Grade 10
Pa.
Height: 6'8
Wingspan:81 
Reach:106
Vertical:</td>
			<td>Boards and scoring
He is super athletic for his size, a dangerous inside scorer and excellent at grabbing the rebound! He is also crafty around the rim and a gem for any team.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Brundage-3rd-Ron.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Brundage-3rd-Ron.jpg" alt="" width="200" height="137" class="aligncenter size-full wp-image-49688" /></a></td>
			<td>Ron Brundage
Grade 11
Glen Mills pa
Height: 6'2
Wingspan:74 
Reach:94
Vertical:28</td>
			<td>Quick release
He is super athletic for his size, a dangerous inside scorer and excellent at grabbing the rebound! He is also crafty around the rim and a gem for any team.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Bunyon-Myles.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Bunyon-Myles.jpg" alt="" width="200" height="149" class="aligncenter size-full wp-image-49689" /></a></td>
			<td>Myles Bunyon
Grade 9
Collegeville PA
Height: 5'3
Wingspan:67 
Reach:83
Vertical:27</td>
			<td>Passes and handles
Myles is a great ballhandler and passer who commands the court fully as a point guard! He is also an unselfish player, making him a true asset to any team.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Burton-Aaron.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Burton-Aaron.jpg" alt="" width="200" height="139" class="aligncenter size-full wp-image-49690" /></a></td>
			<td>Aaron Burton
Grade 12
Elkins Park PA
Height: 6'1
Wingspan: 
Reach:
Vertical:</td>
			<td>Good shooter
Aaron takes the smart shot and is a good defender, pressuring up on the ball and helping during a drive. an asset to any team!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Carroll-Nolan.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Carroll-Nolan.jpg" alt="" width="200" height="138" class="aligncenter size-full wp-image-49691" /></a></td>
			<td>Nolan Carroll
Grade 11
Media Pa
Height: 6'0
Wingspan:71 
Reach:93
Vertical:21</td>
			<td>Shot and pass
Nolan can not be left open around the arc or he'll knock down the 3! He is an unselfish player with a great understanding of the game.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Casanova-Benjamin.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Casanova-Benjamin.jpg" alt="" width="200" height="130" class="aligncenter size-full wp-image-49692" /></a></td>
			<td>Benjamin Casanova
Grade 11
Newtown Square PA
Height: 6'5
Wingspan: 
Reach:
Vertical:</td>
			<td>Toughness and D
Ben is a smart basketball player that is solid on both ends. He is aggressive and strong going to the basket and shoots well from the floor!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Cazan-Brandon.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Cazan-Brandon.jpg" alt="" width="200" height="146" class="aligncenter size-full wp-image-49693" /></a></td>
			<td>Brandon Cazan
Grade 11
Sicklerville NJ
Height: 6'6
Wingspan:77 
Reach:101
Vertical:24</td>
			<td>Runs the floor
Brandon really runs the floor and plays hard on D. He offers a variety of shots offensively and should seek to keep improving on offense to be unstoppable!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Cerruti-Matt.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Cerruti-Matt.jpg" alt="" width="200" height="135" class="aligncenter size-full wp-image-49694" /></a></td>
			<td>Matt Cerruti
Grade 9
Huntingdon Valley Pa
Height: 6'3
Wingspan:73 
Reach:94
Vertical:120</td>
			<td>Hustle and Communication
Matt communicates well and hustles throughout a game. He is scrappy and will dive on the floor for a loose ball or chase down a man on a breakaway! he communicates well on defense and is an asset to any team.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Connaghan-Luke.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Connaghan-Luke.jpg" alt="" width="200" height="138" class="aligncenter size-full wp-image-49695" /></a></td>
			<td>Luke Connaghan
Grade 11
Warrington PA
Height: 6'5
Wingspan:76 
Reach:99
Vertical:26.5</td>
			<td>Smart and controls ball
Luke is intelligent and keeps the game under control. He offers good size for a wing and finishes well at the rim!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Cooper-Luke1.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Cooper-Luke1.jpg" alt="" width="200" height="135" class="aligncenter size-full wp-image-49696" /></a></td>
			<td>Luke Cooper
Grade 11
Medford NJ
Height: 6'6
Wingspan:75 
Reach:98
Vertical:27</td>
			<td>Runs floor well
Luke really runs the floor well and does a good job of getting easy buckets by beating players down the floor! Potential to be a very good pick and pop player at the next level.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Cooper-Tymir.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Cooper-Tymir.jpg" alt="" width="200" height="147" class="aligncenter size-full wp-image-49697" /></a></td>
			<td>Tymir Cooper
Grade 9
Philadelphia Pa
Height: 5'8
Wingspan:69 
Reach:85
Vertical:21.5</td>
			<td>Athletic Shooter
Tymir is a natural athlete with a strong shot. He did a good job of reading ballscreens and his hot shooting kept him and his team in games!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Cosby-Kyleel.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Cosby-Kyleel.jpg" alt="" width="200" height="146" class="aligncenter size-full wp-image-49698" /></a></td>
			<td>Kyleel Cosby
Grade 11
Philadelphia PA
Height: 6'4
Wingspan:78 
Reach:98
Vertical:27</td>
			<td>Boards and athleticism
Kyleel uses his ability to elevate well on both ends of the floor. He also plays good help D and is always in the right position. Smart player!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Crone-Michael.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Crone-Michael.jpg" alt="" width="200" height="146" class="aligncenter size-full wp-image-49699" /></a></td>
			<td>Michael Crone
Grade 11
Lafayette Hill PA
Height:5'9
Wingspan:70 
Reach:87
Vertical:27</td>
			<td>Team player
Mike has a great positive attitude and is a true team player! He does whatever is necessary for the good of his team, and understands the concept of team defense.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Curry-Marcell.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Curry-Marcell.jpg" alt="" width="200" height="143" class="aligncenter size-full wp-image-49700" /></a></td>
			<td>Marcell Curry
Grade 10
Philadelphia PA
Height: 5'9
Wingspan:72 
Reach:90
Vertical:26</td>
			<td>Passing
Mike has a great positive attitude and is a true team player! He does whatever is necessary for the good of his team, and understands the concept of team defense.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/DPasquale-Domenick.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/DPasquale-Domenick.jpg" alt="" width="200" height="134" class="aligncenter size-full wp-image-49701" /></a></td>
			<td>Domenick DePasquale
Grade 11
Height: 6'1
Wingspan:71 
Reach:91
Vertical:26</td>
			<td>Attitude and hustle
Domenick is a terrific team player. He is unselfish and can also really knock down the long jumper!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Delossantos-Jeff.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Delossantos-Jeff.jpg" alt="" width="200" height="140" class="aligncenter size-full wp-image-49702" /></a></td>
			<td>Jeff Delossantos
Grade 10
Height: 6'1
Wingspan:74 
Reach:94
Vertical:25</td>
			<td>D and hustle
Jeff has a good understanding of how to play team defense. He works hard and has a strong will to win!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Dimascio-Pasquale.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Dimascio-Pasquale.jpg" alt="" width="200" height="140" class="aligncenter size-full wp-image-49703" /></a></td>
			<td>Pasquale Dimascio
Grade 11
Philadelphia, PA
Height: 6'3
Wingspan:76 
Reach:96
Vertical:23</td>
			<td>Cagey scorer
Pasquale does a nice job of scoring through guys with floaters and alternating hand finishes. He has good footwork in the post with smaller guards surrounding him.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Dipietrantonio-Alec.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Dipietrantonio-Alec.jpg" alt="" width="200" height="134" class="aligncenter size-full wp-image-49704" /></a></td>
			<td>Alec Dipietrantonio
Grade 9
Mt Laurel NJ
Height: 5'11
Wingspan: 
Reach:
Vertical:</td>
			<td>Really runs floor
Pasquale does a nice job of scoring through guys with floaters and alternating hand finishes. He has good footwork in the post with smaller guards surrounding him.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Doyle-Mike.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Doyle-Mike.jpg" alt="" width="200" height="142" class="aligncenter size-full wp-image-49705" /></a></td>
			<td>Mike Doyle
Grade 11
Media Pa
Height: 6'1
Wingspan:72 
Reach:92
Vertical:23</td>
			<td>Defender
Mike plays really hard on D and has good tempo on offense. A true team player, he wants to win, offers a great mentality, and never stops hustling!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Dryer-Trey.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Dryer-Trey.jpg" alt="" width="200" height="145" class="aligncenter size-full wp-image-49706" /></a></td>
			<td>Trey Dreyer
Grade 11
Elkton Md
Height: 
Wingspan:79 
Reach:97
Vertical:29</td>
			<td>Athletic and aggressive
Trey offers athleticism and aggressive style of play, who gets to the rim and finishes and isn't afraid of taking a shot. A scoring guard, he makes his way easily to risky spots and finds success!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Ellis-Herbert.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ellis-Herbert.jpg" alt="" width="200" height="147" class="aligncenter size-full wp-image-49707" /></a></td>
			<td>Herbert Ellis
Grade 11
Trenton NJ
Height: 6'0
Wingspan:75 
Reach:94
Vertical:31</td>
			<td>Passing and boards
Herbert offered a strong showing through passing, defense, and grabbing boards!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Figueroa-Angel.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Figueroa-Angel.jpg" alt="" width="200" height="143" class="aligncenter size-full wp-image-49708" /></a></td>
			<td>Angel Figueroa
Grade 10
Lancaster PA
Height: 5'11
Wingspan: 74
Reach:91
Vertical:22.5</td>
			<td>Plays hard
Angel really plays hard and attacks the glass. He does all the little things it takes to win a game. He attacks the glass well for a guard his size!
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Derrick Fisher
Grade 10
Williamsport PA
Height: 6'3
Wingspan:75 
Reach:99
Vertical:28</td>
			<td>Length and strength
Derrick has good size on the wing and uses it to bother the ballhandler. Offensively, he is an excellent ball mover, making him a force to be reckoned with on either side of the floor.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Funk-Tom.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Funk-Tom.jpg" alt="" width="200" height="149" class="aligncenter size-full wp-image-49709" /></a></td>
			<td>Tom Funk
Grade 10
Warrington PA
Height: 5'11
Wingspan: 70
Reach:89
Vertical:28.5</td>
			<td>Nice lefty
Tom offers nice lefty stroke and a strong jumper. He controls the tempo nicely and looks to set up the offense. He has a good stroke with a one-dribble pull up. Quickness combined with ability to control tempo is a combo any coach would want!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Galgano-Ryan2.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Galgano-Ryan2.jpg" alt="" width="200" height="142" class="aligncenter size-full wp-image-49710" /></a></td>
			<td>Ryan Galgano
Grade 9
Cresskill NJ
Height: 5'10
Wingspan: 71 
Reach:88
Vertical:114</td>
			<td>Drive and kicks
Ryan has a knack for finding the open guy when he drives the paint! He is also talented at using screens and getting the quick shot up.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Gillespie-Collin.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Gillespie-Collin.jpg" alt="" width="200" height="145" class="aligncenter size-full wp-image-49711" /></a></td>
			<td>Collin Gillespie
Grade 9
Huntingdon Valley Pa
Height: 5'10
Wingspan: 70.5
Reach:91
Vertical:22</td>
			<td>Handle
Collin handles the ball well and offers an intelligent game! he has what it takes to be a complete PG and the foot speed to stay on top of everything going on. He can really push in transition to make things happen!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Gordon-George.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Gordon-George.jpg" alt="" width="200" height="135" class="aligncenter size-full wp-image-49712" /></a></td>
			<td>George Gordon
Grade 9
Downington PA
Height: 6'6
Wingspan:76 
Reach:100
Vertical:26</td>
			<td>Screens well
George really screens and pops well. He's a smart player who understands the game and has the potential to be a big-time player with time spent in the weight room. Gets trash points and crashes the glass hard!
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Salim Green
Grade 11
Bronxville NY
Height: 5'9
Wingspan:71 
Reach:92
Vertical:</td>
			<td>Footwork

Salim offers nice footwork and stroke. He can drive to the hole and is an athletic wing who can really score!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Guers-Timothy.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Guers-Timothy.jpg" alt="" width="200" height="146" class="aligncenter size-full wp-image-49713" /></a></td>
			<td>Timothy Guers
Grade 11
Langhorne PA
Height: 6'3
Wingspan:73 
Reach:96
Vertical:27</td>
			<td>Fearless
Tim is fearless on the floor and an aggressive asset. He shoots well, attacks well, and offers supreme confidence on the court. He's also dangerous off the dribble and uses his size well for a guard!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Hale-Deon.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hale-Deon.jpg" alt="" width="200" height="151" class="aligncenter size-full wp-image-49714" /></a></td>
			<td>Deon Hale
Grade 10
Ewing NJ
Height: 5'8
Wingspan: 
Reach:
Vertical:</td>
			<td>Handle and quickness
Deon is an intelligent PG who can push the ball up the floor and make things happen! He uses his quickness well to cause turnovers on the defensive end.
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Isiah Hankins
Grade 9
Williamsport Pa
Height: 5'9
Wingspan:69 
Reach:88
Vertical:28</td>
			<td>Smarts and handle
Isaiah is a good ballhandler and plays intelligently. He directs the offense well as PG and puts the ball in the right person's hands. he's not afraid to attack the basket!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Harris-Jahmil.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Harris-Jahmil.jpg" alt="" width="200" height="148" class="aligncenter size-full wp-image-49715" /></a></td>
			<td>Jahmil Harris
Grade 11
Philadelphia PA
Height: 6'3
Wingspan:77 
Reach:100
Vertical:22</td>
			<td>Creates plays
Jahmil can really create for himself on the floor and offers skills as a guard/forward. Work on his face up game will make him the unstoppable player he has the potential to be!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Hawkins-Khree.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hawkins-Khree.jpg" alt="" width="200" height="148" class="aligncenter size-full wp-image-49716" /></a></td>
			<td>Khyree Hawkins
Grade 12
Philadelpha PA
Height: 5'7
Wingspan: 
Reach:
Vertical:</td>
			<td>Handle and passing
Khyree is an aggressive guard who excels in ball screen situations. He handles very well with contact and with work to control tempo will reach his full and very promising potential!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Hayes-Nasi.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hayes-Nasi.jpg" alt="" width="200" height="143" class="aligncenter size-full wp-image-49717" /></a></td>
			<td>Nasi Hayes
Grade 10
Philadelphia PA
Height: 5'9
Wingspan:73 
Reach:89
Vertical:26.5</td>
			<td>Passing and intellect
Nasi gets the ball to the right people at the right time. He also communicates well with teammates!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Herb-Tanner.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Herb-Tanner.jpg" alt="" width="200" height="139" class="aligncenter size-full wp-image-49718" /></a></td>
			<td>Tanner Herb
Grade 9
Hatboro PA
Height: 5'8
Wingspan:70 
Reach:86
Vertical:24.5</td>
			<td>Hard worker
Tanner plays hard and looks for others. He understands the game, and should seek to do the little things coast to coast to maximize his full potential as a great player!
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Joshua Hevalow
Grade 12
Sicklerville NJ
Height: 6'6
Wingspan: 
Reach:
Vertical:</td>
			<td>Inside man
Joshua is a strong physical inside player who uses his body to finish in the paint. He makes the extra effort to go after boards outside his area and has a lot of heart!
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>John Hevalow
Height:
Wingspan: 
Reach:
Vertical:</td>
			<td>Nice Jumper
John grabs boards, handles well up the court, has a nice shot and hustles. Displayed energy all game!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Hinckley-Michael.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hinckley-Michael.jpg" alt="" width="200" height="143" class="aligncenter size-full wp-image-49719" /></a></td>
			<td>Michael Hinckley
Grade 11
Bryn Mawr PA
Height: 6'0
Wingspan:71 
Reach:90
Vertical:33.5</td>
			<td>Smart guard
Mike is an intelligent floor general with great vision and is a talented and willing passer. He knows how to use his size and play with contact!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Holloway-Jamal1.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Holloway-Jamal1.jpg" alt="" width="200" height="147" class="aligncenter size-full wp-image-49720" /></a></td>
			<td>Jamal Holloway
Grade 10
Camden NJ
Height: 6'4
Wingspan:77 
Reach:97
Vertical:32</td>
			<td>Defense and athleticism
Jamal uses his length and quickness to shut down his man. He is aggressive on the boards and runs the floor well!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Holloway-Mike.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Holloway-Mike.jpg" alt="" width="200" height="147" class="aligncenter size-full wp-image-49721" /></a></td>
			<td>Mike Holloway
Grade 11
Pittsgrove NJ
Height: 6'7
Wingspan:81 
Reach:101
Vertical:28.5</td>
			<td>Runs team
Mike is a PG who can really run a team. He works hard, does a great job ballhandling and distributing!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Hummel-Justin.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Hummel-Justin.jpg" alt="" width="200" height="149" class="aligncenter size-full wp-image-49722" /></a></td>
			<td>Justin Hummel
Grade 9
Fleetwood MA
Height: 5'8
Wingspan:70 
Reach:87
Vertical:28</td>
			<td>runs floor well
Justin runs the floor well and offers good spacing throughout the floor. He has great combo guard qualities, can score, and truly understands the game!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Ivory-Ijavion1.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Ivory-Ijavion1.jpg" alt="" width="200" height="148" class="aligncenter size-full wp-image-49723" /></a></td>
			<td>Ijavion Ivory
Grade 10
Brown Mills NJ
Height: 6'3
Wingspan:78 
Reach:95
Vertical:28</td>
			<td>Explosive athlete
Ijavion is expolsive and aggressive down low. An athletic 4-man with a wide body, he can get a lot of quick points and other little things it takes to win! A true team contributor.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Jackson-Anthony.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Jackson-Anthony.jpg" alt="" width="200" height="145" class="aligncenter size-full wp-image-49724" /></a></td>
			<td>Anthony Jackson
Grade 11
Height: 6;7
Wingspan:78 
Reach:99
Vertical:29</td>
			<td>Boards and ballhandling
Anthony handles well and is aggressive on the boards. Has a knack for starting a fast break with a strong outlet pass!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Jardine-Shane1.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Jardine-Shane1.jpg" alt="" width="200" height="138" class="aligncenter size-full wp-image-49725" /></a></td>
			<td>Shane Jardine
Grade 10
Bordentown NJ
Height: 5'6
Wingspan:72 
Reach:89
Vertical:25</td>
			<td>Handle and quickness
Anthony handles well and is aggressive on the boards. Has a knack for starting a fast break with a strong outlet pass!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Jefferson-Randy.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Jefferson-Randy.jpg" alt="" width="200" height="150" class="aligncenter size-full wp-image-49726" /></a></td>
			<td>Randy Jefferson
Grade 9
Scranton PA
Height: 5'8
Wingspan:69 
Reach:88
Vertical:25</td>
			<td>Ballhandle
Randy offers great ballhandling skills and is a smart player! He executes the right play each time making him a reliable asset to any team.
</td>
		</tr>
		<tr>
			<td>No Headshot Availbale  </td>
			<td>Isisah Jennings
Grade 10
Allentown PA
Height: 5'11
Wingspan: 71
Reach:89
Vertical:</td>
			<td>Combo guard
Isiah is a great combo guard who can knock down the shot. He is also dangerous when hitting teammates with the pass to make things happen!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Jones-Trent.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Jones-Trent.jpg" alt="" width="200" height="148" class="aligncenter size-full wp-image-49728" /></a></td>
			<td>Trent Jones
Grade 10
Washington DC
Height:5'4
Wingspan: 68 
Reach:89
Vertical:23.5</td>
			<td>Sees floor
Trent really sees the floor well and looks for his teammates. He's a pass-first PG who controls the tempo on-floor. He communicates well and is an asset to any team!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Jones-Damone.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Jones-Damone.jpg" alt="" width="200" height="144" class="aligncenter size-full wp-image-49727" /></a></td>
			<td>Damone Jones
Grade 11
Drexel Hill PA
Height:5'10
Wingspan: 70
Reach:87
Vertical:28</td>
			<td>Ballhandle and IQ
Damone is a leader on the floor. He puts his team in a position to score. He can also make the spectacular pass but is ok executing the classics as well!
</td>
		</tr>
		<tr>
			<td>No Headshot Av a</td>
			<td>Steve Jordan
Grade 10
Bensalem PA
Height: 5'5
Wingspan:74 
Reach:91
Vertical:</td>
			<td>Nice tempo
Steve plays at his speed and never gets rushed. He offers strong passing and ballhandling skills. A smooth PG, he dictates his play to the defense and can hit the open man!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Kelly-L.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Kelly-L.jpg" alt="" width="200" height="137" class="aligncenter size-full wp-image-49729" /></a></td>
			<td>Lamar Kelly
Grade 11
Millville NJ
Height: 
Wingspan:76 
Reach:95
Vertical:27.5</td>
			<td>explosive
Lamar offers explosiveness especially towards the rim when he drove! He plays hard on every possession.
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Adam Kline
Grade 10
Monaca Pa
Height: 6'6
Wingspan:78 
Reach:102
Vertical:27.5</td>
			<td>Crashes boards
Adam is a board crasher who runs the floor hard! Shoots well for his size and is also dangerous close to the rim. </td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Kumor-Chase.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Kumor-Chase.jpg" alt="" width="200" height="141" class="aligncenter size-full wp-image-49730" /></a></td>
			<td>Chase Kumor
Grade 11
Newtown PA
Height: 6'4
Wingspan:73 
Reach:97
Vertical:23</td>
			<td>smarts and D
Chase is intelligent and understands how the game should be played! He sets up his teammates well with a well-timed screen to get them open and make things happen.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Langenbach-Christopher.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Langenbach-Christopher.jpg" alt="" width="200" height="141" class="aligncenter size-full wp-image-49731" /></a></td>
			<td>Christopher Langenbach
Grade 9
Philadelphia PA
Height: 5'9
Wingspan: 
Reach:
Vertical:</td>
			<td>Smart playmaker
Chris makes smart plays and works hard on both ends. He looks to get everyone involved and is a true team player!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Larkin-Andrew.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Larkin-Andrew.jpg" alt="" width="200" height="140" class="aligncenter size-full wp-image-49732" /></a></td>
			<td>Andrew Larkin
Grade 10
Paoli PA
Height: 6'1
Wingspan:73 
Reach:93
Vertical:28</td>
			<td>Outside shot
Andrew offers a great outside shot and is a good passer. he plays smart, hard and effectively and makes the little things happen. Great quick catch and shoot release!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Lebrun-Jean1.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Lebrun-Jean1.jpg" alt="" width="200" height="145" class="aligncenter size-full wp-image-49733" /></a></td>
			<td>Jean Lebrun
Grade 10
Height: 6'7
Wingspan:78 
Reach:102
Vertical:29</td>
			<td>Shot blocker
Jean's opponents will find it frustrating to shoot when he's around! Offensively, he offers a nice quick jumper. Work on strength and conditioning will make him the major player he has the potential to be, as he is a natural athlete!
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Jack Levy
Grade 9
Rydal PA
Height:
Wingspan:65 
Reach:80
Vertical:</td>
			<td>Handle and distribution
Jack is a solid PG with a good handle. He works hard on both ends and has knack for finding scoring teammates!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Mallon-Michael.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Mallon-Michael.jpg" alt="" width="200" height="150" class="aligncenter size-full wp-image-49734" /></a></td>
			<td>Michael Mallon
Grade 9
Media Pa
Height: 6'1
Wingspan:73 
Reach:93
Vertical:25</td>
			<td>Reads the screen
Mike is great at reading screens and running the O. He wastes no time getting the offense moving early in possessions, getting things to really happen on the floor!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Martinez-Justus.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Martinez-Justus.jpg" alt="" width="200" height="146" class="aligncenter size-full wp-image-49735" /></a></td>
			<td>Justus Martinez
Grade 10
Coatesville PA
Height: 6'5
Wingspan:76 
Reach:99
Vertical:27</td>
			<td>Boards and D
Justus is an energetic teammate who works hard on both ends of the floor. He positions himself well under the basket and can finish with both hands.
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Jabri Mccall
Grade 10
Philadelphia PA
Height: 6'0
Wingspan: 
Reach:
Vertical:</td>
			<td>Excellent pass
Jabri is an excellent passer and dynamic guard who controls the pace and tempo of the game. He can score and set up others, is adept at finding teammates as well as his own shot. Confident scorer, aggressive defender, and all-around asset to a team!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/McClendon-Kraig.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/McClendon-Kraig.jpg" alt="" width="200" height="149" class="aligncenter size-full wp-image-49736" /></a></td>
			<td>Kraig McClendon
Grade 11
Philadelphia PA
Height: 6'0
Wingspan:73 
Reach:92
Vertical:120.5</td>
			<td>Quick and athletic
Kraig is a quick and athletic guard who finds the rim. He handles well and should seek to pick his best shots to maximize his game!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/McClendon-Kristopher.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/McClendon-Kristopher.jpg" alt="" width="200" height="148" class="aligncenter size-full wp-image-49737" /></a></td>
			<td>Kristopher McClendon
Grade 
Philadelphia PA
Height: 5'9
Wingspan:69 
Reach:89
Vertical:22.5</td>
			<td>Quick handle
Kris is a natural point guard, sensing where teammates are at all times. He flows nicely to the paint and gives his all offensively!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/McKenzie-David.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/McKenzie-David.jpg" alt="" width="200" height="135" class="aligncenter size-full wp-image-49738" /></a></td>
			<td>David McKenzie
Grade 11
Central Islip NY
Height: 5'11
Wingspan: 75
Reach:92
Vertical:28</td>
			<td>Athletic and Strong
Dave has a strong athletic build and can lock down the opposition's best. He's unafraid to mix it up in the paint on both ends!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Mcpherson-Jesse.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Mcpherson-Jesse.jpg" alt="" width="200" height="138" class="aligncenter size-full wp-image-49739" /></a></td>
			<td>Jesse McPherson
Grade 10
Philadelphia PA
Height: 6'6
Wingspan:78 
Reach:99
Vertical:</td>
			<td>Solid Rebounder
Jesse grabs the boards and is quick and athletic. His height is a big advantage for him rebounding, and he moves well!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Merete-Gabe.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Merete-Gabe.jpg" alt="" width="200" height="139" class="aligncenter size-full wp-image-49740" /></a></td>
			<td>Gabe Merete
Grade 9
Exton PA
Height: 6'0
Wingspan:75 
Reach:97
Vertical:24</td>
			<td>Defense
Gabe is active defensively and reacts great, getting his hands on the ball a lot. On the other end of the floor, he hits the offensive glass hard!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Mitchell-Andre.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Mitchell-Andre.jpg" alt="" width="200" height="144" class="aligncenter size-full wp-image-49741" /></a></td>
			<td>Andre Mitchell
Grade 11
Conshohocken PA
Height: 6'1
Wingspan:74 
Reach:95
Vertical:25.5</td>
			<td>Nice j
Andre has quick release on his jumper and keeps his hands active defensively. He had many deflections that led to advantageous fast breaks for his team. A smart player, he reads the defense off of ball screens well to score!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Moyer-Colton.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Moyer-Colton.jpg" alt="" width="200" height="139" class="aligncenter size-full wp-image-49742" /></a></td>
			<td>Colton Moyer
Grade 11
Barto PA
Height: 6'7
Wingspan:77 
Reach:100
Vertical:27.5
</td>
			<td>Scores inside
Colton scores inside with a good touch near the rim. He aggressively hunts boards and plays solid post D, making him an asset to any team.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Mushandu-Tonderai.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Mushandu-Tonderai.jpg" alt="" width="200" height="150" class="aligncenter size-full wp-image-49743" /></a></td>
			<td>Tonderai Mushandu
Grade 12
Fort Lee NJ
Height: 6'1
Wingspan:75 
Reach:96
Vertical:32</td>
			<td>Ballhandler
Tonderai is an extremely athletic player that is very strong with the ball. Hr has shown the ability to grab the board, put the ball on the floor, and make an unselfish pass to the open player!
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Paul Newman
Grade 10
Philadelphia Pa
Height: 6'7
Wingspan: 
Reach:
Vertical:</td>
			<td>Size and strength
Paul has great handle and good size and length for an inside player. he did a good job of using his athleticism to finish and ran the floor well for easy buckets!
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Jonathan Nwankwo
Grade 11
Mount Vernon NY
Height: 6'10
Wingspan: 85
Reach:106
Vertical:</td>
			<td>Strong and quick
Jonathan stayed in the paint and defended the basket. He shows some back to basket game and was a factor at both ends all night!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/OBrien-Joseph.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/OBrien-Joseph.jpg" alt="" width="200" height="141" class="aligncenter size-full wp-image-49744" /></a></td>
			<td>Joseph O'Brien
Grade 9
Height: 6'7
Wingspan:82 
Reach:102
Vertical:27</td>
			<td>Smart
Joe really knows what to do and has a great feel for the game. He has excellent hands and is dangerous on the boards!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/ONeill-Jake.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/ONeill-Jake.jpg" alt="" width="200" height="142" class="aligncenter size-full wp-image-49745" /></a></td>
			<td>Jake O'Neill
Grade 10
Northfield NJ
Height: 6'9
Wingspan:80 
Reach:106
Vertical:21.5</td>
			<td>Smart
Jake is a smart player and hard worker who gets boards. Does a great job of passing out of the post and finishes there with both hands and a variety of moves! Offers a strong skill set.

</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>LaPri Pace
Grade 10
Philadelphia PA
Height: 6'3
Wingspan:77 
Reach:97
Vertical:</td>
			<td>Handles well
LaPri uses his strength and handle to get to the basket consistently. Nice range on his shot off the bounce!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Page-Josh.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Page-Josh.jpg" alt="" width="200" height="145" class="aligncenter size-full wp-image-49746" /></a></td>
			<td>Josh Page
Grade 10
North East Wash DC
Height: 6'0
Wingspan:77 
Reach:89
Vertical:33</td>
			<td>Finds open man
Josh can find the open man and offers quickness in transition. He is a great team player and quickly-moving point with a full set of solid point guard qualities. He works for others and one is hard-pressed to see a turnover from him!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Pepper-Sebastian.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Pepper-Sebastian.jpg" alt="" width="200" height="142" class="aligncenter size-full wp-image-49747" /></a></td>
			<td>Sebastian Pepper
Grade 11
Royersford Pa
Height: 6'1
Wingspan:72 
Reach:92
Vertical:29</td>
			<td>Slasher
Sebastian slashes well and uses speed to his advantage. He drives well, has a good frame for a guard,and is unselfish. This player is looking to win!
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Micah Peterson
Grade 10
Cogan Station Pa
Height: 6'1
Wingspan:73.5 
Reach:95
Vertical:27</td>
			<td>Finishes strong
Sebastian slashes well and uses speed to his advantage. He drives well, has a good frame for a guard,and is unselfish. This player is looking to win!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Pickron-Tyree.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Pickron-Tyree.jpg" alt="" width="200" height="139" class="aligncenter size-full wp-image-49748" /></a></td>
			<td>Tyree Pickron
8
Philadelphia Pa
Height: 6'2
Wingspan:74 
Reach:95
Vertical:30</td>
			<td>Smart player
Tyree is intelligent and not afraid to play with older peers. He has good handle, runs the offense well, and has a fantastic set of point guard qualities!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Powers-Andrew.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Powers-Andrew.jpg" alt="" width="200" height="139" class="aligncenter size-full wp-image-49749" /></a></td>
			<td>Andrew Powers
Grade 11
Millville NJ
Height: 6'0
Wingspan:73 
Reach:91
Vertical:26</td>
			<td>Passing and hustle
Andrew is a true team player who will find the open man and get him the ball. He runs the court well on both sides of the ball!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Rebuck-Jason.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Rebuck-Jason.jpg" alt="" width="200" height="145" class="aligncenter size-full wp-image-49750" /></a></td>
			<td>Jason Rebuck
Grade 10
York Pa
Height: 6'3
Wingspan:74 
Reach:96
Vertical:28</td>
			<td>Crashes glass hard
Jason hits the boards hard and hustles! He gets trash points and helps the team with his energy and passion too.
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Jordan Ruillano
Grade 11
Mount Vernon NY
Height: 5'10
Wingspan: 
Reach:
Vertical:</td>
			<td>Good 3 range
Jordan can really hit the 3 and is a good drive and kick passer. He carefully controls his shot and sets himself up to score. A smart asset to any team.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Rodriguez-Mark.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Rodriguez-Mark.jpg" alt="" width="200" height="139" class="aligncenter size-full wp-image-49751" /></a></td>
			<td>Marc Rodriguez
Grade 9
Philadelphia Pa
Height: 6'2
Wingspan: 
Reach:
Vertical:</td>
			<td>Near the ball
Marc is always in the action and around the ball. He values solid play and makes the right one over the flashy one! Has a knack for finishing tough plays by either scoring or finding the open man.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/SM.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/SM.jpg" alt="" width="200" height="134" class="aligncenter size-full wp-image-49752" /></a></td>
			<td>Markus Stevenson
Grade 11
Voorhees NJ
Height: 6'4
Wingspan: 
Reach:
Vertical:</td>
			<td>Defensive boards
Markus grabs defensive boards well and constantly plays hard! He does the little things inside and give it his all coast-to-coast!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Stiefel-Dominick.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Stiefel-Dominick.jpg" alt="" width="200" height="132" class="aligncenter size-full wp-image-49753" /></a></td>
			<td>Dominick Steifel
Grade 11
West Chester PA
Height:5'10
Wingspan: 73
Reach:90
Vertical:25</td>
			<td>Shoots the 3
Dominick can shoot the 3 and makes smart decisions on both ends. Work on his defensive skill set will make him the best all-around player he can be!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Sweeney-Taylor.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Sweeney-Taylor.jpg" alt="" width="200" height="132" class="aligncenter size-full wp-image-49754" /></a></td>
			<td>Taylor Sweeney
Grade 11
PA
Height: 6'4
Wingspan:78 
Reach:98
Vertical:28</td>
			<td>Strong wing
Taylor is a strong, physical wing who finishes well in the paint. He got up on talented players defensively and was a bother to him, His persistence is a gift to any team!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Thomas-Kalob.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Thomas-Kalob.jpg" alt="" width="200" height="133" class="aligncenter size-full wp-image-49755" /></a></td>
			<td>Kalob Thomas
Grade 10
Williamsport PA
Height: 6'1
Wingspan:72 
Reach:95
Vertical:28.5</td>
			<td>Athletic
Kalob is a natural athlete who has the potential to be a good slasher. He makes great decisions coast to coast and with shot drills will maximize his true potential as a great player!
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Kevin Tillman
Grade 8
Height:
Wingspan: 75
Reach:92
Vertical:</td>
			<td>Feel for the game
Kevin really has a nice feel for the game and communicates on-court. He knows when to take over, plays tough D, and knows how to use a screen!

</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Torpey-Brian.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Torpey-Brian.jpg" alt="" width="200" height="148" class="aligncenter size-full wp-image-49756" /></a></td>
			<td>Brian Torpey
Grade 10
Schwenksville Pa
Height: 5'7
Wingspan:69 
Reach:87
Vertical:24</td>
			<td>Smart guard
Brian is an intelligent PG who is most effective when passing to teammates. He plays strong and smart and can be a menace against larger players!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Vandeventer-James.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Vandeventer-James.jpg" alt="" width="200" height="140" class="aligncenter size-full wp-image-49757" /></a></td>
			<td>James Vandeventer
Grade 11
Berwyn PA
Height: 5'11
Wingspan: 73
Reach:90
Vertical:28</td>
			<td>Smart shooter
James is a smart player with a good shot! Grabs boards well for a player of his size and excellent ranger on his jumper.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Walker-Matt.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Walker-Matt.jpg" alt="" width="200" height="147" class="aligncenter size-full wp-image-49759" /></a></td>
			<td>Matt Walker
Grade 9
Plymouth Meeting Pa
Height: 6'2
Wingspan:76 
Reach:96
Vertical:27</td>
			<td>Good attitude and passing
Matt works hard on every possession and makes the right pass at the right time!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Walker-Anthony.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Walker-Anthony.jpg" alt="" width="200" height="137" class="aligncenter size-full wp-image-49758" /></a></td>
			<td>Anthony Walker
Grade 11
Abington PA
Height: 5'7
Wingspan:70 
Reach:85
Vertical:28</td>
			<td>one-on-one man
Anthony is a great one-on-one defender and offers quickness! he can lock down his opponent and force the turnover.
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Warren-Alec.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Warren-Alec.jpg" alt="" width="200" height="144" class="aligncenter size-full wp-image-49760" /></a></td>
			<td>Alec Warren
Grade 11
Medford NJ
Height: 6'1
Wingspan:72 
Reach:92
Vertical:24.5</td>
			<td>Passing and IQ
Alec is an unselfish player who isn't afraid to stick his nose into a play. He is a positive presence for any team!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Warren-Billy1.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Warren-Billy1.jpg" alt="" width="200" height="147" class="aligncenter size-full wp-image-49761" /></a></td>
			<td>Billy Warren
Grade 9
Levittown Pa
Height: 6'5
Wingspan:75 
Reach:97
Vertical:125.5</td>
			<td>Battles
Billy battles hard in the post and works for rebounds, seeking them out. He uses his frame effectively and is a smart player!
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Malik Washington
Grade 9
Williamsport PA
Height: 5'9
Wingspan:73 
Reach:91
Vertical:34</td>
			<td>Runs team
Malik is a lead guard who really runs his team. An excellent defender, he can slow up the opposing point guard. A gem to have on any team!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Webb-Mark.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Webb-Mark.jpg" alt="" width="200" height="148" class="aligncenter size-full wp-image-49762" /></a></td>
			<td>Mark Webb
Grade 9
Height:6'2
Wingspan: 76
Reach:99
Vertical:28</td>
			<td>Sees floor
Mark really sees the floor and has a knack for hitting a teammate with a smart pass. He uses his athleticism to get to the rim and complete the play!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Williams-Roderick.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Williams-Roderick.jpg" alt="" width="200" height="144" class="aligncenter size-full wp-image-49763" /></a></td>
			<td>Roderic Williams
Grade 10
Silver Spring MD
Height: 6'1
Wingspan:76.5 
Reach:96
Vertical:28.5</td>
			<td>Attacks glass
Roderic really attacks the boards and screens actively. He plays hard every possession and does a great job of getting guys open with his screen!
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Ahmad Williams
Grade 10
Philadelphia PA
Height: 5'9
Wingspan:79 
Reach:96
Vertical:32</td>
			<td>Aggressive
Ahmad is an aggressive guard who plays his role to score. He can go coast-to-coast with the ball and finishes strong at the rim, He offers athleticism as well!
</td>
		</tr>
		<tr>
			<td>No Headshot Available</td>
			<td>Ahmin Williams
Grade 9
Height:6'0
Wingspan:75 
Reach:94
Vertical:27</td>
			<td>Drives and slashes
Ahmin is a driving and slashing wing with great athleticism. He is most dangerous when attacking the rim off the bounce. His athleticism also contributes to a strong defensive showing!
</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Wrightson-Justin.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Wrightson-Justin.jpg" alt="" width="200" height="144" class="aligncenter size-full wp-image-49764" /></a></td>
			<td>Justin Wrightston
Grade 11
Toms River NJ
Height: 6'7
Wingspan: 76
Reach:102
Vertical:22.5</td>
			<td>Solid size
Justin uses his size well and is not afraid to battle with bigger guys. He plays big on the boards and grabs them! Plays with plenty of heart.

</td>
		</tr>
		<tr>
			<td><a href="https://hoopgroup.com/wp-content/uploads/2014/04/Zaza-Darlington.jpg"><img src="https://hoopgroup.com/wp-content/uploads/2014/04/Zaza-Darlington.jpg" alt="" width="200" height="151" class="aligncenter size-full wp-image-49765" /></a></td>
			<td>Darlington Zaza
Grade 9
Upper Darby Pa.
Height: 5'9
Wingspan:73 
Reach:89
Vertical:29</td>
			<td>Attitude and ballhandling
Darlington is a good defender that hustles on both ends of the floor. He will make the extra pass to get his teammate an open shot and is unselfish and a positive player!
</td>
		</tr>
	</tbody>
</table>
