<table>
	<thead>
		<tr>
			<th>Property</th>
			<th>Address</th>
			<th>Hotel Brand</th>
			<th>Miles to Nook</th>
			<th>Rates</th>
			<th>Room Types</th>
			<th>Hotel Contact Person</th>
			<th>Individual Cancellation Policy</th>
			<th>Notes</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>The Warehouse at the Nook</td>
			<td>2913 Spooky Nook Road, Manheim, PA</td>
			<td>Independent</td>
			<td>onsite /walking</td>
			<td>$179</td>
			<td>Double (queen)</td>
			<td>CyndiLou Foster
(855) 618-6181 or www.warehousehotel.com 
Group Code 646</td>
			<td>72 hour cancellation policy</td>
			<td>2 night stay minimum required.           $10 arcade GC is available per child in guest room</td>
		</tr>
		<tr>
			<td>Budget Host Inn &amp; Suites</td>
			<td>2100 Lincoln Highway East, Lancaster PA</td>
			<td>Independent</td>
			<td>13</td>
			<td>$98</td>
			<td>ROH</td>
			<td>Ryan Bannon
(717) 397-7781</td>
			<td>Must cancellation by 4/7 to avoid cancellation penalties</td>
			<td></td>
		</tr>
		<tr>
			<td>Comfort Inn Lancaster County North</td>
			<td>1 Denver Road
Denver, PA
</td>
			<td>Choice Hotels</td>
			<td>24</td>
			<td>$114.99</td>
			<td>Double Beds, Non Smoking</td>
			<td>Rachelle Haymaker
(717) 336-7541</td>
			<td>72 hour cancellation policy</td>
			<td></td>
		</tr>
		<tr>
			<td>Crowne Plaza Reading</td>
			<td>1741 Papermill Road
Reading, Pennsylvania</td>
			<td>InterContinental</td>
			<td>30</td>
			<td>$134.00</td>
			<td>Double</td>
			<td>Sheila Contento
(877) 814-2538</td>
			<td>confirm with hotel</td>
			<td></td>
		</tr>
		<tr>
			<td>Four Points by Sheraton York</td>
			<td>1650 Toronita Street
York, PA</td>
			<td>Starwood</td>
			<td>28</td>
			<td>$135.00</td>
			<td>Double</td>
			<td>William Muntz
(717) 846-4940</td>
			<td>confirm with hotel</td>
			<td>2 night Minimum stay REQUIRED</td>
		</tr>
		<tr>
			<td>Hampton Inn &amp; Suites Mount Joy/Lancaster West</td>
			<td>2301 Strickler Road
Manheim, PA</td>
			<td>Hilton</td>
			<td>2</td>
			<td>$139.00</td>
			<td>Double (queen)</td>
			<td>Emi Nissley
(717) 653-5515</td>
			<td>confirm with hotel</td>
			<td></td>
		</tr>
		<tr>
			<td>Hampton Inn Lancaster</td>
			<td>545 Greenfield Rd,               Lancaster PA</td>
			<td>Hilton</td>
			<td>10</td>
			<td>$149.00</td>
			<td>Double Queens</td>
			<td>Trisha Herr
(717) 299-1200</td>
			<td>72 hour cancellation policy</td>
			<td>2 night Minimum stay REQUIRED</td>
		</tr>
		<tr>
			<td>Hampton Inn Manheim</td>
			<td>2764 Lebanon Road
Manheim, Pennsylvania</td>
			<td>Hilton</td>
			<td>10</td>
			<td>$139.00</td>
			<td>Double</td>
			<td>Jessica Johns
(717)665-6600</td>
			<td>24 hour cancellation policy (before 5:00pm)</td>
			<td>Request to honor quite time</td>
		</tr>
		<tr>
			<td>Harvest Drive Family Inn</td>
			<td>3370 Harvest Drive, Intercourse, PA</td>
			<td>Independent</td>
			<td>25</td>
			<td>$99-109</td>
			<td>Double</td>
			<td>Cheryl Trussell
(717)768-7186</td>
			<td>24 hour cancellation policy (before 5:00pm)</td>
			<td></td>
		</tr>
		<tr>
			<td>Holiday Inn Express Hotel York</td>
			<td>140 Leader Heights Road
York, PA</td>
			<td>InterContinental</td>
			<td>26</td>
			<td>$119.00</td>
			<td>Double</td>
			<td>Barbara Kozak-Sellers
(717)741-1000</td>
			<td>confirm with hotel</td>
			<td></td>
		</tr>
		<tr>
			<td>Lancaster Host Resort &amp; Conference Center</td>
			<td>2300 Lincoln Highway East (Route 30)
Lancaster, Pennsylvania</td>
			<td>Independent</td>
			<td>13</td>
			<td>$99.00</td>
			<td>ROH</td>
			<td>Kathy Danz
717-299-5500</td>
			<td>72 hour cancellation policy</td>
			<td></td>
		</tr>
		<tr>
			<td>Lancaster Marriott at Penn Square</td>
			<td>25 South Queen Street
Lancaster, Pennsylvania</td>
			<td>Marriott</td>
			<td>9.2</td>
			<td>$162.00</td>
			<td>Standard double</td>
			<td>Allison Anthony
888-850-6146 or www.lancastermarriott.com   reference: Hoop Group Junior Jam Fest</td>
			<td>24 hour cancellation policy (before 5:00pm)</td>
			<td></td>
		</tr>
		<tr>
			<td>The Hotel Lancaster</td>
			<td>26 East Chestnut Street
Lancaster, Pennsylvania</td>
			<td>Independent</td>
			<td>9.3</td>
			<td>$129 Double Occupancy, $139 Triple Occupancy, $149 Quad Occupancy,</td>
			<td>Double</td>
			<td>Gary Davis
(717) 394-0900</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>For more information, contact the hotel coordinators for Hoop Group</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Shelley Johnson</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>(Office) 715.246.2004</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>(cell) 612-619-5784</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>teamsandj@helmsbriscoe.com</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
