<table>
	<thead>
		<tr>
			<th>Hotel</th>
			<th>Address</th>
			<th>Rate</th>
			<th>Contact Person</th>
			<th>Contact Info</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Hampton Inn King of Prussia</td>
			<td>530 West Dekalb Pike King of Prussia, PA  19406   </td>
			<td>$125</td>
			<td>Cierra Bickel</td>
			<td>cierra.bickel@hilton.com
610-962-8111   </td>
		</tr>
		<tr>
			<td>Double Tree by Hilton Valley Forge</td>
			<td>301 West Dekalb Pike King of Prussia, PA  19406  </td>
			<td>$135 </td>
			<td>Nader Toma</td>
			<td>nader.toma@hilton.com
484-684-1453 </td>
		</tr>
		<tr>
			<td>Best Western Plus The Inn at King of Prussia</td>
			<td>127 South Gulph Road, King of Prussia, PA 19406</td>
			<td>$129</td>
			<td>Liz Yeager</td>
			<td>edahlke@bwkop.com
610-532-8907    </td>
		</tr>
		<tr>
			<td>Holiday Inn Express King of Prussia</td>
			<td>260 South Gulph Road, King of Prussia, PA 19406 </td>
			<td>$149</td>
			<td>Rachel Wolkiewicz </td>
			<td>rachel.wolkiewicz@hhmlp.com
610-768-9500</td>
		</tr>
	</tbody>
</table>
