<table>
	<thead>
		<tr>
			<th>15U Team List</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>NJ Pirates</td>
			<td>BSA</td>
			<td>RI Hawks</td>
		</tr>
		<tr>
			<td>Squires Richmond</td>
			<td>SEBL</td>
			<td>Blue Ridge Force</td>
		</tr>
		<tr>
			<td>Brookwood Elite</td>
			<td>NJ Got Game</td>
			<td>Sports U</td>
		</tr>
		<tr>
			<td>Jersey Shore Devils</td>
			<td>CBC</td>
			<td>DC Assualt</td>
		</tr>
		<tr>
			<td>Philly Triple Threat-Carr</td>
			<td>NY Gauchos</td>
			<td>Team Loaded</td>
		</tr>
		<tr>
			<td>New Rens</td>
			<td>JB Hoops-Cooper</td>
			<td>NJ Shoreshots</td>
		</tr>
		<tr>
			<td>Team Philly</td>
			<td>Brooklyn Rens</td>
			<td>LI Lightning</td>
		</tr>
		<tr>
			<td>Team Final Black</td>
			<td>Jersey City Boys club</td>
			<td>Team Takeover Hoop magic</td>
		</tr>
		<tr>
			<td>New Heights</td>
			<td>Dorian's Pride</td>
			<td>PA Running Rebels</td>
		</tr>
	</tbody>
</table>
