<table>
	<thead>
		<tr>
			<th>14U Team List</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Waldorf Wizards</td>
			<td>Team Philly</td>
			<td>Firm AC</td>
		</tr>
		<tr>
			<td>New Heights</td>
			<td>Philly Triple Threat-Elliot</td>
			<td>Dream Nation</td>
		</tr>
		<tr>
			<td></td>
			<td>Hank Gathers Elite</td>
			<td></td>
		</tr>
	</tbody>
</table>
