<table>
	<thead>
		<tr>
			<th>TEAM PHOTO</th>
			<th>YEAR</th>
			<th>CHAMPION</th>
			<th>2ND PLACE</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/StBenedicts180611.jpg" alt="" title="StBenedicts180611" width="180" height="150" class="aligncenter size-full wp-image-11117" /></td>
			<td>2011</td>
			<td>St. Benedict's</td>
			<td>Teaneck</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/GSB-Team-small.jpg" alt="" title="GSB Team small" width="180" height="150" class="aligncenter size-full wp-image-10997" /></td>
			<td>2010</td>
			<td>Gill St. Bernards</td>
			<td>Newark Eastside</td>
		</tr>
		<tr>
			<td></td>
			<td>2009</td>
			<td>St. Patrick's</td>
			<td>Paterson Catholic</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/Stpatssmall.jpg" alt="" title="Stpatssmall" width="180" height="150" class="aligncenter size-full wp-image-10996" /></td>
			<td>2008</td>
			<td>St. Patrick</td>
			<td>Windsor CT</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/stanthonyssmall.jpg" alt="" title="stanthonyssmall" width="180" height="150" class="aligncenter size-full wp-image-11002" /></td>
			<td>2007</td>
			<td>St. Anthony</td>
			<td>St. Raymond's NY</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/ChampsStAnthonyssmall.jpg" alt="" title="ChampsStAnthonyssmall" width="180" height="150" class="aligncenter size-full wp-image-10995" /></td>
			<td>2006</td>
			<td>St. Anthony</td>
			<td>St. Benedict's</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/champsStBenedicts.jpg" alt="" title="champsStBenedicts" width="180" height="150" class="aligncenter size-full wp-image-10993" /></td>
			<td>2005</td>
			<td>St. Benedict's</td>
			<td>St. Patrick</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/SetonHallPrep.jpg" alt="" title="SetonHallPrep" width="180" height="150" class="aligncenter size-full wp-image-10994" /></td>
			<td>2004</td>
			<td>Seton Hall Prep</td>
			<td>St. Patrick</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/StAnthony.jpg" alt="" title="StAnthony" width="180" height="150" class="aligncenter size-full wp-image-11001" /></td>
			<td>2003</td>
			<td>St. Anthony</td>
			<td>Seton Hall Prep</td>
		</tr>
		<tr>
			<td><img src="http://www.hoopgroup.com/wp-content/uploads/2011/06/champs2002StPatricks.jpg" alt="" title="champs2002StPatricks" width="180" height="150" class="aligncenter size-full wp-image-10992" /></td>
			<td>2002</td>
			<td>St. Patrick</td>
			<td>St. Benedict's</td>
		</tr>
		<tr>
			<td></td>
			<td>2001</td>
			<td>St. Anthony</td>
			<td>St. Patrick</td>
		</tr>
		<tr>
			<td></td>
			<td>2000</td>
			<td>CBA</td>
			<td>St. Raymond's NY</td>
		</tr>
	</tbody>
</table>
