<table>
	<thead>
		<tr>
			<th>16U Team List</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>NE Playaz</td>
			<td>Expressions elite</td>
			<td>Riverside Hawks</td>
		</tr>
		<tr>
			<td>SEBL</td>
			<td>Expressions</td>
			<td>Delaware Elite</td>
		</tr>
		<tr>
			<td>RI Hawks Black</td>
			<td>Team Underrated NY</td>
			<td>NJ Gym Rats-Ozzie</td>
		</tr>
		<tr>
			<td>Westchester Hawks</td>
			<td>Hunting Park Warriors</td>
			<td>L+L Running Rebels</td>
		</tr>
		<tr>
			<td>Teamwork basketball</td>
			<td>Shoreshots</td>
			<td>NJ Pirates-Dadika</td>
		</tr>
		<tr>
			<td>NJ Shoreshots</td>
			<td>6th Man Warriors</td>
			<td>NJ Pirates-black</td>
		</tr>
		<tr>
			<td>305 Select</td>
			<td>Team Final blue</td>
			<td>Team Phoenix</td>
		</tr>
		<tr>
			<td>East Coast Fusion-Stenger</td>
			<td>Brooklyn Rens</td>
			<td>Team Future</td>
		</tr>
		<tr>
			<td>NJ Pirates</td>
			<td>CT Gold</td>
			<td>Dorian's Pride</td>
		</tr>
		<tr>
			<td>Team Philly</td>
			<td>King Street Kings</td>
			<td>Metro hawks/Move Your Feet</td>
		</tr>
		<tr>
			<td>New Heights</td>
			<td>Mass Evolution</td>
			<td>Boston Titans</td>
		</tr>
		<tr>
			<td>NY Panthers</td>
			<td>BC Eagles</td>
			<td>Central Jersey Devils</td>
		</tr>
		<tr>
			<td>Team Jersey Elite</td>
			<td>Mt Pleasant Bulldogs</td>
			<td>House Of Hoops</td>
		</tr>
		<tr>
			<td>Frenji</td>
			<td>Philly Ballhawks</td>
			<td>Kendall Madison Playaz</td>
		</tr>
		<tr>
			<td>Raising Champions</td>
			<td>New Rens-Mark</td>
			<td>Blue Ridge Force</td>
		</tr>
		<tr>
			<td>Jersey Shore Warriors</td>
			<td>New Rens-Hargraves Shapiro</td>
			<td>NJ Shoreshots</td>
		</tr>
		<tr>
			<td></td>
			<td>NC Red Storm</td>
			<td></td>
		</tr>
	</tbody>
</table>
