<table>
	<thead>
		<tr>
			<th>16U</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Albany City Rocks</td>
			<td>NJ Playaz</td>
			<td>Kendall Madison Playaz</td>
		</tr>
		<tr>
			<td>LI Lightning</td>
			<td>Riverside  Hawks</td>
			<td>RI Hawks</td>
		</tr>
		<tr>
			<td>Westchester Hawks</td>
			<td>Team Excel</td>
			<td>NY Gauchos</td>
		</tr>
		<tr>
			<td>King Street Kings</td>
			<td>Sports U</td>
			<td>We R 1</td>
		</tr>
		<tr>
			<td>DC Warriors</td>
			<td>NJ Pirates-Dadika</td>
			<td>Team Albany</td>
		</tr>
		<tr>
			<td>BC Eagles</td>
			<td>NJ Pirates-Black</td>
			<td>UA Bmore Finest</td>
		</tr>
		<tr>
			<td>Albany City Rocks</td>
			<td>Juice All Stars</td>
			<td>NJ Shoreshots</td>
		</tr>
		<tr>
			<td>NYC Jayhawks</td>
			<td>Boston Titans</td>
			<td>Dejuan Blair All Stars</td>
		</tr>
		<tr>
			<td>Move Your Feet Sean Adams</td>
			<td>Central Jersey Devils</td>
			<td></td>
		</tr>
	</tbody>
</table>
