<table>
	<thead>
		<tr>
			<th>17U Team List</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Drill 4 Skill</td>
			<td>Prodigy</td>
			<td>Delaware Assault</td>
		</tr>
		<tr>
			<td>NE Playaz</td>
			<td>Brooklyn Heat</td>
			<td>Ivey 23 Terps</td>
		</tr>
		<tr>
			<td>Mass Rivals</td>
			<td>DE PAL</td>
			<td>Mt Pleasant Bulldogs</td>
		</tr>
		<tr>
			<td>SEBL</td>
			<td>Westtown</td>
			<td>Positive Image</td>
		</tr>
		<tr>
			<td>RI Hawks Black</td>
			<td>Flight 22</td>
			<td>PYO</td>
		</tr>
		<tr>
			<td>RI Hawks Red</td>
			<td>JB hoops-Callahan</td>
			<td>New Rens-Hargraves Shapiro</td>
		</tr>
		<tr>
			<td>Jersey Hot Shots</td>
			<td>JB hoops-show</td>
			<td>Raritan Roundballers</td>
		</tr>
		<tr>
			<td>NJ Gym Rats-Barrett</td>
			<td>Etobacoke Thunder Elite</td>
			<td>NC Red Storm</td>
		</tr>
		<tr>
			<td>CT Northstars North</td>
			<td>Team Albany</td>
			<td>Memphis Wildcats</td>
		</tr>
		<tr>
			<td>CT Northstars South</td>
			<td>Team Underrated NY</td>
			<td>Team Phenom-Turner</td>
		</tr>
		<tr>
			<td>East Coast Fusion-Lemcee</td>
			<td>Hunting Park Warriors</td>
			<td>Dorian's Pride</td>
		</tr>
		<tr>
			<td>East Coast Fusion-Dalton</td>
			<td>Cecil Kirk</td>
			<td>Diamond State Titans</td>
		</tr>
		<tr>
			<td>East Coast Fusion Gold</td>
			<td>Westchester Hawks</td>
			<td>Urban Honor Academy</td>
		</tr>
		<tr>
			<td>Team Philly</td>
			<td>6th Man Warriors</td>
			<td>Force One</td>
		</tr>
		<tr>
			<td>Maryland Pistons</td>
			<td>Brooklyn Rens</td>
			<td>NJ Gym Rats-Ozzie</td>
		</tr>
		<tr>
			<td>Mountain Cat</td>
			<td>CT Gold</td>
			<td>Team Nelson</td>
		</tr>
		<tr>
			<td>New Heights Blue</td>
			<td>NYC Jayhawks(in CES)</td>
			<td>Team Synergy</td>
		</tr>
		<tr>
			<td>NY Panthers</td>
			<td>Virginia Rapids</td>
			<td>NJ Pirates</td>
		</tr>
		<tr>
			<td>Jersey Shore Warriors</td>
			<td>New Heights White</td>
			<td>Fundamental Hoops</td>
		</tr>
		<tr>
			<td>Team Jersey Elite</td>
			<td>LI Lightning-Napolitano</td>
			<td>Firm AC</td>
		</tr>
		<tr>
			<td>NJ Cyclones</td>
			<td>Blue Chip</td>
			<td>House of Hoops</td>
		</tr>
		<tr>
			<td>New Rens-Memminger</td>
			<td>BSA</td>
			<td>Blue Ridge Force</td>
		</tr>
		<tr>
			<td>BWSL Woods</td>
			<td>PA Pacers</td>
			<td>Unfinished Business</td>
		</tr>
		<tr>
			<td>Raising Champions</td>
			<td>Mass Evolution</td>
			<td>NJ Shoreshots</td>
		</tr>
		<tr>
			<td>CBC-Smith</td>
			<td>USAD</td>
			<td>Keystone Blazers</td>
		</tr>
		<tr>
			<td>CBC-Dannelly</td>
			<td>BC Eagles</td>
			<td></td>
		</tr>
	</tbody>
</table>
