<table>
	<thead>
		<tr>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>CBA</td>
		</tr>
		<tr>
			<td>Columbia</td>
		</tr>
		<tr>
			<td>Crisfield MD</td>
		</tr>
		<tr>
			<td>Elizabeth</td>
		</tr>
		<tr>
			<td>Franklin</td>
		</tr>
		<tr>
			<td>Gill St. Bernards</td>
		</tr>
		<tr>
			<td>Hillsborough</td>
		</tr>
		<tr>
			<td>Immaculata</td>
		</tr>
		<tr>
			<td>Lakewood</td>
		</tr>
		<tr>
			<td>Manasquan</td>
		</tr>
		<tr>
			<td>Metuchen </td>
		</tr>
		<tr>
			<td>Middletown North</td>
		</tr>
		<tr>
			<td>Milton MA</td>
		</tr>
		<tr>
			<td>Newark Tech</td>
		</tr>
		<tr>
			<td>Oratory</td>
		</tr>
		<tr>
			<td>Paramus Catholic</td>
		</tr>
		<tr>
			<td>Paterson Eastside</td>
		</tr>
		<tr>
			<td>Piscataway</td>
		</tr>
		<tr>
			<td>Point Pleasant Beach</td>
		</tr>
		<tr>
			<td>Scotch Plains</td>
		</tr>
		<tr>
			<td>Scranton PA</td>
		</tr>
		<tr>
			<td>Seton Hall Prep</td>
		</tr>
		<tr>
			<td>St. Benedict's</td>
		</tr>
		<tr>
			<td>St. Joseph's Metuchen</td>
		</tr>
		<tr>
			<td>St. Patrick</td>
		</tr>
		<tr>
			<td>Teaneck</td>
		</tr>
	</tbody>
</table>
