<table>
	<thead>
		<tr>
			<th>Semester</th>
			<th>Boys and Girls</th>
			<th>Days</th>
			<th>Times</th>
			<th>Price</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>June 15th-19th</td>
			<td>Grades 2-12</td>
			<td>Mon-Fri</td>
			<td>1:30 pm-4:30 pm</td>
			<td>$175</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_170&amp;products_id=1819">Register Here</a></td>
		</tr>
	</tbody>
</table>
