<table>
	<thead>
		<tr>
			<th>Hotel Name</th>
			<th>Location/Directions</th>
			<th>Rate</th>
			<th>Contact</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Crowne Plaza Reading</td>
			<td>1741 Paper Mill Road, Wyomissing, PA 19610</td>
			<td>$115</td>
			<td>Lisa Hann
610-236-4318
lhann@readingcp.com </td>
		</tr>
		<tr>
			<td>Warehouse Hotel at the Nook</td>
			<td>2913 Spooky Nook Road, Manheim, PA</td>
			<td>$189
</td>
			<td>Reserve rooms at this link: <a href="http://www.warehousehotel.com/">http://www.warehousehotel.com/</a> using Group Code: 175</td>
		</tr>
		<tr>
			<td>Wyndham Garden York
</td>
			<td>2000 Loucks Road, York, PA  17408</td>
			<td>$129</td>
			<td>Jenna Koslosky
717-846-9500           Jenna.Koslosky@WGYorkpa.com</td>
		</tr>
		<tr>
			<td>Budget Host Hotel                     </td>
			<td>2100 Lincoln Highway East Lancaster, PA 17602</td>
			<td>$89</td>
			<td>Ryan Bannon
717-397-7781, ext 302
sales@lancasterbudgethost.com</td>
		</tr>
		<tr>
			<td>Holiday Inn Express &amp; Suites</td>
			<td>140 Leader Heights Road, York PA 17403</td>
			<td>$124</td>
			<td>Barbara Kozak-Sellers
hiexpress.sales.york@gmail.com
(717) 741-1000</td>
		</tr>
		<tr>
			<td><a href="http://www.marriott.com/hotels/travel/phlpy-springhill-suites-philadelphia-plymouth-meeting/">Plymouth Meeting Springhill Suites by Marriott</a></td>
			<td><a href="http://www.marriott.com/hotels/maps/travel/phlpy-springhill-suites-philadelphia-plymouth-meeting/">430 Plymouth Road, Plymouth Meeting PA 19462</a></td>
			<td>$116</td>
			<td></td>
		</tr>
	</tbody>
</table>
