<table>
	<thead>
		<tr>
			<th>17U Team List</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Westtown</td>
			<td>Diamond State Titans</td>
			<td>Urban Honor Academy</td>
		</tr>
		<tr>
			<td>Chicago Mustangs</td>
			<td>PYO</td>
			<td>Firm AC</td>
		</tr>
		<tr>
			<td>New Heights White</td>
			<td>Sportsfest Grassroots Program</td>
			<td>RI Hawks Black</td>
		</tr>
		<tr>
			<td>LI Lightning-Napolitano</td>
			<td>Raising Champions</td>
			<td>RI Hawks Red</td>
		</tr>
		<tr>
			<td>Juice All Stars</td>
			<td>Raritan Roundballers</td>
			<td>We R 1</td>
		</tr>
		<tr>
			<td>Philly Pride</td>
			<td>Sports U</td>
			<td>Team Albany</td>
		</tr>
		<tr>
			<td>Brooklyn Heat</td>
			<td>Team Synergy</td>
			<td>UA Bmore Finest</td>
		</tr>
		<tr>
			<td>Move Your Feet Don Chee</td>
			<td>NJ Pirates</td>
			<td>NJ Shoreshots</td>
		</tr>
		<tr>
			<td>NJ Playaz</td>
			<td>Fundamental Hoops</td>
			<td>Triple Balance</td>
		</tr>
		<tr>
			<td>BC Eagles</td>
			<td>Hoop Heaven Heat</td>
			<td>Team Melo</td>
		</tr>
		<tr>
			<td>Dorian's Pride</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
