<table>
	<thead>
		<tr>
			<th>Property</th>
			<th>Address</th>
			<th>Rates </th>
			<th>Hotel Contact Person</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>The Warehouse at the Nook</td>
			<td>2913 Spooky Nook Road, Manheim, PA</td>
			<td>$199</td>
			<td>CyndiLou Foster
(855) 618-6181</td>
		</tr>
		<tr>
			<td>Budget Host Inn &amp; Suites</td>
			<td>2100 Lincoln Highway East, Lancaster PA</td>
			<td>$99</td>
			<td>Ryan Bannon
(717) 397-7781</td>
		</tr>
		<tr>
			<td>Crowne Plaza Reading</td>
			<td>1741 Papermill Road
Reading, PA</td>
			<td>$115</td>
			<td>Lauren Sparkes
(877) 814-2538</td>
		</tr>
		<tr>
			<td>Fairfield Inn &amp; Suites</td>
			<td>150 Granite Run Drive, Lancaster PA 17601</td>
			<td>$179</td>
			<td>Dana Tecol
(717) 581-1800</td>
		</tr>
		<tr>
			<td>Hampton Inn York</td>
			<td>1500 Mount Zion Road, York, PA</td>
			<td>$149</td>
			<td>Carolyn Workinger
(717) 840-1500</td>
		</tr>
		<tr>
			<td>Harvest Drive Family Inn</td>
			<td>3370 Harvest Drive, Intercourse, PA</td>
			<td>$119</td>
			<td>Cheryl Trussell
(717) 768-7186</td>
		</tr>
		<tr>
			<td>The Hotel Lancaster</td>
			<td>26 East Chestnut Street
Lancaster, PA</td>
			<td>$169</td>
			<td>Gary Davis
(717) 394-0900</td>
		</tr>
		<tr>
			<td>Wingate by Wyndham - Lancaster</td>
			<td>2110 Us Hwy 30 E Lancaster, PA</td>
			<td>$145</td>
			<td>Eric Corneilson
(717) 299-6604</td>
		</tr>
		<tr>
			<td>Four Points by Sheraton</td>
			<td>1650 Toronita Street
York PA 17402</td>
			<td>$140</td>
			<td>William Muntz
(717) 846-4940</td>
		</tr>
		<tr>
			<td>Country Inn Lancaster</td>
			<td>2133 Lincoln Highway East
Lancaster, PA 17602</td>
			<td>$149.99</td>
			<td>Abby Lerch
(717) 393-3413</td>
		</tr>
		<tr>
			<td>Comfort Inn Lancaster County North</td>
			<td>1 Denver Road
Denver, PA 17517</td>
			<td>$129.99</td>
			<td>Rachel Haymaker
(717)336-7541</td>
		</tr>
		<tr>
			<td>Heritage Hotel - Lancaster</td>
			<td>500 Centerville Road 
Lancaster , PA 17601</td>
			<td>$115</td>
			<td>Sandy Haynes
1-800-223-8963</td>
		</tr>
	</tbody>
</table>
