<table>
	<thead>
		<tr>
			<th>15U</th>
			<th>#colspan#</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>NJ Gauchos</td>
			<td>Jersey City Boys Club</td>
			<td>NJ Shoreshots</td>
		</tr>
		<tr>
			<td>Fairfax Stars</td>
			<td>NJ Playaz</td>
			<td>We R 1</td>
		</tr>
		<tr>
			<td>Team Philly</td>
			<td>Sports U</td>
			<td>Team Albany</td>
		</tr>
		<tr>
			<td>New Rens</td>
			<td>Brooklyn Rens</td>
			<td>Team Takeover Hoop Magic</td>
		</tr>
		<tr>
			<td>NJ Got Game</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
