<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP</td>
			<td>Joe Hampton</td>
			<td>6-6</td>
			<td>DeMatha Catholic HS</td>
			<td>Hyattsville, Md</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Most Outstanding Prospect</td>
			<td>Omari Spellman</td>
			<td>6-7</td>
			<td>Middletown HS</td>
			<td>Middletown, N.Y.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Most Outstanding Prospect</td>
			<td>Kassoum Yakwe</td>
			<td>6-7</td>
			<td>St. Mary's HS</td>
			<td>Manhassett, N.Y.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Most Improved Player</td>
			<td>Quinton Drayton</td>
			<td>6-2</td>
			<td>DeMatha Catholic HS</td>
			<td>Hyattsville, Md.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Curtis Williams</td>
			<td>6-1</td>
			<td>Good Counsel HS</td>
			<td>Olney, Md.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>All-Star MVP</td>
			<td>Christian Vital</td>
			<td>6-1</td>
			<td>Vermont Academy</td>
			<td>Saxtons River, Vt.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>All-Star MVP</td>
			<td>Tremont Waters</td>
			<td>5-9</td>
			<td>South Kent School</td>
			<td>South Kent, Conn.</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Anthony Lamb</td>
			<td>6-5</td>
			<td>Greece Athena HS</td>
			<td>Rochester, N.Y.</td>
			<td>2016</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>DaQuan Bracey</td>
			<td>5-8 </td>
			<td>St. Francis Academy </td>
			<td>Baltimore, Md.</td>
			<td>2016</td>
		</tr>
	</tbody>
</table>
