<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Chris Lykes</td>
			<td>5'8</td>
			<td>Gonzaga HS</td>
			<td>Washington, DC</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Sean Miller-Moore</td>
			<td>6'3</td>
			<td>St Augustine </td>
			<td>Brampton, ON</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Louis King</td>
			<td>6'5</td>
			<td>Roselle Catholic</td>
			<td>Roselle, NJ</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Daniel Mading</td>
			<td>6'9</td>
			<td>The Rock School</td>
			<td>Gainesville, FL</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Scott Hitchon</td>
			<td>6'9</td>
			<td>Anderson</td>
			<td>Toronto, ON</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Donald Flores</td>
			<td>5'10</td>
			<td>Abraham Lincoln</td>
			<td>Brooklyn, NY</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Hamidou Diallo</td>
			<td>6'4</td>
			<td>Putnam Science</td>
			<td>Putnam, CT</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Lonnie Walker</td>
			<td>6'4</td>
			<td>Reading HS</td>
			<td>Reading, PA</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Hasahn French </td>
			<td>6'6</td>
			<td>Commonwealth School</td>
			<td>Boston, MA</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Obinna Ejike</td>
			<td>6'10</td>
			<td>Virginia Academy</td>
			<td>Asburn, VA</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Leondre Washigton</td>
			<td>5'10</td>
			<td>Teaneck HS</td>
			<td>Teaneck, NJ</td>
			<td>2017</td>
		</tr>
	</tbody>
</table>
