<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>City, State</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Deondre Bourne</td>
			<td>6'3</td>
			<td>Leman Manhattan Prep</td>
			<td>Manhattan, NY</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Tyler Plummer</td>
			<td>6'3</td>
			<td>Vaughn</td>
			<td>Vaughn, Can</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Melo Eggleston</td>
			<td>6'8</td>
			<td>Clinton Christian</td>
			<td>Clinton, MD</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Oshae Brissett</td>
			<td>6'8</td>
			<td>Findlay Prep</td>
			<td>Henderson, NV</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Zach Kent</td>
			<td>6'10</td>
			<td>St Andrews</td>
			<td>Middletown, DE</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>David Beatyy</td>
			<td>6'2</td>
			<td>Archbishop Carroll</td>
			<td>Radnor, PA</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Myles Dread</td>
			<td>6'4</td>
			<td>Gonzaga HS</td>
			<td>Washington, DC</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Najja Hunter</td>
			<td>6'6</td>
			<td>Westtown HS</td>
			<td>West Chester, PA</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Nazreon Reid</td>
			<td>6'9</td>
			<td>Roselle Catholic</td>
			<td>Roselle, NJ</td>
			<td>2018</td>
		</tr>
		<tr>
			<td>Mohamed Bamba</td>
			<td>6'10</td>
			<td>Westtown HS</td>
			<td>West Chester, PA</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Quade Green</td>
			<td>5'11</td>
			<td>Neumann Goretti </td>
			<td>Philadelphia, PA</td>
			<td>2017</td>
		</tr>
		<tr>
			<td>Eric Ayala</td>
			<td>6'2</td>
			<td>Sanford</td>
			<td>Wilmington, DE</td>
			<td>2017</td>
		</tr>
	</tbody>
</table>
