<table>
	<thead>
		<tr>
			<th>Award</th>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>MVP</td>
			<td>Joshua Reaves</td>
			<td>6'3"</td>
			<td>Paul VI</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>MOP</td>
			<td>Thomas Bryant</td>
			<td>6'9"</td>
			<td>Bishop Kearney</td>
			<td>2015</td>
		</tr>
		<tr>
			<td></td>
			<td>Isaiah Briscoe</td>
			<td>6'2"</td>
			<td>St. Benedict's</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>MIP</td>
			<td>Sylvester Ogonda</td>
			<td>6'10"</td>
			<td>National Christian</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Mr. Hustle</td>
			<td>Kelly Hogan</td>
			<td>6'5"</td>
			<td>Seton Hall Prep</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Sweatshop Star</td>
			<td>Ahmad Harrison</td>
			<td>6'5"</td>
			<td>Newark Eastside</td>
			<td>2015</td>
		</tr>
		<tr>
			<td>Station Star</td>
			<td>Nicholas Blake</td>
			<td>5'10"</td>
			<td>St. Maria Goretti</td>
			<td>2015</td>
		</tr>
	</tbody>
</table>
