<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Boys &amp; Girls</th>
			<th>Dates</th>
			<th>Times</th>
			<th>Cost</th>
			<th>Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Teachers Convention HoopFest</td>
			<td>Grades 2-12</td>
			<td>November 9 - 10th</td>
			<td>9am - 2pm</td>
			<td>$145</td>
			<td><a href="https://store.hoopgroup.com/events/2017-hghq-teacher-convention-hoopfest-2017">Register Here </a></td>
		</tr>
	</tbody>
</table>
