<table>
	<thead>
		<tr>
			<th>Program Dates</th>
			<th>Boys &amp; Girls</th>
			<th>Class Days</th>
			<th>Times</th>
			<th>Reserve</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Nov 8-9</td>
			<td>Grades 3-10</td>
			<td>Thursday &amp; Friday</td>
			<td>9:00AM-2:00PM</td>
			<td><a href="http://www.hoopgroup.com/registration/product_info.php?cPath=65_93&amp;products_id=1365">Sign Up!</a></td>
		</tr>
	</tbody>
</table>
