<table>
	<thead>
		<tr>
			<th>Dates</th>
			<th>Tournament</th>
			<th>Location</th>
			<th>Ages</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jan, 29</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/team-tournaments/highschoolshowcase/boardwalk-hoop-group-showcase.php">Boardwalk Hoop Group Showcase</a></td>
			<td>Parkland High School (PA)</td>
			<td>High School</td>
		</tr>
		<tr>
			<td>Feb 18-19</td>
			<td>presidents weekend Showdown</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/facility-information.php">Hoop Group Headquarters</td>
			<td>U8/U14</td>
		</tr>
		<tr>
			<td>March 10-11</td>
			<td>Spring Showdown</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/facility-information.php">Hoop Group Headquarters</td>
			<td>U8/U15</td>
		</tr>
		<tr>
			<td>March 31-April 1</td>
			<td>Shore shots Spring Showdown Girls</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/facility-information.php">Hoop Group Headquarters</td>
			<td>U8/U17</td>
		</tr>
		<tr>
			<td>April 14-15</td>
			<td>April Showdown</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/facility-information.php">Hoop Group Headquarters</td>
			<td>U14/U17</td>
		</tr>
		<tr>
			<td>April 20-22</td>
			<td><a href="/team-tournaments/grassroots-events/pittsburgh-jam-fest.php">Pittsburgh Jam Fest</a></td>
			<td>Pitt Jam Fest</td>
			<td>14-Open</td>
		</tr>
		<tr>
			<td>April 21-22</td>
			<td>April Showdown</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/facility-information.php">Hoop Group Headquarters</td>
			<td>U8/U13</td>
		</tr>
		<tr>
			<td>April 27-29</td>
			<td><a href="/team-tournaments/grassroots-events/providence-hoop-group-jam-fest.php">Providence Jam Fest</a></td>
			<td>Providence, RI</td>
			<td>11-Open</td>
		</tr>
		<tr>
			<td>April 27-29</td>
			<td>Philly Jam Fest</td>
			<td>Philadelphia, PA</td>
			<td>11-Open</td>
		</tr>
		<tr>
			<td>May 5-6</td>
			<td>May Jam Fest OLDER</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/facility-information.php">Hoop Group Headquarters</td>
			<td>U14/U17</td>
		</tr>
		<tr>
			<td>May 19-20</td>
			<td>May Jam Fest  Youth</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/facility-information.php">Hoop Group Headquarters</td>
			<td>U8/U13</td>
		</tr>
		<tr>
			<td>June 2-3</td>
			<td>Shore Shots Summer Showdown</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/facility-information.php">Hoop Group Headquarters</td>
			<td>U8/U17</td>
		</tr>
		<tr>
			<td>June 10-11</td>
			<td>Summer Showdown</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/facility-information.php">Hoop Group Headquarters</td>
			<td>U14/U17</td>
		</tr>
		<tr>
			<td>June 23-24</td>
			<td>Summer Showdown</td>
			<td><a href="http://www.hoopgroup.com/hoopgroup/headquarters/facility-information.php">Hoop Group Headquarters</td>
			<td>U8/U15</td>
		</tr>
	</tbody>
</table>
