<table>
	<thead>
		<tr>
			<th>Jersey #</th>
			<th>Name</th>
			<th>School</th>
			<th>Division</th>
			<th>Scoring Average</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>648</td>
			<td>Bryan Rivers</td>
			<td>West Windsor-Plainsboro</td>
			<td>American</td>
			<td>23.8</td>
		</tr>
		<tr>
			<td>26</td>
			<td>Patrick Smith</td>
			<td>Archbishop Wood</td>
			<td>American</td>
			<td>23.3</td>
		</tr>
		<tr>
			<td>243</td>
			<td>Jaren Sina</td>
			<td>Gil St Bernard</td>
			<td>National</td>
			<td>22.8</td>
		</tr>
		<tr>
			<td>417</td>
			<td>DeAndre Haywood</td>
			<td>Peddie School</td>
			<td>American</td>
			<td>22.5</td>
		</tr>
		<tr>
			<td>548</td>
			<td>Tommy Heard</td>
			<td>St. Frances</td>
			<td>National</td>
			<td>21.3</td>
		</tr>
		<tr>
			<td>133</td>
			<td>Adam Weir</td>
			<td>Canisius</td>
			<td>American</td>
			<td>20.8</td>
		</tr>
		<tr>
			<td>116</td>
			<td>Jamaal Greenwood</td>
			<td>Bullis</td>
			<td>National</td>
			<td>20.5</td>
		</tr>
		<tr>
			<td>195</td>
			<td>Tiwain Kendley</td>
			<td>Eleanor Roosevelt</td>
			<td>American</td>
			<td>20.4</td>
		</tr>
		<tr>
			<td>239</td>
			<td>Chris Jenkins</td>
			<td>Gil St Bernard</td>
			<td>National</td>
			<td>20</td>
		</tr>
		<tr>
			<td>48</td>
			<td>Jordan Nanton</td>
			<td>Bishop Loughlin</td>
			<td>National</td>
			<td>18.5</td>
		</tr>
		<tr>
			<td>209</td>
			<td>Britton Anderson</td>
			<td>Flint Hill</td>
			<td>American</td>
			<td>18.5</td>
		</tr>
		<tr>
			<td>596</td>
			<td>Austin White</td>
			<td>St. Peter's Prep</td>
			<td>National</td>
			<td>18.4</td>
		</tr>
		<tr>
			<td>635</td>
			<td>Jermoine Faison</td>
			<td>Thomas Jefferson</td>
			<td>National</td>
			<td>18.3</td>
		</tr>
		<tr>
			<td>79</td>
			<td>Jaleel Jimenez</td>
			<td>Bloomfield</td>
			<td>American</td>
			<td>18.3</td>
		</tr>
		<tr>
			<td>672</td>
			<td>Tavon Parker</td>
			<td>York</td>
			<td>American</td>
			<td>18</td>
		</tr>
		<tr>
			<td>387</td>
			<td>Matthew Bonds</td>
			<td>North Point</td>
			<td>National</td>
			<td>18</td>
		</tr>
		<tr>
			<td>127</td>
			<td>Matt MacDonald</td>
			<td>Canisius</td>
			<td>American</td>
			<td>17.8</td>
		</tr>
		<tr>
			<td>676</td>
			<td>Derek Wilson</td>
			<td>York</td>
			<td>American</td>
			<td>17.7</td>
		</tr>
		<tr>
			<td>482</td>
			<td>Gilberto Benz</td>
			<td>Reading</td>
			<td>American</td>
			<td>17.5</td>
		</tr>
		<tr>
			<td>169</td>
			<td>Will Bachinsky</td>
			<td>Cumberland Valley</td>
			<td>American</td>
			<td>17.4</td>
		</tr>
		<tr>
			<td>547</td>
			<td>Maurice White</td>
			<td>St. Frances</td>
			<td>National</td>
			<td>17</td>
		</tr>
		<tr>
			<td>399</td>
			<td>Marcus Dickerson</td>
			<td>Paul VI</td>
			<td>National</td>
			<td>16.8</td>
		</tr>
		<tr>
			<td>626</td>
			<td>Shaakir Lindsey</td>
			<td>Teaneck</td>
			<td>National</td>
			<td>16.8</td>
		</tr>
		<tr>
			<td>441</td>
			<td>P.J. Kineavy</td>
			<td>Point Pleasant Beach</td>
			<td>American</td>
			<td>16.6</td>
		</tr>
		<tr>
			<td>312</td>
			<td>Jafar Kinsey</td>
			<td>Jamesville-Dewitt</td>
			<td>American</td>
			<td>16.5</td>
		</tr>
		<tr>
			<td>625</td>
			<td>Joel Hernandez</td>
			<td>Teaneck</td>
			<td>National</td>
			<td>16.5</td>
		</tr>
		<tr>
			<td>657</td>
			<td>Yilrey Yiljep</td>
			<td>Westtown</td>
			<td>American</td>
			<td>16</td>
		</tr>
		<tr>
			<td>111</td>
			<td>Wesley Myers</td>
			<td>Boys and Girls</td>
			<td>National</td>
			<td>16</td>
		</tr>
		<tr>
			<td>223</td>
			<td>James Drury</td>
			<td>Germantown Academy</td>
			<td>National</td>
			<td>16</td>
		</tr>
		<tr>
			<td>422</td>
			<td>Tyree Bynum</td>
			<td>Penn Wood</td>
			<td>American</td>
			<td>16</td>
		</tr>
		<tr>
			<td>447</td>
			<td>Bryce Aiken</td>
			<td>Pope John XXIII</td>
			<td>National</td>
			<td>15.8</td>
		</tr>
		<tr>
			<td>556</td>
			<td>Martin Geben</td>
			<td>St. Maria Goretti</td>
			<td>American</td>
			<td>15.7</td>
		</tr>
		<tr>
			<td>439</td>
			<td>Riley Calzonetti</td>
			<td>Point Pleasant Beach</td>
			<td>American</td>
			<td>15.6</td>
		</tr>
		<tr>
			<td>529</td>
			<td>Tim Coleman</td>
			<td>St. Anthony</td>
			<td>National</td>
			<td>15.5</td>
		</tr>
		<tr>
			<td>535</td>
			<td>Mike Greenman</td>
			<td>St. Augustine Prep</td>
			<td>American</td>
			<td>15.2</td>
		</tr>
		<tr>
			<td>86</td>
			<td>Jameel Patterson</td>
			<td>Bloomfield</td>
			<td>American</td>
			<td>15</td>
		</tr>
		<tr>
			<td>322</td>
			<td>Constantine Ihearahu</td>
			<td>Largo</td>
			<td>American</td>
			<td>15</td>
		</tr>
		<tr>
			<td>122</td>
			<td>Anthony Thompson</td>
			<td>Bullis</td>
			<td>National</td>
			<td>15</td>
		</tr>
		<tr>
			<td>329</td>
			<td>Nick Griffin</td>
			<td>Magruder</td>
			<td>National</td>
			<td>14.8</td>
		</tr>
		<tr>
			<td>455</td>
			<td>Matt Zignorski</td>
			<td>Pope John XXIII</td>
			<td>National</td>
			<td>14.8</td>
		</tr>
		<tr>
			<td>393</td>
			<td>Naim Muhammad</td>
			<td>North Point</td>
			<td>National</td>
			<td>14.7</td>
		</tr>
		<tr>
			<td>96</td>
			<td>Jalen Robinson</td>
			<td>Bowie</td>
			<td>American</td>
			<td>14.7</td>
		</tr>
		<tr>
			<td>484</td>
			<td>Zhykeir Burdine</td>
			<td>Reading</td>
			<td>American</td>
			<td>14.5</td>
		</tr>
		<tr>
			<td>520</td>
			<td>Quamier Johnson</td>
			<td>Shipley School</td>
			<td>American</td>
			<td>14.5</td>
		</tr>
		<tr>
			<td>503</td>
			<td>Britton Lee</td>
			<td>Roman Catholic</td>
			<td>National</td>
			<td>14.4</td>
		</tr>
		<tr>
			<td>160</td>
			<td>Ahmad Gilbert</td>
			<td>Constitution</td>
			<td>American</td>
			<td>14.3</td>
		</tr>
		<tr>
			<td>692</td>
			<td>Jaquan Lynch</td>
			<td>Thomas Jefferson</td>
			<td>National</td>
			<td>14.3</td>
		</tr>
		<tr>
			<td>429</td>
			<td>Jerry Price</td>
			<td>Penn Wood</td>
			<td>American</td>
			<td>14.3</td>
		</tr>
		<tr>
			<td>569</td>
			<td>Daniel Knight</td>
			<td>St. Patrick's</td>
			<td>National</td>
			<td>14.3</td>
		</tr>
		<tr>
			<td>471</td>
			<td>Jermar Dancy</td>
			<td>Poughkeepsie</td>
			<td>American</td>
			<td>14</td>
		</tr>
		<tr>
			<td>500</td>
			<td>Traci Carter</td>
			<td>Roman Catholic</td>
			<td>National</td>
			<td>14</td>
		</tr>
		<tr>
			<td>369</td>
			<td>Lamarr Kimble</td>
			<td>Neumann-Goretti</td>
			<td>National</td>
			<td>14</td>
		</tr>
		<tr>
			<td>14</td>
			<td>Andy Laurent</td>
			<td>Amityville</td>
			<td>American</td>
			<td>13.8</td>
		</tr>
		<tr>
			<td>605</td>
			<td>Gabriel Mack</td>
			<td>Susquehanna Township</td>
			<td>American</td>
			<td>13.8</td>
		</tr>
		<tr>
			<td>367</td>
			<td>Johnnie Davis</td>
			<td>Neumann-Goretti</td>
			<td>National</td>
			<td>13.8</td>
		</tr>
		<tr>
			<td>615</td>
			<td>Charles Hopkins</td>
			<td>Sussex Tech</td>
			<td>American</td>
			<td>13.8</td>
		</tr>
		<tr>
			<td>259</td>
			<td>Anthony Cowen</td>
			<td>Good Counsel</td>
			<td>National</td>
			<td>13.7</td>
		</tr>
		<tr>
			<td>361</td>
			<td>Travis Cook</td>
			<td>Middletown</td>
			<td>American</td>
			<td>13.5</td>
		</tr>
		<tr>
			<td>495</td>
			<td>Nigel Johnson</td>
			<td>Riverdale Baptist</td>
			<td>National</td>
			<td>13.3</td>
		</tr>
		<tr>
			<td>258</td>
			<td>Trevor Brown</td>
			<td>Good Counsel</td>
			<td>National</td>
			<td>13</td>
		</tr>
		<tr>
			<td>241</td>
			<td>Jon Schreer</td>
			<td>Gil St Bernard</td>
			<td>National</td>
			<td>13</td>
		</tr>
		<tr>
			<td>327</td>
			<td>Brian Coleman</td>
			<td>Magruder</td>
			<td>National</td>
			<td>13</td>
		</tr>
		<tr>
			<td>84</td>
			<td>Isaiah Dockett</td>
			<td>Bloomfield</td>
			<td>American</td>
			<td>12.8</td>
		</tr>
		<tr>
			<td>69</td>
			<td>Junior Etou</td>
			<td>Bishop O'Connell</td>
			<td>National</td>
			<td>12.7</td>
		</tr>
		<tr>
			<td>476</td>
			<td>Deandre Smith</td>
			<td>Poughkeepsie</td>
			<td>American</td>
			<td>12.7</td>
		</tr>
		<tr>
			<td>617</td>
			<td>Kevin Larkin</td>
			<td>Sussex Tech</td>
			<td>American</td>
			<td>12.6</td>
		</tr>
		<tr>
			<td>533</td>
			<td>Kody Jenkins</td>
			<td>St. Anthony</td>
			<td>National</td>
			<td>12.5</td>
		</tr>
		<tr>
			<td>287</td>
			<td>Fergus Duke</td>
			<td>The Hun School</td>
			<td>National</td>
			<td>12.5</td>
		</tr>
		<tr>
			<td>377</td>
			<td>Ed Drew</td>
			<td>North Ansemond River</td>
			<td>American</td>
			<td>12.5</td>
		</tr>
		<tr>
			<td>598</td>
			<td>Travis White</td>
			<td>St. Peter's Prep</td>
			<td>National</td>
			<td>12.2</td>
		</tr>
		<tr>
			<td>582</td>
			<td>Marcel Thompson</td>
			<td>St. Paul's</td>
			<td>National</td>
			<td>12</td>
		</tr>
		<tr>
			<td>229</td>
			<td>Julian Moore</td>
			<td>Germantown Academy</td>
			<td>National</td>
			<td>12</td>
		</tr>
		<tr>
			<td>607</td>
			<td>Joseph Marshall</td>
			<td>Susquehanna Township</td>
			<td>American</td>
			<td>11.8</td>
		</tr>
		<tr>
			<td>335</td>
			<td>Justin Witmer</td>
			<td>Magruder</td>
			<td>National</td>
			<td>11.8</td>
		</tr>
		<tr>
			<td>446</td>
			<td>Dominique Uhl</td>
			<td>Point Pleasant Beach</td>
			<td>American</td>
			<td>11.8</td>
		</tr>
		<tr>
			<td>303</td>
			<td>Basil Thompson</td>
			<td>Imhotep Charter</td>
			<td>National</td>
			<td>11.8</td>
		</tr>
		<tr>
			<td>272</td>
			<td>Shaquan Shepperd</td>
			<td>Harrisburg</td>
			<td>American</td>
			<td>11.6</td>
		</tr>
		<tr>
			<td>586</td>
			<td>Sean Cummings</td>
			<td>St. Peter's Prep</td>
			<td>National</td>
			<td>11.6</td>
		</tr>
		<tr>
			<td>504</td>
			<td>Rashann London</td>
			<td>Roman Catholic</td>
			<td>National</td>
			<td>11.6</td>
		</tr>
		<tr>
			<td>636</td>
			<td>Hashim Moore</td>
			<td>The Hun School</td>
			<td>National</td>
			<td>11.5</td>
		</tr>
		<tr>
			<td>104</td>
			<td>Courtney Darnley</td>
			<td>Boys and Girls</td>
			<td>National</td>
			<td>11.5</td>
		</tr>
		<tr>
			<td>363</td>
			<td>Aaron Ray</td>
			<td>Middletown</td>
			<td>American</td>
			<td>11.5</td>
		</tr>
		<tr>
			<td>354</td>
			<td>Shakfeek Taylor</td>
			<td>Math, Civics, and Science</td>
			<td>National</td>
			<td>11.5</td>
		</tr>
		<tr>
			<td>37</td>
			<td>Jamie Senft</td>
			<td>Bishop Ireton</td>
			<td>National</td>
			<td>11.5</td>
		</tr>
		<tr>
			<td>338</td>
			<td>Eugene Bowens</td>
			<td>Maret</td>
			<td>National</td>
			<td>11.3</td>
		</tr>
		<tr>
			<td>153</td>
			<td>James Kirksey</td>
			<td>Chester</td>
			<td>National</td>
			<td>11.3</td>
		</tr>
		<tr>
			<td>440</td>
			<td>Matt Farrell</td>
			<td>Point Pleasant Beach</td>
			<td>American</td>
			<td>11.2</td>
		</tr>
		<tr>
			<td>655</td>
			<td>Floyd Preito</td>
			<td>Westtown</td>
			<td>American</td>
			<td>11</td>
		</tr>
		<tr>
			<td>316</td>
			<td>John Major</td>
			<td>Largo</td>
			<td>American</td>
			<td>11</td>
		</tr>
		<tr>
			<td>411</td>
			<td>Jonah Brooks</td>
			<td>Peddie School</td>
			<td>American</td>
			<td>11</td>
		</tr>
		<tr>
			<td>497</td>
			<td>Marquis Powell</td>
			<td>Riverdale Baptist</td>
			<td>National</td>
			<td>11</td>
		</tr>
		<tr>
			<td>494</td>
			<td>Raeese Hunt</td>
			<td>Riverdale Baptist</td>
			<td>National</td>
			<td>11</td>
		</tr>
		<tr>
			<td>205</td>
			<td>Malik Robinson</td>
			<td>Father Judge</td>
			<td>American</td>
			<td>11</td>
		</tr>
		<tr>
			<td>543</td>
			<td>Kurk Lee</td>
			<td>St. Frances</td>
			<td>National</td>
			<td>11</td>
		</tr>
		<tr>
			<td>263</td>
			<td>Eton Thomas</td>
			<td>Good Counsel</td>
			<td>National</td>
			<td>11</td>
		</tr>
		<tr>
			<td>492</td>
			<td>Khary Doby</td>
			<td>Riverdale Baptist</td>
			<td>National</td>
			<td>11</td>
		</tr>
		<tr>
			<td>251</td>
			<td>Bradley Jacks</td>
			<td>Gonzaga</td>
			<td>National</td>
			<td>10.8</td>
		</tr>
		<tr>
			<td>623</td>
			<td>Lavrone Green</td>
			<td>Teaneck</td>
			<td>National</td>
			<td>10.8</td>
		</tr>
		<tr>
			<td>679</td>
			<td>Isaiah Ice</td>
			<td>St. Peter's Prep</td>
			<td>National</td>
			<td>10.6</td>
		</tr>
		<tr>
			<td>661</td>
			<td>George Lambert</td>
			<td>Xavierian</td>
			<td>National</td>
			<td>10.5</td>
		</tr>
		<tr>
			<td>649</td>
			<td>Dennis Zhuo</td>
			<td>West Windsor-Plainsboro</td>
			<td>American</td>
			<td>10.5</td>
		</tr>
		<tr>
			<td>167</td>
			<td>Kimar Williams</td>
			<td>Constitution</td>
			<td>American</td>
			<td>10.5</td>
		</tr>
		<tr>
			<td>146</td>
			<td>Patrick Andree</td>
			<td>CBA</td>
			<td>American</td>
			<td>10.4</td>
		</tr>
		<tr>
			<td>606</td>
			<td>Nehemiah Mack</td>
			<td>Susquehanna Township</td>
			<td>American</td>
			<td>10.3</td>
		</tr>
		<tr>
			<td>70</td>
			<td>Jamall Gregory</td>
			<td>Bishop O'Connell</td>
			<td>National</td>
			<td>10.3</td>
		</tr>
		<tr>
			<td>337</td>
			<td>Marlon Beck</td>
			<td>Maret</td>
			<td>National</td>
			<td>10.3</td>
		</tr>
		<tr>
			<td>375</td>
			<td>Kahill Carroll</td>
			<td>North Ansemond River</td>
			<td>American</td>
			<td>10.3</td>
		</tr>
		<tr>
			<td>170</td>
			<td>Tanner Kirkpatrick</td>
			<td>Cumberland Valley</td>
			<td>American</td>
			<td>10.2</td>
		</tr>
		<tr>
			<td>172</td>
			<td>Trevor Magnuski</td>
			<td>Cumberland Valley</td>
			<td>American</td>
			<td>10.2</td>
		</tr>
		<tr>
			<td>402</td>
			<td>Jamal Robinson</td>
			<td>Paul VI</td>
			<td>National</td>
			<td>10.2</td>
		</tr>
		<tr>
			<td>517</td>
			<td>Shawn Harvey</td>
			<td>Shipley School</td>
			<td>American</td>
			<td>10</td>
		</tr>
		<tr>
			<td>380</td>
			<td>Devon Oakley</td>
			<td>North Ansemond River</td>
			<td>American</td>
			<td>10</td>
		</tr>
		<tr>
			<td>202</td>
			<td>Sean Hanna</td>
			<td>Father Judge</td>
			<td>American</td>
			<td>10</td>
		</tr>
		<tr>
			<td>177</td>
			<td>Greg Bennett</td>
			<td>Delaware Valley Charter</td>
			<td>American</td>
			<td>10</td>
		</tr>
		<tr>
			<td>15</td>
			<td>Phil McCloud</td>
			<td>Amityville</td>
			<td>American</td>
			<td>10</td>
		</tr>
		<tr>
			<td>34</td>
			<td>Patrick Moseh</td>
			<td>Bishop Ireton</td>
			<td>National</td>
			<td>10</td>
		</tr>
		<tr>
			<td>162</td>
			<td>Kamar Phinizy</td>
			<td>Constitution</td>
			<td>American</td>
			<td>10</td>
		</tr>
		<tr>
			<td>12</td>
			<td>Kevin Grant</td>
			<td>Amityville</td>
			<td>American</td>
			<td>10</td>
		</tr>
		<tr>
			<td>645</td>
			<td>Hussong</td>
			<td>West Windsor-Plainsboro</td>
			<td>American</td>
			<td>10</td>
		</tr>
		<tr>
			<td>256</td>
			<td>Charles Glover</td>
			<td>Gonzaga</td>
			<td>National</td>
			<td>9.8</td>
		</tr>
		<tr>
			<td>191</td>
			<td>Trevor Evans</td>
			<td>Eleanor Roosevelt</td>
			<td>American</td>
			<td>9.8</td>
		</tr>
		<tr>
			<td>555</td>
			<td>Tyrus Fleetwood</td>
			<td>St. Maria Goretti</td>
			<td>American</td>
			<td>9.7</td>
		</tr>
		<tr>
			<td>224</td>
			<td>Earl Edwards</td>
			<td>Germantown Academy</td>
			<td>National</td>
			<td>9.7</td>
		</tr>
		<tr>
			<td>390</td>
			<td>Steven Cole</td>
			<td>North Point</td>
			<td>National</td>
			<td>9.7</td>
		</tr>
		<tr>
			<td>391</td>
			<td>Daylin Davis</td>
			<td>North Point</td>
			<td>National</td>
			<td>9.7</td>
		</tr>
		<tr>
			<td>534</td>
			<td>Shaquille McFarland</td>
			<td>St. Anthony</td>
			<td>National</td>
			<td>9.5</td>
		</tr>
		<tr>
			<td>119</td>
			<td>AJ Metz</td>
			<td>Bullis</td>
			<td>National</td>
			<td>9.5</td>
		</tr>
		<tr>
			<td>362</td>
			<td>Hasahn French</td>
			<td>Middletown</td>
			<td>American</td>
			<td>9.5</td>
		</tr>
		<tr>
			<td>468</td>
			<td>Logan Samuels</td>
			<td>Potomac School</td>
			<td>American</td>
			<td>9.4</td>
		</tr>
		<tr>
			<td>566</td>
			<td>Darrian Collins</td>
			<td>St. Patrick's</td>
			<td>National</td>
			<td>9.3</td>
		</tr>
		<tr>
			<td>558</td>
			<td>Isaiah Harris-Winn</td>
			<td>St. Maria Goretti</td>
			<td>American</td>
			<td>9.3</td>
		</tr>
		<tr>
			<td>281</td>
			<td>Sam Norton</td>
			<td>Hill School</td>
			<td>National</td>
			<td>9.2</td>
		</tr>
		<tr>
			<td>509</td>
			<td>Tom Bonacum</td>
			<td>Scotch Plains</td>
			<td>American</td>
			<td>9.2</td>
		</tr>
		<tr>
			<td>30</td>
			<td>Louis Khouri</td>
			<td>Bishop Ireton</td>
			<td>National</td>
			<td>9</td>
		</tr>
		<tr>
			<td>228</td>
			<td>Nick Linder</td>
			<td>Germantown Academy</td>
			<td>National</td>
			<td>9</td>
		</tr>
		<tr>
			<td>539</td>
			<td>Nate Segal</td>
			<td>St. Augustine Prep</td>
			<td>American</td>
			<td>9</td>
		</tr>
		<tr>
			<td>356</td>
			<td>Jeriahmiah Worthem</td>
			<td>Math, Civics, and Science</td>
			<td>National</td>
			<td>9</td>
		</tr>
		<tr>
			<td>324</td>
			<td>Aaron Thomas</td>
			<td>Largo</td>
			<td>American</td>
			<td>8.8</td>
		</tr>
		<tr>
			<td>652</td>
			<td>Sean Loerzel</td>
			<td>Westtown</td>
			<td>American</td>
			<td>8.8</td>
		</tr>
		<tr>
			<td>305</td>
			<td>Rasheed Baker</td>
			<td>Jamesville-Dewitt</td>
			<td>American</td>
			<td>8.8</td>
		</tr>
		<tr>
			<td>467</td>
			<td>Babou Sallah</td>
			<td>Potomac School</td>
			<td>American</td>
			<td>8.8</td>
		</tr>
		<tr>
			<td>317</td>
			<td>Abdulai Bundu</td>
			<td>Largo</td>
			<td>American</td>
			<td>8.8</td>
		</tr>
		<tr>
			<td>159</td>
			<td>Michael Williams</td>
			<td>Chester</td>
			<td>National</td>
			<td>8.7</td>
		</tr>
		<tr>
			<td>97</td>
			<td>Dejuan Smith</td>
			<td>Bowie</td>
			<td>American</td>
			<td>8.7</td>
		</tr>
		<tr>
			<td>466</td>
			<td>Grant Robinson</td>
			<td>Potomac School</td>
			<td>American</td>
			<td>8.6</td>
		</tr>
		<tr>
			<td>19</td>
			<td>Luke Connaghan</td>
			<td>Archbishop Wood</td>
			<td>American</td>
			<td>8.5</td>
		</tr>
		<tr>
			<td>660</td>
			<td>Lamel Faison</td>
			<td>Xavierian</td>
			<td>National</td>
			<td>8.5</td>
		</tr>
		<tr>
			<td>57</td>
			<td>Justin Ramey</td>
			<td>Bishop McNamara</td>
			<td>National</td>
			<td>8.5</td>
		</tr>
		<tr>
			<td>206</td>
			<td>Jeff Seigafuse</td>
			<td>Father Judge</td>
			<td>American</td>
			<td>8.5</td>
		</tr>
		<tr>
			<td>528</td>
			<td>Kentrell Brooks</td>
			<td>St. Anthony</td>
			<td>National</td>
			<td>8.5</td>
		</tr>
		<tr>
			<td>584</td>
			<td>Daniel Wilson</td>
			<td>St. Paul's</td>
			<td>National</td>
			<td>8.4</td>
		</tr>
		<tr>
			<td>171</td>
			<td>Gray Kline</td>
			<td>Cumberland Valley</td>
			<td>American</td>
			<td>8.4</td>
		</tr>
		<tr>
			<td>328</td>
			<td>J.J. Epps</td>
			<td>Magruder</td>
			<td>National</td>
			<td>8.3</td>
		</tr>
		<tr>
			<td>540</td>
			<td>Brian Seward</td>
			<td>St. Augustine Prep</td>
			<td>American</td>
			<td>8.2</td>
		</tr>
		<tr>
			<td>538</td>
			<td>Blake Rossell</td>
			<td>St. Augustine Prep</td>
			<td>American</td>
			<td>8.2</td>
		</tr>
		<tr>
			<td>513</td>
			<td>Xavier Noel Brooks</td>
			<td>Scotch Plains</td>
			<td>American</td>
			<td>8</td>
		</tr>
		<tr>
			<td>199</td>
			<td>James Bogans</td>
			<td>Father Judge</td>
			<td>American</td>
			<td>8</td>
		</tr>
		<tr>
			<td>189</td>
			<td>Jesse Ason</td>
			<td>Eleanor Roosevelt</td>
			<td>American</td>
			<td>8</td>
		</tr>
		<tr>
			<td>142</td>
			<td>Louis Pillari</td>
			<td>CBA</td>
			<td>American</td>
			<td>8</td>
		</tr>
		<tr>
			<td>432</td>
			<td>Michael Cooper</td>
			<td>Philadelphia Electrical Tech</td>
			<td>National</td>
			<td>8</td>
		</tr>
		<tr>
			<td>368</td>
			<td>Troy Harper</td>
			<td>Neumann-Goretti</td>
			<td>National</td>
			<td>8</td>
		</tr>
		<tr>
			<td>665</td>
			<td>Robert Rossiter</td>
			<td>Xavierian</td>
			<td>National</td>
			<td>8</td>
		</tr>
		<tr>
			<td>694</td>
			<td>Michael Watson</td>
			<td>Thomas Jefferson</td>
			<td>National</td>
			<td>8</td>
		</tr>
		<tr>
			<td>149</td>
			<td>Rashan Dejarante</td>
			<td>Chester</td>
			<td>National</td>
			<td>8</td>
		</tr>
		<tr>
			<td>252</td>
			<td>Matthew Jackson</td>
			<td>Gonzaga</td>
			<td>National</td>
			<td>7.8</td>
		</tr>
		<tr>
			<td>60</td>
			<td>Justice Sneed</td>
			<td>Bishop McNamara</td>
			<td>National</td>
			<td>7.8</td>
		</tr>
		<tr>
			<td>217</td>
			<td>Gregory Harris</td>
			<td>Flint Hill</td>
			<td>American</td>
			<td>7.8</td>
		</tr>
		<tr>
			<td>634</td>
			<td></td>
			<td>Philadelphia Electrical Tech</td>
			<td>National</td>
			<td>7.7</td>
		</tr>
		<tr>
			<td>91</td>
			<td>Jared Gray</td>
			<td>Bowie</td>
			<td>American</td>
			<td>7.7</td>
		</tr>
		<tr>
			<td>192</td>
			<td>Lorenzo Foote</td>
			<td>Eleanor Roosevelt</td>
			<td>American</td>
			<td>7.6</td>
		</tr>
		<tr>
			<td>462</td>
			<td>Cory Jones</td>
			<td>Potomac School</td>
			<td>American</td>
			<td>7.6</td>
		</tr>
		<tr>
			<td>269</td>
			<td>Dominique Lewis</td>
			<td>Harrisburg</td>
			<td>American</td>
			<td>7.6</td>
		</tr>
		<tr>
			<td>215</td>
			<td>Paul Herbman</td>
			<td>Flint Hill</td>
			<td>American</td>
			<td>7.5</td>
		</tr>
		<tr>
			<td>531</td>
			<td>Darnell Foreman</td>
			<td>St. Anthony</td>
			<td>National</td>
			<td>7.5</td>
		</tr>
		<tr>
			<td>249</td>
			<td>Jabari Greenwood</td>
			<td>Gonzaga</td>
			<td>National</td>
			<td>7.5</td>
		</tr>
		<tr>
			<td>107</td>
			<td>Jamie Killings</td>
			<td>Boys and Girls</td>
			<td>National</td>
			<td>7.5</td>
		</tr>
		<tr>
			<td>372</td>
			<td>Antonio Toplyn</td>
			<td>Neumann-Goretti</td>
			<td>National</td>
			<td>7.4</td>
		</tr>
		<tr>
			<td>567</td>
			<td>Fatir Hines</td>
			<td>St. Patrick's</td>
			<td>National</td>
			<td>7.3</td>
		</tr>
		<tr>
			<td>438</td>
			<td>Juwan Womack</td>
			<td>Philadelphia Electrical Tech</td>
			<td>National</td>
			<td>7.3</td>
		</tr>
		<tr>
			<td>187</td>
			<td>Clayton Wolfe</td>
			<td>Delaware Valley Charter</td>
			<td>American</td>
			<td>7.3</td>
		</tr>
		<tr>
			<td>680</td>
			<td>Ray</td>
			<td>Thomas Jefferson</td>
			<td>National</td>
			<td>7.3</td>
		</tr>
		<tr>
			<td>273</td>
			<td>Steven Stoney</td>
			<td>Harrisburg</td>
			<td>American</td>
			<td>7.2</td>
		</tr>
		<tr>
			<td>270</td>
			<td>Jerrel Patterson</td>
			<td>Harrisburg</td>
			<td>American</td>
			<td>7.2</td>
		</tr>
		<tr>
			<td>585</td>
			<td>Jason Tucker</td>
			<td>St. Paul's</td>
			<td>National</td>
			<td>7.2</td>
		</tr>
		<tr>
			<td>268</td>
			<td>Ashton Cooksey</td>
			<td>Harrisburg</td>
			<td>American</td>
			<td>7.2</td>
		</tr>
		<tr>
			<td>306</td>
			<td>Dom DeRegis</td>
			<td>Jamesville-Dewitt</td>
			<td>American</td>
			<td>7</td>
		</tr>
		<tr>
			<td>603</td>
			<td>Reggie Hopkins</td>
			<td>Susquehanna Township</td>
			<td>American</td>
			<td>7</td>
		</tr>
		<tr>
			<td>186</td>
			<td>Jamir Taylor</td>
			<td>Delaware Valley Charter</td>
			<td>American</td>
			<td>7</td>
		</tr>
		<tr>
			<td>483</td>
			<td>Jalen Branford</td>
			<td>Reading</td>
			<td>American</td>
			<td>7</td>
		</tr>
		<tr>
			<td>351</td>
			<td>Louis Myers</td>
			<td>Math, Civics, and Science</td>
			<td>National</td>
			<td>7</td>
		</tr>
		<tr>
			<td>131</td>
			<td>Ryan Richards Jr</td>
			<td>Canisius</td>
			<td>American</td>
			<td>7</td>
		</tr>
		<tr>
			<td>702</td>
			<td>Will V</td>
			<td>Bishop Loughlin</td>
			<td>National</td>
			<td>7</td>
		</tr>
		<tr>
			<td>401</td>
			<td>Tim Higgins</td>
			<td>Paul VI</td>
			<td>National</td>
			<td>7</td>
		</tr>
		<tr>
			<td>194</td>
			<td>Franklin Howard</td>
			<td>Paul VI</td>
			<td>National</td>
			<td>7</td>
		</tr>
		<tr>
			<td>59</td>
			<td>Kevin Robbins</td>
			<td>Bishop McNamara</td>
			<td>National</td>
			<td>7</td>
		</tr>
		<tr>
			<td>293</td>
			<td>Eric Williams</td>
			<td>The Hun School</td>
			<td>National</td>
			<td>7</td>
		</tr>
		<tr>
			<td>32</td>
			<td>Wynn Miller</td>
			<td>Bishop Ireton</td>
			<td>National</td>
			<td>7</td>
		</tr>
		<tr>
			<td>519</td>
			<td>Arvelle III</td>
			<td>Shipley School</td>
			<td>American</td>
			<td>6.8</td>
		</tr>
		<tr>
			<td>22</td>
			<td>Joe LoStracco</td>
			<td>Archbishop Wood</td>
			<td>American</td>
			<td>6.8</td>
		</tr>
		<tr>
			<td>300</td>
			<td>Devin Liggeons</td>
			<td>Imhotep Charter</td>
			<td>National</td>
			<td>6.8</td>
		</tr>
		<tr>
			<td>250</td>
			<td>Ramond Hines</td>
			<td>Gonzaga</td>
			<td>National</td>
			<td>6.8</td>
		</tr>
		<tr>
			<td>90</td>
			<td>Michael Giles</td>
			<td>Bowie</td>
			<td>American</td>
			<td>6.7</td>
		</tr>
		<tr>
			<td>245</td>
			<td>Gemir Holbrook</td>
			<td>Penn Wood</td>
			<td>American</td>
			<td>6.7</td>
		</tr>
		<tr>
			<td>284</td>
			<td>Bryce Allen</td>
			<td>Hill School</td>
			<td>National</td>
			<td>6.6</td>
		</tr>
		<tr>
			<td>10</td>
			<td>Daniel Brzozka</td>
			<td>Amityville</td>
			<td>American</td>
			<td>6.6</td>
		</tr>
		<tr>
			<td>489</td>
			<td>Baba-Tunde Waples</td>
			<td>Reading</td>
			<td>American</td>
			<td>6.5</td>
		</tr>
		<tr>
			<td>308</td>
			<td>James Dourdas</td>
			<td>Jamesville-Dewitt</td>
			<td>American</td>
			<td>6.5</td>
		</tr>
		<tr>
			<td>183</td>
			<td>Antwan Scriven</td>
			<td>Delaware Valley Charter</td>
			<td>American</td>
			<td>6.5</td>
		</tr>
		<tr>
			<td>115</td>
			<td>Aaron Briggs</td>
			<td>Bullis</td>
			<td>National</td>
			<td>6.5</td>
		</tr>
		<tr>
			<td>31</td>
			<td>Taylor McHugh</td>
			<td>Bishop Ireton</td>
			<td>National</td>
			<td>6.5</td>
		</tr>
		<tr>
			<td>45</td>
			<td>Jeff Lange</td>
			<td>Bishop Loughlin</td>
			<td>National</td>
			<td>6.5</td>
		</tr>
		<tr>
			<td>374</td>
			<td>Marvin Branch</td>
			<td>North Ansemond River</td>
			<td>American</td>
			<td>6.5</td>
		</tr>
		<tr>
			<td>664</td>
			<td>Raven Owen</td>
			<td>Xavierian</td>
			<td>National</td>
			<td>6.5</td>
		</tr>
		<tr>
			<td>47</td>
			<td>Daquan Miller</td>
			<td>Bishop Loughlin</td>
			<td>National</td>
			<td>6.5</td>
		</tr>
		<tr>
			<td>276</td>
			<td>James Ezell</td>
			<td>Harrisburg</td>
			<td>American</td>
			<td>6.4</td>
		</tr>
		<tr>
			<td>505</td>
			<td>Matt Simon</td>
			<td>Roman Catholic</td>
			<td>National</td>
			<td>6.4</td>
		</tr>
		<tr>
			<td>325</td>
			<td>Tim Thomas</td>
			<td>Largo</td>
			<td>American</td>
			<td>6.4</td>
		</tr>
		<tr>
			<td>173</td>
			<td>Doug Smith</td>
			<td>Cumberland Valley</td>
			<td>American</td>
			<td>6.4</td>
		</tr>
		<tr>
			<td>473</td>
			<td>Rayshawn Knight</td>
			<td>Poughkeepsie</td>
			<td>American</td>
			<td>6.3</td>
		</tr>
		<tr>
			<td>58</td>
			<td>Kyle Rawles</td>
			<td>Bishop McNamara</td>
			<td>National</td>
			<td>6.3</td>
		</tr>
		<tr>
			<td>166</td>
			<td>Haneef Brooks</td>
			<td>Constitution</td>
			<td>American</td>
			<td>6.3</td>
		</tr>
		<tr>
			<td>518</td>
			<td>Connor Higgins</td>
			<td>Shipley School</td>
			<td>American</td>
			<td>6.3</td>
		</tr>
		<tr>
			<td>118</td>
			<td>Lyle Winton</td>
			<td>Bullis</td>
			<td>National</td>
			<td>6</td>
		</tr>
		<tr>
			<td>366</td>
			<td>Jamal Custis</td>
			<td>Neumann-Goretti</td>
			<td>National</td>
			<td>6</td>
		</tr>
		<tr>
			<td>151</td>
			<td>Richard Grandbury</td>
			<td>Chester</td>
			<td>National</td>
			<td>6</td>
		</tr>
		<tr>
			<td>44</td>
			<td>Darius James</td>
			<td>Bishop Loughlin</td>
			<td>National</td>
			<td>6</td>
		</tr>
		<tr>
			<td>507</td>
			<td>Trevaugn Wilkerson</td>
			<td>Roman Catholic</td>
			<td>National</td>
			<td>6</td>
		</tr>
		<tr>
			<td>408</td>
			<td>Andrew Peacock</td>
			<td>Paul VI</td>
			<td>National</td>
			<td>6</td>
		</tr>
		<tr>
			<td>33</td>
			<td>Daniel Noe</td>
			<td>Bishop Ireton</td>
			<td>National</td>
			<td>6</td>
		</tr>
		<tr>
			<td>668</td>
			<td>Daiquest Cariano</td>
			<td>York</td>
			<td>American</td>
			<td>6</td>
		</tr>
		<tr>
			<td>52</td>
			<td>Sam Green</td>
			<td>Bishop McNamara</td>
			<td>National</td>
			<td>6</td>
		</tr>
		<tr>
			<td>481</td>
			<td>Isael Abreu</td>
			<td>Reading</td>
			<td>American</td>
			<td>6</td>
		</tr>
		<tr>
			<td>54</td>
			<td>Wayne Johnson</td>
			<td>Bishop McNamara</td>
			<td>National</td>
			<td>5.8</td>
		</tr>
		<tr>
			<td>297</td>
			<td>Carnel Harley</td>
			<td>Imhotep Charter</td>
			<td>National</td>
			<td>5.8</td>
		</tr>
		<tr>
			<td>365</td>
			<td>Elijiah Parker</td>
			<td>Middletown</td>
			<td>American</td>
			<td>5.8</td>
		</tr>
		<tr>
			<td>182</td>
			<td>Bysil Northeren</td>
			<td>Delaware Valley Charter</td>
			<td>American</td>
			<td>5.8</td>
		</tr>
		<tr>
			<td>456</td>
			<td>Steve Zignorski</td>
			<td>Pope John XXIII</td>
			<td>National</td>
			<td>5.8</td>
		</tr>
		<tr>
			<td>611</td>
			<td>RaeKwon DeShields</td>
			<td>Sussex Tech</td>
			<td>American</td>
			<td>5.8</td>
		</tr>
		<tr>
			<td>464</td>
			<td>Devin Lawrence</td>
			<td>Poughkeepsie</td>
			<td>American</td>
			<td>5.7</td>
		</tr>
		<tr>
			<td>65</td>
			<td>Leroy Butts</td>
			<td>Bishop O'Connell</td>
			<td>National</td>
			<td>5.7</td>
		</tr>
		<tr>
			<td>499</td>
			<td>Robert Tyler</td>
			<td>Riverdale Baptist</td>
			<td>National</td>
			<td>5.7</td>
		</tr>
		<tr>
			<td>283</td>
			<td>Grant Smith</td>
			<td>Hill School</td>
			<td>National</td>
			<td>5.6</td>
		</tr>
		<tr>
			<td>144</td>
			<td>Shaun Belbey</td>
			<td>CBA</td>
			<td>American</td>
			<td>5.6</td>
		</tr>
		<tr>
			<td>129</td>
			<td>Jamel Mosley</td>
			<td>Canisius</td>
			<td>American</td>
			<td>5.5</td>
		</tr>
		<tr>
			<td>285</td>
			<td>Mike Bourke</td>
			<td>The Hun School</td>
			<td>National</td>
			<td>5.5</td>
		</tr>
		<tr>
			<td>161</td>
			<td>Akeem King</td>
			<td>Constitution</td>
			<td>American</td>
			<td>5.5</td>
		</tr>
		<tr>
			<td>646</td>
			<td>Zavon Johnson</td>
			<td>West Windsor-Plainsboro</td>
			<td>American</td>
			<td>5.5</td>
		</tr>
		<tr>
			<td>139</td>
			<td>Robbie Kennedy</td>
			<td>CBA</td>
			<td>American</td>
			<td>5.4</td>
		</tr>
		<tr>
			<td>656</td>
			<td>Dakpe Yiljep</td>
			<td>Westtown</td>
			<td>American</td>
			<td>5.4</td>
		</tr>
		<tr>
			<td>154</td>
			<td>Quadriee Smith</td>
			<td>Paul VI</td>
			<td>National</td>
			<td>5.4</td>
		</tr>
		<tr>
			<td>22</td>
			<td>Kevin Dorsey</td>
			<td>Paul VI</td>
			<td>National</td>
			<td>5.4</td>
		</tr>
		<tr>
			<td>707</td>
			<td>J. Whaley</td>
			<td>Sussex Tech</td>
			<td>American</td>
			<td>5.4</td>
		</tr>
		<tr>
			<td>452</td>
			<td>Patrick Mekongo</td>
			<td>Pope John XXIII</td>
			<td>National</td>
			<td>5.3</td>
		</tr>
		<tr>
			<td>95</td>
			<td>Develle Phillips</td>
			<td>Bowie</td>
			<td>American</td>
			<td>5.3</td>
		</tr>
		<tr>
			<td>112</td>
			<td>Marvin Prochet</td>
			<td>Boys and Girls</td>
			<td>National</td>
			<td>5.3</td>
		</tr>
		<tr>
			<td>677</td>
			<td>Jahaire Wilson</td>
			<td>York</td>
			<td>American</td>
			<td>5.3</td>
		</tr>
		<tr>
			<td>346</td>
			<td>Austin Vereen</td>
			<td>Maret</td>
			<td>National</td>
			<td>5.3</td>
		</tr>
		<tr>
			<td>600</td>
			<td>Jheran Dunbar</td>
			<td>Susquehanna Township</td>
			<td>American</td>
			<td>5.3</td>
		</tr>
		<tr>
			<td>627</td>
			<td>Devaunte Locadia</td>
			<td>Teaneck</td>
			<td>National</td>
			<td>5.3</td>
		</tr>
		<tr>
			<td>296</td>
			<td>Nigel Grant</td>
			<td>Imhotep Charter</td>
			<td>National</td>
			<td>5.3</td>
		</tr>
		<tr>
			<td>76</td>
			<td>Marquis Rowe</td>
			<td>Bishop O'Connell</td>
			<td>National</td>
			<td>5.3</td>
		</tr>
		<tr>
			<td>433</td>
			<td>Marquese Daniels</td>
			<td>Philadelphia Electrical Tech</td>
			<td>National</td>
			<td>5.3</td>
		</tr>
		<tr>
			<td>705</td>
			<td>K. Grant</td>
			<td>Middletown</td>
			<td>American</td>
			<td>5.3</td>
		</tr>
		<tr>
			<td>465</td>
			<td>Brooks Mays</td>
			<td>Potomac School</td>
			<td>American</td>
			<td>5.2</td>
		</tr>
		<tr>
			<td>282</td>
			<td>Joe Pucci</td>
			<td>Hill School</td>
			<td>National</td>
			<td>5.2</td>
		</tr>
		<tr>
			<td>639</td>
			<td>Nazai Stokes</td>
			<td>Thomas Jefferson</td>
			<td>National</td>
			<td>5</td>
		</tr>
		<tr>
			<td>357</td>
			<td>Tarik Boyd</td>
			<td>Middletown</td>
			<td>American</td>
			<td>5</td>
		</tr>
		<tr>
			<td>35</td>
			<td>Ty Quarles</td>
			<td>Bishop Ireton</td>
			<td>National</td>
			<td>5</td>
		</tr>
		<tr>
			<td>418</td>
			<td>George Langberg</td>
			<td>Peddie School</td>
			<td>American</td>
			<td>5</td>
		</tr>
		<tr>
			<td>541</td>
			<td>David Sullivan</td>
			<td>St. Augustine Prep</td>
			<td>American</td>
			<td>5</td>
		</tr>
		<tr>
			<td>83</td>
			<td>Noah Dean</td>
			<td>Bloomfield</td>
			<td>American</td>
			<td>5</td>
		</tr>
		<tr>
			<td>43</td>
			<td>Khlaik Howe</td>
			<td>Bishop Loughlin</td>
			<td>National</td>
			<td>5</td>
		</tr>
		<tr>
			<td>291</td>
			<td>Grant Mackay</td>
			<td>The Hun School</td>
			<td>National</td>
			<td>5</td>
		</tr>
		<tr>
			<td>621</td>
			<td>Marcus Fulmore</td>
			<td>Teaneck</td>
			<td>National</td>
			<td>4.8</td>
		</tr>
		<tr>
			<td>125</td>
			<td>Josh Huffman</td>
			<td>Canisius</td>
			<td>American</td>
			<td>4.8</td>
		</tr>
		<tr>
			<td>332</td>
			<td>Matt Ricketts</td>
			<td>Magruder</td>
			<td>National</td>
			<td>4.8</td>
		</tr>
		<tr>
			<td>659</td>
			<td>Joseph Russo</td>
			<td>Xavierian</td>
			<td>National</td>
			<td>4.8</td>
		</tr>
		<tr>
			<td>616</td>
			<td>Dwayne Hopkins</td>
			<td>Sussex Tech</td>
			<td>American</td>
			<td>4.8</td>
		</tr>
		<tr>
			<td>565</td>
			<td>Kymaal Champagne</td>
			<td>St. Patrick's</td>
			<td>National</td>
			<td>4.7</td>
		</tr>
		<tr>
			<td>434</td>
			<td>Austin Hawkins</td>
			<td>Philadelphia Electrical Tech</td>
			<td>National</td>
			<td>4.7</td>
		</tr>
		<tr>
			<td>470</td>
			<td>Jahleel Carter</td>
			<td>Poughkeepsie</td>
			<td>American</td>
			<td>4.7</td>
		</tr>
		<tr>
			<td>552</td>
			<td>Ameka Akaya</td>
			<td>St. Maria Goretti</td>
			<td>American</td>
			<td>4.7</td>
		</tr>
		<tr>
			<td>673</td>
			<td>D'Montie Shaw</td>
			<td>York</td>
			<td>American</td>
			<td>4.7</td>
		</tr>
		<tr>
			<td>277</td>
			<td>Quin Butler</td>
			<td>Hill School</td>
			<td>National</td>
			<td>4.6</td>
		</tr>
		<tr>
			<td>193</td>
			<td>Andre Fox</td>
			<td>Eleanor Roosevelt</td>
			<td>American</td>
			<td>4.6</td>
		</tr>
		<tr>
			<td>176</td>
			<td>Matt Tamonosky</td>
			<td>Cumberland Valley</td>
			<td>American</td>
			<td>4.6</td>
		</tr>
		<tr>
			<td>355</td>
			<td>Quadir Welton</td>
			<td>Math, Civics, and Science</td>
			<td>National</td>
			<td>4.5</td>
		</tr>
		<tr>
			<td>662</td>
			<td>Latiek Laney</td>
			<td>Xavierian</td>
			<td>National</td>
			<td>4.5</td>
		</tr>
		<tr>
			<td>137</td>
			<td>Evan Gordinier</td>
			<td>CBA</td>
			<td>American</td>
			<td>4.4</td>
		</tr>
		<tr>
			<td>457</td>
			<td>Jalen Broome</td>
			<td>Potomac School</td>
			<td>American</td>
			<td>4.4</td>
		</tr>
		<tr>
			<td>578</td>
			<td>Randy Gregory</td>
			<td>St. Paul's</td>
			<td>National</td>
			<td>4.4</td>
		</tr>
		<tr>
			<td>261</td>
			<td>Byron Hawkins</td>
			<td>Good Counsel</td>
			<td>National</td>
			<td>4.3</td>
		</tr>
		<tr>
			<td>66</td>
			<td>Adrian Chuquillangui</td>
			<td>Bishop O'Connell</td>
			<td>National</td>
			<td>4.3</td>
		</tr>
		<tr>
			<td>342</td>
			<td>Ture Lawrence</td>
			<td>Maret</td>
			<td>National</td>
			<td>4.3</td>
		</tr>
		<tr>
			<td>179</td>
			<td>James Edwards</td>
			<td>Delaware Valley Charter</td>
			<td>American</td>
			<td>4.3</td>
		</tr>
		<tr>
			<td>204</td>
			<td>Jon O'Connor</td>
			<td>Father Judge</td>
			<td>American</td>
			<td>4.3</td>
		</tr>
		<tr>
			<td>378</td>
			<td>William Goodman</td>
			<td>North Ansemond River</td>
			<td>American</td>
			<td>4.3</td>
		</tr>
		<tr>
			<td>67</td>
			<td>Patrick Dumais</td>
			<td>Bishop O'Connell</td>
			<td>National</td>
			<td>4.3</td>
		</tr>
		<tr>
			<td>416</td>
			<td>Max Grutschus</td>
			<td>Peddie School</td>
			<td>American</td>
			<td>4.3</td>
		</tr>
		<tr>
			<td>427</td>
			<td>Amadou Kaba</td>
			<td>Penn Wood</td>
			<td>American</td>
			<td>4.3</td>
		</tr>
		<tr>
			<td>155</td>
			<td>Diamante Reason</td>
			<td>Chester</td>
			<td>National</td>
			<td>4.3</td>
		</tr>
		<tr>
			<td>347</td>
			<td>Adam Zeitler</td>
			<td>Maret</td>
			<td>National</td>
			<td>4.3</td>
		</tr>
		<tr>
			<td>654</td>
			<td>Jordan Phelps</td>
			<td>Westtown</td>
			<td>American</td>
			<td>4.2</td>
		</tr>
		<tr>
			<td>49</td>
			<td>Anthony Vernon</td>
			<td>Bishop Loughlin</td>
			<td>National</td>
			<td>4</td>
		</tr>
		<tr>
			<td>449</td>
			<td>Ryan Izzo</td>
			<td>Pope John XXIII</td>
			<td>National</td>
			<td>4</td>
		</tr>
		<tr>
			<td>290</td>
			<td>Taylor Heilman</td>
			<td>The Hun School</td>
			<td>National</td>
			<td>4</td>
		</tr>
		<tr>
			<td>336</td>
			<td>Jalen Barnes</td>
			<td>Maret</td>
			<td>National</td>
			<td>4</td>
		</tr>
		<tr>
			<td>570</td>
			<td>Otis Livingston</td>
			<td>St. Patrick's</td>
			<td>National</td>
			<td>4</td>
		</tr>
		<tr>
			<td>431</td>
			<td>James Bishop</td>
			<td>Philadelphia Electrical Tech</td>
			<td>National</td>
			<td>4</td>
		</tr>
		<tr>
			<td>158</td>
			<td>Khalil Williams</td>
			<td>Chester</td>
			<td>National</td>
			<td>4</td>
		</tr>
		<tr>
			<td>301</td>
			<td>Dymir Logan</td>
			<td>Imhotep Charter</td>
			<td>National</td>
			<td>4</td>
		</tr>
		<tr>
			<td>253</td>
			<td>Samuel Miller</td>
			<td>Gonzaga</td>
			<td>National</td>
			<td>4</td>
		</tr>
		<tr>
			<td>514</td>
			<td>Leo Ramos</td>
			<td>Scotch Plains</td>
			<td>American</td>
			<td>4</td>
		</tr>
		<tr>
			<td>428</td>
			<td>Jeff Padiyoni</td>
			<td>Penn Wood</td>
			<td>American</td>
			<td>4</td>
		</tr>
		<tr>
			<td>508</td>
			<td>Joshua Acosta</td>
			<td>Scotch Plains</td>
			<td>American</td>
			<td>4</td>
		</tr>
		<tr>
			<td>703</td>
			<td>D. Rawls</td>
			<td>Harrisburg</td>
			<td>American</td>
			<td>4</td>
		</tr>
		<tr>
			<td>379</td>
			<td>Justin Madison</td>
			<td>North Ansemond River</td>
			<td>American</td>
			<td>4</td>
		</tr>
		<tr>
			<td>653</td>
			<td>Habib N'garnim</td>
			<td>Westtown</td>
			<td>American</td>
			<td>4</td>
		</tr>
		<tr>
			<td>178</td>
			<td>Rich Burton</td>
			<td>Delaware Valley Charter</td>
			<td>American</td>
			<td>4</td>
		</tr>
		<tr>
			<td>675</td>
			<td>Ramel Stephens</td>
			<td>York</td>
			<td>American</td>
			<td>4</td>
		</tr>
		<tr>
			<td>100</td>
			<td>Romario Allen</td>
			<td>Boys and Girls</td>
			<td>National</td>
			<td>3.8</td>
		</tr>
		<tr>
			<td>266</td>
			<td>Chris Britton</td>
			<td>Harrisburg</td>
			<td>American</td>
			<td>3.8</td>
		</tr>
		<tr>
			<td>210</td>
			<td>John Whitaker</td>
			<td>Flint Hill</td>
			<td>American</td>
			<td>3.8</td>
		</tr>
		<tr>
			<td>516</td>
			<td>Josh Gorrell</td>
			<td>Shipley School</td>
			<td>American</td>
			<td>3.8</td>
		</tr>
		<tr>
			<td>25</td>
			<td>Tom Rush</td>
			<td>Archbishop Wood</td>
			<td>American</td>
			<td>3.8</td>
		</tr>
		<tr>
			<td>238</td>
			<td>Ian DeMarist</td>
			<td>Gil St Bernard</td>
			<td>National</td>
			<td>3.8</td>
		</tr>
		<tr>
			<td>334</td>
			<td>Danny Schaerr</td>
			<td>Magruder</td>
			<td>National</td>
			<td>3.8</td>
		</tr>
		<tr>
			<td>487</td>
			<td>Tyree Gibson</td>
			<td>Reading</td>
			<td>American</td>
			<td>3.8</td>
		</tr>
		<tr>
			<td>396</td>
			<td>Anthony Williams</td>
			<td>North Point</td>
			<td>National</td>
			<td>3.7</td>
		</tr>
		<tr>
			<td>99</td>
			<td>Cory Washington</td>
			<td>Bowie</td>
			<td>American</td>
			<td>3.7</td>
		</tr>
		<tr>
			<td>426</td>
			<td>Malik Jackson</td>
			<td>Penn Wood</td>
			<td>American</td>
			<td>3.7</td>
		</tr>
		<tr>
			<td>265</td>
			<td>Kenny Wormley</td>
			<td>Good Counsel</td>
			<td>National</td>
			<td>3.7</td>
		</tr>
		<tr>
			<td>271</td>
			<td>Jahaad Proctor</td>
			<td>Harrisburg</td>
			<td>American</td>
			<td>3.6</td>
		</tr>
		<tr>
			<td>515</td>
			<td>Andrew Voysest</td>
			<td>Scotch Plains</td>
			<td>American</td>
			<td>3.6</td>
		</tr>
		<tr>
			<td>310</td>
			<td>James Jones</td>
			<td>Jamesville-Dewitt</td>
			<td>American</td>
			<td>3.5</td>
		</tr>
		<tr>
			<td>360</td>
			<td>Malik Clark</td>
			<td>Middletown</td>
			<td>American</td>
			<td>3.5</td>
		</tr>
		<tr>
			<td>248</td>
			<td>Bryant Crawford</td>
			<td>Gonzaga</td>
			<td>National</td>
			<td>3.5</td>
		</tr>
		<tr>
			<td>601</td>
			<td>Jermone Edwards</td>
			<td>Susquehanna Township</td>
			<td>American</td>
			<td>3.5</td>
		</tr>
		<tr>
			<td>352</td>
			<td>Che Perry</td>
			<td>Math, Civics, and Science</td>
			<td>National</td>
			<td>3.5</td>
		</tr>
		<tr>
			<td>658</td>
			<td>Sayon Charles</td>
			<td>Xavierian</td>
			<td>National</td>
			<td>3.5</td>
		</tr>
		<tr>
			<td>106</td>
			<td>Dimitri Jarrett</td>
			<td>Boys and Girls</td>
			<td>National</td>
			<td>3.5</td>
		</tr>
		<tr>
			<td>298</td>
			<td>Tyheem Harmon</td>
			<td>Imhotep Charter</td>
			<td>National</td>
			<td>3.5</td>
		</tr>
		<tr>
			<td>709</td>
			<td>Darius Roundtree</td>
			<td>St. Anthony</td>
			<td>National</td>
			<td>3.5</td>
		</tr>
		<tr>
			<td>608</td>
			<td>Aubrey Allen</td>
			<td>Sussex Tech</td>
			<td>American</td>
			<td>3.4</td>
		</tr>
		<tr>
			<td>576</td>
			<td>Zach Bare</td>
			<td>St. Paul's</td>
			<td>National</td>
			<td>3.4</td>
		</tr>
		<tr>
			<td>321</td>
			<td>Isaiah Hamilton</td>
			<td>Largo</td>
			<td>American</td>
			<td>3.4</td>
		</tr>
		<tr>
			<td>371</td>
			<td>Hanif Sutton</td>
			<td>Neumann-Goretti</td>
			<td>National</td>
			<td>3.4</td>
		</tr>
		<tr>
			<td>157</td>
			<td>Keyontaye Watkins</td>
			<td>Chester</td>
			<td>National</td>
			<td>3.3</td>
		</tr>
		<tr>
			<td>424</td>
			<td>Dameer Holbrook</td>
			<td>Penn Wood</td>
			<td>American</td>
			<td>3.3</td>
		</tr>
		<tr>
			<td>73</td>
			<td>Kamrin Moore</td>
			<td>Bishop O'Connell</td>
			<td>National</td>
			<td>3.3</td>
		</tr>
		<tr>
			<td>264</td>
			<td>Curtis Williams</td>
			<td>Good Counsel</td>
			<td>National</td>
			<td>3.3</td>
		</tr>
		<tr>
			<td>546</td>
			<td>Dayshawn Wells</td>
			<td>St. Frances</td>
			<td>National</td>
			<td>3.3</td>
		</tr>
		<tr>
			<td>403</td>
			<td></td>
			<td>Philadelphia Electrical Tech</td>
			<td>National</td>
			<td>3.3</td>
		</tr>
		<tr>
			<td>164</td>
			<td>Andrew Singleton</td>
			<td>Constitution</td>
			<td>American</td>
			<td>3.3</td>
		</tr>
		<tr>
			<td>409</td>
			<td>Joshua Reaves</td>
			<td>Paul VI</td>
			<td>National</td>
			<td>3.2</td>
		</tr>
		<tr>
			<td>11</td>
			<td>Jalani Daniels</td>
			<td>Amityville</td>
			<td>American</td>
			<td>3.2</td>
		</tr>
		<tr>
			<td>138</td>
			<td>Trevon Gross</td>
			<td>CBA</td>
			<td>American</td>
			<td>3.2</td>
		</tr>
		<tr>
			<td>510</td>
			<td>Quayre</td>
			<td>Scotch Plains</td>
			<td>American</td>
			<td>3.2</td>
		</tr>
		<tr>
			<td>41</td>
			<td>Jayvian Selacruz</td>
			<td>Bishop Loughlin</td>
			<td>National</td>
			<td>3</td>
		</tr>
		<tr>
			<td>304</td>
			<td>David Antosh</td>
			<td>Jamesville-Dewitt</td>
			<td>American</td>
			<td>3</td>
		</tr>
		<tr>
			<td>105</td>
			<td>Armando Dunn</td>
			<td>Boys and Girls</td>
			<td>National</td>
			<td>3</td>
		</tr>
		<tr>
			<td>442</td>
			<td>Chris Schifano</td>
			<td>Point Pleasant Beach</td>
			<td>American</td>
			<td>3</td>
		</tr>
		<tr>
			<td>454</td>
			<td>Matt Piwko</td>
			<td>Pope John XXIII</td>
			<td>National</td>
			<td>3</td>
		</tr>
		<tr>
			<td>247</td>
			<td>Tavon Blackmon</td>
			<td>Gonzaga</td>
			<td>National</td>
			<td>3</td>
		</tr>
		<tr>
			<td>573</td>
			<td>Joel Samuel</td>
			<td>St. Patrick's</td>
			<td>National</td>
			<td>3</td>
		</tr>
		<tr>
			<td>610</td>
			<td>Vaughn Covington</td>
			<td>Neumann-Goretti</td>
			<td>National</td>
			<td>3</td>
		</tr>
		<tr>
			<td>17</td>
			<td>Jabari Williamson</td>
			<td>Amityville</td>
			<td>American</td>
			<td>3</td>
		</tr>
		<tr>
			<td>671</td>
			<td>Jeshaun Maddox</td>
			<td>York</td>
			<td>American</td>
			<td>3</td>
		</tr>
		<tr>
			<td>619</td>
			<td>Andre Washington</td>
			<td>Sussex Tech</td>
			<td>American</td>
			<td>3</td>
		</tr>
		<tr>
			<td>311</td>
			<td>Matt King</td>
			<td>Jamesville-Dewitt</td>
			<td>American</td>
			<td>3</td>
		</tr>
		<tr>
			<td>669</td>
			<td>Donavan Dickson</td>
			<td>York</td>
			<td>American</td>
			<td>3</td>
		</tr>
		<tr>
			<td>21</td>
			<td>TJ Kuhar</td>
			<td>Archbishop Wood</td>
			<td>American</td>
			<td>3</td>
		</tr>
		<tr>
			<td>383</td>
			<td>Scott Spencer</td>
			<td>North Ansemond River</td>
			<td>American</td>
			<td>3</td>
		</tr>
		<tr>
			<td>16</td>
			<td>Anthony Napolitano</td>
			<td>Amityville</td>
			<td>American</td>
			<td>2.8</td>
		</tr>
		<tr>
			<td>82</td>
			<td>Emanuel Darby</td>
			<td>Bloomfield</td>
			<td>American</td>
			<td>2.8</td>
		</tr>
		<tr>
			<td>644</td>
			<td>Tommy</td>
			<td>West Windsor-Plainsboro</td>
			<td>American</td>
			<td>2.8</td>
		</tr>
		<tr>
			<td>197</td>
			<td>Aaron McDonald</td>
			<td>Eleanor Roosevelt</td>
			<td>American</td>
			<td>2.8</td>
		</tr>
		<tr>
			<td>599</td>
			<td>Matt Dawson</td>
			<td>Susquehanna Township</td>
			<td>American</td>
			<td>2.8</td>
		</tr>
		<tr>
			<td>56</td>
			<td>Doug Nedab</td>
			<td>Bishop McNamara</td>
			<td>National</td>
			<td>2.8</td>
		</tr>
		<tr>
			<td>62</td>
			<td>Ryen Wise</td>
			<td>Bishop McNamara</td>
			<td>National</td>
			<td>2.8</td>
		</tr>
		<tr>
			<td>331</td>
			<td>Tyrii Jackson</td>
			<td>Magruder</td>
			<td>National</td>
			<td>2.8</td>
		</tr>
		<tr>
			<td>480</td>
			<td>Tyece Whitaker</td>
			<td>Poughkeepsie</td>
			<td>American</td>
			<td>2.7</td>
		</tr>
		<tr>
			<td>64</td>
			<td>Ako Adams</td>
			<td>Bishop O'Connell</td>
			<td>National</td>
			<td>2.7</td>
		</tr>
		<tr>
			<td>554</td>
			<td>Forrest Buterbaugh</td>
			<td>St. Maria Goretti</td>
			<td>American</td>
			<td>2.7</td>
		</tr>
		<tr>
			<td>150</td>
			<td>Quran Foreman</td>
			<td>Chester</td>
			<td>National</td>
			<td>2.7</td>
		</tr>
		<tr>
			<td>641</td>
			<td>Devonte Wilson</td>
			<td>Thomas Jefferson</td>
			<td>National</td>
			<td>2.7</td>
		</tr>
		<tr>
			<td>225</td>
			<td>Devon Goodman</td>
			<td>Germantown Academy</td>
			<td>National</td>
			<td>2.7</td>
		</tr>
		<tr>
			<td>233</td>
			<td>Baily Whitman</td>
			<td>Germantown Academy</td>
			<td>National</td>
			<td>2.7</td>
		</tr>
		<tr>
			<td>309</td>
			<td>Jeff Edwards</td>
			<td>Jamesville-Dewitt</td>
			<td>American</td>
			<td>2.5</td>
		</tr>
		<tr>
			<td>386</td>
			<td>Kendric Washington</td>
			<td>North Ansemond River</td>
			<td>American</td>
			<td>2.5</td>
		</tr>
		<tr>
			<td>523</td>
			<td>Ronald Ridgeway</td>
			<td>Shipley School</td>
			<td>American</td>
			<td>2.5</td>
		</tr>
		<tr>
			<td>526</td>
			<td>Al Abah-Essola</td>
			<td>St. Anthony</td>
			<td>National</td>
			<td>2.5</td>
		</tr>
		<tr>
			<td>181</td>
			<td>Karl Lewis</td>
			<td>Delaware Valley Charter</td>
			<td>American</td>
			<td>2.5</td>
		</tr>
		<tr>
			<td>212</td>
			<td>Jasiah Scott</td>
			<td>Flint Hill</td>
			<td>American</td>
			<td>2.5</td>
		</tr>
		<tr>
			<td>349</td>
			<td>Nazeer Bostick</td>
			<td>Math, Civics, and Science</td>
			<td>National</td>
			<td>2.5</td>
		</tr>
		<tr>
			<td>24</td>
			<td>Johnny Parker</td>
			<td>Archbishop Wood</td>
			<td>American</td>
			<td>2.5</td>
		</tr>
		<tr>
			<td>406</td>
			<td>Tyler Scanlon</td>
			<td>Paul VI</td>
			<td>National</td>
			<td>2.4</td>
		</tr>
		<tr>
			<td>196</td>
			<td>Emmanuel Matey</td>
			<td>Eleanor Roosevelt</td>
			<td>American</td>
			<td>2.4</td>
		</tr>
		<tr>
			<td>521</td>
			<td>Sebastian Pepper</td>
			<td>Shipley School</td>
			<td>American</td>
			<td>2.3</td>
		</tr>
		<tr>
			<td>423</td>
			<td>Naeem East</td>
			<td>Penn Wood</td>
			<td>American</td>
			<td>2.3</td>
		</tr>
		<tr>
			<td>647</td>
			<td>Jeff Paskewitz</td>
			<td>West Windsor-Plainsboro</td>
			<td>American</td>
			<td>2.3</td>
		</tr>
		<tr>
			<td>132</td>
			<td>Howard Washington Jr</td>
			<td>Canisius</td>
			<td>American</td>
			<td>2.3</td>
		</tr>
		<tr>
			<td>302</td>
			<td>Trayvond Massenburg</td>
			<td>Imhotep Charter</td>
			<td>National</td>
			<td>2.3</td>
		</tr>
		<tr>
			<td>524</td>
			<td>Zachary Tillman</td>
			<td>Shipley School</td>
			<td>American</td>
			<td>2.3</td>
		</tr>
		<tr>
			<td>240</td>
			<td>John Mea</td>
			<td>Gil St Bernard</td>
			<td>National</td>
			<td>2.3</td>
		</tr>
		<tr>
			<td>414</td>
			<td>Wesley Dickinson</td>
			<td>Peddie School</td>
			<td>American</td>
			<td>2.3</td>
		</tr>
		<tr>
			<td>257</td>
			<td>JP Boyle</td>
			<td>Good Counsel</td>
			<td>National</td>
			<td>2.3</td>
		</tr>
		<tr>
			<td>101</td>
			<td>Mikequua Brown</td>
			<td>Boys and Girls</td>
			<td>National</td>
			<td>2.3</td>
		</tr>
		<tr>
			<td>511</td>
			<td>Michael Dwumfour</td>
			<td>Scotch Plains</td>
			<td>American</td>
			<td>2.2</td>
		</tr>
		<tr>
			<td>594</td>
			<td>Sean Ryan</td>
			<td>St. Peter's Prep</td>
			<td>National</td>
			<td>2.2</td>
		</tr>
		<tr>
			<td>394</td>
			<td>Derrell Reid</td>
			<td>North Point</td>
			<td>National</td>
			<td>2</td>
		</tr>
		<tr>
			<td>479</td>
			<td>Brandon Weir</td>
			<td>Poughkeepsie</td>
			<td>American</td>
			<td>2</td>
		</tr>
		<tr>
			<td>136</td>
			<td>Chimaecki Ekekeugbor</td>
			<td>CBA</td>
			<td>American</td>
			<td>2</td>
		</tr>
		<tr>
			<td>87</td>
			<td>Juwan Swan</td>
			<td>Bloomfield</td>
			<td>American</td>
			<td>2</td>
		</tr>
		<tr>
			<td>93</td>
			<td>Kade Monroe</td>
			<td>Bowie</td>
			<td>American</td>
			<td>2</td>
		</tr>
		<tr>
			<td>20</td>
			<td>Matthew Funk</td>
			<td>Archbishop Wood</td>
			<td>American</td>
			<td>2</td>
		</tr>
		<tr>
			<td>560</td>
			<td>Brady Shaper</td>
			<td>St. Maria Goretti</td>
			<td>American</td>
			<td>2</td>
		</tr>
		<tr>
			<td>557</td>
			<td>Ryan Grant</td>
			<td>St. Maria Goretti</td>
			<td>American</td>
			<td>2</td>
		</tr>
		<tr>
			<td>415</td>
			<td>Christopher Glazer</td>
			<td>Peddie School</td>
			<td>American</td>
			<td>2</td>
		</tr>
		<tr>
			<td>536</td>
			<td>Andrew Nelson</td>
			<td>St. Augustine Prep</td>
			<td>American</td>
			<td>2</td>
		</tr>
		<tr>
			<td>490</td>
			<td>Julius Trappe</td>
			<td>Reading</td>
			<td>American</td>
			<td>2</td>
		</tr>
		<tr>
			<td>43</td>
			<td>Khalik Howe</td>
			<td>Bishop Loughlin</td>
			<td>National</td>
			<td>2</td>
		</tr>
		<tr>
			<td>642</td>
			<td>Mike Byrnes</td>
			<td>West Windsor-Plainsboro</td>
			<td>American</td>
			<td>2</td>
		</tr>
		<tr>
			<td>419</td>
			<td>Lucas Niglio</td>
			<td>Peddie School</td>
			<td>American</td>
			<td>2</td>
		</tr>
		<tr>
			<td>530</td>
			<td>Jordan Compass</td>
			<td>St. Anthony</td>
			<td>National</td>
			<td>2</td>
		</tr>
		<tr>
			<td>28</td>
			<td>Christian Green</td>
			<td>Bishop Ireton</td>
			<td>National</td>
			<td>2</td>
		</tr>
		<tr>
			<td>593</td>
			<td>Austin Roche</td>
			<td>St. Peter's Prep</td>
			<td>National</td>
			<td>2</td>
		</tr>
		<tr>
			<td>227</td>
			<td>Samuel Lindgren</td>
			<td>Germantown Academy</td>
			<td>National</td>
			<td>2</td>
		</tr>
		<tr>
			<td>46</td>
			<td>Nick Lange</td>
			<td>Bishop Loughlin</td>
			<td>National</td>
			<td>2</td>
		</tr>
		<tr>
			<td>453</td>
			<td>Charlie O'Connor</td>
			<td>Pope John XXIII</td>
			<td>National</td>
			<td>2</td>
		</tr>
		<tr>
			<td>545</td>
			<td>Tavon Saddler</td>
			<td>St. Frances</td>
			<td>National</td>
			<td>2</td>
		</tr>
		<tr>
			<td>388</td>
			<td>Malik Brown</td>
			<td>North Point</td>
			<td>National</td>
			<td>2</td>
		</tr>
		<tr>
			<td>279</td>
			<td>Spencer Hoey</td>
			<td>Hill School</td>
			<td>National</td>
			<td>2</td>
		</tr>
		<tr>
			<td>618</td>
			<td>Shaleek Scott</td>
			<td>Xavierian</td>
			<td>National</td>
			<td>2</td>
		</tr>
		<tr>
			<td>667</td>
			<td>Hakeem Slue-Brown</td>
			<td>Xavierian</td>
			<td>National</td>
			<td>1.8</td>
		</tr>
		<tr>
			<td>51</td>
			<td>Erik Arnold</td>
			<td>Bishop McNamara</td>
			<td>National</td>
			<td>1.8</td>
		</tr>
		<tr>
			<td>244</td>
			<td>Roscoe Young</td>
			<td>Gil St Bernard</td>
			<td>National</td>
			<td>1.8</td>
		</tr>
		<tr>
			<td>110</td>
			<td>Larry Moore</td>
			<td>Boys and Girls</td>
			<td>National</td>
			<td>1.8</td>
		</tr>
		<tr>
			<td>216</td>
			<td>Austin Jones</td>
			<td>Flint Hill</td>
			<td>American</td>
			<td>1.8</td>
		</tr>
		<tr>
			<td>175</td>
			<td>Colin Schutjer</td>
			<td>Cumberland Valley</td>
			<td>American</td>
			<td>1.8</td>
		</tr>
		<tr>
			<td>445</td>
			<td>Jeffrey Bryant</td>
			<td>Point Pleasant Beach</td>
			<td>American</td>
			<td>1.8</td>
		</tr>
		<tr>
			<td>184</td>
			<td>Greg Sharpe</td>
			<td>Delaware Valley Charter</td>
			<td>American</td>
			<td>1.8</td>
		</tr>
		<tr>
			<td>602</td>
			<td>Khaili Fortson</td>
			<td>Susquehanna Township</td>
			<td>American</td>
			<td>1.8</td>
		</tr>
		<tr>
			<td>688</td>
			<td>Joe Rivera</td>
			<td>Bloomfield</td>
			<td>American</td>
			<td>1.8</td>
		</tr>
		<tr>
			<td>358</td>
			<td>Darriele Jefferson</td>
			<td>Middletown</td>
			<td>American</td>
			<td>1.8</td>
		</tr>
		<tr>
			<td>373</td>
			<td>Dedjaline Anderson</td>
			<td>North Ansemond River</td>
			<td>American</td>
			<td>1.8</td>
		</tr>
		<tr>
			<td>581</td>
			<td>Nick Tates</td>
			<td>St. Paul's</td>
			<td>National</td>
			<td>1.8</td>
		</tr>
		<tr>
			<td>299</td>
			<td>Jakwan Jones</td>
			<td>Imhotep Charter</td>
			<td>National</td>
			<td>1.8</td>
		</tr>
		<tr>
			<td>583</td>
			<td>Antonio Williams</td>
			<td>St. Paul's</td>
			<td>National</td>
			<td>1.8</td>
		</tr>
		<tr>
			<td>68</td>
			<td>Eric Dunbar</td>
			<td>Bishop O'Connell</td>
			<td>National</td>
			<td>1.7</td>
		</tr>
		<tr>
			<td>260</td>
			<td>Shane Eberle</td>
			<td>Good Counsel</td>
			<td>National</td>
			<td>1.7</td>
		</tr>
		<tr>
			<td>339</td>
			<td>Steffen Davis</td>
			<td>Maret</td>
			<td>National</td>
			<td>1.7</td>
		</tr>
		<tr>
			<td>343</td>
			<td>Alexander Peltier</td>
			<td>Maret</td>
			<td>National</td>
			<td>1.7</td>
		</tr>
		<tr>
			<td>262</td>
			<td>Eric Rupprecht</td>
			<td>Good Counsel</td>
			<td>National</td>
			<td>1.7</td>
		</tr>
		<tr>
			<td>407</td>
			<td>Miles Gillette</td>
			<td>Paul VI</td>
			<td>National</td>
			<td>1.6</td>
		</tr>
		<tr>
			<td>278</td>
			<td>Drew DeAngelis</td>
			<td>Hill School</td>
			<td>National</td>
			<td>1.6</td>
		</tr>
		<tr>
			<td>685</td>
			<td>Matt Mizanin</td>
			<td>St. Augustine Prep</td>
			<td>American</td>
			<td>1.6</td>
		</tr>
		<tr>
			<td>275</td>
			<td>Dejour Williams</td>
			<td>Harrisburg</td>
			<td>American</td>
			<td>1.6</td>
		</tr>
		<tr>
			<td>141</td>
			<td>Luke O'Shaughnessy</td>
			<td>CBA</td>
			<td>American</td>
			<td>1.6</td>
		</tr>
		<tr>
			<td>211</td>
			<td>Matt Kennedy</td>
			<td>Flint Hill</td>
			<td>American</td>
			<td>1.5</td>
		</tr>
		<tr>
			<td>448</td>
			<td>Brian Hopkins</td>
			<td>Pope John XXIII</td>
			<td>National</td>
			<td>1.5</td>
		</tr>
		<tr>
			<td>163</td>
			<td>Nasir Randolph</td>
			<td>Constitution</td>
			<td>American</td>
			<td>1.5</td>
		</tr>
		<tr>
			<td>117</td>
			<td>Brian Keley</td>
			<td>Bullis</td>
			<td>National</td>
			<td>1.5</td>
		</tr>
		<tr>
			<td>174</td>
			<td>Johnny Peterson</td>
			<td>Cumberland Valley</td>
			<td>American</td>
			<td>1.4</td>
		</tr>
		<tr>
			<td>464</td>
			<td>Matt Lazris</td>
			<td>Potomac School</td>
			<td>American</td>
			<td>1.4</td>
		</tr>
		<tr>
			<td>580</td>
			<td>Patrick Hefner</td>
			<td>St. Paul's</td>
			<td>National</td>
			<td>1.4</td>
		</tr>
		<tr>
			<td>591</td>
			<td>Mustafa Lawrence</td>
			<td>St. Peter's Prep</td>
			<td>National</td>
			<td>1.4</td>
		</tr>
		<tr>
			<td>128</td>
			<td>Mike McCall</td>
			<td>Canisius</td>
			<td>American</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>81</td>
			<td>Kevin Barrow</td>
			<td>Bloomfield</td>
			<td>American</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>478</td>
			<td>Joshua Taylor</td>
			<td>Poughkeepsie</td>
			<td>American</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>98</td>
			<td>Dalonte Taylor</td>
			<td>Bowie</td>
			<td>American</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>699</td>
			<td>Demetrius Ward</td>
			<td>Penn Wood</td>
			<td>American</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>231</td>
			<td>Joe Taylor</td>
			<td>Germantown Academy</td>
			<td>National</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>384</td>
			<td>Daniel Wallace</td>
			<td>North Ansemond River</td>
			<td>American</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>678</td>
			<td>Keyaire Martin</td>
			<td>Bloomfield</td>
			<td>American</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>218</td>
			<td>Andre Ahiagbede</td>
			<td>Flint Hill</td>
			<td>American</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>126</td>
			<td>Matthew Klee</td>
			<td>Canisius</td>
			<td>American</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>643</td>
			<td>Malick Fuller</td>
			<td>West Windsor-Plainsboro</td>
			<td>American</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>698</td>
			<td>Abou Doray</td>
			<td>Penn Wood</td>
			<td>American</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>562</td>
			<td>Uvan Stewart</td>
			<td>St. Maria Goretti</td>
			<td>American</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>398</td>
			<td>Marquis Wright</td>
			<td>North Point</td>
			<td>National</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>397</td>
			<td>Tavon Wimbush</td>
			<td>North Point</td>
			<td>National</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>398</td>
			<td>Ochae Bynum</td>
			<td>North Point</td>
			<td>National</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>563</td>
			<td>Rustin Bennet</td>
			<td>St. Patrick's</td>
			<td>National</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>340</td>
			<td>Drake Goddard</td>
			<td>Maret</td>
			<td>National</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>631</td>
			<td>Tyler Pryce</td>
			<td>Teaneck</td>
			<td>National</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>628</td>
			<td>Derek McKnight</td>
			<td>Teaneck</td>
			<td>National</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>254</td>
			<td>Patrick Myers</td>
			<td>Gonzaga</td>
			<td>National</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>245</td>
			<td>Joseph Times</td>
			<td>Gil St Bernard</td>
			<td>National</td>
			<td>1.3</td>
		</tr>
		<tr>
			<td>140</td>
			<td>Derek Leohner</td>
			<td>CBA</td>
			<td>American</td>
			<td>1.2</td>
		</tr>
		<tr>
			<td>267</td>
			<td>Jamal Carter</td>
			<td>Harrisburg</td>
			<td>American</td>
			<td>1.2</td>
		</tr>
		<tr>
			<td>597</td>
			<td>Christopher Wright</td>
			<td>St. Peter's Prep</td>
			<td>National</td>
			<td>1.2</td>
		</tr>
		<tr>
			<td>404</td>
			<td>Carnell</td>
			<td>Roman Catholic</td>
			<td>National</td>
			<td>1.2</td>
		</tr>
		<tr>
			<td>460</td>
			<td>Anthony Correia</td>
			<td>Potomac School</td>
			<td>American</td>
			<td>1.2</td>
		</tr>
		<tr>
			<td>612</td>
			<td>Kyle Doherty</td>
			<td>Sussex Tech</td>
			<td>American</td>
			<td>1.2</td>
		</tr>
		<tr>
			<td>134</td>
			<td>Danny Andree</td>
			<td>CBA</td>
			<td>American</td>
			<td>1.2</td>
		</tr>
		<tr>
			<td>198</td>
			<td>Quincy Winstead</td>
			<td>Eleanor Roosevelt</td>
			<td>American</td>
			<td>1.2</td>
		</tr>
		<tr>
			<td>385</td>
			<td>Jalen Warren</td>
			<td>North Ansemond River</td>
			<td>American</td>
			<td>1</td>
		</tr>
		<tr>
			<td>109</td>
			<td>Juwan Miley</td>
			<td>Boys and Girls</td>
			<td>National</td>
			<td>1</td>
		</tr>
		<tr>
			<td>135</td>
			<td>Donald Burns</td>
			<td>CBA</td>
			<td>American</td>
			<td>1</td>
		</tr>
		<tr>
			<td>145</td>
			<td>Nicholas Mission</td>
			<td>CBA</td>
			<td>American</td>
			<td>1</td>
		</tr>
		<tr>
			<td>674</td>
			<td>Trey Shifflet</td>
			<td>York</td>
			<td>American</td>
			<td>1</td>
		</tr>
		<tr>
			<td>559</td>
			<td>Zachary Phalen</td>
			<td>St. Maria Goretti</td>
			<td>American</td>
			<td>1</td>
		</tr>
		<tr>
			<td>696</td>
			<td>CJ Howell</td>
			<td>West Windsor-Plainsboro</td>
			<td>American</td>
			<td>1</td>
		</tr>
		<tr>
			<td>651</td>
			<td>Burak Atuk</td>
			<td>Westtown</td>
			<td>American</td>
			<td>1</td>
		</tr>
		<tr>
			<td>444</td>
			<td>Peyto Weijnert</td>
			<td>Point Pleasant Beach</td>
			<td>American</td>
			<td>1</td>
		</tr>
		<tr>
			<td>525</td>
			<td>Kevin Zwolak</td>
			<td>Shipley School</td>
			<td>American</td>
			<td>1</td>
		</tr>
		<tr>
			<td>359</td>
			<td>Shandy Casimir</td>
			<td>Middletown</td>
			<td>American</td>
			<td>1</td>
		</tr>
		<tr>
			<td>364</td>
			<td>Mario Wallace</td>
			<td>Middletown</td>
			<td>American</td>
			<td>1</td>
		</tr>
		<tr>
			<td>147</td>
			<td>Deshaun Campbell</td>
			<td>Chester</td>
			<td>National</td>
			<td>1</td>
		</tr>
		<tr>
			<td>292</td>
			<td>Isaiah West</td>
			<td>The Hun School</td>
			<td>National</td>
			<td>1</td>
		</tr>
		<tr>
			<td>113</td>
			<td>Darryl Williams</td>
			<td>Boys and Girls</td>
			<td>National</td>
			<td>1</td>
		</tr>
		<tr>
			<td>326</td>
			<td>Dan Boehlert</td>
			<td>Magruder</td>
			<td>National</td>
			<td>1</td>
		</tr>
		<tr>
			<td>527</td>
			<td>Jair Bolden</td>
			<td>St. Anthony</td>
			<td>National</td>
			<td>1</td>
		</tr>
		<tr>
			<td>203</td>
			<td>Patrick Mulville</td>
			<td>Father Judge</td>
			<td>American</td>
			<td>1</td>
		</tr>
		<tr>
			<td>208</td>
			<td>Dillion Foley</td>
			<td>Flint Hill</td>
			<td>American</td>
			<td>1</td>
		</tr>
		<tr>
			<td>472</td>
			<td>Otis Elvy</td>
			<td>Poughkeepsie</td>
			<td>American</td>
			<td>1</td>
		</tr>
		<tr>
			<td>29</td>
			<td>Marquis Holland</td>
			<td>Bishop Ireton</td>
			<td>National</td>
			<td>1</td>
		</tr>
		<tr>
			<td>512</td>
			<td>Devin Glover</td>
			<td>Scotch Plains</td>
			<td>American</td>
			<td>0.8</td>
		</tr>
		<tr>
			<td>180</td>
			<td>Jheron Johnson</td>
			<td>Delaware Valley Charter</td>
			<td>American</td>
			<td>0.8</td>
		</tr>
		<tr>
			<td>376</td>
			<td>Adrian Drew</td>
			<td>North Ansemond River</td>
			<td>American</td>
			<td>0.8</td>
		</tr>
		<tr>
			<td>200</td>
			<td>Will Brazukas</td>
			<td>Father Judge</td>
			<td>American</td>
			<td>0.8</td>
		</tr>
		<tr>
			<td>165</td>
			<td>Tyreek Brooks</td>
			<td>Constitution</td>
			<td>American</td>
			<td>0.8</td>
		</tr>
		<tr>
			<td>614</td>
			<td>Corey Manigault</td>
			<td>Paul VI</td>
			<td>National</td>
			<td>0.8</td>
		</tr>
		<tr>
			<td>420</td>
			<td>Hugh O'Neil</td>
			<td>Peddie School</td>
			<td>American</td>
			<td>0.8</td>
		</tr>
		<tr>
			<td>620</td>
			<td>Zane Martin</td>
			<td>Neumann-Goretti</td>
			<td>National</td>
			<td>0.8</td>
		</tr>
		<tr>
			<td>443</td>
			<td>Matt Van Nostrund</td>
			<td>Point Pleasant Beach</td>
			<td>American</td>
			<td>0.8</td>
		</tr>
		<tr>
			<td>506</td>
			<td>Hezekiah Trahan</td>
			<td>Roman Catholic</td>
			<td>National</td>
			<td>0.8</td>
		</tr>
		<tr>
			<td>592</td>
			<td>Tommy Papas</td>
			<td>St. Peter's Prep</td>
			<td>National</td>
			<td>0.8</td>
		</tr>
		<tr>
			<td>294</td>
			<td>Asante Ali</td>
			<td>Imhotep Charter</td>
			<td>National</td>
			<td>0.8</td>
		</tr>
		<tr>
			<td>102</td>
			<td>Billy Clark</td>
			<td>Boys and Girls</td>
			<td>National</td>
			<td>0.8</td>
		</tr>
		<tr>
			<td>92</td>
			<td>Damir Mahmutagic</td>
			<td>Bowie</td>
			<td>American</td>
			<td>0.7</td>
		</tr>
		<tr>
			<td>469</td>
			<td>Angelo Alvarado</td>
			<td>Poughkeepsie</td>
			<td>American</td>
			<td>0.7</td>
		</tr>
		<tr>
			<td>148</td>
			<td>Marquis Collins</td>
			<td>Chester</td>
			<td>National</td>
			<td>0.7</td>
		</tr>
		<tr>
			<td>549</td>
			<td>Darius Morgan</td>
			<td>St. Frances</td>
			<td>National</td>
			<td>0.7</td>
		</tr>
		<tr>
			<td>542</td>
			<td>Tevon Saddler</td>
			<td>St. Frances</td>
			<td>National</td>
			<td>0.7</td>
		</tr>
		<tr>
			<td>222</td>
			<td>Gregory Dotson</td>
			<td>Germantown Academy</td>
			<td>National</td>
			<td>0.7</td>
		</tr>
		<tr>
			<td>544</td>
			<td>Dwayne Morgan</td>
			<td>St. Frances</td>
			<td>National</td>
			<td>0.7</td>
		</tr>
		<tr>
			<td>395</td>
			<td>AJ Wallace</td>
			<td>North Point</td>
			<td>National</td>
			<td>0.7</td>
		</tr>
		<tr>
			<td>392</td>
			<td>Brandon Green</td>
			<td>North Point</td>
			<td>National</td>
			<td>0.7</td>
		</tr>
		<tr>
			<td>502</td>
			<td>Secean Johnson</td>
			<td>Roman Catholic</td>
			<td>National</td>
			<td>0.6</td>
		</tr>
		<tr>
			<td>706</td>
			<td>C. Lisojo</td>
			<td>Scotch Plains</td>
			<td>American</td>
			<td>0.6</td>
		</tr>
		<tr>
			<td>488</td>
			<td>Miguel Ruiz</td>
			<td>Reading</td>
			<td>American</td>
			<td>0.5</td>
		</tr>
		<tr>
			<td>381</td>
			<td>Marvin Pelzer</td>
			<td>North Ansemond River</td>
			<td>American</td>
			<td>0.5</td>
		</tr>
		<tr>
			<td>214</td>
			<td>Anthony Gray</td>
			<td>Flint Hill</td>
			<td>American</td>
			<td>0.5</td>
		</tr>
		<tr>
			<td>53</td>
			<td>Justin Jenkins</td>
			<td>Bishop McNamara</td>
			<td>National</td>
			<td>0.5</td>
		</tr>
		<tr>
			<td>220</td>
			<td>Kory Jones</td>
			<td>Flint Hill</td>
			<td>American</td>
			<td>0.5</td>
		</tr>
		<tr>
			<td>85</td>
			<td>Jackson Luke</td>
			<td>Bloomfield</td>
			<td>American</td>
			<td>0.5</td>
		</tr>
		<tr>
			<td>630</td>
			<td>Zackary Olukanni</td>
			<td>Teaneck</td>
			<td>National</td>
			<td>0.5</td>
		</tr>
		<tr>
			<td>255</td>
			<td>Tyrell Thomas</td>
			<td>Gonzaga</td>
			<td>National</td>
			<td>0.5</td>
		</tr>
		<tr>
			<td>288</td>
			<td>Jason Geter</td>
			<td>The Hun School</td>
			<td>National</td>
			<td>0.5</td>
		</tr>
		<tr>
			<td>633</td>
			<td>Khalfani St. Clair</td>
			<td>Teaneck</td>
			<td>National</td>
			<td>0.5</td>
		</tr>
		<tr>
			<td>143</td>
			<td>Clark Yarbrough</td>
			<td>CBA</td>
			<td>American</td>
			<td>0.4</td>
		</tr>
		<tr>
			<td>613</td>
			<td>Toney Floyd</td>
			<td>Sussex Tech</td>
			<td>American</td>
			<td>0.4</td>
		</tr>
		<tr>
			<td>588</td>
			<td>Jordan Harris</td>
			<td>St. Peter's Prep</td>
			<td>National</td>
			<td>0.4</td>
		</tr>
		<tr>
			<td>88</td>
			<td>Anthony Barnes</td>
			<td>Bowie</td>
			<td>American</td>
			<td>0.3</td>
		</tr>
		<tr>
			<td>561</td>
			<td>Niklas Steiner</td>
			<td>St. Maria Goretti</td>
			<td>American</td>
			<td>0.3</td>
		</tr>
		<tr>
			<td>595</td>
			<td>James Scott</td>
			<td>St. Peter's Prep</td>
			<td>National</td>
			<td>0.2</td>
		</tr>
		<tr>
			<td>459</td>
			<td>Jack Coleman</td>
			<td>Potomac School</td>
			<td>American</td>
			<td>0.2</td>
		</tr>
		<tr>
			<td>458</td>
			<td>Jason Carnes</td>
			<td>Potomac School</td>
			<td>American</td>
			<td>0.2</td>
		</tr>
		<tr>
			<td>436</td>
			<td>Zakee Zakee</td>
			<td>Philadelphia Electrical Tech</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>400</td>
			<td>Jeff Dowtin</td>
			<td>Paul VI</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>320</td>
			<td>Donald Driver</td>
			<td>Largo</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>319</td>
			<td>Solomon Conteh</td>
			<td>Largo</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>318</td>
			<td>Daemond Carter</td>
			<td>Largo</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>36</td>
			<td>Khyree Robinson</td>
			<td>Bishop Ireton</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>286</td>
			<td>Alex Deutsch</td>
			<td>The Hun School</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>323</td>
			<td>Steve Nickerson</td>
			<td>Largo</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>650</td>
			<td>Aondofa Anyam</td>
			<td>Westtown</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>410</td>
			<td>Marshall Borden</td>
			<td>Peddie School</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>412</td>
			<td>Jackson Cook</td>
			<td>Peddie School</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>307</td>
			<td>Evan Dourdas</td>
			<td>Jamesville-Dewitt</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>604</td>
			<td>Roman Letterlough</td>
			<td>Susquehanna Township</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>185</td>
			<td>Malik Smith</td>
			<td>Delaware Valley Charter</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>537</td>
			<td>Jake O'Neill</td>
			<td>St. Augustine Prep</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>348</td>
			<td>Jordan Barr</td>
			<td>Maret</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>345</td>
			<td>Max Steiner</td>
			<td>Maret</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>437</td>
			<td>Jai Williams</td>
			<td>Philadelphia Electrical Tech</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>435</td>
			<td>Dyshon Pack</td>
			<td>Philadelphia Electrical Tech</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>430</td>
			<td>Hakeem Baxter</td>
			<td>Philadelphia Electrical Tech</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>577</td>
			<td>Blake Brown</td>
			<td>St. Paul's</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>579</td>
			<td>Tre Hamer</td>
			<td>St. Paul's</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>564</td>
			<td>Abdul-Jalil Bryant</td>
			<td>St. Patrick's</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>568</td>
			<td>Dukens Jean-Marie</td>
			<td>St. Patrick's</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>341</td>
			<td>Maurice Hicks</td>
			<td>Maret</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>344</td>
			<td>Bradley Speakman</td>
			<td>Maret</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>575</td>
			<td>James Wright</td>
			<td>St. Patrick's</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>574</td>
			<td>Jonathan Williams</td>
			<td>St. Patrick's</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>571</td>
			<td>Channon Minott</td>
			<td>St. Patrick's</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>572</td>
			<td>Chris Regus</td>
			<td>St. Patrick's</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>413</td>
			<td>Matt DeAngelis</td>
			<td>Peddie School</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>421</td>
			<td>Carson Vey</td>
			<td>Peddie School</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>27</td>
			<td>Eric Walsh</td>
			<td>Archbishop Wood</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>23</td>
			<td>Shane Neher</td>
			<td>Archbishop Wood</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>94</td>
			<td>Jamar Morris</td>
			<td>Bowie</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>201</td>
			<td>Shane Flanagan</td>
			<td>Father Judge</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>89</td>
			<td>Everett Chambers</td>
			<td>Bowie</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>207</td>
			<td>Sam Worman</td>
			<td>Flint Hill</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>213</td>
			<td>Joshua Wertzberger</td>
			<td>Flint Hill</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>475</td>
			<td>Maleek Richardson</td>
			<td>Poughkeepsie</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>477</td>
			<td>Kai Stroud</td>
			<td>Poughkeepsie</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>130</td>
			<td>Ryan Raccuia</td>
			<td>Canisius</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>124</td>
			<td>Jake Cercone</td>
			<td>Canisius</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>219</td>
			<td>Michael Wright</td>
			<td>Flint Hill</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>168</td>
			<td>Kevin Dukes</td>
			<td>Constitution</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>463</td>
			<td>Sam Jones</td>
			<td>Potomac School</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>461</td>
			<td>Greg Giordano</td>
			<td>Potomac School</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>382</td>
			<td>Jalen Ruffin</td>
			<td>North Ansemond River</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>491</td>
			<td>Sterling Trappe</td>
			<td>Reading</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>486</td>
			<td>Danny Garcia</td>
			<td>Reading</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>522</td>
			<td>James Pitch</td>
			<td>Shipley School</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>485</td>
			<td>Anthony Clay</td>
			<td>Reading</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>551</td>
			<td>Ayode Abolarin</td>
			<td>St. Maria Goretti</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>553</td>
			<td>Adam Blenckstone</td>
			<td>St. Maria Goretti</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>670</td>
			<td>Davanta Jackson</td>
			<td>York</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>697</td>
			<td>Josh Scott</td>
			<td>Penn Wood</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>194</td>
			<td>Ishmail Jabbie</td>
			<td>Eleanor Roosevelt</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>190</td>
			<td>Amir Baiyina</td>
			<td>Eleanor Roosevelt</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>274</td>
			<td>Daquan Ware</td>
			<td>Harrisburg</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>188</td>
			<td>Malachi Alexander</td>
			<td>Eleanor Roosevelt</td>
			<td>American</td>
			<td>0</td>
		</tr>
		<tr>
			<td>632</td>
			<td>Mike Richardson</td>
			<td>Teaneck</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>629</td>
			<td>Myles McLeod</td>
			<td>Teaneck</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>637</td>
			<td>Joel Modeste</td>
			<td>Thomas Jefferson</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>636</td>
			<td>Mohammad Kante</td>
			<td>Thomas Jefferson</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>634</td>
			<td>Patrick Brown</td>
			<td>Thomas Jefferson</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>237</td>
			<td>Harrison DeMaira</td>
			<td>Gil St Bernard</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>242</td>
			<td>Austin Scott</td>
			<td>Gil St Bernard</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>638</td>
			<td>Travis Selby</td>
			<td>Thomas Jefferson</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>640</td>
			<td>Maurice Terry</td>
			<td>Thomas Jefferson</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>666</td>
			<td>Ronald Simonson</td>
			<td>Xavierian</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>280</td>
			<td>Mike Leasure</td>
			<td>Hill School</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>663</td>
			<td>Sharif Midgett</td>
			<td>Xavierian</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>550</td>
			<td>Tiquan Porter</td>
			<td>St. Frances</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>450</td>
			<td>Jermaine Lawrence</td>
			<td>Pope John XXIII</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>451</td>
			<td>Tim McCabe</td>
			<td>Pope John XXIII</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>236</td>
			<td>Tyus Battle</td>
			<td>Gil St Bernard</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>235</td>
			<td>Raymark Abogado</td>
			<td>Gil St Bernard</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>40</td>
			<td>Khadeen Carrington</td>
			<td>Bishop Loughlin</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>39</td>
			<td>Elisha Boone</td>
			<td>Bishop Loughlin</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>38</td>
			<td>Isaak Boden</td>
			<td>Bishop Loughlin</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>613</td>
			<td>Reggie Roach</td>
			<td>Paul VI</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>405</td>
			<td>Evan Taylor</td>
			<td>Paul VI</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>42</td>
			<td>Lavar Harewood</td>
			<td>Bishop Loughlin</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>55</td>
			<td>Jerron Martin</td>
			<td>Bishop McNamara</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>232</td>
			<td>Sean Weiss</td>
			<td>Germantown Academy</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>234</td>
			<td>Danny Ziccardi</td>
			<td>Germantown Academy</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>230</td>
			<td>Matt Perricone</td>
			<td>Germantown Academy</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>226</td>
			<td>Timothy Guers</td>
			<td>Germantown Academy</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>61</td>
			<td>Jamar Watson</td>
			<td>Bishop McNamara</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>63</td>
			<td>Stephen Jiggets</td>
			<td>Bishop McNamara</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>501</td>
			<td>Shepp Garner</td>
			<td>Roman Catholic</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>114</td>
			<td>Christopher Austin</td>
			<td>Bullis</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>590</td>
			<td>Victor Jusino</td>
			<td>St. Peter's Prep</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>589</td>
			<td>Najja Hunter</td>
			<td>St. Peter's Prep</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>587</td>
			<td>Matt Malchak</td>
			<td>St. Peter's Prep</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>154</td>
			<td>Darrell Nicholson</td>
			<td>Chester</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>156</td>
			<td>Darius Robinson</td>
			<td>Chester</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>295</td>
			<td>Deion Evans</td>
			<td>Imhotep Charter</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>330</td>
			<td>Ryan Holland</td>
			<td>Magruder</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>622</td>
			<td>Jamal Gause</td>
			<td>Teaneck</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>624</td>
			<td>Koree Hargraves</td>
			<td>Teaneck</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>620</td>
			<td>Malik Davis</td>
			<td>Teaneck</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>370</td>
			<td>Jaquan Newton</td>
			<td>Neumann-Goretti</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>333</td>
			<td>Ryan Rucker</td>
			<td>Magruder</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>532</td>
			<td>Tony Houston</td>
			<td>St. Anthony</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>353</td>
			<td>Jeffon Powell</td>
			<td>Math, Civics, and Science</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>350</td>
			<td>Calil Moultrie</td>
			<td>Math, Civics, and Science</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>493</td>
			<td>Van Dunson</td>
			<td>Riverdale Baptist</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>496</td>
			<td>Chinani Onukaka</td>
			<td>Riverdale Baptist</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>577</td>
			<td>William Wesberry</td>
			<td>Bullis</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>123</td>
			<td>Andre Walker</td>
			<td>Bullis</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>120</td>
			<td>Joseph Sageman</td>
			<td>Bullis</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>121</td>
			<td>Russell Sangster</td>
			<td>Bullis</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>498</td>
			<td>Devin Steele</td>
			<td>Riverdale Baptist</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>103</td>
			<td>Giovanni Coureau</td>
			<td>Boys and Girls</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>75</td>
			<td>Bruce Perry</td>
			<td>Bishop O'Connell</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>77</td>
			<td>Siyao Sun</td>
			<td>Bishop O'Connell</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>71</td>
			<td>Michael Li</td>
			<td>Bishop O'Connell</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>289</td>
			<td>Ryan Hayes</td>
			<td>The Hun School</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>108</td>
			<td>Stephen Martin</td>
			<td>Boys and Girls</td>
			<td>National</td>
			<td>0</td>
		</tr>
		<tr>
			<td>246</td>
			<td>Jordan Abdur-Ra'oof</td>
			<td>Gonzaga</td>
			<td>National</td>
			<td>0</td>
		</tr>
	</tbody>
</table>
