<table>
	<thead>
		<tr>
			<th>Rank</th>
			<th>Shore Seedings</th>
			<th>Power Rankings</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>St. Rose</td>
			<td>Manasquan</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Manasquan</td>
			<td>St. Rose</td>
		</tr>
		<tr>
			<td>3</td>
			<td>St. John Vianney</td>
			<td>Jackson</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Jackson</td>
			<td>St. John Vianney</td>
		</tr>
		<tr>
			<td>5</td>
			<td>Point Boro</td>
			<td>Neptune</td>
		</tr>
		<tr>
			<td>6</td>
			<td>Rumson</td>
			<td>Red Bank Catholic</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Neptune</td>
			<td>Point Boro</td>
		</tr>
		<tr>
			<td>8</td>
			<td>Red Bank Catholic</td>
			<td>Rumson</td>
		</tr>
		<tr>
			<td>9</td>
			<td>Homdel</td>
			<td>Homdel</td>
		</tr>
		<tr>
			<td>10</td>
			<td>Middletown South</td>
			<td>Marlboro</td>
		</tr>
	</tbody>
</table>
