<table>
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>High School</th>
			<th>College</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/09/calistusanyichie100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-88834" /></td>
			<td>Calistus Anyichie</td>
			<td>St. Mary's Elizabeth</td>
			<td>Binghamton</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/10/JalenCarey100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-89529" /></td>
			<td>Jalen Carey</td>
			<td>Immaculate Conception</td>
			<td>Syracuse</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/09/aaronclarke100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-88878" /></td>
			<td>Aaron Clarke</td>
			<td>Pope John</td>
			<td>Sacred Heart</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/08/SambaDiallomvp100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-88705" /></td>
			<td>Samba Diallo</td>
			<td>Pope John</td>
			<td>UMass</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/08/ronharper100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-88730" /></td>
			<td>Ron Harper</td>
			<td>Don Bosco</td>
			<td>Rutgers</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/11/KennyJones100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-90524" /></td>
			<td>Kenny Jones</td>
			<td>Mater Dei</td>
			<td>Loyola</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/11/LouisKing100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-90526" /></td>
			<td>Louis King</td>
			<td>Hudson Catholic</td>
			<td>Oregon</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/12/LutherMuhammad100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-67423" /></td>
			<td>Luther Muhammad</td>
			<td>Hudson Catholic</td>
			<td>Ohio State</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/08/CasmirOchiaka100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-88728" /></td>
			<td>Casmir Ochiaka</td>
			<td>St. Mary's Elizabeth</td>
			<td>Loyola</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2017/11/tuckerrichardson100.jpg" alt="" width="100" height="120" class="aligncenter size-full wp-image-90630" /></td>
			<td>Tucker Richardson</td>
			<td>Blair</td>
			<td>Colgate</td>
		</tr>
		<tr>
			<td></td>
			<td>Mikey Watkins</td>
			<td>Linden</td>
			<td>Merrimack</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
