<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Britton Lee</td>
			<td>5'11"</td>
			<td>Roman Catholic (Pa.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Tevin Findlay</td>
			<td>6'3"</td>
			<td>Quality Education (N.C.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Derrick Jones</td>
			<td>6'5"</td>
			<td>Archbishop John Carroll (Pa.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>AJ Sumbry</td>
			<td>6'8"</td>
			<td>Trenton Catholic (N.J.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Quadir Welton</td>
			<td>6'8"</td>
			<td>Math, Civics, and Science (Pa.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Shadell Millinghaus</td>
			<td>6'2"</td>
			<td>Troy (N.Y.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Malachi Richardson</td>
			<td>6'5"</td>
			<td>Life Center Academy (N.J.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Derrick Fenner</td>
			<td>6'6"</td>
			<td>Seattle Prep (Wash.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Junior Etou</td>
			<td>6'7"</td>
			<td>Bishop O'Connell (Va.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Chinonso Obokoh</td>
			<td>6'10"</td>
			<td>Bishop Kearny (N.Y.)</td>
			<td>Class of 2013</td>
		</tr>
	</tbody>
</table>
