<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Date &amp; Time</th>
			<th>Location</th>
			<th>Buy Now</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Metro Junior Elite</td>
			<td>March 5th</td>
			<td><a href="http://hoopgroup.com/headquarters/">Hoop Group Headquarters</a></td>
			<td></td>
		</tr>
		<tr>
			<td>NJ Top 100</td>
			<td>March 18th; 12-5pm</td>
			<td><a href="https://www.google.com/maps?q=brick+memorial&amp;um=1&amp;ie=UTF-8&amp;sa=X&amp;ved=0ahUKEwj0xoO3p6HZAhXFUt8KHSk2BsoQ_AUICigB">Brick Memorial </a></td>
			<td><a href="https://store.hoopgroup.com/events/2018-nj-top-100---spring-2018">Register Here</a></td>
		</tr>
		<tr>
			<td>Northern Virginia Top 100</td>
			<td>March 18th; 10-3pm</td>
			<td><a href="https://www.marymount.edu/Home/Contact-Us/Locate-us">Marymount University </a></td>
			<td><a href="https://store.hoopgroup.com/events/2018-nova-top-100---spring-2018">Register Here</a></td>
		</tr>
		<tr>
			<td>Philadelphia Top 100</td>
			<td>March 23rd; 5-10pm</td>
			<td><a href="http://cesports.net">Competitive Edge</a></td>
			<td><a href="https://store.hoopgroup.com/events/2018-philly-top-100---spring-2018">Register Here</a></td>
		</tr>
		<tr>
			<td>Chicago Top 100</td>
			<td>March 24th; 12-5pm</td>
			<td><a href="https://www.google.com/maps/place/Lifezone+360+Sports+Complex/@42.0971221,-88.297611,17z/data=!3m1!4b1!4m5!3m4!1s0x880f0fb0300fad05:0xfc7210079a1540fd!8m2!3d42.0971221!4d-88.2954223">Lifezone 360</a></td>
			<td><a href="https://store.hoopgroup.com/events/2018-chicago-top-100---spring-2018">Register Here</a></td>
		</tr>
		<tr>
			<td>New England Top 100</td>
			<td>March 25th: 12pm-5pm</td>
			<td><a href="https://www.google.com/maps/place/Massachusetts+Institute+of+Technology/@42.360091,-71.09416,15z/data=!4m5!3m4!1s0x0:0xd0e08ea5b308203c!8m2!3d42.360091!4d-71.09416">MIT</a></td>
			<td><a href="https://store.hoopgroup.com/events/2018-ne-top-100---spring-2018">Register Here</a></td>
		</tr>
		<tr>
			<td>New York City Top 100</td>
			<td>April 6th; 5-10pm</td>
			<td><a href="http://nysparks.com/parks/93">Riverbank State Park</a></td>
			<td><a href="https://store.hoopgroup.com/events/2018-ny-top-100---spring-2018">Register Here</a></td>
		</tr>
		<tr>
			<td>Baltimore Top 100</td>
			<td>April 15th; 12-5pm</td>
			<td><a href="https://www.google.com/maps/place/Gilman+School/@39.3602438,-76.6340677,15z/data=!4m2!3m1!1s0x0:0xefde157e746da5a3?sa=X&amp;ved=0ahUKEwiq3vzO5ZTZAhVM0FMKHeZQD3YQ_BIIjwEwEg">Gilman School</a></td>
			<td><a href="https://store.hoopgroup.com/events/2018-balt-top-100---spring-2018">Register Here</a></td>
		</tr>
		<tr>
			<td>Pittsburgh Top 100</td>
			<td>April 19th; 5-10pm</td>
			<td><a href="https://www.google.com/maps/place/Mt.+Lebanon+High+School/@40.375239,-80.0517833,15z/data=!4m2!3m1!1s0x0:0xe46bbb738bd69cb5?sa=X&amp;ved=0ahUKEwiTwtnp5ZTZAhXOu1MKHdGMBGwQ_BIIkQEwDg">Mt. Lebanon High School</a></td>
			<td><a href="https://store.hoopgroup.com/events/2018-pitt-top-100---spring-2018">Register Here</a></td>
		</tr>
		<tr>
			<td>Chicago Academic Top 100 </td>
			<td>Sept. 16th; 12pm-5pm</td>
			<td><a href="http://www.joyofthegame.com/index.html">Joy of the Game</a></td>
			<td><a href="https://store.hoopgroup.com/events/2017-top-100-chicago---fall-2017">Register Here</a></td>
		</tr>
		<tr>
			<td>Rochester Top 100</td>
			<td>Sept 17th; 12pm-5pm</td>
			<td><a href="https://www.google.com/maps/place/St.+John+Fisher+College/@43.115372,-77.511511,15z/data=!4m5!3m4!1s0x0:0xba971a83b86fba67!8m2!3d43.115372!4d-77.511511">St. John Fisher</a></td>
			<td><a href="https://store.hoopgroup.com/events/2017-top-100-rochester---fall-2017">Register Here</a></td>
		</tr>
		<tr>
			<td>Richmond Top 100</td>
			<td>Oct. 1st; 12pm-5pm</td>
			<td><a href="https://www.google.com/maps/dir/''/randolph+macon+college/@37.7603587,-77.5483918,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x89b13964581b7043:0x2fb41dcf1a266850!2m2!1d-77.4783518!2d37.7603794">Randolph Macon College</a></td>
			<td><a href="https://store.hoopgroup.com/events/2017-top-100-richmond---fall-2017">Register Here</a></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><a href="https://www.google.com/maps/dir/''/mount+lebanon+high+school/data=!4m5!4m4!1m0!1m2!1m1!1s0x8834f778e151adb3:0xe46bbb738bd69cb5?sa=X&amp;ved=0ahUKEwi-wZCy_aHSAhVFyFQKHbTFAWwQ9RcIhQEwCw">Mt. Lebanon High School</a></td>
			<td></td>
		</tr>
	</tbody>
</table>
