<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Nigel Johnson</td>
			<td>6'1"</td>
			<td>Riverdale Baptist (Md.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Spencer Weisz</td>
			<td>6'5"</td>
			<td>Seton Hall Prep (N.J.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Ahmad Fields</td>
			<td>6'5"</td>
			<td>Massanutten Military (Va.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Jeriahmiah Worthem</td>
			<td>6'6"</td>
			<td>Math, Civics, and Science (Pa.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Nick Madray</td>
			<td>6'9"</td>
			<td>Stephen Lewis HS (Can.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Kijanna Rose</td>
			<td>6'1"</td>
			<td>Binghamton (N.Y.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Isaiah Whitehead</td>
			<td>6'4"</td>
			<td>Lincoln HS (N.Y.)</td>
			<td>Class of 2014</td>
		</tr>
		<tr>
			<td>Jamall Robinson</td>
			<td>6'5"</td>
			<td>Paul VI (Va.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Yilret Yiljep</td>
			<td>6'7"</td>
			<td>Westtown (Pa.)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Jai Williams</td>
			<td>6'9"</td>
			<td>Philadelphia Electrical Tech (Pa)</td>
			<td>Class of 2013</td>
		</tr>
		<tr>
			<td>Isaac Fleming</td>
			<td>6'2"</td>
			<td>William Penn (De.)</td>
			<td>Class of 2013</td>
		</tr>
	</tbody>
</table>
