<table>
	<thead>
		<tr>
			<th>Age</th>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>U10</td>
			<td>Ishmael Leggett</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>U11</td>
			<td>Paul Mulcahy</td>
			<td>King Street Kings</td>
		</tr>
		<tr>
			<td>U12</td>
			<td>Dave Beatty</td>
			<td>PYO</td>
		</tr>
		<tr>
			<td>U13</td>
			<td>Alani Moore</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>U14</td>
			<td>Terrell Allen</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>U15</td>
			<td>Tyrone Johnson</td>
			<td>BK Broncos</td>
		</tr>
		<tr>
			<td>8th Grade Travel</td>
			<td>Ryan Cunningham</td>
			<td>Watchung</td>
		</tr>
		<tr>
			<td>U12 Girls</td>
			<td>Niya Johnson</td>
			<td>Lady Bulldogs</td>
		</tr>
		<tr>
			<td>U13 Girls</td>
			<td>Kristina Ulrich &amp; Zoe Pero</td>
			<td>Shoreshots 7</td>
		</tr>
	</tbody>
</table>
