<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Mike Sumner</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>Jay Heath</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>Tahaj Parland</td>
			<td>ShoreShots</td>
		</tr>
		<tr>
			<td>Thomas Smith</td>
			<td>ShoreShots</td>
		</tr>
		<tr>
			<td>Rashid Woods</td>
			<td>Riverside Hawks</td>
		</tr>
		<tr>
			<td>Bryce Willis</td>
			<td>Riverside Hawks</td>
		</tr>
		<tr>
			<td>Jalen Gaffney</td>
			<td>Team NJABC</td>
		</tr>
		<tr>
			<td>Konrad Kiszka</td>
			<td>Team NJABC</td>
		</tr>
		<tr>
			<td>Jagger Zrada</td>
			<td>Team NJABC</td>
		</tr>
	</tbody>
</table>
