<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Abita Taylor</td>
			<td>King Street Kings</td>
		</tr>
		<tr>
			<td>Jack Rooney</td>
			<td>King Street Kings</td>
		</tr>
		<tr>
			<td>Barell Neal</td>
			<td>King Street Kings</td>
		</tr>
		<tr>
			<td>Kadian Dawkins</td>
			<td>Team NJABC</td>
		</tr>
		<tr>
			<td>Jalen Brooks</td>
			<td>Team NJABC</td>
		</tr>
		<tr>
			<td>Justin Cort</td>
			<td>Team NJABC</td>
		</tr>
		<tr>
			<td>Ian Fitzgerald</td>
			<td>ShoreShots</td>
		</tr>
	</tbody>
</table>
