<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Danniella Patterson</td>
			<td>Lady Bulldogs</td>
		</tr>
		<tr>
			<td>Samantha Wildmann</td>
			<td>AUF Lady Hawks</td>
		</tr>
		<tr>
			<td>Monica Heil</td>
			<td>AUF Lady Hawks</td>
		</tr>
		<tr>
			<td>Kathryn Gibson</td>
			<td>Lady Bulldogs</td>
		</tr>
		<tr>
			<td>Hope Narozniak</td>
			<td>AUF Lady Hawks</td>
		</tr>
		<tr>
			<td>Stella Clark</td>
			<td>Fast Break</td>
		</tr>
		<tr>
			<td>Amanda Whitaker</td>
			<td>Fast Break</td>
		</tr>
		<tr>
			<td>Jahsyni Knight</td>
			<td>New Heights</td>
		</tr>
		<tr>
			<td>Alazae McMeo</td>
			<td>New Heights</td>
		</tr>
	</tbody>
</table>
