<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Ako Adams</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>Sam Green</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>Reggie Gardner</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>Edriece Patterson</td>
			<td>CJ Rebels</td>
		</tr>
		<tr>
			<td>Taj Shomo</td>
			<td>ShoreShots Orange</td>
		</tr>
		<tr>
			<td>Gilberto Cue</td>
			<td>King Street Kings</td>
		</tr>
		<tr>
			<td>Matthew Bullock</td>
			<td>King Street Kings</td>
		</tr>
		<tr>
			<td>Jakeem Struris</td>
			<td>King Street Kings</td>
		</tr>
		<tr>
			<td>Wolfgan Novograts</td>
			<td>King Street Kings</td>
		</tr>
		<tr>
			<td>Sadia Palmer</td>
			<td>ShoreShots Blue</td>
		</tr>
		<tr>
			<td>Adam Mittola</td>
			<td>Morris Magic</td>
		</tr>
		<tr>
			<td>Nick Facendo</td>
			<td>CJ Hawks</td>
		</tr>
		<tr>
			<td>Bob Weisse</td>
			<td>CJ Hawks</td>
		</tr>
		<tr>
			<td>Brian Monaghan</td>
			<td>Morris Magic</td>
		</tr>
		<tr>
			<td>Michael Sasso</td>
			<td>Morris Magic</td>
		</tr>
	</tbody>
</table>
