<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Alex Barazotti</td>
			<td>ShoreShots 8</td>
		</tr>
		<tr>
			<td>Julia McClure</td>
			<td>ShoreShots 8</td>
		</tr>
		<tr>
			<td>Nicole Morris</td>
			<td>ShoreShots 7</td>
		</tr>
		<tr>
			<td>Kelly Campbell</td>
			<td>ShoreShots 7</td>
		</tr>
		<tr>
			<td>Sydney Zambrotta</td>
			<td>New Heights</td>
		</tr>
		<tr>
			<td>Amber Jones</td>
			<td>New Heights</td>
		</tr>
	</tbody>
</table>
