<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Phillip Newsome</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>Isaiah Buck</td>
			<td>DC Assault</td>
		</tr>
		<tr>
			<td>Devin Liggeons</td>
			<td>Philly Aztecs</td>
		</tr>
		<tr>
			<td>Marcus Floyd</td>
			<td>Philly Aztecs</td>
		</tr>
		<tr>
			<td>Tremont Waters</td>
			<td>New England Playaz</td>
		</tr>
		<tr>
			<td>Joshua Wallace</td>
			<td>King Street Kings</td>
		</tr>
		<tr>
			<td>Anthony Uribe</td>
			<td>King Street Kings</td>
		</tr>
		<tr>
			<td>Kelly Hogan</td>
			<td>King Street Kings</td>
		</tr>
		<tr>
			<td>Troy Smith</td>
			<td>Philly Aztecs</td>
		</tr>
		<tr>
			<td>Tory Whiting</td>
			<td>PYO</td>
		</tr>
		<tr>
			<td>Luke O'Shaughnessy</td>
			<td>ShoreShots Orange</td>
		</tr>
	</tbody>
</table>
