<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Team</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Lavar Haiewood</td>
			<td>BK Broncos</td>
		</tr>
		<tr>
			<td>Med Fofana</td>
			<td>Riverbank Runnin Rebels</td>
		</tr>
		<tr>
			<td>Michael Bush</td>
			<td>Riverbank Runnin Rebels</td>
		</tr>
		<tr>
			<td>Robert Seraji</td>
			<td>NJ Predators</td>
		</tr>
		<tr>
			<td>Tyler Drews</td>
			<td>NJ Predators</td>
		</tr>
	</tbody>
</table>
