<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Height</th>
			<th>School</th>
			<th>Graduation Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Shavar Newkirk</td>
			<td>5'11"</td>
			<td>Cardinal Hayes (N.Y.)</td>
			<td>Class of 2014</td>
		</tr>
		<tr>
			<td>Bryant Crawford</td>
			<td>6'1"</td>
			<td>Gonzaga College HS (D.C.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Basil Thompson</td>
			<td>6'6"</td>
			<td>Imhotep Charter (Pa.)</td>
			<td>Class of 2014</td>
		</tr>
		<tr>
			<td>Marvin Prochet</td>
			<td>6'5"</td>
			<td>Boys and Girls (N.Y.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Melvin Swift</td>
			<td>6'7"</td>
			<td>Yates (Texas)</td>
			<td>Class of 2014</td>
		</tr>
		<tr>
			<td>Sam Foreman</td>
			<td>6'0"</td>
			<td>Haverford School (Pa.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Franklin Howard</td>
			<td>6'4"</td>
			<td>Paul VI (Va.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Allen Costley</td>
			<td>6'5"</td>
			<td>Dunbar (Md.)</td>
			<td>Class of 2014</td>
		</tr>
		<tr>
			<td>Alex Thomas</td>
			<td>6'7"</td>
			<td>Hawthorne Christian (N.J.)</td>
			<td>Class of 2014</td>
		</tr>
		<tr>
			<td>Taron Oliver</td>
			<td>6'9"</td>
			<td>Montrose Christian (Md.)</td>
			<td>Class of 2015</td>
		</tr>
		<tr>
			<td>Eric Long</td>
			<td>6'6"</td>
			<td>Marianapolis Prep (Conn.)</td>
			<td>Class of 2014</td>
		</tr>
	</tbody>
</table>
