<table>
	<thead>
		<tr>
			<th>Event</th>
			<th>Dates</th>
			<th>Age Groups</th>
			<th>Link to Register</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/grassroots-events/boys-showdowns/spring-showdown/" >Spring Showdown</a></td>
			<td>April 7 - 8, 2018</td>
			<td>14U-17U</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-spring-showdown-2018">Register Here </a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/grassroots-events/boys-showdowns/new-jersey-jam-fest/" >NJ Jam Fest I</a></td>
			<td>April 14-15, 2018</td>
			<td>14U - 17U</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-nj-jam-fest-i-2018">Register Here </a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/grassroots-events/boys-showdowns/spring-jr-showdown/">Spring Jr. Showdown</a></td>
			<td>April 21 - 22, 2018</td>
			<td>10U - 15U</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-spring-jr-showdown-2018">Register Here </a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/upstate-new-york-top-100-basketball-showcase/nj-junior-elite-jam-fest/" >NJ Jr. Jam Fest</a></td>
			<td>April 28 - 29, 2018</td>
			<td>10U-15U</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-nj-jr-jam-fest-2018">Register Here </a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/grassroots-events/boys-showdowns/new-jersey-jam-fest/" >NJ Jam Fest II</a></td>
			<td>May 19 - 20, 2018</td>
			<td>14U - 17U</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-nj-jam-fest-ii-2018">Register Here </a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/grassroots-events/boys-showdowns/summer-showdown-phase-i/" >Summer Jr Showdown</a></td>
			<td>June 2-3, 2018</td>
			<td>10U-15U</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-jr-showdown-2018">Register Here </a></td>
		</tr>
		<tr>
			<td><a href="http://hoopgroup.com/team-tournaments/grassroots-events/boys-showdowns/summer-showdown-phase-ii/" >Summer Showdown</a></td>
			<td>June 23-24 2018</td>
			<td>13U-17U</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-summer-showdown-2018">Register Here </a></td>
		</tr>
		<tr>
			<td>Jersey Shore Showdown</td>
			<td>Aug 26 - 27, 2018</td>
			<td>11U-17U</td>
			<td><a href="https://store.hoopgroup.com/events/2017-hghq-jersey-shore-showdown-2017">Register Here</a></td>
		</tr>
		<tr>
			<td>Shoreshots Showdown</td>
			<td>Oct 28 - 29 2018</td>
			<td>11U-17U</td>
			<td><a href="https://store.hoopgroup.com/events/2017-hghq-shoreshot-showdown-2017">Register Here</a></td>
		</tr>
		<tr>
			<td>Turkey Showdown</td>
			<td>Nov 25 - 26 2018</td>
			<td>10U-14U</td>
			<td><a href="https://store.hoopgroup.com/events/2017-hghq-turkey-showdown-2017">Register Here</a></td>
		</tr>
		<tr>
			<td>Holiday Showdown</td>
			<td>Dec 16 - 17 2018</td>
			<td>11U-14U</td>
			<td><a href="https://store.hoopgroup.com/events/2017-hghq-holiday-showdown-2017">Register Here</a></td>
		</tr>
		<tr>
			<td>President Day Showdown</td>
			<td>Feb 17 - 18 2018</td>
			<td>11U-14U</td>
			<td><a href="https://store.hoopgroup.com/events/2018-hghq-president-day-showdown-2018">Register Here </a></td>
		</tr>
	</tbody>
</table>
