<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Player</th>
			<th>Grade</th>
			<th>Report</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Lamar-Noel-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59467" /></td>
			<td>Lamar Noel</td>
			<td>11</td>
			<td>He has very good promise as a quick point guard. He can see the floor well and get into gaps. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Eric-ONeal-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59410" /></td>
			<td>Eric O'Neal</td>
			<td>11</td>
			<td>Eric is a good combo guard who can find the open man. He is a good shooter who takes smart shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Ryan-Degnan-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59478" /></td>
			<td>Ryan Degnan</td>
			<td>10</td>
			<td>A face up forward who can shoot on the perimeter or go inside. He is a good rebounder and makes smart decisions. </td>
		</tr>
		<tr>
			<td>N/a</td>
			<td>Marquise Dukes</td>
			<td>8</td>
			<td>Marquise is a tough guard with handle. He has a lot of potential to become an electric offensive player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Josh-Noble-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59443" /></td>
			<td>Josh Noble</td>
			<td>10</td>
			<td>He has an explosive first step and plays at the rim. If he works on his outside shot he will be a very strong offensive player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Harry-Lynch-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59425" /></td>
			<td>Harry Lynch </td>
			<td>11</td>
			<td>Harry is a great decision maker and excellent passer. He is smooth in transition and makes shots when he is open. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Isaiah-White-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59429" /></td>
			<td>Isaiah White</td>
			<td>10</td>
			<td>Isaiah is a combo guard who can handle the ball and get the offense started. He plays hard on both ends of the floor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Matthew-Kanan-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59470" /></td>
			<td>Matthew Kanan</td>
			<td>11</td>
			<td>A shooter with a very quick release. He can defend on the ball well and understands where to be in help. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Justin-Eck-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59447" /></td>
			<td>Justin Eck</td>
			<td>11</td>
			<td>Justin is a savvy guard with a good scoring ability. He makes smart decisions and never takes a play off. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kyler-Hairston-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59466" /></td>
			<td>Kyler Hairston</td>
			<td>12</td>
			<td>He is an aggressive scorer who is constantly attacking. His athleticism allows him to score against bigger opponents. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Matthew-English-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59469" /></td>
			<td>Matthew English</td>
			<td>11</td>
			<td>His strength is what allows him to play in the post against bigger players. He makes shots and stretches the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Fode-Camera-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59421" /></td>
			<td>Fode Camera</td>
			<td>11</td>
			<td>He is a long forward who runs the floor well in transition. He is a very good rebounder and gets his team extra opportunities. </td>
		</tr>
		<tr>
			<td></td>
			<td>Nakye Booze</td>
			<td>10</td>
			<td>Nakye can play both the forward position and guard position. He has great length and tons of potential. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tim-Reily-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59483" /></td>
			<td>Tim Reilly</td>
			<td>11</td>
			<td>Tim is a strong guard who can shoot the three. He is good with the ball in his hands and he pushes the ball in transition. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Joseph-Lupetin-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59441" /></td>
			<td>Joseph Lupetin</td>
			<td>11</td>
			<td>He is a good finisher around the rim. His energy allows him to wear down defenders.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jonathan-Martinez-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59438" /></td>
			<td>Jonathan Martinez</td>
			<td>11</td>
			<td>Jonathan is a strong guard who plays physical. He likes to run and find teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Justin-Hemphill-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59449" /></td>
			<td>Justin Hempfield</td>
			<td>8</td>
			<td>He is a young, athletic player with potential. He can defend well and run the lanes in transition. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jonte-Washington-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59440" /></td>
			<td>Jonte Washington</td>
			<td>11</td>
			<td>Jonte shoots quickly and effectively. He moves really well without the ball and finds ways to get open.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/DNathan-Knox-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59399" /></td>
			<td>D'Nathan Knox</td>
			<td>11</td>
			<td>He is a tough athlete who plays hard and goes after rebounds. He gets to the rim and finished well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Collin-Biddings-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59350" /></td>
			<td>Collin Biddings</td>
			<td>11</td>
			<td>Collin is a smart player who can get in the lane. He finds ways to finish over defenders and stays under control. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Keeshawn Jones</td>
			<td>8</td>
			<td>A tough, young guard with handle and quickness. When he goes by defenders he is able to find open men.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jesse-Bambach-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59437" /></td>
			<td>Jesse Bambach</td>
			<td>11</td>
			<td>Jesse is a good shooter from the outside. He rebounds on both ends of the floor and can take care of the ball. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Justin James</td>
			<td>11</td>
			<td>Justin attacks the basket with controlled aggression. He gets inside with ease and finishes after contact. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tyler-Banks-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59484" /></td>
			<td>Tyler Banks</td>
			<td>11</td>
			<td>Tyler is a scorer who can play on the perimeter or go inside. His athleticism gives him an advantage on the glass. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Shaekwon-Grant-Wheeler-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59480" /></td>
			<td>Shaekwon Grant-Wheeler</td>
			<td>11</td>
			<td>Shaekwon is a quick guard that can get to the rim. He also shoots the three with regularity. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Justin-Berger-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59446" /></td>
			<td>Justin Berger</td>
			<td>11</td>
			<td>Justin does a great job of playing on the ball and off the ball. If he improves his quickness he will become a great wing player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Gareth-Baugh-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59422" /></td>
			<td>Gareth Baugh</td>
			<td>11</td>
			<td>He is a big wing with athleticism. His knack for making the right play allows him to consistently help his team. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Jordan Cintron</td>
			<td>11</td>
			<td>Jordan is a wing with good size and athleticism. He rebounds well and plays at the rim consistently. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Dennis-Hare-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59405" /></td>
			<td>Dennis Hare</td>
			<td>11</td>
			<td>He is a very talented player who knows how to play. He gets teammates involved, but can get his own shot as well. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kaamal-Cenot-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59453" /></td>
			<td>Kaamal Cenot</td>
			<td>11</td>
			<td>He has a strong inside presence despite being slightly undersized. He is a good rebounder and pushes the ball up the floor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Eric-Seckler-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59411" /></td>
			<td>Eric Seckler</td>
			<td>10</td>
			<td>Eric is a tough kid who plays through contact of both ends. He is a good distributor when he draws pressure. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Chase-Johnson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59346" /></td>
			<td>Chase Johnson</td>
			<td>10</td>
			<td>Chase is a good rebounder inside. If he continues to improve his inside scoring he will be a very good prospect. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Zamere-Mackenzie-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59490" /></td>
			<td>Zamere Mckenzie</td>
			<td>11</td>
			<td>He works hard on both ends of the floor. He can finish at the rim and creates good opportunities. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/William-Lamar-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59489" /></td>
			<td>William Lamar</td>
			<td>10</td>
			<td>He is a good defensive stopper at the guard position. On offense, he can pass and finish.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Justin-Powell-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59452" /></td>
			<td>Justin Powell</td>
			<td>11</td>
			<td>Justin is well rounded and tough inside. If he can shoot consistently from 15 feet he will be tough to guard. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Michael-Henry-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59471" /></td>
			<td>Michael Henry</td>
			<td>11</td>
			<td>Michael is athletic and has a lot of room for improvement. He can rebound and has great hands.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Devin-Jones-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59406" /></td>
			<td>Devin Jones</td>
			<td>11</td>
			<td>He can do a little bit of everything on the floor. He's quick and has an ability to find open teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/David-Gagas-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59404" /></td>
			<td>David Gagas</td>
			<td>11</td>
			<td>David showed that he can score the ball today. He was smooth on the perimeter and got to the basket with ease. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/matthew-alfano-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59468" /></td>
			<td>Matthew Alfano</td>
			<td>7</td>
			<td>Matthew proved that he can take on older kids and hold his own. He was good on defense and set up the offense with effectiveness. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Chris-Stineman-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59348" /></td>
			<td>Chris Stineman</td>
			<td>8</td>
			<td>Chris is a young big with a lot of promise. With more development on the low block he will be a very good offensive player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kevin-Jefferson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59464" /></td>
			<td>Kevin Jefferson</td>
			<td>11</td>
			<td>Kevin is a volume scorer who doesn't take a play off. He is also a smart defender who caused problems for opponents. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Willard-Anderson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59488" /></td>
			<td>Willard Anderson</td>
			<td>9</td>
			<td>He is an exciting player with good handle and passing skills. He will be a good floor general at the next level. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kevin-Callahan-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59463" /></td>
			<td>Kevin Callahan</td>
			<td>11</td>
			<td>Kevin was one of the best performers at the event. He showed toughness, intelligence and a skill set that makes him a college prospect. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Omari-Lane-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59473" /></td>
			<td>Omari Lane</td>
			<td>11</td>
			<td>Omari used his ability to beat the defense off the bounce to create chances for his teammates. He was also active in the passing lanes with multiple steals and deflections. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Devin-Matchett-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59407" /></td>
			<td>Devin Matchett</td>
			<td>11</td>
			<td>Devin used his strong frame to set screens and free up teammates. He also rebounded well and finished at the rim. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/rayquan-bryant-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59474" /></td>
			<td>Rayquan Bryant</td>
			<td>11</td>
			<td>Rayquan pushes the ball well in transition and has the ability to get to the basket. He finishes through contact and finds teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kevin-Keese-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59465" /></td>
			<td>Kevin Keese</td>
			<td>11</td>
			<td>Kevin showed a crafty offensive game and created space for himself with ball fakes. He has good passing skills as well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tyler-Jollie-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59485" /></td>
			<td>Tyler Jollie</td>
			<td>11</td>
			<td>Tyler rebounds well from the guard position. He runs hard in transition and showed the ability to shoot with range. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Erik-Braaten-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59418" /></td>
			<td>Erik Braaten</td>
			<td>11</td>
			<td>Erik is a long big man who can disrupt plays at the rim. Offensively, he can step out and knock down 15 footers. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Christopher-Howell-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59349" /></td>
			<td>Christopher Howell</td>
			<td>11</td>
			<td>He can shoot from the perimeter, and moves well for a big man. He rebounds well and makes strong passes to guards. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Alexander-Romans-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59334" /></td>
			<td>Alexander Romans</td>
			<td>11</td>
			<td>Alex showed great defensive ability with his ball pressure and tenacity. He got to the basket well and finished with contact. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Josh-Reding-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59444" /></td>
			<td>Josh Reding</td>
			<td>9</td>
			<td>Josh used his speed and handle to get into the paint and find teammates. Defensively he was all over the place, creating positive plays for his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Brandon-Slaybough-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59342" /></td>
			<td>Brandon Slaybough</td>
			<td>10</td>
			<td>He used the transition game to get his teammates open looks. He was excellent jumping passing lanes and creating steals.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/George-Browning-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59423" /></td>
			<td>George Browning</td>
			<td>11</td>
			<td>George beat defenses and finished at the basket regularly. He also rebounded and worked hard on defense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Gregory-Smith-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59424" /></td>
			<td>Gregory Smith</td>
			<td>12</td>
			<td>Gregory was tough defensively both on and off the ball. He also facilitated for his teammates on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Brendan-Fitzpatrick-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59345" /></td>
			<td>Brendan Fitzpatrick</td>
			<td>11</td>
			<td>He was able to finish through contact multiple times throughout the event. If he improves his perimeter game, he will be hard to guard.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Chris-Alfano-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59347" /></td>
			<td>Chris Alfano</td>
			<td>10</td>
			<td>Chris was one of the better hustle players in the showcase. He recorded many offensive rebounds and steals. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Justin-Johnson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59450" /></td>
			<td>Justin Johnson</td>
			<td>11</td>
			<td>Justin has a good pull up jump shot in transition. He was also able to score down low. </td>
		</tr>
		<tr>
			<td>N/A</td>
			<td>Malcolm Wynter</td>
			<td>11</td>
			<td>Malcolm is a quick guard who penetrates relentlessly. He finished at the rim with an array of moves. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Darius-Chester-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59402" /></td>
			<td>Darius Chester</td>
			<td>11</td>
			<td>Darius knocked down shots all day long. Defensively, his length caused a problem for offensive players. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Anthony-Tutwiler-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59338" /></td>
			<td>Anthony Tutwiler</td>
			<td>11</td>
			<td>Anthony moved well and set great screens on offense. His activity allowed him to get open shots. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Darrien-Jenkins-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59403" /></td>
			<td>Darien Jenkins</td>
			<td>10</td>
			<td>He has a tight handle that allows him to control the offense with poise. If he improves his outside game he will be a dangerous threat.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Julian-Allen-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59445" /></td>
			<td>Julian Allen</td>
			<td>12</td>
			<td>Julian has good body control and is able to get to any spot on the floor. He is also good defensively and had strong pressure. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jake-Marzocca-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59433" /></td>
			<td>Jake Marzocca</td>
			<td>11</td>
			<td>Jaek has a high motor and he keeps his team involved with hustle plays. If he improves his scoring skills he will be a very good player. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/James-Walsh-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59436" /></td>
			<td>James Walsh</td>
			<td>11</td>
			<td>James played tough pressure defense throughout the day, making it hard for ball handlers. He also ran the floor hard and finished through contact. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Rohan-Walker-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59477" /></td>
			<td>Rohan Walker</td>
			<td>11</td>
			<td>Rohan completed several and-1 attempts during the day. He was also good on defense, getting steals that turned into layups.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Brandon-Robinson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59341" /></td>
			<td>Brandon Robinson</td>
			<td>11</td>
			<td>Brandon used his strength to grab rebounds. He also showcased a solid post game, finishing with both hands. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Kaden-Baugh-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59454" /></td>
			<td>Kaden Baugh </td>
			<td>12</td>
			<td>Kaden shot the ball well from the perimeter. He also threw accurate passes into the post and set up early shots. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Brandon-Williams-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-thumbnail wp-image-59343" /></td>
			<td>Brandan Williams</td>
			<td>11</td>
			<td>Brandan played tough perimeter defense which led to multiple steals. Offensively, he was able to get to the basket and finish over defenders. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Stephen-Lappas-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59481" /></td>
			<td>Stephen Lappas</td>
			<td>10</td>
			<td>Stephen is a true point guard who pushes the tempo. He is able to find teammates off the drive.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Robert-Worden-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59475" /></td>
			<td>Robert Worden</td>
			<td>11</td>
			<td>Robert has a good looking shot and uses it as a weapon. He had a number of good looks off his movement. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Daniel-Quinn-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59401" /></td>
			<td>Daniel Quinn </td>
			<td>10</td>
			<td>Daniel plays bigger than his height and he rebounds with aggression. If he develops an outside shot he will be a very good prospect. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Justin-Mitchell-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59451" /></td>
			<td>Justin Mitchell </td>
			<td>11</td>
			<td>Justin is a lefty with good length and handle. He penetrates the defense and makes great plays in the process.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/michael-Johnson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59472" /></td>
			<td>Michael Johnson</td>
			<td>8</td>
			<td>Michael uses the width of the court well in transition. He runs wide lanes and finds open spaces to shoot in. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Thomas-Dawson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59482" /></td>
			<td>Thomas Dawson</td>
			<td>10</td>
			<td>He is a fundamental player who boxes out and rebounds against bigger players. He has a good three point shot and stretches the floor. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Aaron-Tucker-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59330" /></td>
			<td>Aaron Tucker</td>
			<td>12</td>
			<td>Solid, athletic wing who can attack the basket and has a good pull up jump shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Brenan-Mcgovern-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59344" /></td>
			<td>Brenan Mcgovern</td>
			<td>11</td>
			<td>Brenan is a terrific shooter even with contested closeouts. Able to create his own shot &amp; shoot off the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/James-Howe-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59435" /></td>
			<td>James Howe</td>
			<td>10</td>
			<td>James a is a physical player who likes to attack the paint. Sets good screens, creates opportunities for his teammates. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Tyliek-Jackson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59486" /></td>
			<td>Tyleik Jackson</td>
			<td>11</td>
			<td>Tyleik is a quick point guard who looks to initiate the offense. Always in a stance on defense, active hands.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Imar-Lawson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59426" /></td>
			<td>Imar Lawson</td>
			<td>11</td>
			<td>Imar is a skilled ballhandler who can get by his defender. Does a good job communicating to his teammates &amp; penetrating the gaps.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Aaron-Tucker-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59330" /></td>
			<td>Aaron Tucker</td>
			<td>11</td>
			<td>Aaron has great length that makes him a rim-protector on defense. Quick attacking from the perimeter, very tough cover.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Floretin-Parvizaj-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59419" /></td>
			<td>Florentin Parvizaj</td>
			<td>12</td>
			<td>Florentin excelled on defense.  Frustrated the offense, got his hands in passing lanes, and often led to steals. Able to create for teammates on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Will-Idzinski-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59487" /></td>
			<td>William Idzinski</td>
			<td>11</td>
			<td>William shot the ball well from three point range. He also competed at a high level on defense, good help defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Ryan-Lawrence-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59479" /></td>
			<td>Ryan Lawrence</td>
			<td>12</td>
			<td>Ryan is a point guard with good intangibles. Talks to teammates, gets others involved yet can also create his own shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Daimion-Lowe-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59400" /></td>
			<td>Daimion Lowe</td>
			<td>12</td>
			<td>Daimion has elite athleticism. Uses it to score around the rim &amp; rebound. Tough to shoot over him in the lane.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Jack-Passaretti-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59430" /></td>
			<td>Jack Passaretti</td>
			<td>11</td>
			<td>Jack is a point guard who excels in transition. Has a good inside out move to get to the basket. Works hard on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Devon-Singleton-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59408" /></td>
			<td>Devon Singleton</td>
			<td>12</td>
			<td>Devon's length gave him the ability to alter shots and force bad decisions. Good mid-range jumper.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Curtis-Thompson-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59398" /></td>
			<td>Curtis Thompson</td>
			<td>11</td>
			<td>Curtis is a lefty dominant guard who is strong going to the rim. Finishes well at the rim for his size.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/04/Dylan-Rodriguez-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-59409" /></td>
			<td>Dylan Rodriguez</td>
			<td>12</td>
			<td>Dylan is strong attacking the rim and finishing through contact. Very athletic guard, intelligent player.</td>
		</tr>
	</tbody>
</table>
