<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Name</th>
			<th>Grade</th>
			<th>Coaches Evaluation</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Michael-Alert-300x179.jpg" alt="" width="300" height="179" class="aligncenter size-medium wp-image-65547" /></td>
			<td>Alert, Michael</td>
			<td>11</td>
			<td>Michael has a smooth release on his jumper and showed he can score in a variety of ways. He has a quick first step and can get by his man. Was able to stretch the defense and hit outside shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Chris-Alfano-300x200-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-65553" /></td>
			<td>Alfano, Christopher</td>
			<td>11</td>
			<td>Christopher plays with a high motor and tons of energy. He got after every rebound and every loose ball today. He is very strong going to the rim and does a good job of drawing contact when attacking.</td>
		</tr>
		<tr>
			<td></td>
			<td>Alveranga, Sonji</td>
			<td>11</td>
			<td>Sonji has a tight handle on the ball and is able to maintain his dribble in tight spaces. He was able to get into the lane and got shots up over defenders. Made good kick out passes to open teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/IMG_1670-1-300x203.jpg" alt="" width="300" height="203" class="aligncenter size-medium wp-image-65536" /></td>
			<td>Asenjo, Matt</td>
			<td>11</td>
			<td>Matt does a great job of attacking the basket and drawing fouls. Gets the ball to open teammates when the spot up on offense. Worked hard on defense to keep his man out of the paint and away from the basket.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Andrai-Bailey1-300x197.jpg" alt="" width="300" height="197" class="aligncenter size-medium wp-image-65516" /></td>
			<td>Bailey, Andrai</td>
			<td>12</td>
			<td>Andrai makes strong passes and has a consistent jumpshot. He makes smart decisions on the court and has a good pump fake. Has deep range and does a good job of setting his feet on the 3 point line.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Keone-Billey-300x182.jpg" alt="" width="300" height="182" class="aligncenter size-medium wp-image-65542" /></td>
			<td>Billey, Keone</td>
			<td>10</td>
			<td>Keone has a high motor and plays hard at both ends of the floor. Made plays with his hustle and got his team second chance scoring opportunities. Uses his length to keep the ball alive on missed shots.</td>
		</tr>
		<tr>
			<td></td>
			<td>Blauner, Zeke</td>
			<td>9</td>
			<td>Zeke plays with great patience and is always in control of the ball and his body. He is a confident and effective shooter when setting his feet. At his best when getting into gaps in the defense.</td>
		</tr>
		<tr>
			<td></td>
			<td>Bonham, Tre</td>
			<td>11</td>
			<td>Tre is a lefty who can get to the rim and finish through contact. Has a tremendous understanding of team defense and were to be. Kept his team organized on both ends and is a good communicator.</td>
		</tr>
		<tr>
			<td></td>
			<td>Boyle, Ryan</td>
			<td>12</td>
			<td>Ryan made a lot of hustle plays for his team and took a few charges on defense. He made strong passes into the post and didn't force anything on offense. Knows where to be on defense and slides his feet well.</td>
		</tr>
		<tr>
			<td></td>
			<td>Bradley, Joshua</td>
			<td>12</td>
			<td>Joshua is a fundamental wing player who has a high basketball IQ. He has a consistent 3 point shot when setting his feet and squaring up to the basket. He makes winning plays for his team on both ends.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/IMG_1838-300x217.jpg" alt="" width="300" height="217" class="aligncenter size-medium wp-image-65564" /></td>
			<td>Brickhouse, Qur'an</td>
			<td>12</td>
			<td>Qur'an is a great team player and does everything his coach asks of him. He went after every loose ball and rebound in his area. Has the ability to hit shots from different areas of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Kyle-Brown-300x199.jpg" alt="" width="300" height="199" class="aligncenter size-medium wp-image-65545" /></td>
			<td>Brown, Kyle</td>
			<td>12</td>
			<td>Kyle showed his ability to get into the paint and is a crafy finisher around the rim. He uses his quickness and passing to get open shots for his teammates. Has a consistent mid range jumper.</td>
		</tr>
		<tr>
			<td></td>
			<td>Burda, Christian</td>
			<td>10</td>
			<td>Christian is a tough guard who gets after it defensively. He never took a play off and plays with great energy all game. He has a knack for finishing at the basket in a variety of ways.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/IMG_1818-300x211.jpg" alt="" width="300" height="211" class="aligncenter size-medium wp-image-65563" /></td>
			<td>Campbell, Sean</td>
			<td>11</td>
			<td>Sean has the ability to get to the basket at will. He had no trouble getting by his defender with his dribble and getting into the paint. Applied good on ball pressure and played solid team defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Caleb-Canty1-300x204.jpg" alt="" width="300" height="204" class="aligncenter size-medium wp-image-65519" /></td>
			<td>Canty, Caleb</td>
			<td>12</td>
			<td>Caleb gets out and runs the floor well off the rebound. He is aggressive on the defensive end and is always communicating with his teammates. Pushed the ball well in transition and started the fast break.</td>
		</tr>
		<tr>
			<td></td>
			<td>Casale, Gian</td>
			<td>10</td>
			<td>Gian can handle the ball well and is a creative passer in traffic. He constantly looks to kick the ball out after beating his man and getting into the paint. Plays good on ball defense and applied pressure to his man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/IMG_1817-300x209.jpg" alt="" width="300" height="209" class="aligncenter size-medium wp-image-65567" /></td>
			<td>Champagne, Tyler</td>
			<td>12</td>
			<td>Tyler is at his best when cutting to the rim and finishing strong. Has great court vision in both transition and the half court. Has a complete set of skills on offense that allow him to score in multiple ways.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/IMG_1839-300x196.jpg" alt="" width="300" height="196" class="aligncenter size-medium wp-image-65566" /></td>
			<td>Chaney, Timothy</td>
			<td>10</td>
			<td>Timothy does a good job of applying on ball pressure on defense. He constantly pushed the ball and got his teammates easy baskets. At his best when getting in the middle of the defense and hitting jumpers.</td>
		</tr>
		<tr>
			<td></td>
			<td>Collins, Melvin</td>
			<td>12</td>
			<td>Melvin is an athletic wing who is crafty when getting around the rim. He runs the floor well and gets into the lane in transition. Finishes strong with either hand and doesn't get affected by contact.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Gavin-Cornine-300x211.jpg" alt="" width="300" height="211" class="aligncenter size-medium wp-image-65535" /></td>
			<td>Cornine, Gavin</td>
			<td>12</td>
			<td>Gavin did a great job of using his body and size when going after rebounds. He trails the ball well on the fast break and got easy baskets. Does a good job of sliding over on defense and contesting shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Kyle-Catanzano-300x198.jpg" alt="" width="300" height="198" class="aligncenter size-medium wp-image-65571" /></td>
			<td>Catanzano, Kyle</td>
			<td>12</td>
			<td>Kyle is a great on ball defender and applies pressure to his man full court. He is a playmaker when getting into the lane and setting up his teammates. Uses his dribble to break down and get by his man.</td>
		</tr>
		<tr>
			<td></td>
			<td>Cowell, Zachary</td>
			<td>11</td>
			<td>Zachary is an impressive player with good size. He is athletic and displayed his ability to alter shots when opponents got into the lane. Has a complete set of skills on offense and can hit outside shots.</td>
		</tr>
		<tr>
			<td></td>
			<td>Crum, Zane</td>
			<td>9</td>
			<td>Zane is a very hard worker who makes his teammates player. Sets hard screens on offense and got his teammates free for open shots. Plays good on ball defense and worked to keep his man out of the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Konrad-Dalland-300x203.jpg" alt="" width="300" height="203" class="aligncenter size-medium wp-image-65544" /></td>
			<td>Dalland, Konrad</td>
			<td>12</td>
			<td>Konrad does a great job of posting up and has strong hands when catching the entry pass. He passes well out of the post and sees cutters coming in. Goes after every offensive rebound.</td>
		</tr>
		<tr>
			<td></td>
			<td>Danner, Devin</td>
			<td>11</td>
			<td>Devin has a solid handle and showed his ability to knock down mid range jumpers. He can get to the rim and is a good passer off his drives. Knows how to move without the ball on offense and get open looks.</td>
		</tr>
		<tr>
			<td></td>
			<td>Davidson, Jordan</td>
			<td>10</td>
			<td>Jordan did a good job of getting his teammates involved and swinging the ball on offense. He has a consistent mid range jumper and pull up. Played aggressive defense and made his man work with the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/James-Fallon-300x196.jpg" alt="" width="300" height="196" class="aligncenter size-medium wp-image-65537" /></td>
			<td>Fallon, James</td>
			<td>9</td>
			<td>James showed he has a variety of skills on offense. He displayed his ability to get by a defender, hit pull up jumpers and spot up at the 3 point line. He does a good job of setting up his teammates on offense. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Danny-Folds-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-65529" /></td>
			<td>Folds, Danny</td>
			<td>12</td>
			<td>Danny is always in attack mode on offense. He is aggressive with the ball in his hand and likes to get to the rim. Danny had a couple highlight plays today around the rim and a few monster dunks.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/unnamed-300x247.jpg" alt="" width="300" height="247" class="aligncenter size-medium wp-image-65795" /></td>
			<td>Foley, Zack</td>
			<td>9</td>
			<td>Zack has excellent ball handling and passing skills. He is always in control of the ball and his body even when driving into traffic. Did a great job all day of setting up his teammates on offense.</td>
		</tr>
		<tr>
			<td></td>
			<td>Francis, Kendall</td>
			<td>12</td>
			<td>Kendall plays hard and is at his best in the open court. He showed his ability to finish with either hand around the rim. Didn't shy away from contact and fought through ball pressure when driving.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Jermaine-Fraser-300x184.jpg" alt="" width="300" height="184" class="aligncenter size-medium wp-image-65538" /></td>
			<td>Fraser, Jermaine</td>
			<td>12</td>
			<td>Jermaine has a nose for the basketball and is always in the center of the action. He is always active and creating plays for his team with rebounds and blocked shots. He has a great motor and intensity on the court.</td>
		</tr>
		<tr>
			<td></td>
			<td>Friend, Marcus</td>
			<td>11</td>
			<td>Marcus is a smart guard who knows how to find the open man. He has tremendous court vision and gets into the defense at will. He has unlimited range when shooting the ball and hits a high rate from anywhere.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/IMG_1726-300x224.jpg" alt="" width="300" height="224" class="aligncenter size-medium wp-image-65565" /></td>
			<td>Galgano, Ryan</td>
			<td>11</td>
			<td>Ryan has a good pull up jumper and can shoot the 3 with time and space. He plays with a high motor and hustles on both ends of the floor. Makes the smart and simple play on offense in the half court.</td>
		</tr>
		<tr>
			<td></td>
			<td>Garey, Pat</td>
			<td>11</td>
			<td>Pat was able to get ahead of the defense in transition and get to the rim. He has a consistent jumper out to 18 feet. Knows where to be on defense and how to slide over for help when his teammates got beat.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/tim-gersec1-300x188.jpg" alt="" width="300" height="188" class="aligncenter size-medium wp-image-65573" /></td>
			<td>Gersec, Tim</td>
			<td>12</td>
			<td>Tim has the ability to hit outside shots which complements his inside game. He is an active rebounder on both ends of the floor and got himself easy second chance points. Plays straight up defense to block shots.</td>
		</tr>
		<tr>
			<td></td>
			<td>Gillis, Javon</td>
			<td>9</td>
			<td>Javon has unlimited range on his shot and hits a consistent rate. He works hard on both ends and runs the floor well. He showed a good understanding for the game and positioning on the court.</td>
		</tr>
		<tr>
			<td></td>
			<td>Gordon, Roger</td>
			<td>11</td>
			<td>Roger played great team defense and was always in help position. Does a good job of moving his feet on defense and keeping his man in front. He was active on the offense rebounds and got his team extra possessions.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Daniel-Grant-300x214.jpg" alt="" width="300" height="214" class="aligncenter size-medium wp-image-65528" /></td>
			<td>Grant, Daniel</td>
			<td>12</td>
			<td>Daniel is an athletic player with a good build. Explodes off the floor when going after rebounds and getting to the rim. Uses his strength to bully defenders and get inside position.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Shaekwon-Grant-Wheeler-300x200-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-65558" /></td>
			<td>Grant-Wheeler, Shaekwon</td>
			<td>12</td>
			<td>Shaekwon did a great job all day of finishing at the rim in traffic and through contact. He has a confident handle on the ball in the half court. Made smart passes and kept the offense moving.</td>
		</tr>
		<tr>
			<td></td>
			<td>Hamilton, Malik</td>
			<td>11</td>
			<td>Malik is a long wing who knows how to run the floor. He is always looking up in transition to find a teammate that is filling the lanes. He uses his length to finish above and around the defense at the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Kevin-Henri-300x203.jpg" alt="" width="300" height="203" class="aligncenter size-medium wp-image-65543" /></td>
			<td>Henri, Kevin</td>
			<td>10</td>
			<td>Kevin is a great passer who gets the ball to his teammates early when they are open. Has a consistent mid range jumper. He knows how to play team defense and was in help position when his teammates got beat.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/brian-honis-300x2001-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-65552" /></td>
			<td>Honis, Brian</td>
			<td>10</td>
			<td>Brian is a smart and patient guard who uses head and ball fakes to move the defense. He has an effective spin move which he uses to protect the ball and get by his man. Gets after it on defense when guarding his man.</td>
		</tr>
		<tr>
			<td></td>
			<td>Ithier, Carlos</td>
			<td>12</td>
			<td>Carlos is a quick guard who knows how to finish around the basket. He has an exceptional change of speed with his dribble when getting by the defense. Does a great job of moving without the ball.</td>
		</tr>
		<tr>
			<td></td>
			<td>Jefferson, Randy</td>
			<td>11</td>
			<td>Randy is a consistent jump shooter who has a smooth release. He showed his willingness to get after loose balls and dive on the ground. Knows how to move on offense to get open shots.</td>
		</tr>
		<tr>
			<td></td>
			<td>Johnson, Dymajj</td>
			<td>12</td>
			<td>Dymajj did a good job of using his size to box out opponents on defense. He throws strong outlet passes to get his team started in the fast break. Contested shots at the rim when the other team drove the lane.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Matthew-Kanan-300x200-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-65557" /></td>
			<td>Kanan, Matthew</td>
			<td>12</td>
			<td>Matthew is a very patient offensive player who always looks to get off the best shot on offense. He tracks every shot and got a few easy putbacks today. Was able to consistently hit shots out to the 3 point line.</td>
		</tr>
		<tr>
			<td></td>
			<td>Karen, Keith</td>
			<td>12</td>
			<td>Keith is a very unselfish player on offense and has good patience when swinging the ball. He was always in good help position on defense and stepped in front to take a few charges today.</td>
		</tr>
		<tr>
			<td></td>
			<td>Knochen, Jordan</td>
			<td>12</td>
			<td>Jordan is a quick point guard who can get into the paint at will. He did a great job all day of running his teams offense and finding open teammates. Was able to knock down outside shots at a high rate.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Joel-Knox-300x210.jpg" alt="" width="300" height="210" class="aligncenter size-medium wp-image-65539" /></td>
			<td>Knox, Joel</td>
			<td>11</td>
			<td>Joel is a tough kid who works hard on both ends of the floor. He can shoot the ball when given time and space. Has a good understanding of team defense and where to be in help side.</td>
		</tr>
		<tr>
			<td></td>
			<td>Kordash, Justin</td>
			<td>12</td>
			<td>Justin did a good job of feeding the post on offense. He plays solid team defense and was always in help position. He was constantly setting screens and looking to free up his teammates for open shots.</td>
		</tr>
		<tr>
			<td></td>
			<td>Laude, Jimmy</td>
			<td>11</td>
			<td>Jimmy showed great defensive activity and hustle to go along with his strength. He uses his athleticism to pursue rebounds on both ends. Plays very patiently on offense and doesn't force passes or shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Neftali-Lind-300x198.jpg" alt="" width="300" height="198" class="aligncenter size-medium wp-image-65548" /></td>
			<td>Lind, Neftali</td>
			<td>12</td>
			<td>Neftali is a spectacular athlete who finishes at the rim with dunks. He runs the lanes in transition and got himself easy looks at the basket. Has a complete offensive game and sets his teammates up with his passes.</td>
		</tr>
		<tr>
			<td></td>
			<td>Lukes, Dasier</td>
			<td>12</td>
			<td>Dasier is a complete player on offense and is at his best with the ball in his hand. On the catch he drives hard to the rim and used a euro step to avoid the defense at the rim. Showed his ability to hit pull up jumpers.</td>
		</tr>
		<tr>
			<td></td>
			<td>Martinez, Angel</td>
			<td>11</td>
			<td>Angel is an unselfish player who can handle the ball and move effectively without it. He is at his best when attacking the basket and finishing through traffic. Set his team up for easy baskets when getting into the lane.</td>
		</tr>
		<tr>
			<td></td>
			<td>Massoud, Ismael</td>
			<td>10</td>
			<td>Ismael was one of the best shooters on the day with the deepest range. He hit a couple 3's that were behind the NBA mark. Ismael plays well off the pick and roll and takes what the defense gives him.</td>
		</tr>
		<tr>
			<td></td>
			<td>Mayo, Xavier</td>
			<td>10</td>
			<td>Xavier has good size and was all over the boards today. He was able to protect the rim and alter shots all day. He has a great motor and hustles on every possession of the game.</td>
		</tr>
		<tr>
			<td></td>
			<td>McKinney, Ray</td>
			<td>10</td>
			<td>Ray is smart on offense and knows when to pass the ball rather than forcing a shot. He is patient with the ball and did a good job of feeding the post. He has a smooth jumpshot and quick release.</td>
		</tr>
		<tr>
			<td></td>
			<td>Meles, Kibret</td>
			<td>12</td>
			<td>Kibret is a solid defender with very quick hands. He handles pressure well and has good control of the ball when dribbling in traffic. He hustles on both ends of the floor and can hit open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Brian-Monaghan1-300x201.jpg" alt="" width="300" height="201" class="aligncenter size-medium wp-image-65518" /></td>
			<td>Monaghan, Brian</td>
			<td>11</td>
			<td>Brian is a skilled guard who has a great understanding for the game. He is very good at using his body to shield his defender and score at the rim. Works in a pull up jumper to go along with his driving ability.</td>
		</tr>
		<tr>
			<td></td>
			<td>Mortilla, Sebastian</td>
			<td>12</td>
			<td>Sebastian runs the floor well and got himself easy scoring opportunities on the offense end. He plays within the offense and kept the ball moving. Does not force his shot or try to make difficult plays.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Josh-Noble-300x200-300x200.jpg" alt="" width="300" height="200" class="aligncenter size-medium wp-image-65555" /></td>
			<td>Noble, Joshua</td>
			<td>11</td>
			<td>Joshua is very explosive when getting to the basket and attacking the rim. He showed his ability to finish with both hands in traffic in the lane. He plays the passing lanes well on defense and gets deflections.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Reter-Obertan-300x194.jpg" alt="" width="300" height="194" class="aligncenter size-medium wp-image-65549" /></td>
			<td>Obertan, Peter</td>
			<td>11</td>
			<td>Peter uses his strong dribble to break his man down and get to the basket. He ran the floor well and got to his position on offense in the post. Has good footwork and is patient with his post moves.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Darryl-Ottley-300x212.jpg" alt="" width="300" height="212" class="aligncenter size-medium wp-image-65530" /></td>
			<td>Ottley, Darryl</td>
			<td>11</td>
			<td>Darryl is a quick guard who showed he was able to run a team. He has the ability to go off on offense and take over a game with his shooting. Has range out to the 3 point line.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Armand-Palmer1-300x192.jpg" alt="" width="300" height="192" class="aligncenter size-medium wp-image-65517" /></td>
			<td>Palmer, Armand</td>
			<td>12</td>
			<td>Armand is a high energy player who rebounds the ball on both ends of the floor. Got a lot of second chance points after grabbing offensive rebounds. Moves well on defense and protected the rim.</td>
		</tr>
		<tr>
			<td></td>
			<td>Paul, Brandon</td>
			<td>10</td>
			<td>Brandon displayed his ability all day to finish through contact around the rim. He was active on the boards and went after every rebound. He does a good job of contesting and altering shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/IMG_1829-300x211.jpg" alt="" width="300" height="211" class="aligncenter size-medium wp-image-65560" /></td>
			<td>Phelan, Abraham</td>
			<td>11</td>
			<td>Abraham plays hard and competes on both ends of the floor. He does a great job of getting by his defender and into the paint. Set his big men up all afternoon with his ability to feed them the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Casey-Pluff1-300x181.jpg" alt="" width="300" height="181" class="aligncenter size-medium wp-image-65522" /></td>
			<td>Pluff, Casey</td>
			<td>10</td>
			<td>Casey has a smooth shot and does a good job of setting his feet when shooting. Has a strong left hand and finishes everything around the rim. Doesn't get phased by ball pressure and stayed in control.</td>
		</tr>
		<tr>
			<td></td>
			<td>Ramsdell, Jacob</td>
			<td>12</td>
			<td>Jacob did a great job of getting out in transition and sprinting back on defense. He used his length to grab rebounds and block shots on defense. He sets hard screens and freed up his teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/IMG_1812-300x221.jpg" alt="" width="300" height="221" class="aligncenter size-medium wp-image-65562" /></td>
			<td>Rashada, Hakeem</td>
			<td>11</td>
			<td>Hakeem is always in control of the ball and his body. He is a good decision maker in transition and gets his teammates easy baskets. He keeps the defender honest with his 3 point shot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Amenrah-Reid1-300x183.jpg" alt="" width="300" height="183" class="aligncenter size-medium wp-image-65514" /></td>
			<td>Reid, Amenrah</td>
			<td>12</td>
			<td>Amenrah did a good job of recognizing who was defending him and posting up smaller defenders. Used his dribble to get by bigger defenders. He gets into passing lanes on defense and contested a lot of shots around the rim.</td>
		</tr>
		<tr>
			<td></td>
			<td>Richardson, Tucker</td>
			<td>11</td>
			<td>Tucker runs the floor really well and is a strong finisher. He uses his length to get his hands on passes on defense and create havoc. Has a good handle on the ball and sees the floor well in the half court.</td>
		</tr>
		<tr>
			<td></td>
			<td>Rickman, Elijah</td>
			<td>11</td>
			<td>Elijah has a long wingspan which creates issues for his opponent on the defensive end. He showed his ability to get steals, rebounds and blocks. Has great range on his shot when catching the ball and shooting. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Gabriel-Rodriguez-300x227.jpg" alt="" width="300" height="227" class="aligncenter size-medium wp-image-65534" /></td>
			<td>Rodriguez, Gabriel</td>
			<td>11</td>
			<td>Gabriel has a high motor and plays with great passion on every possession. He was active on defense and got his hands on everything. Was able to get steals and start the fast break for his team.</td>
		</tr>
		<tr>
			<td></td>
			<td>Rowland, Derrick</td>
			<td>12</td>
			<td>Derrick did a great job all day of finishing at the rim and in traffic. He has a good handle on the ball and can control it in tight spaces. Applies aggressive on ball pressure on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Alex-Sabastiani1-300x187.jpg" alt="" width="300" height="187" class="aligncenter size-medium wp-image-65513" /></td>
			<td>Sabastiani, Alex</td>
			<td>11</td>
			<td>Alex plays with a ton of energy especially on the defensive end. He uses his long arms to get deflections and get into passing lanes. He moved well on offense without the ball and was willing to make the extra pass.</td>
		</tr>
		<tr>
			<td></td>
			<td>Santil, Cam'ron</td>
			<td>11</td>
			<td>Cam'ron was able to get himself easy baskets by going after offensive rebounds. He finished well through contact at the rim. He sprints the floor both on offense and defense getting himself open shots.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Eric-Seckler-300x184.jpg" alt="" width="300" height="184" class="aligncenter size-medium wp-image-65531" /></td>
			<td>Seckler, Eric</td>
			<td>11</td>
			<td>Eric knows how to get himself open on offense and get easy looks. Scored a number of second chance points by being active on the boards. Finishes in transition and sprints back on defense.</td>
		</tr>
		<tr>
			<td></td>
			<td>Sharpton, Tahjai</td>
			<td>11</td>
			<td>Tahjai is a knockdown shooter who can also get to the rim. His long arms allow him to finish over defenders with ease. He has active hands on defense and did a good job of sliding his feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Eric-Sice-300x189.jpg" alt="" width="300" height="189" class="aligncenter size-medium wp-image-65532" /></td>
			<td>Sica, Eric</td>
			<td>12</td>
			<td>Eric has an aggressive style of play on both offense and defense. He did a great job of moving without the ball and getting himself open shots. Is quick off the rebound in getting out in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Caleb-Simmons1-300x194.jpg" alt="" width="300" height="194" class="aligncenter size-medium wp-image-65520" /></td>
			<td>Simmons, Caleb</td>
			<td>9</td>
			<td>Caleb is an athletic wing who is effective and active in the open court. He uses his explosive first step to get to the rim. Does a really good job of sliding his feet on defense and keeping his man away from the basket.</td>
		</tr>
		<tr>
			<td></td>
			<td>Simmons, Corey</td>
			<td>11</td>
			<td>Corey has good size which he uses to his advantage on both ends of the court. He did a great job of boxing out and grabbing rebounds. Passes well out of the post and kept the ball moving.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/IMG_1833-300x194.jpg" alt="" width="300" height="194" class="aligncenter size-medium wp-image-65561" /></td>
			<td>Smith, Rhyan</td>
			<td>10</td>
			<td>Rhyan is a smart basketball player with a high basketball IQ. He was able to hit open shots all day when setting his feet and squaring up to the basket. Always seemed to make the right extra pass on offense.</td>
		</tr>
		<tr>
			<td></td>
			<td>Snyder, Derek</td>
			<td>9</td>
			<td>Derek plays very hard and never takes a possession off on either end of the floor. He had great timing when going after offensive rebounds and looking to put the ball back up. Has a good understanding of how to play team defense.</td>
		</tr>
		<tr>
			<td></td>
			<td>Sparks, Tyrik</td>
			<td>11</td>
			<td>Tyrik has great hands that allow him to be effective on both ends of the floor. Defensively he is always getting steals and deflections. He got himself easy baskets by going hard after every rebound on offense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Christopher-Spell1-300x197.jpg" alt="" width="300" height="197" class="aligncenter size-medium wp-image-65523" /></td>
			<td>Spell, Christopher</td>
			<td>12</td>
			<td>Christopher uses his size to gain an advantage on his opponent on both ends of the floor. He is a strong rebounder who runs the open floor well. Got himself some easy baskets on offense by going after rebounds.</td>
		</tr>
		<tr>
			<td></td>
			<td>Spencer, Colton</td>
			<td>10</td>
			<td>Colton sets hard screens and does a good job of popping to open spots. Was able to create space for himself and get off easy jumpers. Runs the floor to open space and spots up in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Frederick-Squires-300x193.jpg" alt="" width="300" height="193" class="aligncenter size-medium wp-image-65533" /></td>
			<td>Squires, Frederick</td>
			<td>12</td>
			<td>Frederick runs the floor hard and does a good job of finishing in transition. He is very aggressive when posting up and looking for the ball. Knows how to get position on offense and create space in the lane.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Amir-Stevens1-300x197.jpg" alt="" width="300" height="197" class="aligncenter size-medium wp-image-65515" /></td>
			<td>Stevens, Amir</td>
			<td>12</td>
			<td>Amir is a strong, physical guard. He showed he can be a lockdown defender when guarding the wing and created problems for his man. He is impossible to stop when driving to the basket and getting in the lane. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Thomas-Dawson-300x204.jpg" alt="" width="300" height="204" class="aligncenter size-medium wp-image-65550" /></td>
			<td>Thomas, Kasaun</td>
			<td>10</td>
			<td>Kasaun has a tight handle on the ball and showed his ability to get into the paint today. His focus on offense is to setup his teammates for open shots. Showed his ability to hit open shots when needed.</td>
		</tr>
		<tr>
			<td></td>
			<td>Thompson, Kendale</td>
			<td>9</td>
			<td>Kendale is a tough defender who makes it really hard on the offense to get good looks at the basket. He is an active cutter on offense and gets to the basket well. Knows how to move without the ball and get himself open.</td>
		</tr>
		<tr>
			<td></td>
			<td>Tilley, Donovan</td>
			<td>11</td>
			<td>Donovan is a strong player who is willing to set up his teammates on offense. He makes smart decisions when driving and knows when to kick it out. His aggressive style on offense put pressure on opposing defenses.</td>
		</tr>
		<tr>
			<td></td>
			<td>Toribio, Victor</td>
			<td>10</td>
			<td>Victor used his quickness and ball handling to get by his man and set up his teammates. He is an active communicator and floor organizer on both ends. Plays with great energy and focus.</td>
		</tr>
		<tr>
			<td></td>
			<td>Vacco, Robert</td>
			<td>10</td>
			<td>Robert did a great job of beating his man off the dribble and finishing at the rim. He knows how to move on offense to get to open spots. Plays solid team defense and was in help position.</td>
		</tr>
		<tr>
			<td></td>
			<td>Veith, Robert</td>
			<td>11</td>
			<td>Robert is a good shooter from 3 and also has good size. He uses his length to bother his man on defense and keep him away from the basket. Moves well without the ball on offense to get open shots.</td>
		</tr>
		<tr>
			<td></td>
			<td>Wexler, Tucker</td>
			<td>10</td>
			<td>Tucker is an unselfish player who makes strong passes to his teammates. He worked hard to gain offensive rebounding position and get inside. He knows where to be on defense to stop opponents from driving.</td>
		</tr>
		<tr>
			<td></td>
			<td>Wiliams, Jelani</td>
			<td>11</td>
			<td>Jelani has quick hands on defenses and does a great job of stripping the ball from his man. He uses his strength to get by his opponent and get into the lane. Does a good job of keeping his man in front of him on defense.</td>
		</tr>
		<tr>
			<td></td>
			<td>Williams, Tyrese</td>
			<td>10</td>
			<td>Tyrese is a very active defender who makes his man work the entire way up the court. He runs the floor well on offense and got himself easy baskets. Has good ball control around the rim when attacking.</td>
		</tr>
		<tr>
			<td></td>
			<td>Wilson, Xavier</td>
			<td>10</td>
			<td>Xavier uses his length to his advantage and was an active rebounder on both ends of the floor. He has good strength and plays with physicality on defense. He works hard to gain post position around the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2015/10/Camari-Young1-300x205.jpg" alt="" width="300" height="205" class="aligncenter size-medium wp-image-65521" /></td>
			<td>Young, Camari</td>
			<td>11</td>
			<td>Camari is a quick, shifty guard who is tough to defend. He is an effective on ball defender who uses his speed to create problems for his opponent. Has a good understanding of spacing on offense. </td>
		</tr>
		<tr>
			<td></td>
			<td>Zuvic, Will</td>
			<td>12</td>
			<td>Will is a good face up forward who can knock down shots out to 17 feet. He moves well inside and has good footwork on the block. Does a good job of initiating contact on the court when he has the ball in his hand.</td>
		</tr>
	</tbody>
</table>
