<table>
	<thead>
		<tr>
			<th>Photo</th>
			<th>Player Name</th>
			<th>Player Bio</th>
			<th>Top 100 Takeaway</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Sheldon-Adams.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55331" /></td>
			<td>Sheldon Adams</td>
			<td>Height: 5'5
Grade: 10
Bishop Kearney
Wingspan: 68
Reach: 88
Vertical: 23</td>
			<td>Sheldon is a solid guard who kept his team focused and communicating. He uses the floater well to score against bigger and secondary defenders. He handles the ball well to find open teammates.</td>
		</tr>
		<tr>
			<td></td>
			<td>Izae Alford</td>
			<td>Height: 5'7
Grade: 10
Trenton</td>
			<td>Izae plays a very physical style of defense and uses his quickness on both ends of the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Willard-Anderson.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55340" /></td>
			<td>Willard Anderson</td>
			<td>Height: 5'11 
Grade: 9
East High School
Wingspan: 73
Reach: 91
Vertical: 23</td>
			<td>Willard has a quick first step and uses it to get by defenders to score or kick it back to an open teammate. He has great court vision and knows when and when not to push the ball in transition.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Chase-Audige.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55257" /></td>
			<td>Chase Audige</td>
			<td>Height: 6'4
Grade: 10
Archbishop Molloy</td>
			<td>Chase is a lengthy play maker given 1-2 dribbles. He uses his length and athleticism to find ways to finish. When he hits the pull up he is tough to stop.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Branden-Aughburns.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55255" /></td>
			<td>Branden Aughburns</td>
			<td>Height: 6'9
Grade: 12
Canterbury Prep
Wingspan: 85
Reach: 106
Vertical: 23</td>
			<td>Branden has great size and strength on both sides of the ball. He's a capable shooter out to 15 feet and can also get to the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Michael-Baldwin.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55305" /></td>
			<td>Michael Baldwin</td>
			<td>Height: 6'3
Grade: 12
Patchogue Medford
Wingspan: 74
Reach: 94
Vertical: 26</td>
			<td>Michael has the ability to knock down open kick outs from teammates off the catch. He competed hard on the defensive end and uses ball/shot fakes well to create opportunities on the offensive end.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Kory-Bergh.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55298" /></td>
			<td>Kory Bergh</td>
			<td>Height: 5'10
Grade: 11
Amsterdam
Wingspan: 72
Reach: 90
Vertical: 22</td>
			<td>Kory is a scoring threat off ball screens but also delivers great passes. He competes and gets the job done as hard as anyone else on the court.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Cody-Bernard.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55260" /></td>
			<td>Cody Bernard</td>
			<td>Height: 6'4
Grade: 10
Canterbury Prep
Wingspan: 78
Reach: 97
Vertical: 22</td>
			<td>Cody is a good shooter and rebounder. He hit multiple 3s by trailing the point guard and finding weak spots in the defense. He has a good basketball IQ and will continue to improve with age.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/John-Blakely-Jr..jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55286" /></td>
			<td>John Blakley Jr.</td>
			<td>Height: 6'5
Grade: 12
Edgemont</td>
			<td>John is a post player who plays well off the pick and roll. He makes hard cuts off screens since defenses collapse on him. He runs the floor well and rebounds on both ends of the court. He also finished well at the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Isaiah-Boissard.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55281" /></td>
			<td>Isaiah Boissard</td>
			<td>Height: 6'2
Grade: 12
Valley Central
Wingspan: 80
Reach: 96
Vertical: 31</td>
			<td>Isaiah showed a well rounded skill set on the offensive end and scored in a variety of ways. He has a nice motor and kept plays alive.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Savion-Boissard.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55324" /></td>
			<td>Savion Boissard</td>
			<td>Height: 6'3
Grade: 11
Valley Central
Wingspan: 76
Reach: 98
Vertical: 24</td>
			<td>Savion showed the ability to create off the dribble for himself and teammates. He also knocked down multiple 3s when left open.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Nathan-Bradley.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55310" /></td>
			<td>Nathan Bradley</td>
			<td>Height: 6'2
Grade: 12
Bishop Kearney
Wingspan: 73 
Reach: 94
Vertical: 25</td>
			<td>Nathan is a guard with great length which he uses to play tough defense and create turnovers.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Shykell-Brown.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55332" /></td>
			<td>Shykell Brown</td>
			<td>Height: 5'9
Grade: 9
Bishop Kearney
Wingspan: 73
Reach: 91
Vertical: 20</td>
			<td>Shykell showed great ball handling and passing skills in transition and in the half court. He is also able to create for himself and score in the paint.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Damone-Brown-Jr.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55262" /></td>
			<td>Damone Brown</td>
			<td>Height: 6'3
Grade: 12
East High
Wingspan: 79
Reach: 97
Vertical: 29</td>
			<td>Damone rebounded and blocked multiple shots as a weak side help defender. He was strong on the offensive glass and kept his teammates involved.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Kyle-Brown.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55299" /></td>
			<td>Kyle Brown</td>
			<td>Height: 6'0
Grade: 11
Newburgh Academy
Wingspan: 68
Reach: 90
Vertical: 29</td>
			<td>Kyle is a quick ball handler and is confident going by his man. He's also a solid on the ball defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Rayquan-Bryant.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55316" /></td>
			<td>Rayquan Bryant</td>
			<td>Height: 6'3
Grade: 11
Newburgh Academy
Wingspan: 76
Reach: 96
Vertical: 23</td>
			<td>Rayquan scored the ball in transition at the rim well with both hands. He plays tough defense and blocked multiple shots. He runs hard and played with a lot of energy.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Shabon-Burton.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55326" /></td>
			<td>Shabon Burton</td>
			<td>Height: 6'2
Grade: 12
Middletown
Wingspan: 78
Reach: 96
Vertical: 26</td>
			<td>Shabon played aggressively on both ends and has a nice stroke off the catch. He is always looking to attack in transition and runs with a high motor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Kevin-Callahan.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55294" /></td>
			<td>Kevin Callahan</td>
			<td>Height: 6'0
Grade: 11
Centereach
Wingspan: 76
Reach: 93
Vertical: 26</td>
			<td>Kevin is a smart player with a lot of potential. He uses fakes well to make plays and has a smooth jumper off the catch. He's not afraid to get in and mix it up in the lane and is a crafty finisher.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Rashad-Campbell.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55315" /></td>
			<td>Rashad Campbell</td>
			<td>Height: 6'1
Grade: 10
Middletown
Wingspan: 77
Reach: 93
Vertical: 27</td>
			<td>Rashad competes on every play and is very unselfish. He plays tough on the ball defense and runs the floor hard for easy points.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Daniel-Cappo.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55263" /></td>
			<td>Daniel Cappo</td>
			<td>Height: 6'8
Grade: 11
Iona Prep
Wingspan: 86
Reach: 100
Vertical: 22</td>
			<td>Daniel finishes well at the rim and plays hard under the basket. He's a good defensive presence in the lane and has a good touch at the rim. His fundamentals are good and he has a solid upside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Rian-Carter.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55317" /></td>
			<td>Rian Carter</td>
			<td>Height: 6'0
Grade: 11
Bishop Kearney
Wingspan: 76
Reach: 93
Vertical: 27</td>
			<td>Rian is an athletic wing who excels in transition and the open floor. He will catch and attack the rim at will. He's a good rebounder on both ends of the floor and uses his athleticism and aggression to get as many as possible.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Augustin-Cassas-Jr.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55254" /></td>
			<td>Augustin Cassas Jr</td>
			<td>Height: 5'11
Grade: 12
Middletown
Wingspan: 73
Reach: 90
Vertical: 25</td>
			<td>Augustin showed the ability to knock down shots on the wing in transition. He also displayed toughness by competing for loose balls and rebounds all afternoon.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Gerald-Charles.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55277" /></td>
			<td>Gerald Charles</td>
			<td>Height: 5'10
Grade: 11
Newburgh Academy
Wingspan: 71
Reach: 88
Vertical: 29</td>
			<td>Gerald is a quick and unselfish guard who has a good handle on the ball. He's also a good defender when his man has the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Ishmael-Chisolm.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55282" /></td>
			<td>Ishmael Chisolm</td>
			<td>Height: 5'10
Grade: 12
Franklin D Roosevelt
Wingspan: 74
Reach: 89
Vertical: 28</td>
			<td>Ishmael is a combo 1/2 who is an excellent passer, especially in the paint and in traffic. He's very confident in attacking off the dribble and using his pull up out to 15 feet.  </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Kendall-Clyburn.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55293" /></td>
			<td>Kendall Clyburn</td>
			<td>Height: 6'1
Grade: 9
Bishop Kearney
Wingspan: 76
Reach: 92
Vertical: 27</td>
			<td>Kendall is very athletic and defends on the ball very well. He's a confident ball handler and has a huge upside as a freshman.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Ryan-Coffey.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55321" /></td>
			<td>Ryan Coffey</td>
			<td>Height: 6'6
Grade: 12
Monroe
Wingspan: 80
Reach: 97
Vertical: 28</td>
			<td>Ryan is great at using shot fakes in the post to score at the rim. He also has the ability to face up and shoot. He's a great help defender and serves as a great secondary shot blocker. He can score in multiple ways in the post and has a great feel for the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Ethan-Cottrell.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55273" /></td>
			<td>Ethan Cottrell</td>
			<td>Height: 6'1
Grade: 11
Park School Buffalo
Wingspan: 76
Reach: 95
Vertical: 21</td>
			<td>Ethan has a great skill set and does the little things right. He hit multiple shots from beyond the arc and also showed flashes of tough on ball defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Dante-Davis.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55265" /></td>
			<td>Dante Davis</td>
			<td>Height: 6'2
Grade: 12
Newburgh Academy
Wingspan: 76
Reach: 96
Vertical: 29</td>
			<td>Dante plays hard and hustled for every loose ball. He worked hard on the defensive end and rebounds well from the 2/3 wing spot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Matt-Deloatch.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55303" /></td>
			<td>Matt Deloatch</td>
			<td>Height: 6'2
Grade: 11
Poughkeepsie
Wingspan: 79
Reach: 95
Vertical: 25</td>
			<td>Matt is a guard who can rebound and play great on ball defense. He has the vision to push the ball with a dibble or pass to get easy baskets for his team. He's a solid defender who came up with multiple steals and deflections.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Pat-Dorilas.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55313" /></td>
			<td>Pat Dorilas</td>
			<td>Height: 5'8
Grade: 12
Don Bosco Prep
Wingspan: 63
Reach: 85
Vertical: 30</td>
			<td>Pat is an aggressive on ball defender who makes it hard for opposing point guards to run an offense. He plays with a great motor and high level of intensity.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Justin-Eck.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55289" /></td>
			<td>Justin Eck</td>
			<td>Height: 6'1
Grade: 11
Centereach
Wingspan: 71
Reach: 90
Vertical: 21</td>
			<td>Justin found open teammates all day and didn't hesitate to pass the ball. He does a good job communicating and playing help defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Zack-Foley.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55341" /></td>
			<td>Zack Foley</td>
			<td>Height: 5'0
Grade: 8
Goshen
Wingspan: 54 
Reach: 77
Vertical: 19</td>
			<td>Zack handles the ball well and has quickness. He's very unselfish and is a pass first player. He understands the game for his age and definitely will continue to improve as he gets bigger.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Jonathan-Garcia.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55287" /></td>
			<td>Jonathan Garcia</td>
			<td>Height: 6'1
Grade: 11
New Rochelle
Wingspan: 71
Reach: 93
Vertical: 24</td>
			<td>Jonathan is a strong player who makes determined drives within the half court. He pushes the ball well to find teammates in transition. He sprints to get easy buckets and find open teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Kevin-Goode.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55295" /></td>
			<td>Kevin Goode</td>
			<td>Height: 5'3
Grade: 9
Bishop Kearney
Wingspan: 57
Reach: 79
Vertical: 23</td>
			<td>Kevin is a a quick point guard who pushes the pace and put pressure on the defense. He's a good on the ball defender who exerts heavy pressure and gets deflections. He has quick hands and a solid handle.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Karl-Grant.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55291" /></td>
			<td>Karl Grant</td>
			<td>Height: 6'4
Grade: 12
Poughkeepsie
Wingspan: 79
Reach: 99
Vertical: 25</td>
			<td>Karl is a long athletic 3/4 man who is a good finisher around the basket. He plays hard on every possession and rebounds well on both backboards. He can defend both inside and on the perimeter.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Devin-Green.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55268" /></td>
			<td>Devin Green</td>
			<td>Height: 6'0
Grade: 11
Bishop Kearney
Wingspan: 74
Reach: 95
Vertical: 24</td>
			<td>Devin is a quick guard who is confident handling the ball in transition. He's also a solid on the ball defender with quick feet and hands.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Israel-Griffin.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55283" /></td>
			<td>Isreal Griffin</td>
			<td>Height: 6'4
Grade: 11
Green Tech Charter
Wingspan: 77
Reach: 97
Vertical: 25</td>
			<td>Isreal finished well over guys in the lane after running hard in transition. He's a capable shooter on short closeouts and is explosive on both ends.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Tyler-Guevara.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55335" /></td>
			<td>Tyler Guevara</td>
			<td>Height: 5'11
Grade: 12
St John's Prep
Wingspan: 71
Reach: 89
Vertical: 19</td>
			<td>Tyler played with a lot of energy and dedicated himself to getting better. He knows his role and played to his strengths. He's an unselfish player and communicated with teammates all day.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Koree-Hargraves.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55297" /></td>
			<td>Koree Hargraves</td>
			<td>Height: 6'1
Grade: 12
Canterbury Prep
Wingspan: 74
Reach: 96
Vertical: 22</td>
			<td>Koree is a very confident ball handler and gets to the rim past his defender with ease. He's very unselfish and defends well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Tyler-Harley.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55336" /></td>
			<td>Tyler Harley</td>
			<td>Height: 5'9
Grade: 10
Bishop Kearney
Wingspan: 73
Reach: 93
Vertical: 23</td>
			<td>Tyker is a small quick point guard who drives to score at the basket. He does a great job of penetrating the paint and middle of the floor. He also is good at jump stopping to draw in defenders and then find open teammates.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Riley-Hayes.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55318" /></td>
			<td>Riley Hayes</td>
			<td>Height: 6'8
Grade: 11
Burke Catholic
Wingspan: 80
Reach: 102
Vertical: 24</td>
			<td>Riley is a good shooter who can step out and make a couple 3s. He rebounds well and works hard in screen/roll and screen/pop situations. His athleticism serves him well.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Caval-Haylett.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55256" /></td>
			<td>Caval Haylett</td>
			<td>Height: 6'1
Grade: 11
Poughkeepsie
Wingspan: 79
Reach: 96
Vertical: 24</td>
			<td>Caval is a solid ball handler who can take his man off the bounce. He's very unselfish when he gets inside and uses his athleticism to make plays. He's also a good defender on the wing.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Daniel-Hernandez.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55264" /></td>
			<td>Daniel Hernandez</td>
			<td>Height: 6'1
Grade: 12
Bayside
Wingspan: 70 
Reach: 93
Vertical: 29</td>
			<td>Daniel is an athletic wing player who can handle the ball and finish in transition. He's a very good shooter with excellent range and confidence in his long range 3.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Isaac-Hippolyte.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55280" /></td>
			<td>Isaac Hippolyte</td>
			<td>Height: 6'6
Grade: 10
St Joe's Montvale
Wingspan: 76
Reach: 99
Vertical: 24</td>
			<td>Isaac is a very athletic player who can step out and shoot the ball. He rebounds on both ends aggressively and uses his body to be a productive player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Randy-Jefferson.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55314" /></td>
			<td>Randy Jefferson</td>
			<td>Height: 5'9
Grade: 10
West Scranton
Wingspan: 71
Reach: 90
Vertical: 26</td>
			<td>Randy knocked down open shots in transition and hustled up and down the court. He played with a high motor and talked on defense to keep teammates engaged.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Rubern-Jimenez.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55320" /></td>
			<td>Ruben Jimenez</td>
			<td>Height: 6'1
Grade: 12
Hyde Park
Wingspan: 71 
Reach: 92
Vertical: 26</td>
			<td>Ruben has good quickness with the ball and on defense. He's athletic from the point guard position and is very unselfish when running his team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Ryan-Johannes.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55322" /></td>
			<td>Ryan Johannes</td>
			<td>Height: 6'6
Grade: 11
Canterbury
Wingspan: 77
Reach: 97
Vertical: 23</td>
			<td>Ryan is a forward who runs the floor and competes on every play. He's a smart post player who can score or kick it out to the open man. He's a great passer and makes good decisions.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Shakir-John.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55327" /></td>
			<td>Shakir John</td>
			<td>Height: 5'11
Grade: 12
Green Tech Charter
Wingspan: 71
Reach: 91
Vertical: 27</td>
			<td>Shakir is a good floor general who led his team with good ball handling and court vision. He is a scoring threat from all areas of the floor and is very poised with the ball in his hands.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Lucas-Jooji.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55301" /></td>
			<td>Lucas Jooji</td>
			<td>Height: 5'11
Grade: 12
Our Lady of Lourdes
Wingspan: 74
Reach: 90
Vertical: 30</td>
			<td>Lucas is a quick point guard who is confident handling the ball against pressure. He's a pass first player  with good fundamentals.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Devin-Kowal.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55269" /></td>
			<td>Devin Kowal</td>
			<td>Height: 6'2
Grade: 12
Kingston
Wingspan: 75
Reach: 94
Vertical: 24</td>
			<td>Devin showed defensive versatility by being able to defend guards and forwards. He fought hard on the glass and came down with multiple rebounds in traffic.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Omari-Lane.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55312" /></td>
			<td>Omari Lane</td>
			<td>Height: 6'1
Grade: 11
Newburgh Academy
Wingspan: 74
Reach: 95
Vertical: 20</td>
			<td>Omari is very quick and a good all around player. He can shoot and handles the ball with confidence. He crashes the boards on both ends and is a solid athlete.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Trey-Lawson.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55334" /></td>
			<td>Trey Lawson</td>
			<td>Height: 5'11
Grade: 12
Newburgh Academy
Wingspan: 72
Reach: 92
Vertical: 27</td>
			<td>Trey is an unselfish player who can pass the ball and find others easily. He plays well of ball screens to distribute the ball. He hustles on both ends and does whatever his team needs.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/DAndre-Liburd.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55261" /></td>
			<td>D'Andre Liburd</td>
			<td>Height: 6'1
Grade: 12
Middletown
Wingspan: 73
Reach: 92
Vertical: 26</td>
			<td>D'Andre was the hardest working player in any given situation and played with a lot of hustle and energy. He plays physical basketball and is a very good rebounder. He runs the floor hard and earns every bucket he gets.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Dasier-Lukes.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55266" /></td>
			<td>Dasier Lukes</td>
			<td>Height: 6'2
Grade: 11
Green Tech Charter
Wingspan:81 
Reach: 96
Vertical: 27</td>
			<td>Dasier plays hard and uses his athleticism to his advantage. He scores easy buckets in transition and off the offensive rebound. He's explosive on both ends of the court and will certainly be an asset to his team this season.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Jordan-Mair.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55288" /></td>
			<td>Jordan Mair</td>
			<td>Height: 6'1
Grade: 12
Green Tech Charter
Wingspan: 75
Reach: 93
Vertical: 29</td>
			<td>Jordan is a long wing player who plays great in the open court. His athleticism allows him to score easily in traffic.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Harrison-Martin.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55278" /></td>
			<td>Harrison Martin</td>
			<td>Height: 6'2
Grade: 12
Cohasset
Wingspan: 75 
Reach: 95
Vertical: 27</td>
			<td>Harrison showed a well rounded offensive game and an ability to knock down an outside shot. He contested every shot and went after every defensive rebound.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Matt-McHale.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55304" /></td>
			<td>Matt McHale</td>
			<td>Height: 6'2
Grade: 12
Burke Catholic
Wingspan: 76 
Reach: 93
Vertical: 27</td>
			<td>Matt is a smart guard who has a great feel for the game. He's a shooter but can also move without the ball. He plays smart and makes the right plays.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Shakur-Melvin.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55328" /></td>
			<td>Shakur Melvin</td>
			<td>Height: 6'6
Grade: 11
Newburgh Academy 
Wingspan: 78
Reach: 102
Vertical: 25</td>
			<td>Shakur is a long forward who uses  his length to really change the game on the defensive end. He is good at blocking and altering shots as well. He can score around the rim and out to 15 feet.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Justin-Mitchell.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55290" /></td>
			<td>Justin Mitchell</td>
			<td>Height: 6'1
Grade: 11
Newburgh Academy
Wingspan: 75
Reach: 94
Vertical: 22</td>
			<td>Justin is able to jump the passing lane for steals which led to easy lay ups for his team. He hustled up and down the court and played smart on both ends.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Shawn-Montague.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55330" /></td>
			<td>Shawn Montague</td>
			<td>Height: 6'5
Grade: 10
Canterbury
Wingspan: 82 
Reach: 100
Vertical: 28</td>
			<td>Shawn is a long athletic wing who has good shooting range. He can handle the ball and get by his man. He guards every position well and is a good shooter for his size.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Sebastian-Montilla.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55325" /></td>
			<td>Sebastian Montilla</td>
			<td>Height: 6'0
Grade: 11
Middletown
Wingspan: 73
Reach: 90
Vertical: 22</td>
			<td>Sebastian has a great handle with the ball and sees the floor well. He's great with the ball against pressure and scores in the lane through tough situations.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Elias-Oquendo.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55270" /></td>
			<td>Elias Oquendo</td>
			<td>Height: 6'0
Grade: 12
Chapel Field
Wingspan: 71
Reach: 92
Vertical: 22</td>
			<td>Elias runs the floor hard and finishes in transition. He can knock down shots standing still and can also finish at the rim.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Mike-Otero.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55307" /></td>
			<td>Mike Otero</td>
			<td>Height: 6'2
Grade: 12
West Milford
Wingspan: 76
Reach: 94
Vertical: 28</td>
			<td>Mike moves well without the ball which opened up many shots for him and his team. He showed the ability to shoot off both the catch and the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Shane-Pearly.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55329" /></td>
			<td>Shane Pearley</td>
			<td>Height: 5'11
Grade: 12
Canterbury Prep
Wingspan: 75
Reach: 92
Vertical: 30</td>
			<td>Shane is a strong point guard who handles the ball well and creates off the screen for others. He can score off the ball and dribble. He directs his team and finds the open man.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Liam-Perriman.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55300" /></td>
			<td>Liam Perriman</td>
			<td>Height: 6'8
Grade: 11
Poughkeepsie
Wingspan: 82 
Reach: 104
Vertical: 25</td>
			<td>Liam is a solid player who uses his size to his advantage. He isn't afraid to play physical under the basket to score easy baskets or grab a rebound. He keeps his teammates involved and has a big upside.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Alex-Peterson.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55251" /></td>
			<td>Alex Petersen</td>
			<td>Height: 6'8
Grade: 12
Canterbury Prep
Wingspan: 83 
Reach: 106
Vertical: 21</td>
			<td>Alex is a big kid with a solid frame that he uses to bang inside and rebound on both ends. He has good footwork and fundamentals inside. He knows how to play the game the right way and is always screening and cutting.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Fulani-Pope.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55276" /></td>
			<td>Fulani Pope</td>
			<td>Height: 6'1
Grade: 12
Newburgh Academy </td>
			<td>Fulani is a great defender who earned multiple steals and points off turnovers. He created for himself and his teammates with his intensity and focus.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Joe-Pought.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55285" /></td>
			<td>Joe Pought</td>
			<td>Height: 6'3
Grade: 12
Newburgh Academy
Wingspan:79 
Reach: 96
Vertical: 25</td>
			<td>Joe is a confident lefty outside shooter who can also rebound. He can guard multiple positions and has a good understanding of the game.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Naeem-Pryor.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55308" /></td>
			<td>Naeem Pryor</td>
			<td>Height: 6'0
Grade: 12
Green Tech Charter
Wingspan: 72 
Reach: 92
Vertical: 29</td>
			<td>Naeem plays defense for the length of the court and uses his handle and length to finish in close quarters. He plays hard on the ball defense and has solid court vision.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Keith-Rado.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55292" /></td>
			<td>Keith Rado</td>
			<td>Height: 6'1
Grade: 10
Canterbury Prep
Wingspan: 72 
Reach: 92
Vertical: 24</td>
			<td>Keith is an excellent shooter with a very high basketball IQ. He knows how to cut, screen, and get open.  He's an unselfish passer but can also shoot the ball from deep. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Aaron-Ray.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55249" /></td>
			<td>Aaron Ray</td>
			<td>Height: 6'3
Grade: 12
Middletown
Wingspan: 80 
Reach: 98
Vertical: 20</td>
			<td>Aaron is an athletic player who can really shoot the ball off the dribble. He handles it well in transition and makes good decisions. He's a big guard who uses his size to his advantage over smaller players.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Temar-Robinson.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55333" /></td>
			<td>Temar Robinson</td>
			<td>Height: 6'3
Grade: 12
Canterbury Prep
Wingspan: 77 
Reach: 96
Vertical: 29</td>
			<td>Temar made hard cuts in the half court which resulted in easy baskets. He also finished well in traffic once he beat his man off the dribble.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Victor-Roca.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55338" /></td>
			<td>Victor Roca</td>
			<td>Height: 5'8
Grade: 

Wingspan: 66 
Reach: 86
Vertical: 22</td>
			<td>Victor was constantly moving all over the court and played with a high motor. He pushed the tempo well and always pitched the ball ahead in transition. He gave outstanding effort on the defensive end.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Alexander-Romans.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55252" /></td>
			<td>Alexander Romans</td>
			<td>Height: 5'11
Grade: 10
Salesian
Wingspan: 71
Reach: 89
Vertical: 30</td>
			<td>Alexander played tough pressure defense on opposing guards. He showed a nice mid range game with a consistent pull up jumper.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Derrick-Rowland.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55267" /></td>
			<td>Derrick Rowland</td>
			<td>Height: 5'11
Grade: 11
Green Tech Charter
Wingspan: 76
Reach: 92
Vertical: 21</td>
			<td>Derrick has great court vision and is a willing passer. He can knock down the open jump shot and plays aggressive on the ball defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Angel-Santos.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55253" /></td>
			<td>Angel Santos</td>
			<td>Height: 6'0
Grade: 12
Canterbury Prep
Wingspan: 74 
Reach: 93
Vertical: 22</td>
			<td>Angel plays strong defense in the half court and is constantly moving around. He keeps his head up on offense and always looks for open teammates. He's a pass first player.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Eric-Sica.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55272" /></td>
			<td>Eric Sica</td>
			<td>Height: 6'0
Grade: 11
Burke Catholic
Wingspan: 74 
Reach: 91
Vertical: 25</td>
			<td>Eric is a willing passer who hits his teammates on time and target. He plays hard on every possession and has good court vision.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Ryan-Simon.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55323" /></td>
			<td>Ryan Simon</td>
			<td>Height: 5'11
Grade: 10
Mahwah
Wingspan: 67
Reach: 87
Vertical: 25</td>
			<td>Ryan is a solid, confident, wing player with a very smooth game. He finishes well in transition with both hands and can shoot it from 3. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Jacob-Singer.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55284" /></td>
			<td>Jacob Singer</td>
			<td>Height: 6'2
Grade: 12
Canterbury Prep
Wingspan: 77 
Reach: 94
Vertical: 23</td>
			<td>Jacob has a great understanding for the game and knows how to screen and move with and without the ball. He's a banger inside with a strong body that he uses to grab rebounds on both ends of the floor.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Kevin-Smith.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55296" /></td>
			<td>Kevin Smith</td>
			<td>Height: 5'10
Grade: 12
Our Lady of Lourdes
Wingspan: 73
Reach: 91
Vertical: 27</td>
			<td>Kevin plays hard on both ends of the floor and shoots the ball well. He can make a deep 3 from outside the arc.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Christopher-Spell.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55259" /></td>
			<td>Christopher Spell</td>
			<td>Height: 6'4
Grade: 11
Valley Central
Wingspan: 81 
Reach: 99
Vertical: 24</td>
			<td>Chris plays hard on both ends of the court but uses his length to create chaos on the defensive end. He grabbed a lot of offensive rebounds and played to his strengths.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Freddy-Squires.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55274" /></td>
			<td>Freddy Squires</td>
			<td>Height: 6'7
Grade: 11
Tuxedo
Wingspan: 80 
Reach: 101
Vertical: 23</td>
			<td>Freddy has great vision from the post and communicates well with teammates. He can knock down an unguarded 3 as well as an inside jumper. He's also a willing passer and does whatever his team needs.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Chris-Stineman.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55258" /></td>
			<td>Chris Stineman</td>
			<td>Height: 6'4
Grade: 8
West Seneca East
Wingspan: 79 
Reach: 99
Vertical: 21</td>
			<td>Chris plays extremely hard and is very talented inside. He has good footwork and can bang inside. He understands how to play and is always screening and moving on offense. He's a good shooter out to 10 feet.</td>
		</tr>
		<tr>
			<td></td>
			<td>Terry Taylor</td>
			<td>Height: 6'3
Grade: 12
Trenton Prep
Wingspan: 78 
Reach: 98
Vertical: 27</td>
			<td>Terry attacks well and with control. He bought a lot of energy to the court and talks on both ends. He knocked down open looks in the offense and is aggressive on defense.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Michael-Tetrault.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55306" /></td>
			<td>Michael Tetrault</td>
			<td>Height: 6'4
Grade: 11
Newburgh Academy
Wingspan: 76 
Reach: 95
Vertical: 22</td>
			<td>Michael plays hard and has good fundamentals. He plays with intensity on defense and is especially good on the ball and on help.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Aaron-Tucker.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55250" /></td>
			<td>Aaron Tucker</td>
			<td>Height: 6'5
Grade: 11
Kenmore West
Wingspan: 72 
Reach: 98
Vertical: 24</td>
			<td>Aaron is an athletic player who can create his own shot and looks to score. He's active on the glass and uses his athleticism and quickness to be a great defender.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Malique-Vaval.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55302" /></td>
			<td>Malique Vaval</td>
			<td>Height: 5'10
Grade: 10
Chapel Field</td>
			<td>Malique is a strong guard who beat his man off the dribble at will. He showed the ability to finish in traffic over bigger players. His ball handling skills are solid and he shoots well off ball screens.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Tyler-Warren.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55337" /></td>
			<td>Tyler Warren</td>
			<td>Height: 6'1
Grade: 12
Washingtonville
Wingspan: 76 
Reach: 93
Vertical: 32</td>
			<td>Tyler is an athletic guard who can score in a variety of ways. He's quick which allows him to finish at the rim or stop and pull up. He scores well in the open floor and gets his team second chance opportunities.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Frederick-Watson.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55275" /></td>
			<td>Frederick Watson</td>
			<td>Height: 6'1
Grade: 10
Newburgh Academy
Wingspan: 73 
Reach: 91
Vertical: 24</td>
			<td>Frederick runs the floor hard to get into position to knock down an open shot or to get to the rim. He's a good 3 point shooter and hustles on both sides of the ball.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Elijah-Williams.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55271" /></td>
			<td>Elijah Williams</td>
			<td>Height: 6'1
Grade: 12
Newburgh Academy
Wingspan: 73 
Reach: 91
Vertical: 24</td>
			<td>Elijah is a tremendous athlete who can score with authority in transition. He's a good shooter, especially off the dribble. He rebounds well on both ends. </td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Robert-Worden.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55319" /></td>
			<td>Robert Worden</td>
			<td>Height: 5'10
Grade: 11
Tri-Valley
Wingspan: 72
Reach: 91
Vertical: 21</td>
			<td>Robert has good range and shooting ability which really helped his team. He has a quick trigger off ball screens and plays with great effort. He communicates with teammates on defense and is always in the right spot.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/OShawn-Worthen.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55311" /></td>
			<td>O'Shawn Worthen</td>
			<td>Height: 5'11
Grade: 11
Newburgh Academy
Wingspan: 79
Reach: 91
Vertical: 28</td>
			<td>O'Shawn runs hard and plays aggressive defense. He stuck with plays and didn't force anything. He's a pest in 1 on 1 situations and plays his role well for the team.</td>
		</tr>
		<tr>
			<td><img src="https://hoopgroup.com/wp-content/uploads/2014/10/Will-Zuvic.jpg" alt="" width="100" height="100" class="aligncenter size-full wp-image-55339" /></td>
			<td>Will Zuvic</td>
			<td>Height: 6'5
Grade: 11
Haldane Central
Wingspan: 79
Reach: 99
Vertical: 24</td>
			<td>Will runs hard to get easy buckets and consistently finishes dumpoff passes in the lane. He plays very unselfish basketball and gives maximum effort.</td>
		</tr>
	</tbody>
</table>
