<table>
	<thead>
		<tr>
			<th>Providence 16U Team List</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Albany City Rocks Orange (NY)</td>
			<td>NJ Gym Ratz-Allen</td>
		</tr>
		<tr>
			<td>BC Eagles (NY)</td>
			<td>NJ Gym Ratz-Ryan</td>
		</tr>
		<tr>
			<td>Blackstone Valley Chaos (MA)</td>
			<td>NJ Panthers</td>
		</tr>
		<tr>
			<td>Boston Spartans</td>
			<td>NJ Shoreshots</td>
		</tr>
		<tr>
			<td>Brooklyn Heat (NY)</td>
			<td>NJ Thunder</td>
		</tr>
		<tr>
			<td>CJ Devils</td>
			<td>NJ Trailblazers</td>
		</tr>
		<tr>
			<td>CT Elite-Howard</td>
			<td>NYC Jayhawks</td>
		</tr>
		<tr>
			<td>CT North Stars</td>
			<td>Positive Direction (NY)</td>
		</tr>
		<tr>
			<td>CT Select</td>
			<td>Radiant Suns (NJ)</td>
		</tr>
		<tr>
			<td>East Coast Elite (CT)</td>
			<td>Raising Champions (NY)</td>
		</tr>
		<tr>
			<td>House of Hoops (NJ)</td>
			<td>Raritan Roundballers Blue (NJ)</td>
		</tr>
		<tr>
			<td>Hunterdon United (VA)</td>
			<td>Raritan Roundballers Gold (NJ)</td>
		</tr>
		<tr>
			<td>Jersey Jayhawks</td>
			<td>RI Breakers</td>
		</tr>
		<tr>
			<td>Kendall Madison Playaz (NY)</td>
			<td>RI Hawks Black</td>
		</tr>
		<tr>
			<td>Kingston Kornets (NY)</td>
			<td>RI Hawks Red</td>
		</tr>
		<tr>
			<td>Long Island Lightning-Butler (NY)</td>
			<td>RI Hawks White</td>
		</tr>
		<tr>
			<td>Mass Bearcats</td>
			<td>Team Force (NY)</td>
		</tr>
		<tr>
			<td>Mass Rivals</td>
			<td>Team Frenji (NY)</td>
		</tr>
		<tr>
			<td>MB Nation (ME)</td>
			<td>Team Sizzle (MD)</td>
		</tr>
		<tr>
			<td>New Rens (NY)</td>
			<td>Team Underrated (NY)</td>
		</tr>
		<tr>
			<td>New York Gael Force</td>
			<td>Triple Balance (CAN)</td>
		</tr>
		<tr>
			<td>NJ Blaze</td>
			<td>Westchester Hawks (NY)</td>
		</tr>
	</tbody>
</table>
