<table>
	<thead>
		<tr>
			<th>Providence 17U Team List</th>
			<th>#colspan#</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>ABC-Rubin (CT)</td>
			<td>Mass Rivals</td>
		</tr>
		<tr>
			<td>Albany City Rocks Gold (NY)</td>
			<td>Metro Boston</td>
		</tr>
		<tr>
			<td>BC Eagles (NY)</td>
			<td>Middlesex Magic (MA)</td>
		</tr>
		<tr>
			<td>Blackstone Valley Chaos (MA)</td>
			<td>Monmouth Power (NJ)</td>
		</tr>
		<tr>
			<td>Boston Warriors Blue</td>
			<td>New England Storm</td>
		</tr>
		<tr>
			<td>Boston Warriors West</td>
			<td>New Jersey Shoreshots</td>
		</tr>
		<tr>
			<td>CBC</td>
			<td>New York Falcons</td>
		</tr>
		<tr>
			<td>Cheshire Academy</td>
			<td>NH Titans</td>
		</tr>
		<tr>
			<td>CT Elite</td>
			<td>NJ Blaze</td>
		</tr>
		<tr>
			<td>CT Elite</td>
			<td>NJ Celtics</td>
		</tr>
		<tr>
			<td>CT Gold</td>
			<td>NJ Gym Ratz</td>
		</tr>
		<tr>
			<td>CT Hoop Stars</td>
			<td>NJ Trailblazers</td>
		</tr>
		<tr>
			<td>CT North Stars</td>
			<td>NYC Jayhawks</td>
		</tr>
		<tr>
			<td>CT Select</td>
			<td>Positive Direction (NY)</td>
		</tr>
		<tr>
			<td>Drive 4 Stardum (CT)</td>
			<td>Raritan Roundballers Blue (NJ)</td>
		</tr>
		<tr>
			<td>East Coast Elite (CT)</td>
			<td>Raritan Roundballers Gold (NJ)</td>
		</tr>
		<tr>
			<td>East Coast Panthers (NY)</td>
			<td>RI Breakers</td>
		</tr>
		<tr>
			<td>Edge Athletics (NY)</td>
			<td>RI Hawks Black</td>
		</tr>
		<tr>
			<td>Etobicoke Thunder Elite (CAN)</td>
			<td>RI Hawks Red</td>
		</tr>
		<tr>
			<td>Expressions (MA)</td>
			<td>RI Hawks White</td>
		</tr>
		<tr>
			<td>House of Hoops (NJ)</td>
			<td>Rising Stars (NY)</td>
		</tr>
		<tr>
			<td>Jersey Hotshots</td>
			<td>Team Force (NY)</td>
		</tr>
		<tr>
			<td>Jersey Jayhawks</td>
			<td>Team Synergy (NJ)</td>
		</tr>
		<tr>
			<td>Kingston Kornets</td>
			<td>Team Underrated (NY)</td>
		</tr>
		<tr>
			<td>Lone Wolf (VT)</td>
			<td>Triple Balance (CN)</td>
		</tr>
		<tr>
			<td>Long Island Lightning-Boyd (NY)</td>
			<td>Vermont Irish Cats</td>
		</tr>
		<tr>
			<td>Long Island Lightning-Purso (NY)</td>
			<td>Westchester Hawks (NY)</td>
		</tr>
		<tr>
			<td>LOX (MA)</td>
			<td>Long Island Lightning- NaPolitano</td>
		</tr>
		<tr>
			<td>MAC Basketball (ME)</td>
			<td>Mass Evolution</td>
		</tr>
	</tbody>
</table>
