<cfoutput>
	<ul class="sidebar-submenu">
          <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#buildURL('quotes')#">Quotes</a>
          </li>
         
          
        </ul>
</cfoutput>