<cfscript>
BrowserStats=CreateObject("component","browsecap");
GetStats = BrowserStats.init();
BrowserStats = GetStats.getBrowser();





</cfscript>
<cfset todayDateTime = Now()>
<cfoutput>

<cfloop collection="#BrowserStats#" item="stats">
#stats#:: #BrowserStats[stats]#
<cfset "stats_#stats#" = "#BrowserStats[stats]#">
<br>
</cfloop>
<!---#DateTimeFormat(todayDateTime, "yyyy-MM-dd HH:nn:ss Z")#--->
</cfoutput>
