<cfoutput>
	<ul class="sidebar-submenu">
          <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#buildURL('listings.default')#">Companies</a>
          </li>
          <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#buildURL('listings.verticals')#">Verticals</a>
          </li>
          <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#buildURL('listings.availability')#">Availability</a>
          </li>
          
        </ul>
</cfoutput>