<cfoutput>
<h1 class="page-heading">System Diagnostics</h1>


#view("partials/messages")#

<div class="row">
        <div class="col-xl-12">
          <div class="card">
             

            <div class="card-block">
				<cfdump var="#rc#" label="Replicator Settings">
            </div>
          </div>
          
      </div>

</cfoutput>