
<style>
.slider.n2d-ppx-news {
    -webkit-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    -moz-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    border-color: #505050;
    border-style: solid;
    border-width: 0px;
    border-radius: 8px;
    margin: 0 auto;
    height: 270px;
    width: 1010px;
}

.slider.n2d-ppx-news > ul > li,
.n2d-ppx-news .slider-title,
.n2d-ppx-news .slider-content,
.n2d-ppx-news .slider-separator {
    float: left;
}

.slider.n2d-ppx-news > ul > li {
    background-color: #1f1f1f;
    margin-right: -600px;
    margin-bottom: -0px;
}

.n2d-ppx-news .slider-select:checked ~ .slider-separator {
    margin-right: 600px;
    margin-bottom: 0px;
}

.n2d-ppx-news .slider-title,
.n2d-ppx-news .slider-select  {
    background-color: #810cd3;
    color: #ffffff;
    width: 40px;
    height: 270px;
    font-size: 24px;
}

.n2d-ppx-news .slider-title span {
    margin-bottom: 20px;
    margin-left: 20px;
}

.n2d-ppx-news .slider-select:hover ~ .slider-title,
.n2d-ppx-news .slider-select:checked ~ .slider-title {
    background-color: #ff3900;
}

.n2d-ppx-news .slider-title span  {
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-writing-mode: lr-bt;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    margin-left: 0px;
    line-height: 40px;
}

.n2d-ppx-news .slider-content {
    background-color: #000000;
    color: #ffffff;
    height: 222px;
    width: 552px;
    padding: 24px;
}

.n2d-ppx-news .slider-title,
.n2d-ppx-news .slider-select:checked ~ .slider-content {
    margin-right: 1px;
    margin-bottom: 1px;
}

/* Do not change following properties, they aren't
generated automatically and are common for each slider. */
.slider {
    overflow: hidden;
}

.slider > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 101%;
}

.slider > ul > li,
.slider-title {
    position: relative;
}

.slider-select {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.slider-title span {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
}

.slider-content {
    position: relative;
    overflow: auto;
}

.slider-separator {
    transition: margin 0.3s ease 0.1s;
    -o-transition: margin 0.3s ease 0.1s;
    -moz-transition: margin 0.3s ease 0.1s;
    -webkit-transition: margin 0.3s ease 0.1s;
}
</style>

<div class="slider n2d-ppx-news">
    <ul>
        <li>
            <input type="radio" name="select" class="slider-select" checked />
            <div class="slider-title">
                <span>Autobots Suck</span>
            </div>
            <div class="slider-content">
                Content
            </div>
            <div class="slider-separator"></div>
        </li>
        <li>
            <input type="radio" name="select" class="slider-select" />
            <div class="slider-title">
                <span>Decepticons Rule</span>
            </div>
            <div class="slider-content">
                Content
            </div>
            <div class="slider-separator"></div>
        </li>
        <li>
            <input type="radio" name="select" class="slider-select" />
            <div class="slider-title">
                <span>Sentinus Twins: Drop Rate</span>
            </div>
            <div class="slider-content">
                Content
            </div>
            <div class="slider-separator"></div>
        </li>
        <li>
            <input type="radio" name="select" class="slider-select" />
            <div class="slider-title">
                <span>Base Layouts Library</span>
            </div>
            <div class="slider-content">
                Content
            </div>
            <div class="slider-separator"></div>
        </li>
        <li>
            <input type="radio" name="select" class="slider-select" />
            <div class="slider-title">
                <span>Earth Wars Updates: What we Know</span>
            </div>
            <div class="slider-content">
                Content
            </div>
            <div class="slider-separator"></div>
        </li>
        <li>
            <input type="radio" name="select" class="slider-select" />
            <div class="slider-title">
                <span>New Game mode: Will it be Arena?</span>
            </div>
            <div class="slider-content">
                Content
            </div>
            <div class="slider-separator"></div>
        </li>
        <li>
            <input type="radio" name="select" class="slider-select" />
            <div class="slider-title">
                <span>11K Squad Gets dropped</span>
            </div>
            <div class="slider-content">
                Content
            </div>
            <div class="slider-separator"></div>
        </li>
        <li>
            <input type="radio" name="select" class="slider-select" />
            <div class="slider-title">
                <span>Upcoming Event: Solo Event</span>
            </div>
            <div class="slider-content">
                Content
            </div>
            <div class="slider-separator"></div>
        </li>
        <li>
            <input type="radio" name="select" class="slider-select" />
            <div class="slider-title">
                <span>Our Officers: WOP Invasion</span>
            </div>
            <div class="slider-content">
                Content
            </div>
            <div class="slider-separator"></div>
        </li>
        <li>
            <input type="radio" name="select" class="slider-select" />
            <div class="slider-title">
                <span>What does it mean?</span>
            </div>
            <div class="slider-content">
                Content
            </div>
            <div class="slider-separator"></div>
        </li>
    </ul>
</div>
