<cfscript>
	
</cfscript>
<cfoutput>
	<div class="gap"></div>
	<div class="col-sm-12">
	<h2>Send Email to Subscribers</h2>
	<!---cfdump var="#rc.currentUser#"--->
	
	</div>
	<div class="gap"></div>
</cfoutput>