<cfscript>
		MySubsSQL = "Select * from email_list eml
					 INNER JOIN Companies cmp on eml.company_ID = cmp.companyID
					 where eml.subscriber_id = #rc.CurrentUser.getUserID()#";
		Subscriptions = new Query();
		MySubs = Subscriptions.execute(sql=#MySubsSQL#).getResult();
		
</cfscript>
<cfoutput>
	<div class="gap"></div>
	<div class="col-sm-12">
		<h2>My Subscriptions</h2>
		<cfif mySubs.recordcount is "0">
			You have no email subscriptions.
		<cfelse>
			
		</cfif>
		
	</div>
	<div class="gap"></div>
</cfoutput>