<cfoutput>
 <h2>Your Account Settings</h2>
 <p>Manage your Profile Settings, Billing Settings and more.</p>
 
 <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="##prof" role="tab" data-toggle="tab">Profile Settings</a></li>
    <li role="presentation"><a href="##bill" role="tab" data-toggle="tab">Billing Settings</a></li>
 </ul>
 
 <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="prof">
      <h2>Profile Settings</h2>
      </div>
      <div role="tabpanel" class="tab-pane" id="bill">
      <h2>Billing Settings</h2>
      </div>
 </div>
</cfoutput>