/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.hljs {
  display: block; padding: 0.5em;
  background: white; color: black;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-filter .hljs-argument,
.hljs-addition,
.hljs-change,
.apache .hljs-tag,
.apache .hljs-cbracket,
.nginx .hljs-built_in,
.tex .hljs-formula {
  color: #888;
}

.hljs-comment,
.hljs-template_comment,
.hljs-shebang,
.hljs-doctype,
.hljs-pi,
.hljs-javadoc,
.hljs-deletion,
.apache .hljs-sqbracket {
  color: #CCC;
}

.hljs-keyword,
.hljs-tag .hljs-title,
.ini .hljs-title,
.lisp .hljs-title,
.clojure .hljs-title,
.http .hljs-title,
.nginx .hljs-title,
.css .hljs-tag,
.hljs-winutils,
.hljs-flow,
.apache .hljs-tag,
.tex .hljs-command,
.hljs-rc.
.hljs-status {
  font-weight: bold;
}
