<cfoutput>
	<ul class="sidebar-submenu">
          <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#buildURL('emaillist')#">Lists (Campaigns)</a>
          </li>
          <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#buildURL('emaillist.subscribers')#">Subscribers</a>
          </li>
          <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#buildURL('emaillist.compose')#">Send Emails</a>
          </li>
        </ul>
</cfoutput>