/* layout styles */

#footer {
	background:#F5F5F5;
	border-top:solid 1px #e9e9e9;
	margin-top:20px;
	padding:40px 0;
}

#image-preview {
	background:#333;
	border:1px solid #ccc;
	color:#fff;
	display:none;
	padding:5px;
	position:absolute;
}

#sortable li {
	background-color:white;
	border-top:1px solid #DDD;
	cursor:move;
	line-height:20px;
	list-style-type:none;
	padding:4px 5px;
}

#sortable li:nth-child(odd) {
	background-color:#F9F9F9;
}

/* class styles */

.append-bottom {
	margin-bottom:30px;
}

.center {
	text-align:center !important;
}

.clear {
	clear:both;
}

.development-mode {
	bottom:10px;
	position:fixed;
	right:10px;
	z-index:100;
}

.error {
	color:#B94A48;
}

.faded {
	color:#888; font-style:italic;
}

.hide {
	display:none;
}

.inline {
	margin:0;
}

.inline li {
	display:inline-block;
	margin-right:10px;
}

td.chevron-right {
	background:url("../img/ico-chevron-right.gif") no-repeat;
}

/* override Bootstrap styles */

.navbar {
	background:#01324A;
	background-image:-moz-linear-gradient(center top , #01324A, #012638);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > li > a:hover {
	background:#011119;
	background-image:-moz-linear-gradient(center top , #011119, #000305);
	color:#fff;
}

.navbar-default .navbar-nav > li > a {
	color:#fff;
}
