<cfoutput>
	<ul class="sidebar-submenu">
          <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#buildURL('gallery')#">Photos</a>
          </li>
          <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="#buildURL('gallery.galleries')#">Galleries</a>
          </li>
          
        </ul>
</cfoutput>