
<cfoutput>
	</div>

		
		<!-- BEGIN: Site Footer. -->
		<div id="sitefooter">



			<p id="copyright">
				CF-Events Calendar
				All rights reserved
			</p>

		</div>
		<!-- END: Site Footer. -->
	
	</body>
	</html>

</cfoutput>