 <cfoutput>
 <li class="media active">
        <div class="media-left">
          <div class="sidebar-activity-icon">
            <i class="material-icons">mail</i>
          </div>
        </div>
        <div class="media-body">
          <a href="#buildURL('forms.maintain')#">Add Form</a>
        </div>
      </li>
 </cfoutput>