<cfoutput>
 <li class="media active">
        <div class="media-left">
          <div class="sidebar-activity-icon">
            <i class="material-icons">mail</i>
          </div>
        </div>
        <div class="media-body">
          <a href="#buildURL('stores.maintainProds')#">Add Product</a>
        </div>
 </li>
 <li class="media active">
        <div class="media-left">
          <div class="sidebar-activity-icon">
            <i class="material-icons">mail</i>
          </div>
        </div>
        <div class="media-body">
          <a href="#buildURL('stores.maintainCats')#">Add Product Category</a>
        </div>
 </li>
 
     <li class="media active">
        <div class="media-left">
          <div class="sidebar-activity-icon">
            <i class="material-icons">mail</i>
          </div>
        </div>
        <div class="media-body">
          <a href="#buildURL('stores.promos')#">Promotions</a>
        </div>
 </li>
 <li class="media active">
        <div class="media-left">
          <div class="sidebar-activity-icon">
            <i class="material-icons">mail</i>
          </div>
        </div>
        <div class="media-body">
          <a href="#buildURL('stores.orders')#">Orders</a>
        </div>
 </li>

</cfoutput>      